<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.example.org/plugin-config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.example.org/plugin-config ../../plugin.xsd ">
	
	<!-- SSO -->
	<!--
	<extension
		point="com.landray.kmss.sys.authentication">
		<item
			name="authenticationProcessingFilter">
			<param
				name="bean"
				value="mutilWxworkOauth2ProcessingFilter" />
		</item>
	</extension>
	
	<extension point="com.landray.kmss.sys.notify">
		<item name="todoExtend">
			<param name="bean" value="mutilWxworkNotifyProvider" />
		</item>
	</extension>

	<extension point="com.landray.kmss.sys.mobile.third.integrate">
		<item name="sign">
			<param 
				name="key" 
				value="wxwork" />
			<param 
				name="clientType" 
				value="12" />
			<param 
				name="file" 
				value="/third/weixin/mutil/mobile/third.js" />
		</item>
	</extension>
	
	<extension point="com.landray.kmss.lbpm.engine.robot" model="*">
		<item name="robot">
			<param name="unid"
				value="com.landray.kmss.third.weixin.mutil.service.spring.RobotNodeSendDynamicInfoToWxworkServiceImp" />
			<param name="category" value="{third-weixin-mutil:lbpmRobotNode.category.wx}" />
			<param name="type"
				value="{third-weixin-mutil:lbpmRobotNode.type.sendDynamicInfoToWx}" />
			<param name="bean" value="robotNodeSendDynamicInfoToMutilWxworkService" />
			<param name="class" value="integrate" />
			<param name="description" value="{third-weixin-mutil:lbpmRobotNode.type.sendDynamicInfoToWx}"/>
			<param name="url" value="/third/weixin/mutil/robot_node.jsp" />
		</item>
	</extension>
	-->

</plugin>
