<?xml version="1.0" encoding="UTF-8"?>
<beans 
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd" 
    xmlns="http://www.springframework.org/schema/beans" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <bean 
        class="com.landray.kmss.fssc.asset.actions.FsscAssetGoodsAction" 
        parent="KmssBaseAction" 
        name="/fssc/asset/fssc_asset_goods/fsscAssetGoods.do" 
        lazy-init="true">
        <property 
            name="formType" 
            value="com.landray.kmss.fssc.asset.forms.FsscAssetGoodsForm"/>
        <property 
            name="forwards">
            <map>
                <entry 
                    key="data" 
                    value="/fssc/asset/fssc_asset_goods/fsscAssetGoods_data.jsp"/>
                <entry 
                    key="edit" 
                    value="/fssc/asset/fssc_asset_goods/fsscAssetGoods_edit.jsp"/>
                <entry 
                    key="view" 
                    value="/fssc/asset/fssc_asset_goods/fsscAssetGoods_view.jsp"/>
            </map>
        </property>
    </bean>
</beans>
