.thirdCtripXformLoading{
	text-align:center;
	background:#eee;
	margin-top:15px;
}
.third_ctrip_loading{
	position:absolute;
	left:45%;
	top:40%;
	height:80px;
	width:80px;
	background:url(../img/loading.gif) no-repeat center;
}
 .third_ctrip_btn {
 	font-size:14px;
	border-radius: 3px;
	background: #fff;
	border: 1px solid #30a5ff;
	color: #30a5ff;
	text-decoration: none;
	padding: 4px 7px;
	margin-right: 5px;
	cursor:pointer;
}

.third_ctrip_btn:hover {
	background-color: #30a5ff;
	color: #fff;
}

.third_ctrip_btn:hover i{
	background-position: 0 -20px;
}

.third_ctrip_btn i {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: 5px;
	vertical-align: text-bottom;
}

.third_ctrip_btn_hotel i {
	background: url(../img/ctrip.png) no-repeat left top;
}

.third_ctrip_btn_hotel:hover i{
	background-position: 0 -20px;
}

.third_ctrip_btn_plane i {
	background: url(../img/ctrip.png) no-repeat left top;
	background-position: -20px 0;
}

.third_ctrip_btn_plane:hover i{
	background-position: -20px -20px;
}

.third_ctrip_disabled{
 	font-size:14px;
	border-radius: 3px;
	background: #f3f3f3;
	border: 1px solid #f3f3f3;
	color: #999;
	text-decoration: none;
	padding: 4px 7px;
	margin-right: 5px;
	cursor:pointer;
}

.third_ctrip_disabled i{
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: 5px;
	vertical-align: text-bottom;
}

.third_ctrip_disabled_plane i {
	background: url(../img/ctrip.png) no-repeat left top;
	background-position: -20px -20px;
}

.third_ctrip_disabled_hotel i{
	background: url(../img/ctrip.png) no-repeat left top;
	background-position: 0 -20px;
}