@charset "utf-8";


/** 时间 **/
.muiDatetimeContainer{
	width: 92%;
	padding: 1rem 4%;
	display: table;
}
.muiDatetimeContainer>div{ display: table-cell; text-align: center; white-space: nowrap;}
.muiDatetime{
	display: inline-block;
}

.muiDatetime .muiField{
	border:1px solid #ececec;
	background-color: #fff;
	padding: 6px 5px;
}

.muiSwitch{
	font-size: 1.4rem;
	line-height: 2.5rem;
	width:100%;
	outline:none;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}
.muiLbpmextSwitch{
	float: left;
}
.mblSwDefaultShape.lbpmAuthorizeSwitch{
	width: 4.5rem;
	float: right;
}

.lbpmAuthorizeSwitch .mblSwitchBgLeft {
	background-color: #29B5EB;
	background-image: none;
}

.muiAuthorizeEdit{
	float: right;
}

.muiAuthorizeEdit .mui.mui-up{
	transform:rotate(90deg);
}

.muiAuthorizeOptBar{
	width: 100%;
	margin: 1.5rem 0;
	color: #3a3a3a;
	border: 1px solid #e2e2e2;
	background-color: #fff;
	display: table;
	border-collapse: collapse;
}
.muiAuthorizeOptBar>div{
	display: table-cell;
	text-align: center;
	height:4rem;
	border: 1px solid #e2e2e2;
	line-height:4rem;
}
.muiAuthorizeOptBar>div i.mui{
	margin-right: 4px;
	font-size: 2rem;
	position: relative;
	top:-1px;
}
.timeWrap:first-child{ padding-top:10px;}

.timeWrap{ padding-top:8px;}
.timeWrap .muiFieldItem { padding-top:5px; border-bottom:1px solid #e2e2e2;}

.description{ margin-top:5px; background:rgba(67,67,67,0.8); color:#fff!important; font-size:1.2rem; padding:5px; border-radius:2px; line-height:16px; }
.description .mui{ font-size:1.8rem; color:#f0ad4e; margin-right:2px; position:relative; top:-1px;}

.edit.muiFormSelectContnet .muiFormDatetimeText{ padding-bottom:0.8rem;}

/*授权范围组件*/
.muiLbpmSecContainer .muiCateSecItem{
	height: auto;
	line-height:auto;
	display: inline-block;
	width: 4.2rem;
	padding: 0 0.2rem;
	vertical-align: middle;
}

.muiLbpmSecContainer .muiCateSecItems{
	line-height: 6.4rem;
}

.muiLbpmSecContainer .muiCateSecItemLabel{
	font-size: 1.0rem;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 2rem;
}

.muiLbpmSecContainer .muiCateSecItemIcon{
	margin-right:inherit;
	line-height: 3rem;
}

.muiLbpmSecContainer .muiCateIcon{
	width: auto;
	padding-left: inherit;
}


