var extend = (param!=null && param.extend!=null)?('_'+param.extend):'';
{$
	<div class='lui_tabpanel{%extend%}_frame'>
		<div class='lui_tabpanel{%extend%}_navs_l'>
			<div class='lui_tabpanel{%extend%}_navs_r'>
				<div class="lui_tabpanel{%extend%}_navs_c clearfloat">
$}
var width = (Math.floor(1000/layout.tabpanel.contents.length)-1)/10.0;
for(var i=0;i<layout.tabpanel.contents.length;i++){
	{$
					<div style="max-width:{%width%}%;"  class='lui_tabpanel{%extend%}_navs_item_l' >
						<div class='lui_tabpanel{%extend%}_navs_item_r' data-lui-mark="panel.nav.frame" data-lui-switch-class="com_bgcolor_d com_fontcolor_d">
							<div class='lui_tabpanel{%extend%}_navs_item_c' data-lui-mark="panel.nav.title">
							</div>
						</div>
					</div>
	$}
}
{$			
				</div>
			</div>
		</div>
		<div class="lui_tabpanel{%extend%}_content_l">
			<div class="lui_tabpanel{%extend%}_content_r">
				<div class="lui_tabpanel{%extend%}_content_c" data-lui-mark="panel.contents">
				</div>
			</div>
		</div>
		<div class="lui_tabpanel{%extend%}_footer_l">
			<div class="lui_tabpanel{%extend%}_footer_r">
				<div class="lui_tabpanel{%extend%}_footer_c">
				</div>
			</div>
		</div>
	</div>
$}
