
.lui_upload_img_box {
	width: 100%;
}

.lui_queueList{
   
}
.lui_queueList_s{
    display:inline-block;
    border: 1px dashed #ddd;
    line-height:20px;
    padding:10px;
    background:#FCFCFC;
    text-align:center;
    color: #666;
    font-size: 12px;
    border-radius: 2px;
    min-width:220px;
}

.lui_queueList_s.lui_queueList_block{
    display:block;
    min-width:0;
    padding-left: 0;
    padding-right: 0;
}

.lui_queueList .lui_text_primary{
    display:inline-block;
    margin-left:5px;
    font-size: 12px;
}
.lui_queueList .webuploader-pick{
   font-size:12px; 
}

.lui_queueList i{
    display:inline-block;
    width:24px;
    height:24px;
    background:url(icon_s_upload@2x.png) no-repeat center;
    background-size:24px;
    vertical-align: -8px;
    margin-right:10px;
}
.lui_queueList.webuploader-dnd-over.lui_queueList i{
     background-image:url(icon_s_upload_cur@2x.png)
}
.lui_queueList.webuploader-dnd-over,
.lui_queueList_s:hover {
    border-color: #4285F4;
    background-color: #ecf3fe;
    cursor:pointer;
}
.lui_queueList_s:hover i{
    background-image:url(icon_s_upload_cur@2x.png)
}
/* ===== IE8兼容 - 一倍图 ===== */
@media \0screen {
    .lui_queueList i{
        background-image:url(icon_s_upload.png);  
    }
    .lui_queueList.webuploader-dnd-over.lui_queueList i,
    .lui_queueList_s:hover i{
         background-image:url(icon_s_upload_cur.png)
    }
}
.lui_queueList.filled {
    padding: 17px;
    margin: 0;
    border: 3px dashed transparent;
}
