@CHARSET "UTF-8";
	body {
       /*  background-image: url('./assets/joinMeeting_bg.png'); */
        background-repeat:no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center center;
    }

    #logo-view {
        margin-top: 30px;
        margin-left: 40px;
        display: flex;
        align-items: center;
        /* justify-content: center; */
    }

    #logo {
        width: 330px;
        height: auto;
    }

    #enter-content-view {
        position: absolute;
        background:rgba(255,255,255,0.6);
        height: 100%;
        width: 55%;
        left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin:auto;
    }

    #enter-content-title {
        margin: 16% calc(50% - 150px) 0px;
        font-size:33px;
        font-family:PingFangSC-Regular,PingFang SC;
        font-weight:400;
        color:rgba(51,51,51,1);
        line-height:47px;
    }

    #meeting-number, #your-name {
        margin: 30px calc(50% - 150px) 0px;
        font-size:12px;
        font-family:PingFangSC-Regular,PingFang SC;
        font-weight:400;
        color:rgba(102,102,102,1);
        line-height:15px;
    }

    #meeting-number-input, #your-name-input {
        margin: 10px calc(50% - 150px) 0px;
        padding-left: 13px;
        box-sizing: border-box;
        width: calc(100% - 60px);
        width:300px;
        height:40px;
        background:rgba(255,255,255,1);
        border:1px solid rgba(216,224,242,1);

        font-size:11px;
        font-family:PingFangSC-Regular,PingFang SC;
        font-weight:400;
        color:rgba(51,51,51,1);
        line-height:15px;
    }

    #meeting-number-input:focus, #your-name-input:focus {
        outline: none;
        background:rgba(255,255,255,1);
        border:1px solid rgba(66,133,244,0.8);
    }

    #your-name {
        margin: 20px calc(50% - 150px) 0px;
    }

    #error-tip {
        margin: 10px calc(50% - 150px) 0px;
        height:20px;
        font-size:14px;
        font-family:PingFangSC-Regular,PingFang SC;
        font-weight:400;
        color:rgba(255,54,27,1);
        line-height:20px;
    }

    #join-meeting {
        margin: 28px calc(50% - 150px) 0px;
        width:300px;
        height:45px;
        background:rgba(66,133,244,1);
        border-radius:4px;
        font-size:17px;
        font-family:PingFangSC-Regular,PingFang SC;
        font-weight:400;
        color:rgba(255,255,255,1);
        line-height:25px;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        outline: none;
        overflow: 
    }

	#join-meeting:hover{
		cursor:pointer
	}

    .join-meeting-disabled {
        background: #ADB8CB !important;
    }

    #broswer-tip {
        margin-top: 10px;
        text-align: center;
        font-size: 16px;
    }

    #loading {
        display: inline-block;
    }

    .demo1 {
        width: 4px;
        height: 4px;
        border-radius: 2px;
        background: white;
        float: left;
        margin: 0 3px;
        animation: demo1 linear 1s infinite;
        -webkit-animation: demo1 linear 1s infinite;
    }

    .demo1:nth-child(1){
        animation-delay:0s;
    }

    .demo1:nth-child(2){
        animation-delay:0.15s;
    }

    .demo1:nth-child(3){
        animation-delay:0.3s;
    }
    
    @keyframes demo1 {
        0%,60%,100% {transform: scale(1);}
        30% {transform: scale(2);}
    }
    
    @-webkit-keyframes demo1 {
        0%,60%,100% {transform: scale(1);}
        30% {transform: scale(2);}
    }
    
    .codeEmptyTip {
    	margin: 5px calc(50% - 150px) 0px;
        font-size:12px;
        font-family:PingFangSC-Regular,PingFang SC;
        font-weight:400;
        color:red;
        line-height:15px;
    }