<?xml version="1.0" encoding="UTF-8"?>
<plugin
	xmlns="http://www.example.org/plugin-config"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.example.org/plugin-config ../../../plugin.xsd ">
	<!-- 基本属性布局扩展 -->
	<extension point="com.landray.kmss.sys.xform.fieldlayout" model="com.landray.kmss.hr.ratify.model.HrRatifyRetire">
		 <!--退休人员 -->
	    <item name="config">
			<param name="fieldIds" value="fdRetireStaff"></param>
			<param name="required" value="true"></param>
		    <param name="jspParams" value="hr/ratify/fieldlayout/retire/fdretirestaff/param.jsp"></param>
			<param name="jspRunProfix" value="hr/ratify/fieldlayout/retire/fdretirestaff/fdRetireStaff"></param>
		</item>
		<!--所属部门 -->
		<item name="config">
			<param name="fieldIds" value="fdRetireDept"></param>
			<param name="required" value="false"></param>
			<param name="jspParams" value="hr/ratify/fieldlayout/retire/fdretiredept/param.jsp"></param>
			<param name="jspRunProfix" value="hr/ratify/fieldlayout/retire/fdretiredept/fdRetireDept"></param>
		</item>
		<!-- 退休日期 -->
	    <item name="config">
			<param name="fieldIds" value="fdRetireDate"></param>
			<param name="required" value="true"></param>
		    <param name="jspParams" value="hr/ratify/fieldlayout/retire/fdretiredate/param.jsp"></param>
			<param name="jspRunProfix" value="hr/ratify/fieldlayout/retire/fdretiredate/fdRetireDate"></param>
		</item>
		<!-- 入职日期 -->
		<item name="config">
			<param name="fieldIds" value="fdRetireEnterDate"></param>
			<param name="required" value="false"></param>
			<param name="jspParams" value="hr/ratify/fieldlayout/retire/fdretireenterdate/param.jsp"></param>
			<param name="jspRunProfix" value="hr/ratify/fieldlayout/retire/fdretireenterdate/fdRetireEnterDate"></param>
		</item>
		<!-- 退休年龄 -->
		<item name="config">
			<param name="fieldIds" value="fdRetireAge"></param>
			<param name="required" value="false"></param>
			<param name="jspParams" value="hr/ratify/fieldlayout/retire/fdretireage/param.jsp"></param>
			<param name="jspRunProfix" value="hr/ratify/fieldlayout/retire/fdretireage/fdRetireAge"></param>
		</item>
		<!-- 部门领导意见-->
		<item name="config">
			<param name="fieldIds" value="fdRetireLeaderView"></param>
			<param name="required" value="false"></param>
			<param name="jspParams" value="hr/ratify/fieldlayout/retire/fdretireleaderview/param.jsp"></param>
			<param name="jspRunProfix" value="hr/ratify/fieldlayout/retire/fdretireleaderview/fdRetireLeaderView"></param>
		</item>
		<!-- 人力资源部门意见-->
 		<item name="config">
			<param name="fieldIds" value="fdRetireHrView"></param>
			<param name="required" value="false"></param>
			<param name="jspParams" value="hr/ratify/fieldlayout/retire/fdretirehrview/param.jsp"></param>
			<param name="jspRunProfix" value="hr/ratify/fieldlayout/retire/fdretirehrview/fdRetireHrView"></param>
		</item>
		<!-- 备注-->
 		<item name="config">
			<param name="fieldIds" value="fdRetireRemark"></param>
			<param name="required" value="false"></param>
			<param name="jspParams" value="hr/ratify/fieldlayout/retire/fdretireremark/param.jsp"></param>
			<param name="jspRunProfix" value="hr/ratify/fieldlayout/retire/fdretireremark/fdRetireRemark"></param>
		</item>
	</extension>
</plugin>