<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean
		name="/sys/auditlog/sys_audit_log/sysAuditlog.do"
		class="com.landray.kmss.sys.auditlog.actions.SysAuditlogAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.auditlog.forms.SysAuditlogForm" />
		<property name="forwards">
			<map>
				<entry
					key="view"
					value="/sys/auditlog/sys_audit_log/sysAuditlog_view.jsp" />
				<entry
					key="list"
					value="/sys/auditlog/sys_audit_log/sysAuditlog_list.jsp" />
			</map>
		</property>
	</bean>
</beans>