@charset "utf-8";

.lui_chattingRecords_main_container{
    display: flex;
    display: -webkit-flex;
    align-items: flex-start;
    background-color: #fff;
}
.lui_chattingRecords_search_container{
    width: 100%;
    padding: 16px;
    background-color: #FFFFFF;
    border: 1px solid #E6EAEE;
    box-shadow: 2px 0px 7px 0px rgba(0,0,0,0.04);
}
.lui_chattingRecords_searchbar{
    position: relative;
    width: 300px;
}
.lui_chattingRecords_searchbar>input{
    width: 100%;
    height: 30px;
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 2px;
    padding: 0 24px 0 8px;
}
.lui_chattingRecords_searchbar>input::placeholder{
    font-size: 14px;
    color: #C3C3C3;
}
.lui_chattingRecords_searchbar>span{
    position: absolute;
    width: 16px;
    height: 16px;
    background: url(../images/lui_chattingRecords_research.svg) no-repeat center center;
    background-size: 100% 100%;
    top: 6px;
    right: 6px;
    cursor: pointer;
    z-index: 2;
}
.lui_chattingRecords_left_content{
    flex: 1;
    padding: 16px;
}
.lui_chattingRecords_right_content{
    width: 250px;
    padding: 16px;
    background-color: #FFFFFF;
    border: 1px solid #E6EAEE;
    border-top: 0;
    box-shadow: 2px 0px 7px 0px rgba(0,0,0,0.04);
}
.lui_chattingRecords_item{
    width: 50%;
    min-height: 42px;
    float: left;
    margin-bottom: 16px;
    box-sizing: border-box;
    cursor: pointer;
}
.lui_chattingRecords_item:nth-child(odd){
    /* padding-right: 20px; */
}
.lui_chattingRecords_item:nth-child(even){
    /* padding-left: 20px; */
}
.lui_chattingRecords_chattinglist_container{
    padding: 16px;
}
.lui_chattingRecords_item_profile{
    float: left;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #ffffff;
    background-color: #4285f4;
    border-radius: 8px;
    text-align: center;
}

.lui_chattingRecords_item_profile_inner{
    float: left;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #ffffff;
    background-color: #4285f4;
    border-radius: 8px;
    text-align: center;
}

.lui_chattingRecords_item_content{
    float: left;
    padding-left: 8px;
}
.lui_chattingRecords_item_name{
    float: left;
    font-size: 14px;
    color: #000000;
}
.lui_chattingRecords_item_label{
    float: left;
    border: 1px solid #4285F4;
    border-radius: 9px;
    font-size: 12px;
    color: #4285F4;
    padding: 0 6px;
    position: relative;
    top: 1px;
    margin-left: 8px;
}
.lui_chattingRecords_item_suf{
    float: left;
    font-size: 14px;
    color: #000000;
}
.lui_chattingRecords_item_update_time{
    float: right;
    font-size: 12px;
    color: #999999;
}
.lui_chattingRecords_item_num{
    float: left;
    font-size: 12px;
    color: #666666;
}
.lui_chattingRecords_item_chatcontent{
    line-height: 16px;
    font-size: 12px;
    color: #666666;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 4px;
}
.lui_chattingRecords_item_chatcontent_detail{
    float: left;
    font-size: 12px;
    color: #666666;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.lui_chattingRecords_sidebar_type_select{
    height: 30px;
}
.lui_chattingRecords_sidebar_type_select>li{
    width: 72px;
    float: left;
    text-align: center;
    font-size: 14px;
    color: #C3C3C3;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
}
.lui_chattingRecords_sidebar_type_select>li.active{
    color: #4285F4;
    border: 1px solid #4285f4;
}
.lui_chattingRecords_sidebar_type_select>li:first-child{
    border-left: 1px solid #DDDDDD;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
.lui_chattingRecords_sidebar_type_select>li:last-child{
    border-right: 1px solid #DDDDDD;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
.lui_chattingRecords_sidebar_type_select>li:first-child.active{
    border-left: 1px solid #4285f4;
}
.lui_chattingRecords_sidebar_type_select>li:last-child.active{
    border-right: 1px solid #4285f4;
}
.lui_chattingRecords_sidebar_title{
    font-weight: bold;
    font-size: 12px;
    color: #333333;
    margin: 16px 0 6px 0;
}
.lui_chattingRecords_inputbar{
    position: relative;
    width: 216px;
}
.lui_chattingRecords_inputbar>input{
    width: 100%;
    height: 30px;
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 2px;
    padding: 0 24px 0 8px;
}
.lui_chattingRecords_inputbar>input::placeholder{
    font-size: 14px;
    color: #C3C3C3;
}
span.lui_chattingRecords_selecteDateIcon{
    position: absolute;
    width: 16px;
    height: 16px;
    background: url(../images/lui_chattingRecords_records.svg) no-repeat center center;
    background-size: 100% 100%;
    top: 6px;
    right: 6px;
    cursor: pointer;
    z-index: 2;
}
span.lui_chattingRecords_selecteOrgIcon{
    position: absolute;
    width: 16px;
    height: 16px;
    background: url(../images/lui_chattingRecords_staff.svg) no-repeat center center;
    background-size: 100% 100%;
    top: 6px;
    right: 6px;
    cursor: pointer;
    z-index: 2;
}
.lui_chattingRecords_main_body{
    position: relative;
}
.lui_chattingRecords_mask{
    display: none;
    position: absolute;
    top:0;
    background-color: #000000;
    opacity: 0.6;
    z-index: 70;
}
.lui_chattingRecords_mask_content{
    position: absolute;
    top: 0;
    right: 0;
    width: 640px;
    height: 100%;
    background-color: #fff;
    z-index: 71;
    transform: translateX(100%);
    transition: all 0.1s;
    padding: 16px 0;
    overflow: hidden;
}
div{  
    scrollbar-color: transparent transparent;
    scrollbar-track-color: transparent;
    -ms-scrollbar-track-color: transparent;
}
::-webkit-scrollbar{  
    width: 4px;
    height: 4px;
}
::-webkit-scrollbar-track{
    border-radius: 10px;
    background-color: #fff;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #DDDDDD;
}
.lui_chattingRecords_mask_title>.lui_chattingRecords_item_name{
    width: 500px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 40px;
    margin-left: 8px;
}
.lui_chattingRecords_mask_title{
    position: relative;
    padding: 0 16px;
}
.lui_chattingRecords_mask_close{
    position: absolute;
    width: 16px;
    height: 16px;
    background: url(../images/lui_chattingRecords_error.svg) no-repeat center center;
    background-size: 100% 100%;
    top: 6px;
    right: 6px;
    cursor: pointer;
}
.lui_chattingRecords_mask_filter{
    margin: 16px 0;
    padding: 0 16px;
}
.lui_chattingRecords_mask_searchbar_icon{
    position: absolute;
    width: 16px;
    height: 16px;
    background: url(../images/lui_chattingRecords_research.svg) no-repeat center center;
    background-size: 100% 100%;
    top: 6px;
    right: 6px;
    cursor: pointer;
}
.lui_chattingRecords_mask_inputbar:not(:last-child){
    margin-right: 20px;
}
.lui_chattingRecords_mask_inputbar{
    position: relative;
    width: 186px;
    float: left;
}

.lui_chattingRecords_mask_inputbar>input{
    width: 100%;
    height: 30px;
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 2px;
    padding: 0 24px 0 8px;
}
.lui_chattingRecords_mask_inputbar>input::placeholder{
    font-size: 14px;
    color: #C3C3C3;
}
.lui_chattingRecords_detail{
    display: inline-block;
    width: 100%;
    padding: 0 16px;
    border-top: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
  }
.lui_chattingRecords_detail>li{
    display: inline-block;
    margin-right: 40px;
    height: 44px;
    line-height: 44px;
    cursor: pointer;
    position: relative;
}
.lui_chattingRecords_detail>li.active{
    color: #4285F4;
}
.lui_chattingRecords_detail>li.active::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #4285F4;
    bottom: 0;
    left: 0;
}
.lui_chattingRecords_detail_content{
    background-color: #F8F8F8;
    padding: 16px;
    overflow-y: scroll;
}
.lui_chattingRecords_detail_item{
    background-color: #fff;
    box-shadow: 2px 0px 7px 0px rgba(0,0,0,0.04);
    border-radius: 4px;
    padding: 16px;
    margin-bottom: 4px;
    zoom: 1;
}
.lui_chattingRecords_detail_item:after {
    content: " ";
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
}
.ellipsis {
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.collapse {
    position: absolute;
    font-size: 12px;
    color: #4285f4;
    padding-right: 3px;
    right:0;
    bottom: 0;
    cursor: pointer;
    background-color: #fff;
}
.lui_chattingRecords_detail_item>.lui_chattingRecords_item_content{
    width: 518px;
}
.lui_chattingRecords_item_header{
    margin-bottom: 6px;
    zoom: 1;
}
.lui_chattingRecords_item_header:after {
    content: " ";
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
}
/* 内容类型 */
.lui_chattingRecords_item_type_textcontent{
    line-height: 18px;
    font-size: 12px;
    color: #666666;
}
.lui_chattingRecords_item_type_text{
    width: 530px;
    float: left;
    font-size: 12px;
    color: #666666;
    position: relative;
}
.lui_chattingRecords_item_type_url{
    width: 348px;
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    border-radius: 2px;
}
.lui_chattingRecords_item_type_url_top{
    padding: 10px 12px 10px 12px;
}
.lui_chattingRecords_item_url_icon{
    float: left;
    width: 32px;
    height: 35px;
    background: url(../images/lui_chattingRecords_src.png) no-repeat center;
    background-size: contain;
}
.lui_chattingRecords_item_type_url_right{
    width: 290px;
    float: left;
    padding: 0 6px;
}
.lui_chattingRecords_item_type_url_title{
    font-size: 14px;
    color: #000000;
    margin-bottom: 4px;
}
.lui_chattingRecords_item_type_url_add{
    font-size: 12px;
    color: #999999;
    word-break: break-all;
}
.lui_chattingRecords_item_type_image{
    display: inline-block;
    width: 84px;
    height: 84px;
}
.lui_chattingRecords_detail_item_time_info{
    height: 36px;
    line-height: 36px;
    font-size: 12px;
    color: #C3C3C3;
    text-align: center;
}
.lui_chattingRecords_detail_item_sys_info{
    width: 180px;
    height: 36px;
    line-height: 36px;
    background: #FFFFFF;
    box-shadow: 2px 0px 7px 0px rgba(0,0,0,0.04);
    border-radius: 4px;
    text-align: center;
    margin: 0 auto;
    font-size: 12px;
    color: #C3C3C3;
}
.lui_chattingRecords_detail_item_sys_info>span{
    font-size: 12px;
    color: #4285F4;
    cursor: pointer;
    margin-left: 4px;
}
.lui_chattingRecords_item_type_url_source{
    height: 32px;
    line-height: 32px;
    border-top: 1px solid #F2F2F2;
    padding: 0 12px;
}
.lui_chattingRecords_item_type_source_icon{
    display: inline-block;
    position: relative;
    width: 16px;
    height: 16px;
    background: url(../images/lui_chattingRecords_link.svg) no-repeat center center;
    background-size: 100% 100%;
    top:2px;
}
.lui_chattingRecords_item_type_url_source>span{
    font-size: 12px;
    color: #C3C3C3;
}
.lui_chattingRecords_item_type_card{
    width: 268px;
    background-color: #FFFFFF;
    border: 1px solid #F2F2F2;
    border-radius: 2px;
}
.lui_chattingRecords_item_type_card>.lui_chattingRecords_item_profile{
    float: left;
}
.lui_chattingRecords_item_type_card_top{
    padding: 8px;
}
.lui_chattingRecords_item_type_card_content{
    width: 210px;
    float: left;
    padding-left: 8px;
}
.lui_chattingRecords_item_type_card_content>strong{
    font-size: 14px;
    color: #000000;
}
.lui_chattingRecords_item_type_card_content>i{
    float: right;
    font-size: 14px;
    color: #999999;
}
.lui_chattingRecords_item_type_card_content>p{
    width: 100%;
    font-size: 12px;
    color: #999999;
    margin-top: 2px;
}
.lui_chattingRecords_item_type_card_source{
    height: 32px;
    line-height: 32px;
    border-top: 1px solid #F2F2F2;
    padding: 0 12px;
}
.lui_chattingRecords_item_type_card_source>span{
    font-size: 12px;
    color: #C3C3C3;
}
.lui_chattingRecords_item_type_chatrecords{
    width: 268px;
    border: 1px solid #F2F2F2;
    border-radius: 2px;
}
.lui_chattingRecords_item_type_chatrecords_title{
    height: 36px;
    line-height: 36px;
    border-bottom: 1px solid #F2F2F2;
    font-size: 14px;
    color: #000000;
    padding: 0 8px;
}
.lui_chattingRecords_item_type_chatrecords_content{
    padding: 8px;
}
.lui_chattingRecords_item_type_chatrecords_content>span{
    display: block;
    font-size: 12px;
    color: #999999;
    line-height: 18px;
}
.lui_chattingRecords_item_type_location{
    width: 268px;
    border: 1px solid #F2F2F2;
    border-radius: 2px;
}
.lui_chattingRecords_item_app{
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    background-color: #4285f4;
}
.lui_chattingRecords_item_type_location_content{
    width: 210px;
}
.lui_chattingRecords_item_type_location_top{
    padding: 8px;
}
.lui_chattingRecords_item_type_location_content>strong{
    font-size: 14px;
    color: #000000;
}
.lui_chattingRecords_item_type_location_content>p{
    font-size: 12px;
    color: #999999;
    margin-top: 2px;
}
.lui_chattingRecords_item_app_icon{
    display: inline-block;
    position: relative;
    width: 16px;
    height: 16px;
    background: url(../images/lui_chattingRecords_link.svg) no-repeat center center;
    background-size: 100% 100%;
    top: 2px;
}
.lui_chattingRecords_item_type_location_source {
    height: 32px;
    line-height: 32px;
    border-top: 1px solid #F2F2F2;
    padding: 0 12px;
}
.lui_chattingRecords_item_type_location_source>span{
    font-size: 12px;
    color: #C3C3C3;
}
.lui_chattingRecords_item_type_schedule{
    width: 348px;
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    border-radius: 2px;
    padding: 8px;
}
.lui_chattingRecords_item_type_schedule_title{
    font-size: 14px;
    color: #000000;
    margin-bottom: 6px;
}
.lui_chattingRecords_item_type_schedule_add{
    line-height: 20px;
    font-size: 12px;
    color: #999999;
}
.lui_chattingRecords_item_type_schedule_source{
    border-top: 1px solid #F2F2F2;
    padding-top: 4px;
    margin-top: 10px;
}
.lui_chattingRecords_item_type_schedule_source>span{
    font-size: 12px;
    color: #C3C3C3;
}
.lui_chattingRecords_item_type_schedule_icon{
    display: inline-block;
    position: relative;
    width: 16px;
    height: 16px;
    background: url(../images/lui_chattingRecords_calendar.svg) no-repeat center center;
    background-size: 100% 100%;
    top: 2px;
}
.lui_chattingRecords_item_type_redpacket{
    width: 350px;
    border-radius: 4px;
    margin-left: 5px;
    box-shadow: 2px 0px 7px 0px rgba(0,0,0,0.04);
}
.lui_chattingRecords_item_type_redpacket_top{
    background-color: #FF943E;
    position: relative;
    /* height: 86px; */
    padding: 16px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.lui_chattingRecords_item_type_redpacket_top::after{
    content: " ";
    position: absolute;
    top: 16px;
    left: -6px;
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-right: 6px solid #FF943E;
    border-bottom: 4px solid transparent;
}
.lui_chattingRecords_item_type_redpacket_icon{
    float: left;
    width: 44px;
    height: 55px;
    background: url(../images/red_packet.png) no-repeat center;
    background-size: contain;
    margin-right: 16px;
}
.lui_chattingRecords_item_type_redpacket_content{
    /* float: left;
    width: 258px; */
}
.lui_chattingRecords_item_type_redpacket_detail{
    padding-left: 62px;
}
.lui_chattingRecords_item_type_redpacket_title{
    font-size: 20px;
    color: #FFFFFF;
    margin-bottom: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-all;
}
.lui_chattingRecords_item_type_redpacket_detail>p{
    font-family: PingFang-SC-Bold;
    display: inline-block;
    font-size: 14px;
    color: #FFFFFF;
    margin-right: 4px;
}
.lui_chattingRecords_item_type_redpacket_detail>i{
    display: inline-block;
    font-size: 14px;
    color: #FFFFFF;
    margin-right: 4px;
}
.lui_chattingRecords_item_type_redpacket_detail>span{
    display: inline-block;
    font-size: 14px;
    color: rgba(255,255,255,0.50);
}
.lui_chattingRecords_item_type_redpacket_source{
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 8px;
    font-size: 12px;
    color: #999999;
    border: 1px solid #F2F2F2;
}
.lui_chattingRecords_item_type_redpacket.received .lui_chattingRecords_item_type_redpacket_top{
    background-color: rgba(255,148,62,0.50);
}
.lui_chattingRecords_item_type_redpacket.received .lui_chattingRecords_item_type_redpacket_top::after{
    border-right: 6px solid rgba(255,148,62,0.50);
}
.lui_chattingRecords_item_type_redpacket.received .lui_chattingRecords_item_type_redpacket_icon{
    float: left;
    width: 44px;
    height: 55px;
    background: url(../images/red_packet_got.png) no-repeat center;
    background-size: contain;
    margin-right: 16px;
}
.lui_chattingRecords_item_type_todo{
    width: 268px;
    background-color: #FFFFFF;
    border: 1px solid #F2F2F2;
    border-radius: 2px;
}
.lui_chattingRecords_item_type_todo_icon{
    display: inline-block;
    position: relative;
    width: 16px;
    height: 16px;
    background: url(../images/lui_chattingRecords_todo.svg) no-repeat center center;
    background-size: 100% 100%;
    top: 2px;
    margin-right: 4px;
}
.lui_chattingRecords_item_type_todo_title{
    margin-bottom: 6px;
    padding: 0 8px;
    margin-top: 8px;
}
.lui_chattingRecords_item_type_todo_title>span{
    font-size: 14px;
    color: #4285F4;
}
.lui_chattingRecords_item_type_todo_content{
    font-size: 14px;
    color: #000000;
    margin-bottom: 4px;
    padding: 0 8px;
}
.lui_chattingRecords_item_type_todo_source{
    font-size: 12px;
    color: #999999;
    text-align: right;
    padding: 0 8px;
    margin-bottom: 12px;
}
.lui_chattingRecords_item_type_todo_bottom{
    border-top: 1px solid #F2F2F2;
    text-align: center;
    padding: 8px;
    font-size: 12px;
    color: #4285F4;
}
.lui_chattingRecords_item_type_vote{
    width: 268px;
    background-color: #FFFFFF;
    border: 1px solid #F2F2F2;
    border-radius: 2px;
    padding: 0 8px;
}
.lui_chattingRecords_item_type_vote_title{
    font-size: 14px;
    color: #000000;
    padding: 8px 0;
}
.lui_chattingRecords_item_type_vote_detail{
    width: 100%;
    margin-bottom: 12px;
}
.lui_chattingRecords_item_type_vote_detail>li{
    height: 30px;
    line-height: 30px;
    background: #F8F8F8;
    margin-bottom: 4px;
    padding: 0 8px;
    font-size: 12px;
    color: #333333;
}
.lui_chattingRecords_item_type_vote_source{
    height: 32px;
    line-height: 32px;
    border-top: 1px solid #F2F2F2;
}
.lui_chattingRecords_item_type_vote_icon{
    display: inline-block;
    position: relative;
    width: 16px;
    height: 16px;
    background: url(../images/lui_chattingRecords_chart.svg) no-repeat center center;
    background-size: 100% 100%;
    top: 2px;
}
.lui_chattingRecords_item_type_pick{
    display: inline-block;
    position: relative;
    width: 16px;
    height: 16px;
    background: url(../images/lui_chattingRecords_edit.svg) no-repeat center center;
    background-size: 100% 100%;
    top: 2px;
}
.lui_chattingRecords_item_type_vote_source>span{
    font-size: 12px;
    color: #C3C3C3;
}
.lui_chattingRecords_item_type_vote_intro{
    font-size: 12px;
    color: #999999;
    margin-bottom: 6px;
}
.lui_chattingRecords_videoaccount_label{
    font-size: 14px;
    color: #2CCC74;
}
.lui_chattingRecords_item_type_videoaccount{
    width: 170px;
    background-color: #FFFFFF;
    border: 1px solid #F2F2F2;
    border-radius: 2px;
}
.lui_chattingRecords_item_type_videoaccount_bottom{
    padding: 0 8px;
    
}
.lui_chattingRecords_item_type_videoaccount_title{
    margin: 4px 0;
}
.lui_chattingRecords_item_type_videoaccount_title>img{
    float: left;
    width: 30px;
    height: 30px;
    margin-right: 8px;
}
.lui_chattingRecords_item_type_videoaccount_title>span{
    font-size: 14px;
    color: #666666;
    height: 32px;
    line-height: 32px;
    float: left;
}
.lui_chattingRecords_item_type_videoaccount_intro{
    font-size: 14px;
    color: #000000;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 10px;
}
.lui_chattingRecords_item_type_videoaccount_source_icon{
    
    display: inline-block;
    position: relative;
    width: 16px;
    height: 16px;
    background: url(../images/lui_chattingRecords_play.svg) no-repeat center center;
    background-size: 100% 100%;
    top: 2px;
}
.lui_chattingRecords_item_type_videoaccount_source>span{
    font-size: 12px;
    color: #C3C3C3;
}
.lui_chattingRecords_item_type_videoaccount_source{
    height: 32px;
    line-height: 32px;
    border-top: 1px solid #F2F2F2;
}
.lui_chattingRecords_mask_datetime{
    position: relative;
    float: left;
}
.lui_chattingRecords_mask_datetime>.inputselectsgl{
    width: 100%;
    height: 30px;
    float: left;
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 2px;
    padding: 0 24px 0 8px;
}
.lui_chattingRecords_mask_datetime>.inputselectsgl+span{
    float: left;
    height: 30px;
    line-height: 30px;
    margin: 0 5px;
}
.lui_chattingRecords_mask_datetime>.inputselectsgl>.input,.lui_chattingRecords_mask_inputbar>.inputselectsgl>.input>input{
    width: 100%;
    height: 30px;
    line-height: 30px;
}
.lui_chattingRecords_mask_datetime>.inputselectsgl>.input>input::placeholder{
    font-size: 14px;
    color: #C3C3C3;
}
.lui_chattingRecords_mask_datetime>.inputselectsgl>.input>input{
    font-size: 14px;
    color: #000000;
}
div.criteria{
    margin-bottom: 0;
}