<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean
		id="operationNodeBinder"
		class="com.landray.kmss.sys.lbpmservice.operation.OperationNodeBinder">
	</bean>

	<bean
		id="abstractPassOperationAccessor"
		abstract="true"
		class="com.landray.kmss.sys.lbpmservice.operation.AbstractPassOperationAccessor">
		<property name="processServiceManager">
			<ref bean="lbpmProcessServiceManager" />
		</property>
	</bean>

</beans>
