<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<!-- 安全模式下需加载这两个bean，供admin.do调用  -->
	<bean id="sysFileAliyunDirectService" 
        class="com.landray.kmss.third.oss.alioss.service.spring.SysFileAliyunDirectServiceImpl">
    </bean>
    
    <bean id="sysFileAliyunProxyService" 
        class="com.landray.kmss.third.oss.alioss.service.spring.SysFileAliyunProxyServiceImpl">
    </bean>
    
</beans>