<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean
		class="com.landray.kmss.web.config.ExtendModuleConfig">
		<constructor-arg>
			<map>
				<entry
					key="sysAttendImportExcel"
					value="/sys/attend/upload/common_upload_download.jsp" />
			</map>
		</constructor-arg>
	</bean>
	<bean
		name="/sys/attend/sys_attend_category_worktime/sysAttendCategoryWorktime.do"
		class="com.landray.kmss.sys.attend.actions.SysAttendCategoryWorktimeAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.attend.forms.SysAttendCategoryWorktimeForm" />
		<property name="forwards">
			<map>
				<entry
					key="view"
					value="/sys/attend/sys_attend_category_worktime/sysAttendCategoryWorktime_view.jsp" />
				<entry
					key="view.4m"
					value="/sys/attend/sys_attend_category_worktime/mobile/view.jsp" />
				<entry
					key="edit"
					value="/sys/attend/sys_attend_category_worktime/sysAttendCategoryWorktime_edit.jsp" />
				<entry
					key="data"
					value="/sys/attend/sys_attend_category_worktime/sysAttendCategoryWorktime_data.jsp" />
				<entry
					key="data.4m"
					value="/sys/attend/sys_attend_category_worktime/mobile/list.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/sys/attend/sys_attend_category/sysAttendCategory.do"
		class="com.landray.kmss.sys.attend.actions.SysAttendCategoryAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.attend.forms.SysAttendCategoryForm" />
		<property name="forwards">
			<map>
				<entry
					key="view"
					value="/sys/attend/sys_attend_category/sysAttendCategory_view.jsp" />
				<entry
					key="view.4m"
					value="/sys/attend/sys_attend_category/mobile/view.jsp" />
				<entry
					key="edit"
					value="/sys/attend/sys_attend_category/sysAttendCategory_edit.jsp" />
				<entry
					key="edit.4mh"
					value="/sys/attend/sys_attend_category/maxhub/edit.jsp" />
				<entry
					key="list"
					value="/sys/attend/sys_attend_category/sysAttendCategory_data.jsp" />
				<entry
					key="list.4m"
					value="/sys/attend/sys_attend_category/mobile/list.jsp" />
				<entry
					key="listStat"
					value="/sys/attend/mobile/stat/list_stat.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/sys/attend/sys_attend_lactation_detail/sysAttendLactationDetail.do"
		class="com.landray.kmss.sys.attend.actions.SysAttendLactationDetailAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.attend.forms.SysAttendLactationDetailForm" />
		<property name="forwards">
			<map>
				<entry
					key="list"
					value="/sys/attend/sys_attend_lactation_detail/sys_attend_lactation_detail_data.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/sys/attend/sys_attend_category_rule/sysAttendCategoryRule.do"
		class="com.landray.kmss.sys.attend.actions.SysAttendCategoryRuleAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.attend.forms.SysAttendCategoryRuleForm" />
		<property name="forwards">
			<map>
				<entry
					key="view"
					value="/sys/attend/sys_attend_category_rule/sysAttendCategoryRule_view.jsp" />
				<entry
					key="view.4m"
					value="/sys/attend/sys_attend_category_rule/mobile/view.jsp" />
				<entry
					key="edit"
					value="/sys/attend/sys_attend_category_rule/sysAttendCategoryRule_edit.jsp" />
				<entry
					key="data"
					value="/sys/attend/sys_attend_category_rule/sysAttendCategoryRule_data.jsp" />
				<entry
					key="data.4m"
					value="/sys/attend/sys_attend_category_rule/mobile/list.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/sys/attend/sys_attend_category_time/sysAttendCategoryTime.do"
		class="com.landray.kmss.sys.attend.actions.SysAttendCategoryTimeAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.attend.forms.SysAttendCategoryTimeForm" />
		<property name="forwards">
			<map>
				<entry
					key="view"
					value="/sys/attend/sys_attend_category_time/sysAttendCategoryTime_view.jsp" />
				<entry
					key="view.4m"
					value="/sys/attend/sys_attend_category_time/mobile/view.jsp" />
				<entry
					key="edit"
					value="/sys/attend/sys_attend_category_time/sysAttendCategoryTime_edit.jsp" />
				<entry
					key="data"
					value="/sys/attend/sys_attend_category_time/sysAttendCategoryTime_data.jsp" />
				<entry
					key="data.4m"
					value="/sys/attend/sys_attend_category_time/mobile/list.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/sys/attend/sys_attend_main/sysAttendMain.do"
		class="com.landray.kmss.sys.attend.actions.SysAttendMainAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.attend.forms.SysAttendMainForm" />
		<property name="forwards">
			<map>
				<entry
					key="view"
					value="/sys/attend/sys_attend_main/sysAttendMain_view.jsp" />
				<entry
					key="view.4m"
					value="/sys/attend/mobile/view.jsp" />
				<entry
					key="edit"
					value="/sys/attend/sys_attend_main/sysAttendMain_edit.jsp" />
				<entry
					key="edit.4m"
					value="/sys/attend/mobile/edit.jsp" />
				<entry
					key="list"
					value="/sys/attend/sys_attend_main/sysAttendMain_data.jsp" />
				<entry
					key="list.4m"
					value="/sys/attend/mobile/list.jsp" />
				<entry
					key="listAttend"
					value="/sys/attend/mobile/listAttend.jsp" />
				<entry
					key="listAttend.4m"
					value="/sys/attend/mobile/listAttend.jsp" />
				<entry
					key="attend_list.4m"
					value="/sys/attend/mobile/attend_list.jsp" />
				<entry
					key="viewTrail"
					value="/sys/attend/mobile/view_trail.jsp" />
				<entry
					key="scanError"
					value="/sys/attend/mobile/error.jsp" />
				<entry
					key="statTrail"
					value="/sys/attend/mobile/stat/list_stattrail.jsp" />
				<entry
					key="editByAdmin"
					value="/sys/attend/sys_attend_main/sysAttendMain_edit_admin.jsp" />
				<entry
					key="listMain"
					value="/sys/attend/mobile/stat/list_main.jsp" />
				<entry
					key="statListDetail"
					value="/sys/attend/include/sysAttendMain_check_statdata.jsp" />
				<entry
					key="originListDetail"
					value="/sys/attend/include/sysAttendMain_check_origindata.jsp" />
				<entry
					key="validListDetail"
					value="/sys/attend/include/sysAttendMain_check_validdata.jsp" />
				<entry
					key="viewValid"
					value="/sys/attend/include/sysAttendMain_valid_view.jsp" />
				<entry
					key="viewOrigin"
					value="/sys/attend/include/sysAttendMain_origin_view.jsp" />
				<entry
					key="viewStat"
					value="/sys/attend/include/sysAttendMain_stat_view.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/sys/attend/sys_attend_main_exc/sysAttendMainExc.do"
		class="com.landray.kmss.sys.attend.actions.SysAttendMainExcAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.attend.forms.SysAttendMainExcForm" />
		<property name="forwards">
			<map>
				<entry
					key="view"
					value="/sys/attend/sys_attend_main_exc/sysAttendMainExc_view.jsp" />
				<entry
					key="view.4m"
					value="/sys/attend/mobile/view_exc.jsp" />
				<entry
					key="edit"
					value="/sys/attend/sys_attend_main_exc/sysAttendMainExc_edit.jsp" />
				<entry
					key="edit.4m"
					value="/sys/attend/mobile/edit_exc.jsp" />
				<entry
					key="list"
					value="/sys/attend/sys_attend_main_exc/sysAttendMainExc_data.jsp" />
				<entry
					key="list.4m"
					value="/sys/attend/mobile/stat/list_exc.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/sys/attend/sys_attend_category_location/sysAttendCategoryLocation.do"
		class="com.landray.kmss.sys.attend.actions.SysAttendCategoryLocationAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.attend.forms.SysAttendCategoryLocationForm" />
		<property name="forwards">
			<map>
				<entry
					key="view"
					value="/sys/attend/sys_attend_category_location/sysAttendCategoryLocation_view.jsp" />
				<entry
					key="view.4m"
					value="/sys/attend/sys_attend_category_location/mobile/view.jsp" />
				<entry
					key="edit"
					value="/sys/attend/sys_attend_category_location/sysAttendCataegoryLocation_edit.jsp" />
				<entry
					key="data"
					value="/sys/attend/sys_attend_category_location/sysAttendCategoryLocation_data.jsp" />
				<entry
					key="data.4m"
					value="/sys/attend/sys_attend_category_location/mobile/list.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/sys/attend/sys_attend_category_exctime/sysAttendCategoryExctime.do"
		class="com.landray.kmss.sys.attend.actions.SysAttendCategoryExctimeAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.attend.forms.SysAttendCategoryExctimeForm" />
		<property name="forwards">
			<map>
				<entry
					key="view"
					value="/sys/attend/sys_attend_category_exctime/sysAttendCategoryExctime_view.jsp" />
				<entry
					key="view.4m"
					value="/sys/attend/sys_attend_category_exctime/mobile/view.jsp" />
				<entry
					key="edit"
					value="/sys/attend/sys_attend_category_exctime/sysAttendCategoryExctime_edit.jsp" />
				<entry
					key="data"
					value="/sys/attend/sys_attend_category_exctime/sysAttendCategoryExctime_data.jsp" />
				<entry
					key="data.4m"
					value="/sys/attend/sys_attend_category_exctime/mobile/list.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/sys/attend/sys_attend_report/sysAttendReport.do"
		class="com.landray.kmss.sys.attend.actions.SysAttendReportAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.attend.forms.SysAttendReportForm" />
		<property name="forwards">
			<map>
				<entry
					key="view"
					value="/sys/attend/sys_attend_report/sysAttendReport_view.jsp" />
				<entry
					key="view.4m"
					value="/sys/attend/sys_attend_report/mobile/view.jsp" />
				<entry
					key="edit"
					value="/sys/attend/sys_attend_report/sysAttendReport_edit.jsp" />
				<entry
					key="data"
					value="/sys/attend/sys_attend_report/sysAttendReport_data.jsp" />
				<entry
					key="data.4m"
					value="/sys/attend/sys_attend_report/mobile/list.jsp" />
				<entry
					key="listReport"
					value="/sys/attend/sys_attend_report/sysAttendReport_listReport.jsp" />
				<entry
					key="listReport1"
					value="/sys/attend/sys_attend_report/sysAttendReport_listReport1.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/sys/attend/sys_attend_stat_detail/sysAttendStatDetail.do"
		class="com.landray.kmss.sys.attend.actions.SysAttendStatDetailAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.attend.forms.SysAttendStatDetailForm" />
		<property name="forwards">
			<map>
				<entry
					key="view"
					value="/sys/attend/sys_attend_stat_detail/sysAttendStatDetail_view.jsp" />
				<entry
					key="view.4m"
					value="/sys/attend/sys_attend_stat_detail/mobile/view.jsp" />
				<entry
					key="edit"
					value="/sys/attend/sys_attend_stat_detail/sysAttendStatDetail_edit.jsp" />
				<entry
					key="data"
					value="/sys/attend/sys_attend_stat_detail/sysAttendStatDetail_data.jsp" />
				<entry
					key="data.4m"
					value="/sys/attend/sys_attend_stat_detail/mobile/list.jsp" />
				<entry
					key="listDetail"
					value="/sys/attend/sys_attend_stat_detail/sysAttendStatDetail_listDetail.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/sys/attend/sys_attend_stat/sysAttendStat.do"
		class="com.landray.kmss.sys.attend.actions.SysAttendStatAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.attend.forms.SysAttendStatForm" />
		<property name="forwards">
			<map>
				<entry
					key="view"
					value="/sys/attend/sys_attend_stat/sysAttendStat_view.jsp" />
				<entry
					key="view.4m"
					value="/sys/attend/sys_attend_stat/mobile/view.jsp" />
				<entry
					key="edit"
					value="/sys/attend/sys_attend_stat/sysAttendStat_edit.jsp" />
				<entry
					key="list"
					value="/sys/attend/sys_attend_stat/sysAttendStat_data.jsp" />
				<entry
					key="list.4m"
					value="/sys/attend/mobile/stat/list.jsp" />
				<entry
					key="config"
					value="/sys/attend/sys_attend_stat/sysAttendStat_config.jsp" />
				<entry
						key="loglist"
						value="/sys/attend/sys_attend_stat/sysAttendStatLog_data.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/sys/attend/sys_attend_stat_month/sysAttendStatMonth.do"
		class="com.landray.kmss.sys.attend.actions.SysAttendStatMonthAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.attend.forms.SysAttendStatMonthForm" />
		<property name="forwards">
			<map>
				<entry
					key="view"
					value="/sys/attend/sys_attend_stat_month/sysAttendStatMonth_view.jsp" />
				<entry
					key="view.4m"
					value="/sys/attend/sys_attend_stat_month/mobile/view_month.jsp" />
				<entry
					key="edit"
					value="/sys/attend/sys_attend_stat_month/sysAttendStatMonth_edit.jsp" />
				<entry
					key="list"
					value="/sys/attend/sys_attend_stat_month/sysAttendStatMonth_data.jsp" />
				<entry
					key="list.4m"
					value="/sys/attend/mobile/stat/list_month.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/sys/attend/sys_attend_config/sysAttendConfig.do"
		class="com.landray.kmss.sys.attend.actions.SysAttendConfigAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.attend.forms.SysAttendConfigForm" />
		<property name="forwards">
			<map>
				<entry
					key="edit"
					value="/sys/attend/sys_attend_config/sysAttendConfig_edit.jsp" />
			</map>
		</property>
	</bean>
	<bean
        name="/sys/attend/sys_attend_syn_config/sysAttendSynConfig.do"
        class="com.landray.kmss.sys.attend.actions.SysAttendSynConfigAction"
        lazy-init="true"
        parent="KmssBaseAction">
        <property
            name="formType"
            value="com.landray.kmss.sys.attend.forms.SysAttendSynConfigForm" />
        <property name="forwards">
            <map>
                <entry
                    key="edit"
                    value="/sys/attend/sys_attend_syn_config/sysAttendSynConfig_edit.jsp" />
            </map>
        </property>
    </bean>
	<bean
		name="/sys/attend/sys_attend_category_templ/sysAttendCategoryTemplate.do"
		class="com.landray.kmss.sys.attend.actions.SysAttendCategoryTemplateAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.attend.forms.SysAttendCategoryTemplateForm" />
		<property name="forwards">
			<map>
				<entry
					key="view"
					value="/sys/attend/sys_attend_category_templ/sysAttendCategoryTemplate_view.jsp" />
				<entry
					key="edit"
					value="/sys/attend/sys_attend_category_templ/sysAttendCategoryTemplate_edit.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/sys/attend/sys_attend_category_atempl/sysAttendCategoryATemplate.do"
		class="com.landray.kmss.sys.attend.actions.SysAttendCategoryATemplateAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.attend.forms.SysAttendCategoryATemplateForm" />
		<property name="forwards">
			<map>
				<entry
					key="view"
					value="/sys/attend/sys_attend_category_atempl/sysAttendCategoryATemplate_view.jsp" />
				<entry
					key="edit"
					value="/sys/attend/sys_attend_category_atempl/sysAttendCategoryATemplate_edit.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/sys/attend/sys_attend_sign_stat/sysAttendSignStat.do"
		class="com.landray.kmss.sys.attend.actions.SysAttendSignStatAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.attend.forms.SysAttendSignStatForm" />
		<property name="forwards">
			<map>
				<entry
					key="view"
					value="/sys/attend/sys_attend_sign_stat/sysAttendSignStat_view.jsp" />
				<entry
					key="view.4m"
					value="/sys/attend/sys_attend_stat/mobile/view.jsp" />
				<entry
					key="list"
					value="/sys/attend/sys_attend_sign_stat/sysAttendSignStat_data.jsp" />
				<entry
					key="list.4m"
					value="/sys/attend/mobile/stat/list_sign.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/sys/attend/map/sysAttendMapConfig.do"
		class="com.landray.kmss.sys.attend.actions.SysAttendMapConfigAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.appconfig.forms.SysAppConfigForm" />
	</bean>
	<bean
		name="/sys/attend/api/sysAttendApi.do"
		class="com.landray.kmss.sys.attend.actions.SysAttendApiAction"
		lazy-init="true"
		parent="KmssBaseAction">
	</bean>
	<bean
		name="/sys/attend/sys_attend_category_tsheet/sysAttendCategoryTSheet.do"
		class="com.landray.kmss.sys.attend.actions.SysAttendCategoryTSheetAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formName"
			value="sysAttendCategoryTSheetForm" />
		<property
			name="formType"
			value="com.landray.kmss.sys.attend.forms.SysAttendCategoryTimesheetForm" />
		<property name="forwards">
			<map>
				<entry
					key="edit"
					value="/sys/attend/sys_attend_category/sysAttendCategory_edit_tsheet.jsp" />
			</map>
		</property>
	</bean>
	<!-- 防止被third/pda的过滤器过滤 -->
	<bean
		name="/resource/sys/attend/sysAttendAnym.do"
		class="com.landray.kmss.sys.attend.actions.SysAttendAnonymousAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property name="forwards">
			<map>
				<entry
					key="signChoose"
					value="/sys/attend/mobile/import/sign_choose.jsp" />
				<entry
					key="signOuter"
					value="/sys/attend/mobile/import/sign_outer.jsp" />
				<entry
					key="register"
					value="/sys/attend/mobile/import/register.jsp" />
				<entry
					key="scanError"
					value="/sys/attend/mobile/error.jsp" />
				<entry
					key="listMain"
					value="/sys/attend/sys_attend_main/sysAttendMain_data.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/resource/sys/attend/sysAttendOutPerson.do"
		class="com.landray.kmss.sys.attend.actions.SysAttendOutPersonAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formName"
			value="sysAttendOutPersonForm" />
		<property
			name="formType"
			value="com.landray.kmss.sys.attend.forms.SysAttendOutPersonForm" />
		<property name="forwards">
			<map>
				<entry
					key="register"
					value="/sys/attend/mobile/import/register.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/sys/attend/sys_attend_auth_setting/sysAttendAuthSetting.do"
		class="com.landray.kmss.sys.attend.actions.SysAttendAuthSettingAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formName"
			value="sysAttendAuthSettingForm" />
		<property
			name="formType"
			value="com.landray.kmss.sys.attend.forms.SysAttendAuthSettingForm" />
		<property name="forwards">
			<map>
				<entry
					key="edit"
					value="/sys/attend/sys_attend_auth_setting/sysAttendAuthSetting_edit.jsp" />
				<entry
					key="list"
					value="/sys/attend/sys_attend_auth_setting/sysAttendAuthSetting_data.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/sys/attend/sys_attend_sign_patch/sysAttendSignPatch.do"
		class="com.landray.kmss.sys.attend.actions.SysAttendSignPatchAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formName"
			value="sysAttendSignPatchForm" />
		<property
			name="formType"
			value="com.landray.kmss.sys.attend.forms.SysAttendSignPatchForm" />
		<property name="forwards">
			<map>
				<entry
					key="edit"
					value="/sys/attend/sys_attend_sign_patch/sysAttendSignPatch_edit.jsp" />
				<entry
					key="edit.4m"
					value="/sys/attend/sys_attend_sign_patch/mobile/edit_patch.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/sys/attend/sys_attend_main_bak/sysAttendMainBak.do"
		class="com.landray.kmss.sys.attend.actions.SysAttendMainBakAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formName"
			value="sysAttendMainBakForm" />
		<property
			name="formType"
			value="com.landray.kmss.sys.attend.forms.SysAttendMainBakForm" />
		<property name="forwards">
			<map>
				<entry
					key="view"
					value="/sys/attend/sys_attend_main_bak/sysAttendMainBak_view.jsp" />
				<entry
					key="list"
					value="/sys/attend/sys_attend_main_bak/sysAttendMainBak_data.jsp" />
			</map>
		</property>
	</bean>
	<bean 
		name="/sys/attend/sys_attend_syn_ding/sysAttendSynDing.do"
		class="com.landray.kmss.sys.attend.actions.SysAttendSynDingAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property name="formName" value="sysAttendSynDingForm"></property>
		<property name="formType" value="com.landray.kmss.sys.attend.forms.SysAttendSynDingForm"></property>
		<property name="forwards">
			<map>
				<entry key="view" value="/sys/attend/sys_attend_syn_ding/sysAttendSynDing_view.jsp"></entry>
				<entry key="view.4m" value="/sys/attend/mobile/view_ding.jsp"></entry>
				<entry key="list" value="/sys/attend/sys_attend_syn_ding/sysAttendSynDing_data.jsp"></entry>
				<entry key="importExcel" value="/sys/attend/sys_attend_syn_ding/sysAttendSynDing_import.jsp"></entry>
			</map>
		</property>
		</bean>
	<bean 
		name="/sys/attend/sys_attend_syn_ding_bak/sysAttendSynDingBak.do"
		class="com.landray.kmss.sys.attend.actions.SysAttendSynDingBakAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property name="formName" value="sysAttendSynDingBakForm"></property>
		<property name="formType" value="com.landray.kmss.sys.attend.forms.SysAttendSynDingBakForm"></property>
		<property name="forwards">
			<map>
				<entry key="view" value="/sys/attend/sys_attend_syn_ding_bak/sysAttendSynDingBak_view.jsp"></entry>
				<entry key="list" value="/sys/attend/sys_attend_syn_ding_bak/sysAttendSynDingBak_data.jsp"></entry>
			</map>
		</property>
		</bean>

	<bean
			name="/sys/attend/sys_attend_his_category/sysAttendHisCategory.do"
			class="com.landray.kmss.sys.attend.actions.SysAttendHisCategoryAction"
			lazy-init="true"
			parent="KmssBaseAction">
		<property name="formName" value="sysAttendHisCategoryForm"></property>
		<property name="formType" value="com.landray.kmss.sys.attend.forms.SysAttendHisCategoryForm"></property>
		<property name="forwards">
			<map>
				<entry key="edit" value="/sys/attend/sys_attend_his_category/sysAttendHisCategory_edit.jsp"></entry>
				<entry key="list" value="/sys/attend/sys_attend_his_category/sysAttendHisCategory_data.jsp"></entry>
			</map>
		</property>
	</bean>

	<bean
			class="com.landray.kmss.sys.attend.actions.SysAttendReportLogAction"
			parent="KmssBaseAction"
			name="/sys/attend/sys_attend_report_log/sysAttendReportLog.do"
			lazy-init="true">
		<property
				name="formType"
				value="com.landray.kmss.sys.attend.forms.SysAttendReportLogForm"/>
		<property
				name="forwards">
			<map/>
		</property>
	</bean>
	<bean
			class="com.landray.kmss.sys.attend.actions.SysAttendSignLogAction"
			parent="KmssBaseAction"
			name="/sys/attend/sys_attend_sign_log/sysAttendSignLog.do"
			lazy-init="true">
		<property
				name="formType"
				value="com.landray.kmss.sys.attend.forms.SysAttendSignLogForm"/>
		<property
				name="forwards">
			<map>

				<entry
						key="index"
						value="/sys/attend/sys_attend_sign_log/index.jsp" />
				<entry
						key="list"
						value="/sys/attend/sys_attend_sign_log/sysAttendLog_list.jsp" />
			</map>
		</property>
	</bean>
	<bean
			class="com.landray.kmss.sys.attend.actions.SysAttendSignBakAction"
			parent="KmssBaseAction"
			name="/sys/attend/sys_attend_sign_bak/sysAttendSignBak.do"
			lazy-init="true">
		<property
				name="formType"
				value="com.landray.kmss.sys.attend.forms.SysAttendSignBakForm"/>
		<property
				name="forwards">
			<map>
				<entry
						key="list"
						value="/sys/attend/sys_attend_sign_log/sysAttendLog_list.jsp" />
			</map>
		</property>
	</bean>
</beans> 