<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean
		name="/km/forum/km_forum_cate/kmForumCategory.do"
		class="com.landray.kmss.km.forum.actions.KmForumCategoryAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.km.forum.forms.KmForumCategoryForm" />
		<property name="forwards">
			<map>
				<entry
					key="view"
					value="/km/forum/km_forum_cate/kmForumCategory_view.jsp" />
				<entry
					key="viewDirectory"
					value="/km/forum/km_forum_cate/kmForumCategory_viewDirectory.jsp" />
				<entry
					key="edit"
					value="/km/forum/km_forum_cate/kmForumCategory_edit.jsp" />
				<entry
					key="editDirectory"
					value="/km/forum/km_forum_cate/kmForumCategory_editDirectory.jsp" />
				<entry
					key="list"
					value="/km/forum/km_forum_cate/kmForumCategory_list.jsp" />
				<entry
					key="manage"
					value="/km/forum/km_forum_cate/kmForumCategory_manage.jsp" />
				<entry
					key="main"
					value="/km/forum/km_forum_cate/kmForumCategory_main.jsp" />
				<entry
					key="subCate"
					value="/km/forum/km_forum_cate/kmForumCategory_subCate.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/km/forum/criteria/sysSimpleCategoryCriteria.do"
		class="com.landray.kmss.km.forum.actions.ForumCategoryCriteriaAction"
		lazy-init="true"
		parent="KmssBaseAction">
	</bean>
	<bean
		name="/km/forum/km_forum_config/kmForumConfig.do"
		class="com.landray.kmss.km.forum.actions.KmForumConfigAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.km.forum.forms.KmForumConfigForm" />
		<property name="forwards">
			<map>
				<entry
					key="edit"
					value="/km/forum/km_forum_config/kmForumConfig_edit.jsp" />
				<entry
					key="viewLevel"
					value="/km/forum/km_forum_config/kmForumUserScore_view.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/km/forum/km_forum/kmForumPost.do"
		class="com.landray.kmss.km.forum.actions.KmForumPostAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.km.forum.forms.KmForumPostForm" />
		<property name="forwards">
			<map>
				<entry
					key="view"
					value="/km/forum/km_forum/kmForumPost_view.jsp" />
				<entry
					key="viewDraft"
					value="/km/forum/km_forum_ui/kmForumPost_viewDraft.jsp" />
				<entry
					key="edit"
					value="/km/forum/km_forum_ui/kmForumPost_edit.jsp" />
				<entry
					key="edit.4m"
					value="/km/forum/mobile/edit_data.jsp" />
				<entry
					key="quickReply.4m"
					value="/km/forum/mobile/editQuickReply_data.jsp" />
				<entry
					key="quickPostEdit"
					value="/km/forum/km_forum_ui/kmForumPost_editQuick.jsp" />
				<entry
					key="reply"
					value="/km/forum/km_forum/kmForumPost_reply_quote_edit.jsp" />
				<entry
					key="quote"
					value="/km/forum/km_forum/kmForumPost_reply_quote_edit.jsp" />
				<entry
					key="quote.4pda"
					value="/km/forum/km_forum/kmForumPost_reply_quote_edit4pda.jsp" />
				<entry
					key="singleView"
					value="/km/forum/km_forum/kmForumPostSingle_view.jsp" />
				<entry
					key="quickReply"
					value="/km/forum/km_forum/kmForumPost_quickReply.jsp" />
				<entry
					key="updateReply"
					value="/km/forum/km_forum/kmForumPost_quickReply.jsp" />
				<entry
					key="refresh"
					value="/km/forum/km_forum/kmForumPost_refresh.jsp" />
				<entry
					key="postSuccess"
					value="/km/forum/post_success.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/km/forum/km_forum/kmForumTopic.do"
		class="com.landray.kmss.km.forum.actions.KmForumTopicAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.km.forum.forms.KmForumTopicForm" />
		<property name="forwards">
			<map>
				<entry
					key="list"
					value="/km/forum/km_forum/kmForumTopic_list.jsp" />
				<entry
					key="list.4pda"
					value="/km/forum/km_forum/kmForumTopic_list4pda.jsp" />
				<entry
					key="draftList"
					value="/km/forum/km_forum/kmForumTopic_draft_list.jsp" />
				<entry
					key="listOut"
					value="/km/forum/km_forum/kmForumTopic_list_out.jsp" />
				<entry
					key="showMove"
					value="/km/forum/km_forum/kmForumTopic_move.jsp" />
				<entry
					key="docList"
					value="/km/forum/km_forum/kmForumTopic_detail.jsp" />
				<entry
					key="introduce"
					value="/km/forum/km_forum/kmForumTopic_introduce.jsp" />
				<entry
					key="introduce.4m"
					value="/km/forum/mobile/view/introduce.jsp" />
				<entry
					key="listPersonOrZone"
					value="/km/forum/km_forum_ui/kmForumTopic_list.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/km/forum/km_forum/kmForumTopicIndex.do"
		class="com.landray.kmss.km.forum.actions.KmForumTopicIndexAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.km.forum.forms.KmForumTopicForm" />
		<property name="forwards">
			<map>
				<entry
					key="listChildren"
					value="/km/forum/km_forum_ui/kmForumTopic_list.jsp" />
				<entry
					key="listChildren.4m"
					value="/km/forum/mobile/list/list.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/km/forum/km_forum_score/kmForumScore.do"
		class="com.landray.kmss.km.forum.actions.KmForumScoreAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.km.forum.forms.KmForumScoreForm" />
		<property name="forwards">
			<map>
				<entry
					key="edit"
					value="/km/forum/km_forum_score/kmForumScore_edit.jsp" />
				<entry
					key="editForPerson"
					value="/km/forum/km_forum_score/kmForumScorePerson_edit.jsp" />
				<entry
					key="view"
					value="/km/forum/km_forum_score/kmForumScore_view.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/km/forum/km_forum_portlet/kmForumPortlet.do"
		class="com.landray.kmss.km.forum.actions.KmForumPortletAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property name="forwards">
			<map>
				<entry
					key="kmForumTopicPortlet"
					value="/km/forum/km_forum_ui/kmForumTopic_portlet.jsp" />
				<entry
					key="kmForumRankPortlet"
					value="/km/forum/km_forum_ui/kmForumRank_portlet.jsp" />
				<entry
					key="kmForumTopicNewPortlet"
					value="/km/forum/km_forum_ui/kmForumTopic_new_portlet.jsp" />
			</map>
		</property>
	</bean>
	<bean id="kmForumPortletController"
        class="com.landray.kmss.km.forum.actions.KmForumPortletController">
    </bean>
</beans>