@charset "UTF-8";
.linkContent{
    display: inline-block;
    width: 100%;
    height: 200px;
}

.link{
    text-align: center;
    padding: 20px;
}

.link-text{
    font-size: 16px;
}

.copy-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(../images/copy.png) center no-repeat;
    background-size: 16px,16px;
    position: relative;
    float: right;
    top: 8px;
    right: 28px;
}

.copy-icon:hover {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(../images/copy-hover.png) center no-repeat;
    background-size: 16px,16px;
}

.jump-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(../images/jump.png) center no-repeat;
    background-size: 16px,16px;
    position: relative;
    float: right;
    top: 8px;
    right: -8px;
}

.jump-icon:hover {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(../images/jump-hover.png) center no-repeat;
    background-size: 16px,16px;
}

.buttonContent{
    right: 0;
    top: 160px;
    position: absolute;
}

.copyButton{
    width: 90px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #4285f4;
    color: #fff;
    font-size: 14px;
    border-radius: 2px;
    cursor: pointer;
    transition: all 0.3s;
    margin: 4px;
    float: left;
}

.jumpButton{
    width: 90px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #4285f4;
    color: #fff;
    font-size: 14px;
    border-radius: 2px;
    cursor: pointer;
    transition: all 0.3s;
    margin: 4px;
    float: left;
}