.video_tip_container {
	position: relative;
	min-height: 400px;
}

.video_tip_box {
	width: 560px;
	margin: 0 auto;
	border: 1px solid #DCDDDE;
	height: 133px;
	padding: 10px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -285px;
	margin-top: -100px;
}

.video_tip_box .video_tip_icon_content {
	width: 103px;
	height: 103px;
	border-right: 1px solid #DCDDDE;
	padding: 10px 20px 10px 10px;
	float: left;
	margin-right: 15px;
}

.video_tip_icon {
	width: 123px;
	height: 123px;
	background: url("./img/tip_icon.png") no-repeat center;
}

.video_tip_message {
	height: 100%;
	display: block;
	font-size: 14px;
	text-align: left;
	padding-top: 10px;
}

.video_tip_message>span {
	line-height: 35px;
	color: #E29954;
}

.video_tip_message>span>i {
	font-style: normal;
	color: #F00737;
}

.video_tip_message>i {
	line-height: 35px;
	color: #9593A0;
	font-style: normal;
}