.lui_linkDoc_btn {
	display: inline-block;
	border-radius: 3px;
	background: #fff;
	border: 1px solid #30a5ff;
	color: #30a5ff;
	font-size: 12px;
	text-decoration: none;
	padding: 4px 7px;
	cursor:pointer;
	white-space : nowrap;
}

.lui_linkDoc_btn:hover {
	background-color: #30a5ff;
	color: #fff;
}

.lui_linkDoc_btn:hover i {
	background-position: -13px 0;
}

.lui_linkDoc_btn i {
	display: inline-block;
	width: 12px;
	height: 16px;
	background: url(../icon/relevance_main.png) no-repeat left top;
	margin-right: 5px;
	vertical-align: text-bottom;
}
.relevance_main_doc{
	color:#1b83d8;
 	text-decoration:underline;
}
.relevance_main_doc:hover{
	color:#e8872a;
}
.relevance_main_showUl li{
	white-space : nowrap;
	list-style-type:none;
	padding:4px 0px;
}
.relevance_main_showUl li a{
	display:inline-block;
	overflow: hidden; /*自动隐藏文字*/
}
.relevance_main_showUl table tr td{
	border:none ! important;
}
.relevance_main_showUl td{
	height:30px;
}
.relevance_main_url{
	text-overflow: ellipsis;/*文字隐藏后添加省略号*/
	/* white-space: nowrap;强制不换行
	width: 20em; 不允许出现半汉字截断 */
    color: #57a7da;
}
.relevance_main_url:hover{
	text-overflow: ellipsis;/*文字隐藏后添加省略号*/
	/* white-space: nowrap;强制不换行 */
	color: #e17d27;
}

.relevance_main_selectedbox_del{
	padding-left:15px;
	color:rgba(71, 180, 229, 1);
	text-decoration:underline;
	cursor:pointer;
	white-space: nowrap;/*强制不换行*/
}

.relvance_main_rightSpan{
	display:none;
}
