<?xml version="1.0" encoding="UTF-8"?>
<plugin
	xmlns="http://www.example.org/plugin-config"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.example.org/plugin-config ../../../../plugin.xsd ">
	<extension
		point="com.landray.kmss.lbpm.engine.operation">
		<!-- 启动并行新分支  -->
		<item
			name="operation">
			<param
				name="type"
				value="branchadmin_startconcurrentbranch" />
			<param
				name="messageKey"
				value="sys-lbpmservice-operation-branchadmin:lbpmOperations.fdOperType.processor.startconcurrentbranch" />
			<param
				name="behaviour"
				value="branchAdminStartConcurrentBranchBehaviour" />
			<param
				name="binder"
				value="operationNodeBinder" />
			<param
				name="reviewJs"
				value="/sys/lbpmservice/operation/branchadmin/operation_branchadmin_startconcurrentbranch.jsp" />
			<param
				name="mobileReviewJs"
				value="/sys/lbpmservice/mobile/operation/branchadmin/operation_branchadmin_startconcurrentbranch.js" />
			<param
				name="handlerType"
				value="branchadmin" />
			<param
				name="apiHelpPage"
				value="" />
			<param
				name="display"
				value="false" />
			<param
				name="isPassType"
				value="false" />
		</item>
	</extension>
	<extension
		point="com.landray.kmss.lbpm.engine.event">
		<!-- 启动并行新分支事件 -->
		<item
			name="event">
			<param
				name="type"
				value="branchAdminStartConcurrentBranchEvent" />
			<param
				name="messageKey"
				value="sys-lbpmservice-operation-branchadmin:lbpmOperations.fdOperType.processor.startconcurrentbranch.event" />
			<param
				name="provider"
				value="com.landray.kmss.sys.lbpmservice.operation.OperationEventProvider" />
			<param
				name="monitors"
				value="com.landray.kmss.sys.lbpmservice.operation.branchadmin.BranchAdminStartConcurrentBranchEvent" />
			<param
				name="description"
				value="sys-lbpmservice-operation-branchadmin:lbpmOperations.fdOperType.processor.startconcurrentbranch.event.description" />
		</item>
	</extension>
	
	<extension
		point="com.landray.kmss.lbpm.engine.operation">
		<!-- 撤回并行分支  -->
		<item
			name="operation">
			<param
				name="type"
				value="branchadmin_backbranch" />
			<param
				name="messageKey"
				value="sys-lbpmservice-operation-branchadmin:lbpmOperations.fdOperType.processor.backbranch" />
			<param
				name="behaviour"
				value="branchAdminBackBranchBehaviour" />
			<param
				name="binder"
				value="operationNodeBinder" />
			<param
				name="reviewJs"
				value="/sys/lbpmservice/operation/branchadmin/operation_branchadmin_backbranch.jsp" />
			<param
				name="mobileReviewJs"
				value="/sys/lbpmservice/mobile/operation/branchadmin/operation_branchadmin_backbranch.js" />
			<param
				name="handlerType"
				value="branchadmin" />
			<param
				name="apiHelpPage"
				value="" />
			<param
				name="display"
				value="false" />
			<param
				name="isPassType"
				value="false" />
		</item>
	</extension>
	<extension
		point="com.landray.kmss.lbpm.engine.event">
		<!-- 撤回分支事件 -->
		<item
			name="event">
			<param
				name="type"
				value="branchAdminBackBranchEvent" />
			<param
				name="messageKey"
				value="sys-lbpmservice-operation-branchadmin:lbpmOperations.fdOperType.processor.backbranch.event" />
			<param
				name="provider"
				value="com.landray.kmss.sys.lbpmservice.operation.OperationEventProvider" />
			<param
				name="monitors"
				value="com.landray.kmss.sys.lbpmservice.operation.branchadmin.BranchAdminBackBranchEvent" />
			<param
				name="description"
				value="sys-lbpmservice-operation-branchadmin:lbpmOperations.fdOperType.processor.backbranch.event.description" />
		</item>
	</extension>
	
	<extension
		point="com.landray.kmss.lbpm.engine.operation">
		<!-- 结束分支  -->
		<item
			name="operation">
			<param
				name="type"
				value="branchadmin_endbranch" />
			<param
				name="messageKey"
				value="sys-lbpmservice-operation-branchadmin:lbpmOperations.fdOperType.processor.endbranch" />
			<param
				name="behaviour"
				value="branchAdminEndBranchBehaviour" />
			<param
				name="binder"
				value="operationNodeBinder" />
			<param
				name="reviewJs"
				value="/sys/lbpmservice/operation/branchadmin/operation_branchadmin_endbranch.jsp" />
			<param
				name="mobileReviewJs"
				value="/sys/lbpmservice/mobile/operation/branchadmin/operation_branchadmin_endbranch.js" />
			<param
				name="handlerType"
				value="branchadmin" />
			<param
				name="apiHelpPage"
				value="" />
			<param
				name="display"
				value="false" />
			<param
				name="isPassType"
				value="false" />
		</item>
	</extension>
	<extension
		point="com.landray.kmss.lbpm.engine.event">
		<!-- 结束分支事件 -->
		<item
			name="event">
			<param
				name="type"
				value="branchAdminEndBranchEvent" />
			<param
				name="messageKey"
				value="sys-lbpmservice-operation-branchadmin:lbpmOperations.fdOperType.processor.endbranch.event" />
			<param
				name="provider"
				value="com.landray.kmss.sys.lbpmservice.operation.OperationEventProvider" />
			<param
				name="monitors"
				value="com.landray.kmss.sys.lbpmservice.operation.branchadmin.BranchAdminEndBranchEvent" />
			<param
				name="description"
				value="sys-lbpmservice-operation-branchadmin:lbpmOperations.fdOperType.processor.endbranch.event.description" />
		</item>
	</extension>
</plugin>
