@CHARSET "UTF-8";
.muiNotifyHeader{
	width: 100%;
    display: inline-table;
    border-bottom: .1rem solid #c9d7e0;
    background-color: #18b4ed !important;
    color: #fff;
    table-layout: fixed;
}
.muiNotifyHeader > div {
    display: table-cell;
    vertical-align: middle;
    overflow: hidden;
}
.muiNotifyHeaderBack {
    padding-left: 1rem;
    color: #fff;
    cursor: pointer;
}
.muiNotifyHeaderTitle {
    width: 50%;
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.muiNotifyList li{
	padding: .8rem .5rem .8rem 1rem;
    border-bottom: 1px solid #e5e5e5;
    display: block;
    list-style: none;
    margin: 0 1rem;
    overflow: hidden
}