<?xml version="1.0" encoding="UTF-8"?>
<plugin
	xmlns="http://www.example.org/plugin-config"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.example.org/plugin-config ../../../../../plugin.xsd ">
	<!-- 结束节点定义 -->
	<extension
		point="com.landray.kmss.lbpm.engine.node">
		<item
			name="nodeType" id="138bdecd59d7b47fe163773429bb4cd6">
			<param
				name="type"
				value="endNode" />
			<param
				name="messageKey"
				value="sys-lbpm-engine:lbpm.nodeType.endNode" />
			<param
				name="defClass"
				value="com.landray.kmss.sys.lbpm.engine.node.endnode.EndNode" />
			<param
				name="attributesJsp"
				value="/sys/lbpm/engine/node/endnode/node_attribute.jsp" />	
			<param
				name="nodeDescType"
				value="endNodeDesc" />
			<param
				name="taskBehaviour"
				value="endNodeBehaviourService" />																									
		</item>
		<item
			name="nodeDescType" id="138bdeef2731434e56eecdc489caefd4">
			<param
				name="type"
				value="endNodeDesc"/>
			<param
				name="chartJs"
				value="/sys/lbpm/engine/node/endnode/node_flowchart.js"/>
			<param
				name="taskDesc"
				value="endNodeDesc" />
		</item>
	</extension>
	<extension
		point="com.landray.kmss.lbpm.engine.event">
		<item
			name="event">
			<param
				name="type"
				value="lbpmProcessFinishEvent" />
			<param
				name="messageKey"
				value="sys-lbpm-engine-node-endnode:lbpm.eventType.lbpmProcessFinishedEvent" />
			<param
				name="provider"
				value="com.landray.kmss.sys.lbpm.engine.node.endnode.ProcessFinishEventProvider" />
			<param
				name="monitors"
				value="com.landray.kmss.sys.lbpm.pvm.event.ProcessEndEvent" />
			<param 
				name="description" 
				value="sys-lbpm-engine-node-endnode:lbpm.eventType.lbpmProcessFinishedEventDescription" />
		</item>
		
		<item
			name="event">
			<param
				name="type"
				value="lbpmProcessAbandonEvent" />
			<param
				name="messageKey"
				value="sys-lbpm-engine-node-endnode:lbpm.eventType.lbpmProcessAbandonedEvent" />
			<param
				name="provider"
				value="com.landray.kmss.sys.lbpm.engine.node.endnode.ProcessAbandonEventProvider" />
			<param
				name="monitors"
				value="com.landray.kmss.sys.lbpm.pvm.event.ProcessEndEvent" />
			<param 
				name="description" 
				value="sys-lbpm-engine-node-endnode:lbpm.eventType.lbpmProcessAbandonedEventDescription" />
		</item>
		<!-- start 增加兼容性，避免由于15503单修改事件名导致的历史项目项目升级无法触发结束事件和废弃事件-->
		<item
			name="event">
			<param
				name="type"
				value="lbpmProcessFinishedEvent" />
			<param
				name="messageKey"
				value="sys-lbpm-engine-node-endnode:lbpm.eventType.lbpmProcessFinishedEvent" />
			<param
				name="provider"
				value="com.landray.kmss.sys.lbpm.engine.node.endnode.ProcessFinishEventProvider" />
			<param
				name="monitors"
				value="com.landray.kmss.sys.lbpm.pvm.event.ProcessEndEvent" />
			<param 
				name="description" 
				value="sys-lbpm-engine-node-endnode:lbpm.eventType.lbpmProcessFinishedEventDescription" />
			<param
				name="display"
				value="false" />
		</item>
		<item
			name="event">
			<param
				name="type"
				value="lbpmProcessAbandonedEvent" />
			<param
				name="messageKey"
				value="sys-lbpm-engine-node-endnode:lbpm.eventType.lbpmProcessAbandonedEvent" />
			<param
				name="provider"
				value="com.landray.kmss.sys.lbpm.engine.node.endnode.ProcessAbandonEventProvider" />
			<param
				name="monitors"
				value="com.landray.kmss.sys.lbpm.pvm.event.ProcessEndEvent" />
			<param 
				name="description" 
				value="sys-lbpm-engine-node-endnode:lbpm.eventType.lbpmProcessAbandonedEventDescription" />
			<param
				name="display"
				value="false" />
		</item>
		<!-- end 增加兼容性，避免由于15503单修改事件名导致的历史项目项目升级无法触发结束事件和废弃事件-->
	</extension>
</plugin>