@charset "utf-8";
ul,
ol,
li {
  list-style: none;
}

/* 销假明细 */
.container{
    padding: 50px;
}
.muiDestroyLeaveAllSelect{
    display: block;
    margin: 20px;
}
.muiDestroyLeaveCheckbox{
    display: inline-block;
    min-height: 20px;
    line-height: 20px;
    position: relative;
    cursor: pointer;
}
.muiDestroyLeaveCheckbox>input{
    display: none;
}
.muiDestroyLeaveCheckbox label {
    display: inline-block;
    width: 14px;
    height: 14px;
    position: relative;
    top: 2px;
    left: 0px;
    cursor: pointer;
    margin-right: 6px;
    background: url(../images/address_checkbox.png) no-repeat center;
    background-size: 100% 100%;
}
/* 选中 */
.muiDestroyLeaveCheckbox input:checked+label{
    background: url(../images/address_checkbox_on.png) no-repeat center;
    background-size: 100% 100%;
}
/* 禁用 */
.muiDestroyLeaveCheckbox input:disabled+label{
    background: url(../images/vacation_forbidden.png) no-repeat center;
    background-size: 100% 100%;
}
/* 不确定项 */
.muiDestroyLeaveCheckbox input.notAll+label{
    background: url(../images/vacation_notAll.png) no-repeat center;
    background-size: 100% 100%;
}
.muiDestroyLeaveCheckbox em {
    font-size: 14px;
    color: rgba(17,31,44,0.85);
    font-style: normal;
}
.muiDestroyLeaveContent{
    background-color: #FFFFFF;
    border: 1px solid rgba(17,31,44,0.12);
    border-radius: 8px;
    padding-bottom: 40px;
}
.muiDestroyLeaveList{
    padding: 20px;
    overflow-x:hidden;
}
.muiDestroyLeaveList>li{
    margin-bottom: 32px;
}
.muiDestroyLeaveCheckbox>span{
    display: inline-block;
    font-size: 14px;
    color: #36A2FF;
    margin:0 6px;
}
.muiDestroyLeaveCheckbox>span.rest{
    font-size: 14px;
    color: #7A8189;
}
.muiDestroyLeaveDetails{
    margin-left: 24px;
    padding-bottom: 18px;
}
.muiDestroyLeaveDetails.approve{
    border-bottom: 1px solid rgba(17,31,44,0.08);
}
.muiDestroyLeaveDetailsProgress{
    height:28px;
    position: relative;
    margin:12px 0 0 0;
    font-size: 0;
}
.muiDestroyLeaveBaseline{
    position: absolute;
    width: 100%;
    height:4px;
    bottom: 0;
    background-color: #F0E18A;
}
.muiDestroyLeaveAllDayItem{
    position: absolute;
    width: 100%;
    left:0;
    font-size: 0;
}
.muiDestroyLeaveAmItem{
    /* position: absolute; */
    display:inline-flex;
    /* width: 47.5%; */
    /* left:0; */
    font-size: 0;
}
.muiDestroyLeavePmItem{
	display:inline-flex;
    /* position: absolute; */
   /*  width: 47.5%; */
    /* left:52.5%; */
    font-size: 0;
}
.muiDestroyLeaveItem{
    display: inline-block;
    background-color: #F2F9FE;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    height:24px;
    bottom: 4px;
    cursor: pointer;
    box-sizing: border-box;
}
.muiDestroyLeaveLunchBreak+.muiDestroyLeaveItem{
    border-left: 1px solid transparent !important;
}
.muiDestroyLeaveItem:hover{
    border-top: 1px solid #36A2FF !important;
    border-left: 1px solid #36A2FF !important;
    border-right: 1px solid #36A2FF !important;
}
.muiDestroyLeaveDetailsProgress div.muiDestroyLeaveItem.selected:not(:first-child):hover{
    border-left: 1px solid rgba(17,31,44,0.12);
}
.muiDestroyLeaveItem.hour:not(:first-child){
    border-left: 1px solid rgba(17,31,44,0.12);
}
.muiDestroyLeaveItem.hour{
    /* width: 25%; */
    flex: 1;
}
.muiDestroyLeaveItem.none{
    width: 25%;
    background-color: transparent;
}
.muiDestroyLeaveItem.halfDay{
    width: 100%;
}
.muiDestroyLeaveItem.selected{
    background: url(../images/vacation_success.png) #36A2FF no-repeat center;
    background-size: 14px 10px;
}
.muiDestroyLeaveItem.selected.done{
    background-color: rgba(54,162,255,0.4);
}
.muiDestroyLeaveBaseline>span{
    visibility: hidden;
    position: absolute;
    top: 8px;
    font-size: 12px;
    color: #7A8189;
}
.muiDestroyLeaveBaseline>span.allDay.halfDay.hour{
    visibility: visible;
}
.muiDestroyLeaveBaseline>span:nth-child(1){
    left:0;
}
.muiDestroyLeaveBaseline>span:nth-child(2){
    left:11.875%;
    transform: translateX(-50%);
}
.muiDestroyLeaveBaseline>span:nth-child(3){
    left:23.75%;
    transform: translateX(-50%);
}
.muiDestroyLeaveBaseline>span:nth-child(4){
    left:35.625%;
    transform: translateX(-50%);
}
.muiDestroyLeaveBaseline>span:nth-child(5){
    left:47.5%;
    transform: translateX(-100%);
}
.muiDestroyLeaveBaseline>span:nth-child(6){
    left:52.5%;
}
.muiDestroyLeaveBaseline>span:nth-child(7){
    left:64.375%;
    transform: translateX(-50%);
}
.muiDestroyLeaveBaseline>span:nth-child(8){
    left:76.25%;
    transform: translateX(-50%);
}
.muiDestroyLeaveBaseline>span:nth-child(9){
    left:88.125%;
    transform: translateX(-50%);
}
.muiDestroyLeaveBaseline>span:nth-child(10){
    left:100%;
    transform: translateX(-100%);
}
.muiDestroyLeaveListContainer{
    max-height: 732px;
    overflow-y: scroll;
}
/* 滚动条样式 */
.muiDestroyLeaveListContainer::-webkit-scrollbar{  
    width: 4px;
    height: 4px;
}
.muiDestroyLeaveListContainer::-webkit-scrollbar-track{
    border-radius: 10px;
    background-color: #fff;
}
.muiDestroyLeaveListContainer::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color:rgba(17,31,44,0.24);
}
.muiDestroyLeaveCardContent{
    display: inline-block;
    background-color: #F2F9FE;
    border-radius: 8px;
    padding:16px 40px 16px 16px;
    margin:20px 0;
}
.muiDestroyLeaveCardTitle{
    font-family: PingFangSC-Semibold;
    font-size: 17px;
    color: #0089FF;
    font-weight: 600;
    margin-bottom: 2px;
}
.muiDestroyLeaveCardTitleLabel{
    display: inline-block;
    border: 1px solid rgba(80,116,154,0.15);
    border-radius: 10px;
    font-size: 10px;
    color: rgba(80,116,154,0.85);
    padding:1px 6px;
}
.muiDestroyLeaveCardNumber{
    display: inline-block;
    font-size: 12px;
    color: rgba(17,31,44,0.56);
    margin-bottom: 10px;
}
.muiDestroyLeaveCardDate>span{
    font-family: PingFangSC-Medium;
    font-size: 17px;
    color: #111F2C;
    font-weight: 600;
}
.muiDestroyLeaveCardDate>i{
    display: inline-block;
    width: 24px;
    height: 12px;
    background: url(../images/vacation_arrow.png) no-repeat center;
    background-size: 100%;
    margin:0 10px;
}
.muiDestroyLeaveTimeItem>.muiDestroyLeaveItem:first-child{
    border-radius: 2px 0 0 0;
}
.muiDestroyLeaveTimeItem>.muiDestroyLeaveItem:last-child{
    border-radius: 0 2px 0 0;
}
.muiDestroyLeaveList>li.allDay span.allDay{
    visibility: visible;
}
.muiDestroyLeaveList>li.halfDay span.halfDay{
    visibility: visible;
}
.muiDestroyLeaveList>li.hour span.hour{
    visibility: visible;
}
.muiDestroyLeaveAmItem_sw{
	display: inline-flex;
	padding-top: 3px;
}
.muiDestroyLeavePmItem_xw{
	display: inline-flex;
	padding-top: 3px;
}
.hourLine{
	flex: 1;
}
.noshow{
    background-color: transparent!important;
    border: 0px!important;
    user-select: none!important;
    cursor: pointer!important;
    flex: 1;
}
.noshow:hover{
	border: 0px!important;
}
.noWorkTimes{
	display: inline-block;
}
.day_span{
	color: #111F2C!important;
}

.muiDestroyLeaveItemHalfDayAM{
    position: absolute;
    display:inline-flex;
    width: 47.5%;
    left:0;
    font-size: 0;
}
.muiDestroyLeaveItemHalfDayPM{
	display:inline-flex;
    position: absolute;
   	width: 47.5%;
    left:52.5%;
    font-size: 0;
}
.cardInfo_span{
	display: none;
}
.detailInfoForm_span{
	display: none;
}
.info_span{
	display: none;
}
.view_level_form{
	display: none;
}
.typeTd{
    min-width: 65px;
    text-align: center;
    max-width: 135px;
}
.startTimeTd{
	width:160px;
	text-align:center;
}
.endTimeTd{
	width:150px;
	text-align:center;	
}
.scTd{
	text-align:center;
	width: 110px;
}
.formtr{
	height:25px
}
.form_div{
	display: none;
	margin-top:15px;
	max-height:188px;
	min-height:49px;
	overflow:scroll;
}
.trtitle>td{
	font-weight:700
}