/* create 210811 */
/* === 公共 === */
.tb_variable input[type="text"] {
    border: 1px solid #ddd;
    height: 28px;
    line-height: 28px;
    /* width: 68px; */
}

.tb_variable textarea.inputsgl {
    height: 100px;
}

.varkind_radio {
    margin-right: 20px;
    cursor: pointer;
}

/* .varkind_radio input[type="radio"] {
    margin-right: 5px;
    vertical-align: middle;
    width: 0;
    height: 0;
    position: absolute;
    visibility: hidden;
}

.varkind_radio input+span:before {
    color: #f00;
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url(../images/icon_radio@2x.png) no-repeat left top;
    background-size: 14px auto;
    vertical-align: middle;
    margin-right: 5px;
}

.varkind_radio input:checked+span:before {
    background-image: url(../images/icon_radio_active.png);
}
 */
.lui_varkind_lock_icon {
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url(../images/icon_lock@2x.png) no-repeat left top;
    background-size: 18px auto;
    cursor: pointer;
}

.lui_varkind_lock_icon.unlock {
    background-image: url(../images/icon_unlock@2x.png);
}

.com_help {
    margin-left: 6px;
}

p.com_help {
    margin-left: 0;
    padding-top: 3px;
}

/* 必填 */
.lui_varkind_require {
    font-style: normal;
    color: #F25643;
    font-size: 14px;
    margin-right: 4px;
    display: inline-block;
    vertical-align: middle;
}

/* ===== IE8一倍图 =====*/
@media \0screen\,screen\9 {
    .lui_varkind_lock_icon {
        background-image: url(../images/icon_lock.png);
    }

    .lui_varkind_lock_icon.unlock {
        background-image: url(../images/icon_unlock.png);
    }
}

.lui_renderList_title {
    padding-bottom: 10px;
    text-align: left;
}

/* ===== padding starts ===== */
.lui_varkind_padding_wrap {
    position: relative;
    left: 3px;
    text-align: center;
    display: inline-block;
}

.lui_varkind_padding_wrap ul {
    list-style: none;
}

.lui_varkind_padding_wrap li {
    /* display: inline-block; */
}

.lui_varkind_horizontal {
    overflow: hidden;
    display: block;
    /* white-space: nowrap; */
    padding: 2px 0;
}

.lui_varkind_padding_wrap .padding_right {
    float: right;
}

.lui_varkind_padding_wrap .padding_left {
    float: left;
}

.lui_varkind_padding_wrap li input {
    width: 50px;
    height: 30px;
    padding: 0 5px;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 2px;
    color: #666;
}

.varkind_padding_icon {
    width: 20px;
    height: 20px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 21px auto;
    display: inline-block;
}

.lui_varkind_padding_wrap .lui_varkind_padding_top {
    display: inline-block;
    margin: 0 auto;
}

.lui_varkind_padding_wrap .lui_varkind_padding_right {
    display: inline-block;
    margin-left: 30px;
}

.lui_varkind_padding_wrap .lui_varkind_padding_right input {
}

.lui_varkind_padding_wrap .lui_varkind_padding_down {
    display: inline-block;
    margin: 0 auto;
    text-align: center;
}

.lui_varkind_padding_wrap .lui_varkind_padding_left {
    display: inline-block;
    margin-right: 30px;
}

/* 上 */
.lui_varkind_padding_top .varkind_padding_icon {
    display: block;
    margin-bottom: 2px;
    background-image: url(../images/image_top@2x.png);
}

/* 右 */
.lui_varkind_padding_right .varkind_padding_icon {
    position: relative;
    top: 5px;
    margin-left: 0px;
    /* left: 5px; */
    background-image: url(../images/image_right@2x.png);
}

/* 下 */
.lui_varkind_padding_down .varkind_padding_icon {
    position: relative;
    top: 5px;
    background-image: url(../images/image_down@2x.png);
    display: block;
}

/* 左 */
.lui_varkind_padding_left .varkind_padding_icon {
    background-image: url(../images/image_left@2x.png);
    position: relative;
    top: 5px;
}

/* ===== IE8一倍图 =====*/
@media \0screen\,screen\9 {
    /* 上 */
    .lui_varkind_padding_top .varkind_padding_icon {
        background-image: url(../images/image_top.png);
    }

    /* 右 */
    .lui_varkind_padding_right .varkind_padding_icon {
        background-image: url(../images/image_right.png);
    }

    /* 下 */
    .lui_varkind_padding_down .varkind_padding_icon {
        background-image: url(../images/image_down.png);
    }

    /* 左 */
    .lui_varkind_padding_left .varkind_padding_icon {
        background-image: url(../images/image_left.png);
    }
}

.lui_varkind_padding_wrap li.lui_varkind_padding_lock {
    position: absolute;
    left: 104px;
    top: 60px;
}

.lui_varkind_padding_wrap li.lui_varkind_padding_lock>span {
}

.lui_varkind_padding_top, .lui_varkind_padding_down {
    margin-right: 18px;
}

/* 锁定 */
.lui_varkind_padding_wrap .lui_varkind_lock_icon {
    position: absolute;
    left: 109px;
    top: 61px;
}

/* ===== padding ends ===== */
/* ===== borderRadius starts ===== */
.lui_varkind_borderRadius_wrap {
    width: 190px;
}

.lui_varkind_borderRadius_wrap ul {
    list-style: none;
    white-space: nowrap;
}

.lui_varkind_borderRadius_wrap li {
    display: inline-block;
}

.lui_varkind_borderRadius_wrap li.lui_varkind_borderRadius_tl, .lui_varkind_borderRadius_wrap li.lui_varkind_borderRadius_4 {
    margin-right: 6px;
}

.lui_varkind_borderRadius_wrap li input {
    width: 50px;
    height: 30px;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 2px;
    padding: 0 5px;
    color: #666;
}

.varkind_borderRadius_icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    /*     background: #f0f0f0; */
    position: relative;
    top: 5px;
    background-repeat: no-repeat;
    background-size: 21px auto;
    background-position: center;
}

/* 上左 */
.lui_varkind_borderRadius_tl .varkind_borderRadius_icon {
    margin-right: 5px;
    background-image: url(../images/image_upleft@2x.png);
}

/* 上右 */
.lui_varkind_borderRadius_tr .varkind_borderRadius_icon {
    margin-left: 5px;
    background-image: url(../images/image_upright@2x.png);
}

/* 下左 */
.lui_varkind_borderRadius_br .varkind_borderRadius_icon {
    margin-left: 5px;
    background-image: url(../images/image_downright@2x.png);
}

/* 下右 */
.lui_varkind_borderRadius_bl .varkind_borderRadius_icon {
    margin-right: 5px;
    background-image: url(../images/image_downleft@2x.png);
}

/* ===== IE8一倍图 =====*/
@media \0screen\,screen\9 {
    /* 上左 */
    .lui_varkind_borderRadius_tl .varkind_borderRadius_icon {
        background-image: url(../images/image_upleft.png);
    }

    /* 上右 */
    .lui_varkind_borderRadius_tr .varkind_borderRadius_icon {
        background-image: url(../images/image_upright.png);
    }

    /* 下左 */
    .lui_varkind_borderRadius_br .varkind_borderRadius_icon {
        background-image: url(../images/image_downright.png);
    }

    /* 下右 */
    .lui_varkind_borderRadius_bl .varkind_borderRadius_icon {
        background-image: url(../images/image_downleft.png);
    }
}

.lui_varkind_borderRadius_wrap li.lui_varkind_borderRadius_lock {
    display: block;
    text-align: center;
    padding: 3px 0;
}

.lui_varkind_borderRadius_wrap li.lui_varkind_borderRadius_lock>span {
    position: relative;
    top: 2px;
}

.lui_varkind_borderRadius_wrap li.lui_varkind_borderRadius_lock>span.unlock {
    background-image: url(../images/icon_unlock.png);
}

.lui_varkind_borderRadius_tl, .lui_varkind_borderRadius_br {
    margin-left: 0px;
}

/* ===== borderRadius ends ===== */
/* ===== top starts ===== */
.lui_varkind_top_wrap input.inputsgl {
    border: 1px solid #ddd;
    width: 100px;
    height: 28px;
    line-height: 28px;
    padding: 0;
}

.lui_varkind_top_wrap .lui_varkind_top_icon {
    display: inline-block;
    width: 31px;
    height: 27px;
    background: url(../images/image_shangyi@2x.png) no-repeat left top;
    background-size: 31px auto;
    position: relative;
    top: 8px;
}

/* ===== IE8一倍图 =====*/
@media \0screen\,screen\9 {
    .lui_varkind_top_wrap .lui_varkind_top_icon {
        background-image: url(../images/image_shangyi.png);
    }
}

/* ===== top ends ===== */
/* ===== 背景图 starts =====  */
.lui_varkind_material_wrap_tr {
}

.lui_varkind_material_img {
    width: 140px;
    height: 78px;
    background: #eee url(../images/icon_addtu.png) no-repeat center;
    background-size: 31px auto;
    line-height: 78px;
    text-align: center;
    margin-bottom: 4px;
}

.lui_varkind_material_img img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}

.lui_varkind_material_btn {
    color: #4285F4;
}

.lui_varkind_material_btn:hover {
    color: #346ac3;
}

@media \0screen\,screen\9 {
    .lui_varkind_material_img {
        background-image: url(../images/icon_addtu.png) ;
    }
}

.materialPreview-td a {
    color: #4285F4;
    position: relative;
    top: 60px;
}

.materialPreview-td a:hover {
    color: #346ac3;
}

.materialPreview-td .com_help {
    position: relative;
    /* top:60px; */
    line-height: 20px;
    display: block;
    margin-left: 0;
    margin-top: 4px;
}

/* ===== 背景图 ends =====  */
/* ===== icon图标 starts ==== */
.titleIconShowBox {
    display: inline-block;
    margin-right: 4px;
}

.varkindIcon a {
    color: #4285F4;
}

.titleIconShowBox .lui_icon_l {
    padding: 0px;
    height: 28px;
    width: 28px;
    line-height: 28px;
    background: #F7F8F9 url(../images/image_icon@2x.png) no-repeat center;
    background-size: 28px auto;
    border: 1px solid #eee;
    border-radius: 2px;
    font-size: 28px;
    color: #4284f4;
}

@media \0screen\,screen\9 {
    .titleIconShowBox .lui_icon_l {
        background-image: url(../images/image_icon.png);
    }
}

/* ===== icon图标 ends ==== */
/*去掉页脚+图片背景*/
.lui_varkind_material_img.lui_varkind_material_img_select{
    background-image:none;
}