
html {font-size: 62.5%;/*10 ÷ 16 × 100% = 62.5%*/}

body {font-size: 1.4rem;/*1.4 × 10px = 14px */}

h1 { font-size: 2.4rem;/*2.4 × 10px = 24px*/}

.layoutMobileWrap{
	display: none;
	margin-left: 20px;
}

.layoutMobileWrap .layoutMobileSwitch {
	display:inline-block;
}

.layoutMobileSwitch span{
	margin-left:5px;
}

.layoutMobileSwitch input{
	margin-top:-2px;
}

.mobileFormTempalte_wrap{
	width:300px;
	height:500px;
	display:inline-block;
	overflow-y: scroll;
	background-color: #fff;
}

/*********新增行面板*********/
.addRow{
	position : absolute;
	display : none;
	z-index: 200;
	background-color: #ECECEC;
	border: solid 1px #f0c49B;
	padding:10px 20px;
}

.addRow .panel .panel_tr{
	height: 25px;
}

.addRow .panel .panel_title{
	margin-right: 10px;
}

.addRow .panel .panel_tr .default{
	display: inline-block;
	min-width: 110px;
}

.addRow .panel .panel_tr .radio{
	margin-right:10px;
}

.addRow .panel .panel_tr .input-num{
	display:none;
	width:100px;
}

.addRow .panel .panel_tr .tip{
	display: inline-block;
	width: 13px;
	height: 13px;
	background-color: black;
	border-radius: 50%;
	color:white;
	text-align: center;
	margin-left:5px;
}

.addRow .addRowBtn{
	text-align:center;
	margin-top:10px
}

.addRow .btns .addRowBtn{
	color:#333;
	display: inline-block;
	padding: 5px 10px;
	background-image: linear-gradient(to bottom, #eeeeee, #cccccc);
	border: 1px solid #ccc;
	border-radius: 2px;
	background-color: blue;
	margin-right:5px;
	cursor: pointer
}

.align{
	position : absolute;
	display : none;
	z-index: 200;
	background-color: #ECECEC;
	border: solid 1px #f0c49B;
	padding:10px 20px;
}

.align .panel .panel_tr{
	height: 25px;
}

.align .panel .panel_title{
	margin-right: 10px;
}

.align .panel .panel_tr .default{
	display: inline-block;
	min-width: 110px;
}

.align .panel .panel_tr .radio{
	margin-right:10px;
}

.align .panel .panel_tr .input-num{
	display:none;
	width:100px;
}

.align .panel .panel_tr .tip{
	display: inline-block;
	width: 13px;
	height: 13px;
	background-color: black;
	border-radius: 50%;
	color:white;
	text-align: center;
	margin-left:5px;
}

.align .btns{
	text-align:center;
	margin-top:10px
}

.align .btns .btn{
	color:#333;
	display: inline-block;
	padding: 5px 10px;
	background-image: linear-gradient(to bottom, #eeeeee, #cccccc);
	border: 1px solid #ccc;
	border-radius: 2px;
	background-color: blue;
	margin-right:5px;
	cursor: pointer
}

/*=== webkit浏览器滚动条样式修改 Starts =============================================*/
::-webkit-scrollbar{
	width:8px;
	height:8px;
	background-color: #d1d1d1;
	-webkit-transition: background-color .3s ease-in-out;
					transition: background-color .3s ease-in-out;
}
::-webkit-scrollbar:hover{
	background-color:#d1d1d1;
}
::-webkit-scrollbar-thumb{
	background-color:#d1d1d1;
	height:50px;
	outline-offset:-1px;
	outline:1px solid #fff;
	-webkit-border-radius:5px;
	border-radius:5px;
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	-webkit-transition: background-color .3s ease-in-out;
					transition: background-color .3s ease-in-out;
}
::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:active{
	background-color:#9c9c9c;
	border-right: 1px solid #f1f1f1;
	border-left: 1px solid #f1f1f1;
}
::-webkit-scrollbar-track{
	background-color:#fff;
}
::-webkit-scrollbar-track:hover{
	background-color:#f1f1f1;
	-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,.15);
					box-shadow: inset 0 0 3px rgba(0,0,0,.15);
}
/*=== webkit浏览器滚动条样式修改 Ends ===============================================*/

.ui-state-highlight { 
	height: 1.5em; 
	line-height: 1.2em; 
}

/** 移动端配置界面样式 **/

.muiXformBaseInfo .muiSimple>tbody>tr>td, .muiSimple>tr>td {
	border-bottom-color:#e2e2e2;
}

.muiXformSplit{
	height: 10px;
	background-color: #F5F6FB;
}

#designer_draw:first-child table {
	margin-top: 2px;
	table-layout:fixed;
}

#designer_draw .tb_normal > tbody > tr > .td_normal_title, #designer_draw .tb_normal>tbody>tr>.muiTitle {
    background-color: #fff !important;
}

#designer_draw .tb_normal > tbody > tr.xform_row_selected > td.td_normal_title, #designer_draw .tb_normal > tbody >  tr.xform_row_selected > td.muiTitle{
    background-color: #DFEBFF !important;
}

.muiTable{
	border : none !important;
	border-collapse: collapse;
	padding-right : 0px !important;
}

.muiTable:first-child tr {
	border-top: 0px;
}

.muiTable div[formdesign],.muiTable span[formdesign],
.muiTable table[formdesign],.muiTable a[formdesign],
.muiTable label[formdesign] {
	width : 100%;
}

.muiTable tr {
	height: 30px;
}

.muiTable .muiContent{
	max-width : 16rem !important;
}

.muiTable .muiTitle{
	width: 26%;
	word-wrap: break-word;
	color: #666;
	/* min-width: 8rem; */
	vertical-align:middle;
	/* background-color:#ffffff; */
	padding: 10px 5px;
	max-width : 10rem !important;
}

.muiTable > tbody > tr > td,
.muiTable > tr > td{
	border: 0px;
	padding: 10px 0px;
	line-height: 1.42857143;
	vertical-align: top;
	font-size: 1.4rem;
	border-spacing: 0;
	border-collapse: collapse;
	/* border-top: 1px solid #e2e2e2 !important; */
	border-bottom: 1px solid #e2e2e2 !important;
	background-color: transparent;
}

.muiTable > tbody > tr > td[colspan="2"],
.muiTable > tr > td[colspan="2"]{
	padding-left: 5px;
}

.muiTable>tbody>tr:last-child>td,.muiTable .muiTable>tbody>tr:last-child>td {
    border-bottom: 0px !important;
}

.muiNormal {
	margin: 0px 5px;
}

.muiNormal>tbody>tr>td,.muiSimple>tr>td {
    border: 1px #e9e9e9 solid;
    height: 3.5rem;
    padding: 0rem .8rem;
    border-spacing: 0;
    border-collapse: collapse;
    background-color : #fff;
}

.muiStandard {
	margin: 0px 5px;
}

.muiStandard>tbody>tr>td,.muiSimple>tr>td {
    height: 3.5rem;
    padding: 0rem .8rem;
    border-spacing: 0;
    border-collapse: collapse;
    background-color : #fff;
}

.mobileTr .xform_label+.xform_textArea {
	margin-top:10px;
}

.mobileTr .xform_label+img {
	margin-top:10px;
}

.muiSelEleWrap{
	width:260px;
	min-height:3rem;
	position: relative;
}

.oldMui.muiFormEleWrap{
	font-size : 10px;
}

.detailTableNormalTd .oldMui.muiFormEleWrap{
	min-width: 1rem !important;
}


.compositie .oldMui.muiFormEleWrap {
	min-width: 6rem !important;
}

.tb_normal>tbody>tr>td:nth-child(2) .detailsTable td:not(.muiTitle) .oldMui.muiFormEleWrap {
	min-width: 9rem !important;
}

.tb_normal.muiTable td.muiTitle {
	max-width: 18rem !important;
	padding-left: 1.2rem;
}

/* #designer_draw .tb_normal.muiTable tr:hover{
	background: #DFEBFF;
} */

.xform_row_selected {
	background: #DFEBFF;
}

.muiSelInput:empty:after {
    content: attr(placeholder);
    color: #999;
    display: block;
    height: 100%;
    line-height: 4rem;
   /* font-size: 14px*/
}
.muiSelInput.muiSelInputSize {
	font-size: 14px !important;
}

.muiNormal .muiSelInput:empty:after {
    line-height: 0rem;
    height: 0px;
}

.detailTableNormalTd .muiSelInput:empty:after {
	font-size: 10px;
}

.detailTableNormal .detailTableNormalTd{
	padding : 0px!important;
}

.detailTableNormalTd table {
	table-layout: fixed;
}

.muiSelInputRight {
    line-height:4rem;
}

.mobileDesiger-preview-content-wrap{
	width:100%;
	height:540px;
	display:inline-block;
	/* margin-top:-45px; */
}

.mobileDesiger-preview-content{
	margin-top:-10px;
	width:250px;
	height:540px;
	background: url(img/phone@2x.png) no-repeat center;
	padding : 73px 29px 0px 27px;
	display:inline-block;
	background-size:contain;
}

.mobileDesiger-preview-html{
	display:inline-block;
	height:480px;
	overflow-y : scroll;
	overflow-x : hidden;
	width : 250px;
	margin-top : -3px;
}

/*rtf预览必填星号放在右边*/
.mobileDesiger-preview-html [fd_type="rtf"] img{
	width:96%
}
.mobiledesiger-preview-html [fd_type="rtf"] .txtstrong{
	color: #d02300;
}
/*rtf预览必填星号放在右边*/

.xform_mobile_top_bar_wrap {
	text-align: center;
    margin-bottom: -5px;
    display : inline-block;
    width : 100%;
    height : 34px;
    line-height : 38px;
}

.xform_mobile_top_bar {
	background: url(img/topbar.png) no-repeat center;
	width: 100%;
	height: 34px;
	line-height : 38px;
	background-size: 40% 34px;
}

.mobileDesiger-content-wrap{
	width:100%;
	height:100%;
	display:inline-block;
	margin-top:-50px;
}

.mobileDesiger-content{
	width: 284px;
	height: 100%;
	background: url(img/phone.png) no-repeat center;
	padding: 57px 18px 40px 16px;
	display:inline-block;
}

.mobileDesiger-html{
	display:inline-block;
	padding-left: 4px;
	height:100%;
	overflow : hidden;
}

.mobileDesiger-preview-html .oldMui.muiFormEleWrap{
	min-width: 16rem !important;
	font-size : 10px;
}

.mobileDesiger-preview-html .compositie .oldMui.muiFormEleWrap{
	min-width: 6rem !important;
}

.mobileDeleteRowIcon{
	position : absolute;
	background: url(img/delete_small@2x.png) no-repeat center;
	background-size: 13px 14px;
	display:inline-block;
	width : 32px;
	height : 22px;
	float: right;
	cursor: pointer;
	border: 1px solid #DDDDDD;
	border-radius: 2px;
	background-color : #fff;
	z-index: 10;
}

.mobileDeleteRowIcon:hover{
	position : absolute;
	background: url(img/delete_small_active@2x.png) no-repeat center;
	background-size: 13px 14px;
	display:inline-block;
	width : 32px;
	height : 22px;
	float: right;
	cursor: pointer;
	border: 1px solid #4285F4;
	border-radius: 2px;
	background-color : #fff;
}


.handingWay{
	vertical-align: middle;
	white-space: nowrap;
	overflow: hidden;
	text-overflow:ellipsis;
	position: absolute;
	right: 0.5rem;
	display: block;
	margin: 0;
	margin-top:-19px;
	font-size: 2rem;
  -webkit-flex: 1;        /* Chrome */ 
					flex: 1;        /* NEW, Spec - Opera 12.1, Firefox 20+ */
  -webkit-box-flex: 1;    /* OLD - iOS 6-, Safari 3.1-6 */  
  z-index : 10000;
}

.handingWay .iconTitle {
	text-align: center;
	font-size: 12px;
	display: block;
	color: #666;;
}

.handingWay .iconArea{
	width:90px;
	height:24px;
	border: 1px solid #0D93D6;
	border-radius: 100px;
	font-size:1.5rem;
	text-align:center;
	color:#37aee9;
	margin-left:1rem;
	line-height: 24px;
}

div[fd_type="newAuditNote"] {
	height: 28px !important;
	position: relative;
}

@CHARSET "UTF-8";
/** 右侧表单 **/
.xform_form_tb {
	border:none !important;
	width:100%;
	margin:0;
}
.xform_form_tb td {
	border:none !important;
	padding: 8px !important;
}
.xform_form_tb tr {
	border:none ! important;
}
.xform_form_tb a{
	cursor: pointer;
} 

td.xform_left{
	width: 286px;
	padding-left: 0px !important;
	padding-right: 0px !important;
	padding-top: 0px !important;
	vertical-align: top;
	border: 0px !important;
}

.xform_form_left {
	
}

.xform_form_title_wrap {
	height: 50px;
	border-bottom: 1px solid #d2d2d2;
}

.xform_form_title {
	margin-left: 11px;
	font-size: 14px;
	height: 50px;
	line-height: 50px;
}

.xform_form_title_left {
	width: 38%;
	padding-left:8px;
}

.xform_form_title_right {
	width: 30%;
	padding:8px;
	text-align : right;
}

.xform_app_name_wrap {
    text-align: center;
    display : inline-block;
    width : 100%;
    margin-top : 14px;
    margin-bottom: 20px;
}

.xform_app_name{
	width: 284px;
    height: 16px;
    line-height: 16px;
    display : inline-block;
    border-radius: 4px;
    box-shadow : 0px 0px 5px #f6f6f6;
    margin-left : 10px;
}

.xform_add_mobile_form{
	margin-right: 12px;
}

.xform_icon_add,.xform_icon_delete,.xform_icon_copy,.xform_icon_phone_copy,.xform_icon_edit {
	display: inline-block;
	width: 16px;
	height: 16px;
	text-align : center;
	cursor: pointer;
	margin-left: 14px;
}

.xform_icon_add i {
	width: 16px;
	height: 16px;
	background: url(img/add@2x.png) no-repeat center;
	background-size: contain;
	float: right;
}

.xform_icon_add i:hover {
	width: 16px;
	height: 16px;
	background: url(img/add_active@2x.png) no-repeat center;
	background-size: contain;
	float: right;
}

.xform_icon_edit i {
	width: 16px;
	height: 16px;
	background: url(img/edit@2x.png) no-repeat center;
	background-size: contain;
	float: right;
}

.xform_icon_edit i:hover {
	width: 16px;
	height: 16px;
	background: url(img/edit_active@2x.png) no-repeat center;
	background-size: contain;
	float: right;
}

.xform_icon_delete i {
	width: 16px;
	height: 16px;
	background: url(img/delete@2x.png) no-repeat center;
	background-size: contain;
	float: right;
}

.xform_icon_delete i:hover {
	width: 16px;
	height: 16px;
	background: url(img/delete_active@2x.png) no-repeat center;
	background-size: contain;
	float: right;
}

.xform_icon_copy i {
	width: 16px;
	height: 16px;
	background: url(img/copy@2x.png) no-repeat center;
	background-size: contain;
	float: right;
}

.xform_icon_copy i:hover {
	width: 16px;
	height: 16px;
	background: url(img/copy_active@2x.png) no-repeat center;
	background-size: contain;
	float: right;
}

.xform_icon_phone_copy i {
	width: 18px;
	height: 16px;
	background: url(img/phone_copy@2x.png) no-repeat center;
	background-size: contain;
	float: right;
}

.xform_icon_phone_copy i:hover {
	width: 18px;
	height: 16px;
	background: url(img/phone_copy_active@2x.png) no-repeat center;
	background-size: contain;
	float: right;
}


.xform_operation {
	display : none;
	margin-right: 12px;
	height: 16px;
	line-height: 16px;
}

.mobileform_panel_normal{
    width: 80%;
    margin: 2px 5px;
    padding: 1px 5px;
}
.mobileform_panel_mouseover{
    width: 80%;
    margin: 2px 5px;
    padding: 1px 5px;
    cursor: pointer;
    border: 1px solid #ccc;
}

.xform_client_type{
    background-color: #F6F7FA;
	border: 1px solid #d2d2d2 !important;
	padding:0px !important;
	box-shadow: 0px 0px 5px #f6f6f6;
	position: relative;
}

.xform_client_btn_wrap {
  height: 42px;
  line-height: 42px;
  text-align: center;
  font-size: 0;
  display:inline-block;
}
.xform_client_btn {
  display: inline-block;
  vertical-align: middle;
  width: 142px;
  padding: 0;
  text-align: center;
  font-size: 14px;
  border: none;
  outline: none;
  cursor: pointer;
}

.xform_preview_btn {
	position: absolute;
	right: 5px;
	display : inline-block !important;
	height: 40px;
	line-height: 40px;
}

.xform_control_title {
	/* font-weight:bold;
	color:rgb(153, 153, 153); */
	/* margin-bottom: 10px; */
	margin-top: 10px;
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid #d2d2d2;
	border-top: 1px solid #d2d2d2;
	padding-left: 19px;
	display: none;
}

.xform_control_wrap {
	overflow-x:hidden;
	overflow-y:auto;
}

.xform_pre_process {
	display:none;
}

.xform_child_control{
    width: 99.3%;
    line-height: 18px;
    /* padding-left: 12px; */
    margin-top: 10px;
   /*  margin-left: 16px; */
    border: 1px solid #fff;
}

.xform_parent_control{
    width: 99.3%;
    line-height: 18px;
    padding: 8px 0px;
    border: 1px solid #fff;
}

.xform_parent_control:first-child {
	margin-top: 0px;
}

.xform_parent_control:last-child {
	margin-bottom: 10px;
}

.xform_control_label {
	font-size: 14px;
	padding-left: 20px;
}

.xform_child_control_label {
	font-size: 14px;
	padding-left: 36px;
}

.xform_control_type {
	color:#989A9C;
	margin-left: 5px;
	font-size: 12px;
}

.xform_control_selected{
	background: #DFEBFF;
	border: 1px solid #4285f4;
	border-radius:2px;
}

.xform_control_selected .xform_child_control{
	border: 1px solid #DFEBFF;
	border-radius:2px;
}

.xform_control_mouseOver{
    cursor: pointer;
    border: 1px solid #4285f4;
    line-height: 18px;
    border-radius:2px;
}

.xform_form_wrap {
	overflow-x: hidden;
	overflow-y: auto;
	text-align: center;
	min-height: 200px;
}

.xform_client_btn > [class^="cap-icon-"] {
  font-size: 15px;
  margin-right: 3px;
}

.xform_client_btn.is-active {
  background: #fff;
}

.xform_mobile_draw_panel {
	text-align: center;
	background: #f6f6f6;
	box-shadow: 0px 0px 5px #f6f6f6;
	position: relative;
	vertical-align: top;
}

.xform_left_right {
	width: 7px;
	padding: 0px !important;
	background-color: #f6f6f6;
}

.xform_name_text {
	/** font-weight: bold; **/
	margin-left: 12px;
	position: relative;
	font-size : 14px !important;
	line-height : 18px;
	height: 18px;
	display: inline-block;
}

td.xform_right {
	width: 26%;
	vertical-align: top;
}

.xform_right_content {
	height:100%;
	background-color:#fff;
}

.xform_mobile_operation{
	padding : 0px !important;
	height: 100% !important;
	background-color: #fff !important;
}

.xform_mobile_operation .edui-icon.edui-icon-s{
	margin-top : 10px;
}

.muiDetailDown {
    width: 0;
    height: 0;
    border-left: .5rem solid transparent;
    border-right: .5rem solid transparent;
    border-top: .6rem solid rgba(153,153,153,.7);
    display: inline-block;
    padding-bottom: .1rem;
    margin-right: .6rem
}

.muiDetailTableDel {
    float: right;
    font-size: 13px;
    color: #666;
    line-height: 4rem;
    padding: 0 1rem
}

.model-leftbar-btn , .model-rightbar-btn {
    width: 24px;
    height: 140px;
    background: #F6F7FA;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.06);
    position: absolute;
    margin-top: -70px;
    cursor: pointer;
}

.model-rightbar-btn.hide{
	right : 90px;
}

.model-leftbar-btn.active i , .model-rightbar-btn.active i {
    background: url(../images/rightbar/shouqi@2x.png) no-repeat center;
    background-size: 8px;
}

.model-rightbar-btn i {
    width: 8px;
    height: 8px;
    background: url(img/zhankai.png) no-repeat center;
    background-size: 8px;
    display: block;
    margin: 40px auto 0;
}

.model-leftbar-btn i {
    width: 8px;
    height: 8px;
    background: url(img/shouqi.png) no-repeat center;
    background-size: 8px;
    display: block;
    margin: 40px auto 0;
}

.model-leftbar-btn p , .model-rightbar-btn p {
    text-align: center;
    margin: 8px 4px 0;
    font-size: 12px;
    color: #666666;
}

.mui_jsp_img {
	background: url(../../style/img/jsp.png) no-repeat; 
	margin: 0px; 
	width: 24px; 
	height: 24px; 
	display: inline-block;
	position: relative;
}

.mui_relationEvent_img {
	background: url(../../style/img/event.png) no-repeat; 
	margin: 0px; 
	width: 24px; 
	height: 24px; 
	display: inline-block;
	position: relative;
}

.mui_validator_img {
	background: url(../../style/img/validatorControl.png) no-repeat; 
	margin: 0px; 
	width: 24px; 
	height: 24px; 
	display: inline-block;
	position: relative;
}

.mui_hidden_img {
	background: url(../../style/img/hidden.png) no-repeat; 
	margin: 0px; 
	width: 24px; 
	height: 24px; 
	display: inline-block;
	position: relative;
}

.mui_relationRule_img {
		background: url(../../relation_rule/style/relation_rule_icon.png) no-repeat; 
	margin: 0px; 
	width: 24px; 
	height: 24px; 
	display: inline-block;
	position: relative;
}

/* 展开*/

.model-item-expansion {
	cursor: pointer;
}

.model-sidebar-desc {
    transition: all .3s;
}

.model-item-expansion .model-sidebar-desc:before {
    content: '';
    display: inline-block;
    border-width: 5px;
   	margin-right: 6px;
    border-style: solid;
    border-color: #7F8FA4 transparent transparent transparent;
    vertical-align: -3px;
}

.item-expansion .model-sidebar-desc:before {
    content: '';
    border-color: transparent transparent #7F8FA4 transparent;
    vertical-align: 3px;
}

/* 表单控件右对齐样式  Starts */
.muiFormEleWrap.muiFormRight{
	display: block;
}
.muiFormEleWrap.muiFormRight,
.muiFormEleWrap.muiFormRight .muiInput,
.muiFormEleWrap.muiFormRight .muiTextarea,
.muiFormEleWrap.muiFormRight .muiCateFiledShow{
	text-align: right;
}
.muiFormEleWrap.muiFormRight .muiInput::-webkit-input-placeholder,
.muiFormEleWrap.muiFormRight .muiTextarea::-webkit-input-placeholder{
	text-align: right;
    line-height: normal;
}
.muiFormEleWrap.muiFormRight.muiFormGroup,
.oldMui.muiFormEleWrap.muiFormRight.muiFormGroup{
	text-align: left;
}
.muiFormEleWrap.muiFormRight.muiFormLocation.muiFormStatusEdit .muiInput::-webkit-input-placeholder{
	padding-right: 0;
}

.muiFormEleWrap.muiFormRight ~ .muiValidate{
	float: right;
	margin-right: 2rem;
}
.muiFormEleWrap.muiFormRight .muiInput_View,
.muiFormEleWrap.muiFormRight .muiFormTextareaContent,
.muiFormEleWrap.muiFormRight.popup .muiSelInput,
.muiFormEleWrap.muiFormRight.muiFormGroup{
	padding-right: 2rem;
}
.muiFormEleWrap.muiFormRight .muiSelInput,
.muiFormEleWrap.muiFormRight .muiSelInput .muiSelInputRight.muiSelInputRightText{
	padding-right: 1rem;
}

.muiSelInputRightShow+.muiSelInput {
	padding-right: 2rem!important;
}

.muiSelInputRightShow.muiSelInputRightText+.muiMapInput.muiSelInput {
	padding-right: 5rem!important;
}

.muiCheckBoxWrap>.muiCheckItem, .muiRadioGroupWrap>.muiRadioItem {
	margin-top: 0.2rem!important;
}

.muiRadioGroupWrap>.muiRadioItem:not(:last-child) {
	margin-right:0.6!important;
}

.muiCheckBoxWrap>.muiCheckItem:not(:last-child) {
	margin-right:0.6!important;
}

.muiAttachmentEditOptItem.muiFormRight {
	float:right !important;
    width: 3.7rem;
    height: 3.7rem;	
}
/* 表单控件右对齐样式  Ends */


.muiAttachmentEditItem .muiAttachmentItemIcon i.mui-plus {
	color:#b7b7b7;
}

.xform_form_title_wrap td {
	padding: 0px !important;
}

.detailTableNormal {
    width: 100%;
    padding: 0;
    margin: 0rem auto;
    border-collapse: collapse;
    border: 0;
    background-color: #fff;
    border-bottom: 1px solid #E7E7E74d;
    table-layout:fixed;
}

.detailTableNormal>tbody>tr:first-child>td {
    text-align: center;
    background: #d3dae5 !important;
    color: #FFF;
    position: relative;
    border-left: 1px solid #fff;
    white-space:nowrap
}

.detailTableNormal>tbody>tr>td{
	min-width: 32px;
    height: 4rem;
    text-align: center
}

.detailTableNormal .oldMui.muiFormEleWrap{
	min-width:1rem!important;
}

/* 提示框 Starts
   ========================================================================== */
.lui_prompt_tooltip{
  margin: 0 5px;
  display: inline-block;
  position: relative;
  margin-left: -18px;
}
.lui_prompt_tooltip_drop{
  width: 16px;
  height: 16px;
  vertical-align: middle;
  display: inline-block;
  cursor: pointer;
  margin-top: -2px;
}
.lui_prompt_tooltip_drop > img{
  width: 100%;
  height: 100%;
}
.lui_dropdown_tooltip_menu{
  z-index: 10000;
  display: none;
  padding: 10px;
  min-width: 220px;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 4px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, .175);
  box-shadow: 0 0 12px rgba(0, 0, 0, .175);
  position: absolute;
  bottom: 26px;
  left: 50%;
  margin-left: -120px;
  white-space:  normal;
}
.lui_dropdown_tooltip_menu:after,
.lui_dropdown_tooltip_menu:before{
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  border-top: 8px dashed;
  border-top: 8px solid \9;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  position: absolute;
  left: 50%;
  margin-left: -10px;
  bottom: 0;
}
.lui_dropdown_tooltip_menu:after{
  color: #fff;
  bottom: -7px;
}
.lui_dropdown_tooltip_menu:before{
  color: #ccc;
  color: rgba(0, 0, 0, .1);
  bottom: -8px;
}
/* 提示框 Ends
   ========================================================================== */
   /*多页签*/
.mutiTabContainer{
	border: 1px solid #e7e7e7;
    border-radius: 3px;
}
.mutiTabContainer .mutiTabNav{
	border-bottom: 1px solid #e7e7e7;
	z-index: 0;
}
/*多页签*/

.muiOcrRequiredContainer {
    position: relative;
}