<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean
		name="/km/forum/mobile/kmForumMobileCategory.do"
		class="com.landray.kmss.km.forum.mobile.KmForumMobileCategoryAction"
		lazy-init="true"
		parent="KmssBaseAction">
	</bean>
	<bean
		name="/km/forum/mobile/kmForumPost.do"
		class="com.landray.kmss.km.forum.mobile.KmForumMobilePostAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.km.forum.forms.KmForumPostForm" />
		<property name="forwards">
			<map>
				<entry
					key="viewTopic"
					value="/km/forum/mobile/view_data.jsp" />
				<entry
					key="viewPost"
					value="/km/forum/mobile/view/viewPost.jsp" />
				<entry
					key="listPost"
					value="/km/forum/mobile/list/listPost.jsp" />
			</map>
		</property>
	</bean>
</beans>