.filling{
    width: 100%;
    display: inline-flex;
}
.filling-left-botton{
    display: inline-block;
}
.filling-right-content{
    display: inline-block;
}
.filling-left-botton{
    width: 14%;
    border-left: 1px solid #dfe3e9;
    border-right: 1px solid #dfe3e9;
    border-top: 1px solid #dfe3e9;
}
.filling-right-content{
    width: 88%;
    padding-left: 10px;
}
.fillling-left-button-field{
    height:47px;
    text-align: center;
    line-height: 47px;
    border-bottom: 1px solid #dfe3e9;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}
.fillling-left-button-field.active{
    color:#4285f4;
}
.lui_form_body > .lui_form_path_frame {
    padding-top: 0px;
}
.lui_form_content {
    padding:0px 0px;
}
.filling-button{
    padding: 5px;
    width: 100%;
    border: 1px solid #dfe3e9;
    text-align: right;
}
.filling-button .lui_widget_btn{
    /*width: 88px;*/
}
.filling-button .lui_toolbar_btn_def .lui_toolbar_btn_l {
    height: 28px;
}
.lui_form_body {
    background-color: #ffffff;
}
.ele-tabs-ink-bar {
    background-color: #4285f4;
}
.ele-tabs .ele-tabs-left-bar .ele-tabs-ink-bar, .ele-tabs .ele-tabs-right-bar .ele-tabs-ink-bar {
    width: 2px;
    top: 0;
    left: auto;
    height: auto;
    bottom: auto;
}
.ele-materia-picker-icon-tabs .ele-tabs-ink-bar {
    left: 0!important;
}
.ele-tabs-ink-bar.active {
    z-index: 0;
    /*position: absolute;*/
    bottom: 1px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 2px;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    width: 2px;
    left: 14px;
}
