@charset "utf-8";

/***************** 搜索 start **********************/
.dialog-header{
	margin-bottom:15px;
	background-color:#fff;
}
.dialog-header .header-search{
	
}

.header-search .hearder-search-selected{
	padding: 10px 0px;
	height: auto;
	overflow: hidden;
	border: 0;
	background: none;
	border-bottom: 1px solid #d5d5d5;
}

.hearder-search-selected .hearder-search-expand{
	float: right;
	font-size: 12px;
	color: #4285f4;
	display: inline-block;
	padding-right: 10px;
	line-height: 26px;
	cursor: pointer;
}

.header-search .hearder-search-opt{
	
padding: 8px 0px;
	
text-align: right;
}

.hearder-search-opt .search-opt-btn{
	/* float: right; */
	width: 88px;
	display: inline-block;
	height: 28px;
	line-height: 28px;
	text-align: center;
	font-size: 14px;
	border-radius: 2px;
	cursor: pointer;
	transition: all 0.3s;
	background: #fff;
	border: 1px solid #4285f4;
	/* margin-right: 10px; */
	background: #4285f4;
	color: #fff;
	margin-left: 10px;
}
.hearder-search-opt .search-opt-btn-clean{
	/* float: right; */
	width: 88px;
	display: inline-block;
	height: 28px;
	line-height: 28px;
	text-align: center;
	font-size: 14px;
	border-radius: 2px;
	cursor: pointer;
	transition: all 0.3s;
	border: 1px solid #4285f4;
	/* margin-right: 10px; */
	background: #fff;
	color: #4285f4;
}

.search-opt-btn:hover {
  background: #679DF6;
}

.header-search ul li{
	list-style:none;
	/* position: relative; */
	padding: 8px 0;
	border-bottom: 1px dashed #d5d5d5;
	overflow: hidden;
	min-height: 25px;
	width: 50%;
	display: inline-block;
}

.lui-search-item-title{
	font-size: 14px;
	padding: 5px 0px;
	text-indent: 20px;
	float: left;
	background-color: transparent;
	width: 40%;
	text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.lui-search-item-title span{
	width: 100px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}

.lui-search-item-content{
	position: relative;
	float: left;
	padding-left: 15px;
	background-color: transparent;
	width:50%;
}

.lui-search-item-content .search-string{
	
}

.lui-search-item-content .search-address{
	padding-top : 5px;
}

.search-string .search-string-input{
	display: inline-block;
	border: 1px solid #dbdbdb;
	padding: 5px;
	-webkit-appearance: textfield;
	outline: none;
	border-radius:4px;
	width:95%;
}

.search-string .search-string-ok{
	margin-left: 4px;
	padding: 0 5px!important;
	height: auto !important;
	line-height: 25px;
	color: #333;
	border-radius: 4px;
	border: 1px solid #d5d5d5!important;
	background-color: #fff;
	cursor: pointer;
}

.search-string .search-string-ok:hover{
	color: #fff;
	border-color: #4285f4 !important;
	background-color: #4285f4;
}

.search-string .search-icon{
	position: absolute;
	top: 0px;
	bottom: 0px;
	margin: auto 10px;
	display: inline-block;
    width: 16px;
    height: 16px;
}
/***************** 搜索 end **********************/

.lui-listview-container{
	
}

.lui-listview-container .lui-listview-header{
	
}

.lui-listview-container .lui-listview-content{
	
}

.lui-listview-content .lui-listview-table{
	  
}

.lui-listview-content .lui-listview-table thead th{
	font-size: 14px;
	border-bottom: 1px dotted #d5d5d5;
	background-color: #fff;
	padding:0 2px;
	height: 40px;
	line-height: 40px;
}

.lui-listview-content .lui-listview-table tbody tr{
	border-bottom: 1px dotted #d5d5d5;
	transition: background-color .2s ease-in-out;
	cursor : pointer;
}

.lui-listview-content .lui-listview-table tbody tr:last-child {
	border-bottom: 1px dotted #d5d5d5;
}

.lui-listview-content .lui-listview-table tbody tr:nth-child(even){
	background-color:#fcfcfc;
}

.lui-listview-content .lui-listview-table tbody tr:hover{
	background-color:#d9e7fd;
}

.lui-listview-content .lui-listview-table tbody tr td{
	padding: 8px 2px;
	text-align : center;
	word-break : break-all;
	word-wrap: break-word;
}

.lui-listview-container .lui-listview-foot{
	
}

.drilling-link{
	margin: 0px 2px;
	color:#2574ad;
	border-bottom:1px solid transparent;
}

.drilling-link:hover{
	color:#123a6b;
	border-bottom-color:#123a6b; 
}

.selectDivItem{
	width: 150px;
	display: inline-block;
	border-bottom: 1px solid #d5dbe2;
	float: left;
	height: 40px;
	text-align: center;
}

.lui_widget_btn_txt{
	display: inline-block;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 150px;
	overflow: hidden;
	float: left;
}

.lui_widget_btn_icon{
	float: left;
}
