@charset "utf-8";

.placeholderWrap{
	display: inline-block;
	width : 100%;
}

.placeholderRadio{
	
}

.placeholderRadio label{
  margin: 5px 25px 5px 0;
  display: inline-block;
}

.placeholderCheckbox{
	
}

.placeholderCheckbox label{
  margin: 5px 25px 5px 0;
  display: inline-block;
}

.placeholderSelect{
	
}

/****************** 弹出框 start *******************/
/***穿透的样式**/
.lui-placeholder-drilling{
	text-overflow: ellipsis;/*文字隐藏后添加省略号*/
	color: #57a7da;
	cursor: pointer;
	display: inline-block;
	margin-right: 10px;
}

.lui-placeholder-drilling:hover{
	color: #e17d27;
}

.lui-placeholder{
	display: inline-block;
	width:100%;
	display: flex;
	flex-wrap: nowrap;
}

.lui-placeholder .lui-placeholder-textshow{
	vertical-align: bottom;
	text-align:left;
	word-break:break-all;
	border-bottom: 1px solid #b4b4b4;
	flex-grow: 1;
}

.lui-placeholder .lui-placeholder-oper{
	vertical-align: bottom;
	white-space: nowrap;
	padding-left: 5px;
	text-align:left;
}

.lui-placeholder .lui-placeholder-oper .lui-placeholder-button{
	cursor : pointer;
}

.lui-placeholder-textshow ol.mf_list{
  position: relative;
  display: inline;
  padding-left:0px;
}

.lui-placeholder-textshow ol.mf_list li.mf_item {
  border: 1px solid transparent;
  border-radius:10px;
  cursor: pointer;
  display: inline-block;
  padding-left: 2px;
  padding-right: 0px;
  color: #4285f4;
  transition-duration: .3s;
}

/* Selected item that's highlighted by mouseover. */
.lui-placeholder-textshow ol.mf_list li.mf_item.mf_highlighted {
  color: #f56b6b;
  background-color: transparent;
}

.lui-placeholder-textshow ol.mf_list li.mf_item.mf_selected a.mf_remove,
.lui-placeholder-textshow ol.mf_list li.mf_item.mf_highlighted a.mf_remove{
  visibility: visible;
  color: #f56b6b!important;
}
/* Selected item that's selected by click or keyboard. */
.lui-placeholder-textshow ol.mf_list li.mf_item.mf_selected {
  color: #f56b6b;
  background-color: transparent;
}

/* Remove link. */
.lui-placeholder-textshow ol.mf_list li.mf_item a.mf_remove {
  color: #e0e0e0;
  font-size: 12px;
  margin-left: 2px;
  text-decoration: none;
  transition-duration: .3s;
  visibility: hidden;
}

/* Remove link that's highlighted. */
.lui-placeholder-textshow ol.mf_list li.mf_item.mf_highlighted a.mf_remove {
  color: #FFFFFF;
}

/* Remove link that's selected. */
.lui-placeholder-textshow ol.mf_list li.mf_item.mf_selected a.mf_remove {
  color: #FFFFFF;
}

.lui-placeholder-textshow.placeholder_textShow_readonly ol.mf_list li.mf_item.mf_selected a.mf_remove, .lui-placeholder-textshow.placeholder_textShow_readonly ol.mf_list li.mf_item.mf_highlighted a.mf_remove{
    visibility: hidden;
}
.lui-placeholder-textshow.placeholder_textShow_readonly ol.mf_list li.mf_item.mf_highlighted{
    color: #333333;
}
.lui-placeholder-textshow.placeholder_textShow_readonly ol.mf_list li.mf_item{
    color: #333333;
    cursor: default;
}
.lui-placeholder .lui-placeholder-textshow.placeholder_textShow_readonly{
    border: 0px;
}

/****************** 弹出框 end *******************/

/*****************树图********************/
.tree-wrap {
    position: relative;
    display: inline-block;
    width: 95%;
    font-size: 12px;
    line-height: 1;
    text-align: left;
}

.tree-label-wrap {
    position: relative;
    border: 1px solid #ccc;
    cursor: default;
}

.tree-label-wrap,
.tree-dropdown {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tree-label-wrap .tree-label {
    padding: 4px 22px 4px 8px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #1b83d8;
}

.tree-arrow {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #000;
    position: absolute;
    top: 0;
    right: 5px;
    bottom: 0;
    margin: auto;
}

.tree-dropdown {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    margin-top: 5px;
    width: 100%;
    z-index: 1000;
}

.tree-dropdown .tree-options {
    max-height: 200px;
    overflow: auto;
}

.tree-search input {
    width: 100%;
    padding: 2px 4px;
    border: 0;
    font-size: 16px;
}

.tree-option,
.tree-search,
.tree-optgroup-label {
    padding: 6px 8px;
    border-bottom: 1px solid #eee;
    cursor: default;
}

.tree-option {
    cursor: pointer;
    text-align: left;
    color: #1b83d8;
}

.tree-option.hl {
    background-color: #f5f5f5;
}

.tree-wrap.multiple .tree-option {
    position: relative;
    padding-left: 30px;
}

.tree-wrap.multiple .tree-checkbox {
    position: absolute;
    display: block;
    width: 30px;
    top: 0;
    left: 0;
    bottom: 0;
}

.tree-wrap.multiple .tree-option .tree-checkbox i {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 14px;
    height: 14px;
    border: 1px solid #aeaeae;
    border-radius: 2px;
    background-color: #fff;
}

.tree-wrap.multiple .tree-option.selected .tree-checkbox i {
    background-color: #1b83d8;
    border-color: transparent;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAGCAYAAAD+Bd/7AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNXG14zYAAABMSURBVAiZfc0xDkAAFIPhd2Kr1WRjcAExuIgzGUTIZ/AkImjSofnbNBAfHvzAHjOKNzhiQ42IDFXCDivaaxAJd0xYshT3QqBxqnxeHvhunpu23xnmAAAAAElFTkSuQmCC');
    background-repeat: no-repeat;
    background-position: center;
}

.tree-wrap .tree-option:hover {
    background-color: #f5f5f5;
}

.tree-optgroup-label {
    font-weight: bold;
}

.hidden {
    display: none;
}

.tree-search-icon-del{
	display : none;
	width:16px; 
	height:16px; 
	background:url(../images/icon_del.png) no-repeat left top; 
	position:absolute; 
	right:10px; 
	top:10px; 
	cursor:pointer;
}
/*******************树图end**********************/
.modelingPlaceholder>.placeholderWrap select{
    padding-left: 0;
}