<div class="muiMeetingBookInfoArea">
	<div class="muiMeetingBookInformation canBook" style="display:none">
		
		<!--
		<div class="muiMeetingBookInfoToolbar">
			<span>已选择：</span>
			<span data-dojo-attach-point="cancelBtnNode">取消</span>
		</div>
		-->
		
		<span class="muiMeetingBookInfoCancel" data-dojo-attach-point="cancelBtnNode"><i class="mui mui-close"></i></span>
		
		<div class="muiMeetingBookInfoMain" data-dojo-attach-point="infoMainNode">
		
			<div class="muiMeetingBookInfoHeading" style="width: 40%;">
				<div class="muiMeetingBookInfoHeadingWrapper">
					<div data-dojo-attach-point="timeZoneNode" class="time"></div>
					<div class="txtbar">
						<span data-dojo-attach-point="placeNameNode" class="place"></span>
					</div>
				</div>
			</div>
			
			<div class="muiMeetingBookInfoContent"  style="width: 49%;">
				<ul data-dojo-attach-point="detailNode" class="muiMeetingBookInfoContentWrapper">
				</ul>	
			</div>
			
			<div class="muiMeetingBookInfoBtn"  style="width: 11%;" data-dojo-attach-point="operationNode">
				<i></i>
				<span class="muiMeetingBookInfoBtnLabel" data-dojo-attach-point="operationTextNode"></span>
			</div>
			
		</div>
		
	</div>
	
	<div class="muiMeetingBookStatus" style="display:block">
		<ul>
			<li data-flag="late"></li>
			<li data-flag="occupied"></li>
			<li data-flag="selected" style="display: none;"></li>
			<li data-flag="exam"></li>
	    	<li data-flag="selectable"></li>
		</ul>
	</div>
 </div>