/* 移动端新增样式 */
.mui-review-platform-nav{
    border-radius: 8px!important;
}
.mui-review-platform-template-item-head div.mui-review-head-r{
    top:17px;
    right: 15px;
    padding:0;
}
.ld-review-platform-template-item-head .ld-review-head-r .ld-icon-toggle-up{
    background-image:url(../images/icon-toggle-up@2x.png)!important;
    background-size: contain;
}
.ld-review-platform-template-item-head .ld-review-head-r .ld-icon-toggle-down{
    background-image:url(../images/icon-toggle-down@2x.png)!important;
    background-size: contain;
}
.mui-review-platform-template-item-head .mui-review-head-r .mui-icon-toggle-up{
    height:18px!important;
    width:18px!important;
}
/* 首页列表 */
.mui-review-menu-frame-nav em{
    color: rgba(17,31,44,0.4)!important;
}
.mui-review-platform-template-item-content ul{
    padding:0!important;
}
.ld-review-platform-template-item-content ul {
    border-top: 1px solid rgba(17,31,44,0.08);
    list-style: none;
    padding: 0 10px 20px 10px!important;
}
div.mui-review-platform-template-title{
    padding-right:0;
}
.mui-review-platform-template-title p{
    padding: 0 10px;
    color:#111F2C!important;
}
.mui-review-platform-template-item{
    margin-bottom:12px!important;
    border-radius: 8px!important;
}
/* 移动端列表页样式 */
.muiKmReviewItem{
    margin-top: 12px!important;
}
.muiKmReviewItem .muiKmReviewListItem{
    padding:15px;
}
.muiKmReviewItem .muiKmReviewListItem .muiKmReviewListProcessContainer{
    font-family: PingFangSC-Regular;
    font-size: 13px!important;
    color: rgba(17,31,44,0.40)!important;
    letter-spacing: 0;
}
.muiKmReviewItem .muiKmReviewListItem .muiKmReviewListTitle{
    font-family: PingFangSC-Regular;
    color: #111F2C!important;
    letter-spacing: 0;
} 
span.muiProcessExamine{
    color:#0089FF;
}
span.muiProcessRefuse{
    color:#FF9F00;
}
span.muiProcessPublish,
span.muiProcessDiscard{
    color: rgba(17,31,44,0.28);
}
.muiKmReviewItem .muiKmReviewListItem .muiKmReviewListStatusTag{
    bottom:12px;
}
/* 搜索框 */
div#mui_header_Header_0{
    padding:0 16px 0 4px!important;
    height: 52px!important;
    line-height: 52px;
}
div.muiSearchBar{
    padding: 0 12px;
}
div.muiSearchBarContainer{
    height:36px;
    line-height: 36px;
}
div.muiSearchIcon{
    height:36px;
    line-height: 36px;
    top:0px!important;
}
/* 搜索框icon */
.muis-search:before{
    color:rgba(17,31,44,0.4);
}
.muiSearchBarContainer>div.muiSearchDiv{
    border-radius: 15px;
    background-color: rgba(17,31,44,0.08);
}
.muiHeaderItem .muiFontColorMuted{
    font-size: 12px;
    color: #111F2C!important;
}
input.muiSearchInput,
input.muiSearchInput::placeholder{
    color:rgba(17,31,44,0.4);
    font-size: 15px!important;
}
div.muiHeaderCategoryWrap{
    height:34px;
    line-height: 34px;
    border-radius: 15px;
    top:7px;
    padding: 0 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: #111F2C;
}
.muis-menu:before{
    font-size: 14px;
}
.muiHeaderCategoryTxt{
    font-size: 15px;
    line-height: 35px;
    min-width:40px;
    text-align: center;
}
div.muiHeaderItemLable{
    padding:0;
}
.muiHeaderItem.muiHeaderItemIcon{
    margin-right: 6px;
}
div.muiSimpleCateContainer{
    border: none;
}
/* 排序的icon */
.muiHeaderView{
    padding: 0 15px!important;
}
.muiHeaderView .muiSort span.muiSortIcon:before{
    top:1px;
    border-left: 1px solid #999;
    border-top: 1px solid #999;
    border-bottom:none;
    border-right: none;
    transform: rotate(45deg);
    width: 3px;
    height: 3px;
} 
.muiHeaderView .muiSort span.muiSortIcon:after{
    top:5px;
    border-right: 1px solid #999;
    border-top: 1px solid #999;
    border-bottom:none;
    border-left: none;
    transform: rotate(135deg);
    width: 3px;
    height: 3px;
} 
.muiHeaderView .muiSort.down .muiSortIcon:after {
    border-color:#0089FF;
}
.muiHeaderView .muiSort.up .muiSortIcon:before{
    border-color:#0089FF;
}

/* 分类 */
.muiSimpleCateContainer .muiSimpleCateContent:first-child{
    box-shadow: none!important;
    border-right:1px solid #eee;
    background-color:white!important;
    box-sizing: border-box;
}
.muiCateItem.muiCategoryEntered .muiCateSelArea{
    opacity: 0;
}
.muiCateItem.muiCategoryEntered .muiCateInfo .muiCateName{
    color:#0089FF;
    line-height: 48px!important;
}
.muiCateInfo div.muiCateName{
    color:#111F2C;
    line-height: 48px!important;
}
.muiCateItem.muiCategoryEntered .muiCateMore i.mui-forward:before{
    color:#0089FF;
}
.muiCateSelArea div.muiCateSeled {
    background-color: white;
    border:4px solid #0089FF;
    box-sizing: border-box;
}
.muiCateItem.animated{
    height:48px!important;
    line-height:48px;
}
.muiCatePath{
    background:#F2F2F6!important;
}
.muiCatePathContent{
    background:transparent!important;
}
.muiCateSelArea .muiCateSel i.mui-checked.muiCateSelected:before{
    display: none;
}
.muiCatePathItem:after, 
.muiCatePathTitleItem:after,
.muiCatePathContent .mblScrollableViewContainer>div:after, 
.muiCatePathContent>div:after{
    right:0.1rem!important;
}
/* 分类下的按钮列 */
div.muiCateSec{
    height:75px;
    line-height: 75px;
}
.muiCateSecContainer .muiCateSecLeft.muiCateSecBtnDis{
    display: none;
}
div.muiCateSecRight {
    width:100%;
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
div.muiCateSecRight span {
    width:160px;
    height:50px;
    border-radius: 8px;
    line-height:50px;
    font-size: 17px;
}
div.muiCateSecRight span.muiCateClearBtn{
    border: 1px solid #E8EAEB;
    color: rgba(17,31,44,0.56);
}
div.muiCateSecRight span.muiCateSecBtn{
    background: #0089FF;
}

/* 筛选下的按钮 */
div.filterlayer_bottom_buttons{
    width:100%;
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:75px;
    box-sizing:border-box;
}
div.filterlayer_bottom_buttons div {
    width:160px;
    height:50px;
    border-radius: 8px;
    line-height:50px;
    font-size: 17px;
}
div.filterlayer_bottom_buttons div.filterlayer_bottom_button.bg_1{
    border: 1px solid #E8EAEB;
    color: rgba(17,31,44,0.56);
    margin-right: 10px;
}
div.filterlayer_bottom_buttons div.filterlayer_bottom_button.bg_2{
    background: #0089FF;
}

/* 筛选弹窗 */
div.filterlayer_content{
    padding-bottom: 150px;
    border-radius: 8px 8px 0 0;
}
div.filterlayer_content .mui-review-head{
    height:44px;
    line-height: 44px;
    font-size: 17px;
    position: relative;
    padding-bottom: 8px;
    margin-bottom: 10px;
}
div.filterlayer_content .mui-review-head:after{
    position: absolute;
    content: '';
    height: 8px;
    width: 100%;
    background: #F2F3F5;
    bottom: 0;
    left: 0;
}
div.filterlayer_content .mui-review-head .mui-icon-toggle-down{
    position: absolute;
    height: 10px;
    width: 10px;
    left: 20px;
    top: 14px;
    transform: rotate(-45deg);
    border-bottom: 1px solid #111F2C;
    border-left: 1px solid #111F2C;
}
.filterlayer_content div.filterItem{
    padding-bottom: 24px;
}
.filterlayer_content h4.filterItemTitle{
    font-family: PingFangSC-Regular;
    font-size: 15px;
    color: #111F2C;
    letter-spacing: 0;
    padding:0 0 0 9px;
    margin-bottom: -3px;
}
.filterlayer_content div.filterItem{
    border-bottom:none;
}
div.filterlayer_content ul li{
    width:50%;
    padding:0 9px;
    height:36px;
    line-height: 36px;
    border-radius: 8px;
    margin:15px 0 0 0;
    background: #FFFFFF;
}
div.filterlayer_content ul li a{
    font-family: PingFangSC-Regular;
    font-size: 15px;
    color: rgba(17,31,44,0.56);
    letter-spacing: 0;
    text-align: center;
    border: 1px solid #E2E3E5;
    background:white;
    box-sizing: border-box;
    height:36px;
    line-height: 34px;
    border-radius: 8px;
}
div.filterlayer_content ul li.selected a, .filterlayer_content ul li:active a{
    background: #0089FF;
    color:white;
    border:none;
    line-height: 36px;
    border:none;
}
.filterlayer_content ul li.selected a::after{
    display: none!important;
}


.filterlayer_content span.filterItemPicker_split{
    background-color:#E2E3E5;
}
.muiDocViewHeaderStatus.processStatusDone,
.muiDocViewHeaderStatus.processStatusDiscard{
    bottom:-6rem;
}

/* 审批页面 */
.muiCheckItem.hasText{
    line-height:5rem!important;
}
.muiFormSelectElement .muiCheckItem>input{
    left:0;
    top:0;
}
/* input */
.filterlayer_content .filterItemPicker .muiPropertyDatetime .muiSelInput{
    font-family: PingFangSC-Regular;
    font-size: 15px;
    color: rgba(17,31,44,0.56);
    letter-spacing: 0;
    text-align: left;
    height:36px;
    line-height: 36px;
    border-radius: 8px;
    background:white;
    border: 1px solid #E2E3E5;
}
.filterlayer_content .filterItemPicker .muiPropertyDatetime .muiSelInput:empty:after{
    font-size: 15px!important;
    text-align: left!important;
}
.muiFormStatusEdit .muiSelInput:empty:after{
    color: rgba(17,31,44,0.28)!important;
}

/* 驳回审批 */
.actionView #operationsTDContent.detailNode{
    position: relative;
}
div#jumpToNodeIdSelectObj.muiFormEleWrap.muiFormLeft{
    position: absolute;
    top: -45px;
    left: 70px;
}

div.muiFormEleWrap.muiFormLeft{
    width: 210px; 
    float: right;
}

/* mobile textarea */
/* .muiFormEleWrap .muiFormItem .muiTextarea{
    text-align: right;
} */