<?xml version="1.0" encoding="UTF-8"?>
<plugin
	xmlns="http://www.example.org/plugin-config"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.example.org/plugin-config ../../../plugin.xsd ">

	<extension
		point="com.landray.kmss.sys.admin.transfer">
		<item
			name="config">
			<param
				name="unid"
				value="com.landray.kmss.sys.lbpmservice.transfer.lbpmProcess.ProcessStatusRecoveryTask" />
			<param
				name="name"
				value="草稿文档状态迁移" />
			<param
				name="path"
				value="/sys/lbpmservice/support/" />
			<param
				name="check"
				value="com.landray.kmss.sys.lbpmservice.transfer.lbpmProcess.ProcessStatusRecoveryTask" />
			<param
				name="upgrade"
				value="com.landray.kmss.sys.lbpmservice.transfer.lbpmProcess.ProcessStatusRecoveryTask" />
			<param
				name="description"
				value="草稿文档状态迁移，将历史数据中草稿状态文档流程状态为20的数据，调整为流程状态为10" />
		</item>
		<item
			name="config">
			<param
				name="unid"
				value="com.landray.kmss.sys.lbpmservice.transfer.lbpmProcess.ProcessCostTimeInitTask" />
			<param
				name="name"
				value="流程耗时字段设置默认值" />
			<param
				name="path"
				value="/sys/lbpmservice/support/" />
			<param
				name="check"
				value="com.landray.kmss.sys.lbpmservice.transfer.lbpmProcess.ProcessCostTimeInitTask" />
			<param
				name="upgrade"
				value="com.landray.kmss.sys.lbpmservice.transfer.lbpmProcess.ProcessCostTimeInitTask" />
			<param
				name="description"
				value="升级后流程耗时字段为null，为该字段设置默认值-1" />
		</item>
		<item
			name="config">
			<param
				name="unid"
				value="com.landray.kmss.sys.lbpmservice.transfer.auditnote.AuditNoteTransferTask" />
			<param
				name="name"
				value="流程审批意见权限数据迁移" />
			<param
				name="path"
				value="/sys/lbpmservice/support/" />
			<param
				name="check"
				value="com.landray.kmss.sys.lbpmservice.transfer.auditnote.AuditNoteTransferChecker" />
			<param
				name="upgrade"
				value="com.landray.kmss.sys.lbpmservice.transfer.auditnote.AuditNoteTransferTask" />
			<param
				name="description"
				value="审批意见权限数据迁移，迁移完成后，请验证审批意见并发意见分组和隐藏功能是否正确。" />
		</item>
		<item
			name="config">
			<param
				name="unid"
				value="com.landray.kmss.sys.lbpmservice.transfer.opthandler.OptHandlerTransferTask" />
			<param
				name="name"
				value="流程备选处理人数据迁移" />
			<param
				name="path"
				value="/sys/lbpmservice/support/" />
			<param
				name="check"
				value="com.landray.kmss.sys.lbpmservice.transfer.opthandler.OptHandlerTransferTask" />
			<param
				name="upgrade"
				value="com.landray.kmss.sys.lbpmservice.transfer.opthandler.OptHandlerTransferTask" />
			<param
				name="description"
				value="备选处理人数据迁移，迁移完成后，请验证模版、流程实例备选处理人是否正确。" />
		</item>
		<item
			name="config">
			<param
				name="unid"
				value="com.landray.kmss.sys.lbpmservice.transfer.lbpmProcess.ProcessDocDeleteFlagInitTask" />
			<param
				name="name"
				value="流程软删除设置默认值" />
			<param
				name="path"
				value="/sys/lbpmservice/support/" />
			<param
				name="check"
				value="com.landray.kmss.sys.lbpmservice.transfer.lbpmProcess.ProcessDocDeleteFlagInitTask" />
			<param
				name="upgrade"
				value="com.landray.kmss.sys.lbpmservice.transfer.lbpmProcess.ProcessDocDeleteFlagInitTask" />
			<param
				name="description"
				value="升级后流程历史数据软删除字段设置为0" />
		</item>
		<item name="config">
			<param name="unid"
				value="com.landray.kmss.sys.lbpmservice.transfer.lbpmProcess.ProcessDocSubjectTask" />
			<param name="name"
				value="流程实例标题迁移 " />
			<param name="path"
				value="/sys/lbpmservice/support/" />
			<param name="check"
				value="com.landray.kmss.sys.lbpmservice.transfer.lbpmProcess.ProcessDocSubjectTask" />
			<param name="upgrade"
				value="com.landray.kmss.sys.lbpmservice.transfer.lbpmProcess.ProcessDocSubjectTask" />
			<param name="description"
				value="升级后将流程历史数据标题迁移到流程实例表"/>
		</item>
		<item name="config">
			<param name="unid"
				value="com.landray.kmss.sys.lbpmservice.transfer.lbpmProcess.ProcessDocStatusTask" />
			<param name="name"
				value="流程实例状态迁移 " />
			<param name="path"
				value="/sys/lbpmservice/support/" />
			<param name="check"
				value="com.landray.kmss.sys.lbpmservice.transfer.lbpmProcess.ProcessDocStatusTask" />
			<param name="upgrade"
				value="com.landray.kmss.sys.lbpmservice.transfer.lbpmProcess.ProcessDocStatusTask" />
			<param name="description"
				value="升级后将流程历史数据状态迁移到流程实例表"/>
		</item>
		<item name="config">
			<param name="unid"
				   value="com.landray.kmss.sys.lbpmservice.transfer.auditnote.AuditNoteAssignTask" />
			<param name="name"
				   value="流程审批意见加签历史数据迁移" />
			<param name="path"
				   value="/sys/lbpmservice/support/" />
			<param name="check"
				   value="com.landray.kmss.sys.lbpmservice.transfer.auditnote.AuditNoteAssignTask" />
			<param name="upgrade"
				   value="com.landray.kmss.sys.lbpmservice.transfer.auditnote.AuditNoteAssignTask" />
			<param name="description"
				   value="升级后将流程审批意见中异常的加签相关历史数据进行处理"/>
		</item>
	</extension>
</plugin>
