<?xml version="1.0" encoding="UTF-8"?>
<beans 
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd" 
    xmlns="http://www.springframework.org/schema/beans" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <bean 
        class="com.landray.kmss.fssc.mobile.actions.FsscMobileNoteAction" 
        parent="KmssBaseAction" 
        name="/fssc/mobile/fssc_mobile_note/fsscMobileNote.do" 
        lazy-init="true">
        <property 
            name="formType" 
            value="com.landray.kmss.fssc.mobile.forms.FsscMobileNoteForm"/>
        <property 
            name="forwards">
            <map>
            <entry
				key="view"
				value="/fssc/mobile/fssc_mobile_note/fsscMobileNote_view.jsp" />
            <entry
				key="view.4m"
				value="/fssc/mobile/fssc_mobile_note/fsscMobileNote_view.jsp" />
            <entry
				key="edit"
				value="/fssc/mobile/fssc_mobile_note/fsscMobileNote_edit.jsp" />
			<entry
				key="data"
				value="/fssc/mobile/fssc_mobile_note/fsscMobileNote_data.jsp" />
			<entry
				key="selectNote"
				value="/fssc/mobile/fssc_mobile_note/fsscMobileNote_select_note.jsp" />
			<entry
				key="selectTranData"
				value="/fssc/mobile/fssc_mobile_note/fsscMobileNote_select_tranData.jsp" />
			</map>
        </property>
    </bean>
    <bean 
        class="com.landray.kmss.fssc.mobile.actions.FsscMobileInvoiceTitleAction" 
        parent="KmssBaseAction" 
        name="/fssc/mobile/fssc_mobile_invoice_title/fsscMobileInvoiceTitle.do" 
        lazy-init="true">
        <property 
            name="formType" 
            value="com.landray.kmss.fssc.mobile.forms.FsscMobileInvoiceTitleForm"/>
        <property 
            name="forwards">
            <map/>
        </property>
    </bean>
    
      <bean 
        class="com.landray.kmss.fssc.mobile.actions.FsscMobileLinkAction" 
        parent="KmssBaseAction" 
        name="/fssc/mobile/fssc_mobile_link/fsscMobileLink.do" 
        lazy-init="true">
        <property 
            name="formType" 
            value="com.landray.kmss.fssc.mobile.forms.FsscMobileLinkForm"/>
        <property 
            name="forwards">
            <map>
                <entry 
                    key="data" 
                    value="/fssc/mobile/fssc_mobile_link/fsscMobileLink_data.jsp"/>
                <entry 
                    key="edit" 
                    value="/fssc/mobile/fssc_mobile_link/fsscMobileLink_edit.jsp"/>
                <entry 
                    key="view" 
                    value="/fssc/mobile/fssc_mobile_link/fsscMobileLink_view.jsp"/>
                <entry
				    key="list"
				   value="/fssc/mobile/fssc_mobile_link/index.jsp" />
				<entry
					key="mobileMain"
					value="/fssc/mobile/fssc_mobile_main/mobileMain.jsp" />
				<entry
					key="getApprovalList"
					value="/fssc/mobile/fssc_mobile_main/notApprovalList.jsp" />
				<entry
					key="getMoreData"
					value="/fssc/mobile/fssc_mobile_main/moreDataList.jsp" />
				<entry
					key="editMobileLink"
					value="/fssc/mobile/fssc_mobile_link/mobile/edit.jsp" />	
				<entry
					key="dialog"
					value="/fssc/mobile/fssc_mobile_link/fsscMobileLink_dialog.jsp" />
            </map>
        </property>
    </bean>
    
     <bean 
        class="com.landray.kmss.fssc.mobile.actions.FsscMobileInvoiceAction" 
        parent="KmssBaseAction" 
        name="/fssc/mobile/fssc_mobile_invoice/fsscMobileInvoice.do" 
        lazy-init="true">
        <property 
            name="formType" 
            value=""/>
        <property 
            name="forwards">
            <map>
             	<entry 
                    key="data" 
                    value="/fssc/mobile/fssc_mobile_invoice/fsscMobileInvoice_data.jsp"/>
              <entry 
                    key="edit" 
                    value="/fssc/mobile/fssc_mobile_invoice/fsscMobileInvoice_edit.jsp"/>      
              <entry 
                    key="view" 
                    value="/fssc/mobile/fssc_mobile_invoice/fsscMobileInvoice_view.jsp"/>  
             <entry
				key="nvoiceInfo"
				value="/fssc/mobile/fssc_mobile_invoice/fsscMobileInvoice_info.jsp" />  
			<entry
				key="listMyInvoice"
				value="/fssc/mobile/fssc_mobile_invoice/fsscMobileInvoice_myList.jsp" />  
            </map>
        </property>
    </bean>
    
     <bean 
        class="com.landray.kmss.fssc.mobile.actions.FsscMobilePublicAction" 
        parent="KmssBaseAction" 
        name="/fssc/mobile/fssc_mobile_public/fsscMobilePublic.do" 
        lazy-init="true">
        <property 
            name="formType" 
            value=""/>
    </bean>
    
    <bean
		name="/fssc/mobile/fssc_mobile_note/fsscMobileNotePortlet.do"
		class="com.landray.kmss.fssc.mobile.actions.FsscMobileNotePortletAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property name="forwards">
			<map>
				<entry
					key="listPortlet"
					value="/fssc/mobile/fssc_mobile_note/fsscMobileNotePortlet_list.jsp" />
			</map>
		</property>
	</bean>
   
</beans>
