/*表格所有框线红色，字段无线*/
.tb_normal_rednone {width:100%; text-align: left; padding: 8px !important; margin: 0px auto; border-collapse: collapse; background-color: rgb(255, 255, 255); }
.tb_normal_rednone   tr  td {  padding: 8px; border: 1px solid #f00 !important;word-break: break-all; }
.massdata-container tr td {border: 1px #d2d2d2 solid !important;}
.tb_normal_rednone   tr  .td_normal_title {}