<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean
		id="autoBranchNodeBehaviourService"
		class="com.landray.kmss.sys.lbpmservice.node.autobranchnode.AutoBranchNodeBehavior">
	</bean>
	<bean
		id="autoBranchNodeDesc"
		class="com.landray.kmss.sys.lbpmservice.node.autobranchnode.AutoBranchNodeDesc">
	</bean>
	
	<!-- 自动决策节点路由计算类 -->
	<bean
		id="autoBranchNodeCalculateService"
		class="com.landray.kmss.sys.lbpmservice.node.autobranchnode.AutoBranchNodeCalculateService">
		<property name="processExecuteService">
			<ref bean="lbpmProcessExecuteService" />
		</property>
		<property name="processServiceManager">
			<ref bean="lbpmProcessServiceManager" />
		</property>
	</bean>
</beans>
