
.lui_calendar_frame{ }

.lui_calendar_header_tab .lui_calendar_header_left > div:hover,
.lui_calendar_header_tab .lui_calendar_header_right > div:hover,
.lui_calendar_header_tab div.lui_calendar_header_button_on {
  color: #fff!important;
  background-color: #4285f4!important;
}
.lui_calendar_header_tab .lui_calendar_header_right .lui_calendar_header_date:hover,
.lui_calendar_header_tab .lui_calendar_header_left .lui_calendar_header_next:hover,
.lui_calendar_header_tab .lui_calendar_header_right .lui_calendar_header_list:hover,
.lui_calendar_header_tab .lui_calendar_header_left .lui_calendar_header_prev:hover,
.lui_calendar_header_tab .lui_calenda.lui-calendar-today-textr_header_left .lui_calendar_header_next:hover,
.lui_calendar_header_tab .lui_calendar_header_right .lui_calendar_header_refresh:hover{
  background-color: #4285f4!important;
}
.calendar-setting:hover .trig {
  border-color: #fff #4285f4;
}
.calendar_dropdown {
  border: 1px solid #d5d5d5;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, .15);
     -moz-box-shadow: 0 0 7px rgba(0, 0, 0, .15);
      -ms-box-shadow: 0 0 7px rgba(0, 0, 0, .15);
       -o-box-shadow: 0 0 7px rgba(0, 0, 0, .15);
          box-shadow: 0 0 7px rgba(0, 0, 0, .15);
}
.calendar_dropdown li a:hover,
.calendar_dropdown li.setting_select_on a,
.calendar_dropdown li.setting_select_on a:hover{
  color: #fff;
  background-color: #4285f4;
}
.res_calendar_cate.on{ background-color: #4285f4; }

.res_calendar_tablecontent_column:after,
.meeting_calendar_content .meeting_calendar_date:after{
  /* content: '';
  display: block;
  border-left: 1px dashed #efefef;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%; */
}
.lui-calendar-today-text { background: #4179F7; }

.meeting_calendar_header .meeting_calendar_category_th.on {
  background-color: #d9e7fd;
}
/* 搜索按钮 */
.lui_calendar_search_back:hover{
	background-color:#4285f4;
}