:root {
  /* 主色 */
  --primary-color:#2f84fb;
  /* 交互色 */
  --alter-color:#2f84fb;
  --thirdray-color:#1d1b3c;
  --primary-color-rgb:48,164,220;
  --alter-color-rgb:47,132,251;
  --thirdray-color-rgb:29,27,60;
}
html{
	/*min-height: 100%;
  height: auto!important;
	position: relative;
  position: static\9;*/
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body, input, textarea, div, a, table, tr, td, th {
	font-size: 14px;
}
body{
	color: #333;
}
div{
	color: inherit;
}
a{
	color: inherit;
	text-decoration: none;
	background-color: transparent;
  transition-duration: .3s;
	cursor: pointer;
}
a:hover{
	color: #4285f4;
}
input,button{
	-webkit-box-sizing:content-box;
			    box-sizing:content-box;
}

/*文本颜色 Starts*/
.lui_text_primary{ color: #4285f4; }  /*主色值*/
.lui_text_sidebar{color:#fff}
.lui_text_alter{ color: #346ac3; }  /*主色交互色值*/

.lui_text_info{ color: #333; }  /*默认文本*/
.lui_text_muted{ color: #999; }  /*弱化文本*/

.lui_text_warning{ color: #ef741c; }  /*警告*/
.lui_text_danger{ color: #ea4335; }  /*危险*/

/*文本颜色 Ends*/

/*----- 后台配置路径  -----*/
.txtlistpath {
  padding-left: 0;
  color: #4285f4;
  border-bottom: 1px dotted #ddd;
  word-break: break-all;
}
.txtlistpath > .lui_icon_s { display: none; }


.lui-component { }
.com_subject,
.txttitle {
	color: #333;
}
.com_author{ color:#4285f4 !important}
.com_author:hover{
	color: #4285f4;
}
.com_btn_link{
	color: #4285f4;
	text-decoration: none;
}
.com_btn_link:hover{
	color: #346ac3!important;
	text-decoration: underline;
}

.com_goto{
  width: auto;
  position: fixed;
  bottom: 48px;
  right: 18px;
  z-index: 89;
}
.com_gototop{
  margin-top: 2px;
	background: rgba(0,0,0,.35) url(../images/go_top.png) no-repeat 50%;
	background: #8c8c8c url(../images/go_top.png) no-repeat 50%\9;
	border:1px solid rgba(0,0,0,.05);
	border:1px solid #5f5f5f\9;
  border-radius: 4px;
	position: relative;
	bottom: 0;
	cursor: pointer;
	text-align: center;
	line-height: 1.2;
	transition-duration: .3s;
}
.com_gototop:hover{
	background: rgba(0,0,0,.55) url(../images/go_top.png) no-repeat 50% 40%;
	background: #3a3a3a url(../images/go_top.png) no-repeat 50% 40%\9;
  transition-duration: .3s;
}
.com_gototop,
.com_gototop:hover,
.com_gototop:hover:after{
	width: 48px;
	height: 48px;
	text-align: center;
}
.com_gototop:hover:after{
	/*content: '返回顶部';*/
	color: #fff;
	font-size: 13px;
	padding: 7px 8px;
	width: 32px;
	height: 34px;
	display: block;
}

.com_qrcode,
.com_group{
  margin-top: 2px;
	border: 1px solid #d5d5d5!important;
  border-radius: 4px;
}
.com_qrcode:hover,
.com_group:hover {
  background-color: #f3f3f3;
}
.com_uncollapse {
  margin-top: 2px;
  width: 48px;
  height: 48px;
  border: 1px solid #d5d5d5;
  border-radius: 4px;
  background-color: #fff;
  background: #fff url(../images/uncollapse.png) no-repeat 50%;
  transition-duration: .3s;
}
.com_uncollapse:hover {
  width: 48px;
  height: 48px;
  background: #dfdfdf url(../images/uncollapse.png) no-repeat 50%!important;
}
.com_uncollapse.collapsed {
  background: url(../images/collapse.png) no-repeat 50%!important;
}
.com_uncollapse.collapsed:hover{
  width: 48px;
  height: 48px;
  background: #dfdfdf url(../images/collapse.png) no-repeat 50%!important;
}
.work_comm_menu,
.pindagate_menu{
  right: 18px;
}


.td_normal_title, .tr_normal_title > td{
	vertical-align: middle;
}
/*点评*/
body .eval_opt_table tr:first-child td{ padding: 10px 0!important; }
/*按钮背景色*/
.com_bgcolor_d {
  border-radius: 4px;
  background-color: #4285f4;
  transition: all .3s ease-in-out;
}

.com_bgcolor_n {
  border-radius: 4px;
  background-color: #4285f4;
  transition: all .3s ease-in-out;
}

.com_bgcolor_l {
  border-radius: 4px;
  background-color: #d6d6d6;
  transition: all .3s ease-in-out;
}
.com_bgcolor_d:hover{background-color:#4285f4;}
.com_bgcolor_n:hover{background-color:#346ac3;}
.com_bgcolor_l:hover{background-color:#d5d5d5;}

/*按钮边框色*/
.com_bordercolor_d {
  border-color: #4285f4;
}
.com_bordercolor_n {
  border-color: #346ac3;
}
.com_bordercolor_l {
  border-color: #d5d5d5;
}

.lui_wiki_catelog_btn_c {
    width: 48px;
    height: 48px;
    background: #fff url(../images/toolbar/catalog_btn.png) no-repeat 50%;
    border: 1px solid #d5d5d5;
    transition: all .3s ease-in-out;
}
.lui_wiki_catelog_btn_c:hover {
	border-color: #dfdfdf;
    background: #dfdfdf url(../images/toolbar/catalog_btn.png) no-repeat 50%;
}
.com_prompt_more{
	vertical-align: text-top;
	display: inline-block;
	width: 5px;
	height: 5px;
	background-color: #fc4f4f;
	text-align: center;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	position: absolute;
	top: 6px;
  right: 2px;
}
.lui_accordionpanel_header_l .com_prompt_more {
  position: relative;
  top: -6px;
  right: -2px;
}
.com_number{
	color: #ef741c;
}
.com_prompt_num {
  margin-left: 3px;
  color: #fff;
  padding: 2px 3px;
  font-family: Arial;
  font-size: 12px;
  min-width: 12px;
  height: 12px;
  line-height: 12px;
  vertical-align: super;
  display: inline-block;
  text-align: center;
  background-color: #ea4335;
  border-radius: 20px;
}

/*---------- 输入框提示信息字体颜色 ----------*/
/* WebKit browsers */
::-webkit-input-placeholder {
  color: #b0b0b0 !important;
  font-size: 14px;
}

/* Mozilla Firefox 4 to 18 */
:-moz-placeholder {
  color: #b0b0b0 !important;
  font-size: 14px;
}

/* Mozilla Firefox 19+ */
::-moz-placeholder {
  color: #b0b0b0 !important;
  font-size: 14px;
}

/* Internet Explorer 10+ */
:-ms-input-placeholder {
  color: #b0b0b0 !important;
  font-size: 14px;
}

/*屏幕宽度小于等于1280*/
@media screen and (max-width: 1280px) {
  /*.width15 {width:19px;}
  .width20 {width:25px;}
  .width30 {width:38px;}
  .width40 {width:50px;}
  .width60 {width:75px;}
  .width80 {width:100px;}
  .width100 {width:125px;}
  .width120 {width:150px;}
  .width140 {width:175px;}
  .width160 {width:200px;}
  .width180 {width:225px;}
  .width200 {width:250px;}
  .width250 {width:315px;}*/
}


.tb_simple > tbody > tr > td {
  padding: 8px 5px;
  word-break: break-all
}
/*=== webkit浏览器滚动条样式修改 Starts =============================================*/
::-webkit-scrollbar{
	width:8px;
	height:8px;
	background-color: #d1d1d1;
	-webkit-transition: background-color .3s ease-in-out;
					transition: background-color .3s ease-in-out;
}
::-webkit-scrollbar:hover{
	background-color:#d1d1d1;
}
::-webkit-scrollbar-thumb{
	background-color:#d1d1d1;
	height:50px;
	outline-offset:-1px;
	outline:1px solid #fff;
	-webkit-border-radius:5px;
					border-radius:5px;
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	-webkit-transition: background-color .3s ease-in-out;
					transition: background-color .3s ease-in-out;
}
::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:active{
	background-color:#9c9c9c;
	border-right: 1px solid #f1f1f1;
	border-left: 1px solid #f1f1f1;
}
::-webkit-scrollbar-track{
	background-color:#fff;
}
::-webkit-scrollbar-track:hover{
	background-color:#f1f1f1;
	-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,.15);
					box-shadow: inset 0 0 3px rgba(0,0,0,.15);
}
/*=== webkit浏览器滚动条样式修改 Ends ===============================================*/

/** KMS业务模块内样式临时处理 Starts */
body .kms_exam_portlet_le_info_cur span.title,
body .kms_exam_portlet_le_info_cur span.credit{
	font-size: 12px;
}
/** KMS业务模块内样式临时处理 Ends */

/** 三级页面上传文件 Starts */
body .lui_upload_img_container .lui_upload_list_swfuploadbutton{
  margin: 0 auto;
  float: none;
  width: 72px;
  height: 25px;
  line-height: 25px;
  color: #fff;
  font-size: 14px;
  text-align: center;
  display: block;
  border-radius: 4px;
  border: 1px solid #4285f4;
  background-color: #4285f4;
  transition: all .2s ease-in-out;
  cursor: pointer;
}
body .lui_upload_img_container .lui_upload_list_swfuploadbutton:hover{
  border-color: #346ac3;
  background-color: #346ac3;
}
body .lui_upload_img_container .lui_upload_img_button {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  border-top: 1px solid #e6e6e6;
  padding: 5px 0;
}
body .lui_upload_img_container .lui_upload_img_content{
  position: absolute;
  top: 0;
  bottom: 38px;
  left: 0;
  right: 0;
  background-color: #F2F2F2;
}
body .task_slideUp,
body .task_slideDown{
  margin-left: 0;
  padding-left: 16px;
  font-size: 12px;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: 0 50%;
  cursor: pointer;
}
body .task_slideUp { background-image: url(../images/portal/icon_arrowU_blue.png); }
body .task_slideDown { background-image: url(../images/portal/icon_arrowd_blue.png); }
/** 三级页面上传文件 Ends */

/** 快速审批按钮 Starts */
body .com_approval_bar2 {
  width: 32px;
  background: none;
  position: fixed;
  left: 50%;
  top: 43px;
  z-index: 2;
  cursor: normal;
}
body .com_approval_bar2 .com_ap_bar2_bottom {
  padding-bottom: 0;
  background: none;
}
body .com_approval_bar2 .com_ap_bar2_centre {
  padding: 0;
  text-align: center;
  background-color: transparent;
}
body .com_approval_bar2 .com_ap_bar2_centre span {
  padding: 28px 8px 8px;
  line-height: 1.3;
  color: #fff;
  font-size: 14px;
  text-align: center;
  background: #4285f4 url(../icon/s/icon_sp2_top.png) no-repeat 50% 8px;
  transition: all .3s ease;
  display: block;
  cursor: pointer;
  word-break: break-all;
  position: relative;
}
body .com_approval_bar2 .com_ap_bar2_centre span:after,
body .com_approval_bar2 .com_ap_bar2_centre span:before{
  content: '';
  width: 0;
  height: 0;
  border-width: 7px 8px;
  border-style: dashed;
  border-color: transparent;
  position: absolute;
  bottom: -13px;
}
body .com_approval_bar2 .com_ap_bar2_centre span:after{
  border-style: solid solid dashed dashed;
  border-color: #4285f4 #4285f4 transparent transparent;
  right: 0;
}
body .com_approval_bar2 .com_ap_bar2_centre span:before{
  border-style: solid dashed dashed solid;
  border-color: #4285f4 transparent transparent #4285f4;
  left: 0;
}
body .com_approval_bar2 .com_ap_bar2_centre span:hover { background-color: #346ac3; }
body .com_approval_bar2 .com_ap_bar2_centre span:hover:after { border-color: #346ac3 #346ac3 transparent transparent;}
body .com_approval_bar2 .com_ap_bar2_centre span:hover:before { border-color: #346ac3 transparent transparent #346ac3;}

body .tb_noborder td .upload_list_filename_edit{ color: #4285f4; }

/** 快速审批按钮 Ends */

/*流程处理意见 增加间距*/
.tb_noborder #optionButtons{ padding-bottom: 10px;}
/*流程机制 启动通知 input居中*/
.td_label #dayOfNotifyDrafter,
.td_label #hourOfNotifyDrafter,
.td_label #minuteOfNotifyDrafter{ text-align: center;}

.tb_normal > tbody >tr > td {
  /*padding: 6px!important; 注释掉 因为!important可能会出现表格对不齐的情况*/
  padding: 8px;
  word-break: break-word;
  /*border: 1px solid #d2d2d2!important;注释掉 因为!important可能会出现表格用内联样式去掉了边框不成功的情况*/
  border: 1px solid #d2d2d2;
}

/*选择关联文档按钮样式皮肤化 Starts*/
.tb_normal > tbody >tr > td .lui_linkDoc_btn {
  padding: 3px 5px;
  border-radius: 3px;
  background: #fff;
  border: 1px solid #4285f4;
  color: #4285f4;
  font-size: 14px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  transition: all .3s ease-in-out;
}
.tb_normal > tbody >tr > td .lui_linkDoc_btn:hover {
  color: #fff;
  background-color: #4285f4;
}
.tb_normal > tbody >tr > td .lui_linkDoc_btn i{ vertical-align: text-top;}
/*选择关联文档按钮样式皮肤化 Ends*/

/*--- 后台配置相关 ---*/
.profile_config_title{ color: #4285f4; }

/*--- 数据验证方式 ---*/
.validation-advice, .lui_validate{ background:transparent; border:none; color:#f00; padding:0;}
.validation-advice-msg .validation-advice-title{ color:#ff6600!important;}
.validation-advice .lui_icon_s_icon_validator{ vertical-align: text-bottom;}
.validation-table td{ color:#5b5b5b;}

/*----- 日历选择框 -----*/
.ui-datepicker.ui-widget-content{ }
.ui-datepicker .ui-datepicker-header { background:#f0f0f0; border-radius: 0; border:none;}
.ui-datepicker .ui-datepicker-header .ui-icon{ background-image: url(../images/calendar/date_arrow.png);}
.ui-datepicker .ui-icon-circle-triangle-w{ background-position: 0 0;}
.ui-datepicker .ui-state-hover .ui-icon-circle-triangle-w{ background-position: 0 -16px;}
.ui-datepicker .ui-icon-circle-triangle-e{ background-position: -16px 0;}
.ui-datepicker .ui-state-hover .ui-icon-circle-triangle-e{ background-position: -16px -16px;}
.ui-datepicker .ui-datepicker-header .ui-state-hover{ /*background:none; border:none;*/}
.ui-datepicker .ui-datepicker-header .ui-state-default{ /*border:none;*/}

.ui-datepicker .ui-datepicker-calendar th{ border-bottom:1px solid #d5d5d5;}
.ui-datepicker .ui-datepicker-calendar td{ text-align: center; position: relative; padding: 2px 1px;}
.ui-datepicker .ui-datepicker-calendar td .ui-datepicker-sign{
	position: absolute;
	width: 0;
	height: 0;
	border-right: 7px solid transparent;
	border-top: 7px solid transparent;
	left: 10px;
    top: 1px;
    font-size: 0;
}
.ui-datepicker .ui-datepicker-calendar td .ui-datepicker-sign[data-type="1"]{
	border-top-color: #E60000;
}
.ui-datepicker .ui-datepicker-calendar td .ui-datepicker-sign[data-type="2"]{
	border-top-color: #2B9AE0;
}

.ui-datepicker .ui-datepicker-calendar td .ui-datepicker-signlabel{
	position: absolute;
	color: white;
	background-color: rgba(0,0,0,0.7);
	z-index: 1;
	left: 0;
	display: none;
	right: 0;
	text-align: center;
	top: -30px;
	border-radius: 2px;
	font-size: 12px;
}

.ui-datepicker .ui-datepicker-calendar td .ui-datepicker-signlabel::after{
	content: '';
	width: 0;
	height: 0;
	display: inline-block;
	position: absolute;
	bottom: -6px;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 6px solid rgba(0,0,0,0.7);
	left: -4px;
	margin-left: 50%;
}

.ui-datepicker .ui-datepicker-calendar td:hover .ui-datepicker-signlabel{
	display: inline-block;
}

.ui-datepicker .ui-datepicker-calendar .ui-state-default{
  display: inline-block;
	border:none; background: none; text-align: center; color:#333; border:1px solid #fff; border-radius: 50%;
	padding: 0;
	width: 24px;
	height: 24px;
	line-height: 24px;
}
.ui-datepicker .ui-datepicker-calendar td:hover .ui-state-default{ border-color:#4285f4;}
.ui-datepicker .ui-datepicker-calendar .ui-state-highlight{ background:#4285f4; color:#fff; border-color:#4285f4;}
.ui-datepicker-buttonpane .ui-state-default{ border:1px solid #e5e5e5; background:#f8f8f8; border-radius: 0; background: #fff;}
.ui-datepicker .ui-datepicker-title select.ui-datepicker-year{ margin-right: 5px;}

.ui-datepicker .ui-datepicker-calendar .ui-state-default.ui-state-active{ border-color:#4285f4;}
/* MAC系统高清屏特殊处理 */
@media screen and (-webkit-min-device-pixel-ratio:2) {
	.lui_icon_s_home{ background-image: url(../icon/s/home@2x.png); background-size: 16px 16px;}
	
	/*--- 数据验证 ---*/
	.lui_icon_s_icon_validator{ background:url(../icon/s/icon_validator@2x.png); background-size: 16px 16px;}
}

.lui_popup_border_content .com_btn_link:hover{
  color: #4285f4;
}


/*右侧底部按钮背景色淡化 Starts*/
body .pindagate_progress {
  right: 18px;
  width: 48px;
  border-color: #4285f4;
  border-radius: 4px;
  overflow: hidden;
}
body .pindagate_menu{ right: 18px; }
body .pindagate_menu ul li{ background-color: rgba(255,255,255,.8)!important;}
body .pindagate_menu ul li:first-child{
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
body .pindagate_menu ul li:last-child{
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

body .myShortWin,
body .lui_lservice_admin_off,
body .lui_lservice_teach_off,
body .lui_lservice_stu_off,
.com_qrcode,
.com_group,
.com_uncollapse.collapsed,
.com_goto .lui-praise-btn{
  background-color: rgba(255,255,255,.8);
}
.lui_wiki_catelog_btn_c.lui_icon_l_icon_51 {
  border: 1px solid #d5d5d5;
  background-color: rgba(255, 255, 255, .8) !important;
}
.lui_wiki_catelog_btn_c.lui_icon_l_icon_51:hover {
  background-color: #dfdfdf !important;
}

  /*KM的*/
body .lui_lservice_stu_on,
body .lui_lservice_stu_off,
body .lui_lservice_admin_on,
body .lui_lservice_admin_off,
body .lui_lservice_teach_on,
body .lui_lservice_teach_off {
  border-radius: 4px;
}

/*右侧底部按钮背景色淡化 Ends*/

/*switch 主题包优化 Starts*/
body .weui_switch input:checked + span {
  -webkit-box-shadow: #4285f4 0 0 0 13.5px inset;
          box-shadow: #4285f4 0 0 0 13.5px inset;
  border-color: #4285f4;
  background-color: #4285f4;
}
/*switch 主题包优化 Ends*/

/* 电子期刊 主题包优化 Starts */
.magazine_rowtable_summary_box{ cursor: pointer; }
.magazine_rowtable_summary_box:hover .list-item .txttitle,
.magazine_rowtable_summary_box:hover .list-item .com_subject{
  color: #4285f4;
}
/* 电子期刊 主题包优化 Ends */


/* 购物车 主题包优化 Starts */
.lui_list_body_frame .cartName{
  border-bottom: 2px solid #4285f4;
}
/* 购物车 主题包优化 Ends */

/*积分商城 商品详情 starts*/
.td_label0,
.viewProDetaiTable .td_label0{border-bottom:2px solid #4285f4!important;}
/*积分商城 商品详情 ends*/


/*【个人流程中心-流程发起】 主题包优化 starts*/
body .head_div_wrap{}
body .head_div_box > .item{ border-radius: 4px; }
body .lui-backstage-panel{
  padding-left: 10px;
  padding-right: 10px;
}
body .lui-backstage-panel-heading{
  padding-left: 0!important;
  padding-right: 0!important;
  border-bottom: 1px solid #d5d5d5;
}
body .lui-backstage-panel-heading > input[type='text']{
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 4px;
}
body .lui-backstage-panel-heading > .lui_form_button{
  color: #fff;
  border-radius: 4px;
  background-color: #4285f4;
  transition-duration: .3s;
}
body .lui-backstage-panel-heading > .lui_form_button:hover{
  color: #fff;
  background-color: #346ac3;
}
body .lui-backstage-panel-heading-title{
  margin: -10px 0 -1px;
  padding: 15px 5px 10px;
  color: #4285f4;
  border-bottom: 2px solid #4285f4;
}
body .lui-backstage-panel-list > li a:hover,
body .lui-backstage-panel-list > li a:hover .txt,
body .lui-backstage-panel-list .next-level-list li a:hover .txt{
  color: #4285f4;
}
body .lui-backstage-panel-list > li a img{
  position: relative;
  top: 2px;
}
/*【个人流程中心-流程发起】 主题包优化 ends*/


/*【个人流程中心-流程发起】右侧按钮 主题包优化 Starts*/
body .forum_shortcut_menu ul li:first-child a,
body .edit_forum_shortcut_menu ul li:first-child a{
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
body .forum_shortcut_menu ul li:last-child a,
body .edit_forum_shortcut_menu ul li:last-child a{
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
/*【个人流程中心-流程发起】右侧按钮 主题包优化 ends*/


