@font-face {
  font-family: 'xihei';
  src: url('../font/font.eot?v=4.3.0');
  src: url('../font/font.eot?#iefix&v=4.3.0') format('embedded-opentype'),
       url('../font/font.woff?v=4.3.0') format('woff'),
       url('../font/font.ttf?v=4.3.0') format('truetype'),
       url('../font/font.svg?v=4.3.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.lui_calendar_portlet_header .lui_calendar_portlet_left {
  font-family: "xihei","Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", "SimSun", "Tahoma", sans-serif!important;
  text-align: left;
  position: relative;
  top: 4px;
}
/*日历部分 Starts*/
.lui_calendar_portlet .lui_calendar_portlet_table * {
  font-size: 14px;
}
@-webkit-keyframes refresh-rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes refresh-rotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.refresh-rotate {
  -webkit-animation-name: refresh-rotate;
          animation-name: refresh-rotate;
}
.lui_calendar_portlet .lui_calendar_portlet_refresh {
  padding: 0;
  border: 0;
}
.lui_calendar_portlet .lui_calendar_portlet_refresh:after {
  content: '';
  display: block;
  background: url(../images/paging/view_icon_list_refresh.png) no-repeat 50%;
  position: absolute;
  left: 50%;
  top: 2px;
  margin-left: -8px;
}
.lui_calendar_portlet .lui_calendar_portlet_refresh:hover {
  border-color: #4285f4;
}
.lui_calendar_portlet .lui_calendar_portlet_refresh:hover:after {
  background: url(../images/paging/view_icon_list_refresh_hover.png) no-repeat 50%;
}
.lui_calendar_portlet .lui_calendar_portlet_today:hover {
  color: #4285f4;
  border-color: #4285f4;
}
.lui_calendar_portlet .lui_calendar_portlet_header {
  padding-left: 15px;
  padding-right: 15px;
}
.lui_calendar_portlet .lui_calendar_portlet_opt,
.lui_calendar_portlet .lui_calendar_portlet_monyear{ text-align: right; }
.lui_calendar_portlet .lui_calendar_portlet_opt > * {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #d5d5d5;
  padding: 3px;
  text-align: center;
  transition-duration: .3s;
  cursor: pointer;
}
.lui_calendar_portlet .lui_calendar_portlet_today{ width: 40px; }
.lui_calendar_portlet .lui_calendar_portlet_refresh{ width: 24px; }

.lui_calendar_portlet .lui_calendar_opt_pre, .lui_calendar_portlet .lui_calendar_opt_next {
  font-size: 16px;
  font-family: "Segoe UI", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  position: relative;
  top: -2px;
}
.lui_calendar_portlet .lui_calendar_opt_pre:hover, .lui_calendar_portlet .lui_calendar_opt_next:hover {
  color: #4285f4;
}
.lui_calendar_portlet .lui_calendar_portlet_tbody > tr > td {
  padding: 2px 0;
}
.lui_calendar_portlet .lui_calendar_portlet_footer {}

.lui_calendar_portlet_footer_ul .lui_calendar_portlet_item_content a {
  padding-top: 3px;
  font-size: 12px;
}

.lui_calendar_portlet .lui_calendar_portlet_date > span{ color: #666; }
.lui_calendar_portlet .lui_calendar_portlet_date.pre > span,
.lui_calendar_portlet .lui_calendar_portlet_date.next > span{ color: #999; }
.lui_calendar_portlet .lui_calendar_portlet_date.current > span {
  color: #fff;
  background-color: #4285f4;
  -webkit-box-shadow: 0 2px 5px rgba(0,0,0,.15);
     -moz-box-shadow: 0 2px 5px rgba(0,0,0,.15);
      -ms-box-shadow: 0 2px 5px rgba(0,0,0,.15);
       -o-box-shadow: 0 2px 5px rgba(0,0,0,.15);
          box-shadow: 0 2px 5px rgba(0,0,0,.15);
}
.lui_calendar_portlet .lui_calendar_portlet_date.today > span {
  border-color: #4285f4;
}
.lui_calendar_portlet .lui_calendar_portlet_dot{ background-color: #ea4335; }
.lui_calendar_portlet .lui_calendar_portlet_footer_ul{ padding: 10px; }
.lui_calendar_portlet .lui_calendar_portlet_footer_ul .lui_calendar_portlet_item_color_label{ width: 2px; }
/*日历部分 Ends*/
.lui_dialog_mask {
  background-color: #000 !important;
}
.lui_mask_l {
  background-color: transparent !important;
}
.lui_dialog_content_question,
.lui_dialog_content_warn,
.lui_dialog_content_dollar {
  float: none;
  display: inline-block;
  padding-top: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
  width: 62px;
  height: 110px;
  background: none;
  background-repeat: no-repeat;
  background-position: 15px 50%;
  position: static;
  left: auto;
  top: auto;
  bottom: auto;
  vertical-align: top;
}

.lui_dialog_content_question { background-image: url(../images/dialog/dialog_doubt.png); }
.lui_dialog_content_warn { background-image: url(../images/dialog/dialog_warning.png); }
.lui_dialog_content_dollar { width: 80px; background-image: url(../images/dialog/dollar.png); }
.lui_dialog_common_content_right {
  margin: 0;
  padding: 15px;
  max-width: 74%;
  display: inline-block;
  min-height: 110px;
  vertical-align: top;
}
.lui_dialog_content {
  background-color: #fff;
  font-size: 14px;
}
.lui_dialog_common_buttons {
  margin: 0;
  padding: 0;
  text-align: center;
  position: static;
  width: auto;
}
.lui_dialog_buttons {
  padding: 0 8px;
}
.lui_dialog_common_buttons .lui_dialog_buttons_button {
  float: left;
  min-width: 81px;
  height: 25px;
  margin-left: 10px;
  margin-top: 4px;
  color: #fff;
  font-size: 14px;
  text-align: center;
  line-height: 25px;
  border: 1px solid #4285f4;
  background-color: #4285f4;
  transition: all .3s ease-in-out;
  display: block;
}
.lui_dialog_common_buttons .lui_dialog_buttons_button:hover {
  background-color: #346ac3;
}
.lui_dialog_common_buttons .lui_toolbar_btn_l {
  padding-left: 15px;
  padding-right: 15px;
}
.lui_dialog_common_content_inside {
  font-size: 14px;
  margin: 20px 0;
  word-wrap: break-word;
  max-height: calc(100vh - 135px);
  overflow: auto;
}
.lui_dialog_common_content_timer p {
  color: #adadad;
  padding: 5px;
  font-size: 12px;
}

/*模态弹出窗 Starts*/
.lui_dialog_frame .lui_widget_btn {
  margin: 0 3px !important;
}
.lui_dialog_frame {
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #d5d5d5;
  box-shadow: 0 0 15px rgba(0, 0, 0, .45);
}
.lui_dialog_head {
  height: 45px;
  line-height: 45px;
  border-bottom: 1px solid #d5d5d5;
  background-color: #fff;
  color: #4285f4;
  font-size: 16px;
  position: relative;
}
.lui_dialog_head_left {
  font-size: inherit;
  float: left;
  padding-left: 12px;
}
.lui_dialog_head_right {
  float: none;
  background:url(../images/dialog/icon_del.png) no-repeat left top;
  width: 16px;
  height: 16px;
  margin: 0;
  position: absolute;
  right: 12px;
  top: 50%;
  margin-top: -8px;
  cursor: pointer;
  transition: background-color .3s;
}
.lui_dialog_head_right:hover {
  color: #4285f4;
  background-color: transparent;
  background-position: -16px 0;
}
.lui_dialog_container {
  position: relative;
  padding: 0;
  text-align: center;
  border: 0;
}

/*模态弹出窗 Ends*/

/*提示弹出框 Starts*/
.lui_dialog_loading_frame{
	width:auto;
	/* height: 80px; */
}
.lui_dialog_tip_frame{
  margin: 8px 10px;
}
.lui_dialog_tip_title_l {
  height: 0;
  padding-left: 0;
}
.lui_dialog_tip_container,
.lui_dialog_loading_container{
  border: 1px solid #eee\9;
  -webkit-box-shadow: 0 0 8px rgba(0,0,0,.15);
     -moz-box-shadow: 0 0 8px rgba(0,0,0,.15);
      -ms-box-shadow: 0 0 8px rgba(0,0,0,.15);
       -o-box-shadow: 0 0 8px rgba(0,0,0,.15);
          box-shadow: 0 0 8px rgba(0,0,0,.15);
  position: relative;
}
.lui_dialog_loading_container{
	width:50px;
	padding:0;
	margin:10px auto;
  border-radius: 4px;
  background-color: #fff;
}
.lui_dialog_tip_container{
	padding:0;
  border-radius: 4px;
  background-color: #fff;
}
.lui_dialog_loading_content{}
.lui_dialog_content_success,
.lui_dialog_content_failure,
.lui_dialog_content_suggest{
	 margin: 0 10px;
	 min-height: 50px;
   width: 40px;
   height: 60px;
	/* line-height: 70px; */
}
.lui_dialog_loading_content .load_img{
	display: inline-block;
  margin: 0;
  background-repeat: no-repeat;
  background-position: 100% 50%;
  float: none;
  width: 50px;
  height: 50px;
  background-image: url(../images/dialog/loading.gif);
  background-position: 50%;
  vertical-align: middle;
}
.lui_dialog_content_success { background-image: url(../images/dialog/succeed.png);}
.lui_dialog_content_failure { background-image: url(../images/dialog/failed.png);}
.lui_dialog_content_suggest { background-image: url(../images/dialog/suggest.png);}
.lui_dialog_loading_content .load_img { }

.lui_dialog_tip_content_inside {
  padding-top: 0;
  line-height: 60px;
  padding-right: 15px;
}
.lui_dialog_tip_content_inside .lui_dialog_tip_content_inside_title {
  line-height: 60px;
  color: #666;
  font-size: 16px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.lui_dialog_loading_content .load_txt {
  /* line-height: 50px; */
  color: #636879;
  font-size: 16px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: -5px;
  display: none;
}
/*提示弹出框 Ends*/

/*日程弹出框 Starts*/
.lui_dialog_frame .schedule_share li:hover,
.lui_dialog_frame .schedule_share li.current,
.lui_calendar_title .schedule_share li:hover,
.lui_calendar_title .schedule_share li.current{
  color:#4285f4
}
/*日程弹出框 Ends*/

/* MAC系统高清屏特殊处理 */
@media screen and (-webkit-min-device-pixel-ratio:2) {
	.lui_dialog_content_question { background-image: url(../images/dialog/dialog_doubt@2x.png); background-size: 62px 56px; }
	.lui_dialog_content_warn { background-image: url(../images/dialog/dialog_warning@2x.png); background-size: 62px 56px; }
}





.lui_category_gcategory_select_box label a {
  margin-left: 10px;
  color: #4285f4;
  text-decoration: none;
}
.lui_category_gcategory_select_box label a:hover {
  text-decoration: underline;
}
.lui_category_location {
  padding: 5px 0;
  font-size: 14px;
  color: #333;
  word-wrap: break-word;
}
.lui_category_header .lui_category_qsearch .lui_category_search_box {
  position: relative;
  display: inline-block;
  margin-right: 1px;
  padding-left: 0;
  padding-right: 24px;
  width: 200px;
  height: 24px;
  border: 1px solid #d5d5d5;
  border-radius: 4px;
}
.lui_category_search_box input {
  width: 96%;
  height: auto;
  line-height: 20px;
  padding: 2px 2%;
  color: #7d7d7d;
  border: 1px solid #ccc;
  outline: none;
  font-family: Microsoft YaHei, Geneva, "sans-serif", SimSun;
}
.lui_category_header .lui_category_qsearch input {
  border: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  width: 96%;
}
.lui_category_header .lui_category_qsearch a {
  margin-left: 0;
  position: absolute;
  right: 0px;
  top: 0px;
  display: inline-block;
  border: none;
  text-indent: -9999em;
  width: 24px;
  height: 24px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background: url(../images/category/search_btn.png) no-repeat 50%;
}
.lui_category_header .lui_category_qsearch a:hover {
  background-color: #f8f8f8;
  background-image: url(../images/category/search_btn_on.png);
}

.lui_category_frame{
  border-color: #d5d5d5;
  border-radius: 4px;
}
.lui_category_frame .lui_category_frame_item {
  float: left;
  width: 234px;
  /* height: 280px; */
  border: 0;
  border-right: 1px solid #d5d5d5;
  background-color: #fff;
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: 0;
  display: inline-block;
}
.lui_category_content {
  padding: 8px 0;
}
.lui_category_content .lui_category_item_category {
  width: 16px;
  height: 16px;
  margin-top: 6px;
  background-image: url(../images/category/category.png);
}
.lui_category_content .lui_category_item_template {
  width: 16px;
  height: 16px;
  margin-top: 6px;
  background-image: url(../images/category/template.png);
}

.lui_category_content li {
  border: 0;
  padding: 0 5px;
  transition: all .3s ease-in-out;
  border-left: 2px solid #fff;
  height: 30px;
  padding-left: 12px;
}
.lui_category_content li.lui_category_li_on,
.lui_category_content li:hover {
  margin: 0;
  border: 0;
  color: #4285f4;
  background-color: #f4f4f4;
  border-left:2px solid #4285f4;
}
.lui_category_content li.lui_category_li_on {
  background-color: #f4f4f4;
}
.lui_category_content li.lui_category_li_on .lui_category_itemLink_single {
  color: #4285f4;
}
.lui_category_content li .lui_category_itemLink_single {
  width: 90%;
  height: 26px;
  margin: 1px;
  padding: 0 4px;
  line-height: 26px;
  color: #333;
  display: block;
  float: left;
  position: relative;
}
.lui_category_qsearch_content table tr td span {
  padding: 3px 8px;
  width: 325px;
  cursor: pointer;
  border: 1px solid #f7f7f7;
}
.lui_category_qsearch_content table span:hover {
  color: #4285f4;
  text-decoration: none;
}
.lui_category_qsearch_content table tr td.lui_category_qsearch_selected span{
  color: #4285f4;
  border: 1px solid #d5d5d5;
  border-radius: 4px;
  background-color: #fff;
}
.lui_category_qsearch_content .lui_category_qsearch_close {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: 50%;
  transition: all .3s ease-in-out;
}
.lui_category_qsearch_content .lui_category_qsearch_close.lui_icon_s_close_x:hover {
  background-image: url(../icon/s-on/close_x.png);
  background-color: #4285f4;
}
.lui_category_gcategory_select_box select {
  width: 200px;
  height: 24px;
  padding: 2px 5px;
  color: #999;
  vertical-align: middle;
  border-radius: 4px;
  outline: none;
  -webkit-appearance: none;
}

/*左右滑动按钮*/
.lui_category_frame .lui_category_aleft,
.lui_category_frame .lui_category_aright {
  width: 27px;
  /* height: 280px; */
  cursor: not-allowed;
  transition: all .3s ease-in-out;
}
.lui_category_frame .lui_category_aleft {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-right: 1px solid #d5d5d5;
  background: #ecf0f1 url(../images/category/hotpic_nav_prev.png) no-repeat 50%;
  float: left;
}
.lui_category_frame .lui_category_aright {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-left: 1px solid #d5d5d5;
  background: #ecf0f1 url(../images/category/hotpic_nav_next.png) no-repeat 50%;
  float: right;
}
.lui_category_frame .lui_category_aleft.validity, .lui_category_frame .lui_category_aright.validity {
  cursor: pointer;
}
.lui_category_frame .lui_category_aleft.validity:hover, .lui_category_frame .lui_category_aright.validity:hover {
  background-color: #4285f4;
}
.lui_category_frame .lui_category_aleft.validity {
  background: #ecf0f1 url(../images/category/hotpic_nav_prev.png) no-repeat 50%;
}
.lui_category_frame .lui_category_aleft.validity:hover {
  background-image: url(../images/category/hotpic_nav_prev_on.png);
}
.lui_category_frame .lui_category_aright.validity {
  background: #ecf0f1 url(../images/category/hotpic_nav_next.png) no-repeat 50%;
}
.lui_category_frame .lui_category_aright.validity:hover {
  background-image: url(../images/category/hotpic_nav_next_on.png);
}
/* MAC系统高清屏特殊处理 */
@media screen and (-webkit-min-device-pixel-ratio:2) {
  .lui_category_content .lui_category_item_category{background-image: url(../images/category/category@2x.png); background-size: 16px 16px;}
  .lui_category_content .lui_category_item_template {background-image: url(../images/category/template@2x.png); background-size:16px 16px}
  
  .lui_category_header .lui_category_qsearch a{ background-image: url(../images/category/search_btn@2x.png); background-size: 16px 16px;}
  .lui_category_header .lui_category_qsearch a:hover{ background-image: url(../images/category/search_btn_on@2x.png); background-size: 16px 16px;}
}




@charset "utf-8";

.lui_address_centreC {
  border-top: 0;
  overflow-y: hidden;
  position: relative;
  height: 490px;
}
.lui_address_buttons_settingPersonal a {
  background: url(../images/address/address_icon_setting.png);
  background-repeat: no-repeat;
  background-position:0 50%;
  padding-left: 16px;
  color: #4285f4;
  font-size: 13px;
}
.lui_address_buttons_settingPersonal a:hover {
  color: #4285f4 !important;
  text-decoration: underline;
}
.lui-address-searchbar-ul {
  margin-top: 4px;
  padding-right: 80px;
  zoom: 1;
}

.lui_address_tabs_ul > li .icon-recently,
.lui_address_tabs_ul > li .icon-org,
.lui_address_tabs_ul > li .icon-group,
.lui_address_tabs_ul > li .icon-sysRole,
.lui_address_tabs_ul > li .icon-search,
.lui_address_tabs_ul > li:hover .icon-recently, 
.lui_address_tabs_ul > li.active .icon-recently,
.lui_address_tabs_ul > li:hover .icon-org,
.lui_address_tabs_ul > li.active .icon-org,
.lui_address_tabs_ul > li:hover .icon-group, 
.lui_address_tabs_ul > li.active .icon-group,
.lui_address_tabs_ul > li:hover .icon-sysRole, 
.lui_address_tabs_ul > li.active .icon-sysRole,
.lui_address_tabs_ul > li:hover .icon-search, 
.lui_address_tabs_ul > li.active .icon-search {
  background:none;
  padding-left: 0;
}

.lui_address_tabs_ul > li>span:before {
  display: inline-block;
  content: "";
  margin-right: 5px;
  width: 16px;
  height: 16px;
  background: url(../images/address/address_icon_sprite.png) no-repeat left top;
  vertical-align: middle;
  position: relative;
  top: -1px;
}
.lui_address_tabs_ul > li .icon-recently:before{ background-position: 0 0;}
.lui_address_tabs_ul > li:hover .icon-recently:before, 
.lui_address_tabs_ul > li.active .icon-recently:before{ background-position: 0 -16px;}

.lui_address_tabs_ul > li .icon-org:before{ background-position: -16px 0;}
.lui_address_tabs_ul > li:hover .icon-org:before, 
.lui_address_tabs_ul > li.active .icon-org:before{ background-position: -16px -16px;}

.lui_address_tabs_ul > li .icon-group:before{ background-position: -32px 0;}
.lui_address_tabs_ul > li:hover .icon-group:before, 
.lui_address_tabs_ul > li.active .icon-group:before{ background-position: -32px -16px;}

.lui_address_tabs_ul > li .icon-sysRole:before{ background-position: -48px 0;}
.lui_address_tabs_ul > li:hover .icon-sysRole:before, 
.lui_address_tabs_ul > li.active .icon-sysRole:before{ background-position: -48px -16px;}

.lui_address_tabs_ul > li .icon-search:before{ background-position: -64px 0;}
.lui_address_tabs_ul > li:hover .icon-search:before, 
.lui_address_tabs_ul > li.active .icon-search:before{ background-position: -64px -16px;}

.lui-address-nav-searchbar{ border-radius: 0;}
.lui-address-nav-searchbar button{ border-top-left-radius: 0px; border-bottom-left-radius: 0px;}
.lui-address-nav-searchbar button,
.lui-address-nav-searchbar button:hover{ background-image: none!important;}
.lui-address-nav-searchbar button:before{ display: inline-block; content: ""; width: 16px; height: 16px; vertical-align: text-top; background-image: url(../images/address/address_icon_sprite.png); background-position: -64px 0;}
.lui-address-nav-searchbar button:hover:before{ background-position: -64px -16px;}

/* MAC系统高清屏特殊处理 */
@media screen and (-webkit-min-device-pixel-ratio:2) {
  .lui_address_tabs_ul > li>span:before,
  .lui-address-nav-searchbar button:before{ background-image: url(../images/address/address_icon_sprite@2x.png); background-size:auto 32px;}
}