@charset "utf-8";
/**
** 代码制作人: 
** 制作时间：2018-02-12
** 文件内容描述：业务模块样式（所有业务模块的特有样式可以扔进此CSS）
** 修改日期：无
** 修改内容：无
**********************************************/

/*审批流程概览 主题包优化 Starts*/
body .lui-backstage-panel{
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #d5d5d5\9;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 8px -2px rgba(0, 0, 0, .125);
     -moz-box-shadow: 0 2px 8px -2px rgba(0, 0, 0, .125);
      -ms-box-shadow: 0 2px 8px -2px rgba(0, 0, 0, .125);
       -o-box-shadow: 0 2px 8px -2px rgba(0, 0, 0, .125);
          box-shadow: 0 2px 8px -2px rgba(0, 0, 0, .125);
}
/*171603 修复文件丢失问题*/
body .lui_hr_staff_panel_overview_frame {
  border: 1px solid #d9d9d9;
  background-color: #fff;
  -ms-box-shadow: 0 2px 8px -2px rgba(0, 0, 0, 0.125);
  -o-box-shadow: 0 2px 8px -2px rgba(0, 0, 0, 0.125);
  box-shadow: 0 2px 8px -2px rgba(0, 0, 0, 0.125);
}

body .lui_hr_staff_panel_overview_frame .panel_btn_more {
  border-color: #d9d9d9;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: auto 16px;
  background-image: url(../images/icons/icon-more-hr-staff.png);
  transition-duration: .3s;
}

body .lui_hr_staff_panel_overview_frame .panel_btn_more:hover {
  color: #fff;
  border-color: #6081F8;
  background-color: #6081F8;
  background-image: url(../images/icons/icon-more-white.png);
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
  body .lui_hr_staff_panel_overview_frame .panel_btn_more {
    background-image: url(../images/icons/icon-more-hr-staff@2x.png);
  }
  body .lui_hr_staff_panel_overview_frame .panel_btn_more:hover {
    background-image: url(../images/icons/icon-more-white@2x.png);
  }
}

body .lui-backstage-panel-heading {
  border-bottom: 1px solid #d5d5d5;
}
body .lui-backstage-panel-heading-title{
  margin: -10px 0 -1px;
  padding: 10px 5px 8px;
  color: #4285f4;
  border-bottom: 2px solid #4285f4;
}
body .lui-backstage-panel-list li{
  width: 270px;
  padding-right: 20px;
}
body .lui-backstage-panel-list > li a:hover,
body .lui-backstage-panel-list > li a:hover .txt,
body .lui-backstage-panel-list .next-level-list li a:hover .txt {
  color: #4285f4;
}
body .lui-backstage-panel-list > li.has-next-level > .next-level-title a{ border-left: 2px solid #4285f4;}

body .lui-backstage-panel-body{ padding: 10px; }

body #newDiv{
  margin-top: 2px;
  margin-left: 6px;
}
/*审批流程概览 主题包优化 Ends*/


/*督办信息一览图 主题包优化 Starts*/
body .lui_hr_staff_overview_card_frame_out{ }
body .lui_hr_staff_panel_overview_frame{
  border-radius: 4px;
  border: 1px solid #d5d5d5\9;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 8px -2px rgba(0, 0, 0, .125);
     -moz-box-shadow: 0 2px 8px -2px rgba(0, 0, 0, .125);
      -ms-box-shadow: 0 2px 8px -2px rgba(0, 0, 0, .125);
       -o-box-shadow: 0 2px 8px -2px rgba(0, 0, 0, .125);
          box-shadow: 0 2px 8px -2px rgba(0, 0, 0, .125);
}
body .lui_hr_staff_panel_overview_frame .lui_hr_staff_panel_title{
  padding: 7px 10px 6px;
  border-bottom: 1px solid #d5d5d5;
}
body .lui_hr_staff_panel_overview_frame .panel_btn_more{
  border-radius: 4px;
  border-color: #d5d5d5;
  transition-duration: .3s;
}
body .lui_hr_staff_panel_overview_frame .panel_btn_more:hover{
  color: #fff;
  border-color: #4285f4;
  background-color: #4285f4;
  background-image: url(../icon/s/more_default_fff.png);
}

body .hr_staff_trends_tree em{ color: #4285f4; }
body .hr_staff_trends_tree dd>a:hover .trend_info{ border-bottom: 1px solid #4285f4;}
body .hr_staff_trends_tree .trend_info:hover,
body .hr_staff_trends_tree dd > a:hover .trend_info:hover{ color: #4285f4; }

/*督办信息一览图 主题包优化 Ends*/


/*学习管理 主题包优化 Starts*/
body .lui_course_btnW:hover a{ color: #fff; }
body #progressbar.ui-widget-content {
  margin-top: 0;
  height: 32px;
  border-color: #d5d5d5;
}
body .lui_course_btnBlueL {
  padding: 0px 12px;
  height: 34px;
  line-height: 34px;
  font-size: 16px;
  border-radius: 4px;
}
body .lui_form_content_frame.lui_learn_content,
body .lui_form_content_frame.lui_learn_content .tabLearn{
  background-color: transparent;
}

/*学习管理 主题包优化 Ends*/


/*投票页面 主题包优化 Starts*/
body .lui_vote_portlet_slideContainer .vote_btn_bar .vote_btn{
  border-radius: 4px;
}
/*投票页面 主题包优化 Ends*/


/*项目协作详页 主题包优化 Starts*/
body .lui_proItem_w,
body .lui_pro_basicInfo_w{ margin-bottom: 10px; }
body .lui_pro_panel_w{
  margin-bottom: 10px;
  background-color: #fff;
}

/*项目协作详页 主题包优化 Ends*/


/*【流程管理-流程查询内容】 主题包优化 Starts*/
body .lui-search-panel-list li.lui-search-panel-list-item a.selected{ color: #4285F4; }
/*【流程管理-流程查询内容】 主题包优化 Ends*/


/*【个人设置】 主题包优化 Starts*/
body .lui_person_per_right{ padding: 10px; }
body .lui_person_per_tab>li.lui_person_per_header .title{
  color: #333;
  font-size: 14px;
  font-weight: normal;
  position: absolute;
  left: 5px;
  top: 6px;
}
body .lui_person_base_up{
  position: absolute;
  right: 8px;
  top: 6px;
  width: 45px;
  text-align: right;
  height: 20px;
  display: block;
  color: #4285F4;
  font-size: 14px;
  font-weight: normal;
  transition-duration: .3s;
}
body .lui_person_base_up:hover{
  color: #346ac3;
}
body .pwdLoginHis,
body .pwdOpSecure {
  margin: 10px 0 0;
  padding: 10px;
  background-color: #fff;
}
body .lui_tabpanel_list_frame .lui_zone_per_right{
  margin-top: 0;
  padding: 10px;
}


/*【个人设置】 主题包优化 Ends*/


/*投票管理 单选和多选  按钮 starts*/
.lui_vote_portlet_slideContainer .vote_slide_hd .vote_slide_prev{left:7px;}
.lui_vote_portlet_slideContainer .vote_slide_hd .vote_slide_next{right:7px;}
.lui_vote_portlet_slideContainer .vote_result_list .vote_result_title .vote_opt_name .vote_radio input+i.item_radio,
.lui_vote_portlet_slideContainer .vote_result_list .vote_result_title .vote_opt_name .vote_radio input+.item_checkbox,
.lui_vote_portlet_slideContainer .vote_slide_hd .vote_slide_prev:hover,
.lui_vote_portlet_slideContainer .vote_slide_hd .vote_slide_next:hover{background-image:url(../images/module/vote-sprite.png);}

.lui_vote_portlet_slideContainer .vote_result_list .vote_result_title .vote_opt_name .vote_radio input + .item_checkbox{height:20px;background-position:-15px -66px;}

.lui_vote_portlet_slideContainer .vote_btn_bar .vote_btn{color:#4285f4;border:1px #4285f4 solid;}
.lui_vote_portlet_slideContainer .vote_btn_bar .vote_btn:hover{background-color:#4285f4;}

/*投票管理 单选和多选 按钮 ends*/

/* 附件机制 主题包优化 Starts */
.lui-upload-list-operation .lui-upload-list-opt-print {
  background-image: url(../images/form/print.png)
}
.lui-upload-list-operation .lui-upload-list-opt-view {
  background-image: url(../images/form/read.png)
}
.lui-upload-list-operation .lui-upload-list-opt-down {
  background-image: url(../images/form/down.png)
}
.lui-upload-list-operation .lui-upload-list-opt-edit {
  background-image: url(../images/form/edit.png)
}
.lui-upload-list-operation .lui-upload-list-filename-view a:hover {
  color: #4285f4;
}
/* 附件机制 主题包优化 Ends */
