
.lui_profile_list_body{ padding-right: 15px; }
.lui_profile_list_body .txtlistpath {
  padding-bottom: 10px;
  border-bottom: 0;
}
.lui_profile_header_frame {
  background-color: #4285f4;
}
.lui_profile_navLeft_container {
  background-color: #071e44;
}
.lui_profile_link{ border-left: 0; }

.lui_profile_navLeft_item .lui_profile_link:hover,
.lui_profile_navLeft_item.current .lui_profile_link,
.lui_profile_navLeft_item.current .lui_profile_link:hover { background-color: #4285f4; }

.lui_profile_header_navTop_item.more.current,
.lui_profile_header_navTop_item.more:hover,
.lui_profile_header_navTop_item.lui_profile_navTop_over {
  background-color: #346ac3;
}
.lui_profile_header_navTop_item.lui_profile_navTop_over{
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
     -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
      -ms-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
       -o-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.lui_profile_header_navTop_popup .lui_profile_header_navTop_item{ background: #4285f4;}
.lui_profile_header_navTop_popup .lui_profile_header_navTop_item:hover{ background-color: #346ac3;}

.lui_profile_header_navTop_item:hover,
.lui_profile_header_navTop_item.current{ background-color: #346ac3;}
.lui_profile_userinfo { background-color: transparent; }
.lui_profile_userinfo.lui_profile_userinfo_over{ background-color: #346ac3; }

.lui_profile_userinfo_header{ background: #4285f4;}
.lui_profile_userinfo_popup{
  border-color: #d5d5d5;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.lui_portal_header_location:after{ border-color: #fff; }
