html,body {
	margin: 0;
	padding: 0;
	height: 100%;
}

.buttonbar_main {
	background-color: #EEEEEE;
	border: 1px solid #ddd;
	height:28px;
}

.buttonbar_main td {
	font-size: 12px;
	border: 1px solid #ddd;
	background-color:#f5f5f5;
}

.processTool {
	background-color: white;
	border: 1px solid #ddd;
	height:60px;
}

.processTool td {
	font-size: 12px;
	border: 1px solid #ddd;
}

.button_line {
	width: 30px;
	height: 16px;
	padding: 5px 0px 5px 0px;
	display: inline-block;
	*float: left;
}

.button_sel {
	background-color: #B5BED6;
	border: 1px solid #08246B;
	height: 18px;
	width: 18px;
	cursor: pointer;
	padding: 4px;
	display: inline-block;
	*float: left;
}

.button_nor {
	background-color: #f5f5f5;
	border: 1px solid #f5f5f5;
	height: 18px;
	width: 18px;
	cursor: pointer;
	padding: 4px;
	display: inline-block;
	*float: left;
}

.button_img {
	background-image: url(../images/buttonbar.gif);
	height: 15px;
	width: 30px;
	background-position: center 0px;
	background-repeat: no-repeat;
}

.button_img_self {
	height: 16px;
	width: 16px;
	background-position: center 0px;
	background-repeat: no-repeat;
}

.button_opt {
	color: #0066FF;
	background-color: #F0F0F0;
	border: 1px #999999 solid;
	font-weight: normal;
	padding: 0px 1px 1px 0px;
	height: 18px;
	/*clip:  rect();*/
	cursor: pointer;
}

.href_opt {
	color: #0066FF;
	background-color: #F0F0F0;
	border: 0;
	font-weight: normal;
	padding: 0px 1px 1px 0px;
	height: 18px;
	text-decoration: underline;
	/*clip:  rect();*/
	cursor: pointer;
}

.buttonbar_label {
	display: inline-block;
	width: 15px;
	height: 16px;
	border: 1px solid #666666;
	vertical-align: middle;
}

.lbpm_fixedNode_moreAttr{
	color: #4285f4;
	text-decoration: none;
	cursor: pointer;
}
.lbpm_fixedNode_moreAttr:hover{
	color: #346ac3!important;
    text-decoration: underline;
}

.lbpm_freeflow_row{
	display: flex;
}
.lbpm_freeflow_title{
	width: 20%;
	text-align: right;
    padding-right: 8px;
}
.lbpm_freeflow_detail{
	width: 80%;
	line-height: 30px;
}
.lbpm_freeflow_winTitle {
	line-height: 45px;
    font-size: 16px;
    font-weight: bold;
	border-bottom: 1px solid #E7E7E7;
	text-align: left;
    padding-left: 43px;
}
.lbpm_freeflow_btn{
	float: right;
	line-height: 30px;
	width: 60px;
    background: #4285f4;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 20px;
    margin-top: 10px;
}
.lbpm_freeflow_operation_row{
	border-top: 1px solid #E7E7E7;
}
.lbpm_freeflow_type{
	display: flex;
	text-align: center;
	margin-bottom: 20px;
}
.lbpm_freeflow_type div{
	border: 1px solid #DFE3E9;
	background: #F5F6FB;
	cursor: pointer;
}
.lbpm_freeflow_type .lbpm_freeflow_type_img{
	height: 60px;
	border-top: none !important;
}
.lbpm_freeflow_type_checkbox{
	line-height: 35px;
}
.lbpm_freeflow_type_checkbox span{
	padding-top: 5px;
    padding-left: 5px;
}
.lbpm_freeflow_type .checked div{
	border: 1px solid #4285F4;
	background: #EEF4FF;
}
table.gridtable {
   font-family: verdana,arial,sans-serif;
   font-size:11px;
   width: 500px;
   text-align:center;
   color:#333333;
   border-width: 1px;
   border-color: #666666;
   border-collapse: collapse;
}
table.gridtable td {
   border-width: 1px;
   padding: 8px;
   border-color: #666666;
}