<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean
		name="/sys/right/cChangeTmpRight.do"
		class="com.landray.kmss.sys.right.actions.CChangeTmpRightAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.right.forms.CChangeTmpRightForm" />
	</bean>
	<bean
		name="/sys/right/cChangeDocRight.do"
		class="com.landray.kmss.sys.right.actions.CChangeDocRightAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.right.forms.CChangeDocRightForm" />
	</bean>
	<bean
		name="/sys/right/cChangeCateRight.do"
		class="com.landray.kmss.sys.right.actions.CChangeCateRightAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.right.forms.CChangeCateRightForm" />
	</bean>
	<bean
		name="/sys/right/right.do"
		class="com.landray.kmss.sys.right.actions.ChangeRightAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.right.forms.ChangeRightForm" />
		<property name="forwards">
			<map>
				<entry
					key="changeRight"
					value="/sys/right/right_change.jsp" />
				<entry
					key="loadRight"
					value="/sys/right/right_button_edit.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/sys/right/tmpRight.do"
		class="com.landray.kmss.sys.right.actions.ChangeTmpRightAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.right.forms.ChangeTmpRightForm" />
		<property name="forwards">
			<map>
				<entry
					key="changeRight"
					value="/sys/right/tmp_right_change.jsp" />
				<entry
					key="loadRight"
					value="/sys/right/tmp_right_button_edit.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/sys/right/batchChangeRight.do"
		class="com.landray.kmss.sys.right.actions.BatchChangeRightAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.right.forms.BatchChangeRightForm" />
		<property name="forwards">
			<map>
				<entry
					key="batchChangeRight"
					value="/sys/right/right_batch_change.jsp" />
				<entry
					key="categoryBatchChangeRight"
					value="/sys/right/category_right_batch_change.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/sys/right/tmpBatchChangeRight.do"
		class="com.landray.kmss.sys.right.actions.TmpBatchChangeRightAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.right.forms.TmpBatchChangeRightForm" />
		<property name="forwards">
			<map>
				<entry
					key="tmpBatchChangeRight"
					value="/sys/right/tmp_right_batch_change.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/sys/right/rightCateChange.do"
		class="com.landray.kmss.sys.right.actions.RightCateChangeAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.right.forms.CateAuthForm" />
		<property name="forwards">
			<map>
				<entry
					key="cateRightEdit"
					value="/sys/right/cate_right_change.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/sys/right/rightDocChange.do"
		class="com.landray.kmss.sys.right.actions.RightDocChangeAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.right.forms.DocAuthForm" />
		<property name="forwards">
			<map>
				<entry
					key="docRightEdit"
					value="/sys/right/doc_right_change.jsp" />
			</map>
		</property>
	</bean>
</beans>