<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean
		name="/sys/authorization/sys_auth_default_area/sysAuthDefaultArea.do"
		class="com.landray.kmss.sys.authorization.actions.SysAuthDefaultAreaAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.authorization.forms.SysAuthDefaultAreaForm" />
		<property name="forwards">
			<map>
				<entry
					key="view"
					value="/sys/authorization/sys_auth_default_area/sysAuthDefaultArea_view.jsp" />
				<entry
					key="edit"
					value="/sys/authorization/sys_auth_default_area/sysAuthDefaultArea_edit.jsp" />
				<entry
					key="list"
					value="/sys/authorization/sys_auth_default_area/sysAuthDefaultArea_list.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/sys/authorization/sys_auth_role/sysAuthRole.do"
		class="com.landray.kmss.sys.authorization.actions.SysAuthRoleAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.authorization.forms.SysAuthRoleForm" />
		<property name="forwards">
			<map>
				<entry
					key="view"
					value="/sys/authorization/sys_auth_role/sysAuthRole_view.jsp" />
				<entry
					key="edit"
					value="/sys/authorization/sys_auth_role/sysAuthRole_edit.jsp" />
				<entry
					key="list"
					value="/sys/authorization/sys_auth_role/sysAuthRole_list.jsp" />
				<entry
					key="template_edit"
					value="/sys/authorization/sys_auth_template/sysAuthTemplate_edit.jsp" />
				<entry
					key="template_view"
					value="/sys/authorization/sys_auth_template/sysAuthTemplate_view.jsp" />
				<entry
					key="list.4m"
					value="/sys/authorization/mobile/template/list.jsp" />
				<entry
					key="edit.4m"
					value="/sys/authorization/mobile/template/edit.jsp" />
				<entry
					key="view.4m"
					value="/sys/authorization/mobile/template/listview.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/sys/authorization/sys_auth_sys_role/sysAuthSysRole.do"
		class="com.landray.kmss.sys.authorization.actions.SysAuthSysRoleAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.authorization.forms.SysAuthRoleForm" />
		<property name="forwards">
			<map>
				<entry
					key="view"
					value="/sys/authorization/sys_auth_sys_role/sysAuthSysRole_view.jsp" />
				<entry
					key="edit"
					value="/sys/authorization/sys_auth_sys_role/sysAuthSysRole_edit.jsp" />
				<entry
					key="list"
					value="/sys/authorization/sys_auth_sys_role/sysAuthSysRole_list.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/sys/authorization/sys_auth_research/sysAuthResearch.do"
		class="com.landray.kmss.sys.authorization.actions.SysAuthResearchAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.authorization.forms.SysAuthResearchForm" />
		<property name="forwards">
			<map>
				<entry
					key="role"
					value="/sys/authorization/sys_auth_research/sysAuthResearch_role.jsp" />
				<entry
					key="person"
					value="/sys/authorization/sys_auth_research/sysAuthResearch_person.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/sys/authorization/sys_auth_category/sysAuthCategory.do"
		class="com.landray.kmss.sys.authorization.actions.SysAuthCategoryAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.authorization.forms.SysAuthCategoryForm" />
		<property name="forwards">
			<map>
				<entry
					key="view"
					value="/sys/authorization/sys_auth_category/sysAuthCategory_view.jsp" />
				<entry
					key="edit"
					value="/sys/authorization/sys_auth_category/sysAuthCategory_edit.jsp" />
				<entry
					key="list"
					value="/sys/authorization/sys_auth_category/sysAuthCategory_list.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/sys/authorization/sys_auth_area/sysAuthArea.do"
		class="com.landray.kmss.sys.authorization.actions.SysAuthAreaAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.authorization.forms.SysAuthAreaForm" />
		<property name="forwards">
			<map>
				<entry
					key="view"
					value="/sys/authorization/sys_auth_area/sysAuthArea_view.jsp" />
				<entry
					key="edit"
					value="/sys/authorization/sys_auth_area/sysAuthArea_edit.jsp" />
				<entry
					key="list"
					value="/sys/authorization/sys_auth_area/sysAuthArea_list.jsp" />
				<entry
					key="listManage"
					value="/sys/authorization/sys_auth_area/listManageVisitor.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/sys/authorization/sysAuthAreaTransfer.do"
		class="com.landray.kmss.sys.authorization.actions.SysAuthAreaTransferAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.authorization.forms.SysAuthAreaTransferForm" />
		<property name="forwards">
			<map>
				<entry
					key="guide"
					value="/sys/authorization/sys_auth_areatransfer/sysAuthAreaTransferGuide.jsp" />
				<entry
					key="select"
					value="/sys/authorization/sys_auth_areatransfer/sysAuthAreaTransferMain.jsp" />
				<entry
					key="detect"
					value="/sys/authorization/sys_auth_areatransfer/sysAuthRoleRepair.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/sys/authorization/sysAuthAreaThirdPartyAction.do"
		class="com.landray.kmss.sys.authorization.actions.SysAuthAreaAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.authorization.forms.SysAuthAreaForm" />
	</bean>
	<bean
		name="/sys/authorization/areaChgAction.do"
		class="com.landray.kmss.sys.authorization.actions.AreaChgAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.authorization.forms.AreaChgForm" />
		<property name="forwards">
			<map>
				<entry
					key="areaChgEdit"
					value="/sys/authorization/sys_cate_area_change/cate_area_change.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/sys/authorization/SysAuthUrlCheckAction.do"
		class="com.landray.kmss.sys.authorization.actions.SysAuthUrlCheckAction"
		lazy-init="true"
		parent="KmssBaseAction">
	</bean>
</beans>