.luiAttBorrorAuth .lui-component {
	display: inline-block;
	margin-left: 8px;
}

.luiAttBorrorAuth>div {
	margin: 10px 0;
}

.txttitle {
	font-size: 25px;
	margin: 10px 0;
}

#barRightPanel .lui_tabpanel_vertical_icon_content_l {
	margin-left: 40px;
}