/*登陆定制*/
* {
	-webkit-box-sizing: border-box;
		 -moz-box-sizing: border-box;
					box-sizing: border-box;
}
html{
	overflow-y:hidden;
}
body {
	margin:0;
	padding: 0;
	background-color: #424750 !important;
	font-size: 14px;
}
a,a:hover,a:active,a:focus,a:visited {
	text-decoration: none;
}
:focus {
	outline: none;
}
.head {
	margin-bottom:10px;
	background-color: #4a5158;
}
.head .title {
	padding: 0 15px;
	height: 40px;
	line-height: 40px;
	color:#fff;
	font-size:28px;
	font-weight:400;
	display:inline-block;
	cursor:pointer;
}

.f12{
	font-size:12px;
}

.container {

}

.left {
	float: right;
	width: 300px;
	padding-left:10px;
}
.left .operation {
	height: 150px;
	width: 280px;
}

.right {
	float: left;
	height: 100%;
	margin-left:10px;
}

.options {
	overflow: scroll;
}

.options input[type='text'] {
	border:0;
	margin-left: 7px;
	height:28px;
	width: 217px;
	line-height: 28px;
	background: transparent;
	font-size:14px;
	color:rgba(0,0,0,0.54);
}
#option-container{
	padding-right: 10px;
}
.options .option {
	border-radius: 4px;
	background: #fff;
	margin-bottom: 10px;
	padding: 5px 10px;
	/* width: 280px; */
	border: 3px solid transparent;
	position:relative;
}
.options .option:last-child{
	margin-bottom: 0;
}
.options .option:hover {
	border-color: #f3b521;
}

.options .option .title {
	margin: 0 0 10px;
	color: #333;
	font-size: 16px;
	font-weight: 400;
}

.options .option .content {
	padding: 5px 0;
}
.options .option .content:after{
	content: '';
	display: table;
	visibility: hidden;
	clear: both;
}

.options .option .input {
	border: 1px solid #ccc;
	border-radius: 3px;
}
.left .operation .save,
.left .operation .reset {
	margin-top: 4px;
	padding: 0;
	width: 100%;
	height: 32px;
	line-height: 32px;
	color: #fff;
	font-size: 14px;
	border-radius: 3px;
	border: 0;
	background-color: #4caf50;
	display: block;
	cursor: pointer;
}
.left .operation .save:hover,
.left .operation .reset:hover {
	background-color: #5ab563;
}

.btn-file {
	display: inline-block;
	margin-bottom: 0;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	color: #333;
	background-color: #fff;
	border-color: #ccc;
	white-space: nowrap;
	padding: 2px 6px;
	font-size: 14px;
	border-radius: 4px;
	user-select:none;
	overflow: hidden;
	position: relative;
	float: right;
}
.btn-file:hover {
    color: #333;
    background-color: #ebebeb;
    border-color:#adadad;
}
.btn-file>input[type=file] {
	display: block;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    font-size: 23px;
    cursor: pointer;
    direction: ltr;
}
.warp-input {
	display:block;
	height:24px;
	line-height:24px;
	width:100%;
}
.limit {
	margin-right: 3px;
	width:150px;
	height:28px;
	line-height:28px;
	float:left;
	color:#aaa;
	font-size:12px;
	white-space: nowrap;
}
.option .content .name {
	display:block;
	height:26px;
	line-height:26px;
	overflow: hidden;
	text-overflow:ellipsis;
	cursor:pointer;
}
.option .content .name:hover {
	background-color:#eee;
}
.option .content .active {
	background-color:#ccc;
}
.option .content .close {
	display:block;
	float:right;
	width:16px;
	height:16px;
	line-height:16px;
	text-align: center;
	margin-top:5px;
}
.option .content .name .imgname {
	display:block;
	width:220px;
	overflow:hidden;
	text-overflow:ellipsis;
	float:left;
}

/*颜色选择器*/
.color-on {
	display:inline-block;
	border:1px solid #d9d9d9;
	border-radius:3px;
	height:22px;
}
.color-on>i {
	display: inline-block;
	width:30px;
	height: 20px;
	border-radius:3px;
	cursor:pointer;
}
.colorpicker-custom {
	height:30px;
	padding-top:8px;
	padding-left: 3px;
	font-size: 12px;
}
.show-color-container {
	width: 65px;
	float: left;
	height: 26px;
	font-size:12px;
}
.show-color {
	border:1px solid #e6e5e5;
	width:100%;
	height: 100%;
	background: #fafafa;
	color:rgba(0, 0, 0, 0.54);
	border-radius: 3px;
}
.show-color:focus {
	border-color: #c3c2c2;
	background-color: #f7f7f7;
	color:rgba(0, 0, 0, 0.87);
}
.color-opt-container {
	width: 70px;
	display: inline-block;
	margin-top:5px;
}
.color-opt-container a {
	margin-left:5px;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    background-clip: padding-box;
}

.colorpicker-element {
	display:inline-block;
	float:right;
	vertical-align: middle;
	margin-top: -2px;
}
.inputGroup {
	border-top:1px solid #e0e0e0;
	height:auto;
	padding:5px 0;
	position:relative;
}
.inputGroup .inputSgl {
	width:220px;
	margin:5px 20px;
}
.inputGroup .delete {
	width:18px;
	height:18px;
	background:url('./delete-normal.png');
	position:absolute;
	top:50%;
	right:0;
	margin-top: -9px;
	cursor:pointer;
}
.inputGroup .delete:hover {
	background:url('./delete.png');
}

.inputGroup .inputSgl .input input[type='text'] {
	width:192px;
}

.options .option .add {
	width:18px;
	height:18px;
	background:url('./add-normal.png');
	position:absolute;
	top: 10px;
	right: 10px;
	cursor:pointer;
}
.options .option .add:hover {
	background:url('./add.png');
}

/* LOGO高度配置 Starts */
.lui_design_logo_hegiht_label{
	display:block;
	margin-top:10px;
}
.lui_design_logo_hegiht_label input{

	width: 35px;

	text-align: center;
}
.lui_design_logo_hegiht_label_title{
	font-size:12px;
	color:#666;
}
.lui_design_logo_hegiht_label_unit{
	font-size: 12px;
	color: #666;
}
/* LOGO高度配置 Ends */
