<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean
		name="/sys/number/sys_number_main_mapp/sysNumberMainMapp.do"
		class="com.landray.kmss.sys.number.actions.SysNumberMainMappAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.number.forms.SysNumberMainMappForm" />
		<property name="forwards">
			<map>
				<entry
					key="view"
					value="/sys/number/sys_number_main_mapp/sysNumberMainMapp_view.jsp" />
				<entry
					key="edit"
					value="/sys/number/sys_number_main_mapp/sysNumberMainMapp_edit.jsp" />
				<entry
					key="list"
					value="/sys/number/sys_number_main_mapp/sysNumberMainMapp_list.jsp" />
				<entry
					key="refList"
					value="/sys/number/sys_number_main_mapp/sysNumberMainMapp_refList.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/sys/number/sys_number_main_flow/sysNumberMainFlow.do"
		class="com.landray.kmss.sys.number.actions.SysNumberMainFlowAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.number.forms.SysNumberMainFlowForm" />
		<property name="forwards">
			<map>
				<entry
					key="view"
					value="/sys/number/sys_number_main_flow/sysNumberMainFlow_view.jsp" />
				<entry
					key="edit"
					value="/sys/number/sys_number_main_flow/sysNumberMainFlow_edit.jsp" />
				<entry
					key="list"
					value="/sys/number/sys_number_main_flow/sysNumberMainFlow_list.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/sys/number/sys_number_main/sysNumberMain.do"
		class="com.landray.kmss.sys.number.actions.SysNumberMainAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.number.forms.SysNumberMainForm" />
		<property name="forwards">
			<map>
				<entry
					key="view"
					value="/sys/number/sys_number_main/sysNumberMain_view.jsp" />
				<entry
					key="edit"
					value="/sys/number/sys_number_main/sysNumberMain_edit.jsp" />
				<entry
					key="list"
					value="/sys/number/sys_number_main/sysNumberMain_list.jsp" />
				<entry
					key="listUi"
					value="/sys/number/sys_number_main/sysNumberMain_list_new.jsp" />
				<entry
					key="viewToOld"
					value="/sys/number/sys_number_main/sysNumberMain_view_old.jsp" />
			</map>
		</property>
	</bean>
</beans>