/* 公共css start
	========================================================================== */
  .clearfix:after {
    content: '';
    display: table;
    visibility: hidden;
    clear: both;
  }
/* 公共css end
  ========================================================================== */
body, html{
  background-color: #f7f7f7;
  width: 100%;
}

.leaderBorder-container{
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.05);
  border-radius: 6px;
  padding-bottom: 12px;
}

.tab-table2{
  width: 100%;
  text-align: center;
}

.tab-table2 td{
  padding: 7px 0;
  min-width: 52px;
}

.span-r1{
  color: #ffffff;
  display: inline-block;
  width: 18px;
  height: 18px;
  text-align: center;
  font-style: normal;
  font-size: 12px;
  background: #F25E5E;
  border-radius: 3px;
}


.span-r2{
  background: #AFB9C3;
  color: #ffffff;
  display: inline-block;
  width: 18px;
  height: 18px;
  text-align: center;
  font-style: normal;
  font-size: 12px;
  background: #FF7171;
  border-radius: 3px;
}


.span-r3{
  background: #D5A386;
  color: #ffffff;
  display: inline-block;
  width: 18px;
  height: 18px;
  text-align: center;
  font-style: normal;
  font-size: 12px;
  background: #FF9D9D;
  border-radius: 3px;
}


.tbody-div-pic{
  position: relative;
  float: left;
  font-size: 0;
}
.tbody-div-complex p{
  position: relative;
  float: left;
  font-size: 14px;
  color: #333333;
  line-height: 14px;
  max-width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin:0 auto;
}

.tbody-div-complex a{
  transition: all 0.3s ease;
}

.tbody-div-complex a:hover{
  color: #4285f4;
}

.tbody-div-complex img{
  width: 36px;
  height: 36px;
}

.table-th-name{
  text-align: left;
}

.tab-table2 thead tr th{
  height: 40px;
  border-bottom: 1px solid  #F4F4F4;
  font-weight: normal;
}


.tbody-line{
  border-top: 1px solid pink;
}

.table-th-span{
  font-size: 14px;
  color: #333333;
  line-height: 14px;
}

.span-normal{
  background: #AFB9C3;
  color: #ffffff;
  display: inline-block;
  width: 18px;
  height: 18px;
  text-align: center;
  font-style: normal;
  font-size: 12px;
  background:#D8D8D8;;
  border-radius: 3px;
}

.bottomSpan-normal{
  font-size: 14px;
  color: #666666;
  line-height: 14px;
}

.bottomSpan{
  font-size: 14px;
  color: #999999;
  line-height: 14px;
}

