<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean
		name="/sys/category/mobile/sysSimpleCategory.do"
		class="com.landray.kmss.sys.simplecategory.mobile.MobileSimpleCategoryAction"
		lazy-init="true"
		parent="KmssBaseAction">
	</bean>
	<bean
        id="mobileSimpleCategoryController"
        class="com.landray.kmss.sys.simplecategory.controller.MobileSimpleCategoryController">
    </bean>
</beans>