
/* ��UI */

.km-note-list:after {
  content: '';
  display: table;
  visibility: hidden;
  clear: both;
}
.km-note-list-panel {
  background-color: #ededee;
  width: 960px;
}
.km-note-list-row {
  padding: 0 15px;
}
.km-note-list {
  list-style-type: none;
  height: 310px;
  border-bottom: 10px solid #fef3e7;
}
.km-note-list>li {
  float: left;
  width: 25%;
  position: relative;
  bottom: -30px;
  transition: bottom 0.3s;
  -moz-transition: bottom 0.3s;
  -webkit-transition: bottom 0.3s;
  -o-transition: bottom 0.3s;
}
.km-note-list>li:hover {
  bottom: -15px;
  transition: bottom 0.3s;
  -moz-transition: bottom 0.3s;
  -webkit-transition: bottom 0.3s;
  -o-transition: bottom 0.3s;
}
.km-note-list-item {
  height: 280px;
  margin: 0 15px;
  padding: 0 20px;
  background-color: #fdfaf7;
  background-image: url(../images/note-bg.png);
  background-size: 100% 100%;
  transition: box-shadow 0.3s;
  -moz-transition: box-shadow 0.3s;
  -webkit-transition: box-shadow 0.3s;
  -o-transition: box-shadow 0.3s;
}
.km-note-list-item:hover {
  box-shadow: 0px 0px 14px 2px #ccc;
  transition: box-shadow 0.3s;
  -moz-transition: box-shadow 0.3s;
  -webkit-transition: box-shadow 0.3s;
  -o-transition: box-shadow 0.3s;
}
.km-note-list-title {
  margin: 0;
  font-weight: 600;
  line-height: 52px;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}
.delete .km-note-list-title {
  color: #f74c4c;
}
.km-note-list-author {
  color: #3796f8;
  font-size: 12px;
    width: 50%;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.km-note-list-date {
  color: #666;
  float: right;
  font-size: 12px;
}
.km-note-list-content {
  line-height: 30px;
  margin-top: 6px;
  font-size: 12px;
}
.km-note-list-footer {
  position: absolute;
  bottom: 24px;
  right: 35px;
}
.km-note-list-footer>a {
  display: table;
  float: left;
  margin-left: 20px;
  position: relative;
}
.km-note-list-admire:after {
  content: '';
  width: 1px;
  height: 16px;
  position: absolute;
  top: 2px;
  right: -10px;
  background-color: #ddd;
}
.km-note-list-admire>.icon,
.km-note-list-comment>.icon {
  display: table-cell;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: 90%;
}
.km-note-list-admire>.icon {
  background-image: url(../images/admireIcon.png);
}
.km-note-list-comment>.icon {
  background-image: url(../images/commentIcon.png);
}
.km-note-list-admire>.num,
.km-note-list-comment>.num {
  color: #a3a3a3;
  display: table-cell;
  /*width: 12px;*/
  text-align: right;
}

.slide.hot .km-note-list-title {
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 4px;
}
.slide.hot .km-note-list-detail {
  border-bottom: 1px solid #f0edea;
  padding-bottom: 8px;
}
.slide.hot .km-note-list-footer {
  bottom: 20px;
}
.slide.hot .km-note-list>li:hover .km-note-list-footer {
  bottom: 24px;
}

.slide.km-note-list-panel{
  height: 430px;
  position: relative;
}
.slide .km-note-list-row {
  padding-top: 20px;
}
.slide .km-note-list {
  border-bottom: none;
  display: inline-block;
  margin-left: 60px;
  transition: margin-left 0.3s;
}
.slide .km-note-list:hover {
  margin-left: 50px;
  transition: margin-left 0.3s;
}
.slide .km-note-list>li {
  width: 250px;
  margin: 15px 10px 0;
  bottom: 0;
  transition: width,margin-top 0.3s,0.3s;
  background-color: #fdfaf7;
}
.slide .km-note-list>li:hover {
  box-shadow: 0px 0px 14px 2px #ccc;
  width: 270px;
  margin-top: 0;
  transition: width,margin-top,box-shadow 0.3s,0.3s,0.3s;
}
.slide .km-note-list-item {
  cursor: pointer;
  height: 280px;
  transition: height 0.3s;
  background-image: none;
  margin: 15px;
  padding: 10px;
  border: 1px solid #e3e1de;
}
.slide .km-note-list>li:hover .km-note-list-item {
  height: 330px;
  padding: 10px 10px 0;
  transition: height 0.3s;
  box-shadow: none;
}
.slide .km-note-list-tag {
  top: 14px;
  left: 24px;
}
.slide.myNote .km-note-list-content {
  padding-top: 0;
  line-height: 26px;
}
.slide .km-note-list-content {
  line-height: 26px;
}
.km-note-list-page {
  position: absolute;
  bottom: 10px;
  right: 0;
  left: 0;
  text-align: center;
  font-size: 16px;
  color: #333;
}
.km-note-list-button-wrap>input {
  width: 50px;
  height: 50px;
  background-color: #bebebe;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
}
.km-note-list-button-wrap>button:hover {
  background-color: #aaa;
  transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
}
.km-note-list-button-wrap>.left {
  left: 14px;
  background-image: url(../images/arrowLeft.png);
}
.km-note-list-button-wrap>.right {
  right: 14px;
  background-image: url(../images/arrowRight.png);
}
.km-note-list-button-wrap>.left,
.km-note-list-button-wrap>.right {
  position: absolute;
  top: 46%;
  margin-top: -25px;
  background-repeat: no-repeat;
  background-position: center;
}
.slide.myNote .km-note-list-footer {
  border-top: 1px solid #f0edea;
  right: 26px;
  left: 26px;
  padding: 8px 0 2px;
}

.lui_listview_gridtable_main_body {
    background-color: #ededee !important;
}

.km-note-list-panel .listview {

    background-color:#ededee !important;
}

/* �ҵıʼ� Starts
   ========================================================================== */
.myNote .km-note-list-content {
  margin-top: 0;
  padding-top: 15px;
}
.km-note-list-tag {
  width: 18px;
  height: 22px;
  position: absolute;
  top: 10px;
  left: 34px;
  border-radius: 0 0 9px 9px;
}
.km-note-list-tag.tick {
  background-color: #3796f8;
  background-image: url(../images/tickIcon.png);
  background-repeat: no-repeat;
  background-position: center;
}
.myNote .km-note-list-content {
  text-indent: 24px;
}

/* �ҵıʼ� Ends
   ========================================================================== */

.tile .km-note-list-button-wrap{
	display:none;
}

.tile .km-note-list-page{
	display:none;
}

.lui_paging_box {
   
    background-color: #ededee !important;
}

/* �ʼ����� Starts
   ========================================================================== */
.km-note-detail-wrap {
  padding: 30px 20px 0 20px;
}
.km-note-detail-person {
  padding: 8px 0 8px 65px;
  position: relative;
}
.km-note-detail-avatar-wrap {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
}
.km-note-detail-person-msg>.name {
  color: #3796f8;
  margin-right: 2px;
}
.km-note-detail-time {
  color: #999;
  font-size: 12px;
  margin-top: 2px;
}
.km-note-detail-avatar-wrap>img {
  width: 100%;
  height: 100%;
}
.km-note-detail-content {
  border-top: 1px solid #f1f1f1;
  margin-top: 15px;
  padding: 10px 0 60px;  
  position: relative;
}
.km-note-detail-heading {
  padding-bottom: 10px;
}
.km-note-detail-heading .tag {
  width: 18px;
  height: 21px;
  background-color: #3796f8;
  display: inline-block;
  border-radius: 0 0 9px 9px;
  background-image: url(../images/tickIcon.png);
  background-repeat: no-repeat;
  background-position: center 45%;
  margin-right: 8px;
  position: relative;
  top: 8px;
}
.km-note-detail-heading .gray {
  color: #999;
}
.km-note-detail-heading .bold {
  font-weight: 600;
}
.km-note-detail-body {
  line-height: 24px;
}
.km-note-detail-content>.km-note-list-footer {
  right: 0;
}

pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

.edit_notes .praise_count:after {
    content: '';
    width: 1px;
    height: 16px;
    position: absolute;
    top: 2px;
    right: -10px;
    background-color: white;
}

/* �ʼ����� Ends
   ========================================================================== */
   
 /* ����ʼ� Starts
   ========================================================================== */
.km-note-share-panel {
  width: 330px;
  height: 100%;
  background-color: #fbfdff;
  padding: 0 15px;
}
.km-note-share-list {
  list-style-type: none;
}
.km-note-share-textarea-wrap {
  padding-top: 15px;
}
.km-note-share-textarea {
  width: 93%;
  height: 128px;
  border: 1px solid #e2e2e2;
  border-radius: 3px;
  padding: 10px;
}
.km-note-share-textarea-footer {
  padding: 15px 0;
  border-bottom: 1px solid #e2e2e2;
}
.km-note-share-textarea-footer>label {
  cursor: pointer;
}
.active>.km-note-share-check {
  background-color: #3796f8;
  border: 1px solid #3796f8;
  background-image: url(../images/tickIcon.png);
  background-repeat: no-repeat;
  background-position: center;
}
.km-note-share-check {
  width: 14px;
  height: 14px;
  border: 1px solid #d5d5d5;
  border-radius: 2px;
  background-color: #fff;
  display: inline-block;
  margin-bottom: -3px;
}
.km-note-share-submit {
  /*background-color: #3796f8;*/
  font-size: 16px;
  height: 28px;
  width: 68px;
  border: none;
  border-radius: 3px;
  color: #fff;
  float: right;
  cursor: pointer;
  margin-top: -6px;
}
/*.km-note-share-submit:hover {
  background-color: #1986f6;
}*/
.km-note-share-list-heading {
  padding-top: 15px;
}
.km-note-share-list-heading>input {
  background-color: #fbfdff;
  height: 28px;
  width: 75px;
  border: 1px solid #999;
  border-radius: 15px;
  color: #999;
  margin-right: 5px;
  cursor: pointer;
}
.km-note-share-list-heading>input:hover,
.km-note-share-list-heading>input.active {
  color: #3796f8;
  border: 1px solid #3796f8;
}
.km-note-share-refresh {
  width: 18px;
  height: 19px;
  display: inline-block;
  background-image: url(../images/refresh.png);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  float: right;
  margin-top: 3px;
}
.km-note-share-list .content {
  color: #333;
}
.km-note-share-detail {
 padding: 15px 0;
}
.km-note-share-detail .date {
  color: #999;
  margin-left: 4px;
}
.km-note-share-detail a:hover,
.km-note-share-detail a {
  color: #3796f8;
  text-decoration: underline;
  float: right;
}
.km-note-share-list>li {
  border-bottom: 1px dashed #e2e2e2;
  padding-top: 15px;
}
.km-note-share-list>li:last-child {
  border-bottom: none;
}

/* ����ʼ� Ends
   ========================================================================== */
 
 /* �鿴����ʼ� Starts
   ========================================================================== */
.km-note-detail-wrap.share {
  position: relative;
}
.km-note-detail-wrap.share .km-note-detail-content {
  padding-bottom: 15px;
  border-top: 0;
  margin-top: 0;
  border-bottom: 1px solid #e2e2e2;
}
.km-note-detail-wrap.share .km-note-list-admire {
  position: absolute;
  right: 0;
  top: 10px;
}
.km-note-detail-wrap.share .km-note-list-admire .num {
  color: #ffaf00;
  text-align: center;
}
.km-note-detail-wrap.share .km-note-list-admire .icon {
  background-image: url(../images/admireIcon2.png);
}
.km-note-detail-wrap.share .km-note-list-admire.zero .num {
  color: #999;
}
.km-note-detail-wrap.share .km-note-list-admire.zero .icon {
  background-image: url(../images/admireIcon.png);
}
.km-note-detail-wrap.share .km-note-list-admire:after {
  content: '';
  display: none;
}

/* �鿴����ʼ� Ends
   ========================================================================== */
 
 /* �ʼ����� Starts
   ========================================================================== */
.km-note-detail-wrap {
  padding: 30px 20px 0 20px;
}
.note_view .km-note-detail-wrap {
  padding: 0 0 0 0;
}
.km-note-detail-person {
  padding: 8px 0 8px 65px;
  position: relative;
}
.km-note-detail-avatar-wrap {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
}
.km-note-detail-person-msg>.name {
  color: #3796f8;
  margin-right: 2px;
}
.km-note-detail-time {
  color: #999;
  font-size: 12px;
  margin-top: 2px;
}
.km-note-detail-avatar-wrap>img {
  width: 100%;
  height: 100%;
}
.km-note-detail-content {
  border-top: 1px solid #f1f1f1;
  margin-top: 15px;
  padding: 10px 0 60px;  
  position: relative;
}
.km-note-detail-heading {
  padding-bottom: 10px;
}
.km-note-detail-heading .tag {
  width: 18px;
  height: 21px;
  background-color: #3796f8;
  display: inline-block;
  border-radius: 0 0 9px 9px;
  background-image: url(../images/tickIcon.png);
  background-repeat: no-repeat;
  background-position: center 45%;
  margin-right: 8px;
  position: relative;
  top: 8px;
}
.km-note-detail-heading .gray {
  color: #999;
}
.km-note-detail-heading .bold {
  font-weight: 600;
}
.km-note-detail-body {
  line-height: 24px;
}
.km-note-detail-content>.km-note-list-footer {
  right: 0;
}

.km-note-detail-wrap.share .notes_praise {
    position: absolute;
    right: 0;
    top: 10px;
}



/* �ʼ����� Ends
   ========================================================================== */
 
.notes_reply_infos{
	border-bottom: 1px dashed #e2e2e2;
}