/* create 210719 */


/* 样式主体Start */

body{
    /*background-color: #e9ecef;*/
    height: fit-content;
}

/* 流程统计Start */
.lui_review_statist_data {
    position: relative;
    margin: 6px 0;
}
.lui_review_statist_echarts {
    /*height: 375px;*/
    background-color: #FFFFFF;
    /*margin-left: 340px;*/
    /*border-radius: 4px;*/
    /*height: 337px;*/
    overflow: hidden;
}

.lui_review_statist_panel {
    float: left;
    width: 300px;
    height: 337px;
    padding: 0px 16px;
    background: #FFFFFF;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.06);
    border-radius: 4px;
}
.lui_review_statist_panel li {
    border-bottom: 1px dotted #eeeeee ;
}
.lui_review_statist_panel li:last-child {
    border-bottom: none;
}

.lui_review_statist_panel li p {
    margin-bottom: 10px;
    line-height: 24px;
    font-size: 12px;
    color: #666666;
    font-weight: 400;
}
.lui_review_statist_panel h3 {
    margin-top: 19px;
    margin-bottom: 13px;
    font-size: 14px;
    color: #333333;
    line-height: 14px;
    font-weight: 400;
}
.lui_review_statist_item {
    width: 50%;
    display: inline-block;

}

.lui_review_statist_item a {
    margin-left: 8px;
    font-size: 16px;
    color: #2778FF;
    font-weight: 400;
}

.lui_review_statist_icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: 9px;
    vertical-align: middle;
}

.lui_review_statist_icon_todo {
    background: url(../images/icon_pending.png) no-repeat center;
}

.lui_review_statist_icon_done {
    background: url(../images/icon_finished.png) no-repeat center;
}

.lui_review_statist_icon_launch {
    background: url(../images/icon_launch.png) no-repeat center;
}
.lui_review_statist_icon_lib {
    background: url(../images/icon_process_lab.png) no-repeat center;
}

/* 流程统计End */

/* 流程分类Start */
.lui_review_cateTemplate_list {
    overflow: hidden;
    /* width: 1228px; */
    /* padding: 16px; */
    background-color: #FFFFFF;
    margin: 5px 9px;
}

.lui_review_cateTemplate_list li {
    width: 186px;
    height: 64px;
    float: left;
    margin-right: 16px;
    margin-bottom: 16px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    border-radius: 2px;
}
.lui_review_cateTemplate_list li i{
    float: left;
}
.lui_review_cateTemplate_list li img{
    width: 40px;
    height: 40px;
    margin: 12px;
}

.lui_review_cateTemplate_list .lui_review_cate_item_content {
    margin-left: 64px;
    margin-top: 14px;
    margin-bottom: 14px;
}
.lui_review_cateTemplate_list .lui_review_cate_item_content .lui_review_cateTemplate_name {
    font-size: 12px;
    color: #999999;
    line-height: 12px;
    font-weight: 400;
    margin-bottom: 11px;
    width: 110px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.lui_review_cateTemplate_list .lui_review_cate_item_content p {
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

.lui_review_card_info {

    margin: 6px 0;
}

.lui_review_cateTemplate_info {

    margin: 6px 0;
}

.lui_review_echarts_table {
    height: 300px;
}

.lui_review_more_href {
    position: absolute;
    right: 16px;
    top: 5px;
    display: inline-block;
    z-index: 1;
    cursor: pointer;
}

.lui_review_cateTemplate_list .lui_review_cate_item_content .lui_review_cateTemplate_cate {

    font-size: 12px;
    color: #999999;
    line-height: 12px;
    font-weight: 400;
    width: 110px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/* 流程分类End */

/* 流程列表Start */

.lui_review_card_list_inner {
    border: 1px solid #EEEEEE;
    border-radius: 4px;
    margin-bottom: 14px;
}

.lui_review_card_list {
    background-color: #ffffff;
    /*box-shadow: 0 0 6px 0 rgba(0,0,0,0.06);*/
    border-radius: 4px;
    /* padding: 16px; */
    margin: 0px 9px;
}

.lui_review_card_list .lui_review_card_list_inner .lui_review_card_list_head {
    background-color: #f8f8f8;
    height: 35px;
    line-height: 35px;
}

.lui_review_card_list_head .lui_review_card_list_headL {
    float: left;
}
.lui_review_card_list_head .lui_review_card_list_headR {

    float: right;
}

.lui_review_card_list_headL input{
    margin:10px 0 0 15px;
}

.lui_review_list_title {
    background: #FFFFFF;
    border: 1px solid #FFCA99;
    border-radius: 9px;
    font-size: 12px;
    color: #FF9431;
    letter-spacing: 0;
    text-align: center;
    line-height: 14px;
    font-weight: 400;
    padding: 2px 8px;
    margin:16px 10px;
    height: 12px;
    display: inline-block;
    position: relative;
    top: -7px;
}
.lui_review_doc_title {
    width: 450px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 34px;
    height: 28px;
}

.lui_review_card_list_headR div {
    display: inline-block;
    vertical-align: middle;
    margin-right: 13px;
}
.lui_review_card_list_headR_proposer_list {
    /* display: inline-block; */
}

.lui_review_card_list_headR_proposer_item {
    font-size: 12px;
    color: #999999;
    text-align: right;
    line-height: 12px;
    font-weight: 400;
    position: relative;
    height: 12px;
    display: inline-block;
    top: -6px;
}
.lui_review_card_list_headR span{
    display:inline-block;
    vertical-align: -4px;
}

.lui_review_card_list_headR_proposer_list {
    /* position: relative; */
}
.lui_review_card_list_headR_application_category_list {
    /* position: relative; */
}
.lui_review_card_list_headR_process_node {
    margin-left: 16px;
    position: relative;
}
.lui_review_card_list_icon {
    height: 20px;
    width: 20px;
    display: inline-block;
    vertical-align: middle;
}

.lui_review_card_list_headR_proposer_list .lui_review_card_list_headR_proposer_icon {
    background-image: url(https://iph.href.lu/20x20?text=%E5%A4%B4%E5%83%8F&fg=ffffff&bg=2986cc);
    border-radius: 50%;

}
.lui_review_card_list_desc {
    margin-left: 4px;
    font-size: 12px;
    color: rgba(0,0,0,0.85);
    font-weight: 400;
    width: 160px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    /* height: 28px; */
    line-height: 20px;
}
.lui_review_card_list_headR_application_category_item {
    margin:0 8px;
    font-size: 12px;
    color: #999999;
    line-height: 12px;
    font-weight: 400;
    position: relative;
    height: 12px;
    top: -6px;
}
.lui_review_card_list_headR_application_category_icon {
    max-height: 20px;
    max-width: 20px;
}
.lui_review_card_list_headR_process_node_icon {
    width: 12px;
    height: 10px;
    top: 12px;
    background-image: url(https://iph.href.lu/12x10?text=--&fg=ffffff&bg=bcbcbc);
}

.lui_review_card_list_headR_process_node_desc {
    margin-left: 4px;
    font-size: 12px;
    color: #666666;
    font-weight: 400;
}

.lui_review_card_list_content  {
    padding:16px;
    padding-bottom: 0;
    position: relative;
}

.lui_review_card_list_content .lui_review_card_list_content_left ul li {
    width: 33%;
    display: inline-block;
}

.lui_review_card_list_content_item {
    font-size: 12px;
    color: #999999;
    line-height: 12px;
    font-weight: 400;
    font-style: normal;
    width: 84px;
    height: 12px;
    display: inline-block;
}

.lui_review_card_list_content_detail {
    font-size: 12px;
    color: rgba(0,0,0,0.85);
    line-height: 12px;
    font-weight: 400;
    margin-left: 8px;
    width: 160px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.lui_review_card_list_content .lui_review_card_list_content_left {
    margin-right: 180px;
}


.lui_review_card_list_content .lui_review_card_list_content_right {
    float:right;
    width: 180px;
    text-align: center;
    height: 100%;
}

.lui_review_card_list_content_right .lui_review_card_list_operation {

    position: absolute;

    bottom: 30px;
}

.lui_review_card_list_content .lui_review_card_list_content_left p {
    margin-bottom: 14px;
}

.lui_review_card_list_content_right .lui_review_card_list_content_permission {
    background: #4285F4;
    border-radius: 2px;
    font-size: 12px;
    color: #FFFFFF;
    text-align: center;
    line-height: 16px;
    font-weight: 400;
    padding:4px 23px;
    margin-right: 8px;
}

.lui_review_card_list_content_right .lui_review_card_list_content_reject {
    font-size: 12px;
    color: #333333;
    text-align: center;
    line-height: 16px;
    font-weight: 400;
    padding:4px 23px;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 2px;
}
/* 流程列表End */

/* 样式主体End */