.muiCardContent .muiDripList,
.muiCardContent .muiDripAnnoun,
.muiCardContent .muiDripMemberList{ margin-left: -1.2rem; }
.muiDripList{
  margin: 0;
  list-style: none;
}
.muiDripList:after,
.muiDripList:before{
  content: '';
  display: table;
  visibility: hidden;
}
.muiDripList:after { clear: both; }
.muiDripList > li{
  width: 48%;
  float: left;
  position: relative;
}
.muiDripList > li > a {
  text-decoration: none;
  display: block;
  padding: .6rem;
}
.muiDripImgbox {
  height: 10.6rem;
  text-align: center;
  vertical-align: top;
  font-size: 0;
  border-radius: .6rem;
  background-color: #f8f8f8;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: relative;
}
.muiDripImgbox > img {
  width: 100%;
  height: 100%;
}
.muiDripImgbox > .imgboxBar{
  width: 50%;
  line-height: 1.8rem;
  text-align: center;
  color: #3f413d;
  font-size: 1.2rem;
  background-color: #ffcf59;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transform: rotate(-45deg);
  position: absolute;
  left: -16%;
  top: 8%;
  z-index: 1;
}

.muiDripListTitle{
	height: 4rem;
    margin: 0;
    font-weight: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    word-wrap: break-word;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    -webkit-box-pack: start;
    box-pack: start;
    -webkit-box-align: start;
    box-align: start;
}

.muiDripListInfo{
  width: 100%;
  margin-top: 1rem;
  line-height: 1;
  display: table;
  table-layout: fixed;
  margin-top:1.4rem;
}
.muiDripListInfo > span{
  display: table-cell;
  text-align: left;
}
.muiDripListInfo > span.count{ text-align: right; }
.muiDripListInfo > span.count>.muiDripListReadNum{ 
    margin-right: .4rem;
    font-size: 1.5rem;
    font-family: "landray-number", -apple-system, SF UI Text, Arial, PingFang SC, Hiragino Sans GB, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif;
}
.muiDripListInfo > span.count>.muiDripListReadViewText{ 
}

.muiDripListInfo .mui{
  margin-right: .1rem;
  vertical-align: top;
}
.muiDripList.listImgTitle{}
.muiDripList.listImgTitle .muiDripListTitle {
  margin: 0;
  color: #fff;
  font-size: 1.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  word-wrap: break-word;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
          box-orient: vertical;
  -webkit-box-pack: center;
          box-pack: center;
  -webkit-box-align: center;
          box-align:center;
  /* border-radius: .8rem; */
  background-color: rgba(0, 0, 0, .4);
  position: absolute;
  left: .6rem;
  right: .6rem;
  top: .6rem;
  bottom: .6rem;
  z-index: 1;
}

.muiDripTeachList > li{
  width: 48%;
}
.muiDripTeachList > li:nth-child(2n) {
  margin-left: 4%;
}
.muiDripTeachList .muiDripListTitle {
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: left;
}
.muiDripTeachList .muiDripTeachGrade {
  height: 1.4rem;
  line-height: 1.4rem;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.muiDripAnnoun:first-child{
   margin-top: 1.6rem;
}
.muiDripAnnoun:not(:first-child){
  margin-top: 1.8rem;
}
.muiDripAnnoun:last-child{
  padding-bottom: 1.8rem;
}
.muiDripAnnoun:not(:last-child){
  padding-bottom: 1.2rem;
  border-bottom: .5px solid #eaebf0;
}
.muiDripAnnoun > .muiDripImgbox {
  margin-bottom: 1rem;
  height: 16rem;
  border-radius: .6rem;
}
.muiDripAnnounTxt {
  margin: 0;
  line-height: 1.8rem;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  word-wrap: break-word;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
          box-orient: vertical;
  -webkit-box-pack: start;
          box-pack: start;
  -webkit-box-align: start;
          box-align:start;
}
.muiDripAnnoun.hasList{}
.muiDripAnnoun.hasList > .muiDripImgbox {
  margin-bottom: 1rem;
  height: 7.2rem;
}
.muiDripAnnoun.hasList > .muiDripList {
  padding-top: 1rem;
}
.muiDripAnnoun.hasList > .muiDripList > li{
  margin-bottom: 1.6rem;
  background-color: #fff;
  box-shadow: 0px 0px 1rem 0px rgba(153, 179, 210, 0.20);
  border-radius: .6rem;
}
.muiDripAnnoun.hasList > .muiDripList > li:nth-child(even){ margin-left: 4%; }
.muiDripAnnoun.hasList > .muiDripList > li.muiDripListLastRowItem{
  margin-bottom: 0;
}
.muiDripAnnoun.hasList > .muiDripList .muiDripListTitle{
  margin-top: 0;
  margin-bottom: .5rem;
}