.muiPortalPersonSlide {
	overflow: hidden;
}

.muiPortalPersonSlide .muiPortalPersonModule {
	width: 4.5rem;
	height: 4.5rem;
	line-height: 4.5rem;
	border-radius: 3px;
	display: inline-block;
}

.muiPortalPersonSlide .muiPortalText {
	line-height: 1.5rem;
	font-size: 1.2rem;
	color: #000;
}
.muiPortalPersonSlide .mui {
	color: #000;
}
.mulPortletSlide {
	width: 100%;
}
.muiPortalPersonSlideItem {
	display: inline-block;
	width: 6.5rem;
	height: 9rem;
	padding: 1.2rem 0.4rem 1rem;	/*大字体显示*/
	text-align: center;
}
.muiPortalPersonModule .mui {
	color: #fff;
}
.mulPortletSlideInner {
	height: 9rem;
}
.muiPortalPersonText {
	margin-top: .5rem;
	line-height: 1;
	font-size: 1.2rem;
}
.muiPortalPersonModule img {
	border-radius: 50%;
	width: 5rem;
	height: auto;
	border: 1px solid #c9dfff;
}
