var extend = (param!=null && param.extend!=null)?('_'+param.extend):'';
		var _vars = layout.panel.config.vars;
		var _bgColor = '';
		var _bg = '';
		var _padding = '';
		var _borderRadius = '';
		var _top = 0;
		var _top_style = '';

		var _customStyle = '';
		if(_vars){
		_customStyle = _vars.style || '';
		_bgColor = _vars.bgColor === '' ? '' : (_vars.bgColor!=null) ? 'background-color:'+_vars.bgColor+';': '';
		_bg = _vars.bg === '' ? '' : (_vars.bg!=null) ? 'background-image:url('+layout.env.fn.formatUrl(_vars.bg)+');': '';
		_padding = _vars.padding === '' ? '' : (_vars.padding!=null) ? 'padding:'+_vars.padding+';': '';
		_borderRadius = _vars.borderRadius == '' ? '' : _vars.borderRadius!=null ? 'border-radius:'+_vars.borderRadius+';': '';
		_top = _vars.top || 0;
		_top_style = _top != 0 ? 'position:relative;top:-'+_top+'px;margin-bottom:-'+_top+'px;': '';
		}
		if(_bgColor || _bg){
		{$
<style>
	#{%layout.panel.cid%} .lui_panel_content_c,
			#{%layout.panel.cid%} .lui_panel_light_content_c,
			#{%layout.panel.cid%} .lui_panel_simple_content_c,
			#{%layout.panel.cid%} .lui_panel_vertical_content_c,
			#{%layout.panel.cid%} .lui_panel_content_l,
			#{%layout.panel.cid%} .lui_panel_light_content_l,
			#{%layout.panel.cid%} .lui_panel_simple_content_l,
			#{%layout.panel.cid%} .lui_panel_vertical_content_l{
			background:transparent;
			}
</style>
		$}
		}
		if(_borderRadius){
		{$
<style>
			#{%layout.panel.cid%} .lui_panel_frame,
					#{%layout.panel.cid%} .lui_panel_light_frame,
					#{%layout.panel.cid%} .lui_panel_simple_frame,
					#{%layout.panel.cid%} .lui_panel_vertical_frame{
					overflow:hidden;
					}
</style>
		$}
		}
		{$
<style>
	#{%layout.panel.cid%} [data-lui-type='lui/panel!Content']{
			{%_padding%}
			}
</style>
<div class="lui_panel{%extend%}_frame" style="{% _bgColor %} {% _bg %} {% _borderRadius %} {% _top_style %} {%_customStyle%}">
<div class="lui_panel{%extend%}_navs_l">
<div class="lui_panel{%extend%}_navs_r">
<div class="lui_panel{%extend%}_navs_c clearfloat" data-lui-mark="panel.nav.frame">
<div class="lui_panel{%extend%}_navs_item_l">
<div class="lui_panel{%extend%}_navs_item_r">
<div class="lui_panel{%extend%}_navs_item_c" data-lui-mark="panel.nav.title">
</div>
</div>
</div>
		$}
		if(layout.panel.contents[0].getToggle()){
		{$
<div class="lui_panel{%extend%}_toggle"  data-lui-mark='panel.nav.head'>
<div class="lui_panel{%extend%}_toggle_up" data-lui-mark="panel.nav.toggle" data-lui-switch-class="lui_panel{%extend%}_toggle_down">
</div>
</div>
		$}
		}
		{$
</div>
</div>
</div>
<div class="lui_panel{%extend%}_content_l">
<div class="lui_panel{%extend%}_content_r">
<div class="lui_panel{%extend%}_content_c" data-lui-mark="panel.contents">
</div>
</div>
</div>
<div class="lui_panel{%extend%}_footer_l">
<div class="lui_panel{%extend%}_footer_r">
<div class="lui_panel{%extend%}_footer_c">
</div>
</div>
</div>
</div>
		$}

