var extend = (param!=null && param.extend!=null)?('_'+param.extend):'',
	h = layout.parent.config.height || 240;
{$
	<div class='lui_tabpanel_vertical{%extend%}_frame'>
		<div class='lui_tabpanel_vertical{%extend%}_navs_l'>
			<div class='lui_tabpanel_vertical{%extend%}_navs_r lui-fm-actionbar'>
				<div class="lui_tabpanel_vertical{%extend%}_navs_c clearfloat lui-fm-actionbar-tab">
$}
var height = (Math.floor(1000/layout.tabpanel.contents.length)-1)/10.0;
for(var i=0;i<layout.tabpanel.contents.length;i++){
	var title = layout.tabpanel.contents[i].title;
	var icon = layout.tabpanel.contents[i].titleicon;
	{$
					<div class='lui_tabpanel_vertical{%extend%}_navs_item_l' data-lui-mark="panel.nav.frame" data-lui-switch-class="lui_tabpanel_vertical{%extend%}_navs_item_selected">
						<a><i class="lui-fm-icon {%icon%}"></i></a>
						<div class="actionbar-txt">{%title%}</div>
					</div>
	$}
}
{$			
				</div>
			</div>
		</div>
		<div class="lui_tabpanel_vertical{%extend%}_content_l">
			<div class="lui_tabpanel_vertical{%extend%}_content_r">
				<div class="lui_tabpanel_vertical{%extend%}_content_c" data-lui-mark="panel.contents">
				</div>
			</div>
		</div>
		<div class="lui_tabpanel_vertical{%extend%}_footer_l">
			<div class="lui_tabpanel_vertical{%extend%}_footer_r">
				<div class="lui_tabpanel_vertical{%extend%}_footer_c">
				</div>
			</div>
		</div>
	</div>
$}
seajs.use('lang!sys-ui',function(lang){
	layout.tabpanel.setCount = function(content, countInfo){
	if(countInfo){
		if(!countInfo.count){
			countInfo.count = 0;
		}
		if(!countInfo.more){
			countInfo.more = false;
		}
		
		if(this.titlesNode.length>0 && (countInfo.count>=0 || countInfo.more==true)){
			var self = this;
			var idx = $.inArray(content,this.contents);
			if(idx>-1){
				if(this.titlesNode[idx]!=null){
					var titleNode = this.titlesNode[idx];
					var modify = false;
					var html = "<span ";
					if(countInfo.count>0){
						modify = true;
						html = html + "class='com_prompt_num'>" + (countInfo.count>99?"99+":countInfo.count);
					}
					if (countInfo.count==0){
						modify = true;
					}
					if(countInfo.more==true){
						modify = true;
						html = html + "class='com_prompt_more'>";
					}
					
					if(countInfo.count>0){
						html = html + "</span><span class='com_prompt_text'>/" + lang['layout.tabpanel.vertical.pieces'] + "</span>";
					}else{
						html = html + "></span>";
					}
					if(modify)
						titleNode.html('<span class="lui_tabpanel_navs_item_title">' + self.contents[idx].title + '</span>' + "<span class='com_prompt'>" +  html  + "</span>");
				}
			}
		}
	}
 };
});
	
