@charset "UTF-8";

body{
	overflow : hidden;
}

.lang {
	padding: 0 8px;
}

.lang .lang-head {
	overflow: hidden;
	height: 35px;
	line-height: 35px;
	padding: 6px 0;
	/* box-sizing: border-box; */
}

.lang-head .lang-head-tab-container {
	float: left;
	border-radius: 5px;
	border: 1px solid #4285f4;
	/* font-size: 14px; */
	/* color: #4285f4; */
	background-color: #fff;
	/* margin: 3px 0; */
}

.lang-head-tab-container .lang-head-tab {
	padding:0 15px;
	float: left;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	cursor: pointer;
	text-align: center;
	color: #4285f4;
	/* background-color: #fff; */
	border-right: 1px solid #4285f4;
}

.lang-head-tab.active {
	background-color: #4285f4;
	color: #fff;
	transition: all 0.3s;
}

.lang-head-tab-container .lang-head-tab:last-child {
	border-right: none;
}

.lang-head-tab span {
	
}

.lang-head .lang-head-btn {
	float: right;
	margin: 2px 10px 0 0;
}

.lang-head-btn .head-btn {
	width: 90px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background: #4285f4;
	color: #fff;
	font-size: 14px;
	border-radius: 2px;
	cursor: pointer;
	transition: all 0.3s;
}

.lang-head-btn .head-btn:hover {
	background: #679DF6;
}

.lang .lang-main {
	margin-top: 9px;
}

.tb_normal td {
	padding: 8px;
	border: 1px #d2d2d2 solid;
}
.td_normal_blank {
    display: block;
    width: 52px;
    height: 52px;
    background: url(../../resources/images/form/blank@2x.png) no-repeat center;
    background: url(../../resources/images/form/blank.png) no-repeat center \9;
    background-size: 50px;
}