/* ===== 钉钉推送模板 Starts ===== */
.ding-card-demo {
    background: #FFFFFF;
    border: 1px solid #E2E2E2;
    border-radius: 10px;
    width: 345px;
    margin: 10px;
}

.ding-card-demo em {
    font-style: normal;
}

.ding-card-demo-head {
}

.ding-card-demo-icon {
    display: inline-block;
    width: 21px;
    height: 21px;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../images/icon-approve@2x.png);
    background-size: 21px auto;
}

@media \0screen\,screen\9 {
    .ding-card-demo-icon {
        background-image: url(../images/icon-approve.png);
    }
}

.ding-card-demo-title {
    font-size: 18px;
    font-weight: 500;
    vertical-align: middle;
}

.ding-card-demo-head {
    padding: 12px 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 22px;
    position: relative;
}

.ding-card-demo-more {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(../images/icon-more@2x.png) no-repeat center;
    background-size: 16px auto;
    position: absolute;
    right: 15px;
    top: 19px;
    cursor: pointer;
}

@media \0screen\,screen\9 {
    .ding-card-demo-more {
        background-image: url(../images/icon-more.png);
    }
}

.ding-card-demo-content {
    padding: 0px 15px 16px;
}

.ding-card-demo-info {
    margin: 6px 0;
}

.ding-card-demo-info:first-child {
    margin-top: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ding-card-demo-info em {
    font-style: normal;
    color: #979DB1;
}

.ding-card-demo-info span {
}

.ding-card-demo-footer {
    border-top: 1px solid #e7e7e7;
    padding: 0 15px;
    overflow: hidden;
    line-height: 48px;
    height: 48px;
}

.ding-card-demo-footerL {
    float: left;
    color: #C1C5D2;
    font-size: 12px;
}

.ding-card-demo-footerL em {
}

.ding-card-demo-footerR {
    float: right;
    color: #4285F4;
    cursor: pointer;
}

/* ===== 钉钉推送模板 Ends ===== */
