html,body{
	overflow: hidden;
}
#container{
	position: fixed;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	padding-top:5px;
	width: 100%;
}
.panel-tab-header{
	position: relative;
	border-bottom: 1px solid #D8D8D8;
	min-height: 32px;
}
.panel-tab-header .summary-tab-items{
	padding-right: 40px;
	padding-left: 20px;
}
.panel-tab-main{
	overflow-y: auto;
    max-height: 450px;
}
.summary-tab-items .summary-tab-item{
	width:100px;
	height:32px;
	line-height:32px;
	font-size: 14px;
	background: #F2F2F2;
	border: 1px solid #DDDDDD;
	border-radius: 4px 4px 0 0;
	color: #666666;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
	box-sizing: border-box;
	border-bottom: none;
	cursor: pointer;
	display: inline-block;
    position: relative;
    bottom: -3px;
}
.summary-tab-items .summary-tab-item.active{
	background: #4285F4;
	color: #FFFFFF;
}
.panel-tab-header .closeWin{
	width: 15px;
    height: 15px;
    background: url(../images/tab-close@2x.png) no-repeat center;
    position: absolute;
    right: 0;
    top: 7px;
    margin-right: 20px;
    cursor: pointer;
    background-size: contain;
}

/*内容*/
.panel-tab-main-view .content{
}
.content .content-item{
	margin:20px 40px;
	background: #FFFFFF;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
	border-radius: 4px;
}
.content-item .content-item-name{
	line-height: 30px;
	margin: 20px;
	position: relative;
}
.content-item .content-item-infos{
	margin:20px;
	margin-top:0px;
	margin-left:35px;
}
.content-item-name p{
	font-size: 18px;
	color: #333333;
	line-height: 30px;
	padding-right: 146px;

	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	cursor: default;
}
.content-item-name .content-item-buttons{
	/* width: 150px; */
	height: 30px;
	line-height: 30px;
	position: absolute;
	right: 0;
	top:0;
}
.content-item-buttons>div{
	text-align: center;
	font-size: 14px;
	border-radius: 4px;
	float: left;
	cursor: pointer;
}
.content-item-buttons .content-item-buttons-pass{
	width: 68px;
	margin-right: 10px;
	background: #4285F4;
	color: #FFFFFF;
}
.content-item-buttons .content-item-buttons-reject{
	width: 68px;
	background: #FFFFFF;
	border: 1px solid #D8D8D8;
	color: #666666;
}
.content-item-infos>div{
	position: relative;
}
.content-item-infos>div:before{
	content: '';
    width: 1px;
    height: 100%;
    background: #4285F4;
    position: absolute;
    left: 2px;
    top:15px;
}
.content-item-infos .content-item-infos-summary:before,.content-item-infos .content-item-infos-tables:before{
	display: none;
}
.content-item-infos .content-item-infos-creator img{
	position: absolute;
    top: -10px;
    left: -17px;
    width: 40px;
    height: 40px;
    z-index: 2;
}
.content-item-infos .content-item-infos-createTime i,.content-item-infos .content-item-infos-summary i{
	width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #4285F4;
    float: left;
    margin-top: 10px;
}
.content-item-infos .content-item-info>div{
	padding-left:30px;
	line-height: 24px;
	font-size: 14px;
}
.content-item-infos .content-item-info>div .info{
	color: #151515;
}
.content-item-infos .content-item-info>div .info .title{
	color: #999999;
}
.content-item-infos .content-item-infos-tables{
	padding-left: 30px;
}
.content-item-infos .content-item-infos-tables table{
	width: 100%;
	margin-top: 5px;
}
.content-item-infos .content-item-infos-tables table td{
	text-align: center;
}
/*****滚动条样式覆盖开始*****/
::-webkit-scrollbar{
    width:8px;
    height:8px;
    background-color: #d1d1d1;
    -webkit-transition: background-color .3s ease-in-out;
    transition: background-color .3s ease-in-out;
}
::-webkit-scrollbar:hover{
    background-color:#d1d1d1;
}
::-webkit-scrollbar-thumb{
    background-color:#d1d1d1;
    height:50px;
    outline-offset:-1px;
    outline:1px solid #fff;
    -webkit-border-radius:5px;
    border-radius:5px;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    -webkit-transition: background-color .3s ease-in-out;
    transition: background-color .3s ease-in-out;
}
::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:active{
    background-color:#9c9c9c;
    border-right: 1px solid #f1f1f1;
    border-left: 1px solid #f1f1f1;
}
::-webkit-scrollbar-track{
    background-color:#fff;
}
::-webkit-scrollbar-track:hover{
    background-color:#f1f1f1;
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,.15);
    box-shadow: inset 0 0 3px rgba(0,0,0,.15);
}
/*****滚动条样式覆盖结束*****/