.share_group_opt {
    height: 25px;
    line-height: 25px;
    vertical-align: top;
    display: inline-block;
    margin-right: 12px;
}

.share_group_content {
    height: 75px;
    width: 100%;
    border: 1px solid #DFDFDF;
    overflow-y: auto;
    vertical-align: bottom;
}

.topic_limit{
    display: inline-block;
    position: absolute;
    padding-left: 14px;
}