@CHARSET "UTF-8";

.luiMallBox{
	margin: 50px 0;
}
.luiMallBoxWrap h3,.luiMallBoxWrap h4 {
    color: #333;
    text-align: center;
}
.luiMallBoxWrap h3 {
    font-size: 28px;
    margin: 0 0 50px;
}

.luiMallBoxWrap .luiMallBtn {
    width: 118px;
    height: 38px;
    line-height: 38px;
    background: #4285F4;
    border: 1px solid #4285F4;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    -webkit-transition: all .3s;
    transition: all .3s;
    margin: 0 auto 10px;
}
.luiMallBoxWrap .luiMallBtn:hover{ 
	background: #679DF6;
    border-color:#679DF6;
}
.luiMallBoxWrap .luiMallOptInfo {
    text-align: center;
}
.luiMallBoxWrap .luiMallOptInfo div {
    display: inline-block;
    font-size: 12px;
    color: #F25643;
    padding-left: 24px;
    background: url(../images/tanhao2.png) no-repeat left;
    background: url(../images/tanhao.png) no-repeat left \9;
    background-size: contain;
}
.luiMallBoxWrap .luiMallCards {
    max-width: 930px;
    margin: 50px auto 0;
}
.luiMallBoxWrap .luiMallCardItem {
    float: left;
    height: 128px;
    background: #fff;
    border-radius: 4px;
    width: 33.3%;
    -webkit-transition: all .3s;
    transition: all .3s;
    cursor: pointer;
    position: relative;
    z-index: 2;
}
.luiMallBoxWrap .luiMallCardItemWrap {
    padding: 30px;
}
.luiMallBoxWrap .luiMallCardIcon {
    float: left;
    width: 30px;
    height: 30px;
    background: url(../images/icon_biaodanfuwu2.png) no-repeat center;
    background: url(../images/icon_biaodanfuwu.png) no-repeat center \9;
    background-size: contain;
}

.luiMallBoxWrap .luiMallCardItem:nth-child(2) .luiMallCardIcon {
  background: url(../images/icon_menhuyanglifuwu2.png) no-repeat center;
  background: url(../images/icon_menhuyanglifuwu.png) no-repeat center \9;
  background-size: contain;
}

.luiMallBoxWrap .luiMallCardItem:nth-child(3) .luiMallCardIcon {
  background: url(../images/icon_yingyongfuwu2.png) no-repeat center;
  background: url(../images/icon_yingyongfuwu.png) no-repeat center \9;
  background-size: contain;
}


.luiMallBoxWrap .icon_active {
    background: url(../images/icon_biaodanfuwu2_2.png) no-repeat center;
    background: url(../images/icon_biaodanfuwu_2.png) no-repeat center \9;
}
.luiMallBoxWrap .luiMallCardItem:nth-child(2) .icon_active {
    background: url(../images/icon_menhuyanglifuwu2_2.png) no-repeat center;
    background: url(../images/icon_menhuyanglifuwu_2.png) no-repeat center \9;
    background-size: contain;
}

.luiMallBoxWrap .luiMallCardItem:nth-child(3) .icon_active {
    background: url(../images/icon_yingyongfuwu2_2.png) no-repeat center;
    background: url(../images/icon_yingyongfuwu_2.png) no-repeat center \9;
    background-size: contain;
}

.luiMallBoxWrap .luiMallCardDetail {
    margin-left: 40px;
}
.luiMallBoxWrap .luiMallCardDetail div {
    overflow: hidden;
}
.luiMallBoxWrap .luiMallCardDetail div p {
    font-size: 16px;
    color: #333;
    margin: 0;
    margin-bottom: 4px;
    float: left;
}
.luiMallBoxWrap .luiMallCardDetail span {
    font-size: 14px;
    color: #999999;
}
.luiMallBoxWrap .luiMallCardItem:before {
    content: '';
    width: 1px;
    height: 80px;
    background: #eeeeee;
    border-radius: 0.5px;
    position: absolute;
    top: 50%;
    margin-top: -40px;
    left: 0;
    z-index: 1;
}

.luiMallBoxWrap .luiMallCardItem:first-child:before {
  display: none;
}

.luiMallBoxWrap .luiMallCardItem:hover {
  box-shadow: 0 0 20px 0 rgba(153, 179, 210, 0.2);
}

.luiMallBoxWrap .cm-start-edit {
    max-width: 870px;
    margin: 0 auto;
    padding: 20px 30px;
    -webkit-box-shadow: 0 0 20px 0 rgba(153, 179, 210, 0.2);
    box-shadow: 0 0 20px 0 rgba(153, 179, 210, 0.2);
    border-radius: 4px;
}
.luiMallBoxWrap .cm-start-edit p {
    float: left;
    line-height: 40px;
    margin: 0;
}
.luiMallBoxWrap .cm-start-edit .cm-start-btn-box {
    float: right;
    overflow: hidden;
}
.luiMallBoxWrap .cm-start-edit:after {
    content: '';
    display: block;
    clear: both;
}
.luiMallBoxWrap .cm-start-edit .cm-start-btn-box .luiMallBtn {
    float: left;
    margin-left: 20px;
    margin-bottom: 0;
}
.luiMallBoxWrap .luiMallBtn.close {
    width: 120px;
    height: 40px;
    line-height: 40px;
    background: #fff;
    border: 1px solid #dddddd;
    border-radius: 4px;
    color: #333;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    -webkit-transition: all .3s;
    transition: all .3s;
}
.luiMallBoxWrap .luiMallBtn.close:hover{
	border-color: #4285F4;
	color: #4285F4;
}
.luiMallBoxWrap .luiMallCardDetail.active div span {
    border-color: #22B77D;
    background: #22B77D;
}
.luiMallBoxWrap .luiMallCardDetail  div span {
    border: 1px solid #d9d9d9;
    background:#d9d9d9;
    border-radius: 2px;
    font-size: 12px;
    color: #fff;
    padding: 1px 6px;
    float: right;
    margin-top: 2px;
}

.luiMallBoxWrap .luiMallCardDetail a {
  text-decoration: none !important;
  color: #4285F4 !important;
  display: block;
  margin-top: 2px;
}

.luiMallAuthSuc {
  margin: 50px 0;
}
.luiMallAuthSuc .cm-start-mask {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
}
.luiMallAuthSuc .cm-suc {
    width: 462px;
    background: #fff;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -142px;
    margin-left: -231px;
}
.luiMallAuthSuc .cm-suc-wrap {
    padding: 20px;
}
.luiMallAuthSuc .cm-suc-top {
    padding: 40px 24px 50px;
    border-bottom: 1px solid #EEEEEE;
}
.luiMallAuthSuc .cm-suc-top div {
    height: 40px;
    line-height: 40px;
    padding-left: 54px;
    background: url(../images/suc2.png) no-repeat left;
    background: url(../images/suc.png) no-repeat left;
    background-size: contain;
    font-size: 16px;
    color: #333;
}
.luiMallAuthSuc .cm-suc-bottom {
    margin-top: 20px;
}
.luiMallAuthSuc .cm-suc-bottom p {
    font-size: 16px;
    color: #333;
    margin: 0;
    margin-bottom: 10px;
}
.luiMallAuthSuc .cm-suc-bottom ul {
    margin: 10px 0 20px;
    padding-left: 40px;
}
.luiMallAuthSuc .cm-suc-bottom ul li {
    font-size: 14px;
    color: #333;
}
.luiMallAuthSuc .cm-suc-bottom div {
    text-align: center;
    font-size: 14px;
    color: #666666;
}