<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean
		name="/sys/profile/sys_profile_main/sysCfgProfileConfig.do"
		class="com.landray.kmss.sys.profile.actions.SysCfgProfileConfigAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property name="forwards">
			<map>
				<entry
					key="customBrowser"
					value="/sys/profile/maintenance/custom_browser_setting.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/sys/profile/org/orgAuthCenter.do"
		class="com.landray.kmss.sys.profile.actions.OrgAuthCenterAction"
		lazy-init="true"
		parent="KmssBaseAction">
	</bean>
	<bean
		name="/sys/profile/org/orgImport.do"
		class="com.landray.kmss.sys.profile.actions.OrgImportAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.profile.forms.OrgImportForm" />
		<property name="forwards">
			<map>
				<entry
					key="importData"
					value="/sys/profile/org/io/import_data.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/sys/profile/org/orgExport.do"
		class="com.landray.kmss.sys.profile.actions.OrgExportAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.profile.forms.OrgExportForm" />
	</bean>
	<bean
		name="/sys/profile/sysProfileOrder.do"
		class="com.landray.kmss.sys.profile.actions.SysProfileOrderAction"
		lazy-init="true"
		parent="KmssBaseAction">
	</bean>
	<bean
		name="/sys/profile/passwordSecurityConfig.do"
		class="com.landray.kmss.sys.profile.actions.PasswordSecurityConfigAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.appconfig.forms.SysAppConfigForm" />
	</bean>
	<bean
		name="/sys/profile/LoginConfig.do"
		class="com.landray.kmss.sys.profile.actions.LoginConfigAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.appconfig.forms.SysAppConfigForm" />
	</bean>
	<bean
		name="/sys/profile/showConfig.do"
		class="com.landray.kmss.sys.profile.actions.ShowConfigAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.appconfig.forms.SysAppConfigForm" />
	</bean>
	<bean
		name="/sys/profile/sysCommonSensitiveConfig.do"
		class="com.landray.kmss.sys.profile.actions.SysCommonSensitiveConfigAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.appconfig.forms.SysAppConfigForm" />
	</bean>
	<bean
		name="/sys/profile/sysProfileNetworkStrategy.do"
		class="com.landray.kmss.sys.profile.actions.SysProfileNetworkStrategyAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.profile.forms.SysProfileNetworkStrategyForm" />
		<property name="forwards">
			<map>
				<entry
					key="edit"
					value="/sys/profile/sys_profile_network_strategy/sysProfileNetworkStrategy_edit.jsp" />
				<entry
					key="list"
					value="/sys/profile/sys_profile_network_strategy/sysProfileNetworkStrategy_list.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/sys/profile/i18n/sysProfileI18nConfig.do"
		class="com.landray.kmss.sys.profile.actions.SysProfileI18nConfigAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property name="forwards">
			<map>
				<entry
					key="viewDetailOriginal"
					value="/sys/profile/i18n/original_resource.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/sys/profile/sysProfileCuxTemplateAction.do"
		class="com.landray.kmss.sys.profile.actions.SysProfileCuxTemplateAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.profile.forms.SysProfileTemplateUploadForm" />
		<property name="forwards">
			<map>
				<entry
					key="design"
					value="/sys/profile/portal/design.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/sys/profile/listShow/sys_listShow/sysListShow.do"
		class="com.landray.kmss.sys.profile.actions.SysListShowAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.profile.forms.SysListShowForm" />
		<property name="forwards">
			<map>
				<entry
					key="edit"
					value="/sys/profile/listShow/index.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/sys/profile/listShow/sys_listshow_category/sysListshowCategory.do"
		class="com.landray.kmss.sys.profile.actions.SysListshowCategoryAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.profile.forms.SysListshowCategoryForm" />
		<property name="forwards">
			<map>
				<entry
					key="edit"
					value="/sys/profile/listShow/sys_listshow_category/sysListshowCategory_edit.jsp" />
				<entry
					key="view"
					value="/sys/profile/listShow/sys_listshow_category/sysListshowCategory_view.jsp" />
				<entry
					key="list"
					value="/sys/profile/listShow/sys_listshow_category/sysListshowCategory_list.jsp" />
			</map>
		</property>
	</bean>
	<bean
	name="/sys/profile/sys_componenet_Temp/sysComponentTemp.do"
	class="com.landray.kmss.sys.profile.actions.SysComponentTempAction"
	lazy-init="true"
	parent="KmssBaseAction">
	<property name="forwards">
			<map>
				<entry
					key="getComponent"
					value="/sys/ui/help/component/component.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/sys/profile/sys_login_template/sysLoginTemplate.do"
		class="com.landray.kmss.sys.profile.actions.SysLoginTemplateAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.profile.forms.SysLoginTemplateForm" />
		<property name="forwards">
			<map>
				<entry
					key="loginConfig"
					value="/sys/profile/portal/login_config.jsp" />
				<entry
					key="customLogin"
					value="/sys/profile/portal/customLoginTemplate.jsp" />
				<entry
					key="uploadMessage"
					value="/sys/profile/portal/uploadLoginTemplateMessage.jsp" />		
					<!-- 获取云商城页面信息 -->
				<entry
				key="LoginTemplate"
				value="/sys/profile/portal/uploadLoginTemplate.jsp" />				
			</map>
		</property>
	</bean>
	<bean
		name="/sys/profile/maintenance/behavior/behaviorSetting.do"
		class="com.landray.kmss.sys.profile.behavior.actions.BehaviorSettingAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property name="forwards">
			<map>
				<entry
					key="db"
					value="/sys/profile/maintenance/behavior/db.jsp" />
				<entry
					key="job"
					value="/sys/profile/maintenance/behavior/job.jsp" />
				<entry
					key="server"
					value="/sys/profile/maintenance/behavior/server.jsp" />
			</map>
		</property>
	</bean>
	
	<!-- 三员管理员修改密码 -->
	<bean
		name="/sys/profile/tripartiteAdminChangePwd.do"
		class="com.landray.kmss.sys.profile.actions.TripartiteAdminChangePwdAction"
		lazy-init="true"
		parent="KmssBaseAction">
	</bean>
	
	<!-- 三员管理员专用 -->
	<bean
		name="/sys/profile/tripartiteAdminAction.do"
		class="com.landray.kmss.sys.profile.actions.TripartiteAdminAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property name="forwards">
			<map>
				<!-- 查看所有版本（不包括修改记录） -->
				<entry
					key="showAllVersion"
					value="/resource/jsp/description.jsp" />
				<!-- 查看单个模块版本（包括修改记录） -->
				<entry
					key="showVersion"
					value="/resource/jsp/version.jsp" />
				<!-- 版本检测 -->
				<entry
					key="versionCheck"
					value="/resource/jsp/versionCheck.jsp" />
			</map>
		</property>
	</bean>
	<bean
			name="/sys/profile/sys_profile_main/maintenance.do"
			class="com.landray.kmss.sys.profile.actions.MaintenanceAction"
			lazy-init="true"
			parent="KmssBaseAction">
	</bean>


	<!-- 发件人邮箱维护列表-->
	<bean
			class="com.landray.kmss.sys.profile.actions.SysSenderEmailInfoAction"
			parent="KmssBaseAction"
			name="/sys/sender/sender_email_info/sysSenderEmailInfo.do"
			lazy-init="true">
		<property
				name="formType"
				value="com.landray.kmss.sys.profile.forms.SysSenderEmailInfoForm"/>
		<property
				name="forwards">
			<map>
				<entry
						key="edit"
						value="/sys/profile/email_info/sysSenderEmailInfo_edit.jsp" />
				<entry
						key="data"
						value="/sys/profile/email_info/sysSenderEmailInfo_data.jsp" />
				<entry
						key="view"
						value="/sys/profile/email_info/sysSenderEmailInfo_view.jsp" />
			</map>
		</property>
	</bean>
	<!--前后通讯数据加密配置-->
	<bean
		name="/sys/profile/sys_desEncrypt_config/SysDesEncryptConfig.do"
		class="com.landray.kmss.sys.profile.actions.SysDesEncryptConfigAction"
		lazy-init="true"
		parent="KmssBaseAction">
	</bean>

	<!--蓝小悦售后-->
	<bean
			name="/sys/profile/sysProfileBlueAfterAction.do"
			class="com.landray.kmss.sys.profile.actions.SysProfileBlueAfterAction"
			lazy-init="true"
			parent="KmssBaseAction">
	</bean>

	<!-- 复合索引 -->
	<bean
			name="/sys/profile/common/sysCompositeIndex.do"
			class="com.landray.kmss.sys.profile.actions.SysCompositeIndexAction"
			lazy-init="true"
			parent="KmssBaseAction">
		<property name="forwards">
			<map>
				<entry key="index" value="/sys/profile/common/composite_index.jsp" />
			</map>
		</property>
	</bean>
</beans>