/*
 * knx Drop down list
 */

select.dropDownList {
    line-height: 22px;
	width: 200px;
    border: 2px solid #EEEEEE;
    -ms-border-radius: 4px;
    border-radius: 4px;
	padding: 2px 8px;
	color: #666666;
	height: 35px;
	-webkit-transition: border 0.2s linear 0s, border-color 0.2s linear 0s;
	-moz-transition: border 0.2s linear 0s, border-color 0.2s linear 0s;
    -ms-transition: border 0.2s linear 0s, border-color 0.2s linear 0s;
    -o-transition: border 0.2s linear 0s, border-color 0.2s linear 0s;
    transition: border 0.2s linear 0s, border-color 0.2s linear 0s;
	margin: 10px;
	background-color: white;
}

select.dropDownList[disabled] {
    background-color: #EEEEEE;
}

select.dropDownList[disabled]:hover {
    cursor: not-allowed;
    -ms-opacity: 1;
    opacity: 1;
}