.lui_maxtrix_toolbar,
.lui_maxtrix_toolbar {
  overflow: hidden;
  line-height: 36px;
  padding-bottom: 10px;
}
.lui_maxtrix_toolbar {
  overflow: hidden;
}
.lui_maxtrix_toolbar_l {
  float: left;
}
.lui_maxtrix_toolbar_r {
  float: right;
}
.lui_maxtrix_toolbar_r a {
}
.lui_maxtrix_toolbar a {
  display: inline-block;
  height: 36px;
  line-height: 36px;
  color: #fff;
  padding: 0 10px;
  margin-left: 10px;
}
.matrix_data_cate a{
	background:#f0f0f0;
	color: #333;
}
.lui_maxtrix_toolbar a.lui_maxtrix_cate_item_dis{
  background:#ecf3ff;
  cursor:default;
  color:#333;
}
.lui_maxtrix_toolbar a.lui_maxtrix_cate_item_dis:hover{
  color:#333;
}
.lui_maxtrix_toolbar a:hover {
  color: #fff;
}

.lui_maxtrix_txt_error {
  color: #e60000;
}
.lui_matrix_field_tb_wrap {
  position: relative;
}
.lui_matrix_field_tb_item {
  overflow: auto;
}

.lui_matrix_field_tb_wrap .lui_matrix_tb_normal {
  width: 100%;
}
.lui_matrix_tb_normal > tr > td,
.lui_matrix_tb_normal > tbody > tr > td {
  border: 1px solid #dcdfe6;
  padding: 10px;
  line-height: 25px;
  height: 25px;
}
.lui_matrix_tb_normal td select {
}
.lui_matrix_field_tb_item_condition {
  padding-left: 77px;
}
.lui_matrix_field_tb_item_condition .lui_matrix_tb_normal > tbody > tr > td {
  min-width: 200px;
}
.lui_matrix_tb_normal td input[type="text"] {
  border: none;
  border-bottom: 1px solid #e5e5e5;
  line-height: 16px;
  background-color: transparent;
}
.lui_matrix_tb_normal td .lui_matrix_require {
  color: #d0021b;
}
.lui_matrix_tb_normal td.lui_matrix_td_normal_title {
  background: #f1f1f1;
  white-space: nowrap;
}
.lui_matrix_data_tb_wrap {
  position: relative;
}

.lui_matrix_field_tb_item_type {
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: 0 -1px 8px rgba(0, 0, 0, 0.08);
}

.lui_matrix_opt_bar {
  white-space: nowrap;
}
.lui_matrix_opt_bar .lui_matrix_link {
  font-size: 0;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  vertical-align: middle;
}
.lui_matrix_opt_bar .lui_matrix_split {
  width: 1px;
  height: 15px;
  border-left: 1px solid;
  margin: 0 5px;
  display: inline-block;
  vertical-align: middle;
  color: #d1d1d1;
}
.lui_matrix_opt_bar .lui_matrix_link.icon_left {
  background-image: url(../image/opt_left@2x.png);
}
.lui_matrix_opt_bar .lui_matrix_link.icon_right {
  background-image: url(../image/opt_right@2x.png);
}
.lui_matrix_opt_bar .lui_matrix_link.icon_add {
  background-image: url(../image/opt_add@2x.png);
}
.lui_matrix_opt_bar .lui_matrix_link.icon_del {
  background-image: url(../image/opt_del@2x.png);
}
.lui_matrix_opt_bar .lui_matrix_link.icon_left:hover {
  background-image: url(../image/opt_left_cur@2x.png);
}
.lui_matrix_opt_bar .lui_matrix_link.icon_right:hover {
  background-image: url(../image/opt_right_cur@2x.png);
}
.lui_matrix_opt_bar .lui_matrix_link.icon_add:hover {
  background-image: url(../image/opt_add_cur@2x.png);
}
.lui_matrix_opt_bar .lui_matrix_link.icon_del:hover {
  background-image: url(../image/opt_del_cur@2x.png);
}

/* IE8使用一倍图 */
@media \0screen {
  .lui_matrix_opt_bar .lui_matrix_link.icon_left {
    background-image: url(../image/opt_left.png);
  }
  .lui_matrix_opt_bar .lui_matrix_link.icon_right {
    background-image: url(../image/opt_right.png);
  }
  .lui_matrix_opt_bar .lui_matrix_link.icon_add {
    background-image: url(../image/opt_add.png);
  }
  .lui_matrix_opt_bar .lui_matrix_link.icon_del {
    background-image: url(../image/opt_del.png);
  }
  .lui_matrix_opt_bar .lui_matrix_link.icon_left:hover {
    background-image: url(../image/opt_left_cur.png);
  }
  .lui_matrix_opt_bar .lui_matrix_link.icon_right:hover {
    background-image: url(../image/opt_right_cur.png);
  }
  .lui_matrix_opt_bar .lui_matrix_link.icon_add:hover {
    background-image: url(../image/opt_add_cur.png);
  }
  .lui_matrix_opt_bar .lui_matrix_link.icon_del:hover {
    background-image: url(../image/opt_del_cur.png);
  }
}
.lui_matrix_data_tb_wrap .lui_matrix_tb_normal th.lui_maxtrix_condition_th {
  /*       background: #d1bd27; */
}
.lui_matrix_field_tb_item_condition
  .lui_matrix_tb_normal
  .lui_maxtrix_condition_th {
  background: #f1f1f1;
}
.lui_matrix_data_tb_wrap .lui_matrix_tb_normal th.lui_maxtrix_result_th,
.lui_matrix_field_tb_item_condition
  .lui_matrix_tb_normal
  .lui_maxtrix_result_th {
  background: #ecf3ff;
}
.lui_matrix_data_tb_wrap {
  position: relative;
}
.lui_matrix_data_tb_wrap_nodata{
  text-align: center;
}
.lui_matrix_data_tb_item {
}
.lui_matrix_data_tb_item_l {
  position: absolute;
  left: 0;
  top: 0;
}
.lui_matrix_data_tb_item_c {
  overflow: auto;
  margin-left: 71px;
  margin-right: 90px;
}
/*条件默认宽度*/
.lui_maxtrix_condition_td .inputselectsgl, .lui_maxtrix_condition_td .inputselectmul {
  min-width: 120px;
  max-width: 300px;
}
/*结果默认宽度*/
.lui_maxtrix_result_td .inputselectsgl, .lui_maxtrix_result_td .inputselectmul {
  min-width: 100px;
  max-width: 300px;
}
.lui_matrix_data_tb_wrap
  .lui_matrix_data_tb_item_c
  .lui_matrix_tb_normal
  input[type="text"] {
  min-width: 180px;
  background: transparent;
}
.lui_matrix_data_tb_item_c td {
  white-space: nowrap;
}
.lui_matrix_data_tb_item_r {
  position: absolute;
  right: 0;
  top: 0;
}
.lui_matrix_data_tb_item_r table {
  width: 90px;
}

.lui_matrix_data_tb_item_r td {
  text-align: center;
}

.lui_matrix_data_tb_wrap .lui_matrix_data_tb_item_r .lui_text_primary {
  margin: 0;
}

.lui_matrix_data_tb_wrap .lui_matrix_tb_normal {
}
.lui_matrix_data_tb_wrap .lui_matrix_tb_normal th {
  background: #f1f1f1;
  min-height: 30px;
  /* line-height: 40px; */
  padding: 5px;
  border: 1px solid #dcdfe6;
}
.lui_matrix_data_tb_wrap .lui_matrix_tb_normal td {
  background: #fff;
}
.lui_matrix_tb_normal td.lui_maxtrix_condition_td {
  background: #fafafa;
}
.lui_matrix_tb_normal td.lui_maxtrix_result_td {
  background: #f5f9ff;
/*   word-break: break-word;
  word-break: break-word; 文本行的任意字内断开
  word-wrap: break-word; IE
  white-space: -hp-pre-wrap; HP printers
  white-space: -o-pre-wrap; Opera 7
  white-space: -pre-wrap; Opera 4-6
  white-space: -moz-pre-wrap; Mozilla
  white-space: pre; CSS2
  white-space: pre-wrap; CSS 2.1
  white-space: pre-line; CSS 3 (and 2.1 as well, actually) */
}
.lui_matrix_data_tb_wrap .lui_matrix_tb_normal input[type="text"] {
}
.lui_matrix_data_tb_wrap .lui_text_primary {
  margin: 0 20px;
}
.lui_matrix_data_tb_item_c .lui_matrix_tb_normal {
  min-width: 100%;
}

.lui_matrix_div_wrap {
  /* width: 95%; */
  min-width: 980px;
  margin: 0 auto;
}

.lui_matrix_div_wrap .com_bgcolor_d {
  display: inline-block;
  height: 36px;
  line-height: 36px;
  color: #fff;
  padding: 0 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

body .lui_form_content,
body.lui_form_body .tempTB {
  /*   background-color:transparent!important; */
}
body .lui_step_sheet_content {
  /*   background-color:transparent; */
  padding: 12px 0;
}
.tb_normal > tbody > tr > td {
  border-color: #dcdfe6;
  padding: 10px;
}
/* body .lui_step_buttons_fixed_wrapper{
background-color:transparent;
} */
body .lui_step_tabs_fixed_titleM ul li .tri:after {
  /*   border-left-color: #fff; */
}
body.lui_form_body {
  background: #fff;
}

body .tb_simple .inputsgl,
body .tb_simple .inputselectsgl,
body .inputmul,
textarea,
body .inputsgl,
body .tb_normal .inputsgl,
body .inputselectsgl,
body .tb_normal .inputselectsgl {
  border-color: #e0e0e0;
}

body .tempTB {
  table-layout: fixed;
}

body .lui_step_sheet_wrapper [data-lui-type="lui/panel!Content"] {
  padding: 0;
}

.lui_matrix_tb_view .inputsgl {
  color: black;
}

/* ===== 版本控制 =====  */
#lui_matrix_panel .lui_tabpanel_sucktop_navs_item_l {
  background: #ffff;
  border: 1px solid #efefef;
  margin: 0 10px 0 0;
  border-bottom: none;
  position: relative;
  position: relative;
}
#lui_matrix_panel .lui_tabpanel_sucktop_navs_item_l:last-child {
  /* border:none; */
  overflow: visible;
}
#lui_matrix_panel .lui_tabpanel_sucktop_navs_item_l .maxtri_btn_add {
  display: block;
  position: absolute;
  background: #ffffff;
  left: -1px;
  right: -1px;
  top: -1px;
  bottom: 1px;
  z-index: 2;
  /* width: 100%; */
  /* height: 100%; */
  /* margin-top: -34px; */
}
#lui_matrix_panel .lui_tabpanel_sucktop_navs_item_c {
  position: static;
  overflow: visible;
}
#lui_matrix_panel
  .lui_tabpanel_sucktop_navs_item_l
  .lui_tabpanel_navs_item_title {
  position: relative;
  z-index: 2;
}
#lui_matrix_panel .lui_tabpanel_sucktop_navs_item_l .maxtri_btn_del {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(../image/btn-del.png) no-repeat left top;
  background-size: 8px auto;
  position: absolute;
  right: 5px;
  top: 14px;
  display: none;
  z-index: 2;
}
#lui_matrix_panel .lui_tabpanel_sucktop_navs_item_l:hover .maxtri_btn_del {
  display: inline-block;
}
#lui_matrix_panel
  .lui_tabpanel_sucktop_navs_item_selected
  .lui_tabpanel_sucktop_navs_item_c {
  border-bottom: none;
  background: #ecf3ff;
  /* color: #fff; */
}
#lui_matrix_panel
  .lui_tabpanel_sucktop_navs_item_selected.lui_tabpanel_sucktop_navs_item_l {
  border-color: #dbdfe5;
}
.lui_maxtrix_relation {
  padding-top: 20px;
}

.lui_maxtrix_relation .lui_maxtrix_relation_head {
  background: #f1f1f1;
  height: 30px;
  padding-top: 10px;
  padding-left: 10px;
}

.lui_maxtrix_relation .lui_maxtrix_relation_body {
  display: none;
}

.lui_maxtrix_relation_version {
  padding: 10px 0;
}

.lui_maxtrix_relation_version li {
  padding: 5px 15px;
}

/* ----- 帮助文档 Starts ----- */
.main_data {
  margin: 20px auto;
  font-family: "PingFang SC", "Lantinghei SC", "Helvetica Neue", Arial,
    "Microsoft YaHei", "WenQuanYi Micro Hei", "Heiti SC", "Segoe UI", sans-serif;
  font-size: 14px;
  width: 90%;
  min-width: 980px;
  max-width: 1200px;
  /* box-shadow: 0 0 10px rgba(0,0,0,.1); */
  padding: 10px;
}
.main_data img {
  max-width: 100%;
  padding-top: 10px;
  /* max-height: 529px; */
  margin: 0 auto;
}
.main_data_title {
  padding-top: 30px;
  font-weight: bold;
  font-size: 16px;
}
.main_data_body {
  text-indent: 40px;
  padding-top: 10px;
  line-height: 1.6;
}
.main_data_table_title {
  font-weight: bold;
}
/* ----- 帮助文档 Ends ----- */


div.luiTmplField{
	width: 100%;
    vertical-align: middle;
    background: transparent;
    display: inline-block;
    line-height: 16px;
    padding-bottom: 1px;
    color: #333;
    border-bottom: 1px solid #e5e5e5;
    min-height: 16px;
    white-space: normal;
    padding-left: 4px;
}
