@charset "utf-8";

ol, ul {
  list-style: none;
}
button {
  box-sizing: content-box;
  cursor: pointer;
}
.lui_widget_btn {
  margin: 0 5px !important;
}
.lui_toolbar_btn_c {
  min-width: 80px;
}
.lui_address_centreC {
  border-top: 0;
  overflow-y: hidden;
  position: relative;
  height: 496px;
}
.lui_address_centreC .checkbox, .lui_address_centreC .radiobox {
  margin-top: 4px;
  width: 17px;
  height: 17px;
  background-repeat: no-repeat;
  background-position: 50%;
  display: block;
  cursor: pointer;
}
.lui_address_centreC .checkbox {
  background-image: url(../images/address/address_icon_checkbox_s.png);
}
.lui_address_centreC .checkbox.checked {
  background-image: url(../images/address/address_icon_checkbox_s_on.png);
}
.lui_address_centreC .checkbox.disable {
  cursor: not-allowed;
  background-image: url(../images/address/address_icon_checkbox_s_disable.png);
}
.lui_address_centreC .checkbox.disable + .txt {
  cursor: not-allowed;
}
.lui_address_centreC .radiobox {
  background-image: url(../images/address/address_icon_radio_s.png);
}
.lui_address_centreC .radiobox.selected {
  background-image: url(../images/address/address_icon_radio_s_on.png);
}
.lui_address_orgType_org {
  background-image: url(../images/address/address_orgType_org.png);
}
.lui_address_orgType_dept {
  background-image: url(../images/address/address_orgType_dept.png);
}
.lui_address_orgType_post {
  background-image: url(../images/address/address_orgType_post.png);
}
.lui_address_orgType_group {
  background-image: url(../images/address/address_orgType_group.png);
}
.lui_address_orgType_sysrole {
  background-image: url(../images/address/address_orgType_sysrole.png);
}
.lui_address_isAvailable_false {
  width: 13px;
  height: 13px;
  background: url(../images/address/address_icon_disable.png) no-repeat 50%;
  display: inline-block;
  position: absolute;
  left: 45px;
  top: 2px;
  z-index: 2;
}
.lui-address-panel-right .lui_address_isAvailable_false {
  left: 50px;
}
.lui_address_tabs_ul {
  height: 36px;
  background-color: #e3f3fc;
  overflow: hidden;
  zoom: 1;
}
.lui_address_tabs_ul > li.active {
  background-color: #fff;
}
.lui_address_tabs_ul > li {
  width: 125px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  border-right: 1px solid #fff;
  transition: background-color 0.3s;
  position: relative;
  cursor: pointer;
  float: left;
}
.lui_address_tabs_ul > li:hover > span, .lui_address_tabs_ul > li.active > span {
  color: #4285f4;
}
.lui_address_tabs_ul > li >span {
  padding-left: 22px;
  color: #333;
  font-size: 14px;
  background-repeat: no-repeat;
  background-position: 0 50%;
  transition: all 0.3s;
  overflow: hidden;
}
.lui_address_tabs_ul > li.active {
  background-color: #fff;
}
.lui_address_tabs_ul > li:hover > span, .lui_address_tabs_ul > li.active > span {
  color: #4285f4;
}
.lui-address-panel-nav {
  padding: 0 5px;
  height: 42px;
  border-bottom: 1px solid #b4b4b4;
}
.lui_address_tabs_ul > li .icon-recently {
  background-image: url(../images/address/address_icon_recently.png);
}
.lui_address_tabs_ul > li .icon-org {
  background-image: url(../images/address/address_icon_org.png);
}
.lui_address_tabs_ul > li .icon-group {
  background-image: url(../images/address/address_icon_group.png);
}
.lui_address_tabs_ul > li .icon-sysRole {
  background-image: url(../images/address/address_icon_sysRole.png);
}
.lui_address_tabs_ul > li .icon-search {
  background-image: url(../images/address/address_icon_search.png);
}
.lui_address_tabs_ul > li:hover .icon-recently, .lui_address_tabs_ul > li.active .icon-recently {
  background-image: url(../images/address/address_icon_recently_on.png);
}
.lui_address_tabs_ul > li:hover .icon-org, .lui_address_tabs_ul > li.active .icon-org {
  background-image: url(../images/address/address_icon_org_on.png);
}
.lui_address_tabs_ul > li:hover .icon-group, .lui_address_tabs_ul > li.active .icon-group {
  background-image: url(../images/address/address_icon_group_on.png);
}
.lui_address_tabs_ul > li:hover .icon-sysRole, .lui_address_tabs_ul > li.active .icon-sysRole {
  background-image: url(../images/address/address_icon_sysRole_on.png);
}
.lui_address_tabs_ul > li:hover .icon-search, .lui_address_tabs_ul > li.active .icon-search {
  background-image: url(../images/address/address_icon_search_on.png);
}
.lui-address-selectearea {
  position: relative;
}
.lui_address_select_area {
  /* height: 328px; */
  position: relative\9;
  z-index: 10\9;
}
.lui-address-panel-contentWrap {
  position: relative;
}
.lui-address-panel-contentArea {
  border-bottom: 1px solid #b4b4b4;
  position: relative;
  zoom: 1;
}
.lui-address-panel-contentArea:after {
  display: block;
  content: 'clear';
  clear: both;
  line-height: 0;
  visibility: hidden;
}
.lui-address-panel-left, .lui-address-panel-right {
  width: 50%;
  float: left;
  position: relative;
}
.lui-address-panel-body {
  width: 100%;
  float: left;
}
.lui-address-panel-left .innerbar.lui-component td {
  font-size: 0;
  line-height: 1;
  *white-space: -1px;
}
.lui-address-panel-left > .innerbar, .lui-address-panel-right > .innerbar {
  padding: 5px 0;
  height: 274px;
  overflow-y: auto;
}
.lui-address-panel-center > .innerbar {
  padding: 3px 10px;
  /* height: 278px; */
  overflow: auto;
}
.lui-address-panel-left > .innerbar {
  margin-right: 3px;
  border-right: 1px solid #b4b4b4;
  position: relative;
}
.lui-address-panel-right > .innerbar {
  margin-left: 3px;
  padding: 0;
  height: 284px;
  border-left: 1px solid #b4b4b4;
  background-color: #fafafa;
}
.lui-address-panel-right > .lui-address-panel-inner-common {
  background-color: white;
  padding-left: 10px !important;
}
.lui-address-panel-body > .innerbar {
  height: 257px;
  overflow-y: auto;
}
.lui-address-panel-left > .innerbar {
  padding: 3px 10px;
  height: 278px;
}
.lui-address-panel-center {
  width: 100%;
}
.lui-address-panel-center .innerbar {
  border-right: 0;
}
.lui-address-panel-center li {
  display: inline-block;
  width: 50%;
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.lui-address-panel-center .selectAll {
  display: block;
}
.lui-address-panel-center li.noData {
  width: 100%;
}
.lui-address-panel-nav-ul {
  width: 80%;
  margin-top: 11px;
  float: left;
}
.lui-address-panel-nav:after, .lui-address-panel-nav:before, .lui-address-panel-nav-ul:after, .lui-address-panel-nav-ul:before {
  content: '';
  display: table;
  visibility: hidden;
}
.lui-address-panel-nav:after, .lui-address-panel-nav-ul:after {
  clear: both;
}
.lui-address-panel-nav-ul > .lui-address-panel-nav-li {
  color: #333;
  float: left;
  position: relative;
  white-space: nowrap;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}
.lui-address-panel-nav-ul > .lui-address-panel-nav-li:HOVER {
  text-decoration: underline;
  cursor: pointer;
  color: #3e9ece;
}
.lui-address-panel-nav-ul > .lui-address-panel-nav-li.disable:HOVER {
  cursor: inherit;
  text-decoration: none;
  color: inherit;
}
.lui-address-panel-nav-ul > .lui-address-panel-nav-li.leave:HOVER {
  cursor: inherit;
}
.lui-address-panel-nav-ul > li {
  height: 20px;
  line-height: 20px;
}
.lui-address-panel-nav-ul > .divide {
  margin: 0 5px;
  width: 5px;
  background: url(../images/address/address_icon_divide.png) no-repeat 50%;
  color: #666;
  float: left;
}
.lui-address-nav-search {
  position: absolute;
  right: 10px;
  margin-top: 9px;
  float: right;
}
.lui-address-treeview-component * {
  font-size: 12px;
}
.lui-address-treeview-component a {
  display: inline-block;
  vertical-align: middle;
}
.lui-address-treeview-component img {
  vertical-align: middle;
}
.lui-address-treeview-component a img.tree_node_icon {
  margin-right: 0;
}
.lui-address-treeview-component img.tree_node_icon {
  margin-right: 4px;
}
body:last-child .lui-address-treeview-component img.tree_node_icon {
  margin-right: 3.5px;
}
body:last-child .lui-address-treeview-component a img.tree_node_icon {
  margin-right: 0;
}
.lui-address-nav-searchbar {
  padding-left: 25px;
  padding-right: 20px;
  width: 105px;
  border: 1px solid #b4b4b4;
  border-radius: 5px 0 0 5px;
  float: left;
  position: relative;
  border-right: 0;
}
.lui-address-quciklocate-searchbar {
  width: 130px;
  position: absolute;
  top: 0px;
  right: 0;
  border-bottom: 1px solid #b4b4b4;
  margin-right: 22px;
}
.lui-address-nav-searchbar .lui-form-control, .lui-address-quciklocate-searchbar .lui-form-control {
  width: 90%;
  padding: 1px 4%;
  font-size: 12px;
  height: 20px;
  line-height: 20px;
  color: #666;
  border-radius: 5px;
  background-color: #fff;
  background-image: none;
  border: 1px solid transparent;
  border-right: 0;
  outline: none;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  display: block;
  position: relative;
}
.lui-address-quciklocate-searchbar .lui-form-control {
  padding-right: 18%;
  padding-top: 3px;
  padding-bottom: 3px;
  width: 77%;
}
.lui-address-nav-searchbar button {
  padding: 1px 0;
  width: 26px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-top-left-radius: 5px;
  border-top-bottom-radius: 5px;
  border: 1px solid transparent;
  transition: all 0.3s;
  outline: none;
  position: absolute;
  left: 0;
  top: 0;
}
.lui-address-quciklocate-searchbar button {
  padding: 3px 0;
  width: 26px;
  height: 20px;
  line-height: 20px;
  text-align: left;
  border: 1px solid transparent;
  transition: all 0.3s;
  outline: none;
  position: absolute;
  right: 0;
  top: 0;
}
.lui-address-nav-searchbar button {
  background: url(../images/address/address_icon_search.png) no-repeat 50%;
}
.lui-address-quciklocate-searchbar button {
  background: url(../images/address/address_icon_quicklocate.png) no-repeat 50%;
  cursor: default;
}
.lui-address-nav-searchbar button:hover {
  background-color: #f8f8f8;
  background-image: url(../images/address/address_icon_search_on.png) !important;
}
.lui-address-nav-searchcancel, .lui-address-quciklocate-searchcancel {
  width: 15px;
  height: 15px;
  cursor: pointer;
  position: absolute;
  right: 5px;
  top: 7px;
  line-height: 28px;
  display: none;
}
.lui-address-quciklocate-searchbar .lui-address-quciklocate-searchcancel {
  display: inline;
  top: 5px;
  background: url(../images/address/address_icon_del_gray.png) no-repeat;
}
.lui-address-nav-searchbar .lui-address-nav-searchcancel {
  background: url(../images/address/address_icon_del_gray.png) no-repeat;
}
.lui-address-nav-searchbar .lui-address-nav-searchcancel:hover {
  background-image: url(../images/address/address_icon_del.png) !important;
}
.lui-address-quciklocate-searchbar .lui-address-quciklocate-searchcancel:hover {
  background-image: url(../images/address/address_icon_del.png) !important;
}
.lui-address-quciklocate-dialog {
  width: 150px;
  height: 200px;
  position: absolute;
  top: 36px;
  right: 0%;
  border: 1px solid #ECECEC;
  margin-right: 25px;
  box-shadow: 1px 1px 1px #ECECEC, -1px -1px 1px #ECECEC;
  overflow-y: auto;
  display: none;
  background-color: #fff;
}
.lui-address-quciklocate-li {
  padding: 5px 8px;
  cursor: pointer;
}
.lui-address-quciklocate-li.nodata {
  cursor: default;
  text-align: center;
  color: #9f9f9f;
  padding-left: 0;
  padding-right: 0;
  margin-top: 20px;
}
.lui-address-quciklocate-li .name {
  color: #333;
  font-size: 12px;
  min-width: 50px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  line-height: 18px;
}
.lui-address-quciklocate-li .dept {
  line-height: 16px;
  color: #9f9f9f;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.lui-address-quciklocate-li.selected {
  background-color: #f6efec;
}
.lui-address-nav-searchbar-global {
  margin-top: 7px;
  margin-left: 10px;
  padding-top: 4px;
  float: right;
  vertical-align: middle;
  position: relative;
}
.lui-address-nav-searchbar-global > label {
  padding-left: 18px;
  display: block;
  position: relative;
}
.lui-address-nav-searchbar-global .checkbox {
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  background-position: 50%;
  display: inline-block;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 2px;
  margin: 0 !important;
}
.lui-address-nav-searchbar-global .text {
  line-height: 20px;
  color: #333;
  font-size: 14px;
}
.lui-address-contentArea-dt {
  margin-bottom: 5px;
  padding: 0;
  color: #9f9f9f;
  font-size: 14px;
}
.lui-address-clearRecent{
		position: absolute;
    right: 20px;
    top:6px;
    font-size: 12px;
    color: #4285f4;
    cursor: pointer;
    z-index: 1;
}
.lui-address-clearRecent:hover{
	text-decoration: underline;
}
.lui-address-panel-selectlist{
  margin: 0;
  padding: 0;
  list-style: none;
}

.lui-address-panel-selectlist > li:nth-child(even) {
  background-color: #fff;
}
.lui-address-panel-selectlist > li:hover {
  background-color: #f6efec;
}
.lui-address-panel-selectlist > li.selectAll{ padding: 0; }
.lui-address-panel-selectlist > li.selectAll:hover,
.lui-address-panel-right .lui-address-panel-selectlist > li.noData:hover {
  background-color: inherit;
}

.lui-address-panel-right .lui-address-panel-selectlist > li:nth-child(odd) .lui-address-overlay-sm {
  background-position: 0 -30px;
}
.lui-address-panel-selectlist > li:hover .lui-address-overlay-sm {
  background-position: 0 -60px !important;
}
.lui-address-panel-selectlist > li.noData:hover {
  background-color: #fff;
}
.lui-address-panel-selectlist > li {
  padding: 4px 5px;
  font-size: 12px;
  position: relative;
  zoom: 1;
  cursor: pointer;
}
.lui-address-panel-selectlist > li:after, .lui-address-panel-selectlist > li:before {
  content: '';
  display: table;
  visibility: hidden;
}
.lui-address-panel-selectlist > li:after {
  clear: both;
}
.lui-address-panel-right .lui-address-panel-selectlist > li.noData {
  background-color: #fafafa;
}
.lui-address-panel-selectlist > li.noData {
  cursor: auto;
  padding-top: 60px;
  height: auto;
}
.lui-address-panel-selectlist > li.noData > .noData-img {
  margin: 0 auto;
  width: 74px;
  height: 74px;
  background: url(../images/address/address_noData.png) no-repeat 50% 50%;
  display: block;
}
.lui-address-panel-selectlist > li.noData > .noData-title {
  margin: 10px auto 0;
  text-align: center;
  color: #909090;
  font-size: 16px;
}
.lui-address-panel-selectlist > li .name {
  margin-left: 54px;
  line-height: 34px;
  color: #000;
  font-size: 12px;
  min-width: 50px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.lui-address-panel-selectlist > li .name.name-person {
  line-height: 18px;
}
.lui-address-panel-selectlist > li .name.name-person:after, .lui-address-panel-selectlist > li .name.name-person:before {
  content: '';
  display: table;
  visibility: hidden;
}
.lui-address-panel-selectlist > li .name.name-person:after {
  clear: both;
}
.lui-address-panel-selectlist > li .name.name-person.has-staffLevel{ line-height: 34px; }

.lui-address-panel-selectlist > li .staffingName {
  max-width: 170px;
}
.lui-address-panel-selectlist > li .name-person .nameText {
  /*width: 75px;*/
  min-width: 75px;
  max-width: 140px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  float: left;
}
.lui-address-panel-selectlist > li .name-person.no-staffLevel .nameText{ max-width: 96%; }
.lui-address-panel-selectlist > li .staffingLevel {
  margin-left: 8px;
  max-width: 140px;
  vertical-align: bottom;
  /*color: #9f9f9f; */
  color: #333;
  font-size: 12px;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  float: left;
}
.lui-address-panel-right .lui-address-panel-selectlist > li .name-person .nameText {
  max-width: 60%;
}
.lui-address-panel-right .lui-address-panel-selectlist > li .staffingLevel {
  max-width: 37%;
  margin-left: 3%;
}
.lui_address_centreC .lui-address-panel-selectlist > li.selectAll .checkbox,
.lui_address_centreC .lui-address-panel-selectlist > li.selectAll .radiobox {
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 5px;
}
/*.lui-address-panel-right .lui-address-panel-selectlist > li.selectAll{
padding-top: 0px!important;
padding-bottom: 0;
}*/
.lui-address-panel-selectlist > li.selectAll .name {
  margin: 4px 0 4px 0;
  line-height: 18px;
  color: #4285f4;
  float: left;
}
.lui-address-panel-selectlist > li img {
  /*border-radius: 50%;*/
  width: 100%;
  height: 100%;
}
.lui-address-panel-selectlist > li .dep {
  margin-left: 54px;
  line-height: 16px;
  color: #9f9f9f;
  font-size: 12px;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.lui_address_centreC .checkbox, .lui_address_centreC .radiobox {
  margin-top: 9px;
  margin-right: 5px;
  float: left;
}
.lui-address-imgcontainer-sm {
  width: 30px;
  height: 30px;
  margin-top: 3px;
  margin-right: 7px;
  float: left;
  text-align: center;
  overflow: hidden;
  position: relative;
}
.lui-address-overlay-sm {
  width: 30px;
  height: 30px;
  display: block;
  background-image: url(../images/address/address_overlay.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
.lui-address-btn-updown {
  width: 58px;
  height: 11px;
  background: url(../images/address/address_icon_toggle_Up.png) no-repeat 50%;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -29px;
  z-index: 9999;
}
.lui-address-btn-updown:hover {
  background-image: url(../images/address/address_icon_toggle_Up_hover.png);
}
.lui-address-btn-updown.toggle {
  background-image: url(../images/address/address_icon_toggle_Dn.png);
}
.lui-address-btn-updown.toggle:hover {
  background-image: url(../images/address/address_icon_toggle_Dn_hover.png);
}
.lui-address-select-filter {
  position: absolute;
  right: 16px;
  top: 2px;
  z-index: 99;
}
.lui-address-selectedbox {
  position: relative;
  height: 75px;
  min-height: 75px;
  width: 100%;
  background-color: white;
  z-index: 2;
}
.lui-address-selectedbox.up {
  position: absolute;
  height: 358px;
  overflow-y: auto;
}
.lui-address-selectedbox.up > .selectedbox-for-common {
  position: absolute;
  width: 100%;
  height: 350px;
  overflow-y: auto;
}
.lui-address-selectedbox.up > .selectedbox-for-search {
  position: absolute;
  width: 100%;
  height: 330px;
  overflow-y: auto;
}
.lui-address-selectedbox-ul {
  position: relative;
  margin: 0 10px;
  zoom: 1;
}
.lui-address-selectedbox-ul:after, .lui-address-selectedbox-ul:before {
  content: '';
  display: table;
  visibility: hidden;
}
.lui-address-selectedbox-ul:after {
  clear: both;
}
.lui-address-selectedbox-delall {
  width: 24px;
  height: 20px;
  background: url(../images/address/address_icon_delAll.png) no-repeat 50%;
  transition: background .3s ease-in-out;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  z-index: 1000;
}
.lui-address-selectedbox-delall:hover {
  background-image: url(../images/address/address_icon_delAll_hover.png);
}
.lui-address-selectedbox-ul > li {
  padding: 13px 0;
  width: 10%;
  float: left;    /* transition: all 0.15s ease-in 0s; */
  cursor: pointer !important;
  position: relative;
}
.lui-address-selectedbox-ul > li.dragging {
  opacity: .9;
  z-index: 9999 !important;   /*background-color: #E1F1FD;*/
}
.lui-address-selectedbox-del {
  position: absolute;
  width: 15px;
  height: 15px;
  background: url(../images/address/address_icon_del.png) no-repeat;
  display: none;
  z-index: 999;
  left: 50%;
  margin-left: 7px;
}
.lui-address-selectedbox-del:hover {
  background-image: url(../images/address/address_icon_del_hover.png);
}
.lui-address-selectedbox-img {
  margin: 0 auto;
  width: 30px;
  height: 30px;
  text-align: center;
  overflow: hidden;
  position: relative;
}
.lui-address-selectedbox-img img {
  width: 100%;
  height: 100%;   /*border-radius: 50%;*/
}
.lui-address-overlay-g {
  width: 30px;
  height: 30px;
  display: block;
  background-image: url(../images/address/address_overlay.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
.lui-address-selectedbox-ul > li .name, .lui-address-selectedbox-ul > li .dep {
  line-height: 14px;
  text-align: center;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.lui-address-selectedbox-ul > li .name {
  margin-top: 2px;
  color: #333;
  /* width: 70px; */
}
.lui-address-buttons {
  height: 58px;
  line-height: 58px;
  background-color: #fff;
  position: absolute;
  z-index: 5;
  width: 100%;
  bottom: 0px;
  border-top: 1px solid #b4b4b4;
}
.lui_address_buttons_container {
  text-align: center;
}
.lui_address_buttons_settingPersonal {
  position: absolute;
  left: 10px;
}
.lui_address_buttons_settingPersonal a {
  background: url(../images/address/address_icon_setting.png);
  background-repeat: no-repeat;
  background-position-y: 3px;
  padding-left: 16px;
  color: #4285f4;
  font-size: 13px;
}
.lui_address_buttons_settingPersonal a:hover {
  color: #3eb2e6 !important;
  text-decoration: underline;
}
.lui-address-search-panel {
  border-bottom: 1px solid #b4b4b4;
}
.lui-address-search-group {
  padding: 5px 25px 5px;
  height: 61px;
  border-bottom: 1px solid #b4b4b4;
  position: relative;
  z-index: 5;
}
.lui-address-searchbar {
  margin: 0;
  padding-right: 85px;
  width: auto;
  border: 0;
  float: none;
  position: relative;
}
.lui-address-searchbar .lui_widget_btn{
  margin: 0!important;
  min-width: 50px;
  position: absolute;
  right: 0;
  top: 0;
}
.lui-address-searchbar .lui_widget_btn,
.lui-address-searchbar .lui_toolbar_btn_c{ min-width: 76px;}
.lui-address-searchbar .lui_toolbar_btn_def .lui_toolbar_btn_l {
  height: 26px;
  line-height: 26px;
}
.lui-address-searchbar-input {
  width: 98%;
  padding: 2px 1%;
  height: 22px;
  line-height: 22px;
  color: #333;
  font-size: 14px;
  border: 1px solid #d5d5d5;
}
.lui-address-searchbar-ul {
  margin-top: 5px;
  padding-right: 80px;
  zoom: 1;
}
.lui-address-searchbar-ul:after {
  display: block;
  content: 'clear';
  clear: both;
  line-height: 0;
  visibility: hidden;
}
.lui-address-searchbar-li.group1 {
  border-top: 1px solid #ECECEC;
  border-bottom: 1px solid #ECECEC;
  background-color: #F6F6F6;
}
.lui-address-searchbar-li.group1.firstchild {
  border-left: 1px solid #ECECEC;
  padding-left: 2px;
}
.lui-address-searchbar-li.group1.lastchild {
  border-right: 1px solid #ECECEC;
  padding-right: 5px;
}
.lui-address-searchbar-li.group2, .lui-address-searchbar-li.group3 {
  margin-left: 10px;
  border: 1px solid #ECECEC;
  background-color: #F6F6F6;
}
.lui-address-searchbar-li {
  margin: 0;
  padding: 4px 5px;
  font-size: 12px;
  float: left;
  vertical-align: middle;
  position: relative;
  cursor: pointer;
}
.lui-address-searchbar-li.last {
  margin: 0;
  float: right;
}
.lui-address-searchbar-li .checkbox {
  margin: 0 !important;
  position: relative;
  top: 0;
}
.lui-address-search-list {
  height: 239px;
  padding: 8px 10px;
  overflow: hidden;
  overflow-y: auto;
}
.lui-address-search-list .lui-address-panel-selectlist {
  zoom: 1;
}
.lui-address-search-list .lui-address-panel-selectlist:after {
  display: block;
  content: 'clear';
  clear: both;
  line-height: 0;
  visibility: hidden;
}
.lui-address-search-list .lui-address-panel-selectlist > li {
  padding-right: 0;
  padding-left: 0;
  width: 50%;
  float: left;
}
.lui-address-search-list .lui-address-panel-selectlist > li.noData {
  width: 100%;
  height: auto;
  margin-right: 0;
}
.lui-address-search-list .lui-address-panel-selectlist > li .name {
}
.lui-address-search-list .lui-address-panel-selectlist > li .dep {
}
.lui-address-search-list .lui-address-panel-selectlist > li.selectAll {
  width: 100%;
  float: none;
}
.selectCommon, .selectSysRole {
  width: 22px;
  height: 22px;
  float: right;
  background-repeat: no-repeat;
  background-position: 50%;
  cursor: pointer;
}
.selectCommon {
  background-image: url(../images/address/address_treeview_common.png);
}
.selectCommon.on {
  background-image: url(../images/address/address_treeview_common_on.png);
}
.selectSysRole {
  background-image: url(../images/address/address_treeview_sysrole.png);
}
.selectSysRole.on {
  background-image: url(../images/address/address_treeview_sysrole_on.png);
}
.lui-address-nav-range-searchbar {
	position: relative;
	float: right;
	border-radius: 0 5px 5px 0;
	border: 1px solid #b4b4b4;
	height: 24px;
}
.lui-address-nav-range-search-word {
	padding: 0 0 0px 6px;
	height: 100%;
	background-color: #fff;
	border: 0;
}
.lui-address-nav-range-search-img {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #6a6a6a;
	display: inline-block;
	margin-right: 5px;
	margin-bottom: 2px;
}
.lui-address-nav-range-search-div {
	position: absolute;
	left: 0px;
	top:26px;
	z-index:9999;
	background: rgb(247,247,247);
	display: none;
	right: 0;
	padding: 10px 10px;
	border: 1px solid #e3e3e3;
	border-top: none;
}
.lui-address-nav-range-search-row {
	display: table;
	padding: 10px 0;
}
.lui-address-nav-range-search-row-name {
	display: table-cell;
	min-width: 40px;
}
.lui-address-nav-range-search-row-input {
	display: table-cell;
}
.lui-address-nav-range-search-row-input input {
	height: 23px;
	width: 98%;
	border: 1px solid #b4b4b4;
}
.lui-address-nav-range-search-query {
	padding-left: 25px;
	margin-right: 10px;
}
.lui-address-nav-range-search-cancel {
	
}
.lui-address-nav-range-search-query button {
	border: 1px solid #35a1d0;
	background-color: #4285f4;
	color: #fff;
	padding: 0 10px;
	line-height: 23px;
	min-width: 40px;
}
.lui-address-nav-range-search-cancel button {
	border: 1px solid #bbbbbb;
	background-color: #fff;
	color: #4285f4;
	padding: 0 10px;
	line-height: 23px;
	min-width: 40px;
}