@CHARSET "UTF-8";
.div_listSection{margin:0 auto;}
.div_close{
        text-align:right;
        font-size:14px;
        font-weight:bolder;
        margin-top:8px;
        margin-right:10px;
        cursor: pointer;
        margin-bottom: 10px;
}
.tab_listData{
        border-collapse:collapse;
        border-spacing:0px;
        width: 98%;
        border: 1px solid #ddd;
        border-radius: 3px;
        /* overflow: hidden; */
}
.tab_listData .tab_title{
        background-color: #f8f8f8;
}
.tab_listData tr th,.tab_listData tr td{
        text-align: center;
        padding: 8px 0px;
        border: 1px solid #f2f2f2;
        
}
.tab_listData tr th{
        color:#354052;
}
.tab_listData tr td{
color: #666;
}
.tab_listData tr:nth-of-type(odd){
        background:#fdfdfd;
}
.tab_data:hover,
.tab_listData tr:nth-of-type(odd):hover{
        background:#f8f8f8;
}
.mainChartContainer{
        border:1px solid #d2d2d2;
        overflow-y: hidden;
        overflow-x: auto;
}
.mainChartContainer.noBorder{
        border:0 !important;
}