:root {
  /* 主色 */
  --primary-color:#51b6ec;
  /* 交互色 */
  --alter-color:#30a4dc;
  --thirdray-color:#1d1b3c;
  --primary-color-rgb:81,182,236;
  --alter-color-rgb:48,164,220;
  --thirdray-color-rgb:29,27,60;
}
/* CSS reset */
body, input, textarea, select, div, a, table, tr, td, th{
  font-family: "PingFang SC", "Lantinghei SC", "Helvetica Neue", Arial, "Microsoft YaHei", "WenQuanYi Micro Hei", "Heiti SC", "Segoe UI",  sans-serif;
  font-size: 14px;
}
body {
  line-height:1.42857143;
  color: #333;
  background-color: transparent;
  -webkit-text-size-adjust: none;
}
 
body, div, dl, dt, dd, ul, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img {
  border: 0;
}
div[name^=rtf] pre{
	white-space:pre-wrap; 
	word-break:normal;
	word-wrap:break-word!important;
	
}

div[name^=rtf] ul{
	padding-left:40px;
	margin:auto;
	list-style:disc;
}

div[name^=rtf] {
	max-width: 100%;
	overflow-x:auto;
}


.cke_editable pre{
  white-space:pre-wrap; 
}
a {
  color: #333;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  color: #3eb2e6;
}
abbr, acrnym {
  border: 0;
}
input::-ms-clear {
  display: none;
}

/*输入框的小叉叉图标消失*/
*:focus {
  outline: none;
}
/* 蓝凌专属数字字体 UED团队设计版权所有 */
@font-face {
  font-family: "landray-number";
  src: url(../font/landray-number-webfont.eot);
  /* IE9*/
  src: url(../font/landray-number-webfont.eot#iefix) format("embedded-opentype"),
  url(../font/landray-number-webfont.woff) format("woff"),
  url(../font/landray-number-webfont.ttf) format("truetype"),
  url(../font/landray-number-webfont.svg#fontmui) format("svg");
  /* iOS 4.1- */
}
.lui_landray_number {
  font-family: "landray-number", -apple-system, SF UI Text, Arial, PingFang SC, Hiragino Sans GB, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif;
}

/* 去掉输入框点击时的边框 */
.cke_editable {
  padding: 5px;
  height: 95%;
}
/* 富文本编辑器放入大尺寸图片时的自适应样式*/
.cke_editable::-webkit-scrollbar {display:none}
.cke_editable img{
  max-width: 100%;
}
.cke_editable ul {
  padding-left: 40px;
  margin: auto;
  list-style: disc;
}
[flagtype="xform_rtf"] ul{
  padding-left: 40px;
  list-style: disc;
}
.cke_editable p a,
body div[name^=rtf] a,
body div[name^=rtf] a:link {
  color: #37ace1;
  font-size: inherit;
  text-decoration: underline;
}
.cke_editable p a:hover,
body div[name^=rtf] a:hover{
  opacity: .75;
}
.cke_editable table > tbody > tr > td,
.lui_wiki_content_catelog table > tbody > tr > td,
div[name^=rtf] table > tbody > tr > td{
  padding: 0 5px;
}

.cke_editable table,
.lui_wiki_content_catelog table,
div[name^=rtf] table{
  border-color: #000;
}

.cke_editable blockquote,
div[name^=rtf] blockquote{
  padding-left: 10px;
  border-left: 3px solid #ddd;
}


/*系统全局功能*/
.textEllipsis {
  width: 99%;
  overflow: hidden;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.clr {
  clear: both
}
.clearfloat {
  zoom: 1;
}

/*@清除浮动 */
.clearfloat:after {
  display: block;
  content: "";
  clear: both;
  line-height: 0;
  visibility: hidden;
}

/*边框 Starts*/
.lui_border_t{ border-top: 1px solid #384b69; }
.lui_border_b{ border-bottom: 1px solid #384b69; }
.lui_border_l{ border-left: 1px solid #384b69; }
.lui_border_r{ border-right: 1px solid #384b69; }

/*文本颜色 Starts*/
.lui_text_primary{ color: #51b6ec; }  /*主色值*/
.lui_text_alter{ color: #30a4dc; }  /*主色交互色值*/

.lui_text_info{ color: #333; }  /*默认文本*/
.lui_text_muted{ color: #999; }  /*弱化文本*/

.lui_text_warning{ color: #f19703; }  /*警告*/
.lui_text_danger{ color: #ea4335; }  /*危险*/

/*文本颜色 Ends*/


/*@置顶*/
.com_goto {
  position: fixed;
  bottom: 80px;
  right: 20px;
  width: 50px;
  z-index: 1030;
}
.lui_profile_list_body.lui_profile_list_export_body{ padding-bottom: 65px;}
.lui_profile_list_body .com_goto{ bottom:25px;}
.lui_profile_list_body .lui_profile_table_form{ padding-bottom: 85px;}
.com_export {
  background: url(../images/export.png) no-repeat center;
  width: 48px;
  height: 48px;
  background-color: #fff;
  border: 1px solid #ccc !important;
}
.com_export:hover{ background-color:#dfdfdf;}

  /* 二维码 Starts */
.com_qrcode {
  background: url(../images/qrcode.png) no-repeat center;
  width: 48px;
  height: 48px;
  background-color: #fff;
  border: 1px solid #ccc !important;
}
.com_qrcode:hover {
  background-color: #dfdfdf;
}

  /* 二维码 Ends */

  /* 群聊 Starts */
.com_group {
  background: url(../images/group.png) no-repeat center;
  width: 48px;
  height: 48px;
  background-color: #fff;
  border: 1px solid #ccc !important;
}
.com_group:hover {
  background-color: #dfdfdf;
}
  /* 群聊 Ends */

.com_goto .lui-praise-btn {
  border: 1px solid #d5d5d5;
  width: 48px;
  height: 48px;
  margin-top: 2px;
  border-radius: 4px;
}

.com_uncollapse {
  background:#fff url(../images/uncollapse.png) no-repeat center;
  width: 48px;
  height: 48px;
  border: 1px solid #ccc
}
.com_uncollapse:hover {
  background:#dfdfdf url(../images/uncollapse.png) no-repeat center;
  width: 48px;
  height: 48px;
  border: 1px solid #ccc
}

.collapsed {
  background:#fff url(../images/collapse.png) no-repeat center!important;
  width: 48px;
  height: 48px;
  border: 1px solid #ccc
}
.collapsed:hover,
.collapsed.lui-icon-on {
	background-color: #dfdfdf!important;
}
.com_gototop {
  background: #47b5e6 url(../images/go_top.png);
  width: 50px;
  height: 50px;
  position: relative;
  bottom: 0;
  cursor: pointer;
}
.com_gototop:hover {
  background: #c1c1c1 url(../images/go_top_on.png);
  width: 50px;
  height: 50px;
}

/*@展开||收起*/
.com_slideDown {
  margin-left: 12px;
  padding-left: 10px;
  font-size: 13px;
  text-decoration: underline;
  background: url(../images/doc_arrow.png) no-repeat 0 5px;
  cursor: pointer;
}
.com_slideUp {
  margin-left: 12px;
  padding-left: 10px;
  font-size: 13px;
  text-decoration: underline;
  background: url(../images/doc_arrow.png) no-repeat 0px -23px;
  cursor: pointer;
}

/** tb_normal 一般4列表格表单的样式 有边框线表格 **/
.tb_normal {
  background-color: #ffffff;
  border-collapse: collapse;
  border: 1px #d2d2d2 solid;
  padding: 8px !important;
  text-align: left;
  margin: 0 auto;
}

.tb_normal_word_print{
  border-right: 1px #d2d2d2 solid ;
  border-bottom: 1px #d2d2d2 solid ;
}
.tb_normal_td_word_print{
  border-top: 1px #d2d2d2 solid ;
  padding: 8px;
  word-wrap: break-word;
  border-left: 1px #d2d2d2 solid;
  border-collapse:collapse;
}

.tb_normal > tbody > .tr_normal_title {
  background-color: #f6f6f6;
  text-align: center;
}
.tb_normal > tbody > tr {
  border-bottom: 1px solid #d2d2d2;
  border-top: 1px solid #d2d2d2;
}
.tb_normal > tbody > tr > td,
.tb_normal > thead > tr > td,
.tb_normal > thead > tr > th {
  padding: 8px;
  word-wrap: break-word;
  border-left: 1px #d2d2d2 solid;
  border-right: 1px #d2d2d2 solid;
}
.tb_normal > thead > tr > td,
.tb_normal > thead > tr > th {
  border-bottom: 1px #d2d2d2 solid;
}
.tb_normal .tb_normal > tbody > tr > td {
  padding: 5px;
} /* 嵌套表格单元格间距减小以免表格过宽撑开表格宽度 */

.tb_normal > tbody >tr > .td_normal_title {
  background-color: #f6f6f6;
}

.tb_normal > thead{
  background:#f6f6f6;
}

/*---------- 明细表操作按钮 ----------*/
.tb_normal .tr_normal_opt {
  background: url(../images/form/tr_normal_optBg.png) repeat left top;
  text-align: center;
}
.tb_normal .tr_normal_opt td {
  padding: 5px 8px;
  color:#fff;
}
.tr_normal_opt_content{ width:100%; position: relative; height:36px; line-height:36px;}
.tr_normal_opt .tr_normal_opt_l{text-align: left; position: absolute; left: 0; top:0;}
.tr_normal_opt .tr_normal_opt_c{text-align: center;display: inline-block;}
.tr_normal_opt .tr_normal_opt_r{ text-align: right; position: absolute; right: 0; top:0;}
.tr_normal_opt .opt_batchDel_style,
.tr_normal_opt .opt_add_style,
.tr_normal_opt .opt_up_style,
.tr_normal_opt .opt_down_style,
.tr_normal_opt .opt_import_style,
.tr_normal_opt .opt_export_style{ display: inline-block; width: 20px; height: 20px; cursor: pointer; vertical-align: text-top; background:url(../images/form/normal_opt_sprite.png) no-repeat 0 0;}

.tb_normal .optStyle {
  display: inline-block;
}
.tb_normal .opt_batchDel_style {
	background-position: 0 0;
}
.tb_normal .opt_batchDel_style:HOVER {
  background-position: 0 -20px;
}

.tb_normal .opt_add_style {
  background-position: -20px 0;
}
.tb_normal .opt_add_style:HOVER {
	background-position: -20px -20px;
}
.tb_normal .opt_up_style {
  background-position: -40px 0;
}
.tb_normal .opt_up_style:HOVER {
  background-position: -40px -20px;
}
.tb_normal .opt_down_style {
 background-position: -60px 0;
}
.tb_normal .opt_down_style:HOVER {
  background-position: -60px -20px;
}
.tb_normal .opt_import_style {
  background-position: -80px 0;
}
.tb_normal .opt_import_style:HOVER {
  background-position: -80px -20px;
}
.tb_normal .opt_export_style {
  background-position: -100px 0;
}
.tb_normal .opt_export_style:HOVER {
  background-position: -100px -20px;
}
.opt_ck_style input{ margin-right: 2px; position: relative; top:2px;}
.tr_normal_opt .tr_normal_opt_l .opt_batchDel_style{ vertical-align: text-top; margin-left: 5px;}
.tr_normal_opt .tr_normal_opt_c>.optStyle{ margin:0 2px;}
.tr_normal_opt .tr_normal_opt_r .opt_export_style,
.tr_normal_opt .tr_normal_opt_r .opt_import_style{ margin-right: 5px; vertical-align: text-top;}
.tr_normal_opt .tr_normal_opt_r>.optStyle{ margin-left: 10px;}
/* MAC系统高清屏特殊处理  */
@media screen and (-webkit-min-device-pixel-ratio:2) {
	.opt_ck_style input{ top:0;}
	}
.tb_normal .opt_add_compatible_style {
  background-image: url(../images/icon_add_compatible.png);
  width: 24px;
  height: 24px;
}
.tb_normal .opt_add_compatible_style:HOVER {
  background-image: url(../images/icon_add_compatible_hover.png);
}
.tb_normal .opt_copy_style {
  background-image: url(../images/icon_copy.png);
  width: 16px;
  height: 16px;
}
.tb_normal .opt_copy_style:HOVER {
  background-image: url(../images/icon_copy_hover.png);
}
.tb_normal .opt_del_style {
  background-image: url(../images/icon_del.png);
  width: 16px;
  height: 16px;
}
.tb_normal .opt_del_style:HOVER {
  background-image: url(../images/icon_del_hover.png);
}

.tb_normal input, .tb_normal label, .tb_normal select, .tb_normal option {
  cursor: default;
  /* #130210 明细表内列比较多时，控件必填星号显示位置不对-开始 */
  /* white-space: nowrap; */ /* 由于会影响到打印的样式，所以暂时还原（2021.02.25） */
  /* #130210 明细表内列比较多时，控件必填星号显示位置不对-结束 */
}

/* #130210 明细表内列比较多时，控件必填星号显示位置不对-开始 */
.select_div_box.xform_Select,.select_div_box.xform_Select{
  white-space: nowrap;
}
/* #130210 明细表内列比较多时，控件必填星号显示位置不对-结束 */

.tb_normal .xform_inputRadio xformflag label {
  margin: 5px 25px 5px 0;
  display: inline-block;
}
/*.tb_normal .xform_inputRadio xformflag label:last-of-type {
  margin-right: 0;
}*/
/*# 168670 垂直换行时，最下面一行和上面偏离加not判断，非垂直换行时才加该样式*/
.tb_normal .xform_inputRadio xformflag label:not(br+label):last-of-type {
  margin-right: 0;
}

/** tb_simple 一般2列表格表单的样式  无表框线表格 **/
.tb_simple {
  border-collapse: collapse;
  background-color: #FFFFFF;
  margin: 0 auto;
}
.tb_simple>tbody>.tr_normal_title {
  text-align: center;
}
.tb_simple>tbody>tr>td {
  padding: 5px;
  word-break: break-word;
}
.tb_simple>tbody>tr>.td_normal_title {
  text-align: right
}
body .eval_opt_table tr td{ padding: 0 0px 6px!important; }

.lui_eval_add_btn {
  width: 80px;
}
/*字段名称*/

/** tb_noborder 取消表格和单元格的边线 **/
.tb_noborder {
  background-color: #FFFFFF;
  margin: 0 auto;
  border-collapse: collapse;
  padding: 0px;
  border: none;
}
.tb_noborder>tbody>tr>td {
  padding: 0px;
  border: none;
}

/*- 门户部件 引用自定义页面 -*/
.lui_component_iframe_wrap{*white-space:-1px;font-size:0;}

/*--- 门户头部个人信息弹出框 ---*/
.lui_info_post_tb td{ padding:2px 0;}
.lui_info_post_tb td,.lui_info_post_tb td > *{ font-size:12px}
.lui_info_post_tb td.lui_userinfo_title{ white-space:nowrap; font-size: 12px;}
.lui_info_link_tb td{ padding:0 2px;}
.lui_info_link_tb .com_btn_link{white-space:nowrap;}

/*系统全局字体颜色*/
.com_subject, .lui_form_subject, .txttitle {
  color: #3e9ece;
}

/*标题颜色*/
.com_subhead, .lui_form_subhead {
  color: #5b5b5b;
}

/*副标题颜色*/
.td_normal_title, .tr_normal_title>td {
  /* color: #000; */
}

/*字段颜色*/
.com_author {
  color: #333;
}

/*外部作者*/
.com_outer_author {
	color: #333;
	cursor: inherit;
}

.com_outer_author:hover{
	color: #333!important;
}

/*人名强调色*/
.com_author:hover {
  color: #F19703;
}
.com_number {
  color: #29aa19
}

/*数字强调色*/
.com_warn, .txtstrong {
  color: #d02300
}

/*警告提示*/
.com_help, .lui_form_baseinfo {
  color: #9e9e9e
}

/*辅助信息*/
.com_btn_link {
  color: #37ace1;
  text-decoration: underline;
}

/*弱化按钮*/
.com_prompt_more {
  vertical-align: text-top;
  display: inline-block;  /*更多提示*/
  width: 6px;
  height: 6px;
  background-color: #fc4f4f;
  text-align: center;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.com_prompt_num {
  color: white;
  padding: 2px 3px;
  font-size: 10px;
  min-width: 12px;
  height: 12px;/*数字提示类*/
  background-color: #d93e1a;
  vertical-align: super;
  line-height: 12px;
  display: inline-block;
  text-align: center;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
.com_btn_link_light {
  text-decoration: underline;
}
.lui_popup_border_content .com_btn_link:hover {
  color: #db782c;
}

/*弱化按钮*/
.sys_notify_add {
  color: #37ace1 !important;
  text-decoration: underline;
}

/* 日程提醒 */

/*输入框提示信息字体颜色*/

/* WebKit browsers */::-webkit-input-placeholder {
  color: #9e9e9e !important;
  font-family: Microsoft YaHei, Geneva, "sans-serif", SimSun;
  font-size: 12px;
}

/* Mozilla Firefox 4 to 18 */
:-moz-placeholder {
  color: #9e9e9e !important;
  font-family: Microsoft YaHei, Geneva, "sans-serif", SimSun;
  font-size: 12px;
}

/* Mozilla Firefox 19+ */
::-moz-placeholder {
  color: #9e9e9e !important;
  font-family: Microsoft YaHei, Geneva, "sans-serif", SimSun;
  font-size: 12px;
}

/* Internet Explorer 10+ */
:-ms-input-placeholder {
  color: #9e9e9e !important;
  font-family: Microsoft YaHei, Geneva, "sans-serif", SimSun;
  font-size: 12px;
}

/*
 支持 IE 浏览器，需添加 -ms- 前缀 
 支持 Firefox 浏览器，需添加 -moz- 前缀 
 支持 Google Chrome 浏览器，需添加 -webkit- 前缀 
 支持 Safari 浏览器，需添加 -webkit- 前缀 
 支持 Opera 浏览器，需添加 -o- 前缀 
 支持 Opera 浏览器，需添加 -xv- 前缀 */

/** 数据验证的样式 **/
.validation-advice, .lui_validate {
  clear: both;
  margin: 5px 0;
  padding: 5px;
  background-color: #fff5d8;
  border: 1px solid #e0a385;
}
.lui_validate {
  cursor: pointer;
}
.validation-table {
  padding: 0px !important;
  margin: 0px !important;
}
.validation-table td {
  text-align: left;
  font-size: 12px;
  border: 0px;
  margin: 0px !important;
  padding: 0px 2px !important;
  line-height: 18px;
  vertical-align: middle;
}
.validation-table td:FIRST-CHILD {
  width: 18px !important;
}
.validation-table .lui_icon_s_icon_validator{ vertical-align: text-bottom;}
.validation-advice-msg {
  font-weight: bold;
}
.validation-advice-msg .validation-advice-title {
  color: #cc0000 !important;
  font-weight: bolder;
}

/*按钮背景色*/
.com_bgcolor_d {
  background-color: #47b5e6
}
.com_bgcolor_n {
  background-color: #47b5e6
}
.com_bgcolor_l {
  background-color: #d6d6d6
}
.com_bgcolor_d:hover {
  background-color: #2f9adb
}
.com_bgcolor_n:hover {
  background-color: #2f9adb
}
.com_bgcolor_l:hover {
  background-color: #c2c2c2
}

/*按钮边框色*/
.com_bordercolor_d {
  border-color: #35a1d0
}
.com_bordercolor_n {
  border-color: #35a1d0
}
.com_bordercolor_l {
  border-color: #c7c7c7
}

/*按钮字体颜色*/
.com_fontcolor_d {
  color: #fff
}
.com_fontcolor_n {
  color: #fff
}
.com_fontcolor_l {
  color: #fff
}

/*Ie8不支持 屏幕宽度小于等于1280*/
.width15 {
  width: 15px;
}
.width20 {
  width: 20px;
}
.width30 {
  width: 45px;
}
.width40 {
  width: 40px;
}
.width60 {
  width: 60px;
}
.width80 {
  width: 80px;
}
.width100 {
  width: 100px;
}
.width120 {
  width: 120px;
}
.width140 {
  width: 140px;
}
.width160 {
  width: 160px;
}
.width180 {
  width: 180px;
}
.width200 {
  width: 200px;
}
.width250 {
  width: 250px;
}

/*屏幕宽度在1280和1536之间*/
@media screen and (min-device-width:1281px) and (max-device-width:1537px) {
  .rwd .width15 {
    width: 18px;
  }
  .rwd .width20 {
    width: 24px;
  }
  .rwd .width30 {
    width: 36px;
  }
  .rwd .width40 {
    width: 48px;
  }
  .rwd .width60 {
    width: 72px;
  }
  .rwd .width80 {
    width: 96px;
  }
  .rwd .width100 {
    width: 120px;
  }
  .rwd .width120 {
    width: 144px;
  }
  .rwd .width140 {
    width: 168px;
  }
  .rwd .width160 {
    width: 192px;
  }
  .rwd .width180 {
    width: 216px;
  }
  .rwd .width200 {
    width: 240px;
  }
  .rwd .width250 {
    width: 300px;
  }
}

/*屏幕宽度在1536和1792之间*/
@media screen and (min-device-width:1537px) and (max-device-width:1793px) {
  .rwd .width15 {
    width: 23px;
  }
  .rwd .width20 {
    width: 30px;
  }
  .rwd .width30 {
    width: 45px;
  }
  .rwd .width40 {
    width: 60px;
  }
  .rwd .width60 {
    width: 90px;
  }
  .rwd .width80 {
    width: 120px;
  }
  .rwd .width100 {
    width: 150px;
  }
  .rwd .width120 {
    width: 180px;
  }
  .rwd .width140 {
    width: 210px;
  }
  .rwd .width160 {
    width: 240px;
  }
  .rwd .width180 {
    width: 270px;
  }
  .rwd .width200 {
    width: 300px;
  }
  .rwd .width250 {
    width: 375px;
  }
}

/*屏幕宽度在1792和2048之间*/
@media screen and (min-device-width:1793px) and (max-device-width:2049px) {
  .rwd .width15 {
    width: 26px;
  }
  .rwd .width20 {
    width: 35px;
  }
  .rwd .width30 {
    width: 53px;
  }
  .rwd .width40 {
    width: 70px;
  }
  .rwd .width60 {
    width: 105px;
  }
  .rwd .width80 {
    width: 140px;
  }
  .rwd .width100 {
    width: 175px;
  }
  .rwd .width120 {
    width: 210px;
  }
  .rwd .width140 {
    width: 245px;
  }
  .rwd .width160 {
    width: 280px;
  }
  .rwd .width180 {
    width: 315px;
  }
  .rwd .width200 {
    width: 350px;
  }
  .rwd .width250 {
    width: 465px;
  }
}

/*屏幕宽度大于等于2048*/
@media screen and (min-device-width:2049px) {
  .rwd .width15 {
    width: 30px;
  }
  .rwd .width20 {
    width: 40px;
  }
  .rwd .width30 {
    width: 60px;
  }
  .rwd .width40 {
    width: 80px;
  }
  .rwd .width60 {
    width: 120px;
  }
  .rwd .width80 {
    width: 160px;
  }
  .rwd .width100 {
    width: 200px;
  }
  .rwd .width120 {
    width: 240px;
  }
  .rwd .width140 {
    width: 280px;
  }
  .rwd .width160 {
    width: 320px;
  }
  .rwd .width180 {
    width: 360px;
  }
  .rwd .width200 {
    width: 400px;
  }
  .rwd .width250 {
    width: 500px;
  }
}

/*浏览器兼容提示*/
.browserTip {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: yellow;
  line-height: 20px;
  text-align: center;
  display: block;
  height: 20px;
}
.browserTip div {
  padding-left: 10px;
  cursor: pointer;
  display: inline;
  padding-left: 5px;
  line-height: 20px;
}

/*右侧按钮 二维码和其他业务模块按钮加权重置 Starts*/
body .forum_shortcut_menu{
  bottom: 204px!important;
  right: 18px;
}
.forum_shortcut_menu ul li,.edit_forum_shortcut_menu ul li {
  width: auto !important;
  height: auto !important;
  border: 0 !important;
  background: none !important;
}
.forum_shortcut_menu ul li a,.edit_forum_shortcut_menu ul li a {
  width: 48px !important;
  height: 48px !important;
  background-color: #fff !important;
  border: 1px solid #ccc !important;
  transition: all 0.3s;
}
.forum_shortcut_menu ul li a:hover,.edit_forum_shortcut_menu ul li a:hover {
  background-color: #dfdfdf !important;
}
.forum_shortcut_menu ul li .menu1 {
  background-image: url(../images/toolbar/01-1.png) !important;
}
.forum_shortcut_menu ul li .menu2 {
  background-image: url(../images/toolbar/03-1.png) !important;
}
.forum_shortcut_menu ul li .menu3,.edit_forum_shortcut_menu ul .menu3 {
  background-image: url(../images/toolbar/02-1.png) !important;
}
.work_comm_menu, .pindagate_menu {
  bottom: 209px !important;
  border-bottom: 0 !important;
}
.work_comm_menu ul li, .pindagate_menu ul li {
  margin-top: -1px;
  width: 48px !important;
  height: 48px !important;
  transition: all 0.3s;
  background-color: #fff !important;
  border: 1px solid #ccc !important;
}
.work_comm_menu ul li:hover, .pindagate_menu ul li:hover {
  background-color: #dfdfdf !important;
}
.work_comm_menu ul li.item_1 {
  background-image: url(../images/toolbar/06-1.png) !important;
}
.work_comm_menu ul li.item_2 {
  background-image: url(../images/toolbar/04-1.png) !important;
}
.work_comm_menu ul li.item_3 {
  background-image: url(../images/toolbar/15.png) !important;
}
.work_comm_menu ul li.item_4 {
  background-image: url(../images/toolbar/12-1.png) !important;
}
.pindagate_menu ul li.item_1 {
  background-image: url(../images/toolbar/vote_icon_1.png) !important;
}
.pindagate_menu ul li.item_2 {
  background-image: url(../images/toolbar/vote_icon_2.png) !important;
}
.pindagate_menu ul li.item_3 {
  background-image: url(../images/toolbar/vote_icon_3.png) !important;
}
.pindagate_menu ul li.item_4 {
  background-image: url(../images/toolbar/vote_icon_4.png) !important;
}
.pindagate_menu ul li.item_5 {
  background-image: url(../images/toolbar/vote_icon_5.png) !important;
}

/*右侧按钮 二维码和其他业务模块按钮加权重置 Ends*/

/*------ document.css相关代码移入  开始 ------*/

/** 简单的通用样式 **/
.txttitle {text-align: center; font-size: 18px;line-height: 30px;color: #3e9ece; font-weight: bold;}
.txtstrong {color: #FF0000;font-weight: normal;display: inline-block;*display: inline;}
.inputread {border:0px; color:#868686;}
.inputread_normal {border:0px;}
.td_label0 { text-align:left; vertical-align: baseline!important;font-size:2px!important;padding:0px!important;border:0px!important;height:30px; border-bottom:2px solid #58c0ee!important;}
.td_label0 nobr{margin-right: 2px;}
.td_label0 nobr input{overflow:visible;width:auto;_width:0;}
.btnlabel1 {height: 30px; border: 0px;padding:2px 3px 0px 3px;margin:0px; color:#fff; cursor:pointer;}
.btnlabel2 {height: 30px; border: 0px;padding:2px 3px 0px 3px;margin:0px; color:#47b5e6;cursor:pointer;}

.Bold{ font-weight: bold;}
.btnopt{color: #fff; background-color: #47b5ea; height: 22px; line-height:22px; padding: 0px 5px; border:0px;letter-spacing: 1px; cursor: pointer;}
.btnopt:hover{ color:#73caf1; border-color:#73caf1}
.btnopt.btngray{background-color:#fafafa;color: #47b5e6;border: 1px #bbbbbb solid;}
.btnopt.btngray:hover{color: #2f9adb;}
.btnoptmouseover{color:#73caf1; border-color:#73caf1}
.Code{border: #8b4513 1px solid;padding-right: 5px;padding-left: 5px;color: #000066;background-color: #ff9933;}
.maxwinicon{position:absolute;left:10px;width:23px;height:23px;}
#optBarDiv{display:none;}
.upload{ color: #0066FF; background-color: #F0F0F0; border: 1px #999999 solid; font-weight: normal; padding: 0px 1px 1px 0px; /*height: 18px;*/ clip:  rect();}
.td_optbar, .tb_optbar td{padding:2px 10px 2px 0px;text-align:right;}
.txtwarn,description_txt{color: #FF0000;}
.textdescription{font-size:12px;color:blue}
.tb_label{border-collapse:collapse!important;}
.td_label{background-color: #FFFFFF!important;border-left-style:none!important;border-left-width:0px!important;border-top-width:0px!important; padding-top:6px;}
/*.Title{font-weight: bold;font-size: 18px;color: #cc3300;}*/


/** tb_noborder 取消表格和单元格的边线 **/
.tb_noborder{background-color: #FFFFFF;margin: 0px;border-collapse: collapse;padding: 0px;border: 0px;}
.tb_noborder td {padding: 0px;border: 0px;}

/** 后台管理员工具箱数据库检测表格 **/
.tb_dotted td{
  text-align: left;
}

/* 表单编辑器 源码模式 */
.srceditor .btnopt{ margin:0 5px; padding:0 5px; font-size:12px;letter-spacing:0;}
.srceditor .btnopt:hover{ color:#fff; background:#43ace0;}
.srceditor .btnopt:first-child{ margin-left:10px;}
.srceditor>div{ padding:10px;}

/*----- 后台配置路径  -----*/
.txtlistpath {
  padding: 10px 0 10px 20px;
  color: #2792C6;
  line-height: 20px;
  text-align: left;
  border-bottom: 1px dotted #ddd;
  background-color: #fff; /* 遮挡左侧滚动条 */
  display: block;
  word-break: break-all;
}
.txtlistpath:after{
  content: '';
  display: table;
  visibility: hidden;
  clear: both;
}
.txtlistpath > div{ font-size: 12px; }
.profile_config_title {
  color: #47b5e6;
}
.txtlistpath > .lui_icon_s {
  margin-left: -20px;
  float: left;
  position: relative;
  top: 1px;
}
/*------ document.css相关代码移入  结束 ------*/

/* MAC系统高清屏特殊处理  点评 */
@media screen and (-webkit-min-device-pixel-ratio:2) {
	.lui_icon_s_stargood	{ background-image:url(../icon/s/stargood@2x.png); background-size: 16px; }
	.lui_icon_s_starbad	{ background-image:url(../icon/s/starbad@2x.png); background-size: 16px; }
	.lui_icon_s_poor	{ background-image:url(../icon/s/poor@2x.png); background-size: 16px; }
	.lui_icon_s_recommend	{ background-image:url(../icon/s/recommend@2x.png); background-size: 16px; }
	.lui_icon_s_bad	{ background-image:url(../icon/s/bad@2x.png); background-size: 16px; }
	.lui_icon_s_good	{ background-image:url(../icon/s/good@2x.png); background-size: 16px; }
	.lui_icon_s_stargood{background-image:url(../icon/s/stargood@2x.png); background-size: 16px; }
	.lui_icon_s_starbad{background-image:url(../icon/s/starbad@2x.png); background-size: 16px;}
}

/*------------------- 打印样式 -------------------*/
.lui_print_main_content{
  /*-- 修复打印页内容不居中 #95520--*/
  margin:0 auto;
  /*width:90%;*/
  /*max-width: 1200px;*/
}

.lui_print_main_content>.tempTB{
  margin: 0 auto;
}
@media \0screen {
  .lui_print_main_content>.tempTB{
    width: 100%!important;
  }
}
.btnprint .lui_toolbar_frame_float .lui_toolbar_content{ width: 1000px;}
@media print {
	body{
		background:#fff;
		-webkit-print-color-adjust:exact;
        -moz-print-color-adjust:exact;
        -ms-print-color-adjust:exact;
        print-color-adjust:exact;
	}
	body,td{ color:#000!important;}	
  
    .lui_print_main_content{
        width:980px;  /*-  #121981 打印机制横向打印没有自自适应  -*/
  	}

  	.lui_print_main_content>.tempTB{
        margin:0;
      }
  	
  /*- 页面间距 -*/
  
	body .tb_normal{ border-color:#000;}
	body .tb_normal > tbody > tr > td,
	body .tb_normal > thead > tr > td,
    body .tb_normal > thead > tr > th{ border-color:#000;}
	
	.lui_form_content{ padding: 0!important;}
	
	/*- 操作按钮隐藏 -*/
	#optBarDiv, #S_OperationBar,#optBarDiv.btnprint,#optBtnBarDiv,.tb_normal .tr_normal_opt {display: none;}
	
	body.lui_print_body{ margin-top:0!important;}
	.lui_print_body .tempTB{ width: 100%;}
	
	.xform_textArea {height: auto!important;  display: block!important;}

    .upload_slide_button {
        display: none;
    }
	
}

@media print and (orientation:landscape) {
    .lui_print_main_content{
        width:100%;
    }
    .tempTB {
        width: 100% !important;
    }
}

@font-face {
	font-family: "fontmui";
    src: url(../font/iconfont-unicode.eot); /* IE9*/
    src: url(../font/iconfont-unicode.eot#iefix) format('embedded-opentype'), /* IE6-IE8 */
    url(../font/iconfont-unicode.woff) format('woff'), /* chrome, firefox */
    url(../font/iconfont-unicode.ttf) format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url(../font/iconfont-unicode.svg#fontmui) format('svg'); /* iOS 4.1- */
}

.fontmui {
  font-family:"fontmui" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  /*-webkit-text-stroke-width: 0.2px;*/
  -moz-osx-font-smoothing: grayscale;
}
/*---------- 矢量图标 fontclass 引用----------*/
@font-face {
	font-family: "iconfont";
    src: url(../font/iconfont.eot); /* IE9*/
    src: url(../font/iconfont.eot#iefix) format('embedded-opentype'), /* IE6-IE8 */
    url(../font/iconfont.woff) format('woff'), /* chrome, firefox */
    url(../font/iconfont.ttf) format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url(../font/iconfont.svg#fontmui) format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/*---------- 矢量图标 系统导航 fontclass 引用----------*/
@font-face {
  font-family: "iconfont_nav";
    src: url(../font/iconfont-nav.eot); /* IE9*/
    src: url(../font/iconfont-nav.eot#iefix) format('embedded-opentype'), /* IE6-IE8 */
    url(../font/iconfont-nav.woff) format('woff'), /* chrome, firefox */
    url(../font/iconfont-nav.ttf) format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url(../font/iconfont-nav.svg#fontmui) format('svg'); /* iOS 4.1- */
}

.iconfont_nav {
  font-family:"iconfont_nav" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/*---------- 矢量图标 后台配置-框架图标 fontclass 引用 ----------*/
@font-face {
  font-family: "iconfont_profile";
  src: url(../font/iconfont-profile.eot); /* IE9*/
    src: url(../font/iconfont-profile.eot#iefix) format('embedded-opentype'), /* IE6-IE8 */
    url(../font/iconfont-profile.woff) format('woff'), /* chrome, firefox */
    url(../font/iconfont-profile.ttf) format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url(../font/iconfont-profile.svg#fontmui) format('svg'); /* iOS 4.1- */
}

.iconfont_profile {
  font-family: "iconfont_profile" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/*---------- 矢量图标 后台配置 选择图标弹出框----------*/
.lui_iconfont_selectIcon,.iconfont_nav .lui_iconfont_selectIcon,.iconfont .lui_iconfont_selectIcon{  
	width:48px;  height:48px;  
	line-height:48px;  
	text-align:center;
	background-color:#e5e5e5;  
	font-size:40px;  
	color:#666;
}

/* 时间控件 Starts
   ========================================================================== */
.lui_muldatepicker{}
.lui_muldatepicker .ui-muldatepicker-select a{
  color: #15a4fa;
  border-color: #15a4fa;
}

/* 时间控件 Ends
   ========================================================================== */

/* 日历选择框 Starts
   ========================================================================== */
.ui-datepicker.ui-widget-content{
	width: 22em;
}

/* 日历选择框 Ends
   ========================================================================== */


.lui_widget_iframe{
	border: 0;
	width: 100%;
	/* min-height:600px; */
}
body .lecturerInfo{ padding: 10px; }

/* 批量删除 Starts */
.lui_dialog_deleteTips {
	width: 100%;
	padding-bottom: 10px;
}

.lui_dialog_deleteTips .radioUl {
	text-align: center;
}

.lui_dialog_deleteTips .radioUl label {
	display: inline-block;
	margin: 10px;
	cursor: pointer;
}

.lui_dialog_deleteTips .radioUl span {
	margin-left: 5px;
}

.lui_dialog_deleteTips .tips {
	display: none;
}
/* 批量删除 Ends */

/*#167132 流程查看页面和打印页面,长文字不换行，这里更新为break-all*/
td div.xform_textArea{
  word-break: break-word !important;
}

/* 表格自定义表单元素样式 Starts
   ========================================================================== */
.tb_normal .xform_textArea textarea{
  white-space: pre-line !important;
  padding-left: 0;
  padding-right: 0;
}
.xform_inputText,
.xform_datetime,
.xform_Calculation,
.xform_address,
.xform_relation_select,
.xform_relation_choose{
  word-wrap : break-word;
  vertical-align: middle;
}
/*多选地址本会出现换行*/
.xform_address span.addressName{
  word-break: keep-all;
}

.xform_label,
.xform_inputText xformflag{
  vertical-align:middle;
}
.xform_inputText input,
.xform_datetime input,
.xform_address input{
  background-color: transparent;
}
.xform_address .mf_container ol.mf_list{
  position: relative;
  top: 6px;
}
.xform_address .mf_container input.mf_input{
  position: relative;
  top: 4px;
}
.xform_address .inputselectsgl .orgelement:before{
  top: auto;
  bottom: 2px;
}

.nowrap{
	white-space : nowrap;
	
}

.xform_linkLabel{
	word-wrap:normal;
	word-break:keep-all;
}

/* 表格自定义表单元素样式 Ends
   ========================================================================== */
.lbpm_flowInfoW{
	width:100px;
	height:100px;
	position:absolute;
	left:60%;
	top:45px;
}

.lbpm_processStatus{
	width:100px;
	height:100px;
	background-image: url(../images/lbpm-processStatus.png) !important;
	background-size: 100px;
	background-repeat: no-repeat;
}

.lbpm_discardStatus{
	width:100px;
	height:100px;
	background-image: url(../images/lbpm-discardStatus.png) !important;
	background-size: 100px;
	background-repeat: no-repeat;
}

/*多语言输入框样式 start*/
.input_lang_icon { text-align:center;width:21px; height:21px; line-height:21px; -moz-border-radius:50%; -webkit-border-radius:50%; border-radius:50%;color:#999;font-size:12; background-color:#DDD; position: absolute;right: 0px;} /*多语言图标*/
.input_lang_item { display: none;}
/*多语言输入框样式 end*/

/*流程引擎多语言输入框样式 start*/
.multi_lang_icon{
	display:inline-block;
	width:20px;
	height:20px;
	text-align:center;
	line-height:20px;
	-moz-border-radius:50%; 
	-webkit-border-radius:50%; 
	border-radius:50%;
	color:#999;
	font-size:12px; 
	background-color:#DDD;
	position:relative;
	right:5px;
	bottom:4px;
}
.multi_item_input{
	border:0;
	height: 25px;
    /* border-bottom: 1px solid #b4b4b4; */
    position: relative;
    cursor: pointer;
    display:inline-block;
    line-height: 25px;
}
.multi_lang_input{
	border:0;
	outline:0;
	color: #1b83d8;
    padding-left: 4px;
    font-size: 12px;
    height: 25px;
    border-bottom: 1px solid #b4b4b4;
}

.multi_item_textarea{
	border:0;
	height: 76px;
    position: relative;
    cursor: pointer;
    display:inline-block;
}
.multi_lang_textarea{
	color: #1b83d8;
    padding-left: 4px;
    font-size: 12px;
    height: 76px;
}
/*end*/


/**-------------------  请求服务器数据异常通用提醒  Start  -------------------- **/
.lui_request_error_tip{
	width: 100%;
    text-align: center;
   /*  margin-top: 20px; */
   /*  margin-bottom: 20px; */
}
.lui_request_error_tip .error_tip_icon{
    background-image: url(../images/request_data_error.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 42px;
    height: 42px;
    margin: 0 auto;    
}
.lui_request_error_tip .error_tip_text{
	padding: 10px;
	color: #999;
}
.lui_request_error_tip .error_tip_text .error_tip_text_refresh{
	color: #4285f4;
	cursor: pointer;
}
/**-------------------  请求服务器数据异常通用提醒  End  -------------------- **/

/**-------------------  请求服务器无数据返回时通用提醒  Start  -------------------- **/
.lui_request_no_data_tip{
	width: 100%;
    text-align: center;
    /*#93119 无数据时不对齐*/
    /* margin-top: 20px; */
    /* margin-bottom: 20px; */
}
.lui_request_no_data_tip .no_data_tip_icon{
    background-image: url(../images/request_no_data.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 49px;
    height: 41px;
    margin: 0 auto;    
}
.lui_request_no_data_tip .no_data_tip_text{
	padding: 10px;
	color: #999;
}
/**-------------------  请求服务器无数据返回时通用提醒    End  -------------------- **/


.mourning {
   -webkit-filter: grayscale(95%); /* CSS3 filter方式，webkit内核方式，firefox外的绝大部分的现代浏览器*/ 
  -moz-filter: grayscale(95%); /* 目前没有实现 */ 
  -ms-filter: grayscale(95%); 
  -o-filter: grayscale(95%); 
  filter: grayscale(95%); /* CSS3 filter方式，标准写法*/ 
  /*filter: url(filters.svg#grayscale);*/ /* Firefox 4+ */ 
  filter: gray; /* IE 6-9 */ 
}
/* #110285 修复 火狐浏览器加载异常 */
@media screen and (min--moz-device-pixel-ratio:0) {
  .mourning {
    min-height: 100%;
  }
}


/* 修复 灰化模式下 IE8 由filter属性导致的异常 */
@media \0screen\,screen\9 {
  .mourning .lui_list_left_sidebar_frame .lui_accordionpanel_content_c .lui_list_nav_list li a{
    filter:none!important;
  }
  .mourning .lui_list_left_sidebar_frame .lui_dataview_cate .lui_dataview_cate_item_txt{
    filter:none!important;
  }
  .mourning .lui_list_left_sidebar_frame .lui_dataview_cate .lui_icon_on .lui_dataview_cate_item_txt, 
  .mourning .lui_list_left_sidebar_frame .lui_dataview_cate .lui_icon_on_select .lui_dataview_cate_item_txt{
    filter:none!important;
  }
  .mourning .lui_tlayout_header_searchbar.lui_portal_header_zone_search .lui_portal_header_search_btn{
    filter:none!important;
  }
  .mourning .profile_orgIO_fileUpload_item .input_file{
    filter:none!important;
  }
  .mourning .lui_upload_img_item_mask{
    filter:none!important;
    background: url(../images/dialog/bg-mask-ie8.png) repeat!important;
  }
}
/* #125294 会议决议，编辑页面和查看页面的展示不一致 */
body.cke_editable a,
body.cke_editable a:link {
  font-size: inherit;
}

/* #142581-表单设计器切页签的时候，线条都有粗细的变化-开始 */
@media only screen and (-webkit-min-device-pixel-ratio:1.25) , only
screen and (min-device-pixel-ratio:1.25) {
  body .tb_normal>tbody>tr>td {
    border-width: 0.5px;
  }
  body .tb_normal>tbody>tr {
    border-bottom-width: 0.5px;
    border-top-width: 0.5px;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio:1.5) , only
screen and (min-device-pixel-ratio:1.5) {
  body .tb_normal>tbody>tr>td {
    border-width: 0.5px;
  }
  body .tb_normal>tbody>tr {
    border-bottom-width: 0.5px;
    border-top-width: 0.5px;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio:2) , only
screen and (min-device-pixel-ratio:1.5) {
  body .tb_normal>tbody>tr>td {
    border-width: 0.5px;
  }
  body .tb_normal>tbody>tr {
    border-bottom-width: 0.5px;
    border-top-width: 0.5px;
  }
}
/* #142581-表单设计器切页签的时候，线条都有粗细的变化-结束 */

.select_div_box.xform_Select .selectViewText {
    /*max-width: 200px;*/
    white-space: normal;
}

/* 图片预览关闭按钮 */
.ckeditor_close {
  position: absolute;
  top: 40px;
  right: 40px;
  width: 40px;
  height: 40px;
  background: url(../images/closeDiv.png) no-repeat;
  cursor: pointer;
  background-size: 100%;
}
/* #151401 快捷图标界面不显示 Starts */
.lui_selectIcon_bg{
  content:"";
  display:block;
  width:48px;
  height:48px;
  /* position:absolute; */
  left:0;
  top:0;
  z-index: 1;
  background:url(../images/icon/bg_cell.png) no-repeat center;
}
/* #151401 快捷图标界面不显示 Ends */


@font-face {
    font-family: "外交小宋体";
    src: url(/sys/ui/extend/theme/default/font/iconfont-unicode.ttf)
}
#fdLogoImg{
  max-width: 220px;
}