@charset "utf-8";
/* 小图标（16*16）通用 */
.lui_icon_s { background-repeat:no-repeat; background-position:center; display:inline-block; vertical-align: middle; width:16px; height:16px; line-height:1px; }
/* 中图标（32*32）通用 */
.lui_icon_m { background-repeat:no-repeat; background-position:center; display:inline-block; vertical-align: middle; width:32px; height:32px; line-height:1px; }
/* 大图标（64*64）通用 */
.lui_icon_l { background-repeat:no-repeat; background-position:center; display:inline-block; vertical-align: middle; width:48px; height:48px; line-height:1px; }
