@CHARSET "UTF-8";

/*新增默认图标*/
.iconfont:before{content:"\e7db"}


.lui_iconfont_navleft_default:before { content: "\e6fc"; }

.lui_iconfont_navleft_archives_all:before { content: "\e6fd"; }

.lui_iconfont_navleft_archives_borrow:before { content: "\e6fe"; }

.lui_iconfont_navleft_archives_destroy:before { content: "\e6ff"; }

.lui_iconfont_navleft_archives_expire:before { content: "\e700"; }

.lui_iconfont_navleft_archives_examine:before { content: "\e701"; }

.lui_iconfont_navleft_archives_input:before { content: "\e702"; }

.lui_iconfont_navleft_asset_applyInventory:before { content: "\e703"; }

.lui_iconfont_navleft_archives_myBorrow:before { content: "\e704"; }

.lui_iconfont_navleft_asset_bank:before { content: "\e705"; }

.lui_iconfont_navleft_archives_nearExpire:before { content: "\e706"; }

.lui_iconfont_navleft_asset_buy:before { content: "\e707"; }

.lui_iconfont_navleft_asset_change:before { content: "\e708"; }

.lui_iconfont_navleft_asset_deal:before { content: "\e709"; }

.lui_iconfont_navleft_asset_get:before { content: "\e70a"; }

.lui_iconfont_navleft_archives_query:before { content: "\e70b"; }

.lui_iconfont_navleft_asset_in:before { content: "\e70c"; }

.lui_iconfont_navleft_asset_divert:before { content: "\e70d"; }

.lui_iconfont_navleft_asset_myapply:before { content: "\e70e"; }

.lui_iconfont_navleft_asset_myasset:before { content: "\e70f"; }

.lui_iconfont_navleft_asset_myinventory:before { content: "\e710"; }

.lui_iconfont_navleft_asset_mytask:before { content: "\e711"; }

.lui_iconfont_navleft_asset_return:before { content: "\e712"; }

.lui_iconfont_navleft_asset_rent:before { content: "\e713"; }

.lui_iconfont_navleft_asset_stock:before { content: "\e714"; }

.lui_iconfont_navleft_attend_mySign:before { content: "\e715"; }

.lui_iconfont_navleft_asset_task:before { content: "\e716"; }

.lui_iconfont_navleft_asset_repair:before { content: "\e717"; }

.lui_iconfont_navleft_books_all:before { content: "\e718"; }

.lui_iconfont_navleft_books_borrowRecord:before { content: "\e719"; }

.lui_iconfont_navleft_books_myBorrow:before { content: "\e71a"; }

.lui_iconfont_navleft_books_input:before { content: "\e71b"; }

.lui_iconfont_navleft_carmng_dispatch:before { content: "\e71c"; }

.lui_iconfont_navleft_carmng_dispatchinfo:before { content: "\e71d"; }

.lui_iconfont_navleft_carmng_illegal:before { content: "\e71e"; }

.lui_iconfont_navleft_carmng_Insurance:before { content: "\e71f"; }

.lui_iconfont_navleft_carmng_satisfaction:before { content: "\e720"; }

.lui_iconfont_navleft_catalog:before { content: "\e721"; }

.lui_iconfont_navleft_carmng_maintain:before { content: "\e722"; }

.lui_iconfont_navleft_certificate_beExpire:before { content: "\e723"; }

.lui_iconfont_navleft_certificate_beLimited:before { content: "\e724"; }

.lui_iconfont_navleft_certificate_cancellation:before { content: "\e725"; }

.lui_iconfont_navleft_certificate_recovery:before { content: "\e726"; }

.lui_iconfont_navleft_collaborate_all:before { content: "\e727"; }

.lui_iconfont_navleft_com_all:before { content: "\e728"; }

.lui_iconfont_navleft_com_background:before { content: "\e729"; }

.lui_iconfont_navleft_com_classify:before { content: "\e72a"; }

.lui_iconfont_navleft_com_discard:before { content: "\e72b"; }

.lui_iconfont_navleft_com_essence:before { content: "\e72c"; }

.lui_iconfont_navleft_com_calendar:before { content: "\e72d"; }

.lui_iconfont_navleft_com_file:before { content: "\e72e"; }

.lui_iconfont_navleft_com_my_approvaled:before { content: "\e72f"; }

.lui_iconfont_navleft_com_my_beapproval:before { content: "\e730"; }

.lui_iconfont_navleft_com_my_drafted:before { content: "\e731"; }

.lui_iconfont_navleft_com_my_follow:before { content: "\e732"; }

.lui_iconfont_navleft_com_query:before { content: "\e733"; }

.lui_iconfont_navleft_com_my_join:before { content: "\e734"; }

.lui_iconfont_navleft_com_recycle:before { content: "\e735"; }

.lui_iconfont_navleft_com_responsible:before { content: "\e736"; }

.lui_iconfont_navleft_com_statistics:before { content: "\e737"; }

.lui_iconfont_navleft_contract_overdue:before { content: "\e738"; }

.lui_iconfont_navleft_contract_payment:before { content: "\e739"; }

.lui_iconfont_navleft_contract_expire:before { content: "\e73a"; }

.lui_iconfont_navleft_contract_sign:before { content: "\e73b"; }

.lui_iconfont_navleft_com_reserve:before { content: "\e73c"; }

.lui_iconfont_navleft_cusledger_business:before { content: "\e73d"; }

.lui_iconfont_navleft_flowstat_flowerboard:before { content: "\e73e"; }

.lui_iconfont_navleft_cusledger_customer:before { content: "\e73f"; }

.lui_iconfont_navleft_flowstat_orgboard:before { content: "\e740"; }

.lui_iconfont_navleft_flowstat_warn:before { content: "\e741"; }

.lui_iconfont_navleft_hr_agreement:before { content: "\e742"; }

.lui_iconfont_navleft_hr_beagreement:before { content: "\e743"; }

.lui_iconfont_navleft_hr_beformal:before { content: "\e744"; }

.lui_iconfont_navleft_hr_beBirthday:before { content: "\e745"; }

.lui_iconfont_navleft_hr_education:before { content: "\e746"; }

.lui_iconfont_navleft_hr_employees:before { content: "\e747"; }

.lui_iconfont_navleft_hr_certificate:before { content: "\e748"; }

.lui_iconfont_navleft_hr_leave:before { content: "\e749"; }

.lui_iconfont_navleft_hr_overview:before { content: "\e74a"; }

.lui_iconfont_navleft_hr_pay:before { content: "\e74b"; }

.lui_iconfont_navleft_hr_quitEmployees:before { content: "\e74c"; }

.lui_iconfont_navleft_hr_reward:before { content: "\e74d"; }

.lui_iconfont_navleft_hr_workexp:before { content: "\e74e"; }

.lui_iconfont_navleft_hr_payroll:before { content: "\e74f"; }

.lui_iconfont_navleft_hr_train:before { content: "\e750"; }

.lui_iconfont_navleft_hr_statistics:before { content: "\e751"; }

.lui_iconfont_navleft_imeeting_my_host:before { content: "\e752"; }

.lui_iconfont_navleft_imeeting_arrange:before { content: "\e753"; }

.lui_iconfont_navleft_imeeting_material:before { content: "\e754"; }

.lui_iconfont_navleft_imeeting_my_join:before { content: "\e755"; }

.lui_iconfont_navleft_imeeting_reserve:before { content: "\e756"; }

.lui_iconfont_navleft_imeeting_summary:before { content: "\e757"; }

.lui_iconfont_navleft_imissive_beapproval:before { content: "\e758"; }

.lui_iconfont_navleft_imissive_drafted:before { content: "\e759"; }

.lui_iconfont_navleft_imissive_depot:before { content: "\e75a"; }

.lui_iconfont_navleft_imissive_create:before { content: "\e75b"; }

.lui_iconfont_navleft_magazine_all:before { content: "\e75c"; }

.lui_iconfont_navleft_imissive_exchange:before { content: "\e75d"; }

.lui_iconfont_navleft_imissive_outgoingdepot:before { content: "\e75e"; }

.lui_iconfont_navleft_news_all:before { content: "\e75f"; }

.lui_iconfont_navleft_news_top:before { content: "\e760"; }

.lui_iconfont_navleft_magazine_brand:before { content: "\e761"; }

.lui_iconfont_navleft_oitems_input:before { content: "\e762"; }

.lui_iconfont_navleft_oitems_query:before { content: "\e763"; }

.lui_iconfont_navleft_oitems_stock:before { content: "\e764"; }

.lui_iconfont_navleft_pindagate_end:before { content: "\e765"; }

.lui_iconfont_navleft_pindagate_all:before { content: "\e766"; }

.lui_iconfont_navleft_relation:before { content: "\e767"; }

.lui_iconfont_navleft_pindagate_ing:before { content: "\e768"; }

.lui_iconfont_navleft_review_feedback:before { content: "\e769"; }

.lui_iconfont_navleft_review_approval:before { content: "\e76a"; }

.lui_iconfont_navleft_review_create:before { content: "\e76b"; }

.lui_iconfont_navleft_releation_group:before { content: "\e76c"; }

.lui_iconfont_navleft_review_track:before { content: "\e76d"; }

.lui_iconfont_navleft_supervise_all:before { content: "\e76e"; }

.lui_iconfont_navleft_supervise_approval:before { content: "\e76f"; }

.lui_iconfont_navleft_supervise_assign:before { content: "\e770"; }

.lui_iconfont_navleft_supervise_check:before { content: "\e771"; }

.lui_iconfont_navleft_supervise_manage:before { content: "\e772"; }

.lui_iconfont_navleft_supervise_my:before { content: "\e773"; }

.lui_iconfont_navleft_supervise_project:before { content: "\e774"; }

.lui_iconfont_navleft_task_load_analysis:before { content: "\e775"; }

.lui_iconfont_navleft_supervise_overview:before { content: "\e776"; }

.lui_iconfont_navleft_task_all:before { content: "\e777"; }

.lui_iconfont_navleft_task_my_assign:before { content: "\e778"; }

.lui_iconfont_navleft_task_satisfaction_analysis:before { content: "\e779"; }

.lui_iconfont_navleft_task_trend_analysis:before { content: "\e77a"; }

.lui_iconfont_navleft_todo_did:before { content: "\e77b"; }

.lui_iconfont_navleft_task_type_analysis:before { content: "\e77c"; }

.lui_iconfont_navleft_similar:before { content: "\e77d"; }

.lui_iconfont_navleft_todo_todo:before { content: "\e77e"; }

.lui_iconfont_navleft_todo_classify:before { content: "\e77f"; }

.lui_iconfont_navleft_todo_readed:before { content: "\e780"; }

.lui_iconfont_navleft_vote_all:before { content: "\e781"; }

.lui_iconfont_navleft_vote_my_crteat:before { content: "\e782"; }

.lui_iconfont_navleft_vote_my_vote:before { content: "\e783"; }

.lui_iconfont_navleft_todo_toread:before { content: "\e784"; }

.lui_iconfont_navleft_person_navigation:before { content: "\e785"; }

.lui_iconfont_navleft_person_portrait:before { content: "\e786"; }

.lui_iconfont_navleft_person_password:before { content: "\e787"; }

.lui_iconfont_navleft_person_myInfo:before { content: "\e788"; }

.lui_iconfont_navleft_attend_daysum:before { content: "\e789"; }

.lui_iconfont_navleft_attend_abnormal:before { content: "\e78a"; }

.lui_iconfont_navleft_attend_sign:before { content: "\e78b"; }

.lui_iconfont_navleft_attend_attendCalendar:before { content: "\e78c"; }

.lui_iconfont_navleft_bam_evaluation:before { content: "\e78d"; }

.lui_iconfont_navleft_attend_monsun:before { content: "\e78e"; }

.lui_iconfont_navleft_bam_change:before { content: "\e78f"; }

.lui_iconfont_navleft_attend_signCalendar:before { content: "\e790"; }

.lui_iconfont_navleft_bam_restart:before { content: "\e791"; }

.lui_iconfont_navleft_bam_schedule:before { content: "\e792"; }

.lui_iconfont_navleft_bam_termination:before { content: "\e793"; }

.lui_iconfont_navleft_courseware_all:before { content: "\e794"; }

.lui_iconfont_navleft_credit_my:before { content: "\e795"; }

.lui_iconfont_navleft_courseware_upload:before { content: "\e796"; }

.lui_iconfont_navleft_echarts_chart:before { content: "\e797"; }

.lui_iconfont_navleft_diploma_my:before { content: "\e798"; }

.lui_iconfont_navleft_echarts_charts:before { content: "\e799"; }

.lui_iconfont_navleft_echarts_form:before { content: "\e79a"; }

.lui_iconfont_navleft_exam_absence:before { content: "\e79b"; }

.lui_iconfont_navleft_exam_done:before { content: "\e79c"; }

.lui_iconfont_navleft_exam_my_test:before { content: "\e79d"; }

.lui_iconfont_navleft_exam_need:before { content: "\e79e"; }

.lui_iconfont_navleft_exam_assigned:before { content: "\e79f"; }

.lui_iconfont_navleft_exam_check:before { content: "\e7a0"; }

.lui_iconfont_navleft_exam_template:before { content: "\e7a1"; }

.lui_iconfont_navleft_exam_topic:before { content: "\e7a2"; }

.lui_iconfont_navleft_exam_test:before { content: "\e7a3"; }

.lui_iconfont_navleft_homework_mark:before { content: "\e7a4"; }

.lui_iconfont_navleft_kmaps_template:before { content: "\e7a5"; }

.lui_iconfont_navleft_learn_all:before { content: "\e7a6"; }

.lui_iconfont_navleft_homework_upload:before { content: "\e7a7"; }

.lui_iconfont_navleft_learn_assigned:before { content: "\e7a8"; }

.lui_iconfont_navleft_learn_exam:before { content: "\e7a9"; }

.lui_iconfont_navleft_learn_get:before { content: "\e7aa"; }

.lui_iconfont_navleft_learn_make:before { content: "\e7ab"; }

.lui_iconfont_navleft_learn_need:before { content: "\e7ac"; }

.lui_iconfont_navleft_learn_self:before { content: "\e7ad"; }

.lui_iconfont_navleft_lmap_all:before { content: "\e7ae"; }

.lui_iconfont_navleft_learn_task:before { content: "\e7af"; }

.lui_iconfont_navleft_lecturer_all:before { content: "\e7b0"; }

.lui_iconfont_navleft_lmap_assigned:before { content: "\e7b1"; }

.lui_iconfont_navleft_lmap_check:before { content: "\e7b2"; }

.lui_iconfont_navleft_meterview_dashboard:before { content: "\e7b3"; }

.lui_iconfont_navleft_meterview_KPIwaring:before { content: "\e7b4"; }

.lui_iconfont_navleft_person_address:before { content: "\e7b5"; }

.lui_iconfont_navleft_lmap_need:before { content: "\e7b6"; }

.lui_iconfont_navleft_person_classification:before { content: "\e7b7"; }

.lui_iconfont_navleft_meterview_KPIMaintain:before { content: "\e7b8"; }

.lui_iconfont_navleft_person_collection:before { content: "\e7b9"; }

.lui_iconfont_navleft_person_signature:before { content: "\e7ba"; }

.lui_iconfont_navleft_person_subscribe:before { content: "\e7bb"; }

.lui_iconfont_navleft_person_grant:before { content: "\e7bc"; }

.lui_iconfont_navleft_qa_log:before { content: "\e7bd"; }

.lui_iconfont_navleft_person_window:before { content: "\e7be"; }

.lui_iconfont_navleft_qa_question:before { content: "\e7bf"; }

.lui_iconfont_navleft_qa_synonym:before { content: "\e7c0"; }

.lui_iconfont_navleft_reminder_assigned:before { content: "\e7c1"; }

.lui_iconfont_navleft_reminder_exam:before { content: "\e7c2"; }

.lui_iconfont_navleft_reminder_learn:before { content: "\e7c3"; }

.lui_iconfont_navleft_signature_author:before { content: "\e7c5"; }

.lui_iconfont_navleft_train_all:before { content: "\e7c6"; }

.lui_iconfont_navleft_train_assigned:before { content: "\e7c7"; }

.lui_iconfont_navleft_train_absence:before { content: "\e7c8"; }

.lui_iconfont_navleft_train_class_all:before { content: "\e7c9"; }

.lui_iconfont_navleft_train_calendar:before { content: "\e7ca"; }

.lui_iconfont_navleft_train_class_make:before { content: "\e7cb"; }

.lui_iconfont_navleft_train_class_teach:before { content: "\e7cc"; }

.lui_iconfont_navleft_train_need:before { content: "\e7cd"; }

.lui_iconfont_navleft_train_select:before { content: "\e7ce"; }

.lui_iconfont_navleft_train_attended:before { content: "\e7cf"; }

.lui_iconfont_navleft_com_my_classify:before { content: "\e7c3"; }

.lui_iconfont_navleft_calendar_groupshare:before { content: "\e7d0"; }

.lui_iconfont_navleft_calendar_allshare:before { content: "\e7d1"; }

.lui_iconfont_navleft_qa_approval:before { content: "\e7d2"; }

.lui_iconfont_navleft_archives_appraisal:before { content: "\e7d3"; }

.lui_iconfont_navleft_person_password:before { content: "\e787"; }

.lui_iconfont_navleft_note_my:before { content: "\e7d5"; }

.lui_iconfont_navleft_ask_waitme:before { content: "\e7d6"; }

.lui_iconfont_navleft_ask_solved:before { content: "\e7d7"; }

.lui_iconfont_navleft_ask_waitsolve:before { content: "\e7d8"; }

.lui_iconfont_navleft_ask_best:before { content: "\e7d9"; }

.lui_iconfont_navleft_exam_all_acti:before { content: "\e7c4"; }

.lui_iconfont_navleft_exam_all_test:before { content: "\e7da"; }

.lui_iconfont_navleft_com_my_temporary:before { content: "\e7db"; }

.lui_iconfont_navleft_todo_fastview:before { content: "\e7dc"; }

.lui_iconfont_navleft_review_usage:before { content: "\e7dd"; }

.lui_iconfont_navleft_review_process_identity:before { content: "\e7de"; }

.lui_iconfont_navleft_time_amount:before { content: "\e841";}
  
.lui_iconfont_navleft_time_detail:before { content: "\e842";}

.lui_iconfont_navleft_recruit_applicant:before { content: "\e85e";}

.lui_iconfont_navleft_recruit_interview:before { content: "\e85f";}

.lui_iconfont_navleft_recruit_offer:before { content: "\e860"; }

.lui_iconfont_navleft_recruit_talents:before { content: "\e861";}

.lui_iconfont_navleft_recruit_apply:before { content: "\e862";}

.lui_iconfont_navleft_recruit_post:before { content: "\e863";}

.lui_iconfont_navleft_com_notice:before { content: "\e864";}

.lui_iconfont_navleft_ratify_become:before {content:"\e86b";}

.lui_iconfont_navleft_ratify_change:before {content:"\e86c";}

.lui_iconfont_navleft_okr_allperform:before {content:"\e86d";}

.lui_iconfont_navleft_ratify_raise:before {content:"\e86e";}

.lui_iconfont_navleft_ratify_dismiss:before {content:"\e86f";}

.lui_iconfont_navleft_ratify_transfer:before {content:"\e870";}

.lui_iconfont_navleft_ratify_retire:before {content:"\e871";}

.lui_iconfont_navleft_ratify_sign:before {content:"\e872";}

.lui_iconfont_navleft_ratify_remove:before {content:"\e873";}

.lui_iconfont_navleft_ratify_leave:before {content:"\e874";}

.lui_iconfont_navleft_ratify_rehire:before {content:"\e875";}

.lui_iconfont_navleft_okr_alldoc:before {content:"\e876";}

.lui_iconfont_navleft_okr_allperform1:before {content:"\e877";}

.lui_iconfont_navleft_okr_handle:before {content:"\e878";}

.lui_iconfont_navleft_okr_below:before {content:"\e879";}

.lui_iconfont_navleft_okr_myperform:before {content:"\e87a";}

.lui_iconfont_navleft_okr_appear:before {content:"\e87b";}

.lui_iconfont_navleft_okr_target:before {content:"\e87c";}

.lui_iconfont_navleft_okr_team:before {content:"\e87d";}

.lui_iconfont_navleft_ratify_entry:before { content: "\e87e";}

.lui_iconfont_navleft_hr_familyInfo:before { content: "\e87f";}

.lui_iconfont_navleft_hr_trackRecord:before { content: "\e880"; }



.lui_iconfont_navleft_affairs_risk:before {
  content: "\e8b3";
}

.lui_iconfont_navleft_affairs_riskProcess:before {
  content: "\e8b4";
}

.lui_iconfont_navleft_affairs_dispute:before {
  content: "\e8b5";
}

.lui_iconfont_navleft_affairs_disputeProcess:before {
  content: "\e8b6";
}

.lui_iconfont_navleft_affairs_disputeReg:before {
  content: "\e8b7";
}

.lui_iconfont_navleft_agreement_archive:before {
  content: "\e8b8";
}

.lui_iconfont_navleft_affairs_riskReg:before {
  content: "\e8b9";
}

.lui_iconfont_navleft_agreement_consummate:before {
  content: "\e8ba";
}

.lui_iconfont_navleft_agreement_charts:before {
  content: "\e8bb";
}

.lui_iconfont_navleft_agreement_contractAcc:before {
  content: "\e8bc";
}

.lui_iconfont_navleft_agreement_borrowing:before {
  content: "\e8bd";
}

.lui_iconfont_navleft_agreement_contractChag:before {
  content: "\e8be";
}

.lui_iconfont_navleft_agreement_contractReg:before {
  content: "\e8bf";
}

.lui_iconfont_navleft_agreement_contractDraft:before {
  content: "\e8c0";
}

.lui_iconfont_navleft_agreement_my:before {
  content: "\e8c1";
}

.lui_iconfont_navleft_agreement_implementCheck:before {
  content: "\e8c2";
}

.lui_iconfont_navleft_agreement_implement:before {
  content: "\e8c3";
}

.lui_iconfont_navleft_agreement_contractSign:before {
  content: "\e8c4";
}

.lui_iconfont_navleft_agreement_file:before {
  content: "\e8c5";
}

.lui_iconfont_navleft_agreement_implementReg:before {
  content: "\e8c6";
}

.lui_iconfont_navleft_agreement_template:before {
  content: "\e8c7";
}

.lui_iconfont_navleft_agreement_settlementHome:before {
  content: "\e8c8";
}

.lui_iconfont_navleft_agreement_templateAcc:before {
  content: "\e8c9";
}

.lui_iconfont_navleft_clause_analytical:before {
  content: "\e8ca";
}

.lui_iconfont_navleft_agreement_contractAud:before {
  content: "\e8cb";
}

.lui_iconfont_navleft_com_fold:before {
  content: "\e8cc";
}

.lui_iconfont_navleft_clause_combination:before {
  content: "\e8cd";
}

.lui_iconfont_navleft_clause_library:before {
  content: "\e8ce";
}

.lui_iconfont_navleft_agreement_templateDraft:before {
  content: "\e8cf";
}

.lui_iconfont_navleft_com_otherOperat:before {
  content: "\e8d0";
}

.lui_iconfont_navleft_com_unfold:before {
  content: "\e8d1";
}

.lui_iconfont_navleft_relative_record:before {
  content: "\e8d2";
}

.lui_iconfont_navleft_relative_library:before {
  content: "\e8d3";
}

.lui_iconfont_navleft_settlement_acceptReg:before {
  content: "\e8d4";
}

.lui_iconfont_navleft_settlement_collection:before {
  content: "\e8d5";
}

.lui_iconfont_navleft_settlement_collectionAcc:before {
  content: "\e8d6";
}

.lui_iconfont_navleft_settlement_collectionReg:before {
  content: "\e8d7";
}

.lui_iconfont_navleft_settlement_collectionCla:before {
  content: "\e8d8";
}

.lui_iconfont_navleft_com_homepage:before {
  content: "\e8d9";
}

.lui_iconfont_navleft_settlement_insying:before {
  content: "\e8da";
}

.lui_iconfont_navleft_settlement_payment:before {
  content: "\e8db";
}

.lui_iconfont_navleft_settlement_paymentReg:before {
  content: "\e8dc";
}

.lui_iconfont_navleft_settlement_refund:before {
  content: "\e8dd";
}

.lui_iconfont_navleft_settlement_invoice:before {
  content: "\e8de";
}


/*---------- 系统导航图标 ----------*/
.iconfont_nav:before{ content:"\e6da";}


.lui_iconfont_nav_kms_common:before { content: "\e6cb"; }

.lui_iconfont_nav_kms_evaluate:before { content: "\e6cc"; }

.lui_iconfont_nav_kms_doc:before { content: "\e6cd"; }

.lui_iconfont_nav_kms_ask:before { content: "\e6ce"; }

.lui_iconfont_nav_kms_expert:before { content: "\e6cf"; }

.lui_iconfont_nav_kms_exam:before { content: "\e6d0"; }

.lui_iconfont_nav_kms_kmap:before { content: "\e6d1"; }

.lui_iconfont_nav_kms_integral:before { content: "\e6d2"; }

.lui_iconfont_nav_kms_learn:before { content: "\e6d3"; }

.lui_iconfont_nav_kms_kmtopic:before { content: "\e6d4"; }

.lui_iconfont_nav_kms_knowledge:before { content: "\e6d5"; }

.lui_iconfont_nav_kms_log:before { content: "\e6d6"; }

.lui_iconfont_nav_kms_medal:before { content: "\e6d7"; }

.lui_iconfont_nav_kms_wiki:before { content: "\e6d8"; }

.lui_iconfont_nav_kms_kmservice:before { content: "\e6d9"; }

.lui_iconfont_nav_default:before { content: "\e6da"; }

.lui_iconfont_nav_km_calendar:before { content: "\e6db"; }

.lui_iconfont_nav_dbcenter_meterview:before { content: "\e6dc"; }

.lui_iconfont_nav_km_asset:before { content: "\e6dd"; }

.lui_iconfont_nav_km_books:before { content: "\e6de"; }

.lui_iconfont_nav_km_carmng:before { content: "\e6df"; }

.lui_iconfont_nav_km_comminfo:before { content: "\e6e0"; }

.lui_iconfont_nav_km_collaborate:before { content: "\e6e1"; }

.lui_iconfont_nav_km_contract:before { content: "\e6e2"; }

.lui_iconfont_nav_km_doc:before { content: "\e6e3"; }

.lui_iconfont_nav_km_coproject:before { content: "\e6e4"; }

.lui_iconfont_nav_km_empactivity:before { content: "\e6e5"; }

.lui_iconfont_nav_km_forum:before { content: "\e6e6"; }

.lui_iconfont_nav_km_imeeting:before { content: "\e6e7"; }

.lui_iconfont_nav_km_keydata:before { content: "\e6e8"; }

.lui_iconfont_nav_km_magazine:before { content: "\e6e9"; }

.lui_iconfont_nav_km_institution:before { content: "\e6ea"; }

.lui_iconfont_nav_km_imissive:before { content: "\e6eb"; }

.lui_iconfont_nav_km_oitems:before { content: "\e6ec"; }

.lui_iconfont_nav_km_pindagate:before { content: "\e6ed"; }

.lui_iconfont_nav_km_review:before { content: "\e6ee"; }

.lui_iconfont_nav_km_signature:before { content: "\e6ef"; }

.lui_iconfont_nav_km_summary:before { content: "\e6f0"; }

.lui_iconfont_nav_km_provider:before { content: "\e6f1"; }

.lui_iconfont_nav_km_smissive:before { content: "\e6f2"; }

.lui_iconfont_nav_sys_news:before { content: "\e6f3"; }

.lui_iconfont_nav_km_vote:before { content: "\e6f4"; }

.lui_iconfont_nav_sys_rss:before { content: "\e6f5"; }

.lui_iconfont_nav_km_resource:before { content: "\e6f6"; }

.lui_iconfont_nav_sys_task:before { content: "\e6f7"; }

.lui_iconfont_nav_kms_imall:before { content: "\e6f8"; }

.lui_iconfont_nav_kms_qa:before { content: "\e6f9"; }

.lui_iconfont_nav_sns_group:before { content: "\e6fa"; }

.lui_iconfont_nav_sns_event:before { content: "\e6fb"; }

.lui_iconfont_nav_kms_train:before { content: "\e6fc"; }

.lui_iconfont_nav_sns_ispace:before { content: "\e6fd"; }

.lui_iconfont_nav_sns_album:before { content: "\e6fe"; }

.lui_iconfont_nav_sns_vote:before { content: "\e6ff"; }

.lui_iconfont_nav_sys_bookmark:before { content: "\e700"; }

.lui_iconfont_nav_sns_topic:before { content: "\e701"; }

.lui_iconfont_nav_sys_property:before { content: "\e702"; }

.lui_iconfont_nav_sys_ftsearch:before { content: "\e703"; }

.lui_iconfont_nav_sys_relation:before { content: "\e704"; }

.lui_iconfont_nav_sys_number:before { content: "\e705"; }

.lui_iconfont_nav_sys_zone:before { content: "\e706"; }

.lui_iconfont_nav_dbcenter_report:before { content: "\e79b"; }

.lui_iconfont_nav_dbcenter_echarts:before { content: "\e79c"; }

.lui_iconfont_nav_dingding_config:before { content: "\e79d"; }

.lui_iconfont_nav_dingding_guide:before { content: "\e79e"; }

.lui_iconfont_nav_dingding_doc:before { content: "\e79f"; }

.lui_iconfont_nav_dingding_admin:before { content: "\e7a0"; }

.lui_iconfont_nav_fs_base:before { content: "\e7a1"; }

.lui_iconfont_nav_dingding_qa:before { content: "\e7a2"; }

.lui_iconfont_nav_fs_budget:before { content: "\e7a3"; }

.lui_iconfont_nav_fs_loan:before { content: "\e7a4"; }

.lui_iconfont_nav_fs_fee:before { content: "\e7a5"; }

.lui_iconfont_nav_fs_expense:before { content: "\e7a6"; }

.lui_iconfont_nav_fs_third_u8:before { content: "\e7a7"; }

.lui_iconfont_nav_fs_payment:before { content: "\e7a8"; }

.lui_iconfont_nav_kk_kkconfig:before { content: "\e7a9"; }

.lui_iconfont_nav_km_bam2:before { content: "\e7aa"; }

.lui_iconfont_nav_kk_notify:before { content: "\e7ab"; }

.lui_iconfont_nav_kk_notifyerror:before { content: "\e7ac"; }

.lui_iconfont_nav_km_cusledger:before { content: "\e7ad"; }

.lui_iconfont_nav_km_ledgercfg:before { content: "\e7ae"; }

.lui_iconfont_nav_orgio_dept_export:before { content: "\e7af"; }

.lui_iconfont_nav_orgio_dept_import:before { content: "\e7b0"; }

.lui_iconfont_nav_orgio_person_import:before { content: "\e7b1"; }

.lui_iconfont_nav_sys_attachment:before { content: "\e7b2"; }

.lui_iconfont_nav_sys_category:before { content: "\e7b3"; }

.lui_iconfont_nav_orgio_person_export:before { content: "\e7b4"; }

.lui_iconfont_nav_sys_filestore:before { content: "\e7b5"; }

.lui_iconfont_nav_sys_follow:before { content: "\e7b6"; }

.lui_iconfont_nav_sys_oms:before { content: "\e7b7"; }

.lui_iconfont_nav_sys_tag:before { content: "\e7b8"; }

.lui_iconfont_nav_third_aiguanhuai:before { content: "\e7b9"; }

.lui_iconfont_nav_third_ecalendar:before { content: "\e7ba"; }

.lui_iconfont_nav_third_ekp_domino:before { content: "\e7bb"; }

.lui_iconfont_nav_third_emeeting:before { content: "\e7bc"; }

.lui_iconfont_nav_third_ekp_java:before { content: "\e7bd"; }

.lui_iconfont_nav_third_evernote:before { content: "\e7be"; }

.lui_iconfont_nav_third_finereport:before { content: "\e7bf"; }

.lui_iconfont_nav_third_gcalendar:before { content: "\e7c0"; }

.lui_iconfont_nav_third_idm:before { content: "\e7c1"; }

.lui_iconfont_nav_third_kkcloud_base:before { content: "\e7c2"; }

.lui_iconfont_nav_third_ldap:before { content: "\e7c3"; }

.lui_iconfont_nav_third_mail_thinkmail:before { content: "\e7c4"; }

.lui_iconfont_nav_third_mail_winmail:before { content: "\e7c5"; }

.lui_iconfont_nav_third_mail_coremail:before { content: "\e7c6"; }

.lui_iconfont_nav_third_mail_qqexmail:before { content: "\e7c7"; }

.lui_iconfont_nav_third_ywork:before { content: "\e7c8"; }

.lui_iconfont_nav_tools_datatransfer:before { content: "\e7c9"; }

.lui_iconfont_nav_tools_lbpmtransfer:before { content: "\e7ca"; }

.lui_iconfont_nav_weixin_admin:before { content: "\e7cb"; }

.lui_iconfont_nav_weixin_config:before { content: "\e7cc"; }

.lui_iconfont_nav_weixin_guide:before { content: "\e7cd"; }

.lui_iconfont_nav_weixin_doc:before { content: "\e7ce"; }

.lui_iconfont_nav_weixin_problem:before { content: "\e7cf"; }

.lui_iconfont_nav_km_supervise:before { content: "\e7d0"; }

.lui_iconfont_nav_kms_diploma:before { content: "\e7d1"; }

.lui_iconfont_nav_kms_credit:before { content: "\e7d2"; }

.lui_iconfont_nav_kms_lmap:before { content: "\e7d3"; }

.lui_iconfont_nav_kms_lecturer:before { content: "\e7d4"; }

.lui_iconfont_nav_kms_homework:before { content: "\e7d5"; }

.lui_iconfont_nav_kms_kem:before { content: "\e7d6"; }

.lui_iconfont_nav_kms_lservice:before { content: "\e7d7"; }

.lui_iconfont_nav_third_kemyw:before { content: "\e7d8"; }

.lui_iconfont_nav_kms_reminder:before { content: "\e7d9"; }

.lui_iconfont_nav_kms_awiki:before { content: "\e7da"; }

.lui_iconfont_nav_hr_staff:before { content: "\e7db"; }

.lui_iconfont_nav_sys_lbpmperson:before { content: "\e7dc"; }

.lui_iconfont_nav_sys_attend:before { content: "\e7dd"; }

.lui_iconfont_nav_km_certificate:before { content: "\e7de"; }

.lui_iconfont_nav_km_archives:before { content: "\e7df"; }

.lui_iconfont_nav_ex_adminCenter:before { content: "\e7e0"; }

.lui_iconfont_nav_ex_hrCenter:before { content: "\e7e1"; }

.lui_iconfont_nav_ex_cooperCenter:before { content: "\e7e2"; }

.lui_iconfont_nav_ex_reviewCenter:before { content: "\e7e3"; }

.lui_iconfont_nav_ex_missiveCenter:before { content: "\e7e4"; }

.lui_iconfont_nav_ex_meetingCenter:before { content: "\e7e5"; }

.lui_iconfont_nav_mechanism_langtools:before { content: "\e7e6"; }

.lui_iconfont_nav_sys_praise:before { content: "\e7e7"; }

.lui_iconfont_nav_sys_recycle:before { content: "\e7e8"; }

.lui_iconfont_nav_sys_auditlog:before { content: "\e7e9"; }

.lui_iconfont_nav_fs_trip:before { content: "\e7ea"; }

.lui_iconfont_nav_file_criedit:before { content: "\e802"; }

.lui_iconfont_nav_file_book:before { content: "\e803"; }

.lui_iconfont_nav_file_task:before { content: "\e804"; }

.lui_iconfont_nav_file_upload:before { content: "\e805"; }

.lui_iconfont_nav_file_locus:before { content: "\e806"; }

.lui_iconfont_nav_ex_home:before { content: "\e807"; }

.lui_iconfont_nav_ex_student:before { content: "\e808"; }

.lui_iconfont_nav_ex_report:before { content: "\e809"; }

.lui_iconfont_nav_sys_time:before { content: "\e842";}

.lui_iconfont_nav_sys_email:before { content: "\e844";}

.lui_iconfont_nav_sys_subordinate:before { content: "\e845";}

.lui_iconfont_nav_kms_learn_cs:before {
  content: "\e862";
}

.lui_iconfont_nav_kms_loperation_cal:before {
  content: "\e863";
}

.lui_iconfont_nav_kms_course_notes:before {
  content: "\e864";
}

.lui_iconfont_nav_kms_loperation_time:before {
  content: "\e865";
}

.lui_iconfont_nav_third_live_polyv:before {
  content: "\e866";
}

.lui_iconfont_nav_kms_tcourse:before {
  content: "\e867";
}


.lui_iconfont_nav_eps_account:before {
  content: "\e883";
}

.lui_iconfont_nav_eps_enquiry:before {
  content: "\e884";
}

.lui_iconfont_nav_eps_plan:before {
  content: "\e885";
}

.lui_iconfont_nav_eps_require:before {
  content: "\e886";
}

.lui_iconfont_nav_eps_supplier:before {
  content: "\e887";
}

.lui_iconfont_nav_com_import:before {
  content: "\e87a";
}


.lui_iconfont_nav_ex_health:before {
  content: "\e7f6";
}

.lui_iconfont_nav_kms_tplan:before {
  content: "\e8af";
}

.lui_iconfont_nav_km_settlement:before {
  content: "\e8b0";
}

.lui_iconfont_nav_km_clause:before {
  content: "\e8b1";
}

.lui_iconfont_nav_km_agreement:before {
  content: "\e8b2";
}

.lui_iconfont_nav_km_affairs:before {
  content: "\e8b3";
}

.lui_iconfont_nav_km_relative:before {
  content: "\e8b4";
}

/*---------- 后台管理框架图标 ----------*/
.lui_iconfont_profile_t_ftsearch:before {
    content: "\e849";
  }
  
.lui_iconfont_profile_t_app:before {
content: "\e84a";
}

.lui_iconfont_profile_t_intelligence:before {
content: "\e84b";
}

.lui_iconfont_profile_t_integrate:before {
content: "\e84c";
}

.lui_iconfont_profile_t_lbpm:before {
content: "\e84d";
}

.lui_iconfont_profile_t_notify:before {
content: "\e84e";
}

.lui_iconfont_profile_t_mobile:before {
content: "\e84f";
}

.lui_iconfont_profile_t_maintenance:before {
content: "\e850";
}

.lui_iconfont_profile_t_portal:before {
content: "\e851";
}

.lui_iconfont_profile_t_org:before {
content: "\e852";
}

.lui_iconfont_profile_t_overview:before {
content: "\e853";
}

.lui_iconfont_nav_com_import:before {
  content: "\e87a";
}

.lui_iconfont_nav_sys_profile_watermark:before {
  content: "\e8ff";
}

.lui_iconfont_nav_km_settlement:before {
  content: "\e8b5";
}