@charset "utf-8";

/*//////////////////////////////////////////*/

/***************横向导航菜单*********************/
.lui_menu_frame {
	background: #47b5e6;
	border-bottom: #3ba4d3 1px solid;
	position: relative;
	overflow: hidden;
	width: 100%;
}
.lui_menu_frame .lui_menu_content {
	padding-top: 13px;
}
.lui_menu_frame .lui_menu_item {
	float: left;
	margin: 0px 8px;
}
.lui_menu_frame .lui_item {
	cursor: pointer;
	color: #FFFFFF;
	padding: 6px 8px 3px 8px;
}
.lui_menu_frame .lui_item .lui_icon_on {
	color: #47b5e6;
}
.lui_menu_frame .lui_item .lui_icon_on  .lui_item_content {
	background-color: #F2F2F2;
}
.lui_menu_frame .lui_item_left {
	height: 77px;
	width: 77px;
	text-align: center;
}
.lui_menu_frame .lui_item_txt {
	margin: 3px auto 0px auto;
	font-size: 12px;
}
.lui_menu_frame_nav .lui_item_txt:hover {
	color: #3e9ece;
}
.lui_menu_frame_nav .lui_item_disable .lui_item_content .lui_item_txt:hover {
  color: #333;
  cursor: default;
}

.lui_menu_frame .lui_item_sign {
	margin: 0px auto;
	border-top: #FFFFFF 5px solid;
	border-left: transparent 5px dashed;
	border-right: transparent 5px dashed;
	border-bottom: transparent 5px dashed;
	width: 0px;
	height: 0px;
}
.lui_menu_frame .lui_item_sign_dis {
	width: 10px;
	height: 10px;
}
.lui_menu_frame .lui_icon_on .lui_item_sign {
	border-top-color: #47b5e6;
}
.lui_menu_popup {
	background-color: #FFFFFF;
}

/******************纵向菜单*********************/
.lui_menu_frame_ver .lui_item {
	CURSOR: pointer;
	padding: 6px;
	overflow: hidden;
}
.lui_menu_frame_ver .lui_item_content {
	position: relative;
}
.lui_menu_frame_ver .lui_item_content .fontmui {
	margin-right: 16px;
	vertical-align: middle;
}
.lui_menu_frame_ver table {
	width: 100%;
}
.lui_menu_frame_ver .lui_item_content div {
	display: inline-block;
	margin-right: 10px;
	vertical-align: middle;
}

.lui_menu_frame_ver .lui_item_content .lui_icon_s_category,
.lui_menu_frame_ver .lui_item_content .lui_icon_s_txt{
	margin-right: 3px;
}
.lui_menu_frame_ver .lui_item_content .lui_icon_s_category{ color: #dcc262; }


.lui_menu_frame_ver .lui_item.lui_icon_on {
	background-color: #daf0fa;
	color: #5e5e5e;
}
.lui_menu_frame_ver .lui_item_txt {
	min-width: 100px;
	font-size: 12px;
	margin-right: 10px;
}
.lui_menu_frame_ver .lui_item_sign {
	position: absolute;
	top: 5px;
	right: 0px;
	border-top: transparent 5px dashed;
	border-left: #c4c4c4 5px solid;
	border-right: transparent 5px dashed;
	border-bottom: transparent 5px dashed;
	width: 0px;
	height: 0px;
}
.lui_menu_frame_ver .lui_item_sign_dis {
	position: absolute;
	top: 5px;
	right: 0px;
	width: 10px;
	height: 10px;
}
.lui_menu_frame_ver .lui_icon_on .lui_item_sign {
	border-left-color: #FFFFFF;
}
.lui_menu_popup_ver {
	background-color: #FFFFFF;
}
.lui_menu_frame_ver .lui_item_txt {
	overflow: hidden;
	max-width: 160px;
	white-space: nowrap;
	text-overflow: ellipsis;
}

/******************路径导航*********************/
.lui_menu_frame_nav {
	overflow: hidden;
	height: 40px;
	line-height: 40px;
}
.lui_menu_frame_nav .lui_item {
}
.lui_menu_frame_nav .lui_menu_content > div {
	float: left;
	height: 100%;
	overflow: hidden;
}
.lui_menu_frame_nav .lui_menu_content > div.lui_menu_item_split{
	overflow: visible;
    width:5px;
    background: url(../images/menu/menu-split.png) no-repeat center 14px;
    padding:2px;
    height: 34px;
    vertical-align: top;
}
.lui_menu_frame_nav .lui_menu_item {
	padding: 2px;
}
.lui_menu_frame_nav .lui_menu_item_split {
	font-family: SimSun;
	padding-top: 14px;
	line-height: normal;
}
.lui_menu_frame_nav .lui_menu_item_split:after {
	/*content: '>';*/
}
.lui_menu_frame_nav .lui_item_txt {
	font-size: 12px;
}

/*@最后一个加粗*/
.lui_menu_frame_nav .lui_menu_item_last .lui_item_txt {
	font-size: 12px;
	font-weight: bold;
}
.lui_menu_frame_nav .lui_item.lui_item_stitch_class {
	color: #5e5e5e;
	background-color: #FFFFFF;
}
.lui_menu_frame_nav .lui_menu_item_split:first-child {
	display: none;
}
.lui_menu_frame_nav .lui_item_content {
	padding: 0px 3px;
	height: 30px;
	line-height: 30px;
	font-size: 0;
}
.lui_menu_frame_nav .lui_item_content > div {
	display: inline-block;
	margin: 0px 2px;
	vertical-align: middle;
}
.lui_menu_frame_nav .lui_item_sign_dis {
	width: 16px;
	height: 16px;
}
.lui_menu_frame_nav .lui_item_stitch_class .lui_item_sign {
	background-color: #FFFFFF;
}
.lui_menu_popup_nav {
	background-color: #FFFFFF;
}

/******************弹出的纵向菜单*********************/
.lui_menu_frame_ver_pop {
	background-color: #FFFFFF;
}
.lui_menu_frame_ver_pop .lui_item {
	cursor: pointer;
	padding: 6px 0px;
	min-width: 160px;
	overflow: hidden;
}
.lui_menu_frame_ver_pop .lui_item_content {
	position: relative;
}
.lui_menu_frame_ver_pop table {
	width: 100%;
}
.lui_menu_frame_ver_pop .lui_item_content > div {
	display: inline-block;
	margin-left: 10px;
	vertical-align: middle;
}
.lui_menu_frame_ver_pop .lui_item_content > .lui_icon_s {
	margin-left: 5px;
}
.lui_menu_frame_ver_pop .lui_item.lui_icon_on {
	background-color: #daf0fa;
	color: #5e5e5e;
}
.lui_menu_frame_ver_pop .lui_item_txt {
	min-width: 100px;
	color: #8e8e8e;
	font-size: 12px;
	margin-right: 10px;
	color: #7a7a7a;
}
.lui_menu_frame_ver_pop .lui_item_sign {
	position: absolute;
	top: 6px;
	right: 4px;
	border-top: transparent 5px dashed;
	border-left: #c4c4c4 5px solid;
	border-right: transparent 5px dashed;
	border-bottom: transparent 5px dashed;
	width: 0px;
	height: 0px;
}
.lui_menu_frame_ver_pop .lui_item_sign_dis {
	position: absolute;
	top: 10px;
	right: 4px;
	width: 10px;
	height: 10px;
}
.lui_menu_frame_ver_pop .lui_icon_on .lui_item_sign {
	border-left-color: #FFFFFF;
}
.lui_menu_popup_ver_pop {
	background-color: #FFFFFF;
}
.lui_menu_frame_ver_pop .lui_item_txt {
	overflow: hidden;
	max-width: 160px;
	white-space: nowrap;
	text-overflow: ellipsis;
}
/* MAC系统高清屏特殊处理 */
@media screen and (-webkit-min-device-pixel-ratio:2) {
	background: url(../images/menu/menu-split@2x.png) no-repeat center 14px;
    background-size: 5px 7px;
}