@CHARSET "UTF-8";
/**
** 代码制作人: 
** 制作时间：2018-02-12
** 文件内容描述：业务模块样式（所有业务模块的特有样式可以扔进此CSS）
** 修改日期：无
** 修改内容：无
**********************************************/

/*----- 个人中心 通讯录模块iframe -----*/
.lui_zone_address_iframe_body{ background:#f7f7f7;margin-top:10px;}
.lui_zone_address_iframe_wrap .lui_zone_address_containter{ padding:0;}
.lui_zone_address_iframe_wrap .lui_zone_address_content{ padding:0; border: 1px solid #e0e0e0;}
.lui_zone_address_iframe_wrap .lui_zone_address_frame{border:none;}

/*----- 个人中心 我的工作模块 -----*/

/*个人设置-修改头像 主题包优化 Starts*/
.lui_personInfo_photo{ background-color: #fff; }
.lui_personInfo_photo #attachmentObject_personPic_content_div{ padding: 10px 10px 0;}
.lui_personInfo_photo .crop_image_container{
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
/*个人设置-修改头像 主题包优化 Ends*/

/* 附件机制 主题包优化 Starts */
.lui-upload-list-operation .lui-upload-list-opt-print {
  background-image: url(../images/form/print.png)
}
.lui-upload-list-operation .lui-upload-list-opt-view {
  background-image: url(../images/form/read.png)
}
.lui-upload-list-operation .lui-upload-list-opt-down {
  background-image: url(../images/form/down.png)
}
.lui-upload-list-operation .lui-upload-list-opt-edit {
  background-image: url(../images/form/edit.png)
}
.lui-upload-list-operation .lui-upload-list-filename-view a:hover {
  color: #47b5e6;
}
/* 附件机制 主题包优化 Ends */
