@charset "utf-8";
/*///////////////////////////////////////////////*/
/*************通用按钮样式***************/
.lui_widget_btn{
	cursor: pointer;
}

.lui_widget_btn_disabled,
.lui_widget_btn_disabled .lui_widget_btn{
	cursor: default;
}
.lui_widget_btn .lui_icon_s{
	background-position:center center;
	display: inline-block !important;
	vertical-align:top;
}
.lui_widget_btn .lui_widget_btn_txt{
	display: inline-block !important;
	white-space:nowrap;
	vertical-align: top;
	font-weight: normal;
}
.lui_widget_btn .lui_widget_btn_icon{
	padding:3px;
	display: inline-block;
}

.lui_widget_btn_icon_right .lui_widget_btn_txt{
	padding-right: 0!important;
}
/*******************button默认样式******************************/
.lui_toolbar_btn_def{
	display: inline-block;
}
.lui_toolbar_btn_def .lui_widget_btn_icon{
	padding:3px;
}
.lui_toolbar_btn_def .lui_widget_btn{
	padding:6px 4px;
}
.lui_toolbar_btn_def .lui_toolbar_btn_l{
	font-size: 14px;
	height:25px;
	line-height: 25px; 
	color: #fff; 
	text-align: center; 
	display: block;
	border:1px solid #35a1d0;
	background-color: #47b5e6;
}
.lui_toolbar_btn_def.lui_widget_btn_disabled .lui_toolbar_btn_l{
	border:1px solid #ccc;
	background-color: #ccc;
}

.lui_toolbar_btn_def.lui_icon_on .lui_toolbar_btn_l{
	background-color: #2f9adb;
}

.lui_toolbar_btn_def .lui_widget_btn_txt{
 	padding:0px 10px;
}

.lui_toolbar_btn_def.lui_toolbar_btn_cancel .lui_toolbar_btn_l{
	border:1px solid #30ade3;
	background-color: #fff;
	color: #30abe4;
	font-weight:normal;
}
/********************灰色按钮***************************/
.lui_toolbar_btn_gray{
	display: inline-block;
}
.lui_toolbar_btn_gray .lui_widget_btn_icon{
	padding:3px;
}
.lui_toolbar_btn_gray .lui_widget_btn{
	padding:6px 4px;
}
.lui_toolbar_btn_gray .lui_toolbar_btn_l{
	font-size: 14px;
	font-weight:bold;
	height:25px;
	line-height: 25px; 
	color: #47b5e6; 
	text-align: center; 
	display: block;
	border:1px #bbbbbb solid;
	background-color: #fafafa;
}
.lui_toolbar_btn_gray.lui_widget_btn_disabled .lui_toolbar_btn_l{
	border:1px solid #ccc;
	background-color: #ccc;
}
.lui_toolbar_btn_gray.lui_icon_on .lui_toolbar_btn_l{
	color: #2f9adb;
}
.lui_toolbar_btn_gray .lui_widget_btn_txt{
 	padding:0px 10px;
}
/*************toolbar 横向工具栏***************/
.lui_toolbar_frame .lui_widget_btn{
	padding:6px 4px;
}
.lui_toolbar_frame .lui_toolbar_btn_l{
	border:1px #bbbbbb solid;
	height: 22px; 
	line-height: 22px;
	background-color: #fff;
}
.lui_toolbar_frame .lui_widget_btn_disabled .lui_toolbar_btn_l{
	border:1px solid #ccc;
	background-color: #ccc;
}
.lui_toolbar_frame .lui_toolbar_btn .lui_widget_btn_txt{
	padding:0px 10px;
	color: #666;
}
.lui_toolbar_frame .lui_toolbar_btn_on .lui_toolbar_btn_l,
.lui_toolbar_frame .lui_toolbar_btn_toggle_on .lui_toolbar_btn_l{
	border:1px #30ade3 solid;
	color: #30abe4; 
	background-color:#fff;
}
.lui_toolbar_frame .lui_toolbar_btn_on .lui_toolbar_btn_l .lui_widget_btn_txt,
.lui_toolbar_frame .lui_toolbar_btn_toggle_on .lui_toolbar_btn_l .lui_widget_btn_txt{ color:#30abe4;}
.lui_toolbar_frame .lui_widget_btn_swh,
.lui_toolbar_popup{
	BACKGROUND: #FFFFFF;
}

/*************toolbar 纵向工具栏***************/
.lui_toolbar_frame_ver .lui_widget_btn{
	padding:4px 10px;
	display: block;
}
.lui_toolbar_frame_ver .lui_widget_btn .lui_widget_btn{	
}
.lui_toolbar_frame_ver .lui_toolbar_btn_l{
	border:1px #bbbbbb solid;
	height: 22px; 
	line-height: 22px;
	overflow: hidden;
	background-color: #fff;
}
.lui_toolbar_frame_ver .lui_widget_btn_disabled .lui_toolbar_btn_l{
	border:1px solid #ccc;
	background-color: #ccc;
}
.lui_toolbar_frame_ver .lui_toolbar_btn .lui_widget_btn_txt{
	padding:0px 10px;
	color: #666;
}
.lui_toolbar_frame_ver .lui_toolbar_btn_on .lui_toolbar_btn_l,
.lui_toolbar_frame_ver .lui_toolbar_btn_toggle_on .lui_toolbar_btn_l{
	border:1px solid #30ade3;
	color: #30abe4;
}
.lui_toolbar_frame_ver .lui_toolbar_btn_on .lui_toolbar_btn_l .lui_widget_btn_txt,
.lui_toolbar_frame_ver .lui_toolbar_btn_toggle_on .lui_toolbar_btn_l .lui_widget_btn_txt{
	color: #30abe4;
}
.lui_toolbar_frame_ver .lui_widget_btn_ver_swh,
.lui_toolbar_popup_ver{
	background-color: #FFFFFF;
}
/*************toolbar 文档悬浮工具栏***************/
.lui_toolbar_frame_float{
	height: 40px;
	background: url(../images/toolbar/top_bar_bg.png) repeat-x left top;
	border-bottom: #ececec 1px solid;
	position: fixed;
	z-index: 5;
	left: 0px;
	top: 0px;
	width: 100%;
}
.lui_toolbar_frame_float_mark {
	height: 42px;
	position: fixed;
	z-index: 4;
	left: 0px;
	top: 0px;
	width: 100%;
}
.lui_toolbar_frame_float .lui_widget_btn{
	padding:6px 4px;
}

.lui_toolbar_frame_float .lui_toolbar_btn_l{
	font-size: 14px;
	height:25px;
	line-height: 25px;
	color: #fff;
	text-align: center;
	display: block;
	border:1px solid #35a1d0;
	background-color: #47b5e6;
}
.lui_toolbar_frame_float .lui_widget_btn_disabled .lui_toolbar_btn_l{
	border:1px solid #ccc;
	background-color: #ccc;
}
.lui_toolbar_frame_float .lui_toolbar_btn .lui_widget_btn_txt{
	padding:0px 10px; min-width:50px;
}

.lui_toolbar_frame_float .lui_toolbar_btn_toggle_on .lui_toolbar_btn_l,
.lui_toolbar_frame_float .lui_toolbar_btn_on .lui_toolbar_btn_l{
	background-color: #2f9adb;
}

.lui_toolbar_frame_float .lui_toolbar_content{
	width:90%; margin:0px auto; position:relative
}
.lui_toolbar_frame_float .lui_toolbar_content>table{ position:absolute;  top:0px; right:0px;}
.lui_toolbar_frame_float .lui_widget_btn_float_swh,
.lui_toolbar_popup_float{
	background: #ffffff;
}

/*************toolbar 悬浮竖向展示***************/
.lui_toolbar_frame_ver_float .lui_widget_btn{
	padding:4px 10px;
}
.lui_toolbar_frame_ver_float .lui_toolbar_btn_l{
	font-size: 14px;
	height:25px;
	line-height: 25px;
	color: #fff;
	text-align: center;
	display: block;
	border:1px solid #35a1d0;
	background-color: #47b5e6;
}
.lui_toolbar_frame_ver_float .lui_widget_btn_disabled .lui_toolbar_btn_l{
	border:1px solid #ccc;
	background-color: #ccc;
}
.lui_toolbar_frame_ver_float .lui_toolbar_btn .lui_widget_btn_txt{
	padding:0px 10px; min-width:50px;
}
.lui_toolbar_frame_ver_float .lui_toolbar_btn_toggle_on .lui_toolbar_btn_l,
.lui_toolbar_frame_ver_float .lui_toolbar_btn_on .lui_toolbar_btn_l{
	background-color: #2f9adb;
}
.lui_toolbar_frame_ver_float .lui_widget_btn_ver_swh{
	background: #ffffff;
}

/*************toolbar 列表排序展示***************/
.lui_toolbar_frame_sort .lui_widget_btn{
}
.lui_toolbar_frame_sort .lui_toolbar_btn_l{
	height: 22px;
	line-height: 22px;
	overflow: hidden;
	background-color: inherit;
}
.lui_toolbar_frame_sort .lui_widget_btn_txt{
 	padding:0px 0px 0px 5px;
}
.lui_toolbar_frame_sort .lui_widget_btn .lui_icon_o{
	padding: 3px 0px;
	height: 16px;
	float: right;
}
.lui_toolbar_frame_sort .lui_icon_s{
	float: right;
}
.lui_toolbar_frame_sort .lui_widget_btn_swh,
.lui_toolbar_popup_sort{
	background: #ffffff;
}

.lui_toolbar_sort_group_popup{
	background: #fff;
}

.lui_toolbar_sort_group{
	min-width: 96px;
}

.lui_toolbar_sort_group_on{
	background-color: #fff;
}

.lui_toolbar_sort_group_popup .lui_widget_btn,
.lui_toolbar_sort_group .lui_widget_btn{
	padding: 5px 4px;
  display: block;
  line-height:26px;
  margin: 0 7px;
}
.lui_toolbar_sort_group_popup .lui_widget_btn{
	margin-left: 0;
	margin-right: 0;
	padding: 0 5px;
	line-height: 28px;
	border-bottom: 1px solid #d5dbe2;
}
.lui_toolbar_sort_group_popup .lui_widget_btn:last-child{
	border-bottom: 0;
}
.lui_toolbar_sort_group_popup .lui_widget_btn_icon,.lui_toolbar_sort_group .lui_widget_btn_icon{
	padding: 0 0 0 3px!important;
}

.lui_toolbar_sort_group .lui_widget_btn .lui_icon_s,
.lui_toolbar_sort_group_popup .lui_widget_btn .lui_icon_s{
	top: -1px;
	vertical-align: middle;
}


/**********************toolbar 列表排序纵向展示*******************************/
.lui_toolbar_frame_ver_sort .lui_widget_btn{
	padding:4px 6px;
}
.lui_toolbar_frame_ver_sort .lui_toolbar_btn_l{
	height: 22px;
	line-height: 22px;
	color: #909090;
	background-color: inherit;
}
.lui_toolbar_frame_ver_sort .lui_widget_btn_txt{
 	padding:0px 0px 0px 10px;
}
.lui_toolbar_frame_ver_sort .lui_widget_btn .lui_icon_o{
	padding: 3px;
	height: 16px;
	float: right;
}
.lui_toolbar_frame_ver_sort .lui_icon_s{
	float: right;
}
.lui_toolbar_frame_ver_sort .lui_widget_btn_swh,
.lui_toolbar_frame_ver_sort{
	background: #ffffff;
}

/*togglegroup 下拉展示*/
.lui_toolbar_toggleGroup_btn > .lui_widget_btn{
	padding: 7px 4px 6px;
	margin: 0px;
}
.lui_toolbar_btn_frame_togglegroup .lui_toolbar_btn{
	overflow: hidden;
	vertical-align: middle;
}
.lui_toolbar_btn_frame_togglegroup .lui_widget_btn{
	background-color:#ffffff;
	padding:0 16px 0 0;
	border:1px #bbbbbb solid;
}

.lui_toolbar_btn_def.lui_toolbar_btn_frame_togglegroup .lui_widget_btn{
	background-color:#35a1d0;
}

.lui_toolbar_btn_frame_togglegroup .lui_toolbar_btn .lui_widget_btn_txt{
	padding:0 0 0 10px;
}
.lui_toolbar_btn_frame_togglegroup .lui_toolbar_btn .lui_widget_btn_icon{
	padding:0px 3px;
	vertical-align: middle;
}
.lui_toolbar_btn_frame_togglegroup .lui_toolbar_btn .lui_widget_btn_icon>div{
	margin: 2px 0px;
}
.lui_toolbar_btn_frame_togglegroup .lui_toolbar_btn_on .lui_toolbar_btn_l,
.lui_toolbar_btn_frame_togglegroup .lui_toolbar_btn_toggle_on .lui_toolbar_btn_l{
	border: none;
}
.lui_toolbar_btn_frame_togglegroup .lui_toolbar_btn_l{
	border:none;
}
.lui_toolbar_btn_frame_togglegroup .lui_toolbar_btn_on .lui_toolbar_btn_l{
	border:none;
}

.lui_toolbar_togglegroup_tab{
	margin: 0px auto;
	position: relative;
}

.lui_toolbar_togglegroup_tab .lui_toolbar_btn_selectTitle{
	position: relative;
}
.lui_toolbar_btn_frame_togglegroup .lui_toolbar_btn{ margin-top:-1px;}

.lui_toolbar_btn_frame_togglegroup .lui_toolbar_btn_selectBox{
	z-index:50;
}

.lui_toolbar_btn_frame_togglegroup .lui_toolbar_togglegroup_tab .lui_widget_btn{
	display: block;
}

.lui_toolbar_btn_frame_togglegroup .lui_toolbar_btn_selectTitle .lui_widget_btn{
	background: url(../images/toolbar/button_select.png) center right no-repeat;
}
.lui_toolbar_btn_frame_togglegroup .lui_widget_btn .lui_widget_btn_icon{
	margin-right: -10px;
}

/* 维基知识库 右侧menu */
.lui_wiki_catelog_btn_c.lui_icon_l_icon_51{ visibility: visible!important; background:#fff url(../images/toolbar/icon_menu_wiki.png) no-repeat left top; border:1px solid #ccc; position: relative; top:1px;}
.lui_wiki_catelog_btn_c.lui_icon_l_icon_51:hover{ background:#dfdfdf url(../images/toolbar/icon_menu_wiki.png) no-repeat left top;}

/* 项目协作 */
.bam_wrapper .lui_pro_menu_w{ border-bottom:none;}
.bam_wrapper .lui_pro_menu_w ul{position: relative; top:2px;}
.bam_wrapper .lui_pro_menu_w ul li.icon_1,
.bam_wrapper .lui_pro_menu_w ul li.icon_2,
.bam_wrapper .lui_pro_menu_w ul li.icon_3{ background-color:#fff; background-image:url(../images/toolbar/bam_menu_list_icon.png); background-repeat: no-repeat; border:1px solid #ccc; margin-top:-1px;}

.bam_wrapper .lui_pro_menu_w ul li.icon_1:hover,
.bam_wrapper .lui_pro_menu_w ul li.icon_2:hover,
.bam_wrapper .lui_pro_menu_w ul li.icon_3:hover{
	background-color:#dfdfdf; background-image:url(../images/toolbar/bam_menu_list_icon.png); background-repeat: no-repeat;
}

.bam_wrapper .lui_pro_menu_w ul li.icon_1,.bam_wrapper .lui_pro_menu_w ul li.icon_1:hover{ background-position: 0 0;}
.bam_wrapper .lui_pro_menu_w ul li.icon_2,.bam_wrapper .lui_pro_menu_w ul li.icon_2:hover{ background-position: 0 -50px;}
.bam_wrapper .lui_pro_menu_w ul li.icon_3,.bam_wrapper .lui_pro_menu_w ul li.icon_3:hover{ background-position: 0 -100px;}

.handover_result{color: #439ce1; font-size: 14px;}
