<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean id="lbpmExtNodeHanlderLeaderSecretaryListener"
          class="com.landray.kmss.sys.lbpmext.event.LbpmExtNodeHanlderLeaderSecretaryListener">
        <property name="sysOrgMatrixService">
			<ref bean="sysOrgMatrixService" />
		</property>
		<property name="lbpmAuthorizeMainService">
			<ref bean="lbpmAuthorizeMainService" />
		</property>
    </bean>
      
    <bean
		id="interfaceLogListener"
		class="com.landray.kmss.sys.lbpmext.listener.InterfaceLogListener">
	</bean>
	
	 <bean
		id="lbpmExtBusinessSettingInfoService"
		class="com.landray.kmss.sys.lbpmext.businessauth.service.spring.LbpmExtBusinessSettingInfoServiceImp">
	</bean>
	
</beans>

