<?xml version="1.0" encoding="UTF-8"?>
<beans 
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd" 
    xmlns="http://www.springframework.org/schema/beans" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <bean 
        id="fsscBudgetMainDao" 
        class="com.landray.kmss.fssc.budget.dao.hibernate.FsscBudgetMainDaoImp" 
        parent="KmssAuthBaseDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.fssc.budget.model.FsscBudgetMain</value>
        </property>
    </bean>
    <bean 
        id="fsscBudgetMainTarget" 
        class="com.landray.kmss.fssc.budget.service.spring.FsscBudgetMainServiceImp" 
        parent="KmssExtendDataTarget">
        <property 
            name="baseDao">
            <ref 
                bean="fsscBudgetMainDao"/>
        </property>
        <property 
            name="eopBasedataBudgetSchemeService">
            <ref 
                bean="eopBasedataBudgetSchemeService"/>
        </property>
        <property 
            name="eopBasedataCompanyService">
            <ref 
                bean="eopBasedataCompanyService"/>
        </property>
        <property 
            name="fsscBudgetDataService">
            <ref 
                bean="fsscBudgetDataService"/>
        </property>
        <property 
            name="fsscBudgetDetailService">
            <ref 
                bean="fsscBudgetDetailService"/>
        </property>
        <property 
            name="fsscBudgetExecuteService">
            <ref 
                bean="fsscBudgetExecuteService"/>
        </property>
        <property 
            name="fsscBudgetAdjustLogService">
            <ref 
                bean="fsscBudgetAdjustLogService"/>
        </property>
    </bean>
    <bean 
        id="fsscBudgetMainService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="fsscBudgetMainTarget"/>
        </property>
    </bean>
    <bean 
        id="fsscBudgetDetailDao" 
        class="com.landray.kmss.fssc.budget.dao.hibernate.FsscBudgetDetailDaoImp" 
        parent="KmssAuthBaseDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.fssc.budget.model.FsscBudgetDetail</value>
        </property>
    </bean>
    <bean 
        id="fsscBudgetDetailTarget" 
        class="com.landray.kmss.fssc.budget.service.spring.FsscBudgetDetailServiceImp" 
        parent="KmssExtendDataTarget">
        <property 
            name="baseDao">
            <ref 
                bean="fsscBudgetDetailDao"/>
        </property>
    </bean>
    <bean 
        id="fsscBudgetDetailService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="fsscBudgetDetailTarget"/>
        </property>
    </bean>
    <bean 
        id="fsscBudgetAdjustMainDao" 
        class="com.landray.kmss.fssc.budget.dao.hibernate.FsscBudgetAdjustMainDaoImp" 
        parent="KmssAuthBaseDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.fssc.budget.model.FsscBudgetAdjustMain</value>
        </property>
    </bean>
    <bean 
        id="fsscBudgetAdjustMainTarget" 
        class="com.landray.kmss.fssc.budget.service.spring.FsscBudgetAdjustMainServiceImp" 
        parent="KmssExtendDataTarget">
        <property 
            name="baseDao">
            <ref 
                bean="fsscBudgetAdjustMainDao"/>
        </property>
        <property 
            name="sysNumberFlowService">
            <ref 
                bean="sysNumberFlowService"/>
        </property>
        <property 
            name="fsscBudgetDataService">
            <ref 
                bean="fsscBudgetDataService"/>
        </property>
        <property 
            name="fsscBudgetExecuteService">
            <ref 
                bean="fsscBudgetExecuteService"/>
        </property>
        <property 
            name="fsscBudgetAdjustLogService">
            <ref 
                bean="fsscBudgetAdjustLogService"/>
        </property>
        <property 
            name="eopBasedataCompanyService">
            <ref 
                bean="eopBasedataCompanyService"/>
        </property>
    </bean>
    <bean 
        id="fsscBudgetAdjustMainService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="fsscBudgetAdjustMainTarget"/>
        </property>
    </bean>
    <bean 
        id="fsscBudgetAdjustDetailDao" 
        class="com.landray.kmss.fssc.budget.dao.hibernate.FsscBudgetAdjustDetailDaoImp" 
        parent="KmssAuthBaseDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.fssc.budget.model.FsscBudgetAdjustDetail</value>
        </property>
    </bean>
    <bean 
        id="fsscBudgetAdjustDetailTarget" 
        class="com.landray.kmss.fssc.budget.service.spring.FsscBudgetAdjustDetailServiceImp" 
        parent="KmssExtendDataTarget">
        <property 
            name="baseDao">
            <ref 
                bean="fsscBudgetAdjustDetailDao"/>
        </property>
    </bean>
    <bean 
        id="fsscBudgetAdjustDetailService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="fsscBudgetAdjustDetailTarget"/>
        </property>
    </bean>
    <bean 
        id="fsscBudgetDataDao" 
        class="com.landray.kmss.fssc.budget.dao.hibernate.FsscBudgetDataDaoImp" 
        parent="KmssAuthBaseDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.fssc.budget.model.FsscBudgetData</value>
        </property>
    </bean>
    <bean 
        id="fsscBudgetDataTarget" 
        class="com.landray.kmss.fssc.budget.service.spring.FsscBudgetDataServiceImp" 
        parent="KmssExtendDataTarget">
        <property 
            name="baseDao">
            <ref 
                bean="fsscBudgetDataDao"/>
        </property>
        <property 
            name="fsscBudgetExecuteService">
            <ref 
                bean="fsscBudgetExecuteService"/>
        </property>
        <property 
            name="fsscBudgetAdjustLogService">
            <ref 
                bean="fsscBudgetAdjustLogService"/>
        </property>
        <property 
            name="eopBasedataExchangeRateService">
            <ref 
                bean="eopBasedataExchangeRateService"/>
        </property>
    </bean>
    <bean 
        id="fsscBudgetDataService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="fsscBudgetDataTarget"/>
        </property>
    </bean>
    <bean 
        id="fsscBudgetExecuteDao" 
        class="com.landray.kmss.fssc.budget.dao.hibernate.FsscBudgetExecuteDaoImp" 
        parent="KmssAuthBaseDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.fssc.budget.model.FsscBudgetExecute</value>
        </property>
    </bean>
    <bean 
        id="fsscBudgetExecuteTarget" 
        class="com.landray.kmss.fssc.budget.service.spring.FsscBudgetExecuteServiceImp" 
        parent="KmssExtendDataTarget">
        <property 
            name="baseDao">
            <ref 
                bean="fsscBudgetExecuteDao"/>
        </property>
    </bean>
    <bean 
        id="fsscBudgetExecuteService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="fsscBudgetExecuteTarget"/>
        </property>
    </bean>
    <bean 
        id="fsscBudgetAdjustCategoryDao" 
        class="com.landray.kmss.fssc.budget.dao.hibernate.FsscBudgetAdjustCategoryDaoImp" 
        parent="KmssAuthBaseDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.fssc.budget.model.FsscBudgetAdjustCategory</value>
        </property>
    </bean>
    <bean 
        id="fsscBudgetAdjustCategoryTarget" 
        class="com.landray.kmss.fssc.budget.service.spring.FsscBudgetAdjustCategoryServiceImp" 
        parent="KmssExtendDataTarget">
        <property 
            name="baseDao">
            <ref 
                bean="fsscBudgetAdjustCategoryDao"/>
        </property>
    </bean>
    <bean 
        id="fsscBudgetAdjustCategoryService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="fsscBudgetAdjustCategoryTarget"/>
        </property>
    </bean>
    <bean 
        id="fsscBudgetAdjustLogDao" 
        class="com.landray.kmss.fssc.budget.dao.hibernate.FsscBudgetAdjustLogDaoImp" 
        parent="KmssAuthBaseDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.fssc.budget.model.FsscBudgetAdjustLog</value>
        </property>
    </bean>
    <bean 
        id="fsscBudgetAdjustLogTarget" 
        class="com.landray.kmss.fssc.budget.service.spring.FsscBudgetAdjustLogServiceImp" 
        parent="KmssExtendDataTarget">
        <property 
            name="baseDao">
            <ref 
                bean="fsscBudgetAdjustLogDao"/>
        </property>
        <property 
            name="sysOrgPersonService">
            <ref 
                bean="sysOrgPersonService"/>
        </property>
    </bean>
    <bean 
        id="fsscBudgetAdjustLogService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="fsscBudgetAdjustLogTarget"/>
        </property>
    </bean>
    <bean 
        id="fsscBudgetOperatService" 
        class="com.landray.kmss.fssc.budget.service.spring.FsscBudgetOperatServiceImp">
        <property 
            name="fsscBudgetExecuteService">
            <ref 
                bean="fsscBudgetExecuteService"/>
        </property>
        <property 
            name="fsscBudgetMainService">
            <ref 
                bean="fsscBudgetMainService"/>
        </property>
         <property 
            name="fsscBudgetMatchService">
            <ref 
                bean="fsscBudgetMatchService"/>
        </property>
        <property 
            name="fsscBudgetDataService">
            <ref 
                bean="fsscBudgetDataService"/>
        </property>
    </bean>
    <bean 
        id="fsscBudgetMatchService"
        class="com.landray.kmss.fssc.budget.service.spring.FsscBudgetMatchServiceImp">
        <property 
            name="eopBasedataItemBudgetService">
            <ref 
                bean="eopBasedataItemBudgetService"/>
        </property>
        <property 
            name="fsscBudgetDataService">
            <ref 
                bean="fsscBudgetDataService"/>
        </property>
        <property 
            name="sysOrgElementService">
            <ref 
                bean="sysOrgElementService"/>
        </property>
    </bean>
    <bean 
        id="fsscBudgetAdjustFinishEvent" 
        class="com.landray.kmss.fssc.budget.service.spring.FsscBudgetAdjustFinishEvent">
        <property 
            name="fsscBudgetAdjustMainService">
            <ref 
                bean="fsscBudgetAdjustMainService"/>
        </property>
    </bean>
    <bean 
        id="fsscBudgetAdjustAbandonedEvent" 
        class="com.landray.kmss.fssc.budget.service.spring.FsscBudgetAdjustAbandonedEvent">
        <property 
            name="fsscBudgetAdjustMainService">
            <ref 
                bean="fsscBudgetAdjustMainService"/>
        </property>
    </bean>
    <bean 
        id="fsscBudgetAdjustDrafterReturnEvent" 
        class="com.landray.kmss.fssc.budget.service.spring.FsscBudgetAdjustDrafterReturnEvent">
        <property 
            name="fsscBudgetAdjustMainService">
            <ref 
                bean="fsscBudgetAdjustMainService"/>
        </property>
    </bean>
    <bean 
        id="fsscBudgetAdjustEnterNodeEvent" 
        class="com.landray.kmss.fssc.budget.service.spring.FsscBudgetAdjustEnterNodeEvent">
        <property 
            name="fsscBudgetAdjustMainService">
            <ref 
                bean="fsscBudgetAdjustMainService"/>
        </property>
    </bean>
    <bean 
        id="fsscBudgetAdjustDraftorSubmitEvent" 
        class="com.landray.kmss.fssc.budget.service.spring.FsscBudgetAdjustDraftorSubmitEvent">
        <property 
            name="fsscBudgetAdjustMainService">
            <ref 
                bean="fsscBudgetAdjustMainService"/>
        </property>
    </bean>
    <!-- 第三方webservice接口 -->
    <bean 
        id="fsscBudgetWebserviceService" 
        class="com.landray.kmss.fssc.budget.webservice.spring.FsscBudgetWebserviceServiceImp">
        <property 
            name="fsscBudgetMatchService">
            <ref 
                bean="fsscBudgetMatchService"/>
        </property>
        <property 
            name="fsscBudgetOperatService">
            <ref 
                bean="fsscBudgetOperatService"/>
        </property>
        <property 
            name="fsscBudgetExecuteService">
            <ref 
                bean="fsscBudgetExecuteService"/>
        </property>
    </bean>
    <bean 
        id="fsscBudgetCommonDataServiceImp" 
        class="com.landray.kmss.fssc.budget.service.spring.FsscBudgetCommonDataServiceImp">
        <property 
            name="fsscBudgetDetailService">
            <ref 
                bean="fsscBudgetDetailService"/>
        </property>
        <property 
            name="eopBasedataBudgetSchemeService">
            <ref 
                bean="eopBasedataBudgetSchemeService"/>
        </property>
        <property 
            name="fsscBudgetDataService">
            <ref 
                bean="fsscBudgetDataService"/>
        </property>
        <property 
            name="fsscBudgetExecuteService">
            <ref 
                bean="fsscBudgetExecuteService"/>
        </property>
    </bean>
    <bean 
        id="fsscBudgetDataQuartzJobService" 
        class="com.landray.kmss.fssc.budget.service.spring.FsscBudgetDataQuartzJobService">
        <property 
            name="fsscBudgetMainService">
            <ref 
                bean="fsscBudgetMainService"/>
        </property>
    </bean>
    
     <bean 
        id="fsscTransferBudgetQuartzJobService" 
        class="com.landray.kmss.fssc.budget.service.spring.FsscTransferBudgetQuartzJobService">
        <property 
            name="fsscBudgetMainService">
            <ref 
                bean="fsscBudgetMainService"/>
        </property>
    </bean>
    <bean id="fsscBudgetExecuteQuartzJobService"
          class="com.landray.kmss.fssc.budget.service.spring.FsscBudgetExecuteQuartzJobService">
        <property
                name="fsscBudgetExecuteService">
            <ref
                    bean="fsscBudgetExecuteService"/>
        </property>
    </bean>
    <bean 
        id="fsscBudgetCriteriaService" 
        class="com.landray.kmss.fssc.budget.service.spring.FsscBudgetCriteriaService">
        <property 
            name="fsscBudgetDataService">
            <ref 
                bean="fsscBudgetDataService"/>
        </property>
        <property 
            name="eopBasedataCompanyGroupService">
            <ref 
                bean="eopBasedataCompanyGroupService"/>
        </property>
        <property 
            name="eopBasedataCompanyService">
            <ref 
                bean="eopBasedataCompanyService"/>
        </property>
        <property 
            name="eopBasedataCostCenterService">
            <ref 
                bean="eopBasedataCostCenterService"/>
        </property>
        <property 
            name="eopBasedataProjectService">
            <ref 
                bean="eopBasedataProjectService"/>
        </property>
        <property 
            name="eopBasedataWbsService">
            <ref 
                bean="eopBasedataWbsService"/>
        </property>
        <property 
            name="eopBasedataInnerOrderService">
            <ref 
                bean="eopBasedataInnerOrderService"/>
        </property>
        <property 
            name="eopBasedataBudgetItemService">
            <ref 
                bean="eopBasedataBudgetItemService"/>
        </property>
    </bean>
    <bean 
        id="fsscBudgetReportService" 
        class="com.landray.kmss.fssc.budget.service.spring.FsscBudgetReportService">
        <property 
            name="fsscBudgetDataService">
            <ref 
                bean="fsscBudgetDataService"/>
        </property>
    </bean>
    <bean 
        id="fsscBudgetPortalService" 
        class="com.landray.kmss.fssc.budget.service.spring.FsscBudgetPortalService">
        <property 
            name="fsscBudgetDataService">
            <ref 
                bean="fsscBudgetDataService"/>
        </property>
    </bean>
    <bean 
        id="fsscBudgetDataValidator" 
        class="com.landray.kmss.fssc.budget.authValidator.FsscBudgetDataValidator">
        <property 
            name="fsscBudgetDataService">
            <ref 
                bean="fsscBudgetDataService"/>
        </property>
        <property 
            name="sysOrgCoreService">
            <ref 
                bean="sysOrgCoreService"/>
        </property>
    </bean>
    <bean 
        id="fsscBudgetDataFilter" 
        class="com.landray.kmss.fssc.budget.authValidator.FsscBudgetDataFilter">
        <property 
            name="eopBasedataCompanyService">
            <ref 
                bean="eopBasedataCompanyService"/>
        </property>
    </bean>
    <bean 
        id="fsscBudgetExecuteBillView" 
        class="com.landray.kmss.fssc.budget.authValidator.FsscBudgetExecuteBillView">
        <property 
            name="fsscBudgetExecuteService">
            <ref 
                bean="fsscBudgetExecuteService"/>
        </property>
    </bean>
    <bean
        id="fsscBudgetPortletService"
        class="com.landray.kmss.fssc.budget.service.spring.FsscBudgetPortletService">
        <property
            name="fsscBudgetDataService">
            <ref
                bean="fsscBudgetDataService"/>
        </property>
        <property
            name="fsscBudgetExecuteService">
            <ref
                bean="fsscBudgetExecuteService"/>
        </property>
    </bean>
    <bean 
        id="kmReviewZjSubmitEvent" 
        class="com.landray.kmss.fssc.budget.event.KmReviewZjSubmitEvent">
    </bean>
	
	<bean 
        id="kmReviewJfSubmitEvent" 
        class="com.landray.kmss.fssc.budget.event.KmReviewJfSubmitEvent">
    </bean>
    
    <bean 
        id="kmReviewJfDiscardEvent" 
        class="com.landray.kmss.fssc.budget.event.KmReviewJfDiscardEvent">
    </bean>
    
    <bean 
        id="kmReviewJfRefushEvent" 
        class="com.landray.kmss.fssc.budget.event.KmReviewJfRefushEvent">
    </bean>
    
    <bean 
        id="kmReviewFinshEventBudget" 
        class="com.landray.kmss.fssc.budget.event.KmReviewFinshEventBudget">
    </bean>
    
    <bean 
        id="kmReviewAbandonEventBudget" 
        class="com.landray.kmss.fssc.budget.event.KmReviewAbandonEventBudget">
    </bean>
    
	<bean 
        id="moneyCangKu" 
        class="com.landray.kmss.fssc.budget.event.MoneyCangKu">
    </bean>
    
    <!-- 流程结束事件(回传sf数据)-审批通过 -->
    <bean 
        id="sFKmReviewFinshEvent" 
        class="com.landray.kmss.fssc.budget.event.SFKmReviewFinshEvent">
    </bean>
    <!-- 流程驳回事件(回传sf数据) -->
     <bean 
        id="sFKmReviewEnterNodeEvent" 
        class="com.landray.kmss.fssc.budget.event.SFKmReviewEnterNodeEvent">
    </bean>
    <!-- 流程废弃事件(回传sf数据) -->
     <bean 
        id="sFKmReviewAbandonEvent" 
        class="com.landray.kmss.fssc.budget.event.SFKmReviewAbandonEvent">
    </bean>
</beans>
