.newInput input{
	text-align:right;
	padding-right:2rem!important;
	color: #3E4665!important;
}
.newInput .mui-insert:before{
	content:"";
}
.newDate .muiSelInput{
	padding-right:4.5rem!important;
	text-align:right;
}
.newDate .mui-calendar{
	display:inline-block;
	width:3.3rem;
	height:3.3rem;
	position:relative;
	top: -.5rem;
	content:url('../images/date_picker.png');
}
.newDate .mui-calendar:before{
	content:"";
}
.newTextarea textarea{
	background-color:#F7F7F8;
	padding:1.1rem!important;
	border-radius:.552rem;
}
.newTextarea .mui-insert:before{
	content:"";
}
.newAddress .muiCateFiledShow{
	display:flex;
	justify-content: flex-end;
}
.newSelect .mui-insert,.newSelect .mui-forward{
	width:0;
	height:0;
	transform:rotate(0deg);
	padding:0;
	border:.5rem solid transparent;
	border-top-color:#A9AEC3;
}
.newSelect .mui-forward:before{
	content:"";
}
.newSelect .muiSelInput{
	text-align:right;
}
.newRadio .oldMui.muiFormEleWrap.muiFormGroup{
	justify-content: flex-end;
}
/*AccordionPanel样式重置*/
#formReset .muiAccordionPanelTitle{
	background: #F7F7F8;
}
#formReset .muiAccordionPanelTitle div{
	color: #999FB7;
	font-weight:normal;
}


/**/
#formReset .muiSimple td{
	border-bottom:none;
}

#formReset .muiSimple td:first-child{
	font-size: 1.54rem;
	color: #999FB7;
}
/*提交按钮样式重置*/
#content .mblTabBarTabBar{
	box-shadow:none;
	padding-top:1.1rem!important;
	display:flex;
}
.mblTabBarTabBar li{
	height:4.8rem;
	margin:0 1rem;
	border-radius:.552rem!important;
}
.mblTabBarTabBar li:first-child{
		color: #999FB7!important;
		background: #EAEBF0!important;
}
.mblTabBarTabBar li:last-child{
		color: #FFFFFF!important;
		background: #4285F4!important;
}
/* require style*/
.requiredStyle .muiFormRequired{
	/* display:none;  */
}
.requiredStyle .requredTitle{
	display:inline-block;
	background-color:#fff3f3;
	border:1px solid #ffaf98;
	color:#ff7c3b;
	font-size:1.1rem;
	line-height:1.32rem;
	min-width:2.2rem;
	border-radius:.1rem;
	margin-left:.552rem;
}
/**/
.tableList .muiDetailTableDel{
	border: 1px solid #FFAF98;
	border-radius: .9rem;
	color:#FFAF98;
	height:1.8rem;
	font-size:1.1rem;
	line-height:1.8rem;
	padding:0;
	width:4.0rem;
	text-align:center;
	margin-right:1.65rem;
	border-radius:.552rem;
}
.tableList .listTable{
	border: 1px solid #C9CAD1;
	border-collapse:separate;
	border-radius: .552rem;
	margin-bottom:1.65rem;
}
.tableList .listTable tr:first-child>td{
	border-bottom:1px solid #EAEBF0!important;
}
.tableList .listTable tr:not(first-child)>td:first-child{
	padding-left:1.65rem!important;
}
.tableList .mblListItemLayoutLeft{
	color: #999FB7;
	font-size:1.54rem;
	font-weight:normal;
}
.tableList .mblListItemLayoutLeft img{
	width:1.87rem;
	height:1.87rem;
	margin-left:.77rem;
}
.tableList .muiDetailTableAdd .mui-plus:before{
	content:"";
}
.tableList .muiDetailTableAdd .mui-plus{
	background:url("../images/addplus.png") no-repeat;
	width:2.2rem;
	height:2.2rem;
	display:inline-block;
	background-size:cover;
	position:relative;
	top:-.2rem;
}
/**
/* 重置弹出窗样式*/
.muiDialogElement .muiDialogElementContainer{
	border-radius:1.1rem;
}
.muiDialogElementContainer .muiDialogElementDiv{
	display:none;
}
.muiDialogElementContainer .muiConfirmDialogElement{
	min-height:8.3rem;
	font-size: 1.76rem;
	color: #3E4665;
}

.muiDialogElement .muiDialogElementContent{
	padding:0;
	margin:0;
}
.muiDialogElementButtons .muiDialogElementButton:first-child{
	font-size: 1.76rem;
	color: #999FB7;
}
.muiDialogElementButtons .muiDialogElementButton:last-child{
	font-size: 1.76rem;
	color: #4285F4;
}