<?xml version="1.0" encoding="UTF-8"?>
<plugin 
    xsi:schemaLocation="http://www.example.org/plugin-config ../../plugin.xsd" 
    xmlns="http://www.example.org/plugin-config" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >

	<extension point="com.landray.kmss.sys.mobile.compress" model="*">
		<item name="js-pkg">
			<param name="name" value="mui-sys-iassister.js" />
			<param name="targetFile" value="/sys/iassister/mobile/js/mui-sys-iassister.js" />
			<param name="srcFold" value="/sys/iassister/mobile/js" />
		</item>
		<item name="css-file">
			<param name="name" value="mui-iassister-dialog.css" />
			<param name="targetFile" value="/sys/iassister/mobile/css/iasDialog.css" />
		</item>
	</extension>
</plugin>