<?xml version="1.0" encoding="UTF-8"?>
<beans
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<bean
		class="com.landray.kmss.sys.iassister.actions.SysIassisterItemAction"
		parent="KmssBaseAction"
		name="/sys/iassister/sys_iassister_item/sysIassisterItem.do"
		lazy-init="true">
		<property name="formType"
			value="com.landray.kmss.sys.iassister.forms.SysIassisterItemForm" />
		<property name="forwards">
			<map>
				<entry key="data"
					value="/sys/iassister/sys_iassister_item/data.jsp" />
				<entry key="edit"
					value="/sys/iassister/sys_iassister_item/edit.jsp" />
				<entry key="view"
					value="/sys/iassister/sys_iassister_item/view.jsp" />
			</map>
		</property>
	</bean>
	
	<bean 
        class="com.landray.kmss.sys.iassister.actions.SysIassisterCheckAction" 
        parent="KmssBaseAction" 
        name="/sys/iassister/sys_iassister_check/sysIassisterCheck.do" 
        lazy-init="true">
    </bean>
	
	<bean 
        class="com.landray.kmss.sys.iassister.actions.SysIassisterTemplateAction" 
        parent="KmssBaseAction" 
        name="/sys/iassister/sys_iassister_template/sysIassisterTemplate.do" 
        lazy-init="true">
    </bean>
</beans>
