/*表格内部框线红色，字段无线*/
.tb_normal_rednonein {width:100%; text-align: left; padding: 8px !important; margin: 0px auto; border:2px solid #fff !important; border-collapse: collapse; background-color: rgb(255, 255, 255); }
.tb_normal_rednonein tr td {  padding: 8px; border: 1px solid #f00 !important;word-break: break-all; }
.tb_normal_rednonein   tr  .td_normal_title {}