.mui_review_edit .mui_content_title{
	background: #F2F2F6;
    line-height: 38px;
    padding: 0rem 1.2rem;
    font-family: PingFangSC-Regular;
    font-size: 13px;
    color: rgba(17,31,44,0.56);
    letter-spacing: 0;
}