
.muiHeader{box-shadow:none; }/*** ***/

.muiMixContentTitle .mui-score{ font-size:1.8rem; line-height:1.8rem; color:#fea906; margin-right:0.5rem; }
.muiMixContentTitle .muiAskScore{ font-family:Roboto,Tahoma,Arial,"Droid Sans","Helvetica Neue","Droid Sans Fallback","Heiti SC",sans-self; font-size:1.6rem; position:relative; top:-0.2rem;}
.muiMixContentItem .muiMixContentTitle{ min-height:1.8rem;}
.muiMixContentItem{ padding-right:0px;}
.muiListItem{ }
.muiMixContentMiddle{ display:block;}

.muiMixContentItem .muiMixContentTop{ position:relative; overflow:auto;  }
.muiMixContentItem .muiMixContentTop>div{ vertical-align:top;}
.muiMixContentItem .muiMixContentTop>div.muiAskStatus{
	width:5.5rem;
	color:rgba(255,0,0,0.5);
	text-align: right;
	position:relative;
}
.muiMixContentItem .muiMixContentTop .muiAskStatus{ padding-bottom:1rem;}
.muiMixContentTop .muiAskStatus .mui{
     transform:rotate(60deg);
     -webkit-transform:rotate(60deg);
     font-size:6rem;
     font-weight:normal;
     line-height: inherit;
     position: absolute;
     right: 0;
     top: -8px;
 }
.muiAskTag{ color:#989898; font-size:1.4rem; line-height:1.8rem; padding-top:0.5rem;}
.muiAskTag .mui{ font-size:1.8rem; line-height:1.8rem; margin-right:0.3rem; position:relative; top:-1px; z-index:9;}
.muiAskTag em{ font-style:normal; margin:0 0.4rem;  color:#999;}

/*.muiHeader{ margin-bottom:-1px;}*/
.muiCommonHeader {
  	background:#0a6bb2 url(../images/bg.png) no-repeat 50% 100%;
	background-size: cover;
}


.muiAskHeaderNav {
	-webkit-transition: all 100ms linear;
	height: 0;
	overflow: hidden;
}


.muiAskHeaderNav .muiHeaderItem {
	display: table-cell;
}

.muiAskHomeButton {
	color: #fff;
	min-width: 4rem;
	height: 100%;
	cursor: pointer;
	background-color: #4285f4;
}

.muiKmReviewItem{
	position: relative;
	margin-top: 1.2rem;
	border-radius: 1rem;
}
.muiKmReviewItem:last-child{
    margin-bottom: 1.2rem;
}
.muiKmReviewItem .muiKmReviewListItem{
	background-color: #FFFFFF;
	box-shadow: 0 0 3rem 0 rgba(153,179,210,0.20);
	border-radius: 1rem;
	padding: 1rem;
}

.muiKmReviewItem .muiKmReviewListItem .muiKmReviewListTitle{
    font-weight: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    word-wrap: break-word;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    -webkit-box-pack: start!important;
    box-pack: start!important;
    -webkit-box-align: start;
    box-align: start;	
}
.muiKmReviewItem .muiKmReviewListItem .muiKmReviewListProcessContainer{
	margin-left: 1.2rem;
    margin-top: 1.6rem;
    margin-bottom: 1.2rem;
    margin-right: 6.6rem;
}

.muiKmReviewItem .muiKmReviewListItem .muiKmReviewListProcessContainer>div{
    padding-left: 2.4rem;
    padding-top: .6rem;
    position: relative;
    border-left: .1rem solid #4285F4;
}

.muiKmReviewItem .muiKmReviewListItem .muiKmReviewListProcessContainer>div:not(:first-child):before{
    content: "";
    display: inline-block;
    width: .7rem;
    height: .7rem;
    border-radius: 50%;
    position: absolute;
    top: 1.9rem;
    left: -.4rem;
    background-color: #4285F4;
}
.muiKmReviewItem .muiKmReviewListItem .muiKmReviewListProcessContainer>div:first-child{
	height: 1.2rem;
}
.muiKmReviewItem .muiKmReviewListItem .muiKmReviewListProcessContainer>div:not(:first-child){
	height: 2rem;
}
.muiKmReviewItem .muiKmReviewListItem .muiKmReviewListProcessContainer .muiKmReviewListApplyPerson .muiKmReviewListPersonHeadIcon{
    position: absolute;
    z-index: 1;
    top: 0;
    left: -1.4rem;
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 50%;
    border: .1rem solid #4285F4;
    background-color: #f8f8f8;
    overflow: hidden;
}

.muiKmReviewItem .muiKmReviewListItem .muiKmReviewListProcessContainer .muiKmReviewListApplyPerson .muiKmReviewListPersonHeadIcon>img{
    width: 100%;
    height: 100%;	
}

.muiKmReviewItem .muiKmReviewListItem .muiKmReviewListProcessContainer>div:first-child>div.muiKmReviewListInfoRow{
    position: relative;
    top: -.2rem;
}
.muiKmReviewItem .muiKmReviewListItem .muiKmReviewListProcessContainer>div:not(:first-child)>div.muiKmReviewListInfoRow{
    position: relative;
    bottom: -.6rem;
}
.muiKmReviewItem .muiKmReviewListItem .muiKmReviewListProcessContainer>div>div.muiKmReviewListInfoRow{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;	
}
.muiKmReviewItem .muiKmReviewListItem .muiKmReviewListProcessContainer>div>div.muiKmReviewListInfoRow>span:last-child{
	margin-left: .4rem;
}
.muiKmReviewItem .muiKmReviewListItem .muiKmReviewListStatusTag{
    position: absolute;
    bottom: 6.6rem;
    right: 1.6rem;
}

.muiKmReviewItem .muiKmReviewListItem .muiProcessStatusBorder{
    display: inline-block;
    border-radius: .4rem;
    padding: .4rem .8rem;
}

.muiTemplateListHead {
    border-radius: 1rem;
    /* padding-left: 1rem; */
    padding-left: 1.5rem;
    /* height: 4rem;
    line-height: 4rem; */
    display: inline-block;
    width: 100%;
    /* font-size: 2rem; */
    font-size: 1.5rem;

    /* 422 */
    margin: 2rem 0 1rem;
}

.muiTemplateListHead .muiTemplateListTitle {
    font-weight: 550;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    word-wrap: break-word;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    -webkit-box-pack: start !important;
    box-pack: start !important;
    -webkit-box-align: start;
    box-align: start;
    /* height: 4rem;
    line-height: 4rem; */
    display: inline-block;
    color: #2A304A;
}

/* ------------ 03-流程模板-创建前 Starts ------------ */
.mui-goCreate {
    background: #DAE8FF;
    height: 90px;
    padding: 13px 15px 14px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.mui-goCreate img {
    height: 65px;
    width: 60px;
    vertical-align: top
}

.mui-goCreate div {
    display: inline-block;
}

.mui-goCreate .center {
    margin-left: 10px;
}

.mui-goCreate .center p {
    font-weight: 550;
    /* padding: 8px 0; */
    padding: 6px 0;
    color: #2A304A;
}

.mui-goCreate .center span {
    color: #9DA0AF;
}

.mui-goCreate .right {
    width: 55px;
    height: 25px;
    /* line-height: 27px; */
    line-height: 25px;
    text-align: center;
    background-color: #4285F4;
    border: 1px solid #4285F4;
    border-radius: 13px;
    color: #fff;
    position: absolute;
    right: 15px;
    top: 30px;
    font-size: var(--muiFontSizeS);
}

/* .mui-template-created {
    padding: 20px 0px 0px 15px
} */

.mui-template-created .created-title {
    font-size: 16px;
    font-weight: 550;
    color: #2A304A;
}

.muiKmReviewTemplateItem {
    position: relative;
    border-radius: 1rem
}

.muiKmReviewTemplateItem .card {
    /* padding: 22px 85px 22px 0; */
    /* border-bottom: 1px solid #E7E7E7; */
    border-bottom: 0.5px solid #E7E7E7;
    position: relative;
    height: 8.5rem;
}

/* 422 */
.muiKmReviewTemplateItem .card div {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 100%;
}

.muiKmReviewTemplateItem .card p {
    color: #2A304A;
    padding-bottom: 5px;
    /* 422 */
    padding-right: 70px;
}

.muiKmReviewTemplateItem .card span {
    display: block;
    color: #9DA0AF;
    font-size: var(--muiFontSizeSS);
}

.muiKmReviewTemplateItem .card p,
.muiKmReviewTemplateItem .card span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.muiKmReviewTemplateItem .card .btn {
    /* position: absolute; */
    right: 0;
    /* top: 30px; */
    width: 55px;
    height: 25px;
    /* line-height: 27px; */
    line-height: 25px;
    text-align: center;
    background: #FFFFFF;
    border: 1px solid #4285F4;
    border-radius: 25px;
    color: #4285F4;
}

/* ------------ 03-流程模板-创建前 Ends ------------ */

.muiList {
    padding: 0 1.5rem;
}