.muiSubProcessList, .muiParentProcessList {
  margin: 0;
    padding: 0;
}
.muiSubProcessListItem, .muiParentProcessListItem {
  position: relative;
    display: block;
    list-style: none;
    border-bottom: 1px solid #e2e2e2;
}

.muiSubProcessList>.muiSubProcessListItem:last-child,
.muiParentProcessList>.muiParentProcessListItem:last-child
{
  border-bottom: 0;
}
.muiSubProcessLink, .muiParentProcessLink {
  display: block;
    height: 25px;
    line-height: 25px;
    padding: 12px 1rem;
    font-size: 1.4rem;
}
.muiSubProcessCreatorImg, .muiParentProcessCreatorImg {
  float: left;
    vertical-align: top!important;
    margin-right: 10px;
    border: 0;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #f8f8f8;
}
.muiSubProcessLabel, .muiParentProcessLabel {
  display: block;
    padding-right: 1rem;
    max-width: none;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #000;
}
.oldMui .muiFlowInfoW  .muiSimple{
  margin-left:1rem;
}
.muiFormEleAuditShowWrap{
  padding-right:1rem;
}

.muiProcessStatus .muiProcessText{
	font-weight: bold;
    text-align: center;
    font-size: 1.3rem;
    left: -7px;
    right: 0;
    position: absolute;
    top: 50%;
    bottom: 50%;
    transform: rotate(-27deg);
    transform: rotate(-27deg);
    -ms-transform: rotate(-27deg);
    -o-tranform: rotate(-27deg);
    -webkit-transform: rotate(-27deg);
    -moz-transform: rotate(-27deg);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=10) progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=0.866025404, M12=0.5, M21=-0.5, M22=0.866025404);
}

.mui_kmReview_right{
	padding-top: 1rem;
	color: #2A304A;
	font-size: 1.4rem;
}
.mui_kmReview_split{
	height: 1rem;
}
.mui_kmReview_authReader,.mui_kmReview_authEditor{
	background-color: #fff;
	padding: 2rem;
}
.mui_kmReview_authReader_address,.mui_kmReview_authEditor_address{
	display: none;
    padding-top: 1rem;
}

.kmReviewTmplRight .muiFormRequiredShow~.muiFormItem{
	text-align: right;
}

.muiTemplateCate .muiAddressOrg{
	margin-top : 0.5rem;
}

.muiTemplateForm {
	padding:0rem 1.2rem;
}

.muiOnlyShowCategorySelect {
	right: 0rem!important;
}