<?xml version="1.0" encoding="UTF-8"?>
<plugin
	xmlns="http://www.example.org/plugin-config"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.example.org/plugin-config ../../../plugin.xsd ">
	
	<!-- 传阅意见展示控件，展示模板扩展点 -->
	<extension-point id="com.landray.kmss.sys.xform.jsp.circulation.viewstyle">
		<item name="config">
			
			<param name="viewName" required="true" kind="string">
				<description>展示名称</description>
			</param>
			<param name="viewValue" required="true" kind="spring" basedOn="com.landray.kmss.sys.circulation.service.ISysCirculationOpinionStyleService">
				<description><![CDATA[
				展示样式Bean
				预定义处理字符串， 传阅意见：${msg},处理时间：${time},部门：${dept},岗位：${post},处理人${person} 展示宽度:${width}
				]]>
				</description>
			</param>
			<param name="order" required="true" kind="string">
				<description>扩展实现排序</description>
			</param>
			<param name="previewPictureURL" kind="string">
				<description><![CDATA[预览图片路径。图片规格建议（170*80）]]></description>
			</param>
			<description>展示模板配置</description>
		</item>
		<description>
			传阅意见展示扩展点
		</description>
	</extension-point>
	
	<extension point="com.landray.kmss.sys.xform.jsp.circulation.viewstyle" model="*">
		<item name="config">
			<param name="viewName" value="sys-xform-base:Designer_Lang.circulationOpinionDeptHandlerDate" />
			<param name="viewValue" value="sysCirculationOpinionStyleDept" />	
			<param name="order" value="0"/>
			<param name="previewPictureURL" value="style/img/auditshow/auditShow.png"/>
		</item>
		<item name="config">
			<param name="viewName" value="sys-xform-base:Designer_Lang.circulationOpinionHandlerDate" />
			<param name="viewValue" value="sysCirculationOpinionStyleDefault" />	
			<param name="order" value="0.1"/>
			<param name="previewPictureURL" value="style/img/auditshow/auditShow2.png"/>
		</item>
		<item name="config">
			<param name="viewName" value="sys-xform-base:Designer_Lang.circulationOpinionTable" />
			<param name="viewValue" value="sysCirculationOpinionStyleTable" />	
			<param name="order" value="0.2"/>
			<param name="previewPictureURL" value="style/img/auditshow/auditShow.png"/>
		</item>
	</extension>
	
</plugin>