@charset "utf-8";
/**
**代码制作人：xiex
**制作时间：2013-5-3
**文件内容描述：门户共用部分
**修改日期：无
**修改内容：无
*************************************/

.clrfix{zoom:1;}/* 清除浮动 */
.clrfix:after{display:block; content:'clear'; clear:both; line-height:0; visibility:hidden; }/* 清除浮动 */
.clr{ clear:both; line-height:0px;}
.main_body{ width:980px; margin:0 auto;}

/****************************      九宫格（嵌套版）        *******************************/
/* 头部 */
.lui_common_head_inner{ width:100%; color:#fff; position:relative;}
.lui_common_headBanner{ background:#82d0f4; height:40px;}
.lui_common_headBanner_inner .logo{ float:left; display:table; vertical-align: middle; padding:10px 0px; width:175px; /* height:31px; *width:249px;*/}
.lui_common_headBanner_inner .logo img{ width:153px; height:20px;}

/* 门户 */
.lui_common_headBanner_inner .portal_sel{ float:left; margin-right:17px; height:40px; line-height:40px; width:55px; cursor:pointer;}
.lui_common_headBanner_inner .portal_sel .mesMain_portal_sel{ color:#fff; margin-left:10px; background:url(images/headerR_icon_3.png) no-repeat right center; padding:0 12px 0 6px; display:block;}
.lui_common_headBanner_inner .portal_sel .retract{ color:#fff; margin-left:10px; background:#47b5e6 url(images/headerR_icon_3_on.png) no-repeat right center; padding:0 12px 0 6px; display:block;}


/* 搜索框 */
.lui_common_headBanner_inner .search{ float:left; margin-top:6px; margin-right:10px; height:26px; width:284px; position:relative;}
.lui_common_headBanner_inner .txtQuitSearch{ width:183px; height:26px; padding-left:12px; line-height:26px; color:#b6b6b6; vertical-align:middle; background:#fff; border:0px; color:#676767; position:absolute; left:0px; top:0px; }
.lui_common_headBanner_inner .btnQuitSearch{ width:26px; height:26px; background:url(images/btn_search_nor.gif) no-repeat; border:0px;cursor:pointer; position:absolute; top:0px; right:0px;}
.lui_common_headBanner_inner .btnQuitSearch:hover{ background:url(images/btn_search_hover.gif) no-repeat; border:0px;}
.lui_common_headBanner_inner .a_search{ float:left; text-decoration:underline; color:#fff; height:40px; line-height:40px; display:block; width:50px;}

/* 下拉框 */
.lui_common_headBanner_inner .dropdown{ width:62px; background:#fff; color:#454545; cursor:default; display:block;height:26px;line-height:26px;overflow:hidden;position:absolute; left:195px; top:0px;}
.lui_common_headBanner_inner .dropdown .dropdown-input{border-left:1px solid #85d1f5; display:block; padding:0 3px; width:37px;  height:26px; line-height:26px; float:left;}
.lui_common_headBanner_inner .dropdown .dropdown-icon{background:url(images/select_dropdown.gif) no-repeat center center transparent;border-left:1px solid #FFF;display:block;width:17px; float:left;}
.dropdown-options{ background-color:#FFF; border-right:1px solid #D9D9D9; display:block; margin-top:-1px; overflow-x:hidden; overflow-y:auto;border-color:#3FA7CB #D9D9D9 #D9D9D9;border-style:solid;border-width:1px; z-index:1002;}
.dropdown-options li a{color:#454545; cursor:default; display:block; height:26px;line-height:26px;white-space:nowrap;width:120%;padding:0 10px;}
.dropdown-options li a:hover{color:#3CBCE7;cursor:pointer;background-color:#eee;text-decoration:none;}

.lui_common_headBanner_inner .user_info{ float:right; width:383px; height:40px; line-height:40px;}
.lui_common_headBanner_inner .user_info a{ color:#fff;}
.lui_common_headBanner_inner .info{ margin-right:6px; display:inline;}
.lui_common_headBanner_inner .info li{margin-right:5px; float:left; height:36px; line-height:36px; +height:28px; +padding-top:10px; +line-height:20px; position:relative;}
.lui_common_headBanner_inner .user{ font-weight:bold; padding-left:3px;}
.lui_common_headBanner_inner .a_trig{ display:inline-block; margin-left:3px; margin-right:2px; border-left:transparent solid 4px; border-right:transparent solid 4px; border-top:#ffffff solid 4px; +height:6px; }/* 倒三角 */

.lui_common_headBanner_inner .menu:hover{/* border-top:5px solid #47b5e6;*/ border-left:1px solid #339dce; border-right:1px solid #339dce; background:#fff; }
.lui_common_headBanner_inner .menu:hover .a_trig{ border-top:#47b5e6 solid 4px; }
.lui_common_headBanner_inner .menu:hover a{ color:#47b5e6;}
.lui_common_headBanner_inner .user { width:90px; height:29px; z-index:1221;}
.lui_common_headBanner_inner .user .menu_bd{ width:149px; height:153px; padding:14px 0px 4px 0px; margin-top:3px; margin-left:-1px;}
.lui_common_headBanner_inner .user .menu-bd-panel dl{ width:140px; margin:0px auto; height:54px; padding-bottom:8px; border-bottom:1px solid #e1dfdf;}
.lui_common_headBanner_inner .user .menu-bd-panel dl dt{ float:left; width:70px; height:26px; line-height:26px; text-align:center;}
.lui_common_headBanner_inner .user .menu-bd-panel ul li{ height:30px;}

.lui_common_headBanner_inner .area .menu-bd-panel{ width:80px; }
.lui_common_headBanner_inner .pos .menu-bd-panel{ width:80px; }

.lui_common_headBanner_inner .menu_bd{ background:#fff; position:absolute; left:0px; top:32px; z-index:100; color:#000; display:none;  margin-top:3px; margin-left:-1px;}
.lui_common_headBanner_inner .menu_bd a{ color:#000;}
.lui_common_headBanner_inner .menu-bd-panel .menu_bd_panelL{ float:left; width:80px; padding:10px;}
.lui_common_headBanner_inner .menu-bd-panel .menu_bd_panelR{ float:right; width:100px;}
.lui_common_headBanner_inner .menu-bd-panel .menu_bd_panelR dl dd{ float:left;}
.lui_common_headBanner_inner .menu-bd-panel .menu_bd_panelR dl dt{float:left;}
.lui_common_headBanner_inner .menu-bd-panel .menu_bd_panelR dl dt a{ color:#000;}
.lui_common_headBanner_inner .menu:hover .menu_bd{ display:block;}

.lui_common_headBanner_inner .backlog{ background:url(images/backlog_ico.png) no-repeat left center; padding-left:18px;}
.lui_common_headBanner_inner .to-do{ left:-316px; top:33px; width:350px;}
.lui_common_headBanner_inner .toread{ background:url(images/toread_ico.png) no-repeat left center; padding-left:18px;}

/* 导航 */
.lui_common_headNav{width:100%;background:#47b5e6;border-bottom:1px solid #3ba4d3; position:relative;}
.lui_common_headNav_inner{padding-top:13px;height:77px;background:url(images/header_nav_bg.gif) no-repeat;}
.lui_common_headNav_inner ul li{float:left;width:77px;height:78px;margin-left:30px;cursor:pointer;text-align:center;}
.lui_common_headNav_inner ul li:hover a{color:#47b5e6;}
.lui_common_headNav_inner ul li:hover{border:1px solid #3aa5d3;border-bottom:0;width:75px;height:77px;}
.lui_common_headNav_inner ul li a{display:block;width:75px;height:20px;line-height:20px;padding-top:57px;color:#fff;}
.lui_common_headNav_inner .item_personPortal{background:url(images/nav_personPort_nor.png) no-repeat;}
.lui_common_headNav_inner .item_servePortal{background:url(images/nav_servePort_nor.png) no-repeat;}
.lui_common_headNav_inner .item_infoPortal{background:url(images/nav_infoPort_nor.png) no-repeat;}
.lui_common_headNav_inner .item_appNav{background:url(images/nav_appNav_nor.png) no-repeat;}
.lui_common_headNav_inner .item_knowPort{background:url(images/nav_knowPort_nor.png) no-repeat;}
.lui_common_headNav_inner .item_SNSPort{background:url(images/nav_SNSPort_nor.png) no-repeat;}
.lui_common_headNav_inner .item_seniorPort{background:url(images/nav_seniorPort_nor.png) no-repeat;}
.lui_common_headNav_inner .item_operatePort{background:url(images/nav_operatePort_nor.png) no-repeat;}
.lui_common_headNav_inner .item_more{background:url(images/nav_more_nor.png) no-repeat;}
.lui_common_headNav_inner .item_personPortal:hover,.lui_common_headNav_inner .item_personPortal_cur{background:url(images/nav_personPort_cur.gif) no-repeat;}
.lui_common_headNav_inner .item_servePortal:hover,.lui_common_headNav_inner .item_servePortal_cur{background:url(images/nav_servePort_cur.gif) no-repeat;}
.lui_common_headNav_inner .item_infoPortal:hover,.lui_common_headNav_inner .item_infoPortal_cur{background:url(images/nav_infoPort_cur.gif) no-repeat;}
.lui_common_headNav_inner .item_appNav:hover,.lui_common_headNav_inner .item_appNav_cur{background:url(images/nav_appNav_cur.gif) no-repeat;}
.lui_common_headNav_inner .item_knowPort:hover,.lui_common_headNav_inner .item_knowPort_cur{background:url(images/nav_knowPort_cur.gif) no-repeat;}
.lui_common_headNav_inner .item_SNSPort:hover,.lui_common_headNav_inner .item_SNSPort_cur{background:url(images/nav_SNSPort_cur.gif) no-repeat;}
.lui_common_headNav_inner .item_seniorPort:hover,.lui_common_headNav_inner .item_seniorPort_cur{background:url(images/nav_seniorPort_cur.gif) no-repeat;}
.lui_common_headNav_inner .item_operatePort:hover,.lui_common_headNav_inner .item_operatePort_cur{background:url(images/nav_operatePort_cur.gif) no-repeat;}
.lui_common_headNav_inner .item_more:hover,.lui_common_headNav_inner .item_more_cur{background:url(images/nav_more_cur.gif) no-repeat;}
.item_personPortal_cur a,.item_servePortal_cur a,.item_infoPortal_cur a,.item_appNav_cur a,.item_knowPort_cur a,.item_SNSPort_cur a,.item_seniorPort_cur a,.item_more_cur a{color:#47b5e6!important;}
.item_personPortal_cur,.item_servePortal_cur,.item_infoPortal_cur,.item_appNav_cur,.item_knowPort_cur,.item_SNSPort_cur,.item_seniorPort_cur,.item_more_cur{border:1px solid #3aa5d3;border-bottom:0;width:75px!important;height:77px!important;}
.lui_common_headBanner_innerL,.lui_common_headNav_innerL{width:982px;margin:0 auto;}

.lui_common_more_div{width:100%;background:#47b5e6;position:absolute;left:0;top:90px;}
.lui_common_more_divInnerM{width:982px;padding-top:10px;padding-bottom:4px;margin:0 auto;}
.lui_common_more_divInnerM ul{height:80px;margin-bottom:12px;margin-left:30px;}
.lui_common_more_divInnerM ul li{float:left;height:80px;line-height:28px;width:80px;margin-right:14px;text-align:center;cursor:pointer;}
.lui_common_more_divInnerM ul li .last{margin-right:0;}
.lui_common_more_divInnerM ul li a{color:#fff;}
.lui_common_more_divInnerM ul li:hover{float:left;background:#8bc5ed;}
.lui_common_more_divInnerM ul li .navMore_img_1{width:80px;height:52px;background:url(images/navMore_1.png) no-repeat 50% 58%;}
.lui_common_more_divInnerM ul li .navMore_img_2{width:80px;height:52px;background:url(images/navMore_2.png) no-repeat 50% 58%;}
.lui_common_more_divInnerM ul li .navMore_img_3{width:80px;height:52px;background:url(images/navMore_3.png) no-repeat 50% 58%;}
.lui_common_more_divInnerM ul li .navMore_img_4{width:80px;height:52px;background:url(images/navMore_4.png) no-repeat 50% 58%;}
.lui_common_more_divInnerM ul li .navMore_img_5{width:80px;height:52px;background:url(images/navMore_5.png) no-repeat 50% 58%;}
.lui_common_more_divInnerM ul li .navMore_img_6{width:80px;height:52px;background:url(images/navMore_6.png) no-repeat 50% 58%;}
.lui_common_more_divInnerM ul li .navMore_img_7{width:80px;height:52px;background:url(images/navMore_7.png) no-repeat 50% 58%;}
.lui_common_more_divInnerM ul li .navMore_img_8{width:80px;height:52px;background:url(images/navMore_8.png) no-repeat 50% 58%;}
.lui_common_more_divInnerM ul li .navMore_img_9{width:80px;height:52px;background:url(images/navMore_9.png) no-repeat 50% 58%;}
.lui_common_more_divInnerM ul li .navMore_img_10{width:80px;height:52px;background:url(images/navMore_10.png) no-repeat 50% 58%;}

/* 底部 */
.lui_common_footerMiddle_M{ width:100%; height:72px; background:#c0c0c0; padding-top:20px;}
.lui_common_footer_content{ width:984px; text-align:center; margin:0 auto; color:#fff; font-size:14px; font-family:"微软雅黑";}
.lui_common_footer_content p{ height:22px; line-height:22px;}
.lui_common_footer_content p span{ padding:0px 7px;}
.lui_common_footer_content a{ color:#fff; padding:0px 7px;}
.lui_common_footer_copyright{ text-decoration:underline;}

/*弹出层*/
.lui_popupDiv{ width:452px; position:fixed; display:none; z-index:1001;}
.lui_popupDiv_headC{ border:2px solid #5cbaee; border-bottom:none; height:32px; line-height:32px; background-color:#47b5e6; color:#fff; font-size:14px;}
.lui_popupDiv_headC_left{ font-size:14px; float:left; padding-left:12px;}
.lui_popupDiv_headC_right{ float:right; background:url(images/closeDiv.png); cursor:pointer; width:18px; height:18px; margin:5px 16px 0px 0px}
.lui_popupDiv_centerC{ border-left:2px solid #5cbaee; border-right:2px solid #5cbaee; background-color:White}
.lui_popupDiv_bottomC{ border-bottom:2px solid #5cbaee}

.lui_popupDiv_content{ width:436px; height:163px; background-color:#fff; padding:6px;}
.lui_popupDiv_content_left{ background-color:#47b5e6; float:left; width:100px; height:100%}
.succeed{ background:#47b5e6 url(images/succeed.png) no-repeat center;}
.failed{ background:#47b5e6 url(images/failed.png) no-repeat center;}
.oops{ background:#47b5e6 url(images/oops.png) no-repeat center;}
.unsure{background:#47b5e6 url(images/unsure.png) no-repeat center;}
.dollar{ background:#47b5e6 url(images/dollar.png) no-repeat 50% 50%;}
.lui_popupDiv_content_right{ padding-left:10px; padding-top:18px; float:left}
.lui_popupDiv_content_right .p1{color: #5b5b5b; font-size: 14px}
.lui_popupDiv_content_right .p2{color: #3e9ece; font-size: 18px;}
.lui_popupDiv_content_right .p3{ color: #878787; font-size: 12px;}
.lui_popupDiv_content_right .suspend_btn{ width:81px;}
.lui_popupDiv_content_right option{ width:30px; height:20px; line-height:20px;}


.lui_popupDiv_content_right .button_list_1{ margin-top:70px;}
.lui_popupDiv_content_right .button_list_1 li{ float:left;}

/* 删除提示对话框 */
.delete_prompt_dialog .lui_popupDiv_content_right{ text-align:center;}

/******** 头部导航 部分 ********/

/*头部导航*/
div#bmenu ul ul{ position:relative}
div#bmenu ul ul div{left:180px; top:24px; position:absolute}
.lui_common_headerNavWrapper{ width:100%; height:90px; background:#47b5e6 url(images/header_navBg_shadow.png) no-repeat 50% 0; border-bottom:1px solid #3ba4d3;}
.lui_common_headerNavBox{ width:980px; margin:0 auto; padding-top:11px;}
.headerNav_li{ margin-left:26px; float:left; position:relative}
.headerNav_li div{ position:absolute}
.headerNav_li .headerNav_link_1,
.headerNav_li .headerNav_link_2{ width:78px; height:78px; margin:2px 2px 0 2px; text-align:center; color:#fff; display:block;}
.headerNav_li .headerNav_link_1:hover,
.headerNav_li .headerNav_link_2:hover{ color:#47b5e6; background:url(images/header_navBg_hover.gif) no-repeat 50% 50%;}
.headerNav_li .headerNav_link_2:hover{ margin:1px 1px 0 1px; border:1px solid #3ba4d3; border-bottom:none;}
.headerNav_li .headerNav_link_1{ position:relative;}
.headerNav_li .headerNav_link_1:hover{ margin:0; border:2px solid #3ca0d6; border-bottom:none;}
.headerNav_li .headerNav_link_1 .headerNav_trig{ width:0; height:0; line-height:0; border-width:3px 4px 4px 4px; border-style:solid dashed dashed dashed; border-color:#fff transparent transparent transparent; position:absolute; left:50%; bottom:0; margin-left:-4px;}
.headerNav_li .headerNav_link_1:hover .headerNav_trig{ border-top-color:#47b5e6;}

.headerNav_img_1{ width:50px; height:50px; margin:0 auto 2px auto; overflow:hidden; background:url(images/header_nav_img_1.png) no-repeat 0 0;}
.headerNav_link_1:hover .headerNav_img_1,
.headerNav_link_2:hover .headerNav_img_1{ background-position:0 -60px;}
.headerNav_img_2{ width:50px; height:50px; margin:0 auto 2px auto; overflow:hidden; background:url(images/header_nav_img_2.png) no-repeat 0 0;}
.headerNav_link_1:hover .headerNav_img_2,
.headerNav_link_2:hover .headerNav_img_2{ background-position:0 -60px;}
.headerNav_img_3{ width:50px; height:50px; margin:0 auto 2px auto; overflow:hidden; background:url(images/header_nav_img_3.png) no-repeat 0 0;}
.headerNav_link_1:hover .headerNav_img_3,
.headerNav_link_2:hover .headerNav_img_3{ background-position:0 -60px;}
.headerNav_img_4{ width:50px; height:50px; margin:0 auto 2px auto; overflow:hidden; background:url(images/header_nav_img_4.png) no-repeat 0 0;}
.headerNav_link_1:hover .headerNav_img_4,
.headerNav_link_2:hover .headerNav_img_4{ background-position:0 -60px;}

/*头部导航 下接菜单*/
.lui_common_headerNav_dropBox{ width:184px; padding:8px 0; font-size:13px; background-color:#f7f7f7;}
.hNav_drop_firstLi{}
.hNav_drop_firstLi .hNav_drop_firstLink{ padding:6px 26px 6px 10px; color:#535353; display:block; position:relative;}
.hNav_drop_firstLi .hNav_drop_firstLink .hNav_drop_trig{ width:0; height:0; line-height:0; border-width:5px; border-style:dashed dashed dashed solid; border-color:transparent transparent transparent #c4c4c4; position:absolute; right:16px; top:50%; margin-top:-5px;}
.hNav_drop_firstLi .hNav_drop_firstLink:hover,
.hNav_drop_firstLi .hNav_drop_firstLink_on{ background-color:#6bc7ed; color:#fff;}
.hNav_drop_firstLi .hNav_drop_firstLink:hover .hNav_drop_trig{ border-left-color:#fff;}

/******** 头部顶端 ********/
.lui_admin_header_wrapper{ height:41px; line-height:41px; padding:0 30px 0 25px; border-bottom:1px solid #47b5e6; background-color:#82d0f4;}
.admin_logo{ width:169px; height:22px; margin-top:10px; background:url(images/admin_logo.png) no-repeat 0 0; float:left;}
.admin_infoBox{ font-size:12px; color:#fff; float:right;}
.admin_infoBox span{ margin:0 4px;}
.admin_infoBox a{ font-size:13px; color:#fff;}
.admin_infoBox a:hover{ text-decoration:underline;}


/******** 头部导航 ********/
.lui_admin_nav_wrapper{ height:37px; background:url(images/admin_nav_bg.gif) repeat-x 0 0;}
.lui_admin_navBox{ padding-left:28px;}
.lui_admin_navBox .admin_nav_item{ margin-right:10px; float:left;}
.lui_admin_navBox .admin_nav_item_on,
.lui_admin_navBox .admin_nav_item:hover{ background:url(images/admin_nav_link_bg.gif) repeat-x 0 0;}
.lui_admin_navBox .admin_nav_item a{ min-width:56px; height:36px; padding:0 12px 0 30px; font-size:14px; color:#585858; line-height:36px; display:block;}
.lui_admin_navBox .admin_nav_item_on a,
.lui_admin_navBox .admin_nav_item a:hover{ color:#fff; border-bottom:1px solid #99d3f0;}

.a_nav_item_link_1{ background:url(images/admin_icon_1.png) no-repeat 12px 12px;}
.lui_admin_navBox .admin_nav_item_on .a_nav_item_link_1,
.a_nav_item_link_1:hover{ background-position:12px -22px;}
.a_nav_item_link_2{ background:url(images/admin_icon_2.png) no-repeat 12px 12px;}
.lui_admin_navBox .admin_nav_item_on .a_nav_item_link_2,
.a_nav_item_link_2:hover{ background-position:12px -22px;}
.a_nav_item_link_3{ background:url(images/admin_icon_3.png) no-repeat 12px 12px;}
.lui_admin_navBox .admin_nav_item_on .a_nav_item_link_3,
.a_nav_item_link_3:hover{ background-position:12px -22px;}
.a_nav_item_link_4{ background:url(images/admin_icon_4.png) no-repeat 12px 12px;}
.lui_admin_navBox .admin_nav_item_on .a_nav_item_link_4,
.a_nav_item_link_4:hover{ background-position:12px -22px;}

/* 二级页面 头部 */
.lui_admin_header2_wrapper{ height:90px; background:#8bd5f7;}
.lui_admin_header2_wrapper .logo{ width:300px; padding-left:16px; margin-top:25px; float:left;}
.lui_admin_header2_wrapper .search{ width:353px; margin-top:28px; float:left; position:relative;}
.lui_admin_header2_wrapper .search .txt_input{ width:265px; height:30px; line-height:30px; padding-left:29px; border:0px; background:#fff url(images/txt_search_bg.png) no-repeat 5px center; position:absolute; left:0px; top:0px;}
.lui_admin_header2_wrapper .search .btn_search{ width:59px; height:30px; line-height:30px; color:#fff; font-size:16px; text-align:center; background:url(images/btn_search_1.png) no-repeat; cursor:pointer; border:0px; position:absolute; right:0px; top:0px;}
.lui_admin_header2_wrapper .a_search{ display:block; float:left; width:40px; height:30px; line-height:30px; margin-top:28px; padding-left:9px; color:#007bb3; font-size:14px; cursor:pointer;}
.lui_admin_header2_wrapper .user_info{ margin-top:10px; padding-right:10px; float:right;}
.lui_admin_header2_wrapper .user_info ul li{ height:12px; line-height:12px; color:#fff; float:left; margin-right:5px;}
.lui_admin_header2_wrapper .user_info ul li a{ color:#fff;}
.lui_admin_header2_wrapper .user_info ul li.split{ padding-right:8px; border-right:1px solid #fff;}
.lui_admin_header2_wrapper .user_info ul li.return_home{ background:url(images/admin_home_icon.png) no-repeat left center; cursor:pointer; padding-left:16px;}
.lui_admin_header2_wrapper .user_info ul li .username{ font-weight:bold;}










