<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean
		name="/tic/core/provider/tic_core_iface_ui/ticCoreIfaceIndex.do"
		class="com.landray.kmss.tic.core.provider.actions.TicCoreIfaceIndexAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property name="forwards">
			<map>
				<entry
					key="list"
					value="/tic/core/provider/tic_core_iface_ui/ticCoreIface_list.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/tic/core/provider/tic_core_iface_impl_ui/ticCoreIfaceImplIndex.do"
		class="com.landray.kmss.tic.core.provider.actions.TicCoreIfaceImplIndexAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property name="forwards">
			<map>
				<entry
					key="list"
					value="/tic/core/provider/tic_core_iface_impl_ui/ticCoreIfaceImpl_list.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/tic/core/provider/tic_core_iface/ticCoreIface.do"
		class="com.landray.kmss.tic.core.provider.actions.TicCoreIfaceAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.tic.core.provider.forms.TicCoreIfaceForm" />
		<property name="forwards">
			<map>
				<entry
					key="view"
					value="/tic/core/provider/tic_core_iface/ticCoreIface_view.jsp" />
				<entry
					key="edit"
					value="/tic/core/provider/tic_core_iface/ticCoreIface_edit.jsp" />
				<entry
					key="list"
					value="/tic/core/provider/tic_core_iface/ticCoreIface_list.jsp" />
				<entry
					key="dataExecute"
					value="/tic/core/provider/tic_core_iface/ticCoreIfaceDataExecute_edit.jsp" />
				<entry
					key="status"
					value="/tic/core/provider/tic_core_iface/ticCoreIface_status.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/tic/core/provider/tic_core_node/ticCoreNode.do"
		class="com.landray.kmss.tic.core.provider.actions.TicCoreNodeAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.tic.core.provider.forms.TicCoreNodeForm" />
		<property name="forwards">
			<map>
				<entry
					key="view"
					value="/tic/core/provider/tic_core_node/ticCoreNode_view.jsp" />
				<entry
					key="edit"
					value="/tic/core/provider/tic_core_node/ticCoreNode_edit.jsp" />
				<entry
					key="list"
					value="/tic/core/provider/tic_core_node/ticCoreNode_list.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/tic/core/provider/tic_core_tag/ticCoreTag.do"
		class="com.landray.kmss.tic.core.provider.actions.TicCoreTagAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.tic.core.provider.forms.TicCoreTagForm" />
		<property name="forwards">
			<map>
				<entry
					key="view"
					value="/tic/core/provider/tic_core_tag/ticCoreTag_view.jsp" />
				<entry
					key="edit"
					value="/tic/core/provider/tic_core_tag/ticCoreTag_edit.jsp" />
				<entry
					key="list"
					value="/tic/core/provider/tic_core_tag/ticCoreTag_list.jsp" />
				<entry
					key="actionList"
					value="/tic/core/provider/tic_core_tag/ticCoreTag.do?method=list" />
			</map>
		</property>
	</bean>
	<bean
		name="/tic/core/provider/tic_core_iface_impl/ticCoreIfaceImpl.do"
		class="com.landray.kmss.tic.core.provider.actions.TicCoreIfaceImplAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.tic.core.provider.forms.TicCoreIfaceImplForm" />
		<property name="forwards">
			<map>
				<entry
					key="view"
					value="/tic/core/provider/tic_core_iface_impl/ticCoreIfaceImpl_view.jsp" />
				<entry
					key="edit"
					value="/tic/core/provider/tic_core_iface_impl/ticCoreIfaceImpl_edit.jsp" />
				<entry
					key="list"
					value="/tic/core/provider/tic_core_iface_impl/ticCoreIfaceImpl_list.jsp" />
			</map>
		</property>
	</bean>
</beans>