<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean
		name="/sys/unit/km_imissive_brunchleader/kmImissiveUnitBrunchLeader.do"
		class="com.landray.kmss.sys.unit.actions.KmImissiveUnitBrunchLeaderAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.unit.forms.KmImissiveUnitBrunchLeaderForm" />
		<property name="forwards">
			<map>
				<entry
					key="view"
					value="/sys/unit/km_imissive_brunchleader/kmImissiveUnitBrunchLeader_view.jsp" />
				<entry
					key="edit"
					value="/sys/unit/km_imissive_brunchleader/kmImissiveUnitBrunchLeader_edit.jsp" />
				<entry
					key="list"
					value="/sys/unit/km_imissive_brunchleader/kmImissiveUnitBrunchLeader_list.jsp" />
			</map>
		</property>
	</bean>
	
	<bean
		name="/sys/unit/sys_unit_secretary/sysUnitSecretary.do"
		class="com.landray.kmss.sys.unit.actions.SysUnitSecretaryAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.unit.forms.SysUnitSecretaryForm" />
		<property name="forwards">
			<map>
				<entry
					key="view"
					value="/sys/unit/sys_unit_secretary/sysUnitSecretary_view.jsp" />
				<entry
					key="edit"
					value="/sys/unit/sys_unit_secretary/sysUnitSecretary_edit.jsp" />
				<entry
					key="list"
					value="/sys/unit/sys_unit_secretary/sysUnitSecretary_list.jsp" />
			</map>
		</property>
	</bean>
	
	
	<bean
		name="/sys/unit/km_imissive_unit_category/kmImissiveUnitCategory.do"
		class="com.landray.kmss.sys.unit.actions.KmImissiveUnitCategoryAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.unit.forms.KmImissiveUnitCategoryForm" />
		<property name="forwards">
			<map>
				<entry
					key="view"
					value="/sys/unit/km_imissive_unit_category/kmImissiveUnitCategory_view.jsp" />
				<entry
					key="edit"
					value="/sys/unit/km_imissive_unit_category/kmImissiveUnitCategory_edit.jsp" />
				<entry
					key="list"
					value="/sys/unit/km_imissive_unit_category/kmImissiveUnitCategory_list.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/sys/unit/km_imissive_unit/kmImissiveUnit.do"
		class="com.landray.kmss.sys.unit.actions.KmImissiveUnitAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.unit.forms.KmImissiveUnitForm" />
		<property name="forwards">
			<map>
				<entry
					key="view"
					value="/sys/unit/km_imissive_unit/kmImissiveUnit_view.jsp" />
				<entry
					key="edit"
					value="/sys/unit/km_imissive_unit/kmImissiveUnit_edit.jsp" />
				<entry
					key="list"
					value="/sys/unit/km_imissive_unit/kmImissiveUnit_list.jsp" />
			</map>
		</property>
	</bean>	
	<bean
		name="/sys/unit/sys_unit_appconfig/sysUnitAppConfig.do"
		class="com.landray.kmss.sys.unit.actions.SysUnitAppConfigAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.appconfig.forms.SysAppConfigForm" />
	</bean>
	
	<bean
		name="/sys/unit/sys_unit_group/sysUnitGroup.do"
		class="com.landray.kmss.sys.unit.actions.SysUnitGroupAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.unit.forms.SysUnitGroupForm" />
		<property name="forwards">
			<map>
				<entry
					key="view"
					value="/sys/unit/sys_unit_group/sysUnitGroup_view.jsp" />
				<entry
					key="edit"
					value="/sys/unit/sys_unit_group/sysUnitGroup_edit.jsp" />
				<entry
					key="list"
					value="/sys/unit/sys_unit_group/sysUnitGroup_list.jsp" />
			</map>
		</property>
	</bean>
	
	<bean 
        class="com.landray.kmss.sys.unit.actions.SysUnitDataCenterAction" 
        parent="KmssBaseAction" 
        name="/sys/unit/sys_unit_data_center/sysUnitDataCenter.do" 
        lazy-init="true">
        <property 
            name="formType" 
            value="com.landray.kmss.sys.unit.forms.SysUnitDataCenterForm"/>
        <property 
            name="forwards">
            <map>
                <entry 
                    key="list" 
                    value="/sys/unit/sys_unit_data_center/sysUnitDataCenter_data.jsp"/>
                <entry 
                    key="edit" 
                    value="/sys/unit/sys_unit_data_center/sysUnitDataCenter_edit.jsp"/>
                <entry 
                    key="view" 
                    value="/sys/unit/sys_unit_data_center/sysUnitDataCenter_view.jsp"/>
                <entry
					key="editPassword"
					value="/sys/unit/sys_unit_data_center/editPassword.jsp" />
            </map>
        </property>
    </bean>

	<bean
			class="com.landray.kmss.sys.unit.actions.SysUnitDataCenterUnitAction"
			parent="KmssBaseAction"
			name="/sys/unit/sys_unit_data_center_unit/sysUnitDataCenterUnit.do"
			lazy-init="true">
		<property
				name="formType"
				value="com.landray.kmss.sys.unit.forms.SysUnitDataCenterUnitForm"/>
		<property
				name="forwards">
			<map>
				<entry
						key="list"
						value="/sys/unit/sys_unit_data_center_unit/sysUnitDataCenterUnit_data.jsp"/>
				<entry
						key="edit"
						value="/sys/unit/sys_unit_data_center_unit/sysUnitDataCenterUnit_edit.jsp"/>
				<entry
						key="view"
						value="/sys/unit/sys_unit_data_center_unit/sysUnitDataCenterUnit_view.jsp"/>
			</map>
		</property>
	</bean>
</beans>
