<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean
		name="/sys/lbpmext/voteweight/lbpm_voteweight/lbpmVoteWeight.do"
		class="com.landray.kmss.sys.lbpmext.voteweight.actions.LbpmVoteWeightAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.lbpmext.voteweight.forms.LbpmVoteWeightForm" />
		<property name="forwards">
			<map>
				<entry
					key="view"
					value="/sys/lbpmext/voteweight/lbpm_voteweight/lbpmVoteWeight_view.jsp" />
				<entry
					key="edit"
					value="/sys/lbpmext/voteweight/lbpm_voteweight/lbpmVoteWeight_edit.jsp" />
				<entry
					key="list"
					value="/sys/lbpmext/voteweight/lbpm_voteweight/lbpmVoteWeight_list.jsp" />
			</map>
		</property>
	</bean>
</beans>