@CHARSET "utf-8";
@IMPORT url("../../../../../sys/mobile/css/themes/default/header.css");
@IMPORT url("../../../../../sys/mobile/css/themes/default/nav.css");
*{
	padding: 0;
	margin: 0;
}

ol, ul {
	list-style: none;
}
[name="kmCalendarMainForm"] .muiImportBox {
	padding-top: 1rem;
	background-color: #fff;
}
.muiValidate .muiValidateShape {
	left: 1.2rem;
	top: 0.8rem;
}
[name="kmCalendarMainForm"] .muiValidate {
	padding-left: 1rem;
	padding-bottom: 1rem;
}
[name="kmCalendarMainForm"] .muiImportBox .locationInput {
	padding: 1rem;
}
[name="kmCalendarRequestAuthForm"] .muiValidate {
	padding-left: 1rem;
	padding-bottom: 1rem;
}
.muiImportBox .muiImportSubject{ 
	background-color: #fff;
	color: #bbbfc1;
	font-size: 1.4rem;
}
.docSubjectTextArea{
	background-color: #fff;
}
.docSubjectTextArea .muiFieldItem{ width: 100%;}
.docSubjectTextArea .muiFormTextarea {
	width: 100%;
	border: 0;
	outline: none;
	font-size: 1.4rem;
	height: 10rem!important;
	resize: none;
	padding: 1rem 0;
}
.docSubjectTextArea .muiFieldItem > div{ padding: 0 1rem;}
.muiImportBox .locationInput{
	width: 100%;
	padding: 0 1rem;
	background-color: #fff;
}

.muiHeader.muiCalendarHeader {
	overflow: visible;
}

.muiHeader.muiCalendarHeader .muiNavbar {
	overflow: visible!important;
}

.kmCalendarNavBar ul{
	width: 100%;
	height: 100%;
	border-bottom: 1px solid #d9d7d7;
	background-color: #fafafa;
}

.kmCalendarNavBar ul li {
	text-align: center;
	vertical-align: middle;
	color: #848484;
	font-size: 1.2rem;
	cursor: pointer; 
}

.kmCalendarNavBar ul li .mui {
	color: inherit;
}

.kmCalendarNavBar ul li .icon {
	margin-right: -5px;
	padding: 0;
	width: 4rem;
	line-height: 4rem;
	text-align: center;
	color: #848484;
	display: inline-block;
	position: relative;
}

.kmCalendarNavBar .muiNavitemSpan .txt{
	line-height: 2.5rem;
}

.muiCalendarNavBarSelected {
	position: absolute;
	bottom: -2px;
	left: 0;
	background-color: white;
	-webkit-transition: 300ms linear;
	z-index: 99;
}

.muiCalendarHeader .muiCalendarNavBarSelected .arrM {
	bottom: 1px;
	border-bottom-color: #d9d7d7;
}

.muiCalendarHeader .muiCalendarNavBarSelected .arrC {
	bottom:0;
	border-bottom-color: #fff;
}

.muiCalendarNavBarSelected .arr {
	position: absolute;
	/*left: 50%;
	margin-left: -7.4rem;*/ left:-2.8rem;
	border-color: transparent;
	border-style: dashed dashed solid;
	border-width: 6px;
}

.kmCalendarNavBar .muiNavitem.muiNavitemSelected span{
	color: #37aee9;
	font-weight:normal;
}

.kmCalendarNavBar .muiNavitem.muiNavitemSelected .icon{
	color: #37aee9;
	border-color: #37aee9;
}

.kmCalendarNavBar ul li .txt {
	display: inline-block;
	font-size: 1.4rem;
	padding: 1rem 0rem;
}


#notifyView,#dateView,#labelView,#recurrenceView{
	background-color: #fff;
	border-bottom: 1px solid #d9d7d7;
}

.muiCalendarHeader .mblView{background:#fff;}

/** 时间 **/


.muiCalendarDatetimeContainer{
	padding: 0.3rem 1rem;
	display: -webkit-box;
	display: box;
	-webkit-box-sizing:border-box;
			box-sizing:border-box;
}
.muiCalendarDatetimeContainer:last-child{ padding-bottom: 1rem;}

.muiCalendarDatetimeContainer>div{ 
	text-align: center;
	white-space: nowrap;
	padding-left: 8px;
}
.muiCalendarDatetimeContainer>div:nth-child(n+2){ 
	-webkit-box-flex:1;
}

.muiCalendarDatetimeContainer .muiCalendarDateText{
	padding-left: 0;
	font-size:1.3rem;
	line-height: 33px;
}

.muiCalendarDatetime .muiField{
	padding: 6px 5px;
	min-width: 0;
	border:1px solid #ececec;
	background-color: #fff;
	-webkit-box-sizing:border-box;
			box-sizing:border-box;
}

.muiFieldItem{
	width: 100%;
}
.muiFormSelect > .muiFieldItem > .muiFieldOpt span{
	right: 0;
}
.mblSwDefaultShape.kmCalendarSwitch{
	/*width: 4.5rem;*/
	float: right;
}
.mblSwDefaultShape.kmCalendarSwitch.muiSwitch.noLabel {
	width: 51px;
}

.kmCalendarSwitch .mblSwitchBgLeft {
	background-color: #29B5EB;
	background-image: none;
}

.muiCalendarAllDay{
	font-size: 1.4rem;
	line-height: 2.5rem;
}

.kmCalendarNavBar .muiNavitem.muiNavitemSelected span.muiNavitemSpan,
.kmCalendarNavBar .muiNavitem.muiNavitemSelected span.txt{
	border: 0;
}

.calendarOptBar{
	
}

.calendarOptButton{
	
}
/*** iphone6 ***/
@media screen and (min-width: 373px) and (max-width: 376px) {
    .kmCalendarNavBar ul li .mui { margin-top:-2px;}

}
.muiFormEleWrap.muiFormStatusEdit.locationInput:after {
	content: '';
    height: 1px;
    position: absolute;
    top: 0;
    background-color: #d5d5d5;
    left: 0;
    right: 0;
    transform: scaleY(0.5);
    -webkit-transform: scaleY(0.5);
}
.muiCalendarAllDay .muiSwitchContanier:after{
	left:0;
}
.newMui.muiFormEleWrap {
	padding-left: 1rem;
}
.newMui.muiFormEleWrap.muiFormStatusEdit.textarea .muiTextarea {
	padding: 0 1rem 1rem 0;
}
.newMui.muiFormEleWrap.muiFormStatusEdit.textarea .muiTextarea:hover,
.newMui.muiFormEleWrap.muiFormStatusEdit.textarea.showTitle .muiTextarea {
	padding-top: 2rem !important;
}
.muiFormEleWrap.textarea .muiFormEleTip {
	left: 1rem;
}
#dateView .newMui.muiFormEleWrap {
	padding: 1rem 0 1rem 1rem;
	height: 6rem;
	position: relative;
}
#dateView .newMui.muiFormEleWrap:after {
	content: '';
	height: 1px;
	position: absolute;
	left: 1rem;
	right: 0;
	bottom: 0;
	background: #d5d5d5;
	transform: scaleY(0.5);
	transform: -webkit-scaleY(0.5);
}
#dateView .newMui.muiFormEleWrap .muiFormEleTip {
	padding-top: 1rem;
}
/* #dateView .newMui.muiFormEleWrap .muiFormRequired {
	top: 0.2rem;
} */
.isAllDay_Switch {
	position: relative;
}
.isAllDay_Switch:before {
	position: absolute;
	content: '';
	left: 1rem;
	right: 0;
	bottom: 0;
	height: 1px;
	transform: scaleY(0.5);
	-webkit-transform: scaleY(0.5);
	background-color: #d5d5d5;
}
.isAllDay_Switch:after {
	content: '';
	display: table;
	visibility: hidden;
	clear: both;
}
.isAllDay_Text {
	float: left;
	padding: 1.2rem 0 1.2rem 1rem;
}
.muiCalendarLabelContainer{
	padding-top: 1rem;
}
#recurrenceView>div {
    padding: 1rem 0 1rem 0;
    position: relative;
}
#recurrenceView>div:before {
    position: absolute;
    content: '';
    left: 1rem;
    right: 0;
    bottom: 0;
    height: 1px;
    transform: scaleY(0.5);
	-webkit-transform: scaleY(0.5);
    background-color: #d5d5d5;
}
.moreset {
	display: none;
}
.endType {
	display: none;
}
.newMui .muiSelInputRight{
	margin-top: 0px;
    top: 2rem;
}