@charset "UTF-8";

.result_container {
	
}

.result_container .empty_result {
	height: 36px;
	line-height: 36px;
	text-align: center;
}

.info_container .ellipse, .result_container .ellipse {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.info_container .w100, .result_container .w100 {
	width: 100%;
}

.info_container .col_inner, .result_container .col_inner {
	display: block;
}

.info_container .right, .result_container .right {
	text-align: right;
}

.info_container .left, .result_container .left {
	text-align: left;
}

.info_container .pointer, .result_container .pointer {
	cursor: pointer;
}

.check_result .success {
	color: #22B77D;
}

.check_result .warning {
	color: #e6a23c;
}

.check_result .error {
	color: #f56c6c;
}

.check_result .area {
	padding: 0px 10px;
	margin-bottom: 10px;
}

.check_result .area .label:before {
	content: "";
	position: absolute;
	left: 0px;
}

.check_result .area .label {
	position: relative;
	padding-left: 10px;
	width: calc(100% - 10px);
}

.check_result .head {
	height: 50px;
	line-height: 50px;
	background: rgba(251, 251, 252, 1);
	border-radius: 6px;
}

.group .label {
	font-size: 16px;
}

.group .label:before {
	width: 3px;
	height: 16px;
	background: rgba(66, 133, 244, 1);
	top: calc(50% - 8px);
}

.expand i {
	transform: rotate(90deg);
	transition: transform .3s;
	font-size: 16px;
}

.check_items .check_item {
	border-bottom: 1px dashed #eeeeee;
	height: 36px;
	line-height: 36px;
}

.check_items .check_item:last-child {
	border-bottom: none;
}

.check_item .label:before {
	width: 4px;
	height: 4px;
	background-color: #D8D8D8;
	border-radius: 50%;
	top: calc(50% - 2px);
}

.check_result i {
	font-size: 16px;
}

.check_result .show_infos {
	min-height: 1px;
}

.info_container .el-upload {
	display: none;
}

.info_container .el-dialog {
	min-width: 640px;
}

.info_container .el-dialog__header {
	padding: 20px 20px 20px !important;
	border-bottom: 1px solid #D9D9D9;
}

.info_container .el-dialog__body {
	padding: 10px 20px !important;
	min-height: 300px;
}

.info_container .el-dialog__footer {
	border-top: 1px solid #D9D9D9;
	padding: 10px 20px 10px !important;
}

.info_container .result_footer {
	line-height: 40px;
}

.info_container .check_item_label {
	text-align: left;
}

.info_container .area {
	padding: 0px 16px;
	margin-bottom: 30px;
}

.info_container .main .link {
	position: relative;
	padding-left: 10px;
}

.info_container .main .link:before {
	content: "";
	position: absolute;
	width: 4px;
	height: 4px;
	border-radius: 50%;
	top: calc(50% - 2px);
	left: 0px;
	background-color: #d8d8d8;
}

.lui_drawerpanel_slide .lui_drawerpanel_navs {
	display: none;
}

.info_container .pic_container {
	padding: 10px 0px;
}

.info_container .pic_wrapper {
	border: 1px solid #EEEEEE;
	box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.06);
	border-radius: 4px;
	margin: 0 10px;
	position: relative;
}

.info_container .pic_img {
	width: 100%;
	position: relative;
	text-align: center;
	overflow: hidden;
	height: 206px;
	line-height: 206px;
	background: #f8f8f8;
}

.pic_img img {
	display: inline-block;
	max-width: 100%;
	max-height: 100%;
	position: relative;
	background-color: #ffffff;
	border-bottom: 1px solid #eeeeee;
}

.info_container .pic_wrapper:hover .pic_img img {
	filter: blur(2px);
}

.info_container .pic_wrapper:hover .pic_cover {
	top: 0;
}

.pic_img .pic_cover {
	position: absolute;
	top: 209px;
	left: 0;
	background-color: rgba(0, 0, 0, 0.6);
	width: 100%;
	height: 100%;
	color: #ffffff;
	transition: all .3s;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.pic_cover .cover_preview {
	position: absolute;
	text-align: center;
	width: 100%;
	height: 30px;
	line-height: 30px;
	top: 80px;
}

.cover_preview span {
	display: inline-block;
	border-radius: 2px;
	margin: 0 auto;
	font-size: 16px;
	letter-spacing: 2px;
	cursor: pointer;
	line-height: 40px;
	background: #4285F4;
	padding: 0px 32px;
}

.cover_preview span em {
	font-style: normal;
	display: inline-block;
	background: url(icon-view.png) no-repeat 0 center;
	padding-left: 24px;
	background-size: 18px auto;
}