@charset "UTF-8";

.massdata-container{
	background-color : #fff;
	border : 1px #d2d2d2 solid;
	padding : 8px;
	max-width : 1200px;
}

.massdata-container .massdata-toolbar{
	padding : 6px;
	text-align : right;
}

.massdata-container .massdata-content{
	overflow-x:scroll;
}

.massdata-table{
	border : 1px #d2d2d2 solid;
}

.massdata-table .massdata-table-thead{
	background-color:#f6f6f6;
	white-space : nowrap;
}

.massdata-table thead tr td{
	padding : 8px;
	border : 1px #d2d2d2 solid;
	text-align : center;
}
.massdata-table tbody tr td{
	padding : 8px;
	border : 1px #d2d2d2 solid;
	text-align : center;
}
/************** 按钮 ****************/
.massdata-btn {
  min-width : 68px;
  display: inline-block;
  padding: 4px 10px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: 0;
  transition-duration: .3s;
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
      -ms-box-sizing: content-box;
       -o-box-sizing: content-box;
          box-sizing: content-box;
}
.massdata-btn:hover,
.massdata-btn:focus,
.massdata-btn.massdata-focus {
  color: #333;
  text-decoration: none;
}

.massdata-btn-primary {
  color: #fff;
  margin-left : 5px;
  background-color: #4285f4;
  border-color: #4285f4;
}