.third_ctrip_loading{
	position:absolute;
	left:40%;
	top:40%;
	height:80px;
	width:80px;
	background:url(../img/loading.gif) no-repeat center;
}
.thirdCtripView{
	display:none;
	background-color:#f8f8f8;
}
 .thirdCtripXformLoading{
 	text-align:center;
 	background:#eee;
 	margin-top:15px;
 }

.third_ctrip_mobile_btn {
 	display:none;
 	font-size:14px;
	border-radius: 3px;
	background-color: #ffa003;
	border: 1px solid #ffa003;
	color: #333;
	text-decoration: none;
	padding: 4px 7px;
	cursor:pointer;
}

.third_ctrip_mobile_btn i {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: 5px;
	background-size: 100% auto;
	vertical-align: text-bottom;
}

.third_ctrip_mobile_btn_hotel i {
	background: url(../img/ctrip_mobile.png) no-repeat left top;
}

.third_ctrip_mobile_btn_plane i {
	background: url(../img/ctrip_mobile.png) no-repeat left top;
	background-position: -20px 0;
}

.third_ctrip_disabled{
	display:none;
 	font-size:14px;
	border-radius: 3px;
	background: #f3f3f3;
	border: 1px solid #f3f3f3;
	color: #999;
	text-decoration: none;
	padding: 4px 7px;
	cursor:pointer;
}

.third_ctrip_disabled i{
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: 5px;
	vertical-align: text-bottom;
}

.third_ctrip_disabled_plane i {
	background: url(../img/ctrip_mobile.png) no-repeat left top;
	background-position: -20px -20px;
}

.third_ctrip_disabled_hotel i{
	background: url(../img/ctrip_mobile.png) no-repeat left top;
	background-position: 0 -20px;
}

.muiCtripEKP {
	width: 42px;
	height: 42px;
	line-height: 42px;
	vertical-align: middle;
	text-align: center;
	position: fixed;
	bottom: 20.5rem;
	right: 5px;
	border-radius: 50%;
	background: #02a5ee;
	background-size: 42px;
	cursor: pointer;
	display: block;
	line-height: 42px;
	z-index: 99;
	color: #fff;
	font-size: 1.2rem;
}