@charset "UTF-8";

ul, li { list-style: none; }
.btn_canncel_img{
	display:inline-block;
	width:20px;
	height:20px;
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAMAAAAM7l6QAAAAt1BMVEUAAAD/YC//YC//YC//YC//YC//YC//YC//YC//YC//YC//YC//YC//YC//YC//YC//YC//YC//YC//YC//YC//YC//YC//YC//YC//YC//YC//YC//YC//YC//YC//YC//YC//YC//YC//////oYT/jmv/tJ3/pYn/nH7/vqn/sZn/m3z/iWX/zr//w7D/uaT/r5f/n4H/l3f/jGj/b0P/9/T/8ez/08X/zb7/pov/k3L/elH/Zzkd35i5AAAAInRSTlMAZfv04Mzar4d3Wkg+LSgeFhLt6uS3pZ+VcGo3z8mcik4Gd0a6FAAAARlJREFUKM+tkmlzgjAQhoOAIEIBr3r03KCVelVr7/7/39XNwUaIXzrj8yHzTp7ZzO5O2D+4ihzHifPzbjwAxdCxZD5ugaH9ULeJB3XCUztzoUlgbNoHm3vSPsDvbkVivTsC0tU2wlxyXmj7yvlG9qe1aOubV36O6UkmNV8s817carsAya3UIUiWeL+HNZ7PoMlVY4oCzZZqqbkeANXLWmIitNnmAu0nGDpC08bm76jfiob2KotyQ1MJIqED2gZ/gQPNj8yEnmIw8y5NfY8JMuyN5lVe7f+OSUYYt+JlxYrzDxkSpVMsP5ZfUHEofwAZMc0EzuBlrOLatm7CiEfL92N2SqdVszdp85sHRg6mzCZzhr4LbT/ssgvxBzyDScA5Jfb0AAAAAElFTkSuQmCC) no-repeat 50%;
    background-size: 20px; 
    display:block;
    cursor:pointer;
}

.clearfloat { zoom: 1; }
.clearfloat:after { display: block; clear: both; visibility: hidden; line-height: 0px; content: 'clear'; }

.lui_sns_signatureList{ }
.lui_sns_signatureList li{ float:left; padding-top:3px; margin-right:15px; margin-bottom:8px; left:0.5rem; position:relative;}
.lui_sns_signatureList li img{ width:70px; height:70px; border:1px solid #e2e2e2;}
.lui_sns_signatureList .btn_canncel_img{ position:absolute; right:-8px; top:-5px;}


.muiSignatureDialogElement{
	padding: 25px 15px;
}
.muiSignatureDialogTitle{
	margin-bottom: 15px;
	text-align: center;
	color: #333;
	font-size: 16px;
	font-weight: 400;
}
.muiSignatureDialogFormInput{
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	height: 30px;
	line-height: 30px;
	color: #999;
	font-size: 14px;
	border: 0;
	outline: 0;
	border-bottom: 1px solid #d5d5d5;
	display: inline-block;
	-webkit-box-sizing: border-box;
					box-sizing: border-box;
}
.muiSignatureDialogFormInput.has-warning{
	color: #ea4335;
	border-bottom-color: #ea4335;
}
.muiSignatureDialogWarningTip{
	margin: 10px auto -10px;
	padding-left: 16px;
	width: 80%;
	line-height: 20px;
	text-align: left;
	color: #ea4335;
	font-size: 12px;
	position: relative;
	-webkit-box-sizing: border-box;
					box-sizing: border-box;
}
.muiSignatureDialogWarningTip:before{
	content: '';
	border-bottom: 6px dashed;
	border-bottom: 6px solid \9;
	border-right: 6px solid transparent;
	border-left: 6px solid transparent;
	position: absolute;
	left: 0;
	top: 8px;
}
.muiDialogElement.muiFormSelect .muiDialogElementContent_bottom .muiCheckBoxTableItem.mui-signature-lock-row{
	padding-left: 2.8rem;
}
/* .muiDialogElementContent_bottom .mui-signature{
	font-size: 2.4rem;
	position: absolute;
	left: 0rem;
	top: 50%;
	margin-top: -12px;
} */
.muiDialogElementContent_bottom .mui-signature.mui-checked{
	color: #4285f4;
}
.muiDialogElementContent_bottom .mui-signature.mui-todo_lock{
	color: #aaa;
}


