<?xml version="1.0" encoding="UTF-8"?>
<plugin
	xmlns="http://www.example.org/plugin-config"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.example.org/plugin-config ../../../plugin.xsd ">
	
	<extension-point id="com.landray.kmss.sys.lbpmservice.changelog.config">
		<item name="config">
			<param name="type" kind="string">
				<description>节点类型</description>
			</param>
			<param name="filePath" kind="string">
				<description>文件路径</description>
			</param>
			<param name="comparator" kind="spring" 
				basedOn="com.landray.kmss.sys.lbpmservice.changelog.service.spring.rule.INodeComparator">
				<description>节点比较器</description>
			</param>
			<param name="order" kind="int">
				<description>文件路径</description>
			</param>
			<description>文件路径</description>
		</item>
		<description>文件路径</description>
	</extension-point>
	
	<extension-point id="com.landray.kmss.sys.lbpmservice.changelog.translator">
		<item name="config">
			<param name="type" kind="string">
				<description>值类型</description>
			</param>
			<param name="id" kind="spring" 
				basedOn="com.landray.kmss.sys.lbpmservice.changelog.service.spring.rule.IAttrTranslator">
				<description>beanId</description>
			</param>
			<description>翻译器</description>
		</item>
		<description>翻译器</description>
	</extension-point>
	
	<extension point="com.landray.kmss.sys.lbpmservice.changelog.config">
		<item name="config">
			<param name="type" value="reviewNode"></param>
			<param name="filePath" value="/sys/lbpmservice/changelog/reviewNodeLogConfig.json"></param>
			<param name="order" value="2"></param>
		</item>
		<item name="config">
			<param name="type" value="robtodoNode"></param>
			<param name="filePath" value="/sys/lbpmservice/changelog/robtodoNodeConfig.json"></param>
			<param name="order" value="2"></param>
		</item>
		<item name="config">
			<param name="type" value="signNode"></param>
			<param name="filePath" value="/sys/lbpmservice/changelog/signNodeLogConfig.json"></param>
			<param name="order" value="1"></param>
		</item>
		<item name="config">
			<param name="type" value="process"></param>
			<param name="filePath" value="/sys/lbpmservice/changelog/processLogConfig.json"></param>
			<param name="order" value="1"></param>
		</item>
		<item name="config">
			<param name="type" value="startNode"></param>
			<param name="filePath" value="/sys/lbpmservice/changelog/startNodeConfig.json"></param>
			<param name="order" value="2"></param>
		</item>
		<item name="config">
			<param name="type" value="endNode"></param>
			<param name="filePath" value="/sys/lbpmservice/changelog/endNodeConfig.json"></param>
			<param name="order" value="2"></param>
		</item>
		<item name="config">
			<param name="type" value="sendNode"></param>
			<param name="filePath" value="/sys/lbpmservice/changelog/sendNodeConfig.json"></param>
			<param name="order" value="1"></param>
		</item>
		<item name="config">
			<param name="type" value="robotNode"></param>
			<param name="filePath" value="/sys/lbpmservice/changelog/robotNodeConfig.json"></param>
			<param name="order" value="1"></param>
		</item>
		<item name="config">
			<param name="type" value="freeSubFlowNode"></param>
			<param name="filePath" value="/sys/lbpmservice/changelog/freeSubFlowNodeConfig.json"></param>
			<param name="order" value="1"></param>
		</item>
		<item name="config">
			<param name="type" value="embeddedSubFlowNode"></param>
			<param name="filePath" value="/sys/lbpmservice/changelog/embeddedSubFlowNodeConfig.json"></param>
			<param name="order" value="1"></param>
		</item>
		<item name="config">
			<param name="type" value="draftNode"></param>
			<param name="filePath" value="/sys/lbpmservice/changelog/draftNodeConfig.json"></param>
			<param name="order" value="2"></param>
		</item>
		<item name="config">
			<param name="type" value="autoBranchNode"></param>
			<param name="filePath" value="/sys/lbpmservice/changelog/autoBranchNodeConfig.json"></param>
			<param name="order" value="2"></param>
		</item>
		<item name="config">
			<param name="type" value="voteNode"></param>
			<param name="filePath" value="/sys/lbpmservice/changelog/voteNodeConfig.json"></param>
			<param name="order" value="1"></param>
		</item>
		<item name="config">
			<param name="type" value="manualBranchNode"></param>
			<param name="filePath" value="/sys/lbpmservice/changelog/manualBranchNodeConfig.json"></param>
			<param name="order" value="1"></param>
		</item>
			<item name="config">
			<param name="type" value="startSubProcessNode"></param>
			<param name="filePath" value="/sys/lbpmservice/changelog/startSubProcessNodeConfig.json"></param>
			<param name="order" value="1"></param>
		</item>
		<item name="config">
			<param name="type" value="recoverSubProcessNode"></param>
			<param name="filePath" value="/sys/lbpmservice/changelog/recoverSubProcessNodeConfig.json"></param>
			<param name="order" value="1"></param>
		</item>
		<item name="config">
			<param name="type" value="splitNode"></param>
			<param name="filePath" value="/sys/lbpmservice/changelog/splitNodeConfig.json"></param>
			<param name="order" value="1"></param>
		</item>
		<item name="config">
			<param name="type" value="joinNode"></param>
			<param name="filePath" value="/sys/lbpmservice/changelog/joinNodeConfig.json"></param>
			<param name="order" value="1"></param>
		</item>
		<item name="config">
			<param name="type" value="checkNode"></param>
			<param name="filePath" value="/sys/lbpmservice/changelog/checkNodeConfig.json"></param>
			<param name="order" value="1"></param>
		</item>
		<item name="config">
			<param name="type" value="adHocSubFlowNode"></param>
			<param name="filePath" value="/sys/lbpmservice/changelog/adHocSubFlowNodeConfig.json"></param>
			<param name="comparator" value="adHocSubFlowNodeComparator"></param>
			<param name="order" value="1"></param>
		</item>
		<item name="config">
			<param name="type" value="dynamicSubFlowNode"></param>
			<param name="filePath" value="/sys/lbpmservice/changelog/dynamicSubFlowNodeConfig.json"></param>
			<param name="order" value="1"></param>
		</item>
	</extension>
	
	<extension point="com.landray.kmss.sys.lbpmservice.changelog.translator">
		<item name="config">
			<param name="type" value="simple"></param>
			<param name="id" value="lbpmSimpleAttrTranslator"></param>
		</item>
		<item name="config">
			<param name="type" value="value"></param>
			<param name="id" value="lbpmValueAttrTranslator"></param>
		</item>
		<item name="config">
			<param name="type" value="handlerSameRule"></param>
			<param name="id" value="lbpmHandlerSameAttrTranslator"></param>
		</item>
		<item name="config">
			<param name="type" value="time"></param>
			<param name="id" value="lbpmTimeAttrTranslator"></param>
		</item>
		<item name="config">
			<param name="type" value="jsonObj"></param>
			<param name="id" value="lbpmJsonObjectAttrTranslator"></param>
		</item>
		<item name="config">
			<param name="type" value="jsonArr"></param>
			<param name="id" value="lbpmDetailAttrTranslator"></param>
		</item>
		<item name="config">
			<param name="type" value="event"></param>
			<param name="id" value="lbpmEventAttrTranslator"></param>
		</item>
		<item name="config">
			<param name="type" value="lbpmDefaultBranch"></param>
			<param name="id" value="lbpmDefaultBranchAttrTranslator"></param>
		</item>
		<item name="config">
			<param name="type" value="lbpmModelProp"></param>
			<param name="id" value="lbpmModelPropAttrTranslator"></param>
		</item>
		<item name="config">
      		<param name="type" value="plugin"></param>
     		<param name="id" value="lbpmPluginParamTranslator"></param>
    	</item>
	</extension>
</plugin>
