<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<!-- 流程模板变更日志 start -->
	<bean
			name="/sys/lbpmservice/changelog/lbpmTemplateChangeLogAction.do"
			class="com.landray.kmss.sys.lbpmservice.changelog.actions.LbpmTemplateChangeLogAction"
			lazy-init="true"
			parent="KmssBaseAction">
		<property
				name="formType"
				value="com.landray.kmss.sys.lbpmservice.changelog.forms.LbpmTemplateChangeLogForm" />
		<property name="forwards">
			<map>
				<entry key="view" value="/sys/lbpmservice/changelog/lbpmTemplateChangeLog_view.jsp" />
				<entry key="data" value="/sys/lbpmservice/changelog/lbpmTemplateChangeLog_data.jsp" />
			</map>
		</property>
	</bean>
	<!-- 流程模板变更日志 end -->
</beans>
