/*桌面端优化后的样式汇总*/

/*###########全局设置start###########*/
.muiXformArea .xformDesktopLayout{
    /*width: 143%;*/
    /*transform: scale(0.7);*/
    width: 200%;
    transform: scale(0.5);
    transform-origin: 0 0;
}
.xformDesktopLayout table[layout2col='desktop'] .muiFormItem{
    padding-right: 0;
}
.xformDesktopLayout table[layout2col='desktop'] td>xformflag{
    min-width: unset;
}

.xformDesktopLayout table[layout2col='desktop'] *{
    font-size: 16px;
}

input:focus
{
    font-size:16px!important;
}

textarea:focus
{
    font-size:16px!important;
}

/*###########全局设置end###########*/

/*########地址本start###########*/
.xformDesktopLayout table[layout2col='desktop'] .muiAddressOrg{
    background-color:unset;
}
/*###########地址本end###########*/
/*########必填start###########*/
.xformDesktopLayout table[layout2col='desktop'] .relationChooseText{
    padding-right: 2rem;
}
/*########必填end###########*/

