<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean
		name="/sys/category/pda/sysCategory.do"
		class="com.landray.kmss.sys.category.pda.PdaCategroyAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property name="forwards">
			<map>
				<entry
					key="listCate"
					value="/sys/category/pda/sysCategory.jsp" />
				<entry
					key="pdaCategory"
					value="/sys/category/pda/sysCategory2.jsp" />
			</map>
		</property>
	</bean>
</beans>