@CHARSET "UTF-8";

.tb_property {
	
}

.tb_property tr td {
	/**border-bottom: 1px dotted gainsboro;**/ 
	padding: 6px 10px;
}

.tb_property tr td label{
	margin: 4px 20px 4px 0;
	line-height: 30px;
}
.lui_multidoc_cont{
	vertical-align: top!important;
	padding-right: 20px;
	text-align: right;
}
.lui_multidoc_docTitle{
	text-align:center;
	margin: 12px 0px;
}
.lui_multidoc_docTitle span {
	color: #2393c5;
	font-size: 18px;
}
.lui_multidoc_catelog {
	line-height: 30px;
	height: 30px;
	border-bottom: 1px #d9d9d9 solid;
}
.lui_multidoc_title {
	float: left;
	color: #2393c5;
	width: 60%;
	font-size: 16px;
	padding-left: 8px;
}
.tb_simple1 th {
	padding: 10px;
	text-align: right;
	font-weight: normal;
}
.lui_multidoc_content {
	padding: 12px 6px;
}
.lui_multidoc_hideLi {
	display:none;
}
.lui_multidoc_showLi {
	display:block;
}
.tb_simple .inputAdd {
	height: 25px;
	border: 0px;
	border: 1px solid #dfdfdf;
}

.multidoc_spic{
	width:28%;
}
.multidoc_spic object{
	width: 71px;
    height: 25px;
}

.tb_n_simple {
	border-collapse: collapse;
    background-color: #FFFFFF;
    margin: 0 auto;
}
    
.tb_n_simple .tb_normal .inputsgl {
    height: 25px;
    border: 0px;
    border-bottom: 1px solid #b4b4b4;
}



.tb_n_simple .td_normal_title {
    word-wrap: break-word;
    text-align: right;
}
.tb_n_simple > tbody > tr > td {
    padding: 10px;
    word-break: break-word;
}


.tempTB>tbody>tr>td {
    padding-top: 20px !important;
}


.tb_n_simple  > tbody > tr > td.td_normal_title {
	vertical-align: top;
}





.tb_n_simple .inputsgl,
.tb_n_simple .inputselectsgl,
.tb_n_simple .inputselectsgl .input {
	padding-bottom: 4px;
}

.lui_multidoc_publish_news_content [data-lui-type='lui/panel!Content']{
	padding-right: 0;
	padding-left: 0;
}







/* 知识仓库优化样式 Start */

.barRight_kmsMultidoc_baseInfo_box {
	position: relative;
    padding-top: 6px;
}

.barRight_kmsMultidoc_baseInfo_box_edit {
	position: relative;
    padding-top: 6px;
}

.lui_tabpanel_content_l {
	padding: 16px 30px 15px 30px;
}

#uploader_spic_container {
	width: 100%;
}

.inputselectsgl {
	border: 1px solid #ddd !important;
    border-radius: 2px;
    margin-top: -3px;
    width: 100% !important;
}

.inputselectsgl .orgelement:before{
    margin-top: 5px;
}

.inputselectsgl .mf_container{
	position: relative;
    top: 1px;
}

.tb_n_simple_add .innerAuthor_td .inputselectsgl {
	padding-bottom: 1px !important;
}


.tb_n_simple_add .docDept_td .inputselectsgl {
    padding-bottom: 2px !important;
    padding-top: 0px;
}


.tb_n_simple_add .docPosts_td .inputselectsgl {
    padding-bottom: 2px !important;
    padding-top: 0px;
}

.tb_n_simple_add .kmsCategory_tr .inputselectsgl {
	padding-top: 4px;
    padding-bottom: 4px;
}

.tb_n_simple_add .kmsCategory_tr .inputselectsgl .input{
	padding-top: 0px;
    height: 28px;
}

.tb_n_simple_add .kmsCategory_tr .selectitem {
	margin-top: -4px;
}

.tb_n_simple_add .lui_tag_tr_content .inputselectsgl {
	padding-top: 4px;
    padding-bottom: 4px;
}

.tb_n_simple_add .lui_tag_tr_content .inputselectsgl .input{
	padding-top: 0px;
    height: 28px;
}

.tb_n_simple_add .lui_tag_tr_content .selectitem {
	margin-top: -4px;
}

.tb_n_simple_add .docExpireTime_td .inputselectsgl {
	padding-top: 4px;
    padding-bottom: 4px;
}

.tb_n_simple_add .docExpireTime_td .inputselectsgl .input{
	padding-top: 0px;
    height: 28px;
}

.tb_n_simple_add .docExpireTime_td .inputdatetime {
	margin-top: -4px;
}

.tb_simple_edit .innerAuthor_td .inputselectsgl {
	padding-bottom: 1px !important;
}


.tb_simple_edit .docDept_td .inputselectsgl {
    padding-bottom: 2px !important;
    padding-top: 0px;
}


.tb_simple_edit .docPosts_td .inputselectsgl {
    padding-bottom: 2px !important;
    padding-top: 0px;
}

.tb_simple_edit .kmsCategory_tr .inputselectsgl {
	padding-top: 4px;
    padding-bottom: 4px;
}

.tb_simple_edit .kmsCategory_tr .inputselectsgl .input{
	padding-top: 0px;
    height: 28px;
}

.tb_simple_edit .kmsCategory_tr .selectitem {
	margin-top: -4px;
}

.tb_simple_edit .lui_tag_tr_content .inputselectsgl {
	padding-top: 4px;
    padding-bottom: 4px;
}

.tb_simple_edit .lui_tag_tr_content .inputselectsgl .input{
	padding-top: 0px;
    height: 28px;
}

.tb_simple_edit .lui_tag_tr_content .selectitem {
	margin-top: -4px;
}

.tb_simple_edit .docExpireTime_td .inputselectsgl {
	padding-top: 4px;
    padding-bottom: 4px;
}

.tb_simple_edit .kmsCategory_edit_tr .inputselectsgl {
	padding-top: 4px;
    padding-bottom: 4px;
}

.tb_simple_edit .docExpireTime_td .inputselectsgl .input{
	padding-top: 0px;
    height: 28px;
}

.tb_simple_edit .docExpireTime_td .inputdatetime {
	margin-top: -4px;
}

.tb_simple_edit .td_normal_title ,
.tb_n_simple_add .td_normal_title {
	text-align: left;
	color: #333333;
}

.tb_n_simple_add .txtstrong, .tb_simple_edit .txtstrong, 
.tb_simple_edit_right .txtstrong, .tb_n_simple_add_right .txtstrong {
	display: none;
}

.txtstrongLight {
	color: #FF0000;
	position: relative;
    top: 3px;
}

.lui_tabpanel_sucktop_content_l {
	padding: 16px 16px 0 16px;
}

.docSubject_td input {
	border: 0 !important;
	border-bottom: 1px solid #eeeeee !important;
}

.description_td textarea {
	border: 1px solid #eeeeee !important;
	padding: 4px;
}

#cke_docContent {
	border: 1px solid #eeeeee !important;
}

.add_desc_btn {
	height: 30px;
	line-height: 30px;
	background: #F9F9F9;
	border: 1px solid #EEEEEE;
	border-radius: 2px;
	font-size: 14px;
	color: #666666;
	cursor: pointer;
	margin-bottom: 20px;
	text-align: center;
	display: inline-block;
	padding: 0px 15px;
}

.add_desc_btn:hover {
	background: #ECF2FD;
	border: 1px solid #AECDFF;
	color: #4285F4;
}

#process_review_tabcontent_right {
	/*margin-top: 16px;*/
}

.lui_upload_img_box .imgbox  {
	height: 186px !important;
    margin: 0 !important;
}

#uploader_spic_queueList {
    margin-bottom: 10px !important;
}

.lui_upload_img_item {
	margin: 0 !important;
}

.tb_simple_info_edit {
	width: 100%;
}

.tb_simple_info_edit .td_normal_title {
	text-align: left;
}

.tb_simple_info_edit > tbody > tr > td {
    padding: 6px;
}

.property_table tr > td {
	padding: 8px !important;
}

.outerAuthor_td {
	
}

.outerAuthor_td input {
    position: relative;
    top: -3px;
	width: 98.5% !important;
    border-radius: 2px;
    border: 1px solid #ddd;
    height: 24px;
    margin-bottom: -2.5px;
}

.kmsCategory_edit_tr .input input {
	position: relative;
    top: 2px;
}

.kmsCategory_edit_tr .selectitem {
	top: 0px;
}
/* 知识仓库优化样式 End */
