<?xml version="1.0" encoding="UTF-8"?>
<plugin
	xmlns="http://www.example.org/plugin-config"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.example.org/plugin-config ../../plugin.xsd ">
	<!-- 流程监控服务功能 -->
	<extension
		point="com.landray.kmss.sys.cluster">
		<item
			name="groupFunc">
			<param
				name="id"
				value="lbpmMonitorServer" />
			<param 
				name="name" 
				value="{sys-lbpmmonitor:sysLbpmMonitor.lbpmMonitorServer}"/>
		</item>
	</extension>
</plugin>