@CHARSET "UTF-8";

.xform_relation_choose{
	display:inline-block;
	width:inherit;
}

.relationChoose_content {
	width: 100%;
}

.relationChoose_textShow_Edit{
	border-bottom: 1px solid #b4b4b4;
}

.relationChoose_textShow {
	display: table-cell;
	vertical-align: bottom;
	min-width: 120px;
	padding: 2px 5px;
	text-align:left;
	word-break:break-all;
}

.relationChoose_textShow .com_btn_link{
 	margin-right:5px;
}

.relationChoose_operation {
	display: table-cell;
	vertical-align: bottom;
	white-space: nowrap;
	padding-left: 5px;
	text-align:left;
}