<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean
		name="/fssc/eas/fssc_eas_switch/fsscEasSwitch.do"
		class="com.landray.kmss.fssc.eas.actions.FsscEasSwitchAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.fssc.eas.forms.FsscEasSwitchForm" />
		<property name="forwards">
			<map>
				<entry
					key="edit"
					value="/fssc/eas/fssc_eas_switch/fsscEasSwitch_edit.jsp" />
				<entry
					key="view"
					value="/fssc/eas/fssc_eas_switch/fsscEasSwitch_view.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/fssc/eas/fssc_eas_param/fsscEasParam.do"
		class="com.landray.kmss.fssc.eas.actions.FsscEasParamAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.fssc.eas.forms.FsscEasParamForm" />
		<property name="forwards">
			<map>
				<entry
					key="edit"
					value="/fssc/eas/fssc_eas_param/fsscEasParam_edit.jsp" />
				<entry
					key="view"
					value="/fssc/eas/fssc_eas_param/fsscEasParam_view.jsp" />
			</map>
		</property>
	</bean>
</beans>
