<?xml version="1.0" encoding="UTF-8"?>
<beans
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
	xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<bean
		class="com.landray.kmss.sys.attachment.borrow.actions.SysAttBorrowAction"
		parent="KmssBaseAction" name="/sys/attachment/sys_att_borrow/sysAttBorrow.do"
		lazy-init="true">
		<property name="formType"
			value="com.landray.kmss.sys.attachment.borrow.forms.SysAttBorrowForm" />
		<property name="forwards">
			<map>
				<entry key="edit"
					value="/sys/attachment/sys_att_borrow/sysAttBorrow_edit.jsp" />
				<entry key="list"
					value="/sys/attachment/sys_att_borrow/sysAttBorrow_data.jsp" />
				<entry key="view"
					value="/sys/attachment/sys_att_borrow/sysAttBorrow_view.jsp" />
				<entry key="detail"
					value="/sys/attachment/sys_att_borrow/sysAttBorrow_detail_data.jsp" />
			</map>
		</property>
	</bean>
</beans>
