<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean
		name="/sys/admin/transfer/sys_admin_transfer_task/sysAdminTransferTask.do"
		class="com.landray.kmss.sys.admin.transfer.actions.SysAdminTransferTaskAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.admin.transfer.forms.SysAdminTransferTaskForm" />
		<property name="forwards">
			<map>
				<entry
					key="view"
					value="/sys/admin/transfer/sys_admin_transfer_task/sysAdminTransferTask_view.jsp" />
				<entry
					key="edit"
					value="/sys/admin/transfer/sys_admin_transfer_task/sysAdminTransferTask_edit.jsp" />
				<entry
					key="list"
					value="/sys/admin/transfer/sys_admin_transfer_task/sysAdminTransferTask_list.jsp" />
				<entry
					key="result"
					value="/sys/admin/transfer/sys_admin_transfer_task/index2.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/sys/admin/transfer/sys_admin_transfer_module/sysAdminTransferModule.do"
		class="com.landray.kmss.sys.admin.transfer.actions.SysAdminTransferModuleAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.admin.transfer.forms.SysAdminTransferModuleForm" />
		<property name="forwards">
			<map>
				<entry
					key="view"
					value="/sys/admin/transfer/sys_admin_transfer_module/sysAdminTransferModule_view.jsp" />
				<entry
					key="edit"
					value="/sys/admin/transfer/sys_admin_transfer_module/sysAdminTransferModule_edit.jsp" />
				<entry
					key="list"
					value="/sys/admin/transfer/sys_admin_transfer_module/sysAdminTransferModule_list.jsp" />
			</map>
		</property>
	</bean>
</beans>