@charset "UTF-8";
/*应用场景 1默认页眉应用下拉搜索 2新建弹出框选择分类 3筛选页输入标题搜索 4展开筛选页搜索 starts*/
/* 雪碧图 16*16 灰色0 0 主色-20px 0 白色-40px 0*/
/*应用场景 1默认页眉应用下拉搜索 2新建弹出框选择分类 3筛选页输入标题搜索 4展开筛选页搜索 end*/
/**
** 代码制作人: 
** 制作时间：2018-02-12
** 文件内容描述：业务模块样式（所有业务模块的特有样式可以扔进此CSS）
** 修改日期：无
** 修改内容：无
**********************************************/
/*审批流程概览 主题包优化 Starts*/
body .lui-backstage-panel {
  padding: 10px;
  border: 1px solid #d9d9d9 \9;
  background-color: #fff;
  -ms-box-shadow: 0 2px 8px -2px rgba(0, 0, 0, 0.125);
  -o-box-shadow: 0 2px 8px -2px rgba(0, 0, 0, 0.125);
  box-shadow: 0 2px 8px -2px rgba(0, 0, 0, 0.125);
}

body .lui-backstage-panel-heading {
  border-bottom: 1px solid #d9d9d9;
}

body .lui-backstage-panel-heading-title {
  margin: -10px 0 -1px;
  padding: 10px 5px 8px;
  color: #6081F8;
  border-bottom: 2px solid #6081F8;
}

body .lui-backstage-panel-list li {
  width: 270px;
  padding-right: 20px;
}

body .lui-backstage-panel-list > li a:hover,
body .lui-backstage-panel-list > li a:hover .txt,
body .lui-backstage-panel-list .next-level-list li a:hover .txt {
  color: #6081F8;
}

body .lui-backstage-panel-list > li.has-next-level > .next-level-title a {
  border-left: 2px solid #6081F8;
}

body .lui-backstage-panel-body {
  padding: 10px;
}

body #newDiv {
  margin-top: 2px;
  margin-left: 6px;
}

/*审批流程概览 主题包优化 Ends*/
/*督办信息一览图 主题包优化 Starts*/
body .lui_hr_staff_panel_overview_frame {
  border: 1px solid #d9d9d9;
  background-color: #fff;
  -ms-box-shadow: 0 2px 8px -2px rgba(0, 0, 0, 0.125);
  -o-box-shadow: 0 2px 8px -2px rgba(0, 0, 0, 0.125);
  box-shadow: 0 2px 8px -2px rgba(0, 0, 0, 0.125);
}

body .lui_hr_staff_panel_overview_frame .lui_hr_staff_panel_title {
  padding: 8px 10px 7px;
  border-bottom: 1px solid #d9d9d9;
}

body .lui_hr_staff_panel_overview_frame .panel_btn_more {
  border-color: #d9d9d9;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: auto 16px;
  background-image: url(../images/icons/icon-more-hr-staff.png);
  transition-duration: .3s;
}

body .lui_hr_staff_panel_overview_frame .panel_btn_more:hover {
  color: #fff;
  border-color: #6081F8;
  background-color: #6081F8;
  background-image: url(../images/icons/icon-more-white.png);
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
  body .lui_hr_staff_panel_overview_frame .panel_btn_more {
    background-image: url(../images/icons/icon-more-hr-staff@2x.png);
  }
  body .lui_hr_staff_panel_overview_frame .panel_btn_more:hover {
    background-image: url(../images/icons/icon-more-white@2x.png);
  }
}

body .hr_staff_trends_tree em {
  color: #6081F8;
}

body .hr_staff_trends_tree dd > a:hover .trend_info {
  border-bottom: 1px solid #6081F8;
}

body .hr_staff_trends_tree .trend_info:hover,
body .hr_staff_trends_tree dd > a:hover .trend_info:hover {
  color: #6081F8;
}

/*督办信息一览图 主题包优化 Ends*/
/*学习管理 主题包优化 Starts*/
body .lui_course_btnW:hover a {
  color: #fff;
}

body #progressbar.ui-widget-content {
  margin-top: 0;
  height: 32px;
  border-color: #d9d9d9;
}

body .lui_course_btnBlueL {
  padding: 0px 12px;
  height: 34px;
  line-height: 34px;
  font-size: 16px;
}

body .lui_form_content_frame.lui_learn_content,
body .lui_form_content_frame.lui_learn_content .tabLearn {
  background-color: transparent;
}

/*学习管理 主题包优化 Ends*/
/*投票页面 主题包优化 Starts*/
body .lui_vote_portlet_slideContainer .vote_btn_bar .vote_btn {
  border-radius: 0;
}

/*投票页面 主题包优化 Ends*/
/*项目协作详页 主题包优化 Starts*/
body .lui_proItem_w,
body .lui_pro_basicInfo_w {
  margin-bottom: 10px;
}

body .lui_pro_panel_w {
  margin-bottom: 10px;
  background-color: #fff;
}

/*项目协作详页 主题包优化 Ends*/
/*【流程管理-流程查询内容】 主题包优化 Starts*/
body .lui-search-panel-list li {
  background-image: url(../images/icon-primary/icon-list.png);
}

body .lui-search-panel-list li.lui-search-panel-list-item a.selected {
  color: #6081F8;
}

body .lui-search-extra-more .arrow {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  background-image: none;
  margin-left: 2px;
  border-bottom: 4px dashed;
  border-bottom: 4px solid \9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  transition-duration: .3s;
}

body .lui-search-extra-more.expand .arrow {
  background-image: none;
  transform: rotate(-180deg);
}

/*【流程管理-流程查询内容】 主题包优化 Ends*/
/*【个人设置】 主题包优化 Starts*/
body .lui_person_per_right {
  padding: 10px;
}

body .lui_person_per_tab > li.lui_person_per_header .title {
  color: #333;
  font-size: 14px;
  font-weight: normal;
  position: absolute;
  left: 5px;
  top: 6px;
}

body .lui_person_base_up {
  position: absolute;
  right: 8px;
  top: 6px;
  width: 45px;
  text-align: right;
  height: 20px;
  display: block;
  color: #6081F8;
  font-size: 14px;
  font-weight: normal;
  transition-duration: .3s;
}

body .lui_person_base_up:hover {
  color: #4B71FA;
}

body .pwdLoginHis,
body .pwdOpSecure {
  margin: 10px 0 0;
  padding: 10px;
  background-color: #fff;
}

body .lui_tabpanel_list_frame .lui_zone_per_right {
  margin-top: 0;
  padding: 10px;
}

/*【个人设置】 主题包优化 Ends*/
/*投票管理 单选和多选  按钮 starts*/
body .lui_vote_portlet_slideContainer .vote_btn_bar {
  text-align: center;
}

body .lui_vote_portlet_slideContainer .vote_slide_hd .vote_slide_prev {
  left: 7px;
}

body .lui_vote_portlet_slideContainer .vote_slide_hd .vote_slide_next {
  right: 7px;
}

body .lui_vote_portlet_slideContainer .vote_result_list .vote_result_title .vote_opt_name .vote_radio input + i.item_radio,
body .lui_vote_portlet_slideContainer .vote_result_list .vote_result_title .vote_opt_name .vote_radio input + .item_checkbox,
body .lui_vote_portlet_slideContainer .vote_slide_hd .vote_slide_prev:hover,
body .lui_vote_portlet_slideContainer .vote_slide_hd .vote_slide_next:hover {
  background-image: url(../images/icon-multi-sprite/vote-sprite.png);
}

body .lui_vote_portlet_slideContainer .vote_result_list .vote_result_title .vote_opt_name .vote_radio input + .item_checkbox {
  height: 20px;
  background-position: -15px -66px;
}

body .lui_vote_portlet_slideContainer .vote_btn_bar .vote_btn {
  color: #6081F8 !important;
  border: 1px solid #6081F8 !important;
}

body .lui_vote_portlet_slideContainer .vote_btn_bar .vote_btn:hover {
  background-color: #6081F8 !important;
}

/*投票管理 单选和多选 按钮 ends*/
/* 附件机制 主题包优化 Starts */
.lui-upload-list-operation .lui-upload-list-opt-print {
  background-image: url(../images/icon-primary/form_icon_print.png);
}

.lui-upload-list-operation .lui-upload-list-opt-view {
  background-image: url(../images/icon-primary/form_icon_read.png);
}

.lui-upload-list-operation .lui-upload-list-opt-down {
  background-image: url(../images/icon-primary/form_icon_down.png);
}

.lui-upload-list-operation .lui-upload-list-opt-edit {
  background-image: url(../images/icon-primary/form_icon_edit.png);
}

.lui-upload-list-operation .lui-upload-list-filename-view a:hover {
  color: #6081F8;
}

/* 附件机制 主题包优化 Ends */
/* 常用搜索 Starts */
body .lui-search-panel-heading-title {
  color: #6081F8;
}

body .lui-search-panel-heading {
  border-bottom-color: #6081F8;
}

body .lui-cate-queryEmpty .queryEmpty-icon {
  background-image: url(../images/icon-primary/query-empty-icon.png);
}

/* 常用搜索 Ends */
