@charset "UTF-8";
/*应用场景 1默认页眉应用下拉搜索 2新建弹出框选择分类 3筛选页输入标题搜索 4展开筛选页搜索 starts*/
/* 雪碧图 16*16 灰色0 0 主色-20px 0 白色-40px 0*/
/*应用场景 1默认页眉应用下拉搜索 2新建弹出框选择分类 3筛选页输入标题搜索 4展开筛选页搜索 end*/
/* 后台管理页面相关样式 porfile.css Starts ++++++++++++++++++++++++++++++++++++++++ */
/* 头部 Starts */
.lui_profile_header_frame {
  background-color: #6081F8;
}

.lui_profile_header_navTop_item:hover,
.lui_profile_header_navTop_item.current,
.lui_profile_header_navTop_item.more.current,
.lui_profile_header_navTop_item.more:hover,
.lui_profile_header_navTop_item.lui_profile_navTop_over {
  background-color: #4B71FA;
  box-shadow: none;
}

.lui_profile_header_navTop_popup .lui_profile_header_navTop_item {
  background-color: #6081F8;
}

.lui_profile_header_navTop_popup .lui_profile_header_navTop_item:hover {
  background-color: #4B71FA;
}

.lui_portal_header_location:after {
  border-color: #fff;
  border-color: rgba(255, 255, 255, 0.35);
}

.lui_profile_userinfo {
  background-color: transparent;
}

.lui_profile_userinfo.lui_profile_userinfo_over {
  background-color: #4B71FA;
  background-color: rgba(255, 255, 255, 0.1);
}

.lui_profile_userinfo_header {
  background-color: #6081F8;
}

.location_input {
  border: 1px solid #d9d9d9;
}

.location_input.status_select {
  border-color: #6081F8;
}

.location_input .location_arrow:before {
  border-bottom-color: #d9d9d9;
}

.location_input .location_arrow:after {
  border-bottom-color: #fff;
}

.location_input.status_select .location_arrow:before {
  border-bottom-color: #6081F8;
}

/* 头部 Ends */
/* 左侧栏 Starts */
.lui_profile_navLeft_container {
  background-color: #333;
}

.lui_profile_navLeft_mask {
  background-color: rgba(0, 0, 0, 0.6);
}

.lui_profile_navLeft_item {
  margin-top: 2px;
  margin-bottom: 2px;
}

.lui_profile_link {
  border-left: 0;
}

.lui_profile_navLeft_item .lui_profile_link:hover,
.lui_profile_navLeft_item.current .lui_profile_link,
.lui_profile_navLeft_item.current .lui_profile_link:hover {
  color: #ffffff;
  background-color: #474747;
  background-color: rgba(255, 255, 255, 0.1);
}

/* 左侧栏 Ends */
/*收起 展开按钮starts*/
.lui_profile_moduleIndex_ctrlbtn:hover {
  background-color: #6081F8;
}

/*收起 展开按钮ends*/
.lui_profile_userinfo_header .lui_profile_userinfo_img {
  border-color: #6081F8;
}

/*#103867 后台配置-机制-格子视图图标与背景同色 注icon.css低版本图标需要白色icon  starts*/
.lui_profile_listview_search .lui_icon_on .lui_icon_s_more_default {
  background-image: url(../images/icon-primary/icon_more_default_on.png);
  margin: auto;
}

/*#103867 后台配置-机制-格子视图图标与背景同色 注icon.css低版本图标需要白色icon  ends*/
/* 后台管理页面相关样式 porfile.css Ends ++++++++++++++++++++++++++++++++++++++++ */
/* ===== 修改后台配置logo尺寸 Starts=====*/
.lui_porfile_header_logo {
  width: 165px;
}

/* 在后台配置logo的基础上加 30px */
.lui_profile_header_navTop {
  left: 195px;
}

/* ===== 修改后台配置logo尺寸 Ends =====*/
