@charset "UTF-8";
/*应用场景 1默认页眉应用下拉搜索 2新建弹出框选择分类 3筛选页输入标题搜索 4展开筛选页搜索 starts*/
/* 雪碧图 16*16 灰色0 0 主色-20px 0 白色-40px 0*/
/*应用场景 1默认页眉应用下拉搜索 2新建弹出框选择分类 3筛选页输入标题搜索 4展开筛选页搜索 end*/
/* 个人设置 Starts */
.lui_zone_base_up {
  height: auto;
  color: #6081F8;
  transition-duration: .3s;
}

.lui_zone_base_up:hover {
  color: #4B71FA;
}

.lui_zone_detail_header_c {
  color: #6081F8;
  font-size: 16px;
}

.lui_zone_detail_header_c .lui_zone_btn_edit,
.lui_zone_detail_header_c .lui_zone_btn_edit_r,
.lui_zone_detail_header_c .lui_zone_btn_edit_c {
  background-color: transparent;
  background-image: none;
  padding: 0;
  height: auto;
  line-height: inherit;
  color: inherit;
  font-size: inherit;
}

.lui_zone_btn_edit:hover,
.lui_zone_btn_edit:hover .lui_zone_btn_edit_r,
.lui_zone_btn_edit:hover .lui_zone_btn_edit_c {
  color: inherit;
  background-color: transparent;
  background-image: none;
}

.lui_zone_detail_header_c .lui_zone_btn_edit {
  padding: 1px 5px;
  line-height: 20px;
  color: #6081F8;
  font-size: 12px;
  border: 1px solid #6081F8;
  background-color: #fff;
}

.lui_zone_detail_header_c .lui_zone_btn_edit:hover {
  color: #fff;
  border-color: #6081F8;
  background-color: #6081F8;
}

.lui_sys_zone_panel_nav {
  color: #6081F8;
}

/* 个人设置 Starts */
/* 员工黄页通讯录 Starts */
body .lui_zone_address_iframe_wrap .lui_zone_address_containter {
  background-color: transparent;
}

.lui_personal_relation_item.item_team .lui_personal_relation_chain,
.lui_personal_relation_item.item_team .lui_personal_relation_team,
body .lui_zone_address_iframe_wrap .lui_zone_address_containter .lui_zone_address_content {
  border: 0;
  background-color: #fff;
  border-radius: 6px;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}

body .lui_zone_address_menus_ul > li.active > span,
body .lui_zone_address_menus_ul > li.active > span:hover {
  color: #6081F8;
  border-color: #6081F8;
}

body .lui_zone_address_menus_ul > li > span:hover {
  color: #6081F8;
}

body .lui_zone_address_tree a:hover,
body .lui_zone_address_tree .current a {
  color: #6081F8 !important;
}

body .lui_zone_address_category ul li:hover .group_name,
body .lui_zone_address_category ul li.active .group_name {
  color: #6081F8;
}

body .lui_zone_address_org dd.active .lui_zone_address_depItem .depImg,
body .lui_zone_address_org dd:hover .lui_zone_address_depItem .depImg {
  background-color: #6081F8;
}

body .lui_zone_address_org dd.active .lui_zone_address_personItem .personInfo .person_name,
body .lui_zone_address_org dd:hover .lui_zone_address_personItem .personInfo .person_name,
body .lui_zone_address_org dd.active .lui_zone_address_depItem .dep_name,
body .lui_zone_address_org dd:hover .lui_zone_address_depItem .dep_name {
  color: #6081F8;
}

/* 员工黄页通讯录 Ends */
/* 员工黄页-个人主页 Starts */
.lui_main_container .lui_list_body_frame {
  background-color: #fff;
}

.sys_zone_page_info_wrap {
  margin-bottom: 10px;
}

.sys-zone-card {
  border: 1px solid #d9d9d9;
}

.lui_zone_nav_box_new,
.lui_zone_nav_box_new:hover {
  height: 40px;
  border-radius: 0;
  background-color: #6081F8;
}

.lui_zone_nav_box_new .nav_link .left_row,
.lui_zone_nav_box_new .nav_link .right_row {
  display: block;
  width: 10px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  color: #666;
  font-size: 0;
  border-radius: 2px;
  background-color: #f8f8f8;
  transition-duration: .3s;
  cursor: pointer;
  position: absolute;
  top: 3px;
}

.lui_zone_nav_box_new .nav_link .left_row {
  left: 3px;
}

.lui_zone_nav_box_new .nav_link .right_row {
  right: 3px;
}

.lui_zone_nav_box_new .nav_link .left_row:after,
.lui_zone_nav_box_new .nav_link .right_row:after {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
}

.lui_zone_nav_box_new .nav_link .left_row:after {
  border-right: 4px dashed;
  border-right: 4px solid \9;
}

.lui_zone_nav_box_new .nav_link .right_row:after {
  border-left: 4px dashed;
  border-left: 4px solid \9;
}

.lui_zone_nav_box_new .nav_link .nav_link_frame {
  font-size: 0;
}

.lui_zone_nav_box_new .lui_zone_nav_bar_new li {
  padding-top: 4px;
  width: 120px;
}

.lui_zone_nav_box_new .lui_zone_nav_bar_new li.line {
  margin: 12px 5px;
  padding: 0;
  height: 16px;
  border-right: 1px solid #fff;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}

.lui_zone_nav_box_new .lui_zone_nav_bar_new li a {
  color: #fff;
  font-size: 16px;
  display: block;
}

.lui_zone_nav_box_new .lui_zone_nav_bar_new li,
.lui_zone_nav_box_new .lui_zone_nav_bar_new li a,
.lui_zone_nav_box_new .lui_zone_nav_bar_new li a:hover {
  height: 32px;
  line-height: 32px;
  border: 0;
}

.lui_zone_nav_bar_new li a:hover,
.lui_zone_nav_bar_new li a.com_btn_link {
  color: #333;
}

/*相似标签按钮*/
.lui_zone_similartag_on,
.lui_zone_similartag_off {
  border-color: #d9d9d9;
}

/*奖惩信息按钮*/
.lui_zone_experience_on,
.lui_zone_experience_off {
  border-color: #d9d9d9;
}

/*汇报关系按钮*/
.lui_zone_report_on,
.lui_zone_report_off {
  border-color: #d9d9d9;
}

/* 员工黄页-个人主页 Ends */
/* 员工黄页-个人关注信息 Starts */
.sys_zone_info_board_tag .tag_li {
  margin-top: 2px;
  margin-right: 15px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #6081F8;
}

.sys_zone_info_board_tag .tag_li:after {
  border-left-color: #6081F8;
}

.sys_zone_info_board_tag .tag_li > a:hover {
  color: #fff;
  color: rgba(255, 255, 255, 0.75);
}

.sys_zone_info_board_tag .tag_addli {
  margin-top: 2px;
}

.sys_zone_info_board_tag .tag_addli > .lui_zone_append_tag {
  width: 22px;
  height: 22px;
  border: 1px solid #6081F8;
  background-color: #6081F8;
  transition-duration: .3s;
}

.sys_zone_info_board_tag .tag_addli > .lui_zone_append_tag:hover {
  border-color: #4B71FA;
  background-color: #4B71FA;
}

/* 员工黄页-个人关注信息 Ends */
/* 员工黄页-搜索按钮 Starts */
.lui-zone-header-btn {
  background-color: #6081F8;
}

.lui-zone-header-btn:hover {
  background-color: #4B71FA;
}

body .flow_item_list a.p3:hover {
  color: #EFEFFC;
}

/* 员工黄页-搜索按钮 Ends */
/* 卡片 */
.sys_zone_card_frame .staff_name .pc_state_off {
  padding: 0 5px;
  font-size: 14px;
  border-radius: 4px;
}
