<?xml version="1.0" encoding="UTF-8"?>
<plugin
	xmlns="http://www.example.org/plugin-config"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.example.org/plugin-config ../../plugin.xsd ">
	
	<extension-point
		id="com.landray.kmss.km.calendar.cms">
		<item
			name="cms">
			<param
				name="key"
				kind="unid"
				required="true">
				<description>扩展对应的key值，如：google</description>
			</param>
			<param
				name="name"
				kind="unid"
				required="true">
				<description>扩展名称，如：google日历</description>
			</param>
			<param
				name="syncNow"
				kind="boolean"
				default="false"
				required="false">
				<description>是否立即同步，如果立即同步则不保存到接出表</description>
			</param>
			<param
				name="cmsService"
				kind="spring"
				basedOn="com.landray.kmss.km.calendar.cms.interfaces.ICMSProvider"
				required="true">
				<description>日程同步扩展实现，详见ICMSProvider接口说明</description>
			</param>
			<param
				name="OAuthService"
				kind="spring"
				basedOn="com.landray.kmss.km.calendar.cms.interfaces.IOAuthProvider"
				required="false">
				<description>OAuth扩展实现，只有当集成组件支持OAuth的时候才需要配置该节点</description>
			</param>
			<param
				name="bindPageUrl"
				kind="string"
				required="false">
				<description>绑定设置页面的链接，可选（针对非OAuth的情况）</description>
			</param>
			<param
				name="order"
				default="50"
				kind="int">
				<description>
					排序号，序号小的优先被调用。
				</description>
			</param>
			<description>
			</description>
		</item>
		<item name="syncOutLabel">
			<param
				name="provider"
				kind="spring"
				basedOn="com.landray.kmss.km.calendar.cms.interfaces.ISyncOutLabelProvider"
				required="false">
				<description>同步接出标签Provider</description>
			</param>
			<description>同步接出标签</description>
		</item>
		<item name="syncOutAuth">
			<param
				name="provider"
				kind="spring"
				basedOn="com.landray.kmss.km.calendar.cms.interfaces.ISyncOutAuthProvider"
				required="false">
				<description>同步接出个人共享设置Provider</description>
			</param>
			<description>同步接出个人共享设置</description>
		</item>
		<description>日程相关拓展点</description>
	</extension-point>
	
	<extension
		point="com.landray.kmss.sys.agenda">
		<item
			name="publish">
			<param
				name="name"
				value="kmCalendar" />
			<param name="service" value="kmCalendarMainService"/>
		</item>
	</extension>
	
	<!-- webservice2 -->
	<extension
		point="com.landray.kmss.sys.webservice2">
		<item
			name="registry">
			<param
				name="serviceName"
				value="日程管理" />
			<param
				name="serviceClass"
				value="com.landray.kmss.km.calendar.webservice.IKmCalendarWebserviceService" />
			<param
				name="serviceBean"
				value="kmCalendarWebserviceService" />		
			<param
				name="serviceDoc"
				value="/km/calendar/km_calendar_webservice/kmCalendarWebServiceHelp.jsp" />
		</item>
	</extension>
	
	<extension point="com.landray.kmss.sys.mobile.compress" model="*">
		<item name="js-pkg">
			<param name="name" value="mui-calendar.js" />
			<param name="targetFile" value="/km/calendar/mobile/resource/js/mui-calendar.js" />
			<param name="srcFold" value="/km/calendar/mobile/resource/js" />
		</item>
		<item name="css-file">
			<param name="name" value="mui-calendar-edit.css" />
			<param name="targetFile" value="/km/calendar/mobile/resource/css/edit.css" />
		</item>
	</extension>
	
	<!-- action拦截 -->
	<extension point="com.landray.kmss.common.actions">
		<item name="interceptor">
			<param name="bean" value="jsonActionInterceptor" />
			<param name="order" value="60" />
		</item>
	</extension>
	
	<extension point="com.landray.kmss.sys.admin.transfer">
		<item name="config">
			<param
				name="unid"
				value="com.landray.kmss.km.calendar.transfer.KmCalendarAuthTransferTask" />
			<param
				name="name"
				value="日程权限数据迁移" />
			<param
				name="path"
				value="/km/calendar/" />
			<param
				name="check"
				value="com.landray.kmss.km.calendar.transfer.KmCalendarAuthTransferChecker" />	
			<param
				name="upgrade"
				value="com.landray.kmss.km.calendar.transfer.KmCalendarAuthTransferTask" />
			<param
				name="description"
				value="对通过群组方式创建的日程的权限数据进行迁移，启用新的权限规则" />
		</item>
	</extension>	
	<!-- 数据中台 -RTF -->
	<extension point="com.landray.kmss.sys.xform.maindata.rtf">
		<item name="config">
			<!-- 主文档全名称 -->
			<param
				name="modelName"
				value="com.landray.kmss.km.calendar.model.KmCalendarMain" />
			<param
				name="fields"
				value="docContent" />
		</item>
	</extension>
	
	<!-- 下属工作 -->
	<extension point="com.landray.kmss.sys.subordinate">
		<item name="config">
			<param
				name="modelName"
				value="com.landray.kmss.km.calendar.model.KmCalendarMain" />
			<param
				name="messageKey"
				value="km-calendar:table.kmCalendarMain" />
			<param
				name="moduleMessageKey"
				value="km-calendar:module.km.calendar" />
			<param
				name="type"
				value="person" />
			<param
				name="provider"
				value="com.landray.kmss.km.calendar.subordinate.KmCalendarMainProvider" />
			<param
				name="indexPath"
				value="/km/calendar/subordinate/kmCalendarMain_index.jsp" />
			<param
				name="listPath"
				value="/km/calendar/km_calendar_main/kmCalendarMain_page.jsp" />
			<param
				name="viewPath"
				value="/km/calendar/subordinate/kmCalendarMain_view.jsp" />
		</item>
	</extension>
	<extension
		point="com.landray.kmss.third.im.kk.transfer">
		<item
			name="config">
			<param
				name="key"
				value="schedule" />
			<param
				name="method"
				value="getKKConfig" />
			<param
				name="service"
				value="kmCalendarMainService" />
			<param
				name="modelName"
				value="com.landray.kmss.km.calendar.model.KmCalendarBaseConfig" />
		</item>
	</extension>
	
	<extension point="com.landray.kmss.sys.admin.transfer">
		<item name="config">
			<param
				name="unid"
				value="com.landray.kmss.km.calendar.transfer.KmCalendarLabelTransferTask" />
			<param
				name="name"
				value="日程标签数据迁移" />
			<param
				name="path"
				value="/km/calendar/" />
			<param
				name="check"
				value="com.landray.kmss.km.calendar.transfer.KmCalendarLabelTransferChecker" />	
			<param
				name="upgrade"
				value="com.landray.kmss.km.calendar.transfer.KmCalendarLabelTransferTask" />
			<param
				name="description"
				value="删除时间管理后台标签管理下的系统重复标签，迁移用户日程数据并删除用户的重复标签" />
		</item>
	</extension>
	
	<extension point="com.landray.kmss.sys.admin.transfer">
		<item name="config">
			<param
				name="unid"
				value="com.landray.kmss.km.calendar.transfer.KmCalendarShareAuthTransferTask" />
			<param
				name="name"
				value="日程个人共享权限数据迁移" />
			<param
				name="path"
				value="/km/calendar/" />
			<param
				name="check"
				value="com.landray.kmss.km.calendar.transfer.KmCalendarShareAuthTransferChecker" />	
			<param
				name="upgrade"
				value="com.landray.kmss.km.calendar.transfer.KmCalendarShareAuthTransferTask" />
			<param
				name="description"
				value="对原有的个人共享权限进行数据迁移，启用新的共享权限规则" />
		</item>
	</extension>
</plugin>