/*----- 勋章移动端 -----*/
/* 员工黄页修改 */
.mui_zone_perinfo {
    /*padding-top: 1.5rem;*/
}

/*勋章列表页入口*/
.mui_zone_medalList_enter {
    background: #FDBE29;
    min-width: 30px;
    display: inline-block;
    position: absolute;
    color: #fff;
    top: 12px;
    right: 0;
    text-align: right;
    padding-right: 5px;
    font-size: 12px;
    padding-left: 5px;
    height: 20px;
    line-height: 20px;
}

.mui_zone_medalList_enter:before {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: solid;
    border-color: transparent #FDBE29 transparent transparent;
    /*透明 灰 透明 透明 */
    position: absolute;
    left: -20px;
    top: 0;
}

.mui_zone_medalList_enter span {
    line-height: 20px;
}

.mui_zone_icon_medal {
    display: inline-block;
    width: 15px;
    height: 19px;
    background: url(../images/icon_medal.png) no-repeat;
    background-size: cover;
    vertical-align: top;
    margin-right: 5px;
}

/* 勋章列表页 */
.mui_medal_list_title {
    padding: 15px;
    font-weight: normal;
    font-size: 1.8rem;
}

.mui_medal_list_content {
    width: 33.333333%;
    padding-bottom: .5rem;
    float: left;
    overflow: hidden;
}

.mui_medal_list_content .muiMedalImg {
   clear: both;
    /* height: 7rem; */
    margin-bottom: .2rem;
    overflow: hidden;
    /* display: table-cell; */
    vertical-align: middle;
    text-align: center;
    padding: 15px 5px;
}

.mui_medal_list_content .muiMedalImg span{
      vertical-align: middle;
    text-align: center;
}

.muiPortalInfoBox{
	vertical-align: middle;
    text-align: center;
}

.muiPortalInfoBox p{
	font-size: 1.4rem;
    color: #999;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-top: 10px;
    overflow: hidden;
    line-height: 14px;
}

.mui_medal_list_content .muiPortalSubjectName {
    width: 96%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}

.mui_medal_list_content ul li {
    flex: 1;
    text-align: center;
    box-sizing: border-box;
    padding: 15px 5px;
    min-height: 105px;
    /* 做标题超出省略*/
    width: 1px;
    /* box-shadow: 0 0 6px rgba(0,0,0,0.2); */
    /* margin: 5px; */
    border-radius:3px;
}

.mui_medal_list_content ul li:last-child {
    border-right: none;
}

.mui_medal_list_content ul li:first-child {
    border-left: none;
}

.mui_medal_list_content ul li.status_empty {
    box-shadow:none;

}

.mui_medal_list_content ul li img {
    width: 80px;
    height: 80px;
}

/* 关闭按钮 */
.mui_medal_close {
    position: absolute;
    right: 0px;
    top: 0px;
    border: 10px solid transparent;
}

.mui_medal_detail_pop .mui_medal_close i {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../images/icon-close.png);
    background-size: cover;
}

/* 失效 */
.mui_medal_list_content .status_abate {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
}

.status_abate_span {
    display: inline-block;
    background: #999;
    color: #fff;
    font-size: 12px;
    padding: 0px 3px;
    border-radius: 3px;
    margin-right: 3px;
    font-size: 10px;
}

.mui_medal_list_content ul li p {
    font-size: 1.4rem;
    color: #999;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-top: 10px;
    overflow: hidden;
    line-height: 14px;
}

/* 勋章详情页 */
.mui_medal_detail_pop {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

/*列表banner*/
.mui_medal_banner {
    height: 185px;
    background: #4588F4 url(../images/medal_banner_list.jpg) no-repeat left top;
    background-size: cover;
    display: flex;
    align-items: center;
}

/* 缺省 */
.mui_medal_banner.mui_medal_banner_default {
    background: url(../images/meadal_banner_default.jpg) no-repeat left top;
    background-size: cover;
}

.mui_medal_banner .mui_medal_list_title {
    color: #fff;
    font-size: 21px;
    margin-bottom: 10px;
    font-weight: bold;
}

.mui_medal_banner .mui_medal_list_title .mui_medal_tips {
    margin-bottom: 10px;
}

.mui_medal_banner .mui_medal_list_title .mui_medal_tips em {
    font-size: 34px;
    color: #FFDA85;
    margin-left: 5px;
    margin-right: 5px;
}

.mui_medal_banner .mui_medal_list_title .mui_mdeal_emotion_tips {
    text-align: right;
    font-size: 28px;
}

/* 默认状态banner*/
/* 遮罩 */
.mui_medal_mask {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,0.3);
}

.mui_medal_mask.show {
    display: block;
}

/* 详情页banner*/
.mui_medal_detail_pop {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    border-radius: 5px;
    background: #fff;
    height: 428px;
    width: 90%;
    margin: auto;
}

.mui_medal_detail_banner {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #4588F4 url(../images/medal_banner_detail.jpg) no-repeat left top;
    background-size: cover;
    height: 110px;
}

.mui_medal_img_content {
    margin-top: -70px;
    padding-bottom: 38px;
    position: relative;
}

.mui_medal_img_content img {
}

.mui_medal_img_content:after {
    content: "";
    display: inline-block;
    width: 110px;
    height: 15px;
    border-radius: 50%;
    background-color: #f8f8f8;
    position: absolute;
    top: 107px;
    left: 50%;
    /* margin-left: 50%; */
    transform: translateX(-50%);
}

.mui_medal_detail_title {
    padding: 1rem;
    text-align: center;
    font-weight: normal;
    font-size: 1.8rem;
}

.mui_medal_detail_content {
    text-align: center;
}

.mui_medal_detail_content img {
    width: 100px;
    height: 100px;
}

/* 失效 */
.status_abate .mui_medal_detail_content img {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
}

.mui_medal_detail_content .medal_name {
    color: #4285F4;
    line-height: 22px;
    margin-bottom: 15px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 24px;
}

.mui_medal_detail_content .medal_name span {
    font-size: 24px;
    vertical-align: middle;
}

.mui_medal_detail_content .medal_name em {
    vertical-align: middle;
    margin-right: 5px;
}

.mui_medal_detail_content .medal_category {
    margin-bottom: 4px;
    font-size: 14px;
    color: #666;
}

.mui_medal_detail_content .medal_date {
    margin-bottom: 4px;
    color: #999;
    font-size:12px;
}

.mui_medal_detail_content .medal_get {
    margin-bottom: 20px;
    color: #999;
    font-size:12px;
}

.mui_medal_detail_content .medal_summary {
    color: #999;
    line-height: 20px;
    font-size: 12px;
    max-height: 120px;
    overflow: auto;
    padding: 0 10px;
    text-align: justify;
    text-align: center;
}

.mui_medal_detail_content .medal_summary span {
    text-align: left;
    display: inline-block;
    white-space: normal;
    word-break: break-all;
}

/* 动画 */
.mui_medal_detail_pop {
    -webkit-transform: perspective(1200px) rotateY(180deg) scale(0.01);
    transform: perspective(1200px) rotateY(180deg) scale(0.01);
    opacity: 0;
    -webkit-transition: 0.8s all;
    transition: 0.8s all;
}

.mui_medal_detail_pop.open {
    opacity: 1;
    -webkit-transform: perspective(1200px) rotateY(0deg) scale(1);
    transform: perspective(1200px) rotateY(0deg) scale(1);
    -webkit-transform: translateZ(1200px);
    transform: translateZ(1200px);
}

/* 缺省 */
.mui_medal_list_default_imgContent {
    position: absolute;
    left: 0;
    right: 0;
    top: 185px;
    bottom: 0;
    margin: auto;
    height: 212px;
    text-align: center;
}

.mui_medal_list_default_imgContent .mui_medal_list_default_img {
    display: inline-block;
    width: 195px;
    height: 190px;
    background: url(../images/medal_list_default.png);
    background-size: cover;
}

.mui_medal_list_default_imgContent .mui_medal_txt {
    color: #999;
    font-size: 16px;
    margin-top: 10px;
}

.muiMedalMask {
    position: fixed;/* 当画面出现了滚动条的时候，absolute 是有问题的。改成fixed定位 */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.7);
    z-index: 2;
    overflow: hidden;
    -webkit-transition: opacity .2s linear;
    opacity: 0;
}
