.muiNewsListItem{
	position: relative;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    margin-top: 1.2rem;
}

.muiNewsListItem{
	padding-bottom: 1rem;
}
.muiNewsListItem:after{
    content: " ";
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    right: 0;
    border-bottom: 1rem solid #F2F2F2;
}

.muiNewsListItemTitle{
	min-height: 2.2rem;
    font-weight: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    word-wrap: break-word;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    -webkit-box-pack: start;
    box-pack: start;
    -webkit-box-align: start;
    box-align: start;	
}

.muiNewsListItemTopTag{
	display: inline-block; 
	font-size: var(--muiFontSizeS);
    color: var(--muiFontColor);
    margin-right: .4rem;
    padding-top: 0;
    padding-bottom: 0;
    height: 1.8rem;
    line-height: 2rem;  
}

.muiNewsListItemSummary{
	font-weight: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    word-wrap: break-word;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    -webkit-box-pack: start;
    box-pack: start;
    -webkit-box-align: start;
    box-align: start;	
}

.muiNewsListItemSummary{
    color: #646A86;
    margin-top: 1rem;
}

.muiNewsListItemIcon{
	margin-top: 1rem;
	height: 17rem;
	box-shadow: 0 0 30px 0 rgba(153,179,210,0.20);
    border-radius: .6rem;
}

.muiNewsListItemIcon .muiNewsListItemImg{
    display: block;
    height: 100%;
    background-position: 50%;
    background-size: cover;
    border-radius: .6rem;
}

.muiNewsListItemFooter{
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.muiNewsListItemFooter>div{
	display: inline-block;
    height: 2rem;
    line-height: 2rem;
    vertical-align: bottom;
}
.muiNewsListItemFooter>div.muiNewsListItemCreator {
    max-width: 12rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.muiNewsListItemFooter>div.muiNewsListItemCreated{
	margin-left: 1rem;
}

.muiNewsListItemFooter>div.muiNewsListItemRead{
	float: right;
}

.muiNewsListItemRead .muiNewsListItemReadNum{
	margin-right: .4rem;
    font-family: "landray-number", fontnumber,-apple-system, SF UI Text, Arial, PingFang SC, Hiragino Sans GB, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif;
}

.muiNewsListItemRead .muiNewsListItemReadViewText{

}