@charset "utf-8";

/* CSS reset */

body,
input,
textarea,
div,
a,
table,
tr,
td,
th {
	font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", "SimSun", "Tahoma", sans-serif!important;
	font-size: 14px;
}

body {
	color: #333;
	-webkit-text-size-adjust: none;
}

body,
div,
dl,
dt,
dd,
ul,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
	margin: 0;
	padding: 0;
}

ul,
li {
	padding: 0;
	margin: 0;
	list-style: none;
}

/*---------- 设置浏览器 ----------*/
.custom_body{ background:#f1f1f1;}
.custom_main_content{ width: 90%; min-width: 920px; max-width: 1160px; margin:20px auto; background:#fff; padding:20px;}
.custom_title{ font-size: 18px; font-weight: normal; text-align: center; margin:0px 0 15px;}
.custom_item_wrap{ margin:10px 0;}
.custom_item_wrap p{ line-height: 22px;}
.custom_list li{ line-height: 22px;}
.custom_list{ padding:5px 10px;}

.custom_sub_title{ margin:0 0 5px; font-size: 16px; font-weight: normal;}
