/* 扫码登陆 调整 */
/* 扫码登陆二维码调整 */
.form_qrcode_content {
    text-align: center;
    display: none;
    min-height: 300px;
}

#qrcode_ding{
    width:240px;
    height:280px;
    background:#fff;
    margin: 10px auto;
    border-radius: 4px;
    overflow:hidden;
}
#qrcode_kk{
    width:240px;
    height:240px;
    background:#fff;
    margin: 10px auto;
    border-radius: 4px;
    overflow:hidden; 
}

#qrcode_ding iframe{
    position:relative;
    top:-20px;
}

.form_qrcode_content_inner {
}

.form_qrcode_content_back {
    text-align: center;
    width: 240px;
    margin: 0 auto;
    cursor: pointer;
    padding-bottom: 10px;
}