
/* CSS reset */
body, input, textarea, select, div, a, table, tr, td, th{
  font-family: "PingFang SC", "Lantinghei SC", "Helvetica Neue", Arial, "Microsoft YaHei", "WenQuanYi Micro Hei", "Heiti SC", "Segoe UI",  sans-serif;
  font-size: 14px;
}
body {
  color: #333;
  background-color: transparent;
  -webkit-text-size-adjust: none;
}
 
body, div, dl, dt, dd, ul, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img {
  border: 0;
}
div[name="rtf_docContent"] pre{
    white-space:pre-wrap; 
    word-break:normal;
    word-wrap:break-word!important;
    
}



div[name="rtf_docContent"] {
    max-width: 100%;
    overflow-x:auto;
}


.cke_editable pre{
  white-space:pre-wrap; 
}
a {
  color: #333;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  color: #3eb2e6;
}
abbr, acrnym {
  border: 0;
}
input::-ms-clear {
  display: none;
}

/*输入框的小叉叉图标消失*/
*:focus {
  outline: none;
}

/* 去掉输入框点击时的边框 */
.cke_editable {
  padding: 5px;
  height: 95%;
}
.cke_editable ul {
  padding-left: 40px;
  margin: auto;
  list-style: disc;
}
[flagtype="xform_rtf"] ul{
  padding-left: 40px;
  list-style: disc;
}
.cke_editable p a,
body div[name="rtf_docContent"] a,
body div[name="rtf_docContent"] a:link {
  color: #37ace1;
  font-size: inherit;
  text-decoration: underline;
}
.cke_editable p a:hover,
body div[name="rtf_docContent"] a:hover{
  opacity: .75;
}
.cke_editable table > tbody > tr > td,
.lui_wiki_content_catelog table > tbody > tr > td,
div[name="rtf_docContent"] table > tbody > tr > td{
  border: 1px solid #000;
  padding: 0 5px;
}

.cke_editable table,
.lui_wiki_content_catelog table,
div[name="rtf_docContent"] table{
  border-color: #000;
}

.cke_editable blockquote,
div[name="rtf_docContent"] blockquote{
  padding-left: 10px;
  border-left: 3px solid #ddd;
}


/*系统全局功能*/
.textEllipsis {
  width: 99%;
  overflow: hidden;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.clr {
  clear: both
}
.clearfloat {
  zoom: 1;
}

/*@清除浮动 */
.clearfloat:after {
  display: block;
  content: "";
  clear: both;
  line-height: 0;
  visibility: hidden;
}

/*边框 Starts*/
.lui_border_t{ border-top: 1px solid #384b69; }
.lui_border_b{ border-bottom: 1px solid #384b69; }
.lui_border_l{ border-left: 1px solid #384b69; }
.lui_border_r{ border-right: 1px solid #384b69; }

/*文本颜色 Starts*/
.lui_text_primary{ color: #51b6ec; }  /*主色值*/
.lui_text_alter{ color: #30a4dc; }  /*主色交互色值*/

.lui_text_info{ color: #333; }  /*默认文本*/
.lui_text_muted{ color: #999; }  /*弱化文本*/

.lui_text_warning{ color: #f19703; }  /*警告*/
.lui_text_danger{ color: #ea4335; }  /*危险*/

/*文本颜色 Ends*/