/* ========== 人事员工关系模块公共 Starts ========== */
ul {
  list-style: none;
}

/* ===== 无边框表格 Starts ===== */
.lui_hr_tb_simple {
}
.lui_hr_tb_simple .tr_normal_title {
  text-align: right;
  vertical-align: middle;
}
.lui_hr_tb_simple td {
  /* vertical-align: top; */
}
.lui_hr_tb_simple select {
  height: 28px;
  line-height: 28px;
  border: 1px #b4b4b4 solid;
  box-sizing: content-box;
}
/* 提示信息行 */
.lui_hr_tb_simple .lui_hr_tr_assit td {
  padding-top: 0;
  padding-bottom: 0;
  font-size:12px;
}
/* ===== 无边框表格 Ends ===== */

/* ===== 验证信息 Starts ===== */
.lui_hr_validation_msg {
  padding-left: 20px;
  font-size: 12px;
}
.lui_hr_validation_msg .lui_hr_validation_icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;
  position: absolute;
  margin-left: -20px;
  margin-top: 1px;
}
/* 文字也为红色 */
.lui_hr_validation_msg.msg_danger {
  color: #e33030;
}
/* 红色错误警告 */
.lui_hr_icon_error {
  background-image: url(../images/icon_error.png);
}
/* 蓝色警告 */
.lui_hr_icon_info_warning {
  background-image: url(../images/icon_info_warning.png);
}
/* 红色警告 */
.lui_hr_icon_danger_warning {
  background-image: url(../images/icon_danger_warning.png);
}
/* 黄色警告 */
.lui_hr_icon_warning {
  background-image: url(../images/icon_warning.png);
}
/* === 提示信息框 Starts === */
.lui_hr_tip_alert {
  margin: 30px 0 0;
  padding: 10px 0;
  background: #ecf3fe;
  border: 1px solid #9ec1fb;
  border-radius: 4px;
  display: table;
  table-layout: fixed;
  width: 100%;
}
.lui_hr_tip_alert.alert_info {
  background: #ecf3fe;
  border: 1px solid #9ec1fb;
}
.lui_hr_tip_alert_L {
  display: table-cell;
  vertical-align: middle;
  padding-left: 15px;
}
.lui_hr_tip_alert_R {
  padding-right: 15px;
  display: table-cell;
  vertical-align: middle;
  text-align: right;
}
.lui_hr_tip_alert_R .lui_text_primary{
  
text-decoration: underline;
}
/* === 提示信息框 Starts === */
/* ===== 提示信息 Ends ===== */


/* 辅助字体 */
.lui_hr_assist_txt {
  color: #999;
}
.lui_hr_secondary_txt {
  color: #666;
}
/* 公共按钮 */
.lui_hr_btn {
  display: inline-block;
  font-size: 14px;
  border: 1px solid;
  padding: 5px 12px;
  border-radius: 4px;
}
/* 原子类名 */
.mtr15 {
  margin-left: 15px;
}
.mtl15 {
  margin-left: 15px;
}
.mtl10 {
  margin-left: 10px;
}
/* 分割线 */
.lui_hr_split {
  border: 1px dashed #ccc;
  margin: 20px;
}

/* ===== 状态颜色 Starts ===== */
.lui_hr_status_tryout {
  color: #33a312; /*试用*/
}
.lui_hr_status_trial{
	color: #33a312; /*试用*/
}
.lui_hr_status_practice,.lui_hr_status_official,.lui_hr_status_temporary,.lui_hr_status_trialDelay,.lui_hr_status_dismissal,.lui_hr_status_leave,.lui_hr_status_retire{
	color: #4285f4;
}
.lui_hr_status_doing {
  color: #4285f2;
  /* 进行中 */
}
/* ===== 状态颜色 Ends ===== */

/* ===== 列表中带点的状态 Starts ===== */
.lui_hr_status_link {
}
.lui_hr_status_link:before {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-radius: 50%;
  border: 2px solid #f00;
  border-color: inherit;
  border-color:initial;
  vertical-align: middle;
  margin-right: 5px;
}
.lui_hr_status_link.status_fire:before {
  color: #999;
}
.lui_hr_status_link.status_normal {
  color: #4285f2;
}
.lui_hr_status_link.status_normal:before {
  color: #4285f2;
}
.lui_hr_status_link.status_warning:before {
  color: #ff1616;
}

/* ===== 信息确认 Starts ===== */
.lui_hr_confirm_wrap {
  padding: 20px;
  font-size: 12px;
}
.lui_hr_confirm_list {
  margin: 20px;
}
.lui_hr_confirm_list li {
  line-height: 20px;
  font-size: 12px;
}
.lui_hr_confirm_list li:before {
  content: "";
  display: inline-block;
  width: 3px;
  height: 3px;
  background: #666;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 10px;
}
.lui_hr_confirm_wrap .lui_hr_secondary_txt {
  margin-left: 20px;
}
/* ===== 信息确认 Ends ===== */

/* ===== 列表中-合同信息、人员信息 Starts ===== */
.lui_hr_list_info {background: #F3F8FF;padding: 5px;text-align: left;/* min-width: 166px; */}
.lui_hr_list_info .lui_hr_assist_txt {
  font-size: 12px;
}
.lui_hr_list_info .lui_hr_list_info_desc {
  font-size: 12px;
  text-align: left;
  margin-top: 5px;
}
.lui_hr_list_info .lui_hr_list_info_desc:empty{
  display:none;
}
/* ===== 列表中-合同信息、人员信息 Ends ===== */


/* ===== 链接组-列表页面使用 Starts ===== */
.lui_hr_link_group {
}
.lui_hr_link_group .lui_text_primary:before {
  content: "";
  display: inline-block;
  height: 12px;
  background: #6666;
  width: 1px;
  vertical-align: middle;
  margin-right: 10px;
  margin-left: 10px;
}
.lui_hr_link_group .lui_hr_link_item:first-child .lui_text_primary:before {
  display: none;
}
/* ===== 链接组-列表页面使用 Ends ===== */

/* ===== 弹出框底部操作按钮 Starts ===== */
.lui_hr_dialog_btnGroup {
  display: table;
  width: 100%;
  table-layout: fixed;
}
.lui_hr_dialog_btnGroup_L {
  display: table-cell;
  vertical-align: middle;
}
.lui_hr_dialog_btnGroup_R {
  display: table-cell;
  vertical-align: middle;
}
/* ===== 弹出框底部操作按钮 Ends ===== */



/* ===== 弹出框内多标签 Starts ===== */
.lui_hr_tab_frame {
}
.lui_hr_tab_head {
  border-bottom: 1px solid #ccc;
  text-align: center;
}
.lui_hr_tab_head ul {
  display: inline-block;
}
.lui_hr_tab_head li {
  display: inline-block;
  border-bottom: 2px solid transparent;
  padding: 10px;
  margin: 0;
  cursor: pointer;
}
.lui_hr_tab_head li.current {
  color: #4285f4;
  border-bottom-color: #4285f4;
}
.lui_hr_tab_content {
  padding: 10px;
}
/* ===== 弹出框内多标签 Ends ===== */

/* ===== 步骤条-三级页面 starts ===== */
.lui_hr_step_wrap {
  margin-top: 50px;
  text-align: center;
}
.lui_hr_step {display: inline-block;}
.lui_hr_step_item {
  overflow: hidden;
  position: relative;
  font-size: 0;
  display: inline-block;
  margin: 5px 0;
}
.lui_hr_step_tail {
 
}
.lui_hr_step .lui_hr_step_item:first-child .lui_hr_step_item_tail{
  display:none;
}
.lui_hr_step_item_tail {
  display: inline-block;
  width: 47px;
  height: 1px;
  background: #ccc;
  margin-right:20px;
  position:relative;
  top: -5px;
}

.lui_hr_step_item_head {
  position: relative;
  display: inline-block;
  padding: 0 2px 0 0;
  margin-right: -2px;
  background: #fff;
}

.lui_hr_step_item_number {
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  border: 1px solid #4285f4;
  color: #4285f4;
  border-radius: 100%;
  font-size: 16px;
  background-color:#fff;
  display: inline-block;
  font-size:12px;
  position:absolute;
  left: 22px;
  top: 20px;
  display: none;
}
.lui_hr_step_icon_add {
  background-image: url(../images/step_item_01@2x.png);
}
.lui_hr_step_icon_submit {
  background-image: url(../images/step_item_02@2x.png);
}
.lui_hr_step_icon_confirm {
  background-image: url(../images/step_item_03@2x.png);
}
/* IE8下使用一倍图 */
@media \0screen {
  .lui_hr_step_icon_add {
  background-image: url(../images/step_item_01.png);
}
.lui_hr_step_icon_submit {
  background-image: url(../images/step_item_02.png);
}
.lui_hr_step_icon_confirm {
  background-image: url(../images/step_item_03.png);
}
}

.lui_hr_step_icon {
  display: inline-block;
  width: 45px;
  height: 45px;
  margin: 0 12px 0 0;
  vertical-align: middle;
  background-size: 45px auto;
  background-repeat: no-repeat;
  background-position: center;
}
.lui_hr_step_item_main {
  display: inline-block;
  position: relative;
  vertical-align: top;
  padding-left: 9px;
  padding-right: 20px;
  background-color: #ffffff;
}
.lui_hr_step_item_title {
  font-size: 22px;
}
/* ===== 步骤条-三级页面 ends ===== */

/* ===== 折叠面板 Starts ===== */
.lui_hr_accordionpanel_frame {
}
.lui_hr_accordionpanel_header {
  padding: 10px;
}
.lui_hr_tb_simple tr th {
  background: #f9f9f9;
  font-weight: normal;
  padding: 8px 0;
}
.lui_hr_accordionpanel_header .lui_hr_arrow {
  margin-left: 10px;
  color: #979797;
}
/* ===== CSS箭头 Starts ===== */
.lui_hr_arrow {
  position: relative;
  width: 16px;
  height: 16px;
  display: inline-block;
}

.lui_hr_arrow:before,
.lui_hr_arrow:after {
  content: "";
  width: 0;
  height: 0;
  border: 5px solid transparent;
  position: absolute;
}
/* 下箭头 */
.lui_hr_arrow.arrow_down:before,
.lui_hr_arrow.arrow_down:after {
  border-top-color: #ffffff;
  top: 4px;
  left: 0;
}

.lui_hr_arrow.arrow_down:before {
  border-top-color: inherit;
  top: 5px;
}

.lui_hr_arrow.arrow_down:after {
}

/* 上箭头 */
.lui_hr_arrow.arrow_up:before,
.lui_hr_arrow.arrow_up:after {
  border-bottom-color: #fff;
  position: absolute;
  left: 0;
  top: -4px;
}

.lui_hr_arrow.arrow_up:before {
  border-bottom-color: inherit;
  top: -5px;
}

.lui_hr_arrow.arrow_up:after {
}

/* 左箭头 */
.lui_hr_arrow.arrow_left:before,
.lui_hr_arrow.arrow_left:after {
  border-right-color: #fff;
  position: absolute;
  left: -4px;
  top: 0;
}

.lui_hr_arrow.arrow_left:before {
  border-right-color: inherit;
  left: -5px;
}

.lui_hr_arrow.arrow_left:after {
}

/* 右箭头 */
.lui_hr_arrow.arrow_right:before,
.lui_hr_arrow.arrow_right:after {
  border-left-color: #fff;
  position: absolute;
  right: -4px;
  top: 0;
}

.lui_hr_arrow.arrow_right:before {
  border-left-color: inherit;
  right: -5px;
}

.lui_hr_arrow.arrow_right:after {
}
/* ===== CSS箭头 Ends ===== */


/* ========== 步骤列表 Starts ========== */

.lui_hr_step_list_item {
  margin-top: 30px;
  margin-bottom: 10px;
  display: table;
}
.lui_hr_step_title {
  display: table-cell;
  margin: 0 0 0 2px;
  padding: 0 14px 0 0;
  font-size: 14px;
  vertical-align: top;
  width:60px;
}
.lui_hr_step_title:before {
  display: inline-block;
  content: "";
  width: 0;
  height: 0;
  border: 2px solid;
  border-radius: 50%;
  vertical-align: middle;
}
.lui_hr_step_content {
  display: table-cell;
}
.lui_hr_step_list_item .lui_hr_btnGroup {
  margin: 20px 0 0;
}

.lui_hr_btn_browse {height: 30px;line-height: 30px;padding-top: 0;padding-bottom: 0;cursor: p;}
select.lui_hr_select_upload {
  height: 28px;
  line-height: 28px;
  border: 1px #b4b4b4 solid;
  box-sizing: content-box;
}
/* 步骤列表 Ends */

/*弹框底部按钮starts*/
.lui_hr_footer_btnGroup {
  padding: 10px;
  border-top: 1px solid #dddddd;
  border-radius: 2px;
  text-align: right;
  position: fixed;
  bottom: 0;
  background: #fff;
  width: 580px;
}
.lui_hr_footer_btnGroup .lui_widget_btn{
  margin-left:10px;
}
/*弹框底部按钮ends*/


/* ========== 人事员工关系模块公共 Ends ========== */

/* ========== 批量确认到岗 Ends ========== */

/* ===== 列表区域 Starts ===== */

.lui_hr_content_table {
  width: 100%;
}

.lui_hr_content_table tr.lui_hr_table_title th {
  line-height: 20px;
  padding: 10px;
  background: #f7f7f7;
  border-top: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
  color: #333333;
  font-size: 16px;
  box-shadow: 0 1px 0 0 #e5e5e5;
  vertical-align: middle;
  text-align: left;
}

.lui_hr_content_table tr td {
  line-height: 20px;
  padding: 10px;
  text-align: center;
  color: #333333;
  font-size: 14px;
  background: #fdfdfd;
  border-bottom: 1px solid #e8e8e8;
  vertical-align: middle;
  text-align: left;
}

.lui_hr_content_table td.lui_hr_text_left,
.lui_hr_content_table tr.lui_hr_table_title th.lui_hr_text_left {
  text-align: left;
}
.lui_hr_table_collapse tr:hover td {
  background-color: #f3f9ff;
}
.lui_hr_Leave_confirm_txt,
.lui_hr_Leave_edit_txt {
  margin-right: 4px;
  padding-right: 4px;
  border-right: 1px #ddd solid;
}

/*人员信息 ends*/

/* ===== 待离职模块 Ends ===== */

/* ===== 人事调动模块 Starts ===== */
.lui_hr_transfer_title {
  display: inline-block;
  height: 100%;
  line-height: 100%;
  vertical-align: middle;
}
.lui_hr_transfer{
  background: #f3f8ff;
  padding: 8px 8px;
  text-align: left;
}
.lui_hr_transfer_info {
  display: inline-block;
  margin-left: 4px;
  padding-left: 6px;
  vertical-align: middle;
  text-align:;
}
.lui_hr_transfer_info:before{
  content:"";
  display:inline-block;
  width:1px;
  height: 25px;
  background:#aaa;
  position: absolute;
  margin-top: -3px;
  margin-left: -9px;
}
.lui_hr_transfer_annual_salary {
  font-size: 12px;
}
/* ===== 人事调动模块 Ends ===== */

/* ===== 办理离职模块starts ===== */

/*离职人员信息starts*/
.lui_hr_person_info {
  display: inline-block;
  vertical-align: top;
}

.lui_hr_person_info .lui_hr_status{
  display:inline-block;color:#999;
}
.lui_hr_personInfo_wrap {
  margin: 20px 0;
  padding: 14px 48px;
  background: #f9f9f9;
}
.lui_hr_person_pic {
  display: inline-block;
  margin: 0 20px 0 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  overflow: hidden;
}
.lui_hr_person_name {
  color: #333333;
  font-size: 14px;
}
.lui_hr_person_name {
  display: inline-block;
  vertical-align: middle;
}
.lui_hr_sex {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 0 0 0 4px;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: -3px;
}
.lui_hr_female {
  background-image: url(../images/icon_female.png);
}
.lui_hr_man {
  background-image: url(../images/icon_man.png);
}
.lui_hr_department {
  padding: 6px 0 0;
  display: inline-block;
}
.lui_hr_department .lui_hr_status_tryout {
  padding: 0 0 0 20px;
  font-size: 12px;
  color: #999999;
}
/*离职人员信息ends*/

/*离职表格信息Starts*/

/* =====  人员筛选 starts ===== */
.lui_hr_criteria_wrap {
  margin: 15px;
  background: #f9f9f9;
  padding: 10px;
}
.lui_hr_criteria_wrap em,
.lui_hr_criteria_wrap i {
  font-style: normal;
}

.lui_hr_criteria_wrap_list {
  padding: 0 0 0 10px;
  display: inline;
}
.lui_hr_criteria_wrap_list li {
  display: inline-block;
  margin: 6px 5px;
  color: #666666;
}
.lui_hr_criteria_wrap_list li a {
  font-size: 12px;
  display: inline-block;
  padding: 0 15px;
  background: #f0f0f0;
  border: 1px #f0f0f0 solid;
  border-radius: 10px;
  position: relative;
}
.lui_hr_criteria_wrap_list li.lui_hr_status_selected a,
.lui_hr_criteria_wrap_list li:hover a {
  background: #ffffff;
  border-color: inherit;
  border-color:initial;
}

.lui_hr_criteria_wrap_list li.lui_hr_status_selected .lui_hr_cancel,
.lui_hr_criteria_wrap_list li:hover .lui_hr_cancel {
  display: inline-block;
  width: 6px;
  height: 6px;
  background: url(../images/icon_cancel.png) no-repeat center;
  vertical-align: 1px;
  cursor: pointer;
  background-size: 6px;
  position: absolute;
  right: 6px;
  top: 6px;
}
/* ===== 人员筛选 Ends  ===== */

/* ===== 添加待入职员工模块starts ===== */
.lui_hr_toolbar_mark {
  position: fixed;
  z-index: 4;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 60px;
}
.lui_hr_toolbar_frame {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 60px;
  background: #ffffff;
  z-index: 10;
  -webkit-box-shadow: 0 2px 4px 0 rgba(227, 227, 227, 0.5);
  -moz-box-shadow: 0 2px 4px 0 rgba(227, 227, 227, 0.5);
  -ms-box-shadow: 0 2px 4px 0 rgba(227, 227, 227, 0.5);
  box-shadow: 0 2px 4px 0 rgba(227, 227, 227, 0.5);
}

.lui_hr_toolbar_tab,
.lui_hr_toolbar_btn {
  display: inline-block;
}
.lui_hr_toolbar_btn {
  float: right;
  height: 60px;
}

.lui_hr_toolbar_tab_menu li {
  display: inline-block;
  margin: 0 10px;
  padding: 0 6px;
  line-height: 60px;
  font-size: 16px;
  color: #333333;
  cursor: pointer;
}
.lui_hr_toolbar_tab_menu li.lui_hr_toolbar_tab_selected {
  height: 58px;
  line-height: 60px;
  color: #4285f4;
  border-bottom: 2px solid inherit;
}

.lui_hr_menu_frame_nav {
  padding: 20px;
}

.lui_hr_step_ContentBox {
  padding: 20px 120px;
}
.lui_hr_panel_title {
  margin: 30px 0 14px;
  padding: 14px 0;
  border-bottom: 1px #f2f2f2 solid;
  font-size: 16px;
}
.lui_hr_panel_title:before {
  display: inline-block;
  content: "";
  width: 2px;
  height: 14px;
  margin: 0 14px 0 0;
  background: #4285f4;
  vertical-align: middle;
}

/*待入职员工信息表格starts*/
.lui_hr_tb_simple {
  width: 100%;
}
.lui_hr_tb_simple .inputsgl,
.lui_hr_tb_simple select {
  /* background: #f7f7f8; */
  /* border-radius: 3px; */
  /* border: 0; */
}
.lui_hr_tb_simple .txtstrong {
}
.lui_hr_entry_time{
  font-size:12px;
}
/*待入职员工信息表格ends*/

.lui_hr_qrcode img {
  display: inline-block;
  width: 224px;
  height: 224px;
  margin: 0 10px 0 0;
  border: 1px solid #d0d0d0;
  vertical-align: bottom;
}
.lui_hr_btn_qrcode {
  padding: 4px 6px;
  color: #ffffff;
  background: #4285f4;
  border-radius: 2px;
}
.lui_hr_btn_qrcode:hover {
  color:#fff;
/*   color: #4285f4;
  background: #ffffff; */
}
/* ===== 添加待入职员工模块ends ===== */
/* ===== 确认到岗 Starts =====  */

.hr_staff_entry_wrap .lui_hr_tb_simple .inputsgl{
  width:160px;
}
.hr_staff_entry_wrap  .inputselectsgl{
  width:164px!important;
}
.fdStaffNoTr em{
  font-style:normal;margin-right:10px;
}
.tb_simple .fdStaffNoTr  .inputsgl{
  border-top:none;
  border-left:none;
  border-right:none;
  width:120px;
}

.hr_staff_entry_wrap{
  margin:10px auto;
}

.hr_staff_entry_form .lui_hr_footer_btnGroup{
  padding-right:15px;
}
.hr_staff_entry_form  .lui_widget_btn{
  margin-left:10px;
}
/* ===== 确认到岗 Ends =====  */

/* 入职登录-二维码 */
.lui_hr_qrcode{
  border:1px solid #e0e0e0;
  display:inline-block;width:200px;

  height:200px;
  padding:13px;
  text-align:center;
  vertical-align:text-bottom;
}
.lui_hr_qrcode_wrap .lui_hr_btn.lui_hr_btn_qrcode{
  vertical-align:text-bottom;
  margin-left:10px;
  font-size: 12px;
}

/* ===== 放弃入职 Starts ===== */
.hr_entry_manage_form{}
.hr_entry_manage_wrap .lui_hr_tb_simple_wrap{
  margin-bottom:15px;
}
.hr_entry_manage_wrap .inputsgl{
  width:164px;
}

/* ===== 放弃入职 Ends ===== */

/* ===== 放弃离职 Starts ===== */
.hr_leave_abandon_form{}
.hr_leave_abandon_wrap{
  padding: 10px 10px 0;
}
.hr_leave_abandon_wrap .lui_hr_tb_simple_wrap{
  margin-bottom:15px;
}
/* ===== 放弃离职 Ends ===== */

/* ===== 放弃离职 Ends ===== */

/* ===== 放弃离职 Ends ===== */

/* ===== 表格项居左 ===== */
.lui_listview_columntable_table{
  table-layout:fixed;
}
.lui_listview_columntable_table tbody tr td.hr_tb_align_left{
  text-align:left;
  padding-left:10px;
  padding-right:10px;
}
.lui_listview_columntable_table thead th.hr_th_align_left{
  text-align:left;
  padding-left:10px;
  padding-right:10px;
}

/* ===== 三级页面表格 居左以及样式优化 ===== */
.lui_form_body  .lui_hr_container .lui_form_title_frame{
  padding-top:10px;
}
.lui_form_body  .lui_hr_container .lui_hr_tb_simple .tr_normal_title{
  text-align:left;
}
.lui_form_body  .lui_hr_container .lui_hr_tb_simple .inputsgl{
  width:220px!important;
}
.lui_form_body  .lui_hr_container .lui_hr_tb_simple .inputselectsgl{
  width:224px!important;
}
/* 描述 */
.lui_hr_list_info_desc{
  font-size:12px;
}

/* 人事调动箭头 */
.lui_hr_arrow_right{
  display:inline-block;
  background:url(../images/arrow-right.png);
  width: 17px;
  height: 12px;
  vertical-align: middle;
  /* margin: 0 20px; */
}

/* 合同签订 */
.hr_contract_sign_wrap{
  padding-left:15px;
  padding-right:15px;
}

.hr_contract_sign_wrap .inputsgl,
.hr_contract_sign_wrap .inputselectsgl{ width:220px!important;}
.hr_contract_sign_wrap textarea[name="fdMemo"]{
  width: 216px!important;
}

/* 批量导入 */
.lui_hr_import_form{
  margin-left:25px;
  margin-right:25px;
  margin-top:25px;
}
.lui_hr_import_wrap{
	
}
.lui_hr_import_btnGroup{}
.lui_hr_import_btnGroup input{
  height:30px;
  line-height:30px;
  width: 170px;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 5px;
}
.lui_hr_import_btnGroup .lui_hr_btn_browse input{
  width:0;
  height:0;
  position: absolute;
}

/* 列表中的合同信息 Starts */
.lui_hr_contract_list{
  text-align:left;
}
.lui_hr_contract_item{
  display:inline-block;padding-right:10px;
}
.lui_hr_contract_item .lui_hr_list_info_main{
  margin-bottom:1px;
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.lui_hr_contract_item .status_fire{
  color:#999;
}
.lui_hr_contract_item .lui_hr_status_link:before{
  border-width:1px;
}
/* 列表中的合同信息 Ends */
.lui_listview_columntable_table thead th{
	color: #333333;
}

/* 办理转正弹出框 */
.hr_leave_deal_wrap{
  padding: 0 20px 20px;
}

.hr_leave_deal_wrap .lui_hr_criteria_wrap{
  margin-left:0;
  margin-right:0;
}

/* 批量调整 */
.hr_batch_adjust_wrap .tb_simple{
  margin-bottom:20px;
}

/* 超编 */
.ld-org-compile span.all {
	display: inline-block;
	height: 5px;
	width: 5px;
	border-radius: 50%;
	vertical-align: middle;
	margin-right: 10px;
	background: #FF0000;
}
/* 缺编 */
.ld-org-compile span.vacancy {
	display: inline-block;
	height: 5px;
	width: 5px;
	border-radius: 50%;
	vertical-align: middle;
	margin-right: 10px;
	background: #4285F4;
}
/* 满编 */
.ld-org-compile span.exceed {
	display: inline-block;
	height: 5px;
	width: 5px;
	border-radius: 50%;
	vertical-align: middle;
	margin-right: 10px;
	background: #28A648;
}
.post-list-fdName{
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
body .lui_tabpanel_list_navs_item_selected{
	border:none!important;
}