.lui_tree_container{
	min-height:365px;
	height:365px;
	max-height:365px;
	overflow:auto;
}
.tree-node-text,.tree-node-btn,.tree-node-pre-line,.tree-node-space{
	display:table-cell;
	vertical-align: middle;
}
.tree-node-text{
	cursor:pointer;
	color:#3E4651;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.tree-node-text-inside{
	display:inline-block;
	width:210px;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding:4px 3px;
	float: left;
}
.tree-node-text-active{
	background:rgba(66,133,244,0.10);
}
.tree-node-space{
	
}
.tree-node-space a{
	display:inline-block;
}

.tree-node-btn,.tree-node-table-btn{
	width:20px;
	cursor:pointer;
	background:url('../images/triangle_right.png') no-repeat center;
}
.tree-node-btn-folder{
	background:url('../images/triangle_down.png') no-repeat center;
}
.tree-node-btn span{
	display:inline-block;
	width:20px;
}
.tree-node-btn-plus{
	background:url('../img/nodeplus.gif') no-repeat center;
}
.tree-node-line{
	background:url('../img/node.gif') no-repeat center;
}
.tree-node-line-last{
	background:url('../img/lastnode.gif') no-repeat center;
}
.tree-node-pre-line{
	width:20px;
}
.tree-node-pre-line{
	background:url('../img/vertline.gif') no-repeat center;
}
.hr_tree{
	height:100%;
}
.hr-tree-table-empty{
	background:url("../images/empty.png") no-repeat;
	    width: 50px;
    height: 50px;
    margin: 250px auto;
}
.hr_tree_bottom{
	border-top:1px solid #e5e5e5;
	min-height:60px;
	line-height:60px;
}
.hr_tree_button{
	float:left;
	width:50%;
	text-align:center;
	color: #4285F4;
}
.hr_tree_button span{
	cursor: pointer;
}

/* tree-table */
.tree-node-table-space,.tree-node-table-btn,.tree-node-table-cell{
	display:inline-block;
}
.tree-node-table-space{
	width:20px;
	height:20px;
}
.tree-node-table-btn{
	width:20px;
	height:20px;
}

.tree-node-table-cell-first{
	border-right:1px solid #e1e1e1;
}
.tree-node-table-cell-first>span{
	float:left;
	text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
#hr-org-tree-table .tree-node{
	border-top:1px solid #e1e1e1;
	border-bottom:1px solid #e1e1e1;
}
#hr-org-tree-table .tree-node>td{
	text-align:center;
}
#hr-org-tree-table .tree-node a{
	color:#4285F4 ;	
}
.hr_tree_table_container{
	width:100%;
}
.hr_tree_table_container tr{
	height:50px
}
#hr-org-tree-table{
	background:#fff;
	margin-top:10px;
	min-height:500px;	
}

#hr-org-tree-table-search{
	height:56px;
	background:#fff;
	line-height:56px;
}
#hr-org-tree-table-search-box input{
	width:200px;
	height:30px;
	border: 1px solid #DDDDDD;
	box-shadow: inset 0 1px 0 0 #E5E5E5;
	border-radius: 4px;
	padding-left:12px;
}
#hr-org-tree-table-search-box{
	float:left;
	margin-left:8px;
	position:relative;
}
#hr-org-tree-head-button{
	float:right;
	margin-right:30px;
}
.hr_tree_table_head>td{
	text-align:center;
}
#hr-org-tree-table .tree-node .hr_compile i{
	width:5px;
	height:5px;
	border-radius:50%;
	display:inline-block;
	vertical-align: middle;
}
.hr_compile .red{
	background-color:#FF0000;
}
.hr_compile .blue{
	background-color:#4285F4;
}
.hr_compile .green{
	background-color:#28A648;
}

.hr-org-search-cancel{
	background:url("../images/clear.png") no-repeat center!important;
}

#hr-organization-search{
	text-align:center;
	margin:13px auto;
	position:relative;
	width:90%;
}
#hr-organization-search input{
	height:24px;
	padding-left:9px;
	background: #FFFFFF;
	border: 1px solid #DDDDDD;
	box-shadow: inset 0 1px 0 0 #E5E5E5;
	padding-right:30px;
	width:200px;
	border-radius: 4px;
}
#hr-organization-search span,#hr-org-tree-table-search-box span{
	position:absolute;
	right:0;
	top:0;
	display:inline-block;
	width:30px;
	height:24px;
	background:url("../images/search.png") no-repeat center;
	cursor:pointer;
}
#hr-org-tree-table-search-box span{
	top:15px;
}
.addIcon{
	
}
.hr_tree_table_head{
	background:#f7f7f7;
	height:44px;
}
.icon-node-type{
    width: 10px;
    height: 10px;
    position: relative;
    padding: 0 3px;
    top: 3px;
    vertical-align: text-top;
}
