@charset "UTF-8";
.calendar {
  width: 300px;
  overflow: auto;
  zoom: 1;
}

.calendar-head {
  width: 100%;
}

.calendar-head-month {
  width: 100%;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
}

.calendar-head-week {
  width: 100%;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  overflow: auto;
  zoom: 1;
  background-color: #ccc;
}

.calendar-head-week-item {
  width: 14.285714%;
  float: left;
}

.calendar-page {
  overflow: auto;
  zoom: 1;
  width: 100%;
  text-align: center;
}

.calendar-page-item {
  width: 14.285714%;
  float: left;
  font-size: 12px;
}