/*表格所有框线黑色，字段默认实线*/
.tb_normal_blacksolid {width:100%; text-align: left; padding: 8px !important; margin: 0px auto; border-collapse: collapse; background-color: rgb(255, 255, 255); }
.tb_normal_blacksolid  tr  td { border: 1px solid #000 !important; padding: 8px; word-break: break-all; border-left: 1px solid #000; border-right: 1px solid #000;}
.tb_normal_blacksolid   tr  .td_normal_title {}
.massdata-container tr td {border: 1px #d2d2d2 solid !important;}

/*明细表所有框线黑色*/
.tb_normal_blacksolid   tr  td .tb_normal tr td{border: 1px solid #000;}