@charset "utf-8";
.lui_notify_title_icon{
	display: block;
    float: left;
    height: 16px;
    margin-top: 2px;
    position: absolute;
    width: 16px;
}
.lui_notify_content_1{
	background:url(../images/icon_red.png) no-repeat 50% 40%;
	
}
.lui_notify_content_2{
	background:url(../images/icon_green.png) no-repeat 50% 40%;
}

.lui_notify_content_3{
	background:url(../images/icon_yellow.png) no-repeat 50% 40%;
}

.lui_notify_pending{
    background:#c88d58;
}
.lui_notify_level{
	color:red;
}

.lui_notify_graphic_todo_subhead span{
	padding-right:8px;
}
.lui_notify_todo{padding-left:8px;padding-right:8px;}
.lui_notify_email_link a{font-size:14px;margin-left:-4px;}
.lui_notify_graphic{
	left:8px;padding-top: 8px;padding-bottom:4px;position: relative;margin-right: 18px;word-break: break-all;border-bottom: 1px solid #ccc;
}
.lui_notify_graphic_person{float:left;}
.lui_notify_graphic_todo_title{margin-bottom: 5px;font-size:12px;color:#303030;}
.lui_notify_graphic_todo_subhead{margin-top: 4px;font-size:11px;color:#808080}

#catetab .lui_tabpanel_light_navs_c{background-color:#f5f5f5;}
#catetab .lui_tabpanel_light_frame{border:0px;}
#catetab .lui_tabpanel_light_content_l{border-style:none;}
#catetab .lui_tabpanel_light_footer_c{border:0;}
#catetab .lui_tabpanel_light_footer_l{background:#fff;}
#catetab .lui_tabpanel_light_footer_r{background:#fff;}

.lui_tabpanel_light_footer_l{}
.lui_toolbar_db_list{}
.lui_toolbar_db_list li{ float:left; margin-right:25px; height:40px; line-height:40px;}
.lui_toolbar_db_list li{ display:inline-block; height:40px; padding-left:8px;margin-bottom: 8px; background:url(../images/lui_toolbar_db_L.png) no-repeat left center;}
.lui_toolbar_db_list li span{ display:inline-block; height:40px; padding-right:8px; background:url(../images/lui_toolbar_db_R.png) no-repeat right center;}
.lui_toolbar_db_list li span a{ display:inline-block;  height:40px; background:#70cafe; color:#fff; font-size:18px; padding-right:10px;}
.lui_toolbar_db_list li em{ display:inline-block; float:left; margin-top:5px; width:30px; height:30px; line-height:30px; text-align:center; font-size:14px; font-weight:bold; margin-right:5px; background:url(../images/lui_toolbar_db_bg.png) no-repeat; font-style:normal; color:#ff6000;}


.lui_notify_modelname{color: #2ec5a3;}
.lui_notify_level1,
.lui_notify_level2,
.lui_notify_pending{display: inline-block;color: white;position: relative;text-align: center;background-color: #ff5f5f;height: 17px;line-height: 17px;padding-left: 5px;padding-right:10px;font-size: 10px;}
.lui_notify_level1{background: #ff5f5f;}
.lui_notify_level2{background-color:#ffa133;}
.lui_notify_level1:after,
.lui_notify_level2:after,
.lui_notify_pending:after {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-width: 8px 5px;
  border-right-color: #fff;
  position: absolute;
  right: 0;
  top: 0;
}

.lui_notify_pending {
    background:#c88d58;
}

.lui_listview_rowtable_summary_content_box dt a{ line-height:26px;}
.lui_listview_rowtable_summary_content_box dt a:hover{text-decoration:none !important;}
.lui_listview_rowtable_summary_content_box dt a:hover .subjecthead{text-decoration:underline;}
.lui_listview_rowtable_summary_content_box dt a:hover .lui_notify_done_flag{text-decoration:none;}
.lui_notify_done_flag{border-radius:2px;font-size:12px;border-style:solid;border-width: 1px;border-color: #4cbe45;color:#4cbe45; padding:0px 2px;}
.lui_notify_graphic .lui_notify_done_flag{line-height:18px;}


/* 空值提醒 Starts */
.lui-nodata-tips{
  padding: 10px;
  text-align: center;
  color: #999;
  font-size: 14px;
  display: inline-block;
  line-height: 1.2;
}
.lui-nodata-tips > .imgbox{
  margin: 0 auto 10px;
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  vertical-align: middle;
  background-image: url(../images/img-nodata-todo.png); /*V13待办待阅组件*/
  background-size: 100% auto;
  display: block;
}
.lui-nodata-tips > .imgbox img{
  max-width: 100%;
  display: block;
}
.lui-nodata-tips > .txt{}
.lui-nodata-tips > .txt > p{}


.lui-nodata-tips.lui-nodata-tips-todo{
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 25px;
  display: block;
}
.lui_tabpanel_vertical_frame .lui-nodata-tips-todo{
  padding-top: 80px;
}

/* 空值提醒 Ends */

.lui_dataview_classic_textArea .lui_notify_count_tip{float:left;line-height:35px;}
.lui_dataview_classic_textArea .lui_notify_link_txt{
	text-decoration: underline;
	font-size:14px;
	line-height:35px;
}
/*  解决消息标题 省略号的问题*/
.lui_listview_body table tr td{ position:relative;}

#fixedForTable_todo .lui_listview_columntable_table,
#fixedForTable_toView .lui_listview_columntable_table,
#fixedForTable_todoDone .lui_listview_columntable_table,
#fixedForTable_toViewDone .lui_listview_columntable_table{
  table-layout: fixed;
}
#fixedForTable_todo .lui_listview_columntable_table tr input[type='checkbox'],
#fixedForTable_toView .lui_listview_columntable_table tr input[type='checkbox'],
#fixedForTable_todoDone .lui_listview_columntable_table tr input[type='checkbox'],
#fixedForTable_toViewDone .lui_listview_columntable_table tr input[type='checkbox']{
  margin-left: 0px;
}


.lui_notify_alink {
  max-width: 100%;
  display: inline-block;
  white-space: nowrap; /*不换行*/
  overflow: hidden; /*超出部分隐藏*/
  text-overflow: ellipsis; /*超出部分文字以...显示*/
  float: left;
}
@media screen and (min-width:0\0) {
  margin-top: 0;
  white-space: normal;
} /*针对IE10的Hack*/

_:-ms-fullscreen,
:root .lui_notify_alink {
  margin-top: 0;
} /*针对IE11的Hack*/


.lui_dataview_classic_heading{
  padding: 6px 0 6px 45px;
  line-height: 20px;
  font-size: 0;
  position: relative;
}
.lui_dataview_classic_icon{
  margin-left: 0;
  width: 42px !important;
  height: 24px !important;
  background: url(../images/email.png) no-repeat 0 50%!important;
  position: absolute !important;
  left: 0;
  top: 0;
}
.lui_notify_count_tip,
.lui_notify_email_link {
  font-size: 14px;
  display: inline-block;
}
.lui_notify_email_link,
.lui_notify_email_link > div{
  display: inline;
  word-wrap: break-word;
}
.lui_notify_count_tip > b,
.lui_notify_email_link > b {
  margin-left: 2px;
  margin-right: 2px;
  color: #ff6600;
  white-space: nowrap;
}
.lui_notify_link_txt {
  margin-left: 3px;
  color: inherit;
  text-decoration: underline;
}
.lui_refreshIcon,
.lui_fastApproveIcon{
  margin-left: 5px;
  width: 16px;
  height: 16px;
  display: inline-block;
  cursor: pointer;
  position: relative;
  top: 2px;
}
.lui_refreshIcon{
  top: 3px;
}
.lui_notify_todo_line{
  margin-left: 5px;
  margin-right: 5px;
  height: 16px;
  border-left: 1px solid #ddd;
  vertical-align: -10%;
  display: inline-block;
}

