.lui_tree_toolbar {
	margin-bottom: 5px;
}

.lui_tree_toolbar>div{
	float: right;
}

.lui_tree_toolbar .lui_widget_btn {
	display: inline-block !important;
	margin-left: 10px;
}

.lui_tree_tb{
	text-align:center;
	width: 100%;
}

.lui_tree_tb th {
	height: 60px;
	line-height: 60px;
	background: #F9F9F9;
	font-weight: normal;
	text-align: ceter;
}

.lui_tree_tb tbody tr {
  border-bottom: 1px dotted #d5d5d5;
  transition: background-color .2s ease-in-out;
}

.lui_tree_tr_root{
	background-color:#d9e7fd;
}


.lui_tree_tb td{
	border: none!important;
}

.inputsgl[name="parentName"]{
	text-align: center;
	font-weight: bold;
}

.lui_tree_tb .th1 {
	width: 5%;
}

.lui_tree_tb .th2 {
	width: 15%;
}

.lui_tree_tb .th3 {
	width: 20%;
}


.lui_tree_tb .th6{
	width: 8%;
}

.lui_tree_tb .td_left{
	text-align: left;
}

.lui_tree_tb .th4 {
	width: 20%;
}

.lui_tree_tb .th5 {
	width: 200px;
}

.lui_tree_tb .expand{
	display: inline-block;
    width: 16px;
    height: 16px;
}

.lui_tree_tb .serial{
	cursor: pointer;
}

.lui_tree_tb img {
	width: 16px;
	height: 16px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 4px;
}
.
.lui_tree_toolbar td {
	padding-top: 5px;
	padding-bottom: 5px;
}


.lui_tree_bar span {
  cursor: pointer;
  margin-left: 5px;
  margin-right: 5px;
}

.lui_tree_bar span:before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;
  margin-right: 2px;
}

.lui_tree_bar .sibling:before {
  background-image: url(../images/btn-add-silbing.png);
}

.lui_tree_bar .sub:before {
  background-image: url(../images/btn-add-child.png);
}

.lui_tree_bar .up:before {
  background-image: url(../images/btn-arrow-up.png);
}

.lui_tree_bar .down:before {
  background-image: url(../images/btn-arrow-down.png);
}