<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean
		name="/tic/rest/connector/tic_rest_main/ticRestMainIndex.do"
		class="com.landray.kmss.tic.rest.connector.actions.TicRestMainIndexAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property name="forwards">
			<map>
				<entry
					key="list"
					value="/tic/rest/connector/tic_rest_main/ticRestMain_ui_list.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/tic/rest/connector/tic_rest_main/ticRestMain.do"
		class="com.landray.kmss.tic.rest.connector.actions.TicRestMainAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.tic.rest.connector.forms.TicRestMainForm" />
		<property name="forwards">
			<map>
				<entry
					key="view"
					value="/tic/rest/connector/tic_rest_main/ticRestMain_view.jsp" />
				<entry
					key="edit"
					value="/tic/rest/connector/tic_rest_main/ticRestMain_edit.jsp" />
				<entry
					key="list"
					value="/tic/rest/connector/tic_rest_main/ticRestMain_list.jsp" />
				<entry
					key="viewQuery"
					value="/tic/rest/connector/tic_rest_query/tic_rest_query_edit.jsp" />
			</map>
		</property>
	</bean>
	
	<bean
		name="/tic/rest/connector/tic_rest_category/ticRestCategory.do"
		class="com.landray.kmss.tic.rest.connector.actions.TicRestCategoryAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.tic.rest.connector.forms.TicRestCategoryForm" />
		<property name="forwards">
			<map>
				<entry
					key="view"
					value="/tic/rest/connector/tic_rest_category/ticRestCategory_view.jsp" />
				<entry
					key="edit"
					value="/tic/rest/connector/tic_rest_category/ticRestCategory_edit.jsp" />
				
			</map>
		</property>
	</bean>

	
	<bean
		name="/tic/rest/connector/tic_rest_setting/ticRestSettingIndex.do"
		class="com.landray.kmss.tic.rest.connector.actions.TicRestSettingIndexAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property name="forwards">
			<map>
				<entry
					key="list"
					value="/tic/rest/connector/tic_rest_setting/ticRestSetting_ui_list.jsp" />
			</map>
		</property>
	</bean>
	
	<bean
		name="/tic/rest/connector/tic_rest_setting/ticRestSetting.do"
		class="com.landray.kmss.tic.rest.connector.actions.TicRestSettingAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.tic.rest.connector.forms.TicRestSettingForm" />
		<property name="forwards">
			<map>
				<entry
					key="view"
					value="/tic/rest/connector/tic_rest_setting/ticRestSetting_view.jsp" />
				<entry
					key="edit"
					value="/tic/rest/connector/tic_rest_setting/ticRestSetting_edit.jsp" />
				<entry
					key="list"
					value="/tic/rest/connector/tic_rest_setting/ticRestSetting_list.jsp" />
			</map>
		</property>
	</bean>
	
	<bean
		name="/tic/rest/connector/tic_rest_sett_category/ticRestSettCategory.do"
		class="com.landray.kmss.tic.rest.connector.actions.TicRestSettCategoryAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.tic.rest.connector.forms.TicRestSettCategoryForm" />
		<property name="forwards">
			<map>
				<entry
					key="view"
					value="/tic/rest/connector/tic_rest_sett_category/ticRestSettCategory_view.jsp" />
				<entry
					key="edit"
					value="/tic/rest/connector/tic_rest_sett_category/ticRestSettCategory_edit.jsp" />
				<entry
					key="list"
					value="/tic/rest/connector/tic_rest_sett_category/ticRestSettCategory_list.jsp" />
				<entry
					key="tree"
					value="/tic/rest/connector/tic_rest_sett_category/ticRestSettCategory_tree.jsp" />
			</map>
		</property>
	</bean>
	
	<bean
		name="/tic/rest/connector/tic_rest_auth/ticRestAuth.do"
		class="com.landray.kmss.tic.rest.connector.actions.TicRestAuthAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.tic.rest.connector.forms.TicRestAuthForm" />
		<property name="forwards">
			<map>
				<entry
					key="edit"
					value="/tic/rest/connector/tic_rest_auth/ticRestAuth_edit.jsp" />
				<entry
					key="list"
					value="/tic/rest/connector/tic_rest_auth/ticRestAuth_ui_list.jsp" />
			</map>
		</property>
	</bean>
	
	<bean
		name="/tic/rest/connector/tic_rest_cookie_setting/ticRestCookieSetting.do"
		class="com.landray.kmss.tic.rest.connector.actions.TicRestCookieSettingAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.tic.rest.connector.forms.TicRestCookieSettingForm" />
		<property name="forwards">
			<map>
				<entry
					key="edit"
					value="/tic/rest/connector/tic_rest_cookie_setting/ticRestCookieSetting_edit.jsp" />
				<entry
					key="list"
					value="/tic/rest/connector/tic_rest_cookie_setting/ticRestCookieSetting_ui_list.jsp" />
			</map>
		</property>
	</bean>
	
	<bean
		name="/tic/rest/connector/tic_rest_prefixReq_setting/ticRestPrefixReqSetting.do"
		class="com.landray.kmss.tic.rest.connector.actions.TicRestPrefixReqSettingAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.tic.rest.connector.forms.TicRestPrefixReqSettingForm" />
		<property name="forwards">
			<map>
				<entry
					key="edit"
					value="/tic/rest/connector/tic_rest_prefixReq_setting/ticRestPrefixReqSetting_edit.jsp" />
				<entry
					key="list"
					value="/tic/rest/connector/tic_rest_prefixReq_setting/ticRestPrefixReqSetting_ui_list.jsp" />
			</map>
		</property>
	</bean>
	
	<bean
		name="/tic/rest/connector/tic_rest_query/ticRestQuery.do"
		class="com.landray.kmss.tic.rest.connector.actions.TicRestQueryAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.tic.rest.connector.forms.TicRestQueryForm" />
		<property name="forwards">
			<map>
			   <entry
					key="view"
					value="/tic/rest/connector/tic_rest_query/ticRestQuery_view.jsp" />
			    <entry
					key="edit"
					value="/tic/rest/connector/tic_rest_query/ticrestQuery_view_result.jsp" />
				<entry
					key="list"
					value="/tic/rest/connector/tic_rest_query/ticRestQuery_list.jsp" />
				<entry
					key="query_result"
					value="/tic/rest/connector/tic_rest_query/ticrestQuery_view_result.jsp" />
				<entry
					key="json_result"
					value="/tic/rest/connector/tic_rest_query/ticrestQuery_view_json.jsp" />
				<entry
					key="reQuery"
					value="/tic/rest/connector/tic_rest_query/tic_rest_query_edit.jsp" />
			</map>
		</property>
	</bean>
</beans>