.div_main {
	width: 80%;
	text-align: center;
	border: 1px solid #C0C0C0;
	margin-top: 5px;
	margin-bottom: 15px;
	padding: 10px;
	background-image: url(bg.gif);
	display: block;
}
.rd_title {
	font-size: 14px;
	color: #333;
	font-weight: normal;
	background-color: #f4f8fb;
	transition-duration: .3s;
}
.rd_title:hover{ background-color: #eee; }
.rd_title label > input{ margin-right: 3px; }
.rd_title.primary-title{ }


.btn_submit,
.btn_submit:hover {
	display: block;
	background: url(but_on.png) no-repeat;
	width: 117px;
	height: 37px;
	color: #fff !important;
	font-size: 16px !important;
	font-weight: bold;
	line-height: 37px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
}

.btn_submit_txt{
	padding: 10px 18px;
	color: #fff;
	font-size: 16px;
	font-weight: normal;
	text-align: center;
	text-decoration: none;
	border-radius: 4px;
	background-color: #37a8f5;
	display: inline-block;
	transition-duration: .3s;
	cursor: pointer;
}
.btn_submit_txt:hover{
	color: #fff;
	background-color: #2596e4;
}
.btn_submit:hover {
	background: url(but_nor.png) no-repeat;
	color: #fff;
	text-decoration: none;
}