<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean
		id="sysEmptyDao"
		parent="KmssBaseDao"
		class="com.landray.kmss.sys.config.dao.SysEmptyDaoImp">
		<property
			name="modelName"
			value="com.landray.kmss.sys.config.model.SysEmpty" />
	</bean>
	<bean
		id="sysEmptyTarget"
		parent="KmssBaseCoreTarget"
		class="com.landray.kmss.sys.config.service.SysEmptyServiceImp">
		<property
			name="baseDao">
			<ref
				bean="sysEmptyDao" />
		</property>
	</bean>
	<bean
		id="sysEmptyService"
		parent="KmssBaseService">
		<property
			name="target">
			<ref
				bean="sysEmptyTarget" />
		</property>
	</bean>
	
	
	<bean
        id="sysDaemonDao"
        parent="KmssBaseDao"
        class="com.landray.kmss.sys.config.dao.SysDaemonDaoImp">
        <property
            name="modelName"
            value="com.landray.kmss.sys.config.model.SysDaemon" />
    </bean>
    <bean
        id="sysDaemonTarget"
        parent="KmssBaseCoreTarget"
        class="com.landray.kmss.sys.config.service.SysDaemonServiceImp">
        <property
            name="baseDao">
            <ref
                bean="sysDaemonDao" />
        </property>
    </bean>
    <bean
        id="sysDaemonService"
        parent="KmssBaseService">
        <property
            name="target">
            <ref
                bean="sysDaemonTarget" />
        </property>
    </bean>
    
	<bean
		id="sysLicenseNotifyService"
		class="com.landray.kmss.sys.config.service.SysLicenseNotifyService">
		<property
			name="sysNotifyMainCoreService">
			<ref
				bean="sysNotifyMainCoreService" />
		</property>
		<property
			name="sysOrgCoreService">
			<ref
				bean="sysOrgCoreService" />
		</property>
		<property
			name="dataAccessManager">
			<ref
				bean="dataAccessManager" />
		</property>
	</bean>
	
	<bean id="applicationEventMulticaster" class="com.landray.kmss.sys.config.loader.KmssApplicationEventMulticaster"/>
	
	<bean id="sysTmplService" class="com.landray.kmss.sys.config.service.SysTmplServiceImp"/>

	<bean id="sysConfigController" class="com.landray.kmss.sys.config.rest.controller.SysConfigController"/>
</beans>
