@charset "utf-8"; /* 赞赏回复 */
.lui_form_content_frame {
    width: 920px;
    margin: 0 auto;
}

.lui_form_content_frame em {
    font-style: normal;
}
.lui_admire_cardWrap{
    padding-bottom:20px;
    min-height: 450px;
}
.lui_admire_cardWrap .lui_form_subject{
	margin-bottom: 5px;
}
/* 卡片 */
.lui_admire_card {
    margin-top: 40px;
}

.admire_card_header {
    overflow: hidden;
    margin-bottom: 20px;
}

.admire_card_portrait {
    display: inline-block;
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 10px;
    overflow: hidden;
    border-radius: 25px;
}

.admire_card_portrait img {
	height: 100%;
	width: 100%;
}

.admire_card_content {
}

.admire_card_content .admire_info {
    margin-top: 6px;
    line-height: 20px;
    margin-bottom: 4px;
}

.admire_card_content .com_author {
    margin-right: 5px;
}

.admire_card_content .admire_cate {
    color: #9b9b9b;
    font-size:12px;
}

.admire_card_type {
    padding-bottom: 15px;
}

.admire_card_type span {
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    height: 160px;
    font-size: 0;
}

.admire_card_type .type_money {
    background-image: url(./img/type-money.png);
}

.admire_card_type .type_praise {
    background-image: url(./img/type-praise1.png);
    background-size: contain;
}

.admire_card_type .type_trample {
    background-image: url(./img/type-trample1.png);
}

.admire_card_detail {
    background: #fafafa;
    padding: 15px;
    margin-bottom: 30px;
}

/*  回执编辑按钮 */
.lui_admire_receipt {
}

.evel_editor_wrap {
    overflow: hidden;
}

.evel_editor_wrap .evel_editor {
    float: left;
    width: 99.5%;
    border-right: none;
}

.evel_editor_wrap .evel_editor textarea {
    border: none;
    resize: none;
    width: 100%;
    height: 100%;
}

.evel_opt .evel_btn {
    display: inline-block;
    width: 100px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    background: #4285f4;
    border: 1px solid #4285f4;
    color: #fff;
    font-size: 14px;
    float: right;
    margin-right: 3px;
    cursor: pointer;
}

.lui_admire_receipt .evel_opt {
    padding: 5px 0;
}

.lui_admire_receipt .evel_opt_item {
	cursor: pointer;
    display: inline-block;
    /*     margin-right: 5px; */
}

.lui_admire_receipt .evel_opt_item i {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

.lui_admire_receipt .evel_opt_item .icon_reply {
    background-image: url(./img/icon-reply.png);
    background-size: cover;
}

.lui_admire_receipt .evel_opt_item .icon_express {
    background-image: url(./img/icon-express.png);
    background-size: cover;
}

/*  回执信息展示 */
.lui_admire_evel_info {
    margin-top: 25px;
}

.lui_admire_evel_info .evel_title {
    font-size: 16px;
    margin: 0;
    margin-bottom: 10px;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 10px;
}

.lui_admire_evel_item {
    overflow: hidden;
    padding-bottom: 10px;
    border-bottom: 1px solid #e5e5e5;
}

.lui_admire_evel_item .admire_portrait {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
}

.lui_admire_evel_item .admire_portrait img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.lui_admire_evel_item .evel_detail {
    /* margin-top:20px; */
}

.lui_admire_evel_item .evel_detail .info {
}

.lui_admire_evel_item .evel_detail .admire_date {
    color: #999;
    margin-left: 5px;
    font-size:12px;
}

.lui_admire_evel_item .evel_detail .content {
    line-height: 20px;
}

.lui_admire_evel_item .evel_detail .opt {
}

.lui_admire_evel_item .evel_detail .content {
}

/* 常用语 */
.evel_pop {
	display: none;
    list-style: none;
    width: 190px;
    position: absolute;
    background: #fff;
    border: 1px solid #e5e5e5;
    text-align: center;
    /* padding: 0 10px; */
    margin-top: 10px;
    /*     padding-top: 2px; */
}

.evel_pop:before, .evel_pop:after {
    display: inline-block;
    content: "";
    position: absolute;
    border: 10px solid transparent;
    border-width: 10px 8px;
    top: -20px;
    left: 10px;
}

.evel_pop:before {
    border-bottom-color: #e5e5e5;
}

.evel_pop:after {
    border-bottom-color: #fff;
    top: -19px;
}

.evel_pop li:first-child span {
    border-top: none;
}

.evel_pop li {
    list-style: none;
    line-height: 34px;
    padding: 0 10px;
    position: relative;
    z-index: 2;
}

.evel_pop li span {
    display: block;
    border-top: 1px solid #e5e5e5;
    overflow: hidden;
    text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
}

.evel_pop li:hover {
    background: #4285F4;
    color: #fff;
}

.evel_pop li:hover span {
    border-top-color: #4285F4;
}



















/* .praiseContentInfo{
	width: 90%;
    margin-left: 5%;
    margin-top: 20px;
}

.praiseTitle{
	padding: 3px;
	width: 90px;
    font-weight: 700;
    font-size: 16px;
} */