.meetingBookScrollableView, 
.meetingBookList {
	background-color: #f7f7f7;
}

.meetingBookListWrapper {
	background-color: transparent;
}

.muiMeetingBookItem {
	font-family: PingFangSC-Regular;
	letter-spacing: 0;
	margin-bottom: 0.8rem;
	background-color: white;
}

.muiMeetingBookItem .info {
	display: flex;
	flex-flow: row nowrap;
	align-items: flex-start;
}

.muiMeetingBookItem .infoLeft {
	margin-right: 1.35rem;
}

.muiMeetingBookItem .infoRight {
	flex: 1;
    overflow: hidden;
}

.muiMeetingBookItem .info .img {
	width: 10.5rem;
	height: 8rem;
	background-image: url(../images/place_none.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.muiMeetingBookItem .info .title {
	font-size: 1.5rem;
	height: 1.7rem;
	line-height: 1.7rem;
	color: #333333;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-bottom: 0.6rem;
}

.muiMeetingBookItem .info .detail {
	font-size: 1.3rem;
	color: #999999;
}

.muiMeetingBookItem .info .detail li {
	padding: 0.2rem 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.muiMeetingBookItem .btns {
	margin-top: 1.5rem;
	border-top: 1px solid #E8E8E8;
	display: flex;
	flex-flow: row nowrap;
	font-family: PingFangSC-Regular;
	font-size: 1.3rem;
	color: #4285f4;
	letter-spacing: 0;
	text-align: left;
	padding-top: 0.7rem;
}

.muiMeetingBookItem .btns > div {
	box-sizing: border-box;
	float: left;			/*兼容旧版本ipad*/
	width: 50%;
	flex: 1;
	text-align: center;
	height: 2rem;
	line-height: 2rem;
}

.muiMeetingBookItem .btns > div:not(:last-child) {
	border-right: 1px solid #e8e8e8;
}

.muiMeetingBookItem .btns .btn-reject {
	color: #F95A5A;
}

.meetingBookView {
	background-color: #f7f7f7;
	overflow: auto;
	font-family: PingFangSC-Regular;
	letter-spacing: 0;
}

.meetingBookView > div {
	padding: 1.6rem;
	background-color: white;
}

.meetingBookView > div:not(:last-child) {
	margin-bottom: 0.7rem;
}

.meetingBookView .img{
	background-image: url(../images/place_none.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 14.8rem;
}

.meetingBookView .title {
	font-size: 1.8rem;
	color: #333333;
}

.meetingBookView .title .status {
	float: right;
	display: inline-block;
	padding: 0.2rem 0.4rem;
	font-size: 1.1rem;
	border: 1px solid #F29A5F;
	color: #F29A5F;
	background-color: #FFF4ED;
}

.meetingBookView .title .status[data-agree=false] {
	border-color: #F95A5A;
	color: #F95A5A;
	background-color: #ffefef;
}

.meetingBookView .title .status[data-agree=true] {
	border-color: #15BC83;
	color: #15BC83;
	background-color: #E6FCF4;
}

.meetingBookView .detail {
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 1.3rem;
	color: #333333;
	padding: 1rem 0;
}

.meetingBookView .detail li {
	padding: 0.35rem 0;
}

.meetingBookView .detail .mui {
	margin-right: 0.9rem;
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
	width: 1.5rem;
	height: 1.5rem;
	position: relative;
	top: -0.1rem;
}

.meetingBookView .detail .mui.mui-position {
	background-image: url(../images/icon_position.png);
}

.meetingBookView .detail .mui.mui-people {
	background-image: url(../images/icon_people.png);
}

.meetingBookView .remark {
	padding-top: 1.14rem;
	border-top: 1px dashed #E2E3E4;
	font-size: 1.3rem;
	color: #666666;
}

.meetingBookView .time {
	font-size: 1.3rem;
	color: #9B9B9B;
}

.meetingBookView .time > div {
	position: relative;
	padding-left: 2rem;
}

.meetingBookView .time > div:not(:last-child) {
	padding-bottom: 1.6rem;
}

.meetingBookView .time > div > div {
	font-size: 1.5rem;
	color: #333333;
	margin-top: 0.6rem;
}

.meetingBookView .time .timeline {
	position: absolute;
	left: 0;
    top: 1rem;
    width: 1px;
    height: 100%;
    background-color: #e9e9e9;
}

.meetingBookView .time .timeline::after {
	position: absolute;
	content: '';
	display: inline-block;
    width: 1.4rem;
    height: 1.4rem;
    left: -0.7rem;
    top: -0.7rem;
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
	background-image: url(../images/icon_free.png);
}

.meetingBookView .time .end .timeline::after {
	background-image: url(../images/icon_occupied.png);
}

.meetingBookView .time > div:last-child .timeline {
	height: 0;
}

.muiDialogElementDiv {
	padding: 1.4rem 0;
	margin-top: 0 !important;
}

.muiDialogElementContent {
	padding-bottom: 1rem !important;
}

.muiConfirmDialogElement {
	min-height: 6rem;
}

#rejectReason {
	width: 90%;
	padding: 0.4rem 0.6rem;
	font-size: 1.4rem;
	height: 7.4rem;
	border: 1px solid #979797;
	border-radius: 2px;
}

.muiDialogElement {
	z-index: 9998;
}

.kmImeetingBook_other{
	text-align:center;
	background-color:#a3a3a3;
}

.kmImeetingBook_other ul{
	color:#4285f4;
	background-color:#fff;
}

.kmImeetingBook_other ul li{
	border-top:1px solid #c2c0c0;
	line-height:4.5rem;
	height:4.5rem;
}

.kmImeetingBook_other .mblTabBarButton{
	float:none;	
}

.otherDialogCancel{
	height:4.5rem;
	line-height:4.5rem;
	border-top:0.1rem solid #a3a3a3;
	margin-top:0.35rem;
	background-color:#fff;
}