@CHARSET "UTF-8";
.agendaSubject {
	display: inline-block;
    width: 70%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    margin-left: 10px;
}
#selectTopicButton {
	margin-top: 0.8rem;
	text-align: center;
	height: auto;
	border: none;
	outline: none;
	color: #007aff;
	padding: 0 10px;
	line-height: 29px;
}
.topicSelector_toolbar {
	position: relative;
	height: 3.8rem;
	line-height: 3.8rem;
	background-color: #18b4ed;
	color: white;
	text-align: center;
}

.topicSelector_toolbar_btn {
	display: inline-block;
	position: absolute;
	top: 0;
}

#topicSelectorTitle {
	font-size: 1.8rem;
	max-width: 14rem;
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
#topicSearchTitle {
	font-size: 1.8rem;
	max-width: 8rem;
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.muiCateItem:active {
	background-color: #dfe1e0;
}

.muiCateItem .muiCateSel {
	position: relative;
	font-size: 0.8rem;
	line-height: 1.2rem;
	text-align: center;
}

.muiCateSeled .muiCateSel::after {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	content: '\2713';
	color: white;
}

.muiCateSeled .muiCateSel{
	background-color: #20A0FF;
	border: 0.1rem solid #20A0FF;
}

.muiListSummary{
	display: none;
}

/* .kmImeetingSelect .muiDialogElementContent_bottom{
	height: 100% !important;
}
 */

.muiSearchParent{
	display: flex;
    padding: .8rem 1.2rem 0 1.2rem;
}
.muiSearchType{
	width: 8rem;
    float: left;
    height: 100%;
    background: #f7f7f7;
    border-radius: .6rem;
}
.muiSearchType .muiFormEleWrap.popup{
	position: relative;
}
.muiSearchContent{
	flex: 1;
	padding-left: 1rem;
	padding-right: 0;
}
.muiSearchContent .muiSearchBarContainer {
	margin: 0;
	padding: 0;
	height: 100%;
}
.toipicSearchType.muiFormEleWrap.popup{
	padding: 0px;
    min-width: inherit;
    text-align: left;
}
.oldMui .toipicSearchType .muiSelInputRight{
	line-height: 2.8rem;
    margin-top: -1.3rem;
}
.toipicSearchType .muiSelInputRight .mui-forward{
	font-size: 1.4rem;
    padding-bottom: .3rem;
}
.muiSearchType .oldMui.muiFormEleWrap.showTitle .muiSelInput {
	padding-left: 1rem;
    text-align: left;
    line-height: 3.4rem;
    font-size: 1.3rem;
    padding-top: .1rem;
    padding-right: 2rem !important;
}