@CHARSET "UTF-8";
.meetingBaseInfo{
	display: block;
	background-color: white;
	margin-top:0.5rem;
}
.meetingBaseAim{
	padding-top:1rem;
}
.meetingMoreOpt{
	height: 4rem;
    line-height: 4rem;
    font-size:1.4rem;
    background-color: white;
    margin-top: .5rem;
    padding:0 1rem;
    color: #898989;
    border-bottom: 1px solid #e2e2e2;
}
.meetingMoreIcon{
	float: right;
    height: 4rem;
    line-height: 4rem;
    margin-top: .5rem;
    margin-right: .5rem;
    font-size: 1.4rem;
}
.meetingMoreInfo{
	-webkit-transition: -webkit-transform 400ms linear;
}


.isCloud_Switch:after {
	content: '';
	display: table;
	visibility: hidden;
	clear: both;
}
.isCloud_Text {
	float: left;
	padding: 1.5rem 0 1.5rem 0;
	color: #999;
}
/**/

.AgendaList{
	margin-top:0.4rem;
	padding-top:0.4rem;
}

#AgendaList .muiFormRequired{
	top:0;
	
}

.AgendaList ul li{
	list-style:none;
	position:relative;
	border-bottom:1px solid #DFDFDF;
	display:flex;
}

.addListBtn{
	background:#fff;
	width:50%;
	margin:0 auto;
	text-align:center;
	font-size:1.5rem;
	line-height:4rem;
	font-family: PingFangSC-Regular;
	color: #4285f4;
	letter-spacing: 0;
	margin-bottom:0.8rem;
}
.inputList{
	background-color:#fff;

}

.inputNodeClass{
	border:none;
	height:6rem;
	flex:6;
	padding-left:1.5rem;
	font-size:1.5rem;
	
}
.inputIcon{
	flex:1;
	font-size:2.6rem;
	margin-top:1.6rem;
	color:#DFDFDF;
	margin-right:1.3rem;
	text-align:right;
}
.muiFormEleWrap.textarea{
	
}

#attendPersons{
	border-bottom:none;
}


.RequiredIcon{
	color:red;
	position:absolute;
	right:.5rem;
	top:.8rem;
	font-size:1.5rem;
}
/* 议程明细表样式 */
#table_doc td{
	text-align:center;
	border:1px #e9e9e9 solid;
	white-space:nowrap;
}
#table_doc{
	margin-left:1.2rem;	
}

#table_doc .inputEdit{
	position:relative;
}

#table_doc .inputEdit .muiInput{
	border:none;
	outline:none;
	font-size:1.5rem;
	border-bottom:1px #e9e9e9 solid;
}

#table_doc .delRow,#table_doc .btnplus{
	border-radius:50%;
	border:1px #e9e9e9 solid;
	padding:0.4rem;
	color:#e3e3e3;
}
#table_doc .btnplus{
	margin-left:0.2rem;
}
#addRowBtn{
	text-align:center;
	color:#4285f4;
	margin-top:2rem;
}
.headerTitle{
	font-size:1.3rem;
	color:#999;
	margin:0.5rem 0 1rem 1.2rem;
	display:none;
}
.relativeData{
	background:#fff;
	border-top:1px solid #e3e3e3;
}
.relativeData{
	display:flex;
	align-items:center;
	font-size:1.3rem;
	color:#999;
	padding: 1rem 0 1rem  1.2rem;
}

#recurrenceView>div{
	padding:1rem 0 1rem 0;
	position:relative
}
#recurrenceView>div:before{
	position:absolute;
	content:'';
	left:1rem;
	right:0;
	bottom:0;
	height:1px;
	transform:scaleY(0.5);
	-webkit-transform:scaleY(0.5);
	background-color:#d5d5d5
}
.moreset{
	display:none
}
.endType{
	display:none
}

.kmMeetingSwitchContainer{
	font-size: 1.4rem;
}

.kmMeetingSwitchContainer .muiSwitchContanier:after{
	left:0;
}

.needPlace_Switch,.isVideo_Switch {
	position: relative;
}

.needPlace_Switch:after,isVideo_Switch:after {
	content: '';
	display: table;
	visibility: hidden;
	clear: both;
}
.needPlace_Text,.isVideo_Text {
	display: inline-block;
}

.kmMeetingSwitch{
	display: inline-block;
	float: right;
}
