.xpage {
	margin: 10px 0 0;
	border-collapse: collapse;
}
.xpage table {	
	border-collapse: collapse;
}
.xpage td {
	height: 25px;
} 
.xpage .expand {
	cursor:pointer;
	background: url("../../../../../resource/style/default/icons/expand.gif") no-repeat center center;
}
.xpage .collapse {
	cursor:pointer;
	background: url("../../../../../resource/style/default/icons/collapse.gif") no-repeat center center;
}
.xpage .tr_listrow1 td, .xpage .tr_listrow2 td, .xpage .tr_listrowcur td {
	border-top: 3px solid #fff !important;
	border-bottom: 3px solid #fff !important;
} 
.tr_listrowo {
	background: #e9e9e9;
}

.btn_txt {
margin: 0px 2px;
color:#2574ad;
border-bottom:1px solid transparent;
   }
   
   .btn_txt:hover{
color:#123a6b;
border-bottom-color:#123a6b; 
   }