/*内部黑线边框，有线条*/
.tb_normal_blackin { width:100%;text-align: left; padding: 8px !important; border:1px solid #f00; margin: 0px auto; border:2px solid #fff !important; background-color: rgb(255, 255, 255); }
.tb_normal_blackin   tr { }
.tb_normal_blackin   tr  td { padding: 8px; word-break: break-word; border: 1px solid #000 !important; }
.tb_normal_blackin   tr  .td_normal_title { }
.tb_normal_blackin .inputsgl,
.tb_normal_blackin .inputselectsgl {
	height: auto;
  	min-height: 20px;
	border: 0;
	border-bottom: 1px solid #959595 !important;
	border-color: #959595 !important;
}
.tb_normal_blackin   tr  td select{border: 1px solid #959595;}
.tb_normal_blackin   tr  td textarea{border: 1px solid #959595 !important;}
/*明细表所有框线黑色*/
.tb_normal_blackin   tr  td .tb_normal tr td{border: 1px solid #000;}
/*还原被覆盖的无边框样式,防止单选按钮和多选按钮出现边框*/
.tb_noborder{background-color:#FFFFFF !important;margin:0px !important;border-collapse:collapse !important;padding:0px !important;border:0px !important;}
.tb_noborder tr td {padding:0px !important;border:0px !important;}
.tb_noborder tr   {padding:0px !important;border:0px !important;}
.validation-table td{border:0px solid red !important;}