/**
 * 全局变量
 */

// 主色号
@mainColor: #4285f4;

// 背景分割色
@splitColor: #e2e2e2;

// 边框颜色
@borderColor: #d4d4d4;

// 强调色-文字
@stressTxtColor: #191F25;

// 两倍线条
.border-2x {
    border-color: @borderColor;
    transform: scaleY(1);
}

// 宽高百分百
.border-1w {
    width: 100%;
    height: 100%
}