@CHARSET "UTF-8";

/* 图表配置页面 Starts
   ========================================================================== */
 
  /** 覆盖掉公共样式的的padding **/
.lui_step_sheet_content{
   padding: 0px !important; 
}   

  /* 布局 Starts */
.lui-chartConfig-container{
  margin-left: auto;
  margin-right: auto;
  height: 500px;
  min-width: 1000px;
  border: 1px solid #d2d2d2;
  position: relative;
  font-size: 0;
  letter-spacing: -3px;
}
.lui-chartConfig-container>div{
  letter-spacing: 0px;
}

.lui-chartConfig-col-3-stickyL,
.lui-chartConfig-col-3-flexibleM,
.lui-chartConfig-col-3-stickyR{
  min-height: 1px;
  height: 100%;
}

.lui-chartConfig-col-3-stickyL{
  float: left;
  width: 152px;
  background: #f6f6f6;
}

.lui-chartConfig-col-3-flexibleM{
  float: left;	
  width: 750px;
}

.lui-chartConfig-col-3-stickyR{
  margin-left:902px;	
  min-width: 120px;
  overflow-y: scroll;
}

  /* 布局 Ends */


  /* 导航列表 Starts */
.lui-chartConfig-nav{
  margin: 0;
  padding: 1px 0 0;
  list-style: none;
}
.lui-chartConfig-nav > li{
  margin-top: -1px;
}
.lui-chartConfig-nav > li a{
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 48px;
  line-height: 28px;
  color: #333;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  transition-duration: .3s;
}
.lui-chartConfig-nav > li a:before{
  content: '';
  display: block;
  border-bottom: 1px solid #d2d2d2;
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 0;
}
.lui-chartConfig-nav > li a:after{
  content: '';
  display: table;
  visibility: hidden;
  clear: both;
}
.lui-chartConfig-nav > li a:hover,
.lui-chartConfig-nav > li.active a,
.lui-chartConfig-nav > li.active a:hover{
  color: #fff;
  background-color: #4285f4;
}
.lui-chartConfig-nav > li a:hover:before,
.lui-chartConfig-nav > li.active a:before,
.lui-chartConfig-nav > li.active a:hover:before{
  display: none;
}

.lui-chartConfig-nav > li .icon{
  margin-left: -38px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 28px 28px;
  display: inline-block;
  float: left;
}
.lui-chartConfig-nav > li .lui-pie{ background-image: url(../images/icon-nav-01.png); }
.lui-chartConfig-nav > li .lui-line{ background-image: url(../images/icon-nav-02.png); }
.lui-chartConfig-nav > li .lui-area{ background-image: url(../images/icon-nav-03.png); }
.lui-chartConfig-nav > li .lui-bar{ background-image: url(../images/icon-nav-04.png); }
.lui-chartConfig-nav > li .icon-5{ background-image: url(../images/icon-nav-05.png); }
.lui-chartConfig-nav > li .lui-gauge{ background-image: url(../images/icon-nav-06.png); }
.lui-chartConfig-nav > li a:hover .lui-pie,
.lui-chartConfig-nav > li.active a .lui-pie,
.lui-chartConfig-nav > li.active a:hover .lui-pie{
  background-image: url(../images/icon-nav-01-on.png);
}
.lui-chartConfig-nav > li a:hover .lui-line,
.lui-chartConfig-nav > li.active a .lui-line,
.lui-chartConfig-nav > li.active a:hover .lui-line{
  background-image: url(../images/icon-nav-02-on.png);
}
.lui-chartConfig-nav > li a:hover .lui-area,
.lui-chartConfig-nav > li.active a .lui-area,
.lui-chartConfig-nav > li.active a:hover .lui-area{
  background-image: url(../images/icon-nav-03-on.png);
}
.lui-chartConfig-nav > li a:hover .lui-bar,
.lui-chartConfig-nav > li.active a .lui-bar,
.lui-chartConfig-nav > li.active a:hover .lui-bar{
  background-image: url(../images/icon-nav-04-on.png);
}
.lui-chartConfig-nav > li a:hover .icon-5,
.lui-chartConfig-nav > li.active a .icon-5,
.lui-chartConfig-nav > li.active a:hover .icon-5{
  background-image: url(../images/icon-nav-05-on.png);
}
.lui-chartConfig-nav > li a:hover .lui-gauge,
.lui-chartConfig-nav > li.active a .lui-gauge,
.lui-chartConfig-nav > li.active a:hover .lui-gauge{
  background-image: url(../images/icon-nav-06-on.png);
}

  /* 针对Retina屏幕的2倍图 Starts */
@media screen and (-webkit-min-device-pixel-ratio: 2){
  .lui-chartConfig-nav > li .lui-pie{ background-image: url(../images/icon-nav-01@2x.png); }
  .lui-chartConfig-nav > li .lui-line{ background-image: url(../images/icon-nav-02@2x.png); }
  .lui-chartConfig-nav > li .lui-area{ background-image: url(../images/icon-nav-03@2x.png); }
  .lui-chartConfig-nav > li .lui-bar{ background-image: url(../images/icon-nav-04@2x.png); }
  .lui-chartConfig-nav > li .icon-5{ background-image: url(../images/icon-nav-05@2x.png); }
  .lui-chartConfig-nav > li .lui-gauge{ background-image: url(../images/icon-nav-06@2x.png); }

  .lui-chartConfig-nav > li a:hover .lui-pie,
  .lui-chartConfig-nav > li.active a .lui-pie,
  .lui-chartConfig-nav > li.active a:hover .lui-pie{
    background-image: url(../images/icon-nav-01-on@2x.png);
  }
  .lui-chartConfig-nav > li a:hover .lui-line,
  .lui-chartConfig-nav > li.active a .lui-line,
  .lui-chartConfig-nav > li.active a:hover .lui-line{
    background-image: url(../images/icon-nav-02-on@2x.png);
  }
  .lui-chartConfig-nav > li a:hover .lui-area,
  .lui-chartConfig-nav > li.active a .lui-area,
  .lui-chartConfig-nav > li.active a:hover .lui-area{
    background-image: url(../images/icon-nav-03-on@2x.png);
  }
  .lui-chartConfig-nav > li a:hover .lui-bar,
  .lui-chartConfig-nav > li.active a .lui-bar,
  .lui-chartConfig-nav > li.active a:hover .lui-bar{
    background-image: url(../images/icon-nav-04-on@2x.png);
  }
  .lui-chartConfig-nav > li a:hover .icon-5,
  .lui-chartConfig-nav > li.active a .icon-5,
  .lui-chartConfig-nav > li.active a:hover .icon-5{
    background-image: url(../images/icon-nav-05-on@2x.png);
  }
  .lui-chartConfig-nav > li a:hover .lui-gauge,
  .lui-chartConfig-nav > li.active a .lui-gauge,
  .lui-chartConfig-nav > li.active a:hover .lui-gauge{
    background-image: url(../images/icon-nav-06-on@2x.png);
  }

}
  /* 针对Retina屏幕的2倍图 Ends */

  /* 导航列表 Ends */


  /* 选项卡 Starts */
.lui-chartConfig-nav-cnt{}
.lui-chartConfig-nav-cnt .tab-content,
.lui-chartConfig-nav-cnt .chart-content{
  height: 500px;
  overflow-y: scroll;
}
.lui-chartConfig-nav-cnt .tab-content > .tab-pane {
  display: none;
}
.lui-chartConfig-nav-cnt .tab-content > .active {
  display: block;
}
.lui-chartConfig-nav-cnt .fade {
  opacity: 0;
  -webkit-transition: opacity .15s linear;
       -o-transition: opacity .15s linear;
          transition: opacity .15s linear;
}
.lui-chartConfig-nav-cnt .fade.in {
  opacity: 1;
}

  /* 选项卡 Ends */


  /* 图表内容列表 Starts */
.lui-chartConfig-list{
  margin: 0 0 15px;
  padding: 20px 10px 0;
  list-style: none;
}
.lui-chartConfig-list.last-child,
.lui-chartConfig-list:last-child{
  margin-bottom: 0;
}
.lui-chartConfig-list:after{
  content: '';
  display: table;
  visibility: hidden;
  clear: both;
}
.lui-chartConfig-list > dt{
  padding: 0 10px;
  color: #333;
  font-size: 18px;
}
.lui-chartConfig-list > dd{
  width: 33.3%;
  float: left;
}
.lui-chartConfig-list > dd a{
  margin: 10px;
  border: 1px solid #d2d2d2;
  display: block;
  transition-duration: .3s;
}
.lui-chartConfig-list > dd a:hover{
  color: #333;
  border-color: #4285f4;
}
.lui-chartConfig-list > dd a.chart-selected{
  color: #FFFFFF;
  border-color: #ff784f;
}
.lui-chartConfig-list > dd a.chart-selected .imgtxt{
  background-color: #ff784f;
}
.lui-chartConfig-list > dd .imgbox{
  height: 185px;
  line-height: 185px;
  text-align: center;
  overflow: hidden;
}
.lui-chartConfig-list > dd .imgbox div{
	margin-top: 20px;
	max-width: 100%;
	max-height: 100%;
	vertical-align: top; 
	transition-duration: .3s;
	width:100%;
	height:80%;
}
.lui-chartConfig-list > dd .imgbox div>img{
    width: 100%;
    height: 100%;
}

.lui-chartConfig-list > dd .imgtxt{
  padding: 5px 10px;
  line-height: 20px;
  text-align: center;
  border-top: 1px solid #d2d2d2;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

  /* 图表内容列表 Ends */

  /* 如何选择适合的图表 */
.how-to-choose-chart{
	margin-top: 10px;	
    margin-left: 10px;
    color: #4285f4;
    cursor: pointer;
}

  /* 图表信息 Starts */
.lui-chartConfig-info{
  padding: 20px 10px;
}
.lui-chartConfig-info .info-heading-title{
  margin: 0 0 10px 0;
  color: #333;
  font-size: 18px;
  font-weight: normal;
}
.lui-chartConfig-info .info-depict{}
.lui-chartConfig-info .info-subhead{
  margin: 15px 0 0 0;
  font-size: 14px;
  font-weight: normal;
}
.lui-chartConfig-info .info-ol{
  margin: 0;
  padding-left: 20px;
}
.lui-chartConfig-info .info-btn-group{
  margin-top: 25px;
  padding: 10px;
  text-align: center;
}
.lui-chartConfig-info .info-btn-group .lui-chartMode-btn{
  min-width: 98px;
}

.preview-log{
	text-align: left;
	padding-left: 20px;
	height: 16px;
	line-height: 16px;
	margin-top: 8px;
	background: url(../images/icon_validator.png) no-repeat;
}

  /* 图表信息 Ends */

/* ================= 图表预览按钮区域 start  ================== */
.echartOperateButton{
    cursor: pointer;
    float: left;
}
.echartOperateButton>div{
    float: left;
}
.fullScreenPreviewButton{
	margin-left: 20px;
}
.echartOperateButtonText{
	color: #4285f4;
}
.echartOperateButtonText:hover{
    color: #53B6ED;
}
/* ================= 图表预览按钮区域 end  ================== */

/* ================= echart预览放大展示区域 start  ================== */
#echart_preview_zoom_in_area{
	background: #FFFFFF;
	width: 100%;
    position: absolute;
    z-index: 999999;
    top: 0;
    left: 0;
    display: none;
}
#preview_zoom_in_echart{
	margin: 0 auto;
	margin-top:20px;
	border: 1px solid #d2d2d2;
}
#preview_zoom_out_icon{
	width:48px;
	height:48px;
	background-repeat: no-repeat;
	background-image: url(../../../db_echarts_chart/configure/images/preview-zoom-out.png);
	
	cursor: pointer;
	position: relative;
	z-index: 1000000;
	float: right;
	margin: 10px;
}
/* ================= echart预览放大展示区域 end  ================== */

/* ================= Excel导出、导入 start  ================== */
.a_download_excel{
    padding: 4px 10px;
    height: 20px;
    line-height: 20px;
    cursor: pointer;
    color: #4285f4;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    float: left;	
}
.chart_template_type{
    float: left;
    margin-top: 5px;
    margin-left: 30px;	
}

.a_upload_excel {
	float: left;
    padding: 4px 10px;
    height: 20px;
    line-height: 20px;
    position: relative;
    cursor: pointer;
    color: #4285f4;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    display: inline-block;
    *display: inline;
    *zoom: 1
}

.a_upload_excel input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer
}

.a_download_excel:hover,.a_upload_excel:hover {
    color: #fff;
    background: #4285f4;
    border-color: #ccc;
    text-decoration: none;
}

.upload_file_name{
    float: left;
    margin-top: 5px;
    margin-left: 30px;		
}

.upload_fail_title{
	color: #ff6600;
	font-weight: bolder;
}

.upload_fail_error_content{
	margin-top: 6px;
}

/* ================= Excel导出、导入 end  ================== */

/* 图表配置页面 Ends
   ========================================================================== */