.lui_all_process{
    clear: both;
    margin-top: 9px;
    margin-bottom: 10px;
    position: relative;
}
.lui_all_process_header{
    position: relative;
    height: 30px;
    border-bottom: 1px #EEEEEE solid;
    padding: 8px 16px;
}
.lui_all_process_header.expand{
    height: unset;
    padding: unset;
    padding-left: 8px;
}
.lui_all_process_header .lui_title_text{
    /*width: 64px;*/
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    color: #333333;
    letter-spacing: 0;
    font-weight: 500;
}

.lui_all_process_header.expand .lui_title_text{
    display: inline-block;
    position: relative;
    top: -10px;
}
.lui_all_process_header .lui_search_box{
    width: 290px;
    height: 30px;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 2px;
    position: absolute;
    right: 16px;
    top: 0;
    margin-top: 8px;
}
.lui_all_process_header.expand .lui_search_box{
    display: inline-block;
    position: relative;
    right: unset;
    margin-left: 10px;
}
.lui_all_process_header .lui_search_box .lui_search_btn{
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    margin-right: 2px;
    background: url("../images/icon_search@2x.png") no-repeat;
    background-size: 50%;
    background-position: 50%;
    z-index: 1;
}
.lui_all_process_header .lui_search_box .lui_search_keyword{
    position: absolute;
    left: 0;
    right: 0px;
    width: 100%;
    height: 100%;
    border: 0;
    outline: none;
    box-sizing: border-box;
    padding: 4px 0;
    padding-left: 32px;
    padding-right: 28px;
}
.lui_all_process_header .lui_search_box .lui_keyword_reset_btn{
    width: 28px;
    height: 30px;
    position: absolute;
    right: 0px;
    top: 0px;
    background: url("../images/icon_shanchu@2x.png") no-repeat;
    background-size: 50%;
    background-position: 50%;
    z-index: 1;
}
.lui_all_process_header .lui_search_box .lui_keyword_reset_btn.hidden{
    display: none;
}
.lui_all_process_content{
    position: relative;
}
.lui_all_process_content .liu_content_treeview{
    width: 200px;
    padding: 8px 16px;
    position: absolute;
    top: 0;
    box-sizing: border-box;
    padding-right: 0;
    height: 100%;
}
.lui_all_process_content .liu_content_list{
    padding-left: 200px;
    box-sizing: border-box;
    height: 100%;
}
.lui_all_process_content .liu_content_list>div{
    padding:16px;
    border-left: 1px solid #EEEEEE;
    padding-bottom: 0;
    height: 100%;
}
.lui_all_process_content .liu_content_list.expand>div{
    padding:0px;
}
