<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean
		name="/sys/notify/sys_notify_todo/sysNotifyTodo.do"
		class="com.landray.kmss.sys.notify.actions.SysNotifyTodoAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property name="forwards">
			<map>
				<entry
					key="listHome"
					value="/sys/notify/sys_notify_todo/sysNotifyTodo_home.jsp" />
				<entry
					key="listHomeUi"
					value="/sys/notify/sys_notify_todo_ui/sysNotifyTodo_home.jsp" />
				<entry
					key="listHomeUi.4m"
					value="/sys/notify/mobile/home.jsp" />
				<entry
					key="listHomeCateWithDataList"
					value="/sys/notify/sys_notify_todo_ui/sysNotifyTodo_home_cate_list.jsp" />
				<entry
					key="listHomeCateWithDataListData"
					value="/sys/notify/sys_notify_todo_ui/sysNotifyTodo_home_cate_data.jsp" />
				<entry
					key="listHomeCateNoData"
					value="/sys/notify/sys_notify_todo/sysNotifyTodo_home_cate.jsp" />
				<entry
					key="listTodo"
					value="/sys/notify/sys_notify_todo/sysNotifyTodo_list.jsp" />
				<entry
					key="listDone"
					value="/sys/notify/sys_notify_todo/sysNotifyTodoDone_list.jsp" />
				<entry
					key="listMngTodo"
					value="/sys/notify/sys_notify_todo/sysNotifyTodo_mng_list.jsp" />
				<entry
					key="listMngDone"
					value="/sys/notify/sys_notify_todo/sysNotifyTodoDone_mng_list.jsp" />
				<entry
					key="newUiTodo"
					value="/sys/notify/sys_notify_todo_ui/sysNotifyTodo_mng_list.jsp" />
				<entry
					key="newUiDone"
					value="/sys/notify/sys_notify_todo_ui/sysNotifyTodoDone_mng_list.jsp" />
				<entry
					key="count"
					value="/sys/notify/pda/count.jsp" />
				<entry
					key="listHome.4pda"
					value="/sys/notify/pda/notifyDataTodo_list.jsp" />
				<entry
					key="listTodo.4pda"
					value="/sys/notify/pda/notifyDataTodo_list.jsp" />
				<entry
					key="listDone.4pda"
					value="/sys/notify/pda/notifyDataTodo_list.jsp" />
				<entry
					key="listMngTodo.4pda"
					value="/sys/notify/pda/notifyDataTodo_list.jsp" />
				<entry
					key="listMngDone.4pda"
					value="/sys/notify/pda/notifyDataTodo_list.jsp" />
				<entry
					key="count.4pda"
					value="/sys/notify/pda/count.jsp" />
				<entry
					key="redirect"
					value="/resource/jsp/redirect.jsp" />
				<entry
					key="listHome.4m"
					value="/sys/notify/mobile/list.jsp" />
				<entry
					key="listTodo.4m"
					value="/sys/notify/mobile/list.jsp" />
				<entry
					key="listDone.4m"
					value="/sys/notify/mobile/list.jsp" />
				<entry
					key="listMngTodo.4m"
					value="/sys/notify/mobile/list.jsp" />
				<entry
					key="listMngDone.4m"
					value="/sys/notify/mobile/list.jsp" />
				<entry
					key="listTableUi"
					value="/sys/notify/portal/sysNotifyTodo_home.jsp" />
				<entry
					key="listTableUi.4m"
					value="/sys/notify/mobile/list.jsp" />
				<entry
					key="dingView"
					value="/third/ding/pc/pc_out.jsp" />
				<entry
					key="govdingView"
					value="/third/govding/pc/pc_out.jsp" />
				<entry
					key="listSimplicity"
					value="/sys/notify/sys_notify_todo_ui/sysNotifyTodo_simplicity.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/sys/notify/sys_notify_todo/sysNotifySystemTodo.do"
		class="com.landray.kmss.sys.notify.actions.SysNotifySystemTodoAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property name="forwards">
			<map>
				<entry
					key="listHome"
					value="/sys/notify/sys_notify_todo/sysNotifyTodo_home.jsp" />
				<entry
					key="listHomeUi"
					value="/sys/notify/sys_notify_todo_ui/sysNotifySystemTodo_home.jsp" />
				<entry
					key="listHomeCateWithDataList"
					value="/sys/notify/sys_notify_todo_ui/sysNotifyTodo_home_cate_list.jsp" />
				<entry
					key="listHomeCateWithDataListData"
					value="/sys/notify/sys_notify_todo_ui/sysNotifyTodo_home_cate_data.jsp" />
				<entry
					key="listHomeCateNoData"
					value="/sys/notify/sys_notify_todo/sysNotifyTodo_home_cate.jsp" />
				<entry
					key="listTodo"
					value="/sys/notify/sys_notify_todo/sysNotifyTodo_list.jsp" />
				<entry
					key="listDone"
					value="/sys/notify/sys_notify_todo/sysNotifyTodoDone_list.jsp" />
				<entry
					key="listMngTodo"
					value="/sys/notify/sys_notify_todo/sysNotifySystemTodo_mng_list.jsp" />
				<entry
					key="listMngDone"
					value="/sys/notify/sys_notify_todo/sysNotifySystemTodoDone_mng_list.jsp" />
				<entry
					key="newUiTodo"
					value="/sys/notify/sys_notify_todo_ui/sysNotifyTodo_mng_list.jsp" />
				<entry
					key="newUiDone"
					value="/sys/notify/sys_notify_todo_ui/sysNotifyTodoDone_mng_list.jsp" />
				<entry
					key="count"
					value="/sys/notify/pda/count.jsp" />
				<entry
					key="listHome.4pda"
					value="/sys/notify/pda/notifyDataTodo_list.jsp" />
				<entry
					key="listTodo.4pda"
					value="/sys/notify/pda/notifyDataTodo_list.jsp" />
				<entry
					key="listDone.4pda"
					value="/sys/notify/pda/notifyDataTodo_list.jsp" />
				<entry
					key="listMngTodo.4pda"
					value="/sys/notify/pda/notifyDataTodo_list.jsp" />
				<entry
					key="listMngDone.4pda"
					value="/sys/notify/pda/notifyDataTodo_list.jsp" />
				<entry
					key="count.4pda"
					value="/sys/notify/pda/count.jsp" />
				<entry
					key="redirect"
					value="/resource/jsp/redirect.jsp" />
				<entry
					key="listHome.4m"
					value="/sys/notify/mobile/list.jsp" />
				<entry
					key="listTodo.4m"
					value="/sys/notify/mobile/list.jsp" />
				<entry
					key="listDone.4m"
					value="/sys/notify/mobile/list.jsp" />
				<entry
					key="listMngTodo.4m"
					value="/sys/notify/mobile/list.jsp" />
				<entry
					key="listMngDone.4m"
					value="/sys/notify/mobile/list.jsp" />
				<entry
					key="listTableUi"
					value="/sys/notify/portal/sysNotifySystemTodo_home.jsp" />
				<entry
					key="listTableUi.4m"
					value="/sys/notify/mobile/list.jsp" />
				<entry
					key="listTableUiForCloud"
					value="/sys/notify/portal/sysNotifySystemTodo_home.jsp" />
				<entry
					key="listTableUiForCloud.4m"
					value="/sys/notify/mobile/home.jsp" />
			</map>
		</property>
	</bean>	
	<bean
		name="/sys/notify/sys_notify_todo/sysNotifyMainIndex.do"
		class="com.landray.kmss.sys.notify.actions.SysNotifyMainIndexAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property name="forwards">
			<map>
				<entry
					key="list"
					value="/sys/notify/sys_notify_todo_ui/sysNotifyTodo_list.jsp" />
				<entry
					key="list.4m"
					value="/sys/notify/mobile/list.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/sys/notify/sys_notify_todo/sysNotifySystemIndex.do"
		class="com.landray.kmss.sys.notify.actions.SysNotifySystemIndexAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property name="forwards">
			<map>
				<entry
					key="list"
					value="/sys/notify/sys_notify_todo_ui/sysNotifyTodo_list.jsp" />
				<entry
					key="list.4m"
					value="/sys/notify/mobile/list.jsp" />
			</map>
		</property>
	</bean>	
	<bean
		name="/sys/notify/sys_notify_todo/sysNotifyConfig.do"
		class="com.landray.kmss.sys.notify.actions.SysNotifyConfigAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.appconfig.forms.SysAppConfigForm" />
	</bean>
	<bean   name="/sys/notify/sys_notify_todo/sysNotifyDesktopPushing.do"
			class="com.landray.kmss.sys.notify.actions.SysNotifyDesktopPushingAction"
			lazy-init="true"
			parent="KmssBaseAction">
		<property
				name="formType"
				value="com.landray.kmss.sys.appconfig.forms.SysAppConfigForm" />
	</bean>
	<bean
		name="/sys/notify/sys_notify_main/sysNotifyMain.do"
		class="com.landray.kmss.sys.notify.actions.SysNotifyMainAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.notify.forms.SysNotifyRemindMainForm" />
		<property name="forwards">
			<map>
				<entry
					key="edit"
					value="/sys/notify/import/sysNotifyRemindMain_edit.jsp" />				
			</map>
		</property>
	</bean>
	<bean
		name="/sys/notify/sys_notify_lang/sysNotifyLang.do"
		class="com.landray.kmss.sys.notify.actions.SysNotifySelfTitleSettingAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.notify.forms.SysNotifySelfTitleSettingForm" />
		<property name="forwards">
			<map>
				<entry
					key="list"
					value="/sys/notify/sys_notify_lang/sysNotifyLang_list.jsp" />
				<entry
					key="edit"
					value="/sys/notify/sys_notify_lang/sysNotifyLang_edit.jsp" />
				<entry
					key="view"
					value="/sys/notify/sys_notify_lang/sysNotifyLang_view.jsp" />													
				<entry
					key="selfTitleLang"
					value="/sys/notify/sys_notify_lang/sysNotifySelfTitleLang_edit.jsp" />
				<entry
					key="addSelfTitleLang"
					value="/sys/notify/sys_notify_lang/sysNotifySelfTitleLang_add.jsp" />																
			</map>
		</property>
	</bean>	
	<bean
		name="/sys/notify/sys_notify_main/sysNotifyMailTest.do"
		class="com.landray.kmss.sys.notify.actions.SysNotifyMailTestAction"
		lazy-init="true"
		parent="KmssBaseAction">
	</bean>
	<bean
		name="/sys/notify/sys_notify_category/sysNotifyCategory.do"
		class="com.landray.kmss.sys.notify.actions.SysNotifyCategoryAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.notify.forms.SysNotifyCategoryForm" />
		<property name="forwards">
			<map>
				<entry
					key="view"
					value="/sys/notify/sys_notify_category/sysNotifyCategory_view.jsp" />
				<entry
					key="edit"
					value="/sys/notify/sys_notify_category/sysNotifyCategory_edit.jsp" />
				<entry
					key="list"
					value="/sys/notify/sys_notify_category/sysNotifyCategory_list.jsp" />
				<entry
					key="select"
					value="/sys/notify/sys_notify_category/sysNotifyCategory_select.jsp" />					
			</map>
		</property>
	</bean>
	<bean
		name="/sys/notify/sysNotifyMailSetting.do"
		class="com.landray.kmss.sys.notify.actions.SysNotifyMailSettingAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.appconfig.forms.SysAppConfigForm" />
	</bean>
	<bean id="sysNotifySyncSender"
        class="com.landray.kmss.sys.notify.cloud.SysNotifySyncSender">
        <property name="ekpCloudClient" ref="ekpCloudClient"/>
    </bean>	
    <bean id="sysNotifyTodoController"
        class="com.landray.kmss.sys.notify.cloud.controller.SysNotifyTodoController">
    </bean>
    
    <bean
		name="/sys/notify/sys_notify_mkrequest/sysNotifyMKRequest.do"
		class="com.landray.kmss.sys.notify.actions.SysNotifyMKRequestAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.notify.forms.SysNotifyMKRequestForm" />
		<property name="forwards">
			<map>
				<entry
					key="view"
					value="/sys/notify/sys_notify_mkrequest/sysNotifyMKRequest_view.jsp" />
				<entry
					key="list"
					value="/sys/notify/sys_notify_mkrequest/sysNotifyMKRequest_list.jsp" />
			</map>
		</property>
	</bean> 	
</beans>