
@charset "utf-8";
/* CSS Document */

/**
**代码制作人：马泽棉
**制作时间：2013-5-7
**文件内容描述：论坛,
**修改日期：2013-5-7
**修改内容：无
**/

/******** 论坛 ********/
em{font-style: normal;}
.color_1{ color:#29aa19;}/*绿色*/
.color_2{ color:#269a1f;}/*绿色2 深一些颜色*/
.color_3{ color:#3e9ece;}/*蓝色*/
.color_3 a{ color:#3e9ece!important; font-size:12px!important; padding:0px!important; display:inline!important;}/*蓝色*/
.color_4{ color:#e79005;}/*橙色*/
.color_5{ color:#9e9e9e;}/*浅灰色 用于文字*/
.mini_h270{ min-height:270px;}/*最小高度 用于第一个带拉展的盒子*/
.min_h290{ min-height:290px;}/*最小高度 用于第一个带拉展的盒子*/
.mb30{ margin-bottom:30px;}
.mr15{ margin-right:15px;}
.mr25{ margin-right:25px;}
.clrfix:after{display:block; content:'clear'; clear:both; line-height:0; visibility:hidden;}/* 清除浮动 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,iieldset,input,textarea,p,blockquote,th,td{ margin:0; padding:0;}
.lui_common_list_main_body{ background-color:#fff;}

.lui_forum_body .lui_form_content{ padding: 0;}
.lui_form_body.lui_forum_body > .lui_form_path_frame,
.lui_form_body.lui_forum_plate_body > .lui_form_path_frame{ }
.lui_forum_box{ width:100%; margin-bottom:12px; background:#e9e9e9 url(../../images/forum_left_bg.gif) 0 0 repeat-y; font-size:14px; color:#6e6e6e; overflow:hidden; zoom:1;}
.lui_forum_boxL{ width:150px; float:left;}
.lui_forum_boxL h1{ color:#fff; font-size:16px; text-align:center; background:url(../images/forum_arrow.png) right center no-repeat;}
.lui_forum_boxL h1.title_1{ height:66px; line-height:66px; background-color:#3a8fc9;}
.lui_forum_boxL h1.title_2{ height:46px; line-height:46px; background-color:#35a9dc;}
.lui_forum_boxL ul{ padding:10px 0 0 12px; font-size:14px;}
.lui_forum_boxL ul li{ padding:3px 0; color:#868686;}
.lui_forum_boxL a{ display:block; margin:10px auto; width:76px; height:35px; padding-left:42px; font-size:14px; color:#fff; line-height:35px;}
.lui_forum_boxL a.btn_1{ background:#71a817 url(../images/forum_icon_1.png) 10px center no-repeat;}
.lui_forum_boxL a.btn_1:hover{ background-color:#4e850d;}
.lui_forum_boxL a.btn_2{ background:#efb83a url(../images/forum_icon_2.png) 10px center no-repeat;}
.lui_forum_boxL a.btn_2:hover{ background-color:#e89b23;}

.lui_forum_boxR{ width:789px; padding:20px; border:1px solid #d5d5d5; border-left:none; background-color:#fff; float:left;}
.forum_favour_wrapper{ padding:0 0 15px; margin-bottom:30px; border-bottom:1px solid #d5d5d5; position:relative;}
.forum_favour_wrapper .slider_box{ width:224px; height:18px; background:url(../images/forum_slider_bg.gif) 0 0 no-repeat; text-align:center; line-height:18px; position:absolute; left:283px; bottom:-17px; z-index:5; cursor:pointer;}
.forum_favour_wrapper h2{ margin-bottom:15px; font-size:14px;}
.forum_favour_wrapper .forum_f_word_box{/* display:none;*/}
.lui_forum_dl_1{ width:382px; font-size:14px; float:left;}
.lui_forum_dl_1 dt{ margin-bottom:10px;}
.lui_forum_dl_1 dt a{ color:#57a3d7; font-size:14px;}
.lui_forum_dl_1 dt a:hover{ text-decoration:underline;}
.lui_forum_dl_1 dt span{ margin-left:15px; color:#5b5b5b;}
.lui_forum_dl_1 dt span em a{ color:#3e9ece;}
.lui_forum_dl_1 dt span em a:hover{ text-decoration:underline;}

.lui_forum_dl_1 dd .word-wrapper{ padding:2px 0; width:56%; float:left;}
.lui_forum_dl_1 dd .word-wrapper a{ color:#868686;}
.lui_forum_dl_1 dd .word-wrapper a:hover{ text-decoration:underline;}

.lui_forum_dl_1 dd .name-wrapper{ padding:2px 0; width:14%; float:left; color:#9e9e9e; margin-left:20px;}
.lui_forum_dl_1 dd .date-wrapper{ padding:2px 0; width:18%; float:left; color:#9e9e9e; margin-left:20px;}

.lui_forum_dl_2{font-size:14px; overflow:hidden; zoom:1;}
.lui_forum_dl_2 dt{ margin-bottom:10px; font-size:14px; color:#57a3d7;}
.lui_forum_dl_2 dd{ margin-right:14px; font-size:14px; padding:4px 0; float:left; white-space:nowrap;}
.lui_forum_dl_2 dd a{ font-size:14px; color:#868686;}
.lui_forum_dl_2 dd a:hover{ text-decoration:underline;}
.lui_forum_dl_2 dd em a{ color:#F19703;}

/******** 论坛首页 *********/
.lui_forum_header {
  background-color: #e5f9ff;
  padding: 15px;
}
.lui_forum_headerC {
  display: table;
  border-collapse: collapse;
  width: 100%;
  margin: 0 auto;
}
.lui_forum_headerC:after {
  content: '';
  display: block;
  visibility: hidden;
  clear: both;
}
.lui_forum_headerC .lui-component{ display: table-cell; vertical-align: top; width: 280px;}
.lui_forum_headerC .lui-component:first-child{ width: auto;}
.lui_forum_headerC .lui-component:last-child{ background-color: #fff; }
/*** 快捷论坛导航 ***/
.lui_forum_Qicknav{ word-break:break-all;}
.lui_forum_Qicknav table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 10px;
  margin-top: -10px;
  margin-bottom: -10px;
  margin-left: -10px;
  margin-right: 15px;
}

.lui_forum_Qicknav table td {
  height: 100px;
  width: 25%;
  overflow: hidden;
  filter: alpha(opacity=90);
  -moz-opacity: 0.9;
  -khtml-opacity: 0.9;
  opacity: 0.9;
}
.lui_forum_Qicknav table td:hover{filter:alpha(opacity=100);-moz-opacity:1.0; -khtml-opacity: 1.0;  opacity: 1.0;}
.lui_forum_Qicknav table td>div{ width: 100%; height: 100%; color:#fff; position: relative; cursor: pointer;}
.lui_forum_Qicknav table td .title{ padding:10px 10px 0; height: 60px; overflow: hidden; word-break:break-all; word-wrap:break-word;}
.lui_forum_Qicknav table td a:hover{ color:#fff;}
.lui_forum_Qicknav table td a{ color:#fff;}
.lui_forum_Qicknav table td span{ display: block; overflow: hidden; width: 100%; height: 100%;}
.lui_forum_Qicknav table td img{ width: 100%; min-height: 100%;}
.lui_forum_Qicknav table td .comment{ text-align: right; position: absolute; bottom: 10px; right: 10px;}
.lui_forum_Qicknav table td .comment a:before{ content: ""; display: inline-block; width: 16px; height: 16px; background:url(../images/icon_forum_sprite.png) no-repeat -48px 0; vertical-align: middle; margin-right: 2px;}
.forum_post_color1{ background: #5da2fb;}
.forum_post_color2{ background: #fd7b76;}
.forum_post_color3{ background: #29caa1;}
.forum_post_color4{ background: #fd7b76;}
.forum_post_color5{ background: #ae91e8;}
.forum_post_color6{ background: #62a4f9;}
.forum_post_color7{ background: #29caa1;}
.lui_common_list_4_header_left{background-color: #82d0f4}

/*图标显示*/
.lui_common_list_box{ margin-bottom:10px;padding-bottom:20px }
.lui_common_list_box .list_up_icon{ width:11px; height:5px; margin:15px 8px 0 0; float:right; cursor:pointer; background:url(../images/list_arrow1.png) center center no-repeat;}
.lui_common_list_box .list_down_icon{ width:11px; height:5px; margin:15px 8px 0 0; float:right; cursor:pointer; background:url(../images/list_arrow2.png) center center no-repeat;}
.lui_common_list_box .list_more{ padding:0 10px 10px 0; text-align:right;}
.lui_common_list_box .list_more a{ font-size:12px; color:#6e6e6e; text-decoration:underline;}
.lui_common_list_box .list_more a:hover{ color:#e79005;}

/*** 用户信息 ***/
.lui_forum_userinfo{ width:280px; height: 328px; background:#fff; float:right;}
.lui_forum_userinfo .post_numSummary{ padding:14px 20px 25px; background:#eceded url(../images/post_numSummary_bg.png) no-repeat left top; background-size: cover;}
.lui_forum_userinfo .post_numSummary p{ padding:2px 0; line-height: 24px; font-size: 0; color:#5c5c5c;}
.lui_forum_userinfo .post_numSummary .p1 span{ display:inline-block; width:50%; font-size: 14px;}
.lui_forum_userinfo .post_numSummary .p2 span{ font-size: 14px;}
.lui_forum_userinfo .post_numSummary p span:before{ content:""; display: inline-block; width: 16px; height: 16px; background:url(../images/icon_forum_sprite.png) no-repeat left top; vertical-align: text-bottom; margin-right: 8px;}
/*.lui_forum_userinfo .post_numSummary .p2 span{ display:inline-block; background:url(../images/icon_post_sum.png) no-repeat left center; padding-left:27px;}*/

.lui_forum_userinfo .post_userinfo{ background: #fff; }
.lui_forum_userinfo .basic_info{ background:#fff; padding-left:90px; position:relative;}
/*.lui_forum_userinfo .post_userinfo .user_img{ position:absolute; left:8px; top:8px; z-index:1; width:67px; height:67px; background:url(../images/header_user_img_bg.png) no-repeat left top; }*/
.lui_forum_userinfo .post_userinfo img{ border:4px solid #fff; position:absolute; left:21px; top:-22px; width:55px; height:55px; border-radius: 50%;}
.lui_forum_userinfo .post_userinfo .basic_info strong{ line-height:24px; font-size:14px; color:#333; font-weight: normal;}
.lui_forum_userinfo .post_userinfo .basic_info .sign{ line-height:22px; padding-top:8px; overflow:hidden; display:block; white-space:nowrap; text-overflow:ellipsis; }
.lui_forum_userinfo .summary_info{ padding:26px 20px 0px; }
.lui_forum_userinfo .summary_info ul {
  margin: 0;
  padding: 0;
  list-style: none;
  zoom: 1;
  border-bottom: 1px solid #eaeaea;
}
.lui_forum_userinfo .summary_info ul:after {
  clear: both;
  line-height: 0px;
  content: 'clear';
  display: block;
  visibility: hidden;
}
.lui_forum_userinfo .summary_info ul li {
  float: left;
  width: 33.333333%;
  padding-bottom: 8px;
  text-align: center;
  color: #333;
  overflow: hidden;
}
.lui_forum_userinfo .summary_info ul li em{ display:block; color:#ff6600; line-height:20px; font-size:24px; margin-bottom: 10px;}
.lui_forum_userinfo .summary_info ul li span{ line-height:24px; display:block; padding-bottom:5px;}
.lui_forum_userinfo .summary_info ul li.split{ display: none;}

/** 快速发帖 **/
.lui_forum_userinfo .qucik_alink{ padding:12px 20px;}
.lui_forum_userinfo .qucik_alink .p1 { padding-bottom:15px; }
.lui_forum_userinfo .qucik_alink .p1 a{ vertical-align:middle; display:inline-block; width:50%; color:#15a4fa; font-size:14px; }
.lui_forum_userinfo .qucik_alink .p1 a:hover{ color:#149ef5;}
.lui_forum_userinfo .qucik_alink .p1 a:before{ display: inline-block; content:""; margin-right: 5px; width: 16px; height: 16px; background:url(../images/icon_forum_sprite.png) no-repeat -16px 0; vertical-align: text-bottom;}
.lui_forum_userinfo .btn_quickPost{ position: relative; display:inline-block; color:#15a4fa; width:100%; border:1px solid #15a4fa; letter-spacing:2px; text-align: center;  font-size:18px; height:36px; line-height:36px; cursor:pointer;}
.lui_forum_userinfo .btn_quickPost:hover{ background-color:#15a4fa; color:#fff;}
.lui_forum_userinfo .btn_quickPost i{ display: inline-block;  width: 18px; height: 18px; margin-right: 10px; position: relative; top:-1px; background:url(../images/btn_quickPost.png) no-repeat 0 0; vertical-align: text-bottom;}
.lui_forum_userinfo .btn_quickPost:hover i{ background-position: -18px 0;}
.lui_forum_userinfo .btn_quickPost:after{ position: absolute; left: 2px; right: 2px; bottom: -3px; content:""; display: inline-block; width: 100%; height: 1px; border-bottom: 2px solid #eaeaea;}

/*** 论坛板块 列表 ***/
.forum_home_content{ background: #fff; padding: 20px;}
.forum_home_content.forum_plate_content{ padding:0;}
.forum_list_w{ }
.forum_list_w table {
  width: 100%;
  table-layout: fixed;
}

.forum_list_w table tr td {
  padding: 15px 0px;
  border-bottom: 1px dashed #dcdcdc;
  vertical-align: middle;
  position: relative;
}
.forum_list_w table tr:last-child td{}
.forum_list_w .module_logo{ width:58px; height:54px;float:left; margin-right:14px;cursor: pointer;}
.forum_list_w .module_logo img{}
.forum_list_w .module_basicInfo {
  /* float: left;
  width: 320px; */
  margin-left: 65px;
}
.forum_list_w .module_basicInfo h2{ font-weight: normal; line-height:24px; margin-bottom:4px;}
.forum_list_w .module_basicInfo h2 a{ font-size:16px; color:#636879;}
.forum_list_w .module_basicInfo h2 .count{display: inline;background: #869fb3;border-radius: 3px;color: #fff;font-size: 12px;margin: -3px 0 0 .5em;padding: 2px 5px;vertical-align: middle;}
.forum_list_w .module_basicInfo .abstract{ color:#828282; padding-bottom:8px; line-height:20px;}
.forum_list_w .module_basicInfo .moderator{ color:#333;}
.forum_list_w .module_basicInfo .moderator em{ color:#4e7aa7;}
.forum_list_w .subject_reply_num{ font-family: Constantia; font-size: 24px; color:#828282;text-align: center}

/*** 最后回复人 ***/
.forum_list_w .last_reply { position:relative; padding-left:52px; margin-top:-10px;}
.forum_list_w .author_img{ }
.forum_list_w .last_reply img{ border-radius: 50%; width:42px; height:42px; position:absolute; left:0px; top:0px;}
.forum_list_w .last_reply .p1{ line-height:20px;}
.forum_list_w .last_reply .p1 a{ color:#333; overflow:hidden; display:block; white-space:nowrap; text-overflow:ellipsis; }
.forum_list_w .last_reply .p1 a:hover,
.forum_list_w .last_reply .p2 a:hover{ color:#228ded;}
.forum_list_w .last_reply .p1 .textEllipsis{ width: auto!important; }
.forum_list_w .last_reply .p2{ line-height:20px;}
.forum_list_w .last_reply .p2 a{ color:#333;}

.forum_list_w table tr td.th1{}
.forum_list_w table tr td.th2{width: 150px }
.forum_list_w table tr td.th3{width: 35%; }

/** 引用 **/
.forum_list_w .quote_w{ line-height:32px; font-size:14px; color:#606060; margin-bottom:8px; margin-top:4px;}
.forum_list_w .quote_w .quoteL{ display:inline-block; width:25px; height:20px; background:url(../images/icon_quoteL.png) no-repeat left center; margin-right:5px;}
.forum_list_w .quote_w .quoteR{ display:inline-block; width:25px; height:20px; background:url(../images/icon_quoteR.png) no-repeat left center; margin-left:5px;}

.forum_list_w table tr.header td{ color:#333; padding:5px 0px 9px;}
.forum_list_w table tr.header td em{ margin:0px 5px;}
.forum_list_w table tr.header td .a_author{ color:#4e7aa7;}
.forum_list_w table tr.header td.modlue_author{ text-align:right;}

/*** 帖子列表 ***/
.lui_forum_table_box{ width:100%;}
.lui_forum_table_box tr th{ height:32px; line-height:32px; background:#f8f8f8; text-align:center; border-bottom:1px dotted #ccc;}
.lui_forum_table_box tr td{ height:36px; line-height:36px; text-align:center; border-bottom:1px dotted #ccc;}
.lui_forum_table_box tr td.subject{ text-align:left;}
.lui_forum_table_box tr td.subject a{ color:#3e9ece; float:left;}
.lui_forum_table_box tr td.subject span{ display:inline-block; width:20px; height:36px; float:left; margin-right:5px;}
.lui_forum_table_box tr td.subject .ico_top{ background:url(../images/ico_top.png) no-repeat left center;}
.lui_forum_table_box tr td.subject .ico_hot{ background:url(../images/ico_hot.png) no-repeat left center;}
.lui_forum_table_box tr td.subject .ico_perfect{ background:url(../images/ico_perfect.png) no-repeat left center;}
.lui_forum_table_box tr td.subject .ico_postbg{ background:url(../images/ico_postbg.png) no-repeat left center;}
.lui_forum_table_box tr td.subject .ico_lock{ background:url(../images/ico_lock.png) no-repeat left center;}
.lui_forum_table_box tr th.th1{ width:35px;}
.lui_forum_table_box tr th.th2{ width:30px;}
.lui_forum_table_box tr th.th3{ }
.lui_forum_table_box tr th.th4{ width:115px;}
.lui_forum_table_box tr th.th5{ width:77px;}
.lui_forum_table_box tr th.th6{ width:51px;}
.lui_forum_table_box tr th.th7{ width:65px;}
.lui_forum_table_box tr th.th8{ width:55px;}
.lui_forum_table_box tr th.th9{ width:119px;}

/* 快速发帖 */
.forum_quickPost{ background:#fff; padding:22px; margin-top:10px; margin-bottom:20px;}
.forum_quickPost .tips{ margin-left:10px;}
.forum_quickPost .btn_posted{ float:left;}
.forum_quickPost .qucikPost_w{ margin-left:15px; display:inline-block; height:37px; line-height:37px;}
.forum_quickPost .qucikPost_w .item{ margin-right:12px;}
.forum_quickPost .qucikPost_w .item input{ margin-right:5px;}
.lui_forum_table .tb_simple{ width: 100%;}
/* 显示展开/折叠的样式 */
.lui_common_list_4_header_left{ padding-left:0;}
.lui_common_list_4_header_right{ padding-right:0;}
.lui_common_list_4_header_centre{ background-color:#4ebeff;}
.lui_common_list_4_header_centre:hover{ background-color:#47abe5;}
.lui_common_list_4_header_centre h4{ height:42px; padding-left:10px; font-weight: normal; line-height:42px; color:#fff; float:left;}
.lui_common_list_4_header_centre h4:before{content:""; display: inline-block; width: 16px; height: 16px; background:url(../images/icon_forum_sprite.png) no-repeat -32px 0; vertical-align: text-bottom; position: relative; top: -1px;}
.lui_common_list_4_header_centre h4 a{color:#fff;font-size:15px;}
.lui_common_list_4_content_left{ padding-left:0; }
.lui_common_list_4_content_right{ padding-right:0; }
.lui_common_list_4_content_centre{}
.lui_common_list_4_foot_left{ padding-left:0;}
.lui_common_list_4_foot_right{ padding-right:0;}
.lui_common_list_4_foot_centre{}
.lui_common_list_4_header_centre .list_down_icon{ margin:0px; margin-right:10px; width:20px; height:35px; background:url(../images/icon_spread.png) no-repeat center;}
.lui_common_list_4_header_centre .list_up_icon{ margin:0px; margin-right:10px; width:20px; height:35px; background:url(../images/icon_retract.png) no-repeat center;}
/* 加载更多数据 */
.lui_common_loadModulesM{ width:100%; height:25px; line-height:25px; vertical-align:middle; color:#fff; text-align:center;background-color:#9f9f9f; margin-bottom:14px; cursor:pointer;}
.lui_common_loadPic{ background:url(../images/load_more.png) no-repeat center center; margin-left:7px; display:inline-block; width:11px; height:11px; border:none; }

/* 帖子新建 */
.lui_sheet_c_table td{ padding:5px 0; color:#5b5b5b; font-size:12px; vertical-align:middle;}
.tips{ margin-left:10px;}
.lui_forum_table{}
.lui_forum_table .qucikPost_w{ margin-left:15px;}
.lui_forum_table .qucikPost_w .item{ margin-right:12px;}
.lui_forum_table .qucikPost_w .item input{ margin-right:5px;}
.attach_opt_w{ position:relative;}
.attach_opt_w em{ margin-left:8px; display:inline-block; height:25px; line-height:25px; background:#f3f3f3; border:1px solid #e0e0e0; border-bottom:0px; padding:0px 13px;}
.attach_opt_w .attach_opt{ height:32px; line-height:32px; margin-top:-1px; background:#f3f3f3; border:1px solid #e0e0e0;}
.attach_opt_w .attach_opt_notify{ height:32px; line-height:32px; margin-top:-1px; background:#f3f3f3; border:1px solid #e0e0e0;border-top: 0px}
.input_1{ height:24px; padding:0 4px; line-height:24px; color:#5b5b5b; border:1px solid #c0c0c0;}
.sheet_i_iconBox{ width:24px; height:24px; border-left:1px solid #e8e8e8; background:url(../images/lui_third_icon_1.png) no-repeat; cursor:pointer; position:absolute; right:1px; top:1px;}
.s_i_icon_4{ background-position:-97px 5px;}
.i_bar{ float:left; display:inline; position:relative;}

.lui_forum_table{ background:#fff;}
.lui_forum_table .tr_line{ border-bottom:1px solid #e8e8e8;}
.lui_forum_table .tr_button{ text-align:center;}
.btn_posted{ height:37px; line-height:37px; padding:0px 24px;border:0px; font-family:"微软雅黑"; color:#fff; font-size:14px; margin-right:8px; cursor:pointer;}
.btn_saveDraft{ height:37px; line-height:37px; background:#818181; padding:0px 24px; border:0px; color:#fff; font-size:14px; cursor:pointer;}
.btn_posted:hover{ background:#0ca0e8;}
.btn_saveDraft:hover{ background:#737373;}

/* 阅读页面 快速回帖 */
.forum_quickPost_read{ background:#fff; padding:20px;}
.forum_quickPost_read table tr td{ vertical-align:top;}
.forum_quickPost_read .td_user_img{ padding-right:24px; text-align:center;}
.forum_quickPost_read .td_user_img img{ width:60px; height:60px; border-radius: 50%;}
.forum_quickPost_read .tips{ color:#666; margin-left:10px;}
.forum_quickPost_read .p_upload{ padding:4px 0px; border-bottom:1px solid #e8e8e8;}
.forum_quickPost_read .btn_posted{ float:left;}
.forum_quickPost_read .qucikPost_w{ float:left; display:inline-block; height:37px; line-height:37px;}
.forum_quickPost_read .qucikPost_w .item{ margin-right:12px;}
.forum_quickPost_read .qucikPost_w .item input{ margin-right:5px;}
.forum_quickPost_read .qucikPost_btn{ position:absolute;left:50%;}
/*快速回复按钮*/
.btn_posted{ height:37px; line-height:37px; padding:0px 24px; background:#0baaf7; border:0px; font-family:"微软雅黑"; color:#fff; font-size:14px; margin-right:8px; cursor:pointer;}


/* 快捷菜单 */
 .forum_shortcut_menu ol,.forum_shortcut_menu ul{ list-style:none;}
.forum_shortcut_menu{ position:fixed; right:20px; bottom:180px;cursor:pointer;}
.forum_shortcut_menu ul li{ cursor:pointer; width:49px; height:50px; border:1px solid #eee; margin-top:-1px; background:#fff;}
.forum_shortcut_menu ul li a{ display:block; width:49px; height:50px;}
.forum_shortcut_menu ul li .menu3{ background:url(../images/02-1.png) no-repeat center;}
.forum_shortcut_menu ul li .menu3:hover{ background:url(../images/02.png) no-repeat center;}

.edit_forum_shortcut_menu{ position:fixed; right:20px; bottom:130px;cursor:pointer;}
.edit_forum_shortcut_menu ul li{ cursor:pointer; width:49px; height:50px; border:1px solid #eee; margin-top:-1px; background:#fff; list-style:none;}
.edit_forum_shortcut_menu ul li a{ display:block; width:49px; height:50px;}
.edit_forum_shortcut_menu ul li .menu3{ background:url(../images/02-1.png) no-repeat center;}
.edit_forum_shortcut_menu ul li .menu3:hover{ background:url(../images/02.png) no-repeat center;}



/*按钮样式*/
.forum_button{line-height:37px;width:105px;font-size:14px;text-align:center;display:inline-block}


/* 帖子阅读 */
.lui_form_content{ background-color:transparent!important;}
	
 em{font-style: normal;}
.pda{font-size: 8px}
.post_operate em{color: #dddcdc}
.forum_readPost_content{ background:#fff;border-top:4px solid #319ce8}

/*标题*/
.forum_content_titleBar{min-height:80px;position:relative; padding-left:80px; padding-bottom:10px; border-bottom:1px dashed #ececec;padding-top: 1px}
.forum_content_titleBar img.author_img{width:60px; height:60px; border-radius: 50%}
.forum_content_titleBar img.author_img{}
.forum_content_titleBar .title{ color:#3366d5; min-height:20px; font-size:16px; padding:22px 80px 5px 12px; margin-bottom:5px;}
.forum_content_titleBar .title img{ position:relative; top:2px;}
/* 标题固定 */
.forum_titleBar_fixed{ position:fixed; top:0px; left:0px; z-index:57;  width:100%; background:url(../images/forum_shadow.png) repeat-x left bottom ; padding-bottom:5px; border-top:4px solid #319ce8;}
.forum_titleBar_fixed .main_body{ width:980px; margin:0 auto;}
.forum_titleBar_fixed .forum_titleBar_w{ background:#fff;padding-top:1px; padding-bottom:5px;}
.forum_titleBar_fixed .floor_user_info_w{ left:0px; top:0px; display:block; min-height:45px; width:45px; background-color:transparent; border:none; padding:0px;}
.forum_titleBar_fixed .floor_user_baseInfo{ display:none;}
.forum_titleBar_fixed .userImage{ width:45px; height:45px; position:absolute; left:22px; top:8px;}
.forum_titleBar_fixed .userImage .author_img{ width:45px; height:45px;}
.forum_titleBar_fixed .forum_content_titleBar{ padding-left:67px; min-height:47px; border-bottom:0px; padding-bottom:5px;min-height: 52px;padding-top: 0px}
.forum_content_titleBar .forum_floor_info{ top:10px;}
.forum_titleBar_fixed .forum_content_titleBar h1.title{ padding-top:6px; margin-bottom:5px; font-size:13px; min-height:24px;width: 600px;}

/*标题固定基本信息*/
.forum_floor_info{}
.forum_floor_info .btn_good{ float:left; cursor:pointer; margin-right:8px; height:32px; line-height:32px; background:url(../images/forum_Obtn_L.png) no-repeat left top;/* padding-left:5px;*/}
.forum_floor_info .btn_good>span{ height:32px; display:inline-block; background:url(../images/forum_Obtn_R.png) no-repeat right top; /*padding-right:5px;*/}
.forum_floor_info .btn_good span a{ height:32px; font-size:14px; line-height:32px; display:inline-block; color:#fff; background:#ff8e29; padding:0px 15px; border-radius:5px; -webkit-border-radius:5px;}
.forum_titleBar_fixed .forum_floor_info{ top:4px;}
.forum_floor_info .btn_good:hover{ background:url(../images/forum_Obtn_L_cur.png) no-repeat left top;}
.forum_floor_info .btn_good:hover>span{ background:url(../images/forum_Obtn_R_cur.png) no-repeat right top;}
.forum_floor_info .btn_good:hover a{ background:#ffbe27;}


.forum_floor_info .btn_quickReply{ float:left; cursor:pointer; margin-right:8px; height:32px; line-height:32px; background:url(../images/forum_Bbtn_L.png) no-repeat left top; /*padding-left:5px;*/}
.forum_floor_info .btn_quickReply span{ height:32px; display:inline-block; background:url(../images/forum_Bbtn_R.png) no-repeat right top;/* padding-right:5px;*/}
.forum_floor_info .btn_quickReply span a{ height:32px; font-size:14px; line-height:32px; display:inline-block; color:#fff; background:#319ce8; padding:0px 15px; border-radius: 5px; -webkit-border-radius: 5px;}

.forum_floor_info .btn_quickReply:hover{ background:url(../images/forum_Bbtn_L_cur.png) no-repeat left top;}
.forum_floor_info .btn_quickReply:hover>span{ background:url(../images/forum_Bbtn_R_cur.png) no-repeat right top;}
.forum_floor_info .btn_quickReply:hover a{ background:#31c1ee;}


.post_basicInfo{ color:#767676;padding-left: 12px}
.post_basicInfo a.search{color:#767676}
.post_basicInfo a:hover{color:#f60}
.post_basicInfo em{ margin:0px 10px;}
.forum_floor_info{ position:absolute; right:0px; top:0px;top:20px}
.forum_floor_info .floor_nL{ display:inline-block; height:22px;  background:url(../images/floor_nL.png) no-repeat left top; padding-left:5px;}
.forum_floor_info .floor_nR{ display:inline-block; height:22px; background:url(../images/floor_nR.png) no-repeat right top; padding-right:5px;}
.forum_floor_info .floor_nC{ display:inline-block;line-height:22px; color:#fff; background:#319ce8;padding:0 5px}
.forum_floor_info .p1{ text-align:right;padding-right: 17px}
.post_basicInfo .p2{ display: inline;right: 18px;position: absolute}
.post_basicInfo .p2 a{ color:#9b9b9b;}
.post_basicInfo .p2 em{ margin:0px 10px;}
.post_basicInfo .a_read{ background:url(../images/icon_view.png) no-repeat left center; padding-left:20px;}
.post_basicInfo .a_comment{ background:url(../images/icon_comment.png) no-repeat left center; padding-left:18px;}
.forum_subjectPost_content:hover .post_operate a,.forum_subjectPost_content:hover .post_operate em,.forum_subjectPost_content:hover .post_operate span{color:#343434}
.forum_subjectPost_content:hover .post_operate a:hover{color:#f60}
.post_operate{border-bottom:1px solid #ededed}
.post_basicInfo .a_read{cursor:default}
.post_basicInfo .a_comment{cursor:default}

.forum_post_content{padding-top:10px;font-size:14px; line-height:1.5; color:#4c4b4f;min-height: 85px;word-break: break-all;}
.forum_post_content div{ font-size:14px;}
.forum_post_topic_content{padding-top:10px;font-size:14px; color:#4c4b4f;min-height: 85px; padding-left: 22px;padding-right: 16px}
.forum_post_topic_content ul,
.forum_post_topic_content ol{
  padding-left: 20px;
}
.forum_post_topic_content p{ font-size:14px;}
.forum_post_content .locked{overflow: hidden; margin: 10px 0; padding: 8px 8px 8px 24px; border: 1px dashed #FF9A9A; background: #FFF url(../images/icon_locked.gif) no-repeat 6px 50%;font-size: 12px;
						    zoom: 1;}
.post_img{ text-align:center; margin:28px auto;}

/* 个性签名 */
.signature{ min-height:42px; margin-top:20px; margin-bottom:5px; border-bottom:1px dashed #ccc;  position:relative; }
.signature h6{ height:12px; width:500px; border-top:1px dashed #ececec; position:relative;}
.signature  h6 span{ background:#fff url(../images/icon_signature.png) no-repeat left center; height:15px; width:79px; display:inline-block; position:absolute; left:0px; top:-9px;}
.signature p{ line-height:36px; position:absolute; left:0px; bottom:0px;}

/* 收藏 */
.collect_w{ text-align:center; padding-top: 90px;}
.collectL:hover,.collectL:hover em{ color:#fc5225;}
.collectL em{ margin-left:5px;}
.collectL{ display:inline-block; height:33px; padding-left:6px; background:url(../images/collect_L.png) no-repeat left top;padding-bottom: 20px}
.collectR{ display:inline-block; height:33px; padding-right:6px; background:url(../images/collect_R.png) no-repeat right top;cursor: pointer;}
.collectC{ display:inline-block; height:33px; line-height:33px; background:#e6edf2 url(../images/icon_collect.png) no-repeat 4px center; padding-left:26px; padding-right:6px;}

/* 编辑操作列表 */
.post_operate{ zoom:1; padding:10px 0px; padding-left:22px;padding-right:10px;color:#dddcdc;border-top:1px solid #ededed;}
.post_operate a,.post_operate span{ color:#dddcdc;}
.post_operate a{ cursor:pointer;}
.post_operate a:hover,.post_operate span:hover{ color:#f60;}
.post_operate:after{ clear:both; display:block; visibility:hidden; line-height:0px; content:'clear';}
.post_operate .left{ float:left; width:50%;}
.post_operate .right{ float:right;padding-right: 8px}
.post_operate em{ margin:0px 6px;}
.post_operate .support_un{ background:url(../images/ico_support_un.png) no-repeat left center; padding-left:18px;}/* 未赞样式 */
.post_operate .support{ background:url(../images/ico_support.png) no-repeat left center; padding-left:18px;}/* 已赞样式 */

/************* 帖子楼层 ****************/
.post_comment_floor{}
.post_comment_floor table{ width:100%;}
.post_comment_floor table tr td.split {background: url(../images/forum_td_bg.png) repeat-x left bottom;}
.post_comment_floor table tr td.one_floor{ padding-top:20px; padding-right:18px; vertical-align:top; position:relative;max-width: 980px}
.post_comment_floor table tr td.floor_user{ padding-right:0px; width:102px; z-index:1;}
.post_comment_floor table tr td.floor_user_none{ padding-right:0px; width:106px; z-index:1;}
.post_comment_floor .forum_post_attachW{ margin-top:25px;padding-bottom:20px}

/* 楼层用户信息 */
.post_comment_floor table tr td.floor_user{ position:relative;}
.post_comment_floor table tr td.floor_user >.level{ position:absolute; left:22px; top:88px;}

.userInfoWrapper{ position:absolute; left:0px; top:0px;}
.userInfoWrapper>img{ position:absolute; width:60px; height:60px; border-radius: 50%; left:22px; top:19px; z-index:55;}
.userInfoWrapper:hover .floor_user_info_w{ display:block;}
.floor_user_info_w{ display:none; position:absolute; left:8px; top:8px;padding-top:9px; padding-bottom:9px; padding-left:70px; width:359px; background:#fff;z-index:9; border:4px solid #e5e5e5; border-width:3px 4px;}
.floor_user_info_w .user_img_w{ position:absolute; left:10px; top:8px;}
.floor_user_info_w .level{ position:absolute; left:0px; top:64px; width:100px;}

.floor_user_info_w{ min-height:103px;}
.floor_user_info_w .level{ padding-top:5px;}
.floor_user_info_w .level img{padding-left: 4px}
.floor_user_info_w .user{line-height:18px; padding-bottom:5px;font-weight: bold;}
.floor_user_info_w .user a{ color:#5d7fcf;font-size: 14px}
.floor_user_info_w .floor_user_baseInfo{ padding-left: 20px}
.floor_user_info_w ul { zoom:1;}
.floor_user_info_w ul:after{ clear:both; display:block; content:""; visibility:hidden;}
.floor_user_info_w ul li {
  width: 162px;
  line-height: 20px;
  font-size: 12px;
  float: left;
  color: #828282;
  max-height: 100px\9;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  word-wrap: break-word;
  -webkit-line-clamp: 5;
  display: -webkit-box;
  -webkit-box-orient: vertical;
          box-orient: vertical;
  -webkit-box-pack: start;
          box-pack: start;
  -webkit-box-align: start;
          box-align: start;
}
.floor_user_info_w ul li em {
  margin-right: 8px;
  color: #333;
  white-space: nowrap;
}
.floor_user_info_w a{color:#999;}
.floor_user_info_w a:hover {color:#3366d5;}


/*** 匿名用户 ***/
.floor_user_none .floor_user_info_w{ position:absolute; left:8px; top:8px;padding-top:9px; padding-left:75px; border:4px solid transparent; border-width:3px 4px;}
.floor_user_none .floor_user_info_w .user_img_w{ position:absolute; left:10px; top:8px;}
.user_img_w .author_img{width: 60px;height: 60px}
.post_comment_floor table tr:hover .post_operate a,
.post_comment_floor table tr:hover .post_operate em,
.post_comment_floor table tr:hover .post_operate span{color:#343434}
.post_comment_floor table tr:hover .post_operate a:hover,.post_comment_floor table tr:hover .post_operate span:hover{color:#f60}
.post_level{display:inline-block; height:18px; line-height:18px; border-radius:2px;padding: 0 5px;background:#51b6ec;color: #ffffff;font-size: 12px}
.post_lv{border-radius:2px;padding: 0 7px;background:#6bdd77;color: #ffffff;font-size: 10px}


.floor_basicInfo{ color:#767676; line-height:20px; margin:0px 0px 5px;}
.floor_basicInfo a.search{color:#767676}
.floor_basicInfo a:hover{color:#f60}
.floor_basicInfo em{ margin:0px 5px;}
.floor_basicInfo a:first-child{font-size: 14px}
.floor_basicInfo a.floorer{ color:#333; margin-right:8px;}
.floor_basicInfo .com_author{ margin-right:5px;}
.post_comment_floor .signature{ margin-bottom:0px;}
.post_comment_floor .post_operate{ border-bottom:0px;border-top:1px solid #ededed;}
.floor_adminTips{ height:27px; line-height:27px;padding-left:32px; padding-right:15px;margin:5px 0px;text-align: center}
.floor_adminTips_show{ background:#fff7c6 url(../images/ico_tip.png) no-repeat 10px center;color: #767676; padding: 6px 20px 6px 35px;}
.floor_adminTips_show em{ color:#4170cd;}
.floor_tips{ text-align:center;padding: 6px 15px 14px 15px;}
.floor_tips_show{background:#fff7c6;color: #767676;padding: 6px 50px 6px 50px;}
.floor_tips em{ color:#fb3703;}
.floor_s{background:#ffd4d4;}
.floor_b{background:#ffeddc;}
.floor_d{background:#e3f7ff;}
.floor_o{background:#ededed;}
.floor_lz{background:#319ce8;}
.floor_numL{border-radius:4px;display:inline-block; height:22px;padding-left:7px; position:absolute; right:18px; top:16px;}
.floor_numR{ display:inline-block; height:22px;padding-right:5px;}
.num_s{color:#f82d2d}
.num_b{color:#ff8d20}
.num_d{color:#64b8db}
.mum_o{color:#333}
.mum_lz{color:#fff}
.floor_numC{ display:inline-block; height:22px; line-height:22px; padding:0px 4px;min-width: 24px;}

/* 阅读引用 */
.floor_quote_w{padding:7px 20px;word-break:break-all;padding-left:65px; background:#f9f9f9 url(../images/icon_quote_forwardL.png) no-repeat 20px 6px; position:relative;}
.floor_quote_w blockquote{ display:inline-block;padding-right:45px; background:url(../images/icon_quote_forwardR.png) no-repeat right bottom;}
.floor_quote_w .center{ display:inline-block;}
.floor_quote_w .com_author{ margin-right:5px;}
.floor_quote_w .floor_basicInfo_forward{ padding: 9px 40px 10px 0; color:#868686; }
.floor_quote_w .floor_basicInfo_forward .btn_forward{ display:inline-block; width:26px; height:26px; cursor:pointer; background:url(../images/icon_forward.png) no-repeat 5px 12px;margin-bottom: -2px;}
.floor_quote_w .forum_post_content{ min-height:24px;}

/* 快捷菜单 */
.forum_shortcut_menu  ol,.forum_shortcut_menu ul{ list-style:none;}
.forum_shortcut_menu{ position:fixed; right:20px; bottom:180px;cursor:pointer;z-index: 1}
.forum_shortcut_menu ul li{ cursor:pointer; width:49px; height:50px; border:1px solid #eee; margin-top:-1px; background:#fff;}
.forum_shortcut_menu ul li a{ display:block; width:49px; height:50px;}
.forum_shortcut_menu ul li .menu1{ background:url(../images/01-1.png) no-repeat center;}
.forum_shortcut_menu ul li .menu2{ background:url(../images/03-1.png) no-repeat center;}
.forum_shortcut_menu ul li .menu3{ background:url(../images/02-1.png) no-repeat center;}
.forum_shortcut_menu ul li .menu1:hover{ background:url(../images/01.png) no-repeat center;}
.forum_shortcut_menu ul li .menu2:hover{ background:url(../images/03.png) no-repeat center;}
.forum_shortcut_menu ul li .menu3:hover{ background:url(../images/02.png) no-repeat center;}

/*老数据引用信息兼容*/
.forum_post_content table{
	margin-bottom:8px;
	margin: 0px 0px -10px 0px;
}
td.quote_head{
	padding-top:15px;
	background:#f9f9f9 url(../images/icon_quote_forwardL.png) no-repeat 15px 5px;
	padding-left:67px;
}

td.quote {
	background:#f9f9f9;
	padding-left:67px;
}
td.quote p{
	background:#f9f9f9 url(../images/icon_quote_forwardR.png) no-repeat 97% bottom;
	padding-right:70px;
	min-height: 40px;
}
/**************************************************************************************/
.i_bar{ padding-right: 16px; border:1px solid #dcdcdc; }
.i_bar input{ width:85%; border:none;overflow:hidden; white-space:nowrap;}
.sheet_i_iconBox { top:0px; background-color:#fff;}
.i_bar .txtstrong{ position:absolute; right:-8px; top:5px;}

.lui_forum_iframe_body.lui_form_body{ background:#fff;}
.lui_forum_iframe_body .tb_simple{ width: 100%;}

/*----- 论坛管理模块 ------*/
.lui_forum_plate_body .tempTB{ background:#fff;}
.lui_forum_plate_body .lui_form_content{ padding:20px;}

/************************* 多语言问题处理 ************************************/
.muilti_eng .lui_forum_userinfo .post_numSummary p{ font-size:12px;}
.muilti_eng .lui_forum_userinfo .qucik_alink{ padding:22px 12px;}
.muilti_eng .lui_forum_userinfo .qucik_alink .p1 a{ width:auto; white-space:normal; padding-right:10px; font-size:12px;}
.muilti_eng .lui_forum_userinfo .qucik_alink .p1 a:hover{ color:#5078b0;}

.lui_form_body .tempTB{
  table-layout: fixed;
}
.lui_form_content em{
  font-style: italic;
}