<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean 
        id="thirdPaymentOrderDao" 
        class="com.landray.kmss.third.payment.dao.hibernate.ThirdPaymentOrderDaoImp" 
        parent="KmssAuthBaseDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.third.payment.model.ThirdPaymentOrder</value>
        </property>
    </bean>
    <bean 
        id="thirdPaymentOrderTarget" 
        class="com.landray.kmss.third.payment.service.spring.ThirdPaymentOrderServiceImp" 
        parent="KmssExtendDataTarget">
        <property 
            name="baseDao">
            <ref 
                bean="thirdPaymentOrderDao"/>
        </property>
    </bean>
    <bean 
        id="thirdPaymentOrderService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="thirdPaymentOrderTarget"/>
        </property>
    </bean>
    <bean 
        id="thirdPaymentCallLogDao" 
        class="com.landray.kmss.third.payment.dao.hibernate.ThirdPaymentCallLogDaoImp" 
        parent="KmssAuthBaseDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.third.payment.model.ThirdPaymentCallLog</value>
        </property>
    </bean>
    <bean 
        id="thirdPaymentCallLogTarget" 
        class="com.landray.kmss.third.payment.service.spring.ThirdPaymentCallLogServiceImp" 
        parent="KmssExtendDataTarget">
        <property 
            name="baseDao">
            <ref 
                bean="thirdPaymentCallLogDao"/>
        </property>
    </bean>
    <bean 
        id="thirdPaymentCallLogService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="thirdPaymentCallLogTarget"/>
        </property>
    </bean>
    <bean 
        id="thirdPaymentMerchantDao" 
        class="com.landray.kmss.third.payment.dao.hibernate.ThirdPaymentMerchantDaoImp" 
        parent="KmssAuthBaseDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.third.payment.model.ThirdPaymentMerchant</value>
        </property>
    </bean>
    <bean 
        id="thirdPaymentMerchantTarget" 
        class="com.landray.kmss.third.payment.service.spring.ThirdPaymentMerchantServiceImp" 
        parent="KmssExtendDataTarget">
        <property 
            name="baseDao">
            <ref 
                bean="thirdPaymentMerchantDao"/>
        </property>
    </bean>
    <bean 
        id="thirdPaymentMerchantService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="thirdPaymentMerchantTarget"/>
        </property>
    </bean>

    <bean
            id="weixinWorkPaymentProvider"
            class="com.landray.kmss.third.payment.service.spring.WeixinWorkPaymentProvider">
    </bean>

    <bean
            id="thirdPaymentApiService"
            class="com.landray.kmss.third.payment.service.spring.ThirdPaymentApiServiceImp">
        <property
                name="thirdPaymentCallLogService">
            <ref
                    bean="thirdPaymentCallLogService"/>
        </property>
        <property
                name="thirdPaymentOrderService">
            <ref
                    bean="thirdPaymentOrderService"/>
        </property>
        <property
                name="thirdPaymentMerchantService">
            <ref
                    bean="thirdPaymentMerchantService"/>
        </property>
        <property
                name="sysOrgPersonService">
            <ref
                    bean="sysOrgPersonService"/>
        </property>
    </bean>
</beans>
