<?xml version="1.0" encoding="UTF-8"?>
<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean 
        class="com.landray.kmss.third.payment.actions.ThirdPaymentOrderAction" 
        parent="KmssBaseAction" 
        name="/third/payment/third_payment_order/thirdPaymentOrder.do" 
        lazy-init="true">
        <property 
            name="formType" 
            value="com.landray.kmss.third.payment.forms.ThirdPaymentOrderForm"/>
        <property 
            name="forwards">
            <map>
                <entry 
                    key="data" 
                    value="/third/payment/third_payment_order/thirdPaymentOrder_data.jsp"/>
                <entry 
                    key="view" 
                    value="/third/payment/third_payment_order/thirdPaymentOrder_view.jsp"/>
            </map>
        </property>
    </bean>
    <bean 
        class="com.landray.kmss.third.payment.actions.ThirdPaymentCallLogAction" 
        parent="KmssBaseAction" 
        name="/third/payment/third_payment_call_log/thirdPaymentCallLog.do" 
        lazy-init="true">
        <property 
            name="formType" 
            value="com.landray.kmss.third.payment.forms.ThirdPaymentCallLogForm"/>
        <property 
            name="forwards">
            <map>
                <entry 
                    key="data" 
                    value="/third/payment/third_payment_call_log/thirdPaymentCallLog_data.jsp"/>
                <entry 
                    key="view" 
                    value="/third/payment/third_payment_call_log/thirdPaymentCallLog_view.jsp"/>
            </map>
        </property>
    </bean>
    <bean 
        class="com.landray.kmss.third.payment.actions.ThirdPaymentMerchantAction" 
        parent="KmssBaseAction" 
        name="/third/payment/third_payment_merchant/thirdPaymentMerchant.do" 
        lazy-init="true">
        <property 
            name="formType" 
            value="com.landray.kmss.third.payment.forms.ThirdPaymentMerchantForm"/>
        <property 
            name="forwards">
            <map>
                <entry 
                    key="data" 
                    value="/third/payment/third_payment_merchant/thirdPaymentMerchant_data.jsp"/>
                <entry 
                    key="edit" 
                    value="/third/payment/third_payment_merchant/thirdPaymentMerchant_edit.jsp"/>
                <entry 
                    key="view" 
                    value="/third/payment/third_payment_merchant/thirdPaymentMerchant_view.jsp"/>
            </map>
        </property>
    </bean>
</beans>
