<?xml version="1.0" encoding="UTF-8"?>
<plugin
	xmlns="http://www.example.org/plugin-config"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.example.org/plugin-config ../../plugin.xsd">
	
	<!-- 数据初始化 -->
	<extension-point
		id="com.landray.kmss.tic.core.init">
		<item name="init">
			<param
				name="moduleKey"
				required="true"
				kind="unid">
				<description>
					应用类型
				</description>
			</param>
			<param
				name="moduleName"
				required="true"
				kind="unid">
				<description>
					应用名字
				</description>
			</param>
			<param
				name="initTitle"
				required="true"
				kind="string">
				<description>
					初始化类型SAP、K3、EAS、U8、NC
				</description>
			</param>
			<param
				name="springBean"
				required="true"
				kind="spring"
				basedOn="com.landray.kmss.tic.core.init.interfaces.AbstractTicCoreInitExecute">
				<description>
					实现
				</description>
			</param>
			<param
				name="jspPath"
				required="false"
				kind="string">
				<description>
					JSP路径页面
				</description>
			</param>
			<param
				name="modulePath"
				required="true"
				default=""
				kind="string">
				<description>
				      模块路径
				</description>
			</param>
			<param
				name="confPath"
				required="true"
				default=""
				kind="string">
				<description>
				      存放导出文件的路径
				</description>
			</param>
			<param
				name="parentPath"
				required="true"
				default=""
				kind="string">
				<description>
				     存放文件resource后的一级文件名，parentPath要与confPath的开头路径一致
				</description>
			</param>
			<param
				name="uploadFileZip"
				required="true"
				default=""
				kind="string">
				<description>
				     上传文件名字
				</description>
			</param>
			<param
				name="exportFileZip"
				required="true"
				default=""
				kind="string">
				<description>
				     下载文件名字
				</description>
			</param>
			<param
				name="moduleDownloadInfo"
				required="true"
				kind="unid">
				<description>
					导出组件显示
				</description>
			</param>
			<param
				name="busiCateClass"
				required="true"
				kind="string">
				<description>
					   分类的全类名
				</description>
			</param>
			<description>
			  配置数据初始化信息
			</description>
		</item>
		<description> 配置数据初始化信息扩展点</description>
	</extension-point>
	
</plugin>
