<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.example.org/plugin-config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.example.org/plugin-config ../../../plugin.xsd ">

	<extension-point id="com.landray.kmss.component.bklink">
		<item name="moduleBklinkInfo">
			<param name="fdModelName" required="true" kind="string">
				<description>
					模块名字
				</description>
			</param>
			<param name="fdService" required="true" kind="string">
				<description>
					配置Service名字
				</description>
			</param>
			<description>数据断链扩展操作配置</description>
		</item>
		<item name="moduleBklinkCheckUpdate">
			<param name="fdModelName" required="true" kind="string">
				<description>
					模块名字
				</description>
			</param>
			<param name="fdService" required="true" kind="string" >
				<description>
					配置Service名字
				</description>
			</param>
			<description>模块model保存前检查</description>
		</item>
		<description>数据断链扩展配置</description>
	</extension-point>
</plugin>
