<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean
		name="/component/bklink/compBklink.do"
		class="com.landray.kmss.component.bklink.actions.CompBklinkAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.component.bklink.forms.CompBklinkForm" />
		<property name="forwards">
			<map>
				<entry
					key="view"
					value="/component/bklink/compBklink_view.jsp" />
				<entry
					key="editRemoveToModel"
					value="/component/bklink/compBklink_removeToModel_edit.jsp" />
			</map>
		</property>
	</bean>
</beans>