@CHARSET "UTF-8";

.main_data_dialog_selectBlock{
	margin:18px 0px;
	padding-left:5%;
	float:left;	
}

.main_data_dialog_select{
	display:inline;
	margin-left:15px;
}

.main_data_dialog_select .main_data_dialog_select_input{
	width:200px;
	height:24px;
	border:0px;
	border-bottom:1px solid #b4b4b4;
}

.main_data_dialog_selectModel{
	display:none;
}

.main_data_dialog_selectModel_span{
	margin:18px 0px 13px 0px;
	padding-left:5%;
	float:left;	
	text-align:left;
}

.xform_main_data_queryPreview_inputWrap{
	text-align:left;
	margin:18px 0px 0px 15px;
}

.xform_main_data_queryPreview_dataWrap{
	margin-top:15px;
}

.xform_main_data_queryPreview_inputContent_ul{
	list-style:none;
}

.xform_main_data_queryPreview_inputContent_ul li{
	float:left;
	width:50%;
	white-space:nowrap;
	margin-bottom:5px;
}

.xform_main_data_queryPreview_inputContent_ul span{
	margin-right:5px;
}

.xform_main_data_queryPreview_inputContent_ul input{
	height:24px;
	border:0px;
	border-bottom:1px solid #b4b4b4;
}

.xform_main_data_queryPreview_dataList_wrap{
	margin-top:15px;	
}

.xform_main_data_queryPreview_pageUl{
	list-style:none;
	float:right;
	width:110px;
	margin:10px 2.5% 0px 0px;
}

.xform_main_data_queryPreview_pageUl li{
	display:none;
	cursor:pointer;
	float:right;
	padding:0 5px;
}
