.ding_detailstable_wrap {
	
}

.ding_detailstable_wrap .ding_detailstable_content {
	
}

.ding_detailstable_content .ding_detailstable_row {
	
}

.ding_detailstable_row .ding_detailstable_desc {
	padding: 10px 0;
	line-height: 20px;
	height: 20px;
}

.ding_detailstable_desc .ding_detailstable_desc_txt {
	float: left;
}

.ding_detailstable_desc .ding_detailstable_del {
	float: right;
	cursor: pointer;
}

.ding_detailstable_wrap .ding_detailstable_opt {
	margin-top: 10px;
}

.ding_detailstable_opt .ding_detailstable_add {
	width: 154px;
	height: 30px;
	border-radius: 4px;
	border: 1px solid #0089ff;
	color: #0089ff;
	font-size: 14px;
	text-align: center;
	line-height: 30px;
	cursor: pointer;
}

/*********** view *************/
.ding_detailstable_wrap.view .ding_detailstable_del {
	display: none;
}

.ding_detailstable_wrap.view .ding_detailstable_opt {
	display: none;
}