<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean
		id="sysIntroduceMainDao"
		parent="KmssAuthBaseDao"
		class="com.landray.kmss.sys.introduce.dao.hibernate.SysIntroduceMainDaoImp">
		<property
			name="modelName"
			value="com.landray.kmss.sys.introduce.model.SysIntroduceMain" />
	</bean>
	<bean
		id="sysIntroduceMainTarget"
		parent="KmssBaseTarget"
		class="com.landray.kmss.sys.introduce.service.spring.SysIntroduceMainServiceImp">
		<property name="baseDao">
			<ref bean="sysIntroduceMainDao" />
		</property>
		<property name="notifyMainCoreService">
			<ref bean="sysNotifyMainCoreService" />
		</property>
		<property name="sysNewsTemplateService">
			<ref bean="sysNewsTemplateService" />
		</property>
		<property name="sysNewsMainDao">
			<ref bean="sysNewsMainDao" />
		</property>
		<property name="sysWfProcessSubService">
			<ref bean="sysWfProcessSubService" />
		</property>
	</bean>
	<bean
		id="sysIntroduceMainService"
		parent="KmssBaseService">
		<property name="target">
			<ref bean="sysIntroduceMainTarget" />
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>
	<bean
		id="sysIntroduceCoreService"
		parent="KmssBaseService">
		<property name="target">
			<bean
				class="com.landray.kmss.sys.introduce.service.spring.SysIntroduceCoreServiceImp">
				<property name="sysIntroduceMainService">
					<ref bean="sysIntroduceMainService" />
				</property>
				<property name="dispatchCoreService">
			        <ref bean="dispatchCoreService" />
		        </property>
			</bean>
		</property>
	</bean>
	<bean
		id="sysIntroduceGoalCheckService"
		class="com.landray.kmss.sys.introduce.service.spring.SysIntroduceGoalCheckService">
		<property name="sysIntroduceMainService">
			<ref bean="sysIntroduceMainService" />
		</property>
	</bean>


	<bean
		id="sysIntroduceCanserValidator"
		class="com.landray.kmss.sys.introduce.service.spring.SysIntroduceCanserValidator">
		<property name="sysIntroduceMainService">
			<ref bean="sysIntroduceMainService" />
		</property>
	</bean>
</beans>
