
.kmsLserviceNumberNode {
	display: flex;
	height: 8rem;
	align-items: center;
}

.kmsLserviceNumberNode_item {
	display: flex;
	z-index: 10;
	background-color: #fff;
	justify-content: center;
	width: 33.33333%;
}


.kmsLserviceNumberNode_item_right_countContainer {
	display:flex;
	flex-direction: column;
	align-items: center;
	margin-left:0.5rem;
}

.kmsLserviceNumberNode_item_right_count {
	font-size:2.2rem;
	line-height:2.2rem;
	margin-bottom:0.5rem;
}


.kmsLserviceSingleNode {
	display:flex;
	align-items: center;
	z-index:10;
}

.kmsLserviceSingleNodeImg {
	width:4.2rem;
	height:4.2rem;
	margin-right:1.9rem;
	margin-left:2.1rem;
}

.kmsLserviceSingleNodeText {
	font-size:2.4rem;
	line-height:2.4rem;
	color: #2A304A;
	margin-right:1rem;
}

.kmsLserviceSingleNodeCount {
	font-size:3rem;
	line-height:2.4rem;
	color:#4285F4
}

.kmsLserviceSeizeNode {
	display:flex;
	flex:1;
}

.kmsLserviceSeizeNodeRight {
	position:absolute; 
	right:0; 
	width:16.1rem;
	height:6.2rem;
}

.kmsLserviceSeizeNodeRightImg {
	background-size: cover;
	height:100%;
}


.kmsLserviceListNode {
	margin-bottom: 1rem;
}
.kmsLserviceListNodeHr {
	height:1px;
	display:flex;
	flex:1;
	background-color:#FAFAFA;
	margin-left:2.5rem;
}


@media (max-width: 374px) {
  .kmsLserviceNumberNode_item_right_count {
  	font-size:1.8rem;
	line-height:1.8rem;
  }
  
  .kmsLserviceSingleNodeImg {
		width:4.2rem;
		height:4.2rem;
		margin-right:1rem;
		margin-left:1.5rem;
	}
}
