@CHARSET "UTF-8";

body{
  min-width: 880px;
  /**overflow-y: hidden;**/
  background-color: #f7f7f7 !important;
  padding-bottom: 60px !important;
}
/* ================= 分类选择区域(悬浮Tab：图表类型、配置方式、 应用场景) ================== */ 
.suspend_overview_tab_panel {
    position: fixed;
    display: none;
    top: 0px;
    width: 100%;
    text-align: center;	
    background: #FFFFFF;
    border-bottom: 1px solid #D2D2D2;
    z-index: 999999;
}

.suspend_overview_tab {
    display: inline-block;
    *display: inline; 
    *zoom: 1;	
    height: 32px;
    line-height: 32px;
    color: #666666;
    padding: 2px 10px;
    cursor: pointer;
}

.suspend_overview_tab_selected {
    color: #4285F4 !important;
    border-bottom: 2px solid #4285f4;
}

.suspend_overview_tab:first-child+div {
    margin-left: 80px;
}

.suspend_overview_tab:first-child+div+div {
    margin-left: 80px;
}


/* ================= 预览分类选择区域(图表类型、配置方式、 应用场景) ================== */ 
.overview_tab_panel {
	width: 100%;
	height: 128px;
	color: #666666;
	background: #FFFFFF;
	border-bottom: 1px solid #D2D2D2;
	text-align: center;
	position: relative;
}

.overview_tab_panel .tab_category_area {
	width: 100%;
	margin: 0 auto;
	bottom: 0px;
    position: absolute;
}

.overview_tab_panel .tab_category {
    display: inline-block;
    *display: inline; 
    *zoom: 1;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 26px;
    cursor: pointer;
}

.overview_tab_panel .tab_category_selected {
    border-bottom: 2px solid #4285f4;
}

.overview_tab_panel .tab_category_selected .category_text {
	color: #4285F4;
}

.overview_tab_panel .tab_category:first-child+div {
   margin-left:80px;
}

.overview_tab_panel .tab_category:first-child+div+div {
   margin-left:80px;
}

.overview_tab_panel .tab_category .category_icon {
   width: 32px;
   height: 32px;
   margin: 0 auto;
   background-repeat:no-repeat;
}

.overview_tab_panel .tab_category_selected .chart_type_icon {
   background-image: url(../images/chart_type_selected.png) !important;
}

.overview_tab_panel .tab_category .chart_type_icon {
   background-image: url(../images/chart_type.png);
}

.overview_tab_panel .tab_category_selected .config_method_icon {
   background-image: url(../images/config_method_selected.png) !important;
}

.overview_tab_panel .tab_category .config_method_icon {
   background-image: url(../images/config_method.png);
}

.overview_tab_panel .tab_category_selected .app_scenario_icon {
   background-image: url(../images/app_scenario_selected.png) !important;
}

.overview_tab_panel .tab_category .app_scenario_icon {
   background-image: url(../images/app_scenario.png);
}

.overview_tab_panel .tab_category .category_text {
   margin: 0 auto;
   margin-top: 2px;
}


/* ================= 公共部分  ================== */ 

.basic_title {
   margin-top: 50px;
   text-align: center;
   color: #4A4A4A;
   font-size: 24px;
}

.basic_description {
	margin-top: 12px;
	color: #9B9B9B;
}
.basic_description div {
	text-align: center;
}


/* ================= 图表类型  ================== */ 
.chart_type_region {
	margin-top: 24px;
	width: 100%;
}

.chart_type_content {
	margin: 0 auto;
	text-align: center;
    width: 100%;
    max-width: 1100px;
}

.chart_type_cell {
	width: 22%;
	/**max-width: 200px;**/
	min-width: 200px;
	height: 380px;
	background: #FFFFFF;
	border: 1px solid #E1E2E4;
	border-radius: 2px;
	display: inline-block;
    *display: inline; 
    *zoom: 1;
    position: relative;
}

.chart_type_cell:first-child+div {
   vertical-align: top;
   margin-left: 20px;
}
.chart_type_cell:first-child+div+div {
   vertical-align: top;
   margin-left: 20px;
}
.chart_type_cell:first-child+div+div+div {
   vertical-align: top;
   margin-left: 20px;
}

.chart_type_title {
   width: 100%;
   heigth: 40px;
   line-height: 40px;
   background: #CADBFE;
   font-size: 18px;
   color: #001332;
}

.chart_type_cell_icon {
	margin-top: 20px;
}
.chart_type_cell_icon>div {
	width: 100px;
	height: 100px;
	margin: 0 auto;
	background-repeat:no-repeat;
}
.custom_data_icon {
   background-image: url(../images/custom_data.png);
}
.statistic_chart_icon {
   background-image: url(../images/statistic_chart.png);
}
.statistic_list_icon {
   background-image: url(../images/statistic_list.png);
}
.chart_set_icon {
   background-image: url(../images/chart_set.png);
}

.chart_type_detail {
	margin-top: 20px;
	color: #666666;
	height: 154px;
    overflow: hidden;
}

.chart_type_detail:hover {
	background: #FFFFFF;
	height: auto;
	position: absolute;
    z-index: 1;
}

.chart_type_detail .detail_show>div {
	 display: inline-block;
    *display: inline; 
    *zoom: 1;
}
.chart_type_detail .detail_feature>div {
	 display: inline-block;
    *display: inline; 
    *zoom: 1;
}

.chart_type_detail .detail_title {
    width: 60px;
    text-align: right;
}

.chart_type_detail .detail_desc {
	width: 60%;
	vertical-align: top;
	margin-right: 10px;
	text-align: left;
	white-space:normal;
	word-break:break-all;
	word-wrap:break-word;
}

.button_area {
    position: absolute;
    bottom: 16px;
	width: 100%
}
.create_button {
	background: #4285F4;
    border-radius: 4px;
    width: 100px;
    height: 28px;
    line-height: 28px;
    color: #FFFFFF;
    margin: 0 auto;
    cursor: pointer;
}

/* ================= 配置方式  ================== */ 
.config_method_region {
	margin-top: 24px;
	width: 100%;
}

.config_method_content {
	margin: 0 auto;
	text-align: center;
    width: 100%;
    max-width: 1100px;
}

.config_method_cell {
	width: 30%;
	/**max-width: 200px;**/
	min-width: 260px;
	height: 380px;
	background: #FFFFFF;
	border-radius: 2px;
	display: inline-block;
    *display: inline; 
    *zoom: 1;
    position: relative;
}

.config_method_cell:first-child+div {
   vertical-align: top;
   margin-left: 20px;
}
.config_method_cell:first-child+div+div {
   vertical-align: top;
   margin-left: 20px;
}


.config_method_cell_icon>div {
	background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 152px;
    width: 100%;
    background-position: center center;
    background-size: cover;
}

.static_data_import_icon {
   background-image: url(../images/static_data_import.jpg);
}
.dynamic_data_config_icon {
   background-image: url(../images/dynamic_data_config.jpg);
}
.program_mode_icon {
   background-image: url(../images/program_mode.jpg);
}

.config_detail_title {
   color: #333333;
   font-size: 18px;
   text-align: left;
   padding-left: 16px;
   margin-top: 20px;
}

.config_method_detail {
	margin-top: 14px;
	color: #666666;
}

.config_method_detail .detail_row {
	text-align: left;
	padding-left: 16px;
	padding-top: 6px;
}

.config_method_detail .detail_row>div {
	 display: inline-block;
    *display: inline; 
    *zoom: 1;
}

.config_method_detail .detail_separator {
    text-align: right;
}

.config_method_detail .detail_content {
	width: 90%;
	vertical-align: top;
	margin-right: 10px;
	text-align: left;
	white-space:normal;
	word-break:break-all;
	word-wrap:break-word;
}

/* ================= 应用场景  ================== */ 
.app_scenario_region {
	margin-top: 24px;
	width: 100%;
}

.app_scenario_content {
	margin: 0 auto;
	text-align: center;
    width: 100%;
    max-width: 1100px;
}

.app_scenario_content>div {
	display: inline-block;
    *display: inline; 
    *zoom: 1;	
}

.scenario_menu {
    text-align: left;
    margin-right:36px;
}	 

.scenario_menu_item {
    color: #999999;
    font-size: 16px;
    cursor: pointer;
}

.scenario_menu_item:first-child+div {
	margin-top: 20px;
}

.scenario_menu_item:first-child+div+div {
	margin-top: 20px;
}
.scenario_menu_item:first-child+div+div+div {
	margin-top: 20px;
}

.scenario_menu_item_selected {
	color: #4285F4 !important;
}

.scenario_content {
	vertical-align: top;
	background: #FFFFFF;
	height: 436px;
    width: 720px;
    box-shadow: darkgrey 2px 10px 30px 2px; /** 边框阴影 **/
}

.scenario_screenshot {
	margin: 0 auto;
	background-image: url(../images/scenario_1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 360px;
    width: 634px;
    background-position: center center;
    background-size: cover;
    margin-top: 20px;
}

.scenario_text {
	margin-top: 20px;
	color: #4A4A4A;
}
