<?xml version="1.0" encoding="UTF-8"?>
<plugin
	xmlns="http://www.example.org/plugin-config"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.example.org/plugin-config ../../../plugin.xsd ">
	<!-- 声明所需要实现的扩展点 -->
	 <extension point="com.landray.kmss.sys.xform.base.service.controls" model="*">
	  	<!-- 关联控件 -->
		<item name="control">
		    <param name="class" value="com.landray.kmss.sys.xform.base.service.controls.SysFormTemplateRelevanceControl" />
		    <param name="file" value="/sys/xform/designer/relevance.js" />
		    <param name="mainService" value="com.landray.kmss.sys.xform.base.service.controls.relevance.spring.SysFormMainRelevanceService" />
		</item>
	 </extension>
</plugin>