<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean
		name="/sys/xform/controls/relevance.do"
		class="com.landray.kmss.sys.xform.base.actions.controls.relevance.SysFormControlRelevanceAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property name="forwards">
			<map>
				<entry
					key="selectCatogary"
					value="/sys/xform/designer/relevance/relevance_main_selectCatogary.jsp" />
				<entry
					key="displayDialog"
					value="/sys/xform/designer/relevance/relevance_main_display_dialog.jsp" />
				<entry
					key="dataList"
					value="/sys/xform/designer/relevance/relevance_main_data_list.jsp" />
				<entry
					key="list"
					value="/sys/xform/designer/relevance/relevance_rightDiffusion_log_list.jsp" />
			</map>
		</property>
	</bean>
</beans>