<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean
		id="sysFormRelevanceServiceTarget"
		parent="KmssBaseTarget"
		class="com.landray.kmss.sys.xform.base.service.controls.relevance.spring.SysFormRelevanceServiceImp" >
		<property
			name="sysCategoryMainService">
			<ref
				bean="sysCategoryMainService" />
		</property>
		<property
			name="baseDao">
			<ref bean="KmssExtendDataAreaDao" />
		</property>
	</bean>
	
	<bean id="sysFormRelevanceService"
			parent="KmssBaseService">
		<property name="target">
			<ref bean="sysFormRelevanceServiceTarget" />
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="add*">PROPAGATION_REQUIRED</prop>
				<prop key="copy*">PROPAGATION_REQUIRED</prop>
				<prop key="update*">PROPAGATION_REQUIRED</prop>
				<prop key="save*">PROPAGATION_REQUIRED</prop>
				<prop key="delete*">PROPAGATION_REQUIRED</prop>
				<prop key="init*">PROPAGATION_REQUIRED</prop>
				<prop key="clone*">PROPAGATION_REQUIRED</prop>
				<prop key="set*">PROPAGATION_REQUIRED</prop>
				<prop key="redirect*">PROPAGATION_REQUIRED</prop>
				<prop key="*">PROPAGATION_REQUIRED,readOnly</prop>
			</props>
		</property>
	</bean>
</beans>
