<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean
		name="/fssc/fee/fssc_fee_template/fsscFeeTemplate.do"
		class="com.landray.kmss.fssc.fee.actions.FsscFeeTemplateAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.fssc.fee.forms.FsscFeeTemplateForm" />
		<property name="forwards">
			<map>
				<entry
					key="data"
					value="/fssc/fee/fssc_fee_template/fsscFeeTemplate_data.jsp" />
				<entry
					key="edit"
					value="/fssc/fee/fssc_fee_template/fsscFeeTemplate_edit.jsp" />
				<entry
					key="view"
					value="/fssc/fee/fssc_fee_template/fsscFeeTemplate_view.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/fssc/fee/fssc_fee_template/fsscFeeTemplateData.do"
		class="com.landray.kmss.fssc.fee.actions.FsscFeeTemplateDataAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.fssc.fee.forms.FsscFeeTemplateForm" />
		<property name="forwards">
			<map>
				<entry
					key="getTemplate"
					value="/fssc/fee/fssc_fee_template/fsscFeeTemplate_dialog_getTemplate.jsp" />
				<entry
					key="getExpenseCategory"
					value="/fssc/fee/fssc_fee_template/fsscFeeTemplate_dailog_feeToExpense.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/fssc/fee/fssc_fee_main/fsscFeeMain.do"
		class="com.landray.kmss.fssc.fee.actions.FsscFeeMainAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.fssc.fee.forms.FsscFeeMainForm" />
		<property name="forwards">
			<map>
				<entry
					key="data"
					value="/fssc/fee/fssc_fee_main/fsscFeeMain_data.jsp" />
				<entry
					key="edit"
					value="/fssc/fee/fssc_fee_main/fsscFeeMain_edit.jsp" />
				<entry
					key="view"
					value="/fssc/fee/fssc_fee_main/fsscFeeMain_view.jsp" />
				<entry
					key="view.4m"
					value="/fssc/fee/mobile/view.jsp" />
				<entry
					key="data.4m"
					value="/fssc/fee/mobile/list.jsp" />
				<entry
					key="viewFlow"
					value="/fssc/fee/resource/jsp/viewFlow.jsp" />
				<entry 
                    key="sysprint" 
                    value="/fssc/fee/fssc_fee_main/fsscFeeMain_sysprint.jsp"/>
                <entry 
                    key="listLedger" 
                    value="/fssc/fee/fssc_fee_main/fsscFeeMain_listLedger.jsp"/>
			</map>
		</property>
	</bean>
	<bean
		name="/fssc/fee/fssc_fee_expense_item/fsscFeeExpenseItem.do"
		class="com.landray.kmss.fssc.fee.actions.FsscFeeExpenseItemAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.fssc.fee.forms.FsscFeeExpenseItemForm" />
		<property name="forwards">
			<map>
				<entry
					key="data"
					value="/fssc/fee/fssc_fee_expense_item/fsscFeeExpenseItem_data.jsp" />
				<entry
					key="edit"
					value="/fssc/fee/fssc_fee_expense_item/fsscFeeExpenseItem_edit.jsp" />
				<entry
					key="view"
					value="/fssc/fee/fssc_fee_expense_item/fsscFeeExpenseItem_view.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/fssc/fee/fssc_fee_ledger/fsscFeeLedger.do"
		class="com.landray.kmss.fssc.fee.actions.FsscFeeLedgerAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.fssc.fee.forms.FsscFeeLedgerForm" />
		<property name="forwards">
			<map>
				<entry
					key="data"
					value="/fssc/fee/fssc_fee_ledger/fsscFeeLedger_data.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/fssc/fee/fssc_fee_mapp/fsscFeeMapp.do"
		class="com.landray.kmss.fssc.fee.actions.FsscFeeMappAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.fssc.fee.forms.FsscFeeMappForm" />
		<property name="forwards">
			<map>
				<entry
					key="data"
					value="/fssc/fee/fssc_fee_mapp/fsscFeeMapp_data.jsp" />
				<entry
					key="edit"
					value="/fssc/fee/fssc_fee_mapp/fsscFeeMapp_edit.jsp" />
				<entry
					key="view"
					value="/fssc/fee/fssc_fee_mapp/fsscFeeMapp_view.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/fssc/fee/fssc_fee_mapp/fsscFeeMobileConfig.do"
		class="com.landray.kmss.fssc.fee.actions.FsscFeeMobileConfigAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.fssc.fee.forms.FsscFeeMobileConfigForm" >
		</property>
	</bean>
	<bean 
        class="com.landray.kmss.fssc.fee.actions.FsscFeeMobileAction" 
        parent="KmssBaseAction" 
        name="/fssc/fee/fssc_fee_mobile/fsscFeeMobile.do" 
        lazy-init="true">
       <property 
            name="formType" 
            value="com.landray.kmss.fssc.fee.forms.FsscFeeMainForm"/>
        <property 
            name="forwards">
            <map>
             	<entry 
                    key="data" 
                    value="/fssc/mobile/fssc_mobile_fee/fsscMobileFee_data.jsp"/>
             	<entry 
                    key="moreData" 
                    value="/fssc/mobile/fssc_mobile_fee/fsscMobileFeeData.jsp"/>
                <entry 
                    key="edit" 
                    value="/fssc/mobile/fssc_mobile_fee/fsscMobileFee_edit.jsp"/>
                <entry 
                    key="view" 
                    value="/fssc/mobile/fssc_mobile_fee/fsscMobileFee_view.jsp"/>
                <entry 
                    key="editTemp" 
                    value="/fssc/mobile/fssc_mobile_fee/editTemp.jsp"/>      
            </map>
        </property>
    </bean>
    <bean
		name="/fssc/fee/fssc_fee_main/fsscFeeMainPortlet.do"
		class="com.landray.kmss.fssc.fee.actions.FsscFeeMainPortletAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property name="forwards">
			<map>
				<entry
					key="listPortlet"
					value="/fssc/fee/fssc_fee_main/fsscFeeMainPortlet_list.jsp" />
			</map>
		</property>
	</bean>
</beans>
