.lui-pop-btn[data-type="close"] {
	width: 48px;
	height: 48px;
	background-image: url('../images/icon_close.png');
}

.lui-pop-btn[data-type="close"]:hover {
	background-image: url('../images/icon_close_a.png');
}