
/* 我的笔记 - 课程(课件) Starts */
.muiMyNoteCourseItem {
	padding: 1.6rem;
}

.muiMyNoteCourseItem .courseName {
	max-width:80%;
	font-size: 14px;
	color: #2A304A;
	letter-spacing: 0;
	line-height: 18px;
}

.muiMyNoteCourseItem .bottom {
	display: flex;
	margin-top:1rem;
}

.muiMyNoteCourseItem .bottom .time {
	display: flex;
	font-size: 12px;
	color: #999FB7;
	letter-spacing: 0;
	text-align: left;
	line-height: 12px;
}

.muiMyNoteCourseItem .bottom .right {
	display: flex;
	flex: 1;
	justify-content: flex-end;
}

.muiMyNoteCourseItem .bottom .right .num {
	font-size: 1.3rem;
	color: #4285F4;
	letter-spacing: 0;
	line-height: 1.3rem;
	font-weight:bold;
}

.muiMyNoteCourseItem .bottom .right .text {
	margin-left:0.5rem;
	font-size: 1.2rem;
	color: #4285F4;
	letter-spacing: 0;
	line-height: 1.2rem;
}

.muiMyNoteCourseItem .hr {
	margin-top:1.6rem;
	background: #EAEBF0;
	height:0.5px;
	width:100%;
}

/* 我的笔记 - 课程(课件) Ends */

.muiMyNoteCourseNoteItem {
	background: #FFFFFF;
	box-shadow: 0 0 1.5rem 0 rgba(153,179,210,0.20);
	border-radius: 0.5rem;
	margin: 1.5rem;
	padding-bottom:0;
}

.muiMyNoteCourseNoteItem .top {
	padding: 13px;
	padding-bottom: 0;
}

.muiMyNoteCourseNoteItem .top .content {
	font-weight:bold;
	font-size: 14px;
	color: #2A304A;
	letter-spacing: 0;
	line-height: 22px;
}

.muiMyNoteCourseNoteItem .second {
	display: flex;
	margin-top:1.4rem; 
	align-items: center;
	margin-bottom:1.4rem;
}

.muiMyNoteCourseNoteItem .second .shareImg {
	display: flex;
	height:1.4rem;
	width:3.2rem;
}

.muiMyNoteCourseNoteItem .second .timeImg {
	margin-left:1rem;
	margin-right:0.5rem;
	display: flex;
	height:1rem;
	width:1rem;
}

.muiMyNoteCourseNoteItem .second .time {
	display: flex;
	font-size: 12px;
	color: #999FB7;
	letter-spacing: 0;
	text-align: left;
	line-height: 18px;
}

.muiMyNoteCourseNoteItem .hr {
	background: #F4F4F4;
	height:0.5px;
	width:100%;
}

.muiMyNoteCourseNoteItem .bottom {
	display: flex; 
	height:4.5rem;
	align-items: center;
}

.muiMyNoteCourseNoteItem .bottom .evalContainer {
	display: flex;
	height:100%;
	padding-left:1.3rem;
	padding-right:1.3rem;
	align-items: center;
}
.muiMyNoteCourseNoteItem .bottom .evalContainer .evalImg {
	width:1.2rem;
	height:1.2rem;
	margin-right:0.5rem;
}
.muiMyNoteCourseNoteItem .bottom .evalContainer .evalCount {
	font-size: 12px;
	color: #999FB7;
	letter-spacing: 0;
	line-height: 12px;
}

.muiMyNoteCourseNoteItem .bottom .praiseContainer {
	padding-left:1.3rem;
	padding-right:1.3rem;
	display: flex;
	height:100%;
	align-items: center;
	justify-content: center;
}
.muiMyNoteCourseNoteItem .bottom .praiseImg {
	width:1.2rem;
	height:1.2rem;
	margin-right:0.5rem;
}
.muiMyNoteCourseNoteItem .bottom .praiseCount{
	font-size: 12px;
	color: #999FB7;
	letter-spacing: 0;
	line-height: 12px;
}

.muiMyNoteCourseNoteItem .bottom .right {
	display: flex;
	flex: 1;
	justify-content: flex-end;
	height: 100%;
}
.muiMyNoteCourseNoteItem .bottom .right .deleteContainer {
	display: flex;
	height:100%;
	padding-left:1.3rem;
	padding-right:1.3rem;
	align-items: center;
	justify-content: flex-end;
}
.muiMyNoteCourseNoteItem .bottom .right .deleteImg {
	width:1.2rem;
	height:1.2rem;
}


