/* body{
	overflow:hidden;
	-ms-overflow-y: auto; 
	-ms-overflow-x: auto;
} */
#readerBottom {
	height: 0px;
	background: white;
}

.pageBottom {
	padding-top: 66px;
	bottom: 0px;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=0)";
}

.excelBottom {
	height: 66px !important;
	bottom: 0px;
}

.excelMainMiddle {
	bottom: 66px !important;
}

#bottomContainer {
	width: 100%;
	height: 65px;
	background-color: #F7F6F6;
	border-top: 1px solid #ddd;
}

/***右上缩放按钮***/
#zoomButton {
	position: fixed;
	right: 26px;
	top: 26px;
	z-index:9999;
}

#zoomButton .zoom-icon {
	display: block;
	width: 22px;
	height: 20px;
	background: url(../images/read_cancel_fullscreen.png) no-repeat;
	cursor: pointer;
	overflow: hidden;
	height: 66px;
}

#zoomButton .zoom-icon {
	background-position: 0px 0px;
}

#zoomButton .zoom-icon:hover, #zoomButton .zoom-icon.hover {
	background-position: 0px 0px;
}

/***readerTop***/
#readerTop {
	display: none;
}

/***翻页工具***/
.pageNav {
	margin: 20px 25% 20px 55%
}

.pageBtn {
	width: 120px;
	position: fixed;
	top: 0px;
	bottom: 0px;
	display: none;
}

.pageBtn .btn_icon {
	display: none;
	width: 36px;
	height: 66px;
	background: url(../images/read_arrow_fullscreen.png) no-repeat;
	cursor: pointer;
	overflow: hidden;
	position: absolute;
	top: 50%;
	margin-top: -33px;
}

#mainLeft {
	left: 0px;
}

#mainRight {
	right: 0px;
}

#mainRight a {
	right: 30px;
	background-position: -36px -66px;
}

#mainLeft a {
	left: 30px;
	background-position: 0 -66px;
}

#bottomContainer .zoom {
	margin-top: 20px;
}

#bottomContainer .zoom ul li a {
	display: inline-block;
	cursor: pointer;
	width: 22px;
	height: 20px;
}

#bottomContainer .zoom ul li a.zoom_a {
	background-position: 0px 0px;
}

#bottomContainer .zoom ul li a.zoom_a:hover, #bottomContainer .zoom ul li a.zoom_a.hover
	{
	background-position: 0px 0px;
}

#bottomContainer .zoom ul li a {
	background: url(../images/read_cancel_fullscreen.png) no-repeat;
}

.seperateOpen {
	display: none;
}

#mainMiddle {
	bottom: 0px;
	top: 0px;
}

.lui_sheet_doc_list {
	height: 65px !important;
}

.lui_sheet_switch li {
	height: 65px !important;
	line-height: 65px !important;
}

.lui_sheet_doc_list li {
	height: 65px !important;
	line-height: 65px !important;
}


#bottomContainer .zoom ul li a {
	display: none;
}