@CHARSET "UTF-8";

.dialog_selectBlock{
	margin:18px 0px;
	padding-left:5%;
	float:left;	
}

.dialog_select{
	display:inline;
	margin-left:15px;
}

.dialog_select .dialog_select_input{
	width:200px;
	height:24px;
	border:0px;
	border-bottom:1px solid #b4b4b4;
}

.dialog_selectModel{
	display:none;
}

.dialog_selectModel_span{
	margin: 18px 0px 0px 0px;
	padding: 5px;
	text-align: left;
}

.queryPreview_inputWrap{
	text-align:left;
	margin:18px 0px 0px 15px;
}

.queryPreview_dataWrap{
	margin-top:15px;
}

.queryPreview_inputContent_ul{
	list-style:none;
}

.queryPreview_inputContent_ul li{
	float:left;
	width:50%;
	white-space:nowrap;
	margin-bottom:5px;
}

.queryPreview_inputContent_ul span{
	margin-right:5px;
}

.queryPreview_inputContent_ul input{
	height:24px;
	border:0px;
	border-bottom:1px solid #b4b4b4;
}

.queryPreview_dataList_wrap{
	margin-top:15px;	
}

.queryPreview_pageUl{
	list-style:none;
	float:right;
	width:110px;
	margin:10px 2.5% 0px 0px;
}

.queryPreview_pageUl li{
	display:none;
	cursor:pointer;
	float:right;
	padding:0 5px;
}
