<?xml version="1.0" encoding="UTF-8"?>
<plugin 
    xsi:schemaLocation="http://www.example.org/plugin-config ../../plugin.xsd" 
    xmlns="http://www.example.org/plugin-config" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <!--
    <extension point="com.landray.kmss.sys.webservice2">
		<item name="registry">
			<param name="serviceName" value="分类统一配置webservice服务" />
			<param name="serviceClass"
				value="com.landray.kmss.kms.category.webservice.config.service.IKmsCategoryConfigWSService" />
			<param name="serviceBean" value="kmsCategoryConfigWSService" />
			<param name="serviceDoc" value="/kms/category/webservice/kmsCategoryConfigWSService_help.jsp" />
		</item>
	</extension>
	
	
	<extension point="com.landray.kmss.sys.webservice2">
		<item name="registry">
			<param name="serviceName" value="知识标签更新webservice服务" />
			<param name="serviceClass"
				value="com.landray.kmss.kms.category.webservice.knowledge.service.IKmsKnowledgeTagWSService" />
			<param name="serviceBean" value="kmsKnowledgeTagWSService" />
			<param name="serviceDoc" value="/kms/category/webservice/kmsKnowledgeTagWSService_help.jsp" />
		</item>
	</extension>
	
	<extension point="com.landray.kmss.sys.webservice2">
		<item name="registry">
			<param name="serviceName" value="知识与分类更新webservice服务" />
			<param name="serviceClass"
				value="com.landray.kmss.kms.category.webservice.knowledge.service.IKmsKnowledgeCategoryWSService" />
			<param name="serviceBean" value="kmsKnowledgeCategoryWSService" />
			<param name="serviceDoc" value="/kms/category/webservice/kmsKnowledgeCategoryWSService_help.jsp" />
		</item>
	</extension>
	
	<extension point="com.landray.kmss.sys.webservice2">
		<item name="registry">
			<param name="serviceName" value="知识排重更新webservice服务" />
			<param name="serviceClass"
				value="com.landray.kmss.kms.category.webservice.knowledge.service.IKmsKnowledgeRepeatWSService" />
			<param name="serviceBean" value="kmsKnowledgeRepeatWSService" />
			<param name="serviceDoc" value="/kms/category/webservice/kmsKnowledgeRepeatWSService_help.jsp" />
		</item>
	</extension>
	-->
	
	<extension point="com.landray.kmss.sys.mobile.config">
		<item name="info">
			<param name="name" value="{kms-category:title.kms.category}" />
			<param name="modelName" value="com.landray.kmss.kms.category.model.KmsCategoryMain" />
			<param name="defaultUrl" value="/kms/category/mobile/nav.json" />
		</item>
	</extension>
	
	<extension point="com.landray.kmss.sys.mobile.compress" model="*">
		<item name="js-pkg">
			<param name="name" value="mui-kms-category.js" />
			<param name="targetFile" value="/kms/category/mobile/index.js" />
			<param name="tinyId" value="kms-category" />
		</item>
	</extension>
</plugin>