data = data || {};
var viewWgt = render.parent;
var fieldInfos = viewWgt.getFieldInfos();
var lang = viewWgt.getModelingLang();
// 列表穿透，默认是true
var viewFlag = data.fdViewFlag === "0" ? "0":"1";
// 是否权限过滤，默认是true
var authEnabled = data.fdAuthEnabled === "0" ? "0":"1";

// 是否开启直接穿透，默认是false
var directlyThrouth = data.fdDirectlyThrouth === "1" ? "1":"0";

// 获取标题字段的文本值
var fdSubject = data.fdSubject || {};

{$
<table class="tb_simple model-view-panel-table" width="100%">

    <!-- 统计项start -->
    <tr lui-pam-hidden="true" style="">
        <td class="td_normal_title" data-lui-position='fdStatistics'>
            <span class="model-edit-view-oper-title">{%lang['listview.Statistics']%}</span>
            <span class="model-data-create model-data-statistics">{%lang['button.add']%}</span>
        </td>
    </tr>
    <tr lui-pam-hidden="true" style="">
        <td class="model-view-panel-table-td td-bottom">
            <div class="model-panel-table-base"  data-lui-position='fdStatistics' style="display:none;margin-bottom:0">
                <div class="tb_simple model-edit-view-oper-content-table"  id="fd_{%viewWgt.id%}_statistics" data-table-type="statistics" style="width:100%;">
                </div>
            </div>
        </td>
    </tr>
    <!-- 统计项end -->

    <!-- 排序设置start -->
    <tr>
        <td class="td_normal_title" data-lui-position='fdOrderBy'>
            <span class="model-edit-view-oper-title">{%lang['modelingAppListview.fdOrderBy']%}</span>
            <span class="model-data-create model-data-order">{%lang['button.add']%}</span>
        </td>
    </tr>
    <tr>
        <td class="model-view-panel-table-td">
            <div class="model-panel-table-base" style="display:none;margin-bottom:0">
                <div class="tb_simple model-edit-view-oper-content-table" id="fd_{%viewWgt.id%}_order" data-table-type="order" style="width:100%;">
                </div>
            </div>
        </td>
    </tr>
    <!-- 排序设置end -->
    <!-- 业务操作start -->
    <tr  class="operationTr">
        <td class="td_normal_title" data-lui-position='fdOperation'>
            <span class="model-edit-view-oper-title">
                {%lang['modelingAppListview.listOperation']%}
            </span>
            <span class="model-data-create model-data-operate">
                {%lang['button.add']%}
            </span>
        </td>
    </tr>
    <tr>
        <td class="model-view-panel-table-td">
            <div class="model-panel-table-base" style="display:none;margin-bottom:0">
                <div class="tb_simple model-edit-view-oper-content-table" id="fd_{%viewWgt.id%}_operate" data-table-type="operate" style="width:100%;">
                </div>
                <input name="mobileOperationIds" type="hidden" value="" />
                <input name="mobileOperationNames" type="hidden" value="" />
            </div>
        </td>
    </tr>
    <!-- 业务操作end -->
    <!-- 标题字段start -->
    <tr>
        <td class="td_normal_title" data-lui-position='fdSubject'>
            {%lang['listview.title.field']%}
        </td>
    </tr>
    <tr class="fdSubjectTr">
        <td class="model-view-panel-table-td">
            <div class="model-mask-panel-table-select" style="margin-left: 0px;width:96%;display:inline-block;height:28px">
                <p class="model-mask-panel-table-select-val" placeholder="{%lang['modeling.page.choose']%}">{%fdSubject.text || lang['modeling.page.choose']%}</p>
                <div class="model-mask-panel-table-option">$}
                    for(var i = 0;i < fieldInfos.length;i++){
                    var fieldInfo = fieldInfos[i];
                    {$
                    <div option-value="{%fieldInfo.field%}" data-field-type="{%fieldInfo.type%}" title="{%fieldInfo.text%}">{%fieldInfo.text%}</div>
                    $}
                    }
                    {$</div>
                <input name="fd_{%viewWgt.id%}_fdSubject" type="text" style='display: none' validate='required' subject='{%lang['listview.title.field']%}' value="{%fdSubject.field%}" />
            </div>
            <span class="txtstrong">*</span>
        </td>
    </tr>
    <!-- 标题字段end -->

    <!-- 显示项start -->
    <tr>
        <td class="td_normal_title" data-lui-position='fdDisplay'>
            {%lang['listview.summary.item']%}
        </td>
    </tr>
    <tr>
        <td class="model-view-panel-table-td">
            <div class="inputselectsgl multiSelectDialog" data-lui-position='fdDisplay'  style="width:100%;height: 28px!important;">
                <input name="fd_{%viewWgt.id%}_fdSummary" value='{%JSON.stringify(data.fdSummary)%}' type="hidden">
                <div class="input">
                    <input name="fd_{%viewWgt.id%}_fdSummaryText" value="{%data.fdSummaryText%}" type="text" style="display:none;"/>
                    <span class="selectedItem"></span>
                </div>
                <div class="deleteAll"></div>
                <div class="selectitem"></div>
            </div>
        </td>
    </tr>

    <tr>
        <td class="model-view-panel-table-td">
            <div class="td_normal_title" style="display: inline-block;font-weight: 600;font-size: 14px;">
                {%lang['listview.whether.displays.summary.item']%}
            </div>
            <input type="hidden" name="fd_{%viewWgt.id%}_fdSummaryTitleShow" value='{%data.fdSummaryTitleShow%}'>
            <div class="view_flag_radio" style="display: inline-block;">
                <div class="view_flag_radio_yes" style="display: inline-block;cursor: pointer;"
                     onclick="changeViewFlag(this,'fd_{%viewWgt.id%}_fdSummaryTitleShow','1')">
                    <i class="view_flag_no {%data.fdSummaryTitleShow === '1'?'view_flag_yes':''%}"></i>{%lang['enums.viewtab_fdIsOpen.1']%}
                </div>
                <div class="view_flag_radio_no view_flag_last" style="display:inline-block;cursor: pointer;"
                     onclick="changeViewFlag(this,'fd_{%viewWgt.id%}_fdSummaryTitleShow','0')">
                    <i class="view_flag_no {%(data.fdSummaryTitleShow ==='0' ||data.fdSummaryTitleShow ==='' ||typeof(data.fdSummaryTitleShow) ==='undefined') ?'view_flag_yes':''%}">
                    </i>{%lang['enums.viewtab_fdIsOpen.0']%}
                </div>
            </div>
        </td>
    </tr>
    <!-- 显示项end -->

    <!-- 筛选项start -->
    <tr>
        <td class="td_normal_title" data-lui-position='fdCondition'>
            {%lang['modelingAppListview.fdCondition']%}
        </td>
    </tr>
    <tr>
        <td class="model-view-panel-table-td">
            <div class="inputselectsgl multiSelectDialog"  data-lui-position='fdCondition' style="width:100%;height: 28px!important;">
                <input name="fd_{%viewWgt.id%}_fdCondition" value='{%JSON.stringify(data.fdCondition)%}' type="hidden">
                <div class="input">
                    <input name="fd_{%viewWgt.id%}_fdConditionText" value="{%data.fdConditionText%}" type="text" style="display:none;" />
                    <span class="selectedItem"></span>
                </div>
                <div class="deleteAll"></div>
                <div class="selectitem"></div>
            </div>
        </td>
    </tr>
    <!-- 筛选项end -->

    <!-- 视图穿透start-->
    <tr>
        <td class="td_normal_title viewcover-content">
            {%lang['listview.view.penetration']%}
        </td>
    </tr>
    <tr>
        <td class="model-view-panel-table-td">
            <input type="hidden" name="fd_{%viewWgt.id%}_fdViewFlag" value='{%viewFlag%}'>
            <div class="view_flag_radio" style="display: inline-block;">
                <div class="view_flag_radio_yes" style="display: inline-block;cursor: pointer;"  onclick="changeViewFlag(this,'fd_{%viewWgt.id%}_fdViewFlag',1,'fd_{%viewWgt.id%}_fdViewId')">
                    <i class="view_flag_no {%viewFlag === '1'?'view_flag_yes':''%}"></i>是
                </div>
                <div class="view_flag_radio_no view_flag_last" style="display:inline-block;cursor: pointer;"  onclick="changeViewFlag(this,'fd_{%viewWgt.id%}_fdViewFlag',0,'fd_{%viewWgt.id%}_fdViewId')">
                    <i class="view_flag_no {%viewFlag === '0'?'view_flag_yes':''%}"></i>否
                </div>
            </div>
            <select class='inputsgl selectCover' name="fd_{%viewWgt.id%}_fdViewId" style="{%viewFlag === '1'?'width:75%;magrin-left:8px':'display:none'%}">
                <option value="">{%lang['listview.default.view']%}</option>$}
                // listviewOption.baseInfo在edit.jsp里面定义
                for(var i = 0;i < listviewOption.baseInfo.views.length;i++){
                var option = listviewOption.baseInfo.views[i];
                if (option[2] || option[3]) {
                {$
                <option value="{%option[0]%}" {%data.fdViewId === option[0]?'selected':''%}>{%option[1]%}</option>
                $}
                }
                }
                {$</select>
        </td>
    </tr>
    <!-- 视图穿透end-->
    <!-- 是否直接穿透-->
<tr>
    <td class="td_normal_title" >{%lang['listview.penetrate.directly']%}
    <div class="modeling-viewcover-tip">
        <span>{%lang['listview.penetrate.directly.tips']%}</span>
    </div>
    </td>
</tr>
    <tr>
        <td class="td_normal_title">
            $}
            if(directlyThrouth ==1){
            {$
            <input type="radio" name="fd_{%viewWgt.id%}_fdDirectlyThrouth" value="1"checked>{%lang['enums.viewtab_fdIsOpen.1']%}
            <input type="radio" name="fd_{%viewWgt.id%}_fdDirectlyThrouth" value="0">{%lang['enums.viewtab_fdIsOpen.0']%}
            $}
            }else{
            {$
            <input type="radio" name="fd_{%viewWgt.id%}_fdDirectlyThrouth" value="1">{%lang['enums.viewtab_fdIsOpen.1']%}
            <input type="radio" name="fd_{%viewWgt.id%}_fdDirectlyThrouth" value="0"checked>{%lang['enums.viewtab_fdIsOpen.0']%}
            $}
            }
            {$
        </td>
    </tr>
</table>
$}
