.lui_sys_help_catelog_add{ margin-right: 8px;width:14px; height:15px; background:url(../../resource/images/handle_icon_add.png) no-repeat 0 0; display:inline-block; cursor:pointer;}
.lui_sys_help_catelog_del{ margin-right: 8px;width:14px; height:15px; background:url(../../resource/images/handle_icon_del.png) no-repeat 0 0; display:inline-block; cursor:pointer;}
.lui_sys_help_catelog_up{ margin-right: 8px;width:14px; height:15px; background:url(../../resource/images/handle_icon_upl.png) no-repeat 0 0; display:inline-block; cursor:pointer;}
.lui_sys_help_catelog_down{ margin-right: 8px;width:14px; height:15px; background:url(../../resource/images/handle_icon_down.png) no-repeat 0 0; display:inline-block; cursor:pointer;}
.lui_sys_help_catelogEdit_tr td {
	border-top: 1px solid #e8e8e8;
	border-bottom: 1px solid #e8e8e8;
	text-align: center;	
}
.lui_sys_help_catelog_edit_tr_head td {
	border-top: 1px solid #e8e8e8;
	border-bottom: 1px solid #e8e8e8;
	text-align: center;
	background-color: #fcfcfc;
}
