.lui_form_subject{
	text-align: left !important;
	margin-bottom: 20px;
}
.docSubject{
	width: 100%;
	height: 30px;
}
.fdTargetBtn{
	font-size: 16px;
	line-height: 22px;
	float: left;
	color: #4285f4;
	cursor: pointer;
}
.sys_help_catelog_fdConfigFdName{
	line-height: 22px;
	font-size: 16px;
	float: left;
	display: inline-block;
}
.sys_help_catelog_cancel{
	display: inline-block;
    width:16px;
    height:16px;
    border:5px solid transparent;
    background:url(../../sys_help_template/image/icon-close.png) no-repeat left top;
    cursor:pointer;
}
.sys_help_catelog_cancel:before{
    display:inline-block;
    width:0;
    height:0;
     background-image:url(../../sys_help_template/image/icon-close-cur.png);
}
.sys_help_catelog_cancel:hover{
    background-image:url(../../sys_help_template/image/icon-close-cur.png);
}