@CHARSET "UTF-8";
.customContainerTD{
	padding: 0!important;
}
.rTypeContainer .tb_simple>tbody>tr{
}
.rTypeContainer .tb_simple>tbody>tr>.td_normal_title{
	text-align: left;
	
}
.expandDiv{
	float: right;
	font-size: 12px;
	font-weight:normal; 
}

.swichDiv div{
	float:right; 
}

.swichDiv .videoDiv,.swichDiv .placeDiv{
	margin: 8px;
}