@CHARSET "UTF-8";
/** reset **/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,iieldset,input,textarea,p,blockquote,th,td{ 
	margin:0; 
	padding:0;
	list-style: none;
}
/**会议回执样式**/
.discuss{ 
	padding-bottom:20px;
}
.discuss .sort{ 
	height:34px; 
	background:#f3f3f3; 
	border:1px solid #e0e0e0; 
	border-top:0px;
	border-bottom:1px solid #b4b4b4
}
.discuss .sort ul{ 
	float:right;
}
.discuss .sort ul:after{ display:table; content:""; clear:both;} 
.discuss .sort ul li{ 
	float:left; 
	margin-top:5px; 
	margin-right:9px; 
	text-align:right; 
	cursor:pointer; 
}
.discuss .sort ul li a{ }
.discuss .sort ul li a{
    width:44px; 
	height:20px; 
	line-height:20px; 
	border:1px solid #b4b4b4; display:block; background:#e8e8e8 url(../images/meeting_icon_sort_desc.png) no-repeat 90% center; padding-right:16px;} 

.discuss .sort ul li.asc a{
	background:#e8e8e8 url(../images/meeting_icon_sort_asc.png) no-repeat 90% center;
}

.discuss .sort ul li.current a,.discuss .sort ul li a:hover{ 
	background-color:#fff;
}

.info{ 
	height:42px; 
	line-height:42px; 
	padding-left:14px; 
	position:relative;
	background-color: #fff;
	margin-bottom: -6px;
	border-bottom: 1px solid #e3e3e3
}
.info .summary_tips{ 
	color:#e17d27;
	margin-right: 12px;
}

.meeting_table{
	width:100%;
}

.meeting_table tr th {
	height: 35px;
	line-height: 35px;
	border: 1px solid #e3e3e3;
	border-width: 1px 0px;
	text-align: center;
	color: #494949;
	padding-top: 3px;
}

.meeting_table tr th.creator{
	width:15%;
}

.meeting_table tr th.opttype{
	width:15%;
}

.meeting_table tr th.attend{
	width:15%;
}

.meeting_table tr th.reason{
	width: 40%;
}

.meeting_table tr td {
	padding: 10px 0px;
	text-align: center;
	border-bottom: 1px solid #e3e3e3;
	color: rgb(134, 134, 134);
}

.meeting_table tr td p {
	line-height: 20px;
	padding-left: 14px;
	text-align: left;
}

.meeting_table tr td p.innerData{
	text-align: center;
	padding: 0px;
	position: relative;
}

.meeting_table .opttypeTxt{
	margin-left: 3px;
	position: relative;
	top:-5px;
}

.meeting_table .opttype01{
	background-image: url("../images/opttype01.png");
	background-position:-16px 0px;
	background-repeat: no-repeat;
}

.meeting_table .opttype02{
	background-image: url("../images/opttype02.png");
	background-repeat: no-repeat;
}

.meeting_table .opttype03{
	background-image: url("../images/opttype03.png");
	background-repeat: no-repeat;
}

.meeting_table .opttype04{
	background-image: url("../images/opttype04.png");
	background-repeat: no-repeat;
}

.meeting_table .alterTime{
	padding: 0px;
	color: #bbb;
}