/* =====布局 starts===== */
.lui_meeting {
  /* margin: 16px 14px; */
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.06);
  border-radius: 4px;
}
.lui_meeting_tit {
  padding-left: 20px;
  background: #f8f8f8;
  line-height: 40px;
  border-bottom: 1px solid #eeeeee;
  border-radius: 4px 4px 0 0;
}
.lui_meeting_tit_desc {
  font-size: 14px;
  color: #333333;
}
.lui_meeting_content {
  padding: 20px;
}
.lui_meeting_content:after {
  content: "";
  display: block;
  clear: both;
}
.lui_meeting_content_left {
  float: left;
  width: 336px;
  position: relative;
  z-index: 1;
}
.lui_meeting_content_right {
  float: left;
  width: 100%;
  margin-left: -336px;
}
.lui_meeting_content_right_wrap {
  padding-left: 356px;
}
/* =====布局 ends===== */

/* =====会议左侧 starts===== */
/* 通用样式 */
.lui_meeting_panel_wrap {
  border: 1px solid #dddddd;
  border-radius: 4px;
}
.lui_meeting_panel_content {
  padding: 18px 20px;
}
.lui_meeting_panel_content:after {
  content: "";
  display: block;
  clear: both;
}
/* 全局面板间距 */
.lui_meeting_panel_sepration {
  margin-bottom: 20px;
}
/* 点击卡片 */
.lui_meeting_panel_click {
  background: #ffffff;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  padding: 16px 0;
}
.lui_meeting_panel_click:after {
  content: "";
  display: block;
  clear: both;
}
.lui_meeting_panel_click > li {
  float: left;
  width: 33.3%;
}
.lui_meeting_panel_click_item {
  height: 60px;
  line-height: 60px;
  border-radius: 0 4px 4px 0;
  transition: all 0.3s;
  text-align: center;
  cursor: pointer;
}
.lui_mpci_desc {
  color: #333;
  display: block;
  max-width: 100px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  background-repeat:no-repeat;
  background-position:center top;
  padding-top: 20px;
}
.lui_mpci_arrange {
  background-image: url(../img/meeting-arrange@1x.png);
}
.lui_mpci_video {
    background-image: url(../img/meeting-video@1x.png);
  }
.lui_mpci_subscribe {
  background-image: url(../img/meeting-subscribe@1x.png);
}
.lui_meeting_panel_click > li:first-child .lui_meeting_panel_click_item {
  border-radius: 4px 0 0 4px;
}
/*.lui_meeting_panel_click_item:hover .lui_mpci_desc {
  color: #fff;
}
.lui_meeting_panel_click_item:hover {
  background-image: url(../img/meeting-arrange-active@1x.png);
}
.lui_meeting_panel_click_item:hover .lui_mpci_subscribe {
  background-image: url(../img/meeting-subscribe-active@1x.png);
} */
/* 多面板展示 */
.lui_meeting_panel_multiple_tit {
  font-size: 14px;
  color: #333333;
}
.lui_mpms_wrap {
  line-height: 18px;
}
.lui_mpms_wrap:after {
  content: "";
  display: block;
  clear: both;
}
.lui_mpms_desc {
  float: left;
  font-size: 12px;
  color: #666666;
  max-width: 150px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.lui_mpms_num {
  float: right;
  font-size: 18px;
  color: #4285f4;
}
.lui_mpmi_tit {
  line-height: 18px;
  padding-bottom: 14px;
  border-bottom: 1px dotted #ddd;
}
.lui_mpmi_tit:after {
  content: "";
  display: block;
  clear: both;
}
.lui_mpmi_tit_desc {
  float: left;
  font-size: 12px;
  color: #666666;
  max-width: 150px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.lui_mpmi_tit_num {
  float: right;
  font-size: 18px;
  color: #4285f4;
}
.lui_mpmi_content {
  padding: 10px 0 0;
}
.lui_mpmi_content > li {
  padding: 7px 0;
}
.lui_mpmi_content > li:last-child {
  padding-bottom: 0;
}
.lui_mpmi_content_item {
  line-height: 18px;
}
.lui_mpmi_content_item:after {
  content: "";
  display: block;
  clear: both;
}
.lui_mpmi_content_item_desc {
  float: left;
  font-size: 12px;
  color: #999999;
}
.lui_mpmi_content_item_num {
  float: right;
  font-size: 18px;
  color: #666666;
}
.lui_meeting_panel_tit {
  padding-left: 12px;
  line-height: 34px;
  border-bottom: 1px solid #f3f3f3;
}
.lui_meeting_panel_tit p {
  font-size: 14px;
  color: #333333;
}
.lui_meeting_panel_multiple:last-child
  .lui_meeting_panel_multiple_item:last-child
  .lui_meeting_panel_sepration {
  margin-bottom: 0;
}
/* =====会议左侧 ends===== */

/* =====会议右侧 starts===== */
.lui_meeting_panel_titBig{
  line-height: 50px;
}
.lui_meeting_panel_tit_wrap:after {
  content: "";
  display: block;
  clear: both;
}
.lui_meeting_panel_tit_item {
  float: left;
  margin-right: 10px;
  font-size: 12px;
  color: #666666;
  padding-left: 20px;
  position: relative;
}
.lui_meeting_panel_tit_item:before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 1px;
  left: 0;
  top: 50%;
  margin-top: -6px;
}
.lui_meeting_purple:before {
  background-color: #8280ff;
}
.lui_meeting_blue:before {
  background-color: #19a4ff;
}
.lui_meeting_blue2:before {
  background-color: #4c7bfd;
}
.lui_meeting_yellow:before {
  background-color: #ffc130;
}
/* =====会议右侧 ends===== */

/* MAC高清屏幕适配 */
/* @media screen and (-webkit-min-device-pixel-ratio: 2) {
  =====会议左侧 starts=====
  .lui_mpci_arrange {
    background: url(../img/meeting-arrange@2x.png) no-repeat left;
    background-size: 17px;
  }
  .lui_mpci_subscribe {
    background: url(../img/meeting-subscribe@2x.png) no-repeat left;
    background-size: 17px;
  }
  .lui_meeting_panel_click_item:hover .lui_mpci_arrange {
    background-image: url(../img/meeting-arrange-active@2x.png);
    background-size: 17px;
  }
  .lui_meeting_panel_click_item:hover .lui_mpci_subscribe {
    background-image: url(../img/meeting-subscribe-active@2x.png);
    background-size: 17px;
  }
  =====会议左侧 ends=====
} */


/* 左右切换箭头 start */
.lui_calendar_btn_arrow {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #ddd;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  transition: all 0.3s;
  color: #999;
  line-height: 20px;
  position: relative;
  vertical-align: middle;
}

.lui_calendar_btn_arrow:hover {
  background: #eee;
}

.lui_calendar_btn_arrow_prev {margin-right: 10px;}

.lui_calendar_btn_arrow_next {margin-left: 10px;}

.lui_calendar_btn_arrow i {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
  vertical-align: middle;
  top: -1px;
}

.lui_calendar_btn_arrow_prev i {
  left: 1px;
}

.lui_calendar_btn_arrow_next i {
  left: 8px;
}

.lui_calendar_btn_arrow i:before, .lui_calendar_btn_arrow i:after {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  position: absolute;
  left: 0;
  /* top: 5px; */
  transition: all 0.3s;
}

.lui_calendar_btn_arrow.lui_calendar_btn_arrow_prev i:before {
  border-right-color: inherit;
  left: -1px;
}

.lui_calendar_btn_arrow.lui_calendar_btn_arrow_prev i:after {
  border-right-color: #fff;
}

.lui_calendar_btn_arrow.lui_calendar_btn_arrow_prev:hover i:after {
  border-right-color: #eee;
}

.lui_calendar_btn_arrow.lui_calendar_btn_arrow_next i:before {
  border-left-color: inherit;
  /* left: -1px; */
}

.lui_calendar_btn_arrow.lui_calendar_btn_arrow_next i:after {
  border-left-color: #fff;
  left: -1px;
}

.lui_calendar_btn_arrow.lui_calendar_btn_arrow_next:hover i:after {
  border-left-color: #eee;
}
/* 左右切换箭头 end */

/* 会议工作台日历样式优化 Starts  */
body .lui_calendar_frame{
  padding:0;
}
body .lui_calendar_frame .lui_calendar_header{
  background:#fff;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border: 1px solid #dddddd;
  border-bottom: 0;
}
body .lui_calendar_header_center{
  white-space:nowrap;
}
body table.fc-border-separate{
  /* border: 1px solid #fff; */
  /* margin: -2px; */
  /* margin-left: -1px; */
  /* margin-right: -3px; */
  width: auto!important;
  min-width: 100%;
}
body .fc-event-container{
  margin:-2px;
  right: 0;
}
.calendar-title-limit{
  vertical-align:middle;
  margin-right:5px;

}
.calendar-title-limit.limit-part{
  background-color:#8280ff;
}
.calendar-title-limit.limit-host{
  background-color:#4c7bfd;
}
.calendar-title-limit.limit-report{
  background-color:#19a4ff;
}
.calendar-title-limit.limit-emcc{
  background-color:#ffc130;
}
.title-limit-font{
  margin-right:5px;
}

/* 日历容器优化 */
#calendarIframe{
  font-size:0;
}
.lui_meeting_content_right_panel.lui_meeting_right_panel_calendar .lui_meeting_panel_wrap{
  border:none;
  border-radius:0;
}
/* 两倍 */
@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .lui_mpci_desc{
    background-size:37px;
  }
  .lui_mpci_arrange {
    background-image: url(../img/meeting-arrange@2x.png);
  }
  .lui_mpci_subscribe {
    background-image: url(../img/meeting-subscribe@2x.png);
  }
   .lui_mpci_video {
    background-image: url(../img/meeting-video@2x.png);
  }
}

.lui_calendar_content_list .lui_calendar_list_first {
	min-width:200px;
}
.lui_calendar_content_list .lui_calendar_list_second .lui_calendar_list_data {
	width:auto;
}

/* 190819 会议日历周视图挤一块 Starts */
.lui_calendar_header_tab .lui_calendar_header_left{
  width:auto!important;
  white-space: nowrap;
}
.lui_calendar_header_tab .lui_calendar_header_center{
  text-align:center!important;
  width: auto!important;
}
.lui_calendar_header_tab .lui_calendar_btn_arrow{
  text-align:left;
}
.lui_calendar_header_tab .lui_calendar_header_right{width: auto!important;}

.lui_calendar_header_left ul{
  overflow:hidden;
  white-space: normal;
}
.lui_calendar_header_left li{
  white-space:nowrap;
  display: inline-block;
}

/* 月视图 */
.month .lui_calendar_header_center{
  width: 194px!important;
}
/* 周视图 */
.week .lui_calendar_header_center{
  width: 273px!important;
}
/* 190819 会议日历周视图挤一块 Ends */