@CHARSET "UTF-8";

.meeting_content_frame {
  padding: 20px 14px;
  margin-top: 10px;
  position: relative;
}
.meeting_title {
  text-align: center;
  font-size: 18px;
  line-height: 30px;
  padding: 10px 0 25px;
  border-bottom: 1px solid #ECECEC;
}
.meeting_status {
  position: absolute;
  top: 10px;
  right: 5%;
  padding: 0 5px;
  width: 72px;
  height: 64px;
  line-height: 64px;
  background: url(../images/meeting_status.png) no-repeat 50%;
  text-align: center;
  color: #3eb2e6;
  font-size: 14px;
  transform: rotate(30deg);
  font-weight: normal;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.meeting_row {
  padding: 15px 0;
  border-bottom: 1px dashed #ECECEC;
}
.meeting_row > * {
  font-size: 13px;
}
.meeting_row .meeting_row_title {
  float: left;
  width: 15%;
  height: 26px;
  line-height: 26px;
  text-align: right;
  color: #A3A3A3;
}
.meeting_row .meeting_row_content {
  margin-left: 20%;
  min-height: 26px;
  line-height: 26px;
}
.meeting_duration {
  float: right;
  margin-right: 150px;
  width: 30%;
}
.meeting_duration > * {
  font-size: 13px;
}
.meeting_duration_title {
  color: #A3A3A3;
  float: left;
}
.meeting_duration_hour {
  margin-left: 40%;
}
.meeting_row_content .meeting_host_img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  float: left;
}
.meeting_row_content .meeting_host_name {
  margin-left: 10px;
  height: 36px;
  line-height: 36px;
}
.meeting_toolbar {
  text-align: center;
  padding: 20px 0;
  position: relative;
}
.meeting_toolbar .lui_widget_btn {
  width: 100px;
  margin-right: 10px;
}
.meeting_toolbar .lui_toolbar_btn_l {
  border-radius: 3px;
}
.meeting_inner_toolbar {
  position: absolute;
  top: 10px;
  right: 10px;
}
.meeting_btn {
  font-size: 14px;
  margin-right: 20px;
  background-repeat: no-repeat;
  background-position-y: 3px;
  padding-left: 20px;
  color: #3eb2e6;
}
.meeting_btn.meeting_btn_change {
  background-image: url("../images/meeting_view_icon_change.png")
}
.meeting_btn.meeting_btn_cancel {
  background-image: url("../images/meeting_view_icon_cancel.png")
}