<?xml version="1.0" encoding="UTF-8"?>
<plugin
	xmlns="http://www.example.org/plugin-config"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.example.org/plugin-config ../../../plugin.xsd ">
	
	<extension point="com.landray.kmss.sys.xform.base.service.controls" model="*">
		<!-- 预订机票和酒店-->
		<item name="control">
			<param name="class" value="com.landray.kmss.third.ctrip.xform.bookticket.ThirdCtripFormTemplateBookTicketControl" />
			<param name="file"  value="/third/ctrip/xform/bookticket/bookTicket_lang.jsp;
										/third/ctrip/xform/bookticket/ticketCommon_js.js;
										/third/ctrip/xform/bookticket/bookTicket.js" />
		</item>
		<!-- 预订机票和酒店信息展示-->
		<item name="control">
			<param name="class" value="com.landray.kmss.third.ctrip.xform.bookticket.ThirdCtripFormTemplateBookInfoControl" />
			<param name="file"  value="/third/ctrip/xform/bookticket/bookInfo_lang.jsp;
										/third/ctrip/xform/bookticket/bookInfo.js" />
		</item>
		
	</extension>
	
	<extension point="com.landray.kmss.sys.xform.mobile.controls" model="*">
		<item name="control">
			<param name="class" value="com.landray.kmss.third.ctrip.xform.mobile.MobileBookTicketControl" />
		</item>
		<item name="control">
			<param name="class" value="com.landray.kmss.third.ctrip.xform.mobile.MobileTicketHotelControl" />
		</item>
		<item name="control">
			<param name="class" value="com.landray.kmss.third.ctrip.xform.mobile.MobileTicketPlaneControl" />
		</item>
	</extension>

</plugin>
