<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean
		name="/sys/xform/auditshow/sys_xform_auditshow/sysXformAuditshow.do"
		class="com.landray.kmss.sys.xform.base.actions.controls.auditshow.SysXformAuditshowAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.xform.base.forms.controls.auditshow.SysXformAuditshowForm" />
		<property name="forwards">
			<map>
				<entry
					key="view"
					value="/sys/xform/designer/auditshow/sys_xform_auditshow/sysXformAuditshow_view.jsp" />
				<entry
					key="edit"
					value="/sys/xform/designer/auditshow/sys_xform_auditshow/sysXformAuditshow_edit.jsp" />
				<entry
					key="list"
					value="/sys/xform/designer/auditshow/sys_xform_auditshow/sysXformAuditshow_list.jsp" />
			</map>
		</property>
	</bean>
</beans>