<?xml version="1.0" encoding="UTF-8"?>
<plugin
	xmlns="http://www.example.org/plugin-config"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.example.org/plugin-config ../../plugin.xsd ">
	<extension point="com.landray.kmss.sys.mobile.configBusiness.extInterface.IFeedbackInfoConfig">
		<item name="feedbackinfo">
			<param name="key" value="feedbackinfo" />
			<param name="modelName" value="com.landray.kmss.km.review.model.KmReviewMain" />
			<param name="provider" value="feedbackinfoProvider" />
		</item>
	</extension>
	<extension
		point="com.landray.kmss.sys.listshow.listShowConfig"
		model="com.landray.kmss.km.review.model.KmReviewMain">
		<item
			name="listShowConfig">
			<param
				name="name"
				value="km-review:kmReview.nav.create.my" />
			<param
				name="model"
				value="com.landray.kmss.km.review.model.KmReviewMain" />
			<param
				name="page"
				value="/listCreate" />
			<param
				name="default"
				value="fdTemplate.fdName;docSubject;fdNumber;docCreateTime;docPublishTime;docStatus;nodeName;handlerName" />
			<param
				name="customized"
				value="nodeName;km-review:sysWfNode.processingNode.currentProcess,handlerName;km-review:sysWfNode.processingNode.currentProcessor" />
		</item>
	</extension>
	<extension
		point="com.landray.kmss.sys.listshow.listShowConfig"
		model="com.landray.kmss.km.review.model.KmReviewMain">
		<item
			name="listShowConfig">
			<param
				name="name"
				value="km-review:kmReview.nav.approval.my" />
			<param
				name="model"
				value="com.landray.kmss.km.review.model.KmReviewMain" />
			<param
				name="page"
				value="/listApproval" />
			<param
				name="default"
				value="docSubject;fdNumber;docCreator.fdName;docCreateTime;docPublishTime;docStatus;nodeName;arrivalTime" />	
			<param
				name="customized"
				value="arrivalTime;km-review:sysWfNode.processingNode.currentarrTime,nodeName;km-review:sysWfNode.processingNode.currentProcess,handlerName;km-review:sysWfNode.processingNode.currentProcessor" />
		</item>
	</extension>
	<extension
		point="com.landray.kmss.sys.listshow.listShowConfig"
		model="com.landray.kmss.km.review.model.KmReviewMain">
		<item
			name="listShowConfig">
			<param
				name="name"
				value="km-review:kmReview.nav.approved.my" />
			<param
				name="model"
				value="com.landray.kmss.km.review.model.KmReviewMain" />
			<param
				name="page"
				value="/listApproved" />
			<param
				name="default"
				value="docSubject;fdNumber;docCreator.fdName;docCreateTime;docPublishTime;docStatus;nodeName;handlerName;resolveTime" />
			<param
				name="customized"
				value="resolveTime;km-review:sysWfNode.processingNode.resolveTime,nodeName;km-review:sysWfNode.processingNode.currentProcess,handlerName;km-review:sysWfNode.processingNode.currentProcessor" />
		</item>
	</extension>
	<extension
		point="com.landray.kmss.sys.listshow.listShowConfig"
		model="com.landray.kmss.km.review.model.KmReviewMain">
		<item
			name="listShowConfig">
			<param
				name="name"
				value="km-review:kmReview.nav.all" />
			<param
				name="model"
				value="com.landray.kmss.km.review.model.KmReviewMain" />
			<param
				name="page"
				value="/listAll" />
			<param
				name="default"
				value="docSubject;fdNumber;docCreator.fdName;docCreateTime;docPublishTime;docStatus;nodeName;handlerName" />
			<param
				name="customized"
				value="nodeName;km-review:sysWfNode.processingNode.currentProcess,handlerName;km-review:sysWfNode.processingNode.currentProcessor" />
		</item>
	</extension>
	<extension
		point="com.landray.kmss.sys.listshow.listShowConfig"
		model="com.landray.kmss.km.review.model.KmReviewMain">
		<item
			name="listShowConfig">
			<param
				name="name"
				value="km-review:kmReview.tree.draftBox" />
			<param
				name="model"
				value="com.landray.kmss.km.review.model.KmReviewMain" />
			<param
				name="page"
				value="/create" />
			<param
				name="default"
				value="docSubject;fdNumber;docCreator.fdName;docCreateTime;handlerName;operations" />
			<param
				name="customized"
				value="nodeName;km-review:sysWfNode.processingNode.currentProcess,handlerName;km-review:sysWfNode.processingNode.currentProcessor,operations;list.operation" />
		</item>
		</extension>
		<extension
			point="com.landray.kmss.sys.listshow.listShowConfig"
			model="com.landray.kmss.km.review.model.KmReviewMain">
		<item
			name="listShowConfig">
			<param
				name="name"
				value="km-review:kmReview.nav.examine" />
			<param
				name="model"
				value="com.landray.kmss.km.review.model.KmReviewMain" />
			<param
				name="page"
				value="/listExamine" />
			<param
				name="default"
				value="docSubject;fdNumber;docCreator.fdName;docCreateTime;nodeName;handlerName" />
			<param
				name="customized"
				value="nodeName;km-review:sysWfNode.processingNode.currentProcess,handlerName;km-review:sysWfNode.processingNode.currentProcessor" />
		</item>
	</extension>
	<extension
		point="com.landray.kmss.sys.listshow.listShowConfig"
		model="com.landray.kmss.km.review.model.KmReviewMain">
		<item
			name="listShowConfig">
			<param
				name="name"
				value="km-review:kmReview.nav.follow" />
			<param
				name="model"
				value="com.landray.kmss.km.review.model.KmReviewMain" />
			<param
				name="page"
				value="/listFollow" />
			<param
				name="default"
				value="docSubject;fdNumber;docCreator.fdName;docCreateTime;docPublishTime;docStatus;nodeName;handlerName" />
			<param
				name="customized"
				value="nodeName;km-review:sysWfNode.processingNode.currentProcess,handlerName;km-review:sysWfNode.processingNode.currentProcessor" />
		</item>
	</extension>
	<extension
		point="com.landray.kmss.sys.listshow.listShowConfig"
		model="com.landray.kmss.km.review.model.KmReviewMain">
		<item
			name="listShowConfig">
			<param
				name="name"
				value="km-review:kmReview.nav.feedback" />
			<param
				name="model"
				value="com.landray.kmss.km.review.model.KmReviewMain" />
			<param
				name="page"
				value="/listFeedback" />
			<param
				name="default"
				value="docSubject;fdNumber;docCreator.fdName;docCreateTime;docPublishTime" />
			<param
				name="customized"
				value="nodeName;km-review:sysWfNode.processingNode.currentProcess,handlerName;km-review:sysWfNode.processingNode.currentProcessor" />
		</item>
	</extension>
	<extension
		point="com.landray.kmss.sys.listshow.listShowConfig"
		model="com.landray.kmss.km.review.model.KmReviewMain">
		<item
			name="listShowConfig">
			<param
				name="name"
				value="km-review:kmReview.nav.filed" />
			<param
				name="model"
				value="com.landray.kmss.km.review.model.KmReviewMain" />
			<param
				name="page"
				value="/listFiling" />
			<param
				name="default"
				value="docSubject;fdNumber;docCreator.fdName;docCreateTime;docPublishTime" />
			<param
				name="customized"
				value="nodeName;km-review:sysWfNode.processingNode.currentProcess,handlerName;km-review:sysWfNode.processingNode.currentProcessor" />
		</item>
	</extension>
	<extension
		point="com.landray.kmss.sys.listshow.listShowConfig"
		model="com.landray.kmss.km.review.model.KmReviewMain">
		<item
			name="listShowConfig">
			<param
				name="name"
				value="km-review:kmReview.nav.discard" />
			<param
				name="model"
				value="com.landray.kmss.km.review.model.KmReviewMain" />
			<param
				name="page"
				value="/listDiscard" />
			<param
				name="default"
				value="docSubject;fdNumber;docCreator.fdName;docCreateTime;docPublishTime" />
			<param
				name="customized"
				value="nodeName;km-review:sysWfNode.processingNode.currentProcess,handlerName;km-review:sysWfNode.processingNode.currentProcessor" />
		</item>
	</extension>
	<extension
		point="com.landray.kmss.sys.listshow.listShowConfig"
		model="com.landray.kmss.km.review.model.KmReviewMain">
		<item
			name="listShowConfig">
			<param
				name="name"
				value="km-review:subordinate.kmReviewMain" />
			<param
				name="model"
				value="com.landray.kmss.km.review.model.KmReviewMain" />
			<param
				name="page"
				value="/sys/subordinate" />
			<param
				name="default"
				value="docSubject;fdNumber;docCreator.fdName;docCreateTime;docPublishTime;docStatus;nodeName;handlerName" />
			<param
				name="customized"
				value="nodeName;km-review:sysWfNode.processingNode.currentProcess,handlerName;km-review:sysWfNode.processingNode.currentProcessor" />
		</item>
	</extension>
	<extension
		point="com.landray.kmss.sys.workflow.support.oa.subprocess"
		model="*">
		
		<item
			name="subprocess">
			<param
				name="modelName"
				value="com.landray.kmss.km.review.model.KmReviewMain" />
			<param
				name="createParam"
				value="fdTemplateId=!{cateid}" />
		</item>
	</extension>

	<extension point="com.landray.kmss.sys.help.module.configuration">
		<item name="config">
			<param name="moduleName" value="流程管理"/>
			<param name="modulePath" value="/km/review"/>
			<param name="defaultOpenHelpManual" value="false"/>
			<param name="defaultOpenBusinessOverview" value="true"/>
			<param name="defaultOpenSceneExperience" value="true"/>
			<param name="businessOverviewImage" value="/km/review/view.png"/>
			<param name="sceneExperienceUrl" value="http://mall.landray.com.cn/core01/build/index.html#/ProcessManagement/review/sceneExperience?tabs=off"/>
		</item>
	</extension>

	<extension
		point="com.landray.kmss.sys.search.dict.config"
		model="com.landray.kmss.km.review.model.KmReviewMain">
		
		<item
			name="dict">
			<param
				name="name" 
				value="{km-review:kmReview.moduleName}"/>
			<param
				name="templateName"
				value="com.landray.kmss.km.review.model.KmReviewTemplate" />
			<param
				name="templatePropertyName"
				value="fdTemplate" />
			<param
				name="key"
				value="reviewMainDoc" />
		</item>
	</extension>
	
	<extension
		point="com.landray.kmss.sys.xform"
		model="com.landray.kmss.km.review.model.KmReviewMain">
		
		<item
			name="config">
			<param
				name="template"
				value="com.landray.kmss.km.review.model.KmReviewTemplate" />
			<param
				name="key"
				value="reviewMainDoc" />
		</item>
	</extension>
	
	<!-- webservice2 -->
	<extension
		point="com.landray.kmss.sys.webservice2">
		<item
			name="registry">
			<param
				name="serviceName"
				value="流程启动" />
			<param
				name="serviceClass"
				value="com.landray.kmss.km.review.webservice.IKmReviewWebserviceService" />
			<param
				name="serviceBean"
				value="kmReviewWebserviceService" />				
			<param
				name="serviceDoc"
				value="/km/review/km_review_webservice/kmReviewWebServiceHelp.jsp" />
		</item>
	</extension>
	<!-- 移动组件新建功能 -->	
	<!-- 功能区分类实现 扩展点 -->
	<extension 
		point="com.landray.kmss.third.pda.extend" 
		model="*">
		<item name="extend">
			<param 
				name="modelName" 
				value="com.landray.kmss.km.review.model.KmReviewMain"/>
			<param 
				name="templateClass" 
				value="com.landray.kmss.km.review.model.KmReviewTemplate"/>
			<param name="filterURL"
				value="/third/pda/pda_property_filter/pdaPropertyFilter.do?method=getPropertyFilter&amp;templateClass=KmReviewTemplate" />
			<param 
				name="createTempURL" 
				value="/km/review/km_review_main/kmReviewMain.do?method=add&amp;fdTemplateId=!{cateid}"/>
			<param 
				name="createURL" 
				value="/km/review/km_review_main/kmReviewMain.do?method=add&amp;fdTemplateId=!{cateid}"/>
			<param name="extendJsp" value="/km/review/km_review_main/kmReviewMain_include_pda.jsp"/>
		</item>
	</extension>
	
	<!-- BAM2支持 -->
	<extension 
		point="com.landray.kmss.km.bam2.extend.work"
		model="*">
		<item 
			name="extendModel" >
		    <param 
		    	name="modelName" 
		    	value="com.landray.kmss.km.review.model.KmReviewMain" />
			<param 
				name="templateName" 
				value="com.landray.kmss.km.review.model.KmReviewTemplate"/>
		    <param 
		    	name="bamName" 
		    	value="{km-review:kmReviewMain.relatedReview}" />
		    <param 
		    	name="subjectField" 
		    	value="docSubject" />
		    <param 
		    	name="cateBean" 
		    	value="sysCategoryAuthTreeService"/>
			<param 
				name="viewURL" 
				value="/km/review/km_review_main/kmReviewMain.do?method=view"/>
			<param 
				name="editURL" 
				value="/km/review/km_review_main/kmReviewMain.do?method=edit"/>
			<param 
				name="addURL" 
				value="/km/review/km_review_main/kmReviewMain.do?method=add&amp;fdTemplateId=!{cateid}"/>
			<param 
				name="listURL" 
				value="/km/review/km_review_main/kmReviewMain_list_content.jsp"/>
			<!-- bam2与产品集成新增参数 begin -->
			<param name="statusField" value="docStatus" />
			<param name="statusEnumsType" value="common_status"/>
			<param name="workFinishField" value="fdWorkStatus" />
			<!-- bam2与产品集成新增参数 end -->
		</item>
	  </extension>		
	  <!-- 日程机制同步标签-->
	  <extension
			point="com.landray.kmss.sys.agenda.label"
			model="*">		
			<item name="label">
				<param name="labelName" value="{km-review:table.kmReviewMain}" />
				<param name="labelColor"  value="rgb(255, 184, 120)" />
				<param name="modelName"  value="com.landray.kmss.km.review.model.KmReviewMain"/>
			</item>
		</extension>
		
		<!-- 编号机制 -->
		<extension
	        point="com.landray.kmss.sys.number.config"
	        model="*">
	        <item name="extend">
	         <param name="modelName" value="com.landray.kmss.km.review.model.KmReviewMain"/>
	         <param name="templatePropertyName" value="fdTemplate"/>
	         <param name="moduleName" value="{km-review:table.kmReviewMain}"/>
	         <param name="isReform" value="true"/>
	         <param name="order" value="15"/>
	        </item>
         </extension>
		<!-- 兼容性检测 -->
		<extension point="com.landray.kmss.sys.admin.transfer">
		<item name="config">
			<param name="unid"
				value="com.landray.kmss.km.review.model.KmReviewMain" />
			<param name="name" value="{km-review:kmReview.update.title}" />
			<param name="type" value="notify" />
			<param name="path" value="/km/review/" />
			<param name="description" value="{km-review:kmReview.update.desc}" />
		</item>
	</extension>
	
	<!-- 增加模板状态开关后的数据处理 -->
	<extension point="com.landray.kmss.sys.admin.transfer">
		<item name="config">
			<param name="unid"
				value="com.landray.kmss.km.review.model.KmReviewTemplate" />
			<param name="name"
				value="{km-review:kmReviewTemplate.transfer.name}" />
			<param name="path"
				value="/km/review/" />
			<param name="check"
				value="com.landray.kmss.km.review.transfer.KmReviewTemplateChecker" />
			<param name="upgrade"
				value="com.landray.kmss.km.review.transfer.KmReviewTemplateTask" />
			<param name="description"
				value="{km-review:kmReviewTemplate.transfer.description}"/>
		</item>
	</extension>
	<!-- 移动端的新建和审批分开控制 -->
	<extension point="com.landray.kmss.sys.admin.transfer">
		<item name="config">
			<param name="unid"
				value="com.landray.kmss.km.review.model.KmReviewTemplateMobile" />
			<param name="name"
				value="{km-review:kmReviewTemplate.mobile.transfer.name}" />
			<param name="path"
				value="/km/review/" />
			<param name="check"
				value="com.landray.kmss.km.review.transfer.KmReviewTemplateMobileChecker" />
			<param name="upgrade"
				value="com.landray.kmss.km.review.transfer.KmReviewTemplateMobileTask" />
			<param name="description"
				value="{km-review:kmReviewTemplate.mobile.transfer.description}"/>
		</item>
	</extension>
	
	<extension point="com.landray.kmss.sys.mobile.config">
		<item name="info">
			<param name="name" value="{km-review:table.kmReviewMain}" />
			<param name="modelName" value="com.landray.kmss.km.review.model.KmReviewMain" />
			<param name="defaultUrl" value="/km/review/mobile/nav.json" />
		</item>
	</extension>
	
	<extension	point="com.landray.kmss.km.keydata"	model="*" >
		<item
			name="showKeydataUsed">
			<param
				name="name"
				value="流程管理" />
			<param
				name="actionUrl"
				value="/km/review/showKeydataUsed.jsp?keydataId=${keydataId}" />
			<param
				name="formName"
				value="kmReviewMainForm" />
		</item>
	</extension>
	
	<!--表单模板国际化导入日志扩展点-->  
	<extension point="com.landray.kmss.sys.formMultiLang.import.log">
		<item name="item">
			<param name="uuid" value="com.landray.kmss.km.review.model.KmReviewTemplate" />
			<param name="model" value="com.landray.kmss.km.review.model.KmReviewMain" />
			<param name="template" value="kmReviewTemplate" />
			<param name="name" value ="{km-review:module.km.review}"/>
			<param name="view" value="km/review/km_review_template/kmReviewTemplate.do?method=view" />
			<param name="edit" value="km/review/km_review_template/kmReviewTemplate.do?method=edit" />
			<param name="commonEdit" value="sys/xform/sys_form_common_template/sysFormCommonTemplate.do?method=edit;fdModelName=com.landray.kmss.km.review.model.KmReviewTemplate;fdKey=reviewMainDoc;fdMainModelName=com.landray.kmss.km.review.model.KmReviewMain" />
			<param name="commonView" value="sys/xform/sys_form_common_template/sysFormCommonTemplate.do?method=view;fdModelName=com.landray.kmss.km.review.model.KmReviewTemplate;fdKey=reviewMainDoc;fdMainModelName=com.landray.kmss.km.review.model.KmReviewMain" />
		</item>
	</extension>
	<extension point="com.landray.kmss.sys.mobile.compress" model="*">
		<item
				name="css-file">
			<param
					name="name"
					value="mui-feedbackInfo.css" />
			<param
					name="targetFile"
					value="/km/review/mobile/km_review_feedback_info/css/feedbackinfo.css"/>
		</item>
		<item name="js-pkg">
			<param name="name" value="mui-review.js" />
			<param name="targetFile" value="/km/review/mobile/resource/js/list/mui-review.js" />
			<param name="srcFold" value="/km/review/mobile/resource/js" />
		</item>
		<item name="js-pkg">
			<param name="name" value="mui-review-edit.js" />
			<param name="targetFile" value="/km/review/mobile/resource/js/edit/mui-review-edit.js" />
			<param name="tinyId" value="review-edit" />
		</item>		
		<item name="js-pkg">
			<param name="name" value="mui-review-view.js" />
			<param name="targetFile" value="/km/review/mobile/resource/js/view/mui-review-view.js" />
			<param name="tinyId" value="review-view" />
		</item>
		<item 
			name="css-file">
			<param 
				name="name" 
				value="mui-review-list.css" />
			<param 
				name="targetFile" 
				value="/km/review/mobile/resource/css/list.css" />
		</item>
		<item 
			name="css-file">
			<param 
				name="name" 
				value="mui-review-view.css" />
			<param 
				name="targetFile" 
				value="/km/review/mobile/resource/css/view.css" />
		</item>
		<item 
			name="css-file">
			<param 
				name="name" 
				value="mui-review-ding.css" />
			<param 
				name="targetFile" 
				value="/km/review/mobile/resource/css/ding.css" />
		</item>
		<item 
			name="css-file">
			<param 
				name="name" 
				value="mui-review-edit_ding.css" />
			<param 
				name="targetFile" 
				value="/km/review/mobile/resource/css/edit_ding.css" />
		</item>
	</extension>
	
	<!--流程管理自动触发流程监听器 -->
	 <extension
		point="com.landray.kmss.lbpm.engine.event" 
		model="com.landray.kmss.km.review.model.KmReviewMain">
		<item
			name="templateListener">
			<param
				name="unid"
				value="kmReviewAutoCreateListener" />
			<param
				name="messageKey"
				value="km-review:kmReviewMain.event.autocreate"/>
			<param
				name="eventTypes"
				value="timerStart"/>
			<param
				name="listener"
				value="kmReviewAutoCreateListener" />
			<param
				name="conditionJsp"
				value="/km/review/km_review_ui/kmReviewMain_autocreate_listener.jsp"/>
			<param
				name="description"
				value="km-review:kmReviewMain.event.autocreate.description"/>
		</item>	
	 </extension>	
	
	<!-- 微协同扩展点的部署(微填报) -->
	<extension
		point="com.landray.kmss.third.ywork.extend"
		model="com.landray.kmss.km.review.model.KmReviewMain">
		<item name="extend">
			<param
				name="modelName"
				value="com.landray.kmss.km.review.model.KmReviewMain" />
			<param
				name="templateName"
				value="com.landray.kmss.km.review.model.KmReviewTemplate" />
			<param
				name="title"
				value="docSubject" />
			<param
				name="approve"
				value="0" />
			<param
				name="type"
				value="6" />
			<param
				name="order"
				value="1" />
			<param
				name="name"
				value="km-review:kmReviewMain.ywork.flow.callback" />
			<param
				name="creator"
				value="docCreator" />
			<param
				name="createTime"
				value="docCreateTime" />
			<param
				name="updateTime"
				value="fdLastModifiedTime" />
			<param
				name="callbackStatus"
				value="!(Integer.parseInt($docStatus$)>=30)" />
		</item>
		<!-- 微协同扩展点的部署(微审批) -->
		<item name="extend">
			<param
				name="modelName"
				value="com.landray.kmss.km.review.model.KmReviewMain" />
			<param
				name="templateName"
				value="com.landray.kmss.km.review.model.KmReviewTemplate" />
			<param
				name="title"
				value="docSubject" />
			<param
				name="approve"
				value="1" />
			<param
				name="type"
				value="7" />
			<param
				name="order"
				value="2" />
			<param
				name="name"
				value="km-review:kmReviewMain.ywork.flow" />
			<param
				name="creator"
				value="docCreator" />
			<param
				name="createTime"
				value="docCreateTime" />
			<param
				name="updateTime"
				value="fdLastModifiedTime" />
			<param
				name="callbackStatus"
				value="!(Integer.parseInt($docStatus$)>=30)" />
		</item>
	</extension>
	
	<!-- 表单的模式 -->
	<extension point="com.landray.kmss.sys.xform.mode" model="*">
		<item name="baseConfig">
			<param name="mainModelName" value="com.landray.kmss.km.review.model.KmReviewMain" />
			<param name="templateModelName" value="com.landray.kmss.km.review.model.KmReviewTemplate" />
			<param name="templatePropertyName" value="fdTemplate" />
			<param name="fdKey" value="reviewMainDoc" />
			<param name="name" value="sys-xform:sysFormTemplate.fdTemplateType.nouse|sys-xform:sysFormTemplate.fdTemplateType.define|sys-xform:sysFormTemplate.fdTemplateType.other|sys-xform:sysFormTemplate.fdTemplateType.subForm" />
			<param name="value" value="1|3|2|4" />
		</item>
	</extension>
	
	<!-- 表单关联控件的模块扩展点 -->
	<extension point="com.landray.kmss.sys.xform.base.service.controls.relevance" model="*">
		<item name="node">
			<param name="modelName" value="com.landray.kmss.km.review.model.KmReviewMain" />
			<param name="templateModelName" value="com.landray.kmss.km.review.model.KmReviewTemplate" />
			<param name="key" value="kmReview" />
			<param name="templatePropertyName" value="fdTemplate" />
			<param name="moduleMessageKey" value="km-review:kmReview.moduleName" />
		</item>
	</extension>
	
	<extension point="com.landray.kmss.sys.zone.doccount" >
             <item name="doccount" >
                   <param name="unid" value="kmReview" />
                   <param name="order" value="1"/>
                   <param name="title" value="{km-review:module.km.review.hr}" />
                   <param name="link" value="/km/review/#cri.q=mydoc:create" />
                   <param name="bean" value="kmReviewDocCountGetter"/>
             </item>
     </extension>
      
     <!--模板分类过滤，用于移动端新建及可查看附加功能实现-->
     <extension point="com.landray.kmss.sys.category.auth.filter" >
             <item name="dataFilter" >
                   <param name="modelName" value="com.landray.kmss.km.review.model.KmReviewTemplate" />
                   <param name="filter" value="com.landray.kmss.km.review.service.spring.KmReviewTemplateAuthFilter"/>
             </item>
     </extension>
     
  	<extension point="com.landray.kmss.sys.mobile.package" model="*">
		<item name="m-pkg">
			<param name="appId" value="km/review" />
			<param name="appName" value="{km-review:module.km.review}" />
			<param name="description" value="{km-review:module.km.review.description}" />
			<param name="folder" value="/km/review/mobile/" />
			<param name="homepage" value="/km/review/mobile/offline/index.jsp" />
		</item>
	</extension>
	
	<!--流程管理一键选择分类扩展点实现 -->
	<extension point="com.landray.kmss.sys.person.categoryUrl" model="com.landray.kmss.km.review.model.KmReviewMain" >
		<item name="categoryUrl">
			<param name="addUrl" value="/km/review/km_review_main/kmReviewMain.do?method=add&amp;fdTemplateId={0}" />
			<param name="templateModel" value="com.landray.kmss.km.review.model.KmReviewTemplate" />
		</item>
	</extension>

	<!-- 软删除功能扩展点实现 -->
	<extension point="com.landray.kmss.sys.recycle">
		<item name="softDelete">
			<!-- 模块(文档)名称 -->
			<param
				name="modelName"
				value="km-review:module.km.review" />
			<!-- 主文档全名称 -->
			<param
				name="modelClassName"
				value="com.landray.kmss.km.review.model.KmReviewMain" />
			<!-- 主文档对应的分类(模板)全名称 -->
			<param
				name="categoryClassName"
				value="com.landray.kmss.km.review.model.KmReviewTemplate" />
			<!-- 主文档中分类(模板)的属性名称 -->
			<param
				name="categoryField"
				value="fdTemplate" />
			<!-- 主文档中标题的属性名称 -->
			<param
				name="titleField"
				value="docSubject" />
		</item>
	</extension>

	<!-- 附件历史版本功能扩展点实现 -->
	<extension point="com.landray.kmss.sys.attachment.history">
		<item name="historyVersion">
			<!-- 模块(文档)名称 -->
			<param
				name="modelName"
				value="km-review:module.km.review" />
			<!-- 主文档全名称 -->
			<param
				name="modelClassName"
				value="com.landray.kmss.km.review.model.KmReviewMain" />
		</item>
	</extension>	
	
	<!-- 个人中心发起的流程计数 -->
	<extension point="com.landray.kmss.sys.portal">
		<item name="stat">
			<!-- 模块名称 -->
			<param
				name="moduleName"
				value="km-review:module.km.review" />
			<!-- 主文档全名称 -->
			<param
				name="modelName"
				value="com.landray.kmss.km.review.model.KmReviewMain" />
			<param
				name="url"
				value="/km/review/km_review_main/kmReviewMainStat.do?method=showStat" />
			<param name="icon" value="lui_iconfont_nav_km_review" />
			<param name="viewUrl" value="/km/review/#j_path=%2FlistCreate&amp;mydoc=create" />
		</item>
	</extension>
	
	<!-- 数据中台 -RTF -->
	<extension point="com.landray.kmss.sys.xform.maindata.rtf">
		<item name="config">
			<!-- 主文档全名称 -->
			<param
				name="modelName"
				value="com.landray.kmss.km.review.model.KmReviewMain" />
			<param
				name="fields"
				value="docContent" />
		</item>
	</extension>
	
	<!-- 下属工作 -->
	<extension point="com.landray.kmss.sys.subordinate">
		<item name="config">
			<param
				name="modelName"
				value="com.landray.kmss.km.review.model.KmReviewMain" />
			<param
				name="messageKey"
				value="km-review:table.kmReviewMain" />
			<param
				name="moduleMessageKey"
				value="km-review:module.km.review" />
			<param
				name="type"
				value="dept" />
			<param
				name="provider"
				value="com.landray.kmss.km.review.subordinate.KmReviewMainProvider" />
			<param
				name="indexPath"
				value="/km/review/subordinate/kmReviewMain_index.jsp" />
			<param
				name="listPath"
				value="/km/review/km_review_ui/kmReviewMain_list.jsp" />
			<param
				name="viewPath"
				value="/km/review/km_review_ui/kmReviewMain_view.jsp" />
		</item>
	</extension>
	<extension
		point="com.landray.kmss.lbpm.engine.event"
		model="com.landray.kmss.km.review.model.KmReviewMain">
		<item
			name="listener">
			<param
				name="unid"
				value="kmReviewArchivesAutoFileListener" />
			<param
				name="messageKey"
				value="km-review:kmReviewMain.event.lbpmEndOnfile" />
			<param
				name="eventTypes"
				value="lbpmProcessFinishEvent" />
			<param
				name="listener"
				value="kmReviewArchivesAutoFileListener" />
			<param
				name="conditionJsp"
				value="/km/review/km_review_main/kmReviewArchives.jsp" />
			<param
				name="description"
				value="km-review:kmReviewMain.event.lbpmEndOnfileDescription" />
		</item>
	</extension>
	<extension
		point="com.landray.kmss.lbpm.engine.event"
		model="com.landray.kmss.km.review.model.KmReviewMain">
		<item
			name="listener">
			<param
				name="unid"
				value="kmReviewSubsideAutoFileListener" />
			<param
				name="messageKey"
				value="km-review:kmReviewMain.event.lbpmEndSubsideOnfile" />
			<param
				name="eventTypes"
				value="lbpmProcessFinishEvent" />
			<param
				name="listener"
				value="kmReviewSubsideAutoFileListener" />
			<param
				name="conditionJsp"
				value="/km/review/km_review_main/kmReviewSubside.jsp" />
			<param
				name="description"
				value="km-review:kmReviewMain.event.lbpmEndSubsideOnfileDescription" />
		</item>
	</extension>
	<extension
		point="com.landray.kmss.lbpm.engine.event"
		model="com.landray.kmss.km.review.model.KmReviewMain">
		<item
			name="listener">
			<param
				name="unid"
				value="KmReviewEqbSignListener" />
			<param
				name="messageKey"
				value="km-review:kmReviewMain.event.lbpmEqbSign"/>
			<param
				name="eventTypes"
				value="endedNodeEvent"/>
			<param
				name="listener"
				value="KmReviewEqbSignListener" />
			<param
				name="conditionJsp"
				value="/km/review/km_review_ui/kmReviewMain_listener_EqbSign.jsp"/>
			<param
				name="enforce"
				value="false" />
		</item>
	</extension>
	<extension 
		point="com.landray.kmss.sys.lbpmservice.support.summary"
		model="*">
		<item name="handler">
			<param name="modelName" value="com.landray.kmss.km.review.model.KmReviewMain" />
			<param name="class" value="com.landray.kmss.km.review.service.spring.KmReviewSummaryHandler" />
		</item>
	</extension>
	
	<extension 
		point="com.landray.kmss.elec.device.ansyService"
		model="com.landray.kmss.elec.device.client.IElecChannelRequestMessage">
    	<item name="convertor">
      		<param name="bean" value="kmReviewYqqSignService" />
      		<param name="channel" value="yqq" />
      		<param name="receiver" value="km-Review" />
    	</item>
  	</extension>

	<!-- e签宝SaaS回调业务处理 -->
	<extension point="com.landray.kmss.elec.device.ansyService"
			   model="com.landray.kmss.elec.device.client.IElecChannelRequestMessage">
		<item name="convertor">
			<param name="bean" value="kmReviewEqbSaasSignService" />
			<param name="channel" value="eqbsaas" />
			<param name="receiver" value="com.landray.kmss.km.review.model.KmReviewMain" />
		</item>
	</extension>
  	
  	<extension
  		point="com.landray.kmss.sys.mobile.more.navItem.config">
		<item name="info">
			<param name="name" value="{km-review:table.kmReviewMain}" />
			<param name="modelName" value="com.landray.kmss.km.review.model.KmReviewMain" />
			<param name="filePath" value="/km/review/mobile/navItem.json" />
		</item>
	</extension>
	<!-- 前后端分离列表字段信息 -->
    <extension point="com.landray.kmss.sys.list.field.config"
               model="com.landray.kmss.km.review.model.KmReviewMain">
        <item name="field">
            <param name="unid" value="list"></param>
            <param name="property" value="fdId"></param>
            <param name="title" value="{km-review:kmReviewMain.fdId}"></param>
            <param name="convertor" value="modelPropertyConvertor"></param>
        </item>
        <item name="field">
            <param name="unid" value="list"></param>
            <param name="property" value="docSubject"></param>
            <param name="title" value="{km-review:kmReviewMain.docSubject}"></param>
            <param name="convertor" value="modelPropertyConvertor"></param>
        </item>
        <item name="field">
            <param name="unid" value="list"></param>
            <param name="property" value="fdTemplate.fdName"></param>
            <param name="title" value="{km-review:kmReviewMain.fdTemplate}"></param>
            <param name="convertor" value="modelPropertyConvertor"></param>
        </item>
        <item name="field">
            <param name="unid" value="list"></param>
            <param name="property" value="fdNumber"></param>
            <param name="title" value="{km-review:kmReviewMain.fdNumber}"></param>
            <param name="convertor" value="modelPropertyConvertor"></param>
        </item>
        <item name="field">
            <param name="unid" value="list"></param>
            <param name="property" value="fdUseWord"></param>
            <param name="title" value="{km-review:kmReviewTemplate.fdUseWord}"></param>
            <param name="convertor" value="modelPropertyConvertor"></param>
        </item>
        <item name="field">
            <param name="unid" value="list"></param>
            <param name="property" value="docCreator.fdName"></param>
            <param name="col" value="docCreator.fdName"></param>
            <param name="title" value="{km-review:kmReviewMain.docCreatorName}"></param>
            <param name="convertor" value="modelPropertyConvertor"></param>
        </item>
        <item name="field">
            <param name="unid" value="list"></param>
            <param name="property" value="authArea.fdName"></param>
            <param name="col" value="authArea.fdName"></param>
            <param name="title" value="{sys-authorization:sysAuthArea.authArea}"></param>
            <param name="convertor" value="modelPropertyConvertor"></param>
            <param name="show" value="showAuthArea"></param>
        </item>
        <item name="field">
            <param name="unid" value="list"></param>
            <param name="property" value="docCreateTime"></param>
            <param name="title" value="{km-review:kmReviewMain.docCreateTime}"></param>
            <param name="convertor" value="modelPropertyConvertor"></param>
            <param name="props" value="type:date"></param>
        </item>
        <item name="field">
            <param name="unid" value="list"></param>
            <param name="property" value="docPublishTime"></param>
            <param name="title" value="{km-review:kmReviewMain.docPublishTime}"></param>
            <param name="convertor" value="modelPropertyConvertor"></param>
            <param name="props" value="type:date"></param>
        </item>
        <item name="field">
            <param name="unid" value="list"></param>
            <param name="property" value="fdIsFiling"></param>
            <param name="title" value="{km-review:kmReviewMain.fdIsFiling}"></param>
            <param name="convertor" value="modelPropertyConvertor"></param>
        </item>
        <item name="field">
            <param name="unid" value="list"></param>
            <param name="property" value="docStatus"></param>
            <param name="title" value="{km-review:kmReviewMain.docStatus}"></param>
            <param name="convertor" value="enumsPropetyConvertor"></param>
            <param name="convertorProps" value="enumsType:kmReviewMain_docStatus"></param>
        </item>
        <item name="field">
            <param name="unid" value="list"></param>
            <param name="property" value="arrivalTime"></param>
            <param name="title" value="{km-review:sysWfNode.processingNode.currentarrTime}"></param>
            <param name="convertor" value="lbpmPropertyValueConvertor"></param>
            <param name="convertorProps" value="idValue:fdId;propertyName:arrivalTime"></param>
            <param name="props" value="type:date"></param>
        </item>
		<item name="field">
			<param name="unid" value="list"></param>
			<param name="property" value="resolveTime"></param>
			<param name="title" value="{km-review:sysWfNode.processingNode.resolveTime}"></param>
			<param name="convertor" value="lbpmPropertyValueConvertor"></param>
			<param name="convertorProps" value="idValue:fdId;propertyName:resolveTime"></param>
			<param name="props" value="type:date"></param>
		</item>
        <item name="field">
            <param name="unid" value="list"></param>
            <param name="property" value="nodeName"></param>
            <param name="title" value="{km-review:sysWfNode.processingNode.currentProcess}"></param>
            <param name="convertor" value="lbpmPropertyValueConvertor"></param>
            <param name="convertorProps" value="idValue:fdId;propertyName:nodeName"></param>
        </item>
        <item name="field">
            <param name="unid" value="list"></param>
            <param name="property" value="handlerName"></param>
            <param name="title" value="{km-review:sysWfNode.processingNode.currentProcessor}"></param>
            <param name="convertor" value="lbpmPropertyValueConvertor"></param>
            <param name="convertorProps" value="idValue:fdId;propertyName:handlerName"></param>
        </item>
    </extension>
    <!-- e签宝回调业务处理 -->
	<extension point="com.landray.kmss.elec.device.ansyService"
		model="com.landray.kmss.elec.device.client.IElecChannelRequestMessage">
		<item name="convertor">
			<param name="bean" value="kmReviewEqbSignService" />
			<param name="channel" value="eqb" />
			<param name="receiver" value="com.landray.kmss.km.review.model.KmReviewMain" />
		</item>
	</extension>

	<extension point="com.landray.kmss.sys.mobile.category.view">
		<item name="info">
			<param name="actionPath" value="/km/review/km_review_main/kmReviewMain.do"/>
			<param name="methodName" value="add"/>
			<param name="paramName" value="fdTemplateId"/>
			<param name="props" value="/km/review/mobile/props.json"/>
		</item>
	</extension>

	<extension point="com.landray.kmss.sys.datamng">
		<item name="config">
			<param name="modulePrefix" value="/km/review/"/>
			<param name="modelName" value="com.landray.kmss.km.review.model.KmReviewMain"/>
			<param name="authRange" value="self:'docCreator', orgOrDept:'fdDepartment'"/>
			<param name="templateName" value="com.landray.kmss.km.review.model.KmReviewTemplate"/>
		</item>
	</extension>
	<!--js合并压缩扩展点-->
	<extension point="com.landray.kmss.sys.ui.compressExecutor"
			   model="com.landray.kmss.sys.ui.service.ISysUiCompressExecutor">
		<item name="executor">
			<param name="unid" value="kmReviewCompressExecutor" />
			<param name="bean" value="kmReviewCompressExecutor"/>
		</item>
	</extension>
	<extension
			point="com.landray.kmss.sys.cache.filter.webcontentcache">
		<item name="provider">
			<param name="bean" value="kmReviewContentCache"/>
		</item>
	</extension>
</plugin>