<?xml version="1.0" encoding="UTF-8"?>
<beans
		xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean
			name="/km/review/km_review_main/kmReviewMain.do"
			class="com.landray.kmss.km.review.actions.KmReviewMainAction"
			lazy-init="true"
			parent="KmssBaseAction">
		<property
				name="formType"
				value="com.landray.kmss.km.review.forms.KmReviewMainForm" />
		<property name="forwards">
			<map>
				<entry
						key="view"
						value="/km/review/km_review_ui/kmReviewMain_view.jsp" />
				<entry
						key="view.old"
						value="/km/review/km_review_main/kmReviewMain_view.jsp" />
				<entry
						key="edit"
						value="/km/review/km_review_ui/kmReviewMain_edit.jsp" />
				<entry
						key="edit.old"
						value="/km/review/km_review_main/kmReviewMain_edit.jsp" />
				<entry
						key="edit.4pda"
						value="/km/review/km_review_main/kmReviewMain_edit_pda.jsp" />
				<entry
						key="edit.4offline"
						value="/km/review/mobile/offline_data/edit.jsp" />
				<entry
						key="list.4m"
						value="/km/review/mobile/list.jsp" />
				<entry
						key="listChildren.4m"
						value="/km/review/mobile/list.jsp" />
				<entry
						key="list"
						value="/km/review/km_review_main/kmReviewMain_list.jsp" />
				<entry
						key="changeTemp"
						value="/km/review/km_review_main/kmReveiwChangeTemplate.jsp" />
				<entry
						key="print"
						value="/km/review/km_review_main/kmReviewMain_print.jsp" />
				<entry
						key="printLattice"
						value="/km/review/km_review_main/kmReviewMain_print_lattice.jsp" />
				<entry
						key="printBatch"
						value="/km/review/km_review_main/kmReviewMain_print_batch.jsp" />
				<entry
						key="printBatchCus"
						value="/km/review/km_review_main/kmReviewMain_print_batch_cus.jsp" />
				<entry
						key="printBatch_xform"
						value="/km/review/km_review_main/kmReviewMain_print_xform.jsp" />
				<entry
						key="filePrint"
						value="/km/review/km_review_main/kmReviewMain_filePrint.jsp" />
				<entry
						key="subFilePrint"
						value="/km/review/km_review_main/kmReviewMain_subside.jsp" />
				<entry
						key="sysprint"
						value="/km/review/km_review_main/kmReviewMain_sysprint.jsp" />
				<entry
						key="cusprint"
						value="/km/review/km_review_main/kmReviewMain_cusprint.jsp" />
				<entry
						key="searchResult"
						value="/km/review/km_review_main/kmReviewMain_result.jsp" />
				<entry
						key="addRealtionDoc"
						value="/km/review/km_review_main/kmReviewMainRelaDoc.jsp" />
				<entry
						key="listChildren"
						value="/km/review/km_review_main/kmReviewMain_list_index.jsp" />
				<entry
						key="editRight"
						value="/km/review/km_review_main/kmReviewMain_right.jsp" />
				<entry
						key="manageList"
						value="/km/review/km_review_ui/kmReviewMain_list.jsp" />
				<entry
						key="previewReview"
						value="/km/review/km_review_main/kmReviewMain_preview.jsp" />
				<entry
						key="view.4m"
						value="/km/review/mobile/view_data.jsp" />
				<entry
						key="edit.4m"
						value="/km/review/mobile/edit_data.jsp" />
				<entry
						key="view.4offline"
						value="/km/review/mobile/offline_data/view.jsp" />
				<entry
						key="extendinfo"
						value="/km/review/km_review_ui/yqq/extend_info.jsp"/>
				<entry
						key="yqqLoading"
						value="/km/review/km_review_ui/yqq/yqq_loading.jsp"/>
				<entry
						key="invalid"
						value="/km/review/category_invalid.jsp"/>
				<entry
						key="invalid.4m"
						value="/km/review/mobile/category_invalid.jsp"/>
				<entry
						key="view_normal"
						value="/km/review/mobile/view.jsp"/>
				<!--E签宝嵌入式签署页面-->
				<entry
						key="sign_eqb"
						value="/km/review/km_review_ui/eqb/build_in_sign_page.jsp"/>
				<entry
						key="sign_eqb.4m"
						value="/km/review/mobile/eqb/view.jsp"/>
				<entry
					key="km_review_success"
					value="/km/review/km_review_ui/kmReviewMain_success.jsp"/>
			</map>
		</property>
	</bean>
	<bean
			name="/km/review/km_review_feedback_info/kmReviewFeedbackInfo.do"
			class="com.landray.kmss.km.review.actions.KmReviewFeedbackInfoAction"
			lazy-init="true"
			parent="KmssBaseAction">
		<property
				name="formType"
				value="com.landray.kmss.km.review.forms.KmReviewFeedbackInfoForm" />
		<property name="forwards">
			<map>
				<entry
						key="view"
						value="/km/review/km_review_feedback_info/kmReviewFeedbackInfo_view.jsp" />
				<entry
						key="view.4m"
						value="/km/review/mobile/km_review_feedback_info/view.jsp" />
				<entry
						key="edit"
						value="/km/review/km_review_feedback_info/kmReviewFeedbackInfo_edit.jsp" />
				<entry
						key="list"
						value="/km/review/km_review_feedback_info/kmReviewFeedbackInfo_list.jsp" />
				<entry
						key="listdata"
						value="/km/review/km_review_feedback_info/kmReviewFeedbackInfo_listdata.jsp" />
			</map>
		</property>
	</bean>
	<bean
			name="/km/review/km_review_template/kmReviewTemplate.do"
			class="com.landray.kmss.km.review.actions.KmReviewTemplateAction"
			lazy-init="true"
			parent="KmssBaseAction">
		<property
				name="formType"
				value="com.landray.kmss.km.review.forms.KmReviewTemplateForm" />
		<property name="forwards">
			<map>
				<entry
						key="view"
						value="/km/review/km_review_template/kmReviewTemplate_view.jsp" />
				<entry
						key="edit"
						value="/km/review/km_review_template/kmReviewTemplate_edit.jsp" />
				<entry
						key="list"
						value="/km/review/km_review_template/kmReviewTemplate_list.jsp" />
				<entry
						key="listChildren"
						value="/km/review/km_review_template/kmReviewTemplate_list.jsp" />
				<entry
						key="index.4m"
						value="/km/review/mobile/template/index.jsp" />
				<entry
						key="list.4m"
						value="/km/review/mobile/template/list.jsp" />
				<entry
						key="edit.4m"
						value="/km/review/mobile/template/edit.jsp" />
				<entry
						key="select"
						value="/km/review/km_review_template/kmReviewTemplate_select.jsp" />
				<entry
						key="selectDing"
						value="/km/review/km_review_ui/dingSuit/kmReviewTemplate_select.jsp" />
				<entry
						key="successDing"
						value="/km/review/km_review_template/success_ding.jsp" />
				<entry value="/km/review/km_review_template/success_mall.jsp" key="successMall"/>
			</map>
		</property>
	</bean>
	<bean
			name="/km/review/km_review_template/kmReviewTemplateSearch.do"
			class="com.landray.kmss.km.review.actions.KmReviewTemplateSearchAction"
			lazy-init="true"
			parent="KmssBaseAction">
		<property
				name="formType"
				value="com.landray.kmss.km.review.forms.KmReviewTemplateForm" />
		<property name="forwards">
			<map>
				<entry
						key="listChildren"
						value="/km/review/km_review_template/kmReviewTemplate_searchList.jsp" />
			</map>
		</property>
	</bean>
	<bean
			name="/km/review/km_review_common_config/kmReviewCommonConfig.do"
			class="com.landray.kmss.km.review.actions.KmReviewCommonConfigAction"
			lazy-init="true"
			parent="KmssBaseAction">
		<property
				name="formType"
				value="com.landray.kmss.km.review.forms.KmReviewCommonConfigForm" />
		<property name="forwards">
			<map>
				<entry
						key="edit"
						value="/km/review/km_review_common_config/kmReviewCommonConfig_edit.jsp" />
				<entry
						key="list"
						value="/km/review/km_review_common_config/kmReviewCommonConfig_list.jsp" />
			</map>
		</property>
	</bean>
	<bean
			name="/km/review/km_review_index/kmReviewIndex.do"
			class="com.landray.kmss.km.review.actions.KmReviewIndexAction"
			lazy-init="true"
			parent="KmssBaseAction">
		<property
				name="formType"
				value="com.landray.kmss.km.review.forms.KmReviewMainForm" />
		<property name="forwards">
			<map>
				<entry
						key="list"
						value="/km/review/km_review_ui/kmReviewMain_list.jsp" />
				<entry
						key="manageList"
						value="/km/review/km_review_ui/kmReviewMain_list.jsp" />
				<entry
						key="draftlist"
						value="/km/review/km_review_ui/kmReviewMain_draftlist.jsp" />
				<entry
						key="list.4m"
						value="/km/review/mobile/list.jsp" />
				<entry
						key="homeInfo"
						value="/km/review/km_review_homepage/km_review_countview.jsp" />
				<entry
						key="offenUseList"
						value="/km/review/km_review_homepage/km_review_offenuse.jsp" />
				<entry
						key="reviewProcessList"
						value="/km/review/km_review_homepage/km_review_process.jsp" />
				<entry
						key="reviewedProcessList"
						value="/km/review/km_review_homepage/km_review_finish.jsp" />
				<entry
						key="draftProcessList"
						value="/km/review/km_review_homepage/km_review_draft.jsp" />
				<entry
						key="followProcessList"
						value="/km/review/km_review_homepage/km_review_follow.jsp" />
				<entry
						key="reviewedProcessTable"
						value="/km/review/km_review_homepage/km_review_reviewedtable.jsp" />
				<entry
						key="draftProcessTable"
						value="/km/review/km_review_homepage/km_review_drafttable.jsp" />
				<!--流程首页-统计部件-->
				<entry
						key="statisticsHomeInfo"
						value="/km/review/km_review_portlet_ui/km_review_portlet_statistics_homepage.jsp"/>
				<!--流程首页-常用流程和最近使用流程部件-->
				<entry
						key="commonRecently"
						value="/km/review/km_review_portlet_ui/km_review_portlet_usual.jsp"/>
				<!--流程首页-待我审和我发起的流程报表统计部件-->
				<entry
						key="portletProcessSummaryCharts"
						value="/km/review/portlet/kmReviewMain_chartsSummary.jsp" />
				<!--流程首页-含摘要流程列表统计部件-->
				<entry
						key="portletProcessSummary"
						value="/km/review/portlet/km_review_summary.jsp" />
			</map>
		</property>
	</bean>
	<bean
			name="/km/review/km_review_main/kmReviewMainPortlet.do"
			class="com.landray.kmss.km.review.actions.KmReviewMainPortletAction"
			lazy-init="true"
			parent="KmssBaseAction">
		<property name="forwards">
			<map>
				<entry
						key="listPortlet"
						value="/km/review/km_review_ui/kmReviewMainPortlet_list.jsp" />
				<entry
						key="listPortlet.4m"
						value="/km/review/mobile/mportal/kmReviewMainPortlet_data.jsp" />
			</map>
		</property>
	</bean>
	<bean
			name="/km/review/km_review_main/kmReviewMainStat.do"
			class="com.landray.kmss.km.review.actions.KmReviewMainStatAction"
			lazy-init="true"
			parent="KmssBaseAction">
	</bean>
	<bean
			name="/km/review/km_review_overview/kmReviewOverview.do"
			class="com.landray.kmss.km.review.actions.KmReviewOverviewAction"
			lazy-init="true"
			parent="KmssBaseAction">
	</bean>
	<bean id="kmReviewMainPortletController"
		  class="com.landray.kmss.km.review.actions.KmReviewMainPortletController">
	</bean>
	<bean
			name="/km/review/km_review_main/kmReviewMainArchives.do"
			class="com.landray.kmss.km.review.actions.KmReviewMainArchivesAction"
			lazy-init="true"
			parent="KmssBaseAction">
		<property
				name="formType"
				value="com.landray.kmss.km.review.forms.KmReviewMainForm" />
		<property name="forwards">
			<map>
				<entry
						key="filePrint"
						value="/km/review/km_review_main/kmReviewMain_filePrint.jsp" />
			</map>
		</property>
	</bean>
	<bean
			name="/km/review/km_review_main/kmReviewMainSubside.do"
			class="com.landray.kmss.km.review.actions.KmReviewMainSubsideAction"
			lazy-init="true"
			parent="KmssBaseAction">
	</bean>

	<bean
			class="com.landray.kmss.km.review.actions.KmReviewOutSignAction"
			parent="KmssBaseAction"
			name="/km/review/km_review_main/kmReviewOutSign.do"
			lazy-init="true">
		<property
				name="formType"
				value="com.landray.kmss.km.review.forms.KmReviewOutSignForm"/>
		<property
				name="forwards">
			<map/>
		</property>
	</bean>
</beans>