<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean
		name="/sys/zone/index.do"
		class="com.landray.kmss.sys.zone.actions.SysZoneIndexAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.zone.forms.SysZoneNavigationForm" />
		<property name="forwards">
			<map>
				<entry
					key="home"
					value="/sys/zone/zone.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/sys/zone/sys_zone_personInfo/sysZonePersonInfo.do"
		class="com.landray.kmss.sys.zone.actions.SysZonePersonInfoAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.zone.forms.SysZonePersonInfoForm" />
		<property name="forwards">
			<map>
				<entry
					key="edit"
					value="/sys/zone/sys_zone_personInfo/sysZonePersonInfo_edit.jsp" />
				<entry
					key="view"
					value="/sys/zone/sys_zone_personInfo/sysZonePersonInfo_view.jsp" />
				<entry
					key="tagsList"
					value="/sys/zone/sys_zone_personInfo/sysZonePersonInfo_tags_data.jsp" />
				<entry
					key="searchExpert"
					value="/sys/zone/sys_zone_personInfo/sysZoneNewPersonInfo_search_data.jsp" />
				<entry
					key="data"
					value="/sys/zone/sys_zone_personInfo/sysZonePersonInfo_data.jsp" />
				<entry
					key="searchDate"
					value="/sys/zone/sys_zone_personInfo/sysZonePersonInfo_search_data.jsp" />
				<entry
					key="toSearch"
					value="/sys/zone/zoneSearch.jsp" />
				<entry
					key="editPhoto"
					value="/sys/zone/sys_zone_personInfo/sysZonePersonInfoPhoto_edit.jsp" />
				<entry
					key="listPerson"
					value="/sys/zone/sys_zone_personInfo/sysZonePersonInfo_person_list.jsp" />
				<entry
					key="editOtherPhoto"
					value="/sys/zone/sys_zone_personInfo/sysZonePersonInfoPhoto_other_edit.jsp" />
				<entry
					key="modifyOtherResume"
					value="/sys/zone/sys_zone_personInfo/sysZonePersonInfo_resume_edit.jsp" />
				<entry
					key="searchPeople"
					value="/sys/ftsearch/searchPerson.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/sys/zone/sys_zone_navigation/sysZoneNavigation.do"
		class="com.landray.kmss.sys.zone.actions.SysZoneNavigationAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.zone.forms.SysZoneNavigationForm" />
		<property name="forwards">
			<map>
				<entry
					key="list"
					value="/sys/zone/sys_zone_navigation/sysZoneNavigation_list.jsp" />
				<entry
					key="data"
					value="/sys/zone/sys_zone_navigation/sysZoneNavigation_data.jsp" />
				<entry
					key="edit"
					value="/sys/zone/sys_zone_navigation/sysZoneNavigation_edit.jsp" />
				<entry
					key="view"
					value="/sys/zone/sys_zone_navigation/sysZoneNavigation_edit.jsp" />
				<entry
					key="portlet"
					value="/sys/zone/sys_zone_navigation/sysZoneNavigation_portlet.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/sys/zone/sys_zone_person_data/sysZonePersonData.do"
		class="com.landray.kmss.sys.zone.actions.SysZonePersonDataAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.zone.forms.SysZonePersonDataForm" />
		<property name="forwards">
			<map>
				<entry
					key="view"
					value="/sys/zone/sys_zone_person_data/sysZonePersonData_view.jsp" />
				<entry
					key="edit"
					value="/sys/zone/sys_zone_person_data/sysZonePersonData_edit.jsp" />
				<entry
					key="data"
					value="/sys/zone/sys_zone_person_data/sysZonePersonData_data.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/sys/zone/sys_zone_person_atten_fan/sysZonePersonAttenFan.do"
		class="com.landray.kmss.sys.zone.actions.SysZonePersonAttenFanAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.zone.forms.SysZonePersonAttenFanForm" />
		<property name="forwards">
			<map>
				<entry
					key="view"
					value="/sys/zone/sys_zone_person_atten_fan/sysZonePersonAttenFan_view.jsp" />
				<entry
					key="edit"
					value="/sys/zone/sys_zone_person_atten_fan/sysZonePersonAttenFan_edit.jsp" />
				<entry
					key="data"
					value="/sys/zone/sys_zone_person_atten_fan/sysZonePersonAttenFan_data.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/sys/zone/sys_zone_per_data_templ/sysZonePerDataTempl.do"
		class="com.landray.kmss.sys.zone.actions.SysZonePerDataTemplAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.zone.forms.SysZonePerDataTemplForm" />
		<property name="forwards">
			<map>
				<entry
					key="view"
					value="/sys/zone/sys_zone_per_data_templ/sysZonePerDataTempl_view.jsp" />
				<entry
					key="edit"
					value="/sys/zone/sys_zone_per_data_templ/sysZonePerDataTempl_edit.jsp" />
				<entry
					key="data"
					value="/sys/zone/sys_zone_per_data_templ/sysZonePerDataTempl_data.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/sys/zone/sys_zone_person_data_cate/sysZonePersonDataCate.do"
		class="com.landray.kmss.sys.zone.actions.SysZonePersonDataCateAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.zone.forms.SysZonePersonDataCateForm" />
		<property name="forwards">
			<map>
				<entry
					key="view"
					value="/sys/zone/sys_zone_person_data_cate/sysZonePersonDataCate_view.jsp" />
				<entry
					key="list"
					value="/sys/zone/sys_zone_person_data_cate/sysZonePersonDataCate_list.jsp" />
				<entry
					key="edit"
					value="/sys/zone/sys_zone_person_data_cate/sysZonePersonDataCate_edit.jsp" />
				<entry
					key="data"
					value="/sys/zone/sys_zone_person_data_cate/sysZonePersonDataCate_data.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/sys/zone/sys_zone_photo_main/sysZonePhotoMain.do"
		class="com.landray.kmss.sys.zone.actions.SysZonePhotoMainAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.zone.forms.SysZonePhotoMainForm" />
	</bean>
	<bean
		name="/sys/zone/sys_zone_nav_link/sysZoneNavLink.do"
		class="com.landray.kmss.sys.zone.actions.SysZoneNavLinkAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property name="forwards">
			<map>
				<entry
					key="select"
					value="/sys/zone/sys_zone_nav_link/sysZoneNavLink_select.jsp" />
				<entry
					key="dialog"
					value="/sys/zone/sys_zone_nav_link/sysZoneNavLink_dialog.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/sys/zone/sys_zone_page_template/sysZonePageTemplate.do"
		class="com.landray.kmss.sys.zone.actions.SysZonePageTemplateAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property name="forwards">
			<map>
				<entry
					key="edit"
					value="/sys/zone/sys_zone_page_template/sysZonePageTemplate_edit.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/sys/zone/sys_zone_addreass/sysZoneAddress.do"
		class="com.landray.kmss.sys.zone.actions.SysZoneAddressAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.zone.forms.SysZonePersonInfoForm" />
		<property name="forwards">
			<map>
				<entry
					key="list"
					value="/sys/zone/address/sysZoneAddress_list.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/sys/zone/sys_zone_mportal/sysZoneMportal.do"
		class="com.landray.kmss.sys.zone.actions.SysZoneMportalAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.zone.forms.SysZonePersonInfoForm" />
	</bean>
	<bean
		name="/sys/zone/sys_zone_person_multi_resume/sysZonePersonMultiResume.do"
		class="com.landray.kmss.sys.zone.actions.SysZonePersonMultiResumeAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.zone.forms.SysZonePersonMultiResumeForm" />
		<property name="forwards">
			<map>
				<entry
					key="edit"
					value="/sys/zone/sys_zone_person_multi_resume/sysZonePersonMultiResume_edit.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/sys/zone/sys_zone_private_config/sysZonePrivateConfig.do"
		class="com.landray.kmss.sys.zone.actions.SysZonePrivateConfigAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.appconfig.forms.SysAppConfigForm" />
	</bean>
	<bean
		name="/sys/zone/sys_zone_private_change/sysZonePrivateChange.do"
		class="com.landray.kmss.sys.zone.actions.SysZonePrivateChangeAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.zone.forms.SysZonePrivateChangeForm" />
		<property name="forwards">
			<map>
				<entry
					key="editPrivate"
					value="/sys/zone/sys_zone_private_change/sysZonePrivateChange_editPrivate.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/sys/zone/sys_zone_address_cate/sysZoneAddressCate.do"
		class="com.landray.kmss.sys.zone.actions.SysZoneAddressCateAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.zone.forms.SysZoneAddressCateForm" />
		<property name="forwards">
			<map>
				<entry
					key="editInner"
					value="/sys/zone/address/resource/jsp/innerEdit.jsp" />
				<entry
					key="editOuter"
					value="/sys/zone/address/resource/jsp/outerEdit.jsp" />
			</map>
		</property>
	</bean>
</beans>