<div>
	<section class="mui_meetingSign_header">
		<h1 class="mui_meetingSign_header_title" data-dojo-attach-point="domCateTitle"></h1>
		<ul class="mui_meetingSign_header_board">
			<li>
				<div class="time" data-dojo-attach-point='domStartTime'></div>
				<div class="txt">开始时间</div>
			</li>
			<li>
				<div class="tip">
					<span data-dojo-attach-point='domSignTime'></span>后为迟到
				</div>
				<div class="date" data-dojo-attach-point='domSignDate'></div>
			</li>
			<li>
				<div class="time" data-dojo-attach-point='domEndTime'></div>
				<div class="txt">结束时间</div>
			</li>
		</ul>
	</section>
	<section class="mui_meetingSign_body" data-dojo-attach-point='domSignBody'>
	</section>
</div>
