<?xml version="1.0" encoding="UTF-8"?>
<plugin
	xmlns="http://www.example.org/plugin-config"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.example.org/plugin-config ../../../plugin.xsd ">
	<!-- 基本属性布局扩展 -->
	<extension point="com.landray.kmss.sys.xform.fieldlayout" model="com.landray.kmss.hr.ratify.model.HrRatifySign">
		 <!--合同签订人员 -->
	    <item name="config">
			<param name="fieldIds" value="fdSignStaff"></param>
			<param name="required" value="true"></param>
		    <param name="jspParams" value="hr/ratify/fieldlayout/sign/fdsignstaff/param.jsp"></param>
			<param name="jspRunProfix" value="hr/ratify/fieldlayout/sign/fdsignstaff/fdSignStaff"></param>
		</item>
		<!--所属部门 -->
		<item name="config">
			<param name="fieldIds" value="fdSignDept"></param>
			<param name="required" value="false"></param>
			<param name="jspParams" value="hr/ratify/fieldlayout/sign/fdsigndept/param.jsp"></param>
			<param name="jspRunProfix" value="hr/ratify/fieldlayout/sign/fdsigndept/fdSignDept"></param>
		</item>
		<!-- 合同名称 -->
	    <item name="config">
			<param name="fieldIds" value="fdSignName"></param>
			<param name="required" value="true"></param>
		    <param name="jspParams" value="hr/ratify/fieldlayout/sign/fdsignname/param.jsp"></param>
			<param name="jspRunProfix" value="hr/ratify/fieldlayout/sign/fdsignname/fdSignName"></param>
		</item>
		<!-- 签订标识 -->
		<item name="config">
			<param name="fieldIds" value="fdSignType"></param>
			<param name="required" value="true"></param>
			<param name="jspParams" value="hr/ratify/fieldlayout/sign/fdsigntype/param.jsp"></param>
			<param name="jspRunProfix" value="hr/ratify/fieldlayout/sign/fdsigntype/fdSignType"></param>
		</item>
		<!-- 合同类型 -->
		<item name="config">
			<param name="fieldIds" value="fdSignContType"></param>
			<param name="required" value="true"></param>
			<param name="jspParams" value="hr/ratify/fieldlayout/sign/fdsignconttype/param.jsp"></param>
			<param name="jspRunProfix" value="hr/ratify/fieldlayout/sign/fdsignconttype/fdSignContType"></param>
		</item>
		<!-- 合同开始时间 -->
		<item name="config">
			<param name="fieldIds" value="fdSignBeginDate"></param>
			<param name="required" value="true"></param>
			<param name="jspParams" value="hr/ratify/fieldlayout/sign/fdsignbegindate/param.jsp"></param>
			<param name="jspRunProfix" value="hr/ratify/fieldlayout/sign/fdsignbegindate/fdSignBeginDate"></param>
		</item>
		<!-- 合同到期时间 -->
		<item name="config">
			<param name="fieldIds" value="fdSignEndDate"></param>
			<param name="required" value="true"></param>
			<param name="jspParams" value="hr/ratify/fieldlayout/sign/fdsignenddate/param.jsp"></param>
			<param name="jspRunProfix" value="hr/ratify/fieldlayout/sign/fdsignenddate/fdSignEndDate"></param>
		</item>
		<!-- 合同办理日期-->
		<item name="config">
			<param name="fieldIds" value="fdSignHandleDate"></param>
			<param name="required" value="true"></param>
			<param name="jspParams" value="hr/ratify/fieldlayout/sign/fdsignhandledate/param.jsp"></param>
			<param name="jspRunProfix" value="hr/ratify/fieldlayout/sign/fdsignhandledate/fdSignHandleDate"></param>
		</item>
		<!-- 合同备注-->
 		<item name="config">
			<param name="fieldIds" value="fdSignRemark"></param>
			<param name="required" value="false"></param>
			<param name="jspParams" value="hr/ratify/fieldlayout/sign/fdsignremark/param.jsp"></param>
			<param name="jspRunProfix" value="hr/ratify/fieldlayout/sign/fdsignremark/fdSignRemark"></param>
		</item>
	</extension>
</plugin>