@CHARSET "UTF-8";

.lui_accordionpanel_toggle_up{
    display: none;
}
.lui_accordionpanel_toggle_down{
    display: none;
}

#index_nav_switch .lui_tabpanel_navs_item_title{
}

#index_nav_switch .lui_tabpanel_navs_item_title:before{
    content: '';
    /* position: absolute; */
    /* left: 0; */
    /* top: 3px; */
    display: inline-block;
    height: 18px;
    width: 18px;
    background-image: url(../images/logo@2x.png);
    background-size: 18px 18px;
    margin-right: 6px;
    margin-top: 3p;
    vertical-align: middle;
}

#index_nav_switch .iconfont{
    margin-right: 6px;
}

#index_nav_switch .lui_iconfont_navleft_com_homepage:before{
    content: '';
    display: inline-block;
    height: 15px;
    width: 15px;
    background-image: url(../images/home@2x.png);
    background-size: 16px 16px;
}

#index_nav_switch .lui_iconfont_navleft_books_all:before{
    content: '';
    display: inline-block;
    height: 14px;
    width: 15px;
    background-image: url(../images/all@2x.png);
    background-size: 16px 16px;
}

#index_nav_title .lui-navtitle-card{
    padding: 0;
}

#index_nav_title .lui-navtitle-card-operation{
    padding: 0;
}

#index_nav_title .lui_knowledge_sum_card_item{
    margin: 0;
    padding: 0 14px;
}

#index_nav_title .percent10{
    background: rgba(255,255,255,0.10);
    width: 46px;
    margin: 8px 4px;
    border-radius: 2px;
}

#index_nav_title .lui_knowledge_sum_card_item_document{
    background: rgba(255,255,255,0.10);
    width: 46px;
    margin: 8px 4px;
    border-radius: 2px;
}

#index_nav_title .lui_knowledge_sum_card_item_wiki{
    background: rgba(255,255,255,0.10);
    width: 46px;
    margin: 8px 4px;
    border-radius: 2px;
}

#index_nav_title .lui_knowledge_sum_card_item_atom{
    background: rgba(255,255,255,0.10);
    width: 46px;
    margin: 8px 4px;
    border-radius: 2px;
}


#index_nav_title .lui_knowledge_sum_card_item_num{
    border-radius: 2px;
    height: 0;
    line-height: unset;
}

#index_nav_title .lui-navtitle-card-operation > li{
    float: unset;
    width: 100%;
}

#index_nav_title .lui-navtitle-card-operation > li a{
    padding: 8px 6px;
    width: 100%;
    height: 20px;
    line-height: 20px;
    /* color: #666; */
    font-weight: normal;
    font-size: 14px;
    border-radius: 0;
    padding-left: 14px;
}

#index_nav_title .lui-navtitle-card-operation > li a:hover{
    /*opacity: .75;*/
    /*filter: alpha(opacity=75);*/
    color:#fff;
    /*border-radius: 4px;*/
    background-color: #4285f4;
    text-shadow: 1px 1px 1px rgba(0,0,0,.35);
    opacity: 1;
    filter: alpha(opacity=100);
}

#index_nav_title .lui-navtitle-card-operation > li.selected a {
    padding: 8px 6px;
    padding-left: 14px;
    margin: unset;
    /*
    margin-left: -3px;
    margin-right: -3px;
    padding-left: 3px;
    padding-right: 3px;
    color: #fff;
    border-radius: 4px;
    background-color: #4285f4;
    text-shadow: 1px 1px 1px rgba(0,0,0,.35);
    */
}

#index_nav_title .lui_iconfont_navleft_com_my_drafted:before{
    content: '';
    display: inline-block;
    height: 15px;
    width: 15px;
    background-image: url(../images/draft@2px.png);
    background-size: 16px 16px;
}

#index_nav_title .lui_iconfont_navleft_com_my_beapproval:before{
    content: '';
    display: inline-block;
    height: 15px;
    width: 15px;
    background-image: url(../images/approve@2x.png);
    background-size: 16px 16px;
}

#index_nav_title .lui_iconfont_navleft_archives_borrow:before{
    content: '';
    display: inline-block;
    height: 15px;
    width: 15px;
    background-image: url(../images/readlog@2x.png);
    background-size: 16px 16px;
}

#index_nav_favorate .lui_portlet_operation{
    /*color:red;*/
    font-size: 0;
}

#index_nav_favorate .lui_accordionpanel_nav_text{
    width: 88%;
}

#index_nav_favorate .lui_portlet_operation:before{
    content: '';
    display: inline-block;
    margin-top:3px;
    height: 15px;
    width: 15px;
    background-image: url(../images/fav@2x.png);
    background-size: 14px 14px;
}

#index_cat_list .lui_search_bar{
    padding-top:10px;
}

#index_cat_list .lui_icon_cancel{
    display: none;
}


#index_cat_list .lui_dataview_search_wrap .search_btn:before{
    border:none;
}

#index_cat_list .search_btn .lui_icon_search{
    display: inline-block;
    height: 14px;
    width: 14px;
    background-image: url(../images/search@2x.png);
    background-size: 14px 14px;
}