/*表格外侧框线红色，字段红色实线*/
table tr td{ border:none !important;}
.tb_normal_redsolidouter { text-align: left; padding: 8px !important; margin: 0px auto; border: 1px solid #f00 !important; border-collapse: collapse; background-color: rgb(255, 255, 255); }
.tb_normal_redsolidouter   tr { border:none !important; }
.tb_normal_redsolidouter   tr  td { padding: 8px;word-break: break-all; border: none !important; }
.tb_normal_redsolidouter>tbody>tr>td {border: none!important; }