<?xml version="1.0" encoding="UTF-8"?>
<plugin
	xmlns="http://www.example.org/plugin-config"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.example.org/plugin-config ../../plugin.xsd ">
	 
	<extension-point id="com.landray.kmss.sys.praiseInfo">
		<item name="jspConfig">
			<param name="jsp" required="true" kind="string">
				<description>
					jsp页面路径配置
				</description>
			</param>
			<description>jsp配置注册</description>
		</item>
		<description>点赞机制赞赏类型扩展点</description>
	</extension-point>
</plugin>