<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean
		name="/sys/praise/sys_praise_info_category/sysPraiseInfoCategory.do"
		class="com.landray.kmss.sys.praise.actions.SysPraiseInfoCategoryAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.praise.forms.SysPraiseInfoCategoryForm" />
		<property name="forwards">
			<map>
				<entry
					key="edit"
					value="/sys/praise/sys_praise_info/sysPraiseInfoCategory_edit.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/sys/praise/sys_praise_main/sysPraiseMain.do"
		class="com.landray.kmss.sys.praise.actions.SysPraiseMainAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.praise.forms.SysPraiseMainForm" />
	</bean>
	<bean
		name="/sys/praise/sys_praise_info/sysPraiseInfo.do"
		class="com.landray.kmss.sys.praise.actions.SysPraiseInfoAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.praise.forms.SysPraiseInfoForm" />
		<property name="forwards">
			<map>
				<entry
					key="edit"
					value="/sys/praise/sys_praise_info/sysPraiseInfo_edit.jsp" />
				<entry
					key="data"
					value="/sys/praise/sys_praise_info/sysPraiseInfo_data.jsp" />
				<entry
					key="view"
					value="/sys/praise/sys_praise_info/sysPraiseInfo_view.jsp" />
				<entry
					key="listDetail"
					value="/sys/praise/sys_praise_info/sysPraiseInfo_listDetail.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/sys/praise/sys_praise_info_personal/sysPraiseInfoPersonal.do"
		class="com.landray.kmss.sys.praise.actions.SysPraiseInfoPersonalAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.praise.forms.SysPraiseInfoPersonalForm" />
		<property name="forwards">
			<map>
				<entry
					key="data"
					value="/sys/praise/sys_praise_info_personal/sysPraiseInfoPersonal_data.jsp" />
				<entry
					key="view"
					value="/sys/praise/sys_praise_info_personal/sysPraiseInfoPersonal_view.jsp" />
			</map>
		</property>
	</bean>
	<!-- Error : Class Not Found!
	<bean
		name="/sys/praise/sys_praise_info_config/sysPraiseInfoConfig.do"
		class="com.landray.kmss.sys.praise.actions.SysPraiseInfoConfigAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.praise.forms.SysPraiseInfoConfigForm" />
		<property name="forwards">
			<map>
				<entry
					key="data"
					value="/sys/praise/sys_praise_info_config/sysPraiseInfoConfig_data.jsp" />
			</map>
		</property>
	</bean>
	-->
	<bean
		name="/sys/praise/sys_praise_info_config_main/sysPraiseInfoConfigMain.do"
		class="com.landray.kmss.sys.praise.actions.SysPraiseInfoConfigMainAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.praise.forms.SysPraiseInfoConfigMainForm" />
		<property name="forwards">
			<map>
				<entry
					key="configEdit"
					value="/sys/praise/sys_praise_info_config/config_edit.jsp" />
				<entry
					key="importInfo"
					value="/sys/praise/sys_praise_info_config/config_import.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/sys/praise/sys_praise_info_portlet/sysPraiseInfoPortlet.do"
		class="com.landray.kmss.sys.praise.actions.SysPraiseInfoPortletAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property name="forwards">
			<map>
				<entry
					key="data"
					value="/sys/praise/sys_praise_info_portlet/sysPraiseInfoPortlet_rank.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/sys/praise/sys_praise_reply_config/sysPraiseReplyConfig.do"
		class="com.landray.kmss.sys.praise.actions.SysPraiseReplyConfigAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property name="forwards">
			<map>
				<entry key="viewConfig"
					value="/sys/praise/sys_praise_reply/replyConfig/sysPraiseReplyConfig.jsp" />
			</map>
		</property>
	</bean>
</beans>