img {
	height: 400px;
	width: 220px;
}

.type:HOVER,.type.selected {
	border-color: #eb7350 !important;
}

.type.selected span{
	visibility: visible;
}

.type span{
    position: absolute;
    top: 0;
    right:0;
    z-index: 1;
    border-radius: 2px;
    line-height: 22px;
    text-align: center;
    color: #FFF;
    height: 30px;
    width: 30px;
    text-indent: -9999em;
    background-color: transparent;
    background: url(./img/cur_bg.png) no-repeat;
    visibility: hidden;
}

.type:HOVER>div {
	visibility: visible;
	animation-duration: 1s;
	animation-fill-mode: both;
	animation-name: fadeIn;
}

.type {
	display: inline-block;
	border: 3px solid #d2d2d2;
	position: relative;
	cursor: pointer;
	animation-duration: 1s;
	animation-fill-mode: both;
	animation-name: fadeIn;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.tip{
	padding: 4px 0;
	color: red;
	font-size: 14px;
}

.type>div {
	position: absolute;
	bottom: 0;
	width: 100%;
	background: rgba(74, 74, 74, 0.6);
	color: #fff;
	visibility: hidden;
	padding: 5px 0;
	font-size: 11px;
}

.input-group{
    padding: 7px 8px;
    font-size: 13px;
    color: #333;
    vertical-align: middle;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right 8px center;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: 0;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.075);
    display: inline-block;
}

