<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<!-- 流程交接服务 -->
	<bean
		id="lbpmWorkHandoverService"
		class="com.landray.kmss.sys.lbpmext.workhandover.LbpmWorkHandoverServiceImp">
		<property name="accessManager">
			<ref bean="accessManager" />
		</property>
	</bean>
</beans>
