<?xml version="1.0" encoding="UTF-8"?>
<plugin
	xmlns="http://www.example.org/plugin-config"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.example.org/plugin-config ../../plugin.xsd ">
	<extension
		point="com.landray.kmss.sys.oms">
		<item
			name="in"
			enable="true">
			<param
				name="name"
				value="idm" />
			<param
				name="title"
				value="third-idm:third.idm.title" />
			<param
				name="service"
				value="idmSynchroInIteratorProvider" />
		</item>
	</extension>
	<!--
	<extension
		point="com.landray.kmss.sys.config.admin.do">
		<item
			name="config">
			<param
				name="jsp"
				value="/third/idm/config.jsp" />
		</item>
	</extension>
	-->
</plugin>