<?xml version="1.0" encoding="UTF-8"?>
<plugin
	xmlns="http://www.example.org/plugin-config"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.example.org/plugin-config ../../../../plugin.xsd ">
	
	<extension
		point="com.landray.kmss.sys.cluster">
		<!-- 流程队列工作服务器 -->
		<item
			name="dispatcher">
			<param
				name="id"
				value="lbpmQueueDispatcher" />
			<param
				name="service"
				value="workerDispatcher" />
			<param
				name="multi"
				value="true" />
		</item>
	</extension>

	<!--  暂时屏蔽掉
	<extension point="com.landray.kmss.sys.cluster">
		<item name="dispatcher">
			<param name="id" value="proLbpmDeadlockDispatcher" />
			<param name="service" value="proLbpmDeadlockDispatcher" />
			<param name="multi" value="true" />
		</item>
	</extension> -->

</plugin>