.defaultstipsy {
	font-weight: bolder;
	padding: 5px;
	font-size: 15px;
	background-repeat: no-repeat;
	background-image: url(../images/tipsy.gif);
	font-family: "微软雅黑,宋体";
}

.defaultstipsy-inner {
	background-color: #000;
	color: #FFF;
	max-width: 200px;
	text-align: left;
	padding: 5px 8px 4px 8px;
}

.defaultstipsy-inner {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.defaultstipsy-north {
	background-position: top center;
}

.defaultstipsy-south {
	background-position: bottom center;
}

.defaultstipsy-east {
	background-position: right center;
}

.defaultstipsy-west {
	background-position: left center;
}

/* Rounded corners */
.defaultstipsy-inner {
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	padding: 0;
}

.defaultstipsy-inner a {
	text-decoration: none;
	color: white;
	display: block;
	padding: 0 8px;
	
}

.defaultstipsy-inner a:hover {
	background-color: #E5EDF2;
	color: #369;
	display: block;
}