.kms_star_eval {
	position: relative;
	overflow: hidden;
	width: 200px;
	height: 25px;
	line-height: 25px;
}

.kms_star_eval > div {
	position: absolute;
    height: 100%;
}

.kms_star_starbad, .kms_star_stargood {
	display: inline-block;
	position: relative;
	top: 1px;
}

.svg_star_dark_box, .svg_star_box {
	display: inline-block;
	position: relative;
	top: 1px;
}

.svg_star_dark_box {
/* 	padding-top: 1px; */
}

.kms_star_stargood_div, .kms_star_starbad_div {
	width: 300px;
}

.kms_star_stargood_div_mark {
	width: 100px;
	overflow: hidden;
}

.kms_star_starbad {
    background-image: none;
    background-color: #333333;
    -webkit-mask-image: url(./svg/starbad.svg);
    mask-image: url(./svg/starbad.svg);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
}

.kms_star_stargood {
	background-image: none;
    background-color: #FF943E;
    -webkit-mask-image: url(./svg/stargood.svg);
    mask-image: url(./svg/stargood.svg);
}

.kms_star_eval_score_mark, .kms_star_eval_score_title {
    position: absolute;
}