.secCateContent{
	width: 85%;
	max-width: 210px;
	height: 100%;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	float: left;
	text-align: right;
}
.secCateIcon{
	float: right;
	margin-right: 10px;
}
.muiAttachmentList {
	border-bottom: none;
	padding-left: 0;
}