.lui_mourning_help {
	position: relative;
}

.lui_mourning_help div {
	display: none;
	position: absolute;
	width: 320px;
	border: solid 1px #d9d9d9;
	background-color: #fff;
	padding: 3px;
	left: 25px;
	top: 0;
}

.lui_mourning_help:hover div {
	display: block;
}
.lui_mourning_switch {
	display: inline-block;
}
.lui_compress_switch {
	display: inline-block;
}
.lui_compress_help {
	position: relative;
}
.lui_compress_help div {
	display: none;
	position: absolute;
	width: 320px;
	border: solid 1px #d9d9d9;
	background-color: #fff;
	padding: 3px;
	left: 25px;
	top: 0;
}
.lui_compress_help:hover div {
	display: block;
}