@font-face {
  font-family: 'calendar_num';
  src: url('../font/font.eot?v=4.3.0');
  src: url('../font/font.eot?#iefix&v=4.3.0') format('embedded-opentype'), url('../font/font.woff?v=4.3.0') format('woff'), url('../font/font.ttf?v=4.3.0') format('truetype'), url('../font/font.svg?v=4.3.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.lui_calendar_portlet {
  color: #84899c;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
}
.lui_calendar_portlet .lui_calendar_portlet_tr td{
	cursor: pointer;
}
.lui_calendar_portlet .lui_calendar_portlet_thead .lui_calendar_portlet_td{
	font-size: 12px;
    color: #202124;
    line-height: 14px;
    opacity: 0.5;
}
.lui_calendar_portlet_header {
  padding: 10px 0;
  overflow: hidden;
  text-align: center;
}
.lui_calendar_portlet_left, .lui_calendar_portlet_right {
  height: 100%;
  width: 50%;
  float: left;
}
.lui_calendar_portlet_left {
  font-family: "calendar_num","Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", "SimSun", "Tahoma", sans-serif!important;
  position: relative;
  top: 7px;
  font-size: 72px;
  line-height: 72px;
  -webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale
}
.lui_calendar_portlet_opt {
  margin: 10px 0;
  font-size: 0;
  *white-space: -1px;
}
.lui_calendar_portlet_opt > * {
  display: inline-block;
  border: 1px solid #ebebeb;
  padding: 1px 3px;
  text-align: center;
  cursor: pointer;
}
.lui_calendar_portlet_monyear {
  font-size: 18px;
  margin-top: 10px;
}
.lui_calendar_portlet_monyeartext {
  -webkit-font-smoothing: antialiased;
}
.lui_calendar_opt_pre, .lui_calendar_opt_next {
  font-size: 14px;
  cursor: pointer;
}
.lui_calendar_portlet_today, .lui_calendar_portlet_refresh {
  height: 20px;
  line-height: 20px;
}
.lui_calendar_portlet_today {
  width: 35%;
}
.lui_calendar_portlet_today:hover {
  color: #15a4fa;
  border-color: #15a4fa;
}
.lui_calendar_portlet_refresh {
  margin-left: 5px;
  width: 25%;
  background-image: none;
  background-repeat: no-repeat;
  background-position: 50%;
  position: relative;
}
.lui_calendar_portlet_refresh:after {
  content: '';
  display: block;
  width: 16px;
  height: 24px;
  background: url(../images/view_icon_list_refresh.png) no-repeat 50%;
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -8px;
}
.lui_calendar_portlet_refresh:hover {
  border-color: #15a4fa;
}
.lui_calendar_portlet_refresh:hover:after {
  -webkit-animation: refresh-rotate .8s linear 0s infinite;
  -moz-animation: refresh-rotate .8s linear 0s infinite;
  -o-animation: refresh-rotate .8s linear 0s infinite;
  -ms-animation: refresh-rotate .8s linear 0s infinite;
  animation: refresh-rotate .8s linear 0s infinite;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  background: url(../images/view_icon_list_refresh_hover.png) no-repeat 50%;
}
.lui_calendar_portlet_day {
}
.lui_calendar_portlet_body {
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  padding: 10px 0;
}
.lui_calendar_portlet_table {
  width: 100%;
  border-collapse: collapse;
  background-color: #FFFFFF;
  margin: 0 auto;
  text-align: center;
}
.lui_calendar_portlet_table * {
  font-size: 12px;
}
.lui_calendar_portlet_thead > tr >th {
  padding: 5px 0;
  font-weight: normal;
}
.lui_calendar_portlet_tbody > tr > td {
  width: 32px;
  height: 32px;
  padding: 3px 0;
  position: relative;
}
.lui_calendar_portlet .muiWeekRest .lui_number{
	color: #999999;
}
.lui_calendar_portlet table td .lui_date_box {
    width: 42px;
    height: 42px;
    position: relative;
    line-height: 22px;
    margin: 0px auto;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
}

@-webkit-keyframes refresh-rotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes refresh-rotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.refresh-rotate {
  -webkit-animation-name: refresh-rotate;
  animation-name: refresh-rotate;
}

.lui_calendar_portlet_footer {
  min-height: 108px;
  overflow-y: auto;
}
.lui_calendar_portlet_footer_ul {
  margin: 0;
  padding: 10px 15px;
  list-style: none;
}
.lui_calendar_portlet_footer_ul>li {
  margin-bottom: 10px;
  transition-duration: .3s;
}
.lui_calendar_portlet_footer_ul > li:last-child { margin-bottom: 0; }
.lui_calendar_portlet_footer_ul > li.lui_calendar_portlet_item_nodata {
  margin-bottom: 5px;
  width: auto;
  height: 64px;
  background-image: url(../images/calendar_nodata.png);
  background-repeat: no-repeat;
  background-position: 50%;
}
.lui_calendar_portlet_footer_ul > li.lui_calendar_portlet_item_nodata_text{
  margin-top: 5px;
  color:#bbb;
  text-align: center;
}
.lui_calendar_portlet_footer_ul .lui_calendar_portlet_item_color_label {
  float: left;
  width: 4px;
  height: 42px;
  margin-right: 8px;
  background-color: rgb(193, 156, 83);
}
.lui_calendar_portlet_footer_ul > .lui_calendar_portlet_item:hover{ background-color: #f7f7f7; }
.lui_calendar_portlet_footer_ul .lui_calendar_portlet_item_header > .label:after {
  content: '/';
  color: inherit;
  margin-left: 4px;
}
.lui_calendar_portlet_footer_ul .lui_calendar_portlet_item_header > .time {
  color: #2ec5a3;
}
.lui_calendar_portlet_item_content {
  font-size: 0;
  *white-space: -1px;
}
.lui_calendar_portlet_footer_ul .lui_calendar_portlet_item_content  .label {
  margin-right: 10px;
  color: rgb(193, 156, 83);
}
.lui_calendar_portlet_footer_ul .lui_calendar_portlet_item_content a {
  max-width: 95%;
  /* color: #636879; */
  font-size: 14px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.event_lable_select, .event_lable_unselect {
  cursor: pointer;
}
.event_lable_unselect {
  opacity: 0.7;
}
.lui_calendar_portlet .current .lui_date_box {
    border: 1px solid rgba(66, 133, 244,.5);
    background: rgb(66, 133, 244);
    color: #fff;
    border-radius: 50%;
}
.lui_calendar_portlet .today .lui_date_box {
    border-radius: 50%;
    border: 1px solid #5795FD;
}

.lui_calendar_portlet .lui_calendar_dot .point {
    width: 4px;
    height: 4px;
    background: rgb(66, 133, 244);
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    bottom: 2px;
    left: 50%;
}
.lui_calendar_portlet .lui_calendar_dot.current .point {
    background: #fff;
}
.lui_calendar_portlet .lui_calendar_portlet_tr .pre > div, .lui_calendar_portlet .lui_calendar_portlet_tr .next > div {
    color: #999;
}
.lui_calendar_portlet .lui_calendar_work{
  position: absolute;
  top:7px;
  font-size: 8px !important;
  left: 34px;
  padding: 0 2px;
  border-radius: 4px;
  transform: translate(-50%,0%);
  text-align: center;
  color: #5795FD;
  line-height: 10px;
}
.lui_calendar_portlet .lui_solar{
	font-size: 12px !important;
	color: #CCCCCC;
	text-align: center;
	line-height: 10px;
	white-space: nowrap;
	transform: scale(.85);
	margin-top: 2px;
}
/* ===== IE8兼容 ===== */
@media \0screen {
	.lui_calendar_portlet .lui_solar{
		font-size:10px;
	}
}
.lui_calendar_portlet .lui_solar.lui_solar_term {
    color: #5795FD;
}
.lui_calendar_portlet .lui_solar.lui_solar_holiday{
	color: #FF9680;
}
.lui_calendar_portlet .current .lui_solar {
    color: #fff;
}
.lui_calendar_portlet .today .lui_solar {
    color: #5795FD;
}
.lui_calendar_portlet .lui_calendar_holiday {
	color: #FF9680 !important;
}
.lui_calendar_portlet .lui_number{
	font-size: 16px;
    color: #333333;
    text-align: right;
}
.lui_calendar_portlet .current .lui_number{
    color: #fff;
}
.lui_calendar_portlet .today .lui_number{
    color: #5795FD;
}
.lui_calendar_portlet .pre .lui_number,.lui_calendar_portlet .next .lui_number{
    color: #C2C2C2;
}