@font-face {
  font-family: 'calendar_num';
  src: url('../font/font.eot?v=4.3.0');
  src: url('../font/font.eot?#iefix&v=4.3.0') format('embedded-opentype'), url('../font/font.woff?v=4.3.0') format('woff'), url('../font/font.ttf?v=4.3.0') format('truetype'), url('../font/font.svg?v=4.3.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.lui_calendar_portlet_month {
    border-radius: 6px;
    color: #333;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
.lui_calendar_portlet_month .lui_calendar_portlet_month_main thead td{
	font-size: 12px;
	color: #202124;
	line-height: 14px;
}
.lui_calendar_portlet_month_header {
    height: 49px;
    position: relative;
}
.lui_calendar_portlet_month_header div {
    display: inline-block;
    color: #666;
}
.lui_pch_title {
    font-size: 32px;
}
.lui_pch_date_switch {
    margin-left: 17px;
}
.lui_pch_date_prevSelect {
    width: 8px;
    height: 8px;
    display: inline-block;
    background: url(../images/prev-arrow.png) no-repeat;
    background-size: contain;
    cursor: pointer;
}
.lui_pc_date_nextSelect {
    width: 8px;
    height: 8px;
    display: inline-block;
    background: url(../images/next-arrow.png) no-repeat;
    background-size: contain;
    cursor: pointer;
}
.lui_pch_button {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translate(0,-50%);
}
.lui_pch_button .lui_pch_currentDate {
    width: 27px;
    height: 17px;
    display: inline-block;
    border: 1px solid #aaa;
    border-radius: 4px;
    color: #C2C2C2;
    text-align: center;
    position: relative;
    bottom: 0px;
    vertical-align: text-bottom;
    line-height: 17px;
}
.lui_calendar_portlet_month .lui_pch_renovate {
    width: 27px;
    height: 17px;
    display: inline-block;
    border: 1px solid #aaa;
    border-radius: 4px;
    background: url(../images/refresh12.png) no-repeat center;
    background-size: contain;
    margin-left: 5px;
    vertical-align: text-bottom;
    background-size:14px;
}
.lui_calendar_portlet_month_main{
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.05);
    border-bottom:1px solid #d5d5d5\9;
    border-radius: 6px;
    color: #333;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
.lui_pcd_shadeBox {
    height: 70px;
    overflow: hidden;
    transition-duration: .5s;
}
.lui_calendar_portlet_month_main table {
    width: 100%;
    text-align: center;
}
.lui_calendar_portlet_month_main table thead {
    opacity: 0.5;
    font-size: 12px;
    color: #999999;
}
.lui_calendar_portlet_month_main table thead td{
    font-size: 12px;
}
.lui_calendar_portlet_month_main table td {
    padding: 4px 0px;
}

.lui_calendar_portlet_month_main .muiWeekRest .lui_number{
	color: #999999;
}
.lui_calendar_portlet_month .lui_calendar_portlet_month_tr td{
	cursor:pointer;
}
.lui_calendar_portlet_month_main table td .lui_date_box {
    width: 42px;
    height: 42px;
    margin: 0 auto;
    position: relative;
    line-height: 22px;
    border: 1px solid transparent;
}

.lui_pcd_dropdowm_button {
    text-align: center;
    margin-top: 4px;
}
.lui_pcd_dropdowm_button::after {
    content: ' ';
    width: 100%;
    height: 1px;
    background: #eee;
    display: block;
    position: absolute;
    left: 0;
}
.lui_pcd_dropdowm_button i {
    width: 17px;
    height: 15px;
    display: inline-block;
    background: url(../images/arrow_down.png) no-repeat;
    background-size: cover;
    cursor: pointer;
    transition-duration: .5s;
}
.lui_calendar_portlet_month_data {
    padding: 10px 0px 0px 22px;
    position: relative;
}
.lui_calendar_month_ul{
	list-style: none;
}
.lui_calendar_month_li {
    position: relative;
    margin-bottom: 20px;
}
.lui_calendar_month_li::before {
    content: ' ';
    height: 80px;
    width: 1px;
    display: inline-block;
    background: rgba(204, 204, 204,.5);
    position: absolute;
    left: -14px;
    top: 10px;
}
.lui_calendar_month_li.last::before {
    width:0;
}
.lui_timeAixs_after {
}
.lui_timeAixs_after::before {
    background: #4285F4;
}
.lui_timeAixs_after_i{
	background: #4285F4;
}
.lui_timeAixs_after_i::before {
    background: rgba(66, 133, 244,.4) !important;
}
.lui_calendar_month_li_title {
    font-size: 16px;
    color: #333333;
    margin-bottom: 8px;
}
.lui_calendar_month_li_title a{
	border: 1px solid #4285F4;
    border-radius: 2px;
    display: inline-block;
    font-size: 12px;
    color: #4285F4;
    padding: 0px 7px;
    margin-left: 11px;
    vertical-align: text-bottom;
}
.lui_calendar_month_li_title .label{
	color: rgb(193, 156, 83);
	border-color: rgb(193, 156, 83);
}
.lui_calendar_month_li_icon{
	position: absolute;
    left: -18px;
    background: rgba(170, 170, 170);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    top: 6.5px;
}
.lui_calendar_month_li_title i::before {
    content: ' ';
    width: 14px;
    height: 14px;
    background: rgba(170, 170, 170,.4);
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.lui_calendar_month_li .lui_calendar_month_li_content {
    background: #F7F9FB;
    border-radius: 4px;
    width: 100%;
    height: 32px;
    line-height: 32px;
    padding-left: 10px;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.lui_calendar_portlet_month_nodata {
    width: 100%;
    height: 120px;
    position: relative;
}
.lui_calendar_portlet_month_nodata .lui_pce_iconStyle {
    width: 100%;
    top: 10px;
    position: relative;
}
.lui_calendar_portlet_month_nodata .lui_pce_iconStyle i {
    background: url(../images/empty.png) no-repeat center;
    background-size: contain;
    display: block;
    width: 64px;
    height: 64px;
    margin: 0 auto;
}
.lui_calendar_portlet_month_nodata .lui_pce_is_title {
    font-size: 12px;
    color: #333333;
    text-align: center;
}
.lui_calendar_portlet_month_nodata .lui_pce_is_text {
    font-size: 12px;
    text-align: center;
    color: #999999;
    margin-top: 6px;
}
.lui_calendar_portlet_month_main .current .lui_date_box {
    border: 1px solid rgba(66, 133, 244,.5);
    background: rgb(66, 133, 244);
    color: #fff;
    border-radius: 50%;
}
.lui_calendar_portlet_month_main .today .lui_date_box {
    border-radius: 50%;
    border: 1px solid #5795FD;
}

.lui_calendar_portlet_month_main .lui_calendar_dot .point {
    width: 4px;
    height: 4px;
    background: rgb(66, 133, 244);
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    bottom: 2px;
    left: 50%;
}
.lui_calendar_portlet_month_main .lui_calendar_dot.current .point {
    background: #fff;
}
.lui_calendar_portlet_month_main .lui_calendar_portlet_month_tr .pre > div, .lui_calendar_portlet_month_main .lui_calendar_portlet_month_tr .next > div {
    color: #999;
}
.lui_calendar_portlet_month_main .lui_calendar_work{
  position: absolute;
  top:7px;
  font-size: 8px;
  left: 34px;
  padding: 0 2px;
  border-radius: 4px;
  transform: translate(-50%,0%);
  text-align: center;
  color: #5795FD;
  line-height: 10px;
}
.lui_calendar_portlet_month_main .lui_solar{
	font-size: 10px;
	color: #CCCCCC;
	text-align: center;
	line-height: 10px;
	white-space: nowrap;
	transform: scale(.85);
	margin-top: 2px;
}
/* ===== IE8兼容 ===== */
@media \0screen {
	.lui_calendar_portlet_month_main .lui_solar{
		font-size:10px;
	}
}
.lui_calendar_portlet_month_main .lui_solar.lui_solar_term {
    color: #5795FD;
}
.lui_calendar_portlet_month_main .lui_solar.lui_solar_holiday{
	color: #FF9680;
}
.lui_calendar_portlet_month_main .current .lui_solar {
    color: #fff;
}
.lui_calendar_portlet_month_main .today .lui_solar {
    color: #5795FD;
}
.lui_calendar_portlet_month_main .lui_calendar_holiday {
	color: #FF9680 !important;
}
.lui_calendar_portlet_month_main .lui_number{
	font-size: 16px;
    color: #333333;
    text-align: right;
}
.lui_calendar_portlet_month_main .current .lui_number{
    color: #fff;
}
.lui_calendar_portlet_month_main .today .lui_number{
    color: #5795FD;
}
.lui_calendar_portlet_month_main .pre .lui_number,.lui_calendar_portlet_month_main .next .lui_number{
    color: #C2C2C2;
}