<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- 表单HTML生成器 -->
	<bean id="mobileJspGenerator" 
		class="com.landray.kmss.sys.xform.mobile.MobileJspGenerator">
	</bean>
		<bean id="mobileJspFileService"
		class="com.landray.kmss.sys.xform.mobile.MobileJspFileService">
	</bean>
	<!-- 移动端配置html生成器 -->
	<bean id="mobileDesignerHtmlGenerator" 
		class="com.landray.kmss.sys.xform.mobile.designer.MobileDesignerHtmlGenerator">
	</bean>
	<!--移动端配置解析类 -->
	<bean id="mobileLayoutJspGenerator" 
		class="com.landray.kmss.sys.xform.mobile.designer.parser.MobileJspGenerator">
	</bean>
</beans>
