<div class="personContainer">
	<strong data-dojo-attach-point="personListTitleNode">
		<span class="personTitle">
			${!title}
		</span>
		<div>(<span class="personTotal">${!total}</span>)</div>
	</strong>
	<div class="personList" data-dojo-attach-point="personListNode"></div>
	<div class="staffCell personMore" data-dojo-attach-point="personMoreNode">
		<a class="more" href="javascript:void(0);" >
			<i class="mui mui-meeting_more"></i>
		</a>
	</div>
</div>