@font-face {font-family: "iconfont";
  src: url('../font/iconfont.eot') format('embedded-opentype'), /* IE6-IE8 */
  url('../font/iconfont.woff2') format('woff2'),
  url('../font/iconfont.woff') format('woff'),
  url('../font/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('../font/iconfont.svg') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconclock:before {
  content: "\e604";
}

.iconbuild-sm:before {
  content: "\e605";
}

.icondataView:before {
  content: "\e606";
}

.iconclockColor:before {
  content: "\e607";
}

.icondelete:before {
  content: "\e608";
}

.iconright-sm:before {
  content: "\e609";
}

.iconmore-sm:before {
  content: "\e60a";
}

.iconright-xl:before {
  content: "\e60b";
}

.iconrefresh:before {
  content: "\e60c";
}

.iconsearch:before {
  content: "\e60d";
}

.iconstar:before {
  content: "\e60e";
}

.icontab-close:before {
  content: "\e60f";
}

.icontab-open:before {
  content: "\e610";
}

.iconuser:before {
  content: "\e611";
}

.iconwatch:before {
  content: "\e612";
}

.icontableView:before {
  content: "\e613";
}

.iconschedule:before {
  content: "\e614";
}

.iconleft-xl:before {
  content: "\e615";
}

.iconcomment:before {
  content: "\e616";
}

.iconviews:before {
  content: "\e617";
}

.icongoldcoin:before {
  content: "\e618";
}

