<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.example.org/plugin-config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.example.org/plugin-config ../../plugin.xsd ">	
	
	<extension point="com.landray.kmss.sys.xform.base.service.controls" model="*">
		<item name="control">
			<param name="class" value="com.landray.kmss.dbcenter.echarts.application.xform.controls.DbEchartsTemplateChartControl" />
			<param name="file" value="/dbcenter/echarts/application/xform/controls/chart_lang.jsp;/dbcenter/echarts/application/xform/controls/chart.js" />
		</item>
	</extension>
	
	<extension point="com.landray.kmss.sys.xform.mobile.controls" model="*">
		<item name="control">
			<param name="class" value="com.landray.kmss.dbcenter.echarts.application.xform.mobile.MobileChartControl" />
		</item>
	</extension>
</plugin>
