@charset "utf-8";
/* == 样式重置 Starts == */
._disabled {
	opacity:0.75;
	position:absolute;
	z-index:3;
	background-color:white;
}
.level_form_div{
	display: none; 
	margin: 5px,0;
	padding: 0;
}
.level_form_title{
	padding-right: 25px;
	font-weight: 700;
	text-align: center;
}
.level_form_title span{
	font-weight: 100;
	text-align: center;
	width: 100%;
    display: inline-block;
}
.detail_div{
	display: none;
	width: 100%;
}
.detail_days{
	margin-left: 84%;
}
/* 批量补卡 start  */
.fdReplacementCount{
	color: rgba(17, 31, 44, 0.56);
	font-size: 14px;
}
.replacement_schedule{
	color: rgba(17, 31, 44, 0.56);
	cursor:auto;
	font-size: 14px;
}
.change_replacement_schedule{
	color: #0089FF;
    cursor: pointer;
    font-size: 14px;
}

/* 批量补卡 end  */

/** 批量换班 start **/
.fd_return_date_span{
	display:none;
	font-size: 9px;
    text-align: center;
    color: rgba(17, 31, 44, 0.56);
}
.fd_change_date_span{
	display:none;
	font-size: 9px;
    text-align: center;
    color: rgba(17, 31, 44, 0.56);
}
.fd_change_date_tip{
	display:none;
}
.fd_return_date_tip{
	display:none;
}
/** 批量换班 end **/

/**批量销假 start**/
.fd_leave_form_tip{
	display:none;
	color: rgba(17, 31, 44, 0.56);
	font-size: 13px;
	margin-left: 10px;
}
/**批量销假 end**/
/**批量加班**/
.userListSpan{
	position: relative;
    top: 6px;
    color: #4285f4;
}
.viewUserName{
	color: blue;
	cursor: pointer;
}

/**批量加班**/