.fy .muiCheckItem.hasText{
	float:left
}
.fy_notify{
	margin-top: -10px;
}
._disabled {
	opacity: 0.75;
	position: absolute;
	z-index: 3;
	background-color: white;
}

.loading {
	
}

.ding_divide {
	background-color: #F2F2F7;
}
.ding_divide>td{
	padding:.6rem 0 !important;
}
/************* 请假套件 start ****************/
.ding_duration_detail_desc_wrap {
	
}

.ding_duration_detail_desc_wrap td {
	padding: 0.5rem 0 !important;
}

.ding_duration_detail_desc_wrap .ding_duration_detail_desc {
	color: #b7babd;
	margin-right: 0.8rem;
}

.ding_duration_detail_desc_wrap .ding_duration_detail_view_btn {
	display: inline-block;
	color: #50749A;
}
/************* 请假套件 end ****************/
tr.ding_divide>td{
	position: relative;
	border:0 !important;
	background-color: #F2F2F7 !important;
}
tr.ding_divide>td::after{
	content: '';
	position: absolute;
	top:0;
	left: 0;
	transform: translateX(-100%);
	height: 1.2rem;
	width: 1.6rem;
	background-color: #F2F2F7;
	z-index: 1;
}
tr.ding_divide>td::before{
	content: '';
	position: absolute;
	top:0;
	left: 100%;
	height: 1.2rem;
	width: 1.6rem;
	background-color: #F2F2F7;
}
.muiFormEleWrap div.muiInput_View{
	font-size: 1.7rem;
	color: #111F2C;
	text-align: right;
}
.muiFormEleWrap input.muiInput, .muiFormEleWrap .muiTextarea{
	font-size: 1.7rem;
	color: #111F2C;
	text-align: right;
	padding-right: 2rem !important;
}
table.muiSimple>tbody>tr>td, table.muiSimple>tr>td{
	padding: 1.6rem 0px;
	/* line-height: 24px; */
	font-size: 1.7rem;
	color: #111F2C !important;
	border-bottom: 1px solid rgba(17,31,44,0.08);
}
.muiNavitem span.muiNavitemSpan,.actionView div.titleNode.operation_title{
	font-size: 1.7rem;
	color: #111F2C;
}
.muiNavitem span.muiNavitemSpan{
	display: inline-block;
	height:100%;
	position: relative;
	font-size: 1.5rem;
	color: rgba(17,31,44,0.56);
}
.muiNavitem.muiNavitemSelected span.muiNavitemSpan{
	font-size: 1.5rem;
	color: #111F2C;
}
.muiNavitem span.muiNavitemSpan::before{
	visibility: hidden;
	content: '';
	position: absolute;
	width: 24px;
	height: 3px;
	background-color: #0089FF;
	border-radius: 1.5px;
	bottom: -8px;
	left:50%;
	transform: translateX(-50%);
}
.muiNavitem.muiNavitemSelected span.muiNavitemSpan::before{
	visibility: visible;
}
.muiNavitemSelected div.muiNavitemBottom{
	display: none;
}
li.muiNavitem{
	padding:0;
}
.muiFormEleWrap.muiFormRight.popup div.muiSelInput,#rolesSelectObj.muiFormEleWrap.muiFormLeft.popup div.muiSelInput{
	font-size: 1.7rem;
}
.muiFormEleWrap.muiFormRight.popup div.muiSelInput::after{
	font-size: 1.7rem;
}
.muiFormStatusEdit .muiSelInput div.relationChooseText:empty:after{
	font-size: 1.7rem;
	color: rgba(17,31,44,0.28);
}
.muiFormEleWrap input.muiInput::-webkit-input-placeholder,.muiFormStatusEdit div.muiSelInput:empty:after{
	color: rgba(17,31,44,0.28);
}
.muiCheckItem.active, .muiRadioItem.active{
	/*color: #111F2C !important;*/
	color: #111F2C;
}
div.mui-lbpm-foldOrUnfold-box{
	font-size: 1.7rem;
	color: #0089FF;
}
.muiFormEleWrap.muiFormLeft.muiFormGroup span.mui-radio-base,.actionView .detailNode .lbpmNextRouteInfoRow div.handlerNamesLabel{
	font-size: 1.7rem;
}
label.muiCheckItem, label.muiRadioItem{
	font-size: 1.7rem;
}
.muiRadioItem span.muiRadioCircle{
	margin-top: 0;
}
div.muiAccordionPanelTitle{
	height:3.8rem;
	line-height: 4.4rem;
	background-color: #F2F2F7;
}
.muiSelInputRight .mui, .muiSelInputRight span.fontmuis{
	color: rgba(17,31,44,0.28);
}
.muiSelInputRightShow+div.muiSelInput{
	padding-right: 2rem;
}
.muiValidateWrap .muiFormItem{
	padding-right: 0 !important;
}
div.muiFormRequiredShow{
	display: block;
}
.mblTabBarTabBar.mblTabBar .mainTabBarButton div.mblTabBarButtonLabel{
	font-size: 18px;
	color: #FFFFFF;
	background-color: #0089FF;
	border-radius: 12px;
}
.mblTabBarTabBar.mblTabBar .normalTabBarButton div.mblTabBarButtonLabel:after{
	border-radius: 12px;
	border: 1px solid rgba(17,31,44,0.12);
	background-color: #F2F4F5;
}
.mblTabBarTabBar.mblTabBar .normalTabBarButton .mblTabBarButtonLabel>span{
	color: #111F2C;
	font-size: 18px;
}
.muiFormEleWrap.muiFormRight ~ div.muiValidate{
	margin:0;
	height: 14px;
}
div.muiValidateShape{
	/* background-color: transparent; */
	top: auto;
	bottom: .9rem;
}
.muiValidateContent .muiValidateMsg{
	font-size: 1.2rem;
	color: #FB602D;
}
div.muiFormRelevanceBtnPlus{
	padding: 0 1rem;
	margin:0;
	height:2.8rem;
	line-height: 2.8rem;
	color: #0089FF;
	border: 1px solid #0089FF;
	font-size: 1.4rem;
}
.muiSelInputRightShow + .muiInput:not(:read-only) {
	padding-right: 2.5rem !important;
}
div.muiSelInputRight{
	right:2rem;
}
div.muiContent{
	padding: 0 1.6rem;
}
.muiFormEleWrap.muiFormRight, .muiFormEleWrap.muiFormRight .muiInput, .muiFormEleWrap.muiFormRight .muiTextarea, .muiFormEleWrap.muiFormRight .muiCateFiledShow{
	width: 210px;
	float: right;
}
div.muiFormEleWrap.muiFormLeft{
	width: 210px;
	text-align: right;
}
.muiXformArea .muiFormEleWrap.muiFormRight, 
.muiXformArea .muiFormEleWrap.muiFormRight .muiInput, 
.muiXformArea .muiFormEleWrap.muiFormRight .muiTextarea, 
.muiXformArea .muiFormEleWrap.muiFormRight .muiCateFiledShow{
	width: 100%!important;
	padding-right: 1rem !important;
}
.muiXformArea .muiFormEleWrap.muiFormLeft {
	width:100%!important;
}
div.muiFormEleWrap.textarea {
	width:100%;
}
#nextNodeTD>div.muiFormEleWrap.muiFormLeft,#notifyLevelTD>div.muiFormEleWrap.muiFormLeft,#descriptionDiv>div.muiFormEleWrap.muiFormLeft{
	width: 100%;
}
.muis-form-delete-btn:before {
	position: relative;
	top:-2px;
}
div.muiFormUploadContent.muiFormItem{
	width: 210px !important;
}
.actionView .notifyLevelRow .detailNode .muiRadioItem{
	color: rgba(17,31,44,0.85) !important;
}
div.muiFormUploadContent{
	margin-right: -2rem;
}
#descriptionDiv .oldMui.textarea textarea.muiTextarea{
	background-color: #F2F4F5;
	min-height: 9.6rem;
	max-height: 10.2rem;
	padding: .8rem;
	border-radius: 4px;
	text-align: left;
}
#commonUsagesArea>.lbpmAuditNoteTable div.muiFormEleWrap.muiFormLeft{
	width: 100%;
}
.actionView .lbpmAuditNoteTable textarea.muiTextarea{
	background-color: #FFF;
	min-height: 8.2rem;
	max-height: 10.2rem;
	padding: 0 0 1rem 0;
}
/* 地址本 */
div.muiSearchBarContainer{
	height: 3.6rem;
}
div.muiSearchDiv{
	background-color: rgba(17,31,44,0.08);
	border-radius: 18px;
}
div.muiSearchBar{
	padding: 0 1.6rem;
	height:5.3rem !important;
	border-bottom: 1px solid #E7E9E9;
}
div.muiAddressItemTitle{
	font-size: 13px;
	color: rgba(17,31,44,0.40);
	padding: 0 1.6rem;
}
div.muiCatePath{
	font-size: 13px;
	background-color: #F2F2F6;
}
div.muiCatePath.muiAddressPath > *{
	background-color: #F2F2F6 !important;
}
ul.muiCatePathContent{
	color: #0089FF;
}
.muiAddressPath.hasExpand div.muiAddressPathArrow > i::after{
	background: #0089FF;
}
.muiAddressPath.hasExpand div.muiAddressPathArrow > i:before{
	background: #0089FF;
}
.muiAddressPath.hasExpand div.muiAddressPathArrow:before{
	width: 0;
}
.muiCatePath.muiAddressPath.hasExpand div.muiCatePathContent > div{
	height: 2.2rem;
	line-height: 2.2rem;
}
input.muiSearchInput{
	font-size: 15px;
	color: #111F2C;
    height: 3.2rem;
	line-height: 3.2rem;
}
input.muiSearchInput::placeholder{
	font-size: 1.5rem;
	color: rgba(17,31,44,0.40);
}
div.muiSearchIcon{
	height: 3.6rem;
	line-height: 3.6rem;
}
.muiSearchIcon, div.muiSearchClear{
	font-size: 1.6rem;
	line-height: 3.6rem;
	color: rgba(17,31,44,0.24);
	right: 6px;
}
div.muiAddressHistoryItem{
	display: inline-block;
    height: 3.6rem;
    line-height: 3.6rem;
    padding: 0 1.2rem;
    font-size: 1.3rem;
	color: #111F2C;
	border: 0;
	background-color: #F2F4F5;
	border-radius: 8px;
	margin:0 1rem 1.2rem 0;
	max-width: 8rem;
}
span.muiAddressHistoryItemDel{
	display: none;
}
.muiAddressHistoryItem span.muiAddressHistoryItemContent{
	width: 100%;
}
div.muiAddressHistoryHeader{
	padding: 0;
	border-bottom: 0;
	margin-bottom: 1rem;
}
ul.muiCateLists{
	padding:0 1.6rem;
}
span.muiAddressHistoryHeaderTitle{
	font-size: 14px;
	color: #111F2C;
}
.muiAddressHistoryHeaderRight>.muiAddressHistoryHeaderClear{
	display: none;
}
.mui.mui-drafter_refuse_abandon{
	color:rgba(17,31,44,0.85);
}
.muiCateSearchArea .muiSearchBtnDiv div.muiSearchCancelBtn{
	font-size: 16px;
	color: #111F2C !important;
}
div.muiAddressItemIcon{
	padding-left: 1.6rem;
}
div.muiAddressItemMore{
	padding-right: .8rem;
}
div.muiCateInfoItem{
	padding:0;
}
.muiHeader:after, .muiNavHeader:after{
	border-bottom: 0 !important;
}
.muiCatePathContent .mblScrollableViewContainer>div:last-child, .muiCateScrollablePathContent .selected{
	color: #111F2C;
}
.muiAttachmentEditOptItem div.muiAttachmentItemT{
	background-color: #FFF;
}
.muiCateFiledShow > div.muiNewAdd{
	width: 3.2rem;
	height: 3.2rem;
	line-height: 3.2rem;
	color: #0089FF;
	background-color: #DEEFFD;
}
.muiAttachmentItemIcon i.muis-uploader{
	background: url(../images/form/mui_link.png) no-repeat center center;
	background-size: 2.4rem 2.4rem;
}
.muiAttachmentItemIcon i.muis-uploader:before {
    content: " ";
}
.muiAttachmentItemIcon i.muis-images-upload{
	background: url(../images/form/mui_img_upload.png) no-repeat center center;
	background-size: 2.4rem 2.4rem;
}
.muiAttachmentItemIcon i.muis-images-upload:before {
    content: " ";
}
#commonUsagesDiv #commonUsages i.mui, .commonUsagesDiv #commonExtUsages i.mui {
    background: url(../images/form/mui_approval_txt.png) no-repeat center center;
    width: 2.4rem;
	height: 2.4rem;
	background-size: 100% 100%;
}
#commonUsagesDiv #handwriting i.mui-handwrite {
    background: url(../images/form/mui_write.png) no-repeat center center;
    width: 2.4rem;
	height: 2.4rem;
	background-size: 100% 100%;
}
#commonUsagesDiv #signature i.mui-signature {
    background: url(../images/form/mui_electronic_seal.png) no-repeat center center;
    width: 2.4rem;
	height: 2.4rem;
	background-size: 100% 100%;
}
#commonUsagesDiv .handingWay span.iconTitle, .commonUsagesDiv .handingWay span.iconTitle{
	font-size: 14px;
	color: #34404B;
}
div#commonUsagesDiv, .commonUsagesDiv{
	width: 100%;
	border-top: 0;
	margin-top: 0;
}
#commonUsagesDiv .handingWay:not(:last-child):after, .commonUsagesDiv .handingWay:not(:last-child):after{
	width: 0 !important;
}
.muiFormItem.muiRadioGroupWrap.muiRadioGroupNormalWrap{
	/* text-align: right; */
	/* #127854 即席子流程，移动端选项，左对齐下 */
	text-align: left;
}
.muiRadioGroupWrap>label.muiRadioItem:not(:last-child) {
    margin-right: 0;
}
.oldMui.muiFormEleWrap div.muiCheckBoxWrap.muiCheckBoxNormalWrap {
	text-align: right;
    margin-top: 0.4rem;
}
.muiCheckBoxWrap>label.muiCheckItem:not(:last-child) {
    margin-right: 0;
}
#commonUsagesRow{
	padding-bottom: 0 !important;
}
div.mui-ding-address-imgcontainer-sm{
	height: 40px;
	background-color: #0089FF;
}
.muiAddressList .muiCateIcon span.mui-ding-address-name{
	border-radius: 0%;
	background-color: #0089FF !important;
	line-height: initial;
	font-size: 1.3rem;
}
.muiAddressList .muiCateInfo.muiAddressWithParentNames .muiCatemuiCateName > span.muiAddressLabelName{
	font-size: 14px;
	color: #111F2C;
}
.muiAddressList .muiCateInfo.muiAddressWithParentNames div.muiAddressParentNames{
	font-size: 12px;
	color: rgba(17,31,44,0.40);
}
.muiAddressList div.muiCateInfo{
    padding: .2rem 1rem;
}
.muiFormUploadWrap div.muiAttachmentEditItem {
	margin: 2rem 3rem 2rem 0;
}

.fontmuis.muis-form-radio.muiRadioCircle{
	border:0;
	background: url(../images/form/mui_radio.png) no-repeat center center;
	background-size: 16px 16px;
}
.fontmuis.muis-form-radio.muiRadioCircle::before{
	content: '';
}
.fontmuis.muis-form-radio.muiRadioCircle.active{
	background: url(../images/form/mui_radio_on.png) no-repeat center center;
	background-size: 16px 16px;
}
span.muiCheckBlock{
	width: 1.8rem;
	height: 1.8rem;
}
.fontmuis.muis-form-selected-cor.muiCheckBlock{
	border:0;
	background-color: transparent;
	background: url(../images/form/mui_checkbox.png) no-repeat center center;
	background-size: 18px 18px;
	margin-top: 2px;
	/* #127986 开启私密意见开关，移动端丢失选项框 */
	/* top:10.3rem; */
}
.fontmuis.muis-form-selected-cor.muiCheckBlock::before{
	content: '';
}
.fontmuis.muis-form-selected-cor.muiCheckBlock.active{
	background: url(../images/form/mui_checkbox_on.png) no-repeat center center;
	background-size: 18px 18px;
	margin-top: 2px;
}
/* 地址本多选框替换 */
.muiAddressList .muiCateSelArea div.muiCateSel.muiCateSelMul{
	border:0;
	background-color: transparent;
	background: url(../images/form/mui_checkbox.png) no-repeat center center;
	background-size: 18px 18px;
}
.muiAddressList .muiCateSelArea div.muiCateSelMul.muiCateSeled>i{
	display: none;
}
.muiAddressList .muiCateSelArea div.muiCateSelMul.muiCateSeled{
	background: url(../images/form/mui_checkbox_on.png) no-repeat center center;
	background-size: 18px 18px;
}
/* 地址本底部按钮 */
div.muiCateSecLeft{
	font-size: 14px;
	color: #0089FF;
}
span.muiCateClearBtn{
	font-size: 18px;
	color: #111F2C;
	background-color: #F2F4F5;
	border: 1px solid rgba(17,31,44,0.12);
	border-radius: 12px;
}
span.muiCateClearBtn.muiCateSecBtnDis {
	color: rgba(17,31,44,0.40);
	border: 1px solid rgba(17,31,44,0.12);
}
span.muiCateSecBtn{
	font-size: 18px;
	color: #FFF;
	background-color: #0089FF;
	border: 1px solid rgba(17,31,44,0.08);
	border-radius: 12px;
}
.muiCateInfo div.muiCateName{
	font-size: 14px;
	color: #111F2C;
}
.muiCateContainer div.muiCateSelect{
	font-size: 14px;
	color: rgba(17,31,44,0.28);
}
div.muis-search:before{
	content: '';
}
div.muis-search{
	background: url(../images/form/mui_search.png) no-repeat center center;
	background-size: 18px 18px;
}
/* 下拉框 */
.muiDialogElement div.muiDialogElementContainer_bottom{
	min-height: 8.6rem;
    max-height: 86vh;
    border-top-left-radius: 1.6rem;
    border-top-right-radius: 1.6rem;
}
div.muiDialogElementCancel{
	font-size: 1.3rem;
	color: rgba(17,31,44,0.40);
}
div.muiDialogElementTitle_bottom{
	font-size: 1.7rem;
	color: #111F2C;
}
li.muiCheckBoxTableItem{
	height:5.6rem;
	font-size: 1.7rem !important;
	color: #111F2C !important;
}
li.muiCheckBoxTableItem.active{
	color: #111F2C !important;
}
.muiDialogElement div.muiDialogScrollView, .muiDialogElement div.mblScrollableViewContainer{
	padding: 0 1.6rem;
}
.muiAddressList div.muiCateIcon{
	text-align: left;
}
.muiAddressList div.muiCateIcon i, .muiAddressList div.muiCateIcon img, .muiAddressList div.muiCateIcon span{
	width: 4rem;
    height: 4rem !important;
}
.muiCateSecItems .muiCateIcon img{
	width: 4rem;
    height: 4rem !important;
}
div.muiCateSecItemDel{
	background: url(../images/form/mui_list_del.png) no-repeat center center;
	background-size: 16px 16px;
}
div.muiCateSecItemDel::after{
	display: none;
}
/** #130372 去掉0.4  by xubin **/
.muiAddressOrg div.muiAddressOrgIcon{
	width: 2rem;
	height: 2rem;
	/* margin-top: 0.4rem; */
}
.muiAddressOrg div.name{
	font-size: 12px;
	color: #111F2C;
	padding:.4rem 0 0 0;
}
.muiAddressOrg div.muis-epid-close.del{
	color:rgba(17,31,44,0.56);
}
div.muiFontColorInfo{
	font-size: 1.4rem !important;
	color: #111F2C !important;
}
.muiAttachmentItemDel>i.fontmuis.muis-epid-delete{
	display: inline-block;
	background: url(../images/form/mui_upload_del.png) no-repeat center center;
	background-size: 14px 14px;
}
.muiAttachmentItemDel>i.fontmuis.muis-epid-delete::before{
	display: none;
}
.relationChooseText>div i.muis-epid-close{
	top: 0;
    margin-top: 4px;
}
/* 时间选择器 */
.muiDialogElement .muiDialogElementButtons_bottom div.muiDialogElementButton_bottom{
	font-size: 13px;
	color: #0089FF;
}
.muiDialogElement .muiDialogElementButtons_bottom div.muiDialogElementButton_bottom:first-child{
	font-size: 13px;
	color: rgba(17,31,44,0.40);
}
.mblSpinWheelBar:before, div.mblSpinWheelBar:after{
	border-top: 1px solid rgba(17,31,44,0.12);
}
div.mblSpinWheelBar:after{
	border-bottom: 0;
}
.muiDateTimeDialogContent div.mblSpinWheelSlotLabel{
	font-size: 17px;
	font-family: "PingFang SC",Avenir,Helvetica,Arial,sans-serif;
}
.mblSpinWheel{
	font-size: 17px;
	color: #111F2C !important;
}
.muiDateTimeDialogContent div.mblSpinWheelSlotLabelBlue{
	color: #111F2C !important;
}
span.mblSpainWheelSlotLabelText,.muiDateTimeDialogContent span.mblSpainWheelSlotLabelWeek{
	font-size: 1.2rem;
}
.muiAttachmentEditItem div.muiAttachmentItemDel{
	background-color: transparent;
}
.muiCheckBoxTableItem> span.muiCheckBoxTableText{
    min-height: 4.8rem;
}
.muiCheckBoxTableItem.active> i.muiCheckBoxTableChecked{
    width: 2.4rem;
    height: 2.4rem;
    top: 2.2rem;
    background: url(../images/form/mui_list_selected.png) no-repeat center;
    background-size: 24px 24px;
}
.muiCheckBoxTableItem.active> i.muiCheckBoxTableChecked::before{
	display: none;
}
.relationChooseText div.relationChooseTextItem{
	color: #111F2C;
	background-color: #F2F2F7;
	border-radius: 18px;
	padding: 0.1rem 1rem;
}
div.muiAddressOrg{
	padding-top: .1rem;
	padding-bottom: .1rem;
}
/* 0917UI验收 */
.node_help, .flow_desc{
	width: auto !important;
	color:#0089FF !important;
}
.muiDialogElement.muiFormSelect div.muiDialogElementContent_bottom{
	height: auto !important;
	max-height: 80vh;
}
div.muiAccordionPanelTitle>div:first-child {
	height:3.8rem;
	margin-left: 1.6rem;
	font-size: 13px;
	color: rgba(17,31,44,0.56);
}
li.muiCheckBoxTableItem:after ,div.muiRadioTableItem:after{
    border-bottom: .1rem solid rgba(17,31,44,0.12);
}
/* 修复129570单 去掉浮动 by xubin 2020-12-26  */
.muiDialogElementContent_bottom>div.muiFormEleWrap.muiFormLeft{
	width: calc(100% - 3.2rem);
	/* float: left; */
}
.muiSplitterButton.lbpmCancel div.mblTabBarButtonLabel{
    border-radius: 12px;
}
textarea.muiTextarea{
	height:4.8rem;
}
table.muiSimple>tbody>tr:last-child>td{
	border-bottom: 1px solid rgba(17,31,44,0.12);
}
div.muiDocViewHeaderDetailItemL>span, div.muiDocViewHeaderDetailItemR>span{
	font-size: 13px !important;
	color: rgba(17,31,44,0.40) !important;
}
div.muiDocViewHeaderSubject{
	font-size: 20px !important;
	color: #111F2C !important;
}
div.muiDocViewHeaderDetailContainer:before{
	display: none;
}
div.muiDocViewHeader{
	box-shadow: none;
}
div.muiDocViewHeaderDetailItem{
	display: block;
	margin-bottom: .6rem;
}
div.muiDocViewHeaderStatus{
	display: none;
	bottom: -4rem;
    right: 1rem;
}
div.muiDocViewHeaderDetailContainer{
	margin-top: 0;
	padding-top: 0;
}
div.muiDocViewHeaderDetailItemR{
	padding-left: 1.2rem;
}
div.muiDocViewHeader{
	margin:0;
	padding:1.6rem;
}
.muiDialogSelect .muiFormSelectElement, .muiDialogElement.muiFormSelect .muiFormRadioTable, .muiDialogElement.muiFormSelect .muiCheckBoxPopWarp{
	margin-left: 1.6rem !important;
    margin-right: 1.6rem !important;
}
div.muiDateTimeDialogContent{
	padding:0 1.6rem;
}
span.muiRadioCircle{
	margin-right: .8rem;
}
div.addBottomTip{
	color: rgba(17,31,44,0.56);
	background-color: #F2F2F7;
}
.dingNodeContent .muiFormItem.muiRadioGroupWrap.muiRadioGroupNormalWrap ,.dingNodeTitle .muiFormItem.muiRadioGroupWrap.muiRadioGroupNormalWrap {
    text-align: left;
}
.muiFormSelectElement>.muiCheckItem.hasText{
	display: flex;
}
div.muiFormTextareaContent{
	font-size: 1.7rem;
	/*color: #111F2C;*/
}
div.nodeNamesShow{
	margin-bottom: 0;
}
div.muiDocViewHeaderBase{
	margin-bottom: 8px;
}
div.muiDingAuditLabelItemDot img, div.muiLbpmserviceNodeHander img{
    object-fit: initial;
}
.flowDescriptionDialog.muiDialogElement .muiDialogElementContainer div.muiDialogElementTitle{
	color: #111F2C;
}
/* .nodeDescriptionDialog.muiDialogElement .muiDialogElementContainer .muiDialogElementDiv, .flowDescriptionDialog.muiDialogElement .muiDialogElementContainer .muiDialogElementDiv {
	border-bottom: 0 !important;
	padding-left: 0;
	margin-top: .8rem;
}
div.muiDialogElementContainer i.fontmuis.muis-epid-close{
	visibility: hidden;
} */
#flowDescriptionDialog{
	text-align: left;
}
div.lastTitleNode{
	display: inline-block;
	font-size: 15px;
	color: rgba(17,31,44,0.56);
}
#currentflowDescription{
	display: inline-block;
	font-size: 15px;
	color: rgba(17,31,44,0.56);
}
.muiDialogBtn{
    width: 100%;
    box-sizing: border-box;
    position: relative;
    padding: 0 2.4rem;
    font-size: 17px;
    color: #0089FF;
    height: 5rem;
    line-height: 5rem;
    text-align: right;
}
.flowDescriptionDialog.muiDialogElement .muiDialogElementContainer div.muiDialogElementTitle{
	padding-left: 2.4rem;
}
.muiDialogElement div.muiDialogElementContent{
	margin:0;
	padding: 0 0 0 2.4rem;

}
.muiAddressOrg.dingMuiAddressOrg span.mui-ding-address-imgcontainer-sm {
	display: inline-block;
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
    margin-top: .3rem;
    margin-right: .4rem;
    flex: none;
    display: inline-block;
	vertical-align: top;
}
.muiAddressOrg.dingMuiAddressOrg span.mui-ding-address-imgcontainer-sm .mui-ding-address-name{
	display: inline-block;
	position: relative;
	line-height: normal;
	white-space: nowrap;
	transform: scale(.5);
	transform-origin:0 0;
	top: -6px;
	left: 2.5px;
}
div.muiAddressOrg{
	background-color: #F2F2F7;
}

/* 驳回审批 */
.actionView #operationsTDContent.detailNode{
    position: relative;
}
/* div#jumpToNodeIdSelectObj.muiFormEleWrap.muiFormLeft{
    position: absolute;
    top: -45px;
    right: -10px;
} */


.muiFormEleWrap.muiFormLeft.popup .muiSelInput{
	font-size: 1.7rem;
	/*color: #111F2C !important;*/
	color: #111F2C;
}
.muiTitle+td .muiAddressForm div.muiCateFiledShow{
	text-align: right;
	margin-top:0;
}
.muiDialogBarTip div.containerNodeWrap{
	border-radius: 4px;
	border:0;
	background-color: #DEEFFD;
}
.muiDialogBarTip div.containerNode span{
	font-size: 1.4rem;
	color: #0089FF;
}
.muiDialogBarTip div.containerNode{
	padding: 1.1rem 4rem 1.1rem 1.4rem;
}
.muiDialogBarTip .closeNode .mui::before{
	visibility: hidden;
}
.muiDialogBarTip .closeNode .mui{
	background: url(../images/form/mui_upload_del.png) no-repeat center center;
	background-size: 18px 18px;
	top: .8rem;
    right: 1.4rem;
}
.muiFormSelect .muiFormRadioTable div.muiRadioTableItem{
	padding-left: 0;
}
div.mblTabBarButtonLabel{
	font-size: 17px;
	color: #0089FF;
}
.mblTabBarTabBar.mblTabBar .mblTabBarButton.selected div.mblTabBarButtonLabel{
	color: #FFFFFF;
}
.muiAddressForm .muiCateFiledShow .muiAddressOrg+div.muiCategoryAdd{
	margin-top:1rem;
}
/* #127850 自由子流程，移动端样式调整下 开始 */
.muiCategoryAdd.mui.mui-plus{
	left : 0 !important;
}
.freeFlowFiledShow div.freeFlowOrg {
    margin-right: 1rem !important;
}
/* #127850 自由子流程，移动端样式调整下 结束 */ 

.addBottomTip div.addBootomTipContent{
	padding: 0;
	height: 24px;
	font-size: 0;
}
.addBootomTipContent div.notice{
	font-size: 0;
}
.addBootomTipContent div.notice:before, .addBootomTipContent div.notice:after{
	border-top: 0;
}

/* mobile_1014 */
/* rdm 121027 */
div.muiEventSec{
    bottom: 20px!important;
}
div.muiEventSel{
    top:0.8rem;
}
/* rdm #121029 */
.relationChooseText div.relationChooseTextItem{
    padding-right: 2.5rem!important;
}
/* rdm #121551 */
.muiFieldRtf{
    max-width:100%!important;
}
div.muiFormEleWrap.muiFormLeft{
    width:auto!important;
}
#commonUsagesArea>.lbpmAuditNoteTable div.muiFormEleWrap.muiFormLeft {
	width:100%!important;
}
#fdUsageContent.muiFormEleWrap.muiFormLeft{
	width:100%!important;
}
/* mobile_1014 */
/* 1019审批意见缺陷修复 */
div#currentHandlersRow{
  text-align: right;
}
.muiNavitem span.muiNavitemSpan, .actionView div.titleNode.operation_title{
  display: inline;
}
#operationsTDContent .muiCheckBoxWrap>.muiCheckItem,#operationsTDContent .muiRadioGroupWrap>.muiRadioItem{
  margin-top: 0;
}
.actionView .detailNode div.lbpmNextRouteInfoRow{
  min-height: 0;
}
.actionView div#operationsTDContent.detailNode{
  float: right;
}
.oldMui.muiFormEleWrap div.muiRadioGroupWrap.muiRadioGroupNormalWrap{
  margin-top:0;
}
#jumpToNodeIdSelectObj div.muiSelInputRight{
  right: 0;
}


/* 控件调整-审批意见 */
p.lui-ding-audit-handler-icon{
	float: left;
	width: 3.2rem;
	height: 3.2rem;
	margin-right: .8rem !important;
}
p.lui-ding-audit-handler-icon>img{
	display: inline-block;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	border:1px solid rgba(17,31,44,0.12);
}
p.lui-ding-audit-handler-icon>.lui-ding-address-imgcontainer-sm{
	display: inline-block;
	width: 32px;
	height: 32px;
	margin: 0;
	overflow: visible;
	position: relative;
	top: 0px;
	left: 0px;
	background-color: #0089FF;
	text-align: center;
	border-radius: 50%;
}
p.lui-ding-audit-handler-icon>.lui-ding-address-imgcontainer-sm>.lui-ding-address-name{
	width: 100%;
	left: 50%;
	top: 16px;
	transform: translate(-50%,-50%) !important;
	z-index: 100;
	color: #fff;
	position: absolute;
	font-size: 10px;
	word-break: keep-all;
}
p.auditNote_show_p{
	font-size: 1.5rem;
	color: #111F2C;
}
div.muiAttachmentItem{
	border: 1px solid rgba(17,31,44,0.12);
	border-collapse: separate;
	border-radius: 6px;
	padding:.6rem 1.2rem;
}
.lui-ding-audit-handler-name{
	width: 7.5rem;
	font-size: 1.5rem;
	color: #111F2C;
	line-height: 26px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: left;
}
.lui-ding-audit-note .lui-ding-audit-handler-name{
	float:left;
}
.lui-ding-audit-time{
	font-size: 1.3rem;
	color: rgba(17,31,44,0.40);
	line-height: 26px;
}
.lui-ding-audit-note .lui-ding-audit-time{
	float:right;
}
.lui-ding-auditnote-head:after {
	content: " ";
	display: block;
	visibility: hidden;
	height: 0;
	clear: both;
}
.lui-ding-auditnote-head{
	zoom: 1;
}
xformflag .muiDingAuditShow{
	box-shadow: 0 0 8px 0 rgba(17,31,44,0.08);
	border-radius: 6px;
}
xformflag>.oldMui.muiFormEleWrap.muiFormStatusEdit>.muiFormEleAuditShowWrap{
	padding:1.2rem;
}
.lui-ding-audit-handler-dept{
	float:left;
	width:15rem;
	text-align:left;
	padding-left:4rem;
	color: rgba(17,31,44,0.40);
	position: relative;
	top:-10px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;

}
.lui-ding-audit-postscript>.lui-ding-auditnote-head>.lui-ding-audit-handler-icon{
	display:none;
}
.lui-ding-audit-note{
    width: calc(100% - 2.4rem) !important;
    border: 1px solid rgba(17,31,44,0.12);
    border-radius: 6px;
	padding: 1.2rem;
	margin-bottom: 2rem;
}
.lui-ding-audit-postscript{
	width: calc(100% - 2.4rem) !important;
    border: 1px solid rgba(17,31,44,0.12);
    border-radius: 6px;
	padding: 0 1.2rem 1.2rem 1.2rem;
	margin-bottom: 2rem;
	position: relative;
}
.lui-ding-audit-note .muiAttachmentItem,.lui-ding-audit-postscript .muiAttachmentItem{
	margin:.8rem 0 0 0;
}
.lui-ding-audit-postscript>.lui-ding-auditnote-head{
	background-color: #F6F6F7;
	margin: 0 -1.2rem 0 -1.2rem;
	padding:.6rem 1.2rem;
}
.lui-ding-audit-folder{
	position: absolute;
}
.lui-ding-audit-postscript>.lui-ding-auditnote-head .lui-ding-audit-handler-name{
	margin: 0 !important;
	text-align: left;
	line-height: 20px;
}
.lui-ding-audit-postscript>.lui-ding-auditnote-head .lui-ding-audit-time{
	margin: 0 !important;
	text-align: left;
	line-height: 20px;
}
.lui-ding-audit-postscript .lui-ding-audit-handler-dept{
	display: none;
}
.lui-ding-audit-folder{
	position: absolute;
	background:url(../images/record/icon-spread@2x.png) no-repeat center center;
    width:20px;
    height:20px;
    background-size:20px auto;
    vertical-align: 3px;
    right:1rem;
    top:1rem;
}
.lui-ding-audit-expand{
	display:none;
	position: absolute;
	background:url(../images/record/icon-retract@2x.png) no-repeat center center;
    width:20px;
    height:20px;
    background-size:20px auto;
    vertical-align: 3px;
    right:1rem;
    top:1rem;
}
.lui-ding-audit-postscript>.lui-ding-auditnote-head .lui-ding-audit-handler-name{
	margin: 0 !important;
	text-align: left;
	line-height: 20px;
}
.lui-ding-audit-postscript>.lui-ding-auditnote-head .lui-ding-audit-time{
	margin: 0 !important;
	text-align: left;
	line-height: 20px;
}
.lui-ding-audit-postscript .lui-ding-audit-handler-dept{
	display: none;
}
.lui-ding-audit-note .lui-ding-audit-folder{
	display:none;
}
.lui-ding-audit-postscript.collapse {
	max-height:40px;
	overflow:hidden;
}
.lui-ding-audit-node-name{
	font-size: 17px;
	color: #191F25;
	font-weight: 500;
	padding-left: 18px !important;
	position: relative;
}
.lui-ding-audit-node-name::before{
	position: absolute;
	content: '';
	width: 3px;
	height: 16px;
	background-color: #0089FF;
	border-radius: 2px;
	top: 12px;
	left: 7px;
}
.lui-audit-node-pop-target{
	position: relative;
}
.lui-audit-node-pop{
	min-width: 15rem;
	max-width: 25rem;
	position: absolute;
	padding:.6rem .8rem;
	font-size: 13px;
	color: #FFFFFF;
    background-color: #3D3D3D;
    border-radius: 4px;
    z-index: 99;
	word-break: break-all;
	top: -15px;
	left:0;
}
.lui-audit-node-pop::after{
	content: '';
	width: 0;
	height: 0;
	border: 6px solid;
	position: absolute;
	bottom: -11px;
	left: calc(50% - 6px);
	border-color:  #3D3D3D transparent transparent;
}

/**  复合组件 **/
.muiFormCompositeContained .muiFormEleWrap{
    text-align: right !important;
}
xformflag[_xform_type="datetime"] .muiFormEleWrap.muiFormRight{
    width: auto !important;
}
td xformflag xformflag{
    margin-top: 1rem;
    display: block;
}
.muiFormCompositeContained::before{
    right: 1px;
    margin-top: 2px;
}
.muiFormCompositeContained::after{
    right: 0px;
    margin-top: 2px;
}
/* 1106 */
/* 多出的增加icon */
.muiDetailTableAdd .mblTabBarButtonIconArea i{
    display: none;
}
/* 收起 */
.close_details_div span.details_span{
    color:#0089ff;
}
/* 明细表宽度 */
.muiSimple .muiTitle{
    width:40%;
}

/* 关联文档选中文档时样式 */
table.muiSimple  .muiFormEleWrap.muiFormRight{
    width:auto;
    float: none;
}
/* 1106 */
/* 1109 gjr start */
 .muiTextarea::placeholder{
	font-size: 1.7rem !important;
	color: rgba(17,31,44,0.28) !important;
 }
 #descriptionDiv .oldMui.textarea textarea.muiTextarea::placeholder{
	font-size: 1.7rem;
	color: rgba(17,31,44,0.28);
 }
 .muiAttachmentItem .muiAttachmentItemL{
	 vertical-align: middle !important;
 }
 .muiDialogElementContainer.muiHasDialogElementButtons div.muiDialogElementContent{
	padding: 0;
 }
 .muiDialogElementContainer.muiHasDialogElementButtons div.muiDialogElementContent textarea[name="fdPostscript"]{
	text-align: left;
 }
 .lbpmPostscriptHeadBtns .muiLbpmserviceAuditExpandBtn, .lbpmPostscriptHeadBtns .muiLbpmserviceAuditCollapseBtn{
	float: right;
    position: relative;
    top: 8px;
    margin-left: 5px;
 }
 .muiDingAuditNodeInfo{
	width:100%;
}
 .muiDingAuditNodeInfo a.postscript{
	float:right;
	position:relative;
	top:2px;
}
#lbpmExtOperContent .muiSimple div.muiFormEleWrap.muiFormLeft .muiFormItem .muiTextarea{
    background-color: #F2F4F5;
    min-height: 9.6rem;
    max-height: 10.2rem;
    padding: .8rem;
    border-radius: 4px;
    text-align: left;
}
#lbpmExtOperContent .muiFormItem.muiRadioGroupWrap.muiRadioGroupNormalWrap{
	text-align: left;
}
#lbpmExtOperContent .muiFormItem.muiRadioGroupWrap.muiRadioGroupNormalWrap>.muiRadioItem{
	margin-top: 0;
}
#curNodeInfoArea .lbpmInfoTable .detailNode>div{
	font-size: 1.7rem;
}
.muiLbpmPostscriptAttachTr .muiLbpmPostscriptAttachmentContent{
	padding: 1.2rem;
}
.muiDingAuditLabelItemTitle {
	font-size: 14px;
	color: #111F2C;
}
.muiDingAuditContainer .muiDingAuditLabelTitle{
	width: 75%;
    line-height: 30px;
    font-size: 16px;
    color: #111F2C;
}
/* 1109 gjr end */
/* 1110 gjr start */
.muiDingPostscriptNode.muiDingPostscript .muiAttachments.muiAttachmentssimple{
  padding:0 1.2rem;
}
.muiNavitem span.muiNavitemSpan, .actionView div.titleNode.operation_title {
    display: inline-block;
}
.muiDingAuditNote{
  color: #111F2C;
}
.muiDingAuditNodeInfo>span{
  font-size: 1.4rem;
}
/* 1110 gjr end */
/* 1117 gjr start */
.newMui.muiFormEleWrap.textarea.muiFormAlign.muiFormStatusEdit.muiFormLeft{
  width: 100% !important;
  text-align: left;
  float: left;
}
.newMui.muiFormEleWrap.textarea.muiFormAlign.muiFormStatusEdit.muiFormLeft .muiTextarea{
  text-align: left;
}
.relationChooseText>div i.muis-epid-close{
    top: 1px;
    right: 3px;
    margin-top: 0px;
    transform: scale(0.5);
}
/* 1117 gjr end */
/* 移动端 */
.container_m{
    padding: 1.2rem;
}
.muisDestroyLeaveTimeSelector{
    margin: 1.6rem 0;
    font-size: 0;
}
.muisDestroyLeaveTimeSelectorItem{
    display: inline-block;
    font-size: 1.2rem;
    width: 10rem;
    height: 3.3rem;
    line-height: 3.3rem;
    color: #2A304A;
    background-color: #F8F9FB;
    border: 1px solid #F8F9FB;
    border-radius: 2px;
    text-align: center;
    margin-right: 2.4rem;
    margin-bottom: 3.8px;
}
.muisDestroyLeaveTimeSelectorItem.active{
    color: #0089FF;
    border: 1px solid #0089FF;
    background: url(../images/selector_on.png)  no-repeat right bottom;
    background-size: 14px 14px;
}
.cancelLevel_dialogElement .muiDialogElementContainer{
	width:100%!important;
	height:100%!important;
}
.cancelLevel_dialogElement .muiDialogElementContainer div.muiDialogElementContent{
	height:82%;
	max-height:88%;
	overflow:scroll;
}
.cancelLevel_dialogElement .muisDestroyLeaveContent{
	text-align:left;
	padding-top:10%;
}
.timesEveryDay{
	margin-left:15px;
	color:#36A2FF;
}
.day_span_week{
	margin-left: 12px;
}

/* 批量请假移动端明细表请假类型回显靠右 */
.view_ding_batch_leave{
	float: right;
}