html,
body {
    height: 100%;
}

.d_lui_mix_wid_mask {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #fff;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 1000;
}
.d_lui_mix_wid_mask.mask_switch{
    transform: translateX(100%);
}
.d_lui_mix_wids.mask_switch{
    transform: translateX(100%);
}
.d_lui_mix_wid {
    position: absolute;
    right: -480px;
    top: 0;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    background: #fff;
}

.d_lui_mix_prowidth {
    width: 480px;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
    box-shadow: -4px 0 8px 0 rgba(17, 31, 44, 0.20);
}

.d_lui_mix_header {
    padding: 30px 30px 22px;
    box-sizing: border-box;
}

.d_lui_mix_title {
    font-size: 20px;
    font-weight: 550;
    color: #111F2C;
    float: left;
}

.d_lui_mix_delete {
    float: right;
    font-size: 16px;
    color: rgba(17, 31, 44, 0.85);
    line-height: 28px;
    margin-right: 10px;
}

.d_lui_mix_delete:hover {
    cursor: pointer;
}

.d_lui_mix_body {
    padding: 0 30px 100px 30px;
    box-sizing: border-box;
    height: 90%;
    overflow: auto;
}

.d_lui_mix_vital {
    margin-bottom: 24px;
    background: #36A2FF;
    border-radius: 6px;
    height: 100px;
}

.d_lui_mix_vital p {
    margin-top: 20px;
    font-size: 14px;
    color: #FFFFFF;
    padding: 20px 0 10px 24px;
}

.d_lui_mix_vital span {
    font-size: 20px;
    color: #FFFFFF;
    letter-spacing: 1.5px;
    padding-left: 24px;
}

.d_lui_mix_detail ul {
    list-style: none;
}

.d_lui_mix_detail_item {
    min-height: 110px;
    position: relative;
}

.d_lui_mix_detail_item:not(:last-child):before{
    content: '';
    position: absolute;
    left:6px;
    height:100%;
    width: 1px;
    background-color: #e0e0e0;
}
.d_lui_mix_detail_progress {
    position: absolute;
    left:0;
    top:0;
    box-sizing: border-box;
    padding: 4px;
    border-radius: 50%;
    background: #fff;
    border: 2px solid #0089ff;
}

.d_lui_mix_detail_content {
    padding-left: 26px;
}

.d_lui_mix_detail_content .long {
    font-size: 16px;
    color: #36A2FF;
}

.rest_item .d_lui_mix_detail_content .long {
    font-size: 16px;
    color: #7A8189;
}

.d_lui_mix_detail_content .time {
    margin-top: 10px;
    font-size: 12px;
    color: #7A8189;
    letter-spacing: 0;
}

.d_lui_mix_detail_content .time .date {
    display: inline-block;
}

.d_lui_mix_detail_content .time .week {
    margin-left: 5px;
}

.d_lui_mix_detail_content .section {
    margin-top: 12px;
    padding-bottom: 40px;
}

.d_lui_mix_detail_content .rest_section {
    display: inline-block;
    height: 23px;
    background-color: #EAF7FF;
    border-radius: 4px 4px 0 0;
    font-size: 12px;
    color: #36A2FF;
    line-height: 23px;
    text-align: center;
    min-width: 30%;
    width: 100%;
}

.d_lui_mix_detail_content .full_section {
    width: 100%;
    font-size: 12px;
    color: #7A8189;
}

.d_lui_mix_detail_content .full_section p {
    height: 5px;
    background: #F0E18A;
}
.d_lui_mix_detail_content .full_section>div{
    zoom: 1;
    margin-top: 2px;
    font-size: 12px;
    color: #7A8189;
}
.d_lui_mix_detail_content .full_section>div:after {
   content: " ";
   display: block;
   visibility: hidden;
   height: 0;
   clear: both;
}
.d_lui_mix_detail_content .full_section .starts {
    float: left;
}

.d_lui_mix_detail_content .full_section .ends {
    float: right;
}
.d_lui_mix_detail_content.vacation>span{
    color: rgba(17,31,44,0.56);
}

/**规则框样式**/
.d_lui_mix_wids {
    width: 480px;
    height: 100%;
    font-family: PingFangSC-Regular;
    padding: 30px;
    box-sizing: border-box;
    box-shadow: -4px 0 8px 0 rgba(17, 31, 44, 0.20);
    position:absolute;
    top:0;
    bottom: 0;
    right: 0;
    background: #fff;
}

.d_lui_mix_head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.d_lui_mix_strong {
    font-size: 20px;
    line-height: 28px;
    color: #111F2C;
    font-family: PingFangSC-Medium;
}

.d_lui_mix_deletes {
    color: rgba(17, 31, 44, 0.85);
    font-size: 16px;
    line-height: 28px;
}

.d_lui_mix_deletes:hover {
    cursor: pointer;
}

.d_lui_mix_change {
    color: #0089FF;
}

.d_lui_mix_keyong {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
}

.d_lui_mix_content {
    height: 265px;
    transition: all .3s ease;
    overflow: hidden;
}

.d_lui_mix_box {
    border-radius: 8px;
    border: 1px solid rgba(17, 31, 44, 0.12);
    padding: 10px 0 0 10px;
    margin: 10px 0;
}

.devel_content {
    display: none;
}

.d_lui_mix_year {
    font-size: 18px;
    line-height: 20px;
    color: rgba(17, 31, 44, 0.85);
    margin-right: 10px;
}

.d_lui_mix_yeargray {
    font-size: 18px;
    line-height: 20px;
    color: #C6C9CD;
    margin-right: 10px;
}

.d_lui_mix_yearTime {
    font-size: 13px;
    color: rgba(17, 31, 44, 0.56);
    line-height: 14px;
}

.d_lui_mix_ul {
    display: flex;
    color: rgba(17, 31, 44, 0.56);
    font-size: 14px;
    list-style: none;
    padding: 0;
    line-height: 14px;
    margin: 15px 0 17px 0;
}

.d_lui_mix_zero {
    margin-left: 10px;
    color: #DADCDF;
    font-size: 20px;
    font-family: PingFangSC-Medium;
}

.d_lui_mix_line {
    margin: 0 20px;
    color: #F5F5F5;
}

.d_lui_mix_morezero {
    color: #0089FF;
    font-size: 20px;
    font-family: PingFangSC-Medium;
    margin-left: 10px;
}

.d_lui_mix_overtime {
    border-radius: 8px;
    opacity: 0.85;
    border: 1px solid rgba(80, 116, 154, 0.4);
    color: #50749A;
    width: 40px;
    font-size: 9.5px;
    line-height: 16px;
    text-align: center;
    float: right;
    margin-right: 13px;
    margin-top: 3px;
}

.d_lui_mix_morelook {
    color: #0089FF;
    font-size: 14px;
    text-align: center;
    margin: 30px 0;
    display: flex;
    justify-content: center;
    letter-spacing: 0;
    cursor: pointer;
}

.d_lui_mix_bigtriangle {
    border: 7px solid #0089FF;
    border-color: #0089FF transparent transparent transparent;
    width: 0;
    height: 0;
    position: relative;
    display: inline-block;
    margin: 8px 0 0 6px;
}

.d_lui_mix_smalltriangle {
    width: 0;
    height: 0;
    border: 5px solid white;
    border-color: white transparent transparent transparent;
    position: absolute;
    top: -7px;
    left: -5px;
}

.d_lui_mix_morelook.develop .d_lui_mix_bigtriangle {
    border-color: transparent transparent #0089FF transparent;
    top: -9px;
}

.d_lui_mix_morelook.develop .d_lui_mix_smalltriangle {
    border-color: transparent transparent white transparent;
    top: -3px;

}

.d_lui_mix_underline {
    border: 1px solid rgba(17, 31, 44, 0.08);
    border-color: rgba(17, 31, 44, 0.08) transparent transparent transparent;
    margin: 0 0 30px 0;
}

.d_lui_mix_bigrule {
    font-size: 18px;
    font-family: PingFangSC-Medium;
    color: rgba(17, 31, 44, 0.85);
    margin-bottom: 20px;
}

.d_lui_mix_pop_table {
    border-collapse: separate;
    border-spacing: 0px 20px;
}

.d_lui_mix_smallrulefont {
    font-size: 14px;
    color: rgba(17, 31, 44, 0.56);
    margin-top: 10px;
    line-height: 22px;
}

.d_lui_mix_bigrulefont {
    font-size: 16px;
    color: rgba(17, 31, 44, 0.85);
    line-height: 22px;
}
