@CHARSET "UTF-8";

/* 我的数据 */
.cke_dialog_contents .cke_dialog_contents_body{ padding:0;}
.cke_reset_all, .cke_reset_all *, .cke_reset_all a, .cke_reset_all textarea{
	font-family: "PingFang SC", "Lantinghei SC", "Helvetica Neue", Arial, "Microsoft YaHei", "WenQuanYi Micro Hei", "Heiti SC", "Segoe UI",  sans-serif;
  
}

/* 分类导航 */
.lui_mydata_header{
	height:40px;
	line-height:40px;
	background-color: #f3f9fd;
	width: 100%;
}
.lui_mydata_header:after{
	display:table;
	content:"";
	clear:both;
}
/* 选择分类导航*/
.lui_mydata_link{
	line-height: 40px;
	cursor: pointer;
	padding-left: 10px;
	display: inline-block;
}
.lui_mydata_link:after{
	display:inline-block;
	content:"";
	display:inline-block;
	width:0;
	height:0;
	border:5px solid transparent;
	border-top-color:#db782c;
	position:relative;
	top:2px;
}
.lui_mydata_qsearch{

}

.lui_mydata_qsearch {
	width: 50%;
	float: right;
	text-align:right;
	margin-top: 7px;
}

.lui_mydata_search_box {
	position: relative;
	display: inline-block;
	margin-right: 1px;
	padding-left: 0;
	padding-right: 24px;
	width: 200px;
	height: 24px;
	border: 1px solid #d5d5d5;
	border-radius: 4px;
	margin-right: 10px;
	background: #fff;
}

.lui_mydata_search_box input {
	width: 96%;
	height: auto;
	line-height: 20px;
	padding: 2px 2%;
	color: #7d7d7d;
	border: none;
	outline: none;
	font-size:14px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	vertical-align: top;
}

.lui_mydata_search_box a{
	margin-left: 0;
	position: absolute;
	right: 0px;
	top: 0px;
	display: inline-block;
	border: none;
	color:transparent;
	width: 24px;
	height: 24px;
	background: url(images/search_btn.png) no-repeat 50%;
	text-decoration: none;
}
.lui_mydata_search_box a:hover{ color:transparent;text-decoration: none; }
#MydataTypesDiv{ position:relative; width:100%;}
.lui_mydata_location{ padding-left:10px;line-height:40px; position:absolute; top:0;left:0;}

#Mydata_listview {padding:0px;}
#Mydata_listview table{ width:100%;}
#Mydata_listview table.lui_listview_columntable_table tbody tr td{ padding:8px 2px;}

.cke_dialog_page_contents{max-height:100%}

.cke_dialog_contents_body .lui_paging_box{
	padding-top:10px;
}
/*  分页样式重置 */
.cke_reset_all .lui_paging_contentBox a{
 margin-left: 1px;
 padding: 4px 11px;
 border: 1px solid #e5e5e5;
 line-height: 20px;
}
.cke_reset_all .lui_paging_box *{text-align: center;}

/* 按钮重置样式 */
.lui_dialog_buttons_container{ text-align:right; padding:8px}
.lui_widget_btn .lui_toolbar_btn_l *{line-height:inherit;cursor:inherit;font-size: inherit;}
.lui_widget_btn *{ cursor:pointer;}
.lui_toolbar_btn_def .lui_toolbar_btn_c>div{ color:#fff;}
.lui_dialog_buttons_container .lui_toolbar_btn_l{ padding:0 15px; margin:0 5px;}

.prompt_frame .prompt_content_error {width:35%;}
.prompt_frame .prompt_content_right {width:62%;}