@charset "utf-8";

/*------------------- 员工黄页 -----------------------*/

ul,li {
	list-style: none;
}

.msgtip>ul{
	list-style: disc;
}

h2,h3,h4,h5 {
	margin: 0;
	font-weight: normal;
	font-size: inherit;
}

/*-------------------------------------------- 人事档案-概览 ------------------------------------------------*/


/* 单标签 */

.lui_hr_staff_panel_overview_frame {
	border: 1px solid #ebebeb;
	background: #fff;
	min-height: 255px;
}

.lui_hr_staff_panel_overview_frame .lui_hr_staff_panel_title {
	border-bottom: 1px solid #ebebeb;
	padding: 15px;
	height: 22px;
	line-height: 22px;
}

.lui_hr_staff_panel_overview_frame .lui_hr_staff_panel_title:after {
	display: table;
	content: "";
	clear: both;
}

.lui_hr_staff_panel_overview_frame .panel_operation {
	float: right;
}

.lui_hr_staff_panel_overview_frame .panel_operation .filter_label {
	margin-left: 5px;
	font-size: 12px;
}

.lui_hr_staff_panel_overview_frame .panel_operation .filter_label input {
	margin-right: 5px;
	position: relative;
	top: 2px;
}

.lui_hr_staff_panel_overview_frame .panel_btn_more {
	display: inline-block;
	width: 30px;
	height: 22px;
	background: #fff url(../images/more_default.png) no-repeat center;
	border: 1px solid #ebebeb;
}

.lui_hr_staff_panel_overview_frame .lui_hr_staff_panel_content {}


/*------------------ 概览卡片 ----------------------*/

.lui_hr_staff_overview_card_frame {
	border-spacing: 10px;
	border-collapse: separate;
	table-layout: fixed;
}
.lui_hr_staff_overview_card_frame  td{ width: 16.67%; vertical-align: top;}
.lui_hr_staff_overview_card_content {
}

.lui_hr_staff_panel_overview_frame:after {
	display: table;
	clear: both;
	content: "";
}

/*----------------- 员工信息列表 ------------------*/

.lui_hr_staff_info_list {
	margin: 5px;
}

.lui_hr_staff_info_list li {
	padding: 5px 10px;
}

.lui_hr_staff_info_list li:hover {
	background: #f5f5f5;
}
.lui_hr_staff_info_list li.status_nodata:hover{
	background-color: transparent;
}

.lui_hr_staff_info_list a:hover {
	color: inherit;
}

.lui_hr_staff_info_list a,
.lui_hr_staff_info_list>span {
	display: table;
	width: 100%;
	border-collapse: collapse;
	font-size: 12px;
	cursor: default;
}

.lui_hr_staff_info_list .staff_info_photo,
.lui_hr_staff_info_list .staff_info_date {
	display: table-cell;
	vertical-align: middle;
}

.lui_hr_staff_info_list .staff_portrait {
	display: inline-block;
	margin-right: 10px;
}

.lui_icon_s {
	display: inline-block;
	width: 16px;
	height: 16px;
}

.lui_hr_staff_info_list .icon_brith {
	background: url(../images/icon_brith.png) no-repeat left top;
	vertical-align: middle;
	margin-right: 5px;
}

.lui_hr_staff_info_list .icon_quest {
	background: url(../images/icon_quest.png) no-repeat left top;
	vertical-align: middle;
	margin-right: 5px;
}

.lui_hr_staff_info_list .staff_info_date {
	text-align: right;
	color: #828282;
}

.lui_hr_staff_info_list .staff_info_date span,
.lui_hr_staff_info_list .staff_info_photo span {
	vertical-align: middle;
}

.lui_hr_staff_info_list .staff_portrait img {
	width: 24px;
	height: 24px;
	border-radius: 50%;
	vertical-align: middle;
}


/*----------------- 员工动态 ------------------*/


/* 动态树 */

.hr_staff_trends_tree {
	margin: 15px;
	margin-left: 35px;
	font-size: 14px;
}

/* 门户部件-不需要这些间距 */
.lui_dataview_html_div .hr_staff_trends_tree{
	margin:0;
	margin-top:15px;
}

.hr_staff_trends_tree dl {}

.hr_staff_trends_tree .icon_clock {
	background: url(../images/icon_date.png) no-repeat;
	width: 18px;
	height: 18px;
	position: absolute;
	left: -9px;
	top: 0;
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
	.hr_staff_trends_tree .icon_clock {
		background-image: url(../images/icon_date@2x.png);
		background-size:18px;
	}
}


.hr_staff_trends_tree dt {
	border-left: 1px solid #eee;
	padding-left: 16px;
	position: relative;
	font-size: 16px;
	font-weight: bold;
	color: #333;
	height: 41px;
	margin-left: 120px;
}

.hr_staff_trends_tree dt span,.hr_staff_trends_tree dt a {
	/*! vertical-align: text-top; */
	position: relative;
	top: -3px;
	left: -131px;
}

.hr_staff_trends_tree .trend_info{
	cursor: pointer;
	display: inline-block;
	vertical-align: top;
	position: relative;
	top: -16px;
	margin-left: 15px;
	width: 100%;
}


.hr_staff_trends_tree dd {
	border-left: 1px solid #eee;
	padding: 8px 0;
	padding-left: 12px;
	position: relative;
	color: #333;
	margin-left: 120px;
}

.hr_staff_trends_tree dd:last-child {
	padding-bottom: 62px;
}

.hr_staff_trends_tree dd:before {
	display: inline-block;
	content: "";
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background: #4285F4;
	position: absolute;
	top: 19px;
	left: -3px;
	/* border: 4px solid rgba(66, 133, 244, 0.25); */
}
.hr_staff_trends_tree dd:after{
	display: inline-block;
	content: "";
	width: 11px;
	height: 11px;
	border-radius: 50%;
	background: rgba(66, 133, 244, 0.25);
	position: absolute;
	top: 16px;
	left: -6px;
	/* border: 4px solid rgba(66, 133, 244, 0.25); */
}

.hr_staff_trends_tree .trend_date {
	display: inline-block;
	/* height: 26px; */
	/* line-height: 26px; */
	padding: 0 8px;
	color: #999;
	/* background: #f2f2f2; */
	position: relative;
	margin-right: 75px;
	margin-left: -121px;
	font-size: 12px;
	vertical-align: middle;
}
.hr_staff_trends_tree dd>a{display: inline-block;color: inherit;text-decoration: none;vertical-align: top;}
.hr_staff_trends_tree dd>a:hover{/* background:#f2f2f2; */text-decoration: none;color: inherit;}
.hr_staff_trends_tree dd>a:hover .trend_info{/* border-bottom:1px solid #15a4fa; */}
.hr_staff_trends_tree .trend_info:hover{ color:#15a4fa;}
.hr_staff_trends_tree .trend_date:before {
	content: "";
	width: 0;
	display: inline-block;
	height: 0;
	border: 5px solid transparent;
	border-width: 5px 4px;
	border-right-color: #f2f2f2;
	top: 8px;
	position: absolute;
	left: -8px;
	display: none;
}

.hr_staff_trends_tree em {
	color: #4285F4;
	font-style: normal;
	margin-right: 13px;
}

.hr_staff_trends_tree dl:last-child dd:last-child {
	padding-bottom: 0;
}


/*-------------------------------------------- 个人简历 ------------------------------------------------*/

.lui_hr_staff_resume_frame {}

.lui_hr_staff_resume_head {
	background: url(../images/staff_resume_head_bg.png) no-repeat left top;
	background-size: 100% auto;
	min-height: 260px;
	padding-bottom: 20px;
	position: relative;
	text-align: center;
}

.lui_hr_staff_resume_head .staff_info {
	display: inline-block;
	width: 800px;
	color: #828282;
	/*position: absolute;
	left: 50%;
	margin-left: -250px;
	top: 20px;
	text-align: center;*/
}

.lui_hr_staff_resume_head .staff_info .staff_photo {
	display: inline-block;
	width: 120px;
	height: 120px;
	background: #fff;
	padding: 8px;
	border: 1px solid #ebebeb;
	border-radius: 50%;
	margin-top: 15px;
}

.lui_hr_staff_resume_head .staff_photo img {
	width: 120px;
	height: 120px;
	border-radius: 50%;
}

.lui_hr_staff_resume_head .staff_info h2 {
	font-size: 24px;
	color: #333;
	padding-top: 10px;
	padding-bottom: 15px;
}

.lui_hr_staff_resume_head .staff_info .staff_sex {
	display: inline-block;
	width: 20px;
	height: 20px;
	line-height: 20px;
	background-color: #15a4fa;
	border-radius: 50%;
	vertical-align: middle;
	margin-left: 5px;
}

.lui_hr_staff_resume_head .staff_info .staff_sex.sex_f {
	background-color: #ff5287;
}

.lui_hr_staff_resume_head .staff_info .staff_sex_f {
	background: url(../images/resume_icon.png) no-repeat left top;
	vertical-align: middle;
	position: relative;
	top: -3px;
}

.lui_hr_staff_resume_head .staff_info .staff_sex_m {
	background: url(../images/resume_icon.png) no-repeat -16px top;
	vertical-align: middle;
	position: relative;
	top: -3px;
}

.lui_hr_staff_resume_head .staff_status {
	color: #fff;
	position: absolute;
	top: 30px;
	right: 30px;
}

.lui_hr_staff_resume_head .staff_label_info {
	padding: 5px 0;
	word-wrap:break-word;
}

.lui_hr_staff_resume_head .icon_post {
	background: url(../images/resume_icon.png) no-repeat -32px 0;
	vertical-align: text-bottom;
	margin-right: 5px;
}

.lui_hr_staff_resume_head .staff_post_info em {
	margin: 0 5px;
}

.lui_hr_staff_resume_head .staff_label_info label {
	cursor: pointer;
	color: #15a4fa;
	margin-right: 10px;
}

.lui_hr_staff_resume_head .hr_staff_btn {
	display: inline-block;
	color: #15a4fa;
	border: 1px solid #15a4fa;
	height: 20px;
	padding: 0 5px;
	line-height: 20px;
	margin-left: 5px;
	cursor: pointer;
	transition: all 0.5s;
}

.lui_hr_staff_resume_head .hr_staff_btn:hover {
	background-color: #f5f5f5;
}

.lui_hr_staff_resume_head .icon_foucs {
	background: url(../images/resume_icon.png) no-repeat -48px 0;
	vertical-align: text-bottom;
}


/*---------- 简历内容 ------------*/

.lui_hr_staff_resume_content {
	padding: 30px;
}


/* 简历表格 */

.staff_resume_tb_content {
	border: 1px solid #ebebeb;
	padding: 10px 0;
}

.staff_resume_simple_tb {
	width: 100%;
}

.staff_resume_simple_tb td.td_normal_title {
	text-align: right;
	color: #828282;
	padding-right: 10px;
}

.staff_resume_simple_tb td {
	text-align: left;
	color: #333;
	padding: 10px 0;
}


/*-------------------------------------- 个人经历 列表 --------------------------------------*/

.staff_resume_itemlist_content {}

.staff_resume_itemlist_content dl dt {}

.staff_resume_itemlist_content .reusme_item_title {
	padding: 15px 0;
}

.staff_resume_itemlist_content dl .reusme_item_title {
	text-align: left;
	padding: 0;
}

.staff_resume_itemlist_content .reusme_item_title span {
	vertical-align: middle;
	font-size: 16px;
	color: #15a4fa;
}

.staff_resume_itemlist_content .lui_icon_m {
	display: inline-block;
	width: 32px;
	height: 32px;
	background: url(../images/explist_icon_m.png) no-repeat left top;
	margin-right: 5px;
}

.staff_resume_itemlist_content .icon_contract {
	background-position: 0 0;
}

.staff_resume_itemlist_content .icon_work {
	background-position: -32px 0;
}

.staff_resume_itemlist_content .icon_teach {
	background-position: -64px 0;
}

.staff_resume_itemlist_content .icon_train {
	background-position: -96px 0;
}

.staff_resume_itemlist_content .icon_catalog {
	background-position: -128px 0;
}

.staff_resume_itemlist_content dl dd {
	border-left: 2px solid #f5f5f5;
	margin-left: 16px;
	padding-left: 25px;
	padding-top: 10px;
	padding-bottom: 10px;
}


/*--------------- 有边框的表格 ---------------*/

.staff_resume_normal_tb {
	width: 100%;
	table-layout: fixed;
	border:none!important;
	border-top:1px solid #e3e3e3!important;
}

.staff_resume_normal_tb .opt_td {
	width: 40px;
	border-left: 1px solid #d2d2d2;
	padding:0 10px;
	white-space: nowrap;
	text-align: center;
	font-size: 0;
}
.staff_resume_normal_tb th.opt_td{
	font-size: inherit;
}

.staff_resume_normal_tb .lui_icon_s {
	display: inline-block;
	width: 16px;
	height: 16px;
}

.staff_resume_normal_tb .icon_opt_add,
.staff_resume_normal_tb .icon_opt_del,
.staff_resume_normal_tb .icon_opt_edit {
	background: url(../images/icon_opt.png) no-repeat left top;
	cursor: pointer;
	margin:0 3px;
}

.staff_resume_normal_tb .icon_opt_add:hover,
.staff_resume_normal_tb .icon_opt_add.lui_icon_on {
	background-position: -16px 0;
}

.staff_resume_normal_tb .icon_opt_del {
	background-position: -32px 0;
}

.staff_resume_normal_tb .icon_opt_del:hover,
.staff_resume_normal_tb .icon_opt_del.lui_icon_on {
	background-position: -48px 0;
}

.staff_resume_normal_tb .icon_opt_edit {
	background-position: -64px 0;
}

.staff_resume_normal_tb .icon_opt_edit:hover,
.staff_resume_normal_tb .icon_opt_edit.lui_icon_on {
	background-position: -80px 0;
}

.staff_resume_normal_tb tr th {
	background: #f5f5f5;
	border-bottom: 1px solid #e3e3e3;
	border-right: 1px solid #e3e3e3;
	height: 45px;
	line-height: 45px;
	text-align: center;
	font-weight: normal;
}

.staff_resume_normal_tb tr td {
	padding: 10px;
	text-align: center;
}

.staff_resume_normal_tb tr:hover td {
	background: #f8f8f8;
}

.staff_resume_normal_tb .com_subject {
	text-align: left;
	display: block;
}

.staff_resume_normal_tb .staff_resume_simple_tb td.td_normal_title {
	text-align: right;
}

.staff_resume_normal_tb tr td .staff_resume_simple_tb td {
	text-align: left;
	border: none;
}

.staff_resume_normal_tb .staff_resume_input {
	border: 1px solid #d1d1d1;
	height: 30px;
	line-height: 30px;
	width: 100%;
	padding: 0 5px;
	margin-left: -5px;
}

.staff_resume_btn_wrap {
	text-align: center;
	padding: 20px 0;
}

.staff_resume_btn_wrap .lui_toolbar_btn_def {
	display: inline-block;
	cursor: pointer;
	width: 115px;
	height: 32px;
	line-height: 32px;
	background: #38adff;
	border: 1px solid #38adff;
	color: #fff;
	margin: 0 5px;
}

.staff_resume_btn_wrap .lui_toolbar_btn_def:hover {
	background-color: #37a9fa;
	border-color: #37a9fa;
}

.staff_resume_btn_wrap .lui_toolbar_btn_gray {
	display: inline-block;
	cursor: pointer;
	width: 115px;
	height: 32px;
	line-height: 32px;
	background: #fff;
	border: 1px solid #e5e5e5;
	color: #333;
	margin: 0 5px;
}

.staff_resume_btn_wrap .lui_toolbar_btn_gray:hover {
	background-color: #f5f5f5;
}
.staff_resume_normal_tb tr td.add_td span{ margin:0 3px; color:#4fbdff; font-size: 14px;}
.staff_resume_normal_tb tr td.add_td .lui_icon_s{ vertical-align:text-bottom; background-position: -96px 0;}
.staff_resume_normal_tb tr td.add_td:hover{ background:#f1faff; cursor:pointer;}

/* 操作对象列表 */
.hr_staff_person_log_targets{ font-size: 0;}
.hr_staff_person_log_targets li{ display: inline-block; margin:0 3px;}

/*------------------- 员工黄页 -----------------------*/

.lui_hr_staff_page_iframe {
	background: #fff;
	border:1px solid #e1e1e1;
}
.lui_hr_staff_page_iframe.lui_jIframe{
	margin-top:10px !important;
}
.lui_hr_staff_page_iframe .lui_icon_s {
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(../images/hr_staff_resume_icon_s.png) no-repeat left top;
}

.lui_hr_staff_page_mbody{
	margin: 0 18px;
}
.lui_hr_staff_page_mbody .hr_staff_page_mtable{
	width:100%
}

/*-------------- 员工黄页 选项卡 --------------*/

.hr_staff_page_tablist {
	text-align: center;
	padding: 20px 0;
	border-bottom: 1px solid #e1e1e1;
}

.hr_staff_page_tablist ul {
	display: inline-block;
}

.hr_staff_page_tablist ul li {
	display: inline-block;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background: #f0f0f0;
	margin: 0 12px;
	text-align: center;
	transition: background-color 0.5s;
}

.hr_staff_page_tablist ul li:hover {
	background: #e5e5e5;
}

.hr_staff_page_tablist ul li a {
	display: block;
}

.hr_staff_page_tablist ul li em {
	display: block;
	font-style: normal;
	font-size: 24px;
	color: #15a4fa;
	padding-top: 10px;
	padding-bottom: 5px;
}


/*-------------- 员工黄页 简历 --------------*/

.hr_staff_page_resume {}

.resume_title {
	margin: 0;
	padding: 20px 0;
	font-size: 30px;
	font-weight: normal;
	text-align: center;
}

.resume_title em {
	font-size: 12px;
	color: #ff8737;
	font-style: normal;
}

.resume_subhead {
	font-size: 12px;
	margin-left: 10px;
}

.hr_staff_page_resume_item {
	padding: 18px 0;
	border-bottom: 1px dashed #ebebeb;
}

.hr_staff_page_resume .hr_staff_page_resume_item:last-child{ border-bottom:none;}

.hr_staff_page_resume_title_bar {
	font-size: 16px;
	color: #15a4fa;
	padding: 0px 0 5px;
}
.hr_staff_page_resume_title_bar .item_name {
	cursor: default;
}

.hr_staff_page_resume_title_bar .item_name i {
	display: inline-block;
	width: 32px;
	height: 32px;
	vertical-align: middle;
	margin-right: 10px;
	background: url(../images/hr_item_sprite.png) no-repeat left top;
}

.hr_staff_page_resume_title_bar .item_name span {
	vertical-align: middle;
	font-size: 16px;
	color: #15a4fa;
}

.hr_staff_page_resume_edit_btn {
	float: right;
	vertical-align: middle;
	display: inline-block;
	height: 32px;
	line-height: 32px;
}

.hr_staff_page_resume_title_bar .icon_edit {
	background-position: -64px 0;
}

.hr_staff_page_resume_title_bar .icon_edit:hover {
	background-position: -304px 0;
}

.hr_staff_page_resume_title_bar i.icon_person {
	background-position: 0 0;
}

.hr_staff_page_resume_title_bar i.icon_project {
	background-position: -32px 0;
}

.hr_staff_page_resume_title_bar i.icon_work {
	background-position: -64px 0;
}

.hr_staff_page_resume_title_bar i.icon_teach {
	background-position: -96px 0;
}

.hr_staff_page_resume_title_bar i.icon_train{
	background-position: -128px 0;
}

.hr_staff_page_resume_title_bar>* {
	vertical-align: middle;
}

.hr_staff_page_resume_title_bar:after {
	display: table;
	content: "";
	clear: both;
}

.hr_staff_page_resume_btn_bar {
	height: 38px;
	line-height: 38px;
	background: #f5f5f5;
	transition: background-color 0.5s;
	cursor: pointer;
	text-align: center;
}

.hr_staff_page_resume_btn_bar:hover {
	background: #f0f0f0;
	color:#25a6f7;
}

.hr_staff_page_resume_btn_bar span>* {
	vertical-align: middle;
}

.hr_staff_page_resume_btn_bar .icon_add {
	background-position: -80px 0;
	margin-right: 3px;
}
.hr_staff_page_resume_btn_bar:hover .icon_add{
	background-position: -352px 0;
}

.hr_staff_page_resume_item_content {
	padding: 10px 0;
}

.hr_staff_rtf_content p {
	margin: 0 0 10px;
}
.hr_staff_resume_project_info p{ font-size:12px; color:#828282; margin-bottom:15px;}


/*-------------- 项目信息 --------------*/

.hr_staff_resume_project_item {
	margin-bottom: 40px;
}
.hr_staff_rtf_content .hr_staff_resume_project_item:last-child{ margin-bottom:10px;}

.hr_staff_resume_project_head {
	display: table;
	width: 100%;
	padding-bottom: 10px;
}

.hr_staff_resume_project_head>div {
	display: table-cell;
	vertical-align: middle;
}

.hr_staff_resume_project_info {}
.hr_staff_resume_project_info .post_name{min-height:17px}
.hr_staff_resume_project_info h3.project_name,
.hr_staff_resume_project_info h3 {
	color: #333;
	font-size: 14px;
	margin-bottom: 5px;
	position: relative;
}
.hr_staff_resume_project_info h3.work_name,
.hr_staff_resume_project_info h3.unit_name{
	color:inherit;
	font-size: 12px;
}

.hr_staff_resume_project_info h3.school_name em{ font-style:normal; margin-left:5px;color:#828282;font-size:12px;}

.hr_staff_resume_project_info h3.project_name em{ font-style:normal; margin-left:5px;color:#828282;font-size:12px;}


.hr_staff_resume_project_desc {
	line-height: 22px;
	/*font-size: 12px;*/
}
.hr_staff_resume_project_info .hr_staff_opt_btn{ position:absolute; right:0px; top:5px;}
.hr_staff_resume_project_info .hr_staff_opt_btn .lui_icon_s{ cursor: pointer; margin:0 3px;}
.hr_staff_resume_project_info .icon_edit{ background-position: -64px 0;}
.hr_staff_resume_project_info .icon_edit:hover{ background-position: -304px 0;}
.hr_staff_resume_project_info .icon_del{ background-position: -320px 0;}
.hr_staff_resume_project_info .icon_del:hover{ background-position: -336px 0;}

/*-------------- 工作经历 --------------*/

.hr_staff_resume_work_head {}

.hr_staff_resume_work_head .post_name {
	color: #333;
	margin-bottom: 5px;
}

.hr_staff_resume_work_head .work_name {
	margin-bottom: 5px;
}

/*-------------- 培训经历经历 --------------*/

.hr_staff_resume_training_head {}

.hr_staff_resume_training_head .training_name {
	color: #333;
	margin-bottom: 5px;
}

.hr_staff_resume_training_head .unit_name {
	margin-bottom: 5px;
}


/*-------------- 教育经历 --------------*/

.hr_staff_resume_teach_item {
	margin-bottom: 20px;
}

.hr_staff_resume_teach_head {}

.hr_staff_resume_teach_head .school_name {
	color: #333;
	margin-bottom: 5px;
}

.hr_staff_resume_teach_info {
	position: relative;
}

.lui_tabpanel_list_navs_item_selected{
	    max-width: 20%!important;
}