ul {
	list-style: none;
}

.lui_sys_help_catelogUl li {
	padding: 4px 0;
}

.lui_sys_help_catelog_li {
   border-color: #e2e6e9;
    border-style: solid;
    border-width: 0 0 1px;
}

.lui_sys_help_tr_title {
	width: 100%;
	height: 30px;
	line-height: 30px;
}

.lui_sys_help_td_l {
	width: 70%;
	font-size: 15px;
	font-weight: bold;
	word-break:break-all;
}

.lui_sys_help_index {
	background-color: #fff;
}

.lui_sys_help_catelog2 {
	padding: 0 8px 0 6px;
	background-color: #fff;
	display: inline-block;
}

.lui_sys_help_tr_title1 {
	width: 100%;
	line-height: 30px;
	background: url(../../resource/images/titlebg.png) 50% repeat-x; 
}

.lui_sys_help_td_r {
	text-align: right;
	vertical-align: middle;
}

.lui_sys_help_editParagraph {
	cursor: pointer;
	background: url(../../resource/images/edit_icon.png) no-repeat 7px center;
	padding-left: 25px;
	background-color: #fff;
}

.lui_sys_help_editParagraph:hover {
	color: #e17d27
}

.lui_sys_help_edit_flow {
	background: url(../../resource/images/edit_flow.png) no-repeat 7px center;
	background-color: #fff;
}

.lui_sys_help_catelog_content2 a{
	color: #136ec2;
}

.lui_sys_help_catelog_content2_td {
	padding: 1px 1px;
}

.lui_sys_help_catalog_top {
	padding: 10px 5px;
	position: relative;
	margin: 15px 15px 30px 15px;
	display:none;
	border: 1px solid #d5d5d5;
}

.lui_sys_help_catalog_border_top {
	display: none;
	margin-bottom:15px;
	height:6px;
	line-height:6px;
	width:100%;
	background: url(../../resource/images/bg_catalog_top.png) repeat-x 0px 50%;
	width: 100%;
}

.lui_sys_help_catalog_title {
	padding-left: 40px;
	font-size: 16px;
	color: #5b5b5b;
	position: relative;
	width: 50px;
}
.lui_sys_help_catalog_title .lui_sys_help_catalog_message {
	position: absolute;
	top: 0px;
	left: 20px;
	bottom: 0;
	height: 20px;
	line-height: 20px;
	margin: auto;
	width: 70px;
	text-align: center;
}

.lui_sys_help_catalog_title_icon {
	display: block;
	width: 26px;
	height: 40px;
	background: url(../../resource/images/sys_help_art_logo_slim.png) no-repeat 0 0;
	position: absolute;
	left: 8px;
	top: -10px;
}

.lui_sys_help_catalog_content {
	padding-left: 90px;
}

.lui_sys_help_catalog_border_bottom {
	height:6px;
	line-height:6px;
	width:100%;
	background: url(../../resource/images/bg_catalog.png) repeat-x 0px -1px;
	margin-top: 15px;
	display: none;
}

.lui_catelog_dot {
	background: url(../../resource/images/dot_ico.png) no-repeat left center;
	background-size: 9px 9px;
	padding-left: 15px;
}

.lui_sys_help_catalog_row_3 {
	min-width: 25%;
	max-width:32%;
}

.lui_sys_help_catalog_row_2 {
	min-width: 25%;
	max-width: 48%;
}

.lui_sys_help_catalog_row_1 {
	min-width: 25%;
	max-width: 99%;
}

.lui_sys_help_catalog_row_common {
	float: left;
	border-left: 1px solid #f5f5f5;
	display: block;
	overflow: hidden;
}

.lui_sys_help_catalog_row_common>div{
	padding: 0 10px 0 13px;
}

.lui_sys_help_catalog_row_common ul li {
	display: block;
	overflow: hidden;
	word-wrap:break-word;
}

.lui_sys_help_catalog_1 {
	color: #136ec2;
	padding: 2px 0px;
	font-size:  15px;
	line-height: 35px;
}

.lui_sys_help_catalog_1 a {
	color: #136ec2;
	font-size: 15px;
	display: inline;
}

.lui_catalog_i1 {
	position: relative;
	padding-left: 30px;	
}

.lui_sys_help_catalog_index_dot {
	display: inline-block;
	width: 4px;
	height: 7px;
	background: url(../../resource/images/catalog_list_t_4.png) no-repeat 0px 0%;
}

.lui_sys_help_editParagraph {
  cursor: pointer;
  background: url(../../resource/images/edit_icon.png) no-repeat 7px center;
  padding-left: 25px;
  color: #4285f4;
  cursor: pointer;
}

.lui_sys_help_editParagraph:hover {
	color: #e17d27
}

.lui_sys_help_edit_cate {
  background: url(../../resource/images/edit_cate_01.png) no-repeat 7px center;
  background-color: #fff;
}

.content_table td{
	border: 1px solid black;
}

.sysHelpContent{
	width: 100%;
	background: #fff;
}

.sysHelpView_left{
	float: left;
	width: 250px;
	height: 550px;
	position: fixed;
	overflow: scroll;
	background: #fff;
}

.content{
	margin-left: 10px;
}

.sysHelp_title{
	padding-top: 20px;
    text-align: center;
    color: #333;
    font-size: 24px;
}

.sysHelp_message{
	width: 250px;
	height: 20px;
	margin: 0 auto;
	margin-top: 10px;
}

.sysHelp_docCreator{
	float: left;
	width: 60px;
	text-align: center;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.sysHelp_docCreateTime{
	float: left;
	width: 150px;
	text-align: center;
}

.sysHelp_docStatus{
	float: left;
	width: 40px;
	text-align: center;
}







