<div class="muiPropertyDatetime">
	<div data-dojo-type="mui/form/DateTime"
		data-dojo-mixins="mui/datetime/_{type}Mixin"
		data-dojo-props="valueField:'{name}',value:'{value1}',dateType:'start'"></div>
</div>
<div class="muiPropertyDatetime">
	<div data-dojo-type="mui/form/DateTime"
		data-dojo-mixins="mui/datetime/_{type}Mixin"
		data-dojo-props="valueField:'{name}',value:'{value2}',dateType:'end'"></div>
</div>



