<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean
		name="/kms/common/kms_common_person_import/kmsPersonImport.do"
		class="com.landray.kmss.kms.common.actions.KmsPersonImportAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.kms.common.forms.KmsPersonImportForm" />
	</bean>
	<bean
		name="/kms/common/kms_common_person_import/kmsPersonUpload.do"
		class="com.landray.kmss.kms.common.actions.KmsPersonUploadAction"
		lazy-init="true"
		parent="KmssBaseAction">
	</bean>
	<bean
		name="/kms/common/kms_home_knowledge_intro/kmsHomeKnowledgeIntro.do"
		class="com.landray.kmss.kms.common.actions.KmsHomeKnowledgeIntroAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.kms.common.forms.KmsHomeKnowledgeIntroForm" />
		<property name="forwards">
			<map>
				<entry
					key="view"
					value="/kms/common/kms_home_knowledge_intro/kmsHomeKnowledgeIntro_view.jsp" />
				<entry
					key="edit"
					value="/kms/common/kms_home_knowledge_intro/kmsHomeKnowledgeIntro_edit.jsp" />
				<entry
					key="list"
					value="/kms/common/kms_home_knowledge_intro/kmsHomeKnowledgeIntro_list.jsp" />
				<entry
					key="data"
					value="/kms/common/kms_home_knowledge_intro/kmsHomeKnowledgeIntro_data.jsp" />
				<entry
					key="manageList"
					value="/kms/common/kms_home_knowledge_intro/kmsHomeKnowledgeIntro_data.jsp" />
				<entry
					key="listChildren"
					value="/kms/common/kms_home_knowledge_intro/kmsHomeKnowledgeIntro_data.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/kms/common/kms_home_knowledge_intro_portlet/kmsHomeKnowledgeIntroPortlet.do"
		class="com.landray.kmss.kms.common.actions.KmsHomeKnowledgeIntroPortletAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.kms.common.forms.KmsHomeKnowledgeIntroForm" />
		<property name="forwards">
			<map>
				<entry
					key="data"
					value="/kms/common/kms_home_knowledge_intro_portlet/kmsHomeKnowledgeIntro_list.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/kms/common/kms_common_doc_error_correction/kmsCommonDocErrorCorrection.do"
		class="com.landray.kmss.kms.common.actions.KmsCommonDocErrorCorrectionAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.kms.common.forms.KmsCommonDocErrorCorrectionForm" />
		<property name="forwards">
			<map>
				<entry
					key="edit"
					value="/kms/common/kms_common_doc_error_correction/kmsCommonDocErrorCorrection_edit.jsp" />
				<entry
					key="list"
					value="/kms/common/kms_common_doc_error_correction/kmsCommonDocErrorCorrection_list.jsp" />
				<entry
					key="view"
					value="/kms/common/kms_common_doc_error_correction/kmsCommonDocErrorCorrection_view.jsp" />
				<entry
					key="view.4m"
					value="/kms/common/mobile/view.jsp" />
				<entry
					key="viewinfo"
					value="/kms/common/kms_common_doc_error_correction/kmsCommonDocErrorCorrection_viewinfo.jsp" />
				<entry
					key="listModelCorrection"
					value="/kms/common/kms_comment/import/kmsCommonMain_list.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/kms/common/kms_common_recycle_log/kmsCommonRecycleLog.do"
		class="com.landray.kmss.kms.common.actions.KmsCommonRecycleLogAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.kms.common.forms.KmsCommonRecycleLogForm" />
		<property name="forwards">
			<map>
				<entry
					key="view"
					value="/kms/common/kms_common_recycle_log/kmsCommonRecycleLog_view.jsp" />
				<entry
					key="edit"
					value="/kms/common/kms_common_recycle_log/kmsCommonRecycleLog_edit.jsp" />
				<entry
					key="list"
					value="/kms/common/kms_common_recycle_log/kmsCommonRecycleLog_list.jsp" />
				<entry
					key="data"
					value="/kms/common/kms_common_recycle_log/kmsCommonRecycleLog_data.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/kms/common/kms_common_push/kmsCommonDatapush.do"
		class="com.landray.kmss.kms.common.actions.KmsCommonDataPushAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.kms.common.forms.KmsCommonDataPushForm" />
	</bean>
	<bean
		name="/kms/common/kms_share/kmsShareMain.do"
		class="com.landray.kmss.kms.common.actions.KmsShareMainAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.kms.common.forms.KmsShareMainForm" />
		<property name="forwards">
			<map>
				<entry
					key="view"
					value="/kms/common/kms_home_knowledge_intro/kmsHomeKnowledgeIntro_view.jsp" />
				<entry
					key="shareLogView"
					value="/kms/common/kms_share/share_log/kmsShareLog_view.jsp" />
				<entry
					key="listLog"
					value="/kms/common/kms_share/share_log/kmsShareLog_list.jsp" />
				<entry
					key="listShareModules"
					value="/kms/common/kms_share/kmsShareMain_dialog.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/kms/common/kms_notes/kmsCourseNotes.do"
		class="com.landray.kmss.kms.common.actions.KmsCourseNotesAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.kms.common.forms.KmsCourseNotesForm" />
		<property name="forwards">
			<map>
				<entry
					key="listUi"
					value="/kms/common/kms_course_notes/kmsCourseNotes_view_list.jsp" />
				<entry
					key="edit"
					value="/kms/common/kms_course_notes/kmsCourseNotes_edit.jsp" />
				<entry
					key="view"
					value="/kms/common/kms_course_notes/kmsCourseNotes_view.jsp" />
				<entry
					key="data"
					value="/kms/common/kms_course_notes/notes_porlet/kmsCourseNotes_porlet.jsp" />
				<entry
					key="viewPorlet"
					value="/kms/common/kms_course_notes/notes_porlet/kmsCourseNotes_viewPorlet.jsp" />
				<entry
					key="dataIndex"
					value="/kms/common/kms_course_notes/kmsCourseNotes_list.jsp" />
				<entry
					key="dataNotes"
					value="/kms/common/kms_course_notes/notes_porlet/kmsCourseNotes_notes_list.jsp" />
				<entry
					key="dataNoteCourse"
					value="/kms/common/kms_course_notes/notes_porlet/kmsCourseNotes_noteCourses_list.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/kms/common/kms_bookmark/KmsBookmarkMain.do"
		class="com.landray.kmss.kms.common.actions.KmsBookMarkMainAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.bookmark.forms.SysBookmarkMainForm" />
	</bean>
	<bean
		name="/kms/common/kms_comment_main/kmsCommentMain.do"
		class="com.landray.kmss.kms.common.actions.KmsCommentMainAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.kms.common.forms.KmsCommentMainForm" />
		<property name="forwards">
			<map>
				<entry
					key="data"
					value="/kms/common/kms_comment/kmsCommentMain_data.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/kms/common/kms_common_sensitive/kmsCommonSensitive.do"
		class="com.landray.kmss.kms.common.actions.KmsCommonSensitiveAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.kms.common.forms.KmsCommonSensitiveForm" />
		<property name="forwards">
			<map>
				<entry
					key="edit"
					value="/kms/common/kms_common_sensitive/kmsCommonSensitive_edit.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/kms/common/kms_common_at_users/kmsCommonAtUser.do"
		class="com.landray.kmss.kms.common.actions.KmsCommonAtUserAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.kms.common.forms.KmsCommonAtUserForm" />
	</bean>
	<bean
		name="/kms/common/kms_home_knowledge_intro_category/kmsHomeKnowledgeIntroCategory.do"
		class="com.landray.kmss.kms.common.actions.KmsHomeKnowledgeIntroCategoryAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.kms.common.forms.KmsHomeKnowledgeIntroCategoryForm" />
		<property name="forwards">
			<map>
				<entry
					key="edit"
					value="/kms/common/kms_home_knowledge_intro_category/kmsHomeKnowledgeIntroCategory_edit.jsp" />
			</map>
		</property>
	</bean>
	<bean name="/kms/common/kms_common_sso/kmsSSOAction.do"
        class="com.landray.kmss.kms.common.actions.KmsSSOAction"
        lazy-init="true"
        parent="KmssBaseAction">
        <property name="autoLoginHelper" ref="autoLoginHelper" />
    </bean>
    
    <!-- 知识提醒配置 -->
    <bean name="/kms/common/kms_knowledge_remind_config/kmsKnowledgeRemindConfig.do"
        class="com.landray.kmss.kms.common.actions.KmsKnowledgeRemindConfigAction"
        lazy-init="true"
        parent="KmssBaseAction">
        <property
			name="formType"
			value="com.landray.kmss.kms.common.forms.KmsKnowledgeRemindConfigsForm" />
       	<property name="forwards">
			<map>
				<entry
					key="edit"
					value="/kms/common/kms_knowledge_remind/kmsKnowledgeRemindConfig_edit.jsp" />
			</map>
		</property>
    </bean>
    
    <!-- 失效文档信息 -->
    <bean name="/kms/common/kms_knowledge_remind_info/kmsKnowledgeRemindInfo.do"
        class="com.landray.kmss.kms.common.actions.KmsKnowledgeRemindInfoAction"
        lazy-init="true"
        parent="KmssBaseAction">
        <property
			name="formType"
			value="com.landray.kmss.kms.common.forms.KmsKnowledgeRemindInfoForm" />
       	<property name="forwards">
			<map>
				<entry
					key="list"
					value="/kms/common/kms_knowledge_remind/index_data.jsp" />
			</map>
		</property>
    </bean>
    <bean id="kmsHomeKnowledgeIntroPortletController"
        class="com.landray.kmss.kms.common.actions.KmsHomeKnowledgeIntroPortletController">
    </bean>
    
    <bean
		name="/kms/common/kms_knowledge_mobile_home.do"
		class="com.landray.kmss.kms.common.actions.KmsKnowledgeMobileHomeAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property name="forwards">
			<map>
				<entry
					key="list"
					value="/kms/common/kms_knowledge_remind/index_data.jsp" />
				<entry 
					key="chart"
					value="/kms/common/mobile/module/kms_knowledge_chart.jsp"/>
			</map>
		</property>
	</bean>
	
	<bean
		name="/kms/common/kmsCommonPortlet.do"
		class="com.landray.kmss.kms.common.actions.KmsCommonPortletAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property name="forwards">
			<map>
			</map>
		</property>
	</bean>

	<bean
		name="/kms/common/kms_common_sys_profile/kmsCommonSysProfile.do"
		class="com.landray.kmss.kms.common.actions.KmsCommonSysProfileAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property name="forwards">
			<map>
			</map>
		</property>
	</bean>
<!-- 当前版本暂不开放，后续根据产品需求-->
<!--	<bean-->
<!--		name="/kms/common/kms_common_sys_profile/kmsCommonConfigSysProfile.do"-->
<!--		class="com.landray.kmss.kms.common.actions.KmsCommonConfigSysProfileAction"-->
<!--		lazy-init="true"-->
<!--		parent="KmssBaseAction">-->
<!--		<property-->
<!--			name="formType"-->
<!--			value="com.landray.kmss.sys.appconfig.forms.SysAppConfigForm" />-->
<!--	</bean>-->

</beans>