html, #content{
	background: #F7F7F7;
}

.muiSysOrgPersonContainer {
}

.muiSysOrgPersonContainer .muiSysOrgPersonTitle {
	padding: 0 1.25rem;
	background: #F7F7F7;
	height: 5.3rem;
	line-height: 5.3rem;
	font-size: var(--muiFontSizeS);
	color: #8F8F90;
	letter-spacing: -0.7px;
}

.muiSysOrgPersonContainer .muiSysOrgPersonItem {
	height: 5.3rem;
	background: #fff;
}

.muiSysOrgPersonContainer .muiSysOrgPersonItem .muiSysOrgPersonIcon {
	height: 2.2rem;
	width: 2.2rem;
	float: left;
    margin: 1.6rem 1rem 0 1.25rem;
    line-height: 2.2rem;
    text-align: center;
    font-size: var(--muiFontSizeXXL);
}

.muiSysOrgPersonIcon.muis-org-qrcode {
	color: #FF9540;
}

.muiSysOrgPersonIcon.muis-org-dingding {
	color: var(--muiFontColor);
}

.muiSysOrgPersonContainer .muiSysOrgPersonItem .muiSysOrgPersonLabelContainer {
	height: 100%;
	width: calc(100% - 4.45rem);
	float: left;
	border-bottom: 1px solid #EEEEEE;
}

.muiSysOrgPersonLabelContainer .muiSysOrgPersonLabel {
	line-height: 5.3rem;
	font-size: var(--muiFontSizeMA);
	font-weight: bold;
	color: #1A2025;
	width: calc(100% - 4.45rem);
	float: left;
}

.muiSysOrgPersonLabelContainer .muiSysOrgPersonLabelRight {
	float: right;
	height: 2.2rem;
	width: 2.2rem;
    margin: 1.6rem 1rem 0 1.25rem;
    color: #BFC0C2;
    line-height: 2.2rem;
    text-align: center;
}





