/* 表格 */
.tb_normal>tbody>tr>td {
	border: 1px black solid !important;
}

/* 公文 */
.titleDiv {
	padding-bottom: 5px;
	border-bottom: 2px;
	border-bottom-style: dotted;
	border-bottom-color: rgb(240, 20, 87);
	font-family: Microsoft YaHei, Geneva, "sans-serif", SimSun;
	font-size: 14px;
	font-weight: bold
}

/* 流程 */
#title {
	font-size: 22px;
	color: #000;
}

.tr_label_title {
	margin: 10px 0px 10px 0px;
}

.tr_label_title .title {
	font-weight: 900;
	font-size: 16px;
	color: #000;
	text-align: left;
	margin-left: 8px;
}

.page_line {
	background-color: red;
	height: 1px;
	border: none;
	width: 100%;
	position: absolute;
	overflow: hidden;
}

a:hover {
	color: #333;
	text-decoration: none;
}

#printTable {
	width: 1000px;
	margin-bottom: 10px;
}

.print_title_header {
	padding-bottom: 10px;
	border-bottom: 1px solid #dbdbdb;
}

.print_txttitle, .print_txttitle#title {
	font-size: 18px;
	color: #333;
	padding: 8px 0;
	text-align: center;
}

.printDate {
	text-align: right;
	color: #808080;
}
