<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean
		id="sysFormulaFuncTree"
		class="com.landray.kmss.sys.formula.web.SysFormulaFuncTree" />
	<bean
		id="sysFormulaDictVarTree"
		class="com.landray.kmss.sys.formula.web.SysFormulaDictVarTree" />
	<bean
		id="sysFormulaValidate"
		class="com.landray.kmss.sys.formula.web.SysFormulaValidate" />
    <bean
		id="sysFormulaValidateByJS"
		class="com.landray.kmss.sys.formula.web.SysFormulaValidateByScriptEngine" />
	<bean
		id="sysFormulaSimulate"
		class="com.landray.kmss.sys.formula.web.SysFormulaSimulate" >
		<property name="processServiceManager">
			<ref bean="lbpmProcessServiceManager" />
		</property>
	</bean>
	
	<bean
		id="sysFormulaSimulateByJS"
		class="com.landray.kmss.sys.formula.web.SysFormulaSimulateByJS" >
	</bean>
	
	<bean
		id="sysFormulaFuncTreeScriptEngine"
		class="com.landray.kmss.sys.formula.web.SysFormulaFuncTreeScriptEngine" />
	<bean
		id="userBean"
		class="com.landray.kmss.sys.formula.web.UserFunctionBean" />
</beans>
