.ld-application-form-list ul {
    padding-left: 0.3rem;
    border-top:1px solid #eee;
}
.ld-application-form-list ul li {
    /* height:1.45rem; */
    padding:0.3rem 0.3rem 0.3rem 0;
    border-bottom:1px solid #eee;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}
.ld-application-form-list ul li .ld-application-form-list-item-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .2rem;
}
.ld-application-form-list ul li .ld-application-form-list-item-top>div:first-child{
    display: flex;
    align-items: center;
}
.ld-application-form-list ul li .ld-application-form-list-item-top>div:last-child span{
    font-family: PingFangSC-Regular;
    font-size: 0.3rem;
    color: #434343;
}
.ld-application-form-list ul li .ld-application-form-list-item-top span{
    font-family: PingFangSC-Regular;
    font-size: 0.28rem;
    color: #434343;
    line-height: 0.36rem;
    display: inline-block;
    overflow: hidden;
    text-overflow:ellipsis;
    /* display:-webkit-box; */
    -webkit-box-orient:vertical;
    -webkit-line-clamp:2;
}
.ld-application-form-list ul li .ld-application-form-list-item-top span.subject{
	width:4.5rem;
    white-space:nowrap;
    margin-right:10px;
}
.ld-application-form-list ul li .ld-application-form-list-item-top span.tag{
    height:0.28rem;
    width:0.5rem;
    border:1px solid #ccc;
    border-radius: 0.02rem;
    background:#f0f0f0;
    font-size: 0.2rem;
    text-align: center;
    margin-right:0.2rem;
    line-height: .3rem;
    white-space: nowrap;
    padding: 0 2px;
    /* text-overflow: initial; */
    display: inline-block;
    overflow: visible;
}
.ld-application-form-list ul li .ld-application-form-list-item-top span.tag.pending{
    border:1px solid #A4C7FF;
    color:#A4C7FF;
    background:#EBF2FF;
}
.ld-application-form-list ul li .ld-application-form-list-item-top span.status30{
    height:0.34rem;
    width:0.6rem;
    border:1px solid #ccc;
    border-radius: 0.02rem;
    background:#f0f0f0;
    font-size: 0.2rem;
    text-align: center;
    margin-right:0.2rem ;
}
.ld-application-form-list ul li .ld-application-form-list-item-top span.status10{
    height:0.34rem;
    width:0.6rem;
    border:1px solid #ccc;
    border-radius: 0.02rem;
    background:#f0f0f0;
    font-size: 0.2rem;
    text-align: center;
    margin-right:0.2rem ;
}
.ld-application-form-list ul li .ld-application-form-list-item-top span.status11,
.ld-application-form-list ul li .ld-application-form-list-item-top span.status00{
    height:0.34rem;
    width:0.6rem;
    border:1px solid #ccc;
    border-radius: 0.02rem;
    background:#f0f0f0;
    font-size: 0.2rem;
    text-align: center;
    margin-right:0.2rem ;
}

.ld-application-form-list ul li .ld-application-form-list-item-top span.status20{
	height:0.34rem;
    width:0.6rem;
    border:1px solid #A4C7FF;
    border-radius: 0.02rem;
    color:#A4C7FF;
    background:#EBF2FF;
    font-size: 0.2rem;
    text-align: center;
    margin-right:0.2rem ;
}
.ld-application-form-list ul li .ld-application-form-list-item-top>div:last-child span:first-child{
    font-size: 0.24rem;
}
.ld-application-form-list ul li .ld-application-form-list-item-top>div:last-child span:last-child{
    font-size: 0.3rem;
}
.ld-application-form-list-item-time{
    font-size: 0.26rem;
    color: #999999;
}
.ld-tab-list-tab{
      height:0.88rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom:1PX solid #ccc;
  }
  .ld-tab-list-tab div {
      width:50%;
      text-align:center;
      height:100%;
      line-height: 0.88rem;
  }
  .ld-tab-list-swiper{
      overflow: hidden;
  }
  .ld-tab-list-tab div.active{
      color:#4285F4;
      border-bottom:1PX solid #4285F4;
      box-sizing: border-box;
  }
  .ld-tab-list-main ul li.ld-tab-list-main-list > div{
      display: flex;
      align-items: center;
      justify-content: space-between;
      height:1rem;
      padding:0 0.3rem;
      box-sizing: border-box;
  }
  .ld-tab-list-main ul li.ld-tab-list-main-list > div:first-child span:first-child{
      color:#434343;
      font-size: 0.3rem;
  }
  .ld-tab-list-main ul li.ld-tab-list-main-list > div:first-child{
      border-bottom: 1PX solid #eee;
  }
  .ld-tab-list-main ul li.ld-tab-list-main-list > div:last-child > div:last-child span.money{
      font-size: 0.36rem;
  }
.create—expense-btn {
    height:1.22rem;
    width:1.22rem;
    position: fixed;
    bottom:1.5rem;
    right:0.3rem;
    z-index: 99;
    background: url(../images/add.png) no-repeat center center;
    background-size: cover;
}
.backHome {
    height:0.9rem;
    width:0.9rem;
    position: fixed;
    bottom:3rem;
    right:0.49rem;
    z-index: 99;
    background-image: url(../images/backHome.png);
    background-repeat:no-repeat;
    background-size: 50%;
    background-position:center;
    background-color:#5087ed;
    border-radius:50%;
}
.oneBtn{
	bottom:1rem;
}
.create—expense-btn.create—expense-btn-hidden{
	 display: none;
}
.ld-list-status{
	width:0.6rem;
	height:0.4rem;
	line-height:0.4rem;
	padding: 0 0.1rem;
    border-radius: 0.05rem;
}
.ld-list-status-status10{
	background-color:#E9F4EF;
	color:#38C371;
}
.ld-list-status-status20{
	background-color:#EEF4FF;
	color:#4285F4;
}
.ld-list-status-status30,.ld-list-status-status00{
	background-color:#F4F4F4; 
	color:#999;
}
.ld-list-status-status11{
	background-color:#FFF1EC;
	color:#FF682B;
}