/* list */
.ld-notSubmit-list{
    padding: 0.3rem;
    width:100%;
}
.ld-notSubmit-list ul li label{
    display: flex;
    align-items: center;
    margin-bottom: 0.3rem;
}
.ld-notSubmit-list ul li label > .ld-checkBox {
    height:0.42rem;
    width:0.42rem;
    margin-right: 0.17rem;
    display: none;
}
.ld-notSubmit-list ul li label >.ld-notSubmit-list-item-box {
    border: 1px solid #ccc;
    /* display: flex; */
    flex:1;
    border-radius: 0.1rem;
    padding: 0.3rem;
    min-height:2.11rem;
    box-sizing: border-box;
}
.ld-notSubmit-list ul li:last-child{
    margin-bottom: 0;
}
.ld-notSubmit-list ul li> div .ld-notSubmit-list-top{
    display: flex;
    align-items: center;
    padding-bottom: 0.28rem;
    border-bottom: 1px solid #ccc;
}
.ld-notSubmit-list ul li .ld-notSubmit-list-top img {
    width:0.32rem;
    height:0.26rem;
    object-fit: cover;
    margin-right: 0.16rem;
}
.ld-notSubmit-list ul li .ld-notSubmit-list-top span {
    color: #434343;
    line-height: 0.28rem;
    font-size: 0.28rem;
}
.ld-notSubmit-list ul li .ld-notSubmit-list-top .ld-notSubmit-entryType{
    border:1px solid #ccc;
    border-radius: 0.02rem;
    background: #f0f0f0;
    font-size: 0.18rem;
    margin-left: 0.14rem;
    height:0.28rem;
    line-height: 0.26rem;
    box-sizing: border-box;
    padding: 0 0.05rem;
}
.ld-notSubmit-list ul li .ld-notSubmit-list-top .ld-notSubmit-entryType_0 {
     border-radius: 0.02rem;
     background: #f4f4f4;
     font-size: 0.18rem;
     margin-left: 0.14rem;
     height: 0.28rem;
     line-height: 0.26rem;
     box-sizing: border-box;
     padding: 0 0.05rem;
     color:#a0a0a0;
 }
 .ld-notSubmit-list ul li .ld-notSubmit-list-top .ld-notSubmit-entryType_1 {
     border-radius: 0.02rem;
     color: #38C371;
     background: #ebf4ef;
     font-size: 0.18rem;
     margin-left: 0.14rem;
     height: 0.28rem;
     line-height: 0.26rem;
     box-sizing: border-box;
     padding: 0 0.05rem;
 }
 .ld-notSubmit-list ul li .ld-notSubmit-list-top .ld-notSubmit-entryType_2 {
     border-radius: 0.02rem;
     color: #FF682B;
     background: #FFF1EC;
     font-size: 0.18rem;
     margin-left: 0.14rem;
     height: 0.28rem;
     line-height: 0.26rem;
     box-sizing: border-box;
     padding: 0 0.05rem;
 }
.ld-notSubmit-list ul li .ld-notSubmit-list-top .ld-notSubmit-entryType.ld-new{
    background: rgba(242,86,67,0.1);
    color: #F25643;
    border: 1px solid #F25643;
}
.ld-notSubmit-list-bottom{
    margin-top: 0.3rem;
}
.ld-notSubmit-list-bottom-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:0.37rem;
}
.ld-notSubmit-list-bottom-info > div {
    display:flex;
    align-items: center;
}
.ld-verticalLine{
    height:0.22rem;
    width:1px;
    background:#ccc;
    margin: 0 0.16rem;
}
.ld-notSubmit-list-bottom p {
    font-size: 0.26rem;
    height:0.37rem;
    line-height: 0.37rem;
    color: #999999;
    overflow: hidden;
	text-overflow:ellipsis;
    white-space: nowrap;
    margin-top: 0.15rem;
}
/* footer */
.ld-costDetail .ld-costDetail-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    height: 1.28rem;
    box-shadow: 0 5px 5px 5px #ddd;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0 0.2rem;
    box-sizing: border-box;
}
.ld-costDetail .ld-costDetail-footer .ld-costDetail-btn{
    background: #4285F4;
    border-radius: 10px;
    height:0.88rem;
    width:2.7rem;
    text-align: center;
    line-height: 0.88rem;
    color:white;
    font-size: 0.32rem;
}
.ld-costDetail .ld-costDetail-footer .ld-checkBox{
    width:auto;
}
.ld-costDetail .ld-costDetail-footer label {
    color:#999;
    font-size: 0.24rem;
}
.ld-costDetail-footer-del{
    font-size: 0.24rem;
    color: #F25643;
}
.ld-costDetail-total {
    display: flex;
    align-items: center;
}
.ld-costDetail-total span:first-child{
    font-size: 0.28rem;
    color: #434343;
}
.ld-costDetail-total span:last-child{
    font-size: 0.32rem;
    color: #4285F4;
}
.addOne {
    height:1.24rem;
    width:1.24rem;
    position: fixed;
    bottom:1.5rem;
    right:0.3rem;
    z-index: 99;
    background: url(../images/add.png) no-repeat center center;
    background-size: cover;
}
.addOne-hidden{
	display: none;
}
.ld-newApplicationForm-travelInfo-top span.feeTypeName{
	max-width: 4rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    vertical-align: middle;
}