.ld-invoice-detail{
    background: white;
    padding-bottom: 1.28rem;
}
.ld-invoice-img{
    background:#f2f2f2;
    height:3.44rem;
    padding: 0.3rem;
 }
 .ld-invoice-img img{
     height:3.44rem;
     width:100%;
     object-fit: contain;
     background: white;
     border-radius: 0.1rem;
 }
.ld-invoice-detail-info{
    background:#f2f2f2;
}
.ld-invoice-detail-info > div {
    background: white;
    padding-left:0.3rem ;
    margin-bottom: 0.3rem;
}

.ld-invoice-detail-info .ld-invoice-detail-info-top >div span,
.ld-invoice-detail-info .ld-invoice-detail-info-bottom >div span{
	color:#999;
    font-size:0.28rem;
} 

.ld-invoice-detail-info .ld-invoice-detail-info-top > div,
.ld-invoice-detail-info .ld-invoice-detail-info-bottom > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:1rem;
    border-bottom: 1px solid #ddd;
    padding-right: 0.3rem;
    box-sizing: border-box;
} 
.ld-invoice-detail-info .ld-invoice-detail-info-top > div input,
.ld-invoice-detail-info .ld-invoice-detail-info-bottom > div input{
	font-size:0.28rem;
    height:100%;
    border:none;
    outline: none;
    background: transparent;
    text-align: right;
    width:auto
}

.ld-invoice-detail-info .ld-invoice-detail-info-top > div input::placeholder,
.ld-invoice-detail-info .ld-invoice-detail-info-bottom > div input::placeholder{
	color:#999;
	font-size:0.28rem;
}


.ld-invoice-detail-info .ld-invoice-detail-info-top > div:last-child{
    border-bottom:0;
}
/* footer */
.ld-footer{
    background:white;
    height:1.28rem;
    padding: 0.2rem;
    box-sizing: border-box;
    box-shadow: 0 5px 5px 5px #ddd;
    display: flex;
    align-items: center;
    position: fixed;
    bottom:0;
    left:0;
    width:100%;
}
.ld-footer div {
    width: calc((100% - 20px)/2);
    text-align: center;
    background: #4285F4;
    border-radius: 0.1rem;
    color:white;
    height:0.88rem;
    line-height: 0.88rem;
}
.ld-footer div.ld-footer-del{
    background: #FFFFFF;
    border: 1px solid #4285F4;
    box-sizing: border-box;
    color:#4285F4;
    margin-right: 0.2rem;
}
.ld-footer div.ld-footer-whiteBg{
    background: #FFFFFF;
    border: 1px solid #4285F4;
    box-sizing: border-box;
    color:#4285F4;
    margin-right: 0.2rem;
}
 /* 新增发票模态框 */
 .ld-invoice-modal{
    height:100%;
    width:100%;
    position: fixed;
    top:0;
    left:0;
    background: rgba(0,0,0,.5);
    }
    .ld-invoice-modal-invoice{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    width:100%;
    padding:0 0.3rem;
    box-sizing: border-box;
    }
    .ld-invoice-modal-invoice  img {
       width:100%;
       object-fit: contain;
    }
    .ld-invoice-modal i{
        height: 0.6rem;
        width:0.6rem;
        position: absolute;
        right:0.3rem;
        top:0.72rem;
        background:url('../images/close.png') no-repeat center center;
        background-size: contain;
    }
.ld-remember-arrow{
    height:0.18rem;
    width:0.18rem;
    background: url(../images/arrow_right_gray.png) no-repeat center center;
    background-size: contain;
    margin-left: 0.06rem;
}