/* 未报费用 */
.ld-notSubmit-head{
    position: fixed;
    top:0;
    left:0;
    height:0.88rem;
    padding:0 0.3rem;
    display: flex;
    align-items: center;
    width:100%;
    box-sizing: border-box;
}
.ld-notSubmit-head .ld-notSubmit-head-left{
    flex:1;
}
.ld-notSubmit-head .ld-notSubmit-head-left ul{
    display: flex;
}
.ld-notSubmit-head .ld-notSubmit-head-left ul li {
    margin-right: 1.3rem;
    font-size: 0.28rem;
    color: #999999;
}
.ld-notSubmit-head .ld-notSubmit-head-left ul li.active{
    color: #4285F4;
}
.ld-notSubmit-head .ld-notSubmit-head-left ul li:last-child{
    margin-right: 0;
}
.ld-notSubmit-head .ld-notSubmit-select{
    width:0.86rem;
    text-align: right;
    border-left: 1px solid #ccc;
    font-size: 0.28rem;
}
/* 总计 */
.ld-notSubmit-main{
    margin-top: 0.88rem;
}
.ld-notSubmit-total{
    height:0.6rem;
    display: flex;
    justify-content: space-between;
    padding: 0 0.3rem;
    background: #F7F7F8;
    align-items: center;
    color:#999;
}
/* list */
.ld-notSubmit-list{
    padding: 0.3rem;
}
.ld-notSubmit-list ul li {
    border-radius: 0.1rem;
    padding: 0.3rem;
    margin-bottom: 0.3rem;
    min-height:2.11rem;
    box-sizing: border-box;
}
.ld-notSubmit-list ul li:last-child{
    margin-bottom: 0;
}
.ld-notSubmit-list ul li .ld-notSubmit-list-top{
    display: flex;
    align-items: center;
    padding-bottom: 0.28rem;
    border-bottom: 1px solid #ccc;
}
.ld-notSubmit-list ul li .ld-notSubmit-list-top img {
    width:0.32rem;
    height:0.26rem;
    object-fit: cover;
    margin-right: 0.16rem;
}
.ld-notSubmit-list ul li .ld-notSubmit-list-top span {
    color: #434343;
    line-height: 0.28rem;
    font-size: 0.28rem;
}
.ld-notSubmit-list ul li .ld-notSubmit-list-top .ld-notSubmit-entryType{
    border:1px solid #ccc;
    border-radius: 0.02rem;
    background: #f0f0f0;
    font-size: 0.18rem;
    margin-left: 0.14rem;
    height:0.28rem;
    line-height: 0.26rem;
    box-sizing: border-box;
    padding: 0 0.05rem;
}
.ld-notSubmit-list-bottom{
    margin-top: 0.3rem;
}
.ld-notSubmit-list-bottom-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:0.37rem;
}
.ld-notSubmit-list-bottom-info > div {
    display:flex;
    align-items: center;
}
.ld-verticalLine{
    height:0.22rem;
    width:1px;
    background:#ccc;
    margin: 0 0.16rem;
}
.ld-notSubmit-list-bottom p {
    font-size: 0.26rem;
    height:0.37rem;
    line-height: 0.37rem;
    color: #999999;
    overflow: hidden;
	text-overflow:ellipsis;
    white-space: nowrap;
    margin-top: 0.15rem;
}
.addOne {
    height:0.84rem;
    width:0.84rem;
    position: fixed;
    bottom:1.5rem;
    right:0.3rem;
    z-index: 99;
    background: url(../images/add.png) no-repeat center center;
    background-size: cover;
}