body .weui-search-bar__cancel-btn {
	color: #4285f4
}

body .weui-search-bar__label {
	line-height: 26px
}

body .weui-search-bar__box .weui-search-bar__input {
	color: #333
}

body .weui-search-bar__box .weui-search-bar__input {
	color: #333
}

body .weui-search-bar__label {
	line-height: 26px
}
body .weui-search-bar__cancel-btn {
	color: #4285f4
}

.weui-search-bar {
	position: relative;
	padding: 8px 10px;
	display: -ms-flexbox;
	display: flex;
	box-sizing: border-box;
	background-color: #efeff4
}

.weui-search-bar:before {
	top: 0;
	border-top: 1px solid #d7d6dc;
	transform-origin: 0 0;
	transform: scaleY(.5)
}

.weui-search-bar:after,.weui-search-bar:before {
	content: " ";
	position: absolute;
	left: 0;
	right: 0;
	height: 1px;
	color: #d7d6dc
}

.weui-search-bar:after {
	bottom: 0;
	border-bottom: 1px solid #d7d6dc;
	transform-origin: 0 100%;
	transform: scaleY(.5)
}

.weui-search-bar.weui-search-bar_focusing .weui-search-bar__cancel-btn {
	display: block
}

.weui-search-bar.weui-search-bar_focusing .weui-search-bar__label {
	display: none
}

.vux-search-box {
	width: 100%
}

.vux-search-bar,.vux-search-box {
	height: 58px !import
}

.weui-search-bar__form {
	position: relative;
	-ms-flex: auto;
	flex: auto;
	background-color: #efeff4
}

.weui-search-bar__form:after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 200%;
	height: 200%;
	transform: scale(.5);
	transform-origin: 0 0;
	border-radius: 10px;
	border: 1px solid #e6e6ea;
	box-sizing: border-box;
	background: #fff
}

.vux-search-mask {
	position: absolute;
	left: 0;
	top: 0;
	width: 90%;
	height: 100%;
	z-index: 5
}

.weui-search-bar__box {
	position: relative;
	padding-left: 30px;
	padding-right: 30px;
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	z-index: 1
}

.weui-search-bar__box .weui-search-bar__input {
	padding: 4px 0;
	width: 100%;
	height: 1.42857143em;
	border: 0;
	font-size: 14px;
	line-height: 1.42857143em;
	box-sizing: content-box;
	background: transparent
}

.weui-search-bar__box .weui-search-bar__input:focus {
	outline: none
}

.weui-search-bar__box .weui-icon-search {
	position: absolute;
	left: 10px;
	top: 0;
	line-height: 28px
}

.weui-search-bar__box .weui-icon-clear {
	position: absolute;
	top: 0;
	right: 0;
	padding: 0 10px;
	line-height: 28px
}
.weui-search-bar__label .weui-icon-search {
	margin-right: 5px
}

.weui-icon-clear,.weui-icon-search {
	color: #b2b2b2;
	font-size: 14px
}

.weui-search-bar__input:not(:valid)~.weui-icon-clear {
	display: none
}
.weui-search-bar__box .weui-search-bar__input {
	padding: 4px 0;
	width: 100%;
	height: 1.42857143em;
	border: 0;
	font-size: 14px;
	line-height: 1.42857143em;
	box-sizing: content-box;
	background: transparent
}

.weui-search-bar__box .weui-search-bar__input:focus {
	outline: none
}

.weui-icon-clear,.weui-icon-search {
	color: #b2b2b2;
	font-size: 14px
}
.weui-search-bar__label {
	position: absolute;
	top: 1px;
	right: 1px;
	bottom: 1px;
	left: 1px;
	z-index: 2;
	border-radius: 3px;
	text-align: center;
	color: #9b9b9b;
	background: #fff
}

.weui-search-bar__label span {
	display: inline-block;
	font-size: 14px;
	vertical-align: middle
}

.weui-search-bar__label .weui-icon-search {
	margin-right: 5px
}

.fs-com-search-bar .weui-search-bar__label {
	text-align: left;
	line-height: 26px;
	background-color: #f5f5f5
}

.fs-com-search-bar .weui-search-bar__label .weui-icon-search {
	margin-left: 10px
}

.fs-com-search-bar .weui-search-bar__cancel-btn {
	color: #4285f4
}

.weui-search-bar__cancel-btn {
	display: none;
	margin-left: 10px;
	line-height: 28px;
	color: #09bb07;
	white-space: nowrap
}

.weui-cells .weui-cell:before,body .vux-cell-box:not(:first-child):before {
	border-color: #d4d4d4;
	transform: scaleY(1)
}
.weui-cells:after {
	display: none
}

.weui-cells__title {
	font-size: 13px!important;
	color: #666!important;
	margin: 14px 0!important
}

.fs-me .weui-cells .fs-iconfont {
	color: #4285f4;
	font-size: 19px;
	margin-right: 10px;
	transform: scale(1.1);
	display: block
}
.weui-cells.vux-search_show {
	margin-top: 0!important;
	overflow-y: auto;
	position: fixed;
	width: 100%;
	max-height: 100%
}

.weui-cells.vux-search_show .weui-cell:last-child {
	margin-bottom: 150px
}

.weui-cells.vux-search_show::-webkit-scrollbar {
	display: none
}

.weui-cells.vux-search_show:after {
	display: none
}
.weui-cells_checkbox .weui-check:checked+.vux-checklist-icon-checked:before {
	color: #09bb07
}
.weui-cells_checkbox>label>* {
	pointer-events: none
}
.vux-group-footer-title.weui-cells__title {
	margin-top: .3em;
	margin-bottom: .77em;
	padding-top: 0;
	font-size: 12px
}
.weui-media-box_small-appmsg .weui-cells {
	margin-top: 0
}

.weui-media-box_small-appmsg .weui-cells:before {
	display: none
}
.weui-cells_radio .weui-cell__ft {
	padding-left: .35em
}
.weui-cells_radio .weui-check:checked+.weui-icon-checked:before {
	display: block;
	content: "\EA08";
	color: #09bb07;
	font-size: 16px
}
.weui-cells_checkbox .weui-cell__hd {
	padding-right: .35em
}

.weui-cells_checkbox .weui-icon-checked:before {
	content: "\EA01";
	color: #c9c9c9;
	font-size: 23px;
	display: block
}

.weui-cells_checkbox .weui-check:checked+.weui-icon-checked:before {
	content: "\EA06";
	color: #09bb07
}

.weui-cell_radio>* {
	pointer-events: none
}
.weui-cells_radio.vux-radio-disabled .weui-check:checked+.weui-icon-checked:before {
	opacity: .5
}
.weui-cells {
	margin-top: 1.17647059em;
	background-color: #fff;
	line-height: 1.41176471;
	font-size: 17px;
	overflow: hidden;
	position: relative
}

.weui-cells:before {
	top: 0;
	border-top: 1px solid #d9d9d9;
	transform-origin: 0 0;
	transform: scaleY(.5)
}

.weui-cells:after,.weui-cells:before {
	content: " ";
	position: absolute;
	left: 0;
	right: 0;
	height: 1px;
	color: #d9d9d9
}

.weui-cells:after {
	bottom: 0;
	border-bottom: 1px solid #d9d9d9;
	transform-origin: 0 100%;
	transform: scaleY(.5)
}

.weui-cells__title {
	margin-top: .77em;
	margin-bottom: .3em;
	padding-left: 15px;
	padding-right: 15px;
	color: #999;
	font-size: 14px
}

.weui-cells__title+.weui-cells {
	margin-top: 0
}
.weui-cells__tips {
	margin-top: .3em;
	color: #999;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 14px
}

.weui-cell {
	padding: 10px 15px;
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center
}

.weui-cell:before {
	content: " ";
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	height: 1px;
	border-top: 1px solid #d9d9d9;
	color: #d9d9d9;
	transform-origin: 0 0;
	transform: scaleY(.5);
	left: 15px
}

.weui-cell:first-child:before {
	display: none
}

.weui-cell_primary {
	-ms-flex-align: start;
	align-items: flex-start
}

.weui-cell__bd {
	-ms-flex: 1;
	flex: 1
}

.weui-cell__ft {
	text-align: right;
	color: #999
}



.weui-search-bar__input::-webkit-input-placeholder {
   text-align: center;
}
.weui-search-bar__input:-moz-placeholder {
    text-align: center;
}
.weui-search-bar__input:-ms-input-placeholder {
    text-align: center;
}


/* Firefox 4-18 */
.weui-search-bar__input:-moz-placeholder {
   text-align: center;
   -webkit-appearance: none;
}

/* Firefox 19-50 */
.weui-search-bar__input::-moz-placeholder {
    text-align: center;
   -webkit-appearance: none;
}

/* - Internet Explorer 10–11
   - Internet Explorer Mobile 10-11 */
.weui-search-bar__input:-ms-input-placeholder {
    text-align: center;
   -webkit-appearance: none;
}

/* Edge (also supports ::-webkit-input-placeholder) */
.weui-search-bar__input::-ms-input-placeholder {
    text-align: center;
   -webkit-appearance: none;
}

/* CSS Working Draft */
.weui-search-bar__input::placeholder {
    text-align: center;
   -webkit-appearance: none;
}

input[type="search"]::-webkit-search-cancel-button {
    display: none;
} 
