
.ld-new-reimbursement-form{
            background: #F2F2F2;
        }
       .ld-new-reimbursement-form-head{
           background: url(../images/applicationForm_bg.png) no-repeat center center;
           background-size: cover;
           padding:0.5rem 0.3rem;
           box-sizing: border-box;
           color:white;
       } 
    .ld-new-reimbursement-form-head-customer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #74A8FF;
        padding-bottom: 0.2rem;
    }
    .ld-new-reimbursement-form-head-customer span:first-child{
        font-family: PingFangSC-Medium;
        font-size: 0.46rem;
        color: #FFFFFF;
        letter-spacing: 0;
    }
    .ld-new-reimbursement-form-head-info {
        padding-top: 0.3rem;
    }
    .ld-new-reimbursement-form-head-info-department{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0.2rem;
    }
    .ld-new-reimbursement-form-head-info-department > div {
        display: flex;
        align-items: center;
    }
    .ld-new-reimbursement-form-head-info-department span {
        font-size: 0.28rem;
        line-height: 0.28rem;
    }
    .ld-new-reimbursement-form-head-info-department .ld-line {
        height:0.22rem;
        width:1px;
        background: white;
        margin: 0 0.2rem;
    }
    .ld-new-reimbursement-form-head-info-department > span{
        height:0.28rem;
        padding: 0 0.05rem;
        font-size: 0.2rem;
        border: 1px solid white;
        border-radius: 0.02rem;
    }
    .ld-new-reimbursement-form-head-info p {
        font-size: 0.28rem;
        line-height: 0.28rem;
    }
    .ld-new-reimbursement-form-main{
        padding: 0.35rem 0.3rem;
        box-sizing: border-box;
        background:white;
    }
    .ld-new-reimbursement-form-main-info-title{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0.3rem;
    }
    .ld-new-reimbursement-form-main-info-title span {
        font-family: PingFangSC-Medium;
        font-weight: 700;
        font-size: 0.32rem;
        color: #434343;
        letter-spacing: 0;
        line-height: 0.32rem;
    }
    .ld-new-reimbursement-form-main-info-title i {
        height:0.42rem;
        width: 0.42rem;
        background: url(../images/unfold.png) no-repeat center center;
        background-size: cover;
    }
    .ld-new-reimbursement-form-main-info {
        min-height:2.4rem;
    }
    .ld-new-reimbursement-form-main-info-content{
        padding: 0.3rem;
        border: 1px solid #ccc;
        border-radius: 0.1rem;
    }
    .ld-new-reimbursement-form-main-info-content .top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height:0.88rem;
        border-bottom: 1px solid #eee;
    }
    .ld-new-reimbursement-form-main-info-content .top .del{
        height:0.88rem;
        width:0.88rem;
        background: url(../images/del.png) no-repeat center center;
        background-size: cover;
        margin-right: -0.3rem;
    }
    .ld-new-reimbursement-form-main-info-content .top > div{
        display: flex;
        height:100%;
        align-items: center;
    }
    .ld-new-reimbursement-form-main-info-content .top > div img {
        height:0.32rem;
        width:0.32rem;
        margin-right: 0.15rem;
    }
    .ld-new-reimbursement-form-main-info-content .top > div span {
        font-size: 0.28rem;
        color: #434343;
    }
    .ld-new-reimbursement-form-main-info-content .bottom{
        padding-left:0.45rem;
        box-sizing: border-box;
        margin-top: 0.28rem;
    }
    .ld-new-reimbursement-form-main-info-content .bottom > div{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 0.26rem;
        color:#999;
    }
    .ld-new-reimbursement-form-main-info-content .bottom > div:first-child{
        font-size: 0.28rem;
        color: #434343;
        margin-bottom: 0.15rem;
    }
    .ld-new-reimbursement-form-main-info-content .travelType{
        display: flex;
        align-items: center;
    }
    .ld-new-reimbursement-form-main-info-content .travelType span:nth-child(2){
            height:0.22rem;
            width:1px;
            background: #999;
            margin: 0 0.15rem;
    }
    /* 附件 */
    .ld-new-reimbursement-form-attach{
        padding:0 0.3rem;
        background: white;
        margin: 0.2rem 0;
    }
    .ld-new-reimbursement-form-attach-title {
        height:0.97rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .ld-new-reimbursement-form-attach-title span:first-child{
        font-family: PingFangSC-Medium;
        font-size: 0.32rem;
        color: #434343;
    }
    .ld-new-reimbursement-form-attach-title i{
        height:0.42rem;
        width:0.42rem;
        background: url(../images/fold.png) no-repeat center center;
        background-size: cover;
    }
    /* 流程处理 */
    .ld-new-reimbursement-form-progress-title{
        height:0.8rem;
        display: flex;
        align-items: center;
        padding-left:0.15rem;
        border-bottom: 1px solid #ddd;
    }
    .ld-new-reimbursement-form-progress-title > i{
        height:0.5rem;
        width:0.5rem;
        background:url(../images/unfold.png) no-repeat center center;
        background-size: cover;
        margin-right: 0.1rem;
    }
    .ld-new-reimbursement-form-progress > ul {
        padding-left:0.15rem;
        background:white;
    }
    .ld-new-reimbursement-form-progress > ul li {
        height:0.8rem;
        border-bottom: 1px solid #eee;
        padding:0 0.15rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .ld-new-reimbursement-form-progress ul li div {
        display: flex;
        align-items: center;
    }
    .ld-new-reimbursement-form-progress ul li div img {
        height:0.5rem;
        width:0.5rem;
        background: red;
        margin-right: 0.15rem;
    }
    .ld-new-reimbursement-form-progress ul li div  span {
        font-family: PingFangSC-Medium;
        font-size: 0.32rem;
        color: #434343;
        font-weight: 700;
    }
    .ld-new-reimbursement-form-progress ul li > i {
        height:0.4rem;
        width:0.4rem;
        background: url(../images/arrow_jump.png) no-repeat center center;
        background-size: cover;
    }
    .ld-new-reimbursement-form-progress-node {
        background: white;
        padding: 0.2rem 0.3rem;
    }
    .ld-new-reimbursement-form-progress-node ul li{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 0.4rem;
        position: relative;
    }
    .ld-new-reimbursement-form-progress-node ul li:before{
        content:'';
        height:0.4rem;
        width:1px;
        background: #eee;
        position: absolute;
        top:0.4rem;
        left:0.2rem;
    }
    .ld-new-reimbursement-form-progress-node ul li:first-child {
        height:0.4rem;
        width:1rem;
        border-radius: 0.2rem;
        background: #666;
        font-size: 0.24rem;
        color:white;
    }
    .ld-new-reimbursement-form-progress-node ul li:first-child span:first-child{
        height:0.3rem;
        width:0.3rem;
        background: url(../images/arrow_right.png) no-repeat center center;
        background-size: cover;
    }
    .ld-new-reimbursement-form-progress-node ul li:nth-child(2) span:first-child{
        height:0.4rem;
        width:0.4rem;
        border-radius: 0.2rem;
        border: 1px solid #eee;
        position: relative;
        margin-right: 0.15rem;
    }
    .ld-new-reimbursement-form-progress-node ul li:nth-child(2) span:first-child:before{
        content: '';
        height:0.25rem;
        width: 0.25rem;
        border-radius: 0.125rem;
        background: skyblue;
        position: absolute;
        left:50%;
        top:50%;
        transform: translate(-50%,-50%);
    }
    
    .ld-entertain-detail-costInfo{
	    padding-left:0.3rem;
	    background-color:white;
	}
    .ld-entertain-detail-costInfo > div{
	    border-top: none;
	    border-bottom:1px solid #eee;
	}
	 .ld-entertain-detail-costInfo > div{
		display: flex;
		align-items: center;
		justify-content: space-between;
		height:1rem;
		padding-right:0.3rem;
		font-size: 0.28rem;
		color: #434343;
	}
	.ld-entertain-main-body {
	     position: fixed;
	     top: 0;
	     left: 0;
	     height: 0;
	     width: 100%;
	     background: white;
	     z-index: 99;
	     overflow: auto;
	 }
	 .ld-entertain-main-body div>span:first-child {
	     font-size: 0.28rem;
	     color: #434343!important;
	     align-items: center;
	 }
	 .ld-entertain-main-body input {
	     border: none;
	     background: transparent;
	     outline: none;
	     text-align: right;
	     font-size: 0.28rem;
	 }
	  .ld-entertain-main-body input::placeholder {
	     color: #999;
	     font-size: 0.28rem;
	 }
	 
	 .ld-entertain-main-body .ld-entertain-detail-item>div {
	     display: flex;
	     align-items: center;
	     justify-content: right;
	     font-size: 0.28rem;
	 }
	 .ld-entertain-main-body .ld-entertain-detail-item>div i {
	     height: 0.12rem;
	     width: 0.12rem;
	     border-right: 1PX solid #434343;
	     border-top: 1PX solid #434343;
	     transform: rotate(45deg);
	     margin-left: 0.1rem;
	     margin-top: -2PX;
	 }
	 .ld-entertain-main-body.ld-entertain-main-body-show {
	     height: 100%;
	 }
	 .ld-costDetail .ld-costDetail-footer{
	    display: flex;
	    justify-content: space-between;
	    align-items: center;
	    background: white;
	    height: 1.28rem;
	    box-shadow: 0 5px 5px 5px #ddd;
	    position: fixed;
	    bottom: 0;
	    left: 0;
	    width: 100%;
	    padding: 0 0.2rem;
	    box-sizing: border-box;
	}
.ld-costDetail .ld-costDetail-footer .ld-costDetail-btn{
    background: #4285F4;
    border-radius: 10px;
    height:0.88rem;
    width:2.7rem;
    text-align: center;
    line-height: 0.88rem;
    color:white;
    font-size: 0.32rem;
}
.ld-notSubmit-main{
    margin-top: 0.88rem;
    padding-bottom: 1.28rem;
}
.ld-costDetail .ld-costDetail-footer .ld-checkBox{
    width:auto;
}
.ld-costDetail .ld-costDetail-footer label {
    color:#999;
    font-size: 0.24rem;
}

.ld-addLoan-btn,
 .ld-entertain-detail-btn,
 .ld-addTrip-btn,
 .ld-addAccount-btn {
     background: #4285F4;
     border-radius: 0.08rem;
     height: 0.88rem;
     width: 7.1rem;
     margin: 1rem auto 0;
     line-height: 0.88rem;
     text-align: center;
     color: white;
     font-size: 0.32rem;
 }
 
 .backHome {
    height:0.9rem;
    width:0.9rem;
    position: fixed;
    bottom:3rem;
    right:0.49rem;
    z-index: 99;
    background-image: url(../images/backHome.png);
    background-repeat:no-repeat;
    background-size: 50%;
    background-position:center;
    background-color:#5087ed;
    border-radius:50%;
}
.editModel {
    height:0.9rem;
    width:0.9rem;
    position: fixed;
    bottom:1.8rem;
    right:0.49rem;
    z-index: 99;
    background-image: url(../images/edit.png);
    background-repeat:no-repeat;
    background-size: 60%;
    background-position:center;
    background-color:#5087ed;
    border-radius:50%;
}

    