<div class="edui-btns-group">
	<!--布局-->
	<div class="edui-btns-group-item">
		<div class="edui-btns-group-area">
			<div class="edui-btns-item">
				<div class="edui-icon edui-icon-m edui-icon-table"></div>
				<p class="edui-h4-title">表格</p>
			</div>
			<div class="edui-btns-item">
				<div class="edui-icon edui-icon-m edui-icon-merge-cell"></div>
				<p class="edui-h4-title">合并单元格</p>
			</div>
			<div class="edui-btns-item">
				<div class="edui-icon edui-icon-m edui-icon-split-cell"></div>
				<p class="edui-h4-title">拆分单元格</p>
			</div>
			<div class="edui-btns-item">
				<div class="edui-icon edui-icon-m edui-icon-insert-row"></div>
				<p class="edui-h4-title">插入行</p>
			</div>
			<div class="edui-btns-item">
				<div class="edui-icon edui-icon-m edui-icon-add-row"></div>
				<p class="edui-h4-title">追加行</p>
			</div>
			<div class="edui-btns-item">
				<div class="edui-icon edui-icon-m edui-icon-del-row"></div>
				<p class="edui-h4-title">删除行</p>
			</div>
			<div class="edui-btns-item">
				<div class="edui-icon edui-icon-m edui-icon-insert-col"></div>
				<p class="edui-h4-title">插入列</p>
			</div>
			<div class="edui-btns-item">
				<div class="edui-icon edui-icon-m edui-icon-add-col"></div>
				<p class="edui-h4-title">追加列</p>
			</div>
			<div class="edui-btns-item">
				<div class="edui-icon edui-icon-m edui-icon-del-col"></div>
				<p class="edui-h4-title">删除列</p>
			</div>
		</div>
		<div class="edui-btns-item">
			<div class="edui-icon edui-icon-m edui-icon-div"></div>
			<p class="edui-h4-title">DIV布局</p>
		</div>
		<div class="edui-btns-item">
			<div class="edui-icon edui-icon-m edui-icon-label"></div>
			<p class="edui-h4-title">多标签</p>
		</div>
		<div class="edui-btns-item">
			<div class="edui-icon edui-icon-m edui-icon-att-list"></div>
			<p class="edui-h4-title">属性列表</p>
		</div>
		<div class="edui-btns-item">
			<div class="edui-icon edui-icon-m edui-icon-att-layout"></div>
			<p class="edui-h4-title">属性布局</p>
		</div>
		<div class="edui-btns-item">
			<div class="edui-icon edui-icon-m edui-icon-newline"></div>
			<p class="edui-h4-title">换行控件</p>
		</div>
		<div class="edui-btns-item">
			<div class="edui-icon edui-icon-m edui-icon-img"></div>
			<p class="edui-h4-title">插入图片</p>
		</div>
		<div class="edui-btns-item">
			<div class="edui-icon edui-icon-m edui-icon-zoom-in"></div>
			<p class="edui-h4-title">放大画布</p>
		</div>
		<div class="edui-btns-item">
			<div class="edui-icon edui-icon-m edui-icon-zoom-out"></div>
			<p class="edui-h4-title">缩小画布</p>
		</div>
	</div>
</div>
<!--表格相关-->
<!--<div class="edui-for-table edui-popup-body" style="position: absolute; left:20px; top:100px">
	<div class="edui-popup-content edui-popup-listicon">
		<ul>
			<li class="edui-listitem edui-list-label">
			</li>
			<li class="edui-listitem edui-list-label">
			</li>
			<li class="edui-listitem edui-list-label">
			</li>
			<li class="edui-listitem edui-list-label">
			</li>
			<li class="edui-listitem edui-list-label">
			</li>
			<li class="edui-listitem edui-list-label">
			</li>
			<li class="edui-listitem edui-list-label">
			</li>
			<li class="edui-listitem edui-list-label">
			</li>
		</ul>
	</div>
</div>-->