<!--集成与辅助-->
<div class="edui-btns-group has-group-title">
	<div class="edui-btns-group-item">
		<div class="edui-btns-item">
			<div class="edui-icon edui-icon-m edui-icon-dynamic-select"></div>
			<p class="edui-h4-title">动态下拉框</p>
		</div>
		<div class="edui-btns-item edui-btn-active">
			<div class="edui-icon edui-icon-m edui-icon-event"></div>
			<p class="edui-h4-title">事件控件</p>
		</div>
		<div class="edui-btns-item">
			<div class="edui-icon edui-icon-m edui-icon-ctrip"></div>
			<p class="edui-h4-title">携程控件</p>
		</div>
		<div class="edui-btns-item">
			<div class="edui-icon edui-icon-m edui-icon-tiny-oa"></div>
			<p class="edui-h4-title">微协同</p>
		</div>
		<div class="edui-btns-item">
			<div class="edui-icon edui-icon-m edui-icon-jsp"></div>
			<p class="edui-h4-title">JSP片段</p>
		</div>
		<div class="edui-btns-splits"></div>
		<div class="edui-h3-title">集成</div>
	</div>
	<div class="edui-btns-group-item">
		<div class="edui-btns-item">
			<div class="edui-icon edui-icon-m edui-icon-flow-app"></div>
			<p class="edui-h4-title">审批控件</p>
		</div>
		<div class="edui-btns-item">
			<div class="edui-icon edui-icon-m edui-icon-flow-idea"></div>
			<p class="edui-h4-title">审批意见</p>
		</div>
		<div class="edui-btns-splits"></div>
		<div class="edui-h3-title">流程</div>
	</div>
	<div class="edui-btns-group-item">
		<div class="edui-btns-item">
			<div class="edui-icon edui-icon-m edui-icon-excel"></div>
			<p class="edui-h4-title">EXCEL导入</p>
		</div>
	</div>
</div>