.muiPortalSwipeLeftAndRightContainerScoll {
    margin-top: 1rem;
    overflow: hidden;
    margin: 1rem -1.2rem 0 -1.2rem;
}

.muiPortalSwipeLeftAndRightContainer {
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 2rem;
}

.muiPortalSwipeLeftAndRightContainer .muiPortalSwipeLeftAndRightPictrue {
    position: relative;
    display: inline-block;
    border-radius: .6rem;
    padding: 0 1rem;
    vertical-align: top;
    background-size: cover;
    background-position: center;
}

.muiPortalSwipeLeftAndRightContainer .muiPortalSwipeLeftAndRightPictrue:not(:first-child) {
    margin-left: 1rem;
}

.muiPortalSwipeLeftAndRightContainer .muiPortalSwipeLeftAndRightPictrue:first-child{
	margin-left: 1.2rem;
}
.muiPortalSwipeLeftAndRightContainer .muiPortalSwipeLeftAndRightPictrue:last-child{
	margin-right: 1.2rem;
}