<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean
		name="/sys/lbpmext/authorize/lbpm_authorize/lbpmAuthorize.do"
		class="com.landray.kmss.sys.lbpmext.authorize.actions.LbpmAuthorizeAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.lbpmext.authorize.forms.LbpmAuthorizeForm" />
		<property name="forwards">
			<map>
				<entry
					key="view"
					value="/sys/lbpmext/authorize/lbpm_authorize/lbpmAuthorize_view.jsp" />
				<entry
					key="view.4m"
					value="/sys/lbpmext/authorize/mobile/view.jsp" />
				<entry
					key="edit"
					value="/sys/lbpmext/authorize/lbpm_authorize/lbpmAuthorize_edit.jsp" />
				<entry
					key="edit.4m"
					value="/sys/lbpmext/authorize/mobile/edit.jsp" />
				<entry
					key="list"
					value="/sys/lbpmext/authorize/lbpm_authorize/lbpmAuthorize_list.jsp" />
				<entry
					key="listUi"
					value="/sys/lbpmext/authorize/person/lbpmAuthorize_listUi.jsp" />
				<entry
					key="list.4m"
					value="/sys/lbpmext/authorize/mobile/list.jsp" />
				<entry
					key="stopView"
					value="/sys/lbpmext/authorize/lbpm_authorize/lbpmAuthorize_stopview.jsp" />
			</map>
		</property>
	</bean>
	
	<bean
		name="/sys/lbpmext/authorize/lbpm_authorize/userAuthorizeScope.do"
		class="com.landray.kmss.sys.lbpmext.authorize.actions.UserAuthorizeScopeAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.lbpmext.authorize.forms.UserAuthorizeScopeForm" />
		<property name="forwards">
			<map>
				<entry
					key="edit"
					value="/sys/lbpmext/authorize/user_authorize_scope/userAuthorizeScope_edit.jsp" />
			</map>
		</property>
	</bean>
	
	
	<bean
		name="/sys/lbpmext/authorize/lbpm_authorize_scope/lbpmAuthorizeScope.do"
		class="com.landray.kmss.sys.lbpmext.authorize.actions.LbpmAuthorizeScopeAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.lbpmext.authorize.forms.LbpmAuthorizeScopeForm" />
		<property name="forwards">
			<map>
				<entry
					key="view"
					value="/sys/lbpmext/integrate/lbpm_authorize_scope/lbpmAuthorizeScope_view.jsp" />
				<entry
					key="edit"
					value="/sys/lbpmext/integrate/lbpm_authorize_scope/lbpmAuthorizeScope_edit.jsp" />
				<entry
					key="list"
					value="/sys/lbpmext/integrate/lbpm_authorize_scope/lbpmAuthorizeScope_list.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/sys/lbpmext/authorize/lbpm_authorize/lbpmAuthorize/lbpmAuthorizeLog.do"
		class="com.landray.kmss.sys.lbpmext.authorize.actions.LbpmAuthorizeLogAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.lbpmext.authorize.forms.LbpmAuthorizeLogForm" />
		<property name="forwards">
			<map>
				<entry
					key="view"
					value="/sys/lbpmext/authorize/log/lbpmAuthorizeLog_view.jsp" />
				<entry
					key="list"
					value="/sys/lbpmext/authorize/log/lbpmAuthorizeLog_list.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/sys/lbpmext/authorize/lbpm_authorize_history/lbpmAuthorizeHistory.do"
		class="com.landray.kmss.sys.lbpmext.authorize.actions.LbpmAuthorizeHistoryAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.lbpmext.authorize.forms.LbpmAuthorizeHistoryForm" />
		<property name="forwards">
			<map>
				<entry
					key="list"
					value="/sys/lbpmext/authorize/lbpm_authorize_history/lbpmAuthorizeHistory_list.jsp" />
			</map>
		</property>
	</bean>
</beans>