.lui_mportal_container {
	width: 100%;
	text-align: center;
	margin-top: 20px;
}

.lui_mportal_container>div {
	margin: 0 auto;
	width: 846px;
	overflow: hidden;
}

.lui_mportal_container>div a {
	position: relative;
	margin: 6px 0 0 6px;
	width: 200px;
	height: 73px;
	display: inline-block;
	line-height: 73px;
	background-color: #1d9d74;
	float: left;
}

.lui_mportal_logo {
	width: 153px;
	height: 20px;
	vertical-align: middle;
}

.selected .lui_mportal_tag {
	top: 0;
	right: 0;
	height: 30px;
	width: 30px;
	background-color: transparent;
	background: url("./cur_bg.png") no-repeat;
	position: absolute;
	z-index: 1;
	border-radius: 2px;
	line-height: 22px;
	text-align: center;
}
.lui_mportal_selectLogo_container>div {
    width: 630px;
}
.lui_mportal_selectLogo_container>.lui_widget_btn{
	width: 100px;
}