@charset "utf-8";
.modelAppSpacePorletsTitle{
    height: 42px;
    line-height: 42px;
    border-bottom: 1px solid #E5E5E5;
    padding: 0 18px;
}
.modelAppSpacePorletsTitleType{
    display: inline-block;
    font-size: 14px;
    color: #333333;
    font-weight: bold;
}
.modelAppSpaceIcon{
    display: inline-block;
    width: 16px;
    height: 16px;
}
.modelAppSpacePorletsTitleIcon{
    background: url(../images/switch.svg) no-repeat center;
    background-size: contain;
    float: right;
    position: relative;
    top: 12px;
    cursor: pointer;
}
.modelAppSpacePorletsContainer{
    padding: 14px 18px;
}
.modelAppSpacePorletsTitleNameContent{
    width: 100%;
    height: 30px;
    border: 1px solid #DDDDDD;
    border-radius: 2px;
    position: relative;
    padding: 0 8px;
    margin: 8px 0;
}
.modelAppSpacePorletsTitleNameContent>input{
    height:30px;
    width: 80%;
    font-size: 14px;
    color: #333333;
}
.modelAppSpacePorletsTitleNameContent>input::placeholder{
    font-size: 12px;
    color: #999999;
}
.modelAppSpacePorletsTitleNameContent>div{
    height:30px;
    line-height: 30px;
    float: right;
    font-size: 12px;
    color: #999999;
}
.colorColorDiv>div {
    width: 64px !important;
    height: 30px !important;
}
.modelAppSpacePorletsPallet{
    display: inline-block;
    width: 64px;
    height: 30px;
    margin-right: 8px;
    border-radius: 2px;
    /*border: 1px solid #DDDDDD;*/
    margin: 0 24px;
    background-color: #FFF;
}
.colorBox {
    box-sizing: border-box;
    width: 40px!important;
    height: 20px!important;
    border: 1px solid #eee !important;
}
.modelAppSpacePorletsRow{
    margin-bottom: 16px;
}
.modelAppSpacePorletsInlineRow{
    display: flex;
    display: -webkit-flex;
    align-items: center;
    margin-bottom: 16px;
}
.modelAppSpacePorletsBgContent{
    margin: 0 24px;
}
.modelAppSpacePorletsBgContent>label{
    font-size: 14px;
    color: #333333;
    margin-right: 40px;
}
.modelAppSpacePorletsBgContent>label>input[type=radio]{
    position: relative;
    top: 2px;
    margin-right: 6px;
}
.modelAppSpacePorletsBgOnColor{
    display: flex;
    display: -webkit-flex;
    align-items: center;
    padding: 12px 16px;
    background-color: #F8F8F8;
    border-radius: 4px;
    margin-bottom: 16px;
}
.modelAppSpacePorletsBgOnPicture{
    display: none;
    align-items: center;
    padding: 12px 16px;
    background-color: #F8F8F8;
    border-radius: 4px;
    margin-bottom: 16px;
}
.modelAppSpacePorletsUploadBtnBox{
    display: inline-block;
    width: 64px;
    height: 30px;
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 2px;
    padding: 4px;
    margin: 0 24px;
}
.modelAppSpacePorletsUploadBtn{
    height: 100%;
    background-color: #EEEEEE;
    text-align: center;
    cursor: pointer;
}
.modelAppSpacePorletsUploadBtn .modelAppSpacePorletsAdd{
    width: 11px;
    height: 11px;
    background: url(../images/add-porlet.svg) no-repeat center;
    background-size: contain;
    position: relative;
    top: 2px;
}
.modelAppSpacePorletsUploadTips{
    display: block;
    font-size: 12px;
    color: #999999;
    margin: 8px 0 12px 84px;
    font-family: PingFangSC-Regular;
    line-height: 14px;
    font-weight: 400;
    word-break:break-all;
    white-space:normal;
}

/* 下拉框 */
.muiPerformanceDropdownBox{
    display: inline-flex;
    display:-webkit-inline-flex;
    align-items: center;
    justify-content: space-between;
    height:30px;
    border: 1px solid #DDDDDD;
    background-color: #fff;
    border-radius: 2px;
    position: relative;
    padding:0 8px;
}
.muiPerformanceDropdownBox.active{
    background-color: #F6F9FF;
    border: 1px solid #4285F4;
}
.muiPerformanceDropdownBox>span{
    font-size: 12px;
    color: #999999;
}
.muiPerformanceDropdownBox input{
    font-size: 12px;
    color: #999999;
}
input::-webkit-input-placeholder { 
    /* WebKit browsers */ 
    color: #C3C3C3 ;
} 
input:-moz-placeholder { 
    /* Mozilla Firefox 4 to 18 */ 
    color: #C3C3C3;
} 
input::-moz-placeholder { 
    /* Mozilla Firefox 19+ */ 
    color: #C3C3C3;
} 
input:-ms-input-placeholder { 
    /* Internet Explorer 10+ */ 
    color: #C3C3C3;
}
.muiPerformanceDropdownBox>.muiPerformanceDropdownBoxIcon{
    float: right;
    width: 20px;
    height: 20px;
    background: url(../images/select_icon.png) no-repeat center;
    background-size: 10px 10px;
}
.muiPerformanceDropdownBox.active>.muiPerformanceDropdownBoxIcon{
    transform: rotate(180deg);
}
.muiPerformanceDropdownBoxList{
    display: none;
    width: 100%;
    position: absolute;
    top: 100%;
    right:-1px;
    background-color: #fff;
    border: 1px solid #DDDDDD;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.15);
    border-radius: 2px;
    z-index: 11;
    box-sizing: content-box;
    transform: translateY(1px);
}
.modelAppSpacePorletsDisplayListUl{
    white-space: normal;
}
.muiPerformanceDropdownBoxList>ul>li{
    display: flex;
    display: -webkit-flex;
    align-items: center;
    height: 30px;
    height:30px;
    font-size: 12px;
    padding:0 6px;
    background-color: #fff;
    cursor: pointer;
    color:#999999;
}
.muiPerformanceDropdownBoxList>ul>li:hover{
    background-color: rgba(66,133,244,0.10);
}
.watermark_coords_horizon_num{
    font-size: 14px;
    color: #333333;
}
.watermark_coords_vertical_num{
    font-size: 14px;
    color: #333333;
}
.modelAppSpacePorletsTitleType+.muiPerformanceDropdownBox{
    margin: 0 24px;
}
.modelAppSpacePorletsDisplayListUl{
    display: block;
}
.modelAppSpacePorletsDisplayListUl>li{
    display: inline-block;
    width: 70px;
    height: 70px;
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 2px;
    margin: 0 16px 16px 0;
    text-align: center;
    padding: 12px 0;
    cursor: pointer;
}
.modelAppSpacePorletsDisplayListUl>li>i{
    display: inline-block;
    width: 24px;
    height: 24px;
}
.modelAppSpacePorletsDisplayListUl>li>span{
    display: block;
    font-size: 12px;
    color: #333333;
}
.modelAppSpacePorletsDisplayListUl>li.active,.modelAppSpacePorletsDisplayListUl>li:hover{
    border: 1px solid #4285f4;
}
.modelAppSpacePorletsDisplayListUl>li.active>span,.modelAppSpacePorletsDisplayListUl>li:hover>span{
    color: #4285f4;
}

.modelAppSpacePorletsDisplayItemNum>i{
    background: url(../images/number-default.svg) no-repeat center;
    background-size: auto;
}
.modelAppSpacePorletsDisplayItemNum.active>i,.modelAppSpacePorletsDisplayItemNum:hover>i{
    background: url(../images/number.svg) no-repeat center;
    background-size: auto;
}
.modelAppSpacePorletsDisplayItemChart>i{
    background: url(../images/chart-default.svg) no-repeat center;
    background-size: auto;
}
.modelAppSpacePorletsDisplayItemChart.active>i,.modelAppSpacePorletsDisplayItemChart:hover>i{
    background: url(../images/chart.svg) no-repeat center;
    background-size: auto;
}
.modelAppSpacePorletsDisplayItemList>i{
    background: url(../images/list-default.svg) no-repeat center;
    background-size: auto;
}
.modelAppSpacePorletsDisplayItemList.active>i,.modelAppSpacePorletsDisplayItemList:hover>i{
    background: url(../images/list.svg) no-repeat center;
    background-size: auto;
}
.modelAppSpacePorletsDisplayItemCalendar>i{
    background: url(../images/calendar-default.svg) no-repeat center;
    background-size: auto;
}
.modelAppSpacePorletsDisplayItemCalendar.active>i,.modelAppSpacePorletsDisplayItemCalendar:hover>i{
    background: url(../images/calendar.svg) no-repeat center;
    background-size: auto;
}
.modelAppSpacePorletsDisplayItemGantt>i{
    background: url(../images/gantt-default.svg) no-repeat center;
    background-size: auto;
}
.modelAppSpacePorletsDisplayItemGantt.active>i,.modelAppSpacePorletsDisplayItemGantt:hover>i{
    background: url(../images/gantt.svg) no-repeat center;
    background-size: auto;
}
.modelAppSpacePorletsDisplayItemResource>i{
    background: url(../images/resource-panel-default.svg) no-repeat center;
    background-size: auto;
}
.modelAppSpacePorletsDisplayItemResource.active>i,.modelAppSpacePorletsDisplayItemResource:hover>i{
    background: url(../images/resouce-panel.svg) no-repeat center;
    background-size: auto;
}
.modelAppSpacePorletsDisplayItemPorlets>i{
    background: url(../images/porlet-default.svg) no-repeat center;
    background-size: auto;
}
.modelAppSpacePorletsDisplayItemPorlets.active>i,.modelAppSpacePorletsDisplayItemPorlets:hover>i{
    background: url(../images/porlet.svg) no-repeat center;
    background-size: auto;
}
.modelAppSpacePorletsTypeContent .muiPerformanceDropdownBox{
    width: 100%;
    margin-bottom: 16px;
}
.modelAppSpacePorletsListRow{
    margin: 0 0 8px 0;
}
.modelAppSpacePorletsDisplayHeight{
    width: 100%;
    height: 54px;
    background-color: #F8F8F8;
    border-radius: 2px;
    padding: 12px 16px;
}
.modelAppSpacePorletsSetValContent>span{
    display: inline-block;
    width: 40px;
    height: 28px;
    line-height: 30px;
    background-color: #FAFAFA;
    border: 1px solid #D9D9D9;
    text-align: center;
    font-size: 12px;
color: #666666;
}
.modelAppSpacePorletsSetValContent>input{
    display: inline-block;
    width: 60px;
    height:30px;
    background-color: #FFF;
    border: 1px solid #D9D9D9;
    border-left: 0;
    font-size: 12px;
    color: #333333;
    padding: 0 4px;
}
.modelAppSpacePorletsSetValContent{
    display: inline-flex;
    align-items: center;
    height: 30px;
}
.modelAppSpacePorletsDisplayHeight > .modelAppSpacePorletsSetValContentOption{
    display: inline-block;
    margin-left: 4px;
    font-size: 12px;
    color: #000000;
}
.modelAppSpacePorletsSetValContentOption input{
    position: relative;
    top: 2px;
}
.modelAppSpacePorletsChartContent,
.modelAppSpacePorletsDefaultContent{
    display: none;
}
.statistics_rule_button {
    width: 100%;
    border: 1px solid #DDDDDD;
    height: 30px;
    background: #ECECEC;
    border-radius: 2px;
    padding: 0px;
    text-align: center;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #333333;;
    font-weight: 400;
    text-align: center;
}
.statistics_rule_button_enable:hover{
    border: 1px solid #4285F4;
    color: #4285F4;
    font-size: 14px;
    font-weight: 400;
    width: 100%;
    height: 30px;
    background: #ECECEC;
    border-radius: 2px;
    padding: 0px;
    text-align: center;
}
.statistics_rule_button i{
    display: inline-block;
    width: 12px;
    height: 12px;
    position: relative;
    margin-right: 4px;
    background: url(../images/modeling-setting-blank.png) no-repeat center;
    background-size: contain;
}
.item-content{
    width: 100%;
}
.item-content-element-choose{
    width: 100%;
}
.item-content-element-choose i {
    width: 14px;
    height: 14px;
    background: url(../images/choose@2x.png) no-repeat center;
    background-size: contain;
    float: right;
    margin-top: 2px;
    cursor: pointer;
}
#_xform_fdDesc{
    border:1px solid #DDDDDD;
}
.muiPerformanceDropdownBox input{
    width: 100%;
}
.modelAppSpacePorletsListDataSettingBox {
    width: 100%;
    height: 54px;
    background-color: #F8F8F8;
    border-radius: 2px;
    padding: 12px 16px;
    margin: 12px 0;
}
.modelAppSpacePorletsListDataSettingPop {
    position: fixed;
    z-index: 9;
    /*top: 28px;
    left: 78px;*/
    width: 540px;
    height: auto;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.2);
}
.modelAppSpacePorletsListDataSettingPopContent {
    height: 290px;
    overflow-y: auto;
    overflow-x: hidden;
}
.modelAppSpacePorletsListDataSettingPopConditions {
    background-color: #F6F7FA;
    height: 40px;
    padding: 4px 4px;
    text-align: left;
}
.modelAppSpacePorletsListDataSettingPopFooter {
    width: 100%;
    padding: 8px 12px;
    height: 50px;
    border-top: 1px solid #eee;
    background-color: #fff;
}
.modelAppSpacePorletsListDataSettingPop::after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    z-index: 100;
    bottom: 50%;
    left: 100%;
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent transparent #FFF;
}

.open_rule_setting_where_create {
    width: 100%;
    float: left;
    display: inline-block;
    padding-left: 34px;
    padding-bottom: 8px;
    padding-top: 8px;
}
.open_rule_setting_action_title {
    width: 100%;
    height: 40px;
    background: #F6F7FA;
    font-family: PingFangSC-Medium;
    font-size: 14px;
    color: #333333;
    letter-spacing: 0;
    line-height: 40px;
    font-weight: 500;
    text-align: left;
    display: flex;
    text-indent: 16px;
}
.open_rule_setting_action_type {
    height: 40px;
    background: #FFFFFF;
    border-radius: 2px;
    padding: 8px 16px;
}
.open_rule_setting_action_type .open_rule_setting_action_type_select {
    width: 324px;
    float: left;
}

.open_rule_setting_where_create span {
    cursor: pointer;
    color: #4285F4;
    position: relative;
    /*float: right;*/
    margin: 0;
    border: 0;
    line-height: normal;
}
.open_rule_setting_where_create span:before {
    content: '';
    position: absolute;
    left: -18px;
    top: 1px;
    width: 14px;
    height: 14px;
    background: url(../images/modeling-add.png) no-repeat center;
    background-size: contain;
}
.muiPerformanceDropdownBoxList{
    overflow: auto;
    max-height: 260px;
}
.open_rule_setting_where_rule{
    padding-right: 10px;
    padding-left: 10px;
}
.open_rule_setting_where_rule>div{
    display:inline-block;
}
.open_rule_setting_where_content .open_rule_setting_where_rule_del i {
    display: inline-block;
    background: url(../images/modeling-delete.png) no-repeat center;
    width: 16px;
    height: 16px;
    background-size: 16px 16px;
}
.open_rule_setting_where_rule_field,.open_rule_setting_where_rule_field_operator{
    /*margin-right: 5px;*/
}
.open_rule_setting_where_rule_del{
    margin-left: 2px;
    position: relative;
    top: 5px;
}
.modelAppSpacePorletsInlineRow {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    margin-bottom: 16px;
}
.modelAppSpacePorletsTextarea>textarea {
    display: block;
    width: 100%;
    max-width: 100%;
    height: 120px;
    border: 1px solid #DDDDDD;
    border-radius: 2px;
    /* resize: none; */
    padding: 4px;
}
.modelAppSpacePorletsTitleNameContent{
    width: 100%;
    height: 30px;
    border: 1px solid #DDDDDD;
    border-radius: 2px;
    position: relative;
    padding: 0 8px;
    margin: 8px 0;
}
.modelAppSpacePorletsTitleNameContent>input{
    height:30px;
    width: 80%;
    font-size: 14px;
    color: #333333;
}
.modelAppSpacePorletsTitleNameContent>input::placeholder{
    font-size: 12px;
    color: #999999;
}
.modelAppSpacePorletsTitleNameContent>div{
    height:30px;
    line-height: 30px;
    float: right;
    font-size: 12px;
    color: #999999;
}
.modelAppSpacePorletsPallet{
    display: inline-block;
    width: 64px;
    height: 30px;
    margin-right: 8px;
    border-radius: 2px;
    margin: 0 24px;
    background-color: #FFF;
}
.modelAppSpacePorletsRow{
    margin-bottom: 16px;
}
.modelAppSpacePorletsInlineRow{
    display: flex;
    display: -webkit-flex;
    align-items: center;
    margin-bottom: 16px;
}
.modelAppSpacePorletsTextarea {
    width: 100%;
    position: relative;
}
.modelAppSpacePorletsTextarea>span {
    position: absolute;
    font-size: 12px;
    color: #C3C3C3;
    right: 10px;
    bottom: 10px;
}.modelAppSpacePorletsTextarea>span{
     position: absolute;
     font-size: 12px;
     color: #C3C3C3;
     right: 10px;
     bottom: 10px;
 }
.modelAppSpacePorletsInlineRowInput{
    display: flex;
    display: -webkit-flex;
    align-items: center;
    margin-bottom: 16px;
}
.flexDropdownBox{
    flex: 1;
    margin-right: 8px;
}
.modelAppSpacePorletsTextPallet{
    display: inline-block;
    width: 64px;
    height: 30px;
    margin-right: 8px;
    border-radius: 2px;
    background-color: #FFF;
}
.modelAppSpacePorletsTextOptionList{
    display: inline-block;
}
.modelAppSpacePorletsTextOption{
    float: left;
    width: 30px;
    height: 30px;
    border: 1px solid #DDDDDD;
    border-radius: 2px;
    text-align: center;
    margin-right: 8px;
    cursor: pointer;
}
.modelAppSpacePorletsTextOption.active{
    border-color: #4285f4;
}
.modelAppSpacePorletsTextOption.bold{
    background: url(../images/text_bold.png) no-repeat center;
    background-size: 10px;
}
.modelAppSpacePorletsTextOption.bold:hover{
    border: 1px solid #4285F4;
    background: url(../images/text_bold_hover.png) no-repeat center;
    background-size: 10px;
}
.modelAppSpacePorletsTextOption.bold.active{
    background: url(../images/text_bold_hover.png) no-repeat center;
    background-size: 10px;
}
.modelAppSpacePorletsTextOption.ital{
    background: url(../images/text_ital.png) no-repeat center;
    background-size: 8px;
}
.modelAppSpacePorletsTextOption.ital.active{
    background: url(../images/text_ital_hover.png) no-repeat center;
    background-size: 8px;
}
.modelAppSpacePorletsTextOption.ital:hover{
    border: 1px solid #4285F4;
    background: url(../images/text_ital_hover.png) no-repeat center;
    background-size: 8px;
}
.modelAppSpacePorletsTextOption.underline{
    background: url(../images/text_line.png) no-repeat center;
    background-size: 12px 14px;
}
.modelAppSpacePorletsTextOption.underline.active{
    background: url(../images/text_line_hover.png) no-repeat center;
    background-size: 12px 14px;
}
.modelAppSpacePorletsTextOption.underline:hover{
    border: 1px solid #4285F4;
    background: url(../images/text_line_hover.png) no-repeat center;
    background-size: 12px 14px;
}
.modelAppSpacePorletsTextOption.textLeft{
    background: url(../images/text_left.png) no-repeat center;
    background-size: 12px 14px;
}
.modelAppSpacePorletsTextOption.textLeft.active{
    background: url(../images/text_left_hover.png) no-repeat center;
    background-size: 12px 14px;
}
.modelAppSpacePorletsTextOption.textLeft:hover{
    border: 1px solid #4285F4;
    background: url(../images/text_left_hover.png) no-repeat center;
    background-size: 12px 14px;
}
.modelAppSpacePorletsTextOption.textCenter{
    background: url(../images/text_center.png) no-repeat center;
    background-size: 12px 14px;
}
.modelAppSpacePorletsTextOption.textCenter.active{
    background: url(../images/text_center_hover.png) no-repeat center;
    background-size: 12px 14px;
}
.modelAppSpacePorletsTextOption.textCenter:hover{
    border: 1px solid #4285F4;
    background: url(../images/text_center_hover.png) no-repeat center;
    background-size: 12px 14px;
}
.modelAppSpacePorletsTextOption.textRight{
    background: url(../images/text_right.png) no-repeat center;
    background-size: 12px 14px;
}
.modelAppSpacePorletsTextOption.textRight.active{
    background: url(../images/text_right_hover.png) no-repeat center;
    background-size: 12px 14px;
}
.modelAppSpacePorletsTextOption.textRight:hover{
    border: 1px solid #4285F4;
    background: url(../images/text_right_hover.png) no-repeat center;
    background-size: 12px 14px;
}
.enableLink>span{
    display: inline-block;
    margin-left: 8px;
    font-size: 12px;
    color: #999999;
}
.enableLink>label>input{
    position: relative;
    top: 2px;
}
.modelAppSpaceVarSizeInput{
    width: 48%;
    height: 30px;
    border: 1px solid #DDDDDD;
    border-radius: 2px;
    position: relative;
    padding: 0 8px;
    margin-bottom: 8px;
}
.modelAppSpacePorletsInput{
    width: 100%;
    height: 30px;
    border: 1px solid #DDDDDD;
    border-radius: 2px;
    position: relative;
    padding: 0 8px;
    margin-bottom: 8px;
}
.color-dom{
    width: 100% !important;
}
.no-input-link{
    background: #F2F2F2;
}
.statistics_rule_button_enable:hover i{
    width: 12px;
    height: 12px;
    background: url(../images/modeling-setting-white-hover@2x.png) no-repeat center;
    background-size: contain;
    display: inline-block;
}
.enableLink{
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #000000;
    letter-spacing: -0.14px;
    font-weight: 400;
}
.modelAppSpacePorletsSetValContentOption ,.modelAppSpacePorletsSetValContentOption {
    ont-family: PingFangSC-Regular;
    font-size: 12px;
    color: #000000;
    letter-spacing: -0.14px;
    font-weight: 400;
    margin-bottom: 16px;
}
.textarea-div{
    margin-bottom: 16px;
}
.open_rule_setting_where_rule_field {
    width: 30%;
}
.open_rule_setting_where_rule_field_value{
    width: 30%;
}
.open_rule_setting_where_rule_field_operator {
    width: 18%;
}
.open_rule_setting_where_rule_field_value_type{
    width: 18%;
}
.open_rule_setting_where_rule .inputsgl{
    width: 98%;
}
.modelAppSpacePorletPicturePosition{
    margin: 0 24px;
}
.modelAppSpacePorletPicturePosition>label{
    font-size: 14px;
    color: #333333;
    margin-right: 40px;
}
.modelAppSpacePorletPicturePosition>label>input[type=radio]{
    position: relative;
    top: 2px;
    margin-right: 6px;
}