/*doc_edit page*/
.eval_EditMain{
	height:  auto!important;
	text-align:left;
	min-height: 160px;
	width:100%;
	width: auto;
}

.eval_title_color{
	color:#646464;
}

.eval_opt_table tr td{
	padding: 3px 0px !important;
}

.eval_title{
	font-size: 14px;
	text-align: left;
	margin: 0px 6px 0px 0px;
	height: 20px;
	line-height: 20px;
	vertical-align: middle;
	font-weight: bold;
	display: inline-block;
}

.eval_star{
	height: 20px;
	display: inline-block;
	vertical-align: middle;
	margin-left:3px;
}

.eval_star li{
	list-style:none;
	display: inline-block;
	width: 16px;
	height: 20px;
	line-height: 20px;
	cursor: pointer;
	background-position: center center;
	background-repeat: no-repeat;
}
.eval_level{
	float:right;
	display:inline-block;
	height: 20px;
	line-height: 20px;
	vertical-align:middle;
	padding-left:19px;
	color:#646464;
	display: inline-block;
	background-position: left center;
	background-repeat: no-repeat;
	margin-right:7px;
}
.eval_content{
	height: 80px;
	width: 100%;
	border: 1px solid #DFDFDF; 
	overflow-y:auto;
}
.eval_button_disable{
	border: 1px solid gray;
	background: url("images/btn_bg1.jpg") repeat-x; 
	cursor: default;
}
.eval_button_disable:HOVER{
	border: 1px solid gray;
	background: url("images/btn_bg1.jpg") repeat-x; 
	cursor: default;
}

.eval_notify{
	height: 30px;
	line-height:30px;
	vertical-align: middle;
	display:inline-block;
}
.eval_prompt{
	display:none;
	height: 30px;
	vertical-align:middle;
	margin-right:4%;
	float: right;
}

.eval_hidden{
	display: none;
}

.eval_record{
	width:100%;
	margin-bottom:10px;
}


.eval_record_content{
	word-break: break-all;
	word-wrap: break-word;
	margin-bottom: 10px;
	line-height:18px;
	color:black;
}

.eval_summary{
	height: 16px;
	cursor: default;
}
.eval_summary span{
	height: 16px;
	float: left;
	margin-right: 8px;
}

.eval_evaler{
	color:#F09802;
}

.eval_summary_star{
	width: 120px;
	height: 16px;
	display: inline;
}

.eval_summary_star li{
	float:left;
	list-style:none;
	width: 16px;
	height: 16px;
}
.eval_delopt{
	display:none;
	color:#54a3cc;
	cursor: pointer;
	float:right!important;
}
.eval_doc_score{ 
	 position:relative;
	 height:26px; 
	 line-height:26px;
	 margin-bottom:10px;
}
.eval_doc_score span{
	display: inline-block;
}
.eval_score_mark{
	position:relative;
 	color:#f79301; 
 	font-size:32px; 
 	font-weight:bold; 
 	font-style:italic; 
 	height:26px; 
 	line-height:26px; 
 	margin-bottom:10px;
}
.eval_score,.eval_score_val{
	position:absolute;
	left: 60px;
	top: 8px;
	height:16px;
	width: 80px;
	background-position: left center;
	background-repeat: repeat-x;
}
.eval_record_dl>dd {
	position: relative;
	padding-left: 65px;
	padding-top: 18px;
}
.eval_record_dl dd .img {
	position: absolute;
	left: 5px;
	top: 18px;
}
.eval_record_dl dd .img img {
	width: 45px;
	height: 45px;
	border: 1px solid #e2e2e2;
}
.eval_record_dl dd .txt {
	/**padding-bottom: 18px;**/
}
.eval_record_dl dd .eval_info {
	height: 16px;
	line-height: 16px;
	color: #a3a3a3;
	margin-bottom: 10px;
}
.eval_record_dl dd .eval_author {
	color: #ffae00;
	font-size: 14px;
}
.eval_record_dl dd .eval_info .eval_delopt {
	color: #0086e4;
	cursor: pointer;
}
.eval_praise_reply{
	text-align: right;
	height: 27px;
}
.eval_praise {
	background: url(images/icon_thumbsUp.png) no-repeat left center;
	padding-left: 20px;
	cursor: pointer;
}
.eval_reply{
	background: url(images/icon_comment.png) no-repeat left center;
	padding-left: 17px;
	cursor: pointer;
	margin-left: 15px;
}
.eval_reply_info{
	padding: 8px 15px 1px;
}
.reply_content{
	/**
	background: #f8f8f8;
	padding: 10px 15px 10px;
	height:85px;**/
}
.replyIframe{
	padding: 10px 15px 30px;
	height:87px;
}
.eval_replys{
	position: relative;
	display:none;
}
.eval_replys .trig {
	display: inline-block;
	width: 18px;
	height: 9px;
	background: url(images/ico_trig.png) no-repeat left center;
	position: absolute;
	right: 12px;
	top: -9px;
}
.eval_reply_info .reply_li {
	position: relative;
	padding-left: 56px;
	margin-bottom: 15px;
	clear:both;
}
.lui_eval_biaoqing {
	cursor: pointer;
	text-align: center;
	float: left;
	list-style: none;
}
.eval_reply_info ul li .rtnPerson {
	position: absolute;
	left: 0px;
	top: 6px;
	width: 38px;
	height: 38px;
	border: 1px solid #e2e2e2;
}
.eval_reply_info ul li .eval_re_cont {
	margin-bottom: 0px;
	color: black;
	line-height: 24px;
	word-break: break-all;
}
.eval_re_cont .eval_author{
	margin: 0px 7px;
}
.eval_re_time{
	line-height: 22px;
	margin-bottom: 5px;
	color: #a3a3a3;
}
.eval_re_time>span{
	float:right;
}
.eval_re_time>span a{
	margin-left:10px;
}
.eval_re_reply{
	cursor: pointer;
	color: #a3a3a3;
	background: url(images/Comment_gray.png) no-repeat left center !important;
	display: inline-block;
	width:16px;
	height:17px;
}
.eval_re_dialogue{
	color: #a3a3a3;;
	cursor: pointer;
	background: url(images/ckdh.png) no-repeat left center !important;
	display: inline-block;
	width:16px;
	height:15px;
}
.eval_re_del{
	color: #a3a3a3;
	cursor: pointer;
	display: inline-block;
	width:16px;
	height:18px;
	background: url(images/delete.png) no-repeat left center !important;
}
.eval_reply_infos .eval_textarea,.eval_reply_infos .eval_textarea2{
	border: 0px solid #e6e6e6;
	background:white;
	width: 100%;
	height: 75px;
	overflow: hidden;
}
.eval_reply_submit{
	padding-top: 5px;
}
.eval_reply_tip{
	margin-right: 16px;
	line-height: 24px;
	color: #878787;
	display: block;
	float: right;
}
.reply_cont2{
	display:none;
	height: 115px;
	margin-left: -25%;
	margin-top: 14px;
	width: 125%;
}
/*.eval_textarea2{
	border: 1px solid #e6e6e6;
	background:white;
	height: 55px;
	overflow: hidden;
}*/
.eval_reply_words{
	word-break:break-all;
	margin-left:10px;
}
.eval_quote_cont{
	background: #f8f8f8 url(images/quote_L.png) no-repeat 10px 10px;
	margin-bottom: 10px;
	line-height: 22px;
	color: #2f7daa;
	padding: 15px 20px 12px 45px;
}
.eval_quote_cont blockquote {
	background: #f8f8f8 url(images/quote_R.png) no-repeat right bottom;
	padding-right: 36px;
}
.eval_record_dl dd .eval_info .eval_author{
	color: #ffae00;
	font-size: 14px;
	cursor: pointer;
	margin-right: 18px;
	float:left;
}
.eval_star_display{
	height: 16px;
}

.lui_eval_tooltip_share{
	width: 130px;
	padding: 6px 14px;
	border: 1px solid #35a9dc;
	background-color: #eefaff;
	position: absolute;
	display: none;
}
.lui_eval_tooltip_share a.lui_eval_share_icon1 {
	background: url(images/tooltip_share_icon_1.png) no-repeat 0 50%;
	margin-right: 15px;
}
.lui_eval_tooltip_share a {
	padding-left: 22px;
	font-size: 14px;
	color: #3e9ece;
}
.lui_eval_tooltip_share a.lui_eval_share_icon2 {
	background: url(images/tooltip_share_icon_2.png) no-repeat 0 50%;
}
.lui_eval_tooltip_share a {
	padding-left: 22px;
	font-size: 14px;
	color: #3e9ece;
}
.lui_eval_tooltip_share .lui_eval_mtrig {
	width: 0;
	height: 0;
	line-height: 0;
	border-width: 0 5px 5px 5px;
	border-style: dashed dashed solid dashed;
	position: absolute;
	right: 30px;
}
.lui_eval_tooltip_share .lui_eval_btrig {
	border-color: transparent transparent #35a9dc transparent;
	top: -5px;
}
.lui_eval_tooltip_share .lui_eval_mtrig {
	width: 0;
	height: 0;
	line-height: 0;
	border-width: 0 5px 5px 5px;
	border-style: dashed dashed solid dashed;
	position: absolute;
	right: 30px;
}
.lui_eval_tooltip_share .lui_eval_cover {
	border-color: transparent transparent #eefaff transparent;
	top: -4px;
}
.lui_eval_eva_title {
	padding: 10px 11px 6px 14px;
	clear: both;
}
.lui_form_summary_frame {
	border: #ebebeb 1px solid;
	background: #f8f8f8;
	font-size: 12px;
	margin: 0px 14px 10px;
	padding: 10px 10px 6px 10px;
	line-height: 20px;
	text-indent: 2em;
}
.lui_eval_eva_object {
	height: 60px;
	overflow-y: auto;
}
.lui_eval_eva_title {
	padding: 10px 11px 6px 14px;
	clear: both;
}
.lui_eval_eva_content {
	padding: 4px 11px 6px 14px;
	clear: both;
}
.eval_info .com_author {
	margin-right: 18px;
	float: left;
}
.eval_icons{
	display: inline-block;
	/**height: 24px;
	line-height: 24px;**/
	padding-left: 20px;
	background: url(images/icon_biaoqing.png) no-repeat 0 50%;
	cursor: pointer;
	float:left;
	padding-top:5px;
}
/*.eval_textarea2 img,.eval_textarea img{
	width:44px;
}*/
.eval_reply_info img{
	width:24px;
	height:24px;
}
.eval_reply_p{
	margin-right:8px;
	margin-left:8px;
	color: #6b6b6b;
}
.eval_biao_qing{
	width: 648px;
	position: absolute;
	border-radius: 3px;
	z-index: 999;
	background: #fff;
	background-color: #f9f9f9;
	border: 1px solid #ccc;
	margin-top: 25px;
	overflow: auto;
}
.eval_bq_close{
	width: 20px;
	height: 20px;
	overflow: hidden;
	cursor: pointer;
	float: right;
	margin-right: 10px;
	margin-top: 5px;
	background: url(images/close.png) no-repeat 0 50%;
}
.eval_bq_arrow{
	position: absolute;
	overflow: hidden;
	display: block;
	background: url(images/layer_arrow.png) no-repeat;
	width: 14px;
	height: 9px;
	top: -9px;
	left: 520px;
	background-position: 0 0;
}
.eval_bq_arrow_down {
	position: absolute;
	overflow: hidden;
	display: block;
	background: url(images/layer_arrow_down.png) no-repeat;
	width: 14px;
	height: 9px;
	top: 169px;
	left: 20px;
	background-position: 0 0;
}
.eval_reply_author{
	margin-right:5px;
}
.inputText{
	width: 93%;
	height: 32px;
	line-height: 32px;
	border: 1px solid #E7E7E7;
	color: #CCC;
	margin: 10px 2% 10px;
	padding-left: 2%;
}
.eval_content_iframe{
	border: 1px solid #DFDFDF;
	background:white;
	width: 100%;
	height: 78px;
	overflow: hidden;
	padding: 2px 2px;
}
.lui_eval_biaoqing{
	cursor:pointer;
	text-align:center;
}
#communication{
	padding: 0px; 
}
#communication [data-lui-type='lui/panel!Content'] {
	padding: 0px;
}
.eval_content_iframe body{
	height:63px;
}
.eval_border_line{
	border-top: 1px solid #e1e1e1;
	margin: 15px 0px 0px;
}
.class_taking_right_panel .lui_tabpanel_content_l{
	background-color:transparent;
}
.eval_reply_infos{
	border-bottom: 1px dashed #ccc;
}
.reply_cont_box{
	background:rgb(231,240,247);
}
.lui_icon_s_stargood {
	background-image: url(images/star_good.png);
}
.lui_icon_s_starbad {
	background-image: url(images/star_bad.png);
}
.eval_record .tmpl_cur .sys_praise{
	background: url(images/zan_gray.png) no-repeat left center !important;
}
.eval_record .tmpl_cur .sys_unpraise {
	background: url(images/zan_orge.png) no-repeat left center !important;
}
.eval_reply span {
	margin-left: 5px;
	color: #a3a3a3;
}
.lui_icon_s_recommend {
	background-image: url(images/zan_orge.png);
}
.lui_icon_s_poor {
	background-image: url(images/poor.png);
}
.eval_bq {
	height: 100%;
	float: right;
}
.replyers_dot{
	color:#F19703
}
#eval_button{
	float:right;
	
}
#eval_button .lui_toolbar_btn_l{
	width: 75px!important;
}
.eval_button{
	FONT-SIZE: 14px;
/* height: 25px; */
	LINE-HEIGHT: 25px;
	COLOR: #fff;
	TEXT-ALIGN: center;
	DISPLAY: block;
	border: 1px solid #35a1d0;
	BACKGROUND-COLOR: #47b5e6;
	width: 70px;
}
.eval_button_disable {
	border: 1px solid gray;
	cursor: default;
}
.reply_off{
	  background: url(images/Comment_gray.png) no-repeat left center;
}