<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean
		name="/third/mall/thirdMallAuthorize.do"
		class="com.landray.kmss.third.mall.action.ThirdMallAuthorizeAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property name="forwards">
			<map>
				<entry
					key="error"
					value="/third/mall/auth/error.jsp" />
				<entry
					key="auth_success"
					value="/third/mall/auth/auth_success.jsp" />
			</map>
		</property>
	</bean>
	
	<!-- 表单模板服务 -->
	<bean
		name="/third/mall/thirdMallTemplate.do"
		class="com.landray.kmss.third.mall.action.ThirdMallTemplateAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property name="forwards">
			<map>
				<entry
					key="index.4m"
					value="/third/mall/mobile/template/index.jsp" />
				<entry
					key="list.4m"
					value="/third/mall/mobile/template/list.jsp" />
			</map>
		</property>
	</bean>

	<bean
			name="/third/mall/thirdMallPublic.do"
			class="com.landray.kmss.third.mall.action.ThirdMallPublicAction"
			lazy-init="true"
			parent="KmssBaseAction">
		<property
				name="formType"
				value="com.landray.kmss.third.mall.forms.ThirdMallInfoForm"/>
		<property name="forwards">
			<map>
				<entry
						key="publicIndex"
						value="/third/mall/public/thirdMall_index.jsp" />
				<entry
						key="index"
						value="/third/mall/public/thirdMall_goodIndex.jsp" />
				<entry
						key="goodsData"
						value="/third/mall/public/thirdMall_good_data.jsp" />
				<entry
						key="view"
						value="/third/mall/public/thirdMall_view.jsp" />
				<entry
						key="xformView"
						value="/third/mall/template/kmReuseXformCarefully_review.jsp" />
				<entry
						key="tryUse"
						value="/third/mall/public/thirdMall_try_use.jsp" />

			</map>
		</property>
	</bean>
	<!-- 门户服务 -->
	<bean
		name="/third/mall/thirdMallPortal.do"
		class="com.landray.kmss.third.mall.action.ThirdMallPortalAction"
		lazy-init="true"
		parent="KmssBaseAction">
	</bean>
</beans>