.muiOrgEcoContainer {
    background-color: #fff;
    /* padding:0 20px; */
    padding: 0 15px;
}

.muiOrgEcoTitle {
    font-weight: bold;
    font-size: 1.8rem;
    color: #2A304A;
    /* margin:10px 0; */
    margin: 20px 0 15px;
}

.muiOrgEcoFlexList {
    display: flex;
    width: 100%;
    height: 120px;
    background-image: url("../../images/eco/eco.png");
    background-size: 100% 100%;
    box-shadow: 0 0 30px 0 rgba(153, 179, 210, 0.20);
    border-radius: 6px;
    align-items: center;
    justify-content: center;
    /* margin:20px 0; */
    margin: 15px 0;
}

.muiOrgEcoFlexList>li {
    flex: 1;
    text-align: center;
    position: relative;
    color: #FFFFFF;
}

.muiOrgEcoFlexList>li>p {
    font-family: DINAlternate-Bold;
    font-size: 3rem;
}

.muiOrgEcoFlexList>li>span {
    font-size: 1.2rem;
}

.muiOrgEcoPopulationList>li {
    height: 60px;
}

.muiOrgEcoPopulationList>li>.muiOrgEcoPopulationListLabel {
    float: left;
    width: 50px;
    height: 100%;
    position: relative;
}

.muiOrgEcoPopulationListLabel>span {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: #4285F4;
    border-radius: 35px;
    position: absolute;
    left: 0;
    top: 12px;
    text-align: center;
}

.muiOrgEcoPopulationListLabel>span>i {
    color: #fff;
    font-size: 1.8rem;
    line-height: 35px;
}

.muiOrgEcoPopulationList>li>.muiOrgEcoPopulationListInfo {
    float: left;
    width: calc(100% - 50px);
    height: 100%;
    line-height: 60px;
    border-bottom: 1px solid #eee;
}

.muiOrgEcoPopulationListInfo>p {
    float: left;
    font-size: var(--muiFontSizeM);
    color: #2A304A;
    max-width: 75%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.muiOrgEcoPopulationListInfo>span {
    float: right;
    font-size: 1.4rem;
    color: #2A304A;
}

.muiOrgEcoPopulationListInfo>span>i {
    font-size: 1.4rem;
    color: #9DA0AF;
    margin-left: .5rem;
}

.muiCateSearchArea.muiAddressSearchArea {
    margin-bottom: 1rem;
}

.muiOrgEcoAddBtnGroup {
    position: fixed;
    bottom: 0;
    text-align: center;
    line-height: 4.7rem;
    background: #fff;
    width: 100%;
    padding: 1rem .5rem;
    box-sizing: border-box;
    display: flex;
}

.muiOrgEcoAddBtnGroup .muiOrgEcoAddPostBtn,
.muiOrgEcoAddBtnGroup .muiOrgEcoAddPersonBtn.single,
.muiOrgEcoAddBtnGroup .muiOrgEcoAddGroupBtn,
.muiOrgEcoAddBtnGroup .muiOrgEcoAddPersonBtn{
	height: 4rem;
	line-height:4rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    color: var(--muiFontColor);
    background: #fff;
    font-size: var(--muiFontSizeM);
    flex: 1;
    margin:0 .5rem;
}

.muiOrgEcoAddBtnGroup .muiOrgEcoAddGroupBtn {
    
}

.muiOrgEcoAddBtnGroup .muiOrgEcoAddGroupBtn.single {
    width: 100%;
}

.muiOrgEcoAddBtnGroup .muiOrgEcoAddPersonBtn {
	
}

.muiOrgEcoAddBtnGroup .muiOrgEcoAddPersonBtn.single {
    display: none;
}


.muiOrgEcoAddBtnGroup .muiOrgEcoAddPostBtn {
    
}

.muiOrgEcoAddBtnGroup .muiOrgEcoAddPostBtn.single {
    display: none;
}

.muiOrgEcoList {
    margin-bottom: 6rem;
}

.muiListNoData {
    height: inherit !important;
    line-height: inherit !important;
}

.muiOrgEcoCard {
    /* margin: 1rem 1rem 0 1rem; */
    margin: 1.5rem;
    height: 12rem;
    background-image: url(../../images/dept/dept.png);
    background-size: 100% 100%;
    color: #fff;
    border-radius: 10px;
    font-size: var(--muiFontSizeMS);
    display: none;
}

.muiOrgEcoCard>div {
    /* padding: 1rem 0 0 2rem; */
    padding-left: 2rem;
}

.muiOrgEcoCard .muiOrgEcoCardfdName {
    height: 2.5rem;
    line-height: 2.5rem;
    /* padding-top: 1.8rem; */
    padding-top: 2rem;
    padding-bottom: 1rem;
    font-size: var(--muiFontSizeLA);
}

.muiOrgEcoCard .muiOrgEcoCardfdName div:FIRST-CHILD {
    max-width: 85%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.muiOrgEcoCard .muiOrgEcoCardArrow {
    /* margin-left: 1rem; */
    margin-left: 1.4rem;
    float: left;
    font-size: var(--muiFontSizeSS);
}

.muiOrgEcoCard .addAdmin {
    text-decoration: underline;
}

.muiOrgEcoCardfdNum>span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    float: left;
}

.muiOrgEcoCardfdNum>span:FIRST-CHILD {
    width: 15%;
}

.muiOrgEcoCardfdNum>span:LAST-CHILD {
    width: 80%;
}

.muiOrgEcoCardfdAdmin>span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    float: left;
}

.muiOrgEcoCardfdAdmin>span:FIRST-CHILD {
    width: 19%;
}

.muiOrgEcoCardfdAdmin>span:LAST-CHILD {
    width: 80%;
}

.clearfix:after {
    content: " ";
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
}

.clearfix {
    zoom: 1;
    margin-bottom: .5rem;
}

.muiOrgEcoList.muiAddressList .muiCateIcon {
    padding-left: 0;
}

.sysOrgEcoContainer{
    padding: 0 1.2rem;
}
.sysOrgEcoSearchBox{
    height:3.8rem;
    line-height: 3.8rem;
    background-color: #f7f7f8;
    border-radius: 4px;
    font-size: 1.3rem;
    margin:1.2rem 0;
    position: relative;
}
.sysOrgEcoSearchInput{
    width: 100%;
    height:100%;
    padding-left:2.6rem;
    box-sizing: border-box;
    border: none;
    background: inherit;
}
.sysOrgEcoSearchBox>.fontmuis{
    position: absolute;
    color: #999fb7;
    left:8px;
}
.sysOrgEcoSearchBox>.fontmuis.searchClose{
	position: absolute;
    color: #999fb7;
	font-size: 1rem;
	right: 8px;
	left: inherit;
	top: 0;
	display: none;
}
.sysOrgEcoSearchInput::placeholder{
    color: #999fb7;
}
.sysOrgEcoSearchListItem>li{
    height:8rem;
    border-bottom: 1px solid #F2F2F2;
}
.sysOrgEcoSearchListItemProfile{
    float: left;
    width: 20%;
    height:100%;
    text-align: center;
}
.sysOrgEcoSearchListItemProfile>img{
    width: 6rem;
    height:6rem;
    border-radius: 6rem;
    margin-top:1rem;
}
.sysOrgEcoSearchListItemContent{
    display: inline-block;
    width: 80%;
    height:100%;
    position: relative;
}
.sysOrgEcoSearchListItemContent>p{
    width: 100%;
    font-size: 1.5rem;
    margin:16px 0 8px 0;
    padding: 0 2rem 0 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.sysOrgEcoSearchListItemContent>span{
    display: inline-block;
    width: 100%;
    font-size: 1.3rem;
    color: #999;
    padding: 0 2rem 0 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
}
.sysOrgEcoSearchListItemContent>.muis-to-right{
    position: absolute;
    top:calc(50% - .8rem);
    right:5px;
    color: #666;
}

.add_person {
    list-style: none;
    padding-top: 5px;
}

.add_person li:first-child {
    border-bottom: 1px solid #ddd;
}

.add_person li {
    text-align: center;
    font-size: 16px;
    color: #2A304A;
    padding: 15px 0;
}

.muiDialogElement .muiDialogElementContainer_bottom {
    min-height: 1%;
}