 .lui_profile_block_grid_home_btn{
     width: 40px;
     height: 40px;
     color: rgba(0,0,0,.35);
     display: block;
     transition-duration: .3s;
     position: absolute;
     right: 0;
     top: 0;
     z-index: 10;
   }
   .lui_profile_block_grid_home_btn:hover{ color: rgba(0,0,0,.6) }
   .lui_profile_block_grid_home_btn:before{
     content: '';
     width: 0;
     height: 0;
     border-top: 20px dashed;
     border-top: 20px solid \9;
     border-right: 20px dashed;
     border-right: 20px solid \9;
     border-left: 20px solid transparent;
     border-bottom: 20px solid transparent;
     position: absolute;
     right: 0;
     top: 0;
   }
   .lui_profile_block_grid_home_btn > .icon{
     width: 100%;
     height: 100%;
     background: url(../images/icon-s-profile-home.png) no-repeat 22px 5px;
     display: block;
     position: relative;
     z-index: 10;
   }