@CHARSET "UTF-8";
h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    padding: 0px;
    font-weight: normal;
    font-style: normal;
}
.lui_profile_integrate_overview_wrap {
	position:absolute;
	margin: auto;
  	width: 870px;
	height: 534px;
    left: 0px;
    top: 0px;
    right:0px;
    bottom:0px;
}
.lui_profile_integrate_overview_center{
    width: 502px;
	height: 464px;
	background: url(../images/integrate_overview_circle.png) no-repeat center;
	position: absolute;
	left: 189px;
	top: 0px;
}
/*.lui_profile_integrate_overview_circle{
	width: 369px;
    height: 369px;
    background: url(../images/integrate_overview_circle.png) no-repeat center;
    position: absolute;
    left: 93px;
    top: 57px;
}*/
/*.lui_profile_integrate_overview_logo{
	display: inline-block;
    vertical-align: middle;
    width: 93px;
    height: 66px;
    background: url(../images/integrate_overview_logo.png) no-repeat left center;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
}*/
.lui_profile_integrate_overview_textRight{
	text-align: right;
}
.lui_profile_integrate_overview_textLeft{
	text-align: left;
}

.lui_profile_integrate_overview_item {
    width: 178px;
    padding-right: 15px;
    position: absolute;
}
.lui_profile_integrate_overview_item h4 {
    color: inherit;
    font-size: 16px;
    font-weight: normal;
    margin: 0px;
    margin-bottom: 10px;
    line-height: 26px;
}
.lui_profile_integrate_overview_desc{
    color: #949494;
    font-size: 14px;
}

.lui_profile_integrate_overview_item.item01 {
	display: none;
    left: 140px;
    top: -6px;
    color: #ffb574;
}
/*其他应用中心*/
.lui_profile_integrate_overview_item.item02 {
	left: 0px;
	top: 152px;
	color: #5ad4d9;
	}
/*统一用户中心*/
.lui_profile_integrate_overview_item.item03 {
    left: 120px;
    top: -5px;
    color: #7eaff4;
}
/*邮件集成*/
.lui_profile_integrate_overview_item.item04 {
    left: 35px;
    top: 346px;
    color: #fd9e9c;
}
/*报表集成*/
.lui_profile_integrate_overview_item.item05 {
    left: 585px;
    top: -7px;
    color: #b4d86e;
}
/*Webservice服务*/
.lui_profile_integrate_overview_item.item06 {
   	left: 700px;
   	top: 150px;
   	color: #f7ca65;
}
/*TIB集成*/
.lui_profile_integrate_overview_item.item07 {
    left: 665px;
    top: 346px;
    color: #5cc7fb;
}
/*SAAS集成*/
.lui_profile_integrate_overview_item.item08 {
    left: 458px;
    top: 445px;
    color: #66dab5;
}
@media only screen  and (max-width:1400px) {
	.lui_profile_integrate_overview_item h4{ font-size: 16px;}
}
@media only screen  and (max-height:600px) {
	.lui_profile_integrate_overview_wrap {
		height: 484px;
		left: 50%;
		top: 20px;
		right:auto;
		bottom:auto;
		margin-left: -435px;
	}
}