@CHARSET "UTF-8";
.lui_profile_org_box{
  margin: 0 auto;
  width: 940px;
  height: 530px;
  padding: 10px;
  background: url(../images/profile_org_bg.png) no-repeat 50%;
 	position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -265px;
  margin-left: -470px;

}
.lui_profile_org_box a {
	cursor: pointer;
}
.lui_profile_icon{
  width: 32px;
  height: 32px;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: 50%;
  display: inline-block;
}
.lui_profile_icon_lg{
  width: 56px;
  height: 56px;
}
.lui_profile_icon_lg_1{ 
	background-image: url(../images/profile_org_icon_big_01.png); 
}
.lui_profile_icon_lg_2{ 
	background-image: url(../images/profile_org_icon_big_02.png); 
}
.lui_profile_icon_lg_3{ 
	background-image: url(../images/profile_org_icon_big_03.png); 
}

.lui_profile_org_main_point{
  padding: 15px;
  width: 112px;
  height: 112px;
  color: #fff;
  font-size: 16px;
  text-align: center;
  background-repeat: no-repeat;
  background-position: 50%;
  display: block;
  position: absolute;
}
.lui_profile_org_main_point:after{
  content: '';
  width: 142px;
  height: 142px;
  background: url(../images/profile_org_polygon.png) no-repeat 50%;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}
.lui_profile_org_point{
  width: 90px;
  height: 90px;
  text-align: center;
  line-height: 1;
  color: #323941;
  font-size: 14px;
  display: block;
  border-radius: 50%;
  background-color: #eaf6ff;
  background-repeat: no-repeat;
  background-position: 50%;
  transition: all .3s;
  position: absolute;
  background:url(../images/profile_organizational-point_2.png) no-repeat 0px 0px\9; };
}
a.lui_profile_org_point{
  cursor: pointer;
}
a.lui_profile_org_point:hover{
  background-color: #d2ecff;
  -webkit-box-shadow: 0 2px 5px rgba(0,0,0,.35);
          box-shadow: 0 2px 5px rgba(0,0,0,.35);
  -webkit-transform:translate3d(0,-2px,0);
          transform:translate3d(0,-2px,0);
  background:url(../images/profile_organizational-point_2.png) no-repeat -90px 0px\9; };
}
.lui_profile_org_title{
  margin: 0;
  padding: 0;
  color: inherit;
  font-size: inherit;
  font-weight: normal;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.lui_profile_org_count{
  font-size: 12px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.lui_profile_org_point > .lui_profile_icon{
  margin: 12px auto 4px;
  display: block;
}
.lui_profile_org_point > .lui_profile_org_count{ margin-top: 2px; }
.lui_profile_org_main_point > .lui_profile_icon_lg{
  margin: 20px auto 2px;
  display: block;
}

.lui_profile_org_main_point.main_point_one{
  background-image: url(../images/profile_org_item_bg.png);
  left: 446px;
  top: 18px;
}
.lui_profile_org_main_point.main_point_two{
  background-image: url(../images/profile_org_item_bg_2.png);
  top: 200px;
  left: 219px;
}
.lui_profile_org_main_point.main_point_three{
  background-image: url(../images/profile_org_item_bg_2.png);
  right: 164px;
  top: 177px;
}
.lui_profile_org_main_point.main_point_three:after{ 
	background-image: url(../images/profile_org_polygon_2.png);
}
.lui_profile_organizational.point_1{
  left: 126px;
  top: 118px;
}
.lui_profile_organizational.point_2{
  left: 12px;
  top: 242px;
}
.lui_profile_organizational.point_3{
  left: 105px;
  top: 358px;
}
.lui_profile_organizational.point_4{
  left: 228px;
  top: 456px;
}
.lui_profile_organizational.point_5{
  left: 326px;
  top: 354px;
}
.lui_profile_organizational.point_6{
  left: 415px;
  top: 240px;
}
.lui_profile_auth.point_1{
  right: 130px;
  top: 56px;
}
.lui_profile_auth.point_2{
  right: 12px;
  top: 176px;
}
.lui_profile_auth.point_3{
  right: 50px;
  top: 328px;
}