@charset "UTF-8";

/* 按钮 Starts
   ========================================================================== */
.lui-chartMode-btn {
  display: inline-block;
  padding: 4px 10px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: 0;
  transition-duration: .3s;
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
      -ms-box-sizing: content-box;
       -o-box-sizing: content-box;
          box-sizing: content-box;
}
.lui-chartMode-btn:hover,
.lui-chartMode-btn:focus,
.lui-chartMode-btn.lui-chartMode-focus {
  color: #333;
  text-decoration: none;
}
.lui-chartMode-btn:active,
.lui-chartMode-btn.lui-chartMode-active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.lui-chartMode-btn.lui-chartMode-disabled,
.lui-chartMode-btn[disabled],
fieldset[disabled] .lui-chartMode-btn {
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: .65;
}
a.lui-chartMode-btn.lui-chartMode-disabled,
fieldset[disabled] a.lui-chartMode-btn {
  pointer-events: none;
}
.lui-chartMode-btn .lui-chartMode-icon-right{
  margin-left: 5px;
  margin-right: 0;
}

.lui-chartMode-btn-primary {
  color: #fff;
  background-color: #4285f4;
  border-color: #4285f4;
}
.lui-chartMode-btn-primary:focus,
.lui-chartMode-btn-primary.lui-chartMode-focus {
  color: #fff;
  background-color: #346ac3;
  border-color: #346ac3;
}
.lui-chartMode-btn-primary:hover {
  color: #fff;
  background-color: #346ac3;
  border-color: #346ac3;
}
.lui-chartMode-btn-primary:active,
.lui-chartMode-btn-primary.lui-chartMode-active {
  color: #fff;
  background-color: #346ac3;
  border-color: #346ac3;
}


.lui-chartMode-btn-plain-primary {
  color: #4285f4;
  background-color: #fff;
  border-color: #4285f4;
}
.lui-chartMode-btn-plain-primary:focus,
.lui-chartMode-btn-plain-primary.lux-focus {
  color: #fff;
  background-color: #4285f4;
  border-color: #4285f4;
}
.lui-chartMode-btn-plain-primary:hover {
  color: #fff;
  background-color: #4285f4;
  border-color: #4285f4;
}
.lui-chartMode-btn-plain-primary:active,
.lui-chartMode-btn-plain-primary.lux-active,
.lui-chartMode-open > .lux-dropdown-toggle.lux-btn-plain-primary {
  color: #fff;
  background-color: #4285f4;
  border-color: #4285f4;
}
/* 按钮 Ends
   ========================================================================== */

/* 图表数据配置 Starts
   ========================================================================== */
.lui-chartData-info{
  padding: 10px;
  border: 1px solid #d2d2d2;
}
.lui-chartData-info-board{
  max-width:1200px;
 /* padding: 10px; */
  min-height: 50px;
  background-color: #fff;
  position: relative;
 /*  border: 1px solid #d2d2d2; */
  /**
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
     -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
      -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
       -o-box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
          box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
  **/        
}
.lui-chartData-info-board:after{
  content: '';
  display: table;
  visibility: hidden;
  clear: both;
}

.lui-chartData-info-board .board-txt{
	text-align: left;
	word-break: break-all;
}

.lui-chartData-info-board .board-title{
  margin: 0;
  margin-right: 10px;
  color: #333;
  font-size: 16px;
  font-weight: bold;
  float: left;
}
.lui-chartData-info-board .board-tipbar{
  margin-top: 3px;
  color: #666;
  font-size: 12px;
  font-weight: bold;
  float: left;
}
.lui-chartData-info-board .board-tipbar .board-tipbar-item{
  margin-right: 5px;
}
.lui-chartData-info-board .board-btn-group{
  clear: both;
  padding: 5px;
  text-align: right;
  left: 0;
  right: 0;
  bottom: 0;
}

.lui-chartData-info-list-box{
  padding-bottom: 15px;
  border-bottom: 1px solid #d2d2d2;
}
.lui-chartData-info-list{
  margin: 12px 0 0;
  padding: 0;
  list-style: none;
}
.lui-chartData-info-list:after{
  content: '';
  display: table;
  visibility: hidden;
  clear: both;
}
.lui-chartData-info-list > dt{
  margin-bottom: 5px;
  color: #333;
  text-align: left;
}
.lui-chartData-info-list > dd{
  margin-right: 5px;
  float: left;
  cursor: pointer;
}
.lui-chartData-info-list > dd.last-child,
.lui-chartData-info-list > dd:last-child{
  margin-right: 0;
}

.lui-chartData-tag{
  display: inline-block;
  padding: 0 10px;
  height: 26px;
  line-height: 28px;
  vertical-align: middle;
  color: #333;
  font-size: 12px;
  font-weight: normal;
  border-radius: 2px;
  border: 1px solid #f6f6f6;
  background-color: #f6f6f6;
  white-space: nowrap;
}
.lui-chartData-tag-primary{
  color: #37aee9;
  border: 1px solid #d7effb;
  background-color: #d7effb;
}

.lui-chartData-info-tip .info-tip{
	float:left;
	font-family: PingFangSC-Regular;
	font-size: 12px;
	color: #999999;
}

.lui-chartData-info-tip{
	height:16px;
	padding:10px 0 10px 0;
}

/* 图表数据配置 Ends
   ========================================================================== */