.muiTemplateView {
	position: absolute;
	left: 0;
	top: 0;
	background-color: #f7f7f7;
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
}

.icon {
	display: inline-block;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	width: 11.5rem;
	height: 5rem;
}

.icon {
	background-image: url(../images/success@2x.png);
}

.tip_icon {
	background-image: url(../images/success@3x.png);
}

.tip_icon {
	display: inline-block;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	width: 11.5rem;
	height: 15rem;
}

.btn {
	width: 29.28rem;
	height: 4.224rem;
	border: none;
	outline: none;
	border-radius: 0.768rem;
	font-size: 1.44rem;
}

.btn-primary {
	color: white;
	background-color: #4285F4;
}