@charset "utf-8";

.muiFlowInfoW {
    margin-top:0.5rem;
    background: #fff;
    border-bottom:0px;
    padding:0rem 1.2rem;
}
.muiCirculationTarget div:last-child{
    width: 3rem;
}

#otherContentWrap #content .mblScrollableViewContainer .listPullItem{
    position: absolute;
    top: -51px;
}
.muiRadioCircle__modeling .muiRadioItem .muiRadioCircle {
    margin-top: 1.1rem;
}
.muiCheckBoxCircle_modeling .muiCheckItem.hasText .muiCheckBlock {
    position: absolute;
    left: 1px;
    top: 1.6rem;
    margin-right: 0.6rem;
    margin-bottom: 0.2rem;
}


#circulationView .muiDialogElement .muiDialogElementContent_bottom .mblView {
    height: 100% !important;
}
#replyCirculationView .muiDialogElement .muiDialogElementContent_bottom .mblView {
    height: 100% !important;
}

#otherContentWrap .mblScrollableViewContainer .muiCirculationList{
    padding-bottom: 8rem;
}

.muiTabBarGrid.mblTabBarTabBar .mblTabBarButton:not(:last-child):after {
    content: '';
    display: block;
    height: 20px;
    border-left: 1px solid #efefef;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -10px
}