/*待审超时页面页签 start--*/
.expired-tabs{
	border-bottom: 1px solid #e5e5e5;
}
.expired-tabs>ul{
	height:25px;
	list-style: none;
}
.expired-tabs>ul .expired-tab{
	float:left;
	margin-right:40px;
	height:25px;
	cursor: pointer;
}
.expired-tabs>ul .expired-tab.active{
	color:#4285f4;
	border-bottom:2px solid #4285f4;
}

