<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.example.org/plugin-config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.example.org/plugin-config ../../plugin.xsd ">
	
	<extension point="com.landray.kmss.sys.attachment.integrate.wps">
		<item name="wps">
			<param name="key" value="wpsWebOffice" />
			<param name="name" value="wps WebOffice集成" />
			<param name="provider" value="wpsWebOfficeProvider" />
			<param name="order" value="50" />
		</item>
	</extension>
	<extension point="com.landray.kmss.sys.attachment.integrate.wps">
		<item name="wps">
			<param name="key" value="wpsCloudOffice" />
			<param name="name" value="wps云文档集成" />
			<param name="provider" value="wpsCloudProvider" />
			<param name="order" value="40" />
		</item>
	</extension>

	<extension point="com.landray.kmss.sys.attachment.integrate.logout">
		<item name="config">
			<param name="key" value="wpsCenter" />
			<param name="name" value="wps中台" />
			<param name="provider" value="wpsCenterLogoutProvider" />
		</item>
	</extension>

	<extension point="com.landray.kmss.sys.attachment.third.service">
		<item name="service">
			<param name="convert" value="wpsCenter"/>
			<param name="bean" value="thirdWpsCenterAttService"/>
			<param name="isSupportDirect" value="true"/>
		</item>
	</extension>
</plugin>