.inputSgl{
	height: 25px;
    border: 0px;
    border-bottom: 1px solid #b4b4b4;
}
.lbpmToolsTable {
	border:none ! important;
}
.lbpmToolsTable td {
	border:none ! important;
}
.lbpmToolsTable tr {
	border:none ! important;
}
.td_label0{
	border-bottom: 1px solid #d5d5d5 !important;
}

.lui_custom_list_container:after,
.lui_lbpm_tools_tab:after,
.lui_lbpm_tools_tab-list:after,
.lui_lbpm_tools-table-btn-row:after{
  content: '';
  display: table;
  visibility: hidden;
  clear: both;
}

.lui_lbpm_tools_container {
    width:98%; 
    margin-right: auto;
    margin-left: auto;
}

.lui_lbpm_tools_tab-wrap{
  height: 50px;
  padding: 0 25px 0;
}
.lui_lbpm_tools_tab-list-wrap{
  display: inline-block;
  padding: 8.5px 0;
}
.lui_lbpm_tools_tab-list{
  list-style: none;
  border-radius: 4px;
  border: 1px solid #D5D5D5;
}
.lui_lbpm_tools_tab-list > li{
  cursor: pointer;
  float: left;
  padding: 8px 15px;
}
.lui_lbpm_tools_tab-list > li.active{
  color: #fff;
  background-color: #4285f4;
}
.lui_lbpm_tools_tab-content{
  padding: 10px 20px;
}
.lui_lbpm_tools_tab-content-list > li{
   list-style: none;
   display: none;
}
.lui_lbpm_tools_tab-content-list > li.active{
   display: block;
}