@CHARSET "UTF-8";
 .lux_lanue_caigou_row {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            flex-wrap: nowrap;
        }
        .lux_lanYue_caigou_item_a,
        .lux_lanYue_caigou_item_b,
        .lux_lanYue_caigou_item_c,
        .lux_lanYue_caigou_item_d {
            width:50%;
            margin-bottom: 10px;
            border-radius: 10px;
            position: relative;
        }
        .lux_lanYue_caigou .lux_lanYue_caigou_item_a,
        .lux_lanYue_caigou .lux_lanYue_caigou_item_c {
            margin-right:10px;
        }
        .lux_lanYue_caigou_num {
            margin-bottom: 10px;
            font-size: 30px;
            color: #fff;
            text-align: right;
            margin-right: 15px;
        }
        .lux_lanYue_caigou_key {
            color: #fff;font-size: 14px;
            margin-left: 3px;
        }
        .lux_lanYue_caigou_txt {
            font-size: 14px;color: #fff;
            white-space: nowrap;margin-left: 15px;
            margin-bottom: 12px;
        }
        .lux_lanYue_caigou_item_a {
            background-image: -webkit-linear-gradient(165deg, #FFBF86 2%, #FFA187 100%);
            background-image: -moz-linear-gradient(165deg, #FFBF86 2%, #FFA187 100%);
            background-image: -ms-linear-gradient(165deg, #FFBF86 2%, #FFA187 100%);
            background-image:  linear-gradient(165deg, #FFBF86 2%, #FFA187 100%);
        }
        .lux_lanYue_caigou_item_b {
            background-image: -webkit-linear-gradient(166deg, #FEB158 2%, #FF9214 100%);
            background-image: -moz-linear-gradient(166deg, #FEB158 2%, #FF9214 100%);
            background-image: -ms-linear-gradient(166deg, #FEB158 2%, #FF9214 100%);
            background-image:  linear-gradient(166deg, #FEB158 2%, #FF9214 100%);
        }
        .lux_lanYue_caigou_item_c {
            background-image: -webkit-linear-gradient(180deg, #8CC3FE 0%, #71AEEF 100%);
            background-image: -moz-linear-gradient(180deg, #8CC3FE 0%, #71AEEF 100%);
            background-image: -ms-linear-gradient(180deg, #8CC3FE 0%, #71AEEF 100%);
            background-image:  linear-gradient(180deg, #8CC3FE 0%, #71AEEF 100%);
        }
        .lux_lanYue_caigou_item_d {
            background-image: -webkit-linear-gradient(137deg, #7FEC9E 0%, #5BC77C 100%);
            background-image: -moz-linear-gradient(137deg, #7FEC9E 0%, #5BC77C 100%);
            background-image: -ms-linear-gradient(137deg, #7FEC9E 0%, #5BC77C 100%);
            background-image:  linear-gradient(137deg, #7FEC9E 0%, #5BC77C 100%);
        }
        .lux_lanYue_caigou_icon {
            background-repeat: no-repeat;
            background-size: 100% ;
            position: absolute;
            left: 30px;top: 0;
            width: 50px;height: 50px;
            background-position: center;
        }
        .lux_lanYue_caigou_icon_a {
            background-image: url(images/caigou-image/jihua.png);
        }
        .lux_lanYue_caigou_icon_b {
            background-image: url(images/caigou-image/shiji.png);
        }
        .lux_lanYue_caigou_icon_c {
            background-image: url(images/caigou-image/xunbijia.png);
        }
        .lux_lanYue_caigou_icon_d {
            background-image: url(images/caigou-image/zhaobiao.png);
        }

        @media (device- height : 480px ) and (-webkit-min-device-pixel-ratio: 2 ){
                 .lux_lanYue_caigou_icon_a {
            background-image: url(images/caigou-image/jihua@3x.png);
        }
        .lux_lanYue_caigou_icon_b {
            background-image: url(images/caigou-image/shiji@3x.png);
        }
        .lux_lanYue_caigou_icon_c {
            background-image: url(images/caigou-image/xunbijia@3x.png);
        }
        .lux_lanYue_caigou_icon_d {
            background-image: url(images/caigou-image/zhaobiao@3x.png);
        }
}
@media (device- height : 568px ) and (-webkit-min-device-pixel-ratio: 2 ){
        .lux_lanYue_caigou_icon_a {
            background-image: url(images/caigou-image/jihua@3x.png);
        }
        .lux_lanYue_caigou_icon_b {
            background-image: url(images/caigou-image/shiji@3x.png);
        }
        .lux_lanYue_caigou_icon_c {
            background-image: url(images/caigou-image/xunbijia@3x.png);
        }
        .lux_lanYue_caigou_icon_d {
            background-image: url(images/caigou-image/zhaobiao@3x.png);
        }
}
@media (device- width : 375px ) and (-webkit-min-device-pixel-ratio: 2 ){
         .lux_lanYue_caigou_icon_a {
            background-image: url(images/caigou-image/jihua@3x.png);
        }
        .lux_lanYue_caigou_icon_b {
            background-image: url(images/caigou-image/shiji@3x.png);
        }
        .lux_lanYue_caigou_icon_c {
            background-image: url(images/caigou-image/xunbijia@3x.png);
        }
        .lux_lanYue_caigou_icon_d {
            background-image: url(images/caigou-image/zhaobiao@3x.png);
        }
}
@media (device- width : 414px ) and (-webkit-min-device-pixel-ratio: 3.0 ){
         .lux_lanYue_caigou_icon_a {
            background-image: url(images/caigou-image/jihua@3x.png);
        }
        .lux_lanYue_caigou_icon_b {
            background-image: url(images/caigou-image/shiji@3x.png);
        }
        .lux_lanYue_caigou_icon_c {
            background-image: url(images/caigou-image/xunbijia@3x.png);
        }
        .lux_lanYue_caigou_icon_d {
            background-image: url(images/caigou-image/zhaobiao@3x.png);
        }
}
       
       
       
       
 .lux_lanYue_huoban_count {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
        }
        .lux_lanYue_huoban_item {
            width: 33%;
            min-width: 100px;
            border-radius: 5px;
            position: relative;
            margin-right: 10px;
            overflow: hidden;
        }
        .right.lux_lanYue_huoban_item {
            margin-right: 10px;
            padding: 15px;
        }
        .lux_lanYue_huoban_num {
            color: #fff;
            font-size: 27px;
            margin-bottom: 13px;
            margin-left: 15px;
            margin-top: 12px;
        }
        .lux_lanYue_huoban_txt {
            font-size: 14px;
            color: #fff;
            margin-bottom: 22px;
            margin-left: 15px;
        }
        .lux_lanYue_huoban_item_a {
            background-image: -webkit-linear-gradient(180deg, #8CC3FE 0%, #71AEEF 100%);
            background-image: -moz-linear-gradient(180deg, #8CC3FE 0%, #71AEEF 100%);
            background-image: -ms-linear-gradient(180deg, #8CC3FE 0%, #71AEEF 100%);
            background-image:  linear-gradient(180deg, #8CC3FE 0%, #71AEEF 100%);
        }
        .lux_lanYue_huoban_item_b {
            background-image: -webkit-linear-gradient(161deg, #FFD164 3%, #FFB300 100%);
            background-image: -moz-linear-gradient(161deg, #FFD164 3%, #FFB300 100%);
            background-image: -ms-linear-gradient(161deg, #FFD164 3%, #FFB300 100%);
            background-image:  linear-gradient(161deg, #FFD164 3%, #FFB300 100%);
        }
        .lux_lanYue_huoban_item_c {
            background-image: -webkit-linear-gradient(159deg, #A8ABDF 3%, #7F82C2 99%);
            background-image: -moz-linear-gradient(159deg, #A8ABDF 3%, #7F82C2 99%);
            background-image: -ms-linear-gradient(159deg, #A8ABDF 3%, #7F82C2 99%);
            background-image:  linear-gradient(159deg, #A8ABDF 3%, #7F82C2 99%);
        }
        .lux_lanYue_huoban_icon {
            position: absolute;
            bottom: 0;
            right: 0;
            background-size: cover;
            width: 35px;height: 35px;
        }
        .lux_lanYue_huoban_icon_a {
            background-image: url(images/huoban-image/qiatan.png);
        }
        .lux_lanYue_huoban_icon_b {
            background-image: url(images/huoban-image/hezuo.png);
        }
         .lux_lanYue_huoban_icon_c {
            background-image:url(images/huoban-image/zhongzhi.png);
        }
        @media (device- height : 480px ) and (-webkit-min-device-pixel-ratio: 2 ){
            .lux_lanYue_huoban_icon_a {
            background-image: url(images/huoban-image/qiatan@3x.png);
        }
        .lux_lanYue_huoban_icon_b {
            background-image: url(images/huoban-image/hezuo@3x.png);
        }
         .lux_lanYue_huoban_icon_c {
            background-image:url(images/huoban-image/zhongzhi@3x.png);
        }
        }
@media (device- height : 568px ) and (-webkit-min-device-pixel-ratio: 2 ){
         .lux_lanYue_huoban_icon_a {
            background-image: url(images/huoban-image/qiatan@3x.png);
        }
        .lux_lanYue_huoban_icon_b {
            background-image: url(images/huoban-image/hezuo@3x.png);
        }
         .lux_lanYue_huoban_icon_c {
            background-image:url(images/huoban-image/zhongzhi@3x.png);
        }
}
@media (device- width : 375px ) and (-webkit-min-device-pixel-ratio: 2 ){
        .lux_lanYue_huoban_icon_a {
            background-image: url(images/huoban-image/qiatan@3x.png);
        }
        .lux_lanYue_huoban_icon_b {
            background-image: url(images/huoban-image/hezuo@3x.png);
        }
         .lux_lanYue_huoban_icon_c {
            background-image:url(images/huoban-image/zhongzhi@3x.png);
        }
}
@media (device- width : 414px ) and (-webkit-min-device-pixel-ratio: 3.0 ){
         .lux_lanYue_huoban_icon_a {
            background-image: url(images/huoban-image/qiatan@3x.png);
        }
        .lux_lanYue_huoban_icon_b {
            background-image: url(images/huoban-image/hezuo@3x.png);
        }
         .lux_lanYue_huoban_icon_c {
            background-image:url(images/huoban-image/zhongzhi@3x.png);
        }
}       

        .lux_lanYue_custom_count {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
        }
        .lux_lanYue_num {
            font-size: 24px;
            color: #fff;
            margin-bottom: 13px;
            margin-left: 15px;
            margin-top: 12px;
        }
        .lux_lanYue_txt {
            font-size: 13px;
            color: #fff;
            margin-left: 15px;
            margin-bottom: 22px;
            white-space: nowrap;
        }
        .lux_lanYue_custom_item_a,
        .lux_lanYue_custom_item_b,
        .lux_lanYue_custom_item_c {
            width: 33%;
            border-radius: 5px;
            position: relative;
        }
        .lux_lanYue_custom_item_a {
            background-image: -webkit-linear-gradient(180deg, #8CC3FE 0%, #71AEEF 100%);
            background-image: -moz-linear-gradient(180deg, #8CC3FE 0%, #71AEEF 100%);
            background-image: -ms-linear-gradient(180deg, #8CC3FE 0%, #71AEEF 100%);
            background-image:  linear-gradient(180deg, #8CC3FE 0%, #71AEEF 100%);
        }
        .lux_lanYue_custom_item_b {
            background-image: -webkit-linear-gradient(161deg, #FFD164 3%, #FFB300 100%);
            background-image: -moz-linear-gradient(161deg, #FFD164 3%, #FFB300 100%);
            background-image: -ms-linear-gradient(161deg, #FFD164 3%, #FFB300 100%);
            background-image:  linear-gradient(161deg, #FFD164 3%, #FFB300 100%);
        }
        .lux_lanYue_custom_item_c {
            background-image: -webkit-linear-gradient(137deg, #7FEC9E 0%, #5BC77C 100%);
            background-image: -moz-linear-gradient(137deg, #7FEC9E 0%, #5BC77C 100%);
            background-image: -ms-linear-gradient(137deg, #7FEC9E 0%, #5BC77C 100%);
            background-image:  linear-gradient(137deg, #7FEC9E 0%, #5BC77C 100%);
        }
        .lux_lanYue_custom_item_a,
        .lux_lanYue_custom_item_b {
            margin-right: 10px;
        }
        .lux_lanYue_custom_img {
            position: absolute;
            bottom: 0;right: 0;
            width: 30px;height: 30px;
            background-size: cover;
        }
        .lux_lanYue_custom_img_a {
            background-image: url(images/kehu-image/kehu.png);
        }
        .lux_lanYue_custom_img_b {
            background-image: url(images/kehu-image/xiansuo.png);
        }
        .lux_lanYue_custom_img_c {
            background-image: url(images/kehu-image/shangji.png);
        }
        
.lux_lanYue_paihang_img {
            width: 42px;height: 42px;
            background-size: cover;
            background-repeat: no-repeat;
            margin-right: 20px;
        }
        .paihang_a {
            background-image: url(images/yingxiaomenhu-image/guanjun.png);
        }
        .paihang_b {
            background-image: url(images/yingxiaomenhu-image/yajun.png);
        }
        .paihang_c {
            background-image: url(images/yingxiaomenhu-image/jijun.png);
        }
        .lux_lanYue_paihang_item {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            margin: 20px 20px;
            flex-wrap: nowrap;
            align-items: center;
        }
        .lux_lanYue_paihang_touxiang {
            width: 21px;height: 21px;
            margin-right: 12px;border-radius: 50%;
            background-position: center;
        }
        .lux_lanYue_paihang_touxiang_a {
            background-image: url(images/yingxiaomenhu-image/touxiang3.png);
        }
        .lux_lanYue_paihang_touxiang_b {
            background-image: url(images/yingxiaomenhu-image/touxiang2.png);
        }
        .lux_lanYue_paihang_touxiang_c {
            background-image: url(images/yingxiaomenhu-image/touxiang1.png);
        }
        .lux_lanYue_paihang_num{
            margin-left: 100%;color: #FFAD30;font-size: 22px;margin-left: auto;
        }
        .lux_lanYue_paihang_key {
            font-size: 19px;margin-left: 3px;
        }