<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean id="sysFormRelationParamsTIB" class="com.landray.kmss.sys.xform.base.service.controls.relation.SysFormRelationParamsTIB"></bean>
	
	<bean
		id="sysRelationFormulaValidate"
		class="com.landray.kmss.sys.xform.base.service.controls.relation.SysRelationFormulaValidate" />
</beans>