<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean
		name="/fssc/alitrip/fssc_alitrip_message/fsscAlitripMessage.do"
		class="com.landray.kmss.fssc.alitrip.actions.FsscAlitripMessageAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.fssc.alitrip.forms.FsscAlitripMessageForm" />
		<property name="forwards">
			<map>
				<entry 
               		 key="data" 
               		 value="/fssc/alitrip/fssc_alitrip_message/fsscAlitripMessage_data.jsp"/>
            	<entry 
               		key="edit" 
                	value="/fssc/alitrip/fssc_alitrip_message/fsscAlitripMessage_edit.jsp"/>
            	<entry 
               		 key="view" 
                	value="/fssc/alitrip/fssc_alitrip_message/fsscAlitripMessage_view.jsp"/>
			</map>
		</property>
	</bean>
	<bean
		name="/fssc/alitrip/fssc_alitrip_order/fsscAlitripOrder.do"
		class="com.landray.kmss.fssc.alitrip.actions.FsscAlitripOrderAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.fssc.alitrip.forms.FsscAlitripOrderForm" />
		<property name="forwards">
			<map>
				<entry 
               		 key="data" 
               		 value="/fssc/alitrip/fssc_alitrip_order/fsscAlitripOrder_data.jsp"/>
            	<entry 
               		key="edit" 
                	value="/fssc/alitrip/fssc_alitrip_order/fsscAlitripOrder_edit.jsp"/>
            	<entry 
               		 key="view" 
                	value="/fssc/alitrip/fssc_alitrip_order/fsscAlitripOrder_view.jsp"/>
			</map>
		</property>
	</bean>
	<bean
		name="/fssc/alitrip/fssc_alitrip_order/fsscAlitripInsure.do"
		class="com.landray.kmss.fssc.alitrip.actions.FsscAlitripInsureAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.fssc.alitrip.forms.FsscAlitripInsureForm" />
	</bean>
	<bean
		name="/fssc/alitrip/fssc_alitrip_order/fsscAlitripPrice.do"
		class="com.landray.kmss.fssc.alitrip.actions.FsscAlitripPriceAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.fssc.alitrip.forms.FsscAlitripPriceForm" />
	</bean>
	<bean
		name="/fssc/alitrip/fssc_alitrip_order/fsscAlitripOrderData.do"
		class="com.landray.kmss.fssc.alitrip.actions.FsscAlitripOrderDataAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.fssc.alitrip.forms.FsscAlitripOrderForm" />
		<property name="forwards">
			<map>
				<entry 
               		 key="fd_order_detail" 
               		 value="/fssc/alitrip/fssc_alitrip_order/fsscAlitripOrder_portlet_fd_order_detail.jsp"/>
			</map>
		</property>
	</bean>
		<bean
		name="/fssc/alitrip/fssc_alitrip_mapping/fsscAlitripMapping.do"
		class="com.landray.kmss.fssc.alitrip.actions.FsscAlitripMappingAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.fssc.alitrip.forms.FsscAlitripMappingForm" />
		<property name="forwards">
			<map>
				<entry 
               		 key="data" 
               		 value="/fssc/alitrip/fssc_alitrip_mapping/fsscAlitripMapping_data.jsp"/>
            	<entry 
               		key="edit" 
                	value="/fssc/alitrip/fssc_alitrip_mapping/fsscAlitripMapping_edit.jsp"/>
            	<entry 
               		 key="view" 
                	value="/fssc/alitrip/fssc_alitrip_mapping/fsscAlitripMapping_view.jsp"/>
			</map>
		</property>
	</bean>
		<bean
		name="/fssc/alitrip/fssc_alitrip_model/fsscAlitripModel.do"
		class="com.landray.kmss.fssc.alitrip.actions.FsscAlitripModelAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.fssc.alitrip.forms.FsscAlitripModelForm" />
		<property name="forwards">
			<map>
				<entry 
               		 key="data" 
               		 value="/fssc/alitrip/fssc_alitrip_model/fsscAlitripModel_data.jsp"/>
            	<entry 
               		key="edit" 
                	value="/fssc/alitrip/fssc_alitrip_model/fsscAlitripModel_edit.jsp"/>
            	<entry 
               		 key="view" 
                	value="/fssc/alitrip/fssc_alitrip_model/fsscAlitripModel_view.jsp"/>
			</map>
		</property>
	</bean>
	<bean
		name="/fssc/alitrip/fssc_alitrip_model/fsscAlitripModelData.do"
		class="com.landray.kmss.fssc.alitrip.actions.FsscAlitripModelDataAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.fssc.alitrip.forms.FsscAlitripModelForm" />
		<property name="forwards">
			<map>
				<entry 
               		 key="fdmodel" 
               		 value="/fssc/alitrip/fssc_alitrip_model/fsscAlitripModel_dialog_fdModel.jsp"/>
				<entry 
               		 key="fdCategory" 
               		 value="/fssc/alitrip/fssc_alitrip_model/fsscAlitripModel_dialog_fdCategory.jsp"/>
			</map>
		</property>
	</bean>
	 <bean 
        class="com.landray.kmss.fssc.alitrip.actions.FsscAlitripCityAction" 
        parent="KmssBaseAction" 
        name="/fssc/alitrip/fssc_alitrip_city/fsscAlitripCity.do" 
        lazy-init="true">
        <property 
            name="formType" 
            value="com.landray.kmss.fssc.alitrip.forms.FsscAlitripCityForm"/>
        <property 
            name="forwards">
            <map>
                <entry 
                    key="data" 
                    value="/fssc/alitrip/fssc_alitrip_city/fsscAlitripCity_data.jsp"/>
                <entry 
                    key="edit" 
                    value="/fssc/alitrip/fssc_alitrip_city/fsscAlitripCity_edit.jsp"/>
                <entry 
                    key="view" 
                    value="/fssc/alitrip/fssc_alitrip_city/fsscAlitripCity_view.jsp"/>
            </map>
        </property>
    </bean>
	<bean 
        class="com.landray.kmss.fssc.alitrip.actions.FsscAlitripLogAction" 
        parent="KmssBaseAction" 
        name="/fssc/alitrip/fssc_alitrip_log/fsscAlitripLog.do" 
        lazy-init="true">
        <property 
            name="formType" 
            value="com.landray.kmss.fssc.alitrip.forms.FsscAlitripLogForm"/>
        <property 
            name="forwards">
            <map>
                <entry 
                    key="data" 
                    value="/fssc/alitrip/fssc_alitrip_log/fsscAlitripLog_data.jsp"/>
                <entry 
                    key="edit" 
                    value="/fssc/alitrip/fssc_alitrip_log/fsscAlitripLog_edit.jsp"/>
                <entry 
                    key="view" 
                    value="/fssc/alitrip/fssc_alitrip_log/fsscAlitripLog_view.jsp"/>
            </map>
        </property>
    </bean>
</beans>
