@CHARSET "UTF-8";

.muiViewBanner {
	background:#915946 url(../images/view_bg.jpg) no-repeat left top; 
	background-size:cover;
	padding: 0;
}

.muiViewBanner .rightInfo {
	margin-left: 12.2rem;
}

.muiViewBanner .rightInfo .title {
	min-height: 4rem;
}

.muiViewBanner .rightInfo li {
	display: block;
	margin: .4rem 0;
}
#propertyTable label input[type="radio"],
#propertyTable label input[type="checkbox"] {
	width: 1.2rem;
	height: 1.2rem;
	position: relative;
	top: -0.05rem;
	border: 1px solid #ccc;
	text-align: center;
	line-height: 1.2rem;
	font-size: 0.8rem;
	margin-right: 0.2rem;
	box-sizing: border-box;
	border-radius: 0.2rem;
}

#propertyTable label input[type="radio"] {
	border-radius: 0.6rem;
}

#propertyTable label input[type="checkbox"]::after {
	content: '\2713';
	color: white;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

#propertyTable label input[type="radio"][checked]:checked {
	border: 0.3rem solid #18b4ed;
}
#propertyTable label input[type="checkbox"][checked]:checked {
	background-color: #18b4ed;
	border-color: #18b4ed;
}