<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean
		name="/third/ctrip/ctripCommon.do"
		class="com.landray.kmss.third.ctrip.actions.CtripCommonAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.third.ctrip.forms.CtripCommonForm" />
		<property name="forwards">
			<map>
				<entry
					key="approvalOrder"
					value="/third/ctrip/ctripOrder_approval.jsp" />
				<entry
					key="ssoAuth"
					value="/third/ctrip/ssoAuth.jsp" />
				<entry
					key="mobilView"
					value="/third/ctrip/xform/resource/mobile/thirdCtripXformMainBookInfoMobile.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/third/ctrip/third_ctrip_config/thirdCtripConfig.do"
		class="com.landray.kmss.third.ctrip.actions.ThirdCtripConfigAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.third.ctrip.forms.ThirdCtripConfigForm" />
		<property name="forwards">
			<map>
				<entry
					key="data"
					value="/third/ctrip/third_ctrip_config/thirdCtripConfig_data.jsp" />
				<entry
					key="edit"
					value="/third/ctrip/third_ctrip_config/thirdCtripConfig_edit.jsp" />
				<entry
					key="view"
					value="/third/ctrip/third_ctrip_config/thirdCtripConfig_view.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/third/ctrip/third_ctrip_hotel/thirdCtripHotel.do"
		class="com.landray.kmss.third.ctrip.actions.ThirdCtripHotelAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.third.ctrip.forms.ThirdCtripHotelForm" />
		<property name="forwards">
			<map>
				<entry
					key="data"
					value="/third/ctrip/third_ctrip_hotel/thirdCtripHotel_data.jsp" />
				<entry
					key="edit"
					value="/third/ctrip/third_ctrip_hotel/thirdCtripHotel_edit.jsp" />
				<entry
					key="view"
					value="/third/ctrip/third_ctrip_hotel/thirdCtripHotel_view.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/third/ctrip/third_ctrip_flight/thirdCtripFlight.do"
		class="com.landray.kmss.third.ctrip.actions.ThirdCtripFlightAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.third.ctrip.forms.ThirdCtripFlightForm" />
		<property name="forwards">
			<map>
				<entry
					key="data"
					value="/third/ctrip/third_ctrip_flight/thirdCtripFlight_data.jsp" />
				<entry
					key="edit"
					value="/third/ctrip/third_ctrip_flight/thirdCtripFlight_edit.jsp" />
				<entry
					key="view"
					value="/third/ctrip/third_ctrip_flight/thirdCtripFlight_view.jsp" />
			</map>
		</property>
	</bean>
</beans>