@CHARSET "UTF-8";

#kms_knowledge_index_my_content_box {
    font-family: PingFangSC-Medium;
    background: #FFFFFF;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.06);
    border-radius: 4px;
    height: 142px;
    min-width: 540px;
    position: relative;
}

#kms_knowledge_index_my_content_box .head {
    border-bottom: solid 1px #EEEEEE;
}

#kms_knowledge_index_my_content_box .head .kn_title {
    float: left;
    padding: 0 20px;
    font-size: 18px;
    color: #333333;
    line-height: 24px;
    font-weight: 500;
    padding: 12px 0 12px 20px;
}

#kms_knowledge_index_my_content_box .head .kn_time_list {
    margin-left: 60px;
    float: left;
    height: 48px;
}


#kms_knowledge_index_my_content_box .head .kn_time_list ul {
    list-style-type: none;
}

#kms_knowledge_index_my_content_box .head .kn_time_list ul li {
    float: left;
    cursor: pointer;
    padding-right: 35px;
    width: auto;
    white-space: nowrap;
}

#kms_knowledge_index_my_content_box .head .kn_time_list ul li:first-child div{
    /*color: #4285F4;*/
    /*border-bottom: solid 2px #4285F4;*/
}

#kms_knowledge_index_my_content_box .head .kn_time_list ul li div {
    font-size: 14px;
    color: #666666;
    line-height: 20px;
    font-weight: 400;
    padding-top: 15px;
    padding-bottom: 11px;
}

#kms_knowledge_index_my_content_box .head .kn_time_list ul li.current div {
    color: #4285F4;
    border-bottom: solid 2px #4285F4;
}

.clear {
    clear: both;
}

#kms_knowledge_index_my_content_box .content {
    padding: 0 20px;
}


#kms_knowledge_index_my_content_box ul {
    list-style-type: none;
    overflow: hidden;
    height: 86px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#kms_knowledge_index_my_content_box .content ul li {
    width: calc(96%/6);
    /* padding-right: 32px; */
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    /* background: red; */
}

#kms_knowledge_index_my_content_box .content ul li div.count_data{
    display:inline-block;
}

#kms_knowledge_index_my_content_box .content ul li div.count_item {
    padding-top: 20px;
}

#kms_knowledge_index_my_content_box .content ul li div.count_num {
    font-family: DINAlternate-Bold;
    font-size: 28px;
    color: #333333;
    line-height: 28px;
    font-weight: 700;
    padding-top: 10px;
}

#kms_knowledge_index_my_content_box .content ul li div.split{
    border-right: solid 1px #f8f8f8;
    display: inline-block;
    height: 40px;
    margin-top:17px;
    width: calc((100% - 62px) / 2);
    /* background: green; */
}

#kms_knowledge_index_my_content_box .head {
    position: relative;
}

#kms_knowledge_index_my_content_box .range_time_box {
    float: right;
    position: absolute;
    right: 10px;
    top: 8px;
    bottom: 0;
    margin: auto;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #999999;
    line-height: 14px;
    font-weight: 400;
    height: 20px;
}