@CHARSET "UTF-8";

#kms_knowledge_index_operation_content_box{
    font-family: PingFangSC-Medium;
    width: 100%;
    height: 142px;
    background: #FFFFFF;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.06);
    border-radius: 4px;
}

#kms_knowledge_index_operation_content_box .content_title{
    border-bottom: solid 1px #EEEEEE;
    padding: 12px 0 12px 20px;
}

#kms_knowledge_index_operation_content_box .content_title .text{
    font-size: 18px;
    color: #333333;
    line-height: 24px;
    font-weight: 500;
    width: 54px;
    height: 24px;
}

#kms_knowledge_index_operation_content_box #kn_opt{
    padding: 0 20px;
}

#kms_knowledge_index_operation_content_box #kn_opt ul{
    list-style-type: none;
}

#kms_knowledge_index_operation_content_box #kn_opt ul li.opt_item{
    float:left;
    text-align:center;
    margin:10px 0 0 0;
    padding-bottom:9px;
    cursor: pointer;
    width: calc((100% - 18px) / 2);
    background: rgba(66,133,244,0.10);
    border-radius: 2px;
}

#kms_knowledge_index_operation_content_box #kn_opt ul li.opt_item:hover{
    background: #E3EDFE;
}


#kms_knowledge_index_operation_content_box #kn_opt ul li:nth-of-type(odd){margin-right: 16px;}
#kms_knowledge_index_operation_content_box #kn_opt ul li:nth-of-type(even){float:right !important;}

#kms_knowledge_index_operation_content_box #kn_opt ul li.opt_item .doc{
    height: 44px;
    background: url("../images/doc_add.png") no-repeat center;
    border-radius: 2px;
    margin-top: 2px;
    background-size: contain;
}

#kms_knowledge_index_operation_content_box #kn_opt ul li.opt_item .doc:hover{
    background-image: url("../images/doc_add_hover.png");
}

#kms_knowledge_index_operation_content_box #kn_opt ul li.opt_item .wiki{
    height: 44px;
    background: url("../images/wiki_add.png") no-repeat center;
    border-radius: 2px;
    margin-top: 2px;
    background-size: contain;
}

#kms_knowledge_index_operation_content_box #kn_opt ul li.opt_item .wiki:hover{
    background-image: url("../images/wiki_add_hover.png");
}


#kms_knowledge_index_operation_content_box #kn_opt ul li.opt_item .word:hover{
}{
    font-size: 14px;
    color: #333333;
    letter-spacing: 0;
    line-height: 20px;
    font-weight: 400;
/* margin-top: 8px; */
    height: 30px;
}

#kms_knowledge_index_operation_content_box #kn_opt ul li.opt_item .word:hover{
    color: #4285F4;
}


#kms_knowledge_index_operation_content_box #kn_opt ul li.opt_item div{
    display:block;
    height: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}