.importLable{
	font-size: 16px;
	font-style: normal;	
	display: inline-block;
	margin-right: 15px;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 200px;
}
.templet{
	width: 90px;
    height: 30px;
    background: #FFFFFF;
    border: 1px solid #4f88ee;
    border-radius: 7px;
    color: #4f88ee;
    cursor: pointer;
    word-wrap: break-word;
    vertical-align: bottom;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.uploadinfotext{
	display:none;
}
.upload_list_operation i {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px auto;
    vertical-align: -5px;
    margin-right: 5px;
    top: 1px;
          position: relative;
}
.upload_list_operation{
	float: none;
    vertical-align: middle;
    position: relative;
    top: 6px;
    display: block;
}
.upload_opt_icon{
	vertical-align: middle !important;
	margin-left: 10px !important;
	margin-right: 0px !important;
}
.uploadLeft{
	text-align: left;
    height: 42px;
    float: left;
    width: 15%;
    display: inline-block;
    line-height: 42px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 90px;
}
.uploadRight{
	display: inline-block;
    float: left;
    width: 85%;
}
.upload_opt_delete{
    position: relative;
          top: -2px;
}
.upload_list_filename_edit{
	max-width:280px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}
#rtInfo > p {
    font-family: "SimHei";
}