.third_ftsearch_portlet_background_img{
	width: 100%;
    height: 100%;
    position: absolute;
}
.third_ftsearch_portlet_background_img img{
	width: 100%;
    height: 100%;
}
.third_ftsearch_portlet_center{
	margin: 0 auto;
	height: 100%;
	width: 686px;
}
.third_ftsearch_portlet_wrap{
	display: table;
	height: 100%;
}
.third_ftsearch_portlet_wrap > div {
    display: table-cell;
    vertical-align: middle;
}
.third_ftsearch_portlet_content{
	width: 100%;
    height: 100%;
    z-index: 2;
    position: absolute;
}
.third_ftsearch_portlet_back_search_html{
	position: relative;
}
.third_ftsearch_portlet_search_zone{
    height: 40px;
    line-height: 40px;
    background: #FFFFFF;
    border: 0;
    padding-left: 55px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
.third_ftsearch_portlet_search_button{
	width: 130px;
    height: 40px;
    border: 0;
    display: inline-block;
    vertical-align: top;
    background: #4285F4;
    font-family: monospace;
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
.third_ftsearch_portlet_search_div{
	font-size: 0;
}
.third_ftsearch_portlet_search_icon{
	width: 55px;
    height: 40px;
    display: inline-block;
    vertical-align: top;
    line-height: 40px;
    background: #FFFFFF;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
.third_ftsearch_portlet_search_icon > span{
    display: block;
    width: 20px;
    height: 20px;
    background: url(../../resource/images/search_gray_icon.png) no-repeat;
    background-size: cover;
    margin: 0 auto;
    margin-top: 10px;
}
.third_ftsearch_portlet_search_hot_icon{
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(../../resource/images/serarch_hot_icon.png) no-repeat;
    background-size: cover;
    vertical-align: text-bottom;
    margin-right: 14px;
}
.third_ftsearch_portlet_search_hot_div{
    font-size: 14px;
    color: #FFFFFF;
    height: 20px;
    line-height: 20px;
    margin-top: 9px;
}
.third_ftsearch_portlet_search_hot_div li{
	list-style-type:none;
	display: inline-block;
	margin-right: 24px;
}
.third_ftsearch_portlet_search_hot_div .hotSpan{
	margin-left: 4px;
}
.third_ftsearch_portlet_search_hot_div .hotIndexSpan1{
	font-family: Alibaba-PuHuiTi-M;
	color: #F15E47;
}
.third_ftsearch_portlet_search_hot_div .hotIndexSpan2{
	font-family: Alibaba-PuHuiTi-M;
	color: #FFA024;
}
.third_ftsearch_portlet_search_hot_div .hotIndexSpan3{
	font-family: Alibaba-PuHuiTi-M;
	color: #F9BC33;
}
.third_ftsearch_portlet_search_hot_div ul{
	display: inline-block;
	overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    white-space: nowrap;
}

.third_ftsearch_portlet_content_table{
	width: 50%;
    height: 20px;
    margin: 0 auto;
    table-layout: fixed;
	word-break: break-all;
	max-width: 900px;
	min-width: 270px;
}
.third_ftsearch_portlet_search_input{
	width: 100%;
	height: 40px;
    line-height: 40px;
    background: #FFFFFF;
    border: 0;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.third_ftsearch_portlet_content_div{
	width: 100%;
    height: 100%;
    z-index: 2;
    position: absolute;
    display: table;
}
.third_ftsearch_portlet_content_div > div{
	display: table-cell;
    vertical-align: middle;
}
