@CHARSET "UTF-8";
.lui_attend_container{
	padding: 20px;
}
.lui_attendTime_container{
	margin-bottom: 30px;
    text-align: center;
    vertical-align: middle;
}
.lui_attendBottom_container{
	margin: 0 auto;
    padding: 40px;
    width: 855px;
    vertical-align: top;
    background-color: #f8f9fa;
    text-align: center;
}
.lui_attendTime_container > .lui_attendTime_item{
	margin: 0 73px;
    vertical-align: top;
    display: inline-block;
    position: relative;
}
.lui_attendTime_container > .lui_attendTime_item.lui_date_container {
    margin: 0 50px;
    padding-top: 18px;
    color: #666;
}
.lui_attendTime_container > .lui_attendTime_item .time, 
.lui_attendTime_container > .lui_attendTime_item .txt {
    color: #888;
    display: block;
}
.lui_attendTime_container > .lui_attendTime_item .time {
    margin-bottom: 3px;
    color: #ff8b24;
    font-size: 2.6em;
}
.lui_attendTime_container > .lui_attendTime_item.date {
    margin: 0 50px;
    padding-top: 18px;
    color: #666;
}
.lui_attendTime_container > .lui_attendTime_item.lui_date_container:after,
.lui_attendTime_container > .lui_attendTime_item.lui_date_container:before {
    content: '';
    width: 70px;
    border-top: 1px dashed #999;
    position: absolute;
    top: 28px;
}
.lui_attendTime_container > .lui_attendTime_item.lui_date_container:before {
    left: -80px;
}
.lui_attendTime_container > .lui_attendTime_item.lui_date_container:after {
    right: -80px;
}
.lui_attendBottom_item{
	margin: 0 73px;
    width: 274px;
    height: 294px;
    background-color: #fff;
    -webkit-box-shadow: 0 5px 8px rgba(0,0,0,.035);
    -moz-box-shadow: 0 5px 8px rgba(0,0,0,.035);
    -ms-box-shadow: 0 5px 8px rgba(0,0,0,.035);
    -o-box-shadow: 0 5px 8px rgba(0,0,0,.035);
    box-shadow: 0 5px 8px rgba(0,0,0,.035);
    border: 1px solid #ddd\9;
    display: inline-block;
    position: relative;
}
.lui_attendBottom_item_h{
	margin: 0;
    padding: 18px 20px;
    line-height: 1.42857143;
    color: #333;
    font-size: 16px;
    font-weight: normal;
    border-bottom: 1px dashed #ddd;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.lui_attendBottom_item_tag {
    width: 58px;
    height: 58px;
    background-position: 0 0;
    background-repeat: no-repeat;
    font-style: normal;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
}
.lui_attendStat_body {
    padding: 15px;
    min-height: 170px;
}
.lui_attendStat_list{
	margin: 0;
    padding: 30px 12px;
    list-style: none;
}
.lui_attendStat_list > li {
    width: 50%;
    float: left;
}
.lui_attendStat_list > li .num, 
.lui_attendStat_list > li .txt {
    color: #999;
    display: block;
}
.lui_attendStat_list > li .num {
    margin: 0 auto 10px;
    width: 78px;
    height: 78px;
    line-height: 78px;
    font-size: 1.8em;
    border-radius: 50%;
    border: 1px solid #999;
}
.lui_attendStat_list:after {
    content: '';
    display: table;
    visibility: hidden;
    clear: both;
}
.lui_attendStat_footer{
    color: #888;
}


