{$
<div class="muiDefaultHeader">
	<div class="muiDefaultBg"></div>
	<img src="{%data.icon%}" class="muiDefaultIcon"/>
	<span class="muiDefaultLabel">
		{%data.label%}
	</span>
	<span class="muiDefaultCreated">{%data.created%}</span>
</div>
$}