{$
<div class="muiDocumentHeader">
	<div class="muiDocumentLeftInfo">
		<span class="muiDocumentIconArea">
			<img class="muiDocumentIcon" src="{%data.icon%}"/>
		</span>
	</div>
	<div class="muiDocumentRightInfo">
		<span class="muiDocumentTitle">
			{%data.label%}
		</span>
		<ul class="muiDocumentSummary">
$}
		if(data.created){
			{$<li><i class="mui mui-todo_date"></i>{%data.created%}</li>$}
		}
		if(data.creator){
			{$<li><i class="mui mui-todo_person"></i>{%data.creator%}</li>$}
		}
		{$</ul>$}
		if(data.summary1 || data.summary2){
			{$<ul class="muiDocumentSummary">$}
				if(data.summary1){
					{$<li>{%data.summary1%}</li>$}
				}
				if(data.summary2){
					{$<li>{%data.summary2%}</li>$}
				}
			{$</ul>$}
		}
{$
	</div>
</div>
$}