<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean
		id="sendNodeBehaviourService"
		class="com.landray.kmss.sys.lbpmservice.node.sendnode.SendNodeBehaviour">
		<property
			name="handlerHolder">
			<ref
				bean="lbpmNodeHandlerHolder" />
		</property>
		<property name="authorizeHolderService">
			<ref bean="lbpmAuthorizeHolderService" />
		</property>
	</bean>
	<bean
		id="sendNodeDesc"
		class="com.landray.kmss.sys.lbpmservice.node.sendnode.SendNodeDesc" />

</beans>
