.outable{background-color:#ffffff;}
.tdrb {
	border-right:1px solid #666666;
	border-bottom:1px solid #666666;
}
.tdb {border-bottom:1px solid #666666;}
.tdr {border-right:1px solid #666666;}
.tdz {background-color:#666666;}
.tdtime {
	padding-top:6px;padding-bottom:6px;
	border-top:1px solid #666666;
	background-color:#F7F7F7;}
a:visited {text-decoration: none;} 
a:active {text-decoration: none;}
a:hover {text-decoration: underline overline;}
a:link {text-decoration: none;}
.ng {color:#008080;}
.topic {background-color:#09a4cf;}
.tfont {color:#ffffff;}
.nickStyle{filter:glow(color=#996699,direction=135);color:#ffffff;}
.quote {
	border-right: #d1d7dc 1px solid;
	border-top: #d1d7dc 1px solid;
	border-left: #d1d7dc 1px solid;
	color: #444444;
	line-height: 125%;
	border-bottom: #d1d7dc 1px solid;
	background-color: #fafafa;
}
.trace{color:#0082bf;}
.bestPostBg{background-color:#FFCCCC;}
.postOp{color:red;}