<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean
		name="/sys/rss/sys_rss_category/sysRssCategory.do"
		class="com.landray.kmss.sys.rss.actions.SysRssCategoryAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.rss.forms.SysRssCategoryForm" />
		<property name="forwards">
			<map>
				<entry
					key="view"
					value="/sys/rss/sys_rss_category/sysRssCategory_view.jsp" />
				<entry
					key="edit"
					value="/sys/rss/sys_rss_category/sysRssCategory_edit.jsp" />
				<entry
					key="list"
					value="/sys/rss/sys_rss_category/sysRssCategory_list.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/sys/rss/sys_rss_main/sysRssMain.do"
		class="com.landray.kmss.sys.rss.actions.SysRssMainAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.rss.forms.SysRssMainForm" />
		<property name="forwards">
			<map>
				<entry
					key="view"
					value="/sys/rss/sys_rss_main/sysRssMain_view.jsp" />
				<entry
					key="edit"
					value="/sys/rss/sys_rss_main/sysRssMain_edit.jsp" />
				<entry
					key="list"
					value="/sys/rss/sys_rss_main/sysRssMain_list.jsp" />
				<entry
					key="read"
					value="/sys/rss/sys_rss_main/sysRssMain_read.jsp" />
			</map>
		</property>
	</bean>
</beans>