@charset "UTF-8"; @font-face {
  font-family: "lui_single_menu_header_icon";
  src: url(../fonts/iconfont.eot);
  /* IE9*/
  src: url(../fonts/iconfont.eot#iefix) format("embedded-opentype"), url(../fonts/iconfont.woff) format("woff"), url(../fonts/iconfont.ttf) format("truetype"), url(../fonts/iconfont.svg#fontmui) format("svg");
  /* iOS 4.1- */
}

/*================公共 starts================*/
.lui_portal_header {
  display: block;
  width: 100%;
}

/* T型模板下全屏展示 */
.tTemplate .lui_single_menu_header_box {
  max-width: 100% !important;
}

/* 高度调整 */
/* === 隐藏搜索本模块 starts === */
.lui_list_body #_SEARCH_MODEL_ {
  display: none !important;
}

.lui_portal_header_search_btn#_SEARCH_MODEL_ {
  padding: 0;
}

/* === 隐藏搜索本模块 ends === */
.lui_single_menu_header_1 a:hover {
  color: #fff;
}

.lui_single_menu_header_1.lui_single_menu_header {
  padding: 0 15px;
  min-width: 984px;
  height: 50px;
  background-color: #4285f4;
  background-repeat: no-repeat;
  background-position: top center;
  color: #fff;
  overflow: hidden;
}

.lui_single_menu_header_1 .lui_single_menu_header_box {
  position: relative;
  margin: 0 auto;
}

.lui_single_menu_header_1 .lui_single_menu_header_box:after {
  content: '';
  display: table;
  visibility: hidden;
  clear: both;
}

.lui_single_menu_header_1 .lui_single_menu_header_logo, .lui_single_menu_header_1 .lui_single_menu_header_page, .lui_single_menu_header_1 .lui_single_menu_header_left {
  float: left;
}

.lui_single_menu_header_1 .lui_single_menu_header_item {
  line-height: 20px;
  font-size: 14px;
  transition-duration: .3s;
  position: relative;
  float: left;
  cursor: pointer;
  line-height: 50px;
  padding-left: 10px;
  padding-right: 10px;
  color: #FFE;
  position: relative;
}

.lui_single_menu_header_1 .lui_single_menu_header_item em {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  font-style: normal;
  /*   background-color: #F25643;
color: #fff;
font-size: 12px;
border-radius: 10px; */
  /*   height: 16px;
line-height: 16px;
min-width: 20px; */
  /* position: absolute; */
  /* right: -7px; */
  /* top: -6px; */
}

/*====logo starts====*/
.lui_single_menu_header_1 .lui_single_menu_header_logo {
  padding: 10px 0;
  width: 185px;
  height: 50px;
  line-height: 50px;
}

.lui_single_menu_header_1 .lui_single_menu_header_logo .lui_portal_header_logo_div {
  height: 50px;
  line-height: 50px;
  padding: 0;
}

.lui_single_menu_header_1 .lui_single_menu_header_logo a {
  display: block;
}

.lui_single_menu_header_1 .lui_single_menu_header_logo img {
  max-width: 100%;
  max-height: 100%;
}

/*====logo ends====*/
/*====应用 starts====*/
.lui_single_menu_header_1 .lui_single_menu_header_app {
  padding-left: 15px;
  padding-right: 15px;
}

/*====应用 ends====*/
/*====== 页面菜单starts =====*/
.lui_single_menu_header_1 .lui_single_menu_header_menu {
  float: left;
  position: absolute;
  left: 310px;
  /*right: 580px;*/
  width: 510px;
  overflow: hidden;
  top: 0;
}

.lui_single_menu_header_1 .lui_single_menu_header_menu .lui_icon_l {
  display: none;
  font-size: 30px;
  color: #666;
}

.lui_single_menu_header_1 .lui_single_menu_header_menu span {
  display: block;
  padding: 0 20px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.lui_single_menu_header_1 .lui_single_menu_header_menu_item_wrap {
  position: relative;
  height: 50px;
}

.lui_single_menu_header_1 .lui_single_menu_header_menu_item_frame {
  position: absolute;
  top: 0;
  overflow: hidden;
}

.lui_single_menu_header_1 .lui_single_menu_header_menu_item_body {
  display: inline-block;
}

.lui_single_menu_header_1 .lui_single_menu_header_menu_item_body .lui_single_menu_header_menu_item_div {
  height: 50px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
  position: relative;
}

.lui_single_menu_header_1 .lui_single_menu_header_menu_item_body .lui_single_menu_header_menu_item_current,
.lui_single_menu_header_1 .lui_single_menu_header_menu_item_body .lui_single_menu_header_menu_item_div:hover {
  /* background-color: #3b79de;
  height: 50px; 
  line-height: 50px; */
  text-align: center;
  color: #fff;
  background: transparent;
}
.lui_single_menu_header_1 .lui_single_menu_header_menu_item_body .lui_single_menu_header_menu_item_current:before,
.lui_single_menu_header_1 .lui_single_menu_header_menu_item_body .lui_single_menu_header_menu_item_div:hover:before{
  display: inline-block;
  content: "";
  position: absolute;
  left: 50%;
  bottom: 7px;
  width: 24px;
  height: 2px;
  margin: 0 0 0 -12px;
  background: #fff;
  border-radius: 1px;
  z-index: 1;
}

.lui_single_menu_header_1 .lui_single_menu_header_menu_item_body .lui_single_menu_header_menu_item_current .lui_icon_l,
.lui_single_menu_header_1 .lui_single_menu_header_menu_item_body .lui_single_menu_header_menu_item_div:hover .lui_icon_l {
  color: #fff;
}

.lui_single_menu_header_1 .lui_single_menu_header_menu_item_left, .lui_single_menu_header_1 .lui_single_menu_header_menu_item_right {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 23px;
  cursor: pointer;
}

/*====== 页面菜单ends =====*/
/*================左边 starts================*/
.lui_single_menu_header_1 .lui_single_menu_header_menu_item_left {
  left: 0;
}

/*================右边 starts================*/
.lui_single_menu_header_1 .lui_single_menu_header_menu_item_right {
  right: 0;
}

.lui_single_menu_header_1 .lui_single_menu_header_right {
  float: right;
}

.lui_single_menu_header_1 .lui_single_menu_header_right .lui_single_menu_header_item {
  /* padding-bottom: 20px; */
  padding-left: 8px;
  padding-right: 8px;
}

.lui_single_menu_header_1 .lui_single_menu_header_item.hover {
  background-color: transparent;
  position: relative;
}
.lui_single_menu_header_1 .lui_single_menu_header_item.hover:before{
  display: inline-block;
    content: "";
    position: absolute;
    left: 50%;
    bottom: 7px;
    width: 24px;
    height: 2px;
    margin: 0 0 0 -12px;
    background: #fff;
    border-radius: 1px;
    z-index: 1;
}
.lui_single_menu_header_1 .lui_single_menu_header_left .lui_single_menu_header_item.hover:before{
  margin-left:-22px;
}

.lui_single_menu_header_1 .lui_single_menu_header_item.hover .lui_single_menu_header_icon, .lui_single_menu_header_1 .lui_single_menu_header_item:hover .lui_single_menu_header_icon {
  /* color: #4285F4; */
}

.lui_single_menu_header_1 .lui_single_menu_header_logout:hover .lui_single_menu_header_icon {
  /* color: #4285F4; */
}

.lui_single_menu_header_1 .lui_single_menu_header_right .lui_single_menu_header_infobar {
  float: left;
}

.lui_single_menu_header_1 .lui_single_menu_header_right .lui_single_menu_header_infobar .lui_single_menu_header_logout {
}

.lui_single_menu_header_1 .lui_single_menu_header_portal .lui_dropdown_toggle {
  float: right;
}

.lui_single_menu_header_1 .lui_single_menu_header_person.hover .lui_dropdown_toggle {
  padding-top: 0px;
  padding-bottom: 0px;
}

/**=== 待办待阅starts ===**/
.lui_single_menu_header_1 .lui_single_menu_header_notify .lui_single_menu_header_icon {
  display: none;
}

/* === 待办待阅合并 === */
.lui_single_menu_header_1 .lui_single_menu_header_notify.lui_single_menu_header_notify_msg .lui_single_menu_header_icon {
  display: inline-block;
  /* padding: 0 14px; */
}

.lui_single_menu_header_1 .lui_single_menu_header_notify .lui_single_menu_header_num {
  display: inline-block;
    font-size: 12px;
    min-width: 12px;
    height: 12px;
    line-height: 12px;
    text-align: center;
    text-decoration: none;
    background-color: #FAA83B;
    margin: 2px 0 0;
    padding: 2px;
    color: #fff;
    border-radius: 75px;
}

.lui_single_menu_header_1 .lui_single_menu_header_daiban_div {
}

.lui_single_menu_header_1 .lui_single_menu_header_daiban_div, .lui_single_menu_header_1 .lui_single_menu_header_daiyue_div {
  display: inline-block;
  position: relative;
  padding: 0 5px;
}

/**=== 待办待阅ends ===**/
/*================搜索 starts================*/

/*======ie8搜索白色背景 灰色文字 starts======*/
.lui-ie8-html .lui_single_menu_header_1 .lui_single_menu_header_searchbar .lui_single_menu_header_search_input{
  background: transparent;
}
.lui-ie8-html .lui_single_menu_header_search_keyword_l{
  background: #fff;
  border:1px #ddd solid;
}
.lui-ie8-html .lui_single_menu_header_1 .lui_single_menu_header_searchbar .lui_single_menu_header_search_input input:focus,
.lui-ie8-html .lui_single_menu_header_1 .lui_single_menu_header_searchbar .lui_single_menu_header_search_input input{
  color:#333;
}
.lui-ie8-html .lui_single_menu_header_icon.lui_icon_l_cancel.lui_icon_l_fork,
.lui-ie8-html .lui_single_menu_header_search_dropdown_menu_toggle,
.lui-ie8-html .lui_single_menu_header_1 .lui_single_menu_header_searchbar .lui_single_menu_header_search_keyword_c .lui_icon_l_icon_search{
  color:#333;
}
.lui-ie8-html .lui_icon_l_fork.lui_icon_l_cancel.lui_single_menu_header_icon{
   color:#fff;
}
/*======ie8搜索白色背景 灰色文字 ends======*/

.lui_single_menu_header_1 .lui_single_menu_header_searchbar {
  position: relative;
  height: 30px;
  line-height: 20px;
  float: left;
  width: auto;
  text-align: right;
  margin-top: 10px;
  margin-right: 10px;
}

.lui_single_menu_header_1 .lui_single_menu_header_search_input {
  width: 0px;
  margin:0 20px 0 0;
  transition: all .1s;
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
}

/* 占位 */
.lui_single_menu_header_search_input_placeholder {
  position: absolute;
  z-index: -1;
}

.lui_single_menu_header_search_input_placeholder, .lui_single_menu_header_1 .lui_single_menu_header_search_input.lui_single_menu_header-active {
  width: 226px;
}

.lui_single_menu_header_1 .lui_single_menu_header_search_input.lui_single_menu_header-active+.search_btn_icon {
  display: none;
}

.lui_single_menu_header_1 .lui_single_menu_header_searchbar .lui_single_menu_header_search_input {
  display: inline-block;
  background: rgba(0, 0, 0, 0.1);
  border-radius:4px;
  text-align: left;
  overflow: hidden;
}

.lui_single_menu_header_1 .lui_single_menu_header_searchbar .lui_icon_l_icon_search {
  display: inline-block;
  cursor: pointer;
  vertical-align: top;
}

/* 取消 */
.lui_single_menu_header_1 .lui_single_menu_header_searchbar .lui_icon_l_cancel {
    width:20px;height:20px;
  margin-top: -6px;
    vertical-align: middle;
    margin-right: 0px;
    position: absolute;
    right: -5px;
    top: 5px;
    cursor: pointer;
    padding: 0px;
  display: none;
}

/* 激活状态可见 */
.lui_single_menu_header_1 .lui_single_menu_header_searchbar .lui_single_menu_header-active .lui_icon_l_cancel {
  display: block;
}

.lui_single_menu_header_1 .lui_single_menu_header_searchbar .lui_single_menu_header_search_input input {
  width: 135px;
  border: none;
  line-height: 20px;
  height: 20px;
  padding: 5px 0px 5px 0;
  outline: none;
  background: transparent;
  border-radius: 0;
  color: #fff;
  font-size:12px;
  vertical-align: top;
}

.lui_single_menu_header_1 .lui_single_menu_header_searchbar .lui_single_menu_header_search_input input:-webkit-autofill, .lui_single_menu_header_1 .lui_single_menu_header_searchbar .lui_single_menu_header_search_input input:-webkit-autofill:hover, .lui_single_menu_header_1 .lui_single_menu_header_searchbar .lui_single_menu_header_search_input input:-webkit-autofill:focus, .lui_single_menu_header_1 .lui_single_menu_header_searchbar .lui_single_menu_header_search_input input:-webkit-autofill:active {
  transition-delay: 5000000s;
  -webkit-transition-delay: 5000000s;
}

.lui_single_menu_header_1 .lui_single_menu_header_searchbar .lui_single_menu_header_search_input input:focus {
  color: #fff;
  border-color: #66afe9;
  background-color: transparent;
  outline: 0;
  box-shadow: none;
}

/* 智能搜索 Starts */
.lui_single_menu_header_search_input_placeholder, .lui_single_menu_header_1 .lui_single_menu_header_search_intell.lui_single_menu_header_search_input.lui_single_menu_header-active {
  width: 256px;
}

.lui_single_menu_header_1 .lui_single_menu_header_searchbar .lui_single_menu_header_search_intell.lui_single_menu_header_search_input input {
  width: 167px;
}

.lui_single_menu_header_1 .lui_single_menu_header_search_intell .icon_robot {
  width: 36px;
  overflow: hidden;
  position: absolute;
  left: 50px;
  top: 0;
  bottom: -2px;
  cursor: pointer;
  display: none;
}

.lui_single_menu_header_1 .lui_single_menu_header-active.lui_single_menu_header_search_intell .icon_robot {
  display: inline-block;
}

.lui_single_menu_header_1 .lui_single_menu_header_search_intell .icon_robot:after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 100%;
  background: url(../image/icon-search-robot.png) no-repeat center;
  background-size: 32px auto;
  position: absolute;
  left: 0;
  bottom: -2px;
}

.lui_single_menu_header_1 .lui_single_menu_header_search_input.lui_single_menu_header_search_intell input {
  text-indent: 30px;
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .lui_single_menu_header_1 .lui_single_menu_header_search_intell .icon_robot:after {
    background-image: url(../image/icon-search-robot@2x.png);
  }
}

/* 智能搜索 Ends */
.lui_single_menu_header_1 .lui_single_menu_header_searchbar .search_btn_icon {
  position: relative;
  display: inline-block;
}

.lui_single_menu_header_1 .lui_single_menu_header_searchbar .search_btn_icon:hover:before {
  color: #4285F4;
}

.lui_single_menu_header_1 .lui_single_menu_header_searchbar .searchCategory {
  width: 100%;
  padding: 0 2px;
  border-radius: 0;
  background: #ecf3fe;
  border: 1px solid #4285f4;
}

.lui_single_menu_header_1 .lui_single_menu_header_searchbar .searchCategory .search_item {
}

.lui_single_menu_header_1 .lui_single_menu_header_searchbar .lui_portal_header_search_btn {
  display: inline-block;
}

.lui_single_menu_header_1 #_SEARCH_MODEL_ {
  display: none;
}

.lui_single_menu_header_1 .lui_portal_header_search_btn input {
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: relative;
  z-index: 2;
}

.lui_single_menu_header_1 .lui_single_menu_header_searchbar .lui_portal_header_search_btn .lui_portal_header_search_full_c input {
  width: 20px;
  height: 20px;
  font-size: 0;
  border: 0;
  background: transparent;
  cursor: pointer;
}

.lui_single_menu_header_1 .lui_single_menu_header_searchbar.search_btn_icon {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0;
  bottom: 5px;
  cursor: pointer;
}

.lui_single_menu_header_1 .lui_single_menu_header_searchbar.search_btn_icon:hover {
  color: #4285F4;
}

/*placeholder starts*/
/* placeholder 色值 */
.lui_single_menu_header_1 .lui_single_menu_header_search_input input::-webkit-input-placeholder {
  color: #fff !important;
  color: rgba(255, 255, 255, 0.8) !important;
  font-size: 12px;
}

.lui_single_menu_header_1 .lui_single_menu_header_search_input input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #fff !important;
  color: rgba(255, 255, 255, 0.8) !important;
  font-size: 12px;
}

.lui_single_menu_header_1 .lui_single_menu_header_search_input input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #fff !important;
  color: rgba(255, 255, 255, 0.8) !important;
  font-size: 12px;
}

.lui_single_menu_header_1 .lui_single_menu_header_search_input input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #fff !important;
  color: rgba(255, 255, 255, 0.8) !important;
  font-size: 12px;
}

/*placeholder ends*/



/*================搜索 ends================*/
.lui_single_menu_header_1 .lui_single_menu_header_person {
  /* padding-top: 0; */
}

.lui_single_menu_header_1 .lui_single_menu_header_person_avatar {
  position: relative;
}

.lui_single_menu_header_1 .lui_single_menu_header_notify {
  float: left;
}

.lui_single_menu_header_1 .lui_portal_header_search_input input::-moz-placeholder {
  color: #bcbcbc !important;
}

.lui_single_menu_header_1 .lui_portal_header_search_input input:-ms-input-placeholder {
  color: #bcbcbc !important;
}

.lui_single_menu_header_1 .lui_portal_header_search_input input::-webkit-input-placeholder {
  color: #bcbcbc !important;
}

.lui_single_menu_header_1 .lui_single_menu_header_item .num {
  display: none;
  color: #fff;
  background: #ea4335;
  border-radius: 3px;
  padding-left: 3px;
  padding-right: 3px;
  font-size: 10px;
  display: inline-block;
  height: 14px;
  line-height: 14px;
}

.lui_single_menu_header_1 .lui_single_menu_header_item .comPromptNum {
  padding: 1px;
  min-width: 4px;
  height: 4px;
  line-height: 4px;
  display: inline-block;
  vertical-align: middle;
  background-color: #ea4335;
  border-radius: 8px;
}

.lui_single_menu_header_1 .lui_single_menu_header_item .lui_caret {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid \9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.lui_single_menu_header_1 .lui_single_menu_header_item.hover .com_prompt_num {
  background: #fff;
  color: #ea4335;
}

.lui_single_menu_header_1 .lui_single_menu_avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px #e5e5e5 solid;
  background-color: #f8f8f8;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
}
.lui_single_menu_header_1.lui_single_menu_header_1_50px .lui_single_menu_avatar{
  width: 24px;
  height: 24px;
}
.lui_single_menu_header_1 .lui_single_menu_avatar img {
  width: 100%;
  height: 100%;
  vertical-align: top;
}

/**-------------------  切换门户  鼠标悬浮弹出层相关样式  Start  -------------------- **/
.lui_single_menu_header_1 .lui_single_menu_header_page_popup {
  padding: 0 !important;
  float: left;
  width: 100%;
  max-height: 500px;
  overflow-x: hidden;
  overflow-y: auto;
}

.lui_single_menu_header_1 .lui_single_menu_header_page_popup .lui-component {
  float: left;
  width: 100%;
}

.lui_single_menu_header_1 .lui_single_menu_header_page_popup .lui_dataview_treemenu2_portal_lv1_c a {
  background: none;
  padding-left: 5px;
  display: block;
}

.lui_single_menu_header_1 .lui_single_menu_header_page_popup .lui_dataview_treemenu2_portal_lv1_c .selected {
  color: #4285f4;
}

.lui_single_menu_header_1 .lui_single_menu_header_page_popup .lui_dataview_treemenu2_portal3 {
  display: table;
  width: 100%;
  background-color: #FFFFFF;
}

.lui_single_menu_header_1 .lui_single_menu_header_page_popup .lui_dataview_treemenu2_portal3 .page_tab_container {
  display: table-cell;
  vertical-align: top;
  width: 160px;
  background-color: #F5F5F5;
}

.lui_single_menu_header_1 .lui_single_menu_header_page_popup .lui_dataview_treemenu2_portal3 .page_tab_container .page_tab_item {
  height: 50px;
  line-height: 50px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}

.lui_single_menu_header_1 .lui_single_menu_header_page_popup .lui_dataview_treemenu2_portal3 .page_tab_container .page_tab_item_selected {
  background-color: #FFFFFF;
  font-weight: bold;
}

.lui_single_menu_header_1 .lui_single_menu_header_page_popup .lui_dataview_treemenu2_portal3 .tab_content_container {
  display: table-cell;
  vertical-align: top;
  min-width: 540px;
}

.lui_single_menu_header_1 .lui_single_menu_header_page_popup .lui_dataview_treemenu2_portal3 .tab_content_container .navigation_category_container {
  float: left;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.lui_single_menu_header_1 .lui_single_menu_header_page_popup .lui_dataview_treemenu2_portal3 .tab_content_container .category_item {
  float: left;
  width: 100%;
}

.lui_single_menu_header_1 .lui_single_menu_header_page_popup .lui_dataview_treemenu2_portal3 .tab_content_container .category_title {
  float: left;
  width: 120px;
  position: relative;
  padding-right: 5px;
}

.lui_single_menu_header_1 .lui_single_menu_header_page_popup .lui_dataview_treemenu2_portal3 .tab_content_container .category_title:after {
  content: "";
  position: absolute;
  right: 0px;
  top: 12px;
  width: 1px;
  height: 12px;
  background-color: #DDDDDD;
}

.lui_single_menu_header_1 .lui_single_menu_header_page_popup .lui_dataview_treemenu2_portal3 .tab_content_container .category_title .category_title_text {
  float: left;
  width: 100px;
  height: 36px;
  line-height: 36px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}

.lui_single_menu_header_1 .lui_single_menu_header_page_popup .lui_dataview_treemenu2_portal3 .tab_content_container .category_title .category_title_dis {
  float: right;
  position: relative;
  top: 12px;
}

.lui_single_menu_header_1 .lui_single_menu_header_page_popup .lui_dataview_treemenu2_portal3 .tab_content_container .category_title .category_title_dis:before, .lui_single_menu_header_1 .lui_single_menu_header_page_popup .lui_dataview_treemenu2_portal3 .tab_content_container .category_title .category_title_dis:after {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  position: absolute;
  left: -11px;
  top: 1px;
}

.lui_single_menu_header_1 .lui_single_menu_header_page_popup .lui_dataview_treemenu2_portal3 .tab_content_container .category_title .category_title_dis:before {
  border-left-color: #999;
  left: -10px;
}

.lui_single_menu_header_1 .lui_single_menu_header_page_popup .lui_dataview_treemenu2_portal3 .tab_content_container .category_title .category_title_dis:after {
  border-left-color: #ffffff;
}

.lui_single_menu_header_1 .lui_single_menu_header_page_popup .lui_dataview_treemenu2_portal3 .tab_content_container .navigation_container {
  overflow: hidden;
  font-size: 12px;
  color: #666;
}

.lui_single_menu_header_1 .lui_single_menu_header_page_popup .lui_dataview_treemenu2_portal3 .tab_content_container .navigation_container_just_one_level {
}

.lui_single_menu_header_1 .lui_single_menu_header_page_popup .lui_dataview_treemenu2_portal3 .tab_content_container .navigation_item {
  float: left;
  position: relative;
  line-height: 36px;
  cursor: pointer;
  font-size: 12px;
}

.lui_single_menu_header_1 .lui_single_menu_header_page_popup .lui_dataview_treemenu2_portal3 .tab_content_container .navigation_item:first-child:before {
  display: none;
}

.lui_single_menu_header_1 .lui_single_menu_header_page_popup .lui_dataview_treemenu2_portal3 .tab_content_container .navigation_item:before {
  content: "";
  position: absolute;
  left: -10px;
  top: 12px;
  width: 1px;
  height: 12px;
  background-color: #DDDDDD;
}

.lui_single_menu_header_1 .lui_single_menu_header_page_popup .lui_dataview_treemenu2_portal3 .tab_content_container .row_first_navigation_item {
}

.lui_single_menu_header_1 .lui_single_menu_header_page_popup .lui_dataview_treemenu2_portal3 .tab_content_container .row_first_navigation_item:before {
  background-color: #FFFFFF;
}

.lui_single_menu_header_person_lang ul {
  padding: 0;
  list-style: none;
}

.lui_single_menu_header_person_lang ul>li a {
  padding: 6px 10px;
  line-height: 20px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition-duration: .3s;
}

.lui_single_menu_header_person_lang ul>li a:hover {
  color: #fff;
  background-color: #20a0ff;
}

.lui_tlayout_header_person_hr {
  border-top: 1px solid #d5d5d5;
}

/**-------------------  切换门户  鼠标悬浮弹出层相关样式  End  -------------------- **/
.lui_single_menu_header_1.lui_single_menu_header_portal_popup .lui_dataview_treemenu_flat {
}

.lui_single_menu_header_1.lui_single_menu_header_portal_popup .lui_dataview_treemenu_flat_text {
  padding: 0;
  position: relative;
}

.lui_single_menu_header_1.lui_single_menu_header_portal_popup .lui_dataview_treemenu_flat_item {
}

.lui_single_menu_header_1.lui_single_menu_header_portal_popup .lui_dataview_treemenu_flat_item:last-child {
}

.lui_single_menu_header_1.lui_single_menu_header_portal_popup .lui_dataview_treemenu_flat_text a {
  padding: 6px 10px;
  line-height: 20px;
  transition: background .3s;
}

.lui_single_menu_header_1.lui_single_menu_header_portal_popup .lui_dataview_treemenu_flat_selected .lui_dataview_treemenu_flat_text {
  background-color: transparent;
}

.lui_single_menu_header_1.lui_single_menu_header_portal_popup .lui_dataview_treemenu_flat_text a:hover, .lui_single_menu_header_1.lui_single_menu_header_portal_popup .lui_dataview_treemenu_flat_selected .lui_dataview_treemenu_flat_text a {
  color: #fff;
  background-color: #4285f4;
}

.lui_single_menu_header_1.lui_single_menu_header_portal_popup .lui_dataview_treemenu_flat_text_hover {
  background-color: #fff;
}

/* ===== 应用下拉 ===== */
.lui_single_menu_header_1.lui_single_menu_header_app_popup {
  width: 1200px !important;
  min-width: 1200px !important;
  margin: 0 auto;
}

.lui_single_menu_header_1.lui_single_menu_header_app_popup .lui_dataview_navtree_app_lv1_c>div>a {
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

.lui_single_menu_header_1.lui_single_menu_header_app_popup .lui_dataview_navtree_app_searchbar {
  background: #F5F6FB;
  width: 91%;
  border-radius: 2px;
}

.lui_single_menu_header_1.lui_single_menu_header_app_popup .lui_dataview_navtree_app_searchbar_wrap {
  width: 100%;
  border: none;
}

.lui_single_menu_header_1.lui_single_menu_header_app_popup .lui_dataview_navtree_app_searchbar_wrap span {
  float: left;
  right: auto;
  left: 10px;
  top: 15px;
}

.lui_single_menu_header_1.lui_single_menu_header_app_popup .lui_dataview_navtree_app_searchbar_wrap input {
  background: transparent;
  height: 32px;
  line-height: 32px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 4%;
}

.lui_single_menu_header_1.lui_single_menu_header_app_popup .lui_dataview_navtree_app_lv1_all {
  border-bottom: 1px solid #F5F6FB;
}

.lui_single_menu_header_1.lui_single_menu_header_app_popup .lui_dataview_navtree_app_lv1_l {
  float: none;
  padding-left: 0;
}

.lui_single_menu_header_1.lui_single_menu_header_app_popup .lui_dataview_navtree_app_lv1_c>div.lui_dataview_navtree_app_1v1_separate {
  display: none;
}

.lui_single_menu_header_1.lui_single_menu_header_app_popup .lui_dataview_navtree_app_lv2_all {
  margin-left: 0;
}

.lui_single_menu_header_1.lui_single_menu_header_app_popup .lui_dataview_navtree_app_lv2_all>.lui_dataview_navtree_app_lv2>a {
  width: 120px;
  text-align: left;
  padding: 4px 2px;
}

.lui_single_menu_header_1.lui_single_menu_header_app_popup .lui_dataview_navtree_app_lv2_all>.lui_dataview_navtree_app_lv2 .icon {
  background: none;
  color: #4285f4;
  display: inline-block;
  font-size: 16px;
  width: 16px;
  height: 16px;
  vertical-align: -2px;
  line-height: 16px;
  margin-right: 2px;
}

.lui_single_menu_header_1.lui_single_menu_header_app_popup .lui_dataview_navtree_app_lv2_all>.lui_dataview_navtree_app_lv2 .txt {
  display: inline-block;
  vertical-align: middle;
  width: 90px;
}

.lui_single_menu_header_1.lui_single_menu_header_app_popup .lui_dataview_navtree_app_lv2_all>.lui_dataview_navtree_app_lv2>a:hover {
  background: none;
  color: #4285f4;
}

.lui_single_menu_header_1.lui_single_menu_header_app_popup .lui_dataview_navtree_app_lv2_all>.lui_dataview_navtree_app_lv2>a:hover .icon {
  transform: none;
}

.lui_single_menu_header_1.lui_single_menu_header_app_popup .lui_dataview_navtree_app_searchbar_wrap .deleteIcon {
  top: 12px;
}

/* ----- 邮件 ----- */
.lui_single_menu_header_1 .lui_single_menu_header_email #div_num_nozero {
  font-size: 0 !important;
}

.lui_single_menu_header_1 .lui_single_menu_header_email #num_block {
  font-size: 14px;
  color: #333;
}

.lui_single_menu_header_1 .lui_single_menu_header_right .lui_single_menu_header_item.lui_single_menu_header_notify {
}

.lui_single_menu_header_1 .lui_single_menu_header_right .lui_single_menu_header_item.lui_single_menu_header_email {
  padding-left: 5px;
  padding-right: 5px;
}

.lui_single_menu_header_1 .lui_single_menu_header_email .com_prompt_num, .lui_single_menu_header_1 .lui_single_menu_header_notify .com_prompt_num, .lui_single_menu_header_1 .lui_single_menu_header_calendar .com_prompt_num, .lui_single_menu_header_1 .lui_single_menu_header_notify.lui_single_menu_header_notify_msg .com_prompt_num {
  margin-left: -5px;
  vertical-align: 5px;
}

.lui_single_menu_header_1 .lui_single_menu_header_notify .com_prompt_num {
}

.lui_single_menu_header_1 .lui_single_menu_header_notify .com_prompt_num.comPromptNum {
}

.lui_single_menu_header_1 .lui_single_menu_header_notify.lui_single_menu_header_notify_msg .com_prompt_num {
  display: inline-block;
  background: #FAA83B;
  position: inherit;
  height: 12px;
  line-height: 12px;
  margin: 2px 0 0 -8px;
  padding: 2px;
  border-radius: 75px;
  vertical-align: 4px;
}
/* 日程 */
.lui_single_menu_header_calendar {
  position: relative;
}

.lui_single_menu_header_calendar .com_prompt_num {
}

.lui_single_menu_header_1 .lui_single_menu_header_favorite {
}

.lui_single_menu_header_1 .lui_dropdown_toggle, .lui_single_menu_header_1 .lui_single_menu_header_calendar a, .lui_single_menu_header_1 .lui_single_menu_header_email a {
  position: relative;
}

/* 日程 */
.lui_single_menu_header_1 .lui_single_menu_header_right .lui_single_menu_header_item.lui_single_menu_header_calendar {
  position: relative;
  padding-left: 5px;
  padding-right: 5px;
}

.lui_single_menu_header_calendar .com_prompt_num {
  /* position: absolute; */
  /* top: -5px; */
  /* left: 10px; */
}

/*===== 矢量图标 Starts =====*/
.lui_single_menu_header_1 .search_btn_icon, .lui_single_menu_header_1 .lui_single_menu_header_icon, .lui_single_menu_header_1 .lui_single_menu_header_notify .lui_icon_s {
  font-family: "lui_single_menu_header_icon" !important;
  font-size: 18px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  background: none;
  vertical-align: middle;
}

.lui_single_menu_header_1 .lui_icon_l_icon_arrow_d:before {
  content: "\e636";
}

.lui_single_menu_header_1 .lui_icon_l_icon_arrow_solid_l:before {
  content: "\e627";
}

.lui_single_menu_header_1 .lui_icon_l_icon_arrow_solid_r:before {
  content: "\e623";
}

.lui_single_menu_header_1 .lui_icon_l_icon_logout:before {
  content: "\e63e";
}

/*.lui_single_menu_header_1 .lui_icon_l_icon_favorite:before {
  content: "\e63c";
}*/

.lui_single_menu_header_1 .lui_icon_l_icon_more:before {
  content: "\e637";
}

.lui_single_menu_header_1 .lui_icon_l_icon_notify:before {
  content: "\e638";
}

.lui_single_menu_header_1 .lui_icon_l_icon_search:before {
  content: "\e629";
}

.lui_single_menu_header_1 .lui_icon_l_icon_email:before {
  content: "\e63a";
}

.lui_single_menu_header_1 .lui_icon_l_icon_schedule:before {
  content: "\e63b";
}

.lui_single_menu_header_1 .lui_icon_l_icon_todo:before {
  content: "\e63d";
}

.lui_single_menu_header_1 .lui_icon_l_icon_toview:before {
  content: "\e639";
}

.lui_single_menu_header_1 .lui_icon_l_fork:before{
  content: "\e635";
}


/*===== 矢量图标 Ends =====*/
/* ===== 分类搜索下拉 Starts ===== */
.lui_single_menu_header_search_dropdown_menu {
  position: relative;
  display: inline-block;
  font-size: 12px;
  width: 44px;
  /* text-align: center; */
  cursor: pointer;
  height: 30px;
  padding-left: 10px;
}

.lui_single_menu_header_search_dropdown_menu_list {
  width: 56px;
  background: #fff;
  border: 1px solid #e5e5e5 \9;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  position: absolute;
  z-index: 60;
}

.lui_single_menu_header_search_dropdown_menu_list ul {
  list-style: none;
}

.lui_single_menu_header_search_dropdown_menu_list li {
  line-height: 32px;
  text-align: center;
  /* padding-left: 10px; */
}

.lui_single_menu_header_search_dropdown_menu_list li a {
  display: block;
  font-size: 12px;
}

.lui_single_menu_header_search_dropdown_menu_list li label {
  display: block;
  cursor: pointer;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.lui_single_menu_header_search_dropdown_menu_list input {
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.lui_single_menu_header_search_dropdown_menu_toggle {
  display: inline-block;
  max-width: 30px;
  height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
  padding-right: 13px;
}

.lui_single_menu_header_search_dropdown_menu_toggle:after {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  background: url(../image/icon_arrow_down@2x.png) no-repeat left top;
  background-size: 8px auto;
  position: absolute;
  right: 0;
  top: 11px;
}

@media \0screen {
  .lui_single_menu_header_search_dropdown_menu_toggle:after {
    background-image: url(../image/icon_arrow_down_ie8.png);
  }
}

/* ===== 分类搜索下拉 Ends ===== */
/* ===== 页眉下拉菜单 starts ===== */
.lui_single_menu_header_drop {
  width: 200px;
  max-height: 200px;
  overflow-y: auto;
  background: #fff;
  margin-left: -50px;
}

.lui_single_menu_header_drop .lui_single_menu_header_menu_item_r {
  width: 100% !important;
}

.lui_single_menu_header_drop .lui_single_menu_header_menu_item_div {
  cursor: pointer;
  height: 32px;
  line-height: 32px;
  padding: 0 10px;
}

.lui_single_menu_header_drop .lui_single_menu_header_menu_item_div span {
  display: block;
  height: 32px;
  line-height: 32px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.lui_single_menu_header_drop .lui_single_menu_header_menu_item_div:hover {
  color: #4285f4;
  background: #f7f7f7;
}

.lui_single_menu_header_drop .lui_single_menu_header_menu_item_current, .lui_single_menu_header_drop .lui_single_menu_header_menu_item_current:hover {
  color: #fff;
  background: #4285f4;
}

.lui_single_menu_header_menu_item_line {
  height: 50px;
  line-height: 50px;
}

.lui_single_menu_header_menu_item_line.lui_single_menu_header_menu_item_hover {
  background: transparent;
  position: relative;
}
.lui_single_menu_header_menu_item_line.lui_single_menu_header_menu_item_hover:before{
  display: inline-block;
    content: "";
    position: absolute;
    left: 50%;
    bottom: 7px;
    width: 24px;
    height: 2px;
    margin: 0 0 0 -12px;
    background: #fff;
    border-radius: 1px;
    z-index: 1;
}
/* ===== 页眉下拉菜单 starts ===== */
/**--------- 经典页眉二、三级下拉菜单    Start  ---------**/
.lui_single_menu_header_dropdown_menu {
  position: absolute;
  z-index: 999999;
  /*#92381 取消最小宽度*/
  /* min-width: 180px; */
  color: #ffffff;
  cursor: pointer;
  border: 1px solid #EEEEEE;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.09);
  text-align: center;
}

/** 下拉菜单项 **/
.lui_single_menu_header_dropdown_menu_item {
  background-color: #F5F5F5;
  /* 	filter: alpha(opacity=90);
-moz-opacity:0.9;
-khtml-opacity: 0.2;
opacity: 0.9;    */
  padding-left: 6px;
  padding-right: 6px;
  height: 40px;
  line-height: 40px;
  color: #333;
}

/** 下拉菜单项悬停样式  **/
.lui_single_menu_header_dropdown_menu_item_hover {
  background-color: #fff;
}

.lui_single_menu_header_dropdown_menu_item .lui_single_menu_header_dropdown_menu_item_text {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  float: left;
}

/** 下拉菜单项子菜单展开指引图标 **/
.lui_single_menu_header_dropdown_menu_item .lui_single_menu_header_dropdown_menu_item_dis {
  float: right;
  position: relative;
  top: 15px;
  position: relative;
}

.lui_single_menu_header_dropdown_menu_item_dis:before, .lui_single_menu_header_dropdown_menu_item_dis:after {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  position: absolute;
  left: -11px;
}

.lui_single_menu_header_dropdown_menu_item_dis:before {
  border-left-color: #999;
  left: -10px;
}

.lui_single_menu_header_dropdown_menu_item_hover .lui_single_menu_header_dropdown_menu_item_dis:after {
  border-left-color: #fff;
}

.lui_single_menu_header_dropdown_menu_item_dis:after {
  border-left-color: #f5f5f5;
}

/**--------- 经典页眉二、三级下拉菜单    End  ---------**/
