<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean
		id="sysTimeOrgElementDao"
		parent="KmssAuthBaseDao"
		class="com.landray.kmss.sys.time.dao.hibernate.SysTimeOrgElementTimeDaoImp">
		<property
			name="modelName"
			value="com.landray.kmss.sys.time.model.SysTimeOrgElementTime" />
	</bean>
	<bean
		id="sysTimeAreaDao"
		parent="KmssAuthAreaBaseDao"
		class="com.landray.kmss.sys.time.dao.hibernate.SysTimeAreaDaoImp">
		<property
			name="modelName"
			value="com.landray.kmss.sys.time.model.SysTimeArea" />
	</bean>
	<bean
		id="sysTimeAreaTarget"
		parent="KmssBaseTarget"
		class="com.landray.kmss.sys.time.service.spring.SysTimeAreaServiceImp">
		<property name="baseDao">
			<ref bean="sysTimeAreaDao" />
		</property>
	</bean>
	<bean
		id="sysTimeAreaService"
		parent="KmssBaseService">
		<property name="target">
			<ref bean="sysTimeAreaTarget" />
		</property>
	</bean>

	<bean
		id="sysTimeWorkDao"
		parent="KmssAuthBaseDao"
		class="com.landray.kmss.sys.time.dao.hibernate.SysTimeWorkDaoImp">
		<property
			name="modelName"
			value="com.landray.kmss.sys.time.model.SysTimeWork" />
	</bean>
	<bean
		id="sysTimeWorkTarget"
		parent="KmssBaseTarget"
		class="com.landray.kmss.sys.time.service.spring.SysTimeWorkServiceImp">
		<property name="baseDao">
			<ref bean="sysTimeWorkDao" />
		</property>
	</bean>
	<bean
		id="sysTimeWorkService"
		parent="KmssBaseService">
		<property name="target">
			<ref bean="sysTimeWorkTarget" />
		</property>
	</bean>

	<bean
		id="sysTimeCommonTimeDao"
		parent="KmssAuthBaseDao"
		class="com.landray.kmss.sys.time.dao.hibernate.SysTimeCommonTimeDaoImp">
		<property
			name="modelName"
			value="com.landray.kmss.sys.time.model.SysTimeCommonTime" />
	</bean>
	<bean
		id="sysTimeCommonTimeTarget"
		parent="KmssBaseTarget"
		class="com.landray.kmss.sys.time.service.spring.SysTimeCommonTimeServiceImp">
		<property name="baseDao">
			<ref bean="sysTimeCommonTimeDao" />
		</property>
	</bean>
	<bean
		id="sysTimeCommonTimeService"
		parent="KmssBaseService">
		<property name="target">
			<ref bean="sysTimeCommonTimeTarget" />
		</property>
	</bean>
	<bean
		id="sysTimeWorkTimeDao"
		parent="KmssAuthBaseDao"
		class="com.landray.kmss.sys.time.dao.hibernate.SysTimeWorkTimeDaoImp">
		<property
			name="modelName"
			value="com.landray.kmss.sys.time.model.SysTimeWorkTime" />
	</bean>
	<bean
		id="sysTimeWorkTimeTarget"
		parent="KmssBaseTarget"
		class="com.landray.kmss.sys.time.service.spring.SysTimeWorkTimeServiceImp">
		<property name="baseDao">
			<ref bean="sysTimeWorkTimeDao" />
		</property>
	</bean>
	<bean
		id="sysTimeWorkTimeService"
		parent="KmssBaseService">
		<property name="target">
			<ref bean="sysTimeWorkTimeTarget" />
		</property>
	</bean>
	<bean
		id="sysTimePatchworkDao"
		parent="KmssAuthBaseDao"
		class="com.landray.kmss.sys.time.dao.hibernate.SysTimePatchworkDaoImp">
		<property
			name="modelName"
			value="com.landray.kmss.sys.time.model.SysTimePatchwork" />
	</bean>
	<bean
		id="sysTimePatchworkTarget"
		parent="KmssBaseTarget"
		class="com.landray.kmss.sys.time.service.spring.SysTimePatchworkServiceImp">
		<property name="baseDao">
			<ref bean="sysTimePatchworkDao" />
		</property>
	</bean>
	<bean
		id="sysTimePatchworkService"
		parent="KmssBaseService">
		<property name="target">
			<ref bean="sysTimePatchworkTarget" />
		</property>
	</bean>

	<bean
		id="sysTimePatchworkTimeDao"
		parent="KmssAuthBaseDao"
		class="com.landray.kmss.sys.time.dao.hibernate.SysTimePatchworkTimeDaoImp">
		<property
			name="modelName"
			value="com.landray.kmss.sys.time.model.SysTimePatchworkTime" />
	</bean>
	<bean
		id="sysTimePatchworkTimeTarget"
		parent="KmssBaseTarget"
		class="com.landray.kmss.sys.time.service.spring.SysTimePatchworkTimeServiceImp">
		<property name="baseDao">
			<ref bean="sysTimePatchworkTimeDao" />
		</property>
	</bean>
	<bean
		id="sysTimePatchworkTimeService"
		parent="KmssBaseService">
		<property name="target">
			<ref bean="sysTimePatchworkTimeTarget" />
		</property>
	</bean>

	<bean
		id="sysTimeVacationDao"
		parent="KmssAuthBaseDao"
		class="com.landray.kmss.sys.time.dao.hibernate.SysTimeVacationDaoImp">
		<property
			name="modelName"
			value="com.landray.kmss.sys.time.model.SysTimeVacation" />
	</bean>
	<bean
		id="sysTimeVacationTarget"
		parent="KmssBaseTarget"
		class="com.landray.kmss.sys.time.service.spring.SysTimeVacationServiceImp">
		<property name="baseDao">
			<ref bean="sysTimeVacationDao" />
		</property>
	</bean>
	<bean
		id="sysTimeVacationService"
		parent="KmssBaseService">
		<property name="target">
			<ref bean="sysTimeVacationTarget" />
		</property>
	</bean>

	<!-- 
	<bean
		id="sysTimeCountService"
		class="com.landray.kmss.sys.time.service.spring.SysTimeCountServiceImp">
		<property name="sysOrgElementService">
			<ref bean="sysOrgElementService" />
		</property>
		<property name="sysTimeAreaService">
			<ref bean="sysTimeAreaService" />
		</property>
	</bean>
	-->
	<bean
		id="businessHours"
		class="com.landray.kmss.sys.time.service.business.BusinessHoursService" />
	<bean
		id="workTimeProvide"
		class="com.landray.kmss.sys.time.service.rule.WorkTimeProvide" />
	<bean
		id="vacationProvide"
		class="com.landray.kmss.sys.time.service.rule.VacationProvide" />
	<bean
		id="patchWorkProvide"
		class="com.landray.kmss.sys.time.service.rule.PatchWorkProvide" />
	<bean
		id="holidayProvide"
		class="com.landray.kmss.sys.time.service.rule.HolidayProvide" />
	<bean
		id="holidayPatchWorkProvide"
		class="com.landray.kmss.sys.time.service.rule.HolidayPatchWorkProvide" />
		
	<bean
		id="sysTimeCountService"
		class="com.landray.kmss.sys.time.service.rule.SysTimeCountService">
		<property name="sysOrgElementService">
			<ref bean="sysOrgElementService" />
		</property>
		<property name="sysTimeAreaService">
			<ref bean="sysTimeAreaService" />
		</property>
		<property name="businessHours">
			<ref bean="businessHours" />
		</property>
		<property name="provides">
			<list>
				<ref bean="workTimeProvide" />
				<ref bean="vacationProvide" />
				<ref bean="patchWorkProvide" />
				<ref bean="holidayProvide" />
				<ref bean="holidayPatchWorkProvide" />
			</list>
		</property>
	</bean>
	
	<bean
		id="sysTimeHolidayDao"
		parent="KmssExtendDataAreaDao"
		class="com.landray.kmss.sys.time.dao.hibernate.SysTimeHolidayDaoImp">
		<property
			name="modelName"
			value="com.landray.kmss.sys.time.model.SysTimeHoliday" />
	</bean>

	<bean
		id="sysTimeHolidayTarget"
		parent="KmssExtendDataTarget"
		class="com.landray.kmss.sys.time.service.spring.SysTimeHolidayServiceImp">
		<property
			name="baseDao">
			<ref
				bean="sysTimeHolidayDao" />
		</property>
		<property
			name="sysTimeHolidayPachService">
			<ref
				bean="sysTimeHolidayPachService" />
		</property>
	</bean>
	<bean
		id="sysTimeHolidayService"
		parent="KmssBaseService">
		<property
			name="target">
			<ref
				bean="sysTimeHolidayTarget" />
		</property>
	</bean>

	
	<bean
		id="sysTimeHolidayDetailDao"
		parent="KmssExtendDataAreaDao"
		class="com.landray.kmss.sys.time.dao.hibernate.SysTimeHolidayDetailDaoImp">
		<property
			name="modelName"
			value="com.landray.kmss.sys.time.model.SysTimeHolidayDetail" />
	</bean>

	<bean
		id="sysTimeHolidayDetailTarget"
		parent="KmssExtendDataTarget"
		class="com.landray.kmss.sys.time.service.spring.SysTimeHolidayDetailServiceImp">
		<property
			name="baseDao">
			<ref
				bean="sysTimeHolidayDetailDao" />
		</property>
	</bean>
	<bean
		id="sysTimeHolidayDetailService"
		parent="KmssBaseService">
		<property
			name="target">
			<ref
				bean="sysTimeHolidayDetailTarget" />
		</property>
	</bean>
	<bean
		id="sysTimeHolidayPachDao"
		parent="KmssExtendDataAreaDao"
		class="com.landray.kmss.sys.time.dao.hibernate.SysTimeHolidayPachDaoImp">
		<property
			name="modelName"
			value="com.landray.kmss.sys.time.model.SysTimeHolidayPach" />
	</bean>
	<bean
		id="sysTimeHolidayPachTarget"
		parent="KmssExtendDataTarget"
		class="com.landray.kmss.sys.time.service.spring.SysTimeHolidayPachServiceImp">
		<property
			name="baseDao">
			<ref
				bean="sysTimeHolidayPachDao" />
		</property>
	</bean>
	<bean
		id="sysTimeHolidayPachService"
		parent="KmssBaseService">
		<property
			name="target">
			<ref
				bean="sysTimeHolidayPachTarget" />
		</property>
	</bean>

	<bean
		id="sysTimeAreaSimulator"
		class="com.landray.kmss.sys.time.service.spring.SysTimeAreaSimulator">
		<property name="sysTimeCountService">
			<ref bean="sysTimeCountService" />
		</property>
		<property name="sysOrgElementService">
			<ref bean="sysOrgElementService" />
		</property>
	</bean>
	
	<bean
		id="sysTimeLeaveRuleDao"
		parent="KmssAuthBaseDao"
		class="com.landray.kmss.sys.time.dao.hibernate.SysTimeLeaveRuleDaoImp">
		<property
			name="modelName"
			value="com.landray.kmss.sys.time.model.SysTimeLeaveRule" />
	</bean>
	<bean
		id="sysTimeLeaveRuleTarget"
		parent="KmssBaseTarget"
		class="com.landray.kmss.sys.time.service.spring.SysTimeLeaveRuleServiceImp">
		<property
			name="baseDao">
			<ref
				bean="sysTimeLeaveRuleDao" />
		</property>
		<property name="sysTimeLeaveAmountItemService" ref="sysTimeLeaveAmountItemService"></property>
	</bean>
	<bean
		id="sysTimeLeaveRuleService"
		parent="KmssBaseService">
		<property
			name="target">
			<ref
				bean="sysTimeLeaveRuleTarget" />
		</property>
	</bean>
	
	<bean
		id="sysTimeLeaveAmountDao"
		parent="KmssAuthAreaBaseDao"
		class="com.landray.kmss.sys.time.dao.hibernate.SysTimeLeaveAmountDaoImp">
		<property
			name="modelName"
			value="com.landray.kmss.sys.time.model.SysTimeLeaveAmount" />
	</bean>
	<bean
		id="sysTimeLeaveAmountTarget"
		parent="KmssBaseTarget"
		class="com.landray.kmss.sys.time.service.spring.SysTimeLeaveAmountServiceImp">
		<property
			name="baseDao">
			<ref
				bean="sysTimeLeaveAmountDao" />
		</property>
		<property name="sysTimeLeaveRuleService" ref="sysTimeLeaveRuleService"></property>
		<property name="sysTimeLeaveAmountItemService" ref="sysTimeLeaveAmountItemService"></property>
		<property name="sysOrgCoreService" ref="sysOrgCoreService"></property>
	</bean>
	<bean
		id="sysTimeLeaveAmountService"
		parent="KmssBaseService">
		<property
			name="target">
			<ref
				bean="sysTimeLeaveAmountTarget" />
		</property>
	</bean>
	
	<bean
		id="sysTimeLeaveAmountItemDao"
		parent="KmssAuthBaseDao"
		class="com.landray.kmss.sys.time.dao.hibernate.SysTimeLeaveAmountItemDaoImp">
		<property
			name="modelName"
			value="com.landray.kmss.sys.time.model.SysTimeLeaveAmountItem" />
	</bean>
	<bean
		id="sysTimeLeaveAmountItemTarget"
		parent="KmssBaseTarget"
		class="com.landray.kmss.sys.time.service.spring.SysTimeLeaveAmountItemServiceImp">
		<property
			name="baseDao">
			<ref
				bean="sysTimeLeaveAmountItemDao" />
		</property>
	</bean>
	<bean
		id="sysTimeLeaveAmountItemService"
		parent="KmssBaseService">
		<property
			name="target">
			<ref
				bean="sysTimeLeaveAmountItemTarget" />
		</property>
	</bean>
	<bean
		id="sysTimeLeaveAmountJobService"
		class="com.landray.kmss.sys.time.service.spring.SysTimeLeaveAmountJobServiceImp">
		<property name="sysTimeLeaveAmountItemService" ref="sysTimeLeaveAmountItemService"></property>
	</bean>
	
	<bean
		id="sysTimeLeaveDetailDao"
		parent="KmssAuthAreaBaseDao"
		class="com.landray.kmss.sys.time.dao.hibernate.SysTimeLeaveDetailDaoImp">
		<property
			name="modelName"
			value="com.landray.kmss.sys.time.model.SysTimeLeaveDetail" />
	</bean>
	<bean
		id="sysTimeLeaveDetailTarget"
		parent="KmssBaseTarget"
		class="com.landray.kmss.sys.time.service.spring.SysTimeLeaveDetailServiceImp">
		<property
			name="baseDao">
			<ref
				bean="sysTimeLeaveDetailDao" />
		</property>
		<property name="sysTimeLeaveAmountService" ref="sysTimeLeaveAmountService"></property>
		<property name="sysTimeLeaveAmountItemService" ref="sysTimeLeaveAmountItemService"></property>
		<property name="sysTimeLeaveRuleService" ref="sysTimeLeaveRuleService"></property>
		<property name="sysOrgCoreService" ref="sysOrgCoreService"></property>
		<property name="sysTimeLeaveAmountFlowService" ref="sysTimeLeaveAmountFlowService"></property>
	</bean>
	<bean
		id="sysTimeLeaveDetailService"
		parent="KmssBaseService">
		<property
			name="target">
			<ref
				bean="sysTimeLeaveDetailTarget" />
		</property>
	</bean>
	
	<bean
		id="sysTimeLeaveResumeDao"
		parent="KmssAuthBaseDao"
		class="com.landray.kmss.sys.time.dao.hibernate.SysTimeLeaveResumeDaoImp">
		<property
			name="modelName"
			value="com.landray.kmss.sys.time.model.SysTimeLeaveResume" />
	</bean>
	<bean
		id="sysTimeLeaveResumeTarget"
		parent="KmssBaseTarget"
		class="com.landray.kmss.sys.time.service.spring.SysTimeLeaveResumeServiceImp">
		<property
			name="baseDao">
			<ref
				bean="sysTimeLeaveResumeDao" />
		</property>
		<property name="sysTimeLeaveAmountItemService" ref="sysTimeLeaveAmountItemService"></property>
		<property name="sysTimeLeaveDetailService" ref="sysTimeLeaveDetailService"></property>
		<property name="sysTimeLeaveRuleService" ref="sysTimeLeaveRuleService"></property>
	</bean>
	<bean
		id="sysTimeLeaveResumeService"
		parent="KmssBaseService">
		<property
			name="target">
			<ref
				bean="sysTimeLeaveResumeTarget" />
		</property>
	</bean>
	
	<bean
		id="sysTimeLeaveAmountReleaseJobService"
		class="com.landray.kmss.sys.time.service.spring.SysTimeLeaveAmountReleaseJobServiceImp">
		<property name="sysTimeLeaveRuleService" ref="sysTimeLeaveRuleService"></property>
		<property name="sysTimeLeaveAmountService" ref="sysTimeLeaveAmountService"></property>
		<property name="sysTimeLeaveAmountItemService" ref="sysTimeLeaveAmountItemService"></property>
	</bean>

	<bean
		id="sysTimeLeaveAmountRehireService"
		class="com.landray.kmss.sys.time.service.scheduled.SysTimeLeaveAmountRehireServiceImp">
		<property name="sysTimeLeaveRuleService" ref="sysTimeLeaveRuleService"></property>
		<property name="sysTimeLeaveAmountService" ref="sysTimeLeaveAmountService"></property>
		<property name="sysTimeLeaveAmountItemService" ref="sysTimeLeaveAmountItemService"></property>
	</bean>
	
	<bean
		id="sysTimeLeaveAmountFlowDao"
		parent="KmssAuthBaseDao"
		class="com.landray.kmss.sys.time.dao.hibernate.SysTimeLeaveAmountFlowDaoImp">
		<property
			name="modelName"
			value="com.landray.kmss.sys.time.model.SysTimeLeaveAmountFlow" />
	</bean>
	<bean
		id="sysTimeLeaveAmountFlowTarget"
		parent="KmssBaseTarget"
		class="com.landray.kmss.sys.time.service.spring.SysTimeLeaveAmountFlowServiceImp">
		<property
			name="baseDao">
			<ref
				bean="sysTimeLeaveAmountFlowDao" />
		</property>
	</bean>
	<bean
		id="sysTimeLeaveAmountFlowService"
		parent="KmssBaseService">
		<property
			name="target">
			<ref
				bean="sysTimeLeaveAmountFlowTarget" />
		</property>
	</bean>
	
	<bean
		id="sysTimeLeaveLastAmountDao"
		parent="KmssAuthBaseDao"
		class="com.landray.kmss.sys.time.dao.hibernate.SysTimeLeaveLastAmountDaoImp">
		<property
			name="modelName"
			value="com.landray.kmss.sys.time.model.SysTimeLeaveLastAmount" />
	</bean>
	<bean
		id="sysTimeLeaveLastAmountTarget"
		parent="KmssBaseTarget"
		class="com.landray.kmss.sys.time.service.spring.SysTimeLeaveLastAmountServiceImp">
		<property
			name="baseDao">
			<ref
				bean="sysTimeLeaveLastAmountDao" />
		</property>
	</bean>
	<bean
		id="sysTimeLeaveLastAmountService"
		parent="KmssBaseService">
		<property
			name="target">
			<ref
				bean="sysTimeLeaveLastAmountTarget" />
		</property>
	</bean>
	
	<bean id="sysTimeDatainitService" class="com.landray.kmss.sys.time.service.spring.SysTimeDatainitService">
		<property name="sysTimeLeaveRuleService">
			<ref bean="sysTimeLeaveRuleService"/>
		</property>
	</bean>
	
	<bean 
        id="sysTimeElementExDao" 
        class="com.landray.kmss.sys.time.dao.hibernate.SysTimeElementExDaoImp" 
        parent="KmssAuthBaseDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.sys.time.model.SysTimeElementEx</value>
        </property>
    </bean>
    <bean 
        id="sysTimeElementExTarget" 
        class="com.landray.kmss.sys.time.service.spring.SysTimeElementExServiceImp" 
        parent="KmssExtendDataTarget">
        <property 
            name="baseDao">
            <ref 
                bean="sysTimeElementExDao"/>
        </property>
    </bean>
    <bean 
        id="sysTimeElementExService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="sysTimeElementExTarget"/>
        </property>
    </bean>
    <bean 
        id="sysTimeBusinessExDao" 
        class="com.landray.kmss.sys.time.dao.hibernate.SysTimeBusinessExDaoImp" 
        parent="KmssAuthBaseDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.sys.time.model.SysTimeBusinessEx</value>
        </property>
    </bean>
    <bean 
        id="sysTimeBusinessExTarget" 
        class="com.landray.kmss.sys.time.service.spring.SysTimeBusinessExServiceImp" 
        parent="KmssExtendDataTarget">
        <property 
            name="baseDao">
            <ref 
                bean="sysTimeBusinessExDao"/>
        </property>
    </bean>
    <bean 
        id="sysTimeBusinessExService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="sysTimeBusinessExTarget"/>
        </property>
    </bean>

	<bean id="sysTimeRuleProlongExpireService" class="com.landray.kmss.sys.time.service.robot.SysTimeRuleProlongExpireService"></bean>
	<bean id="sysTimeLeaveAmountYearService" class="com.landray.kmss.sys.time.service.scheduled.SysTimeLeaveAmountYearService"></bean>
</beans>
