
/*---------------- 工具箱 -----------------------*/
.profile_tool_container{ padding:0 20px;}
.profile_tool_title{ padding:5px 0; text-align: center; margin:0 0 5px;}
.profile_tool_title span{ font-size: 20px; color:#37a8f5; border-bottom:2px solid #37a8f5; padding-bottom: 2px;}
.profile_tool_list ul{ list-style: none; padding:0; margin:0;}
.profile_tool_list ul li{ display: table; width: 100%; border-bottom:1px dashed #efefef; padding:20px 0;}
.profile_tool_list ul li>div{ display: table-cell; vertical-align: top;}
.profile_tool_list ul li .profile_tool_opt{ width: 120px; vertical-align: middle;}
.profile_tool_list ul li:hover{ background-color:#fafafa;}
.profile_tool_list ul li .profile_tool_opt{ text-align: right; padding-right: 5px;}
.profile_tool_list ul li .profile_tool_btn{ display: inline-block; width: 105px; height: 30px; line-height: 30px; border-radius: 3px; font-size: 14px; cursor: pointer; text-align: center; border:1px solid #37a8f5; background:#37a8f5; color:#fff;}
.profile_tool_list ul li .profile_tool_btn:hover{ background:#38afff; border-color:#38afff;}
.profile_tool_list ul li .profile_tool_icon{ width:50px; padding-left:5px;}
.profile_tool_list ul li .profile_tool_name{ font-size: 14px; color:#484848; margin-bottom:5px; margin-top:0;}
.profile_tool_list ul li .profile_tool_brief{ color:#999; line-height: 18px;}
.profile_tool_list ul li .profile_tool_icon i{ display: inline-block; width:38px; height:38px; background-repeat: no-repeat;}

.profile_tool_list ul li .profile_tool_icon i,
.profile_tool_download,
.profile_tool_module,
.profile_tool_alter,
.profile_tool_load,
.profile_tool_dict,
.profile_tool_index,
.profile_tool_mail,
.profile_tool_part,
.profile_tool_form,
.profile_tool_io {
	background-image: url(../images/profile_tool.png)
}
.profile_tool_list ul li>.profile_tool_icon>.profile_tool_logo{
	background-image: url(../images/logo_setting.png)
}
.profile_tool_logo {
	background-position: 0px 0px
}

.profile_tool_module {
	background-position: 0px 0px
}

.profile_tool_download {
	background-position: 0px -41px
}

.profile_tool_alter {
	background-position: 0px -82px
}

.profile_tool_load {
	background-position: 0px -123px
}

.profile_tool_dict {
	background-position: 0px -164px
}

.profile_tool_index {
	background-position: 0px -205px
}

.profile_tool_mail {
	background-position: 0px -246px
}

.profile_tool_part {
	background-position: 0px -287px
}

.profile_tool_form {
	background-position: 0px -328px
}

.profile_tool_io {
	background-position: 0px -369px
}
