<?xml version="1.0" encoding="UTF-8"?>
<plugin
	xmlns="http://www.example.org/plugin-config"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.example.org/plugin-config ../../../plugin.xsd ">
	<!-- 基本属性布局扩展 -->
	<extension point="com.landray.kmss.sys.xform.fieldlayout" model="com.landray.kmss.hr.ratify.model.HrRatifyChange">
		 <!--合同变更人员 -->
	    <item name="config">
			<param name="fieldIds" value="fdChangeStaff"></param>
			<param name="required" value="true"></param>
		    <param name="jspParams" value="hr/ratify/fieldlayout/change/fdchangestaff/param.jsp"></param>
			<param name="jspRunProfix" value="hr/ratify/fieldlayout/change/fdchangestaff/fdChangeStaff"></param>
		</item>
		<!--所属部门 -->
		<item name="config">
			<param name="fieldIds" value="fdChangeDept"></param>
			<param name="required" value="false"></param>
			<param name="jspParams" value="hr/ratify/fieldlayout/change/fdchangedept/param.jsp"></param>
			<param name="jspRunProfix" value="hr/ratify/fieldlayout/change/fdchangedept/fdChangeDept"></param>
		</item>
		<!-- 原合同 -->
	    <item name="config">
			<param name="fieldIds" value="fdContract"></param>
			<param name="required" value="true"></param>
		    <param name="jspParams" value="hr/ratify/fieldlayout/change/fdcontract/param.jsp"></param>
			<param name="jspRunProfix" value="hr/ratify/fieldlayout/change/fdcontract/fdContract"></param>
		</item>
		<!-- 原合同开始时间 -->
		<item name="config">
			<param name="fieldIds" value="fdChangeSignBeginDate"></param>
			<param name="required" value="false"></param>
			<param name="jspParams" value="hr/ratify/fieldlayout/change/fdchangesignbegindate/param.jsp"></param>
			<param name="jspRunProfix" value="hr/ratify/fieldlayout/change/fdchangesignbegindate/fdChangeSignBeginDate"></param>
		</item>
		<!-- 原合同结束时间 -->
		<item name="config">
			<param name="fieldIds" value="fdChangeSignEndDate"></param>
			<param name="required" value="false"></param>
			<param name="jspParams" value="hr/ratify/fieldlayout/change/fdchangesignenddate/param.jsp"></param>
			<param name="jspRunProfix" value="hr/ratify/fieldlayout/change/fdchangesignenddate/fdChangeSignEndDate"></param>
		</item>
		<!-- 原合同备注 -->
		<item name="config">
			<param name="fieldIds" value="fdChangeSignRemark"></param>
			<param name="required" value="false"></param>
			<param name="jspParams" value="hr/ratify/fieldlayout/change/fdchangesignremark/param.jsp"></param>
			<param name="jspRunProfix" value="hr/ratify/fieldlayout/change/fdchangesignremark/fdChangeSignRemark"></param>
		</item>
		<!-- 变更后合同开始时间 -->
		<item name="config">
			<param name="fieldIds" value="fdChangeBeginDate"></param>
			<param name="required" value="false"></param>
			<param name="jspParams" value="hr/ratify/fieldlayout/change/fdchangebegindate/param.jsp"></param>
			<param name="jspRunProfix" value="hr/ratify/fieldlayout/change/fdchangebegindate/fdChangeBeginDate"></param>
		</item>
		<!-- 变更后合同到期时间-->
		<item name="config">
			<param name="fieldIds" value="fdChangeEndDate"></param>
			<param name="required" value="false"></param>
			<param name="jspParams" value="hr/ratify/fieldlayout/change/fdchangeenddate/param.jsp"></param>
			<param name="jspRunProfix" value="hr/ratify/fieldlayout/change/fdchangeenddate/fdChangeEndDate"></param>
		</item>
		<!-- 变更后合同备注-->
 		<item name="config">
			<param name="fieldIds" value="fdChangeRemark"></param>
			<param name="required" value="false"></param>
			<param name="jspParams" value="hr/ratify/fieldlayout/change/fdchangeremark/param.jsp"></param>
			<param name="jspRunProfix" value="hr/ratify/fieldlayout/change/fdchangeremark/fdChangeRemark"></param>
		</item>
		<!-- 合同变更原因 -->
		<item name="config">
			<param name="fieldIds" value="fdChangeReason"></param>
			<param name="required" value="false"></param>
			<param name="jspParams" value="hr/ratify/fieldlayout/change/fdchangereason/param.jsp"></param>
			<param name="jspRunProfix" value="hr/ratify/fieldlayout/change/fdchangereason/fdChangeReason"></param>
		</item>
	</extension>
</plugin>