.lui_tagProtlet_hot a{
    display:inline-block;
    height: 26px;
    line-height: 26px;
    padding: 0 10px;
    font-size:14px;
    color:#999;
    box-sizing:border-box;
    margin-right:10px;
    margin-bottom:10px;
    vertical-align:middle;
    border-radius:2px;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
    text-align:center;
    max-width:200px;
}
.lui_tagProtlet_hot.lui_tagProtlet_hot_border a {
    border: 1px solid #dddddd;
}
.lui_tagProtlet_hot.lui_tagProtlet_hot_border a:hover{
    color:#4285F4;
    border-color:#4285F4;
}
.lui_tagProtlet_hot.lui_tagProtlet_hot_bg a{
    background: #f8f8f8;
}
.lui_tagProtlet_hot.lui_tagProtlet_hot_bg a:hover{
    color:#fff;
    border-color:#4285F4;
    background-color:#4285F4;
}
/* 鼠标移入背景色 */
.lui_tagProtlet_hot.lui_tagProtlet_hot_hoverBg a,
.lui_tagProtlet_hot.lui_tagProtlet_hot_hoverPoint a{
    width:100px;
    padding:0 10px;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
    text-align:center;
    border-radius:2px;
}

.lui_tagProtlet_hot.lui_tagProtlet_hot_hoverBg a:hover {
    background:rgb(248,248,248);
}
/* 鼠标移入原点 */
.lui_tagProtlet_hot.lui_tagProtlet_hot_hoverPoint a:hover i {
    display:inline-block;
    height:6px;
    width:6px;
    border-radius:50%;
    background:#979DB1;
    margin-right:4px;
    line-height:24px;
    margin-top:-2px;
}
/* 3d */
 .lui_tagProtlet_hot.lui_tagProtlet_hot_3d {
            position: relative;
            margin: 0 auto;
            height:100%;
            min-height: 240px;
        }

        .lui_tagProtlet_hot.lui_tagProtlet_hot_3d a {
            position: absolute;
            top: 0px;
            left: 0px;
            font-family: Microsoft YaHei;
            color: #fff;
            font-weight: bold;
            text-decoration: none;
            padding: 3px 6px;

        }
        .lui_tagProtlet_hot.lui_tagProtlet_hot_3d a:hover {
            color: #4285F4;
            letter-spacing: 2px;
        }

/*===== 旧版标签样式优化 =====*/
.lui_portlet_tag_box{
    margin-left:-5px;
    word-wrap: break-word; 
    word-break: normal;
}
.lui_portlet_tag_box a{
    display:inline-block;
    padding:5px 6px;
    color:#666;
    border:1px solid #ddd;
    margin:5px;
    border-radius: 2px;
}
.lui_portlet_tag_box a:hover{
    border-color:#4285F4;
    color:#4285F4;
}