ul {
	list-style: none;
}

.display {
	display: block;
}

.hide {
	display: none;
}

#readerOuterContainer {
	background: gray;
}

#readerTop {
	width: 100%;
	height: 46px;
	position: fixed;
	top: 0px;
	left: 0px;
	background: #F6F9FC;
	z-index: 9999;
}

#readerBottom {
	position: fixed;
	left: 0px;
	right: 0px;
	background-color: #F7F6F6;
	z-index:9999;
}

/***翻页***/
.pageNavContainer {
	width: 80%;
	float: left;
}

.pageNav {
	width: 300px;
}

.pageNav ul li {
	float: left;
	margin-right: 15px;
}

.pageNav ul li.pages {
	color: #6b6b71;
}

.pageNav ul li.pages input {
	width: 44px;
	height: 20px;
	line-height: 20px;
	margin-right: 5px;
	text-align: center;
	color: #afafb2;
	border: 1px solid #e2e4e4;
	border-radius: 5px;
}

.pageNav ul li.arrow a {
	display: inline-block;
	cursor: pointer;
	margin-top: 4px;
	width: 18px;
	height: 15px;
	background: url(../images/reader_arrow.png) no-repeat;
}

.pageNav ul li.arrow a.prev {
	background-position: -20px 0px;
}

.pageNav ul li.arrow a.prev.unable {
	background-position: 0px 0px;
	cursor: default;
}

.pageNav ul li.arrow a.next {
	background-position: -40px 0px;
}

.pageNav ul li.arrow a.next.unable {
	background-position: -60px 0px;
	cursor: default;
}

/***翻页上的缩放***/
#bottomContainer .zoom {
	float: right;
	margin-right: 20px;
}

#bottomContainer .zoom ul li {
	float: left;
	margin-right: 15px;
}

#bottomContainer .zoom ul li a {
	display: inline-block;
	cursor: pointer;
}

.pageDiv {
	margin: 6px auto;
	overflow: hidden;
	background-color: #fff;
	visibility: hidden;
}