body{ background:#FFF;padding:0; margin:0;}

::-webkit-input-placeholder {
  color: #C9CAD1;
  letter-spacing: 0;
}
::-moz-placeholder {
  color: #C9CAD1;
  letter-spacing: 0;
}
:-ms-input-placeholder {
  color: #C9CAD1;
  letter-spacing: 0;
} 

.validateAccountContainer{
	padding: 2rem 2rem;
}

/* 标题 */
.muiTitle{
	font-family: PingFangSC-Medium;
    color: #2A304A;
    font-weight: bold;
    display: block;
}

.muiInput{
    border: 1px solid #ddd;
    width: 100%;
    height: 5rem;
    color: #2A304A;
    caret-color: #4285F4;
    padding-right: 2rem;
    box-sizing: border-box;
    border-color: transparent;
    border-bottom: 1px solid #F4F5F7;	
    border-radius: 0;
}

.muiInput.error{
	border-bottom: 1px solid #FF694B;
}

.muiPasswordInput{
    letter-spacing: .4rem;
}

.newPasswordRow{
	position: relative;
	height: 5rem;
    line-height: 5rem;
}
.muiInputDeleteIcon{
	opacity: 0;
	width: 2rem;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    position: absolute;
    right: 0px;
    bottom: 1.6rem;
    background-image: url(../../../../../third/pda/resource/icon/mui-fail@2x.png);
    background-size: 2rem 2rem;
}

.muiPanelContent{
	margin-top: 2rem;
}

.confirmPasswordRow{
	margin-top: 2rem;
	position: relative;
	height: 5rem;
    line-height: 5rem;
}



.muiSubmitContainer{
	position: relative;
	padding-top:0.5rem;
}

.muiBtnBar{
	margin-top: 6rem;
    width: 100%;
    height: 5rem;
    line-height: 5rem;
}

.muiBtnBar>.muiSubmitBtn{
    font-family: PingFangSC-Regular;
    color: #C9CAD1;
    width: 100%;
    height: 100%;
    border: 0;
    outline: none;
    border-radius: .5rem;
    background-color: #EAEBF0;
    display: block;
    text-align: center;
    transition: all 0.5s;
    pointer-events: none;
}
.muiBtnBar>.muiSubmitBtn.clickable{
	background-color: #4285F4;
	color: #fff;
	pointer-events: all;
}

/* 错误信息 */
.muiSubmitContainer .muiErrorContent{
	display: inline-block;
	position: relative;
	color: #FF694B;
	min-width: 2rem;
	min-height: 2rem;
	bottom: -2.2rem;
	visibility: visible;
}
