<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean
		name="/fssc/budgeting/fssc_budgeting_period/fsscBudgetingPeriod.do"
		class="com.landray.kmss.fssc.budgeting.actions.FsscBudgetingPeriodAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.fssc.budgeting.forms.FsscBudgetingPeriodForm" />
		<property name="forwards">
			<map>
				<entry
					key="data"
					value="/fssc/budgeting/fssc_budgeting_period/fsscBudgetingPeriod_data.jsp" />
				<entry
					key="edit"
					value="/fssc/budgeting/fssc_budgeting_period/fsscBudgetingPeriod_edit.jsp" />
				<entry
					key="view"
					value="/fssc/budgeting/fssc_budgeting_period/fsscBudgetingPeriod_view.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/fssc/budgeting/fssc_budgeting_auth/fsscBudgetingAuth.do"
		class="com.landray.kmss.fssc.budgeting.actions.FsscBudgetingAuthAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.fssc.budgeting.forms.FsscBudgetingAuthForm" />
		<property name="forwards">
			<map>
				<entry
					key="data"
					value="/fssc/budgeting/fssc_budgeting_auth/fsscBudgetingAuth_data.jsp" />
				<entry
					key="edit"
					value="/fssc/budgeting/fssc_budgeting_auth/fsscBudgetingAuth_edit.jsp" />
				<entry
					key="view"
					value="/fssc/budgeting/fssc_budgeting_auth/fsscBudgetingAuth_view.jsp" />
				<entry
					key="result"
					value="/fssc/budgeting/resource/jsp/fsscBudgetingAuthImport_result.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/fssc/budgeting/fssc_budgeting_approval_auth/fsscBudgetingApprovalAuth.do"
		class="com.landray.kmss.fssc.budgeting.actions.FsscBudgetingApprovalAuthAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.fssc.budgeting.forms.FsscBudgetingApprovalAuthForm" />
		<property name="forwards">
			<map>
				<entry
					key="data"
					value="/fssc/budgeting/fssc_budgeting_approval_auth/fsscBudgetingApprovalAuth_data.jsp" />
				<entry
					key="edit"
					value="/fssc/budgeting/fssc_budgeting_approval_auth/fsscBudgetingApprovalAuth_edit.jsp" />
				<entry
					key="view"
					value="/fssc/budgeting/fssc_budgeting_approval_auth/fsscBudgetingApprovalAuth_view.jsp" />
				<entry
					key="result"
					value="/fssc/budgeting/resource/jsp/fsscBudgetingAuthImport_result.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/fssc/budgeting/fssc_budgeting_effect_auth/fsscBudgetingEffectAuth.do"
		class="com.landray.kmss.fssc.budgeting.actions.FsscBudgetingEffectAuthAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.fssc.budgeting.forms.FsscBudgetingEffectAuthForm" />
		<property name="forwards">
			<map>
				<entry
					key="data"
					value="/fssc/budgeting/fssc_budgeting_effect_auth/fsscBudgetingEffectAuth_data.jsp" />
				<entry
					key="edit"
					value="/fssc/budgeting/fssc_budgeting_effect_auth/fsscBudgetingEffectAuth_edit.jsp" />
				<entry
					key="view"
					value="/fssc/budgeting/fssc_budgeting_effect_auth/fsscBudgetingEffectAuth_view.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/fssc/budgeting/fssc_budgeting_main/fsscBudgetingMain.do"
		class="com.landray.kmss.fssc.budgeting.actions.FsscBudgetingMainAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.fssc.budgeting.forms.FsscBudgetingMainForm" />
		<property name="forwards">
			<map>
				<entry
					key="data"
					value="/fssc/budgeting/fssc_budgeting_main/fsscBudgetingMain_data.jsp" />
				<entry
					key="edit"
					value="/fssc/budgeting/fssc_budgeting_main/fsscBudgetingMain_edit.jsp" />
				<entry
					key="view"
					value="/fssc/budgeting/fssc_budgeting_main/fsscBudgetingMain_view.jsp" />
				<entry
					key="budgetingUp"
					value="/fssc/budgeting/fssc_budgeting_main/fsscBudgetingMain_budgetingUp.jsp" />
				<entry
					key="childEdit"
					value="/fssc/budgeting/fssc_budgeting_main/fsscBudgetingMainChild_edit.jsp" />
				<entry
					key="childView"
					value="/fssc/budgeting/fssc_budgeting_main/fsscBudgetingMainChild_view.jsp" />
				<entry
					key="initEdit"
					value="/fssc/budgeting/fssc_budgeting_main/fsscBudgetingMainInit_edit.jsp" />
				<entry
					key="initView"
					value="/fssc/budgeting/fssc_budgeting_main/fsscBudgetingMainInit_view.jsp" />
				<entry
					key="independentEdit"
					value="/fssc/budgeting/fssc_budgeting_main/fsscBudgetingMainIndependent_edit.jsp" />
				<entry
					key="independentView"
					value="/fssc/budgeting/fssc_budgeting_main/fsscBudgetingMainIndependent_view.jsp" />
				<entry
					key="warning"
					value="/fssc/budgeting/resource/jsp/fsscBudgeting_warning.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/fssc/budgeting/fssc_budgeting_approval_log/fsscBudgetingApprovalLog.do"
		class="com.landray.kmss.fssc.budgeting.actions.FsscBudgetingApprovalLogAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.fssc.budgeting.forms.FsscBudgetingApprovalLogForm" />
		<property name="forwards">
			<map>
				<entry
					key="data"
					value="/fssc/budgeting/fssc_budgeting_approval_log/fsscBudgetingApprovalLog_data.jsp" />
				<entry
					key="edit"
					value="/fssc/budgeting/fssc_budgeting_approval_log/fsscBudgetingApprovalLog_edit.jsp" />
				<entry
					key="view"
					value="/fssc/budgeting/fssc_budgeting_approval_log/fsscBudgetingApprovalLog_view.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/fssc/budgeting/fssc_budgeting_org/fsscBudgetingOrg.do"
		class="com.landray.kmss.fssc.budgeting.actions.FsscBudgetingOrgAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.fssc.budgeting.forms.FsscBudgetingOrgForm" />
		<property name="forwards">
			<map>
				<entry
					key="data"
					value="/fssc/budgeting/fssc_budgeting_org/fsscBudgetingOrg_data.jsp" />
				<entry
					key="edit"
					value="/fssc/budgeting/fssc_budgeting_org/fsscBudgetingOrg_edit.jsp" />
				<entry
					key="view"
					value="/fssc/budgeting/fssc_budgeting_org/fsscBudgetingOrg_view.jsp" />
			</map>
		</property>
	</bean>
</beans>
