@CHARSET "UTF-8";
ul,ol{list-style: none;}
.color_ul li{ width:16px; height:16px; margin-right:5px; float:left; cursor:pointer;}
.color_ul li.line{ width:1px;background-color:#ababab;}
.color_ul li.select{ padding:1px; border:1px solid #c0c0c0; position:relative; top:-2px;width:22px; height:16px;}
.color_ul li.selfdef{width:auto; height:16px;line-height:16px}
.color_ul li.select a{ display:block; width:22px; height:16px; background:#5484ed;}
.color_ul li.color_1{ background:#5484ed;}
.color_ul li.color_2{ background:#a4bdfc;}
.color_ul li.color_3{ background:#46d6db;}
.color_ul li.color_4{ background:#7ae7bf;}
.color_ul li.color_5{ background:#51b749;}
.color_ul li.color_6{ background:#fbd75b;}
.color_ul li.color_7{ background:#ffb878;}
.color_ul li.color_8{ background:#ff887c;}
.color_ul li.color_9{ background:#dc2127;}
.color_ul li.color_10{ background:#dbadff;}
.color_ul li.color_11{ background:#e1e1e1;}