<?xml version="1.0" encoding="UTF-8"?>
<plugin
	xmlns="http://www.example.org/plugin-config"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.example.org/plugin-config ../../../plugin.xsd ">
	<!-- 基本属性布局扩展 -->
	<extension point="com.landray.kmss.sys.xform.fieldlayout" model="com.landray.kmss.hr.ratify.model.HrRatifyFire">
		 <!--解聘人员 -->
	    <item name="config">
			<param name="fieldIds" value="fdFireStaff"></param>
			<param name="required" value="true"></param>
		    <param name="jspParams" value="hr/ratify/fieldlayout/fire/fdfirestaff/param.jsp"></param>
			<param name="jspRunProfix" value="hr/ratify/fieldlayout/fire/fdfirestaff/fdFireStaff"></param>
		</item>
		<!--所属部门 -->
		<item name="config">
			<param name="fieldIds" value="fdFireDept"></param>
			<param name="required" value="false"></param>
			<param name="jspParams" value="hr/ratify/fieldlayout/fire/fdfiredept/param.jsp"></param>
			<param name="jspRunProfix" value="hr/ratify/fieldlayout/fire/fdfiredept/fdFireDept"></param>
		</item>
		<!-- 解聘日期 -->
	    <item name="config">
			<param name="fieldIds" value="fdFireDate"></param>
			<param name="required" value="true"></param>
		    <param name="jspParams" value="hr/ratify/fieldlayout/fire/fdfiredate/param.jsp"></param>
			<param name="jspRunProfix" value="hr/ratify/fieldlayout/fire/fdfiredate/fdFireDate"></param>
		</item>
		<!-- 入职日期 -->
		<item name="config">
			<param name="fieldIds" value="fdFireEnterDate"></param>
			<param name="required" value="false"></param>
			<param name="jspParams" value="hr/ratify/fieldlayout/fire/fdfireenterdate/param.jsp"></param>
			<param name="jspRunProfix" value="hr/ratify/fieldlayout/fire/fdfireenterdate/fdFireEnterDate"></param>
		</item>
		<!-- 解聘原因 -->
		<item name="config">
			<param name="fieldIds" value="fdFireReason"></param>
			<param name="required" value="false"></param>
			<param name="jspParams" value="hr/ratify/fieldlayout/fire/fdfirereason/param.jsp"></param>
			<param name="jspRunProfix" value="hr/ratify/fieldlayout/fire/fdfirereason/fdFireReason"></param>
		</item>
		<!-- 部门领导意见-->
		<item name="config">
			<param name="fieldIds" value="fdFireLeaderView"></param>
			<param name="required" value="false"></param>
			<param name="jspParams" value="hr/ratify/fieldlayout/fire/fdfireleaderview/param.jsp"></param>
			<param name="jspRunProfix" value="hr/ratify/fieldlayout/fire/fdfireleaderview/fdFireLeaderView"></param>
		</item>
		<!-- 人力资源部门意见-->
 		<item name="config">
			<param name="fieldIds" value="fdFireHrView"></param>
			<param name="required" value="false"></param>
			<param name="jspParams" value="hr/ratify/fieldlayout/fire/fdfirehrview/param.jsp"></param>
			<param name="jspRunProfix" value="hr/ratify/fieldlayout/fire/fdfirehrview/fdFireHrView"></param>
		</item>
		<!-- 备注-->
 		<item name="config">
			<param name="fieldIds" value="fdFireRemark"></param>
			<param name="required" value="false"></param>
			<param name="jspParams" value="hr/ratify/fieldlayout/fire/fdfireremark/param.jsp"></param>
			<param name="jspRunProfix" value="hr/ratify/fieldlayout/fire/fdfireremark/fdFireRemark"></param>
		</item>
	</extension>
</plugin>