<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.example.org/plugin-config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.example.org/plugin-config ../../plugin.xsd ">
	
	<extension-point id="com.landray.kmss.sys.person">
		<item name="imageBean">
			<param name="service" kind="spring" 
				basedOn="com.landray.kmss.sys.person.interfaces.PersonImageService"
				required="true">
				<description>详见PersonImageService接口说明</description>
			</param>
			<param name="message" kind="string">
				<description>admin.do中显示名称，非必填，没有就显示配置的service值</description>
			</param>
			<description>通过此service可以获取到头像地址</description>
		</item>
		<item name="infoBean">
			<param name="service" kind="spring" 
				basedOn="com.landray.kmss.sys.person.interfaces.PersonInfoService"
				required="true">
				<description>详见PersonInfoService接口说明</description>
			</param>
			<param name="message" kind="string">
				<description>admin.do中显示名称，非必填，没有就显示配置的service值</description>
			</param>
			<description>人员信息服务，通过此service可以获取到个人信息展现页面和头像地址</description>
		</item>
		<item name="categoryDialog">
			<param name="service" kind="spring" 
				basedOn="com.landray.kmss.sys.person.interfaces.FavoriteCategoryDialogHandler"
				required="true">
				<description>详见FavoriteCategoryDialogHandler接口说明</description>
			</param>
			<description>常用分类对话框扩展，通过此扩展项目</description>
		</item>
		<description>
			个人信息相关扩展项
		</description>
	</extension-point>
	
	<extension-point id="com.landray.kmss.sys.person.dynamic">
		<item name="toPersonSender">
			<param name="service" kind="spring" 
				basedOn="com.landray.kmss.sys.person.interfaces.SendDynamicInfoPushToPersonService"
				required="true">
				<description>详见SendDynamicInfoPushToPersonService接口说明</description>
			</param>
			<description>个人动态推送服务</description>
		</item>
		<description>
			动态推送扩展
		</description>
	</extension-point>
	<!-- 移动端"我的" -->
	<extension-point id="com.landray.kmss.sys.person.mobile.my">
		<item name="config">
			<param name="href" kind="spring" >
				<description>链接</description>
			</param>
			<param name="message" kind="string" >
				<description>显示名称</description>
			</param>
			<description>移动端个人中心“我的配置项”，比如“我的订阅”</description>
		</item>
		<description>
			移动端个人中心“我的配置项”，比如“我的订阅”
		</description>
	</extension-point>
	
	<!-- 门户新增URL扩展点 -->
	<extension-point id="com.landray.kmss.sys.person.categoryUrl">
		<item name="categoryUrl">
			<param name="addUrl" kind="string">
				<description>新增的URL</description>
			</param>
			<param name="templateModel" kind="string">
				<description>分类model</description>
			</param>
			<description>档模块需要生成新增URL时，增加该扩展项。</description>
		</item>
		<description>
			档模块需要生成新增URL时，增加该扩展项。
		</description>
	</extension-point>
	
	<extension point="com.landray.kmss.sys.config.design">
		<item name="xml">
			<param name="namespace" value="http://www.landray.com.cn/schema/person" />
			<param name="handler" value="com.landray.kmss.sys.person.xml.PersonNamespaceHandler" />
		</item>
	</extension>
	
	<extension point="com.landray.kmss.sys.person">
		<item name="categoryDialog">
			<param name="service" value="globalCategoryFavoriteCategoryDialogHandler" />
		</item>
		<item name="categoryDialog">
			<param name="service" value="simpleCategoryFavoriteCategoryDialogHandler" />
		</item>
	</extension>
	
	<extension point="com.landray.kmss.sys.config.admin.do">
		<item name="config">
			<param name="jsp" value="/sys/person/admin_config.jsp" />
			<param name="type" value="other" />
			<param name="order" value="40" />
		</item>
	</extension>
	<extension point="com.landray.kmss.sys.cluster">
		<item name="messageReceiver">
			<param name="type" value="com.landray.kmss.sys.person.xml.PersonNamespaceHandler" />
			<param name="service" value="personNamespaceHandler" />
		</item>
	</extension>
	<extension point="com.landray.kmss.sys.mobile.compress" model="*">
		<item name="js-pkg">
			<param name="name" value="mui-person-index.js" />
			<param name="targetFile" value="/sys/person/mobile/js/mui-person-index.js" />
			<param name="srcFold" value="/sys/person/mobile/" />
		</item>
		<item  name="css-file">
			<param name="name" value="mui-person-index.css" />
			<param name="targetFile" value="/sys/person/mobile/css/index.css" />
		</item>
	</extension>
	<!-- 个人流程中心发起流程常用二级缓存扩展点 -->
	<extension point="com.landray.kmss.sys.hibernate.cache" model="*">
		<item name="region">
			<param name="type" value="query"/>
			<param name="name" value="person-process-favorite"/>
			<param name="nameMessageKey" value="sys-person:cache.person-process-favorite"/>
			<param name="descMessageKey" value="sys-person:cache.person-process-favorite.desc"/>
			<param name="moduleResourceKey" value="sys-person:module.sys.person"/>
			<param name="ttl" value="0"/>
			<param name="capacity" value="1000"/>
			<param name="idle" value="10000"/>
		</item>
	</extension>
</plugin>