<?xml version="1.0" encoding="UTF-8"?>
<beans 
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd" 
    xmlns="http://www.springframework.org/schema/beans" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <bean 
        id="fsscCtripOrderHotelInfoDao" 
        class="com.landray.kmss.fssc.ctrip.dao.hibernate.FsscCtripOrderHotelInfoDaoImp" 
        parent="KmssAuthBaseDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.fssc.ctrip.model.FsscCtripOrderHotelInfo</value>
        </property>
    </bean>
    <bean 
        id="fsscCtripOrderHotelInfoTarget" 
        class="com.landray.kmss.fssc.ctrip.service.spring.FsscCtripOrderHotelInfoServiceImp" 
        parent="KmssExtendDataTarget">
        <property 
            name="baseDao">
            <ref 
                bean="fsscCtripOrderHotelInfoDao"/>
        </property>
    </bean>
    <bean 
        id="fsscCtripOrderHotelInfoService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="fsscCtripOrderHotelInfoTarget"/>
        </property>
    </bean>
    <bean 
        id="fsscCtripOrderHotelClientDao" 
        class="com.landray.kmss.fssc.ctrip.dao.hibernate.FsscCtripOrderHotelClientDaoImp" 
        parent="KmssAuthBaseDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.fssc.ctrip.model.FsscCtripOrderHotelClient</value>
        </property>
    </bean>
    <bean 
        id="fsscCtripOrderHotelClientTarget" 
        class="com.landray.kmss.fssc.ctrip.service.spring.FsscCtripOrderHotelClientServiceImp" 
        parent="KmssExtendDataTarget">
        <property 
            name="baseDao">
            <ref 
                bean="fsscCtripOrderHotelClientDao"/>
        </property>
    </bean>
    <bean 
        id="fsscCtripOrderHotelClientService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="fsscCtripOrderHotelClientTarget"/>
        </property>
    </bean>
    <bean 
        id="fsscCtripOrderHotelRoomDao" 
        class="com.landray.kmss.fssc.ctrip.dao.hibernate.FsscCtripOrderHotelRoomDaoImp" 
        parent="KmssAuthBaseDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.fssc.ctrip.model.FsscCtripOrderHotelRoom</value>
        </property>
    </bean>
    <bean 
        id="fsscCtripOrderHotelRoomTarget" 
        class="com.landray.kmss.fssc.ctrip.service.spring.FsscCtripOrderHotelRoomServiceImp" 
        parent="KmssExtendDataTarget">
        <property 
            name="baseDao">
            <ref 
                bean="fsscCtripOrderHotelRoomDao"/>
        </property>
    </bean>
    <bean 
        id="fsscCtripOrderHotelRoomService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="fsscCtripOrderHotelRoomTarget"/>
        </property>
    </bean>
    <bean 
        id="fsscCtripAirSettleInfoDao" 
        class="com.landray.kmss.fssc.ctrip.dao.hibernate.FsscCtripAirSettleInfoDaoImp" 
        parent="KmssAuthBaseDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.fssc.ctrip.model.FsscCtripAirSettleInfo</value>
        </property>
    </bean>
    <bean 
        id="fsscCtripAirSettleInfoTarget" 
        class="com.landray.kmss.fssc.ctrip.service.spring.FsscCtripAirSettleInfoServiceImp" 
        parent="KmssExtendDataTarget">
        <property 
            name="baseDao">
            <ref 
                bean="fsscCtripAirSettleInfoDao"/>
        </property>
    </bean>
    <bean 
        id="fsscCtripAirSettleInfoService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="fsscCtripAirSettleInfoTarget"/>
        </property>
    </bean>
    <bean 
        id="fsscCtripHotelSettleInfoDao" 
        class="com.landray.kmss.fssc.ctrip.dao.hibernate.FsscCtripHotelSettleInfoDaoImp" 
        parent="KmssAuthBaseDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.fssc.ctrip.model.FsscCtripHotelSettleInfo</value>
        </property>
    </bean>
    <bean 
        id="fsscCtripHotelSettleInfoTarget" 
        class="com.landray.kmss.fssc.ctrip.service.spring.FsscCtripHotelSettleInfoServiceImp" 
        parent="KmssExtendDataTarget">
        <property 
            name="baseDao">
            <ref 
                bean="fsscCtripHotelSettleInfoDao"/>
        </property>
    </bean>
    <bean 
        id="fsscCtripHotelSettleInfoService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="fsscCtripHotelSettleInfoTarget"/>
        </property>
    </bean>
    <bean 
        id="fsscCtripFiledMappingDao" 
        class="com.landray.kmss.fssc.ctrip.dao.hibernate.FsscCtripFiledMappingDaoImp" 
        parent="KmssAuthBaseDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.fssc.ctrip.model.FsscCtripFiledMapping</value>
        </property>
    </bean>
    <bean 
        id="fsscCtripFiledMappingTarget" 
        class="com.landray.kmss.fssc.ctrip.service.spring.FsscCtripFiledMappingServiceImp" 
        parent="KmssExtendDataTarget">
        <property 
            name="baseDao">
            <ref 
                bean="fsscCtripFiledMappingDao"/>
        </property>
    </bean>
    <bean 
        id="fsscCtripFiledMappingService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="fsscCtripFiledMappingTarget"/>
        </property>
    </bean>
     <bean 
        id="fsscCtripFlightMappingDao" 
        class="com.landray.kmss.fssc.ctrip.dao.hibernate.FsscCtripFlightMappingDaoImp" 
        parent="KmssAuthBaseDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.fssc.ctrip.model.FsscCtripFlightMapping</value>
        </property>
    </bean>
    <bean 
        id="fsscCtripFlightMappingTarget" 
        class="com.landray.kmss.fssc.ctrip.service.spring.FsscCtripFlightMappingServiceImp" 
        parent="KmssExtendDataTarget">
        <property 
            name="baseDao">
            <ref 
                bean="fsscCtripFlightMappingDao"/>
        </property>
    </bean>
    <bean 
        id="fsscCtripFlightMappingService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="fsscCtripFlightMappingTarget"/>
        </property>
    </bean>
    <bean 
        id="fsscCtripTrainMappingDao" 
        class="com.landray.kmss.fssc.ctrip.dao.hibernate.FsscCtripTrainMappingDaoImp" 
        parent="KmssAuthBaseDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.fssc.ctrip.model.FsscCtripTrainMapping</value>
        </property>
    </bean>
    <bean 
        id="fsscCtripTrainMappingTarget" 
        class="com.landray.kmss.fssc.ctrip.service.spring.FsscCtripTrainMappingServiceImp" 
        parent="KmssExtendDataTarget">
        <property 
            name="baseDao">
            <ref 
                bean="fsscCtripTrainMappingDao"/>
        </property>
    </bean>
    <bean 
        id="fsscCtripTrainMappingService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="fsscCtripTrainMappingTarget"/>
        </property>
    </bean>
    <bean 
        id="fsscCtripCarQuickMappingDao" 
        class="com.landray.kmss.fssc.ctrip.dao.hibernate.FsscCtripCarQuickMappingDaoImp" 
        parent="KmssAuthBaseDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.fssc.ctrip.model.FsscCtripCarQuickMapping</value>
        </property>
    </bean>
    <bean 
        id="fsscCtripCarQuickMappingTarget" 
        class="com.landray.kmss.fssc.ctrip.service.spring.FsscCtripCarQuickMappingServiceImp" 
        parent="KmssExtendDataTarget">
        <property 
            name="baseDao">
            <ref 
                bean="fsscCtripCarQuickMappingDao"/>
        </property>
    </bean>
    <bean 
        id="fsscCtripCarQuickMappingService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="fsscCtripCarQuickMappingTarget"/>
        </property>
    </bean>
    <bean 
        id="fsscCtripHotelMappingDao" 
        class="com.landray.kmss.fssc.ctrip.dao.hibernate.FsscCtripHotelMappingDaoImp" 
        parent="KmssAuthBaseDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.fssc.ctrip.model.FsscCtripHotelMapping</value>
        </property>
    </bean>
    <bean 
        id="fsscCtripHotelMappingTarget" 
        class="com.landray.kmss.fssc.ctrip.service.spring.FsscCtripHotelMappingServiceImp" 
        parent="KmssExtendDataTarget">
        <property 
            name="baseDao">
            <ref 
                bean="fsscCtripHotelMappingDao"/>
        </property>
    </bean>
    <bean 
        id="fsscCtripHotelMappingService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="fsscCtripHotelMappingTarget"/>
        </property>
    </bean>
    <bean 
        id="fsscCtripCarSettleInfoDao" 
        class="com.landray.kmss.fssc.ctrip.dao.hibernate.FsscCtripCarSettleInfoDaoImp" 
        parent="KmssAuthBaseDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.fssc.ctrip.model.FsscCtripCarSettleInfo</value>
        </property>
    </bean>
    <bean 
        id="fsscCtripCarSettleInfoTarget" 
        class="com.landray.kmss.fssc.ctrip.service.spring.FsscCtripCarSettleInfoServiceImp" 
        parent="KmssExtendDataTarget">
        <property 
            name="baseDao">
            <ref 
                bean="fsscCtripCarSettleInfoDao"/>
        </property>
    </bean>
    <bean 
        id="fsscCtripCarSettleInfoService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="fsscCtripCarSettleInfoTarget"/>
        </property>
    </bean>
    <bean 
        id="fsscCtripTrainSettleInfoDao" 
        class="com.landray.kmss.fssc.ctrip.dao.hibernate.FsscCtripTrainSettleInfoDaoImp" 
        parent="KmssAuthBaseDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.fssc.ctrip.model.FsscCtripTrainSettleInfo</value>
        </property>
    </bean>
    <bean 
        id="fsscCtripTrainSettleInfoTarget" 
        class="com.landray.kmss.fssc.ctrip.service.spring.FsscCtripTrainSettleInfoServiceImp" 
        parent="KmssExtendDataTarget">
        <property 
            name="baseDao">
            <ref 
                bean="fsscCtripTrainSettleInfoDao"/>
        </property>
    </bean>
    <bean 
        id="fsscCtripTrainSettleInfoService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="fsscCtripTrainSettleInfoTarget"/>
        </property>
    </bean>
    <bean 
        id="fsscCtripCityDao" 
        class="com.landray.kmss.fssc.ctrip.dao.hibernate.FsscCtripCityDaoImp" 
        parent="KmssAuthBaseDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.fssc.ctrip.model.FsscCtripCity</value>
        </property>
    </bean>
    <bean 
        id="fsscCtripCityTarget" 
        class="com.landray.kmss.fssc.ctrip.service.spring.FsscCtripCityServiceImp" 
        parent="KmssExtendDataTarget">
        <property 
            name="baseDao">
            <ref 
                bean="fsscCtripCityDao"/>
        </property>
        <property 
            name="fsscCtripAppMessageService">
            <ref 
                bean="fsscCtripAppMessageService"/>
        </property>
        <property 
            name="fsscCtripCountryService">
            <ref 
                bean="fsscCtripCountryService"/>
        </property>
    </bean>
    <bean 
        id="fsscCtripCityService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="fsscCtripCityTarget"/>
        </property>
    </bean>
    <bean 
        id="fsscCtripOrderFlightInfoDao" 
        class="com.landray.kmss.fssc.ctrip.dao.hibernate.FsscCtripOrderFlightInfoDaoImp" 
        parent="KmssAuthBaseDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.fssc.ctrip.model.FsscCtripOrderFlightInfo</value>
        </property>
    </bean>
    <bean 
        id="fsscCtripOrderFlightInfoTarget" 
        class="com.landray.kmss.fssc.ctrip.service.spring.FsscCtripOrderFlightInfoServiceImp" 
        parent="KmssExtendDataTarget">
        <property 
            name="baseDao">
            <ref 
                bean="fsscCtripOrderFlightInfoDao"/>
        </property>
    </bean>
    <bean 
        id="fsscCtripOrderFlightInfoService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="fsscCtripOrderFlightInfoTarget"/>
        </property>
    </bean>
    <bean 
        id="fsscCtripOrderFlightEndtityDao" 
        class="com.landray.kmss.fssc.ctrip.dao.hibernate.FsscCtripOrderFlightEndtityDaoImp" 
        parent="KmssAuthBaseDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.fssc.ctrip.model.FsscCtripOrderFlightEndtity</value>
        </property>
    </bean>
    <bean 
        id="fsscCtripOrderFlightEndtityTarget" 
        class="com.landray.kmss.fssc.ctrip.service.spring.FsscCtripOrderFlightEndtityServiceImp" 
        parent="KmssExtendDataTarget">
        <property 
            name="baseDao">
            <ref 
                bean="fsscCtripOrderFlightEndtityDao"/>
        </property>
    </bean>
    <bean 
        id="fsscCtripOrderFlightEndtityService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="fsscCtripOrderFlightEndtityTarget"/>
        </property>
    </bean>
    <bean 
        id="fsscCtripOrderFlightSegmentDao" 
        class="com.landray.kmss.fssc.ctrip.dao.hibernate.FsscCtripOrderFlightSegmentDaoImp" 
        parent="KmssAuthBaseDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.fssc.ctrip.model.FsscCtripOrderFlightSegment</value>
        </property>
    </bean>
    <bean 
        id="fsscCtripOrderFlightSegmentTarget" 
        class="com.landray.kmss.fssc.ctrip.service.spring.FsscCtripOrderFlightSegmentServiceImp" 
        parent="KmssExtendDataTarget">
        <property 
            name="baseDao">
            <ref 
                bean="fsscCtripOrderFlightSegmentDao"/>
        </property>
    </bean>
    <bean 
        id="fsscCtripOrderFlightSegmentService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="fsscCtripOrderFlightSegmentTarget"/>
        </property>
    </bean>
    <bean 
        id="fsscCtripOrderFlightChangeDao" 
        class="com.landray.kmss.fssc.ctrip.dao.hibernate.FsscCtripOrderFlightChangeDaoImp" 
        parent="KmssAuthBaseDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.fssc.ctrip.model.FsscCtripOrderFlightChange</value>
        </property>
    </bean>
    <bean 
        id="fsscCtripOrderFlightChangeTarget" 
        class="com.landray.kmss.fssc.ctrip.service.spring.FsscCtripOrderFlightChangeServiceImp" 
        parent="KmssExtendDataTarget">
        <property 
            name="baseDao">
            <ref 
                bean="fsscCtripOrderFlightChangeDao"/>
        </property>
    </bean>
    <bean 
        id="fsscCtripOrderFlightChangeService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="fsscCtripOrderFlightChangeTarget"/>
        </property>
    </bean>
    <bean 
        id="fsscCtripOrderFlightRefundInfoDao" 
        class="com.landray.kmss.fssc.ctrip.dao.hibernate.FsscCtripOrderFlightRefundInfoDaoImp" 
        parent="KmssAuthBaseDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.fssc.ctrip.model.FsscCtripOrderFlightRefundInfo</value>
        </property>
    </bean>
    <bean 
        id="fsscCtripOrderFlightRefundInfoTarget" 
        class="com.landray.kmss.fssc.ctrip.service.spring.FsscCtripOrderFlightRefundInfoServiceImp" 
        parent="KmssExtendDataTarget">
        <property 
            name="baseDao">
            <ref 
                bean="fsscCtripOrderFlightRefundInfoDao"/>
        </property>
    </bean>
    <bean 
        id="fsscCtripOrderFlightRefundInfoService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="fsscCtripOrderFlightRefundInfoTarget"/>
        </property>
    </bean>
    <bean 
        id="fsscCtripOrderFlightPassengerDao" 
        class="com.landray.kmss.fssc.ctrip.dao.hibernate.FsscCtripOrderFlightPassengerDaoImp" 
        parent="KmssAuthBaseDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.fssc.ctrip.model.FsscCtripOrderFlightPassenger</value>
        </property>
    </bean>
    <bean 
        id="fsscCtripOrderFlightPassengerTarget" 
        class="com.landray.kmss.fssc.ctrip.service.spring.FsscCtripOrderFlightPassengerServiceImp" 
        parent="KmssExtendDataTarget">
        <property 
            name="baseDao">
            <ref 
                bean="fsscCtripOrderFlightPassengerDao"/>
        </property>
    </bean>
    <bean 
        id="fsscCtripOrderFlightPassengerService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="fsscCtripOrderFlightPassengerTarget"/>
        </property>
    </bean>
    <bean 
        id="fsscCtripOrderTrainInfoDao" 
        class="com.landray.kmss.fssc.ctrip.dao.hibernate.FsscCtripOrderTrainInfoDaoImp" 
        parent="KmssAuthBaseDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.fssc.ctrip.model.FsscCtripOrderTrainInfo</value>
        </property>
    </bean>
    <bean 
        id="fsscCtripOrderTrainInfoTarget" 
        class="com.landray.kmss.fssc.ctrip.service.spring.FsscCtripOrderTrainInfoServiceImp" 
        parent="KmssExtendDataTarget">
        <property 
            name="baseDao">
            <ref 
                bean="fsscCtripOrderTrainInfoDao"/>
        </property>
    </bean>
    <bean 
        id="fsscCtripOrderTrainInfoService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="fsscCtripOrderTrainInfoTarget"/>
        </property>
    </bean>
    <bean 
        id="fsscCtripOrderTrainInsuranceDao" 
        class="com.landray.kmss.fssc.ctrip.dao.hibernate.FsscCtripOrderTrainInsuranceDaoImp" 
        parent="KmssAuthBaseDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.fssc.ctrip.model.FsscCtripOrderTrainInsurance</value>
        </property>
    </bean>
    <bean 
        id="fsscCtripOrderTrainInsuranceTarget" 
        class="com.landray.kmss.fssc.ctrip.service.spring.FsscCtripOrderTrainInsuranceServiceImp" 
        parent="KmssExtendDataTarget">
        <property 
            name="baseDao">
            <ref 
                bean="fsscCtripOrderTrainInsuranceDao"/>
        </property>
    </bean>
    <bean 
        id="fsscCtripOrderTrainInsuranceService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="fsscCtripOrderTrainInsuranceTarget"/>
        </property>
    </bean>
    <bean 
        id="fsscCtripOrderTrainTinvoiceDao" 
        class="com.landray.kmss.fssc.ctrip.dao.hibernate.FsscCtripOrderTrainTinvoiceDaoImp" 
        parent="KmssAuthBaseDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.fssc.ctrip.model.FsscCtripOrderTrainTinvoice</value>
        </property>
    </bean>
    <bean 
        id="fsscCtripOrderTrainTinvoiceTarget" 
        class="com.landray.kmss.fssc.ctrip.service.spring.FsscCtripOrderTrainTinvoiceServiceImp" 
        parent="KmssExtendDataTarget">
        <property 
            name="baseDao">
            <ref 
                bean="fsscCtripOrderTrainTinvoiceDao"/>
        </property>
    </bean>
    <bean 
        id="fsscCtripOrderTrainTinvoiceService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="fsscCtripOrderTrainTinvoiceTarget"/>
        </property>
    </bean>
    <bean 
        id="fsscCtripOrderTrainInvoiceImageDao" 
        class="com.landray.kmss.fssc.ctrip.dao.hibernate.FsscCtripOrderTrainInvoiceImageDaoImp" 
        parent="KmssAuthBaseDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.fssc.ctrip.model.FsscCtripOrderTrainInvoiceImage</value>
        </property>
    </bean>
    <bean 
        id="fsscCtripOrderTrainInvoiceImageTarget" 
        class="com.landray.kmss.fssc.ctrip.service.spring.FsscCtripOrderTrainInvoiceImageServiceImp" 
        parent="KmssExtendDataTarget">
        <property 
            name="baseDao">
            <ref 
                bean="fsscCtripOrderTrainInvoiceImageDao"/>
        </property>
    </bean>
    <bean 
        id="fsscCtripOrderTrainInvoiceImageService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="fsscCtripOrderTrainInvoiceImageTarget"/>
        </property>
    </bean>
    <bean 
        id="fsscCtripOrderTrainPassengerDao" 
        class="com.landray.kmss.fssc.ctrip.dao.hibernate.FsscCtripOrderTrainPassengerDaoImp" 
        parent="KmssAuthBaseDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.fssc.ctrip.model.FsscCtripOrderTrainPassenger</value>
        </property>
    </bean>
    <bean 
        id="fsscCtripOrderTrainPassengerTarget" 
        class="com.landray.kmss.fssc.ctrip.service.spring.FsscCtripOrderTrainPassengerServiceImp" 
        parent="KmssExtendDataTarget">
        <property 
            name="baseDao">
            <ref 
                bean="fsscCtripOrderTrainPassengerDao"/>
        </property>
    </bean>
    <bean 
        id="fsscCtripOrderTrainPassengerService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="fsscCtripOrderTrainPassengerTarget"/>
        </property>
    </bean>
    <bean 
        id="fsscCtripOrderTrainPaymentDao" 
        class="com.landray.kmss.fssc.ctrip.dao.hibernate.FsscCtripOrderTrainPaymentDaoImp" 
        parent="KmssAuthBaseDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.fssc.ctrip.model.FsscCtripOrderTrainPayment</value>
        </property>
    </bean>
    <bean 
        id="fsscCtripOrderTrainPaymentTarget" 
        class="com.landray.kmss.fssc.ctrip.service.spring.FsscCtripOrderTrainPaymentServiceImp" 
        parent="KmssExtendDataTarget">
        <property 
            name="baseDao">
            <ref 
                bean="fsscCtripOrderTrainPaymentDao"/>
        </property>
    </bean>
    <bean 
        id="fsscCtripOrderTrainPaymentService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="fsscCtripOrderTrainPaymentTarget"/>
        </property>
    </bean>
    <bean 
        id="fsscCtripOrderTrainTicketDao" 
        class="com.landray.kmss.fssc.ctrip.dao.hibernate.FsscCtripOrderTrainTicketDaoImp" 
        parent="KmssAuthBaseDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.fssc.ctrip.model.FsscCtripOrderTrainTicket</value>
        </property>
    </bean>
    <bean 
        id="fsscCtripOrderTrainTicketTarget" 
        class="com.landray.kmss.fssc.ctrip.service.spring.FsscCtripOrderTrainTicketServiceImp" 
        parent="KmssExtendDataTarget">
        <property 
            name="baseDao">
            <ref 
                bean="fsscCtripOrderTrainTicketDao"/>
        </property>
    </bean>
    <bean 
        id="fsscCtripOrderTrainTicketService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="fsscCtripOrderTrainTicketTarget"/>
        </property>
    </bean>
    <bean 
        id="fsscCtripOrderTrainControlDao" 
        class="com.landray.kmss.fssc.ctrip.dao.hibernate.FsscCtripOrderTrainControlDaoImp" 
        parent="KmssAuthBaseDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.fssc.ctrip.model.FsscCtripOrderTrainControl</value>
        </property>
    </bean>
    <bean 
        id="fsscCtripOrderTrainControlTarget" 
        class="com.landray.kmss.fssc.ctrip.service.spring.FsscCtripOrderTrainControlServiceImp" 
        parent="KmssExtendDataTarget">
        <property 
            name="baseDao">
            <ref 
                bean="fsscCtripOrderTrainControlDao"/>
        </property>
    </bean>
    <bean 
        id="fsscCtripOrderTrainControlService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="fsscCtripOrderTrainControlTarget"/>
        </property>
    </bean>
    <bean 
        id="fsscCtripAppkeyTypeDao" 
        class="com.landray.kmss.fssc.ctrip.dao.hibernate.FsscCtripAppkeyTypeDaoImp" 
        parent="KmssAuthBaseDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.fssc.ctrip.model.FsscCtripAppkeyType</value>
        </property>
    </bean>
    <bean 
        id="fsscCtripAppkeyTypeTarget" 
        class="com.landray.kmss.fssc.ctrip.service.spring.FsscCtripAppkeyTypeServiceImp" 
        parent="KmssExtendDataTarget">
        <property 
            name="baseDao">
            <ref 
                bean="fsscCtripAppkeyTypeDao"/>
        </property>
    </bean>
    <bean 
        id="fsscCtripAppkeyTypeService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="fsscCtripAppkeyTypeTarget"/>
        </property>
    </bean>
    <bean 
        id="fsscCtripAppMessageDao" 
        class="com.landray.kmss.fssc.ctrip.dao.hibernate.FsscCtripAppMessageDaoImp" 
        parent="KmssAuthBaseDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.fssc.ctrip.model.FsscCtripAppMessage</value>
        </property>
    </bean>
    <bean 
        id="fsscCtripAppMessageTarget" 
        class="com.landray.kmss.fssc.ctrip.service.spring.FsscCtripAppMessageServiceImp" 
        parent="KmssExtendDataTarget">
        <property 
            name="baseDao">
            <ref 
                bean="fsscCtripAppMessageDao"/>
        </property>
        <property 
            name="fsscCtripCityService">
            <ref 
                bean="fsscCtripCityService"/>
        </property>
        <property 
            name="fsscCtripModelService">
            <ref 
                bean="fsscCtripModelService"/>
        </property>
        <property 
            name="fsscCtripFiledMappingService">
            <ref 
                bean="fsscCtripFiledMappingService"/>
        </property>
    </bean>
    <bean 
        id="fsscCtripAppMessageService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="fsscCtripAppMessageTarget"/>
        </property>
    </bean>
    <bean 
        id="fsscCtripOrderCarDao" 
        class="com.landray.kmss.fssc.ctrip.dao.hibernate.FsscCtripOrderCarDaoImp" 
        parent="KmssAuthBaseDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.fssc.ctrip.model.FsscCtripOrderCar</value>
        </property>
    </bean>
    <bean 
        id="fsscCtripOrderCarTarget" 
        class="com.landray.kmss.fssc.ctrip.service.spring.FsscCtripOrderCarServiceImp" 
        parent="KmssExtendDataTarget">
        <property 
            name="baseDao">
            <ref 
                bean="fsscCtripOrderCarDao"/>
        </property>
    </bean>
    <bean 
        id="fsscCtripOrderCarService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="fsscCtripOrderCarTarget"/>
        </property>
    </bean>
    <bean 
        id="fsscCtripOrderCarPassengerDao" 
        class="com.landray.kmss.fssc.ctrip.dao.hibernate.FsscCtripOrderCarPassengerDaoImp" 
        parent="KmssAuthBaseDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.fssc.ctrip.model.FsscCtripOrderCarPassenger</value>
        </property>
    </bean>
    <bean 
        id="fsscCtripOrderCarPassengerTarget" 
        class="com.landray.kmss.fssc.ctrip.service.spring.FsscCtripOrderCarPassengerServiceImp" 
        parent="KmssExtendDataTarget">
        <property 
            name="baseDao">
            <ref 
                bean="fsscCtripOrderCarPassengerDao"/>
        </property>
    </bean>
    <bean 
        id="fsscCtripOrderCarPassengerService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="fsscCtripOrderCarPassengerTarget"/>
        </property>
    </bean>
    <bean 
        id="fsscCtripOrderCarPaymentDao" 
        class="com.landray.kmss.fssc.ctrip.dao.hibernate.FsscCtripOrderCarPaymentDaoImp" 
        parent="KmssAuthBaseDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.fssc.ctrip.model.FsscCtripOrderCarPayment</value>
        </property>
    </bean>
    <bean 
        id="fsscCtripOrderCarPaymentTarget" 
        class="com.landray.kmss.fssc.ctrip.service.spring.FsscCtripOrderCarPaymentServiceImp" 
        parent="KmssExtendDataTarget">
        <property 
            name="baseDao">
            <ref 
                bean="fsscCtripOrderCarPaymentDao"/>
        </property>
    </bean>
    <bean 
        id="fsscCtripOrderCarPaymentService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="fsscCtripOrderCarPaymentTarget"/>
        </property>
    </bean>
    <bean 
        id="fsscCtripOrderCarControlDao" 
        class="com.landray.kmss.fssc.ctrip.dao.hibernate.FsscCtripOrderCarControlDaoImp" 
        parent="KmssAuthBaseDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.fssc.ctrip.model.FsscCtripOrderCarControl</value>
        </property>
    </bean>
    <bean 
        id="fsscCtripOrderCarControlTarget" 
        class="com.landray.kmss.fssc.ctrip.service.spring.FsscCtripOrderCarControlServiceImp" 
        parent="KmssExtendDataTarget">
        <property 
            name="baseDao">
            <ref 
                bean="fsscCtripOrderCarControlDao"/>
        </property>
    </bean>
    <bean 
        id="fsscCtripOrderCarControlService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="fsscCtripOrderCarControlTarget"/>
        </property>
    </bean>
     <bean 
        id="fsscCtripSynConfigDao" 
        class="com.landray.kmss.fssc.ctrip.dao.hibernate.FsscCtripSynConfigDaoImp" 
        parent="KmssAuthBaseDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.fssc.ctrip.model.FsscCtripSynConfig</value>
        </property>
    </bean>
    <bean 
        id="fsscCtripSynConfigTarget" 
        class="com.landray.kmss.fssc.ctrip.service.spring.FsscCtripSynConfigServiceImp" 
        parent="KmssExtendDataTarget">
        <property 
            name="baseDao">
            <ref 
                bean="fsscCtripSynConfigDao"/>
        </property>
    </bean>
    <bean 
        id="fsscCtripSynConfigService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="fsscCtripSynConfigTarget"/>
        </property>
    </bean>
    <bean
		id="fsscCtripSynFlightSettleService"
		class="com.landray.kmss.fssc.ctrip.service.spring.FsscCtripSynFlightSettleServiceImp">
		<property 
            name="fsscCtripAirSettleInfoService">
            <ref 
                bean="fsscCtripAirSettleInfoService"/>
        </property>
	</bean>
    <bean
		id="fsscCtripSynHotelSettleService"
		class="com.landray.kmss.fssc.ctrip.service.spring.FsscCtripSynHotelSettleServiceImp">
		<property 
            name="fsscCtripHotelSettleInfoService">
            <ref 
                bean="fsscCtripHotelSettleInfoService"/>
        </property>
	</bean>
    <bean
		id="fsscCtripSynTrainSettleService"
		class="com.landray.kmss.fssc.ctrip.service.spring.FsscCtripSynTrainSettleServiceImp">
		<property 
            name="fsscCtripTrainSettleInfoService">
            <ref 
                bean="fsscCtripTrainSettleInfoService"/>
        </property>
	</bean>
    <bean
		id="fsscCtripSynCarSettleService"
		class="com.landray.kmss.fssc.ctrip.service.spring.FsscCtripSynCarSettleServiceImp">
		<property 
            name="fsscCtripCarSettleInfoService">
            <ref 
                bean="fsscCtripCarSettleInfoService"/>
        </property>
	</bean>
	<bean
		id="fsscCtripBusinessOrderWebService"
		class="com.landray.kmss.fssc.ctrip.webservice.impl.FsscCtripBusinessWebServiceImp">
		<property  name="fsscCtripOrderHotelInfoService">
            <ref  bean="fsscCtripOrderHotelInfoService"/>
        </property>
        <property  name="fsscCtripOrderFlightInfoService">
            <ref  bean="fsscCtripOrderFlightInfoService"/>
        </property>
        <property  name="fsscCtripOrderTrainInfoService">
            <ref  bean="fsscCtripOrderTrainInfoService"/>
        </property>
        <property  name="fsscCtripOrderCarService">
            <ref  bean="fsscCtripOrderCarService"/>
        </property>
	</bean>
    <bean 
        id="fsscCtripPaymentMappingDao" 
        class="com.landray.kmss.fssc.ctrip.dao.hibernate.FsscCtripPaymentMappingDaoImp" 
        parent="KmssAuthBaseDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.fssc.ctrip.model.FsscCtripPaymentMapping</value>
        </property>
    </bean>
    <bean 
        id="fsscCtripPaymentMappingTarget" 
        class="com.landray.kmss.fssc.ctrip.service.spring.FsscCtripPaymentMappingServiceImp" 
        parent="KmssExtendDataTarget">
        <property 
            name="baseDao">
            <ref 
                bean="fsscCtripPaymentMappingDao"/>
        </property>
    </bean>
    <bean 
        id="fsscCtripPaymentMappingService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="fsscCtripPaymentMappingTarget"/>
        </property>
    </bean>
     <bean 
        id="fsscCtripSynPersonService" 
        class="com.landray.kmss.fssc.ctrip.service.spring.FsscCtripSynPersonServiceImp">
        <property 
            name="sysAppConfigService">
            <ref 
                bean="sysAppConfigService"/>
        </property>
        <property 
            name="sysOrgPersonService">
            <ref 
                bean="sysOrgPersonService"/>
        </property>
        <property 
            name="sysOrgCoreService">
            <ref 
                bean="sysOrgCoreService"/>
        </property>
        <property 
            name="fsscCtripAppMessageService">
            <ref 
                bean="fsscCtripAppMessageService"/>
        </property>
    </bean>
     <bean 
        id="fsscCtripCountryDao" 
        class="com.landray.kmss.fssc.ctrip.dao.hibernate.FsscCtripCountryDaoImp" 
        parent="KmssAuthBaseDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.fssc.ctrip.model.FsscCtripCountry</value>
        </property>
    </bean>
    <bean 
        id="fsscCtripCountryTarget" 
        class="com.landray.kmss.fssc.ctrip.service.spring.FsscCtripCountryServiceImp" 
        parent="KmssExtendDataTarget">
        <property 
            name="baseDao">
            <ref 
                bean="fsscCtripCountryDao"/>
        </property>
        <property 
            name="fsscCtripAppMessageService">
            <ref 
                bean="fsscCtripAppMessageService"/>
        </property>
    </bean>
    <bean 
        id="fsscCtripCountryService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="fsscCtripCountryTarget"/>
        </property>
    </bean>
    <bean 
        id="fsscCtripSendToCtripListener" 
        class="com.landray.kmss.fssc.ctrip.listener.FsscCtripSendToCtripListener">
        <property 
            name="sysOrgCoreService">
            <ref 
                bean="sysOrgCoreService"/>
        </property>
        <property 
            name="fsscCtripFiledMappingService">
            <ref 
                bean="fsscCtripFiledMappingService"/>
        </property>
        <property 
            name="fsscCtripAppMessageService">
            <ref 
                bean="fsscCtripAppMessageService"/>
        </property>
    </bean>
    <bean 
        id="fsscCtripModelDao" 
        class="com.landray.kmss.fssc.ctrip.dao.hibernate.FsscCtripModelDaoImp" 
        parent="KmssAuthBaseDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.fssc.ctrip.model.FsscCtripModel</value>
        </property>
    </bean>
    <bean 
        id="fsscCtripModelTarget" 
        class="com.landray.kmss.fssc.ctrip.service.spring.FsscCtripModelServiceImp" 
        parent="KmssExtendDataTarget">
        <property 
            name="baseDao">
            <ref 
                bean="fsscCtripModelDao"/>
        </property>
    </bean>
    <bean 
        id="fsscCtripModelService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="fsscCtripModelTarget"/>
        </property>
    </bean>
    <bean id="fsscCtripDictExtendModelService"
          class="com.landray.kmss.fssc.ctrip.service.spring.FsscCtripDictExtendModelService">
        <property name="loader">
            <ref bean="sysFormDictLoadService" />
        </property>
        <property name="fsscCtripFiledMappingService">
            <ref bean="fsscCtripFiledMappingService" />
        </property>
    </bean>
</beans>
