<?xml version="1.0" encoding="UTF-8"?>
<beans 
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd" 
    xmlns="http://www.springframework.org/schema/beans" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <bean 
        class="com.landray.kmss.fssc.ctrip.actions.FsscCtripOrderHotelInfoAction" 
        parent="KmssBaseAction" 
        name="/fssc/ctrip/fssc_ctrip_order_hotel_info/fsscCtripOrderHotelInfo.do" 
        lazy-init="true">
        <property 
            name="formType" 
            value="com.landray.kmss.fssc.ctrip.forms.FsscCtripOrderHotelInfoForm"/>
        <property 
            name="forwards">
            <map>
                <entry 
                    key="view" 
                    value="/fssc/ctrip/fssc_ctrip_order_hotel_info/fsscCtripOrderHotelInfo_view.jsp"/>
                <entry 
                    key="data" 
                    value="/fssc/ctrip/fssc_ctrip_order_hotel_info/fsscCtripOrderHotelInfo_data.jsp"/>
            </map>
        </property>
    </bean>
    <bean 
        class="com.landray.kmss.fssc.ctrip.actions.FsscCtripOrderHotelClientAction" 
        parent="KmssBaseAction" 
        name="/fssc/ctrip/fssc_ctrip_order_hotel_info/fsscCtripOrderHotelClient.do" 
        lazy-init="true">
        <property 
            name="formType" 
            value="com.landray.kmss.fssc.ctrip.forms.FsscCtripOrderHotelClientForm"/>
        <property 
            name="forwards">
            <map/>
        </property>
    </bean>
    <bean 
        class="com.landray.kmss.fssc.ctrip.actions.FsscCtripOrderHotelRoomAction" 
        parent="KmssBaseAction" 
        name="/fssc/ctrip/fssc_ctrip_order_hotel_info/fsscCtripOrderHotelRoom.do" 
        lazy-init="true">
        <property 
            name="formType" 
            value="com.landray.kmss.fssc.ctrip.forms.FsscCtripOrderHotelRoomForm"/>
        <property 
            name="forwards">
            <map/>
        </property>
    </bean>
    <bean 
        class="com.landray.kmss.fssc.ctrip.actions.FsscCtripAirSettleInfoAction" 
        parent="KmssBaseAction" 
        name="/fssc/ctrip/fssc_ctrip_air_settle_info/fsscCtripAirSettleInfo.do" 
        lazy-init="true">
        <property 
            name="formType" 
            value="com.landray.kmss.fssc.ctrip.forms.FsscCtripAirSettleInfoForm"/>
        <property 
            name="forwards">
            <map>
                <entry 
                    key="view" 
                    value="/fssc/ctrip/fssc_ctrip_air_settle_info/fsscCtripAirSettleInfo_view.jsp"/>
                <entry 
                    key="data" 
                    value="/fssc/ctrip/fssc_ctrip_air_settle_info/fsscCtripAirSettleInfo_data.jsp"/>
            </map>
        </property>
    </bean>
    <bean 
        class="com.landray.kmss.fssc.ctrip.actions.FsscCtripHotelSettleInfoAction" 
        parent="KmssBaseAction" 
        name="/fssc/ctrip/fssc_ctrip_hotel_settle_info/fsscCtripHotelSettleInfo.do" 
        lazy-init="true">
        <property 
            name="formType" 
            value="com.landray.kmss.fssc.ctrip.forms.FsscCtripHotelSettleInfoForm"/>
        <property 
            name="forwards">
            <map>
                <entry 
                    key="data" 
                    value="/fssc/ctrip/fssc_ctrip_hotel_settle_info/fsscCtripHotelSettleInfo_data.jsp"/>
                <entry 
                    key="view" 
                    value="/fssc/ctrip/fssc_ctrip_hotel_settle_info/fsscCtripHotelSettleInfo_view.jsp"/>
            </map>
        </property>
    </bean>
    <bean 
        class="com.landray.kmss.fssc.ctrip.actions.FsscCtripFiledMappingAction" 
        parent="KmssBaseAction" 
        name="/fssc/ctrip/fssc_ctrip_filed_mapping/fsscCtripFiledMapping.do" 
        lazy-init="true">
        <property 
            name="formType" 
            value="com.landray.kmss.fssc.ctrip.forms.FsscCtripFiledMappingForm"/>
        <property name="forwards">
            <map>
				<entry
					key="view"
					value="/fssc/ctrip/fssc_ctrip_filed_mapping/fsscCtripFiledMapping_view.jsp" />
				<entry
					key="edit"
					value="/fssc/ctrip/fssc_ctrip_filed_mapping/fsscCtripFiledMapping_edit.jsp" />
				<entry
					key="list"
					value="/fssc/ctrip/fssc_ctrip_filed_mapping/fsscCtripFiledMapping_list.jsp" />
			</map>
        </property>
    </bean>
    <bean 
        class="com.landray.kmss.fssc.ctrip.actions.FsscCtripTrainMappingAction" 
        parent="KmssBaseAction" 
        name="/fssc/ctrip/fssc_ctrip_filed_mapping/fsscCtripTrainMapping.do" 
        lazy-init="true">
        <property 
            name="formType" 
            value="com.landray.kmss.fssc.ctrip.forms.FsscCtripTrainMappingForm"/>
        <property 
            name="forwards">
            <map/>
        </property>
    </bean>
    <bean 
        class="com.landray.kmss.fssc.ctrip.actions.FsscCtripCarQuickMappingAction" 
        parent="KmssBaseAction" 
        name="/fssc/ctrip/fssc_ctrip_filed_mapping/fsscCtripCarQuickMapping.do" 
        lazy-init="true">
        <property 
            name="formType" 
            value="com.landray.kmss.fssc.ctrip.forms.FsscCtripCarQuickMappingForm"/>
        <property 
            name="forwards">
            <map/>
        </property>
    </bean>
    <bean 
        class="com.landray.kmss.fssc.ctrip.actions.FsscCtripHotelMappingAction" 
        parent="KmssBaseAction" 
        name="/fssc/ctrip/fssc_ctrip_filed_mapping/fsscCtripHotelMapping.do" 
        lazy-init="true">
        <property 
            name="formType" 
            value="com.landray.kmss.fssc.ctrip.forms.FsscCtripHotelMappingForm"/>
        <property 
            name="forwards">
            <map/>
        </property>
    </bean>
    <bean 
        class="com.landray.kmss.fssc.ctrip.actions.FsscCtripCarSettleInfoAction" 
        parent="KmssBaseAction" 
        name="/fssc/ctrip/fssc_ctrip_car_settle_info/fsscCtripCarSettleInfo.do" 
        lazy-init="true">
        <property 
            name="formType" 
            value="com.landray.kmss.fssc.ctrip.forms.FsscCtripCarSettleInfoForm"/>
        <property 
            name="forwards">
            <map>
                <entry 
                    key="data" 
                    value="/fssc/ctrip/fssc_ctrip_car_settle_info/fsscCtripCarSettleInfo_data.jsp"/>
                <entry 
                    key="view" 
                    value="/fssc/ctrip/fssc_ctrip_car_settle_info/fsscCtripCarSettleInfo_view.jsp"/>
            </map>
        </property>
    </bean>
    <bean 
        class="com.landray.kmss.fssc.ctrip.actions.FsscCtripTrainSettleInfoAction" 
        parent="KmssBaseAction" 
        name="/fssc/ctrip/fssc_ctrip_train_settle_info/fsscCtripTrainSettleInfo.do" 
        lazy-init="true">
        <property 
            name="formType" 
            value="com.landray.kmss.fssc.ctrip.forms.FsscCtripTrainSettleInfoForm"/>
       <property 
            name="forwards">
            <map>
                <entry 
                    key="data" 
                    value="/fssc/ctrip/fssc_ctrip_train_settle_info/fsscCtripTrainSettleInfo_data.jsp"/>
                <entry 
                    key="view" 
                    value="/fssc/ctrip/fssc_ctrip_train_settle_info/fsscCtripTrainSettleInfo_view.jsp"/>
            </map>
        </property>
    </bean>
    <bean 
        class="com.landray.kmss.fssc.ctrip.actions.FsscCtripCityAction" 
        parent="KmssBaseAction" 
        name="/fssc/ctrip/fssc_ctrip_city/fsscCtripCity.do" 
        lazy-init="true">
        <property 
            name="formType" 
            value="com.landray.kmss.fssc.ctrip.forms.FsscCtripCityForm"/>
        <property 
            name="forwards">
            <map>
                <entry 
                    key="data" 
                    value="/fssc/ctrip/fssc_ctrip_city/fsscCtripCity_data.jsp"/>
                <entry 
                    key="edit" 
                    value="/fssc/ctrip/fssc_ctrip_city/fsscCtripCity_edit.jsp"/>
                <entry 
                    key="view" 
                    value="/fssc/ctrip/fssc_ctrip_city/fsscCtripCity_view.jsp"/>
                <entry
					key="listCity"
					value="/fssc/ctrip/fssc_ctrip_city/fsscCtripCity_dialogData.jsp" />
            </map>
        </property>
    </bean>
    <bean 
        class="com.landray.kmss.fssc.ctrip.actions.FsscCtripCityDataAction" 
        parent="KmssBaseAction" 
        name="/fssc/ctrip/fssc_ctrip_city/fsscCtripCityData.do" 
        lazy-init="true">
        <property 
            name="formType" 
            value="com.landray.kmss.fssc.ctrip.forms.FsscCtripCityForm"/>
        <property 
            name="forwards">
            <map>
                <entry 
                    key="fdCityList" 
                    value="/fssc/ctrip/fssc_ctrip_city/fsscCtripCity_dialog_fdCityList.jsp"/>
            </map>
        </property>
    </bean>
    <bean 
        class="com.landray.kmss.fssc.ctrip.actions.FsscCtripOrderFlightInfoAction" 
        parent="KmssBaseAction" 
        name="/fssc/ctrip/fssc_ctrip_order_flight_info/fsscCtripOrderFlightInfo.do" 
        lazy-init="true">
        <property 
            name="formType" 
            value="com.landray.kmss.fssc.ctrip.forms.FsscCtripOrderFlightInfoForm"/>
        <property 
            name="forwards">
            <map>
                <entry 
                    key="view" 
                    value="/fssc/ctrip/fssc_ctrip_order_flight_info/fsscCtripOrderFlightInfo_view.jsp"/>
                 <entry 
                    key="data" 
                    value="/fssc/ctrip/fssc_ctrip_order_flight_info/fsscCtripOrderFlightInfo_data.jsp"/>
            </map>
        </property>
    </bean>
    <bean 
        class="com.landray.kmss.fssc.ctrip.actions.FsscCtripOrderFlightEndtityAction" 
        parent="KmssBaseAction" 
        name="/fssc/ctrip/fssc_ctrip_order_flight_info/fsscCtripOrderFlightEndtity.do" 
        lazy-init="true">
        <property 
            name="formType" 
            value="com.landray.kmss.fssc.ctrip.forms.FsscCtripOrderFlightEndtityForm"/>
        <property 
            name="forwards">
            <map/>
        </property>
    </bean>
    <bean 
        class="com.landray.kmss.fssc.ctrip.actions.FsscCtripOrderFlightSegmentAction" 
        parent="KmssBaseAction" 
        name="/fssc/ctrip/fssc_ctrip_order_flight_info/fsscCtripOrderFlightSegment.do" 
        lazy-init="true">
        <property 
            name="formType" 
            value="com.landray.kmss.fssc.ctrip.forms.FsscCtripOrderFlightSegmentForm"/>
        <property 
            name="forwards">
            <map/>
        </property>
    </bean>
    <bean 
        class="com.landray.kmss.fssc.ctrip.actions.FsscCtripOrderFlightChangeAction" 
        parent="KmssBaseAction" 
        name="/fssc/ctrip/fssc_ctrip_order_flight_info/fsscCtripOrderFlightChange.do" 
        lazy-init="true">
        <property 
            name="formType" 
            value="com.landray.kmss.fssc.ctrip.forms.FsscCtripOrderFlightChangeForm"/>
        <property 
            name="forwards">
            <map/>
        </property>
    </bean>
    <bean 
        class="com.landray.kmss.fssc.ctrip.actions.FsscCtripOrderFlightRefundInfoAction" 
        parent="KmssBaseAction" 
        name="/fssc/ctrip/fssc_ctrip_order_flight_info/fsscCtripOrderFlightRefundInfo.do" 
        lazy-init="true">
        <property 
            name="formType" 
            value="com.landray.kmss.fssc.ctrip.forms.FsscCtripOrderFlightRefundInfoForm"/>
        <property 
            name="forwards">
            <map/>
        </property>
    </bean>
    <bean 
        class="com.landray.kmss.fssc.ctrip.actions.FsscCtripOrderFlightPassengerAction" 
        parent="KmssBaseAction" 
        name="/fssc/ctrip/fssc_ctrip_order_flight_info/fsscCtripOrderFlightPassenger.do" 
        lazy-init="true">
        <property 
            name="formType" 
            value="com.landray.kmss.fssc.ctrip.forms.FsscCtripOrderFlightPassengerForm"/>
        <property 
            name="forwards">
            <map/>
        </property>
    </bean>
    <bean 
        class="com.landray.kmss.fssc.ctrip.actions.FsscCtripOrderTrainInfoAction" 
        parent="KmssBaseAction" 
        name="/fssc/ctrip/fssc_ctrip_order_train_info/fsscCtripOrderTrainInfo.do" 
        lazy-init="true">
        <property 
            name="formType" 
            value="com.landray.kmss.fssc.ctrip.forms.FsscCtripOrderTrainInfoForm"/>
        <property 
            name="forwards">
            <map>
                <entry 
                    key="data" 
                    value="/fssc/ctrip/fssc_ctrip_order_train_info/fsscCtripOrderTrainInfo_data.jsp"/>
                <entry 
                    key="view" 
                    value="/fssc/ctrip/fssc_ctrip_order_train_info/fsscCtripOrderTrainInfo_view.jsp"/>
            </map>
        </property>
    </bean>
    <bean 
        class="com.landray.kmss.fssc.ctrip.actions.FsscCtripOrderTrainInsuranceAction" 
        parent="KmssBaseAction" 
        name="/fssc/ctrip/fssc_ctrip_order_train_info/fsscCtripOrderTrainInsurance.do" 
        lazy-init="true">
        <property 
            name="formType" 
            value="com.landray.kmss.fssc.ctrip.forms.FsscCtripOrderTrainInsuranceForm"/>
        <property 
            name="forwards">
            <map/>
        </property>
    </bean>
    <bean 
        class="com.landray.kmss.fssc.ctrip.actions.FsscCtripOrderTrainTinvoiceAction" 
        parent="KmssBaseAction" 
        name="/fssc/ctrip/fssc_ctrip_order_train_info/fsscCtripOrderTrainTinvoice.do" 
        lazy-init="true">
        <property 
            name="formType" 
            value="com.landray.kmss.fssc.ctrip.forms.FsscCtripOrderTrainTinvoiceForm"/>
        <property 
            name="forwards">
            <map/>
        </property>
    </bean>
    <bean 
        class="com.landray.kmss.fssc.ctrip.actions.FsscCtripOrderTrainInvoiceImageAction" 
        parent="KmssBaseAction" 
        name="/fssc/ctrip/fssc_ctrip_order_train_info/fsscCtripOrderTrainInvoiceImage.do" 
        lazy-init="true">
        <property 
            name="formType" 
            value="com.landray.kmss.fssc.ctrip.forms.FsscCtripOrderTrainInvoiceImageForm"/>
        <property 
            name="forwards">
            <map/>
        </property>
    </bean>
    <bean 
        class="com.landray.kmss.fssc.ctrip.actions.FsscCtripOrderTrainPassengerAction" 
        parent="KmssBaseAction" 
        name="/fssc/ctrip/fssc_ctrip_order_train_info/fsscCtripOrderTrainPassenger.do" 
        lazy-init="true">
        <property 
            name="formType" 
            value="com.landray.kmss.fssc.ctrip.forms.FsscCtripOrderTrainPassengerForm"/>
        <property 
            name="forwards">
            <map/>
        </property>
    </bean>
    <bean 
        class="com.landray.kmss.fssc.ctrip.actions.FsscCtripOrderTrainPaymentAction" 
        parent="KmssBaseAction" 
        name="/fssc/ctrip/fssc_ctrip_order_train_info/fsscCtripOrderTrainPayment.do" 
        lazy-init="true">
        <property 
            name="formType" 
            value="com.landray.kmss.fssc.ctrip.forms.FsscCtripOrderTrainPaymentForm"/>
        <property 
            name="forwards">
            <map/>
        </property>
    </bean>
    <bean 
        class="com.landray.kmss.fssc.ctrip.actions.FsscCtripOrderTrainTicketAction" 
        parent="KmssBaseAction" 
        name="/fssc/ctrip/fssc_ctrip_order_train_info/fsscCtripOrderTrainTicket.do" 
        lazy-init="true">
        <property 
            name="formType" 
            value="com.landray.kmss.fssc.ctrip.forms.FsscCtripOrderTrainTicketForm"/>
        <property 
            name="forwards">
            <map/>
        </property>
    </bean>
    <bean 
        class="com.landray.kmss.fssc.ctrip.actions.FsscCtripOrderTrainControlAction" 
        parent="KmssBaseAction" 
        name="/fssc/ctrip/fssc_ctrip_order_train_info/fsscCtripOrderTrainControl.do" 
        lazy-init="true">
        <property 
            name="formType" 
            value="com.landray.kmss.fssc.ctrip.forms.FsscCtripOrderTrainControlForm"/>
        <property 
            name="forwards">
            <map/>
        </property>
    </bean>
    <bean 
        class="com.landray.kmss.fssc.ctrip.actions.FsscCtripAppkeyTypeAction" 
        parent="KmssBaseAction" 
        name="/fssc/ctrip/fssc_ctrip_appkey_type/fsscCtripAppkeyType.do" 
        lazy-init="true">
        <property 
            name="formType" 
            value="com.landray.kmss.fssc.ctrip.forms.FsscCtripAppkeyTypeForm"/>
        <property 
            name="forwards">
            <map>
                <entry 
                    key="edit" 
                    value="/fssc/ctrip/fssc_ctrip_appkey_type/fsscCtripAppkeyType_edit.jsp"/>
            </map>
        </property>
    </bean>
    <bean 
        class="com.landray.kmss.fssc.ctrip.actions.FsscCtripAppMessageAction" 
        parent="KmssBaseAction" 
        name="/fssc/ctrip/fssc_ctrip_app_message/fsscCtripAppMessage.do" 
        lazy-init="true">
        <property 
            name="formType" 
            value="com.landray.kmss.fssc.ctrip.forms.FsscCtripAppMessageForm"/>
        <property 
            name="forwards">
            <map>
                <entry 
                    key="data" 
                    value="/fssc/ctrip/fssc_ctrip_app_message/fsscCtripAppMessage_data.jsp"/>
                <entry 
                    key="edit" 
                    value="/fssc/ctrip/fssc_ctrip_app_message/fsscCtripAppMessage_edit.jsp"/>
                <entry 
                    key="view" 
                    value="/fssc/ctrip/fssc_ctrip_app_message/fsscCtripAppMessage_view.jsp"/>
            </map>
        </property>
    </bean>
    <bean 
        class="com.landray.kmss.fssc.ctrip.actions.FsscCtripOrderCarAction" 
        parent="KmssBaseAction" 
        name="/fssc/ctrip/fssc_ctrip_order_car/fsscCtripOrderCar.do" 
        lazy-init="true">
        <property 
            name="formType" 
            value="com.landray.kmss.fssc.ctrip.forms.FsscCtripOrderCarForm"/>
        <property 
            name="forwards">
            <map>
                <entry 
                    key="view" 
                    value="/fssc/ctrip/fssc_ctrip_order_car/fsscCtripOrderCar_view.jsp"/>
                 <entry 
                    key="data" 
                    value="/fssc/ctrip/fssc_ctrip_order_car/fsscCtripOrderCar_data.jsp"/>
            </map>
        </property>
    </bean>
    <bean 
        class="com.landray.kmss.fssc.ctrip.actions.FsscCtripOrderCarPassengerAction" 
        parent="KmssBaseAction" 
        name="/fssc/ctrip/fssc_ctrip_order_car/fsscCtripOrderCarPassenger.do" 
        lazy-init="true">
        <property 
            name="formType" 
            value="com.landray.kmss.fssc.ctrip.forms.FsscCtripOrderCarPassengerForm"/>
        <property 
            name="forwards">
            <map/>
        </property>
    </bean>
    <bean 
        class="com.landray.kmss.fssc.ctrip.actions.FsscCtripOrderCarPaymentAction" 
        parent="KmssBaseAction" 
        name="/fssc/ctrip/fssc_ctrip_order_car/fsscCtripOrderCarPayment.do" 
        lazy-init="true">
        <property 
            name="formType" 
            value="com.landray.kmss.fssc.ctrip.forms.FsscCtripOrderCarPaymentForm"/>
        <property 
            name="forwards">
            <map/>
        </property>
    </bean>
    <bean 
        class="com.landray.kmss.fssc.ctrip.actions.FsscCtripOrderCarControlAction" 
        parent="KmssBaseAction" 
        name="/fssc/ctrip/fssc_ctrip_order_car/fsscCtripOrderCarControl.do" 
        lazy-init="true">
        <property 
            name="formType" 
            value="com.landray.kmss.fssc.ctrip.forms.FsscCtripOrderCarControlForm"/>
        <property 
            name="forwards">
            <map/>
        </property>
    </bean>
     <bean 
        class="com.landray.kmss.fssc.ctrip.actions.FsscCtripPaymentMappingAction" 
        parent="KmssBaseAction" 
        name="/fssc/ctrip/fssc_ctrip_payment_mapping/fsscCtripPaymentMapping.do" 
        lazy-init="true">
        <property 
            name="formType" 
            value="com.landray.kmss.fssc.ctrip.forms.FsscCtripPaymentMappingForm"/>
        <property 
            name="forwards">
            <map>
                <entry 
                    key="data" 
                    value="/fssc/ctrip/fssc_ctrip_payment_mapping/fsscCtripPaymentMapping_data.jsp"/>
                <entry 
                    key="edit" 
                    value="/fssc/ctrip/fssc_ctrip_payment_mapping/fsscCtripPaymentMapping_edit.jsp"/>
                <entry 
                    key="view" 
                    value="/fssc/ctrip/fssc_ctrip_payment_mapping/fsscCtripPaymentMapping_view.jsp"/>
            </map>
        </property>
    </bean>
    <bean 
        class="com.landray.kmss.fssc.ctrip.actions.FsscCtripCountryAction" 
        parent="KmssBaseAction" 
        name="/fssc/ctrip/fssc_ctrip_country/fsscCtripCountry.do" 
        lazy-init="true">
        <property 
            name="formType" 
            value="com.landray.kmss.fssc.ctrip.forms.FsscCtripCountryForm"/>
        <property 
            name="forwards">
            <map>
                <entry 
                    key="data" 
                    value="/fssc/ctrip/fssc_ctrip_country/fsscCtripCountry_data.jsp"/>
                <entry 
                    key="view" 
                    value="/fssc/ctrip/fssc_ctrip_country/fsscCtripCountry_view.jsp"/>
            </map>
        </property>
    </bean>
    <bean 
        class="com.landray.kmss.fssc.ctrip.actions.FsscCtripModelAction" 
        parent="KmssBaseAction" 
        name="/fssc/ctrip/fssc_ctrip_model/fsscCtripModel.do" 
        lazy-init="true">
        <property 
            name="formType" 
            value="com.landray.kmss.fssc.ctrip.forms.FsscCtripModelForm"/>
        <property 
            name="forwards">
            <map>
                <entry 
                    key="data" 
                    value="/fssc/ctrip/fssc_ctrip_model/fsscCtripModel_data.jsp"/>
                <entry 
                    key="edit" 
                    value="/fssc/ctrip/fssc_ctrip_model/fsscCtripModel_edit.jsp"/>
                <entry 
                    key="view" 
                    value="/fssc/ctrip/fssc_ctrip_model/fsscCtripModel_view.jsp"/>
            </map>
        </property>
    </bean>
    <bean
		name="/fssc/ctrip/fssc_ctrip_model/fsscCtripModelData.do"
		class="com.landray.kmss.fssc.ctrip.actions.FsscCtripModelDataAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.fssc.ctrip.forms.FsscCtripModelForm" />
		<property name="forwards">
			<map>
				<entry 
               		 key="fdModel" 
               		 value="/fssc/ctrip/fssc_ctrip_model/fsscCtripModel_dialog_fdModel.jsp"/>
               	<entry 
               		 key="selectTemplate" 
               		 value="/fssc/ctrip/fssc_ctrip_model/fsscCtripModel_dialog_fdTemplate.jsp"/>
			</map>
		</property>
	</bean>
</beans>
