<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean
		id="lbpmFlowchartImportTarget"
		parent="KmssBaseTarget"
		class="com.landray.kmss.sys.lbpmservice.flowchartimport.service.spring.LbpmFlowchartImportServiceImp">
		<property name="baseDao">
			<ref bean="KmssBaseDao" />
		</property>
	</bean>
	<bean
		id="lbpmFlowchartImportService"
		parent="KmssBaseService">
		<property name="target">
			<ref bean="lbpmFlowchartImportTarget" />
		</property>
	</bean>
	<bean
		id="lbpmIgnoreOnHandlerEmpty"
		class="com.landray.kmss.sys.lbpmservice.flowchartimport.service.spring.LbpmIgnoreOnHandlerEmptyRule">
	</bean>
	<bean
		id="lbpmHandlerSame"
		class="com.landray.kmss.sys.lbpmservice.flowchartimport.service.spring.LbpmHandlerSameRule">
	</bean>
	<bean
		id="lbpmCanModifyMainDoc"
		class="com.landray.kmss.sys.lbpmservice.flowchartimport.service.spring.LbpmCanModifyMainDocRule">
	</bean>
	<bean
		id="lbpmCanAddAuditNoteAtt"
		class="com.landray.kmss.sys.lbpmservice.flowchartimport.service.spring.LbpmCanAddAuditNoteAttRule">
	</bean>
	<bean
		id="lbpmSecretaryAdvanceApprovalRule"
		class="com.landray.kmss.sys.lbpmservice.flowchartimport.service.spring.LbpmSecretaryAdvanceApprovalRule">
	</bean>
	<bean
		id="lbpmUrgeHandler"
		class="com.landray.kmss.sys.lbpmservice.flowchartimport.service.spring.LbpmUrgeHandlerRule">
	</bean>
	<bean
		id="lbpmNotifyDrafter"
		class="com.landray.kmss.sys.lbpmservice.flowchartimport.service.spring.LbpmNotifyDrafterRule">
	</bean>
	<bean
		id="lbpmNotifyPrivate"
		class="com.landray.kmss.sys.lbpmservice.flowchartimport.service.spring.LbpmNotifyPrivateRule">
	</bean>
	<bean
		id="lbpmNodeAutoSkip"
		class="com.landray.kmss.sys.lbpmservice.flowchartimport.service.spring.LbpmNodeAutoSkipRule">
	</bean>
	<bean
		id="lbpmTranAutoSkip"
		class="com.landray.kmss.sys.lbpmservice.flowchartimport.service.spring.LbpmTranAutoSkipRule">
	</bean>
	<bean
		id="lbpmAutoCommunicateHandler"
		class="com.landray.kmss.sys.lbpmservice.flowchartimport.service.spring.LbpmAutoCommunicateHandlerRule">
	</bean>
	<bean
		id="lbpmAutoCommunicateTime"
		class="com.landray.kmss.sys.lbpmservice.flowchartimport.service.spring.LbpmAutoCommunicateTimeRule">
	</bean>
	<bean
		id="lbpmNodeAutoCommunicateTime"
		class="com.landray.kmss.sys.lbpmservice.flowchartimport.service.spring.LbpmNodeAutoCommunicateTimeRule">
	</bean>
	<bean
		id="lbpmRollbackPreviousNode"
		class="com.landray.kmss.sys.lbpmservice.flowchartimport.service.spring.LbpmRollbackPreviousNodeRule">
	</bean>
	<bean
		id="lbpmRollbackDraftNode"
		class="com.landray.kmss.sys.lbpmservice.flowchartimport.service.spring.LbpmRollbackDraftNodeRule">
	</bean>
	<bean
		id="lbpmAutoAgree"
		class="com.landray.kmss.sys.lbpmservice.flowchartimport.service.spring.LbpmAutoAgreeRule">
	</bean>
	<bean
		id="lbpmAutoDisagree"
		class="com.landray.kmss.sys.lbpmservice.flowchartimport.service.spring.LbpmAutoDisagreeRule">
	</bean>
	<bean
		id="lbpmAutoAbstain"
		class="com.landray.kmss.sys.lbpmservice.flowchartimport.service.spring.LbpmAutoAbstainRule">
	</bean>
	<bean
		id="lbpmVoteRule"
		class="com.landray.kmss.sys.lbpmservice.flowchartimport.service.spring.LbpmVoteRuleRule">
	</bean>
	<bean
		id="lbpmDecidedBranchOnDraft"
		class="com.landray.kmss.sys.lbpmservice.flowchartimport.service.spring.LbpmDecidedBranchOnDraftRule">
	</bean>
	<bean
		id="lbpmRelatedNode"
		class="com.landray.kmss.sys.lbpmservice.flowchartimport.service.spring.LbpmRelatedNodeRule">
	</bean>
	<bean
		id="lbpmGroupStartNodeRule"
		class="com.landray.kmss.sys.lbpmservice.flowchartimport.service.spring.LbpmGroupStartNodeRule">
	</bean>
	<bean
		id="lbpmGroupEndNodeRule"
		class="com.landray.kmss.sys.lbpmservice.flowchartimport.service.spring.LbpmGroupEndNodeRule">
	</bean>
	<bean
		id="lbpmGroupSplitNodeRule"
		class="com.landray.kmss.sys.lbpmservice.flowchartimport.service.spring.LbpmGroupSplitNodeRule">
	</bean>
	<bean
		id="lbpmGroupJoinNodeRule"
		class="com.landray.kmss.sys.lbpmservice.flowchartimport.service.spring.LbpmGroupJoinNodeRule">
	</bean>
	<bean
		id="lbpmNodeLimitRule"
		class="com.landray.kmss.sys.lbpmservice.flowchartimport.service.spring.LbpmNodeLimitRule">
	</bean>
	<bean
		id="lbpmTranLimitRule"
		class="com.landray.kmss.sys.lbpmservice.flowchartimport.service.spring.LbpmTranLimitRule">
	</bean>
</beans>
