@CHARSET "UTF-8";
.div_attention_Container{
	width:100%;
}
.div_attention_wrapper{
	padding:2px;
}
.div_attention_wrapper_clear:after{
	display:block;
	clear:both;
	content:"";
}
.div_attention_wrapper_tree{
	float:left;
	width:55%;
	height:507px;
	border:1px solid #000;
}
.div_attention_wrapper_tree_head, .div_attention_wrapper_selected_list_head{
	background-color:#D3D3D3;
	height: 30px;
}
.div_attention_wrapper_tree_head_can_selected, .div_attention_wrapper_selected_list_head_selected{
	float:left;
	padding-left: 10px;
	margin-top: 5px;
}
.div_attention_wrapper_tree_head_can_selected_span, .div_attention_wrapper_selected_list_head_selected_span {
	font-size:14px;
	color:#4A4A4A;
}
.div_attention_wrapper_tree_head_checkAll, .div_attention_wrapper_selected_list_head_cancelAll{
	float: right;
	margin-right: 10px;
	margin-top: 5px;
}
.div_attention_wrapper_tree_head_checkAll_span, .div_attention_wrapper_selected_list_head_cancelAll_span{
	font-size:14px;
	color:#4A4A4A;
}
.div_attention_wrapper_tree_data{
	height:477px;
	overflow:auto;
}
.div_attention_wrapper_selected_list{
	float:right;
	width:40%;
	height:507px;
	border:1px solid #000;
}
.div_attention_docStatus, .div_attention_fdDiffusionAuth{
	padding-left: 10px;
	margin-top: 5px;
}
.span_attention_docStatus , .span_attention_fdDiffusionAuth{
	font-size:14px;
	color:#9B9B9B;
}
.div_attention_opt_button{
	margin-top: 20px;
}
.ul_cells{
	width:100%; 
	height:477px;
	overflow:auto;
}
.ul_cells_li{
	padding: 10px 15px;
	margin-top: -1px;
	background-color: #fff;
	border: 1px solid #ddd;
}
.ul_cells_li_id_span{
	display:none;
}
.ul_cells_li_name_span{
	font-size:14px;
	color:blue;
}
.ul_cells_li_btn_span{
	float:right;
	background: url(../images/icon_del.png) no-repeat left top;
    width: 14px;
    height: 14px;
}