/*
 * 压缩类型：无
 */
*{ margin:0; padding:0;}
ul{ list-style:none;}
html,body{ height:100%;}

body, td, input{
	color: #333333;
  font-size: 12px;
}

a{
	color: #003048;
}
a:hover{
	color: #0052c2;
}
a:active{
	color: #787878; 
	text-decoration: underline;
}
.inputsgl{
	color: #0066FF;
	border-color: #999999;
	border-style: solid;
	border-width: 0px 0px 1px 0px;
}
.pagenav_input{
    background:#fff;
    border:1px solid #ccc;
    color: #666666;
    height:18px;
    line-height:18px;
    padding:0;
    margin: 0 5px;
    text-align: center;
}

#List_ViewTable{ margin:10px 0 0; border:0; border-collapse:collapse;}
#List_ViewTable td {
	border: 0;
	border-collapse: collapse;
	padding: 0 10px;
}
/* #127699 数据导出中，数据选择后，有部分数据显示未被选择中状态-开始 */
/*.tr_listrow1 {background: #fff;}
.tr_listrow2{ background:#f3f3f3;}
.tr_listrow2{ background:#f3f3f3;}
.tr_listrowcur{ background:#6fb2eb;} */
/* #127699 数据导出中，数据选择后，有部分数据显示未被选择中状态-结束 */
.tr_listrow1 td,.tr_listrow2 td,.tr_listrowcur td{ border-top:3px solid #fff !important; border-bottom:3px solid #fff !important; height:26px; color:#474747; line-height:26px; text-align:center; overflow:hidden;  word-break: break-all;word-wrap: break-word;}
/*#145589-流程查询页面的列表展示显示样式异常-开始*/
/*.tr_listfirst{ background:url(../icons/bg.gif) repeat-x 0 -600px !important; height:30px; padding:0 5px;}*/
.tr_listfirst{
	background:url(../icons/bg_tr_listfirst.png) repeat-x left bottom !important;
	height:30px; padding:0 5px;
}
/*#145589-流程查询页面的列表展示显示样式异常-结束*/
.tr_listfirst td, .tr_listfirst td a {
	color: #000;
	font-weight: bold;
	text-align: center;
	line-height: 30px;
	font-size:12px;
	/*#147348-流程查询的“序号”有足够的位置，但是转行了*/
	white-space: nowrap;
}

.tr_listfirst td div, .tr_listfirst td a div{
	font-size:12px;
}

.tr_listfirst td a:hover {
	color: #6fb2eb;
	text-decoration: none;
}
/* #127699 数据导出中，数据选择后，有部分数据显示未被选择中状态-开始 */
/* .tr_listrowcur td{ color:#fff;} */
/* #127699 数据导出中，数据选择后，有部分数据显示未被选择中状态-结束 */
.tr_listrowcur td a{ color:#fff; text-decoration:underline;}
.tr_listrowcur td a:hover{ color:#fff; text-decoration:none;}

.txtlistpath{ display:block; background:url(dot.gif) repeat-x left bottom; min-height:20px; padding:0 0 5px 0; color:#2792C6; line-height:20px; margin:10px 0 0; text-align:left;}

.barmsg{
	text-align:center;
	font-weight: bold;
}
.txtmsg{
	color: #FF0000;
	font-weight: bold;
}
.btnmsg{
	padding: 2px 5px 0px 5px;
	border:1px solid #000033;
	cursor:pointer;
}
th.sorted{
    background-color: #BBDDFF;
}
td.sorted a{ color:#117dd0}
th.sortable a, td.sortable a {
	background-position: right;
	display: block;
	width: 100%;
	heigth: 100%;
	text-decoration:none;
}
.tb_search{
	border-collapse:collapse;
	border: 1px #C0C0C0 solid;
	background-color: #F3F3F3;
	height:30px;
}
.td_search, .tb_search td{
	border-collapse:collapse;
	border: 0px;
	padding:1px;
}
.input_search{
	color: #0066FF;
	border: 1px solid #C0C0C0;
}
.btn_search{
	height:20px;
	background-color:#f3f3f3;
	border:1px solid #909090;
	font-family: Microsoft YaHei, Geneva, "sans-serif", SimSun;
	font-size: 12px; 
}
#optBarDiv{
	display:none;
}

.listtable_box > table {
	margin:0 auto;
}
.tr_listrow1 input[type='checkbox']{cursor:default;}
.tr_listrow2 input[type='checkbox']{cursor:default;}
.tr_listrowcur input[type='checkbox']{cursor:default;}

/* #127699 数据导出中，数据选择后，有部分数据显示未被选择中状态-开始 */
#List_ViewTable>tbody>tr[same=true]{
	color:#fff!important;
	background-color:#6fb2eb;
}
/* #127699 数据导出中，数据选择后，有部分数据显示未被选择中状态-结束 */ 