.muiLearnMissionItem {
	padding: 1rem 0;
	border-bottom: 1px solid #f2f2f2;
}

.muiLearnMissionInfo {
	line-height: 1.6rem;
	margin-bottom: 1rem;
}

.muiLearnMissionInfo>p {
	display: inline-block;
	font-size: 1.4rem;
	color: #3E4665;
}

.muiLearnMissionInfo>span {
	float: right;
	font-size: 1.2rem;
	color: #999FB7;
}

.muiLearnMissionProgressbar {
	background-color: #EAEBF0;
	border-radius: 5px;
	position: relative;
	top: 8px;
	width: 80%;
	height: .6rem;
	float: left;
	overflow: hidden;
}

.muiLearnMissionProgressbar>span {
	display: inline-block;
	background-color: var(--muiFontColor);
	height: 100%;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	position: absolute;
}

.muiLearnMissionPercent {
	float: right;
	font-size: var(--muiFontSizeXL);
	font-family: fontnumber;
	color: var(--muiFontColor);
}

.muiLearnMissionContent {
    width: 100%;
}

.muiLearnMissionContent:AFTER{
	content: " ";
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
}

.muiLearnMissionList {
    border-radius: 6px;
    background-color: #fff;
    padding: 0 1rem;
}