/* 修改密码 Starts */
.pwdbox {
  padding: 40px 20px 50px;
  background: url(./bg@2x.png) no-repeat top /contain;
}

.error-msg {
  opacity: 0.98;
  background: #FFF2EE;
  font-size: 12px;
  color: #979DB1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px 15px;
}

.lui_changepwd_panel {
  margin-top: 40px;
}

.change_password_form h1 {
  font-size: 24px;
  color: #2A304A;
}

.lui_changepwd_panel table {
  width: 100%;
}

.lui_changepwd_panel table tr:nth-child(5) {
  border-bottom: 0
}

.lui_changepwd_panel table tr td.td_title {
  font-size: 14px;
  color: #2A304A;
  width: 60px;
  padding-right: 10px;
}

.lui_changepwd_panel table tr td {
  padding: 15px 0;
}

.lui_changepwd_panel table tr:nth-child(even) td {
  padding-top: 0;
  padding-bottom: 4px;
}

.lui_changepwd_panel table .tr-opt {
  transition: border-bottom .3s;
  border-bottom: 1px solid #EAEBF0;
}

.lui_changepwd_panel table .tr-opt td {
  padding: 2px 0 3px !important;
}

.lui_changepwd_panel table tr:last-child td {
  padding-top: 0;
  padding-bottom: 4px;
}

.lui_changepwd_panel table tr td input {
  border: 0;
}

.lui_changepwd_panel table tr.warning {
  border-bottom-color: #F25643;
}

.lui_changepwd_panel table tr td:nth-child(2) div>p:first-child {
  color: #F25643;
  display: none;
}

.lui_changepwd_panel table tr.warning td:nth-child(2) div>p:first-child {
  display: block;
}

.info-words {
  font-size: 14px;
  color: #D4D6DB;
  padding-top: 8px;
}

.info-words p {
  transition: all .3s;
}

.intension {
  display: flex;
}

.status {
  width: 70px;
  height: 20px;
  line-height: 20px;
  font-size: 14px;
  color: #FFFFFF;
  text-align: center;
  border-radius: 10px;
  margin: 0 8px;
  transition: all .3s;
  background: #F5F6FB;
  color: #D4D6DB;
}

.status.active {
  color: #fff;
}

.status:first-child {
  margin-left: 0;
}

.status:first-child.active {
  background: #A0C2F9;
}

.status:nth-child(2).active {
  background: #7AA9F7;
}

.status:last-child.active {
  background: #4285F4;
}

.lui_changepwd_panel input::-webkit-input-placeholder {
  font-size: 14px;
  color: #AAACB7;
}

.lui_changepwd_panel input::-moz-input-placeholder {
  font-size: 14px;
  color: #AAACB7;
}

.lui_changepwd_panel input::-ms-input-placeholder {
  font-size: 14px;
  color: #AAACB7;
}

.password-img {
  width: 45px;
  height: 45px;
  background: url(./close@2x.png) no-repeat top /contain;
  transition: all .3s;
}

.password-img.active {
  background: url(./open@2x.png) no-repeat top /contain;
}

.btnW {
  position: fixed;
  left: 20px;
  right: 20px;
  bottom: 50px;
}

.btn_submit_1 {
  background: #4285F4;
  border-radius: 4px;
  display: block;
  height: 50px;
  font-size: 18px;
  line-height: 50px;
  color: #fff;
  text-align: center;
}

/* 修改密码 Ends */

/* 完善个人信息 Starts */
.personInfoBox h1 {
  font-size: 24px;
  color: #2A304A;
}

.personInfoBox .lui_changepwd_panel.person_info {
  margin-top: 20px;
}

.lui_changepwd_panel.person_info table tr td {
  padding: 35px 0 15px !important;
}

.lui_changepwd_panel.person_info table tr:last-child td {
  padding-top: 0 !important;
  padding-bottom: 4px !important;
}

.lui_changepwd_panel.person_info table tr td.td_title {
  width: 70px;
}

.lui_changepwd_panel.person_info table tr:nth-child(2) td:nth-child(2)>div {
  padding-right: 0;
  min-height: auto;
}

.lui_changepwd_panel.person_info table tr:nth-child(2) td:nth-child(2)>div label {
  margin: 0;
  margin-right: 50px;
}

/* 完善个人信息 Ends */

/* IPhone5 Starts */
@media screen and (max-width: 320px) {
  .pwdbox {
    padding-top: 30px;
  }

  .status {
    width: 60px;
  }

  .lui_changepwd_panel table tr td.td_title {
    width: 70px;
    padding-right: 0;
  }
  .lui_changepwd_panel table tr td:nth-child(2) {
    max-width: 150px;
  }
  .lui_changepwd_panel table tr td input{
    width: 150px;
  }
  .btnW {
    bottom: 30px;
  }
}

/* IPhone5 Ends */