/**
 * 1. 开发人员：谢东颖
 * 2. 开发时间：2018-1-2
 * 3. 功能说明：排班管理
 */


/* 公共通用 Starts
   ========================================================================== */

  /*清除浮动 Starts*/
.lui_batch_process_container:after,
.lui_batch_process-content-row:after{
  content: '';
  display: table;
  visibility: hidden;
  clear: both;
}
  /*清除浮动 Ends*/


.lui_batch_process_container {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

/* 公共通用 Ends
   ========================================================================== */

/*     Starts
   ========================================================================== */
.lui_batch_process-content{
  margin: 60px 20px 0;
}
.lui_batch_process-content-row{
  padding: 10px 0;
}
.lui_batch_process-row-title{
  font-size: 14px;
  color: #2f84fb;
  float: left;
  line-height: 32px;
}
.lui_batch_process-row-title:before{
	display: inline-block;
	content: "";
	width: 0;
	height: 0;
	border: 2px solid;
	border-radius: 50%;
	vertical-align: middle;
}
.lui_batch_process-row-download{
  padding-left: 5px;
}
.lui_batch_process-row-download  button{
  background-color: #fff;
  border: 1px solid #4284F4;
  border-radius: 2px;
  padding: 0;
  width: 170px;
  height: 32px;
  box-sizing: content-box;
}
.lui_batch_process-row-download:hover button a{
  background-color: #4284F4;
  color: #ffffff;
}
.lui_batch_process-row-download button a{
  padding-top: 6px;
  padding-bottom: 6px;
  color: #4284F4;
  display: block;
  line-height: 20px;
}
.lui_batch_process-row-remark{
  color: #999999;
  padding-left: 5px;
}
.lui_batch_process-row-wrap{
  display: inline-block;
  position: relative;
}
.lui_batch_process-row-searchFile{
  padding-left: 5px;
  display: inline-block;
  vertical-align: top;
}
.lui_batch_process-row-searchFile input{
  width: 170px;
  height: 28px;
  display: inline-block;
  line-height: 28px;
  padding: 1px 10px;
  border: 1px solid #D5D5D5;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  box-sizing: content-box;
}
.lui_batch_process-row-browse{
  margin-left: -6px;
  position: relative;
  top:0;
  left: 0;
  width: 80px;
  height: 32px;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  z-index: 2;
  /* background: #fff; */
}
.lui_batch_process-row-browse button{
  position: absolute;
  top:0;
  left: 0;
  right:0;
  bottom:0;
  border: 1px solid #4284F4;
  font-size: 14px;
  color: #4284F4;
  background-color: #fff;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  padding: 1px 10px;
  height: 28px;
  width: 60px;
  box-sizing: content-box;
  cursor:pointer;
}
.lui_batch_process-row-browse:hover button{
  color: #fff;
  background-color: #4284F4;
}
.lui_batch_process-row-browse input{
  opacity: 0;
  filter: alpha(opacity=0);
  position: relative;
  z-index: 100;
  width: 80px;
  padding: 3px 0;
  position:  absolute;
  left: 0;
  top: 0;
  bottom:0;
  right:0;
}
.lui_batch_process-content-confirm{
  margin: 10px auto 20px;
  text-align: center;
}
.lui_batch_process-content-confirm button{
  background: #4284F4;
  border-radius: 4px;
  color: #fff;
  font-size: inherit;
  text-align: center;
  border: none;
  padding:8px 24px;
  cursor: pointer;
  box-sizing: content-box;
}
.lui_batch_process-content-confirm button hover{
  background: #4284F4;
  color: #fff;
}
.lui_batch_process-content-forbid{
  margin: 10px auto 20px;
  text-align: center;
}
.lui_batch_process-content-forbid  button{
  opacity: 0.5;
  background: #4284F4;
  border-radius: 4px;
  color: #fff;
  text-align: center;
  border: none;
  padding:8px 24px;
  box-sizing: content-box;
}
.lui_batch_process-content-tip{
  background: #F7F7F7;
  border-radius: 5px;
  padding: 10px 25px;
}
.lui_batch_process-tip-title{
  font-size: 14px;
  color: #F56B6B;
}
/*      Ends
   ========================================================================== */



