<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean
		name="/tic/core/mapping/tic_core_mapping_main/ticCoreMappingMain.do"
		class="com.landray.kmss.tic.core.mapping.actions.TicCoreMappingMainAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.tic.core.mapping.forms.TicCoreMappingMainForm" />
		<property name="forwards">
			<map>
				<entry
					key="view"
					value="/tic/core/mapping/tic_core_mapping_main/ticCoreMappingMain_view.jsp" />
				<entry
					key="edit"
					value="/tic/core/mapping/tic_core_mapping_main/ticCoreMappingMain_edit.jsp" />
				<entry
					key="list"
					value="/tic/core/mapping/tic_core_mapping_main/ticCoreMappingMain_list.jsp" />
				<entry
					key="moduleCate"
					value="/tic/core/resource/jsp/module_cate_tree.jsp" />
				<entry
					key="listTemplate"
					value="/tic/core/mapping/tic_core_mapping_main/ticCoreMappingMain_list.jsp" />
				<entry
					key="redirect"
					value="/resource/jsp/redirect.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/tic/core/mapping/tic_core_mapping_module/ticCoreMappingModuleIndex.do"
		class="com.landray.kmss.tic.core.mapping.actions.TicCoreMappingModuleIndexAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property name="forwards">
			<map>
				<entry
					key="list"
					value="/tic/core/mapping/tic_core_mapping_module/ticCoreMappingModule_ui_list.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/tic/core/mapping/tic_core_mapping_module/ticCoreMappingModule.do"
		class="com.landray.kmss.tic.core.mapping.actions.TicCoreMappingModuleAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.tic.core.mapping.forms.TicCoreMappingModuleForm" />
		<property name="forwards">
			<map>
				<entry
					key="view"
					value="/tic/core/mapping/tic_core_mapping_module/ticCoreMappingModule_view.jsp" />
				<entry
					key="edit"
					value="/tic/core/mapping/tic_core_mapping_module/ticCoreMappingModule_edit.jsp" />
				<entry
					key="list"
					value="/tic/core/mapping/tic_core_mapping_module/ticCoreMappingModule_list.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/tic/core/mapping/tic_core_mapping_func/ticCoreMappingFunc.do"
		class="com.landray.kmss.tic.core.mapping.actions.TicCoreMappingFuncAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.tic.core.mapping.forms.TicCoreMappingFuncForm" />
		<property name="forwards">
			<map>
				<entry
					key="view"
					value="/tic/core/mapping/tic_core_mapping_func/ticCoreMappingFunc_view.jsp" />
				<entry
					key="list"
					value="/tic/core/mapping/tic_core_mapping_func/ticCoreMappingFunc_list.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/tic/core/config/tic_core_config/ticCoreConfig.do"
		class="com.landray.kmss.tic.core.config.actions.TicCoreConfigAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.tic.core.config.forms.TicCoreConfigForm" />
		<property name="forwards">
			<map>
				<entry
					key="edit"
					value="/tic/core/config/ticCoreConfig_edit.jsp" />
			</map>
		</property>
	</bean>
</beans>