@CHARSET "UTF-8";
.muiMainDataItem{
	display: block;
}
.muiMainDataItem .muiListItem{
	padding-left: 1rem;
    padding-right: 1rem;	
}
.muiMainDataLink{
	color: #333;
    display: block;
    zoom: 1;
    position: relative;
}
.muiMainDataSubject{
	margin: 0 0 .8rem 0;
    color: #333;
    font-size: 1.5rem;
    font-weight: normal;
    line-height: 2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    word-wrap: break-word;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    -webkit-box-pack: start !important;
    box-pack: start !important;
    -webkit-box-align: start;
    box-align: start;
}
@media screen and (min-width: 321px) and (max-width:400px) {
    .muiMainDataSubject {
        margin: 0 0 1rem 0;
        font-size: 1.7rem
    }
}
.muiListInfo > div{
	float: left;
	padding-right: 1rem;
}
.muiListNoDataArea{
	margin-top: 2rem;
}