<?xml version="1.0" encoding="UTF-8"?>
<beans
		xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean
			name="/sys/attachment/sys_att_main/sysAttMain.do"
			class="com.landray.kmss.sys.attachment.actions.SysAttMainAction"
			lazy-init="true"
			parent="KmssBaseAction">
		<property
				name="formType"
				value="com.landray.kmss.sys.attachment.forms.SysAttMainForm" />
		<property name="forwards">
			<map>
				<entry
						key="upload_success"
						value="/sys/attachment/sys_att_main/upload_success.jsp" />
				<entry
						key="editonline"
						value="/sys/attachment/sys_att_main/sysAttMain_editonline.jsp" />
				<entry
						key="editonline_jg"
						value="/sys/attachment/sys_att_main/jg/sysAttMain_editonline.jsp" />
				<entry
						key="editonline_jgPdfSignature"
						value="/sys/attachment/sys_att_main/jg/sysAttMain_editonline_jgPdfSignature.jsp" />
				<entry
						key="viewonline"
						value="/sys/attachment/sys_att_main/sysAttMain_viewonline.jsp" />
				<entry
						key="viewonline_jg"
						value="/sys/attachment/sys_att_main/jg/sysAttMain_viewonline.jsp" />
				<entry
						key="viewonline_converting"
						value="/sys/attachment/viewer/sysAttMain_viewonline_converting.jsp" />
				<entry
						key="editonline_wps"
						value="/sys/attachment/sys_att_main/wps/sysAttMain_editonline.jsp" />
				<entry
						key="viewonline_wps"
						value="/sys/attachment/sys_att_main/wps/sysAttMain_viewonline.jsp" />
				<entry
						key="viewonline_foxit"
						value="/sys/attachment/sys_att_main/foxit/sysAttMain_foxit_view.jsp" />
				<entry
						key="viewonline_foxit.4m"
						value="/sys/attachment/sys_att_main/foxit/sysAttMain_foxit_view.jsp" />
				<entry
						key="viewonline_dianju_preview.4m"
						value="/sys/attachment/mobile/viewer/dianju/sysAttMain_view_preview.jsp" />
				<entry
						key="viewonline_dianju_preview"
						value="/sys/attachment/sys_att_main/dianju/sysAttMain_view_preview.jsp" />
				<entry
						key="viewonline_view_foxit"
						value="/sys/attachment/sys_att_main/foxit/sysAttMain_view_preview.jsp" />
				<entry
						key="viewonline_view_foxit.4m"
						value="/sys/attachment/sys_att_main/foxit/sysAttMain_view_preview.jsp" />
				<entry
						key="view_online_pdfh5"
						value="/sys/attachment/sys_att_main/pdf/pdfh5/sysAttMain_pdfh5_view.jsp" />
				<entry
						key="view_online_pdfh5.4m"
						value="/sys/attachment/sys_att_main/pdf/pdfh5/sysAttMain_pdfh5_view.jsp" />
				<entry
						key="viewonline_dianju"
						value="/sys/attachment/sys_att_main/dianju/sysAttMain_view.jsp" />
				<entry
						key="viewonline_wps_jiazaix"
						value="/sys/attachment/sys_att_main/wps/oaassist/sysAttMain_view_preview.jsp" />
				<entry
						key="viewonline_wps_cloud"
						value="/sys/attachment/sys_att_main/wps/cloud/sysAttMain_viewonline.jsp" />
				<entry
						key="viewonline_wps_preview.4m"
						value="/sys/attachment/mobile/viewer/wps/cloud/sysAttMain_view_preview.jsp" />
				<entry
						key="viewonline_wps_preview"
						value="/sys/attachment/sys_att_main/wps/cloud/sysAttMain_view_preview.jsp" />
				<entry
						key="editonline_wps_cloud"
						value="/sys/attachment/sys_att_main/wps/cloud/sysAttMain_editonline.jsp" />
				<entry
						key="viewonline_wps_cloud.4m"
						value="/sys/attachment/mobile/viewer/wps/cloud/sysAttMain_viewonline.jsp" />
				<entry
						key="editonline_wps_cloud.4m"
						value="/sys/attachment/mobile/viewer/wps/cloud/sysAttMain_editonline.jsp" />
				<entry
						key="viewonline_wps_center"
						value="/sys/attachment/sys_att_main/wps/center/sysAttMain_viewonline.jsp" />
				<entry
						key="editonline_wps_center"
						value="/sys/attachment/sys_att_main/wps/center/sysAttMain_editonline.jsp" />
				<entry
						key="viewonline_wps_center.4m"
						value="/sys/attachment/mobile/viewer/wps/center/sysAttMain_viewonline.jsp" />
				<entry
						key="editonline_wps_center.4m"
						value="/sys/attachment/mobile/viewer/wps/center/sysAttMain_editonline.jsp" />
				<entry
						key="viewonline_wps_cloud_syncing"
						value="/sys/attachment/sys_att_main/wps/cloud/sysAttMain_viewonline_wps_syncing.jsp" />
				<entry
						key="viewonline_wps_oaassist_linux"
						value="/sys/attachment/sys_att_main/wps/oaassist/linux/sysAttMain_viewonline.jsp" />
				<entry
						key="editonline_wps_oaassist_linux"
						value="/sys/attachment/sys_att_main/wps/oaassist/linux/sysAttMain_editonline.jsp" />
				<entry
						key="viewonline_pdf"
						value="/sys/attachment/sys_att_main/pdf/sysAttMain_viewonline.jsp" />
				<entry
						key="viewonline_nopdf"
						value="/sys/attachment/sys_att_main/pdf/sysAttMain_nopdf.jsp" />
				<entry
						key="upload_result"
						value="/sys/attachment/sys_att_main/sysAttMain_result.jsp" />
				<entry
						key="viewonline_video_converting"
						value="/sys/attachment/sys_att_main/video/sysAttMain_video_converting.jsp" />
				<entry
						key="editName"
						value="/sys/attachment/sys_att_main/fileName_edit.jsp" />
				<entry
						key="list"
						value="/sys/attachment/sys_att_main/sysAttMain_data.jsp" />
				<entry
						key="listHistory"
						value="/sys/attachment/sys_att_main/sysAttMainHistory_data.jsp" />
				<entry
						key="statistics"
						value="/sys/attachment/sys_att_main/sysAttMain_statistics_download.jsp" />
				<entry
						key="statistics_borrow"
						value="/sys/attachment/sys_att_main/sysAttMain_statistics_borrow.jsp" />
				<entry
					key="editonline_doc_jg"
					value="/sys/attachment/sys_att_main/jg/sysAttMain_editonline_doc.jsp" />
				<entry
						key="viewonline_dianju_format"
						value="/sys/attachment/sys_att_main/dianju/format/dianju_format_online.jsp" />
			</map>
		</property>
	</bean>
	<bean
			name="/sys/attachment/sys_att_catalog/sysAttCatalog.do"
			class="com.landray.kmss.sys.attachment.actions.SysAttCatalogAction"
			lazy-init="true"
			parent="KmssBaseAction">
		<property
				name="formType"
				value="com.landray.kmss.sys.filestore.forms.SysAttCatalogForm" />
		<property name="forwards">
			<map>
				<entry
						key="view"
						value="/sys/attachment/sys_att_catalog/sysAttCatalog_view.jsp" />
				<entry
						key="edit"
						value="/sys/attachment/sys_att_catalog/sysAttCatalog_edit.jsp" />
				<entry
						key="list"
						value="/sys/attachment/sys_att_catalog/sysAttCatalog_list.jsp" />
				<entry
						key="confirm"
						value="/sys/attachment/sys_att_catalog/sysAttCatalog_confirm.jsp" />
			</map>
		</property>
	</bean>
	<bean
			name="/sys/attachment/sys_att_image_crop/sysAttImageCrop.do"
			class="com.landray.kmss.sys.attachment.actions.SysAttImageCropAction"
			lazy-init="true"
			parent="KmssBaseAction">
		<property
				name="formType"
				value="com.landray.kmss.sys.attachment.forms.SysAttImageCropForm" />
	</bean>
	<bean
			name="/sys/attachment/sys_att_watermark/sysAttWaterMark.do"
			class="com.landray.kmss.sys.attachment.actions.SysAttWaterMarkAction"
			lazy-init="true"
			parent="KmssBaseAction">
		<property
				name="formType"
				value="com.landray.kmss.sys.attachment.forms.SysAttWaterMarkForm" />
		<property name="forwards">
			<map>
				<entry
						key="waterMarkConfig"
						value="/sys/attachment/viewer/resource/watermark/waterMarkConfig.jsp" />
			</map>
		</property>
	</bean>
	<bean
			name="/sys/attachment/sys_att_download_log/sysAttDownloadLog.do"
			class="com.landray.kmss.sys.attachment.actions.SysAttDownloadLogAction"
			lazy-init="true"
			parent="KmssBaseAction">
		<property
				name="formType"
				value="com.landray.kmss.sys.attachment.forms.SysAttDownloadLogForm" />
		<property name="forwards">
			<map>
				<entry
						key="view"
						value="/sys/attachment/sys_att_download_log/sysAttDownloadLog_view.jsp" />
				<entry
						key="list"
						value="/sys/attachment/sys_att_download_log/sysAttDownloadLog_list.jsp" />
				<entry
						key="list.4m"
						value="/sys/attachment/mobile/sys_att_download_log/list.jsp" />
			</map>
		</property>
	</bean>

	<bean
			name="/resource/pic/attachment.do"
			class="com.landray.kmss.sys.attachment.actions.SysAttPicAction"
			lazy-init="true"
			parent="KmssBaseAction">
	</bean>

	<bean
			name="/sys/attachment/computingTime.do"
			class="com.landray.kmss.sys.attachment.actions.SysAttComputingTimeAction"
			lazy-init="true"
			parent="KmssBaseAction">
	</bean>
	<bean class="com.landray.kmss.sys.attachment.actions.SysAttMainUploadAction">
		<property name="sysAttMainService" ref="sysAttMainService"/>
	</bean>
	<bean
			class="com.landray.kmss.sys.attachment.actions.SysAttPlayLogAction"
			parent="KmssBaseAction"
			name="/sys/attachment/sys_att_play_log/sysAttPlayLog.do"
			lazy-init="true">
		<property
				name="formType"
				value="com.landray.kmss.sys.attachment.forms.SysAttPlayLogForm"/>
		<property
				name="forwards">
			<map>
				<entry
						key="list"
						value="/sys/attachment/sys_att_play_log/data.jsp" />
			</map>
		</property>
	</bean>
    <bean
		name="/sys/attachment/sys_att_main/sysAttConfig.do"
		class="com.landray.kmss.sys.attachment.actions.SysAttConfigAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.appconfig.forms.SysAppConfigForm" />
	</bean>
</beans>