var self = this;
var _reads = File_EXT_READ.split(";");
var _videos = File_EXT_VIDEO.split(";");
var _mp3s = File_EXT_MP3.split(";");
var _edits = File_EXT_EDIT.split(";");
var _noReads = File_EXT_NO_READ.split(";");
var _jgSignaturePdfs = File_EXT_JG_SIGNATURE_PDF.split(";");
var _signatureOfds = File_EXT_SIGNATURE_OFD.split(";");
var  _wps_ppt  = File_EXT_WPS_PPT; //ppt pptx dps文件

// 监听窗口变化
$(window).on("resize", function() {setTimeout(function(){self.resizeAllUploader3();}, 500);});
// 监听右则收缩变化
$(document).on("slideSpread", function() {setTimeout(function(){self.resizeAllUploader3();}, 500);});

if(this.fdViewType=="simple") { 
	var xtable = $("<div id='att_xtable_"+this.fdKey+"'></div>");
	if(this.editMode=='view'){
		//查看视图
		if(this.fileList.length > 0){
			for (var i=0;i<this.fileList.length;i++){
				xtable.append(createViewFileTr(this.fileList[i]));
			}
		}
	}else{
		//编辑视图
		for (var i=0;i<this.fileList.length;i++){
			xtable.append(createEditFileTr(this.fileList[i]));
		}
	}
	done(xtable);
}
/** 查看视图 开始 **/ 
function createViewFileTr(file){
	var xtr = $("<div id='"+file.fdId+"' class='upload_list_tr upload_list_tr_view'></div>");
	var xtd_l = $("<div class='upload_list_tr_view_l'></div>");
	var fileIcon = window.GetIconClassByFileName(file.fileName);
	if(!self.isPrintModel) {
		var xtd_r = $("<div class='upload_list_tr_view_r'></div>");
		var fileName = file.fileName.substring(0, file.fileName.lastIndexOf("."));
		var fileExt = file.fileName.substring(file.fileName.lastIndexOf("."));
		xtd_l.append("<div class='upload_list_icon'><i class='"+fileIcon+"'></i></div>");
		xtd_l.append($("<div class='upload_list_filename_view' style='cursor: pointer' title='"+file.fileName+"'>"
						+ "<span class='upload_list_filename_title'>" + fileName + "</span>"
						+ "<span class='upload_list_filename_ext'>" + fileExt + "</span>"
						+ "</div>").click(function() {
							if (self.canRead) {
								readDoc(file);
								return;
							}
							if (self.canDownload) {
								self.downDoc(file.fdId);
								return;
							}
							if (self.canEdit) {
								if ($.inArray(fileExt.toLowerCase(),_edits) > -1) {
									self.editDoc(file.fdId);
									return;
								}
							}
							if (self.canPrint) {
								self.printDoc(file.fdId);
								return;
							}
						}));  
		//加入操作列
		xtd_l.append("<div class='upload_list_size'>"+self.formatSize(file.fileSize)+"</div>");
		// 操作栏
		xtd_r.append(createFileOpers(file));
		xtr.append(xtd_l);
		xtr.append(xtd_r);
	} else {
		xtd_l.append("<div class='upload_list_icon'><i class='"+fileIcon+"'></i></div>");
		xtd_l.append("<div class='upload_list_filename_view' title='"+file.fileName+"'><p>" + file.fileName + "</p></div>");  
		//加入操作列
		xtd_l.append("<div class='upload_list_size'>"+self.formatSize(file.fileSize)+"</div>");
		xtr.append(xtd_l);
	}
	return xtr;
}
function readDoc(file) {
	var fileExt = file.fileName.substring(file.fileName.lastIndexOf("."));
	if ($.inArray(fileExt.toLowerCase(),_reads) > -1) {
		self.readDoc(file.fdId);
	} else if($.inArray(fileExt.toLowerCase(),_videos) > -1) {
		if (self.editMode == 'view' && self.fdModelName == 'kmsMultimediaMain') {
			self.startVideo(file.fdId);
		}
	} else if ($.inArray(fileExt.toLowerCase(),_mp3s) > -1) {
		if (self.editMode == 'view' && self.fdModelName == 'kmsMultimediaMain') {
			self.startMp3(file.fdId);
		}
	} else {
		self.openDoc(file.fdId);
	}
}
function createFileOpers(file){	
	var fileExt = file.fileName.substring(file.fileName.lastIndexOf("."));
	var xtd = $("<td class='upload_list_operation'></td>");
	
	var wps_ppt = _wps_ppt.split(";");	
	var showPPTEdit = true; //是否显示PPT编辑
	
	if($.inArray(fileExt.toLowerCase(),wps_ppt) > -1 && getWpsoaassistConfig() == true)
	{
	
	   showPPTEdit = false;
	}
	if(self.enableAttachmentSignature) {
	      if(self.enableAttachmentSignatureByJG && $.inArray(fileExt.toLowerCase(),_jgSignaturePdfs) > -1) {
	          xtd.append($("<div class='upload_opt_icon upload_opt_signature'><span class='upload_opt_tip'><i class='upload_opt_tip_arrow'></i><i class='upload_opt_tip_inner'>" + Attachment_MessageInfo["button.signature"] + "</i></span></div>").click(function(){
                      				self.jgSignaturePDF(file.fdId);
                      			}));
	      }
	} else {
	    if(self.isDianjuSignatureEnabled && ($.inArray(fileExt.toLowerCase(),_signatureOfds) > -1
                  	                 || $.inArray(fileExt.toLowerCase(),_jgSignaturePdfs) > -1)){
		xtd.append($("<div class='upload_opt_icon upload_opt_signature'><span class='upload_opt_tip'><i class='upload_opt_tip_arrow'></i><i class='upload_opt_tip_inner'>" + Attachment_MessageInfo["button.signature"] + "</i></span></div>").click(function(){
				self.jgSignaturePDF(file.fdId);
			}));
        	}
	}

	if(self.isDianjuSignatureEnabled &&  $.inArray(fileExt.toLowerCase(),_signatureOfds) > -1){
    		xtd.append($("<div class='upload_opt_icon upload_opt_signature'><span class='upload_opt_tip'><i class='upload_opt_tip_arrow'></i><i class='upload_opt_tip_inner'>" + Attachment_MessageInfo["button.signature"] + "</i></span></div>").click(function(){
    				self.signatureOFD(file.fdId);
    			}));
    	}
	if (self.canRead) {
		var text = "";
		if ($.inArray(fileExt.toLowerCase(),_reads) > -1){
			text = (Attachment_MessageInfo["button.read"]);
		}else if($.inArray(fileExt.toLowerCase(),_videos) > -1){
			if(self.editMode=='view' && self.fdModelName=='kmsMultimediaMain'){
				text = ""+Attachment_MessageInfo["button.play"]+"";
			} 
		}else if($.inArray(fileExt.toLowerCase(),_mp3s) > -1){
			if(self.editMode=='view' && self.fdModelName=='kmsMultimediaMain'){
				text = ""+Attachment_MessageInfo["button.play"]+"";
			}
		}else{
			text = (Attachment_MessageInfo["button.open"]);
		}
		if ($.inArray(fileExt.toLowerCase(),_noReads) < 0){
			xtd.append($("<div class='upload_opt_icon upload_opt_view'><span class='upload_opt_tip'><i class='upload_opt_tip_arrow'></i><i class='upload_opt_tip_inner'>"+text+"</i></span></div>").click(function(){
				if ($.inArray(fileExt.toLowerCase(),_reads) > -1){
					self.readDoc(file.fdId);
				}else if($.inArray(fileExt.toLowerCase(),_videos) > -1){
					if(self.editMode=='view' && self.fdModelName=='kmsMultimediaMain'){
						self.startVideo(file.fdId);
					} 
				}else if($.inArray(fileExt.toLowerCase(),_mp3s) > -1){
					if(self.editMode=='view' && self.fdModelName=='kmsMultimediaMain'){
						self.startMp3(file.fdId);
					}
				}else{
					self.openDoc(file.fdId);
				}
			}));
		}
	}
	if (self.canEdit && showPPTEdit) {
		if ($.inArray(fileExt.toLowerCase(),_edits) > -1){
			xtd.append($("<div class='upload_opt_icon upload_opt_edit'><span class='upload_opt_tip'><i class='upload_opt_tip_arrow'></i><i class='upload_opt_tip_inner'>"+Attachment_MessageInfo["button.edit"]+"</i></span></div>").click(function(){
				self.editDoc(file.fdId);
			}));
		}
	}
	if (self.canPrint) {
		if ($.inArray(fileExt.toLowerCase(),_reads) > -1){
			xtd.append($("<div class='upload_opt_icon upload_opt_print'><span class='upload_opt_tip'><i class='upload_opt_tip_arrow'></i><i class='upload_opt_tip_inner'>"+Attachment_MessageInfo["button.print"]+"</i></span></div>").click(function(){
				self.printDoc(file.fdId);
			}));
		}
	}
	if (self.canDownload) {
		xtd.append($("<div class='upload_opt_icon upload_opt_down'><span class='upload_opt_tip'><i class='upload_opt_tip_arrow'></i><i class='upload_opt_tip_inner'>"+Attachment_MessageInfo["button.download"]+"</i></span></div>").click(function(){
			self.downDoc(file.fdId);
		}));
		if (self.isShowDownloadCount) {
			xtd.append("<span class='upload_opt_tip_count'>("+file.fileDownloadCount+")</span>");
		}
	}
	return xtd;
}
/** 查看视图 结束 **/



/** 编辑视图 开始 **/
function createEditFileTr(file){
	var fileName = file.fileName.substring(0, file.fileName.lastIndexOf("."));
	var fileExt = file.fileName.substring(file.fileName.lastIndexOf("."));
	var fileIcon = window.GetIconClassByFileName(file.fileName);
	var xtr = $("<div id='"+file.fdId+"' class='upload_list_tr upload_list_tr_edit'></div>");
	var xtd_l = $("<div class='upload_list_tr_edit_l'></div>");
	var xtd_r = $("<div class='upload_list_tr_edit_r'></div>");
	xtd_l.append("<div class='upload_list_icon'><i class='"+fileIcon+"'></i></div>");
	xtd_l.append("<div class='upload_list_filename_edit'><span class='upload_list_filename_title'>"+Com_HtmlEscape(fileName)+"</span><span class='upload_list_filename_ext'>"+fileExt+"</span></div>");  
	xtd_l.append("<div class='upload_list_size'>"+self.formatSize(file.fileSize)+"</div>");
	
	xtd_r.append("<div class='upload_list_progress_img upload_item_hide'></div>");
	xtd_r.append("<div class='upload_list_progress_text upload_item_hide'></div>");
	xtd_r.append($("<div class='upload_list_status'></div>"));
	//加入操作列
	xtd_r.append(createFileOpers(file).append(getDeleteOpt(file)));
	
	xtr.append(xtd_l);
	xtr.append(xtd_r);
	return xtr;
}
function getStatus(file, obj){
	if(file.fileStatus != 0){
		var xbtn = $("<div></div>");
		if(file.fileStatus == -1) {
			// 重新上传
			xbtn.append($("<div class='upload_opt_icon upload_opt_reupload'><span class='upload_opt_tip'><i class='upload_opt_tip_arrow'></i><i class='upload_opt_tip_inner'>"+Attachment_MessageInfo["button.reupload"]+"</i></span></div>").click(function(){
				self.uploadObj.retry(obj);
			}));
		}
		// 删除
		xbtn.append($("<div class='upload_opt_icon upload_opt_delete'><span class='upload_opt_tip'><i class='upload_opt_tip_arrow'></i><i class='upload_opt_tip_inner'>"+Attachment_MessageInfo["button.delete"]+"</i></span></div>").click(function(){
			if(file.fileStatus != -1){
				seajs.use(['lui/dialog'], function(dialog) {
					dialog.confirm(""+Attachment_MessageInfo["button.confimdelte"]+"", function(value) {
						if(value) {
							$("#uploader_" + self.fdKey + " .uploader").removeClass("upload_item_hide");
							$("#uploader_" + self.fdKey + " .tips").addClass("upload_item_hide");
							file.fileStatus = -1;
							//$("#"+file.fdId).remove();
							self.delFileList(file.fdId);
							// 编辑状态下删除发送事件
							self.emit('editDelete',{"file":file});
							if(top.window.previewEvn){
								top.window.previewEvn.emit('editDelete',{"file":file});
							}
						}
					});
				});
			}else{
				$("#"+file.fdId).remove();
				$("#uploader_" + self.fdKey + " .uploader").removeClass("upload_item_hide");
				$("#uploader_" + self.fdKey + " .tips").addClass("upload_item_hide");
			}
		}));
		return xbtn;
	}
}
if(this.editMode=='view'){
	//查看时不需要绑定上传时间
}else if(this.initMode){
	//this.off();
	this.on("uploadCreate",function(data){
		var file = data.file;
		$('#att_xtable_'+self.fdKey+'').append(createEditFileTr(file));
	});
	this.on("uploadStart", function(data){
		var file = data.file; 
		$("#"+file.fdId).find(".upload_list_progress_img,.upload_list_progress_text").removeClass("upload_item_hide");
		$("#"+file.fdId).find(".upload_list_size,.upload_list_operation").addClass("upload_item_hide");
		$("#"+file.fdId).find(".upload_list_progress_img").append("<div class='upload_progress_border'><div class='upload_progress_val'></div></div>");
		$("#"+file.fdId).find(".upload_list_progress_text").append("<div class='upload_progress_text'>"+Attachment_MessageInfo["button.progress"]+"0%</div>");

	});
	this.on("uploadProgress", function(data){
		var file = data.file;
		var percent = data.totalPercent;
		if(percent==null){
			var bytesLoaded = data.bytesLoaded;
			var bytesTotal = data.bytesTotal;
			percent = Math.ceil((bytesLoaded / bytesTotal) * 100);
		}else{
			percent = Math.ceil(percent*100);
		}
		$("#"+file.fdId).find(".upload_progress_val").css("width",percent+"%");
		$("#"+file.fdId).find(".upload_progress_text").html(""+Attachment_MessageInfo["button.progress"]+""+parseInt(percent)+"%");
	});
	this.on("uploadSuccess", function(data){
		var file = data.file;
		$("#"+file.fdId).find(".upload_list_progress_img,.upload_list_progress_text").addClass("upload_item_hide");
		$("#"+file.fdId).find(".upload_list_size,.upload_list_operation").removeClass("upload_item_hide");
		$("#"+file.fdId).find(".upload_list_operation").empty();
		$("#"+file.fdId).find(".upload_list_operation").html(Attachment_MessageInfo["msg.uploadSucess"]);
		$("#"+file.fdId).find(".upload_list_status").html(getStatus(file));
	});
	this.on("uploadFaied", function(data){
		var file = data.file;
		var serverData = data.serverData;	
		$("#"+file.fdId).find(".upload_list_progress_img,.upload_list_progress_text").addClass("upload_item_hide");
		$("#"+file.fdId).find(".upload_list_size,.upload_list_operation").removeClass("upload_item_hide");
		$("#"+file.fdId).find(".upload_list_operation").empty();
		$("#"+file.fdId).find(".upload_list_operation").html(Attachment_MessageInfo["msg.uploadFail"]);
		file.fileStatus = -1;
		$("#"+file.fdId).find(".upload_list_status").html(getStatus(file));
		alert(serverData);
	});
	
	this.on("error", function(data){
		var file = data.file;
		var fileName = file.fileName;
		var serverData = data.serverData;	
		if("Q_EXCEED_SIZE_LIMIT"==serverData){
		   $("#"+file.fdId).remove();
		alert(Attachment_MessageInfo["error.exceedMaxSize"].replace("{0}", self.totalMaxSize+'MB'));
		}else if("F_EXCEED_SIZE"==serverData){
		   $("#"+file.fdId).remove();
			alert(Attachment_MessageInfo["error.exceedSingleMaxSize"].replace("{0}",fileName).replace("{1}",self.smallMaxSizeLimit+' MB'));
		}else{
			$("#"+file.fdId).remove();
			alert(Attachment_MessageInfo["error.enabledFileType"].replace("{0}", self.enabledFileType));
		}
		});
	this.on("uploadError", function(data){
		var file = data.file;
		var errorCode = data.errorCode;
		var message = data.message;
		$("#"+file.fdId).find(".upload_list_progress_img,.upload_list_progress_text").addClass("upload_item_hide");
		$("#"+file.fdId).find(".upload_list_size,.upload_list_operation").removeClass("upload_item_hide");
		$("#"+file.fdId).find(".upload_list_operation").empty();
		if(errorCode == -280){
			$("#"+file.fdId).find(".upload_list_operation").html(Attachment_MessageInfo["button.cancelupload"]);
		}else{
			$("#"+file.fdId).find(".upload_list_operation").html(Attachment_MessageInfo["msg.uploadFail"]);
		}
		$("#"+file.fdId).find(".upload_list_status").html(getStatus(file));
		file.fileStatus = -1;
		alert(message);
	});
}