html, body {
	height: 100%;
	width: 100%;
}

div.muiTemplateView {
	height: 100%;
	width: 100%;
}

#content {
	height: 100%;
	width: 100%;
}

div.muiContent {
	height: 100%;
	width: 100%;
	-webkit-overflow-scrolling: touch;
	overflow: scroll;
}

div.muiSheetBar {
	height: 56px;
	overflow-x: auto;
}

div.muiSheetBar ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
	height: 56px;
	line-height: 56px;
}

div.muiSheetBar ul li {
	float: left;
	border-right: 1px solid #ddd;
	background: white;
	color: gray;
	padding: 0 10px;
}

div.muiSheetBar ul li.status_current {
	color: white !important;
	background: gray !important;
}