<?xml version="1.0" encoding="UTF-8"?>
<beans 
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd" 
    xmlns="http://www.springframework.org/schema/beans" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <bean 
        class="com.landray.kmss.hrext.staff.actions.HrextStaffExpandAction" 
        parent="KmssBaseAction" 
        name="/hrext/staff/hrext_staff_expand/hrextStaffExpand.do" 
        lazy-init="true">
        <property 
            name="formType" 
            value="com.landray.kmss.hrext.staff.forms.HrextStaffExpandForm"/>
        <property 
            name="forwards">
            <map/>
        </property>
    </bean>
</beans>
