        /*背景层*/
        #popLayer {
            display: none;
            background-color: #B3B3B3;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 10;
            -moz-opacity: 0.8;
            opacity:.80;
            filter: alpha(opacity=80);/* 只支持IE6、7、8、9 */
        }

        /*弹出层*/
        .popBox {
         display: none;
		  background-color: #ffffff;
		  border-collapse: collapse;
		  border: 1px #d2d2d2 solid; 
		 /* padding: 8px !important;
		  text-align: left;
		  margin: 0 auto;*/
		    z-index: 11;
            width: 490px;
            height: 230px;
            position:fixed;
            top:0;
            right:0;
            left:5px;
            bottom:0;
            margin:auto;
           /*  border:1px  solid #C0C0C0; */
		}
		
		
		.popBox > tbody > .tr_normal_title {
  background-color: #f6f6f6;
  text-align: center;
}
.popBox > tbody > tr {
/*   border-bottom: 1px solid #d2d2d2;
  border-top: 1px solid #d2d2d2; */
}
.popBox > tbody > tr > td {
  padding: 8px;
  word-wrap: break-word;
/*   border-left: 1px #d2d2d2 solid;
  border-right: 1px #d2d2d2 solid; */
}
.popBox .tb_normal > tbody > tr > td {
  padding: 5px;
}

.popBox > tbody >tr > .td_normal_title {
  background-color: #f6f6f6;
}

 ol.mf_list li.mf_item a.xmf_value {
  color: #e0e0e0;
  font-size: 12px;
  margin-left: 2px;
  text-decoration: none;
  transition-duration: .3s;
  visibility: hidden;
}
ol.mf_list li.mf_item.mf_highlighted a.xmf_value
{
  visibility: visible;
  color: #f56b6b!important;
}
        #popBoxTable{
           display: none;
		    z-index: 12;
		    width: 289px;
		    height: 57px;
		    position: fixed;
		    top: 138px;
		    right: 0;
		    left: 30px;
		    bottom: 0;
		    margin: auto;

        }