@charset "utf-8";

.model-edit{
    width: 100%;
}
.model-mind-map-top {
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.07);
    padding-bottom: 10px;
    margin-top:10px;
}
.model-body-content {
    padding-left: 0px;
}
.model-mind-map-top .modeling-pam-back {
    margin-left: 18px;
}
.model-edit-view-oper{
    margin-bottom: 17px;
}
.model-mind-map-left{
    display: inline-block;
}
.model-mind-map-right{
    display: inline-block;
    float: right;
}
.model-mind-map-title{
    display: inline-block;
}
.model-mind-map-reback{
    display: inline-block;
}
.model-edit-left {
    width: 66%;
    margin-left: 0px;
    margin-right: 0px;
    padding-right: 0px;
    padding-top: 0px;
}
.model-edit-right{
    width: 34%;
    padding-top: 10px;
}

.model-edit-view-bar{
    top:-15px;
    text-align: center;
    padding-left: 0px;
    line-height: 40px;
}
.model-edit-view-bar div{
    width: 50%;
    float: left;
}
.model-edit-view-bar div.barActive{
    color: #679DF6;
    background-repeat: no-repeat;
    background-image: linear-gradient(90deg, #679DF6 0%, #679DF6 100%);
    background-size: 30% 2px;
    background-position: 50% 100%;
    display: inline-block;
    border-bottom: 1px solid #e0e0e0;
}
.content-reback{
    height: 55px;
    line-height: 55px;
}
.modelAppSpaceTemplateLeftBoxContent{
    height: 100%;
    background-color: #FFF;
    padding: 16px;
    overflow-y: auto;
}
.model-view-panel-table-td .lui-lbpm-radio{
    margin-right: 24px;
}
.modelingMobileUrl{
    width: 100%;
    position: relative;
    padding-right: 30px;
}
.modelingMobileUrl .modelingMobileUrlIconDiv{
    position: absolute;
    width: 30px;
    height: 30px;
    cursor: pointer;
    top: 0px;
    right: 0px;
    background: #FFFFFF;
    border: 1px solid rgba(221,221,221,1);
    border-left: none;
    border-radius: 0px 2px 2px 0px;
}
.modelingMobileUrl .modelingMobileUrlIconDiv>i{
    position: absolute;
    width: 12px;
    height: 12px;
    cursor: pointer;
    background: url(../images/goto.png) no-repeat center;
    background-size: contain;
    top: 8px;
    left: 8px;
}
.modeling-pam-top-right ul li{
    border: 1px solid rgba(221,221,221,1);
    color: #000000;
}
.listviewName{
    max-width: 400px;
}
/*****左侧预览---start****/

.modelAppSpaceBox{
    display: flex;
    width: 100%;
    background-color: #E8ECEF;;
    /*min-height: 600px;*/
    padding: 0px;
    position: relative;
}

.modelAppSpaceMask{
    /* display: none; */
    position: absolute;
    top: 0;
    background-color: #000000;
    opacity: 0.6;
    z-index: 99;
}
.modelAppSpaceContainerSettingPop{
    /* display: none; */
    min-width: 400px;
    min-height: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    z-index: 100;
}
.modelAppSpaceWidgetDemoContainerBox{
    flex: 1;
    text-align: center;
    margin-top: 16px;
}
.modelAppSpaceContainerSettingPopHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    line-height: 50px;
    padding: 0 25px;
    border-bottom: 1px solid #eee;
}
.modelAppSpaceContainerSettingPopHeader>p{
    float: left;
    font-size: 16px;
    color: #333333;
    user-select: none;
}
.modelAppSpaceContainerSettingPopHeader>i{
    float: right;
    cursor: pointer;
    width: 14px;
    height: 14px;
    /*background: url(../images/close.svg) no-repeat center;*/
    background-size: contain;
}
.modelAppSpaceContainerSettingPopFooter{
    width: 100%;
    padding: 15px 25px;
    height: 60px;
    border-top: 1px solid #eee;
    background-color: #fff;
}
.modelAppSpaceContainerSettingPopBtnCancel{
    float: right;
    width: 90px;
    height: 32px;
    line-height: 32px;
    background-color: #fff;
    border: 1px solid #DDDDDD;
    border-radius: 3px;
    margin-left: 10px;
    text-align: center;
    cursor: pointer;
    font-size: 12px;
}
.modelAppSpaceContainerSettingPopBtnConfirm{
    float: right;
    width: 90px;
    height: 32px;
    line-height: 32px;
    background-color: #4285f4;
    border: 1px solid #DDDDDD;
    border-radius: 3px;
    margin-left: 10px;
    text-align: center;
    cursor: pointer;
    font-size: 12px;
    color: #fff;
}
.modelAppSpaceContainerSettingPopContent{
    padding: 16px 34px;
    min-height: 200px;
}
.modelAppSpaceContainerSettingPopContent.tmpl{
    padding: 0;
}
.modelAppSpaceContainerSettingPop .muiPerformanceDropdownBox{
    width: 249px;
}
.modelAppSpaceContainerSettingPop .muiPerformanceDropdownBox>span,
.modelAppSpaceContainerSettingPop .muiPerformanceDropdownBoxList>ul>li
{
    font-size: 14px;
    color: #333333;
}
.modelAppSpaceContainerSettingPopTitle{
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    font-size: 14px;
    color: #333333;
    margin-right: 16px;
}
/* 移动端优化 */
.modelAppSpacePopContentTemplateBox{
    display: flex;
}
.modelAppSpacePopCOntentTemplateRightBox{
    overflow: hidden;
    width: 308px;
    border-left: 1px solid #eee;
    padding: 10px 14px;
}
.modelAppSpacePopContentTemplateBoxLeft>ul{
    flex: 1;
    width: 666px;
    font-size: 0;
    padding: 22px 0 22px 24px;
}
.modelAppSpacePopContentTemplateBoxLeft>ul>li{
    display: inline-block;
    width: 140px;
    height: 220px;
    background-color: #F8F8F8;
    margin: 0 20px 20px 0;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 2px;
}
.modelAppSpacePopContentTempl_c{
    background: url(../images/tmpl_c.png) no-repeat center center;
    background-size: 80px 174px;
}
.modelAppSpacePopContentTempl_01{
    background: url(../images/tmpl_01.png) no-repeat center center;
    background-size: 80px 174px;
}
.modelAppSpacePopContentTempl_02{
    background: url(../images/tmpl_02.png) no-repeat center center;
    background-size: 80px 174px;
}
.modelAppSpacePopContentTempl_03{
    background: url(../images/tmpl_03.png) no-repeat center center;
    background-size: 80px 174px;
}
.modelAppSpacePopContentTempl_04{
    background: url(../images/tmpl_04.png) no-repeat center center;
    background-size: 80px 174px;
}
.modelAppSpacePopCOntentTemplateBoxRightTitle>strong{
    display: block;
    font-size: 14px;
    color: #333333;
}
.modelAppSpacePopCOntentTemplateBoxRightTitle>span{
    display: block;
    margin-top: 4px;
    font-size: 12px;
    color: #999999;
}
.modelAppSpacePopCOntentTemplateBoxRightTitle{
    border-bottom: 1px solid rgba(238,238,238,1);
    padding-bottom: 12px;
}
.modelAppSpacePopCOntentTemplateBoxRightC{
    text-align: center;
    padding-top: 28px;
}
.modelAppSpacePopCOntentTemplateBoxRightC>img{
    display: inline-block;
    width: 180px;
    height: 390px;
}
.modelAppSpacePopCOntentTemplateBoxRight:not(:first-child){
    display: none;
}
.modelAppSpacePopContentTemplateBoxLeft>ul>li.active{
    border: 1px solid #4285f4;
}
/* 0630 */
.modelAppSpaceWidgetLeftBox{
    display: inline-flex;
    width: 317px;
    height: 100%;
    background-color: #F8F8F8;
    position: relative;
}
.modelAppSpaceWidgetLeftBoxSwitch{
    display: inline-block;
    height: 100%;
}
.modelAppSpaceWidgetLeftBoxSwitchList{
    display: inline-block;
    width: 50px;
    height: 100%;
    background-color: #EDEDED;
}
.modelAppSpaceWidgetLeftBoxSwitchList>li{
    display: inline-block;
    padding: 8px 10px;
    background-color: #EDEDED;
    position: relative;
    border-right: 1px solid rgba(221,221,221,1);
    border-left: 1px solid rgba(221,221,221,1);
    border-bottom: 1px solid rgba(221,221,221,1);
    cursor: pointer;
    width: 50px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.modelAppSpaceWidgetLeftBoxSwitchList>li.active{
    background-color: #F8F8F8;
    border-right: 1px solid transparent;
}
.modelAppSpaceWidgetLeftBoxSwitchList>li.active::before{
    content: "";
    position: absolute;
    width: 4px;
    height: 100%;
    background-color: #4285f4;
    left: 0;
    top: 0;
}
.modelAppSpaceWidgetLeftBoxContent{
    flex: 1;
    padding: 16px;
}
.modelAppSpaceWidgetPanelTitles:last-child{
    padding-bottom: 40px;
}
.modelAppSpaceWidgetPanelTitles>strong{
    display: block;
    font-weight: bold;
    font-size: 12px;
    color: #000000;
}
.modelAppSpaceWidgetPanelTitles>span{
    display: block;
    font-size: 12px;
    color: #333333;
    margin: 4px 0 8px 0;
}
.modelAppSpaceWidgetPanelList{
    display: flex;
    margin: 4px 0 16px 0;
}
.modelAppSpaceWidgetPanelList>li{
    flex: 1;
    height: 56px;
    text-align: center;
    background-color: #FFFFFF;
    border: 1px solid rgba(238,238,238,1);
    border-radius: 2px;
    padding: 2px;
    transition: all 0.2s;
    cursor: pointer;
}
.modelAppSpaceWidgetPanelList>li.active{
    border: 1px solid #4285f4;
}
.modelAppSpaceWidgetPanelList>li:hover{
    transform: translateY(-4px);
    box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.1);
    border: 1px solid rgba(66,133,244,1);
    border-radius: 2px;
}
.modelAppSpaceWidgetPanelList>li:not(:last-child){
    margin-right: 8px;
}
.modelAppSpaceWidgetPanelList>li>span{
    font-size: 12px;
    color: #333333;
}
.modelAppSpaceWidgetPanelList>li>i{
    display: block;
    width: 16px;
    height: 16px;
    margin: 6px auto;
}
.modelAppSpaceWidgetPanelList>li.text>i{
    background: url(../images/text.svg) no-repeat center;
    background-size: contain;
}
.modelAppSpaceWidgetPanelList>li.chart>i{
    background: url(../images/chart.svg) no-repeat center;
    background-size: contain;
}
.modelAppSpaceWidgetPanelList>li.pic>i{
    background: url(../images/pic.svg) no-repeat center;
    background-size: contain;
}

.modelAppSpaceWidgetDemoContainer{
    display: inline-block;
    width: 375px;
    height: 100%;
    /*padding: 16px 0;*/
    overflow: hidden;
}
.modelAppSpaceWidgetDemo{
    display: inline-block;
    width: 100%;
    height: auto;
    background-color: #ffffff;
    box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.1);
}
.modelAppSpaceWidgetDemoBar{
    width: 100%;
    height: 44px;
    padding: 0 26px;
}
.modelAppSpaceWidgetDemoBarBg{
    width: 100%;
    height: 100%;
    background: url(../images/light.png) no-repeat center center;
    background-size: contain;
}
.modelAppSpaceWidgetDemoContent{
    overflow-y: auto;
    padding-top: 24px;
}
.modelAppSpaceWidgetDemoContent::-webkit-scrollbar{
    display: none;
}
.modelAppSpaceWidgetDemoTitle{
    width: 100%;
    height: 44px;
    line-height: 44px;
    text-align: center;
    font-size: 16px;
    color: #000000;
    font-weight: bold;
    border-bottom: 1px solid rgba(0,0,0,0.12);
    position: relative;
}
.modelAppSpaceWidgetDemoModel{
    padding: 4px 16px;
    position: relative;
    margin: 6px 0;
    border: 2px solid transparent;
}
.modelAppSpaceWidgetDemoModel.selected{
    background-color: #ffffff;
    border: 2px solid #4285f4;
}
.modelAppSpaceWidgetDemoModel:hover{
    border: 2px dashed rgba(66,133,244,1);
    background-color: rgba(66,133,244,0.08);
}
.modelAppSpaceWidgetDemoModel>span{
    display: none;
}
.modelAppSpaceWidgetDemoModel.selected>span{
    display: inline-block;
    font-size: 12px;
    color: #FFFFFF;
    background-color: #4285F4;
    border-radius: 2px;
    text-align: center;
    z-index: 1;
    position: absolute;
    right: -2px;
    bottom: 100%;
    padding: 4px 8px;
    cursor: pointer;
}

.modelAppSpaceWidgetDemoTypeCover{
    width: 100%;
    height: 160px;
    background: url(../images/chartC.svg) no-repeat center center;
    background-size: 64px 64px;
    background-color: #F8F8F8;
}
.modelAppSpaceWidgetDemoModelBtn{
    height:48px;
    line-height: 48px;
    border-top: 1px dashed rgba(221,221,221,1);
    border-bottom: 1px dashed rgba(221,221,221,1);
    background-color: #ffffff;
    font-size: 14px;
    color: #333333;
    text-align: center;
    cursor: pointer;
    position: relative;
}
.modelAppSpaceWidgetDemoModelBtn:hover{
    color: #4285f4;
    border-top: 1px dashed rgba(66,133,244,1);
    border-bottom: 1px dashed rgba(66,133,244,1);
    /*background-color: rgba(66,133,244,0.08);*/
}
.modelAppSpaceWidgetDemoModelBtn>i{

}
.modelAppSpaceWidgetDemoTypeTodo{
    height: 50px;
    line-height: 50px;
    color: #fff;
    font-size: 16px;
    background-color: #4285f4;
    border-radius: 2px;
    padding: 2px 16px;
}
.modelAppSpaceWidgetDemoTypeText{
    color: #333333;
    font-size: 14px;
    padding: 2px 16px;
    word-break: break-word;
    white-space: pre-wrap;
}
.modelAppSpaceWidgetDemoIconLink{
    float: right;
    width: 16px;
    height: 16px;
    background: url(../images/link.svg) no-repeat center center;
    background-size: contain;
}
.modelAppSpaceWidgetDemoTypeTodo>.modelAppSpaceWidgetDemoIconLink{
    position: relative;
    top: 16px;
}
/* 0705 */

.modelAppSpaceWidgetDemoTypeEnter>i{
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url(../images/folder.svg) no-repeat center center;
    background-size: contain;
}
.modelAppSpaceWidgetDemoTypeEnter>strong{
    display: inline-block;
    font-size: 14px;
    color: #3E4665;
    margin: 0 32px;
    position: relative;
    top: -3px;
    width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.modelAppSpaceWidgetDemoNum{
    background-color: #FF725A;
    padding: 2px 6px;
    border-radius: 8px;
    font-size: 10px;
    color: #FFFFFF;
    transform: scale(0.8);
    float: right;
    margin-right: 4px;
}
.modelAppSpaceWidgetDemoIconLinkN{
    float: right;
    width: 14px;
    height: 14px;
    background: url(../images/link2.svg) no-repeat center center;
    background-size: contain;
    position: relative;
    top: 2px;
}
/* 0708 */
.modelAppSpaceWidgetListWidget {
    margin-bottom: 12px;
}
.modelAppSpaceWidgetListWidget>ul{
    font-size: 0;
}
.modelAppSpaceWidgetListWidget>ul>li{
    display: inline-block;
    border: 1px solid rgba(238,238,238,1);
    border-radius: 2px;
    margin-bottom: 10px;
    cursor: pointer;
}
.modelAppSpaceWidgetListWidget>ul>li:nth-child(odd){
    margin-right: 10px;
}
.modelAppSpaceWidgetListWidgetContent{
    width: 100px;
    height: 64px;
}
.modelAppSpaceWidgetListWidgetInfo{
    width: 100px;
    font-size: 12px;
    color: #333333;
    text-align: center;
}
.modelAppSpaceWidgetListWidgetTip{
    width: 100px;
    font-size: 12px;
    color: #333333;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 2px 8px;
    text-align: center;
}
.modelAppSpaceWidgetLeftBoxContent{
    overflow: hidden;
}
.modelAppSpaceWidgetLeftBoxContentPanel{
    overflow: scroll;
    height: 100%;
}
.modelAppSpaceWidgetLeftBoxContent::-webkit-scrollbar{
    display: none;
}
.modelAppSpaceWidgetLeftBoxContentPanel::-webkit-scrollbar{
    display: none;
}
/* 列表部件 */
.modelAppSpaceWidgetListWidgetContent_01{
    background: url(../images/list_01.png) no-repeat center center;
    background-size: contain;
    background-color: #DDDDDD;
}
.modelAppSpaceWidgetListWidgetContent_02{
    background: url(../images/list_02.png) no-repeat center center;
    background-size: contain;
    background-color: #DDDDDD;
}
.modelAppSpaceWidgetListWidgetContent_03{
    background: url(../images/list_03.png) no-repeat center center;
    background-size: contain;
    background-color: #DDDDDD;
}
.modelAppSpaceWidgetListWidgetContent_04{
    background: url(../images/list_04.png) no-repeat center center;
    background-size: contain;
    background-color: #DDDDDD;
}
.modelAppSpaceWidgetListWidgetContent_05{
    background: url(../images/list_05.png) no-repeat center center;
    background-size: contain;
    background-color: #DDDDDD;
}
/* 快捷导航 */
.modelAppSpaceWidgetNavWidgetContent_01{
    background: url(../images/nav_01.png) no-repeat center center;
    background-size: contain;
    background-color: #DDDDDD;
}
.modelAppSpaceWidgetNavWidgetContent_02{
    background: url(../images/nav_02.png) no-repeat center center;
    background-size: contain;
    background-color: #DDDDDD;
}
.modelAppSpaceWidgetNavWidgetContent_03{
    background: url(../images/nav_03.png) no-repeat center center;
    background-size: contain;
    background-color: #DDDDDD;
}
.modelAppSpaceWidgetNavWidgetContent_04{
    background: url(../images/nav_04.png) no-repeat center center;
    background-size: contain;
    background-color: #DDDDDD;
}
.modelAppSpaceWidgetNavWidgetContent_05{
    background: url(../images/nav_05.png) no-repeat center center;
    background-size: contain;
    background-color: #DDDDDD;
}
/* 日程待办 */
.modelAppSpaceWidgetCalWidgetContent_01{
    background: url(../images/calendar_01.png) no-repeat center center;
    background-size: contain;
    background-color: #DDDDDD;
}
.modelAppSpaceWidgetCalWidgetContent_02{
    background: url(../images/calendar_02.png) no-repeat center center;
    background-size: contain;
    background-color: #DDDDDD;
}
.modelAppSpaceWidgetDemoTypeImg{
    width: 100%;
    height: 180px;
    background: url(../images/img_cover.svg) no-repeat center center;
    background-size: 64px 64px;
    background-color: #F8F8F8;
}
.modelAppSpaceWidgetDemoTypeSignTitle{
    margin-bottom: 12px;
}
.modelAppSpaceWidgetDemoTypeSignTitle>span{
    float: left;
    font-size: 18px;
    color: #2A304A;
    width: 162px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.modelAppSpaceWidgetDemoTypeSignTitle>span.word{
    width: 100%;
}
.modelAppSpaceWidgetDemoTypeSignTitle>ul{
    float: right;
    position: relative;
    top: 4px;
    font-size: 0;
}
.modelAppSpaceWidgetDemoTypeSignTitle>ul>li{
    display: inline-block;
    font-size: 14px;
    color: #999FB7;
    cursor: pointer;
    max-width: 70px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.modelAppSpaceWidgetDemoTypeSignTitle>ul>li:not(:last-child){
    margin-right: 24px;
}
.modelAppSpaceWidgetDemoTypeSignTitle>ul>li.active{
    color: #4285F4;
}
.modelAppSpaceWidgetDemoTypeSignContentItem{
    display: none;
}
.modelAppSpaceWidgetDemoTypeSignContentItem:first-child{
    display: block
}
.modelAppSpaceWidgetDemoModel{
    text-align: left;
}
.modelAppSpaceWidgetDemoTypeSignContentItem>ul>li{
    padding: 12px 16px;
    background-color: #ffffff;
    box-shadow: 0px 0px 15px 0px rgba(153,179,210,0.2);
    border-radius: 4px;
    margin-bottom: 12px;
}
.modelAppSpaceWidgetDemoTypeSignItemTitle{
    padding-bottom: 12px;
    font-size: 14px;
    color: #2A304A;
    text-align: left;
    border-bottom: 1px solid rgba(238,238,238,1);
}
.modelAppSpaceWidgetDemoTypeSignItemInfo{
    font-size: 12px;
    color: #999FB7;
    padding: 14px 0 0 0;
}
.modelAppSpaceWidgetDemoTypeSignItemInfo>i{
    float: left;
}
.modelAppSpaceWidgetDemoTypeSignItemInfo>span{
    float: right;
}
.modelAppSpaceWidgetDemoTypeSignItemInfo{
    zoom: 1;
}
.modelAppSpaceWidgetDemoTypeSignItemInfo:after{
    content: " ";
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
}
.modelAppSpaceWidgetDemoTypeSignMore>span>i{
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(../images/more.svg) no-repeat center center;
    background-size: contain;
    background-color: #F8F8F8;
    position: relative;
    top: 4px;
}
.modelAppSpaceWidgetDemoTypeSignMore{
    float: right;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #F7F7F8;
    border-radius: 20px;
    font-size: 12px;
    color: #999FB7;
    padding: 0 20px;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0px 0px 15px 0px rgba(153,179,210,0.2);
}
/****左侧预览---end***/

/*****自定义调整-start******/
.modelAppSpaceWidgetLeftBox>i{
    cursor: pointer;
    width: 12px;
    height: 12px;
    background: url(../../resources/images/close.png) no-repeat center;
    background-size: contain;
    position: absolute;
    top: 16px;
    right: 16px;
}
.modelAppSpaceWidgetDemoModelBtn.active{
    color: #4285f4;
    border-top: 1px dashed rgba(66,133,244,1);
    border-bottom: 1px dashed rgba(66,133,244,1);
    background-color: rgba(66,133,244,0.08);
}
.modelAppSpaceWidgetDemoModelBtn>i{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 4px;
    background: url(../images/add_porlet.png) no-repeat center;
    background-size: contain;
}
.modelAppSpaceWidgetDemoModelBtn:hover>i,.modelAppSpaceWidgetDemoModelBtn.active>i{
    background: url(../images/add.png) no-repeat center;

}
.modelAppSpaceWidgetListViewWithCount,.modelAppSpaceWidgetListViewWithIcon{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
}
.modelAppSpaceWidgetListViewWithCount .modelAppSpaceWidgetDemoTypeEnter,.modelAppSpaceWidgetListViewWithIcon .modelAppSpaceWidgetDemoTypeEnter{
    margin: 8px 0px;
    padding:4px 0px;
}
.modelAppSpaceWidgetListPanel>li:hover{
    transform: translateY(-4px);
    box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.1);
}
.modelAppSpaceWidgetDemoBack{
    position: absolute;
    color: #000000;
    font-weight: 400;
    margin-left: 12px;
}
.modelAppSpaceWidgetDemoBack i{
    float: left;
    width: 14px;
    height: 14px;
    background: url(../images/arrow@2x.png) no-repeat center;
    background-size: contain;
    margin-right: 6px;
    transform: rotate(180deg);
    margin-top: 14px;
}
.modelAppSpaceWidgetDemoMore{
    position: absolute;
    color: #000000;
    font-weight: 400;
    margin-right: 12px;
    right: 0px;
    top: 0px;
}
.modelAppSpaceWidgetDemoTitleContent{
    position: absolute;
    font-size: 16px;
    color: rgb(0, 0, 0);
    line-height: 24px;
    font-weight: 500;
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    left: 95px;
    top: 9px;
}
/*****自定义调整-end******/

/*****右侧部件---start****/
.modelAppSpacePorletsPallet,.modelAppSpacePorletsBgContent{
    margin: 0px;
}
.model-view-panel-table-td,.td_normal_title{
    overflow: visible;
}
.modelAppSpacePorletsUploadTips,.modelAppSpacePorletsImageUploadBtnBox{
    margin: 0px;
}
.field_item_value.multi-list-block{
    margin: 10px 0px;
}
.field_item_content {
    padding: 15px 14px 15px;
}
.model-edit-view-bar{
    z-index: 0;
}
.field_item_listTabs{
    width: 34%;
    z-index: 99;
}
.contentBackList{
    float: right;
    margin-top: 13px;
}
.contentBackList>li{
    float: right;
    width: 56px;
    height: 24px;
    background: #FFFFFF;
    border: 1px solid rgba(221,221,221,1);
    border-radius: 2px;
    text-align: center;
    line-height: 24px;
    margin: 0px 4px;
}
.contentBackList>li.contentBackOk{
    background: #4285F4;
    color: #FFFFFF;
}
.modelAppSpaceWidgetDemoTypeEnter>i.mui{
    top:auto;
    left: auto;
    transform: translate(0%, 0%);
    background: none;
}
.modelAppSpacePorletsTextarea{
    width: 97%;
}
.modelAppSpacePorletsTextarea .content-title{
    font-size: 14px;
    color: #333333;
    letter-spacing: -0.16px;
    font-weight: 400;
    margin: 4px 0 4px 0;
}
.muiPerformanceDropdownBox.textContentDiv{
    width: 100%;
}
.modelAppSpaceWidgetDemoTypeTitle{
    display: none;
    width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 4px 0px;
}
.model-edit-right-wrap .model-edit-view-content{
    margin-top: 0px;
    top: 50px;
    padding-top: 0px;
}
.modelAppSpaceWidgetDemoContent{
    background: #fff;
    position: relative;
}
.modelAppSpaceWidgetDemoContent .modelAppSpaceWidgetDemoBackground{
    position: absolute;
    top: 0px;
    height: 165px;
    width: 100%;
}
.content-tabs>li{
    position: relative;
    padding: 0px 20px 0px 4px;
    max-width: 80px;
}
.content-tabs li>i{
    content: '';
    position: absolute;
    right: 4px;
    top: 4px;
    width: 18px;
    height: 18px;
    background: url(../../../resources/images/views/modeling-close.png) no-repeat center;
    background-size: 9px 9px;
}
.modelAppSpaceWidgetDemoContent div.modelAppSpaceWidgetDemoModel:first-child {
    margin-top: 24px;
}
.field_add{
    float: right;
    color: #4285F4;
    font-weight: 400;
}
.field_add>i{
    background: url(../images/add@2x.png) no-repeat center;
    transition: all .3s;
    width: 14px;
    height: 14px;
    background-size: contain;
    float: left;
    margin-top: 2px;
    margin-right: 4px;
    cursor: pointer;
}
/*****右侧部件---end****/
/*****快捷入口部件---start****/
.modelingAppSpaceShortcutItem{
    display: inline-block;
    width: 60px;
    padding: 3px;
}
.modelingAppSpaceShortcutNumber{
    font-size: 18px;
    color: #4285f4;
    height: 25px;
    line-height: 25px;
}
.modelingAppSpaceShortcutItem>i {
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url(../images/folder.svg) no-repeat center center;
    background-size: contain;
}
.modelingAppSpaceShortcutItem>i.mui {
    display: contents;
    top: auto;
    left: auto;
    transform: translate(0%, 0%);
    background: none;
}
.swiper-slide{
    height: 70px;
}
/*****快捷入口部件---end****/
.modelAppSpaceWidgetPanelList>li>span>div{
    display: none;
}
.modelAppSpaceWidgetPanelList>li:hover>span>div{
    display: block;
}
.modelAppSpaceWidgetPanelList>li:hover>span>div{
    background: #000000;
    font-size: 12px;
    color: #fff;
    padding: 4px 6px;
    border-radius: 3px;
    position: relative;
    margin: 10px 2px;
}
.modelAppSpaceWidgetPanelList>li>span>div:after{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: -12px;
    left: 43%;
    z-index: 99;
    border-style: solid;
    border-width: 6px;
    border-color: transparent transparent #000 transparent;
}
.modelAppSpaceWidgetListPanel>li>div>span{
    position: relative;
    /*left:50%;*/
}
.modelAppSpaceWidgetListPanel>li:nth-of-type(even) >div>span{
    position: relative;
    left:-30%;
}
.modelAppSpaceWidgetListPanel>li>div>span>div{
    display: none;
}
.modelAppSpaceWidgetListPanel>li:hover>div>span>div{
    display: block;
}
.modelAppSpaceWidgetListPanel>li:hover>div>span>div{
    background: #000000;
    font-size: 12px;
    color: #fff;
    padding: 4px 6px;
    border-radius: 3px;
    position: absolute;
    margin: 1px 0px;
    white-space: nowrap;
    text-align: center;
}
.modelAppSpaceWidgetListPanel>li>div>span>div:after{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: -12px;
    left: 43%;
    z-index: 99;
    border-style: solid;
    border-width: 6px;
    border-color: transparent transparent #000 transparent;
}
.modelingMobileUrlIconDiv>div{
    display: none;
}
.modelingMobileUrlIconDiv:hover>div{
    display: block;
}
.modelingMobileUrlIconDiv:hover>div{
    background: #000000;
    font-size: 12px;
    color: #fff;
    padding: 4px 4px;
    border-radius: 3px;
    position: relative;
    margin: 1px -15px;
    bottom: 32px;
    right: 3px;
}
.modelingMobileUrlIconDiv>div:after{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: 25px;
    left: 43%;
    z-index: 99;
    border-style: solid;
    border-width: 6px;
    border-color: #000 transparent transparent transparent;
}
.head_notify_icon {
    width: 24px;
    height: 24px;
    background: url(../images/email.png) no-repeat center;
    /*background: url(../images/email.png) no-repeat center \9;*/
    background-size: contain;
    display: inline-block;
    position: relative;
    top: 5px;
}
.content-through-tabs{
    width: 97%;
    /*max-width: 320px;*/
}
.modeling-viewcover-tip{
    width: 12px;
    height: 12px;
    position: relative;
    /*background: url("../images/info.svg") center center / contain no-repeat;*/
    /*background-size: contain;*/
    cursor: pointer;
    top: 1px;
    left: 3px;

}
/*.modeling-viewcover-tip:hover {*/
/*    background: url("../images/info.svg") center center / contain no-repeat;*/
/*}*/
.content_item_form_element .content_opt,.content-icon-choose,.content_item_form_element .content-through-tabs,.textarea-div,.system-content{
    position: relative;
}
.content_item_form_element .content_opt .txtstrong{
    right: -10px;
    position: absolute;
}
.content-icon-choose .txtstrong{
    position: absolute;
    right: -10px;
    top: 12px;
    font-size: 1.4rem;
}
.content_item_form_element .content-through-tabs .txtstrong{
    position: absolute;
    right: -10px;
    top: 8px;
}
.modelAppSpaceImageInlineRow.baseline .txtstrong{
    margin-top: 44px;
    margin-left: 10px;
}
.textarea-div .txtstrong{
    position: absolute;
    right: 0px;
    top: 50px;
}
.system-content .txtstrong{
    position: absolute;
    right: 0px;
    top: 32px;
}
.modeling-viewcover-tip>span{
    white-space: normal;
    width: 210px;
}