@charset "utf-8";

html{
    background-color: #FFF;
}
.modelAppSpaceBox{
    width: 100%;
    background-color: #E8ECEF;
    min-height: 600px;
    padding: 16px;
}
.modelAppSpaceMask{
    /* display: none; */
    position: absolute;
    top: 0;
    background-color: #000000;
    opacity: 0.6;
    z-index: 99;
}
.modelAppSpaceContainerSettingPop{
    /* display: none; */
    min-width: 400px;
    min-height: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    z-index: 100;
}
.modelAppSpaceContainerSettingPopHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    line-height: 50px;
    padding: 0 25px;
    border-bottom: 1px solid #eee;
}
.modelAppSpaceContainerSettingPopHeader>p{
    float: left;
    font-size: 16px;
    color: #333333;
    user-select: none;
}
.modelAppSpaceContainerSettingPopHeader>i{
    float: right;
    cursor: pointer;
    width: 14px;
    height: 14px;
    background: url(../../resources/images/close.png) no-repeat center;
    background-size: contain;
}
.modelAppSpaceContainerSettingPopFooter{
    width: 100%;
    padding: 15px 25px;
    height: 60px;
    border-top: 1px solid #eee;
    background-color: #fff;
}
.modelAppSpaceContainerSettingPopBtnCancel{
    float: right;
    width: 90px;
    height: 32px;
    line-height: 32px;
    background-color: #fff;
    border: 1px solid #DDDDDD;
    border-radius: 3px;
    margin-left: 10px;
    text-align: center;
    cursor: pointer;
    font-size: 12px;
}
.modelAppSpaceContainerSettingPopBtnConfirm{
    float: right;
    width: 90px;
    height: 32px;
    line-height: 32px;
    background-color: #4285f4;
    border: 1px solid #DDDDDD;
    border-radius: 3px;
    margin-left: 10px;
    text-align: center;
    cursor: pointer;
    font-size: 12px;
    color: #fff;
}
.modelAppSpaceContainerSettingPopContent{
    padding: 16px 34px;
    min-height: 200px;
}
.modelAppSpaceContainerSettingPopContent.tmpl{
    padding: 0;
}
.modelAppSpaceContainerSettingPop .muiPerformanceDropdownBox{
    width: 249px;
}
.modelAppSpaceContainerSettingPop .muiPerformanceDropdownBox>span,
.modelAppSpaceContainerSettingPop .muiPerformanceDropdownBoxList>ul>li
{
    font-size: 14px;
    color: #333333;
}
.modelAppSpaceContainerSettingPopTitle{
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    font-size: 14px;
    color: #333333;
    margin-right: 16px;
}
/* 移动端优化 */
.modelAppSpacePopContentTemplateBox{
    display: flex;
    padding-bottom: 60px;
}
.modelAppSpacePopCOntentTemplateRightBox{
    overflow: hidden;
    width: 308px;
    border-left: 1px solid #eee;
    padding: 10px 14px;
}
.modelAppSpacePopContentTemplateBoxLeft>ul{
    flex: 1;
    width: 666px;
    font-size: 0;
    padding: 22px 0 22px 24px;
}
.modelAppSpacePopContentTemplateBoxLeft>ul>li{
    display: inline-block;
    width: 140px;
    height: 220px;
    background-color: #F8F8F8;
    margin: 0 20px 20px 0;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 2px;
}
.modelAppSpacePopContentTempl_c{
    background: url(../images/tmpl_c.png) no-repeat center;
    background-size: 80px 174px;
}
.modelAppSpacePopContentTempl_01{
    background: url(../images/tmpl_01.png) no-repeat center;
    background-size: 80px 174px;
}
.modelAppSpacePopContentTempl_02{
    background: url(../images/tmpl_02.png) no-repeat center;
    background-size: 80px 174px;
}
.modelAppSpacePopContentTempl_03{
    background: url(../images/tmpl_03.png) no-repeat center;
    background-size: 80px 174px;
}
.modelAppSpacePopContentTempl_04{
    background: url(../images/tmpl_04.png) no-repeat center;
    background-size: 80px 174px;
}
.modelAppSpacePopCOntentTemplateBoxRightTitle>strong{
    display: block;
    font-size: 14px;
    color: #333333;
}
.modelAppSpacePopCOntentTemplateBoxRightTitle>span{
    display: block;
    margin-top: 4px;
    font-size: 12px;
    color: #999999;
}
.modelAppSpacePopCOntentTemplateBoxRightTitle{
    border-bottom: 1px solid rgba(238,238,238,1);
    padding-bottom: 12px;
}
.modelAppSpacePopCOntentTemplateBoxRightC{
    text-align: center;
    padding-top: 28px;
}
.modelAppSpacePopCOntentTemplateBoxRightC>img{
    display: inline-block;
    width: 180px;
    height: 390px;
}
.modelAppSpacePopCOntentTemplateBoxRight:not(:first-child){
    display: none;
}
.modelAppSpacePopContentTemplateBoxLeft>ul>li.active{
    border: 1px solid #4285f4;
}