.table-cell {
    display: table-cell;
}

.table-align-center {
    vertical-align: middle;
    text-align: center;
}

.table-column {
    display: table-column;
}

.table {
    display: table;
}

.selected {
    border-radius: 2px;
    color: #4285F4;
}

.menu-icon {
    width: 12px;
    height: 12px;
    display: inline-block;
    background-size: cover;
    vertical-align: middle;
    margin-top: -2px;
}

.tip-icon{
    width: 14px;
    height: 14px;
    display: inline-block;
    background-size: cover;
    vertical-align: middle;
    margin-top: -4px;
}

.icon-tip {
    background-image: url(../images/tip.png);
}

.icon-close {
    background-image: url(../images/close.png);
}

.tipBox {
    background: rgba(66,133,244,0.1);
    font-size:14px;
    height:40px;
    line-height:40px;
    margin-top:7px;
    margin-left:16px;
    margin-right:16px;
    padding-left: 16px;
    border-radius: 2px;
}

.tipBox .closeBtn {
    width: 40px;
    text-align: center;
    float: right;
    cursor: pointer;
}

.tipBox .tipMessage{
    display: inline-block;
    margin-left: 10px;
}

.kmsCommonSysProfile {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 60%;
    height: 58px;
    display: table;
}

.kmsCommonSysProfileTopBackground {
    position: absolute;
    left:0;
    top:0;
    height: 58px;
    width: 100%;
    background: #f3f3f3;
    z-index: -1;
}

.width88 {
    width: 88px;
}

.width72 {
    width: 72px;
}

.multiMenu .titleEllipsis{
    max-width: 88px;
}

.titleEllipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    word-break: keep-all;
    display: inline-block;
    max-width: 100%;
}

.kmsCommonSysProfile .multiMenu {
    padding-left: 16px;
}

.kmsCommonSysProfile .menuItem {
    cursor:pointer;
    margin: auto;
    font-size: 14px;
    width: 88px;
    height: 58px;
}

.multiMenu .menuItem:hover{
    background: #F8F8F8;
}

.kmsCommonSysProfile .menuItem-bottom {
    text-align: center;
    width: 100%;
    padding-top: 5px;
}

.kmsCommonSysProfile .menuItem-bottom .line {
    margin:auto;
    width: 28px;
    height: 2px;
    background: #4285F4;
    border-radius: 1px;
    display: none;
}

.kmsCommonSysProfile .selected .menuItem-bottom .line {
    display: block;
}

.singleMenu {
    display: none;
}

.singleMenuItemContainer {
    background: white;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.08);
    width: 110px;
    padding-top: 5px;
    padding-bottom: 5px;
    position: absolute;
    top: 40px;
    left: 10px;
}

.singleMenuItemContainer .item {
    height: 30px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    padding-left: 5px;
    padding-right: 5px;
}

.singleMenuItemContainer .selected {
    color: #4285F4;
    background: rgba(66,133,244,0.1);
}

.singleMenuItemContainer .item:hover{
    background: #F8F8F8;
}

.singleMenu .icon {
    background-image: url(../images/arrowDown@2x.png);
}

.singleMenu .iconSelected {
    background-image: url(../images/arrowUp@2x.png);
}


.singleMenu {
    padding-left: 16px;
}

.singleMenu .menuItem .titleEllipsis{
    max-width: 70px;
}

@media screen and (max-width: 900px) {
    .singleMenu {
        display: block;
    }
    .multiMenu {
        display: none;
    }
}

.lui_profile_listview_search .searchContent {
    padding-left: 100px !important;
}