/* 0927 数据导出 */
#TB_Condition.tb_normal > tbody >tr > .td_normal_title{
	background-color: #FFF;
	font-size: 12px;
	color: rgba(17,31,44,0.40);
	text-align:right;
}
#TB_Condition{
    border:0 !important;
    width: 900px !important;
    float:left;
}
#TB_Condition+table+div{
    clear:both;
}
#TB_Condition.tb_normal> tbody >tr > td{
	border:0;
}
#TB_Condition.tb_normal.tb_normal > tbody > tr{
	border:0 !important;
}
.lui_widget_btn.lui_toolbar_btn_def .lui_toolbar_btn_l.lui_toolbar_m{
    height: 26px;
    line-height: 26px;
    color: #111F2C;
    text-align: center;
    display: block;
    border: 1px solid rgba(17,31,44,0.12);
    border-radius: 12px;
    background-color: #fff;
    transition-duration: .3s;
    font-size: 12px;
}
.lui_widget_btn.lui_toolbar_btn_def:first-child .lui_toolbar_btn_l.lui_toolbar_m{
    height: 26px;
    line-height: 26px;
    color: #fff;
    text-align: center;
    display: block;
    border: 1px solid #0089ff;
    border-radius: 50px;
    background-color: #0089ff;
    transition-duration: .3s;
}
.lui_toolbar_btn_def div.lui_widget_btn_txt{
    font-size: 12px;
    padding: 0px 16px;
}
td>select {
    color: #0089ff;
    height: 28px;
    padding-left: 4px;
    border-color: #ccc;
    border: 1px solid rgba(17,31,44,0.12);
    border-radius: 4px;
    color: rgba(17,31,44,0.40);
    font-size: 12px;
}
.inputselectsgl, .tb_normal div.inputselectsgl{
    min-height: 28px;
    line-height: 28px;
    top:5px;
    margin-left: 10px;
}
input[name="v0_4"],input[name="v0_5"],input[name="v1_2"],input[name="t0_0"],input[name="t0_6"]{
    width: 188px !important;
}
input[name="t0_0"]+a,input[name="t0_6"]+a{
    margin-right: 20px;
}
input[name="t0_0"]+a+br,input[name="t0_6"]+a+br{
    display: none;
}
form[name="searchConditionForm"] font{
    font-size: 12px;
    color:#0089ff !important;
}
.ding-lable-checkbox{
    font-size: 12px;
    color: rgba(17,31,44,0.85);
}
.ding-lable-checkbox input[type=checkbox],.ding-lable-checkbox input[type=radio]{
    margin-right: 6px;
}
.ding-lable-checkbox input[type=checkbox]:not(:first-child), input[type=radio]:not(:first-child){
    margin-left: 24px;
}
form[name="searchConditionForm"] input.inputsgl,form[name="searchConditionForm"] .inputselectsgl{
    width: 188px !important;
    border-bottom: 1px solid rgba(17,31,44,0.12);
}
table.tb_noborder>tbody>tr>td{
    font-size: 12px;
}
input[type=checkbox], input[type=radio] {
    top: 2px !important;
}
a.com_btn_link {
    font-size: 12px;
    color: #0089FF;
    text-decoration: none !important;
}
.ding-button-div{
    text-align: left;
    padding-left: 134px;
    box-sizing: border-box;
}
.com_btn_link>img{
    display: inline-block;
    width: 9px;
    height: 9px;
    position: relative;
    left: 0px;
    top: 1px;
    margin-right: 6px;
}
.ding-search-div{
    position: relative;
    left:-160px;
}


/* 数据导出 */
.treediv{
    width:180px;
}
.treediv a{
    color: #111F2C;
}
.TVN_TreeNode_Current a, .TVN_TreeNode_Current a:hover{
    color: #111F2C;
    font-family: PingFangSC-Medium;
}
/* 数据导出 */