@charset "utf-8";
/* 移动端明细表-桌面端*/
.detailTableNormal .detailTableNormalTd>.muiNormal>tbody>tr:first-child>td{
    text-align: center;
    background: #EDF0F5 !important;
    position: relative;
    border-left: 0;
    font-size: 1.3rem;
    color: #111F2C;
}
.detailTableNormal .detailTableNormalTd>.muiNormal>tbody>tr>td{
    height:48px;
}
.detailTableNormal .detailTableNormalTd>.muiNormal>tbody>tr:nth-child(odd)>td{
    background-color:#EDF0F5 !important;
}
.detailTableNormal .muiFormEleWrap input.muiInput, .muiFormEleWrap .muiTextarea{
    font-size: 1.3rem;
    text-align: center;
}
/* 关联文档 -弹窗 */
div.relevance_dialog_wrap{
    padding: 0 24px;
}
span.txtlistpath{
    border-bottom: none;
}
tr.tr_listfirst {
    height: 40px!important;
    background: #F8F8F8!important;
    border-bottom:1px solid rgba(17,31,44,0.08)!important;
}
.tr_listfirst td {
    padding: 0 10px;
}
#List_ViewTable > tbody > tr{
    border-bottom:1px solid rgba(17,31,44,0.08);
}
#List_ViewTable td{
    padding: 7px 10px!important;
}
.tr_listrowcur2{
    background: #4285F4!important;
}
div.relevance_doc_div_dialog{
    padding: 0 24px;
    background:white!important;
}
div.relevance_doc_div{
    width:90px!important;
    background: rgba(148,204,251,0.12);
   border-radius: 2px;
   font-family: PingFangSC-Medium;
   font-size: 16px!important;
   color: #111F2C!important;
   padding:0 10px!important;
   position: relative;
}
div.relevance_doc_div img{
    display: none!important;
}
div.relevance_doc_div:after{
    position: absolute;
    height:16px;
    width:16px;
    content: '';
    right: 15px;
    top: 8px;
    background:url(../images/icon_unfold@2x.png) no-repeat center center;
    background-size: cover;
}
div.relevance_doc_div:hover:after {
    background:url(../images/icon_fold@2x.png) no-repeat center center;
    background-size: cover;
}
.relevances_div table tbody > tr:hover{
    cursor:pointer;
    background:#EAF4FE!important;
}
div.relevance_doc_div:hover{
    color:#0089FF!important;
}
/* 弹窗 */
