@charset "utf-8";
/* 移动端明细表-移动端*/
div.detailTableContent > table > tbody > tr > td{
    position: relative;
}

div.detailTableContent > table > tbody > tr > td:after{
    content: '';
    position: absolute;
    height:4px;
    width:calc( 100% + 3.2rem);
    background: #F2F2F6;
    left:-1.6rem;
    bottom:0;
}
div.detailTableContent > table > tbody > tr:last-child > td:after{
    display: none;
}
div.detailTableContent > table > tbody > tr{
    margin-bottom: 4px;
}
.muiSimple.muiDetailTable > tbody > tr:last-child > td {
    border-bottom:none!important;
}
/* .muiXformArea > table.muiSimple>tbody>tr:first-child>td{
    padding: 0!important;
} */

.detailTableNormal .muiFormEleWrap input.muiInput::placeholder,
.muiFormEleWrap .muiTextarea::placeholder{
    font-size: 17px;
}
.mblTabBarButtonLabel {
    position: relative;
}
.muiXformArea .mblTabBarButtonLabel::before{
    content:'';
    position: absolute;
    left:-20px;
    top:10px;
    width:16px;
    height:16px;
    background: url(../images/icon-add@2x.png) no-repeat center center;
    background-size: cover;
}
.close_details_div img#details_img{
   /*  vertical-align: middle; */
}
div#close_details_div{
    display: flex!important;
    align-items: center;
    justify-content: center;
}
table.detailTableNormal .detailTableNormalTd>.muiNormal>tbody>tr:nth-child(odd)>td{
    background:#F9F9FB!important;
}
table.muiSimple>tbody>tr>td div.muiFormEleWrap.muiFormLeft{
    width:100%!important;
}
