
.cm-hot-template{
width:60%!important;
margin:0 auto!important;
}
.cm-hot-template .hot-template-main{
width:100%!important;
}
.lui_template_tabs{
 position:static;
 width:100%;
}
.lui_tabpanel_frame{
 box-shadow:none!important;
}