<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean
		name="/sys/organization/sys_org_role_line/sysOrgRoleLine.do"
		class="com.landray.kmss.sys.organization.actions.SysOrgRoleLineAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.organization.forms.SysOrgRoleLineForm" />
		<property name="forwards">
			<map>
				<entry
					key="edit"
					value="/sys/organization/sys_org_role_line/sysOrgRoleLine_edit.jsp" />
				<entry
					key="roleTree"
					value="/sys/organization/sys_org_role_line/sysOrgRoleLine_tree.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/sys/organization/sys_org_role_conf_cate/sysOrgRoleConfCate.do"
		class="com.landray.kmss.sys.organization.actions.SysOrgRoleConfCateAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.organization.forms.SysOrgRoleConfCateForm" />
		<property name="forwards">
			<map>
				<entry
					key="view"
					value="/sys/organization/sys_org_role_conf_cate/sysOrgRoleConfCate_view.jsp" />
				<entry
					key="edit"
					value="/sys/organization/sys_org_role_conf_cate/sysOrgRoleConfCate_edit.jsp" />
				<entry
					key="list"
					value="/sys/organization/sys_org_role_conf_cate/sysOrgRoleConfCate_list.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/sys/organization/sys_org_role_conf/sysOrgRoleConf.do"
		class="com.landray.kmss.sys.organization.actions.SysOrgRoleConfAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.organization.forms.SysOrgRoleConfForm" />
		<property name="forwards">
			<map>
				<entry
					key="view"
					value="/sys/organization/sys_org_role_conf/sysOrgRoleConf_view.jsp" />
				<entry
					key="edit"
					value="/sys/organization/sys_org_role_conf/sysOrgRoleConf_edit.jsp" />
				<entry
					key="list"
					value="/sys/organization/sys_org_role_conf/sysOrgRoleConf_list.jsp" />
				<entry
					key="check"
					value="/sys/organization/sys_org_role_conf/sysOrgRoleConf_defaultRole.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/sys/organization/sys_org_role/sysOrgRole.do"
		class="com.landray.kmss.sys.organization.actions.SysOrgRoleAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.organization.forms.SysOrgRoleForm" />
		<property name="forwards">
			<map>
				<entry
					key="view"
					value="/sys/organization/sys_org_role/sysOrgRole_view.jsp" />
				<entry
					key="edit"
					value="/sys/organization/sys_org_role/sysOrgRole_edit.jsp" />
				<entry
					key="list"
					value="/sys/organization/sys_org_role/sysOrgRole_list.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/sys/organization/sys_log_organization/sysOrgLog.do"
		class="com.landray.kmss.sys.organization.actions.SysOrgLogAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property name="forwards">
			<map>
				<entry
					key="logList"
					value="/sys/organization/sys_log_organization/sysLogOrg_list.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/sys/organization/sys_org_org/sysOrgOrg.do"
		class="com.landray.kmss.sys.organization.actions.SysOrgOrgAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.organization.forms.SysOrgOrgForm" />
		<property name="forwards">
			<map>
				<entry
					key="view"
					value="/sys/organization/sys_org_org/sysOrgOrg_view.jsp" />
				<entry
					key="edit"
					value="/sys/organization/sys_org_org/sysOrgOrg_edit.jsp" />
				<entry
					key="list"
					value="/sys/organization/sys_org_org/sysOrgOrg_list.jsp" />
				<entry
					key="changeDeptEdit"
					value="/sys/organization/sys_org_dept/sysOrgDept_chgDept.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/sys/organization/sys_org_dept/sysOrgDept.do"
		class="com.landray.kmss.sys.organization.actions.SysOrgDeptAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.organization.forms.SysOrgDeptForm" />
		<property name="forwards">
			<map>
				<entry
					key="view"
					value="/sys/organization/sys_org_dept/sysOrgDept_view.jsp" />
				<entry
					key="edit"
					value="/sys/organization/sys_org_dept/sysOrgDept_edit.jsp" />
				<entry
					key="list"
					value="/sys/organization/sys_org_dept/sysOrgDept_list.jsp" />
				<entry
					key="changeDeptEdit"
					value="/sys/organization/sys_org_dept/sysOrgDept_chgDept.jsp" />
			</map>
		</property>
	</bean>
	
	<bean
		name="/sys/organization/sys_org_chart/sysOrgChart.do"
		class="com.landray.kmss.sys.organization.actions.SysOrgChartAction"
		lazy-init="true"
		parent="KmssBaseAction">
	</bean>
	<bean
		name="/sys/organization/sys_org_element/sysOrgElementCriteria.do"
		class="com.landray.kmss.sys.organization.actions.SysOrgElementCriteriaAction"
		lazy-init="true"
		parent="KmssBaseAction">
	</bean>
	<bean
		name="/sys/organization/sys_org_post/sysOrgPost.do"
		class="com.landray.kmss.sys.organization.actions.SysOrgPostAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.organization.forms.SysOrgPostForm" />
		<property name="forwards">
			<map>
				<entry
					key="view"
					value="/sys/organization/sys_org_post/sysOrgPost_view.jsp" />
				<entry
					key="edit"
					value="/sys/organization/sys_org_post/sysOrgPost_edit.jsp" />
				<entry
					key="list"
					value="/sys/organization/sys_org_post/sysOrgPost_list.jsp" />
				<entry
					key="changeDeptEdit"
					value="/sys/organization/sys_org_person/sysOrgPerson_chgDept.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/sys/organization/sys_org_person/sysOrgPerson.do"
		class="com.landray.kmss.sys.organization.actions.SysOrgPersonAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.organization.forms.SysOrgPersonForm" />
		<property name="forwards">
			<map>
				<entry
					key="view"
					value="/sys/organization/sys_org_person/sysOrgPerson_view.jsp" />
				<entry
					key="edit"
					value="/sys/organization/sys_org_person/sysOrgPerson_edit.jsp" />
				<entry
					key="list"
					value="/sys/organization/sys_org_person/sysOrgPerson_list.jsp" />
				<entry
					key="address"
					value="/sys/organization/sys_org_person/sysOrgPerson_addressTypeEdit.jsp" />
				<entry
					key="addressUi"
					value="/sys/organization/person/sysOrgPerson_address.jsp" />
				<entry
					key="changeDeptEdit"
					value="/sys/organization/sys_org_person/sysOrgPerson_chgDept.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/sys/organization/sys_org_person/chgPersonInfo.do"
		class="com.landray.kmss.sys.organization.actions.SysOrgPersonInfoAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.organization.forms.SysOrgPersonInfoForm" />
		<property name="forwards">
			<map>
				<entry
					key="chgPwd"
					value="/sys/organization/sys_org_person/sysOrgPerson_chgpwd.jsp" />
				<entry
					key="chgMyPwd"
					value="/sys/organization/person/sysOrgPerson_chgmypwd.jsp" />
				<entry
					key="chgInfo"
					value="/sys/organization/sys_org_person/sysOrgPerson_chginfo.jsp" />
				<entry
					key="chgInfoUi"
					value="/sys/organization/person/sysOrgPerson_chginfo.jsp" />
				<entry
					key="chgMyAddress"
					value="/sys/organization/sys_org_person/sysOrgPerson_chgmyaddress.jsp" />
				<entry
					key="chgPwdSecure"
					value="/sys/organization/person/sysOrgPerson_chgpwdsecure.jsp" />
				<entry
					key="personPwd"
					value="/sys/common/changePwd/person_pwd.jsp" />
				<entry
					key="personEdit"
					value="/sys/common/changePwd/person_edit.jsp" />
				<entry
					key="personImage"
					value="/sys/common/changePwd/person_image.jsp" />
				<entry
					key="personPwd.4m"
					value="/sys/common/changePwd/mobile/person_pwd.jsp" />
				<entry
					key="personEdit.4m"
					value="/sys/common/changePwd/mobile/person_edit.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/sys/organization/sys_org_group/sysOrgGroup.do"
		class="com.landray.kmss.sys.organization.actions.SysOrgGroupAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.organization.forms.SysOrgGroupForm" />
		<property name="forwards">
			<map>
				<entry
					key="view"
					value="/sys/organization/sys_org_group/sysOrgGroup_view.jsp" />
				<entry
					key="edit"
					value="/sys/organization/sys_org_group/sysOrgGroup_edit.jsp" />
				<entry
					key="list"
					value="/sys/organization/sys_org_group/sysOrgGroup_list.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/sys/organization/sys_org_group_cate/sysOrgGroupCate.do"
		class="com.landray.kmss.sys.organization.actions.SysOrgGroupCateAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.organization.forms.SysOrgGroupCateForm" />
		<property name="forwards">
			<map>
				<entry
					key="view"
					value="/sys/organization/sys_org_group_cate/sysOrgGroupCate_view.jsp" />
				<entry
					key="edit"
					value="/sys/organization/sys_org_group_cate/sysOrgGroupCate_edit.jsp" />
				<entry
					key="list"
					value="/sys/organization/sys_org_group_cate/sysOrgGroupCate_list.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/sys/organization/sys_org_element/sysOrgElement.do"
		class="com.landray.kmss.sys.organization.actions.SysOrgElementOutAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property name="forwards">
			<map>
				<entry
					key="childrens_list"
					value="/sys/organization/sysOrgElement_childrens_list.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/sys/organization/sys_org_quick_sort/SysOrgQuickSort.do"
		class="com.landray.kmss.sys.organization.actions.SysOrgQuickSortAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.organization.forms.SysOrgQuickSortForm" />
		<property name="forwards">
			<map>
				<entry
					key="quickSort"
					value="/sys/organization/sys_org_quick_sort/sysOrgQuickSort_sort.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/sys/organization/sys_org_element_bak/sysOrgElementBak.do"
		class="com.landray.kmss.sys.organization.actions.SysOrgElementBakAction"
		lazy-init="true"
		parent="KmssBaseAction">
	</bean>
	<bean
		name="/sys/organization/sys_organization_visible/sysOrganizationVisible.do"
		class="com.landray.kmss.sys.organization.actions.SysOrganizationVisibleAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.organization.forms.SysOrganizationVisibleForm" />
		<property name="forwards">
			<map>
				<entry
					key="view"
					value="/sys/organization/sys_organization_visible/sysOrganizationVisible_view.jsp" />
				<entry
					key="edit"
					value="/sys/organization/sys_organization_visible/sysOrganizationVisible_edit.jsp" />
				<entry
					key="list"
					value="/sys/organization/sys_organization_visible/sysOrganizationVisible_list.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/sys/organization/sys_organization_visible/sysOrganizationVisibleList.do"
		class="com.landray.kmss.sys.organization.actions.SysOrganizationVisibleListAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.organization.forms.SysOrganizationVisibleListForm" />
		<property name="forwards">
			<map>
				<entry
					key="edit"
					value="/sys/organization/sys_organization_visible/sysOrganizationVisibleList_edit.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/sys/organization/sys_organization_staffing_level/sysOrganizationStaffingLevel.do"
		class="com.landray.kmss.sys.organization.actions.SysOrganizationStaffingLevelAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.organization.forms.SysOrganizationStaffingLevelForm" />
		<property name="forwards">
			<map>
				<entry
					key="view"
					value="/sys/organization/sys_organization_staffing_level/sysOrganizationStaffingLevel_view.jsp" />
				<entry
					key="edit"
					value="/sys/organization/sys_organization_staffing_level/sysOrganizationStaffingLevel_edit.jsp" />
				<entry
					key="list"
					value="/sys/organization/sys_organization_staffing_level/sysOrganizationStaffingLevel_list.jsp" />
				<entry
					key="select"
					value="/sys/organization/sys_organization_staffing_level/sysOrganizationStaffingLevel_select.jsp" />
				<entry
					key="fileUpload"
					value="/sys/organization/sys_organization_staffing_level/sysOrganizationStaffingLevel_upload.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/sys/organization/sys_organization_staffing_level_filter/sysOrganizationStaffingLevelFilter.do"
		class="com.landray.kmss.sys.organization.actions.SysOrganizationStaffingLevelFilterAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.organization.forms.SysOrganizationStaffingLevelFilterForm" />
		<property name="forwards">
			<map>
				<entry
					key="edit"
					value="/sys/organization/sys_organization_staffing_level/sysOrganizationStaffingLevelFilter_edit.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/sys/organization/sys_organization_recent_contact/sysOrganizationRecentContact.do"
		class="com.landray.kmss.sys.organization.actions.SysOrganizationRecentContactAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.organization.forms.SysOrganizationRecentContactForm" />
		<property name="forwards">
			<map>
				<entry
					key="view"
					value="/sys/organization/sys_organization_recent_contact/sysOrganizationRecentContact_view.jsp" />
				<entry
					key="edit"
					value="/sys/organization/sys_organization_recent_contact/sysOrganizationRecentContact_edit.jsp" />
				<entry
					key="list"
					value="/sys/organization/sys_organization_recent_contact/sysOrganizationRecentContact_list.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/sys/organization/sys_organization_search_config/sysOrganizationSearchConfig.do"
		class="com.landray.kmss.sys.organization.actions.SysOrganizationSearchConfigAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.appconfig.forms.SysAppConfigForm" />
	</bean>
	<bean
		name="/sys/organization/sys_organization_relation_config/sysOrganizationRelationConfig.do"
		class="com.landray.kmss.sys.organization.actions.SysOrganizationRelationConfigAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.appconfig.forms.SysAppConfigForm" />
	</bean>
	<bean
		name="/sys/organization/sys_org_retrieve_password/sysOrgRetrievePassword.do"
		class="com.landray.kmss.sys.organization.actions.SysOrgRetrievePasswordAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property name="forwards">
			<map>
				<entry
					key="validateUser"
					value="/sys/organization/sys_org_retrieve_password/validateUser.jsp" />
				<entry
					key="validateUser.4m"
					value="/sys/organization/sys_org_retrieve_password/mobile/validateUser.jsp" />
				<entry
					key="retrieveType"
					value="/sys/organization/sys_org_retrieve_password/retrieveType.jsp" />
				<entry
					key="sendValidationCode"
					value="/sys/organization/sys_org_retrieve_password/sendValidationCode.jsp" />
				<entry
					key="updatePassword"
					value="/sys/organization/sys_org_retrieve_password/updatePassword.jsp" />
				<entry
					key="retrievePassword"
					value="/sys/organization/sys_org_retrieve_password/mobile/retrievePassword.jsp" />
				<entry
					key="toSendValidationCode"
					value="/sys/organization/sys_org_retrieve_password/sendValidationCode.jsp" />
				<entry
					key="retrievePasswordSuccess"
					value="/sys/organization/sys_org_retrieve_password/retrievePasswordSuccess.jsp" />
				<entry
					key="retrievePasswordSuccess.4m"
					value="/sys/organization/sys_org_retrieve_password/mobile/retrievePasswordSuccess.jsp" />
				<entry
					key="toDoubleValidation"
					value="/sys/organization/sys_org_retrieve_password/doubleValidation.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/sys/organization/sys_org_retrieve_password_config/sysOrgRetrievePasswordConfig.do"
		class="com.landray.kmss.sys.profile.actions.PasswordSecurityConfigAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property name="forwards">
			<map>
				<entry
					key="edit"
					value="/sys/organization/sys_org_retrieve_password/config.jsp" />
			</map>
		</property>
	</bean>
	
	<bean id="sysOrgSyncSender"
        class="com.landray.kmss.sys.organization.cloud.SysOrgSyncSender">
        <property name="ekpCloudClient" ref="ekpCloudClient"/>
    </bean>
    
    <bean
		name="/sys/organization/sys_org_matrix_cate/sysOrgMatrixCate.do"
		class="com.landray.kmss.sys.organization.actions.SysOrgMatrixCateAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.organization.forms.SysOrgMatrixCateForm" />
		<property name="forwards">
			<map>
				<entry
					key="view"
					value="/sys/organization/sys_org_matrix_cate/sysOrgMatrixCate_view.jsp" />
				<entry
					key="edit"
					value="/sys/organization/sys_org_matrix_cate/sysOrgMatrixCate_edit.jsp" />
				<entry
					key="list"
					value="/sys/organization/sys_org_matrix_cate/sysOrgMatrixCate_list.jsp" />
			</map>
		</property>
	</bean>

	<bean
		name="/sys/organization/sys_org_matrix_relation/sysOrgMatrixRelation.do"
		class="com.landray.kmss.sys.organization.actions.SysOrgMatrixRelationAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property name="forwards">
			<map>
				<entry
					key="check"
					value="/sys/organization/sys_org_matrix_relation/sysOrgMatrixRelation_check.jsp" />
			</map>
		</property>
	</bean>
	
	<bean
		name="/sys/organization/sys_org_matrix/sysOrgMatrix.do"
		class="com.landray.kmss.sys.organization.actions.SysOrgMatrixAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.organization.forms.SysOrgMatrixForm" />
		<property name="forwards">
			<map>
				<entry
					key="view"
					value="/sys/organization/sys_org_matrix/sysOrgMatrix_view.jsp" />
				<entry
					key="edit"
					value="/sys/organization/sys_org_matrix/sysOrgMatrix_edit.jsp" />
				<entry
					key="list"
					value="/sys/organization/sys_org_matrix/sysOrgMatrix_list.jsp" />
				<entry
					key="importData"
					value="/sys/organization/sys_org_matrix/sysOrgMatrix_upload.jsp" />
				<entry
					key="importError"
					value="/sys/organization/sys_org_matrix/sysOrgMatrix_upload_error.jsp" />
				<entry
					key="importSuccess"
					value="/sys/organization/sys_org_matrix/sysOrgMatrix_upload_success.jsp" />
				<entry
					key="data"
					value="/sys/organization/sys_org_matrix/sysOrgMatrix_data.jsp" />
				<entry
					key="editData"
					value="/sys/organization/sys_org_matrix/sysOrgMatrixData_edit.jsp" />
				<entry
					key="editMatrixData"
					value="/sys/organization/sys_org_matrix/sysOrgMatrix_edit_data.jsp" />
				<entry
					key="showMainData"
					value="/sys/organization/sys_org_matrix/sysOrgMatrixData_mainData.jsp" />
				<entry
					key="mainDataList"
					value="/sys/organization/sys_org_matrix/sysOrgMatrixData_mainData_list.jsp" />
				<entry
					key="relationList"
					value="/sys/organization/sys_org_matrix/sysOrgMatrixData_relation_list.jsp" />
				<entry
					key="addDatas"
					value="/sys/organization/sys_org_matrix/sysOrgMatrix_edit_data_add.jsp" />
				<entry
					key="dataCate"
					value="/sys/organization/sys_org_matrix/sysOrgMatrix_edit_dataCate.jsp" />
			</map>
		</property>
	</bean>
	
	<!-- 外部组织类型扩展 -->
	<bean
		name="/sys/organization/sys_org_element_external/sysOrgElementExternal.do"
		class="com.landray.kmss.sys.organization.actions.SysOrgElementExternalAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.organization.forms.SysOrgElementExternalForm" />
		<property name="forwards">
			<map>
				<entry
					key="edit"
					value="/sys/organization/sys_org_element_external/sysOrgExternal_edit.jsp" />
				<entry
					key="view"
					value="/sys/organization/sys_org_element_external/sysOrgExternal_view.jsp" />
				<entry
					key="list"
					value="/sys/organization/sys_org_element_external/sysOrgExternal_list.jsp" />
				<entry
					key="editProp"
					value="/sys/organization/sys_org_element_external/sysOrgExternalProp_edit.jsp" />
			</map>
		</property>
	</bean>
	
	<!-- 外部组织 -->
	<bean
		name="/sys/organization/sys_org_element_external/sysOrgElementExternalDept.do"
		class="com.landray.kmss.sys.organization.actions.SysOrgElementExternalDeptAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.organization.forms.SysOrgDeptForm" />
		<property name="forwards">
			<map>
				<entry
					key="edit"
					value="/sys/organization/sys_org_element_external/sysOrgExternalDept_edit.jsp" />
				<entry
					key="view"
					value="/sys/organization/sys_org_element_external/sysOrgExternalDept_view.jsp" />
				<entry
					key="list"
					value="/sys/organization/sys_org_element_external/sysOrgExternalDept_list.jsp" />
				<entry
					key="listMaintainableDept"
					value="/sys/organization/sys_org_element_external/sysOrgExternalDept_listMaintainableDept.jsp" />
				<entry
					key="edit.4m"
					value="/sys/organization/mobile/sys_org_dept/sysOrgDept_edit.jsp" />
				<entry
					key="view.4m"
					value="/sys/organization/mobile/sys_org_dept/sysOrgDept_view.jsp" />
			</map>
		</property>
	</bean>
	<!-- 外部人员 -->
	<bean
		name="/sys/organization/sys_org_element_external/sysOrgElementExternalPerson.do"
		class="com.landray.kmss.sys.organization.actions.SysOrgElementExternalPersonAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.organization.forms.SysOrgPersonForm" />
		<property name="forwards">
			<map>
				<entry
					key="edit"
					value="/sys/organization/sys_org_element_external/sysOrgExternalPerson_edit.jsp" />
				<entry
					key="edit.4m"
					value="/sys/organization/mobile/sys_org_person/sysOrgPerson_edit.jsp" />
				<entry
					key="view"
					value="/sys/organization/sys_org_element_external/sysOrgExternalPerson_view.jsp" />
				<entry
					key="view.4m"
					value="/sys/organization/mobile/sys_org_person/sysOrgPerson_view.jsp" />
				<entry
					key="list"
					value="/sys/organization/sys_org_element_external/sysOrgExternalPerson_list.jsp" />
				<entry
					key="initInvitePage"
					value="/sys/organization/mobile/sys_org_person/sysOrgPersonQrcode.jsp" />
			</map>
		</property>
	</bean>
	<!-- 外部岗位 -->
	<bean
		name="/sys/organization/sys_org_element_external/sysOrgElementExternalPost.do"
		class="com.landray.kmss.sys.organization.actions.SysOrgElementExternalPostAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.organization.forms.SysOrgPostForm" />
		<property name="forwards">
			<map>
				<entry
					key="edit"
					value="/sys/organization/sys_org_element_external/sysOrgExternalPost_edit.jsp" />
				<entry
					key="edit.4m"
					value="/sys/organization/mobile/sys_org_post/sysOrgPost_edit.jsp" />
				<entry
					key="view"
					value="/sys/organization/sys_org_element_external/sysOrgExternalPost_view.jsp" />
				<entry
					key="view.4m"
					value="/sys/organization/mobile/sys_org_post/sysOrgPost_view.jsp" />
				<entry
					key="list"
					value="/sys/organization/sys_org_element_external/sysOrgExternalPost_list.jsp" />
			</map>
		</property>
	</bean>
	<!-- 人员权限 -->
	<bean
			name="/sys/organization/sys_organization_config/sysOrganizationConfig.do"
			class="com.landray.kmss.sys.organization.actions.SysOrganizationConfigAction"
			lazy-init="true"
			parent="KmssBaseAction">
			<property
				name="formType"
				value="com.landray.kmss.sys.appconfig.forms.SysAppConfigForm" />
	</bean>
	
	<!-- 矩阵模板关系 -->
	<bean
		name="/sys/organization/sys_org_matrix/sysOrgMatrixTemplate.do"
		class="com.landray.kmss.sys.organization.actions.SysOrgMatrixTemplateAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.organization.forms.SysOrgMatrixTemplateForm" />
		<property name="forwards">
			<map>
				<entry
					key="list"
					value="/sys/organization/sys_org_matrix/sysOrgMatrixTemplate_list.jsp" />
			</map>
		</property>
	</bean>
	
	
</beans>