
.lui_form_body{
  background-color: #f7f7f7;
}
.inputselectsgl .inputdatetime{
  background: url(../images/icons/icon-datetime.png) no-repeat 50%;
}

/* 三级页面相关 Starts
  ========================================================================== */

 	/* 路径导航 Starts */
.lui_form_body > .lui_form_path_frame {
  margin-left: auto!important;
  margin-right: auto!important;
  padding-top: 10px;
}
.lui_form_path_frame .lui_menu_frame_nav {
  margin: 0 auto;
  padding-left: 12px;
  padding-right: 12px;
  background-color: #fff;
  overflow: visible;
}
.lui_form_path_frame .lui_menu_frame_nav .lui_menu_item_last .lui_item_txt{
  color: #999;
  font-weight: normal;
}
	/* 路径导航 Ends */


.lui_form_title_frame {
  margin-bottom: 20px;
}
.lui_form_subject {
  margin-bottom: 10px;
  padding: 0;
  line-height: 30px;
  text-align: center;
  color: #333;
  font-size: 24px;
}
.lui_form_title_frame .lui_form_baseinfo {
  margin: 0 0 5px;
  line-height: 20px;
  text-align: center;
  color: #999;
  font-size: 12px;
}
.lui_form_title_frame .lui_form_baseinfo span,
.lui_form_title_frame .lui_form_baseinfo .com_author {
  margin-right: 8px;
  font-size: 12px;
}
.lui_form_body .tempTB {
  background:#fff;
}

.lui_form_content .txttitle{
  margin-bottom: 15px;
}

.lui_form_content {
  padding: 10px 15px;
  background-color: #fff;
}

.lui_form_content_frame {
  padding: 0;
}
.lui_form_content .lui_form_summary_frame {
  margin-left: 0;
  margin-right: 0;
  border: 0;
  color: #333;
  font-size: 14px;
  background-color: #fafafa;
}
/* 三级页面相关 Ends
	========================================================================== */


/* 表单类 Starts
  ========================================================================== */
select,
textarea,
.inputmul {
  border-color: #d5d5d5;
}
.inputsgl,
.tb_normal .inputsgl{
  border-color: #d5d5d5;
}
.tb_simple .inputsgl,
.tb_simple .inputselectsgl{
  border-color: #d5d5d5;
}
.inputselectsgl,
.tb_normal .inputselectsgl{
  border-color: #d5d5d5;
}
.inputselectmul{
  border-color: #d5d5d5;
}
.inputselectmul .orgelement,
.inputselectmul .selectitem{
  border-left-color: #d5d5d5;
}

.lui_form_button{
  color: #fff;
  border: 0;
  background-color: #2f84fb;
}
/* 表单类 Ends
  ========================================================================== */
  
/* bug修复 1920屏幕下 证照模块查看模式下会偏移 由于面包屑产生了浮动，没有清除掉*/
.lui_form_body > .lui_form_path_frame:after,
.lui_form_content:after{
  content:"";
  display:table;
  clear:both;
}

/* 流程右侧审批样式
  ========================================================================== */
 
  /* 关联 */
  a:hover .lui-fm-icon-1,
  .active .lui-fm-icon-1,
  .lui_tabpanel_vertical_icon_navs_item_selected .lui-fm-icon-1 { background-image: url(../images/form/icon-on/icon-01.png);}
    /* 基本信息 */
   a:hover .lui-fm-icon-2,
    .active .lui-fm-icon-2,
    .lui_tabpanel_vertical_icon_navs_item_selected .lui-fm-icon-2 { background-image: url(../images/form/icon-on/icon-02.png);}
    /* 流程审批 */
    a:hover .lui-fm-icon-3,
    .active .lui-fm-icon-3,
    .lui_tabpanel_vertical_icon_navs_item_selected .lui-fm-icon-3 { background-image: url(../images/form/icon-on/icon-03.png);}
    /* 流程记录 */
    a:hover .lui-fm-icon-4,
    .active .lui-fm-icon-4,
    .lui_tabpanel_vertical_icon_navs_item_selected .lui-fm-icon-4 { background-image: url(../images/form/icon-on/icon-04.png);}
    /* 附件列表 */
    a:hover .lui-fm-icon-5,
    .active .lui-fm-icon-5,
    .lui_tabpanel_vertical_icon_navs_item_selected .lui-fm-icon-5 { background-image: url(../images/form/icon-on/icon-05.png);}
    /* 维基目录 */
    a:hover .lui-fm-icon-wiki-01,
    .active .lui-fm-icon-wiki-01,
    .lui_tabpanel_vertical_icon_navs_item_selected .lui-fm-icon-wiki-01 { background-image: url(../images/form/icon-on/icon-wiki-01-1-on.png);}
    /* 相似知识 */
    a:hover .lui-fm-icon-simdoc-01,
    .active .lui-fm-icon-simdoc-01,
    .lui_tabpanel_vertical_icon_navs_item_selected .lui-fm-icon-simdoc-01 { background-image: url(../images/form/icon-on/icon-simdoc-01.png);}
    /* 关系圈 */
    a:hover .lui-fm-icon-doccloud-01,
    .active .lui-fm-icon-doccloud-01,
    .lui_tabpanel_vertical_icon_navs_item_selected .lui-fm-icon-doccloud-01 { background-image: url(../images/form/icon-on/icon-doccloud-01.png);}
    /*办理限时剩余时间*/
    .limit_time_span{
       border-color : #325ce1 ;
       background-color:#325ce1;
    }
    
    @media screen and (-webkit-min-device-pixel-ratio: 2){
      /* 关联 */
      a:hover .lui-fm-icon-1,
      .active .lui-fm-icon-1,
      .lui_tabpanel_vertical_icon_navs_item_selected .lui-fm-icon-1 { background-image: url(../images/form/icon-on/icon-01@2x.png);}
      /* 基本信息 */
      a:hover .lui-fm-icon-2,
      .active .lui-fm-icon-2,
      .lui_tabpanel_vertical_icon_navs_item_selected .lui-fm-icon-2{ background-image: url(../images/form/icon-on/icon-02@2x.png);}
      /* 流程审批 */
      a:hover .lui-fm-icon-3,
      .active .lui-fm-icon-3,
      .lui_tabpanel_vertical_icon_navs_item_selected .lui-fm-icon-3 { background-image: url(../images/form/icon-on/icon-03@2x.png);}
      /* 流程记录 */
      a:hover .lui-fm-icon-4,
      .active .lui-fm-icon-4,
      .lui_tabpanel_vertical_icon_navs_item_selected .lui-fm-icon-4 { background-image: url(../images/form/icon-on/icon-04@2x.png);}
      /* 附件列表 */
      a:hover .lui-fm-icon-5,
      .active .lui-fm-icon-5,
      .lui_tabpanel_vertical_icon_navs_item_selected .lui-fm-icon-5 { background-image: url(../images/form/icon-on/icon-05@2x.png);}
      /* 维基目录 */
      a:hover .lui-fm-icon-wiki-01,
      .active .lui-fm-icon-wiki-01,
      .lui_tabpanel_vertical_icon_navs_item_selected .lui-fm-icon-wiki-01 { background-image: url(../images/form/icon-on/icon-wiki-01-2-on.png);}
    /* 相似知识 */
    a:hover .lui-fm-icon-simdoc-01,
    .active .lui-fm-icon-simdoc-01,
    .lui_tabpanel_vertical_icon_navs_item_selected .lui-fm-icon-simdoc-01 { background-image: url(../images/form/icon-on/icon-simdoc-02.png);}
    /* 关系圈 */
    a:hover .lui-fm-icon-doccloud-01,
    .active .lui-fm-icon-doccloud-01,
    .lui_tabpanel_vertical_icon_navs_item_selected .lui-fm-icon-doccloud-01 { background-image: url(../images/form/icon-on/icon-doccloud-02.png);}
    }
  
  /* 三级页面右侧审批模式主题跟随 Ends */

/*新建讲师 基本信息 颜色优化starts*/
.td_label0 .btnlabel1{
  border-color: #2f84fb;
  background-color: #2f84fb !important;
}
/*新建讲师 基本信息 颜色优化ends*/

/*详情页 图标和标题水平对齐starts*/
.right_model .lui_accordionpanel_simpletitle_nav_c:before{
  margin-top: 0;
}
/*详情页 图标和标题水平对齐ends*/