
/* portal.css Starts ++++++++++++++++++++++++++++++++++++++++ */

.lui_portal_body,
.lui_list_body_scroll_mask{
  background-color: #f7f7f7;
}
.lui_list_body_frame{
  background-color: #f7f7f7;
}


/* 页眉 Starts
   ========================================================================== */

/* 公共公用 Starts */

.searchCategory {
  padding: 4px 0;
  text-align: center;
  font-size: 0;
  *white-space: -1px;
  border-radius: 4px;
  border: 1px solid #2f84fb;
  background-color: #cce8fd;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
.searchCategory .search_item{
  margin: 0 5px;
  height: auto;
  line-height: 20px;
  display: inline-block;
}
.searchCategory label{
  white-space: nowrap;
  font-size: 12px;
}
.searchCategory .search_radio input+i.item_radio{
  background-size: auto 16px;
  background-image: url(../images/icons/icon-radio.png);
}
@media screen and (-webkit-min-device-pixel-ratio: 2){
  .searchCategory .search_radio input+i.item_radio{
    background-image: url(../images/icons/icon-radio@2x.png);
  }
}

.lui_portal_header_search_input input:focus {
  color: #46D4FB;
  border-color: #66afe9;
  background-color: #fff;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}
.lui_portal_header_search_input input::-moz-placeholder {
  color: #46D4FB!important;
  font-size: inherit;
}
.lui_portal_header_search_input input:-ms-input-placeholder {
  color: #46D4FB!important;
  font-size: inherit;
}
.lui_portal_header_search_input input::-webkit-input-placeholder {
  color: #46D4FB!important;
  font-size: inherit;
}

.lui_portal_header_icon_arrow{
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  margin-left: 2px;
  border-top: 4px dashed;
  border-top: 4px solid \9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  transition-duration: .3s;
  background-image: none;
}
.lui_portal_header_text .lui_icon_s_collect,
.lui_portal_header_text .lui_icon_s_daiban,
.lui_portal_header_text .lui_icon_s_daiyue,
.lui_portal_header_hitch .lui_icon_hitch {
  background-image: url(../images/icons/head_sprite_default.png);
  background-repeat: no-repeat;
  background-size: auto 64px;
  position: relative;
}
.lui_portal_header_text .lui_icon_s_collect{
  background-position: -16px 0;
  top: -2px;
}
.lui_portal_header_daiban, .lui_portal_header_daiyue{
  max-width: 40px;
  font-size:14px;
}
.lui_portal_header_text .lui_icon_s_daiban{ background-position: -32px 0;}
.lui_portal_header_text .lui_icon_s_daiyue{ background-position: -48px 0;}
.lui_portal_header_hitch .lui_icon_hitch{
  background-position: -64px 0;
  top: -2px;
}

@media screen and (-webkit-min-device-pixel-ratio: 2){
  .lui_portal_header_text .lui_icon_s_collect,
  .lui_portal_header_text .lui_icon_s_daiban,
  .lui_portal_header_text .lui_icon_s_daiyue,
  .lui_portal_header_hitch .lui_icon_hitch {
    background-image: url(../images/icons/head_sprite_default@2x.png);
  }
}

/* 公共公用 Ends */

/* 默认页眉 Starts */
.lui_tlayout_header_h.lui_portal_header_zone_frame_h{
  height: auto;
}
.lui_tlayout_header{
  padding: 0 15px;
  height: 71px;
  background: url(../images/portal/header_bg.png) repeat #131c47;
  /*-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .15);
     -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .15);
      -ms-box-shadow: 0 1px 1px rgba(0, 0, 0, .15);
       -o-box-shadow: 0 1px 1px rgba(0, 0, 0, .15);
          box-shadow: 0 1px 1px rgba(0, 0, 0, .15);*/
}
.lui_tlayout_header_logo{
  position: relative;
}
.lui_portal_header_logo_div{
  height: 20px;
  line-height: 20px;
}
.lui_tlayout_header .lui_tlayout_header_logo {
  margin-top:25px;
  margin-right: 10px;
  padding:0;
  width: 185px;
  height: 20px;
  line-height: 20px;
}
.lui_tlayout_header .lui_tlayout_header_left{}
.lui_tlayout_header .lui_tlayout_header_item {
  margin-top:10px;
  color: #d9e6fc;
}
.lui_tlayout_header .lui_tlayout_header_item .lui_caret{
  transition-duration: .3s;
}
.lui_tlayout_header .lui_tlayout_header_item.hover .lui_dropdown_toggle {
  background-color: #2f84fb;
}
.lui_tlayout_header .lui_tlayout_header_item.hover .lui_caret{
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.lui_tlayout_header .lui_tlayout_header_logo{}
.lui_tlayout_header_searchbar.lui_portal_header_zone_search{
  margin-top: 18px;
}
.lui_tlayout_header_searchbar.lui_portal_header_zone_search .lui_portal_header_search_include{
  width:300px;/*ie8闪退*/
  text-align:right;
  /*margin-top: 0;
  font-size: 0;
  white-space: -1px;*/
}
.lui_tlayout_header_searchbar.lui_portal_header_zone_search .lui_portal_header_search_input {
  width: 220px;
}
.lui_tlayout_header_searchbar.lui_portal_header_zone_search .lui_portal_header_search_input input {
  padding: 0 14% 0 4%;
  width: 82%;
  height: 34px;
  line-height: 34px;
  color: #fff;
  border-radius: 6px;
  border: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: rgba(4,71,255,0.6);
}
.lui_tlayout_header_searchbar.lui_portal_header_zone_search .lui_portal_header_search_btn{
  margin-left: 4px;
  height: 32px;
  line-height: 32px;
  color: #fff;
  border-radius: 4px;
  background-image: none;
  border: 1px solid transparent;
  background-color: transparent;
  background-image: -webkit-linear-gradient(top, #39bbff 0%, #e31471 100%);
  background-image: -moz-linear-gradient(top, #39bbff 0%, #e31471 100%);
  background-image: -o-linear-gradient(top, #39bbff 0%, #e31471 100%);
  background-image: -ms-linear-gradient(top, #39bbff 0%, #e31471 100%);
  background-image: linear-gradient(top, #39bbff 0%, #e31471 100%);
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#39bbff', EndColorStr='#e31471');
}
.lui_tlayout_header_searchbar.lui_portal_header_zone_search .lui_portal_header_search_btn:hover {
  color: #fff;
  border-color: transparent;
  background-color: transparent;
  background-image: -webkit-linear-gradient(top, #2e95e5 0%, #c6066b 100%);
  background-image: -moz-linear-gradient(top, #2e95e5 0%, #c6066b 100%);
  background-image: -o-linear-gradient(top, #2e95e5 0%, #c6066b 100%);
  background-image: -ms-linear-gradient(top, #2e95e5 0%, #c6066b 100%);
  background-image: linear-gradient(top, #2e95e5 0%, #c6066b 100%);
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#2e95e5', EndColorStr='#c6066b');
}
.lui_tlayout_header_searchbar.lui_portal_header_zone_search .lui_portal_header_search_btn.search_btn_icon{
  margin: 1px 0 1px -36px;
  padding-left: 2px;
  padding-right: 0;
  height: 30px;
  line-height: 30px;
  border-radius:40px 10px 10px 40px;
  position: absolute;
  z-index: 1;
}
.lui_tlayout_header_searchbar.lui_portal_header_zone_search .lui_portal_header_search_btn.search_btn_icon input {
  width: 30px;
  height: 30px;
  font-size: 0;
  background: url(../images/icons/icon-search-white.png) no-repeat 50%;
  background-size: 16px auto;
  display: block;
}
@media screen and (-webkit-min-device-pixel-ratio: 2){
  .lui_tlayout_header_searchbar.lui_portal_header_zone_search .lui_portal_header_search_btn.search_btn_icon input {
    background-image: url(../images/icons/icon-search-white@2x.png);
  }
}

.lui_tlayout_header .icon-header-favorite{
  background-image:url(../images/icons/icon-header-favorite.png);
}
.lui_tlayout_header .icon_header_portal{
  background-image:url(../images/icons/icon-header-portal.png);
}
.lui_tlayout_header_infobar .icon-header-notify{
  background-image:url(../images/icons/icon-header-notify.png);
}
.lui_tlayout_header_favorite{
  margin-top:10px;
}
.lui_tlayout_header_portal .lui_dropdown_toggle:after,
.lui_tlayout_header_favorite .lui_dropdown_toggle:after,
.lui_tlayout_header_notify .lui_dropdown_toggle:after {
  background-color: #679cf5;
  background-color: rgba(255,255,255,.2);
}
.lui_tlayout_header_item .com_prompt_num {
  padding: 2px 5px 2px 4px;
  color: #fff;
  background-color: #ea4335;
}

/*没有待办数据时显示圆点starts*/
.lui_tlayout_header_notify .com_prompt_num.comPromptNum{
  padding:1px;
}
/*没有待办数据时显示圆点ends*/
.lui_tlayout_header_page_popup .lui_dataview_treemenu2_portal_lv1_all{
  margin-bottom: 0;
  padding: 0;
  border-bottom: 0;
}
.lui_tlayout_header_page_popup .lui_dataview_treemenu2_portal_lv1_c{
  margin-bottom: 1px;
  padding: 0;
  height: auto;
  line-height: 20px;
}
.lui_tlayout_header_page_popup .lui_dataview_treemenu2_portal_lv1_c:last-child{
  margin-bottom: 1px;
}
.lui_tlayout_header_page_popup .lui_dataview_treemenu2_portal_lv1_c a{
  font-size: inherit;
}
.lui_tlayout_header_page_popup .lui_dataview_treemenu2_portal_lv1_c a:hover,
.lui_tlayout_header_page_popup .lui_dataview_treemenu2_portal_lv1_c .selected {
  color: #fff;
  background-color: #2f84fb;
}

.lui_tlayout_header_portal_popup .lui_dataview_treemenu_flat_text a:hover,
.lui_tlayout_header_portal_popup .lui_dataview_treemenu_flat_selected .lui_dataview_treemenu_flat_text a {
  color: #fff;
  background-color: #2f84fb;
}

.lui_tlayout_header_person_popup .lui_tlayout_dropdown_list > li a{
  padding: 6px 10px;
  line-height: 20px;
  display: block;
}
.lui_tlayout_header_person_popup .lui_tlayout_dropdown_list > li a:hover {
  color: #fff;
  background-color: #2f84fb;
}
.lui_tlayout_header_person_popup .lui_tlayout_dropdown_list > li a .info {
  color: #2f84fb;
}
.lui_tlayout_header_person_popup .lui_tlayout_dropdown_list > li a:hover .info{
  color: #fff;
}

.lui_tlayout_header_portal_popup .lui_dataview_treemenu_flat {
  margin-left: -1px;
}
.lui_tlayout_header_portal_popup .lui_dataview_treemenu_flat_text {
  padding: 0;
}
.lui_tlayout_header_portal_popup .lui_dataview_treemenu_flat_item{
  margin-bottom: 1px;
}
.lui_tlayout_header_portal_popup .lui_dataview_treemenu_flat_item:last-child{
  margin-bottom: 0;
}
.lui_tlayout_header_portal_popup .lui_dataview_treemenu_flat_text a{
  padding: 6px 10px;
  line-height: 20px;
  transition: background .3s;
}
.lui_tlayout_header_portal_popup .lui_dataview_treemenu_flat_children{ margin-left: 0; }
.lui_tlayout_header_portal_popup .lui_dataview_treemenu_flat_children .lui_dataview_treemenu_flat_text a{
  color: #666;
  font-size: 12px;
  text-indent: 16px;
  position: relative;
}
.lui_tlayout_header_portal_popup .lui_dataview_treemenu_flat_children .lui_dataview_treemenu_flat_text a:after,
.lui_tlayout_header_portal_popup .lui_dataview_treemenu_flat_children .lui_dataview_treemenu_flat_text a:before{
  content: '';
  display: inline-block;
  position: absolute;
}
.lui_tlayout_header_portal_popup .lui_dataview_treemenu_flat_children .lui_dataview_treemenu_flat_text a:before {
  border-left: 1px dotted #aaa;
  height: 16px;
  left: 10px;
  top: 0;
}
.lui_tlayout_header_portal_popup .lui_dataview_treemenu_flat_children .lui_dataview_treemenu_flat_text a:after {
  border-bottom: 1px dotted #aaa;
  width: 10px;
  left: 10px;
  top: 16px;
}
.lui_tlayout_header_portal_popup .lui_dataview_treemenu_flat_children .lui_dataview_treemenu_flat_text a:hover:after,
.lui_tlayout_header_portal_popup .lui_dataview_treemenu_flat_children .lui_dataview_treemenu_flat_text a:hover:before{
  border-color: #fff;
}
.lui_tlayout_header_portal_popup .lui_dataview_treemenu_flat_selected .lui_dataview_treemenu_flat_text {
  background-color: transparent;
}
.lui_tlayout_header_portal_popup .lui_dataview_treemenu_flat_text a:hover,
.lui_tlayout_header_portal_popup .lui_dataview_treemenu_flat_selected .lui_dataview_treemenu_flat_text a {
  color: #fff;
  background-color: #2f84fb;
}
.lui_tlayout_header_portal_popup .lui_dataview_treemenu_flat_text_hover {
  background-color: #fff;
}
/* 默认页眉 Ends */

/* 经典页眉 Starts */
.lui_portal_header_menu_frame{
  height: 120px;
  padding-left: 15px;
  padding-right: 15px;
  background: #131c47 url(../images/portal/header_bg.png) repeat-x left
}
.lui_portal_header_menu_frame .lui_portal_header_menu_content{
  height: 66px;
  background-image: none;

}
.lui_portal_header_menu_logo{
  position:relative;
}
.lui_portal_header_menu_frame .lui_portal_header_menu_logo{
  padding-top: 10px;
  padding-left: 15px;
}
.lui_portal_header_menu_frame .lui_portal_header_menu_logo .lui_portal_header_logo_div {
  height: 40px;
  line-height: 40px;
}
.lui_portal_header_menu_frame .lui_portal_header_menu_search {
  text-align: right;
  float: right;
  margin:65px 15px 0 0;
  min-width: auto;
}
.lui_portal_header_menu_frame .lui_portal_header_menu_search .lui_portal_header_search_include{
  margin-top: 0;
}
.lui_portal_header_menu_frame .lui_portal_header_search_input.lui_portal_header_search_intell {
  width: 250px;
}
.lui_portal_header_menu_frame .lui_portal_header_menu_search .lui_portal_header_search_input,
.lui_portal_header_complex_frame .lui_portal_header_complex_search .lui_portal_header_search_input{
  width: 250px;
}
.lui_portal_header_menu_frame .lui_portal_header_menu_search .lui_portal_header_search_input input,
.lui_portal_header_complex_frame .lui_portal_header_complex_search .lui_portal_header_search_input input,
.lui_portal_header_zone_frame .lui_portal_header_zone_search .lui_portal_header_search_input input{
  height: 32px;
  line-height: 32px;
  color: #fff;
  border-radius: 4px;
  border: 0;
  background-color: rgba(4,71,255,0.6);
}
@media \0screen{
  .lui_tlayout_header_searchbar.lui_portal_header_zone_search .lui_portal_header_search_input input,
  .lui_portal_header_menu_frame .lui_portal_header_menu_search .lui_portal_header_search_input input,
  .lui_portal_header_complex_frame .lui_portal_header_complex_search .lui_portal_header_search_input input{
    background:#bdcffe;
  }
}

.lui_portal_header_search_input input::-moz-placeholder {
  color: #46D4FB!important;
  font-size: inherit;
}
.lui_portal_header_search_input input:-ms-input-placeholder {
  color: #46D4FB!important;
  font-size: inherit;
}
.lui_portal_header_search_input input::-webkit-input-placeholder {
  color: #46D4FB!important;
  font-size: inherit;
}
.lui_portal_header_menu_l{
  padding:0 380px 0 0;
}
.lui_portal_header_simple_menu_wrapper .lui_portal_header_menu_l{
  padding:0 100px 0 0;
}

.lui_portal_header_menu_frame .lui_portal_header_menu_search .lui_portal_header_search_btn,
.lui_portal_header_complex_frame .lui_portal_header_complex_search .lui_portal_header_search_btn{
  padding-left: 8px;
  padding-right: 8px;
  height: 32px;
  line-height: 32px;
  border-radius: 4px;
  border: 0;
  margin-top:1px;
  background-color: #6891ff;
  background-image: -webkit-linear-gradient(top, #39bbff 0%, #e31471 100%);
  background-image: -moz-linear-gradient(top, #39bbff 0%, #e31471 100%);
  background-image: -o-linear-gradient(top, #39bbff 0%, #e31471 100%);
  background-image: -ms-linear-gradient(top, #39bbff 0%, #e31471 100%);
  background-image: linear-gradient(top, #39bbff 0%, #e31471 100%);
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#39bbff', EndColorStr='#e31471');
  transition-duration: .3s;
  position:relative;
  z-index:1;
}
.lui_portal_header_menu_frame .lui_portal_header_menu_search .lui_portal_header_search_btn:hover,
.lui_portal_header_menu_frame .lui_portal_header_menu_search .lui_portal_header_search_btn.search_btn_icon:hover,
.lui_portal_header_complex_frame .lui_portal_header_complex_search .lui_portal_header_search_btn:hover,
.lui_portal_header_complex_frame .lui_portal_header_complex_search .lui_portal_header_search_btn.search_btn_icon:hover{
  color: #fff;
  border-color: transparent;
  background-color: #6891ff;
  background-image: -webkit-linear-gradient(top, #2e95e5 0%, #c6066b 100%);
  background-image: -moz-linear-gradient(top, #2e95e5 0%, #c6066b 100%);
  background-image: -o-linear-gradient(top, #2e95e5 0%, #c6066b 100%);
  background-image: -ms-linear-gradient(top, #2e95e5 0%, #c6066b 100%);
  background-image: linear-gradient(top, #2e95e5 0%, #c6066b 100%);
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#2e95e5', EndColorStr='#c6066b');
}
.lui_portal_header_menu_frame .lui_portal_header_menu_search .lui_portal_header_search_btn input,
.lui_portal_header_complex_frame .lui_portal_header_complex_search .lui_portal_header_search_btn input{
  height:30px;
  line-height:30px;
  color: #fff;
  font-size: inherit;
}
.lui_portal_header_menu_frame .lui_portal_header_menu_search .lui_portal_header_search_btn:hover input,
.lui_portal_header_complex_frame .lui_portal_header_complex_search .lui_portal_header_search_btn:hover input{
  color: inherit;
}
.lui_portal_header_menu_frame .lui_portal_header_menu_search .lui_portal_header_search_btn.search_btn_icon,
.lui_portal_header_complex_frame .lui_portal_header_complex_search .lui_portal_header_search_btn.search_btn_icon{
  margin-left: -30px;
  border-radius:40px 14px 14px 40px;
  border-color: transparent;
  background-color: transparent;
  position: relative;
  z-index: 1;
}

.lui_portal_header_menu_frame .lui_portal_header_menu_search .lui_portal_header_search_btn.search_btn_icon input,
.lui_portal_header_complex_frame .lui_portal_header_complex_search .lui_portal_header_search_btn.search_btn_icon input{
  padding: 0;
  width: 16px;
  height: 32px;
  font-size: 0;
  background: url(../images/icons/icon-search-white.png) no-repeat 50%;
  background-size: 16px auto;
  display: block;
}
.lui_portal_header_menu_frame .lui_portal_header_menu_search .lui_portal_header_search_btn.search_btn_icon:hover input,
.lui_portal_header_complex_frame .lui_portal_header_complex_search .lui_portal_header_search_btn.search_btn_icon:hover input{
  background-image: url(../images/icons/icon-search-white.png);
}

.lui_portal_header_menu_frame .lui_portal_header_menu_person {
  top: 20px;
}
.lui_portal_header_menu_frame .lui_portal_header_menu_person_c_l,
.lui_portal_header_menu_frame .lui_portal_header_menu_person_c_r,
.lui_portal_header_menu_frame .lui_portal_header_menu_person_c_c {
  background-image: none;
}
.lui_portal_header_menu_content .lui_portal_header_text{
  font-size:14px;
}
.lui_portal_header_menu_frame .lui_portal_header_menu_content .lui_portal_header_text{
  margin-top: 0;
  padding: 5px;
  color: #44cef8;
}

.lui_portal_header_menu_frame .lui_portal_header_text.lui_portal_header_text_over,
.lui_portal_header_menu_frame .lui_portal_header_text.lui_portal_header_text_over:hover {
  color: #2f84fb;
}
.lui_portal_header_menu_frame .lui_portal_header_text.lui_portal_header_text_over{
  border-color: #d5d5d5;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-color: #fff;
  box-shadow: 0 0 7px rgba(0,0,0,.15);
  position: relative;
  z-index: 81;
}
.lui_portal_header_menu_frame .lui_portal_header_text_over .lui_portal_header_icon_arrow{
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.lui_portal_header_menu_frame .lui_portal_header_menu_content .lui_portal_header_icon_arrow{
  width: 0;
  background-image: none;
}
.lui_portal_header_menu_frame .lui_portal_header_text .lui_icon_s_collect{
  background-position: -16px 0;
  top: -1px;
}
.lui_portal_header_menu_frame .lui_portal_header_text .lui_icon_s_daiban{ background-position: -32px 0;}
.lui_portal_header_menu_frame .lui_portal_header_text .lui_icon_s_daiyue{ background-position: -48px 0;}
.lui_portal_header_menu_frame .lui_portal_header_hitch .lui_icon_hitch{
  background-position: -64px 0;
  top: -1px;
}
.lui_portal_header_menu_frame .lui_portal_header_text_over .lui_icon_s_collect{
  background-position: -16px -32px;
}

.lui_portal_header_menu_frame .lui_portal_header_menu_menu{
  padding-bottom: 10px;
  height: auto;
}
.lui_portal_header_menu_item_c{
  cursor:pointer;
}
.lui_portal_header_menu_frame .lui_portal_header_menu_item_c {
  margin-top: 0;
  padding-left: 10px;
  padding-right: 10px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  background-color: transparent;
  transition-duration: .3s;
  transition:all 0.6s;
}
.lui_portal_header_menu_frame .lui_portal_header_menu_item_hover .lui_portal_header_menu_item_c,
.lui_portal_header_menu_frame .lui_portal_header_menu_item_current .lui_portal_header_menu_item_c {
  height: 40px;
  line-height: 40px;
  color: #44cef8;
  text-decoration: none;
  background-color: transparent;
  /* -moz-transform:scale(0.9,1); 
-webkit-transform:scale(0.9,1); 
-o-transform:scale(0.9,1);
-ms-transform:scale(0.9,1);
transform:scale(0.9,1); */
}
.lui_portal_header_menu_frame .lui_portal_header_menu_item_line {
  width: 0;
  height: 40px;
  background-image: none;
  position: relative;
}
.lui_portal_header_menu_frame .lui_portal_header_menu_item_line:before{
  content: '';
  height: 16px;
  display: block;
  border-left: 1px solid #fff;
  border-left: 1px solid rgba(255,255,255,.5);
  position: absolute;
  left: 1px;
  top: 50%;
  margin-top: -8px;
  display: none;
}
.lui_portal_header_menu_frame .lui_portal_header_menu_item_left,
.lui_portal_header_menu_frame .lui_portal_header_menu_item_right{
  width: 20px;
  height: 40px;
  transition: background-color .3s;
  background: url(../images/icons/icon-arrow.png) no-repeat 2px 50%;
  background-size: auto 16px;
}
.lui_portal_header_menu_frame .lui_portal_header_menu_item_left{
  background-position: 4px 50%;
}
.lui_portal_header_menu_frame .lui_portal_header_menu_item_right{
  background-position: -12px 50%;
}
.lui_portal_header_menu_frame .lui_portal_header_menu_item_left:hover,
.lui_portal_header_menu_frame .lui_portal_header_menu_item_right:hover{
  opacity: .75;
  filter: alpha(opacity=75);
  background-color: #2f84fb;
}
@media screen and (-webkit-min-device-pixel-ratio: 2){
  .lui_portal_header_menu_frame .lui_portal_header_menu_search .lui_portal_header_search_btn.search_btn_icon input{
    background-image: url(../images/icons/icon-search-white@2x.png);
  }
  .lui_portal_header_menu_frame .lui_portal_header_menu_search .lui_portal_header_search_btn.search_btn_icon:hover input{
    background-image: url(../images/icons/icon-search-white@2x.png);
  }
  .lui_portal_header_menu_frame .lui_portal_header_menu_item_left,
  .lui_portal_header_menu_frame .lui_portal_header_menu_item_right{
    background-image: url(../images/icons/icon-arrow@2x.png);
  }
}

/* 经典页眉 Ends */

/* 多页签页眉 Starts */

.lui_portal_header_complex_content{}
.lui_portal_header_complex_frame {
  position:relative;
  width: auto;
  height:120px;
  padding-left: 15px;
  padding-right: 15px;
  background: #131c47 url(../images/portal/header_bg.png) repeat-x left top;
  /*-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .15);
     -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .15);
      -ms-box-shadow: 0 1px 1px rgba(0, 0, 0, .15);
       -o-box-shadow: 0 1px 1px rgba(0, 0, 0, .15);
          box-shadow: 0 1px 1px rgba(0, 0, 0, .15);*/
}
.lui_portal_header_complex_frame:before,
.lui_portal_header_simple_frame:before{
  z-index:-1;
}
.lui_portal_header_complex_frame:before,
.lui_portal_header_menu_frame:before,
.lui_portal_header_simple_frame:before{
  position:absolute;
  right:0;
  top:0;
  content: '';
  display:block;
  width:560px;
  height:120px;
  background:url(../images/portal/v.png) no-repeat right top;
}
.lui_portal_header_simple_frame:before{
  height:90px;
  background:url(../images/portal/v.png) no-repeat right bottom;
}
.lui_portal_header_complex_content,
.lui_portal_header_menu_content{
  position:relative;
}
.lui_portal_header_complex_content:before{
  z-index:-1;
}
.lui_portal_header_complex_content:before,
.lui_portal_header_menu_content:before,
.lui_portal_header_simple_content:before{
  position:absolute;
  right:0;
  top:0;
  content: '';
  display:block;
  width:100%;
  height:120px;
  background:url(../images/portal/v15.png) no-repeat center;
  transition-duration: 0.3s;
  animation: pulse 3s linear 2;
}
.lui_portal_header_simple_content:before{
  height:90px;
  background:url(../images/portal/v15-2.png) no-repeat center;
}
.lui_tlayout_header_box:before{
  position:absolute;
  left:50%;
  top:0;
  content: '';
  display:block;
  width:336px;
  height:71px;
  margin:0 0 0 -254px;
  background:url(../images/portal/v15-thead.png) no-repeat center;
  transition-duration: 0.3s;
  animation: pulse 3s linear 2;
  z-index:0;
}

@keyframes pulse {
  0% {
    transform: scale(0.94);
    opacity: 0.1;
    filter: alpha(opacity=10);
  }
  50% {
    transform: scale(1);
    opacity: 0.4;
    filter: alpha(opacity=40);
  }
  80% {
    transform: scale(0.94);
    opacity: 0.6;
    filter: alpha(opacity=60);
  }
  100% {
    transform: scale(1);
    opacity: 100;
    filter: alpha(opacity=100);
  }

}
.lui_portal_header_complex_search{
  position:absolute;
  right:0;
  top:60px;
  z-index:9;
}
.lui_portal_header_complex_frame .lui_portal_header_complex_logo {
  position: static;
  float: left;
  margin-top:0px;
}
.lui_portal_header_complex_frame .lui_portal_header_complex_logo .lui_portal_header_logo_div {
  margin-top: 0;
  height: 40px;
  line-height: 40px;
}
.lui_portal_header_complex_frame .lui_portal_header_complex_logo .lui_portal_header_logo_div img{
  max-height: 100%;
}

.lui_portal_quick .lui_portal_header_complex_content,
.tTempalte .lui_portal_header_complex_content,
.lui_portal_quick .lui_portal_header_complex_menu,
.tTempalte .lui_portal_header_complex_menu {
  max-width: inherit!important;
}
.lui_portal_header_complex_frame .lui_portal_header_complex_menu{
  position:relative;
  margin-top: 0;
  padding-top: 20px;
  padding-bottom: 5px;
  z-index:1;
}

.lui_portal_header_complex_frame .lui_portal_header_complex_content .lui_portal_header_icon_arrow{
  width: 0;
  background-image: none;
}
.lui_portal_header_complex_frame .lui_portal_header_text_over .lui_portal_header_icon_arrow{
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.lui_portal_header_complex_frame .lui_portal_header_complex_content .lui_portal_header_text{
  margin-top: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #44cef8;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.lui_portal_header_complex_frame .lui_portal_header_complex_content .lui_portal_header_text_over{
  color: #2f84fb;
  background-color: #fff;
  box-shadow: 0 0 7px rgba(0,0,0,.15);
}
.lui_portal_header_complex_frame .lui_portal_header_hitch .lui_icon_hitch{
  background-position: -64px 0;
}
.lui_portal_header_complex_frame .lui_portal_header_text_over .lui_icon_s_collect{
  background-position: -64px -32px;
}


.lui_portal_header_complex_frame .lui_portal_header_menu_item_div,
.lui_portal_header_complex_frame .lui_portal_header_menu_item_current {
  height: 30px;
  border-bottom: 0;
  position: relative;
}
.lui_portal_header_complex_frame .lui_portal_header_menu_item_frame .lui_portal_header_menu_item_div,
.lui_portal_header_complex_frame .lui_portal_header_menu_item_frame .lui_portal_header_menu_item_current {
  margin-right: 5px;
  margin-left: 5px;
}
.lui_portal_header_complex_frame .lui_portal_header_menu_item_c {
  margin-top: 0;
  padding-left: 10px;
  padding-right: 10px;
  height: 30px;
  line-height: 30px;
  color: #fff;
  background-color: transparent;
  transition-duration: 0.3s;
  transition:all 0.6s;
}
.lui_portal_header_complex_frame .lui_portal_header_menu_item_hover .lui_portal_header_menu_item_c,
.lui_portal_header_complex_frame .lui_portal_header_menu_item_current .lui_portal_header_menu_item_c,
.lui_portal_header_complex_frame .lui_portal_header_menu_item_current:hover .lui_portal_header_menu_item_c{
  color: #44cef8;
  text-decoration: none;
  background-color: transparent;
  -moz-transform:scale(0.9,1);
  -webkit-transform:scale(0.9,1);
  -o-transform:scale(0.9,1);
  -ms-transform:scale(0.9,1);
  transform:scale(0.9,1);
}
.lui_portal_header_complex_frame .lui_portal_header_menu_item_line{
  width: 3px;
  height: 30px;
  background-image: none;
  position: relative;
}
.lui_portal_header_complex_frame .lui_portal_header_menu_item_line:before{
  content: '';
  height: 16px;
  display: none;
  border-left: 1px solid #fff;
  border-left: 1px solid rgba(255,255,255,.5);
  position: absolute;
  left: 1px;
  top: 50%;
  margin-top: -8px;
}
.lui_portal_header_complex_frame .lui_portal_header_menu_item_left,
.lui_portal_header_complex_frame .lui_portal_header_menu_item_right{
  width: 20px;
  height: 30px;
  border-radius: 4px;
  background: url(../images/icons/icon-arrow.png) no-repeat 2px 50%;
  background-size: auto 16px;
  transition: background-color .3s;
}
.lui_portal_header_complex_frame .lui_portal_header_menu_item_left{
  background-position: 4px 50%;
}
.lui_portal_header_complex_frame .lui_portal_header_menu_item_right{
  background-position: -12px 50%;
}
.lui_portal_header_complex_frame .lui_portal_header_menu_item_left:hover,
.lui_portal_header_complex_frame .lui_portal_header_menu_item_right:hover{
  opacity: .75;
  filter: alpha(opacity=75);
  background-color: #2f84fb;
}
@media screen and (-webkit-min-device-pixel-ratio: 2){
  .lui_portal_header_complex_frame .lui_portal_header_complex_search .lui_portal_header_search_btn.search_btn_icon input{
    background-image: url(../images/icons/icon-search-white@2x.png);
  }
  .lui_portal_header_complex_frame .lui_portal_header_menu_item_left,
  .lui_portal_header_complex_frame .lui_portal_header_menu_item_right{
    background-image: url(../images/icons/icon-arrow@2x.png);
  }
}
/* 多页签页眉 Ends */

/* 简洁页眉 Starts */
.lui_portal_header_zone_frame_h {
  height: 50px;
}
.lui_portal_header_zone_frame {
  width: auto;
  padding-left: 15px;
  padding-right: 15px;
  /* background: #131c47 url(../images/portal/header-common-bg.png) repeat-x 50% -26px; */
  background: #131c47 url(../images/portal/header_bg.png) repeat-x left top;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .15);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .15);
  -ms-box-shadow: 0 1px 1px rgba(0, 0, 0, .15);
  -o-box-shadow: 0 1px 1px rgba(0, 0, 0, .15);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .15);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}
.lui_portal_header_zone_frame .lui_portal_header_zone_frame_h,
.lui_portal_header_zone_frame .lui_portal_header_zone_content{
  height: 50px;
}
.lui_portal_header_zone_frame .lui_portal_header_zone_logo{
  margin-top: 14px;
  width: 175px;
}
.lui_portal_header_zone_frame .lui_portal_header_zone_content .lui_portal_header_text{
  margin-top: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  transition-duration: .3s;
}
.lui_portal_header_zone_frame .lui_portal_header_zone_content .lui_portal_header_text.lui_portal_header_text_over{
  color: #fff;
  background-color: #2f84fb;
}
.lui_portal_header_zone_frame .lui_portal_header_text_over .lui_icon_s_collect {
  background-position: -16px 0;
}
.lui_portal_header_zone_frame .lui_portal_header_icon_arrow{
  width: 0;
  background-image: none;
}
.lui_portal_header_zone_frame .lui_portal_header_text_over .lui_portal_header_icon_arrow{
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.lui_portal_header_zone_frame .lui_portal_header_zone_search{
  margin-top: 10px;
}
.lui_portal_header_zone_frame .lui_portal_header_zone_search .lui_portal_header_search_include{
  margin-top: 0;
  font-size: 0;
}
.lui_portal_header_zone_frame .lui_portal_header_zone_search .lui_portal_header_search_input input{
  height: 30px;
  line-height: 30px;
  color: #fff;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #0071c8;
}
.lui_portal_header_zone_frame .lui_portal_header_zone_search .lui_portal_header_search_btn.search_btn_icon{
  margin-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.lui_portal_header_zone_frame .lui_portal_header_zone_search .lui_portal_header_search_btn{
  margin: 0 5px 0 0;
  padding: 0 5px;
  height: 30px;
  line-height: 30px;
  color: #fff;
  border-radius: 4px;
  background-color: #2f5faf;
  background-image: none;
  transition-duration: .3s;
}
.lui_portal_header_zone_frame .lui_portal_header_zone_search .lui_portal_header_search_btn:hover{
  color: #fff;
  border-color: #2f5faf;
  background-color: #2f5faf;
}
.lui_portal_header_zone_frame .lui_portal_header_zone_search .lui_portal_header_search_btn:hover input{
  color: inherit;
}
/* 简洁页眉 Ends */

/* 简洁多页签页眉 Starts */
.lui_portal_header_simple_frame_h {
  height: 90px;
}
.lui_portal_header_simple_frame{
  background:#131c47 url(../images/portal/header_bg.png) repeat-x left;
}
.lui_portal_header_simple_frame .lui_portal_header_simple_content .lui_portal_header_text {
  margin-top: 0;
  padding: 5px;
  color: #fff;
  line-height: 20px;
  cursor: pointer;
}
.lui_portal_header_simple_frame .lui_portal_header_simple_content .lui_portal_header_text_over{
  color: #2f84fb;
  background-color: #fff;
}
.lui_portal_header_simple_frame .lui_portal_header_simple_content .lui_portal_header_icon_arrow {
  width: 0;
  background-image: none;
}
.lui_portal_header_simple_frame .lui_portal_header_text_over .lui_portal_header_icon_arrow {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.lui_portal_header_simple_frame .lui_portal_header_hitch .lui_icon_hitch{
  background-position: -64px 0;
}
.lui_portal_header_simple_frame .lui_portal_header_text_over .lui_icon_s_collect{
  background-position: -16px -32px;
}

.lui_portal_header_simple_frame .lui_portal_header_simple_menu_wrapper {
  padding: 10px 15px;
  width: auto;
  height: 40px;
  background: transparent;
}
.lui_portal_header_simple_frame .lui_portal_header_simple_switch{
  margin: 5px 250px 0 160px;
}
.lui_portal_header_simple_frame .lui_portal_header_simple_logo{
  margin-top: -5px;
  position: absolute;
  left: 0;
  top: 0;
}
.lui_portal_header_simple_frame .lui_portal_header_simple_logo .lui_portal_header_logo_div{
  width: 145px;
  height: 40px;
  line-height: 40px;
}

.tTempalte .lui_portal_header_simple_frame .lui_portal_header_simple_search,
.lui_portal_quick .lui_portal_header_simple_frame .lui_portal_header_simple_search{
  right: 0;
}

.lui_portal_header_simple_frame .lui_portal_header_simple_search .lui_portal_header_search_include{
  margin-top: 0;
  font-size: 0;
}
.lui_portal_header_simple_frame .lui_portal_header_simple_search .lui_portal_header_search_input{
  margin-right: 0;
  width: 185px;
  display: inline-block;
  vertical-align: middle;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  border: 1px solid transparent;
  background-color: #1e68b1;
  background-color: rgba(30,104,177,.4);
}
.lui_portal_header_simple_frame .lui_portal_header_simple_search .lui_portal_header_search_input input {
  border: 0;
  width: 92%;
  color: #fff;
  font-size: 14px;
  height: 20px;
  line-height: 20px;
  border: 0;
  padding: 4px 4%;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  background-color: transparent;
}
.lui_portal_header_simple_frame .lui_portal_header_simple_search .lui_portal_header_search_btn {
  width: auto;
  height: auto;
  line-height: 20px;
  padding: 0;
  cursor: pointer;
  margin-right: 4px;
  display: inline-block;
  vertical-align: top;
  border: 0;
  background-color: transparent;
}
.lui_portal_header_simple_frame .lui_portal_header_simple_search .lui_portal_header_search_btn input {
  margin-left: 0;
  padding: 0 5px;
  min-width: 40px;
  height: 28px;
  line-height: 28px;
  color: #fff;
  font-size: 14px;
  border: 1px solid transparent;
  background-color: #1e68b1;
  background-color: rgba(30,104,177,.4);
  border-radius: 40px;
  cursor: pointer;
  position: static;
  transition-duration: .3s;
}
.lui_portal_header_simple_frame .lui_portal_header_simple_search .lui_portal_header_search_btn:hover input{
  color: #fff;
  background-color: #2f84fb;
}
.lui_portal_header_simple_frame .lui_portal_header_simple_search .lui_portal_header_search_btn.search_btn_icon {
  margin-right: 0;
}
.lui_portal_header_simple_frame .lui_portal_header_simple_search .lui_portal_header_search_btn.search_btn_icon input {
  min-width: 24px;
  width: auto;
  font-size: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-image: url(../images/icons/icon-search-white.png);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 16px auto;
}
.lui_portal_header_simple_search .lui_portal_header_search_btn#_SEARCH_MODEL_{
  border-left: 1px solid #fff;
  margin-top: 4px;
  margin-left: 8px;
}
.lui_portal_header_simple_search .lui_portal_header_search_btn#_SEARCH_MODEL_ input{
  font-size: 14px;
  color: #fff;
}
.lui_portal_header_simple_frame .lui_portal_header_menu_item_frame{
  height: 30px;
}
.lui_portal_header_simple_frame .lui_portal_header_menu_item_div,
.lui_portal_header_simple_frame .lui_portal_header_menu_item_current{
  height: 30px;
  line-height: 30px;
  border: 0;
  position: relative;
}
.lui_portal_header_simple_frame .lui_portal_header_menu_item_div .lui_portal_header_menu_item_c,
.lui_portal_header_simple_frame .lui_portal_header_menu_item_current .lui_portal_header_menu_item_c{
  margin-top: 0;
  padding: 0 8px;
  height: 30px;
  line-height: 30px;
  color: #fff;
  font-size: 16px;
  border-radius: 40px;
  background-color: transparent;
  transition-duration: .3s;
}
.lui_portal_header_simple_frame .lui_portal_header_menu_item_hover .lui_portal_header_menu_item_c,
.lui_portal_header_simple_frame .lui_portal_header_menu_item_current .lui_portal_header_menu_item_c,
.lui_portal_header_simple_frame .lui_portal_header_menu_item_current:hover .lui_portal_header_menu_item_c {
  color: #44CEF8;
  background:transparent;
}

.lui_portal_header_simple_frame .lui_portal_header_menu_item_l{
  margin-left: 2px;
  margin-right: 2px;
}
.lui_portal_header_simple_frame .lui_portal_header_menu_item_line{
  background-image: none;
  width: 0;
}
.lui_portal_header_simple_frame .lui_portal_header_menu_item_left,
.lui_portal_header_simple_frame .lui_portal_header_menu_item_right{
  width: 16px;
  height: 30px;
  border-radius: 4px;
  background: url(../images/icons/icon-arrow.png) no-repeat 0 50%;
  background-size: auto 16px;
  transition: background-color .3s;
}
.lui_portal_header_simple_frame .lui_portal_header_menu_item_left{
  background-position: 0 50%;
}
.lui_portal_header_simple_frame .lui_portal_header_menu_item_right{
  background-position: -16px 50%;
}
.lui_portal_header_simple_frame .lui_portal_header_menu_item_left:hover,
.lui_portal_header_simple_frame .lui_portal_header_menu_item_right:hover{
  opacity: .75;
  filter: alpha(opacity=75);
  background-color: #2f84fb;
}
@media screen and (-webkit-min-device-pixel-ratio: 2){
  .lui_portal_header_simple_frame .lui_portal_header_simple_search .lui_portal_header_search_btn.search_btn_icon input {
    background-image: url(../images/icons/icon-search-white@2x.png);
  }
  .lui_portal_header_simple_frame .lui_portal_header_menu_item_left,
  .lui_portal_header_simple_frame .lui_portal_header_menu_item_right{
    background-image: url(../images/icons/icon-arrow@2x.png);
  }
}

/* 简洁多页签页眉 Ends */

/* 页眉 Ends
   ========================================================================== */


/* 左侧栏导航栏 Starts
   ========================================================================== */
.lui_list_left_sidebar_frame,
.lui_portal_quick .lui_list_left_sidebar_frame {
  background: url(../images/portal/left_sidebar_bg.jpg) repeat top center;
}


.lui_list_left_sidebar_frame:after,
.lui_list_left_sidebar_frame:before,
.lui_portal_quick .lui_list_left_sidebar_frame:after,
.lui_portal_quick .lui_list_left_sidebar_frame:before{
  content: '';
  display: block;
  background-repeat: no-repeat;
  background-position: 0 50%;
  position: absolute;
  z-index: -1;
}

.lui_list_left_sidebar_frame:after,
.lui_portal_quick .lui_list_left_sidebar_frame:after{
  width: 200px;
  height: 201px;
  background-image: url(../images/portal/asideLeft-bottom-img.png);
  position: fixed;
  left: 0;
  bottom: 0;
}

/*旧版工作台start*/
.lui_list_left_sidebar_frame.old:after,
.lui_portal_quick .lui_list_left_sidebar_frame.old:after{
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
}
/*旧版工作台end*/

.lui_list_left_sidebar_innerframe > div{
  color: #fff;
  background-color: transparent!important;
}
.lui_list_left_sidebar_frame{
  min-height: inherit;
}
.lui_list_left_sidebar_frame .lui_person_usertitle {
  padding: 10px;
  text-align: center;
  color: #fff;
  background-color: transparent;
}
.lui_list_left_sidebar_frame .lui_person_usertitle > .clr {
  padding-top: 10px;
}
.lui_list_left_sidebar_frame .lui_person_usertitle .com_author{
  color: inherit;
}
.com_author:hover{
  color: inherit;
  text-decoration: underline;
}
.lui_list_left_sidebar_frame .lui_person_userpic {
  margin: 0 auto 5px;
  background-color: rgba(255, 255, 255, .1);
  position: relative;
}
.lui_list_left_sidebar_frame .lui_person_userpic,
.lui_list_left_sidebar_frame .lui_person_userpic > img,
.lui_list_left_sidebar_frame .lui_person_usermask {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 0;
}
.lui_list_left_sidebar_frame .lui_person_usermask{
  line-height: 80px;
  color: rgba(255, 255, 255, .85);
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, .65);
  transition-duration: .3s;
}
.lui_list_left_sidebar_frame .lui_person_usermask:after{
  content: '';
  width: 22px;
  height: 22px;
  background: url(../images/portal/person_usermask_edit.png) no-repeat 50%;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}
.lui_list_left_sidebar_frame .lui_person_usertitle .lui_person_dept {
  text-align: center;
  padding: 0 10px;
  color: #fff;
}

.lui_list_left_sidebar_frame .lui_list_create_frame{
  background-color: transparent;
}
.lui_list_left_sidebar_frame .lui-navtitle-card .lui-navtitle-card-head{
  border: 0;
}

.lui_list_left_sidebar_frame .lui_accordionpanel_frame{
  border-radius: 0;
  border: 0;
  background-color: transparent;
  box-shadow: none;
}
.lui_list_left_sidebar_frame .lui_accordionpanel_content_frame{
  margin-bottom: 2px;
}
.lui_list_left_sidebar_frame .lui_accordionpanel_content_c{
  margin: 0;
  padding: 0;
}
.lui_list_left_sidebar_frame .lui_accordionpanel_header_l{
  border-radius: 0;
  border-top: 1px solid #263680;
  border-bottom: 1px solid #263680;
  background-color: #263680;
}
.lui_list_left_sidebar_frame .lui_accordionpanel_header_l:hover {
  border-top-color: #2A3F9B;
  border-bottom-color: #2A3F9B;
  background-color: #2A3F9B;
}
.lui_list_left_sidebar_frame .lui_accordionpanel_content_l{
  margin-top: -1px;
}
.lui_list_left_sidebar_frame .lui_accordionpanel_nav_c{
  padding-top: 9px;
  padding-bottom: 9px;
  height: 20px;
  border-top: 0;
  position: relative;
}
.lui_list_left_sidebar_frame .lui_accordionpanel_nav_c .lui_accordionpanel_nav_text,
.lui_list_left_sidebar_frame .lui_accordionpanel_nav_c .lui_tabpanel_navs_item_title{
  font-size: inherit;
}
.lui_list_left_sidebar_frame .lui_accordionpanel_nav_c .lui_accordionpanel_nav_text{
  padding: 0 0 0 15px;
}

.lui_list_left_sidebar_frame .lui_portlet_operation {
  margin-bottom: 0;
  width: auto;
  color: #fff;
  font-size: 14px;
  border: 0;
  background-color: transparent;
}
.lui_list_left_sidebar_frame .lui_portlet_operation:hover{
  color: #fff;
  background-color: transparent;
  text-decoration: underline;
}
.lui_list_left_sidebar_frame .lui_accordionpanel_content_c .lui_panel_content_inside > div {
  padding: 0;
}

.lui_list_left_sidebar_frame .lui_list_nav_list li a {
  padding: 8px 15px;
  color: #fff;
  border-radius: 0;
  opacity: 1;
  filter: alpha(opacity=100);
  border-top:1px transparent solid;
  border-bottom:1px transparent solid;
}
.lui_list_left_sidebar_frame .lui_list_nav_list li a:hover,
.lui_list_left_sidebar_frame .lui_list_nav_list li a:active,
.lui_list_left_sidebar_frame .lui_list_nav_list li a.active,
.lui_list_left_sidebar_frame .lui_list_nav_list li.lui_list_nav_selected a,
.lui_list_left_sidebar_frame .lui_list_nav_list li.lui_list_nav_selected a:hover,
.lui_list_left_sidebar_frame .lui_dataview_cate .lui_icon_on .lui_dataview_cate_item_txt,
.lui_list_left_sidebar_frame .lui_dataview_cate .lui_icon_on_select .lui_dataview_cate_item_txt,
.lui_dataview_cate .lui_dataview_cate_item.lui_icon_on_select {
  color: #fff;
  font-weight: normal;
  background-color:#11256D;
  background-color: rgba(4, 71, 255, 0.4);
  border-top:1px #11256D solid;
  border-bottom:1px #11256D solid;
  opacity: 1;
  filter: alpha(opacity=100);
}

.lui_list_left_sidebar_frame .lui_list_nav_frame{
  border: 0;
}

.lui_list_left_sidebar_frame .lui_dataview_cate{}
.lui_list_left_sidebar_frame .lui_dataview_cate .lui_dataview_cate_item{
  margin: 1px 0;
}
.lui_list_left_sidebar_frame .lui_dataview_cate .lui_dataview_cate_item_txt{
  padding: 8px 15px;
  line-height: 20px;
  color: #fff;
  opacity: 1;
  filter: alpha(opacity=100);
  border-top:1px transparent solid;
  border-bottom:1px transparent solid;
}

/* .lui_dataview_cate .lui_dataview_cate_item.lui_icon_on_select{
	background:transparent;
} */

.lui_list_left_sidebar_frame .lui_dataview_cate .lui_dataview_cate_item_sign {
  width: 10px;
  height: 10px;
  display: block;
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -5px;
  background:url(../images/portal/cate-item-arr.png) no-repeat center;
}
/*.lui_accordionpanel_frame .lui_dataview_cate .lui_dataview_cate_item_sign .lui_dataview_cate_item_sign_mtr1,
.lui_accordionpanel_frame .lui_dataview_cate .lui_dataview_cate_item_sign .lui_dataview_cate_item_sign_mtr2{
	margin-top: 0;
  border-width: 5px;
  top: 0;
}
.lui_list_left_sidebar_frame .lui_dataview_cate .lui_dataview_cate_item_sign .lui_dataview_cate_item_sign_mtr1{
	border-left-color: #fff;
}
.lui_list_left_sidebar_frame .lui_dataview_cate .lui_dataview_cate_item_sign .lui_dataview_cate_item_sign_mtr2{
	border-left-color: #1c2550;
}
.lui_list_left_sidebar_frame .lui_dataview_cate .lui_icon_on .lui_dataview_cate_item_sign .lui_dataview_cate_item_sign_mtr1{
	border-left-color: #fff;
}
.lui_list_left_sidebar_frame .lui_dataview_cate .lui_icon_on .lui_dataview_cate_item_sign .lui_dataview_cate_item_sign_mtr2{
	border-left-color: #1c2550;
}*/

.lui_list_left_sidebar_frame .lui_menu_frame_ver .lui_menu_item{
  margin-bottom: 1px;
}
.lui_list_left_sidebar_frame .lui_menu_frame_ver .lui_item{
  height: 20px;
  padding: 8px 15px;
  color: #fff;
  transition: none;
  opacity: 1;
  filter: alpha(opacity=100);
  position: relative;
}
.lui_list_left_sidebar_frame .lui_menu_frame_ver .lui_item.lui_icon_on {
  color: #fff;
  font-weight: normal;
  background-color: #33a1f6;
  background-color: rgba(255,255,255,.2);
  text-shadow: 1px 1px 1px rgba(0,0,0,.35);
  opacity: 1;
  filter: alpha(opacity=100);
}
.lui_list_left_sidebar_frame .lui_menu_frame_ver .lui_icon_s{
  position: relative;
  top: 1px;
}
.lui_list_left_sidebar_frame .lui_menu_frame_ver .lui_item_sign,
.lui_list_left_sidebar_frame .lui_menu_frame_ver .lui_item_sign:after{
  margin: 0;
  position: absolute;
  top: 50%;
  margin-top: -5px;
  /* background:url(../images/portal/cate-item-arr.png) no-repeat center; */
}
.lui_list_left_sidebar_frame .lui_menu_frame_ver .lui_item_sign:after{
  display:none;
}
.lui_list_left_sidebar_frame .lui_menu_frame_ver .lui_item_sign{
  width: 10px;
  height: 10px;
  display: block;
  background:url(../images/portal/cate-item-arr.png) no-repeat center;
  border:none;
}
/* .lui_list_left_sidebar_frame .lui_menu_frame_ver .lui_item_sign{
  border-left-color: #fff;
  right: -5px;
}
.lui_list_left_sidebar_frame .lui_menu_frame_ver .lui_item_sign:after{
  border-left-color: #2f84fb;
  right: -3px;
}
.lui_list_left_sidebar_frame .lui_menu_frame_ver .lui_icon_on .lui_item_sign:after{
  border-left-color: #33a1f6;
} */

/* 左侧栏导航栏 Ends
   ========================================================================== */


/* 注脚 Starts
   ========================================================================== */
.lui_portal_footer_frame {
  height: 78px;
  background-color: #fff;
  -webkit-box-shadow: 0 -2px 8px -2px rgba(0, 0, 0, .125);
  -moz-box-shadow: 0 -2px 8px -2px rgba(0, 0, 0, .125);
  -ms-box-shadow: 0 -2px 8px -2px rgba(0, 0, 0, .125);
  -o-box-shadow: 0 -2px 8px -2px rgba(0, 0, 0, .125);
  box-shadow: 0 -2px 8px -2px rgba(0, 0, 0, .125);
}
.lui_portal_footer_b_info,
.lui_portal_footer_c_info{
  line-height: 24px;
  color: #666;
  font-size: 12px;
}
/* 注脚 Ends
   ========================================================================== */


/* portal.css Ends ++++++++++++++++++++++++++++++++++++++++ */

/*优化默认页眉搜索框不居中问题start*/
.lui_portal_header_zone_search .lui_portal_header_search_btn input{
  height: 30px;
  line-height: 30px;
}
.lui_list_left_sidebar_frame .lui_accordionpanel_header_l{
  border-radius: 0;
  border-top: 1px solid #263680;
  border-bottom: 1px solid #263680;
  background-color: #263680;
}
/*优化默认页眉搜索框不居中问题end*/

/*优化学习运营二级页面左侧图片超出左侧导航栏starts*/
body .status_expand_innerframe_left:after,
body .status_expand_innerframe_left .status_expand_innerframe_left:after{
  background:none;
}
/*优化学习运营二级页面左侧图片超出左侧导航栏ends*/

/* 强制不换行-经典页眉下搜索不掉下来 */
.lui_portal_header_menu_search .lui_portal_header_search_include {
  white-space: nowrap;
}

/* V16新默认页眉 == 新默认页眉高度可配置，尽量不要调整高度，高度有三个档位 50、60、70 默认50px == */
.lui_portal_header .lui_single_menu_header_1.lui_single_menu_header {
  /*height:50px;*/
  background: url(../images/image-style/header_single_menu_frame_bg.png) no-repeat center;
  background-color: #131c47;
}

.lui_portal_header .lui_single_menu_header_1.lui_single_menu_header .lui_single_menu_header_menu_item_body .lui_single_menu_header_menu_item_div {
  /*height: 50px;
		line-height: 50px;*/
  position: relative;
}

.lui_portal_header .lui_single_menu_header_1.lui_single_menu_header .lui_single_menu_header_menu_item_body .lui_single_menu_header_menu_item_current,
.lui_portal_header .lui_single_menu_header_1.lui_single_menu_header .lui_single_menu_header_menu_item_body .lui_single_menu_header_menu_item_div:hover {
  /*height: 50px;
		line-height: 50px;*/
  background-color: transparent;
}

.lui_portal_header .lui_single_menu_header_1.lui_single_menu_header .lui_single_menu_header_menu_item_body .lui_single_menu_header_menu_item_current:before,
.lui_portal_header .lui_single_menu_header_1.lui_single_menu_header .lui_single_menu_header_menu_item_body .lui_single_menu_header_menu_item_div:hover:before {
  content: '';
  display: inline-block;
  position: absolute;
  left: 50%;
  bottom: 8px;
  width: 24px;
  height: 2px;
  margin-left: -12px;
  background: #FFFFFF;
  border-radius: 1px;
}
.lui_portal_header .lui_single_menu_header_1.lui_single_menu_header .lui_single_menu_header_infobar .lui_single_menu_header_item.hover:before {
  display: none;
}


.lui_portal_header .lui_single_menu_header_1.lui_single_menu_header .lui_single_menu_header_menu_item_line {
  height: 50px !important;
  line-height: 50px !important;
}

.lui_portal_header .lui_single_menu_header_1.lui_single_menu_header .lui_single_menu_header_menu_item_left,
.lui_portal_header .lui_single_menu_header_1.lui_single_menu_header .lui_single_menu_header_menu_item_right {
  top: 13px;
}


.lui_portal_header .lui_single_menu_header_1.lui_single_menu_header .lui_single_menu_header_logo .lui_portal_header_logo_div {
  height: 40px;
  line-height: 40px;
}


.lui_portal_header .lui_single_menu_header_1.lui_single_menu_header .lui_portal_header_search_input {
  height: 34px;
  line-height: 34px;
}

.lui_portal_header .lui_single_menu_header_1.lui_single_menu_header .lui_single_menu_header_searchbar .lui_single_menu_header_search_input {
  /* margin-right: 30px; */
  background: #0C2E94;
  /* border-radius: 4px; */
  /* padding: 0px; */
}


.lui_portal_header .lui_single_menu_header_1.lui_single_menu_header .lui_single_menu_header_item.hover {
  background: #2f84fb;
}


.lui_portal_header .lui_single_menu_header_1.lui_single_menu_header .lui_single_menu_header_menu span {
  padding: 0 15px;
}


.lui_portal_header .lui_single_menu_header_1.lui_single_menu_header .lui_single_menu_header_logout:hover .lux_header_default {
  color: #fff;
}

.lui_portal_header .lui_single_menu_header_1.lui_single_menu_header .lux_header_default.lui_icon_l_icon_favorite {
  display: none;
}

body .lui_single_menu_header_1.lui_single_menu_header_portal_popup .lui_dataview_treemenu_flat_text a:hover,
body .lui_single_menu_header_1.lui_single_menu_header_portal_popup .lui_dataview_treemenu_flat_selected .lui_dataview_treemenu_flat_text a {
  color:#2f84fb;
  background-color: #f8f8f8;
}
