
.lui_step_tabs_1_titleL {
	padding: 10px 0;
	background-color: #fff;
}
.lui_step_tabs_1_titleR{}
.lui_step_tabs_1_titleM {
	width: auto;
	height: auto;
	line-height: inherit;
}
.lui_step_tabs_1_titleM:after,
.lui_step_tabs_1_titleM ul:after,
.lui_step_tabs_1_titleM ul > li:after{
	content: '';
	display: table;
	visibility: hidden;
	clear: both;
}
.lui_step_tabs_1_titleM ul{
	background-color: transparent;
	float: left;
}
.lui_step_tabs_1_titleM ul > li{
	list-style: none;
	margin-right: 0;
	margin-left: -27px;
	padding-right: 27px;
	float: left;
	height: auto;
	background-color: transparent;
	background-image: url(../images/step/step_arrow.png);
	background-repeat: no-repeat;
	background-position: 100% 0;
	cursor: default;
	position: relative;
}
.lui_step_tabs_1_titleM ul > li:first-child .no,
.lui_step_tabs_1_titleM ul > li:first-child .no span,
.lui_step_tabs_1_titleM ul > li:first-child .no a{
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.lui_step_tabs_1_titleM ul > li:first-child.fulfill .no{
	padding-left: 0;
}


.lui_step_tabs_1_titleM ul > li:last-child{
	padding-right: 0;
	background-image: none;
}
.lui_step_tabs_1_titleM ul > li:last-child .title {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.lui_step_tabs_1_titleM ul > li.current:last-child .title {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.lui_step_tabs_1_titleM ul > li[data-lui-index="0"]{ z-index: 10; margin-left: 0;}
.lui_step_tabs_1_titleM ul > li[data-lui-index="1"]{ z-index: 9;}
.lui_step_tabs_1_titleM ul > li[data-lui-index="2"]{ z-index: 8;}
.lui_step_tabs_1_titleM ul > li[data-lui-index="3"]{ z-index: 7;}
.lui_step_tabs_1_titleM ul > li[data-lui-index="4"]{ z-index: 6;}
.lui_step_tabs_1_titleM ul > li[data-lui-index="6"]{ z-index: 5;}
.lui_step_tabs_1_titleM ul > li[data-lui-index="7"]{ z-index: 4;}
.lui_step_tabs_1_titleM ul > li[data-lui-index="8"]{ z-index: 3;}
.lui_step_tabs_1_titleM ul > li[data-lui-index="9"]{ z-index: 2;}
.lui_step_tabs_1_titleM ul > li[data-lui-index="10"]{ z-index: 1;}

.lui_step_tabs_1_titleM ul > li[data-lui-index="0"].current .no{
	padding-left: 8px;
}

.lui_step_tabs_1_titleM ul > li .no,
.lui_step_tabs_1_titleM ul > li .no span,
.lui_step_tabs_1_titleM ul > li .no a,
.lui_step_tabs_1_titleM ul > li .title{
	height: 50px;
	line-height: 50px;
	border-bottom: 0;
	background-image: none;
	background-color: #e7f4fa;
}
.lui_step_tabs_1_titleM ul > li .no {
	padding-left: 27px;
	float: left;
}
.lui_step_tabs_1_titleM ul > li .no a{
	float: none;
	text-align: center;
	width: 32px;
	color: #759eb4;
	font-size: 24px;
	display: block;
}
.lui_step_tabs_1_titleM ul > li .no span{
	padding-right: 0;
	float: none;
}
.lui_step_tabs_1_titleM ul > li .title {
	padding-left: 0;
	padding-right: 8px;
	color: #759eb4;
	font-size: inherit;
	float: left;
}

.lui_step_tabs_1_titleM ul > li.fulfill{
	padding-right: 27px;
	background-color: transparent;
	background-image: url(../images/step/step_arrow_fulfill.png);
	background-repeat: no-repeat;
	background-position: 100% 0;
}
.lui_step_tabs_1_titleM ul > li.fulfill .no,
.lui_step_tabs_1_titleM ul > li.fulfill .no span,
.lui_step_tabs_1_titleM ul > li.fulfill .no a,
.lui_step_tabs_1_titleM ul > li.fulfill .title{
	height: 50px;
	line-height: 50px;
	border-bottom: 0;
	background-image: none;
	background-color: #4bb9f7;
}
.lui_step_tabs_1_titleM ul > li.fulfill .no {
	padding-left: 27px;
	float: left;
}
.lui_step_tabs_1_titleM ul > li.fulfill .no a{
	float: none;
	text-align: center;
	width: 32px;
	color: #fff;
	font-size: 24px;
	display: block;
}
.lui_step_tabs_1_titleM ul > li.fulfill .no span{
	padding-right: 0;
	float: none;
}
.lui_step_tabs_1_titleM ul > li.fulfill .title {
	padding-left: 0;
	padding-right: 8px;
	color: #fff;
	font-size: inherit;
	float: left;
}

.lui_step_tabs_1_titleM ul > li.current{
	padding-right: 27px;
	background-color: transparent;
	background-image: url(../images/step/step_arrow_current.png);
	background-repeat: no-repeat;
	background-position: 100% 0;
}
.lui_step_tabs_1_titleM ul > li.current .no,
.lui_step_tabs_1_titleM ul > li.current .no span,
.lui_step_tabs_1_titleM ul > li.current .no a,
.lui_step_tabs_1_titleM ul > li.current .title{
	height: 50px;
	line-height: 50px;
	border-bottom: 0;
	background-image: none;
	background-color: #ff784f;
}
.lui_step_tabs_1_titleM ul > li.current .no {
	padding-left: 27px;
	float: left;
}
.lui_step_tabs_1_titleM ul > li.current .no a{
	float: none;
	text-align: center;
	width: 32px;
	color: #fff;
	font-size: 24px;
	display: block;
}
.lui_step_tabs_1_titleM ul > li.current .no span{
	padding-right: 0;
	float: none;
}
.lui_step_tabs_1_titleM ul > li.current .title {
	padding-left: 0;
	padding-right: 8px;
	color: #fff;
	font-size: inherit;
	float: left;
}



/* 步骤 */
.lui_step_buttons_wrapper {
	width: 100%;
	height: 89px;
	background: #fff;
}
.lui_step_buttons_wrapperL {
	border-top: 1px dotted #909090;
	margin: 0px auto;
}
.lui_step_buttons_btnList {
	padding: 15px 10px;
	position: static;
	top: 0;
	left: 0;
	width: auto;
	text-align: center;
}
.lui_step_buttons_wrapper .btn_step_cur.btn_step_nor {
	background: #bcbcbc;
	border: 1px solid #9d9d9d;
	cursor: pointer;
	height: 32px;
	line-height: 32px;
	text-align: center;
	color: #fff;
	font-size: 14px;
	margin-right: 14px;
}
.lui_step_buttons_wrapper .btn_step_cur {
	margin: 0 5px;
	border: 1px solid #2f84fb;
	border-radius: 4px;
	background-color: #2f84fb;
	cursor: pointer;
	height: 32px;
	line-height: 32px;
	text-align: center;
	color: #fff;
	font-size: 14px;
	transition: all .3s ease-in-out;
}
.lui_step_buttons_wrapper .btn_step_cur:hover{
	color: #fff;
	border-color: #2f84fb;
	background-color: #2f84fb;
}

/*KMS知识专辑步骤导航 Starts*/
body .kms_subject_navToolbar {
	margin-bottom: 0;
	height: auto;
	border: 0;
	background-color: #fff;
}
body .kms_subject_navToolbar > ul{}
body .kms_subject_navToolbar > ul:after,
body .kms_subject_navToolbar > ul:before{
	content: '';
	display: block;
	overflow: hidden;
}
body .kms_subject_navToolbar > ul:after{ clear: both; }
body .kms_subject_navToolbar > ul > li {
	list-style: none;
	float: left;
	height: 50px;
	margin-left: 0;
	margin-right: 5px;
	cursor: default;
	background: none;
	padding-right: 4px;
	position: relative;
}
body .kms_subject_navToolbar > ul > li .no {
	background: none;
	padding-left: 5px;
	height: 50px;
	line-height: 50px;
	position: absolute;
	left: 0;
	top:0;
}
body .kms_subject_navToolbar > ul > li .no span{
	float: left;
	background: none;
	padding-right: 14px;
	height: 50px;
	display: block;
}
body .kms_subject_navToolbar > ul > li .no a {
	float: left;
	background: #9d9d9d;
	display: block;
	text-align: center;
	width: 32px;
	height: 50px;
	line-height: 50px;
	color: #fff;
	font-family: Arial;
	font-size: 30px;
	/*border-bottom: 1px solid #212121;*/
}
body .kms_subject_navToolbar > ul > li .txt {
	background-color: #9d9d9d;
	/*border-bottom: 1px solid #212121;*/
	height: 50px;
	line-height: 50px;
	padding-left: 64px;
	padding-right: 10px;
	font-size: 16px;
	color: #fff;
}
body .kms_subject_navToolbar > ul > li.current,
body .kms_subject_navToolbar > ul > li.fulfill{
	background: none;
}
body .kms_subject_navToolbar > ul > li.current .no,
body .kms_subject_navToolbar > ul > li.fulfill .no {
	background: none;
}
body .kms_subject_navToolbar > ul > li.current .no span,
body .kms_subject_navToolbar > ul > li.fulfill .no span{
	float: left;
	background: none;
	padding-right: 14px;
	height: 50px;
	display: block;
}
body .kms_subject_navToolbar > ul > li.current .no a,
body .kms_subject_navToolbar > ul > li.fulfill .no a {
	float: left;
	background: #53b6ed;
	display: block;
	text-align: center;
	width: 32px;
	height: 50px;
	line-height: 50px;
	color: #fff;
	font-size: 31px;
	/*border-bottom: 1px solid #212121;*/
}
body .kms_subject_navToolbar > ul > li.current .txt,
body .kms_subject_navToolbar > ul > li.fulfill .txt {
	background: #53b6ed;
	/*border-bottom: 1px solid #212121;*/
	color: #fff;
}
body .kms_subject_navToolbar > ul > li .nav_itemR,
body .kms_subject_navToolbar > ul > li.current .nav_itemR,
body .kms_subject_navToolbar > ul > li.fulfill .nav_itemR {
	background: none;
	padding-right: 0;
}
/*KMS知识专辑步骤导航 Ends*/