
  /* 个人设置 Starts */
.lui_zone_base_up{
  height: auto;
  color: #2f84fb;
  transition-duration: .3s;
}
.lui_zone_base_up:hover{
  color: #2f84fb;
}
.lui_zone_detail_header_c{
  color: #2f84fb;
  font-size: 16px;
}
.lui_zone_detail_header_c .lui_zone_btn_edit,
.lui_zone_detail_header_c .lui_zone_btn_edit_r,
.lui_zone_detail_header_c .lui_zone_btn_edit_c {
  background-color: transparent;
  background-image: none;
  padding: 0;
  height: auto;
  line-height: inherit;
  color: inherit;
  font-size: inherit;
}
.lui_zone_btn_edit:hover,
.lui_zone_btn_edit:hover .lui_zone_btn_edit_r,
.lui_zone_btn_edit:hover .lui_zone_btn_edit_c{
  color: inherit;
  background-color: transparent;
  background-image: none;
}
.lui_zone_detail_header_c .lui_zone_btn_edit{
  padding: 1px 5px;
  line-height: 20px;
  color: #2f84fb;
  font-size: 12px;
  border: 1px solid #2f84fb;
  border-radius: 3px;
  background-color: #fff;
}
.lui_zone_detail_header_c .lui_zone_btn_edit:hover{
  color: #fff;
  border-color: #2f84fb;
  background-color: #2f84fb;
}
.lui_sys_zone_panel_nav{
  color: #2f84fb;
}
  /* 个人设置 Starts */

  /* 员工黄页通讯录 Starts */
body .lui_zone_address_iframe_wrap .lui_zone_address_containter{ background-color: transparent; }
body .lui_zone_address_iframe_wrap .lui_zone_address_content{
  border-radius: 4px;
  border: 1px solid #d5d5d5\9;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 8px -2px rgba(0, 0, 0, .125);
     -moz-box-shadow: 0 2px 8px -2px rgba(0, 0, 0, .125);
      -ms-box-shadow: 0 2px 8px -2px rgba(0, 0, 0, .125);
       -o-box-shadow: 0 2px 8px -2px rgba(0, 0, 0, .125);
          box-shadow: 0 2px 8px -2px rgba(0, 0, 0, .125);
}
body .lui_zone_address_menus_ul > li.active > span,
body .lui_zone_address_menus_ul > li.active > span:hover {
  color: #2f84fb;
  border-color: #2f84fb;
}
body .lui_zone_address_menus_ul > li > span:hover{ color: #2f84fb; }
body .lui_zone_address_tree a:hover,
body .lui_zone_address_tree .current a{ color: #2f84fb!important; }
body .lui_zone_address_category ul li:hover .group_name,
body .lui_zone_address_category ul li.active .group_name{
  color: #2f84fb; 
}
body .lui_zone_address_org dd.active .lui_zone_address_depItem .depImg,
body .lui_zone_address_org dd:hover .lui_zone_address_depItem .depImg{ background-color: #2f84fb; }
body .lui_zone_address_org dd.active .lui_zone_address_personItem .personInfo .person_name,
body .lui_zone_address_org dd:hover .lui_zone_address_personItem .personInfo .person_name,
body .lui_zone_address_org dd.active .lui_zone_address_depItem .dep_name,
body .lui_zone_address_org dd:hover .lui_zone_address_depItem .dep_name {
  color: #2f84fb;
}
  /* 员工黄页通讯录 Ends */
  
  /* 员工黄页-个人主页 Starts */
.lui_main_container .lui_list_body_frame{
  background-color: #fff;
}
.sys_zone_page_info_wrap{
  margin-bottom: 10px;
}
.sys-zone-card{
  border-radius: 4px;
  border: 1px solid #d5d5d5;
}

.lui_zone_nav_box_new,
.lui_zone_nav_box_new:hover{
  height: 40px;
  border-radius: 4px;
  background-color: #2f84fb;
}
.lui_zone_nav_box_new .nav_link .left_row,
.lui_zone_nav_box_new .nav_link .right_row{
  display: block;
  width: 10px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  color: #666;
  font-size: 0;
  border-radius: 2px;
  background-color: #f8f8f8;
  transition-duration: .3s;
  cursor: pointer;
  position: absolute;
  top: 3px;
}
.lui_zone_nav_box_new .nav_link .left_row {
  left: 3px;
}
.lui_zone_nav_box_new .nav_link .right_row{
  right: 3px;
}
.lui_zone_nav_box_new .nav_link .left_row:after,
.lui_zone_nav_box_new .nav_link .right_row:after {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
}
.lui_zone_nav_box_new .nav_link .left_row:after {
  border-right: 4px dashed;
  border-right: 4px solid \9;
}
.lui_zone_nav_box_new .nav_link .right_row:after {
  border-left: 4px dashed;
  border-left: 4px solid \9;
}

.lui_zone_nav_box_new .nav_link .nav_link_frame{
  font-size: 0;
}
.lui_zone_nav_box_new .lui_zone_nav_bar_new li{
  padding-top: 4px;
  width: 120px;
}
.lui_zone_nav_box_new .lui_zone_nav_bar_new li.line{
  margin: 12px 5px;
  padding: 0;
  height: 16px;
  border-right: 1px solid #fff;
  border-right: 1px solid rgba(255, 255, 255, .5);
}
.lui_zone_nav_box_new .lui_zone_nav_bar_new li a{
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  display: block;
}
.lui_zone_nav_box_new .lui_zone_nav_bar_new li,
.lui_zone_nav_box_new .lui_zone_nav_bar_new li a,
.lui_zone_nav_box_new .lui_zone_nav_bar_new li a:hover{
  height: 32px;
  line-height: 32px;
  border: 0;
}
.lui_zone_nav_bar_new li a:hover,
.lui_zone_nav_bar_new li a.com_btn_link{
  color: #333;
}

/*相似标签按钮*/
.lui_zone_similartag_on,
.lui_zone_similartag_off {
  border-radius: 4px;
  border-color: #d5d5d5;
}
/*奖惩信息按钮*/
.lui_zone_experience_on,
.lui_zone_experience_off {
  border-radius: 4px;
  border-color: #d5d5d5;
}
/*汇报关系按钮*/
.lui_zone_report_on,
.lui_zone_report_off {
  border-radius: 4px;
  border-color: #d5d5d5;
}

  /* 员工黄页-个人主页 Ends */

  /* 员工黄页-个人关注信息 Starts */
.sys_zone_info_board_tag .tag_li{
  margin-top: 2px;
  margin-right: 15px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #2f84fb;
}
.sys_zone_info_board_tag .tag_li:after{
  border-left-color: #2f84fb;
}
.sys_zone_info_board_tag .tag_li > a:hover{
  color: #fff;
  color: rgba(255, 255, 255, .75);
}
.sys_zone_info_board_tag .tag_addli{
  margin-top: 2px;
}
.sys_zone_info_board_tag .tag_addli > .lui_zone_append_tag{
  width: 22px;
  height: 22px;
  border-radius: 4px;
  border: 1px solid #2f84fb;
  background-color: #2f84fb;
  transition-duration: .3s;
}
.sys_zone_info_board_tag .tag_addli > .lui_zone_append_tag:hover{
  border-color: #2f84fb;
  background-color: #2f84fb;
}

body .hr_staff_page_resume_title_bar .item_name span{
  color: #2f84fb;
}
body .hr_staff_page_resume_btn_bar:hover{
  color: #2f84fb;
}
body .hr_staff_page_resume_title_bar .item_name i{
  background-image: url(../images/module/hr_item_sprite.png);
}

  /* 员工黄页-个人关注信息 Ends */

  /* 员工黄页-搜索按钮 Starts */
.lui-zone-header-btn{
  background-color:#2f84fb;
}
.lui-zone-header-btn:hover{
  border-color: transparent;
  background-color: #2f84fb;
}
  /* 员工黄页-搜索按钮 Ends */

.lui-zone-header{
  background-position: 50% 0;
  background-size: 100% auto;
}

