body{
	background-image: url(background.jpg);
	background-repeat: no-repeat;
}
#mainDiv{
	width:80%;
	min-width:800px;
	_width:expression(this.offsetParent.clientWidth*0.8<800?"800px":"80%");
	border-left:1px solid #C0C0C0;
	border-top:1px solid #C0C0C0;
	border-right:5px inset #bbbbbb;
	border-bottom:5px inset #aaaaaa;
	padding:20px;
	background-image: url(tbbg.png);
}
#templateNameDiv{
	display: inline;
	text-align:left;
	text-align:left;
	color:#2D4E71;
	width:40%;
}
#infoDiv{
	display: inline;
	text-align:right;
	text-align:right;
	color:#2D4E71;
	width:60%;
}
#subjectDiv{
	padding:40px 0px 20px 0px;
	text-align:center;
	font-size:24px;
	font-weight:bold;
}
#contentDiv{
	text-align:left;
}
#toTopDiv{
	padding:20px 0px 20px 0px;
	text-align:right;
}
#attachmentDiv{
	text-align:left;
	padding:0px 0px 20px 0px;
}
#relationDiv{
}
#evaluationDiv{
}