@CHARSET "UTF-8";
/*******/
.very_success{
	display:none;
}
.very_success .lui-certification-main{
    margin-top: 30px;
}
.very_success .lui-success-tips .lui-success-icon{
    height:60px;
    width:60px;
    background:url('../image/success_2.png') no-repeat center center;
    background-size: cover;
    margin:0 auto;
    border-radius: 30px;
}
/* ie89 */
.very_success .lui-success-tips .lui-success-icon{
    background:url('../image/success_1.png') no-repeat center center\9;
}
.very_success .lui-success-tips .lui-success-text {
    font-size: 24px;
    color: #333333;
    line-height: 24px;
    text-align: center;
    margin: 20px 0 10px;
}
.very_success .lui-success-tips .lui-success-back-tips{
    font-size: 14px;
    color: #666666;
    line-height: 14px;
    text-align: center;
}
.very_success .lui-success-tips .lui-back{
   width:70px;
   height:30px;
   line-height: 30px;
   text-align: center;
   border: 1px solid #4285F4;
   border-radius: 2px;
   border-radius: 2px;
   color:#4285F4;
   margin:20px auto 0;
   cursor: pointer;
}

/****/
.very_fail{
	display: none;
}
.very_fail .lui-certification-main{
    margin-top: 30px;
}
.very_fail .lui-fail-tips .lui-fail-icon{
    height:60px;
    width:60px;
    background:url('../image/fail_2.png') no-repeat center center;
    background-size: cover;
    margin:0 auto;
    border-radius: 30px;
}
  /* ie89 */
.very_fail .lui-fail-tips .lui-fail-icon{
    background:url('../image/success_1.png') no-repeat center center\9;
}
.very_fail .lui-fail-tips .lui-fail-text {
    font-size: 24px;
    color: #333333;
    line-height: 24px;
    text-align: center;
    margin: 20px 0 10px;
}
.very_fail .lui-fail-tips .lui-fail-back-tips{
    font-size: 14px;
    color: #666666;
    line-height: 14px;
    text-align: center;
}
.very_fail .lui-fail-tips .lui-back{
   width:70px;
   height:30px;
   line-height: 30px;
   text-align: center;
   border: 1px solid #4285F4;
   border-radius: 2px;
   border-radius: 2px;
   color:#4285F4;
   margin:20px auto 0;
   cursor: pointer;
}
