/* create 210910 更新门户配置样式 */
/* === 选择标签类型 === */
body a:hover {
    color: #346ac3;
}

.lui_portal_select_tab_iframe {
    /* display: inline-block; */
    text-align: center;
    margin-top: 110px;
    width: 629px;
    margin: 110px auto 0;
}

.lui_portal_select_tab_iframe li {
    display: inline-block;
    width: 290px;
    height: 180px;
    border: 1px solid #ddd;
    cursor: pointer;
    margin: 0 10px;
}

.lui_portal_select_tab_iframe li.select {
    border-color: #4285F4;
    color: #4285F4;
}

.lui_portal_select_tab_iframe img {
    width: 260px;
    margin-top: 63px;
}

.lui_portal_select_tab_iframe input {
    opacity: 0;
}

.lui_portal_select_tab_iframe p {
    margin-top: 30px;
}
body .lui_form_content{
    padding:0;
}

/* === 弹窗样式修改 ===*/
body .lui_dialog_frame {
    /* background: #4285F4; */
    border: none;
    border-radius: 4px;
    overflow: hidden;
}

body .lui_dialog_head_right:hover {
    background-color: transparent;
}

/* body .lui_dialog_head {
    background: #4285F4;
} */
body .lui_dialog_head_left {
    /* color: #fff; */
}

body .lui_toolbar_frame_float {
    background: #fff;
}

body .lui_tabpanel_vertical_light_content_c [data-lui-type='lui/panel!Content'] {
    padding: 10px 20px 0 20px;
}

body .lui_toolbar_frame_float .lui_toolbar_btn .lui_widget_btn_txt {
    /* border-radius: 6px; */
    /* overflow:hidden; */
}

body .lui_tabpanel_vertical_light_content_c .lui_portlet_operations {
    display: none;
}

/* === 选项卡修改 === */
/* body .lui_tabpanel_navs_c {
    background: #4285F4;
}

body .lui_toolbar_frame_float .lui_toolbar_btn_l, body .lui_toolbar_frame_ver_float .lui_toolbar_btn_l {
    background: #4285F4;
    border-color: #4285F4;
    border-radius: 2px;
}

body .lui_toolbar_frame_float .lui_toolbar_btn_toggle_on .lui_toolbar_btn_l, body .lui_toolbar_frame_float .lui_toolbar_btn_on .lui_toolbar_btn_l, body .lui_toolbar_frame_ver_float .lui_toolbar_btn_on .lui_toolbar_btn_l {
    background-color: #346ac3;
} */
body .tb_simple .inputsgl {
    border-color: #ddd;
    color: #666;
}

body .com_btn_link {
    color: #4285F4;
    text-decoration: none;
}

body .lui_form_button {
    background: #4285F4;
}

body .lui_tabpanel_vertical_light_frame {
    background: #f8f8f8;
}

body #panel_box .lui_tabpanel_vertical_light_navs_item_l:first-child {
    padding-top: 10px;
}

body .lui_tabpanel_vertical_light_navs_l {
    width: 108px;
}

body .lui_tabpanel_vertical_light_content_c {
    margin-left: 110px;
}

body .lui_tabpanel_vertical_light_navs_item_l {
    border-bottom: none;
}

body .lui_tabpanel_vertical_light_navs_item_l:hover .lui_tabpanel_vertical_light_navs_item_c:before, body .lui_tabpanel_vertical_light_navs_item_selected .lui_tabpanel_vertical_light_navs_item_c:before {
    display: none;
}

body .lui_tabpanel_vertical_light_navs_item_l {
    border: none;
    padding-left: 26px;
    position: relative;
    cursor: pointer;
}

body .lui_tabpanel_vertical_light_navs_item_l:before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 1px;
    background: transparent;
    position: absolute;
    left: 10px;
    top: 20px;
}

body #panel_box .lui_tabpanel_vertical_light_navs_item_l:first-child:before {
    top: 30px;
}

body .lui_tabpanel_vertical_light_navs_item_selected:before {
    background: #4285F4;
}

body .lui_tabpanel_vertical_light_navs_item_c {
    padding-left: 0;
}

/* ===== 部件样式 start ===== */
#step2 {
    background: #f8f8f8;
}

.portlet_table {
}

.portlet_title {
    float: left;
    color: #4285F4;
    cursor: pointer;
    padding-left: 12px;
    width: 50%;
}

.portlet_config {
    float: right;
}

.portlet_table {
    width: 100%;
    overflow-y: auto;
    margin-top: 5px !important;
}

.portlet_tr_title {
    /* background-color: #f8f8f8; */
    color: #ffffff;
    height: 25px;
    height: 30px;
    background: #ECF2FD;
    line-height: 30px;
    padding: 0 10px;
    position: relative;
}

.portlet_config span {
    cursor: pointer;
    transition: all .3s;
}

.tb_layout {
    padding: 0px;
    border: 0px;
}

.tb_layout .tb_layout_td {
    padding: 0px;
    border: 0px;
}

.contentTitleIcon .contentTitleIconShow {
    display: inline-block;
    background-color: #e3e3e3;
}

.contentTitleIcon .lui_icon_l {
    padding: 0px;
    height: 28px;
    width: 28px;
    line-height: 28px;
    background: #F7F8F9 url(../images/image_icon@2x.png) no-repeat center;
    background-size: 28px auto;
    /* border: 1px solid #eee; */
    border-radius: 2px;
    font-size: 28px;
    color: #4284f4;
}

.porltlet_layout_tb_wrap {
    overflow: auto;
}

/* ===== IE8一倍图 =====*/
@media \0screen\,screen\9 {
    .contentTitleIcon .lui_icon_l {
        background-image: url(../images/image_icon.png);
    }
}

.contentTitleIcon .lui_icon_l img {
    max-width: 100%;
    max-height: 100%;
}

.contentTitleIcon a {
    color: #4285f3;
}

.contentTitleIcon a:hover {
    color: #346ac3;
}

#portlet_panel_layout_helps {
    color: #AAA;
    font-size: 12px;
    line-height: 20px;
}

/* 高度 */
#portlet_panel_height {
    margin-right: 4px;
}

/* 刷新时间 */
.portlet_refresh_time {
    width: 28px;
}

/* 展开收起  */
.lui_icon_s_icon_set_green {
    position: absolute;
    left: 2px;
    top: 7px;
}

.portlet_tr_title_active .portlet_config .lui_icon_s_icon_set_green {
    transform: rotate(-90deg);
}

body .tb_simple>tbody>tr>td {
    padding-top: 8px;
    padding-bottom: 8px;
}

/* ====== 缩略图 ====== */
.portlet_panel_layout_td_switch_thumb {
    width: 169px;
    height: 93px;
    overflow: hidden;
    border: 1px solid #4285F4;
    border-radius: 2px;
    position: relative;
    /* float: left; */
    display: inline-block;
    text-align: center;
    margin-left: 13px;
}

.portlet_panel_layout_td_switch_thumb img {
    max-width: 100%;
    max-height: 100%;
    border: 1px solid #eee;
}

.portlet_panel_layout_td_switch_desc {
    height: 27px;
    line-height: 27px;
    border-top: 1px solid #eeee;
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
    background: #fff;
}

/* 呈现 */
.portlet_render_setting .tb_simple>tbody>tr>.td_normal_title:first-child {
    padding-right: 0;
    width: 16%!important;
}

.portlet_render_setting .tb_simple>tbody>tr.portlet_input_render_opt_tr>td {
    padding: 0;
}

.portlet_render_setting .tb_simple>tbody>tr:first-child>td {
    padding-left: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* 内容设置  */
.portlet_content_setting .tb_simple>tbody>tr>.td_normal_title:first-child {
    padding-right: 0;
    width: 16%!important;
}

.portlet_content_setting .tb_simple>tbody>tr.portlet_content_setting_tr>td {
    padding: 0;
}

.portlet_content_setting .tb_simple>tbody>tr:first-child>td {
    padding-left: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* 基础设置 */
.portlet_baseContent_setting {
}

.portlet_baseContent_setting .tb_simple>tbody>tr>.td_normal_title:first-child {
    padding-right: 0;
    width: 16%!important;
}

.portlet_baseContent_setting .tb_simple>tbody>tr>td {
    padding-left: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.portlet_baseContent_setting .tb_simple>tbody>tr:first-child>td {
}

/* 参数设置表格重置 starts */
.td_variable_title {
    display: none;
}

.tb_normal.tb_variable {
    border: none;
    width: 100%;
}

.tb_normal.tb_variable > tbody > .tr_normal_title {
    border: none;
}

.tb_normal.tb_variable > tbody > tr > td, .tb_normal.tb_variable > thead > tr > td, .tb_normal > thead > tr > th {
    border: none;
    padding: 8px;
}

.tb_normal.tb_variable > tbody > tr {
    border: none;
}

.tb_normal.tb_variable > tbody > tr > td:first-child {
    text-align: right;
    width: 16%;
    background: #fff;
    padding: 10px 0;
    vertical-align: top;
}

.tb_normal.tb_variable > tbody > tr > td:first-child span {
    display: block;
    min-height: 20px;
    line-height: 20px;
    /* padding-top: 5px; */
}

.tb_simple>tbody>tr>td.portlet_input_source_opt, .tb_simple>tbody>tr>td.portlet_input_render_opt {
    padding: 0;
}

/* 参数设置表格重置 ends */
#portlet_panel_layout {
    float: left;
    position: relative;
    top: 70px;
}

/* 子菜单 */
.tb_simple>tbody>tr>td.portlet_sub_title_bar {
    padding: 0;
    padding-left: 20px;
    /* margin-top:10px; */
}

/* 单标签模式  */
#panelType_panel .tb_simple>tbody>tr>td.portlet_sub_title_bar {
    padding-left: 0;
}

.portlet_sub_title_bar label {
    background: #f8f8f8;
    padding-left: 10px;
    display: block;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
}

.portlet_sub_title_bar i {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 8px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../images/icon_dangree@2x.png);
    background-size: 8px auto;
    transform: rotate(0deg);
    transition: all .3s;
}

.portlet_sub_title_bar input {
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;
    z-index: -1;
}

.portlet_sub_title_bar input:checked+i {
    transform: rotate(-90deg);
}

/* 多标签隐藏基本信息标题栏 */
#tabpanel_content .portlet_baseContent_sub_title_bar {
    display: none;
}

/* 阅读权限 */
.portlet_readList_power.tb_simple>tbody>tr>td {
    vertical-align: top;
}

.portlet_readList_power.tb_simple>tbody>tr>td.td_normal_title {
    padding-top: 40px;
}

.portlet_readList_power h4 {
    margin: 0 0 5px;
}

.portlet_readList_power {
    height: 408px;
}

.portlet_readList_power .com_help {
    font-size: 12px;
    margin-bottom: 10px;
}

.portlet_readList_power .inputselectmul {
    border-color: #ddd;
}

.portlet_readList_power .inputselectmul .orgelement, .portlet_readList_power .inputselectmul .selectitem {
    border-color: #ddd;
    background-image: url(../images/icon_renyuan@2x.png);
    background-size: 24px auto;
    width: 63px;
}

body .portlet_readList_power .inputselectsgl .orgelement:before, body .portlet_readList_power .inputselectmul .orgelement:before {
    display: none;
}

/* ===== IE8一倍图 =====*/
@media \0screen\,screen\9 {
    .portlet_readList_power .inputselectmul .orgelement, .portlet_readList_power .inputselectmul .selectitem {
        background-image: url(../images/icon_renyuan.png);
    }
}

.portlet_require {
    font-style: normal;
    color: #F25643;
    margin-right: 2px;
}

.portlet_layout_config_wrap {
    height: 408px;
    overflow: auto;
}

/* 外观列表 */
.portlet_layout_list {
    display: none;
    overflow: hidden;
    margin-left: 10px;
}

.portlet_layout_list li {
    list-style: none;
    display: inline-block;
    width: 164px;
    height: 93px;
    border: 1px solid #ddd;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    margin-right: 7px;
    margin-bottom: 10px;
    vertical-align: middle;
}

.portlet_layout_list li.portlet_layout_list_item_select {
    border: 1px solid #4285F4;
}

.portlet_layout_list li.portlet_layout_list_item_select .portlet_layout_list_title {
    color: #4285F4;
}

.portlet_layout_list img {
    max-width: 100%;
    max-height: 100%;
}

.portlet_layout_list_title {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    border-top: 1px solid #ddd;
    height: 26px;
    line-height: 26px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    background: #fff;
}

/* 外观切换 */
.portlet_layout_swtich_btn {
    display: inline-block;
    padding: 0 15px;
    border: 1px solid #eee;
    color: #4285F4;
    cursor: pointer;
    position: relative;
    top: -10px;
    height: 26px;
    line-height: 26px;
}

.portlet_panel_layout_hidden {
    /* display: none; */
    opacity: 0;
    position: absolute;
    width: 0;
    height: 0;
    min-height: 0;
    border: none;
}

/* ===== 外观配置 ====  */
.porltlet_layout_tb.tb_simple>tbody>tr>.td_normal_title {
    /* text-align: left; */
}

.porltlet_layout_tb .tb_normal.tb_variable > tbody > tr > td:first-child {
    /* text-align: left; */
    vertical-align: top;
    padding-top: 12px;
}

/* === 图标重置 ===  */
.portlet_config .lui_icon_s {
    background-size: 16px auto;
    margin: 0 2px;
}

.portlet_config .lui_icon_s_icon_set_green {
    background-image: url(../images/icon_duoblue@2x.png);
    background-size: 8px auto;
}

.portlet_config .lui_icon_s_icon_arrow_up_blue {
    background-image: url(../images/icon_up@2x.png);
}

.portlet_config .lui_icon_s_icon_arrow_down_blue {
    background-image: url(../images/icon_down@2x.png);
}

.portlet_config .lui_icon_s_icon_close_red {
    background-image: url(../images/icon_shanchu@2x.png);
}

.portlet_config .lui_icon_s_icon_set_green {
    background-image: url(../images/icon_duoblue@2x.png)
}

.portlet_config .lui_icon_s_icon_arrow_up_blue:hover {
    background-image: url(../images/icon_upon@2x.png);
}

.portlet_config .lui_icon_s_icon_arrow_down_blue:hover {
    background-image: url(../images/icon_downon@2x.png);
}

.portlet_config .lui_icon_s_icon_close_red:hover {
    background-image: url(../images/icon_shanchuon@2x.png);
}

/* ===== IE8一倍图 =====*/
@media \0screen\,screen\9 {
    .portlet_config .lui_icon_s_icon_set_green {
        background-image: url(../images/icon_duoblue.png);
    }

    .portlet_config .lui_icon_s_icon_arrow_up_blue {
        background-image: url(../images/icon_up.png);
    }

    .portlet_config .lui_icon_s_icon_arrow_down_blue {
        background-image: url(../images/icon_down.png);
    }

    .portlet_config .lui_icon_s_icon_close_red {
        background-image: url(../images/icon_shanchu.png);
    }

    .portlet_config .lui_icon_s_icon_set_green {
        background-image: url(../images/icon_duoblue.png)
    }

    .portlet_config .lui_icon_s_icon_arrow_up_blue:hover {
        background-image: url(../images/icon_upon.png);
    }

    .portlet_config .lui_icon_s_icon_arrow_down_blue:hover {
        background-image: url(../images/icon_downon.png);
    }

    .portlet_config .lui_icon_s_icon_close_red:hover {
        background-image: url(../images/icon_shanchuon.png);
    }
}
