/* 仅这个页面使用 */
html,body {
    height: 100%;
    overflow:hidden;
    background:#f7f7f7；
    position:relative; 
}

/* 左右的数据结构  */
body .lui-slide-main {
    position: absolute;
    left: 0;
    right: 0;
    top: 55px;
    bottom: 15px;
    padding-top: 0;
}

body .bar.bar-left {
    background: #fff;
    bottom: 0;
    /* width: 264px; */
    overflow-y: auto;
    overflow-x: hidden;
    top: 0;
    z-index: 2;
    position: absolute;
}

body .content[data-lui-silde-content='1'] {
    position: absolute;
    left: 0;
    /*     padding-left: 0!important; */
    top: 0;
    bottom: 0;
    overflow: auto;
}

body .content img {
    max-width: 100%;
}

.treeContent {
    background: #fff;
    width: 264px;
    height: 98%;
}

#docContent {
    background: #fff;
    width: 100%;
}

.sys_help_html {
    padding: 20px;
    /* padding-top: 1px; */
}

.sys_help_html_doc_title {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 10px 0;
}

.sys_help_level1 .sys_help_html_title {
    font-size: 20px;
    font-weight: bold;
    /* margin: 10px; */
    color: #4285F4;
    border-bottom: 1px dashed #4285F4;
    margin-bottom: 15px;
    line-height: 1.4;
    padding-bottom: 5px;
}

.sys_help_level1 .sys_help_html_title:before {
    content: "";
    display: inline-block;
    height: 20px;
    width: 4px;
    background: #4285F4;
    margin-right: 5px;
    vertical-align: -3px;
    border-radius: 15px;
    display: none;
}

.sys_help_level1 .sys_help_htmp_content {
    padding-left: 2px;
    line-height: 1.8;
    font-size: 14px;
}

.sys_help_html_title {
    color: #4285F4;
    margin-bottom: 15px;
    margin-top: 15px;
    font-weight: bold;
}

.sys_help_level2 .sys_help_html_title {
    font-size: 16px;
}

.sys_help_level2 .sys_help_htmp_content {
    padding-left: 36px;
}

/* 快速索引样式 */
.showFloat {
    width: 50px;
    height: 50px;
    right: 0;
    top: 51px;
    background: #3385FF;
    position: fixed;
    color: #fff;
    border-radius: 8px 0 0 8px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    background: url("../image/icon-btn-search.png");
}

.floatBox {
    width: 200px;
    border: 1px solid #eee;
    position: fixed;
    right: -210px;
    top: 50px;
    background: #fff;
    padding-bottom: 10px;
}
.floatBox .btn_close{
    display:inline-block;
    width:16px;
    height:16px;
    border:5px solid transparent;
    background:url(./../image/icon-close.png) no-repeat left top;
    position: absolute;
    right: 5px;
    top: 5px;
    cursor:pointer;
}
/* CSS做图片预加载 */
.floatBox .btn_close:before{
    display:inline-block;
    width:0;
    height:0;
     background-image:url(./../image/icon-close-cur.png);
}
.floatBox .btn_close:hover{
    background-image:url(./../image/icon-close-cur.png);
}
.floatBox .title {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    color: #f'firebrick;;
}

.floatBox .part {
    text-align: left;
    color: #666;
    line-height: 30px;
    padding-left: 20px;
    margin-bottom: 3px;
}

.floatBox .part:hover {
    background: #F6F7FA;
    color: #4285F4;
}

.floatBox .part:hover a {
    color: #4285F4;
}

.floatBox .part a {
    text-decoration: none;
    font-size: 14px;
    color: #666;
    text-align: left;
}

/* 目录树 */
body .jstree-default li[aria-level='1']>.jstree-anchor {
    color: #333;
    font-size: 14px;
}

body .jstree-default .jstree-anchor {
    color: #666;
    font-size: 13px;
    height: 28px;
    line-height: 28px;
}

body .jstree-default .jstree-clicked, body .jstree-default .jstree-hovered {
    background: none;
    color: #4285F4;
    box-shadow: none;
}

.treeContent .slimScrollDiv {
    padding-top: 15px;
    padding-left: 5px;
}

/* 默认收展icon */
body .jstree-default .jstree-node, body .jstree-default .jstree-icon {
}

/* 关闭按钮 */
body .jstree-default .jstree-closed>.jstree-ocl {
}