body {
	color: #fff;
}

.container:after {
	display: block;
	content: "clear";
	clear: both;
	line-height: 0;
	visibility: hidden;
}

.container>div {
	padding: 6px 0;
	width: 10%;
	float: left;
	text-align: center;
	cursor: pointer;
}

.container .mui
.container>div:hover {
	background: #fff;
	color: #1d9d74;
}

.container .mui {
	font-size: 36px;
	color: #fff;
}

[data-lui-type='lui/panel!Content'] .container {
	background: #1d9d74;
}

.lui_paging_box span{
	color:#333;
}