<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean
		name="/dbcenter/echarts/db_echarts_operation/dbEchartsOperation.do"
		class="com.landray.kmss.dbcenter.echarts.actions.DbEchartsOperationAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.dbcenter.echarts.forms.DbEchartsOperationForm" />
		<property name="forwards">
			<map>
				<entry
					key="view"
					value="/dbcenter/echarts/db_echarts_operation/dbEchartsOperation_view.jsp" />
				<entry
					key="edit"
					value="/dbcenter/echarts/db_echarts_operation/dbEchartsOperation_edit.jsp" />
				<entry
					key="list"
					value="/dbcenter/echarts/db_echarts_operation/dbEchartsOperation_list.jsp" />
				<entry
					key="list.4m"
					value="/dbcenter/echarts/db_echarts_operation/dbEchartsOperation_list.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/dbcenter/echarts/db_echarts_job/dbEchartsJob.do"
		class="com.landray.kmss.dbcenter.echarts.actions.DbEchartsJobAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.dbcenter.echarts.forms.DbEchartsJobForm" />
		<property name="forwards">
			<map>
				<entry
					key="view"
					value="/dbcenter/echarts/db_echarts_job/dbEchartsJob_view.jsp" />
				<entry
					key="edit"
					value="/dbcenter/echarts/db_echarts_job/dbEchartsJob_edit.jsp" />
				<entry
					key="list"
					value="/dbcenter/echarts/db_echarts_job/dbEchartsJob_list.jsp" />
				<entry
					key="list.4m"
					value="/dbcenter/echarts/db_echarts_job/dbEchartsJob_list.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/dbcenter/echarts/db_echarts_chart_set/dbEchartsChartSet.do"
		class="com.landray.kmss.dbcenter.echarts.actions.DbEchartsChartSetAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.dbcenter.echarts.forms.DbEchartsChartSetForm" />
		<property name="forwards">
			<map>
				<entry
					key="view"
					value="/dbcenter/echarts/db_echarts_chart_set/dbEchartsChartSet_view.jsp" />
				<entry
					key="view.4m"
					value="/dbcenter/echarts/db_echarts_chart_set/mobile/view.jsp" />
				<entry
					key="edit"
					value="/dbcenter/echarts/db_echarts_chart_set/dbEchartsChartSet_edit.jsp" />
				<entry
					key="list"
					value="/dbcenter/echarts/db_echarts_chart_set/dbEchartsChartSet_list.jsp" />
				<entry
					key="list.4m"
					value="/dbcenter/echarts/db_echarts_chart_set/dbEchartsChartSet_list.jsp" />
			</map>
		</property>
	</bean>
	
	<bean
			name="/dbcenter/echarts/db_echarts_total/dbEchartsTotal.do"
			class="com.landray.kmss.dbcenter.echarts.actions.DbEchartsTotalAction"
			lazy-init="true"
			parent="KmssBaseAction">
		<property
				name="formType"
				value="com.landray.kmss.dbcenter.echarts.forms.DbEchartsTotalForm" />
		<property name="forwards">
			<map>
				<entry
						key="view"
						value="/dbcenter/echarts/db_echarts_custom/dbEchartsCustom_view.jsp" />
				<entry
						key="edit"
						value="/dbcenter/echarts/db_echarts_custom/dbEchartsCustom_edit.jsp" />
				<entry
						key="list"
						value="/dbcenter/echarts/common/dbEchartsTotal_list.jsp" />
				<entry
						key="totalList.4m"
						value="/dbcenter/echarts/mobile/list.jsp" />
			</map>
		</property>
	</bean>
	
	
	<bean
		name="/dbcenter/echarts/db_echarts_chart_set/dbEchartsChartSetPortlet.do"
		class="com.landray.kmss.dbcenter.echarts.actions.DbEchartsChartSetPortletAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.dbcenter.echarts.forms.DbEchartsChartSetForm" />
		<property name="forwards">
			<map>
				<entry
					key="data"
					value="/dbcenter/echarts/db_echarts_chart_set/dbEchartsChartSetPortlet_list.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/dbcenter/echarts/db_echarts_chart/dbEchartsChart.do"
		class="com.landray.kmss.dbcenter.echarts.actions.DbEchartsChartAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.dbcenter.echarts.forms.DbEchartsChartForm" />
		<property name="forwards">
			<map>
				<entry
					key="view"
					value="/dbcenter/echarts/db_echarts_chart/dbEchartsChart_view.jsp" />
				<entry
					key="view.4m"
					value="/dbcenter/echarts/db_echarts_chart/mobile/view.jsp" />
				<entry
					key="edit"
					value="/dbcenter/echarts/db_echarts_chart/dbEchartsChart_edit.jsp" />
				<entry
					key="chartData"
					value="/dbcenter/echarts/db_echarts_chart/dbEchartsChart_chartData.jsp" />
				<entry
					key="list"
					value="/dbcenter/echarts/db_echarts_chart/dbEchartsChart_list.jsp" />
				<entry
					key="list.4m"
					value="/dbcenter/echarts/db_echarts_chart/dbEchartsChart_list.jsp" />
				<entry
					key="chart"
					value="/dbcenter/echarts/db_echarts_chart/dbEchartsChart_chart.jsp" />
				<entry
					key="add_configure"
					value="/dbcenter/echarts/db_echarts_chart/configure/dbEchartsChart_configure_add.jsp" />
				<entry
					key="edit_configure"
					value="/dbcenter/echarts/db_echarts_chart/configure/dbEchartsChart_configure_edit.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/dbcenter/echarts/db_echarts_chart/dbEchartsChartPortlet.do"
		class="com.landray.kmss.dbcenter.echarts.actions.DbEchartsChartPortletAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.dbcenter.echarts.forms.DbEchartsChartForm" />
		<property name="forwards">
			<map>
				<entry
					key="data"
					value="/dbcenter/echarts/db_echarts_chart/dbEchartsChartPortlet_list.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/dbcenter/echarts/db_echarts_table/dbEchartsTable.do"
		class="com.landray.kmss.dbcenter.echarts.actions.DbEchartsTableAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.dbcenter.echarts.forms.DbEchartsTableForm" />
		<property name="forwards">
			<map>
				<entry
					key="view"
					value="/dbcenter/echarts/db_echarts_table/dbEchartsTable_view.jsp" />
				<entry
					key="viewRpt"
					value="/dbcenter/echarts/db_echarts_table/rpt/rpt_main.jsp" />
				<entry
					key="view.4m"
					value="/dbcenter/echarts/db_echarts_table/mobile/view.jsp" />
				<entry
					key="edit"
					value="/dbcenter/echarts/db_echarts_table/dbEchartsTable_edit.jsp" />
				<entry
					key="data"
					value="/dbcenter/echarts/db_echarts_table/dbEchartsTable_data.jsp" />
				<entry
					key="list"
					value="/dbcenter/echarts/db_echarts_table/dbEchartsTable_list.jsp" />
				<entry
					key="list.4m"
					value="/dbcenter/echarts/db_echarts_table/dbEchartsTable_list.jsp" />
				<entry
					key="edit_configure"
					value="/dbcenter/echarts/db_echarts_table/configure/dbEchartsTable_configure_edit.jsp" />
				<entry
					key="data_configure"
					value="/dbcenter/echarts/db_echarts_table/configure/dbEchartsTable_configure_data.jsp" />
				
			</map>
		</property>
	</bean>
	<bean
		name="/dbcenter/echarts/dbEchartsConfig.do"
		class="com.landray.kmss.dbcenter.echarts.actions.DbEchartsConfigAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.appconfig.forms.SysAppConfigForm" />
		<property name="forwards">
			<map>
				<entry
					key="edit"
					value="/dbcenter/echarts/dbEchartsConfig_edit.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/dbcenter/echarts/db_echarts_template/dbEchartsTemplate.do"
		class="com.landray.kmss.dbcenter.echarts.actions.DbEchartsTemplateAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.dbcenter.echarts.forms.DbEchartsTemplateForm" />
		<property name="forwards">
			<map>
				<entry
					key="view"
					value="/dbcenter/echarts/db_echarts_template/dbEchartsTemplate_view.jsp" />
				<entry
					key="edit"
					value="/dbcenter/echarts/db_echarts_template/dbEchartsTemplate_edit.jsp" />
				<entry
					key="list"
					value="/dbcenter/echarts/db_echarts_template/dbEchartsTemplate_list.jsp" />
			</map>
		</property>
	</bean>
	
	<bean
		name="/dbcenter/echarts/db_echarts_template/dbEchartsConfigureCommon.do"
		class="com.landray.kmss.dbcenter.echarts.actions.DbEchartsConfigureCommonAction"
		lazy-init="true"
		parent="KmssBaseAction">
	</bean>
	
	<bean
		name="/dbcenter/echarts/db_echarts_custom/dbEchartsCustom.do"
		class="com.landray.kmss.dbcenter.echarts.actions.DbEchartsCustomAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.dbcenter.echarts.forms.DbEchartsCustomForm" />
		<property name="forwards">
			<map>
				<entry
					key="view"
					value="/dbcenter/echarts/db_echarts_custom/dbEchartsCustom_view.jsp" />
				<entry
					key="view.4m"
					value="/dbcenter/echarts/db_echarts_custom/mobile/view.jsp" />
				<entry
					key="edit"
					value="/dbcenter/echarts/db_echarts_custom/dbEchartsCustom_edit.jsp" />
				<entry
					key="list"
					value="/dbcenter/echarts/db_echarts_custom/dbEchartsCustom_list.jsp" />
			</map>
		</property>
	</bean>

	<bean
			name="/dbcenter/echarts/db_echarts_custom/dbEchartsCustomPortlet.do"
			class="com.landray.kmss.dbcenter.echarts.actions.DbEchartsCustomPortletAction"
			lazy-init="true"
			parent="KmssBaseAction">
		<property
				name="formType"
				value="com.landray.kmss.dbcenter.echarts.forms.DbEchartsCustomForm"/>
		<property name="forwards">
			<map>
				<entry
						key="data"
						value="/dbcenter/echarts/db_echarts_custom/dbEchartsCustomPortlet_list.jsp"/>
			</map>
		</property>
	</bean>
	
	<bean id="dbEchartsChartSetPortletController" 
		class="com.landray.kmss.dbcenter.echarts.actions.DbEchartsChartSetPortletController"></bean>
</beans>
