<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="mobileAddressService"
		class="com.landray.kmss.sys.organization.mobile.MobileAddressServiceImp">
		<property name="sysOrgElementService">
			<ref bean="sysOrgElementService" />
		</property>
		<property name="sysOrganizationVisibleService">
			<ref bean="sysOrganizationVisibleService" />
		</property>
		<property name="sysOrganizationStaffingLevelService">
			<ref bean="sysOrganizationStaffingLevelService" />
		</property>
		<property name="sysOrgPersonService">
			<ref bean="sysOrgPersonService" />
		</property>
		<property name="sysOrgDeptService">
			<ref bean="sysOrgDeptService" />
		</property>
		<property name="processServiceManager">
			<ref bean="lbpmProcessServiceManager" />
		</property>
		<property name="sysOrgGroupCateService">
			<ref bean="sysOrgGroupCateService"/>
		</property>
		<property name="sysOrgGroupService">
			<ref bean="sysOrgGroupService" />
		</property>
		<property name="commonGroupCateBean">
			<ref bean="organizationDialogGroupTree" />
		</property>
		<property name="commonGroupBean">
			<ref bean="organizationDialogGroupList" />
		</property>
		<property name="myGroupBean">
			<ref bean="organizationDialogMyAddress" />
		</property>
		<property name="orgRangeService">
			<ref bean="orgRangeService" />
		</property>
	</bean>
</beans>
