<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean
		class="com.landray.kmss.sys.admin.dbchecker.service.spring.SysAdminUpdateIndexService">
		<property
			name="sysAppConfigService">
			<ref
				bean="sysAppConfigService" />
		</property>
	</bean>
	
	<bean id="sysAdminDbCheckerXMLDataBean" class="com.landray.kmss.sys.admin.dbchecker.service.spring.SysAdminDbCheckerXMLDataBean"></bean>

</beans>
