<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean
		name="/sys/organization/pda/address.do"
		class="com.landray.kmss.sys.organization.pda.PdaAddressAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property name="forwards">
			<map>
				<entry
					key="address"
					value="/sys/organization/pda/address.jsp" />
				<entry
					key="search"
					value="/sys/organization/pda/search.jsp" />
			</map>
		</property>
	</bean>
</beans>