.lui-imageP-overlay {
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #000;
	z-index: 999999;
}

.lui_imageP_container {
	width: 100%;
	height: 100%;
	z-index: 999999;
	top: 0;
	left: 0;
	position: fixed;
}

.lui_imageP_content {
	height: 100%;
	position: relative;
	margin-right: 300px;
}

.lui_imageP_play {
	position: relative;
	overflow: hidden;
	zoom: 1;
	margin: 0px auto;
	text-align: center;
}

.lui_imageP_play img {
	vertical-align: middle;
	max-width: 670px;
}

.lui_imageP_play .left {
	position: absolute;
	z-index: 10;
	left: 50px;
	top: 50%;
	width: 27px;
	height: 45px;
	margin-top: -22.5px;
	background: url(./images/arrow.png) no-repeat left top;
	cursor: pointer;
}

.lui_imageP_play .right {
	position: absolute;
	z-index: 10;
	right: 50px;
	top: 50%;
	width: 27px;
	height: 45px;
	margin-top: -22.5px;
	background: url(./images/arrow.png) no-repeat -30px top;
	cursor: pointer;
}

.lui_imageP_panel {
	height: 100%;
	background: #fff;
	float: right;
	position: relative;
}

.lui_imageP_head {
	height: 46px;
}

.lui_imageP_thumb_container {
	background: #747474;
	position: absolute;
	bottom: 0px;
	left: 0;
	right: 0;
	z-index: 101;
}

.lui_imageP_thumb_toggle {
	width: 155px;
	height: 22px;
	padding-left: 10px;
	padding-top: 5px;
	z-index: 101;
	cursor: pointer;
	position: absolute;
	top: -27px;
	left: 0px;
	color: #000;
	background: #747474;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.lui_imageP_thumb_btn {
	display: inline-block;
	width: 70px;
}

.lui_imageP_thumb_num {
	display: inline-block;
	margin-right: 10px;
}

.lui_imageP_thumb_arrow {
	display: inline-block;
	width: 20px;
	height: 20px;
	cursor: pointer;
	position: relative;
	top: -5px;
	padding-top: 5px;
}

.lui_imageP_thumb_arrow>a {
	display: inline-block;
	width: 11px;
	height: 6px;
	background: url(./images/thumb_arrow.png) no-repeat;
}

.lui_imageP_thumb_arrow>a.on {
	background-position: 0px 0px;
}

.lui_imageP_thumb_prev {
	position: absolute;
	width: 40px;
	height: 58px;
	text-align: center;
	width: 40px;
	left: 0;
	margin-top: -29px;
	top: 50%;
}

.lui_imageP_thumb_prev>a {
	display: inline-block;
	margin-top: 16px;
	width: 15px;
	height: 25px;
	background: url(./images/thumb_m_arrow.png) no-repeat -15px 0;
}

.lui_imageP_thumb_next {
	position: absolute;
	width: 40px;
	height: 58px;
	text-align: center;
	right: 0;
	top: 50%;
	margin-top: -29px;
}

.lui_imageP_thumb_next>a {
	display: inline-block;
	margin-top: 16px;
	width: 15px;
	height: 25px;
	background: url(./images/thumb_m_arrow.png) no-repeat 0 0;
}

.lui_imageP_thumb_list {
	overflow: hidden;
}

.lui_imageP_thumb_list ul {
	width: 4000px;
	overflow: hidden;
	position: relative;
}

.lui_imageP_thumb_list li {
	float: left;
	cursor: pointer;
	position: relative;
	list-style: none;
}

.lui_imageP_thumb_list li>a {
	margin: 0 4px;
	border: 3px solid #ddd;
	display: inline-block;
	height: 58px;
	line-height: 58px;
	width: 60px;
	text-align: center;
}

.lui_imageP_thumb_list li>a.on {
	border-color: #fcab27;
}

.lui_imageP_thumb_curr_num {
	font-size: 16px;
	color: #fca926;
}

.lui_imageP_thumb_list img {
	max-height: 50px;
	vertical-align: middle;
	max-width: 60px;
}

.lui_imageP_thumb_content {
	padding: 14px 40px 11px;
	overflow: hidden;
}

.lui_imageP_head {
	
}

.lui_imageP_toolbar {
	float: right;
	padding: 10px 0px;
	text-align: center;
}

.lui_imageP_toolbar {
	float: right;
	padding: 10px 0px;
	text-align: center;
}

.lui_imageP_btn {
	float: left;
	margin-right: 8px;
	display: inline-block;
	cursor: pointer;
}

.lui_imageP_btnC {
	background: #f9f9f9;
	border-radius: 5px;
	padding: 0px 14px;
	color: #064d7a;
	line-height: 25px;
	height: 25px;
}
.lui_imageP_btn:hover .lui_imageP_btnC{ background:#064d7a; color:#fff}

.lui_imageP_path {
	float: left;
	height: 46px;
}

.lui_imageP_path .lui_imageP_path_f {
	padding-left: 15px;
}

.lui_imageP_path .lui_imageP_path_n {
	
}

.lui_imageP_path .lui_imageP_path_l {
	padding: 0 2px;
	font-weight: bold;
	font-size: 14px;
}

.lui_imageP_path .lui_imageP_path_l a {
	color: white;
}

.lui_imageP_path li {
	margin-top: 10px;
	font-size: 13px;
	color: white;
	float: left;
	position: relative;
	z-index: 49;
	list-style: none;
}

.lui_imageP_path li a {
	padding: 4px 2px;
	font-size: 12px;
	color: white;
	display: inline-block;
}

.lui_imageP_panle_toggle {
	display: inline-block;
	text-align: center;
	width: 15px;
	padding: 10px 6px 10px 10px;
	color: #fff;
	background: #7d7d7d;
	z-index: 1000;
	position: absolute;
	left: -32px;
	top: 50%;
	margin-top: -60px;
	cursor: pointer;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	height: auto!important;
}

.lui_imageP_panle_arrow {
	display: inline-block;
	width: 6px;
	height: 12px;
	margin-top: 5px;
	background: url(./images/panel_arrow.png) no-repeat -7px 0px;
}

.lui_imageP_panel_content {
	width: 300px;
}

.lui_imageP_panel div{
	height: 100%;
}

.lui_imageP_panel_iframe{
	height: 100%;
	overflow: hidden; 
}