<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean
		name="/sys/fans/sys_fans_main/sysFansMain.do"
		class="com.landray.kmss.sys.fans.actions.SysFansMainAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.fans.forms.SysFansMainForm" />
		<property name="forwards">
			<map>
				<entry
					key="view"
					value="/sys/fans/sys_fans_main/sysFansMain_view.jsp" />
				<entry
					key="edit"
					value="/sys/fans/sys_fans_main/sysFansMain_edit.jsp" />
				<entry
					key="list"
					value="/sys/fans/sys_fans_list/sysFansMain_list.jsp" />
				<entry
					key="followList"
					value="/sys/fans/sys_fans_list/sysFansMain_list_data.jsp" />
			</map>
		</property>
	</bean>
</beans>