.muiCateLists {
	margin: 0;
	padding: 0;
	list-style:none;
	overflow: hidden; 
	position: relative;
}
.muiCateLists > .muiCateLoading{
	text-align: center;
	color: #a4a4a4;
	padding-top: 0.5rem;
	font-size: 2rem;
}

.muiCateItem.animated{
	opacity: 0;	
}

.muiCateItem .animated{
	list-style:none;
	overflow: hidden;
	display: block;
}
.muiCateInfoItem,.muiGroupItem,.muiCateNavInfo{
	margin: 0rem 0rem;
	display: block;
}
.muiCateInfoItem {
	padding: 0 0 0 1.5rem;
	position: relative;
	line-height: 4.4rem;
}

.muiGroupItem,.muiCateNavInfo{
	background-color: #F7F7F8;
}
.muiCateNavInfo{
	position: absolute;
	width: 100%;
	z-index: 1;
}
.muiCateContainer{
	clear:both;
	width:100%;
	display:table;
	border: none; 
	table-layout:fixed;
}
.muiCateContainer > div{
	vertical-align: middle;
	height: 100%;
	border: none;
	display: table-cell;
	font-size: 1.4rem;
}
.muiCateSelArea {
	width: 1.4rem;
}
.muiCateSelArea .muiCateSel {
	width:1.4rem;
	height: 1.4rem;
	line-height:1.6rem;
	border-radius: 50%;
	border: 0.1rem solid #dfe1e0;
	text-align: center; 
}
.muiCateSelArea .muiCateSel .mui-checked.muiCateSelected {
	font-size: 1rem;
	position: relative;
	top: -0.1rem;
}

.muiCateSelArea .muiCateSel.muiCateSelMul {
	border-radius: 2px;
	width: 1.4rem;
	height: 1.4rem;
	line-height: 1.4rem;
}
.muiCateSelArea .muiCateSelMul.muiCateSeled {
	background-color: #4285F4;
	color: #fff;
	border: 0;
	border-radius: 2px;
}
.muiCateSelArea .muiCateSelMul.muiCateSeled>.mui {
	font-size: 1rem;
}
.muiCateSelArea .muiCateSeled{
	background-color: #4285F4; 
	color:#fff;
	border:0.1rem solid #4285F4;
}
.muiCateSelArea .muiCateSeled 
.muiCateSel .muiCateSelected{
	font-size: 1.4rem;
	color: white;
	line-height: 1.6rem;
}
.muiCateIcon{
	width: 3.2rem;
	padding-left: 0.8rem;
	text-align: center;
 }
.muiCateIcon i,
.muiCateIcon img,
.muiCateIcon span {
	width: 3.2rem;
	height: 3.2rem !important;
	border-radius: 50%;
	overflow: hidden;
	text-align: center;
	line-height: 2.5rem;
	vertical-align: middle;
}
.muiCateIcon img {
	width: 5rem;
	height: 5rem !important;
}
.muiCateIcon span{ background-color: #f8f8f8!important;}
.muiCateIcon i {
	width: 3rem;
	height: 3rem !important;
	line-height: 3rem;
}

.muiCateInfo{
	padding-left: 0.8rem;
}
.muiCateTitle{
	color: #7f7f7f; padding: 0.2rem 1rem; font-size:1.3rem;
}
.muiCateInfo .muiCateName{
	color: #2A304A;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.muiCateInfo em {
	font-style: normal;
    color: #4285f4;
}
.muiCateMore{
	width: 4.5rem;
	text-align: center;
	vertical-align: middle;
	position: relative;
}

.muiAddressList .muiCateHasSel .muiCateMore:before{
	content: '';
    position: absolute;
    left: 0;
    width: 1px;
    height: 2.4rem;
    top: 50%;
    margin-top: -1.2rem;
    background: #eee;
}

.muiCateMore i,
.muiCateMore .mui {
	font-size: 1.4rem;
	color: #999;
	font-weight: bold;
}
/**头部**/
.muiCateHeader{
	width:100%;
	overflow: hidden;
}
.muiCateHeaderContent{
	width:100%;
	display: inline-table;
	border-bottom: 0.1rem solid #C9D7E0;
	background-color: #18b4ed;
 	color:#fff;	
 	table-layout:fixed;  
 	position: relative;
}
.muiCateHeaderContent > div{
	display: table-cell;
	vertical-align: middle;
	overflow: hidden;
	white-space: nowrap;
}
.muiCateHeaderCancel{
	padding-right: 1rem;
	text-align: center;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
	text-align: right;
}
.muiCateHeaderReturn{
	padding-left:1rem;
	text-align: left;
	font-size: 16px;
	cursor: pointer;
}
.muiCateHeaderReturn i{
	color: #fff;
	font-size:1.6rem;
	line-height: 1.6rem;
}
.muiCateHeaderReturn i.mui-back:before{
	font-size:22px;
}


.muiCateHeaderTitle{
	width: 44%;
	margin: 0 28%;
	text-align: center;
	font-size:1.8rem;
	text-overflow: ellipsis;
	white-space:nowrap;
	position: absolute;
	left: 0;
}


/**头部**/
.muiCatePath{
	width:100%;
	overflow: hidden;
	font-size: 1.2rem;
	padding: 0 1.5rem;
    background-color: #F7F7F8;
}
.muiCatePathContent {
	background-color: #F8F8F8;
 	color:#4285F4;
 	position: relative;
 	/* padding: 0 1.5rem; */
	line-height: inherit;
}
.muiCatePathContent:after {
  content: '';
  display: table;
  visibility: hidden;
  clear: both;
}
.muiCatePathContent>div {
	vertical-align: middle;
	overflow: hidden;
	float: left;
	position: relative;
	padding-right: 1.5rem;
}

.muiCatePathItem:last-child:after {
	content: '';
}
.muiCatePathItem:last-child {
	color: #2A304A;
}

.muiCatePathContent>div>div {
	max-width: 9rem;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
/* 
.muiCatePathItem > div{
	direction: rtl;
} */

.muiCatePathContent[data-length="1"]>div>div {
	max-width: 20rem;
}

.muiCatePath.muiAddressPath{
	position: relative;
	-webkit-transition: padding .5s;
}

.muiCatePath.muiAddressPath .mblScrollableView .muiCatePathItem > div{
	max-width: 9rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.muiCatePathItem.muiAddressPathItemExpand > div{
	max-width: 20rem;
}

.muiCatePath.muiAddressPath.hasExpand{
	height: auto!important;
    line-height: inherit!important;
    padding: .5rem 1.5rem;
}

.muiCatePath.muiAddressPath > *{
	background-color: #F7F7F8;
}

.muiCatePath.muiAddressPath .muiCatePathContent{
	width: calc(100% - 6rem);
	height: 100%;
	/* padding: 0;
	padding: .9rem 0 0 1rem; */
}

.muiCatePath.muiAddressPath.hasExpand .muiCatePathContent{
	display: block;
}

.muiCatePath.muiAddressPath.hasExpand .muiCatePathContent > div{
	height: 2rem;
	line-height: 2rem;
}

.muiCatePath.muiListCatePath, .muiListCatePath .muiCatePathContent {
    background-color: #fff;
}
.muiListCatePath .muiListCatePathTitle{
	font-family: PingFangSC-Medium;
    font-size: 1.4rem;
    color: #2A304A;
}

/* .muiCatePath.muiAddressPath .muiCatePathContent > div {
	margin-bottom: .9rem;
	line-height: 1.2rem;
} */

/* .muiCatePath.muiAddressPath .muiCatePathContent>div:last-child{
	color: #3E4665;
}

.muiCatePath.muiAddressPath .muiCatePathContent:before{
	content: none;
} */
.muiAddressPathItemExpand{
	display: inline-block;
}
.muiAddressPathArrow{
	width: 4rem;
    height: 100%;
   	position: absolute;
    right: 3rem;
    top: 0;
    display: none;
}
.muiAddressPath.canExpand .muiAddressPathArrow{
	display: block;
}
.muiAddressPath.hasExpand .muiAddressPathArrow:before{
	content: '';
    position: absolute;
    left: 0;
    top: 25%;
    width: 1px;
    height: 50%;
    background-color: #E5E5E5;
}
.muiAddressPathArrow > i{
	position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -4px;
    margin-top: 2px;
}

.muiAddressPath.hasExpand .muiAddressPathArrow > i{
	margin-top: -2px;
}

.muiAddressPathArrow > i:before,
.muiAddressPathArrow > i:after{
	content:'';
	position: absolute;
    width: 9px;
    height: 1px;
}

.muiAddressPathArrow > i:before{
    background: #999FB7;
	transform: rotate(-45deg) translateX(4px);
}

.muiAddressPathArrow > i:after{
	background: #999FB7;
	transform: rotate(45deg) translateX(-4px);
}

.muiAddressPath.hasExpand .muiAddressPathArrow > i:before{
	transform: rotate(45deg) translateX(4px);
	background: #4285f4;
}

.muiAddressPath.hasExpand .muiAddressPathArrow > i:after{
	transform: rotate(-45deg) translateX(-4px);
	background: #4285f4;
}

/**导航**/
.muiCateNav{
	position: absolute;
	top: -100rem;
	height: 1rem;
	right: 0;
	width: 2rem;
	font-size: 1.2rem;
	z-index: 2;
}
.muiCateNavItem{
	cursor:pointer;
	display: block;
	width: 100%;
	text-align: center;
	vertical-align: middle;
	color: #666;
}
.muiCateNavItem:active {
	color: #333;
}
/**多选选择区**/
.muiCateSec {
	display: block;
    width: inherit;
    height: 6.4rem;
    line-height: 6.4rem;
    background-color: #fff;
    position: relative !important;
}
.muiCateSec:before {
	/* content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: #e5e5e5; */
}
.muiEditorImage .mblScrollableViewContainer {
	position: relative !important;
}
.muiCateSec .muiCateSecContainer{
	position: relative;
	width: 100%;
	height: 100%;
    font-size: 1.6rem;
	display: flex;
}
.muiCateSecLeft{
	flex-grow: 1;
    padding: 0 1.3rem;
    border-right: 0!important;
    color: #4285f4;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-left: 0!important;
}
.muiCateSecLeft.muiCateSecBtnDis{
	border: 0;
}
.muiCateSecRight{
	white-space: nowrap;
}

.muiCateSecBtn,.muiCateClearBtn {
    width: 8rem;
    height: 4.4rem;
    line-height: 4.4rem;
    margin-right: 1rem;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    transition: background-color .3s;
    border-radius: 5px;
}
.muiCateSecBtn{
	background-color: #4285f4;
	color: white;
	border: 1px solid transparent;
}
.muiCateClearBtn{
	background-color: #fff;
	color: #999FB7;
	border: 1px solid #EAEBF0;
}
.muiCateClearBtn.muiCateSecBtnDis{
	color:#C5C5C5;
	background: #F2F2F2;
	border: 1px solid #DDDDDD;
}
.muiCateSecBtnDis {
	background-color: #fff;
	color: #999FB7;
	border: 1px solid #EAEBF0;
}
.muiCateSecBtnDis:after {
    content: '';
    position: absolute;
    top: -1px;
    left: 0;
    width: 1px;
    height: 100%;
    background-color: #e5e5e5;
    transform: scaleX(0.5);
    -webkit-transform: scaleX(0.5);
}
.muiCateSecItems{
	overflow: hidden;
	padding: 0 .5rem;
}
.muiCateSecItem{
    display: flex;
    height: 7.5rem;
    line-height: 7.5rem;
    padding: 0 1.5rem;
    border-bottom: 1px solid #eee;
}

.muiCateSecItemIcon{
	margin-right: 1.5rem;
}
.muiCateSecItemLabel{
	width:100%;
	font-size: 1.6rem;
	text-overflow: ellipsis;
	white-space:nowrap;
	overflow: hidden;
}
.muiCateSecItemDelArea{
	width: 3rem;
}
.muiCateSecItemDel{
	width: 1.9rem;
    height: 1.9rem;
    background-color: #F33333;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    top: 50%;
    margin-top: -.95rem;
}
.muiCateSecItemDel:after{
	content: '';
    position: absolute;
    top: 50%;
    left: 20%;
    width: 60%;
    height: 1px;
    background-color: #fff;
}

.muiDialogElement.muiCateSecPop .muiDialogElementContainer_bottom{
	background-color: #fff;
}

.muiDialogElement.muiCateSecPop.muiDialogElement .mblScrollableViewContainer{
	padding: 0;
}

.muiDialogElement.muiCateSecPop.muiDialogElement .muiCateSecItems{
	padding: 0;
}

.muiDialogElement.muiCateSecPop .muiCateIcon{
	padding-left: 0;
    width: auto;
}

.muiDialogElement.muiCateSecPop .muiCateIcon i{
	width: 5rem;
    height: 5rem!important;
    line-height: 5rem;
}

/*地址本dialog*/
.muiCateDiaglog,.muiCateDiaglogN{
	position: fixed;
	top:0rem;
	left:0rem;
	width: 100%;
	height: 100%;
	overflow:hidden;
	z-index: 99999;
	outline: none;
	-webkit-outline: none;
}


.muiCateDiaglogN{
	opacity: 0;
}

.muiCateDiaglog .muiCateDiaglogContainer{
	width:85%;
} 
.muiCateDiaglogContainer {
	width:100%;
	float: right;
	background-color: #fff;
	height:100%;
}
.muiCateSecBottom {
	position: fixed!important;
	box-shadow: 0 1px 5px #e5e5e5;
}


/**地址本**/
.muiAddressDept,
.muiAddressPost,
.muiAddressGroup{
	text-align:center;
	color: #4284f4;
	background-color: #E8F0FF;
    border: 2px solid #D5E4FF;
	font-size: 2.5rem;
}
.muiCateIcon .mui-file-text{
	color: #fff;
	font-size: 1.8rem;
	background-color: #4285f4;
}
.muiCateFiledShow {
  text-align:left;
}
.newMui.showTitle .muiCateFiledShow {
	margin-top: 1rem;
}
.muiFormStatusEdit .muiCateFiledShow:empty:after{
  content: attr(placeholder);
  color: #999;
  display: block;
  height: 100%;
  line-height: 4rem;
  font-size: 1.5rem;
}
.newMui.muiFormStatusEdit .muiCateFiledShow:empty:after {
	line-height: 4rem;
}
.oldMui .muiCateFiledShow {
	margin: 0 1rem 0 0;
	min-height: 3rem;
}
.muiCateFiledShow > div {
	margin:0.1rem 0.3rem;
    padding:0.2rem;
	display: inline-block;
    border-radius:3px;
}
.muiCateFiledShow .muiAddressOrg{
	margin:0rem;
	padding: 0 1.6rem 0 0.9rem;
	font-size:1.4rem;
	position: relative;
	height: 2.3rem;
    background: rgba(229,229,229,0.5);
    border-radius: 3px;
}
.muiFormStatusView .muiCateFiledShow .muiAddressOrg {
	padding: 0 0.6rem;
}
.muiFormStatusView .muiCateFiledShow .muiAddressOrg .name {
	margin-top: 0.6rem;
}
.muiAddressShowHeadImg .muiCateFiledShow .muiAddressOrg{
	height:100%;
	background-color:#e6f4fc;
	border-radius:1.4rem;
}

.muiCateFiledShow > div i{
	position: absolute;
	right: 0.3rem;
	top: 50%;
	height: 1.6rem;
	margin-top: -.4rem;
	color: #333;
	font-size: 1rem;
}
.muiCateFiledShow .muiAddressOrgEdit{
    font-size:1.4rem;
    margin:0.1rem 0.3rem;
    padding:0.2rem;
	position: relative;
	color: #fff;
    background-color:#18b4ed;
	padding-right: 16px;
 }
 .muiCateFiledShow .muiCatePlaceHold{
 	color: #A9A9A9; 
 }
.muiCateFiledShow > .mui,
.muiCateFiledShow .muiAddressOrg .muiAddressOrgIcon{
	width: 2.4rem;
	height: 2.4rem;
	border-radius: 50%;
	margin:0 0 0 -2.4rem!important;
	padding: 0;
	line-height: 2.4rem;
	font-size: 1.2rem;
	vertical-align: top;
	color: #ddd;
	text-align: center;
}
.oldMui .muiCateFiledShow > .mui,
.oldMui .muiCateFiledShow .muiAddressOrg .muiAddressOrgIcon{
	margin: 1rem 1rem 1rem 0;
}
.newMui .oldMui.muiCateFiledShow > .mui,
.newMui .muiCateFiledShow .muiAddressOrg .muiAddressOrgIcon{
	margin: 0 1rem 1rem 0;
}

.muiCateFiledShow .mui-plus {
	border: 1px solid #d6d6d6;
}

.muiCateFiledShow .mui.mui-plus {
    margin-left: 0!important;
}

.oldMui .muiCateFiledShow .mui-plus {
	margin-left: .5rem!important;
	margin-top: 1rem!important;
	margin-bottom: 1rem!important;	
}
.muiCateFiledShow .mui-forward{
	display: inline-block;
    margin: 0;
    position: absolute;
    right: 0;
    font-size: 1.8rem;
    color: #d5d5d5;
}
.muiCateFiledShow .muiAddressOrg .muiAddressOrgIcon.mui.mui-file-text{
	background-color: #4285f4;
}
/** 新UI **/
.muiAddressOrg{
	margin: 1rem 1rem 0.6rem 0!important;
}
.newMui.muiFormStatusEdit .muiCateFiledShow .muiAddressOrg {
	margin: 0 1rem 0.6em 0!important;
}
.muiAddressOrg .muiAddressOrgIcon{
	width: 4rem;
    height: 4rem;
    border-radius: 50%;
}
.muiAddressOrg .name{
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	font-size: 1.2rem;
	margin-top: .6rem;
	line-height: 100%;
	color: #666;
	float:right;
	max-width:16rem;
}
.muiAddressShowHeadImg .muiAddressOrg .name{
	margin-right:.5rem;
	margin-left:.4rem;
}
.muiAddressOrg .muis-epid-close.del{
	display: block;
	position: absolute;
	top: 0;
	right:-0.2rem;
	color: #F56B6B;
	background-color: transparent;
	font-size: .6rem;
	margin:0.6rem;
}
.muiAddressOrg .muis-epid-close.del:before {
	transform: scale(0.7);
	-webkit-transform: scale(0.7);
	display: inline-block;
}
.muiAddressShowHeadImg .muiAddressOrg .muis-epid-close.del {
	margin-top: 0;
	right: 0;
	color:#666;
	font-size: .8rem;
	margin:0.6rem;
}

.muiAddressIsAvailableFalse{
  width: 13px;
  height: 13px;
  background: url(images/address-icon-disable.png) no-repeat 50%;
  display: inline-block !important;
  position: absolute;
  top: 2px;
  z-index: 2;
}

/* #79287 地址本人名显示不全 Starts */
.muiAddressOrg .name{
    text-overflow:inherit;
    overflow:visible;
    white-space:normal;
    text-align:left;
    margin-bottom: .6rem;
    line-height: 1.25;
}
.muiCateFiledShow .muiAddressOrg{
    height:auto;
    min-height:2.3rem;
}
/* #79287 地址本人名显示不全 Ends */

.muiAddressView{
	height: calc(100% - 11.4rem);
}

.muiAddressHistoryHeader{
	height: 4.5rem;
    line-height: 4.5rem;
    padding: 0 1.5rem;
    border-bottom: 1px solid #eee;
    font-size: 1.4rem;
}

.muiAddressHistoryHeaderRight{
	float: right;
	color: #999FB7;
}

.muiAddressHistoryHeaderRight i{
	margin-right: .6rem;
}

.muiAddressSearchCount{
	height: 3.5rem;
    line-height: 3.5rem;
    padding-left: 1.5rem;
    font-size: 1.4rem;
    color: #999FB7;
    margin-top: .8rem;
    border-bottom: 1px solid #eee;
}

.muiAddressItem{
	display: table;
    border: 0;
	position: relative;
	width:100%;
	height: 6rem;
	color: #3E4665;
	background-color: #fff;
	border-top: 1px solid #eee;
}

.muiUsualDeptMember{
	border-top:0;
}

.muiAddressItem > *{
    display: table-cell;
	vertical-align: middle;
    height: 100%;
    border: none;
    font-size: 1.6rem;
}

.muiAddressItemIcon{
	width: 2.4rem;
    padding-left: 1.5rem;
    padding-right: .8rem;
}

.muiAddressItemIcon img{
    width: 2.2rem;
	height: 2.2rem;
}

.muiAddressItemMore{
    width: 2rem;
	font-size: 1.4rem;
	font-weight: bold;
	color: #999;
}

.muiAddressItemTitle{
	background: #F7F7F8;
	height: 3rem;
	line-height: 3rem;
	padding: 0 1.5rem;
	font-size: 1.2rem;
	color: #999;
}

.muiAddressHistoryItem{
	height: 4.7rem;
    line-height: 4.7rem;
    padding: 0 1.5rem;
    font-size: 1.8rem;
    color: #666;
    border-bottom: 1px solid #eee;
}

.muiSubordinateView .muiCatePath.muiAddressPath{
	margin-top: .7rem;
}

.muiAddressHistoryItem .muiAddressHistoryItemContent{
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    width: 90%;
}

.muiAddressHistoryItemDel{
	float: right;
}

.muiAddressHistoryItemDel i{
	font-size: 2rem;
    color: #ddd;
}

.muiAddressList .muiCateItem{
	font-size: 1.6rem;
	border-bottom: 1px solid #eee;
}

.muiAddressList .muiCateInfo{
	display: flex;
    flex-direction: column;
	padding: 1rem;
	height: 6rem;
	line-height: 6rem;
}

.muiAddressList .muiCateAllSelectItem .muiCateInfo{
	padding: 0 1rem;
	height: 5rem;
	line-height: 5rem;
}

.muiAddressList .muiCateItem.muiAddressGroupCateItem .muiCateInfo{
	height: 3rem;
	line-height: 3rem;
}

.muiAddressList .muiCateContainer > div{
	font-size: 1.6rem;
}

.muiAddressList .muiCateContainer .muiCateTitle{
	padding: 0 1.5rem;
	font-size: 1.2rem;
	height: 3rem;
	line-height: 3rem;
	color: #999FB7;
}

.muiAddressList .muiCateInfoItem {
	height: auto;
}

.muiAddressList .muiCateSelArea {
	width: 1.8rem;
}
.muiAddressList .muiCateSelArea .muiCateSel {
	width:1.8rem;
	height: 1.8rem;
	line-height: 1.8rem;
	border: 0.1rem solid #dfe1e0;
	text-align: center; 
}

.muiAddressList .muiCateSelArea .muiCateSelMul.muiCateSeled {
	border: 0;
}

.muiAddressList .muiCateSelArea .muiCateSelMul.muiCateSeled > .mui{
    font-size: 1rem;
    font-weight: bold;
}

.muiAddressList .muiCateIcon{
	width: 5rem;
	padding-left: 1.5rem;
	text-align: center;
 }
.muiAddressList .muiCateIcon i, 
.muiAddressList .muiCateIcon img, 
.muiAddressList .muiCateIcon span{
	width: 5rem;
	height: 5rem !important;
	border-radius: 50%;
	overflow: hidden;
	text-align: center;
	line-height:5rem;
	vertical-align: middle;
}

.muiAddressList .muiAddressStaffingLevelName{
	font-size: 1.2rem;
	color: #999FB7;
	margin-left: .8rem;
	display: inline-block;
    overflow: hidden;
}

.muiAddressList .muiCateInfo.muiAddressWithParentNames > div{
	line-height: 3rem;
}

.muiAddressList .muiCateInfo.muiAddressWithParentNames .muiCatemuiCateName > span{
	display: inline-block;
    line-height: normal;
    vertical-align: bottom;
}

.muiAddressList .muiCateInfo.muiAddressWithParentNames .muiAddressParentNames{
	font-size: 1.2rem;
	color: #C9CAD1;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.muiAddressList .muiAddressLabelName{
	display: inline-block;
	max-width: 20rem;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.muiAddressList .muiAddressLeaderPerson .muiAddressLabelName{
	max-width: 15rem;
}

.muiAddressList .muiAddressLeaderImg{
	width: 1.6rem;
	height: 1.6rem;
	vertical-align: middle;
}

.muiAddressList .muiAddressLeaderLabel{
    border-radius: 2px;
    font-size: 1.4rem;
    padding: 0 .3rem;
    transform: scale(0.7);
    vertical-align: bottom;
}

.muiAddressList .muiAddressLeaderLabel.muiAddressLeaderOrg{
	background: #E1EEFF;
    border: 1px solid #E1EEFF;
	color: #4285F4;
}

.muiAddressList .muiAddressLeaderLabel.muiAddressLeaderDept{
	background: #FEF2DC;
    border: 1px solid #FEF2DC;
    color: #FF9971;
}

.muiAddressGroupItem{
	height: 5rem;
	font-size: 1.6rem;
}

.muiAddressGroupItem.muiAddressMyGroupItem{
	border-bottom: 1px solid #eee;
}

.muiAddressGroupItem .muiAddressItemName{
	padding-left: 1.5rem;
}

.muiAddressSelectionItemWithParentNames .muiAddressSelectionItemName{
	height: 3.5rem;
    line-height: 3.5rem;
}

.muiAddressSelectionItemWithParentNames .muiAddressSelectionItemName > span{
    display: inline-block;
	vertical-align: bottom;
    line-height: normal;
}

.muiAddressSelectionItemWithParentNames .muiAddressSelectionItemParentNames{
	height: 3rem;
    line-height: 3rem;
    color: #C9CAD1;
}

.muiAddressSelectionItemLevelName{
	font-size: 1.2rem;
    color: #999FB7;
    margin-left: .8rem;
}

.muiAddressList .muiListNoData{
	margin-top: 5rem;
}

/*新分类区域*/
.muiSimpleCateContainer .muiSimpleCateContent{
	display: inline-block;
	height: 100%;
	vertical-align: top;
}

.muiSimpleCateContainer .muiSimpleCateContent:LAST-CHILD{
	width: 55%;
}

.muiSimpleCateContainer .muiSimpleCateContent:FIRST-CHILD{
	width: 45%;
	box-shadow: inset -4px 0px 0.2rem 0 rgba(0, 0, 0, 0.02);
	background-color: #FEFEFE;
}

.muiSimpleCateContainer .muiSimpleCateContent.muiListcategoryList{
	width:100%
}

.muiCateItem.muiCategoryEntered{
	background: rgba(66,133,244,0.05);
}

.muiCateScrollablePathContent{
	display: flex;
}

.muiCateScrollablePathContent.muiCatePathContent>div{
	overflow: inherit;
}

.muiCatePathContent .mblScrollableView{
	padding-right: 0;
}

.mblScrollableView .muiCatePathItem{
	white-space: nowrap;
	padding-right: 2rem;
	display: inline-block;
	position: relative;
}

.muiCatePathContent .mblScrollableViewContainer{
	max-width: none;
	white-space: nowrap;
    width: auto;
    min-width: 100%;
}

.muiCatePathItem:after,
.muiCatePathTitleItem:after,
.muiCatePathContent .mblScrollableViewContainer>div:after,
.muiCatePathContent>div:after{
	content: "\C025";
    color: #999FB7;
    font-family: 'fontmui'!important;
    font-size: .8rem;
    font-weight: bold;
    position: absolute;
    right: 0.5rem;
    top: 0;
}


.muiCatePathContent .mblScrollableViewContainer>div:last-child:after,.muiCatePathContent>div:last-child:after {
	content: '';
}

.muiCatePathContent .mblScrollableViewContainer{
	color: #4285F4!important;
}

.muiCatePathContent .mblScrollableViewContainer>div:last-child,.muiCateScrollablePathContent .selected  {
    color: #2A304A;
}

.muiCateScrollablePathContent .selected:after {
    content: '';
}
.muiSimpleCateContainer{
	border-top: 1px solid #EEEEEE;
}

.muiFavoriteContainer .muiCateContainer{
	border-bottom: 1px solid #EEEEEE; 
}

.muiFavoriteContainer .muiCateInfoItem{
	padding-right: 1.5rem
}

.muiCateSecItemDesc{
	font-size: 1.2rem;
	color: #999FB7;
	margin-top: 1rem;
}

.muiCateSecItem.muiCategorySItem{
	line-height: normal;
	border-bottom: 1px solid #EEEEEE;
}

.muiCategorySItem>div:FIRST-CHILD{
	margin-top: 1.8rem;
}

.muiCategorySItem>div.muiCateSecItemDesc{
	margin-top: 1rem;
}

.muiCateSecItemDesc>div{
	white-space: nowrap;
    padding-right: 2rem;
    display: inline-block;
    position: relative;
    max-width: 9.4rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.muiCateSecItemDesc>div:after {
    content: '>';
    position: absolute;
    right: 0.6rem;
    font-size: 1.2rem;
    font-weight: 100;
}

.muiCateSecItemDesc>div:last-child:after {
    content: '';
}

.muiCateSearchPanel{
	border-top: 1px solid #EEEEEE;
}

.muiCateSearchPanel .muiCateContainer{
	border-bottom: 1px solid #EEEEEE;
}

.muiCateContainer .muiCateSelect {
	text-align: right;
	color: #C9CAD1;
	padding-right: 1rem;
}

.mui-new-plus{
    height: 3.3rem;
    width: 3.3rem;
    text-align: center;
    line-height: 6rem;
    margin-right: 1rem;
    position: relative;
}