.muiBtn {
	color: #fff;
	box-sizing: border-box;
	border: 0.1rem solid #4285f4;
	border-radius: 0.2rem;
	background-color: #fff;
	width: 12.6rem;
	height: 4rem;
	font-size: 1.4rem;
	padding: 0 0.5rem;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.muiBtnWhite {
	background-color: #fff;
	color: #4285f4;
}
.muiBtnWhite:active {
	background-color: #4285f4;
	color: #fff;
}
.muiBtnDefault {
	background-color: #4285f4;
}
.muiBtnDefault:active {
	background-color: #0c9ee7;
}
.muiBtnGray {
	background-color: #999;
	border-color: #999;
}
.muiBtnGray:active {
	background-color: #888;
}
.muiBtnDisabled {
	background-color: #d5d5d5;
	border-color: #d5d5d5;
}
.muiBtnDisabled:active {
	background-color: #c5c5c5;
}
.muiBtnSuccess {
	background-color: #68ce67;
	border-color: #68ce67;
}
.muiBtnSuccess:active {
	background-color: #35c934;
}
.muiBtnWarning {
	background-color: #f29a5f;
	border-color: #f29a5f;
}
.muiBtnWarning:active {
	background-color: #f38a44;
}
.muiBtnDanger {
	background-color: #f56b6b;
	border-color: #f56b6b;
}
.muiBtnDanger:active {
	background-color: #e95959;
}
.muiBtnFont {
	color: #4285f4;
	border: none;
}
.muiBtnFont:active {
	color: #fff;
	background-color: #4285f4;
}
.muiBtnIcon {
	width: 5rem;
	height: 5rem;
	font-size: 3rem;
}
.muiBtnIconText.muiBtnWhite {
	border: none;
	color: #333;
}
.muiBtnIconText.muiBtnWhite:active {
	color: #fff;
}
.muiBtnIconText>span {
	font-size: 2rem;
	margin-right: 0.5rem;
}