#content .muiCirTitle {
	margin: 1rem 1rem 0 1rem;
	padding-top: 0.5rem;
}

#cir_scollView {
	background-color: #f0f0f0;
}

#cir_praise_opt.muiRating {
	width: 7.5rem !important;
}

.muiCirTitle div {
	color: #555e67;
	font-size: 1.5rem;
	line-height: 2.8rem;
	display: inline-block;
	padding-left: 0.5rem;
	font-weight: bold;
}

.muiCirculationContent {
	padding:0.5rem 1rem 0.3rem 1.8rem; 
	background-color: white; margin-left:3rem; margin-top:0.5rem;
}

.muiCirculationInfo {
	border-bottom: 1px dotted #d1d1d1; position:relative; top:-0.5rem;
}

.muiCirculationInfo:after {
	display: block;
	content: 'clear';
	clear: both;
	line-height: 0;
	visibility: hidden;
}

.muiCirStoreList .muiListNoData{
	background-color: #fff;
}

.muiCirculationScoreArea .muiRatingArea i, .muiCirculationScoreArea .muiRatingValue i{
	font-size: 1.4rem;
	width: 1.4rem;
}
.muiCirGradeBar .muiRatingArea,.muiCirGradeBar .muiRatingValue{ margin-left:-0.5rem;}
.muiCirculationItem {
	padding: 0.5rem 0 0.8rem 0;
	min-height: 2rem;
	list-style: none;
	padding-top:0.8rem;
	border-radius: 5px; zoom::1; margin-left:-0.5rem;
}
.muiCirculationItem:after{ display:block; clear:both; line-height:0px; content:"clear"; visibility:hidden;}
.muiCirculationItem:last-child {
	border-bottom: 0;
}

.muiCirculationRound {
	display: none;
	width:2.4rem;
	height:2.6rem;
	border-bottom-right-radius:100%;
	background: #f0f0f0;
}

.muiCirculationIcon {
	width: 3.7rem;
	height: 3.7rem;
	border-radius: 50%;
	overflow: hidden;
	display: block; float:left;
	border:0.5rem solid #f0f0f0; position:relative; z-index:10;
}

.muiCirculationImg {
	width: 100%;
	border: none;
	height: 100%;
	border-radius: 50%; 
}

.muiCirculationLabel {
	font-size: 1.4rem; 
	display:block; position:relative; top:0.1rem;
}

.muiCirculationScore {
	vertical-align: middle;
	float: left;
}

.muiCirculationRemark {
	margin: 0;
	margin-top:1.2rem;
	font-size: 1.4rem;
	text-align: justify;
	line-height: 1.3;
	word-break: break-all;
	overflow: hidden;
}
.muiCirculationTarget{ position:relative; /*top:-0.2rem;*/ }
.muiCirculationTarget>div {
	display: inline-block;
	font-size: 1.2rem;
}

.muiCirculationContent>div>span{
	font-size: 1.4rem;
}

.muiCirculationTargetTitle {
	font-size: 1.2rem;
	color: #989898;
	padding: 0.5rem 0;
}
.muiCirculationTargetName {
	padding-right: 0.1rem;
    font-size: 1.2rem;
    word-wrap: break-word;
    word-break: break-all;
    overflow: hidden;
}
.muiCirculationCreated {
	color: #989898;
	font-size: 1.2rem;
	vertical-align: middle;
	padding: 0.5rem 0;
	float: right;
}
.muiCirculationCreated>i.mui{
	margin-right: 2px;
	font-size: 1.2rem;
	line-height: 1;
	position: relative;
	top:-1px;
}
#cir_tabbar li {
	list-style: none;
	display: inline-block;
	width: 85%;
	height: 100%;
	text-align: left;
}

#cir_tabbar li:first-child {
	width: 10% !important;
}

#cir_tabbar .muiCirSubContainer {
	width: 10% !important;
	display: none;
}
#cir_tabbar li .muiCirText{
	 position:relative; 
	 top:4px;
	 padding-top: 8px!important;
 	 padding-bottom: 8px!important;
}
.muiCirGradeLeft {
	text-align: left;
	vertical-align: middle;
	font-size: 1.4rem;
	display: table-cell; color:#7e7e7e
}

.muiCirGradeLeft>span:first-child {
	position: relative;
	top: 0.2rem;
}

.muiCirGradeRight {
	vertical-align: middle;
	text-align: right;
	font-size: 1.4rem;
	display: table-cell;
}

.muiCirGradeLeft .muiRatingArea i, .muiCirGradeLeft .muiRatingValue i{
	font-size: 2rem;
	width: 2.5rem;
}

.muiCirGradeGood, .muiCirGradeBad {
	color: #ffb535 !important;
	font-size: 1.5rem;
}

.muiCirGradeBar {
	display: table;
	width: 100%;
    margin-top:0.8rem;
}

.muiCirGradeBad {
	color: #bfbfbf !important;
}

.muiCirText,
.muiCirMaskText {
	width: 95%;
	height: 2.5rem;
	line-height: 2.5rem;
	font-size: 1.4rem;
	background-color: #fff;
	display: block; 
	padding:0.5rem 0.5rem;
	box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
	border: 1px solid #d7d7d7;
	/*去除默认样式*/
	-webkit-appearance: none;
	-webkit-border-radius: 3px;
}

.muiCirRemark{ border:1px solid #d7d7d7; margin-top:0.5rem; -webkit-appearance:none; -webkit-border-radius:3px}
.muiCirMaskText {
	width: 100%;
	height: 5.5rem;
	line-height: 1.8rem;
    font-size:1.6rem;
	border: none;
	padding-left: 0;
	padding-right: 0;
	padding:5px;
}

.muiCirStoreList {
	margin: 0 1rem 0 1rem;
	border-top: none;
	background-color: #f0f0f0;
}

.muiCirMask {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 2;
	overflow: hidden;
	-webkit-transition: opacity 0.2s linear;
	opacity: 0;
}

.muiCirMask ul {
	-webkit-transform: translate3d(0px, 400%, 0px);
	-webkit-transition: all 0.5s ease-out;
	padding: 0;
	margin: 0;
	background-color: #f4f4f4;
	padding: 0.7rem 1.5rem;
}

.muiCirMask>ul>li:first-child {
	border: 1px solid #d7d7d7; background-color:#fff; -webkit-appearance:none; -webkit-border-radius:3px;
	padding: 1rem;
    max-height:30rem;
    overflow:auto;	
}

.muiCirMask>ul>li {
	list-style: none;
	
}
.muiCirMask>ul>li .muiFieldItem{ width: 100%;}
.muiCirMask>ul>li .muiFieldOpt i.mui-address{
	margin-top: 0;
	margin-right: 5px;
}

.muiCirOpt {
	width: auto !important;
	position: relative;
	top: 0.4rem;
	margin:5px 0  12px 12px;
}

.muiCirSubmit {
	text-align: right;
	border: #b5b5b5 1px solid;
	color: #b5b5b5;
	display: inline-block;
	padding: 0.2rem 0.7rem;
	border-radius: 3px;
	font-size: 1.4rem;
}

.muiCirHideMask {
	border-radius: 50%;
	width: 4rem;
	height: 4rem;
	position: absolute;
	bottom: -2rem;
	background-color: #f4f4f4;
	left: 1.5rem;
	z-index: -1;
	text-align: center;
	line-height: 4.3rem;
}

.muiCirHideMask>div {
	font-size: 2rem;
	color: #b5b5b5;
}

.muiCirSubmit.muiCirSubmitEnable {
	background-color: #86bd63;
	color: #fff;
	border-color: #86bd63;
}

.muiCirTitle>span {
	background-color: #f55e4d;
	width: 0.4rem;
	height: 2rem;
	display: inline-block;
	margin-left: -0.4rem;
	vertical-align: middle;
}



/*在可视区域的宽度在 321px 和 431px 之间的时候被应用(小米2/三星  360px)*/
@media screen and (min-width: 321px) and (max-width: 400px) {
	.muiCirOpt {
		width: auto !important;
		position: relative;
		top: 0.4rem;
	}
	.muiCirText {
		height: 2.8rem;
		line-height: 2.8rem;
		font-size: 1.6rem
	}
}

/*在可视区域的宽度大于401px 的时候被应用(魅族mx3 432px)*/
@media screen and (min-width: 401px) {
	.muiCirOpt {
		width: auto !important;
		position: relative;
		top: 0.6rem;
	}
	.muiCirText {
		height: 2.8rem;
		line-height: 2.8rem;
		font-size: 1.6rem
	}
}

.circulateDetail{
	margin-top: 20px;
	line-height: 1.42857143;
	text-align: left;
}
.circulateDetailHead > b{
	padding-left: 8px;
	color: #333;
	font-size: 16px;
	font-weight: normal;
	/* border-left: 4px solid #4285f4; */
}

.statusContainer{
	padding: 0;
	list-style: none;
	line-height: 1.42857143;
}
.statusContainer:after{
	content: '';
	display: table;
	visibility: hidden;
	clear: both;
}
.statusContainer > .status{
	width: 20%;
	float: left;
}
.statusContainer > .status > .status-text{
	margin: 0 5px;
	/* padding: 12px 0px; */
	text-align: center;
	color: #999;
	font-size: 12px;
	font-weight: 400;
	border-radius: 3px;
	border: 1px solid #d9d9d9;
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	cursor: pointer;
	transition-duration: .3s;
}
.statusContainer > .status:hover > .status-text,
.statusContainer > .status.selected > .status-text{
	color: #4285f4;
	border-color: #4285f4;
}

.statusContainer > .status:hover, 
.statusContainer > .status.selected{
border-color: #4285f4;
background-color: rgba(66,133,244,0.10);
}

.optView .optHead{
	background-color: #4285f4;
}

.optView .optFoot{
    background-color: #fff; 
	color: #4285f4;
	border-top: 1px solid #eeeeee;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.45);
}

.nextInfoTips{
	padding-top: 6px;
    color: #999;
}


/* == 移动传阅相关 Starts ==  */
.circulationView {
    /* padding-left: 15px; */
    background: #fff!important;
}

.circulateDetailHead {
    height: 22px;
    padding: 10px;
    padding-left: 15px;
}

.circulateDetailHead b {
    font-size: 16px;
    font-weight: normal;
    vertical-align: middle;
}

.circulateDetailHead:before {
    content: "";
    display: inline-block;
    width: 4px;
    height: 18px;
    background-color: #4285F5;
    vertical-align: -5px;
    margin-right: 5px;
    border-radius: 2px;
}

.circulationView .muiSimple{
    /* margin-left:15px; */
}
.circulationView .muiSimple td:first-child{
    padding-left:15px;
}

.circulationView .muiSimple .muiTitle {
}

.circulationView .muiSimple>tbody>tr>td, 
.circulationView .muiSimple>tr>td {
    border-bottom: none;
    padding-bottom: 0;
    vertical-align:top;
    /* padding-right: 11px; */
}

.circulateDetail:first-child {
    margin-top: 0;
}

.circulateDetail {
    margin-top: 21px;
}

.statusContainer {
    display: flex;
    align-items: center;
    /* margin-bottom: 10px; */
    margin-left: 15px;
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
}

.statusContainer .status {
    display: inline-block;
    height: 56px;
    /* line-height: 56px; */
    text-align: center;
    flex: 1;
    border: 1px solid #e0e0e0;
    margin: 0 5px 5px;
    font-size: 13px;
}
.statusContainer .status.status-noData{
	background-color:#f2f2f2;
}
.statusContainer .status.status-noData .status-count{
	color:#999;
}
.statusContainer .status .status-count{
	border:none;
	font-weight: 400;
	line-height:30px;
	font-size: 20px;
	padding-top: 5px;
	display: block;
}
.statusContainer .status .status-text{
	border:none;
}

.statusContainer+.mblEdgeToEdgeList{
    border-top: none;
}

.statusContainer+.mblEdgeToEdgeList .muiSimple{
    margin-left:0;
}

.circulationlistContainer .titleHead {
    height: 40px;
    line-height: 40px;
    border-bottom:1px solid #eee;
    border-bottom-width: .5px;
    /* position: relative; */
    /* margin-left: -20px; */
    /* padding-left: 15px; */
}

.circulationlistContainer .titleHead>td:first-child{
    padding-left:15px;
}
.circulationlistContainer .contentTr {
    background: #f2f2f2;
}

.circulationlistContainer .contentTr td:first-child:before {
    background: #f2f2f2;
    width: 15px;
    height: 33px;
    display: inline-block;
    margin-left: -15px;
    vertical-align: middle;
    margin-right: 5px;
}

.statusContainer+.mblEdgeToEdgeList .muiSimple>tbody>tr.contentTr>td, 
.statusContainer+.mblEdgeToEdgeList .muiSimple>tr.contentTr>td {
    padding-top: 0;
    height: 34px;
    line-height: 34px;
}

.statusContainer+.mblEdgeToEdgeList .muiSimple>tbody>tr.contentTr>td:first-child, 
.statusContainer+.mblEdgeToEdgeList .muiSimple>tr.contentTr>td:first-child {
    padding-left:15px;
    
}

.circulationlistContainer .displayOpt.displayDown {
}

/* 未阅记录 */
/* #recallView .muiHeader{
    color:#333;
    background:none;
    border-bottom:0;
} */
/* 未阅记录 */
/* #recallView .muiHeader.optFoot{
    border-top:1px solid #eee;
}
#recallView .muiNormal>tbody>tr>td,
#recallView .muiSimple>tr>td {
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
}
#recallView .muiSimple>tr>td:first-child{padding-left: 10px;}
 */

.displayOpt{
	text-align:right;
} 
.displayOpt:before{
	content:"";
	display:inline-block;
	width:16px;
	height:16px;
/* 	background: url(./images/icon-arrow-up.png); */
	background-repeat:no-repeat;
	background-size:16px;
	vertical-align: middle;
	margin-right: 10px;
}
.displayOpt.displayUp:before{
	background-image: url(./images/icon-arrow-up.png);
}
.displayOpt.displayDown:before{
	background-image: url(./images/icon-arrow-down.png);
}
.contentTr{
	background:#f2f2f2;
}
.muiSimple.cirRecord{
	table-layout:fixed;
}
.muiSimple.cirRecord > tr > td{
	height:30px;
}

.displayUp:beofre{
	background-image: url(./images/icon-arrow-up.png);
}
.displayDown:beofre{
	background-image: url(./images/icon-arrow-down.png);
}
.titleHead{
	border-bottom: 1px solid #e7e7e7;
}
.circulationView .muiSimple .titleHead td:first-child{
	position:relative;
}
.circulationView .muiSimple .titleHead td:first-child:before{
	content:"";
	background: #fff;
	width: 15px;
	height: 1px;
	position:absolute;
	bottom: -1px;
	/* padding-left: 10px; */
	left: 1px;
}

.optFoot .muiHeaderBasicInfoBack{
	width:70px;
	color:#333;
}
.optFoot .muiHeaderBasicInfoTitle{
	font-size: 1.6rem;
    font-weight: normal;
}
.optFoot .muiHeaderBasicInfoTitle:before{
	content: '';
    display: block;
    height: 20px;
    border-left: 1px solid #efefef;
    position: absolute;
}
.optFoot .muiCateSelArea {
	float:left;
}
#recallView .optFoot .muiCateSelArea .muiCateSel{
	white-space:nowrap;
	color: #585858;
	/* padding-left: 10px; */
}
#recallView .muiCateSelArea .muiCateSel i{
	margin-right: 8px;
	display:inline-block;
	color:#fff;
}
#recallView{

}
.muiSimple > tbody > tr > td, 
.muiSimple > tr > td{
	height: 22px;
	/* line-height: 30px; */
}


/* 已经到底了 */
.circulationView .addBottomTip{
	background-color:#fff;
}

/* 列表状态 */
.muiSimple.cirRecord .item-status{
    display: inline-block;
    padding: 3px;
    font-size: 12px;
    border: 1px solid;
    margin-left: 10px;
    height: 12px;
    line-height: 12px;
    border-width: .5px;
    color: #9b9b9b;
}
.muiSimple.cirRecord .item-status.status-10{
	color:#F25643;
}
.muiSimple.cirRecord .item-order{margin-right:10px;}

/* == 移动传阅相关 Ends ==  */
