.mblSpinWheel {
  background-image: none;
  border: none;
}

.mblSpinWheel {
  position: relative;
  overflow: hidden;
  color: #000000;
}

.mblSpinWheelSlot {
  position: relative;
  top: 0px;
  float: left;
  width: 100px;
  height: 100%;
  border-left: solid 2px #000000;
  border-right: solid 2px #000000;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
.mblSpinWheelSlotLabel {
  padding: 0 8px;
  height: 44px;
  overflow: hidden;
  font: bold 24px/44px Helvetica, sans-serif;
}

.mblSpinWheelSlot {
  border: none;
  color: #929292;
}

.mblSpinWheelBar {
  position: absolute;
  clear: both;
  height: 5.6rem;
  top: 11.5rem;
}

.mblSpinWheelBar:before,
.mblSpinWheelBar:after {
  content: "";
  width: 100%;
  display: block;
  transform: scaleY(0.5);
  top: 0;
  position: absolute;
  border-top: 1px solid #e7e7e7;
}

.mblSpinWheelBar:after {
  bottom: 0;
  border-bottom: 1px solid #e7e7e7;
  border-top: none;
  top: auto;
}

.mblSpinWheelSlotTouch {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.mblSpinWheelSlotPanel {
  position: absolute;
  top: 0px;
  width: 100%;
}

.muiDateTimeDialogContent {
  margin: 0 auto;
  padding: 0 1.5rem;
  display: flex;
  display: -webkit-flex;
}
.muiDateTimeDialogContent .mblSpinWheelDatePicker {
  width: 80%;
  display: inline-block;
  position: static;
}
.muiDateTimeDialogContent .mblSpinWheelTimePicker {
  width: 50%;
  display: inline-block;
  position: static;
}
.muiDateTimeDialogContent .mblSpinWheelSlot {
  width: 30%;
  z-index: 1;
}
.muiDateTimeDialogContent .mblSpinWheelSlot:first-child {
  width: 40%;
  box-sizing: border-box;
  flex: 1;
}

.mblSpinWheelTimePicker .mblSpinWheelSlot {
  width: 4rem !important;
}

.muiDateTimeDialogContent .mblSpinWheelSlotTouch {
  outline: none;
}
.muiDateTimeDialogContent .mblSpinWheelSlotLabel {
  font-weight: normal;
  text-align: left;
  padding: 0;
  font-size: 1.6rem;
  font-family: "landray-number", -apple-system, SF UI Text, Arial, PingFang SC, Hiragino Sans GB, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif;
}
.muiDateTimeDialogContent .mblSpinWheelSlotLabelBlue {
  color: var(--muiFontColorInfo);
  line-height: 4.9rem;
}
.muiDateTimeDialogContent .mblSpainWheelSlotLabelWeek {
  font-size: 1.1rem;
  position: relative;
  top: -1px;
  margin-left: 0.5rem;
}

.muiDateTimeDialogContent .mblSpinWheel .mblSpinWheelBar {
  opacity: 1;
  left: 1.5rem;
  right: 1.5rem;
}

.muiDateTimeDialogDisContent .muiDateTimeArea {
  position: relative;
  border: 0;
  border-spacing: 0;
  width: 100%;
  height: 18rem;
  overflow: hidden;
}
.muiDateTimeDialogDisContent .muiDateTimeArea > div {
  position: absolute;
  height: 15rem;
  width: 100%;
  top: 0rem;
  left: 0rem;
  z-index: 1;
  opacity: 0;
}
.muiDateTimeDialogDisContent .muiDateTimeChoices {
  width: 98%;
  height: 2.5rem;
  line-height: 2.5rem;
  border-radius: 5px;
  border: 1px solid #007aff;
  margin: 5px auto 0;
  display: table;
}
.muiDateTimeDialogDisContent .muiDateTimeChoices > div {
  display: table-cell;
  width: 50%;
  text-align: center;
  font-size: 1.3rem;
}
.muiDateTimeDialogDisContent .muiDateTimeChoices > div.checked {
  color: #fff;
  background-color: #007aff;
}
.mblSpainWheelSlotLabelText {
  font-size: 1.1rem;
  margin-left: 0.3rem;
  position: relative;
  top: -1px;
}
.muiFormInputContnet input {
  padding: 0.2rem;
  height: 2rem;
  border: 0;
  background-color: inherit;
  width: 100%;
}

.muiDateTimeField .muiField {
  width: auto;
  padding: 0;
}

.muiFormSelectContnet .muiFormDatetimeText {
  display: inline-block;
}

.muiFormSelectContnet.edit .muiFormDatetimeText {
  padding-right: 1.5rem;
}

.muiFormDatetimeText:empty:after {
  content: attr(placeholder);
  color: #a9a9a9;
}
.muiDateTimeDialog .mblSpinWheelSlotContainer > div.mblSpinWheelSlotPanel {
  transform: translate3d(0, 0, 0);
}

.muiDateTimeDialogContent .mblSpinWheelSlotLabel {
  height: 5.6rem !important;
}
.muiDateTimeDialogContent .mblSpinWheel {
  height: 29rem;
  margin: 0 auto;
  display: flex;
}
.muiDateTimeDialogDisContent .muiDateTimeArea {
  height: 29rem;
}

.muiDateTimeDialog.muiDateTimeShow {
  -webkit-mask: -webkit-gradient(
    linear,
    0% 40%,
    0% 0%,
    from(#debb47),
    to(rgba(36, 142, 36, 0))
  );
  -webkit-mask: -webkit-linear-gradient(
    bottom,
    #debb47 50%,
    rgba(36, 142, 36, 0)
  );
}
.muiDateTimeDialogContent {
  -webkit-mask: -webkit-gradient(
    linear,
    0% 50%,
    0% 100%,
    from(#debb47),
    to(rgba(36, 142, 36, 0))
  );
  -webkit-mask: -webkit-linear-gradient(top, #debb47 50%, rgba(36, 142, 36, 0));
}

.muiDateTimeDialogDisContent.muiDateTimeDialogContent .mblSpinWheelDatePicker {
  width: 70%;
}

.muiDateTimeDialogDisContent.muiDateTimeDialogContent .mblSpinWheelTimePicker {
  width: 30%;
}
