@IMPORT url("./form.css");
@IMPORT url("./upload-tiny.css");
@IMPORT url("./attachment-tiny.css");
#content .muiEvalTitle {
	margin: 1rem 1rem 0 1rem;
	background-color: #fff;
	border-left: 1px solid #e4e4e4;
	border-right: 1px solid #e4e4e4;
	padding-top: 0.5rem;
}

#eval_scollView {
	background-color: #f0f0f0; 
} 

.muiEvalTitle div {
	color: #555e67;
	font-size: 1.5rem;
	line-height: 2.8rem;
	display: inline-block;
	padding-left: 0.5rem;
	font-weight: bold;
}

.muiEvaluationContent {
	padding-left:4.6rem;
}

.muiEvaluationItem {
	padding: 1.5rem 0 0.8rem 0;
	min-height: 2rem;
	border-bottom: 1px dotted #d1d1d1;
	list-style: none;
	margin: 0 0.8rem;
}

.muiEvaluationItem:last-child {
	border-bottom: 0;
}
.muiEvaluationItem .muiEvalReplyOpt{ position:relative; top:-0.3rem;}
.muiEvaluationItem .muiEvaluationScore{ position:relative; top:-0.4rem;}
.muiEvaluationIcon {
	width: 3.7rem;
	height: 3.7rem;
	border: 1px solid #eee;
	border-radius: 50%;
	overflow: hidden;
	display: block;
	float: left;
	vertical-align:middle;
}

.muiEvaluationImg {
	width: 100%;
	border: none;
	height: 100%;
	border-radius: 50%;
}

.muiEvaluationInfo {
	margin-top:0.2rem;
	margin-bottom: 0;
	padding:0;
	width: 100%;
	height: 2.2rem;
	line-height: 2.2rem;
	vertical-align: middle;
	display: table;
}

.muiEvaluationLabel {
	font-size: 1.4rem;
	display: table-cell;
	font-weight:normal; vertical-align:top;
}

.muiEvaluationScore {
	text-align: right;
	vertical-align:top;
	display: table-cell;
	padding-right: 1rem;
}

.muiEvaluationSummary {
	margin: 0;
	margin-top:0.8rem;
	font-size: 1.6rem;
	/* text-align: justify; */
	line-height:1.3;
	color: #000;
	word-break: break-all;
	overflow: hidden;
}

.muiEvaluationCreated {
	width: 100%;
	margin:-0.2rem 0 0;
	padding:0 0 0 0.1rem;
	color: #828282;
	font-size:1.1rem;
	text-align: left;
}

.muiEvaluationReplyCreated{
	color: #828282;
	display: inline;
	margin-left: 0.5rem;
}

.muiEvalReplyLi.actived{
	background-color: rgb(228, 228, 228);
}

.muiEvalReplyMoreContent .muiEvaluationReplyCreated {font-size:1.1rem;}
.muiEvaluationCreated>i.mui{
	margin-right: 2px;
	font-size: 1.2rem;
	line-height: 1;
	position: relative;
	top:-1px;
}
.muiEvaluationScore .muiRating {
	width: 7.5rem !important;
}
#eval_tabbar li {
	list-style: none;
	display: inline-block;
	width: 82%;
	height: 100%;
}
#eval_tabbar li .muiEvalText{ position:relative; top:4px; padding-top:8px!important; padding-bottom:8px!important;}
#eval_tabbar li:first-child {
	width: 14% !important;
}

#eval_tabbar .muiEvalSubContainer {
	width: 10% !important;
	display: none;
}

.muiEvalMask>ul>li .title {
	margin-right: 1rem;
}
.muiEvalMask>ul>li>.title,
.muiEvalGradeLeft {
	color:#7e7e7e;	
	text-align: left;
	vertical-align: middle;
	font-size: 1.4rem;
}

.muiEvalGradeLeft>span:first-child {
	position: relative;
	top: 0.2rem;
}

.muiEvalGradeRight {
	vertical-align: middle;
	text-align: right;
	font-size: 1.4rem;
	padding-top: 0.6rem; 
}

.muiEvalGradeBar .muiEvalGradeRight {
   padding-top: .3rem;
    position: absolute;
    right: 1rem;
}

.muiEvalHideMask {
    justify-content: center;
}
.muiEvalHideMask>div {
     padding-top: 1rem;
}

.muiEvalMask .muiEvalSubmitBar {
    height: 3rem;
}
.muiEvalMask .muiEvalSubmitBar  .muiEvalGradeRight{
    padding-top: .3rem;
    position: absolute;
    right: 1rem;  
}

.muiEvalGradeLeft .muiRatingArea i,.muiEvalGradeLeft .muiRatingValue i {
	font-size: 1.6rem;
	width: 2rem;
}
.muiEvalGradeGood,.muiEvalGradeBad {
	color: #ffb535 !important;
	font-size: 1.5rem;
}

.muiEvalGradeBar {
	padding-top:0.8rem;
	width: 100%;
}
.muiEvalNotifyTypeBar {
	padding-top: 0.2rem;
}
.muiEvalNotifyTargetBar {
	padding-top: 1rem;
}
.muiEvalSubmitBar {
	border-top: 1px solid #d9d9d9;
}

.muiEvalGradeBad {
	color: #bfbfbf !important;
}

.muiEvalText,
.muiEvalMaskText {
	width: 95%;
	height: 2.5rem;
	line-height: 2.5rem;
	font-size: 1.4rem;
	background-color: #fff;
	display: block; padding:0.5rem 0.5rem;
	box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
	border: 1px solid #d7d7d7;
	/*去除默认样式*/
	-webkit-appearance: none;
	-webkit-border-radius: 3px;
}

.muiEvalMaskText {
	width: 100%;
	height: 5.5rem;
	line-height: normal;
    font-size:1.6rem;
	border: none; box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
    padding:0.5rem;
}

.muiEvalStoreList {
	margin: 0 1rem;
	border-top: none;
	border-left: 1px solid #e4e4e4;
	border-right: 1px solid #e4e4e4;
}

.muiEvalMask {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 2;
	overflow: hidden;
	-webkit-transition: opacity 0.2s linear;
	opacity: 0;
}

.muiEvalMask ul {
	-webkit-transform: translate3d(0px, 400%, 0px);
	-webkit-transition: all 0.5s ease-out;
	margin: 0;
	background-color: #f4f4f4;
	padding: 0.7rem 1rem;
}

.muiEvalMask>ul>li:first-child {
	padding-top: 0;
	border: 1px solid #d7d7d7;
}

.muiEvalMask>ul>li {
	list-style: none;
}

.muiEvalOpt {
	width: auto !important;
	position: relative;
	top: 0.4rem;
	margin:5px 0  12px 12px;
}

.muiEvalSubmit {
	text-align: right;
	border: #b5b5b5 1px solid;
	color: #b5b5b5;
	display: inline-block;
	padding: 0.2rem 0.7rem;
	border-radius: 3px;
	font-size: 1.4rem;
}

.muiEvalHideMask {
	border-radius: 50%;
	width: 4rem;
	height: 4rem;
	position: absolute;
	bottom: -2rem;
	background-color: #f4f4f4;
	left: 1.5rem;
	z-index: -1;
	text-align: center;
	line-height: 5rem;
}

.muiEvalHideMask>div {
	font-size: 2rem;
	color: #b5b5b5;
}

.muiEvalSubmit.muiEvalSubmitEnable {
	/*background-color: #2a61be;*/ background-color:#86bd63;
	color: #fff;
	border-color: #86bd63;
}

.muiEvalTitle>span {
	background-color: #f55e4d;
    margin-left:-0.4rem;	width: 0.4rem;
	height: 2rem;
	display: inline-block;
	vertical-align: middle;
}

/*在可视区域的宽度在 321px 和 431px 之间的时候被应用(小米2/三星  360px)*/
@media screen and (min-width: 321px) and (max-width: 400px) {
	.muiEvaluationIcon {
		width: 3.7rem;
		height: 3.7rem;
		border: 1px solid #eee;
		border-radius: 50%;
		overflow: hidden;
		display: block;
	}
	.muiEvaluationCreated {
		width: 100%;
		margin:-0.4rem 0 0;
		padding:0 0 0 0.2rem;
		color: #828282;
		font-size: 1.2rem;
		text-align: left;
		vertical-align: middle;
	}
	.muiEvalOpt {
		width: auto !important;
		position: relative;
		top: 0.4rem;
	}
	.muiEvalTitle div {
		color: #555e67;
		font-size: 1.5rem;
		line-height: 2.8rem;
		display: inline-block;
		padding-left: 0.5rem;
		font-weight: bold;
	}
	.muiEvalText {
		height: 2.8rem;
		line-height: 2.8rem;
		font-size: 1.6rem
	}
	.muiEvalMaskText {
		width: 100%;
		height: 6rem;
		line-height: 1.6rem;
		border: none;
		/*padding-left: 0;
		padding-right: 0;*/
	}
}

/*在可视区域的宽度大于401px 的时候被应用(魅族mx3 432px)*/
@media screen and (min-width: 401px) {
	.muiEvaluationIcon {
		width: 3.7rem;
		height: 3.7rem;
		border: 1px solid #eee;
		border-radius: 50%;
		overflow: hidden;
		display: block;
	}
	.muiEvaluationCreated {
		width: 100%;
		margin:-0.4rem 0 0;
		padding:0 0 0 0.2rem;
		color: #828282;
		font-size: 1rem;
		text-align: left;
		vertical-align: middle;
	}
	.muiEvalOpt {
		width: auto !important;
		position: relative;
		top: 0.6rem;
	}
	.muiEvalTitle div {
		color: #555e67;
		font-size: 1.5rem;
		line-height: 2.8rem;
		position: relative;
		display: inline-block;
		padding-left: 0.5rem;
		font-weight: bold;
	}
	.muiEvalText {
		height: 2.8rem;
		line-height: 2.8rem;
		font-size: 1.6rem
	}
	.muiEvalMaskText {
		width: 100%;
		height: 6rem;
		line-height: 1.6rem;
        font-size:1.6rem;
		border: none;
		/*padding-left: 0;
		padding-right: 0;*/
	}
}
ul.muiEvaluationHistogramContainer{
	list-style: none;
	margin: 0;
	padding: 0;
	border-left: 1px solid #e2e2e2;
	padding-left: 1rem;
}

.muiEvaluationHeaderContainer {
	margin: 0.3rem 1rem 0;
	background-color: #fff;
    padding-top: .6rem;
    padding-bottom: .6rem;
	border: 1px solid #e4e4e4;
}
.muiEvaluationHistogramContainer li {
	margin: 0.1rem 0;
}
.muiEvaluationHeaderContent {
    display: table;
    width: 100%;
}
.muiEvaluationHeaderContent .muiEvaluationHeaderLeft {
    display: table-cell;
    width: 10rem;
    vertical-align: middle;
}
.muiEvaluationHeaderContent .muiEvaluationHeadeRight {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}
.muiEvaluationHeaderScore {
	color:#ffb535;
	font-size: 4.2rem;
	text-align: center;
}
.muiEvaluationScoreUnit {
	font-weight: normal;
	font-size: 1.6rem;
}
.muiEvaluationHistogramContent {
	position: relative;
	display: inline-block;
	height: 1.1rem;
	margin-left: 0.2em;
	background-color: #E6E5E1;
	top: 1px;
}

.muiEvaluationHistogramBody {
	display: inline-block;
	background-color: #ffb535; 
	height: 1.1rem;
	position: absolute;
} 

.muiEvaluationHistogramTitle {
	width: 2rem;
	text-align: left;
	font-size: 1.2rem;
	display: inline-block;
}
.muiEvaluationHistogramNum {
	color:#828282;
	font-size: 1.2rem;
	padding-left: 0.3rem;
}

.muiEvaluationHeaderLeft .mui-star-on,
.muiEvaluationHeaderLeft .mui-star-off {
	font-size: 1.6rem;
	line-height: 1.6rem;
	margin: 0 0.2rem;
}

.mulRatingHarfContainer {
    position: relative;
    font-size: 1.5rem;
}
.mulRatingHarfContainer .mulRatingHarf{
    margin-top: -0.2rem !important;
}
.mulRatingHarf {
	position: absolute;
	z-index: 10;
	top: 0;
	left: 0;
	overflow: hidden;
}
.muiEvaluationHeaderLeft .muiRating {
	width: 100%!important;
}
.muiEvaluationHeaderLeft .muiRatingArea {
	text-align: center;
}
.muiEvaluationHeaderNone {
	text-align: center;
	padding: 0.8rem 0;
	color: #ffb535;
	font-size: 1.6rem;
}

.muiEvaluationHeadeCount {
	color:#828282;
	font-size: 1.2rem;
	text-align: center;
    margin-top: .4rem;
    margin-bottom: .6rem;
}

.muiEvalReplyMore{
	padding-top: 0.5rem;
}

.muiEvalReplyMoreMessage{
	color: #2677db;
	font-size: 1.2rem;
	float: right;
	padding-top: 0.5rem;padding-right:0.2rem;
	cursor: pointer;
}

.muiEvalReplyMore:after{
	display: block;
	content: ".";
	clear: both;
	line-height: 0;
	visibility: hidden;
}

.muiEvalReplyOpt{
	text-align: right;
	display: table-cell;
	width: 3.5rem;
}


.muiEvalReplyOperation{
	position: relative;
	display: inline-block;
	height: 2rem;
	line-height: 1.6rem;
	background: #fff;
	border: 0.1rem #cbcbcb solid;
	border-radius: 4px;
	z-index: 11;
	text-align: center;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 3rem;
}
.muiEvalReplyOperation:active{ background:#e1e1e1;}
.muiEvalReplyOperation:active .f{ border-color: transparent #e1e1e1 transparent transparent;}
.muiEvalReplyOperation .l{
	position: absolute;
 	left: -1rem;
 	top: 0.5rem;
 	width: 0;
 	height: 0;
 	font-size: 0;
 	border-width: 0.5rem;
  	border-style: dashed solid dashed dashed;
  	border-color: transparent #cbcbcb transparent transparent;
}
.muiEvalReplyOperation .f{
	position: absolute;
	left: -0.9rem;
	top: 0.5rem;
	width: 0;
	height: 0;
	font-size: 0;
	border-width: 0.5rem;
	border-style: dashed solid dashed dashed;
	border-color: transparent #FFF transparent transparent;
}

.muiEvalReplyOperation .mui.mui-more {
	font-size: 2rem;
	color: #626466;
}

.muiEvalReplyContent{
	font-size: 1.3rem;
}

.muiEvalReplyContent>div{
	word-break: break-all;
	overflow: hidden;
}

.muiEvalReplyLi{
	font-size: 1.3rem;
	padding: 0.5rem 1rem;
	margin: 0rem 0 0  4.5rem;
	display: inline-block;
}
.muiEvalReplyMoreContent>div:first-child{margin-top:0.8rem; padding-top:1rem; border-top:1px solid #ddd;}

.muiEvaluationAdditionNode {
	padding-left: 4.6rem;
    list-style: none;
}
.muiEvaluationAdditionNode .muiEvaluationAdditionItem {
	margin-top: 1rem;
    border-top: 1px dotted #d1d1d1;
    padding-top: 1rem;
    display: block;
    line-height: 1.8rem;
}

.muiEvalAttList {
	max-height: 18rem;
	overflow-y: auto;
}

/* 点评样式 */
.muiEvalNotifyTypeBar .muiCheckItem{
    line-height:1.6rem;
    margin-top: 0.5rem !important;
    margin-right: 0.5rem !important;
}

.muiEvalNotifyTargetBar .muiCheckItem{
    line-height:1.6rem;
    margin-top: 0.5rem;
}

.muiEvalMask>ul>li {
    list-style: none;
    display: flex;
    align-items: center;
}

.muiEvalNotifyTypeBar .oldMui.muiFormEleWrap .muiCheckBoxWrap.muiCheckBoxNormalWrap{
    margin-top: 0.6rem;
}