.muiFormInput {
	padding: 0;
	border: none;
	text-align: left;
	width: 100%;
	font-size: 1.4rem;
}
.muiFormTextarea {
	border: none;
	overflow-y: hidden;
	padding: 0;
	vertical-align: top;
	width: 100%;
	font-size: 14px;
	line-height: 14px;
	word-wrap:break-word; 
	word-break:break-all; 
}
.muiFormTextareaPre{
	position: absolute;
	top:0px;
  z-index: -100;
  font-size: 14px;
  visibility: hidden;
  white-space:pre-wrap;
  word-break: break-word;
	word-wrap: break-all;
  line-height: 14px;
}


.muiSwitchContanier {
	margin-top: -1px;
	height: 5rem;
	padding: 0 1rem;
	position: relative;
}

.muiSwitchContanier  .muiFormEleTitle {
	color: #333;
}
.muiFormEleWrap {
	box-sizing: border-box;
	padding: 0 1rem 0 0;
	margin-top: -1px;
	position: relative;
}
.oldMui.muiFormEleWrap  {
	min-height: 3rem;
}
.newMui.muiFormEleWrap {
	min-height: 4rem;
}
.newMui.muiFormEleWrap.muiFormStatusView {
	min-height: auto;
}
.muiFormEleWrap.muiAddressShowHeadImg {
	width: 100% !important;
}
.oldMui.muiFormEleWrap.muiCategory.popup,
.muiFormEleWrap.muiAddressShowHeadImg.muiAddressForm {
	height: auto;
}
/* 下划线加在tr Starts */
.newMui .muiSimple>tbody td {
	/* position: relative; */
}
.muiSimple>tbody td:after {
	left: 0;
}
.muiSimple>tbody tr:last-child td:after {
	display: none;
}
/* 下划线加在tr Ends */

/* 下划线加在表单组件内 Starts */
.blankWarning textarea::-webkit-input-placeholder,
.blankWarning input::-webkit-input-placeholder {
	color: #e60000 !important;
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
	.muiFormStatusEdit.muiFormEleWrap:hover:before {
		border: 1px solid #4285f4 !important;
	}
	.muiFormEleWrap.textarea:hover:before {
		border: none !important;
	}
	.muiFormEleWrap.popup:hover:before {
		border: 1px solid #d3dce6 !important;
	}
	.muiFormEleWrap.blankWarning:before,
	.muiFormEleWrap.contentWarning:before {
		border: 1px solid #e60000;
	}
}
.muiFormEleTitle {
	display: none;
	margin-right: 0.3rem;
	color: #999;
	font-size: 1.3rem;
}
.muiFormEleWrap.muiFormStatusView .muiFormEleTip .muiFormEleTitle {
	padding-top: 0;
}

.muiFormEleWarning {
	font-size: 1.2rem;
	color: #e60000;
	display: none;
}
.muiFormEleWrap .muiInput,.muiFormEleWrap .muiTextarea {
	box-sizing: border-box;
	font-size: 1.5rem;
	border: 0;
	position: relative;
	z-index: 2;
	width: 100%;
	color: #333;
	padding-right: 2rem;
}
.oldMui.muiFormEleWrap .muiInput {
	height: 3rem;
}
.newMui.muiFormEleWrap .muiInput{
	height: 3.8rem;
	margin-top: 0.1rem;
	padding :0;
}

.muiFormEleWrap.blankWarning .muiInput::-webkit-input-placeholder,
.muiFormEleWrap.blankWarning .muiTextarea::-webkit-input-placeholder,
.muiFormEleWrap.blankWarning .muiSelInput:empty:after,
.muiFormEleWrap.contentWarning .muiSelInput:empty:after{
	color: #e60000;
}

.muiFormEleWrap:hover .muiInput::-webkit-input-placeholder,
.muiFormEleWrap:hover .muiTextarea::-webkit-input-placeholder,
.muiFormEleWrap.blankWarning:hover .muiInput::-webkit-input-placeholder{
	color: #fff !important;
}

.muiFormEleWrap.showTitle .muiFormEleTitle,
.muiFormEleWrap:hover .muiFormEleTitle,
.muiFormEleWrap.contentWarning .muiFormEleWarning {
	display: inline-block;
}
.muiFormEleWrap.contentWarning .muiFormEleTitle{
	display: none;
}

/*兼容新结构*/
.muiSelInputRight .mui, .muiSelInputRight .fontmuis.muis-form-delete-btn{
	display: none;
}

.newMui.muiFormEleWrap.showTitle .muiInput,
.newMui.muiFormEleWrap:hover .muiInput,
.newMui.muiFormEleWrap.contentWarning .muiInput {
	height: auto;
	margin-top: 0.8rem;
	padding-right: 2rem;
}
.newMui .muiFormEleTip {
	line-height: 1.4rem;
}
.muiFormEleWrap .mui-close {
	color: #fff;
	background-color: #aaa;
	border-radius: 50%;
	width: 1.2rem;
	height: 1.2rem;
	font-size: 0.8rem;
	line-height: 1.4rem;
	text-align: center;
	display: none;
}
.newMui.muiFormEleWrap .mui-close {
	position: absolute;
	right: 1rem;
	bottom: 1rem;
	z-index: 3;
}
.newMui.muiFormEleWrap.textarea .mui-close {
	position: static;
	margin-top: 0.5rem;
	float: right;
}


.muiFormEleWrap.popup {
	position: relative;
	height: 4rem;
	box-sizing: border-box;
}
.oldMui.muiFormEleWrap.popup {
	height: auto;
	padding: 0;
}
.muiFormEleWrap.popup.muiCategory {
	min-height: auto;
	height: auto;
}
.muiFormEleWrap.popup .muiFormEleTip {
	display: none;
	position: absolute;
	top: 0;
}
.muiFormEleWrap.popup.muiCategory .muiFormEleTip,
.muiFormEleWrap.popup.muiAddressForm .muiFormEleTip {
	position: relative;
	left: 0;
}
/* 公式加载模块套两层问题 */
.newMui.muiFormEleWrap .muiFormEleWrap.popup .muiFormEleTip {
	left: 0;
}
.newMui.muiFormEleWrap .muiFormEleWrap.popup .muiSelInputRight {
	right: 0;
}
.muiFormEleWrap.popup .muiFormEleTitle {
	font-size: 1.3rem;
	color: #999;
}
.muiFormStatusView .muiSelInput {
	font-size: 1.4rem;
}
.oldMui.muiFormStatusEdit .muiSelInput:empty:after{
	  line-height: 3rem;
}
.muiFormStatusEdit .muiSelInput:empty:after {
  content: attr(placeholder);
  color: #B0B4CA;
  display: block;
  height: 100%;
  line-height: 4rem;
  font-size: 1.5rem;
  white-space: initial;
}
.muiFormEleWrap.showTitle .muiFormEleTip {
	display: block;
}
.muiFormEleWrap.showTitle .muiSelInput {
	height: 100%;
	padding-top: 2.1rem;
}
.newMui.muiFormEleWrap.showTitle .muiSelInput {
	height: auto;
}
.muiFormEleWrap.showTitle .muiSelLabel{
	height: auto;
	color: #333;
	height: 100%;
	padding: 0.4rem 0 0.5rem 0;
}
.newMui.muiFormEleWrap.showTitle .muiSelLabel {
	padding-bottom: 0;
}
.muiSelInput::input-placeholder {
	font-size: 1.4rem;
}
.muiSelInput::-webkit-input-placeholder {
	font-size: 1.4rem;
}
.muiSelInputRight {
	position: absolute;
	right: 0rem;
	top: 1.6rem;
	color: #d5d5d5;
}
.muiSelInputRightHaveFormRequired { 
	right: 1rem; 
}
.muiSelInputRight>span{
	color: var(--muiFontColor);
	font-size: var(--muiFontSizeM);
	z-index:3;
	position: relative;
}

.oldMui .muiSelInputRight {
	margin-top: -1rem;
}
.newMui .muiSelInputRight {
	margin-top: -1.2rem;
}
.muiSelInputRight .mui,.muiSelInputRight .fontmuis{
	color: #C7C7CC;
	z-index:3;
	font-size: var(--muiFontSizeMS);
}
.muiSelInputRight .mui.mui-forward {
	color: #aaa;
}
.muiInput_View{
	color: var(--muiFontColorInfo);
}
.newMui .muiInput_View {
	padding: 0.6rem 0 0 0;
}
.oldMui .muiInput_View {
	padding: 0 1rem 0rem 0;
}
.oldMui.muiFormStatusView {
	display:flex;
	display:-webkit-flex;
	align-items: center;
	-webkit-align-items: center;
}
.muiFormStatusView {
	display:block;
	color: var(--muiFontColorInfo);
}
.muiFormEleWrap.textarea {
	position: relative;
	box-sizing: border-box;
	padding: 0;
	margin-top:1px;
}
.muiFormEleWrap.textarea .muiTextarea {
	position: relative;
	padding-top: 2rem;
	min-height: 11rem;
}
.newMui.muiFormEleWrap.textarea .muiTextarea {
	padding-top: 0rem;
}
.newMui.muiFormStatusView  .muiFormTextareaContent {
	line-height: 2.2rem;
	padding: 3rem 1rem 1rem;
	color: #333333;
}
.oldMui .muiFieldRtf_Edit {
	display:flex;
	display:-webkit-flex;
	align-items:center;
	align-items:-webkit-center;
}
.newMui .muiFieldRtf  {
	line-height: 2.2rem;
	padding: 0 1rem 0.5rem;
}
.newMui .muiFieldRtf_Edit {
	display:flex;
	display:-webkit-flex;
	align-items:center;
	-webkit-align-items:center;
}
.newMui.muiFormEleWrap .muiInput::-webkit-input-placeholder,
.newMui.muiFormEleWrap.textarea .muiTextarea::-webkit-input-placeholder{
    color: #B0B4CA;
}
.newMui.muiFormEleWrap.textarea.showTitle .muiTextarea,
.newMui.muiFormEleWrap.textarea:hover .muiTextarea {
	padding-top: 2rem;
}
.muiFormEleWrap.textarea .muiFormEleTip {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	right: 1rem;
}
.muiFormEleWrap.textarea:hover .muiFormEleTip,
.muiFormEleWrap.textarea.error .muiFormEleTip,
.muiFormEleWrap.textarea.showTitle .muiFormEleTip {
	display: block;
	box-sizing: border-box;
}
.muiTextarea {
	position: relative;
	padding-top: 1rem;
	width: 100%;
	height: 100%;
	font-size: 1.5rem;
	box-sizing: border-box;
	border: 0;
}
.muiFormEleWrap.showTitle.textarea .muiFormEleTip {
	display: block;
	/* padding-top: 0.5rem; */
}
.muiFormEleWrap.textarea.error .muiTextarea,
.muiFormEleWrap.textarea.empty .muiTextarea {
	border: 1px solid #e60000;
}
.muiFormEleWrap.textarea.error .muiTextarea,
.muiFormEleWrap.textarea.empty .muiTextarea {
	border: 1px solid #e60000;
}
.muiFormEleWrap.textarea.empty .muiTextarea::input-placeholder {
	color: #e60000;
}
.muiFormEleWrap.textarea.empty .muiTextarea::-webkit-input-placeholder {
	color: #e60000;
}
.muiFormEleWrap.textarea.empty .muiTextarea:focus::input-placeholder {
	color: #B0B4CA;
}
.muiFormEleWrap.textarea.empty .muiTextarea:focus::-webkit-input-placeholder {
	color: #B0B4CA;
}
.muiTextareaWarning {
	display: none;
}
.muiFormEleWrap.textarea.error .muiTextareaWarning {
	color: #e60000;
	display: inline-block;
	padding-left: 0.5rem;
}
.newMui .muiTextarea{
	border: 0;
}
.muiTextareaCloseBtn {
	position: absolute;
	top: 1rem;
	right: 2rem;
}
.muiFormEleWrap.textarea .mui-close {
	background-color: #aaa;
	border-radius: 50%;
	color: #fff;
	font-size: 0.8rem;
	width: 1.2rem;
	height: 1.2rem;
	line-height: 1.4rem;
	text-align: center;
}


/* oldMui 过渡样式兼容 Starts */
.oldMui .muiResponse .muiTextarea {
	border: none;
	padding: 0 1rem;
}

/* oldMui 过渡样式兼容 Ends */

.muiFormEleWrap.popup{
	height:auto;
}

.muiSelInputRight.muiSelInputRightText:BEFORE{
	content: '';
    display: block;
    width: 1px;
    border-left: 1px solid #D8D8D8;
    position: absolute;
    margin-left: -1rem;
    height: 1.4rem;
    top: 50%;
    margin-top: -0.7rem;
}

/* 表单控件左对齐样式  Starts */
.muiFormEleWrap.muiFormLeft{
	text-align: left;
}
.muiFormEleWrap.muiFormLeft .muiInput_View,
.muiFormEleWrap.muiFormLeft .muiFormTextareaContent,
.muiFormEleWrap.muiFormLeft.popup .muiSelInput,
.muiFormEleWrap.muiFormLeft.muiFormGroup{
	padding-right: 1.2rem;
	word-break: break-all;
}
.muiFormEleWrap.muiFormLeft .muiSelInputRight+.muiSelInput,
.muiFormEleWrap.muiFormLeft .muiSelInputRight.muiSelInputRightText+.muiSelInput{
	padding-right: 2.6rem!important;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* 表单控件左对齐样式  Ends */


/* 表单控件右对齐样式  Starts */
.muiFormEleWrap.muiFormRight{
	display: block;
}
.muiFormEleWrap.muiFormRight,
.muiFormEleWrap.muiFormRight .muiInput,
.muiFormEleWrap.muiFormRight .muiTextarea,
.muiFormEleWrap.muiFormRight .muiCateFiledShow{
	text-align: right;
}
.muiFormEleWrap.muiFormRight .muiInput::-webkit-input-placeholder,
.muiFormEleWrap.muiFormRight .muiTextarea::-webkit-input-placeholder{
	text-align: right;
    line-height: normal;
}
.muiFormEleWrap.muiFormRight.muiFormGroup,
.oldMui.muiFormEleWrap.muiFormRight.muiFormGroup{
	text-align: left;
}
.muiFormEleWrap.muiFormRight.muiFormLocation.muiFormStatusEdit .muiInput::-webkit-input-placeholder{
	padding-right: 0;
}

.muiFormEleWrap.muiFormRight ~ .muiValidate{
	float: right;
	margin-right: 2rem;
}
.muiFormEleWrap.muiFormRight .muiInput_View,
.muiFormEleWrap.muiFormRight .muiFormTextareaContent,
.muiFormEleWrap.muiFormRight.popup .muiSelInput,
.muiFormEleWrap.muiFormRight.muiFormGroup{
	padding-right: 1.2rem;
	word-break: break-all;
}
.muiFormEleWrap.muiFormRight .muiSelInputRight+.muiSelInput,
.muiFormEleWrap.muiFormRight .muiSelInputRight.muiSelInputRightText+.muiSelInput{
	padding-right: 5rem!important;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    
}

/* 表单控件右对齐样式  Ends */
