.muiLbpmserviceAuditContainer{
	padding-top: 10px;
	border-top:1px solid #e2e2e2;
    padding-bottom:5rem;
}
.muiLbpmserviceAuditNodeItem {
	margin-left: 1.6rem;
	padding: 0.5rem 0rem 0.8rem 1.6rem;
	-webkit-transition: all 0.2s ease-out;
	overflow: hidden;
	margin-right: 1.6rem;
}

.muiLbpmserviceAuditLabelItem {
	position: relative;
	padding-left: 1.6rem;
	margin:0 1.6rem; 
	-webkit-transition: all 0.2s ease-out;
	background-color: #fff;
	border-left: 1px solid #e8e8e8;
}

.muiLbpmserviceAuditNodeItemBorder {
	border-left: 1px solid #e8e8e8;
}
.muiLbpmserviceAuditNodeItemContainer {
	background: #fff;
	position: relative;
}

.muiLbpmserviceAuditNodeImage {
	border-radius: 50%;
	width: 3rem;
	height: 3rem;
	position: absolute;
	left: 0.6rem;
	top: 0.4rem;
}

.muiLbpmserviceAuditNodeInfo h4 {
	color: #4285f4;
	font-weight: normal;
	font-size: 1.3rem;
	line-height: 2rem;
	padding: 0;
	margin: 0;
}

.muiLbpmserviceAuditNodeInfo {
	padding: 0.3rem 0.5rem 0.5rem 4.5rem;
	background-color: #f5f5f5;
	position: relative;
	border: 1px solid #e5e5e5;
	border-radius: 5px 5px 0px 0px
}

.muiLbpmserviceAuditNodeInfo:after {
	display: block;
	content: 'clear';
	clear: both;
	line-height: 0;
	visibility: hidden;
}

.muiLbpmserviceAuditNodeDate {
	color: #777676;
	line-height: 1.3rem;
	padding: 0;
	margin: 0;
	float: left;
}

.muiLbpmserviceAuditNodeDate span {
	font-size: 1rem;
	display: inline-block;
	padding-left: .2rem;
}

.muiLbpmserviceAuditNodeContent {
	border-radius: 0px 0px 5px 5px;
	padding: 0.5rem;
	font-size: 1.2rem;
	color: #050505;
	border: 1px solid #e5e5e5;
	border-top: none;
	user-select : text;
	-webkit-user-select : text;
}

.muiLbpmserviceAuditNodeContent p {
	padding: .5rem 0;
	margin: 0;
	user-select : text;
	-webkit-user-select : text;
}

.muiLbpmserviceAuditNodeContent p:last-child {
	text-align: right;
	word-wrap: break-word;
	word-break: break-all;
}

.muiLbpmserviceAuditNodeContent .muiLbpmserviceAuditNodeNode {
	font-size: 1.6rem;
	padding: 0 0 .5rem 0;
	word-break: break-all;
}
.muiLbpmserviceAuditNodeContent .muiLbpmserviceExtNoteNode {
	font-size: 1.6rem;
	padding: 0 0 .5rem 0;
	word-break: break-all;
}
.muiLbpmserviceAuditNodeContent .muiAttachmentItem .muiAttachmentItemL{ padding-left: 0;}
.muiLbpmserviceAuditNodeContent .muiAttachmentItem .muiAttachmentItemR{ padding-right: 0;}

.muiLbpmserviceAuditNodeContent em {
	font-weight: normal;
	font-style: normal;
	color: #7e7e7e;
}

div .muiLbpmserviceAuditLabelItem:first-child{ margin-top: 1rem;}
.muiLbpmserviceAuditLabelItemTitle {
	font-size: 1.4rem;
	color: #777676;
	padding: 0.6rem 0;
}

.muiLbpmserviceAuditLabelItemTitle i {
	display: inline-block;
	width: 0rem;
	height: 0rem;
	border: 0.6rem solid transparent;
	border-bottom-color: #d8ab56;
	top: -0.3rem;
	position: relative;
	margin-left: 0.5rem;
}

.muiLbpmserviceAuditLabelItemPostscript{
	display: inline-block;
	float: right;
	margin-top:-0.3rem;
}

.muiLbpmserviceAuditLabelItemTitle.hide i {
	border-top-color: #d8ab56;
	border-bottom-color: transparent;
	top: 0.3rem;
}
.muiLbpmserviceAuditLabelItemDot {
	position: absolute;
	display: inline-block;
}
.muiLbpmserviceAuditNormal .muiLbpmserviceAuditLabelItemDot{
	left: -1.2rem;
	top:0.2rem;
	width: 2.2rem;
	height: 2.2rem;
	vertical-align:middle;
	text-align:center;
	border-radius: 100%;
	border-width: 1px;
	border-style:solid;
	border-color: rgba(200,200,200,0.4);
	background-color: #fff;
	display: -webkit-box;
	display: box;
	-webkit-box-orient: vertical;
			box-orient: vertical;
	-webkit-box-pack: center;
			box-pack: center;
	-webkit-box-align:center;
			box-align:center;
	-webkit-box-sizing:border-box;
			box-sizing:border-box;
}
.muiLbpmserviceAuditContainer .muiLbpmserviceAuditLabelItem:nth-child(3){ padding-top:2rem;}
.muiLbpmserviceAuditContainer .muiLbpmserviceAuditLabelItem:nth-child(3) .muiLbpmserviceAuditLabelItemDot{ top:2.2rem;}
.muiLbpmserviceAuditContainer .muiLbpmserviceAuditLabelItem.muiLbpmserviceAuditNodeItemBorder:last-child{ padding-bottom:2rem;}

.muiLbpmserviceAuditNormal .muiLbpmserviceAuditLabelItemDot i{
	display:block;
	width: 1rem;
	height: 1rem;
	border-radius: 50%;
	background-color: #18b4ed;
}
.muiLbpmserviceAuditStart .muiLbpmserviceAuditLabelItemDot,.muiLbpmserviceAuditEnd .muiLbpmserviceAuditLabelItemDot{
	top:0rem;
	left: 0rem;
	width: 2rem;
	height: 2rem;
	border: none;
	background-color: none; vertical-align:middle; display:table-cell;
}
.muiLbpmserviceAuditStart,.muiLbpmserviceAuditEnd{ margin-left:0.5rem; display:inline-block; height:2rem; line-height:2rem; padding:0rem 1rem; padding-left:2.2rem; border-radius:2rem; background:#969696; color:#fff;}
.muiLbpmserviceAuditEnd{ position:relative; top:-0.5rem;}
.muiLbpmserviceAuditEnd .muiLbpmserviceAuditLabelItemDot i,
.muiLbpmserviceAuditStart .muiLbpmserviceAuditLabelItemDot i {
	color: #fff;
	width: 2rem;
	font-size: 1.4rem;
	height: 2rem;
	line-height: 2rem;
	text-align: center;
	vertical-align: top;
}
.muiLbpmserviceAuditEnd .muiLbpmserviceAuditLabelItemDot i.mui { }
.muiLbpmserviceAuditStart .muiLbpmserviceAuditLabelItemDot i.mui-play { }
.muiLbpmserviceAuditEnd .muiLbpmserviceAuditLabelItemDot i.mui-stop { }
.muiLbpmserviceAuditStart .muiLbpmserviceAuditLabelItemTitle,
.muiLbpmserviceAuditEnd .muiLbpmserviceAuditLabelItemTitle {
	color: #fff; padding:0px;font-size:1.2rem;
}


.muiLbpmserviceAuditBranchItem {
    margin: 0 1.6rem;
    padding-left: 1.6rem;
	text-align: center;
	border-left: 1px solid #e8e8e8;
	background-color: #fff;
}

.muiLbpmserviceAuditBranchContent {
	padding: 0.2rem 0;
}

.muiLbpmserviceAuditBranchTitle {
	position: relative;
	display: inline-block;
	height: 3rem;
	line-height: 3rem;
	border-radius: 5px;
	background: #fbd48a;
	color: #fff;
	font-size: 1.6rem;
	width: 100%;
	padding-left: 1rem;
	padding-right: 1rem;
    -webkit-box-sizing: border-box;
		    box-sizing: border-box;
}

.muiLbpmserviceAuditBranchTitle i {
	display: inline-block;
	width: 0px;
	height: 0px;
	border: 0.6rem solid transparent;
	border-bottom-color: #d8ab56;
	top: -0.3rem;
	position: relative;
	margin-left: 0.5rem;
}

.muiLbpmserviceAuditBranchTitle.hide i {
	border-top-color: #d8ab56;
	border-bottom-color: transparent;
	top: 0.3rem;
}

.muiLbpmserviceAuditNodeFrom {
	font-style: normal;
	color: #8e8e8e;
	line-height: 1.3rem;
	padding: 0;
	margin: 0;
	font-size: 1rem;
	float: right;
}

.muiLbpmserviceAuditNodeDate.mui.mui-time {
	font-size: 1rem;
}

.muiLbpmserviceAuditNodeActionName {
	color: #777676;
	font-size: 1rem !important;
}

.muiLbpmserviceAuditNodeNode .muiLbpmserviceAuditNodeHide {
	font-style: italic;
}

.muiLbpmserviceAuditStartItem{
	margin-left: 1.6rem;
	padding: 0 0 0.5rem 1.6rem;
	margin-right: 1.6rem;
}
	
.muiLbpmserviceAuditStartItem>span{
	background-color: #2EACD9;
	padding: 0.3rem 0.8rem;
	color: #fff;
	font-size: 1.3rem;
	border-radius: 0.3rem;
	margin:0 0 0.7rem -3.4rem ;
	display: inline-block;
}

.muiLbpmserviceAuditLabelItem.summary .muiLbpmserviceAuditLabelItemTitle{
	color: #EEC786;
	font-size: 1.4rem;	
}

.mblListItem.lbpmFlowChartForward{
	font-size: 1.5rem;	
}

.mblListItem.lbpmFlowChartForward:nth-child(2){
	border-bottom: 1px solid rgb(221, 221, 221);
}