@IMPORT url("./listItem-tiny.css");


.mblListItemLayoutLeft {
    position: relative;
    float: left;
    margin-right: 11px;
}

.mblListItemLayoutRight {
    position: relative;
    float: right;
}

.mblListItem *[layout="right"] {
    color: #8F8F8F;
}

/*列表摘要*/
.muiListSummary{
	color: #999;
	line-height: 1.5rem;
}

.muiListInfo>div{
	font-size: 1.3rem;
	line-height: 1;
}

/*右图列表*/
.muiComplexrItem{
	display: block;
}
.muiComplexrItem .muiListItem {
	padding-left: 1rem;
	padding-right: 1rem;
}
.muiComplexrTop{
	color: #333;
	display: block;
	zoom:1;
	position: relative;
}
.muiComplexrTop:after{
	content: 'clear';
	clear: both;
	display: block;
	line-height: 0;
	visibility: hidden;
}
.muiComplexrBottom{ }
.muiComplexrTitle {
	margin: 0 0 0.8rem 0;
	color: #333;
	font-size: 1.5rem;
	font-weight: normal;
	line-height: 2rem;
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: break-all;
	word-wrap: break-word;
	-webkit-line-clamp: 2;
	display: -webkit-box;
	-webkit-box-orient: vertical;
					box-orient: vertical;
	-webkit-box-pack: start!important;
					box-pack: start!important;
	-webkit-box-align: start;
					box-align: start;
}
.muiComplexrItem:visited{
	color: #888;
}
.muiComplexrSummary{
    margin:0;
	/*max-height: 3.2rem;*/
	overflow: hidden;
	text-overflow: ellipsis;
	display:-webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	margin-top: 0.8rem;
}
.muiComplexrIcon{
	margin-left:0.4rem;
	width: 9.5rem;
	height: 7rem;
	overflow: hidden;
	float: right;
}
.muiComplexrImg{
	width: 100%;
	text-align: right;
}

.muiComplexrCreated,.muiComplexrRead,.muiComplexrStatus{
		color: #999;
}
.muiComplexrItem .muiComplexrRead {
	font-size: 1.8rem;
	position: relative;
	top: -4px;
}
.muiComplexrItem .muiComplexrRead.mui-eyes:before {
	font-size: 1.5rem;
}
.muiComplexrItem .muiComplexrRead .muiNumber {
	font-size: 1.3rem;
	position: relative;
	top: -1px;
}
.muiComplexrCreated {
	padding-right: 2rem;
	float: left;
}
.muiComplexlCreator {
	overflow: hidden;
    text-overflow: ellipsis;
    max-width: 48px;
}
.muiComplexrCreator{
	float: left;
	padding-right:1rem;
	overflow: hidden;
    text-overflow: ellipsis;
    width: 48px;
}
.muiAuthor.muiComplexrCreator {
	color: #333!important;
	font-size: 1.3rem;
}
.muiComplexrRead{
	width: 4rem; float:left
}

.muiListInfo>div.muiComplexrStatus{
	margin-top: -6px;
	min-height: 26px;
	text-align: right;
	line-height: normal;
	float:right;
}

.muiComplexrStatusBorder{
	font-size: 1rem;
 	border-radius: 3px;
	border-width: 1px;
	border-style: solid;
	border-color: initial;
	display:block;
	padding: 0.2rem 0.4rem;
	max-width: 5rem;
}
/*** 三级页面带回复的（圈子话题，问答阅读）***/
.muiTopicReplyContainer .muiPostItem {
	display: block;-webkit-tap-highlight-color:rgba(0,0,0,0);
}
.muiTopicReplyContainer .muiPostItem:last-child{ border-bottom:none;}
.muiTopicReplyContainer .muiPostItem .muiPostContent{ background-color:transparent;}
.muiTopicReplyContainer .mblEdgeToEdgeList {
	background-color: #f5f7fa;
}
.muiTopicReplyContainer .muiPostItem .muiPostHead .muiTopicReplyOpt,
.muiTopicReplyContainer .muiPostItem .muiPostHead  .muiPostReplyOpt{ vertical-align:top; width:3.6rem;}
.muiTopicReplyContent{
	padding: 0.5rem 0 0.5rem 4.5rem;
	display: block;
	color: #333;
	word-break: break-word;
	word-wrap: break-all;
	font-size: 1.4rem;
}
.muiTopicReplyContent>p{
	padding:0;
	margin:0;
}

.muiTopicReplyOperation {
	position: relative;
	right: 0rem;
	top: 0.5rem;
	display: block;
	width: 3rem;
	height: 2rem;
	background: #fff;
	border: 0.1rem #cbcbcb solid;
	border-radius: 4px; z-index:11;
	text-align: center;-webkit-tap-highlight-color:rgba(0,0,0,0);
}
.muiTopicReplyOperation .l {
	position: absolute;
	left: -1rem;
	top: 0.5rem;
	width: 0;
	height: 0;
	font-size: 0;
	border-width: 0.5rem;
	border-style: dashed solid dashed dashed;
	border-color: transparent #cbcbcb transparent transparent;
}
.muiTopicReplyOperation .f {
	position: absolute;
	left: -0.9rem;
	top: 0.5rem;
	width: 0;
	height: 0;
	font-size: 0;
	border-width: 0.5rem;
	border-style: dashed solid dashed dashed;
	border-color: transparent #FFF transparent transparent;
}
.muiTopicReplyOperation .mui.mui-more {
	font-size: 2rem;
	color: #626466;
}
.muiTopicReplyEvaluation {
	padding-left:4.5rem;
	font-size:1.2rem; padding-top:1rem;
}
.muiTopicReplyEvaluationLi:first-child{ border-top:0.1rem solid #d9d9d9;}
.muiTopicReplyEvaluationLi {
	padding: 0.6rem 0.2rem;
}
.muiTopicReplyEvaluationLi i.muiTopicReplyEvaTime {
	color: #a0a0a3;
	font-style: normal;
	padding-left:0.2rem;
}


/*左图列表*/
.muiComplexlItem {
}

.muiComplexlItem a {
	padding-left: 11rem;
	position: relative;
	min-height: 7.8rem;
	display: block;
}

.muiComplexlItem a>span:first-child {
	height: 7.6rem;
	width: 10rem;
	position: absolute;
	left: .25rem;
	top: 0;
	line-height: 7.6rem;
	text-align: center;
	
	background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    background-color: #eee;
}

.muiComplexlItem h3{
	margin: 0 0 0.5rem;
	font-size: 1.7rem;
	color: #000;
	word-break: break-all;
	font-weight: normal;
}
.muiComplexlItem a:VISITED h3{
	color: #888;
}

.muiComplexlItem p {
	margin: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	max-height: 3.1em;
}

.muiComplexlItem img {
	max-height: 100%;
	max-width: 100%;
	vertical-align: top; margin-top:5px;
	position: relative;
	top: -1px;
}

.muiComplexlBottom {
}

.muiComplexlItem .muiComplexlCreated,.muiComplexlItem .muiComplexlRead {
	text-align: left;
	color: #989898;
}

.muiComplexlItem .muiComplexlRead{
	text-align: right;
	padding-left: 1rem;
}


/*纯文本列表*/
.muiTextItem {
	display: block;
	padding: 1rem;
}
.muiTextItem.muiTextItemL {
	padding-left: 3rem;
	position: relative;
}

.muiTextItem.muiTextItemL>img{
	width: 2rem;
	height: 2rem;
	position: absolute;
	top: 0.8rem;
	left: 0.5rem;
}

.muiTextItem a{
	margin: 0 0 0.5rem 0;
	vertical-align: middle;
	font-size: 1.6rem;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.muiListItem a:visited .muiSubject,
.muiListItem a:visited .muiComplexrTitle {
	color: #333 !important;
}

.muiTextItem p{
    margin-top: 0.5rem;
    margin-bottom: 0;
	clear: both;
	width: auto;
	color: #555;
	display: table;
	min-height: 1.8rem;
	table-layout: fixed;
}

.muiTextItem a img {
	width: 2.8rem;
	height: 2.1rem;
	margin-left: 0.8rem;
}

.muiTextCreated,.muiTextCreator{
	color: #989898;
	width: 6.5rem;
	padding-right: 1rem;
}

.muiTextCreator{
	min-width: 48px;
}

a.com_author {
	display: inline;
}

/*审批列表*/
.muiProcessItem{
	overflow: hidden;
}
.muiProcessRight{
	width: 6rem;
	text-align:center;
	overflow: hidden;
	float: right;
}
.muiProcessImg{
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	background-color: #f8f8f8!important;
}
.muiProcessCreator{
	display: block;
	line-height: 1.3rem;
	font-size: 1.1rem;
	margin-top: 0.4rem;
}
.muiProcessCreated{
	font-size: 1.3rem !important;
	color:#999999!important;
	line-height: 1!important;
	white-space: nowrap;
	overflow: hidden;
	position: relative;
	margin-right: 2.3rem;
}
.muiEssence{ color:#f00; border-color:#f00;}
.muiProcessLeft{
	height: 100%;
	display: block;
}
.muiProcessStatusBorder {
	display: inline-block;
	font-size: 1rem;
	color: #297de0;
	height: 12px;
	line-height: 14px;
	padding: 4px;
	border-radius: 3px;
	border-width: 1px;
	border-style: solid;
	margin-right: .3rem;
	position: relative;
	/* top: 2px; */
	vertical-align: text-bottom;
	box-sizing: content-box;
}
/* @media screen and (-webkit-min-device-pixel-ratio: 2) { */
	.muiEssence.muiProcessStatusBorder,
	.muiProcessStatusBorder {
		position: relative;
		border: 0;
	}
	.muiEssence.muiProcessStatusBorder:before,
	.muiProcessStatusBorder:before {
		content: "";
		width: 200%;
		height: 200%;
		position: absolute;
		top: 0;
		left: 0;
		border: 1px solid #297de0;
		-webkit-transform: scale(0.5);
		transform: scale(0.5);
		-webkit-transform-origin: 0 0;
		transform-origin: 0 0;
		padding: 4px;
		border-radius: 4px;
		box-sizing: border-box;
	}
	.muiProcessStatusBorder.muiProcessDiscard:before {
		border: 1px solid #F29A5F;
	}
	.muiProcessStatusBorder.muiProcessDraft:before {
		border: 1px solid #999;
	}
	.muiProcessStatusBorder.muiProcessExamine:before {
		border: 1px solid #4285f4;
	}
	.muiProcessStatusBorder.muiProcessRefuse:before {
		border: 1px solid #F56B6B;
	}
	.muiProcessStatusBorder.muiProcessPublish:before {
		border: 1px solid #68CE67;
	}
	.muiEssence.muiProcessStatusBorder:before {
		border: 1px solid #F56B6B;
	}
/* } */
@media (device-width:375px) {
	.muiProcessStatusBorder{
		/* top: -1px; */
		/* line-height: 17px; */
		/* height:auto; */
		font-size: 1.2rem;
	}
}
.muiProcessStatusBorder.muiEssence{
	border-color:#F56B6B;
	color:#F56B6B;
}
.muiProcessLeft .muiProcessStatusBorder,
.muiCardItemD .muiProcessStatusBorder {
	position: relative;
	margin-right: 5px;
	font-size: 12px;
}

.muiDocItem .muiProcessStatusBorder {
	position: relative;
}

.muiProcessDiscard {
	border-color: #F29A5F;
	color: #F29A5F;
	background-color: #fff4ed;
}
.muiProcessDraft{
	border-color: #999;
	color: #999;
	background-color: #f5f4f3;
}
.muiProcessExamine{
	border-color: #4285f4;
	color: #4285f4;
	background-color: #eaf6fc;
}
.muiProcessRefuse{
	border-color: #F56B6B;
	color: #F56B6B;
	background-color: #fff0ee;
}
.muiProcessPublish{
	border-color: #68CE67;
	color: #68CE67;
	background-color: #eefaee;
}

.muiProcessTitle{
	margin: 0 0 0.5rem 0;
 	min-height:3.8rem;
 	font-size: 1.7rem;
	font-weight: normal;
	line-height: 2.3rem;
	word-wrap: break-word;
	word-break: break-all;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.muiProcessSummary {
	margin: 1rem 0 0 0;
	padding-right: 7rem;
	color: #999999 !important;
	font-size: 1.3rem !important;
	line-height: 1;
	word-wrap: break-word;
	word-break: break-all;
}
.muiProcessSign{
	margin-right: .2rem;
	vertical-align: top;
	color: #989898;
	font-size:1.2rem;
}


/*知识文档列表*/
.muiDocItem{
	overflow:hidden;
	background:#fff;
	display:block;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	padding:1rem; 
	/* min-height:5rem;*/
	line-height:1.5rem;
	position:relative;
}
.muiDocItem .figure{ 
	position:relative;
	min-height:3.7rem;
	padding-left:5rem;
	display: box;
	display: -webkit-box;
}
.muiDocItem .figure .figureImgW{ 
	position:absolute;
	left:0px;
	top:0px;
}
.muiDocItem .figure .title{  
 	line-height: 2rem;
 	font-size: 1.7rem;
	font-weight: normal;
	overflow:hidden;
	text-overflow: ellipsis;
	word-break:break-all;
	word-wrap:break-word;
	-webkit-line-clamp: 2;
	display: -webkit-box;
	display: box;
	-webkit-box-orient: vertical;
					box-orient: vertical;
	-webkit-box-pack: center;
					box-pack: center;
	-webkit-box-align: start;
					box-align: start;
}
.muiDocItem:last-child{
	margin-bottom:1rem;
}
.muiDocItem .imgBox {
	width: 3.7rem;
	height: 3.7rem;
	background-color: #3fa9f5;
	border-radius: 50%;
	text-align: center;
	color: #fff;
	display: -webkit-box;
	display: box;
	-webkit-box-orient: vertical;
					box-orient: vertical;
	-webkit-box-pack: center;
					box-pack: center;
	-webkit-box-align: center;
					box-align: center;
}
.muiDocItem .imgBox .mui {
	font-size: 2.2rem;
}
.gray .mblEdgeToEdgeList{ background-color:transparent;}

.muiDocItem .figure .title .warn{ 
	color:#f00;
	margin-right:5px;
}
.muiDocItem.mblListItemSelected{
	background-color: rgb(228, 228, 228);
}

.muiDocItemSummary{ 
	padding-top:0px;
	margin: 1rem 0rem 0rem 0rem;
}
.muiDocItemSummary .summary{
	max-height: 3.5rem;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	margin-bottom:6px;
	word-break: break-all;
	line-height:1.8rem;
	margin-bottom: 0;
}
.muiDocIcoList {
	zoom: 1;
	padding-left: 0px;
}
.muiDocIcoList:after{
	content:'';
	display:table;
	visibility:hidden;
	clear:both;
}
.muiDocIcoList li {
	margin-top: .6rem;
	font-size: 1.3rem;
	float: left;
	margin-right: 2rem;
	color: #999;
	line-height: 1;
	opacity: 0.8;
}
.muiDocIcoList li.mui_doc_person {
	font-size: 1.3rem;
	color: #999;
}
.muiDocIcoList li:last-child { margin-right: 0; }

.muiDocItem ul{
	list-style: none;
}
.muiDocItem .muiDocIcoList .mui {
	margin-right: .2rem;
	vertical-align: top;
	font-size:1.6rem;
	line-height: 1.3rem;
}


/*卡片式列表*/
.muiCardItem{
	overflow:hidden;
	background:#fff;
	display:block;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	padding:1.2rem 1rem;
	/* min-height:6rem; */
	line-height:1.5rem;
	position:relative;
}
.muiCardItem .figure{ 
	position:relative;
	padding-left:5rem;
	min-height: 6rem;
}
.notifyCardList .muiCardItem .figure {
	height: auto;
	min-height:6rem;
}
.muiCardItem .figure .figureImgW{ 
	position:absolute;
	left: -1rem;
	top:0px;
	width: 6rem;
	text-align: center;
	display: block;
}
.muiCardItem .figure .figureImgW>a {
	display: block;
	font-size: 1.1rem;
	color: #999;
	margin-top: 0.6rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.notifyCardList .muiCardItem .figure .figureImgW>a {
	margin-top: 0.8rem;
}
.muiCardItem .figure .cardItemRight{
	display: block;
}
.muiCardItem .figure .title{  
	margin: 0;
 	line-height: 2.2rem;
 	height:4.6rem;
 	max-height:55px;
 	font-size: 1.7rem;
 	color: #333;
	font-weight: normal;
	overflow:hidden;
	text-overflow: ellipsis;
	word-break: break-all;
	word-wrap: break-word;
	-webkit-line-clamp: 2;
	display: -webkit-flex;
	display: flex;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-flex-direction: column;
					flex-direction: column;
	webkit-box-align: start;
	-webkit-align-items: flex-start;
					align-items: flex-start;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
					justify-content: flex-start;
}

.muiCardItem .lock .title{ 
	color:#888!important;
}
.muiCardItem .figure .title .warn{ 
	color:#f00;
	margin-right:5px;
}
.muiCardItem.mblListItemSelected{
	background-color: rgb(228, 228, 228);
}
.muiCardSummary{ 
	padding-top:0px;
	margin: .8rem 0rem 0rem 0rem ;
}
.muiCardSummary .summary{
	max-height: 3.5rem;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	word-break: break-all;
	line-height:1.8rem;
}
.muiCardIcoList {
	zoom: 1;
	padding-left: 0px;
	bottom: 0;
	width: 100%;
}
.mblEdgeToEdgeList .muiCardIcoList {
	bottom: -0.2rem;
}
.muiCardIcoList:after{
	content:'';
	display:table;
	visibility:hidden;
	clear:both;
}
.muiCardIcoList li {
	margin-top: .8rem;
	font-size: 1.3rem;
	float: left;
	margin-right: 1.4rem;
	color: #999;
	line-height: 1;
}
.muiCardIcoList li:last-child { margin-right: 0; }
.muiCardIcoList li .mui.mui-meeting_path{ left: -1px; }
.muiCardItem .icoLock{
	width: 55px; height:10px;
	font-size: 1.2rem;
	position: absolute;
	right: -16px;
	top: -6px;
	padding: 5px 0px;
	background-color: #b8b8b8;
	color: #fff;
	text-align: center;
	-webkit-transform: rotate(45deg);
					transform: rotate(45deg);
}
.muiCardItem .icoLock i {
	position: absolute;
	left: 30px;
	top: 4px;
	font-size: 1.6rem;
	z-index: 12;
	-webkit-transform: rotate(-45deg);
					transform: rotate(-45deg)
}
.muiCardItem ul{list-style: none;}
.muiCardItem .muiCardIcoList .mui {
	vertical-align: top;
	font-size:1.4rem;
	position: relative;
	margin-right: .3rem;
	top: -0.1rem;
}

/*上下结构卡片式列表*/
.muiCardItemD{
	overflow:hidden;
	background:#fff;
	display:block;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	padding:1.2rem 1rem 1.2rem 1rem; 
	min-height:6rem;
	line-height:1.5rem;
	position:relative;
}
.muiCardItemD .figure{ 
	position:relative;
	padding-left:5rem;
	height: 4rem;
}
.muiCardItemD .figure .figureImgW{ 
	position:absolute;
	left: -1rem;
	top:0px;
	width: 6rem;
	text-align: center;
}
.muiCardItemD .figure .figureImgW>a {
	display: block;
	font-size: 1.1rem;
	color: #666;
	margin-top: 0.4rem;
}

.muiCardItemD .muiCardIcoList {
	position: relative!important;
}

.muiCardItemD .figure .title{  
	margin: 0;
 	line-height: 2rem;
 	font-size: 1.7rem;
 	color: #333;
	font-weight: normal;
	overflow:hidden;
	text-overflow: ellipsis;
	word-break:break-all;
	word-wrap:break-word;
	-webkit-line-clamp: 2;
	display: -webkit-box;
	display: box;
	-webkit-box-orient: vertical;
					box-orient: vertical;
	-webkit-box-pack: center;
					box-pack: center;
	-webkit-box-align: start;
					box-align: start;
}
.muiCardItemD:last-child{
	margin-bottom:1rem;
}
.muiCardItemD .imgBox {
	margin:0  auto;
	width: 4rem;
	height: 4rem;
	background-color: #3fa9f5;
	border-radius: 50%;
	text-align: center;
	color: #fff;
	display: -webkit-box;
	display: box;
	-webkit-box-orient: vertical;
					box-orient: vertical;
	-webkit-box-pack: center;
					box-pack: center;
	-webkit-box-align: center;
					box-align: center;
}
.muiCardItemD .imgBox .mui {
	font-size: 2.2rem;
}
.gray .mblEdgeToEdgeList{ background-color:transparent;}

.muiCardItemD .lock .title{ 
	color:#888!important;
}
.muiCardItemD .figure .title .warn{ 
	color:#f00;
	margin-right:5px;
}
.muiCardItemD.mblListItemSelected{
	background-color: rgb(228, 228, 228);
}

.muiCardItemD .icoLock{
	width: 55px; height:10px;
	font-size: 1.2rem;
	position: absolute;
	right: -16px;
	top: -6px;
	padding: 5px 0px;
	background-color: #b8b8b8;
	color: #fff;
	text-align: center;
	-webkit-transform: rotate(45deg);
					transform: rotate(45deg);
}
.muiCardItemD .icoLock i {
	position: absolute;
	left: 30px;
	top: 4px;
	font-size: 1.6rem;
	z-index: 12;
	-webkit-transform: rotate(-45deg);
					transform: rotate(-45deg)
}
.muiCardItemD ul{list-style: none;}
.muiCardItemD .muiCardIcoList .mui {
	margin-right: .3rem;
	vertical-align: top;
	font-size:1.8rem;
	position: relative;
	top: -0.3rem;
}
.docReadCountD {
	position: absolute;
	right: 0;
}


/*图文混合*/
.muiMixContentItem{
	display: block;
	background-color: #fff;
	overflow: hidden;
	position: relative;
}
.muiMixContentItem .muiListItem{
	margin:0rem;  border-bottom:none;padding: 0 0.8rem;
}
.muiMixContentItem .muiListItem:visited .muiMixContentTitle{
	color: #888;
}

.muiMixContentItem .icoLock{ 
	width: 55px; height:10px;
	font-size: 1.2rem;
	position: absolute;
	right: -16px;
	top: -6px;
	padding: 5px 0px;
	background-color: #b8b8b8;
	color: #fff;
	text-align: center;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
}

.muiMixContentItem .icoLock i {
	position: absolute;
	left: 30px;
	top: -1px;
	font-size: 1.6rem;
	z-index: 12;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
}

.muiMixContentItem .muiMixContentTop{
	clear:both;
	width:100%;
	overflow: hidden;
	display:table;
	border: none;
}
.muiMixContentItem .muiMixContentTop >div{
	vertical-align: middle;
	height:100%;
	border: none;
	display: table-cell; padding-bottom:0.3rem;
}
.muiMixContentItem .muiMixContentIcon{
	width: 3.7rem;
	text-align: center;
}
.muiMixContentItem .muiMixContentIcon span,
.muiMixContentItem .muiMixContentIcon img{
	width: 3.7rem;
	height: 3.7rem !important;
	border-radius: 50%;
	overflow: hidden;
	text-align: center;
	line-height: 2.5rem;
	vertical-align: middle;
}
.muiMixContentItem .muiMixContentIcon span{ background-color: #f8f8f8!important; }
.muiMixContentItem .muiMixContentCreate{
	padding-left: 0.3rem; vertical-align:top;
}
.muiMixContentItem .muiMixContentCreate > div{
	text-align: left;
	white-space: nowrap;
}
.muiMixContentItem .muiMixContentCreate .mui{
	margin-right: .2rem;
	font-size: 1.2rem;
	line-height: 1;
}

.muiMixContentItem .muiMixContentCreator{
	display: block;
	font-size: 1.2rem;
	font-style: normal;
	margin: 0rem 0.2rem; color:#4285f4; line-height:2.2rem;
}

.muiMixContentItem .muiMixContentCreated {
	margin: .3rem .2rem 0;
	line-height: 1;
	color: #989898;
	font-size: 1.2rem;
}
.muiMixContentItem .muiMixContentCreated .mui {
	margin-right: .2rem;
	vertical-align: top;
	font-size: 1.2rem;
}
.muiMixContentItem .muiMixContentMiddle {
	cursor: pointer;
	display: block;
}
.muiMixContentItem .muiMixContentTitle {
	margin: 0.8rem 0rem;
	font-size: 1.6rem;
    font-weight: normal;
	line-height: 1.8rem;
	max-height: 3.7rem;
	color: #0c0c0c;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	
}
.muiMixContentItem .muiMixContentTitle .muiTopicHeadPink{ color:#f00;}
.muiMixContentItem .muiMixContentTitle .mui-hotPost {
	position: relative;
	margin-right: 0.5rem;
	top: -0.1rem;
	background: #ff6012;
	width: 1.8rem;
	text-align: center;
	border-radius: 0.3rem;
	height: 1.8rem;
	line-height: 1.9rem;
	font-size: 1.4rem;
	color: #fff;
}
.muiMixContentItem .muiMixContentTitle .mui-todo_lock {
	padding: 0px;
	position: relative;
	top: -0.1rem;
	background: #c0c0c0;
	width: 2rem;
	text-align: center;
	border-radius: 0.3rem;
	height: 1.8rem;
	margin-right: 0.5rem;
	line-height: 1.9rem;
	font-size: 1.4rem;
	color: #fff;
}
.muiMixContentItem .muiMixContentSummary{
	margin:0; color:#989898;
	max-height: 1.8rem; max-height:5.4rem; line-height:1.8rem;
	overflow: hidden;
	text-overflow: ellipsis;
	display:-webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical; margin: 0.1rem 0 0.6rem 0;
}
.muiMixContentItem .muiMixContentBottom {
	float: left;
	font-size: 1.3rem;
	line-height: 1;
	color: #989898;
	padding-top: .3rem;
}
.muiMixContentItem .muiMixContentBottom .mui {
	margin-right: .2rem;
	vertical-align: top;
}
.muiMixContentItem .muiMixContentBottom .muiMixContentNum{
	display:inline-block;
	margin-right: 1rem;
	cursor: pointer;
}
.muiMixContentItem .muiMixContentNum .muiNumber { }
.muiMixContentItem .muiTopicHeadSign{
	display: inline-block;
	font-size: 1.2rem;
	color:#297de0;
	height: 1.6rem;
	line-height: 1.6rem;
	padding:0rem 0.3rem;
	border-radius: 0.2rem;
	border-width: 1px;
	border-style: solid;
	margin-right: 0.5rem; position:relative; top:-0.1rem;
}
.muiMixContentTopItem.muiMixContentItem{ padding: 0; border:none; border-radius:0px; zoom:1;}
.muiMixContentTopItem.muiMixContentItem:first-child{
	margin-top: 0.8rem;
}
.muiMixContentTopItem{
	background-color: #FFF;
	padding:0 0.6rem;
	margin: 0;
}
.muiMixContentTopItem .muiListItem{
	margin: 0rem!important;
	border-radius:0px !important;
	border:none;
	padding:1rem 0.8rem;
	border-bottom: 1px solid #e5e5e5;
	display: block;
}
.muiMixContentTopItem:first-child .muiListItem{ border-top: 1px solid #e5e5e5;}
.muiMixContentTopItem .muiMixContentTopInfo{
	line-height: 1.8rem;
	max-height: 2rem;
	overflow: hidden;
	white-space:nowrap;
	text-overflow: ellipsis;
}
.muiMixContentTopItem .muiContentStatusBorder{
}
.muiMixContentTopItem .muiMixContentTopCate{
	display: inline-block;
	font-size: 1.5rem;
	color:#297de0;
	height: 1.8rem;
	line-height: 1.8rem;
	margin-right:0.5rem;
	cursor: pointer;
}
.muiMixContentTopItem .muiMixContentTopTitle{
	display: inline;
	font-size: 1.5rem;
    font-weight: normal;
	line-height: 1.8rem;
	color: #0c0c0c;
	cursor: pointer;
}
.muiMixContentItem a.muiMixContentMiddle:visited .muiMixContentTitle{
	color: #888;
}
.muiMixContentItem.mblListItemSelected{
	background: none !important;
}
.muiMixContentItem.mblListItemSelected .muiListItem{
	background-color: rgb(228, 228, 228) !important;
}

/*无数据展示*/
.muiListNoData{
	position:relative;
    list-style:none;
    width: 100%;
    display: inline-block;
}

.muiListNoDataArea{
	width:100%;
	min-height:8rem;
	vertical-align:middle;
	text-align:center;
	line-height: normal;
	display: inline-block;
}
@media screen and (min-width: 321px) {
	.muiListNoDataArea{
		position: relative;
	}
}
.muiListNoDataIcon{
	margin:0 auto 1rem auto;
	width: 10rem;
	height: 10rem;
	border-radius: 50%;
	text-align:center;
	background-color: #c6c6c6;
}
.muiListNoDataIcon i{
	font-size: 6rem;
	line-height: 8rem;
	height: 8rem;
	vertical-align: middle;
	font-weight: lighter;
	color: white;
	margin-top: 1.5rem;
}

.muiListNoDataImg img{
	width: 100%;
}

.muiListNoDataTxt{
	padding-top:0.2rem;
	display: inline-block;color:#5f5f5f; font-size:1.6rem;
}

/* 选中 */
.mblListItemSelected {
  background-color: rgb(228, 228, 228)!important;
}


/*在可视区域的宽度在 321px 和 431px 之间的时候被应用(小米2/三星  360px)*/
@media screen and (min-width: 321px) and (max-width: 400px) {
	.muiProcessStatusBorder{/* padding:0.3rem; */}
 	/*.muiProcessSummary{
 		margin:0.5rem 0rem 0rem 0rem;
 	}
	.muiComplexrIcon{
	margin-left:0.4rem;
	width: 9rem;
	height: 7.0rem;
	overflow: hidden;
	float: right;
	}*/
	.muiComplexrTitle{
		margin:0 0 1rem 0;
		font-size: 1.7rem;
	}
	/*.muiListInfo>div{
	font-size: 1.3rem;
	text-align: left;
	vertical-align: middle;
	display: table-cell;
	line-height: 2.5rem;
	}*/
}

/*在可视区域的宽度大于401px 的时候被应用(魅族mx3 432px)*/
@media screen and (min-width: 401px) {
 	.muiComplexrTitle{
		/* margin:0 0 0.5rem 0; */
	}
}

.muiListThumb>p {
	background-position: 50%;
	border-top: 4px solid #fff;
	border-left: 4px solid #fff;
	padding-top: 32.6%;
	position: relative;
	cursor: pointer;
	display: inline-block;
	min-width:33.3%;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: transparent;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.muiListThumb {
	display: block;
	margin-left: -4px;
}



/******** 三级阅读（话题、论坛、问答阅读页） ******/
.muiPostItem{border-bottom:1px solid #e5e5e5;}
.muiPostItem .muiPostContent{background-color:#FFF;padding:.8rem;}
.muiPostItem:FIRST-CHILD .muiPostContent{margin-top:0!important;}
.muiPostItem .muiPostContentT .muiPostHead{display:table;width:100%;}
.muiPostItem .muiPostContentT .muiPostHead > div{display:table-cell;vertical-align:middle;padding-bottom:.5rem;}
.muiPostItem .muiPostContentT .muiPostIcon{width:3.7rem;text-align:center;}
.muiPostItem .muiPostContentT .muiPostIcon span,.muiPostItem .muiPostContentT .muiPostIcon img{width:3.7rem;height:3.7rem!important;border-radius:50%;overflow:hidden;text-align:center;vertical-align:middle;}
.muiPostItem .muiPostContentT .muiPostCreate{padding:.2rem 0 0 .5rem;}
.muiPostItem .muiPostContentT .muiPostCreate .mui {
	font-size: 1.2rem;
	vertical-align: top;
}
.muiPostItem .muiPostContentT .muiPostCreate > span {
	display: block;
	line-height: 1.7rem;
	height: 1.7rem;
	vertical-align: middle;
}
.muiPostItem .muiPostContentT .muiPostCreate .muiPostCreator{display:block;font-size:1.4rem;font-style:normal;color:#4285f4;line-height:2.2rem;margin:0 .2rem;}
.muiPostItem .muiPostContentT .muiPostCreate .muiPostCreated{color:#989898;font-size:1.2rem;margin:.3rem .2rem 0;}
.muiPostItem .muiPostContentT .muiPostCreate .muiPostCreated .mui{margin-right:.3rem;}
.muiPostItem .muiPostReplyOpt{ vertical-align:top; width:3.6rem;}
/*** 楼层信息 ***/
.muiPostItem .muiPostContentT .muiPostFloorInfo{width:4rem;text-align:right;}
.muiPostItem .muiPostContentT .muiPostHead>div.muiPostFloorInfo{vertical-align:top;}
.muiPostItem .muiPostContentT .muiPostFloorInfo > span{text-align:right;vertical-align:top;font-size:1.2rem;}
.muiPostItem .muiPostContentT .muiPostFloorInfo .muiPostFloor{display:inline-block;background-color:#03A5D8;width:3.5rem;text-align:center;border-radius:.3rem;line-height:2rem;height:2rem;font-size:1.2rem;}
.muiPostItem .muiPostContentT .muiPostCreate .muiPostFloor{display:inline-block;font-size:1rem;text-align:center;height:1.6rem;border-radius:.3rem;line-height:1.6rem;min-width:2.8rem;vertical-align:top;}
.muiPostItem .muiPostContentT .muiPostFloorInfo .muiPostFloorX{display:inline-block;width:3.5rem;text-align:center;line-height:2rem;height:2rem;color:#989898;}
.muiPostItem .muiPostContentT .muiPostFloorInfo .muiPostFloor1,.muiPostItem .muiPostContentT .muiPostCreate .muiPostFloorLevel,.muiPostItem .muiPostContentT .muiPostCreate .muiPostFloor1{background-color:#399be8;color:#FFF;margin:.2rem 0 0 3px;}
.muiPostItem .muiPostContentT .muiPostCreate .muiPostFloorLevel{background-color:#6AC331;}
.muiPostItem .muiPostContentT .muiPostFloorInfo .muiPostFloor2,
.muiPostItem .muiPostContentT .muiPostFloorInfo .muiPostFloor3,
.muiPostItem .muiPostContentT .muiPostFloorInfo .muiPostFloor4{display:inline-block;width:3.5rem;height:2rem;line-height:2rem;background:none;text-align:center;color:#989898;font-size:1.2rem;}
/*** 引用 ***/
.muiPostItem .muiPostContentC .muiPostParent{margin-bottom:.5rem;padding:0!important;}
.muiPostItem .muiPostContentC .muiPostParent .muiPostParentV{display:none;width:0;height:0;border-left:10px solid transparent;border-right:10px solid transparent;border-bottom:15px solid #F8FBF0;}
.muiPostItem .muiPostContentC .muiPostParent .muiPostParentC{background-color:#f4f4f4;border-radius:.3rem;border:.1rem solid #F4F4F4;color:#989898;margin:.5rem 0 0;padding:.5rem;}
.muiPostItem .muiPostContentC .muiPostParent .muiPostParentC .mui{font-size:1.4rem;line-height:1;position:relative;top:-2px;}
.muiPostQuoteL{margin-right:.5rem;}
.muiPostQuoteR{margin-left:.5rem;}
/*** 回复相关 ***/
.muiPostItem .muiPostContentC .muiPostParent .muiPostParentReplay >span{margin-right:5px;font-size:1.4rem;}
.muiPostItem .muiPostContentC .muiPostParent .muiPostParentReplay >span:FIRST-CHILD{font-size:1.4rem;color:#4285f4;}
.muiPostItem .muiPostContentB{text-align:right;padding-bottom:.8rem;}
.muiPostItem .muiPostContentB .muiPostContentOpt{display:inline-block;vertical-align:top;width:3.6rem;}
.muiDialogOperationTip{margin-top:-8px;}
.muiPostAttchment .muiAttachments{margin-bottom:5px;}
.muiPostParentContent{margin-top:2px;font-size:1.4rem;line-height:1.4;}
.muiPostParentContent:after{display:block;content:"";clear:both;line-height:0;visibility:hidden;}

/*搜索结果的人员卡片*/
.muiSearchPersonImg {
	background-position: center center;
    background-size: cover;
	background-repeat: no-repeat;
    display: inline-block;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

.muiSearchPersonImgNode {
    position: absolute;
    left: 0;
}
.muiSearchPersonNode {
	position: relative;
	padding-left: 5rem;
	min-height: 4rem;
}
.muiSearchPersonInfoList {
	list-style: none;
}
.muiSearchPersonTitle {
	margin-right: .5rem;
}
.muiSearchPersonInfoList li {
	float:left;
	margin-right: 1.2rem;
}


/* 190822 大字体下列表状态栏 Starts */
.fontSize2 .muiProcessStatusBorder{
	font-size: 14px;
	height: 16px;
	line-height: 18px;
}
.fontSize3 .muiProcessStatusBorder{
	font-size: 16px;
	height: 18px;
	line-height: 20px;
	padding: 4px 7px;
}

/* 190822 大字体下列表状态栏 Ends */

/* 模板卡片列表 */
.muiTemplateCard{
	padding: 22px 85px 22px 0;
    border-bottom: 1px solid #E7E7E7;
    position: relative;
}
.muiTemplateCard p,.muiTemplateCard span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
}
.muiTemplateCard p{
	font-size: 16px;
    color: #2A304A;
    padding-bottom: 5px;
}
.muiTemplateCard span {
    display: block;
    font-size: 12px;
    color: #9DA0AF;
}
.muiTemplateCard .btn {
    position: absolute;
    right: 10px;
    top: 30px;
    width: 55px;
    height: 25px;
    line-height: 27px;
    text-align: center;
    background: #FFFFFF;
    border: 1px solid #4285F4;
    border-radius: 25px;
    color: #4285F4;
}