.moreNodeContainer:after {
  content: '';
  display: table;
  visibility: hidden;
  clear: both;
}

.muiNavbar {
  position: relative;
  z-index: 7;
  width: 100%;
  background-color: #fff;
}

.muiNavbarContainer {
  table-layout: fixed;
  white-space: nowrap;
  width: auto;
  min-width:100%;
  padding: 0;
  margin: 0;
  height: 100%;
  text-align: center;
  position: absolute;
  box-sizing: border-box;
  font-size: 1.4rem;
  left:0;
  top:0;
  height:4.4rem;
}
.muiNavitem {
  white-space: nowrap;
  display: inline-block;
  padding: 0 1.4rem;
  position: relative;
  z-index: 1;
  height: 100%;
  overflow: hidden;
}
.muiNavitem.muiNavitemBadge{
	 padding: 0 2.6rem;
}
.muiNavitem:focus {
  outline: none;
}
.muiNavitem span {
  padding: 0 0.1rem;
  display: block;
  max-width: 12rem;
  margin: 0 auto;
  color: #999FB7;
  box-sizing: border-box;
  height: 85%;
}

.muiNavitem .mui {
  color: #848484;
  font-size: 2rem;
  line-height: 2rem;
}

.kmCalendarNavBar ul.muiNavbarContainer li.muiNavitem .mui {
  position: static;
}
.muiNavitem.muiNavitemSelected span {
  min-width:40px;
  font-weight: bold;
  color: #2A304A;
}
.muiNavitem span {
  min-width:40px;
}

/* 页签显示数量**/
.muiNavitem .mblDomButtonRedBadge > div {
  padding: 0 .3rem;
  min-width: 2rem;
  height: 1.6rem;
  line-height: 1.7rem;
  text-align: center;
  background-color: #f74c31;
  border-radius: .8rem;
  color: #fff;
  font-size: 1rem;
  position: absolute;
  right: 0;
  top: .2rem;
}

.mblScrollableView.muiNavbar {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 4.4rem;
}
.moreNode {
  height: 2.5rem;
  position: relative;
  top: 0;
  padding-left: 0.5rem;
  color: #4285f4;
  white-space:nowrap;
  z-index: 8;
  background-color: #fff;
  box-shadow: -20px 0px 20px 6px #fff;
}

.moreNode>.fontmuis {
  position: relative;
  display: inline-block;
  height: 100%;
  line-height: 2.5rem;
  font-size: 1.6rem;
  color: #3E4565;
}

.moreNode .muiMoreSplit{
	height: 1.4rem;
    width: 1px;
    background: #EBEBEB;
    display: inline-block;
    margin-left: 1.2rem;
    position: relative;
    top: 0.5rem;
    vertical-align: top;
}

.moreNodeTxt {
  text-align: center;
  background-color: #f7f7f7;
  width: 5rem;
  height: 4rem;
  line-height: 4rem;
  z-index: 2;
  position: relative;
  display: none;
}
.moreNodeTxt:before,
.moreNodeTxt:after {
  content: '';
  width: 1px;
  height: 100%;
  position: absolute;
  top: 0;
  transform: scaleX(0.5);
  -webkit-transform: scaleX(0.5);
  background-color: #e0e0e0;
}
.moreNodeTxt:before {
  left: 0;
}
.moreNodeTxt:after {
  right: 0;
}
.moreNodeTxt.selected {
  color: #4285f4;
}
.moreNodeWrap{
  margin: 0;
  width: 100%;
  z-index: 10;
  position: absolute;
  left: 0;
  z-index: 9;
}
.moreNodeContainer {
  list-style-type: none;
  background-color: #fff;
  padding: 0.5rem 1.5rem 1rem;
}
.moreNodeWrap.unExpanded {
  animation: muiExpanded 0.5s;
  animation-fill-mode: forwards;
}
.moreNodeWrap.expanded {
  animation: muiUnExpanded 0.5s;
  animation-fill-mode: forwards;
  bottom: 0;
}
@keyframes muiExpanded {
  from {
    top: 10rem;
    background-color: rgba(0, 0, 0, 0.6);
  }
  to {
    top: -100%;
    background-color: rgba(0, 0, 0, 0);
  }
}
@keyframes muiUnExpanded {
  from {
    top: -100%;
    background-color: rgba(0, 0, 0, 0);
  }
  to {
    top: 10rem;
    background-color: rgba(0, 0, 0, 0.6);
  }
}
.moreItem.selected .moreItemTxt{
 color: #4285f4;
}
.moreItem .moreItemTxt{
  display: block;
  background: #F0F6FF;
  border-radius: 0.4rem;
  margin-right: 1rem;
  padding:0 1rem;
}

.moreNodeContainer>li {
  float: left;
  color: #2A304A;
  text-align: center;
  position: relative;
  overflow: hidden;
  height: 3rem;
  line-height: 3rem;
  margin: .5rem 0;
}
.muiMoreItemSelected {
  color: #4285f4;
}

.muiNavItemDote{
	background: #ff725a;
    border: 2px solid #fff;
    border-radius: 50px;
    width: .5rem;
    height: .5rem;
    position: absolute;
    display: block;
    top: 1.3rem;
    right: 0.4rem;
}

/*@新建页面流程分步样式*/
.muiFlowEditFixedItem .muiNavbarContainer{ font-size:1.7rem;background-color: #fff;}

.muiFlowEditFixedItem .muiNavitemSelected .muiNavitemBottom{
	width: 3rem;
}

.muiFlowEditFixedItem,.muiFlowEditFixedItem .muiNavbar {
	height: 8rem!important;
}

.muiFlowEditFixedItem .muiNavbarContainer{
	height: 8rem;
	line-height: 8rem  
}

.muiFlowEditFixedItem .muiNavitem span{
	height: 75%;
}

.muiFlowEditFixedItem{
	background-position: left bottom;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.5, transparent), color-stop(0.5, #e7e7e7), to(#e7e7e7));
	background-repeat: repeat-x;
	background-size: 100% 1px;
}

/* #72047 修复 英文下错乱问题  */
.muiNavitem span{
overflow:hidden;
text-overflow: ellipsis;
}
.muiNavbarContainer .muiNavitem{
vertical-align: top;
text-align: center;
}

/* 修复时间管理、任务管理选项卡对不齐的情况 */
.kmCalendarNavBar ul li span.txt{
    vertical-align: middle;
}
/* #72047 修复 英文下错乱问题 Ends */

.muiNavitemBottom{
	background: transparent;
}
.muiNavitemSelected .muiNavitemBottom{
	background: #4285F4;
	border-radius: 3px;
	height: 2px;
	width: 1.7rem;
	vertical-align: top;
	display: inline-block;
}

.muiNavFilter{
	vertical-align: middle;
}


/* 任务管理 */
.muiTaskNavBar ul li .icon{
    vertical-align:middle;
}
.muiTaskNavBar ul li .txt{
    vertical-align:middle;
}

/* 移动端专项Start */
.muiStepNavBarContainer{
	padding-top: 1rem;
	padding-left: 1.2rem;
    padding-right: 1.2rem;
	background-color: #FFFFFF;
}
.muiStepNav{
    display: flex;
    width: 100%;
    height: 100%;
}
.muiStepNav>li{
    flex: 1;
    border:1px solid #EFF0F6;
    background-color: #EFF0F6;
    transition: all .2s;
    height:100%;
    line-height:3.4rem;
    text-align: center;
    box-sizing: border-box;
}
.muiStepNav>li:first-child{
    border-bottom-left-radius: .4rem;
    border-top-left-radius: .4rem;
}
.muiStepNav>li:last-child{
    border-bottom-right-radius: .4rem;
    border-top-right-radius: .4rem;
}
.muiStepNav>li>span>p{
    display: inline-block;
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    border-radius: 2rem;
    transition: all .2s;
    background-color: #999FB7;
    font-size: 2rem;
    color: #FFFFFF;
    text-align: center;
    position: relative;
    top: .2rem;
    transform: scale(.5,.5);
}
.muiStepNav>li>span{
    display: inline-block;
    font-size: 1.4rem;
    color: #2A304A;
    transition: all .2s;
}

.muiStepNav>li.muiNavitemSelected{
    border:1px solid #EFF0F6;
    background-color: #fff;
}
.muiStepNav>li.muiNavitemSelected>span{
    color: #4285F4;
    font-weight: unset;
}
.muiStepNav>li.muiNavitemSelected>span>p{
    color: #fff;
    background-color: #4285F4;
}
/* 移动端专项End */

/*更多导航按钮start*/
.muiMoreNavitemBtn{
	position: absolute;
    right: 0;
    top: 0rem;
    z-index: 10;
    height: 4.4rem;
    width: 5rem;
    border-bottom: 1px solid #f7f7f7;
    box-sizing: border-box;
    background: #fff;
}
.muiMoreNavitemBtn>div{
	position: relative;
	height: 2.5rem;
    line-height: 2.5rem;
    top: 0.9rem;
    border-left: 1px solid #D8D8D8;
}
.muiMoreNavitemBtn .muiMoreNavitemIcon{
	width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    top: 0rem;
    border: none;
    background: url(./images/moreItem.png) no-repeat;
    background-size: cover;
    left: 1rem;
}
.muiMoreNavitemIcon>a{
	display: none;
}
.muiMoreNavitemBtn .muiNavItems{
	
}
.muiMoreNavitemBtn .muiNavItems .muiNavItem{
	position: relative;
    text-align: right;
    height: 4.4rem;
    padding: 0 1.3rem;
    margin: 0;
}
.muiMoreNavitemBtn .muiNavItems .muiNavItem>i{
    width: 1.8rem;
    height: 1.8rem;
    display: inline-block;
    position: absolute;
    left: 1.2rem;
    top: 50%;
    margin-top: -.9rem;
}
.muiMoreNavitemBtn .muiNavItems .muiNavItem>i.accessLog{
	 background: url(./images/accessLog.png) no-repeat;
	 background-size: cover;
}
.muiMoreNavitemBtn .muiNavItems .muiNavItem>i.transLog{
	 background: url(./images/transLog.png) no-repeat;
	 background-size: cover;
}
.muiMoreNavitemBtn .muiNavItems .muiNavItem>i.feedbackInfoLog{
	 background: url(./images/feedbackInfo.png) no-repeat;
	 background-size: cover;
}
.muiMoreNavitemBtn .muiNavItems .muiNavItem>span{
	font-size: 1.4rem;
    color: #fff;
    line-height: 1.4rem;
    display: inline-block;
    padding: 1.5rem 0;
    border-bottom: 1px solid rgba(231,231,231,0.2);
    max-width: 6.5rem;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
    width: auto;
}
.muiMoreNavitemBtn .muiNavItems .muiNavItem:last-child>span{
	border: none;
	padding-bottom: 0rem;
}
/*更多导航按钮end*/
