.muiRadioItem {
	font-size: 1.4rem;
	margin: 0.5rem 3.2rem 0.3rem 0;
	position: relative;
	display: inline-block;
	padding-right: 1.4rem;
    padding-left: 2.3rem;
}
.newMui.muiFormEleWrap .muiRadioGroupWrap {
	padding-bottom: 0;
	padding-top: 0.2rem;
}
.newMui.muiFormEleWrap .muiRadioGroupWrap.blockRadio {
	padding-top: 0.8rem;
}
.muiRadioGroupWrap.blockRadio>.muiRadioItem {
	display: block;
	margin: 0.8rem 0;
}
.muiRadioGroupWrap.blockRadio>.muiRadioItem:first-child {
	margin-top: 0;
}
.muiRadioGroupWrap.blockRadio>.muiRadioItem:last-child {
	margin-bottom: 0;
}
.muiResponseCard .muiRadioGroupWrap.blockRadio>.muiRadioItem{
  margin: 0;
  padding: 13px 0;
}
.muiRadioCircle {
	width: 1.6rem;
	height: 1.6rem;
    position: absolute;
    left: 0;
    top: .4rem;
    border: 1px solid #d5d5d5;
    border-radius: 50%;
    text-align: center;
    margin-right: 0.6rem;
    box-sizing: border-box;
}
.muiFormStatusView .muiRadioCircle  {
	background-color:#f1f1f1;
}
.muiFormStatusView .muiRadioCircle.active  {
	background-color:#fff;
}
.muiRadioGroupWrap.blockRadio .muiRadioCircle {
	width: 1.6rem;
	height: 1.6rem;
}
.muiRadioCircle.disabled:before,
.muiRadioCircle:before {
	display: none;
}
.muiRadioCircle.disabled {
	background-color: #f1f1f1;
}
.muiRadioCircle.checked:before,
.muiRadioCircle.active:before {
	display: block;
	font-size: 1.6rem;
	line-height: 1.4rem;
	margin-left: -0.1rem;
	font-weight: 900;
	border: none;
}
.blockRadio .muiRadioCircle.checked:before,
.blockRadio .muiRadioCircle.active:before {
	font-size: 1.6rem;
}
.muiRadioCircle.checked,
.muiRadioCircle.active {
	border: none;
}
.muiRadioCircle.active:before {
	color: #4285f4;
}
.muiRadioCircle.checked:before {
	color: #d9d9d9;
}

.muiRadioGroupPopWarp {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	border-top: 1px solid #d3dce6;
}
.muiRadioGroupPopList>li {
	text-align: center;
	font-size: 1.4rem;
	height: 4.8rem;
	line-height: 4.8rem;
	position: relative;
	padding: 0 2rem;
	padding-left: 3.5rem;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	color: var(--muiFontColorInfo);
}
 .muiRadioGroupPopList>li:after {
    content: " ";
    position: absolute;
    z-index: 10;
    bottom: 0;
    left: 0;
    right: 0;
    border-bottom: .1rem solid #eee;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
}
.muiRadioGroupPopList>li.active {
	color: var(--muiFontColor);
}
.muiRadioGroupPopList>li>span:not(.muiCheckBoxTableText) {
	display: none;
	margin-left: 1.8rem;
	margin-right: -3.2rem;
}
.muiRadioGroupPopList>li.active>span:not(.muiCheckBoxTableText) {
	display: inline-block;
}
.muiRadioGroupPopList > li.active > .mui.mui-checked {
  margin-right: 0;
  position: absolute;
  right: 1rem;
  top: 50%;
  margin-top: -0.7rem;
  font-size: 1.4rem;
}

.muiRadioGroupPopList .muiCheckBoxTableItem .muiCheckBoxTableChecked{
  display: none;
}

.muiRadioGroupPopList {
	position: relative;
	z-index: 11;
/* 	background-color: #fff; */
	list-style-type: none;
}
.muiRadioGroupPopMask {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
}

/*点击动画效果*/
.muiRadioGroupPopList>li:active:after {
  content: '';
  width: 40rem;
  height: 4rem;
  border-radius: 50%;
  background-color: #f7f7f7;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -2rem;
  margin-top: -2rem;
  z-index: -1;
  opacity: .75;
  -webkit-transform: scale(4);
          transform: scale(4);
  -webkit-animation: zoomIn .2s ease-in-out 0s 1 both;
          animation: zoomIn .2s ease-in-out 0s 1 both;
}
@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}
@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}


/* oldMui 过渡样式兼容 Starts */
.oldMui .muiResponse .muiRadioGroupWrap {
/* 	padding: 0 1rem; */
}
.oldMui .muiRadioGroupWrap .muiRadioCircle {
	width: 1.4rem;
	height: 1.4rem;
}
.oldMui .muiRadioCircle.checked:before,
.oldMui .muiRadioCircle.active:before {
	font-size: 1.4rem;
}

/* oldMui 过渡样式兼容 Ends */
.muiResponseCard .muiRadioGroupWrap.blockRadio>.muiRadioItem{
   padding-left: 2.2rem;
}
.muiResponseCard .newMui .muiRadioCircle{
	position:absolute;
	left:0;
	/* top: 1.4rem; */
	top: 0.25rem;
}
.muiResponseCard .muiRadioGroupWrap>.muiRadioItem{
	padding-left: 2.3rem;
	white-space: normal;
	word-wrap: break-word;
	word-break: normal;
	max-width: 100%;
	box-sizing: border-box;
}