@CHARSET "UTF-8";

.muiRingProgress{
	width: 46px;
	height: 46px;
	border-radius: 50%;
	background: #3fa9f5;
	position: absolute;
}

.muiRingProgress .muiRingProgressLeftPie,.muiRingProgress .muiRingProgressLeft{
	clip: rect(0,23px,auto,0);
}

.muiRingProgress .muiRingProgressRightPie,.muiRingProgress .muiRingProgressRight{
	clip: rect(0,auto,auto,23px);
}

.muiRingProgress .muiRingProgressLeftPie, .muiRingProgress .muiRingProgressRightPie {
	width: 46px;
	height: 46px;
	position: absolute;
	top: 0;
	left: 0;
}

.muiRingProgress .muiRingProgressLeft, .muiRingProgress .muiRingProgressRight {
	width: 46px;
	height: 46px;
	background: #dde8ed;
	border-radius: 50%;
	position: absolute;
	top: 0;
	left: 0;
}

.muiRingProgress .muiRingProgressmask {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	left: 3px;
	top: 3px;
	background: #FFF;
	position: absolute;
	text-align: center;
	line-height: 40px;
	font-size: 12px;
	color: #3fa9f5;
}

.muiRingProgress .muiRingProgressmask span {
	font-weight: bold;
}