
.muiShareTop {
	width: 42px;
	height: 42px; line-height:42px; vertical-align:middle;
	text-align: center;
	position: absolute;
	right: 8px!important;
	bottom: 9rem!important;
	border-radius: 50%;
	background-image:url(./images/share.png);
	background-size:42px 42px;
	cursor: pointer;
	display: none;
	line-height: 4rem;
	z-index: 999;
}

.muiShareTop > i { 
	color: #fff;
	vertical-align: middle; line-height:42px; position:relative; top:2px;
}

.mask-bg{ background:rgba(0, 0, 0, 0.7); display:inline-block; width:100%; height:100%; position:fixed; z-index:5;}
.mask-content{ position:relative; z-index:4; width:100%;height:100%;}
.task-share{z-index: 6; position: absolute; display:inline-block; width:100%; height:30rem;}
.task-share .share-text{height: 6rem;width: 20rem;font-size:1.3rem;text-align: center;color:#fff;position:absolute;left: 50%;margin-left: -10rem; top: 14rem;}
.task-share .task-join{font-size:1.4rem;color:#fff;margin: 1rem;}
.task-share .task-image{position:absolute;top:2rem;right:3rem;width:8rem;height:11rem;background:url(../images/yue-yindao04.png) no-repeat;background-size:100%;}

@media screen (max-width: 319px) {
   .muiShareTop > i{ top:4px;}
}
