@-webkit-keyframes tooltipShow{
	0.1%{-webkit-transform:scale(0);opacity:0;}
    100%{-webkit-transform:scale(1);opacity:1;}
}

@-webkit-keyframes tooltipHide{
	0.1%{-webkit-transform:scale(1);opacity:1;}
	99%{-webkit-transform:scale(0);opacity:0;}
    100%{-webkit-transform:scale(1);opacity:0;}
}

.mblTooltip.muiTooltipHidden{
	opacity:1!important;
	z-index: -100;
	-webkit-animation-name: tooltipHide!important;
	-webkit-animation-duration: 0.3s;
	-webkit-animation-fill-mode: both;
}

.mblTooltip.mblTooltipVisible{
	opacity:0;
	z-index: 100;
	-webkit-animation-name: tooltipShow;
	-webkit-animation-duration: 0.3s;
	-webkit-animation-fill-mode: both;
}


.mblTooltip.mblTooltipVisible.mblTooltipBelow{
	-webkit-transform-origin:80% 100%;	
}

.mblTooltip.muiTooltipHidden.mblTooltipBelow{
	-webkit-transform-origin:80% 100%;	
}

.mblTooltip.mblTooltipVisible.mblTooltipAbove{
	-webkit-transform-origin:90% 1%;	
}

.mblTooltip.muiTooltipHidden.mblTooltipAbove{
	-webkit-transform-origin:90% 1%;	
}

.mblTooltip {
    position: absolute;
    z-index: 2000;
    display: block;
    margin: 0;
    padding: 5px;
    border-width: 1px;
    border-style: solid;
    opacity: .97;
    border-color: #adaaad;
    border-radius: 3px;
    background-color: white;
    background-image: none;
}

.mblTooltipHidden {
    top: -99999px !important;
    left: -99999px !important;
}

.mblTooltipHidden, .mblTooltipHidden * {
    visibility: hidden !important;
}


