@CHARSET "UTF-8";

.muiAttendEditList .muiAttendEditAddress > .mui {
    margin-right: .2rem;
    color: #999;
    top: -.1rem;
}
.muiAttendEditList .muiAttendEditAddress span {
    color: #454545;
    font-size: 1.2rem;
}
.muiAttendEditList .muiAttendEditLimitTip{
	padding-top:.2rem;
}
.muiAttendEditList .muiAttendEditLimitTip .muiLocationTxt{color:#333;}
.muiAttendEditList .muiAttendEditLimitTip .muiLimitTxt{
	color: #999;
    font-size: 12px;
}
.muiAttendEditList .muiAttendEditLimitTip .muiLimitTxt.muiOutside{
	color: #F56B6B;
}
.muiAttendEditToolbar {
    padding: 1rem .5rem;
    display: -webkit-box;
    position: absolute;
    bottom: 0;
    padding: .5rem 0;
    width: 100%;
    background: #f0eff5;
    z-index: 15;
}

.muiAttendEditBtn {
	color: #fff;
    border-color: #4297ff;
    background-color: #4297ff;
	padding: .8rem .5rem;
    font-size: 1.8rem;
    border-radius: .5rem;
    margin-bottom: 0;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    background-image: none;
    outline: none;
    transition: all .3s ease-in-out;
    position: relative;
}
.muiAttendEditToolbar > .muiAttendEditBtn {
    -webkit-box-flex: 1;
    margin-right: .5rem;
    margin-left: .5rem;
    width: 100%;
    max-width: 100%;
    display: block;
}
.muiAttendEditToolbar .muiAttendEditBtn .muiBtnTime{
	position: relative;
	right:1rem;
}
.muiAttendEditList{
	position: relative;
    display: box;
    width: 100%;
    z-index: 15;
}
.muiAttendContentView{
	overflow:hidden;
}

.muiAttendEditOutside {
    background-color: #fd8641 !important;
}
.muiSignInBtnOutsideDis{
	background-color: #b7b0ac !important;
}
.muiAttendEditList {padding: .2rem;}
.muiAttendEditList .muiDescTip{
	font-size: 1.2rem;
    color: #999;
    position: relative;
    float: right;
    padding-right: 1rem;
    top: 30px;
}
.muiAttendEditList .muiDescTip.muiLimitTxtCount{
    color: #F56B6B;
}
.muiAttendEditList .muiAttachmentItemText{display:none;}
.muiAttendEditList .muiAttachmentEditItem{
	margin-bottom:0px;
	width: 5rem;
}
.muiAttendEditList .muiTextarea{
	min-height: 5rem !important;
	font-size: 1.2rem;
}
.muiAttendEditList .muiAttendEditAddress{
	margin-right: 10px;
	border-bottom: 1px solid #d5d5d5;
	padding: .3rem 0;
}
.muiAttendEditMap .muiLocationGeoBtn .muiMapGeo {
    background: url(../image/geo.png) 50% 50% no-repeat #fff;
    width: 35px;
    height: 35px;
    border: 1px solid #ccc;
    border-radius: 3px;
    right: 4px;
}
.muiAttendEditMap .muiLocationGeoBtn{bottom:1rem;}
.muiLocationDialog{
    position: absolute;
}