<?xml version="1.0" encoding="UTF-8"?>
<beans 
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd" 
    xmlns="http://www.springframework.org/schema/beans" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <bean 
        class="com.landray.kmss.fssc.common.actions.FsscCommonDataAction" 
        parent="KmssBaseAction" 
        name="/fssc/common/fssc_common_data/fsscCommonData.do" 
        lazy-init="true">
        <property 
            name="formType" 
            value="com.landray.kmss.fssc.common.forms.FsscCommonDataForm"/>
        <property 
            name="forwards">
            <map/>
        </property>
    </bean>
    <bean 
        class="com.landray.kmss.fssc.common.actions.FsscCommonTransferFieldAction" 
        parent="KmssBaseAction" 
        name="/fssc/common/fssc_common_transfer_field/fsscCommonTransferField.do" 
        lazy-init="true">
        <property 
            name="formType" 
            value="com.landray.kmss.fssc.common.forms.FsscCommonTransferFieldForm"/>
        <property 
            name="forwards">
            <map>
                <entry 
                    key="data" 
                    value="/fssc/common/fssc_common_transfer_field/fsscCommonTransferField_data.jsp"/>
                <entry 
                    key="edit" 
                    value="/fssc/common/fssc_common_transfer_field/fsscCommonTransferField_edit.jsp"/>
                <entry 
                    key="view" 
                    value="/fssc/common/fssc_common_transfer_field/fsscCommonTransferField_view.jsp"/>
                <entry 
                    key="selectTable" 
                    value="/fssc/common/fssc_common_transfer_field/fsscCommonTransferField_selectTable.jsp"/>
                <entry 
                    key="selectField" 
                    value="/fssc/common/fssc_common_transfer_field/fsscCommonTransferField_selectField.jsp"/>
            </map>
        </property>
    </bean>
    <bean 
        class="com.landray.kmss.fssc.common.actions.FsscCommonTransferDetailAction" 
        parent="KmssBaseAction" 
        name="/fssc/common/fssc_common_transfer_field/fsscCommonTransferDetail.do" 
        lazy-init="true">
        <property 
            name="formType" 
            value="com.landray.kmss.fssc.common.forms.FsscCommonTransferDetailForm"/>
        <property 
            name="forwards">
            <map/>
        </property>
    </bean>
    <bean 
        class="com.landray.kmss.fssc.common.actions.FsscCommonTransferLogAction" 
        parent="KmssBaseAction" 
        name="/fssc/common/fssc_common_transfer_log/fsscCommonTransferLog.do" 
        lazy-init="true">
        <property 
            name="formType" 
            value="com.landray.kmss.fssc.common.forms.FsscCommonTransferLogForm"/>
        <property 
            name="forwards">
            <map>
                <entry 
                    key="data" 
                    value="/fssc/common/fssc_common_transfer_log/fsscCommonTransferLog_data.jsp"/>
            </map>
        </property>
    </bean>
    <bean
		name="/fssc/common/fssc_common_portlet/fsscCommonPortlet.do"
		class="com.landray.kmss.fssc.common.actions.FsscCommonPortletAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property name="forwards">
			<map>
				<entry
					key="listApproved"
					value="/fssc/common/fssc_common_portlet/fssc_common_listApproved.jsp" />
					<entry
					key="listApproval"
					value="/fssc/common/fssc_common_portlet/fssc_common_listApproval.jsp" />
			</map>
		</property>
	</bean>
</beans>
