<?xml version="1.0" encoding="UTF-8"?>
<beans 
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd" 
    xmlns="http://www.springframework.org/schema/beans" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <bean 
        id="hrRatifyMainDao" 
        class="com.landray.kmss.hr.ratify.dao.hibernate.HrRatifyMainDaoImp" 
        parent="KmssExtendDataDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.hr.ratify.model.HrRatifyMain</value>
        </property>
    </bean>
    <bean 
        id="hrRatifyMainTarget" 
        class="com.landray.kmss.hr.ratify.service.spring.HrRatifyMainServiceImp" 
        parent="KmssExtendDataTarget">
        <property 
            name="baseDao">
            <ref 
                bean="hrRatifyMainDao"/>
        </property>
        <property 
            name="hrRatifyTemplateService">
            <ref 
                bean="hrRatifyTemplateService"/>
        </property>
        <property 
            name="sysNumberFlowService">
            <ref 
                bean="sysNumberFlowService"/>
        </property>
        <property name="sysOrgPersonService">
        	<ref
        		bean="sysOrgPersonService"/>
        </property>
        <property name="hrStaffPersonInfoService">
        	<ref
        		bean="hrStaffPersonInfoService"/>
        </property>
        <property name="hrStaffPersonInfoLogService">
        	<ref
        		bean="hrStaffPersonInfoLogService"/>
        </property>
        <property name="sysQuartzCoreService">
        	<ref
        		bean="sysQuartzCoreService"/>
        </property>
        <property name="hrStaffRatifyLogService">
        	<ref
        		bean="hrStaffRatifyLogService"/>
        </property>
        <property name="hrStaffPersonExperienceContractService">
        	<ref
        		bean="hrStaffPersonExperienceContractService" />
        </property>
        <property
			name="sysNotifyMainCoreService">
			<ref
				bean="sysNotifyMainCoreService" />
		</property>
		<property
			name="hrStaffEntryService">
			<ref
				bean="hrStaffEntryService" />
		</property>
		<property name="hrStaffTrackRecordService">
			<ref bean="hrStaffTrackRecordService"/>
		</property>
    </bean>
    <bean 
        id="hrRatifyMainService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="hrRatifyMainTarget"/>
        </property>
    </bean>
    <bean 
        id="hrRatifyTemplateDao" 
        class="com.landray.kmss.hr.ratify.dao.hibernate.HrRatifyTemplateDaoImp" 
        parent="KmssAuthBaseDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.hr.ratify.model.HrRatifyTemplate</value>
        </property>
    </bean>
    <bean
		id="hrRatifyEntryDao" 
        class="com.landray.kmss.hr.ratify.dao.hibernate.HrRatifyEntryDaoImp" 
        parent="hrRatifyMainDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.hr.ratify.model.HrRatifyEntry</value>
        </property>
    </bean>
    <bean 
        id="hrRatifyEntryTarget" 
        class="com.landray.kmss.hr.ratify.service.spring.HrRatifyEntryServiceImp" 
        parent="hrRatifyMainTarget">
        <property 
            name="baseDao">
            <ref 
                bean="hrRatifyEntryDao"/>
        </property>
        <property name="hrStaffPersonExperienceWorkService">
        	<ref
        		bean="hrStaffPersonExperienceWorkService"/>
        </property>
        <property name="hrStaffPersonExperienceEducationService">
        	<ref
        		bean="hrStaffPersonExperienceEducationService"/>
        </property>
        <property name="hrStaffPersonExperienceTrainingService">
        	<ref
        		bean="hrStaffPersonExperienceTrainingService"/>
        </property>
        <property name="hrStaffPersonExperienceQualificationService">
        	<ref
        		bean="hrStaffPersonExperienceQualificationService"/>
        </property>
        <property name="hrStaffPersonExperienceBonusMalusService">
        	<ref
        		bean="hrStaffPersonExperienceBonusMalusService"/>
        </property>
        <property name="hrStaffEmolumentWelfareService">
        	<ref
        		bean="hrStaffEmolumentWelfareService"/>
        </property>
        <property name="hrStaffEntryService">
        	<ref
        		bean="hrStaffEntryService"/>
        </property>
    </bean>
    <bean 
        id="hrRatifyEntryService" 
        parent="hrRatifyMainService">
        <property 
            name="target">
            <ref 
                bean="hrRatifyEntryTarget"/>
        </property>
    </bean>
    <bean 
        id="hrRatifyPositiveDao" 
        class="com.landray.kmss.hr.ratify.dao.hibernate.HrRatifyPositiveDaoImp" 
        parent="hrRatifyMainDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.hr.ratify.model.HrRatifyPositive</value>
        </property>
    </bean>
    <bean 
        id="hrRatifyPositiveTarget" 
        class="com.landray.kmss.hr.ratify.service.spring.HrRatifyPositiveServiceImp" 
        parent="hrRatifyMainTarget">
        <property 
            name="baseDao">
            <ref 
                bean="hrRatifyPositiveDao"/>
        </property>
    </bean>
    <bean 
        id="hrRatifyPositiveService" 
        parent="hrRatifyMainService">
        <property 
            name="target">
            <ref 
                bean="hrRatifyPositiveTarget"/>
        </property>
    </bean>
    <bean 
        id="hrRatifyTransferDao" 
        class="com.landray.kmss.hr.ratify.dao.hibernate.HrRatifyTransferDaoImp" 
        parent="hrRatifyMainDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.hr.ratify.model.HrRatifyTransfer</value>
        </property>
    </bean>
    <bean 
        id="hrRatifyTransferTarget" 
        class="com.landray.kmss.hr.ratify.service.spring.HrRatifyTransferServiceImp" 
        parent="hrRatifyMainTarget">
        <property 
            name="baseDao">
            <ref 
                bean="hrRatifyTransferDao"/>
        </property>
        <property name="hrStaffEmolumentWelfareDetaliedService">
        	<ref
        		bean="hrStaffEmolumentWelfareDetaliedService"/>
        </property>
		 <property
        	name="sysOrgCoreService">
			<ref 
				bean="sysOrgCoreService"/>
		</property>
		 <property 
        	name="hrStaffTrackRecordService">
			<ref 
				bean="hrStaffTrackRecordService"/>
		</property>
    </bean>
    <bean 
        id="hrRatifyTransferService" 
        parent="hrRatifyMainService">
        <property 
            name="target">
            <ref 
                bean="hrRatifyTransferTarget"/>
        </property>
    </bean>
    <bean 
        id="hrRatifyLeaveDao" 
        class="com.landray.kmss.hr.ratify.dao.hibernate.HrRatifyLeaveDaoImp" 
        parent="hrRatifyMainDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.hr.ratify.model.HrRatifyLeave</value>
        </property>
    </bean>
    <bean 
        id="hrRatifyLeaveTarget" 
        class="com.landray.kmss.hr.ratify.service.spring.HrRatifyLeaveServiceImp" 
        parent="hrRatifyMainTarget">
        <property 
            name="baseDao">
            <ref 
                bean="hrRatifyLeaveDao"/>
        </property>
    </bean>
    <bean 
        id="hrRatifyLeaveService" 
        parent="hrRatifyMainService">
        <property 
            name="target">
            <ref 
                bean="hrRatifyLeaveTarget"/>
        </property>
    </bean>
    <bean 
        id="hrRatifyFireDao" 
        class="com.landray.kmss.hr.ratify.dao.hibernate.HrRatifyFireDaoImp" 
        parent="hrRatifyMainDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.hr.ratify.model.HrRatifyFire</value>
        </property>
    </bean>
    <bean 
        id="hrRatifyFireTarget" 
        class="com.landray.kmss.hr.ratify.service.spring.HrRatifyFireServiceImp" 
        parent="hrRatifyMainTarget">
        <property 
            name="baseDao">
            <ref 
                bean="hrRatifyFireDao"/>
        </property>
    </bean>
    <bean 
        id="hrRatifyFireService" 
        parent="hrRatifyMainService">
        <property 
            name="target">
            <ref 
                bean="hrRatifyFireTarget"/>
        </property>
    </bean>
    <bean 
        id="hrRatifyRetireDao" 
        class="com.landray.kmss.hr.ratify.dao.hibernate.HrRatifyRetireDaoImp" 
        parent="hrRatifyMainDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.hr.ratify.model.HrRatifyRetire</value>
        </property>
    </bean>
    <bean 
        id="hrRatifyRetireTarget" 
        class="com.landray.kmss.hr.ratify.service.spring.HrRatifyRetireServiceImp" 
        parent="hrRatifyMainTarget">
        <property 
            name="baseDao">
            <ref 
                bean="hrRatifyRetireDao"/>
        </property>
    </bean>
    <bean 
        id="hrRatifyRetireService" 
        parent="hrRatifyMainService">
        <property 
            name="target">
            <ref 
                bean="hrRatifyRetireTarget"/>
        </property>
    </bean>
    <bean 
        id="hrRatifyRehireDao" 
        class="com.landray.kmss.hr.ratify.dao.hibernate.HrRatifyRehireDaoImp" 
        parent="hrRatifyMainDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.hr.ratify.model.HrRatifyRehire</value>
        </property>
    </bean>
    <bean 
        id="hrRatifyRehireTarget" 
        class="com.landray.kmss.hr.ratify.service.spring.HrRatifyRehireServiceImp" 
        parent="hrRatifyMainTarget">
        <property 
            name="baseDao">
            <ref 
                bean="hrRatifyRehireDao"/>
        </property>
    </bean>
    <bean 
        id="hrRatifyRehireService" 
        parent="hrRatifyMainService">
        <property 
            name="target">
            <ref 
                bean="hrRatifyRehireTarget"/>
        </property>
    </bean>
    <bean 
        id="hrRatifySalaryDao" 
        class="com.landray.kmss.hr.ratify.dao.hibernate.HrRatifySalaryDaoImp" 
        parent="hrRatifyMainDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.hr.ratify.model.HrRatifySalary</value>
        </property>
    </bean>
    <bean 
        id="hrRatifySalaryTarget" 
        class="com.landray.kmss.hr.ratify.service.spring.HrRatifySalaryServiceImp" 
        parent="hrRatifyMainTarget">
        <property 
            name="baseDao">
            <ref 
                bean="hrRatifySalaryDao"/>
        </property>
        <property name="hrStaffEmolumentWelfareDetaliedService">
        	<ref
        		bean="hrStaffEmolumentWelfareDetaliedService"/>
        </property>
    </bean>
    <bean 
        id="hrRatifySalaryService" 
        parent="hrRatifyMainService">
        <property 
            name="target">
            <ref 
                bean="hrRatifySalaryTarget"/>
        </property>
    </bean>
    <bean 
        id="hrRatifySignDao" 
        class="com.landray.kmss.hr.ratify.dao.hibernate.HrRatifySignDaoImp" 
        parent="hrRatifyMainDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.hr.ratify.model.HrRatifySign</value>
        </property>
    </bean>
    <bean 
        id="hrRatifySignTarget" 
        class="com.landray.kmss.hr.ratify.service.spring.HrRatifySignServiceImp" 
        parent="hrRatifyMainTarget">
        <property 
            name="baseDao">
            <ref 
                bean="hrRatifySignDao"/>
        </property>
    </bean>
    <bean 
        id="hrRatifySignService" 
        parent="hrRatifyMainService">
        <property 
            name="target">
            <ref 
                bean="hrRatifySignTarget"/>
        </property>
    </bean>
    <bean 
        id="hrRatifyChangeDao" 
        class="com.landray.kmss.hr.ratify.dao.hibernate.HrRatifyChangeDaoImp" 
        parent="hrRatifyMainDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.hr.ratify.model.HrRatifyChange</value>
        </property>
    </bean>
    <bean 
        id="hrRatifyChangeTarget" 
        class="com.landray.kmss.hr.ratify.service.spring.HrRatifyChangeServiceImp" 
        parent="hrRatifyMainTarget">
        <property 
            name="baseDao">
            <ref 
                bean="hrRatifyChangeDao"/>
        </property>
    </bean>
    <bean 
        id="hrRatifyChangeService" 
        parent="hrRatifyMainService">
        <property 
            name="target">
            <ref 
                bean="hrRatifyChangeTarget"/>
        </property>
    </bean>
    <bean 
        id="hrRatifyRemoveDao" 
        class="com.landray.kmss.hr.ratify.dao.hibernate.HrRatifyRemoveDaoImp" 
        parent="hrRatifyMainDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.hr.ratify.model.HrRatifyRemove</value>
        </property>
    </bean>
    <bean 
        id="hrRatifyRemoveTarget" 
        class="com.landray.kmss.hr.ratify.service.spring.HrRatifyRemoveServiceImp" 
        parent="hrRatifyMainTarget">
        <property 
            name="baseDao">
            <ref 
                bean="hrRatifyRemoveDao"/>
        </property>
    </bean>
    <bean 
        id="hrRatifyRemoveService" 
        parent="hrRatifyMainService">
        <property 
            name="target">
            <ref 
                bean="hrRatifyRemoveTarget"/>
        </property>
    </bean>
    <bean 
        id="hrRatifyOtherDao" 
        class="com.landray.kmss.hr.ratify.dao.hibernate.HrRatifyOtherDaoImp" 
        parent="hrRatifyMainDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.hr.ratify.model.HrRatifyOther</value>
        </property>
    </bean>
    <bean 
        id="hrRatifyOtherTarget" 
        class="com.landray.kmss.hr.ratify.service.spring.HrRatifyOtherServiceImp" 
        parent="hrRatifyMainTarget">
        <property 
            name="baseDao">
            <ref 
                bean="hrRatifyOtherDao"/>
        </property>
    </bean>
    <bean 
        id="hrRatifyOtherService" 
        parent="hrRatifyMainService">
        <property 
            name="target">
            <ref 
                bean="hrRatifyOtherTarget"/>
        </property>
    </bean>
    <bean 
        id="hrRatifyTemplateTarget" 
        class="com.landray.kmss.hr.ratify.service.spring.HrRatifyTemplateServiceImp" 
        parent="KmssExtendDataTarget">
        <property 
            name="baseDao">
            <ref 
                bean="hrRatifyTemplateDao"/>
        </property>
    </bean>
    <bean 
        id="hrRatifyTemplateService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="hrRatifyTemplateTarget"/>
        </property>
    </bean>
    <bean 
        id="hrRatifyMKeywordDao" 
        class="com.landray.kmss.hr.ratify.dao.hibernate.HrRatifyMKeywordDaoImp" 
        parent="KmssAuthBaseDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.hr.ratify.model.HrRatifyMKeyword</value>
        </property>
    </bean>
    <bean 
        id="hrRatifyMKeywordTarget" 
        class="com.landray.kmss.hr.ratify.service.spring.HrRatifyMKeywordServiceImp" 
        parent="KmssExtendDataTarget">
        <property 
            name="baseDao">
            <ref 
                bean="hrRatifyMKeywordDao"/>
        </property>
    </bean>
    <bean 
        id="hrRatifyMKeywordService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="hrRatifyMKeywordTarget"/>
        </property>
    </bean>
    <bean 
        id="hrRatifyTKeywordDao" 
        class="com.landray.kmss.hr.ratify.dao.hibernate.HrRatifyTKeywordDaoImp" 
        parent="KmssAuthBaseDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.hr.ratify.model.HrRatifyTKeyword</value>
        </property>
    </bean>
    <bean 
        id="hrRatifyTKeywordTarget" 
        class="com.landray.kmss.hr.ratify.service.spring.HrRatifyTKeywordServiceImp" 
        parent="KmssExtendDataTarget">
        <property 
            name="baseDao">
            <ref 
                bean="hrRatifyTKeywordDao"/>
        </property>
    </bean>
    <bean 
        id="hrRatifyTKeywordService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="hrRatifyTKeywordTarget"/>
        </property>
    </bean>
    <bean 
        id="hrRatifyOverviewDao" 
        class="com.landray.kmss.hr.ratify.dao.hibernate.HrRatifyOverviewDaoImp" 
        parent="KmssAuthBaseDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.hr.ratify.model.HrRatifyOverview</value>
        </property>
    </bean>
    <bean 
        id="hrRatifyOverviewTarget" 
        class="com.landray.kmss.hr.ratify.service.spring.HrRatifyOverviewServiceImp" 
        parent="KmssExtendDataTarget">
        <property 
            name="baseDao">
            <ref 
                bean="hrRatifyOverviewDao"/>
        </property>
        <property name="sysCategoryMainService">
        	<ref bean="sysCategoryMainService"/>
        </property>
        <property name="hrRatifyMainService">
        	<ref bean="hrRatifyMainService"/>
        </property>
        <property name="hrRatifyTemplateService">
        	<ref bean="hrRatifyTemplateService"/>
        </property>
    </bean>
    <bean 
        id="hrRatifyOverviewService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="hrRatifyOverviewTarget"/>
        </property>
    </bean>
    <bean 
        id="hrRatifyFeedbackDao" 
        class="com.landray.kmss.hr.ratify.dao.hibernate.HrRatifyFeedbackDaoImp" 
        parent="KmssAuthBaseDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.hr.ratify.model.HrRatifyFeedback</value>
        </property>
    </bean>
    <bean 
        id="hrRatifyFeedbackTarget" 
        class="com.landray.kmss.hr.ratify.service.spring.HrRatifyFeedbackServiceImp" 
        parent="KmssExtendDataTarget">
        <property 
            name="baseDao">
            <ref 
                bean="hrRatifyFeedbackDao"/>
        </property>
        <property name="sysNotifyMainCoreService">
        	<ref bean="sysNotifyMainCoreService"/>
        </property>
        <property name="hrRatifyMainService">
        	<ref bean="hrRatifyMainService"/>
        </property>
        <property name="sysOrgCoreService">
        	<ref bean="sysOrgCoreService"/>
        </property>
    </bean>
    <bean 
        id="hrRatifyFeedbackService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="hrRatifyFeedbackTarget"/>
        </property>
    </bean>
    <bean 
        id="hrRatifyMainDaoProxyCreator" 
        class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">
        <property 
            name="beanNames">
            <value>hrRatifyMainDao</value>
        </property>
        <property 
            name="interceptorNames">
            <list>
                <value>luceneCreateAdvisor</value>
                <value>luceneSaveAdvisor</value>
                <value>luceneDeleteAdvisor</value>
                <value>docKeyWriteAdvice</value>
            </list>
        </property>
    </bean>
    <bean 
        id="hrRatifyTemplateTreeService" 
        class="com.landray.kmss.sys.category.service.SysCategoryTemplateTreeService">
        <property 
            name="serviceImp">
            <ref 
                bean="hrRatifyTemplateService"/>
        </property>
    </bean>
    <bean 
        id="hrRatifyTreeService" 
        class="com.landray.kmss.hr.ratify.service.spring.HrRatifyTemplateTreeService">
        <property
			name="hrRatifyTemplateService">
			<ref bean="hrRatifyTemplateService" />
		</property>	
    </bean>
    <bean
		id="hrRatifySubWfCateTreeService"
		class="com.landray.kmss.hr.ratify.service.spring.HrRatifySubWfCateTreeService">
		<property
			name="sysCategoryMainService">
			<ref bean="sysCategoryMainService" />
		</property>				
	</bean>
	<bean
		id="hrRatifyLeaveReasonService"
		parent="KmssBaseService">
		<property name="target">
			<ref bean="hrRatifyLeaveReasonTarget" />
		</property>
	</bean>
	<bean
		id="hrRatifyLeaveReasonDao"
		parent="KmssBaseDao"
		class="com.landray.kmss.hr.ratify.dao.hibernate.HrRatifyLeaveReasonDaoImp">
		<property
			name="modelName"
			value="com.landray.kmss.hr.ratify.model.HrRatifyLeaveReason" />	
	</bean>
	<bean
		id="hrRatifyLeaveReasonTarget"
		parent="KmssBaseTarget"
		class="com.landray.kmss.hr.ratify.service.spring.HrRatifyLeaveReasonServiceImp">
		<property
			name="baseDao">
			<ref
				bean="hrRatifyLeaveReasonDao" />
		</property>
	</bean>
	<bean
		id="hrRatifyStaffConcernConfigService"
		parent="KmssBaseService">
		<property name="target">
			<ref bean="hrRatifyStaffConcernConfigTarget" />
		</property>
	</bean>
	<bean
		id="hrRatifyStaffConcernConfigDao"
		parent="KmssBaseDao"
		class="com.landray.kmss.hr.ratify.dao.hibernate.HrRatifyStaffConcernConfigDaoImp">
		<property
			name="modelName"
			value="com.landray.kmss.hr.ratify.model.HrRatifyStaffConcernConfig" />	
	</bean>
	<bean
		id="hrRatifyStaffConcernConfigTarget"
		parent="KmssBaseTarget"
		class="com.landray.kmss.hr.ratify.service.spring.HrRatifyStaffConcernConfigServiceImp">
		<property
			name="baseDao">
			<ref
				bean="hrRatifyStaffConcernConfigDao" />
		</property>
	</bean>
	<bean
		id="hrRatifyStaffConcernValidator"
		class="com.landray.kmss.hr.ratify.service.spring.HrRatifyStaffConcernValidator">
		<property name="hrRatifyStaffConcernConfigService">
			<ref bean="hrRatifyStaffConcernConfigService" />
		</property>
	</bean>
	
	<bean id="hrRatifyYqqSignService" class="com.landray.kmss.hr.ratify.service.spring.HrRatifyYqqSignServiceImp"></bean>
	
	<bean
		id="hrRatifyOutSignDao"
		parent="KmssAuthBaseDao"
		class="com.landray.kmss.hr.ratify.dao.hibernate.HrRatifyOutSignDaoImp">
		<property
			name="modelName"
			value="com.landray.kmss.hr.ratify.model.HrRatifyOutSign" />
	</bean>
	<bean
		id="hrRatifyOutSignTarget"
		parent="KmssBaseTarget"
		class="com.landray.kmss.hr.ratify.service.spring.HrRatifyOutSignServiceImp">
		<property name="baseDao">
			<ref bean="hrRatifyOutSignDao" />
		</property>
	</bean>
	<bean
		id="hrRatifyOutSignService"
		parent="KmssBaseService">
		<property name="target">
			<ref bean="hrRatifyOutSignTarget" />
		</property>
	</bean>
	<bean
		id="hrStaffDefaultAuthValidator"
		class="com.landray.kmss.hr.ratify.validator.HrStaffDefaultAuthValidator">
	</bean>
</beans>
