@charset "utf-8";
body,
div,
ul,
li,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
select,
p,
dl,
dt,
dd,
a,
img,
button,
form,
table,
th,
tr,
td,
tbody,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  font-family: "PingFang SC",
  "Lantinghei SC",
  "Helvetica Neue",
  Arial,
  "Microsoft YaHei",
  "WenQuanYi Micro Hei",
  "Heiti SC",
  "Segoe UI",
  sans-serif;
  box-sizing: border-box;
}
.cardConfigMobileBox{
    background-color: #F5F6FB;
    padding: 8px;
    border: 1px dashed transparent;
}
.cardConfigMobileBox.active {
    border-color: #4285f4;
}
.cardConfigMobileBox.active .model-phone-words-flag{
    display: block;
}
.cardConfigMobileBox.select{
    background: rgba(66,133,244,0.10);
}
.cardConfigMobileItem{
    padding: 6px;
    background-color: #fff;
    border: 1px solid #EEEEEE;
    border-radius: 4px;
    margin-bottom: 8px;
}
.cardConfigMobileItemCover{
    height:88px;
    border-radius: 4px;
    background: url(images/viewCover.png) no-repeat center;
    background-color: #F8F8F8;
}
.cardConfigMobileItemCover.hiddenPanel{
    display: none;
}
.cardConfigMobileItemCover.showPanel{
    display: block;
}
.cardConfigMobileItemTitle{
    font-size: 12px;
    color: #9497A4;
    margin:14px 0 10px 0;
    padding: 0 6px;
}
.cardConfigMobileItemAbstract{
    width: 100%;
    padding: 0 6px;
}
.cardConfigMobileItemAbstract>li{
    display: inline-block;
    height:20px;
    line-height:20px;
    max-width: 30%;
    min-width: 20%;
    font-size: 12px;
    color: #C9CBD1;
}
.multi .cardConfigMobileItemAbstract>li {
    max-width: 100%;
    width: 100%;
}
.cardConfigMobileBox.multi{
    font-size: 0;
    padding: 6px;
}
.cardConfigMobileBox.multi>.cardConfigMobileItem{
    display: inline-block;
    width: 48%;
    margin: 1%;
}

.model-mask-panel-table-select.boardCardConfigSelect{
    margin-left: 0;
    float: right;
}

.model-body-wrap .model-body-content-phone-sort .model-phone-sort-left .model-phone-sort-item i{
    right: 0;
}

.model-body-content-phone-center-wrap{
    overflow: auto;
}