<?xml version="1.0" encoding="UTF-8"?>
<plugin 
    xsi:schemaLocation="http://www.example.org/plugin-config ../../plugin.xsd" 
    xmlns="http://www.example.org/plugin-config" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<extension-point id="com.landray.kmss.sys.help.module.configuration">
		<item name="config">
			<param name="moduleName" kind="string" required="true">
				<description>实现此扩展点的模块名称</description>
			</param>
			<param name="modulePath" kind="string" required="true">
				<description>实现此扩展点的模块路径</description>
			</param>
			<param name="defaultOpenHelpManual" kind="string" required="true">
				<description>默认开启帮助手册</description>
			</param>
			<param name="defaultOpenBusinessOverview" kind="string" required="false">
				<description>默认开启业务概览</description>
			</param>
			<param name="defaultOpenSceneExperience" kind="string" required="true">
				<description>默认开启场景体验</description>
			</param>
			<param name="businessOverviewImage" kind="string" required="false">
				<description>业务概览图</description>
			</param>
			<param name="sceneExperienceUrl" kind="string" required="false">
				<description>场景体验url</description>
			</param>
			<description>配置参数项</description>
		</item>
		<description>提供模块配置扩展点，实现不同模块之间默认配置行为</description>
	</extension-point>

	<!--
		导入导出机制需要特殊处理的情况 ：
		1.选择导出的是主文档
		2.子文档中也包含附件，也要一起导出
	-->
	<extension point="com.landray.kmss.sys.datainit.exportAndImport">
		<item name="config">
			<param name="operateModelName" value="com.landray.kmss.sys.help.model.SysHelpMain;com.landray.kmss.sys.help.model.SysHelpCatelog" />
			<param name="exportAndImport" value="com.landray.kmss.sys.help.model.SysHelpCatelog" />
			<param name="deleteModelName" value="com.landray.kmss.sys.help.model.SysHelpCatelog" />
		</item>
	</extension>
</plugin>
