<?xml version="1.0" encoding="UTF-8"?>
<beans 
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd" 
    xmlns="http://www.springframework.org/schema/beans" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <bean 
        class="com.landray.kmss.sys.help.actions.SysHelpMainAction" 
        parent="KmssBaseAction" 
        name="/sys/help/sys_help_main/sysHelpMain.do"  
        lazy-init="true">
        <property 
            name="formType" 
            value="com.landray.kmss.sys.help.forms.SysHelpMainForm"/>
        <property 
            name="forwards">
            <map>
                <entry 
                    key="data" 
                    value="/sys/help/sys_help_main/sysHelpMain_data.jsp"/>
                <entry 
                    key="view" 
                    value="/sys/help/sys_help_main/sysHelpMain_view.jsp"/>
                <entry 
                    key="edit" 
                    value="/sys/help/sys_help_main/sysHelpMain_edit.jsp"/>
                <entry 
                    key="analyzePage" 
                    value="/sys/help/sys_help_main/sysHelpMain_analyze.jsp"/>
                <entry 
                    key="findHTMLById" 
                    value="/sys/help/sys_help_template/sysHelpMain_template.jsp"/>
                <entry 
                    key="selectModule" 
                    value="/sys/help/sys_help_main/sysHelpMain_selectModule.jsp"/>
            </map>
        </property>
    </bean>
    <bean 
        class="com.landray.kmss.sys.help.actions.SysHelpCatelogAction" 
        parent="KmssBaseAction" 
        name="/sys/help/sys_help_catelog/sysHelpCatelog.do" 
        lazy-init="true">
        <property 
            name="formType" 
            value="com.landray.kmss.sys.help.forms.SysHelpCatelogForm"/>
        <property 
            name="forwards">
            <map>
            	<entry
					key="openCatelogDialog"
					value="/sys/help/sys_help_catelog/sysHelpCatelog_edit.jsp" />
            	<entry
					key="editCatelogContent"
					value="/sys/help/sys_help_catelog/sysHelpCatelog_editContent.jsp" />
            </map>
        </property>
    </bean>
    <bean 
        class="com.landray.kmss.sys.help.actions.SysHelpConfigAction" 
        parent="KmssBaseAction" 
        name="/sys/help/sys_help_config/sysHelpConfig.do" 
        lazy-init="true">
        <property 
            name="formType" 
            value="com.landray.kmss.sys.help.forms.SysHelpConfigForm"/>
        <property 
            name="forwards">
            <map>
                <entry 
                    key="data" 
                    value="/sys/help/sys_help_config/sysHelpConfig_data.jsp"/>
                <entry 
                    key="getAllModule" 
                    value="/sys/help/sys_help_config/sysHelpConfig_modules.jsp"/>
                <entry 
                    key="view" 
                    value="/sys/help/sys_help_config/sysHelpConfig_view.jsp"/>
                <entry 
                    key="edit" 
                    value="/sys/help/sys_help_config/sysHelpConfig_edit.jsp"/>
            </map>
        </property>
    </bean>
    <bean 
        class="com.landray.kmss.sys.help.actions.SysHelpModuleAction" 
        parent="KmssBaseAction" 
        name="/sys/help/sys_help_module/sysHelpModule.do" 
        lazy-init="true">
        <property 
            name="formType" 
            value="com.landray.kmss.sys.help.forms.SysHelpModuleForm"/>
        <property 
            name="forwards">
            <map>
                <entry
                    key="render"
                    value="/sys/help/sys_help_template/sysHelp_template.jsp"/>
            </map>
        </property>
    </bean>
    <bean 
        class="com.landray.kmss.sys.help.actions.SysHelpModuleMainAction" 
        parent="KmssBaseAction" 
        name="/sys/help/sys_help_module_main/sysHelpModuleMain.do" 
        lazy-init="true">
        <property 
            name="formType" 
            value="com.landray.kmss.sys.help.forms.SysHelpModuleMainForm"/>
        <property 
            name="forwards">
            <map>
				<entry key="config"
					value="/sys/help/sys_help_module/sysHelpModuleMain_config.jsp" />
				<entry key="importModule"
					value="/sys/help/sys_help_module/sysHelpModuleMain_import.jsp" />
			</map>
        </property>
    </bean>
</beans>
