<?xml version="1.0" encoding="UTF-8"?>
<beans 
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd" 
    xmlns="http://www.springframework.org/schema/beans" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <bean 
        id="sysHelpMainDao" 
        class="com.landray.kmss.sys.help.dao.hibernate.SysHelpMainDaoImp" 
        parent="KmssAuthBaseDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.sys.help.model.SysHelpMain</value>
        </property>
    </bean>
    <bean 
        id="sysHelpMainTarget" 
        class="com.landray.kmss.sys.help.service.spring.SysHelpMainServiceImp" 
        parent="KmssExtendDataTarget">
        <property 
            name="baseDao">
            <ref 
                bean="sysHelpMainDao"/>
        </property>
        <property 
            name="sysHelpCatelogService">
            <ref 
                bean="sysHelpCatelogService"/>
        </property>
        <property 
            name="sysHelpConfigService">
            <ref 
                bean="sysHelpConfigService"/>
        </property>
    </bean>
    <bean 
        id="sysHelpMainService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="sysHelpMainTarget"/>
        </property>
    </bean>
    <bean 
        id="sysHelpCatelogDao" 
        class="com.landray.kmss.sys.help.dao.hibernate.SysHelpCatelogDaoImp" 
        parent="KmssAuthBaseDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.sys.help.model.SysHelpCatelog</value>
        </property>
    </bean>
    <bean 
        id="sysHelpCatelogTarget" 
        class="com.landray.kmss.sys.help.service.spring.SysHelpCatelogServiceImp" 
        parent="KmssExtendDataTarget">
        <property 
            name="baseDao">
            <ref 
                bean="sysHelpCatelogDao"/>
        </property>
        <property 
            name="sysHelpConfigService">
            <ref 
                bean="sysHelpConfigService"/>
        </property>
    </bean>
    <bean 
        id="sysHelpCatelogService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="sysHelpCatelogTarget"/>
        </property>
    </bean>
    <bean 
        id="sysHelpConfigDao" 
        class="com.landray.kmss.sys.help.dao.hibernate.SysHelpConfigDaoImp" 
        parent="KmssAuthBaseDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.sys.help.model.SysHelpConfig</value>
        </property>
    </bean>
    <bean 
        id="sysHelpConfigTarget" 
        class="com.landray.kmss.sys.help.service.spring.SysHelpConfigServiceImp" 
        parent="KmssExtendDataTarget">
        <property 
            name="baseDao">
            <ref 
                bean="sysHelpConfigDao"/>
        </property>
        <property 
        	name="sysHelpMainService">
			 <ref 
			 	bean="sysHelpMainService"/>
		</property>
    </bean>
    <bean 
        id="sysHelpConfigService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="sysHelpConfigTarget"/>
        </property>
    </bean>
	<bean 
        id="sysHelpModuleDao" 
        class="com.landray.kmss.sys.help.dao.hibernate.SysHelpModuleDaoImp" 
        parent="KmssAuthBaseDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.sys.help.model.SysHelpModule</value>
        </property>
    </bean>
    <bean 
        id="sysHelpModuleTarget" 
        class="com.landray.kmss.sys.help.service.spring.SysHelpModuleServiceImp" 
        parent="KmssExtendDataTarget">
        <property 
            name="baseDao">
            <ref 
                bean="sysHelpModuleDao"/>
        </property>
    </bean>
    <bean 
        id="sysHelpModuleService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="sysHelpModuleTarget"/>
        </property>
    </bean>
    
	<!-- 获取ID -->
	<bean id="sysHelpGenerateId" class="com.landray.kmss.sys.help.service.spring.SysHelpGenerateId"></bean>
    
</beans>
