/* 样式重置 */
html,body{
	height:100%;
}
input{
	font-size:.28rem;
}
.file-overview-box {
  background: #f5f7fa;
  height: 100%;
}

.file-overview-search {
  background: #fff;
  padding: .18rem .24rem;
}
.file-overview-search-cancel{
	height:.36rem;
	width:.36rem;
	border-radius:50%;
	background: #9DB0CE;
	position:relative;
	margin-right: .12rem;
}
.file-overview-search-vline,.file-overview-search-hline{
	display:inline-block;
	background-color:#fff;
	height: .02rem;
	width:.2rem;
	position:absolute;
	top:.16rem;
	left:.08rem;
}
.file-overview-search-hline{
	transform: rotate(45deg);
}
.file-overview-search-vline{
	transform: rotate(135deg);
}
.file-overview-text {
  background: #F2F6FD;
  display: flex;
  align-items: center;
  border-radius: .04rem;
}

.file-overview-input {
  border: 0;
  background: transparent;
  outline: transparent;
  height: .6rem;
  flex: 1;
}
.file-overview-input::-webkit-input-placeholder {
	font-size:16px;
	color:#9DB0CE;
}

.file-overview-search-icon {
  display: inline-block;
  background: url('../image/index/search.png') no-repeat center;
  background-size: contain;
  width: .28rem;
  height: .28rem;
  margin: 0 .12rem 0 .28rem;
}

.file-overview-main {
  padding: .51rem .3rem;
  padding-bottom: .68rem;
}

.file-overview-data-show {
  background: #Fff;
  padding: 0 .26rem;
  padding-bottom: .41rem;
}

.file-overview-data-show-title, .file-overview-data-show-all, .file-overview-data-show-duties {
  display: flex;
  justify-content: space-between;
}

.file-overview-data-show-all {
  margin-bottom: .3rem;
  background: #f5f7fa;
}

.file-overview-data-show-title {
  display: flex;
  justify-content: space-between;
}

.fod-dst-img, .fod-dst-num {
  display: flex;
  align-items: center;
}

.fod-dst-img span {
  font-size: .32rem;
  color: #9DB0CE;
}

.fod-dst-num span {
  font-size: .48rem;
  /* color: #50617A; */
  color:#200;
}

.fod-dst-num span b {
  font-size: .24rem;
}

.fod-dst-img-icon {
  background: url('../image/index/work-title.png') no-repeat center;
  background-size: contain;
  display: inline-block;
  height: 1.48rem;
  width: 1.46rem;
  position: relative;
  top: -.30rem;
  margin-right: .47rem;
}
.fod-dst-img-icon-lzyg {
  background: url('../image/index/lzyg.png') no-repeat center;
  background-size: contain;
}
.fod-dst-icon-jump {
  background: url('../image/index/jump.png') no-repeat center;
  background-size: contain;
  display: inline-block;
  height: .22rem;
  width: .22rem;
  margin-left: .22rem;
}

.fod-dsa-all, .fod-dsa-official, .fod-dsa-trial {
  text-align: center;
  padding: .28rem 0;
  flex: 1;
  background: #f5f7fa;
  font-size: .4rem;
  color: #50617A;
}

.fod-dsa-all b, .fod-dsa-official b, .fod-dsa-trial b {
  font-size: .24rem;
}
.fod-dsa-official {
  position: relative;
}
.fod-dsa-official::after{
  content: '';
  height: .9rem;
  width: .01rem;
  background: #9DB0CE;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%,-50%);
  opacity: .4;
}
.fod-dsa-all {
  border-top-left-radius: .1rem;
  border-bottom-left-radius: .1rem;
}

.fod-dsa-trial {
  border-top-right-radius: .1rem;
  border-bottom-right-radius: .1rem;
}

.fod-dsa-all div, .fod-dsa-official div, .fod-dsa-trial div {
  font-size: .26rem;
  margin-top: .1rem;
}

.fod-dsa-all {
  background: url('../image/index/qzbg.png')no-repeat center;
  background-size: contain;
  color: #fff;
}

.fod-dsa-all b {
  color: #fff;
}

.fod-dsa-parttime, .fod-dsa-practice, .fod-dsa-monthEntry {
  text-align: center;
  padding: .28rem 0;
  flex: 1;
  color: #fff;
  border-radius: .1rem;
  font-size: .4rem;
  color: #FFFFFF;
}

.fod-dsa-parttime b, .fod-dsa-practice b, .fod-dsa-monthEntry b {
  font-size: .24rem;
}

.fod-dsa-parttime {
  background: url('../image/index/jzbg.png') no-repeat center;
  background-size:cover;
}

.fod-dsa-practice {
  background: url('../image/index/ssbg.png') no-repeat center;
  background-size:cover;
  margin:0 .1rem;
}

.fod-dsa-monthEntry {
  background: url('../image/index/rzbg.png') no-repeat center;
  background-size:cover;
}

.fod-dsa-parttime div, .fod-dsa-practice div, .fod-dsa-monthEntry div {
  font-size: .26rem;
  margin-top: .1rem;
}

.file-overview-leava-data-show {
  background: #fff;
  margin-top: .64rem;
  padding: 0 .26rem;
  border-radius: .1rem;
}
.file-overview-footer {
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: .2rem;
  height: 1rem;
  background: #fff;
  padding-top: .21rem;
  box-sizing: border-box;
  color: #9DB0CE;
}
.file-overview-footer div {
  flex: 1;text-align: center;
}
.fof-overview-icon {
  background: url('../image/index/overview.png') no-repeat center;
  background-size: contain;
  width: .38rem;
  height: .38rem;
  display:block;
  margin: 0 auto;
}
.fof-data-icon {
  background: url('../image/index/data.png') no-repeat center;
  background-size: contain;
  width: .38rem;
  height: .38rem;
  display:block;
  margin: 0 auto;
}
.fof-file-icon {
  background: url('../image/index/file.png') no-repeat center;
  background-size: contain;
  width: .38rem;
  height: .38rem;
  margin: 0 auto;
  display:block;
}
.fof-overview-icon-active {
  background: url('../image/index/overview-active.png') no-repeat center;
  background-size: contain;
}
.fof-overview-icon-active+span {
  color: #318FED;
}