.hr-list-box{
	height:9.5rem;
	margin:1.45rem;
	display:flex;
	align-items: center;
	background-color:#fff;
	box-shadow: 0 0.5rem .5rem 0 rgba(45,143,242,0.06);
	border-radius: .7rem;
}

.file-overview-input::-webkit-input-placeholder {
	font-size:16px;
}
.hr-list-header-img img{
	border-radius:50%;
}
.hr-list-header-img{
	margin-left:2rem;
	margin-right:1.6rem;
}
.hr-list-header-img,.hr-list-header-img img{
	width:5rem;
	height:5rem;
}
.hr-list-content-status{
	display:flex;
	align-items: center;
	margin: .5rem 0 .9rem 0;
}
.hr-list-content-name{
	font-size: 1.5rem;
	color: #50617A;
}
.hr-list-content-status-sex{
	width:1.45rem;
	height:1.45rem;
	background-color:rgba(49,143,237,0.1);
	background-position: center;
	border-radius: .85rem;
}
.hr-list-content-status-sex +div{
	margin-left:.5rem;
}
.hr-list-male{
	background-image:url('../image/list/male_1.png');
	padding:.2rem;
}
.hr-list-female{
	background-image:url('../image/list/female_1.png');
	padding:.2rem;
}
.hr-list-content-status-status{
	padding:0 0.5rem;
	font-size: 1rem;
	color: #318FED;
	background-color:rgba(49,143,237,0.1);
	border-radius: .85rem;
	height: 1.5rem;
	line-height:1.5rem;
	margin-right:.5rem;
}

.status-yellow{
	color: #F17334;
	backgroud-color:rgba(241,115,52,0.1);
}
.status-green{
	color:#2D9A83;
	backgroun-color:rgba(45,154,131,0.1);
}
.hr-list-content-post{
	font-size: 1.2rem;
	color: #9DB0CE;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 25rem;
}
.hr-list-box-href{
	display:inline-block;
	height:9.5rem;
	width:100%;
	position:absolute;
    top:0;
}
#hr-staff-list>div{
	position:relative;
}

/*******************************/
.file-overview-box {
  background: #f5f7fa;
  height: 100%;
}

.file-overview-search {
  background: #fff;
  padding: .9rem 1.2rem;
}
.file-overview-search-cancel{
	height:1.8rem;
	width:1.8rem;
	border-radius:50%;
	background: #9DB0CE;
	position:relative;
	margin-right: .6rem;
}
.file-overview-search-vline,.file-overview-search-hline{
	display:inline-block;
	background-color:#fff;
	height: .1rem;
	width:1rem;
	position:absolute;
	top:.8rem;
	left:.4rem;
}
.file-overview-search-hline{
	transform: rotate(45deg);
}
.file-overview-search-vline{
	transform: rotate(135deg);
}
.file-overview-text {
  background: #F2F6FD;
  display: flex;
  align-items: center;
  border-radius: .2rem;
}

.file-overview-input {
  border: 0;
  background: transparent;
  outline: transparent;
  height: 3rem;
  flex: 1;
}
.file-overview-input::-webkit-input-placeholder{
	font-size:14px;
	color:#9DB0CE;
	
}

.file-overview-search-icon {
  display: inline-block;
  background: url('../image/index/search.png') no-repeat center;
  background-size: contain;
  width: 1.4rem;
  height: 1.4rem;
  margin: 0 .6rem 0 1.4rem;
}