/***********************/
.listPullItem, .listPushItem{
	font-size:.24rem;
	height:.7rem;
	line-height:.6rem;
}
.listPullItem i, .listPushItem i{
	font-size:.32rem;
	top:0.16rem;
}

.listPullItem span, .listPushItem span{
	padding-left:.36rem;
}
/*******************************/
.muiListNoDataIcon{
	width:2rem;
	height:2rem;
}
.muiListNoDataIcon i{
	font-size: 1.2rem;
    line-height: 1.6rem;
    height: 1.6rem;
     margin-top: .3rem;
}
.muiListNoDataTxt{
	font-size:1.6rem!important;
}
/*********************/
.addBootomTipContent img{
	width:1rem;
}
.addBootomTipContent .notice{
	font-size:.2rem;
}
.muiListNoDataImg img{
	width:200px!important;
}