.data-show-content {
  background: #f5f7fa;
  /* height: 100%; */
}

.data-show-dropdowm-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  color: #fff;
  padding-top:1rem;
}

.data-show-dropdowm-icon {
  width: 1.1rem;
  height: 1.1rem;
  background: url('../image/statistics/triangle.png') no-repeat center;
  background-size: contain;
  display: block;
  margin-left: .16rem;
}

.data-show-in-service {
  display: flex;
  justify-content: space-between;
  margin-top: 2.2rem;
  color: #fff;
}

.data-show-in-service div {
  flex: 1;
  text-align: center;
  font-size: 1.3rem;
  color: #FFFFFF;
}

.data-show-in-service div span {
  font-size: 2.4rem;
  color: #FFFFFF;
}

.data-show-in-service div div {
  opacity: .8;
}

.data-show-top-bg {
  height: 20.8rem;
  background: url('../image/statistics/data-show-bg.png') no-repeat center;
  background-size: cover;
}

.data-show-in-service-month {
  position: relative;
}

.data-show-in-service-month::after {
  content: '';
  height: 4rem;
  width: .05rem;
  background: #fff;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
  opacity: .4;
}

.data-show-yggc {
  margin: 0 1.5rem;
  border-radius: .5rem;
  position: relative;
  top: -5.65rem;
  background: #fff;
  margin-bottom: 1.5rem;
}

.data-show-yggc-title {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  border-bottom: .05rem solid #DFE3E9;
}

.data-show-yggc-title i {
  width: .2rem;
  height: 1.45rem;
  background: #318fed;
  margin-right: 1rem;
}

.data-show-yggc-title span {
  font-size: 1.2rem;
  color: #9DB0CE;
}

.data-show-yggc-title .data-show-yggc-text {
  font-size: 1.5rem;
  color: #50617A;
  margin-right: .5rem;
}

.data-show-yggc-content {
  padding: 3.2rem 2.3rem 0 2.3rem;
  box-shadow: 0 0 10px 0 rgba(45, 143, 242, 0.10);
}

.data-show-yggc-item {
  display: flex;
  align-items: center;
  width: 33%;
  margin-bottom: 2.9rem;
}

.dsy-i-icon {
  width: 1.4rem;
  height: 1.4rem;
  background: #63A8ED;
  display: inline-block;
  border-radius: 50%;
  border: .5rem solid #c1dcf8;
}

.dsy-i-icon-sy {
  background: #FF8430;
  border-color: #ffe6d6;
}

.dsy-i-icon-ss {
  background: #32BFB2;
  border-color: #d6f2f0;
}

.dsy-i-icon-ls {
  background: #D776E4;
  border-color: #f7e4fa;
}

.dsy-i-icon-jz {
  background: #FFBC00;
  border-color: #fff2cc;
}
.dsy-i-icon-lz,.dsy-i-icon-tx {
 	background:#ccc;
 	border-color:#eee;
}

.dsy-i-icon-jp {
  	background:#ff4830;
 	border-color:#ff9d90;
}
.dsy-i-text {
  margin-left: 1.3rem;
  font-size: 1.5rem;
  color: #50617A;
}

.dsy-i-text div {
  font-size: 1.2rem;
  color: #9DB0CE;
}

.data-show-yggc-content-qz, .data-show-yggc-content-ls {
  display: flex;
  flex-flow: wrap;
}

.dsc-l-item-line {
  width: .95rem;
  height: 1rem;
  border-radius: .5rem;
  background: #63A8ED;
  margin: .7rem auto;
  margin-bottom: .95rem;
}
.dsc-l-item-line-green {
  background: #72C9C1;
}
.dsc-l-item-line-purple {
  background: #D595DE;
}
.data-show-chart-line {
  display: flex;
  padding: 2.05rem 1.2rem 1.5rem 1.2rem;
  align-items: flex-end;
}

.dsc-l-item {
  flex: 1;
  text-align: center;
}

.dsc-l-item span {
  font-size: 1.3rem;
  color: #50617A;
}

.dsc-l-item .dsc-l-item-text {
  font-size: 1.2rem;
  color: #9DB0CE;
}
.data-show-chart-row {
  padding: 2.3rem 1.75rem 2.1rem 1.75rem;
}
.dsc-r-text{
  display: flex;
  justify-content: space-between;
}
.dsc-r-shadow {
  width: 100%;
  height: .8rem;
  background: #e0eefb;
  border-radius: .5rem;
  margin: 0 auto;
}
.dsc-r-row {
  height: .8rem;
  width: 24.4rem;
  background: #63A8ED;
  display:block;
  border-radius: .5rem;
}
.dsc-r-text {
  margin-bottom: .45rem;
}
.dsc-r-text span{
  font-size: 1.2rem;
  color: #9DB0CE;
}
.dsc-r-text .dsc-r-text-num {
  font-size: 1.3rem;
  color: #50617A;
}
.dsc-r-item {
  margin-bottom: 1.05rem;
}
.dsc-r-row-green {
  background: #72C9C1;
}
.dsc-r-row-purple {
  background: #D595DE;
}
.dsc-r-row-orange {
  background: #F8AC78;
}
.dsc-r-row-yellow {
  background: #F5C847;
}

.file-overview-footer {
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 1rem;
  height: 5rem;
  background: #fff;
  padding-top: 1.05rem;
  box-sizing: border-box;
  color: #9DB0CE;
}
.file-overview-footer div {
  flex: 1;text-align: center;
}
.fof-overview-icon {
  background: url('../image/index/overview.png') no-repeat center;
  background-size: contain;
  width: 1.9rem;
  height: 1.9rem;
  display:block;
  margin: 0 auto;
}
.fof-data-icon {
  background: url('../image/index/data.png') no-repeat center;
  background-size: contain;
  width: 1.9rem;
  height: 1.9rem;
  display:block;
  margin: 0 auto;
}
.fof-file-icon {
  background: url('../image/index/file.png') no-repeat center;
  background-size: contain;
  width: 1.9rem;
  height: 1.9rem;
  margin: 0 auto;
  display:block;
}
.fof-data-icon-active {
  background: url('../image/index/data-active.png') no-repeat center;
  background-size: contain;
}
.fof-data-icon-active+span {
  color: #318FED;
}