html,body{
	background:#f5f7fa!important;
}
#va-header{
	background:#fff;
}
.va_list{
	background:#fff;
	min-height:6rem;
	margin:1rem 1.5rem;
	border-radius:.4rem;
	font-size:1.4rem;
	padding:1rem;
}
.va-list-item{
	display:flex;
	justify-content: space-between;
	line-height:3rem;
}
.va_list div{
	
}
.va-list-left span,.va-list-right span{
	font-size:1.4rem;
}
.va-list-left span:last-child,.va-list-right span:last-child{
	padding-left:.5rem;
}