<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean
		name="/km/smissive/km_smissive_template/kmSmissiveTemplate.do"
		class="com.landray.kmss.km.smissive.actions.KmSmissiveTemplateAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.km.smissive.forms.KmSmissiveTemplateForm" />
		<property name="forwards">
			<map>
				<entry
					key="view"
					value="/km/smissive/km_smissive_template/kmSmissiveTemplate_view.jsp" />
				<entry
					key="edit"
					value="/km/smissive/km_smissive_template/kmSmissiveTemplate_edit.jsp" />
				<entry
					key="list"
					value="/km/smissive/km_smissive_template/kmSmissiveTemplate_list.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/km/smissive/km_smissive_number/kmSmissiveNumber.do"
		class="com.landray.kmss.km.smissive.actions.KmSmissiveNumberAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.km.smissive.forms.KmSmissiveNumberForm" />
		<property name="forwards">
			<map>
				<entry
					key="list"
					value="/km/smissive/km_smissive_number/kmSmissiveNumber_list.jsp" />
			</map>
		</property>	
	</bean>
	<bean
		name="/km/smissive/km_smissive_main/kmSmissiveMainIndex.do"
		class="com.landray.kmss.km.smissive.actions.KmSmissiveMainIndexAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property name="forwards">
			<map>
				<entry
					key="list"
					value="/km/smissive/km_smissive_main_ui/kmSmissiveMain_list.jsp" />
				<entry
					key="listChildren"
					value="/km/smissive/km_smissive_main_ui/kmSmissiveMain_list.jsp" />
				<entry
					key="manageList"
					value="/km/smissive/km_smissive_main_ui/kmSmissiveMain_list.jsp" />
				<entry
					key="listChildren.4m"
					value="/km/smissive/mobile/list.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/km/smissive/km_smissive_main/kmSmissiveMain.do"
		class="com.landray.kmss.km.smissive.actions.KmSmissiveMainAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.km.smissive.forms.KmSmissiveMainForm" />
		<property name="forwards">
			<map>
				<entry
					key="view"
					value="/km/smissive/km_smissive_main_ui/kmSmissiveMain_view.jsp" />
				<entry
					key="view.4m"
					value="/km/smissive/mobile/view.jsp" />
				<entry
					key="edit"
					value="/km/smissive/km_smissive_main_ui/kmSmissiveMain_edit.jsp" />
				<entry
					key="list"
					value="/km/smissive/km_smissive_main_ui/kmSmissiveMain_list.jsp" />
				<entry
					key="listChildren"
					value="/km/smissive/km_smissive_main/kmSmissiveMain_list.jsp" />
				<entry
					key="print"
					value="/km/smissive/km_smissive_main/kmSmissiveMain_print.jsp" />
				<entry
					key="listDoing"
					value="/km/smissive/km_smissive_main/kmSmissiveMain_hascategory_list.jsp" />
				<entry
					key="manageList"
					value="/km/smissive/km_smissive_main_ui/kmSmissiveMain_list.jsp" />
				<entry
					key="modifyAttRight"
					value="/km/smissive/km_smissive_main/kmSmissiveMain_modify_att_right.jsp" />
				<entry
					key="modifyRight"
					value="/km/smissive/km_smissive_main/kmSmissiveMain_modify_right.jsp" />
				<entry
					key="modifyIssuer"
					value="/km/smissive/km_smissive_main/kmSmissiveMain_modify_issuer.jsp" />
				<entry
					key="circulate"
					value="/km/smissive/km_smissive_main/kmSmissiveMain_circulate.jsp" />
				<entry
					key="listCirculation"
					value="/km/smissive/km_smissive_main/kmSmissiveMain_circulate_list.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/km/smissive/km_smissive_main/kmSmissiveMainPortlet.do"
		class="com.landray.kmss.km.smissive.actions.KmSmissiveMainPortletAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property name="forwards">
			<map>
				<entry
					key="listPortlet"
					value="/km/smissive/km_smissive_main_ui/kmSmissiveMainPortlet_list.jsp" />
				<entry
					key="getlatest"
					value="/km/smissive/mobile/list.mportal.jsp" />
			</map>
		</property>
	</bean>
	
	<bean id="kmSmissiveMainPortletController" 
		class="com.landray.kmss.km.smissive.controller.KmSmissiveMainPortletController"></bean>
</beans>