<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="ldapSynchroInProviderTarget"
		class="com.landray.kmss.third.ldap.oms.in.LdapSynchroInProviderImp">
	</bean>
	<bean id="ldapSynchroInProvider" lazy-init="true"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager">
			<ref bean="transactionManager" />
		</property>
		<property name="target">
			<ref bean="ldapSynchroInProviderTarget" />
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="terminate">PROPAGATION_REQUIRED</prop>
				<prop key="*">PROPAGATION_REQUIRED,readOnly
				</prop>
			</props>
		</property>
	</bean>
	
	<bean id="ldapSynchroInIncrementProviderTarget"
		class="com.landray.kmss.third.ldap.oms.in.LdapSynchroInIncrementProviderImp">
	</bean>
	<bean id="ldapSynchroInIncrementProvider" lazy-init="true"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager">
			<ref bean="transactionManager" />
		</property>
		<property name="target">
			<ref bean="ldapSynchroInIncrementProviderTarget" />
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="terminate">PROPAGATION_REQUIRED</prop>
				<prop key="*">PROPAGATION_REQUIRED,readOnly
				</prop>
			</props>
		</property>
	</bean>

	<bean id="ldapSynchroToolkitTarget"
		class="com.landray.kmss.third.ldap.oms.in.LdapSynchroToolkitImp">
		<property name="sysOrgElementService">
			<ref bean="sysOrgElementService" />
		</property>
	</bean>

	<bean id="ldapSynchroToolkit" lazy-init="true"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager">
			<ref bean="transactionManager" />
		</property>
		<property name="target">
			<ref bean="ldapSynchroToolkitTarget" />
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="update*">PROPAGATION_REQUIRED</prop>
				<prop key="*">PROPAGATION_REQUIRED,readOnly
				</prop>
			</props>
		</property>
	</bean>

	<bean id="ldapProcessingFilter"
		class="com.landray.kmss.third.ldap.authentication.LdapAuthenticationProcessingFilter">
		<property name="autoLoginHelper">
			<ref bean="autoLoginHelper" />
		</property>
	</bean>
	<bean id="ldapPassUpdateProvider"
		class="com.landray.kmss.third.ldap.authentication.LdapPassUpdateProvider">
	</bean>
	
	<bean 
        id="synchroOrg2Ldap" 
        class="com.landray.kmss.third.ldap.oms.out.SynchroOrg2LdapImp">
        <property 
            name="sysOrgPersonService">
            <ref 
                bean="sysOrgPersonService"/>
        </property>
        <property 
            name="sysOrgElementService">
            <ref 
                bean="sysOrgElementService"/>
        </property>
        <property 
            name="sysOrgPostService">
            <ref 
                bean="sysOrgPostService"/>
        </property>
        <property 
            name="sysOrgGroupService">
            <ref 
                bean="sysOrgGroupService"/>
        </property>
    </bean>
    
</beans>
