<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean
		name="/sys/xform/massdata/sysFormMassData.do"
		class="com.landray.kmss.sys.xform.base.actions.controls.massdata.SysFormMassDataAction"
		lazy-init="true"
		parent="KmssBaseAction">
	</bean>
	
	<bean
		name="/sys/xform/massdata/sysFormMassDataUpload.do"
		class="com.landray.kmss.sys.xform.base.actions.controls.massdata.SysFormMassDataAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.xform.base.forms.controls.massdata.SysFormMassDataUploadForm" />
	</bean>
</beans>