@charset "UTF-8";

body{
	overflow : hidden;
}

.print {
	padding: 0 8px;
}

.print .print-head {
	overflow: hidden;
	height: 35px;
	line-height: 35px;
	padding: 6px 0;
}
.print-head .print-head-btn {
	position:relative;
	margin: 2px 10px 0 0;
}
.print-head-btn .head-desc{
	position: absolute;
    left: 0;
    top: 0;
}
.print-head-btn .head-btn {
	width: 90px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background: #4285f4;
	color: #fff;
	font-size: 14px;
	border-radius: 2px;
	cursor: pointer;
	transition: all 0.3s;
	
	position: absolute;
    right: 0;
    top: 0;
}

.print-head-btn .head-btn:hover {
	background: #679DF6;
}

