@charset "utf-8";

.muiCommInfoDataItem{
	background-color: #ffffff;
    box-shadow: 0 0 3rem 0 rgba(153,179,210,0.20);
    border-radius: 1rem;
    margin-top: 1.2rem;
}

.muiCommInfoDataItem .muiCommInfoHeaderContainer{
    position: relative;
    padding: 0 1rem;
    height: 4rem;
    line-height: 4rem;
}

.muiCommInfoDataItem .muiCommInfoHeaderContainer:after {
    content: " ";
    position: absolute;
    z-index: 10;
    bottom: 0;
    left: 0;
    right: 0;
    border-bottom: .1rem solid #eee;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
}

.muiCommInfoDataItem .muiCommInfoHeaderContainer>div.muiCommInfoCateTitle{
    color: var(--muiFontColorInfo);
    font-size: var(--muiFontSizeM);
    padding-right: 5.6rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.muiCommInfoDataItem .muiCommInfoHeaderContainer>div.muiCommInfoCount{
    position: absolute;
    padding: 0 .4rem;
    min-width: 2rem;
    height: 1.6rem;
    line-height: 1.7rem;
    text-align: center;
    background-color: var(--muiFontColor);
    border-radius: .8rem;
    color: #FFFFFF;
    font-size: var(--muiFontSizeXS);
    right: 1rem;
    top: 1.2rem;
}

.muiCommInfoDataItem .muiCommInfoListContainer{
	padding: 0 1rem;
}

.muiCommInfoDataItem .muiCommInfoListContainer .muiCommInfoListItem{
	display: table;
	width: 100%;
	min-height: 6rem;
}

.muiCommInfoDataItem .muiCommInfoListContainer .muiCommInfoListItem .muiCommInfoListItemLeft{
    display: table-cell;
    vertical-align: middle;
    width: 5.2rem;
}

.muiCommInfoDataItem .muiCommInfoListContainer .muiCommInfoListItem .muiCommInfoListItemLeft .muiCommInfoListItemIcon{
	width: 4rem;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    font-size: 2rem;
    background-color: #4285f4;
    color: #fff;
    overflow: hidden;
    border-radius: 50%;
}

.muiCommInfoDataItem .muiCommInfoListContainer .muiCommInfoListItem .muiCommInfoListItemRight{
    display: table-cell;
    vertical-align: middle;
    position: relative;
    padding: 1rem 0;
}
.muiCommInfoDataItem .muiCommInfoListContainer .muiCommInfoListItem:not(:last-child) .muiCommInfoListItemRight:after {
    content: " ";
    position: absolute;
    z-index: 10;
    bottom: 0;
    left: 0;
    right: 0;
    border-bottom: .1rem solid #eee;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
}

.muiCommInfoDataItem .muiCommInfoListContainer .muiCommInfoListItem .muiCommInfoListItemRight .muiCommInfoListItemRightFooter{
	margin-top: .4rem;
}

.muiCommInfoDataItem .muiCommInfoListContainer .muiCommInfoListItem .muiCommInfoListItemRight .muiCommInfoListItemRightFooter>div{
	display: inline-block;
	color: var(--muiFontColorMuted);
    font-size: var(--muiFontSizeS);	
}

.muiCommInfoDataItem .muiCommInfoListContainer .muiCommInfoListItem .muiCommInfoListItemRight .muiCommInfoListItemRightFooter>div:not(:first-child){
     margin-left: .8rem
}

.muiCommInfoDataItem .muiCommInfoListContainer .muiCommInfoListItem .muiCommInfoListItemRight .muiCommInfoListItemSubject{
    color: var(--muiFontColorInfo);
    font-size: var(--muiFontSizeM);	
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    word-wrap: break-word;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    -webkit-box-pack: start !important;
    box-pack: start !important;
    -webkit-box-align: start;
    box-align: start;
}    


.muiCommInfoDataItem .muiCommInfoListExpandButton,
.muiCommInfoDataItem .muiCommInfoListCollapseButton{
	text-align: center;
	height: 4rem;
    line-height: 4rem;
    color: #D8D8D8;
    font-size: var(--muiFontSizeMS);
}
