@CHARSET "UTF-8";

#kms_knowledge_portlet_index_cat_content_box {
    font-family: PingFangSC-Medium;
    background: #FFFFFF;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.06);
    border-radius: 4px;
    height: 321px;
    /*min-width: 400px;*/
}

#kms_knowledge_portlet_index_cat_content_box .cat_rank_title {
    padding:12px 20px;
    border-bottom: solid 1px #EEEEEE;
    height: 24px;

}

#kms_knowledge_portlet_index_cat_content_box .cat_rank_title .cat_rank_title_text{
    display: inline-block;
    font-size: 18px;
    color: #333333;
    line-height: 24px;
    font-weight: 500;
}

#kms_knowledge_portlet_index_cat_content_box .cat_rank_title .cat_rank_title_icon{
    display: inline-block;
    font-size: 12px;
    color: #FFCC5D;
    letter-spacing: 0;
    text-align: center;
    line-height: 16px;
    font-weight: 600;
    vertical-align: middle;
}

#kms_knowledge_portlet_index_cat_content_box .cat_rank_title .cat_rank_title_icon .top_icon{
    background-image: url("../images/top.svg");
    margin-right: 4px;
    margin-left: 16px;
}

#kms_knowledge_portlet_index_cat_content_box .cat_rank_chart{
    font-size: 12px;
    color: #999999;
    line-height: 14px;
    font-weight: 400;
    margin-top: 20px;
}

#kn_cat_chart .div_listSection{
    margin-left: 2% !important;
}

#kn_cat_chart .tab_listData{
    width: 96% !important;
}