@CHARSET "UTF-8";

#kms_knowledge_portlet_index_new_content_box {
    font-family: PingFangSC-Medium;
    background: #FFFFFF;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.06);
    border-radius: 4px;
    height: 348px;
    /* height: 360px; */
    overflow: hidden;
}

.clear{
    clear: both;
}

#kms_knowledge_portlet_index_new_content_box .no_data_box{
    text-align: center;
}

#kms_knowledge_portlet_index_new_content_box .no_data_box .no_data_img{
    background:url("../../../kms_knowledge_index_ui/images/default1@2x.png") ;
    height:142px;
    width:142px;
    text-align: center;
    margin: auto;
    background-size: cover;
    margin-top: 77px;
}

#kms_knowledge_portlet_index_new_content_box .no_data_box .no_data_content{
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #C3C3C3;
    line-height: 20px;
    font-weight: 400;
    margin-top:22px;
}

#kms_knowledge_portlet_index_new_content_box .new_list_title{
    padding:12px 20px;
    border-bottom: solid 1px #EEEEEE;
    height: 24px;
}

#kms_knowledge_portlet_index_new_content_box .new_list_title .new_list_title_text{
    float: left;
    font-size: 18px;
    color: #333333;
    line-height: 24px;
    font-weight: 500;
}

#kms_knowledge_portlet_index_new_content_box .new_list_title .new_list_title_more{
    float: right;
    font-size: 14px;
    color: #333333;
    line-height: 22px;
    font-weight: 400;
    cursor: pointer;
}

#kms_knowledge_portlet_index_new_content_box .new_list_title .new_list_title_more i{
    background: url(../images/more.svg) no-repeat center center;
    vertical-align: middle;
}

#kms_knowledge_portlet_index_new_content_box .new_list_content ul{
    margin-left:32px;
    margin-right: 20px;
    list-style: none;
    padding-bottom: 20px;
}

#kms_knowledge_portlet_index_new_content_box .new_list_content ul li{
    padding:4px 0;
    font-size: 14px;
    color: #333333;
    line-height: 22px;
    font-weight: 400;
    border-bottom: 1px dashed #EEEEEE;
    position: relative;
}

#kms_knowledge_portlet_index_new_content_box .new_list_content ul li:hover{
    background: #F2F2F2;
    color: #4285F4;
    cursor:pointer;
}


#kms_knowledge_portlet_index_new_content_box .new_list_content ul li::before{
    content:"";
    position:absolute;
    left: -14px;
    margin-top:6px;
    width:6px;
    height:6px;
    border-radius:8px;
    background:#dddddd;
}

#kms_knowledge_portlet_index_new_content_box .new_list_content ul li .new_list_item_subject{
    float:left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 50%;
}

#kms_knowledge_portlet_index_new_content_box .new_list_content ul li .new_list_item_info{
    float:right;
    font-size: 14px;
    color: #999999;
    line-height: 22px;
    font-weight: 400;
}


#kms_knowledge_portlet_index_new_content_box .new_list_content ul li .new_list_item_info .new_list_item_author{
    display:inline-block;
    padding-right:32px;
}

#kms_knowledge_portlet_index_new_content_box .new_list_content ul li .new_list_item_info .new_list_item_date{
    display:inline-block;
    padding-right: 8px;
}