@charset "UTF-8";
/******************** form start ****************************/
.app_form{
	background-color: #fff;
	/* height: 100%; */
	position: fixed;
	top: 10px;
	bottom: 0px;
	left: 10px;
	right: 10px;
	margin: 10px;
	background-color: #fff;
	overflow-y: scroll;
}

.app_form_head{
	height: 70px;
	line-height: 70px;
	background-color: #cccccc;
	position: fixed;
	left: 10px;
	right: 10px;
	z-index: 2;
}

.app_form_head .app_form_head_searchWrap{
	margin-right: 28px;
	position: relative;
	vertical-align: middle;
	display: inline;
	margin-left: 10px;
}

.app_form_head .app_form_head_import{
	margin-right: 5px;
	vertical-align: middle;
	text-align: right;
	position: relative;
	display: inline;
	float: right;
}

.app_form_body{
	padding-top: 60px;
}

.app_form_body .form_operation{

}

.form_operation_ul > li{
	display: inline-block;
	position: relative;
	width: 220px;
	height: 178px;
	margin: 10px 10px 10px;
	border: 1px solid #e5e5e5;
	cursor:pointer;
}

.form_popup_wrap{
	display: inline-block;
}

.form_popup_wrap .lui_iconfont_navleft_com_background:hover{
	color: #23d458;
}
.form_operation_ul > li .form_item_head{
	height: 40px;
	text-align: right;
	padding: 7px 15px 0px 0px;
}

.form_operation_ul > li .form_item_head i{
	font-size: 34px;
	color: lightblue;
}

.form_operation_ul > li .form_item_content{
	text-align: center;
	height: 88px;
}

.form_item_content .form_addIcon::before{
	content: '';
	position: absolute;
	left: 50%;
	top: 50%;
	width: 60px;
	margin-left: -30px;
	margin-top: -5px;
	border-top: 4px solid;
	border-radius: 4px;
	color:#a3d683;
}

.form_item_content .form_addIcon::after{
	content: '';
	position: absolute;
	left: 51%;
	top: 50%;
	height: 60px;
	margin-left: -5px;
	margin-top: -30px;
	border-left: 4px solid;
	border-radius: 4px;
	color: #a3d683;
}

.form_operation_ul > li .form_item_content i{
	font-size: 67px;
	color: #5bc888;
}

.form_operation_ul > li .form_item_foot{

	position: absolute;

	bottom: 0px;

	left: 0px;

	right: 0px;

	height: 50px;

	line-height: 50px;

	text-align: center;

	font-size: 20px;
}
/******************** form end ****************************/
/****空页面****/
.app_form .app_form_empty{
	position: absolute;
	top: 90px;
	left: 50%;
	margin-left: -250px;
	width: 500px;
	height: 400px;
}
.app_form_empty .app_form_empty_img div{
	width: 166px;
	height: 129px;
	margin: 0 auto;
	background: url(../images/form-empty@2x.png) no-repeat center;
	background: url(../images/form-empty.png) no-repeat center \9;
	background-size: contain;
}
.app_form_empty .app_form_empty_img p{
	font-size: 28px;
	color: #333333;
	text-align: center;
	margin: 30px 0px 40px;
	font-weight: bold;
}
.app_form_empty .model-view-panel-table .model-view-panel-table-td{
	padding-left: 16px;
}
/* .app_form_empty .tb_simple>tbody>tr>td{
  padding: 0 5px;
} */
.app_form_empty .tb_simple .inputsgl{
	height: 27px;
	border-radius: 2px;
	font-size: 12px;
}
.app_form_empty .appMenu_main_icon{
	box-shadow: none;
}
.app_form_empty .lui_custom_list_box_content_blue_btn{
	background: #4285f4;
	border-color: #4285f4;
}
.appMenu_main_cover .modeling_app_edit{
	top: 70px!important;
}
.appMenu_main_cover .modeling_app_btn_bar{
	bottom: 30px!important;
}
input::-moz-placeholder,
input::-webkit-input-placeholder,
input:-ms-input-placeholder{
	font-size: 12px;
}
.form_table_more_button {
	position: relative;
	top: 20px;
	right: 173px;
}