.model-businessTag {
  width: 500px;
  height: 700px;
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
  margin: 50px auto;
}

.model-businessTag-wrap {
  width: 100%;
}

.model-businessTag-wrap .model-businessTag-content {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  list-style: none;
  position: relative;
}

.drag:before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0px;
  top: 10px;
  background: url(../images/drag@2x.png) no-repeat;
  background: url(../images/drag.png) no-repeat \9;
  background-size: 20px;
}

.business_tr .model-edit-view-oper-head {
	padding-left: 20px;
    box-sizing: border-box;
}

.model-edit-view-oper-head-title {
	position: relative;
}

.business_tr .model-edit-view-oper-head:hover .model-edit-view-oper-head-title:before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  left: -20px;
  top: 10px;
  background: url(../images/drag@2x.png) no-repeat;
  background: url(../images/drag.png) no-repeat \9;
  background-size: 20px;
}

.model-businessTag-wrap .model-businessTag-content .model-businessTag-content-power,
.model-businessTag-wrap .model-businessTag-content .model-businessTag-content-visits {
  width: 100%;
  height: 40px;
  padding: 0 10px 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #F8F8F8;
}

.model-businessTag-wrap .model-businessTag-content .model-businessTag-content-power p,
.model-businessTag-wrap .model-businessTag-content .model-businessTag-content-visits p {
  display: inline-block;
  line-height: 40px;
  margin: 0;
  font-size: 14px;
  color: #333333;
  letter-spacing: 0;
  margin-right: 5px;
}

.model-businessTag-wrap .model-businessTag-content .model-businessTag-content-power .content-power-left span,
.model-businessTag-wrap .model-businessTag-content .model-businessTag-content-visits .content-visits-left span {
  vertical-align: middle;
  display: inline-block;
  width: 40px;
  height: 18px;
  line-height: 18px;
  border: 1px solid rgba(66, 133, 244, 0.5);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7fffffff, endColorstr=#7fffffff);
  border-radius: 9px;
  font-size: 12px;
  color: #4285F4;
  letter-spacing: 0;
  text-align: center;
}
.model-businessTag-wrap .model-businessTag-content .model-businessTag-content-power .lui-component ,
.model-businessTag-wrap .model-businessTag-content .model-businessTag-content-visits .lui-component{
	margin-left:4px;
}

.model-businessTag-wrap .model-businessTag-content .model-businessTag-content-power .content-power-left,
.model-businessTag-wrap .model-businessTag-content .model-businessTag-content-power .content-visits-left,
.model-businessTag-wrap .model-businessTag-content .model-businessTag-content-visits .content-power-left,
.model-businessTag-wrap .model-businessTag-content .model-businessTag-content-visits .content-visits-left {
  float: left;
}

.model-businessTag-wrap .model-businessTag-content .model-businessTag-content-power .content-power-right,
.model-businessTag-wrap .model-businessTag-content .model-businessTag-content-power .content-visits-right,
.model-businessTag-wrap .model-businessTag-content .model-businessTag-content-visits .content-power-right,
.model-businessTag-wrap .model-businessTag-content .model-businessTag-content-visits .content-visits-right {
  float: right;
}

.model-businessTag-wrap .model-businessTag-content .model-businessTag-content-power .content-power-right div,
.model-businessTag-wrap .model-businessTag-content .model-businessTag-content-power .content-visits-right div,
.model-businessTag-wrap .model-businessTag-content .model-businessTag-content-visits .content-power-right div,
.model-businessTag-wrap .model-businessTag-content .model-businessTag-content-visits .content-visits-right div {
  display: inline-block;
  font-size: 14px;
  color: #333333;
  line-height: 40px;
}

.model-businessTag-wrap .model-businessTag-content .model-businessTag-content-add {
  height: 300px;
  border: 1px solid #f0f0f0;
  margin-bottom: 20px;
  padding: 10px;
}

.model-businessTag-wrap .model-businessTag-add {
  margin: 0 20px;
  height: 30px;
  border: 1px dashed #CCCCCC;
  border-radius: 2px;
  font-size: 12px;
  line-height: 30px;
  color: #999999;
  text-align: center;
}

.model-businessTag-wrap .model-businessTag-add:before {
  content: '';
  display: inline-block;
  width: 14px;
  height: 14px;
  vertical-align: middle;
  margin-top: -2px;
  margin-right: 10px;
  background: url(../img/businessTag/icon_add.svg);
  background-size: 14px;
}


.business_tr .view_flag_no {
	margin-right:8px;
	line-height: 30px;
	vertical-align: middle;
}

.business_tr .view_flag_last {
	margin-left: 30px;
}

.business_tr .item-content-element-choose {
	width: 95%;
	box-sizing: border-box;
}

.business_tr .inputsgl {
	box-sizing: border-box;
}
.tab-select{
  display: contents;
}
.model-edit-view-oper-content-item .tab-select{
  display: inline-block;
  width: 96%;
}

.inc-param-field{
  display: inline-block;
  width: 136px;
  height: 30px;
  background: #F5F6F7;
  border: 1px solid #EEEEEE;
  border-radius: 2px;
  font-family: PingFangSC-Regular;
  font-size: 12px;
  color: #333333;
  line-height: 30px;
  font-weight: 400;
}
.inc-param-select{
  width: 136px;
  height: 30px;
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  border-radius: 2px;
}