body {
    overflow: hidden;
}
html,body{
    height: 100%;
}
.modeling-pam-top{
    width: 100%;
    position: absolute;
    top: 0px;
    height: 50px;
    padding: 0px 0 17px 0;
    background-color: #FFFFFF ;
    margin-top: 10px;
    text-align: center;
}
.modeling-pam-back{
    width: 60px;
    height: 30px;
    background: rgba(66,133,244,0.08);
    border-radius: 2px;
    float: left;
}
.modeling-pam-back > div {
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
}
.modeling-pam-back > div i {
    float: left;
    width: 14px;
    height: 14px;
    margin-top: 8px;
    background: url(../images/qian.png) no-repeat center;
    background-size: contain;
    margin-right: 6px;
}
.modeling-pam-back > div p {
    float: left;
    margin-top: 6px;
    margin-right: 6px;
    width: 24px;
    height: 17px;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #4285F4;
    letter-spacing: 0;
    font-weight: 400;
}
.modeling-pam-top-center {
    width: 195px;
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    text-align: center;
    display: inline-block;
}
.modeling-pam-top ul {
    list-style: none;
}
.modeling-pam-top-center ul li.active {
    width: 86px;
    height: 30px;
    background: #4285F4;
    border: 1px solid #4285F4;
    border-radius: 2px;
    color:#ffffff;
}
.modeling-pam-top-center ul li {
    float: left;
    margin-right: 32px;
}
.modeling-pam-top ul li {
    cursor: pointer;
}
.modeling-pam-top-right {
    padding-right: 23px;
    float: right;
    box-sizing: border-box;
}
.modeling-pam-top-right ul li.active {
    background: #4285F4;
    border-radius: 2px;
    color: #FFFFFF;
}
.modeling-pam-top-right ul li {
    float: right;
    margin-left: 10px;
    background: #FFFFFF;
    /*border: 1px solid #DDDDDD;*/
    border-radius: 2px;
    padding: 0 7px;
    min-width: 90px;
    text-align: center;
    padding: 5px;
}

.fdViewFlag:first-child {
    margin-left: 0;
}

.lui_custom_list_boxs {
    border-top: 1px solid #d5d5d5;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    z-index: 1000;
    height: 63px;
}

table.model-view-panel-table > tbody > tr > td.td_normal_title {
    text-align: left;
    padding: 4px 20px 4px 20px;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: -13px;
    margin-top: -8px;
}

.model-view-panel-table .model-view-panel-table-td {
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-bottom: 10px !important;
}

.inputselectsgl input {
    padding-left: 8px !important;
}

.model-edit-view-oper-content-item div.operation > div.inputselectsgl {
    height: 28px !important;
}

.model-edit-view-oper-content-item div.operation > div.inputselectsgl input {
    height: 28px !important;
}

.liHidden {
    display: none;
}

.modeling-pam-preview {
    width: 70%;
    height: 100%;
    overflow: hidden;
    float: left;
    position: relative;
    padding-top: 10px;
    padding-right: 20px;
    box-sizing: border-box;
}

.modeling-pam-nav {
    margin-top: 10px;
}

.terminal {
    width: 86px;
    height: 30px;
    background: #4285F4;
    border: 1px solid #4285F4;
    border-radius: 2002px;
}

.listviewName {
    height: 25px;
    font-family: PingFangSC-Medium;
    font-size: 18px;
    color: #333333;
    font-weight: 500;
    float: left;
    padding-left: 16px;
    margin-top: 2px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}

.modeling-pam-top-save {
    padding-right: 23px;
    float: right;
}

.model-edit-view-title ul li{
    width: 50%;
    display: inline-block;
    text-align: center;
    height: 40px;
    line-height: 40px;
    box-sizing: border-box;
    cursor: pointer;
    background-color: #F8F8F8;
    border-bottom: 1px solid #DDDDDD;
    box-sizing: border-box;
}
.model-edit-view-title ul li>span{
    display:inline-block;
    height: 40px;
    line-height: 40px;
    box-sizing: border-box;
    border-bottom: 2px solid transparent;
}
.model-edit-view-title ul li.active>span{
    color: #4285F4;
    border-bottom: 2px solid #4285F4;
}
.setting {
    list-style: none;
    float: left;
}

li {
    list-style: none;
}

@media (-webkit-min-device-pixel-ratio: 1.5) {
    .tb_simple .inputselectsgl {
        border: 1.5px solid #dfdfdf;
    }

    .model-edit-right .inputselectsgl.active {
        border: 1.5px solid #4285f4;
    }

    .model-edit-view-oper {
        border: 1.5px solid #DFE3E9;
    }

    .model-edit-view-oper.active {
        border: 1.5px solid #4285f4;
    }
}
/**å†…å®¹åŒº**/
.modeling-pam-content{
    margin-top: 30px;
}
/**åŸºç¡€è®¾ç½®**/
.model-edit-view-content-common-name{
    width: 100%;
}
.common_title{
    display: inline-block;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #333333;
    width: 20%;
    font-weight: 600;
    height: 35px;
    line-height: 40px;
    padding: 0 12px;
}
.name-content {
    height: auto;
    min-height: 30px;
    margin: 10px 20px;
}
.name-content-text{
    border: 1px solid #DFE3E9;
    height: 30px;
    padding:0 6px;
    box-sizing: border-box;
    border-radius: 2px;
}
.type-content{
    border: 1px solid #DFE3E9;
    height: 30px;
    margin: 10px 20px 0px 20px;
    width: 91%;
    box-sizing: border-box;
}
.type-selectBoxs{
    border: 1px solid #DFE3E9;
    margin: 0px 20px;
    width: 91%;
    position: absolute;
    background-color: #ffffff;
    z-index: 99999;
}
.type-selectBoxs ul li{
    width: 100%;
    font-size: 12px;
    color: #666;
    line-height: 30px;
    padding: 0 8px;
    box-sizing: border-box;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.type-selectBoxs ul li.active{
    color: #4285f4;
    background: rgba(66,133,244,0.10);
}
.common-auth-type{
    /* float: right; */
    /* height: 40px; */
    /* line-height: 40px; */
    padding: 0 20px;
}
.model-data-create {
    border: 1px dashed #CCCCCC;
    border-radius: 2px;
    text-align: center;
    height: 28px;
    line-height: 28px;
    cursor: pointer;
    margin: 10px 20px;
}
#fdOrgElementTr{
    margin-top: 20px;
}
.common-auth-type ul li{
    flex: 1;
    width: 50%;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
}
.common-auth-type ul li.active{
    background-color: #FFFFFF;
    color: #4285F4;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.1);
    border-radius: 1px;
}
.auth-type-title{
    display: inline-block;
}
.common-data-filter{
    display: inline-block;
}
.common-data-filter{
    width: 100%;
}
.common-data-filter-value{
    display: inline-block;
}
.model-data-create{
    border: 1px dashed #CCCCCC;
    border-radius: 2px;
    text-align: center;
    height: 28px;
    line-height: 28px;
    cursor: pointer;
    margin:10px 20px;
}
.model-panel-child-table-create div, .model-data-create div {
    display: inline-block;
    padding-left: 20px;
    background: url(../images/table-create.png) no-repeat left;
    background-size: 14px;
}
.data-filter-content .where-block-table{
    width: 91%;
    margin:10px 20px;
}
.data-filter-content-sys .where-block-table{
    width: 91%;
    margin:10px 20px;
}

.common-statistics-title {
    display: inline-block;
}

.common-statistics-title p {
    width: 42px;
    height: 20px;
    font-family: PingFangSC-Medium;
    font-size: 14px;
    color: #333333;
    letter-spacing: -0.16px;
    font-weight: 700;
}

.common-statistics-add {
    display: inline-block;
    float: right;
    margin: 10px 32px;
    height: 14px;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #4285F4;
    letter-spacing: 0;
    text-align: center;
    line-height: 14px;
    font-weight: 400;
}
.model-edit-right-wrap .model-edit-view-title {
    padding: 0;
    height: 40px;
    border-bottom: 0;
}
.type-container-text{
    line-height: 30px;
    font-size: 12px;
    padding:0 6px;
}
.inputselectsgl .orgelement, .inputselectmul .orgelement{
    background-color: #FCFCFC;
    /* background: url(../images/views/modeling-drop.png) no-repeat center; */
}
.inputselectsgl .selectitem, .inputselectmul .selectitem{
    background: url(../images/choose@2x.png) no-repeat center;
    background-size: 14px 14px;
}
.inputselectsgl .orgelement, .inputselectmul .orgelement{
    width: 30px;
}
.selectedItem{
    display:flex;
    display: -webkit-flex;
    align-items:center;
    height: 28px;
    padding-left: 8px;
    position: relative;
}
.selectedItem>label{
    font-size: 14px;
    /*color: #333333;*/
    box-sizing: border-box;
    padding: 0px 30px 0px 8px;
    background: #F5F6F7;
    border: 1px solid #EEEEEE;
    border-radius: 2px;
    height: 22px;
    line-height: 22px;
    margin-right: 4px;
    position: relative;
    cursor: pointer;
    word-break: keep-all;
    white-space: nowrap;
}
.selectedItem>label>i,.dropDownSelectField>i{
    content: '';
    position: absolute;
    right: 6px;
    top: 2px;
    width: 18px;
    height: 18px;
    background: url(../images/views/modeling-close.png) no-repeat center;
    background-size: 9px 9px;
}
.model-data-create.model-data-operate,.model-data-create.model-data-order,.model_select_selected{
    cursor: pointer;
    color: #4285F4;
    position: relative;
    float: right;
    margin: 0;
    border: 0;
    line-height: normal;
}
.model-data-create.model-data-operate::before,.model-data-create.model-data-order::before,.model_select_selected::before{
    content: '';
    position: absolute;
    left: -18px;
    top: 3px;
    width: 14px;
    height: 14px;
    background: url(../images/views/modeling-add.png) no-repeat center;
    background-size: contain;
}
.model-edit-view-oper{
    background-color: #FFFFFF;
    border: 1px solid #EEEEEE;
    border-radius: 2px;
    display: inline-block;
}
.model-edit-view-oper-head{
    height: 35px;
}
.model-edit-view-oper-head-title{
    float: none;
    line-height:35px;
}
.model-edit-view-oper-head-title i.open{
    top:12px;
}
.model-edit-view-oper-head-title>div{
    display: inline-flex;
    height: 35px;
    line-height: 35px;
}
.model-edit-view-oper-head-item{
    height: 35px;
    line-height: 35px;
    margin-bottom: 0;
}
.model-edit-view-oper-head-item .sortableIcon.hide{
    display: none;
}
.model-edit-view-oper-head-item div{
    display: inline-flex;
    height: 35px;
    line-height: 35px;
    margin-right: 12px;
}
.model-edit-view-oper-head-item div.del i{
    background: url(../images/views/modeling-delete.png) no-repeat center;
    top:10px;
}
.model-edit-view-oper-head-item div.del:hover i {
    background: url(../images/views/modeling-delete-hover.png) no-repeat center;
    top:10px;
}
.model-edit-view-oper-content>ul li div.item-title{
    text-align: left;
    padding: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    color: #333333;
}
.model-edit-view-oper-content>ul li div.item-content{
    padding: 0;
    box-sizing: border-box;
}
.model-edit-view-oper-content{
    padding: 6px 16px 12px 16px;
    overflow: inherit;
}
.model-edit-view-oper-content>ul li{
    height:auto;
    margin: 12px 0;
}
.tb_simple .inputsgl.selectCover{
    width: 100%;
}
.tb_simple .inputsgl{
    color: #333;
    box-sizing: border-box;
}
.tb_simple .inputsgl.selectCover{
    height: 30px !important;
    box-sizing: border-box;
}
div.sortableIcon>i{
    background: url(../images/views/modeling-drop.png) no-repeat center;
    top: 11px;
}
.inputselectsgl div.input{
    overflow: visible;
}
.dropDownSelectWrap>label{
    display: block;
    box-sizing: border-box;
    height:30px;
    line-height: 30px;
    padding:0 8px;
}
.select_view{
    width: 100%;
    position: absolute;
    z-index: 2;
    top: 30px;
    left: 0;
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.15);
    max-height: 180px;
    overflow-y: auto;
}

.select_view .select_content_view{
    /* position: absolute; */
    left:16px;
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.15);
    border-radius: 0 0 2px 2px;
    border-radius: 0px 0px 2px 2px;
    z-index:9999;
    width: 100%;
    box-sizing: border-box;
}
.select_result_view .status_hover{
    background: #ECF2FD;
}
ul {
    list-style:none;
}
.panel-main .panel-main-right{
    top:40px;
}
.panel-main .panel-main-left{
    overflow-y: auto;
}
.select_search_view{
    border-bottom: 1px solid #eee;
    position: relative;
}
.select_search_view>input{
    padding-left: 28px !important;
    height: 38px !important;
    border:0;
    width: 100%;
    box-sizing: border-box;
}
.select_search_view::after{
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    background: url(../images/index-search@2x.png) no-repeat center;
    background-size: 14px 14px;
    top: 10px;
    left: 6px;
}
.select_result_view>li{
    font-size: 12px;
    padding: 0 7px;
    height: 30px;
    line-height: 30px;
    position: relative;
}
.select_result_view>li:hover{
    color: #4285F4;
    background-color: rgba(66,133,244,0.10);
}
.showSelect::before{
    content: "";
    position: absolute;
    z-index: 9;
    top: 14px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
}
.hide{
    display: none;
}
.common-auth-type.common-data-filter-whereType{
    margin: 5px 0;
}
.common-auth-type.common-data-filter-whereType>ul{
    display: flex;
    background-color: #F2F2F2;
    border-radius: 2px;
    padding: 2px;
}
.common-data-filter-value,.common-data-filter-type{
    padding:0 20px;
}
.view_flag_no{
    width:14px;
    height:14px;
    background: url("../images/panel/icon-radio.png") no-repeat center;
    display: inline-block;
    cursor: pointer;
    position: relative;
    top:2px;
}
.view_flag_yes{
    width:14px;
    height:14px;
    background: url("../images/panel/icon-radio-active.png") no-repeat center;
    display: inline-block;
    cursor: pointer;
    position: relative;
    top:2px;
}
.view_flag_last{
    margin-left:20px;
}
/* ç§»åŠ¨ç«¯ */
.model-mask-panel-table-select {
    display: block;
    border: 1px solid #DFE3E9;
    border-radius: 2px;
    height: 30px;
    cursor: pointer;
    position: relative;
    margin-left: 20px;
}
.model-mask-panel-table-select.active:before {
    border-bottom: 6px solid #999999;
    border-top: 0px;
    top: 40%;
}
.model-mask-panel-table-select:before {
    right: 12px;
}
.model-mask-panel-table-select p {
    float: left;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    color: #333333;
    margin: 0 4px;
}
.model-mask-panel-table-com .model-mask-panel-table-select {
    position: absolute;
    margin-left: 10%;
    width: 90%;
}
.model-mask-panel-table-select.active .model-mask-panel-table-option {
    display: block;
}
.model-mask-panel-table-select .model-mask-panel-table-option {
    display: none;
    position: absolute;
    top: 30px;
    width: 100%;
    background-color: #FFFFFF;
    z-index: 10;
    outline: 1px solid #DFE3E9;
    max-height: 160px;
    overflow-x: hidden;
    overflow-y: scroll;
}
.model-mask-panel-table-select .model-mask-panel-table-option div {
    height: 30px;
    width: 100%;
    line-height: 30px;
    font-size: 12px;
    color: #333333;
    padding-left: 4px;
}
.model-mask-panel-table-select .model-mask-panel-table-option div:hover{
    color: #4285F4;
}

.model-data-create.model-data-operate,.model-data-create.model-data-statistics,.model_select_selected{
    cursor: pointer;
    color: #4285F4;
    position: relative;
    float: right;
    margin: 0;
    border: 0;
    line-height: normal;
}
.model-data-create.model-data-operate::before,.model-data-create.model-data-statistics::before,.model_select_selected::before,.footStatistics_create_has::before{
    content: '';
    position: absolute;
    left: -18px;
    top: 3px;
    width: 14px;
    height: 14px;
    background: url(../images/views/modeling-add.png) no-repeat center;
    background-size: contain;
}

.footStatistics_create_none::before{
    content: '';
    position: absolute;
    left: -17px;
    top: 3px;
    width: 11px;
    height: 11px;
    background: url(../images/icon-add@2x.png) no-repeat center;
    background-size: contain;
}


.name_input {
    width: 100%;
}

.length_show_left {
    height: 17px;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #666666;
    text-align: right;
    line-height: 17px;
    font-weight: 400;

    position: relative;
    float: right;
    top: -32px;
}

.length_show_right {
    width: 14px;
    height: 17px;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #C3C3C3;
    text-align: left;
    line-height: 17px;
    font-weight: 400;

    position: relative;
    float: right;
    top: -32px;
}

.length_show_left_red {
    color: #F25643;
}

.statistics_rule_button {
    width: 100%;
    border: 0px;
    height: 30px;
    background: #4285F4;
    border-radius: 2px;
    padding: 0px;

    text-align: center;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #FFFFFF;
    font-weight: 400;
    text-align: center;
}

.statistics_rule_button i{
    display: inline-block;
    width: 14px;
    height: 14px;
    position: relative;
    top: 2px;
    margin-right: 4px;
    background: url(../images/views/modeling-setting-white.png) no-repeat center;
    background-size: contain;

}

.statistics_rule_button p{
    width: 24px;
    height: 17px;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #FFFFFF;
    font-weight: 400;
    text-align: center;
}

.model-data-create .statistics_field_item {
    position: absolute;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 2;
    width: 124px;
    float: right;
    font-size: 14px;
    padding: 0;
    right: 0px;
    top: 20px;
    transition: all 0.3s ease;
    background: white;
}

.statistics_field_item ul{

}

.statistics_field_item li{
    height: 14px;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #333333;
    line-height: 14px;
    font-weight: 400;
    padding: 8px;
    white-space:nowrap;
    width:96px;
    overflow:hidden;
    text-overflow: ellipsis;
}

.statistics_field_item li:hover{
    background: #F8F8F8;
}

.td_normal_title_statistics {
}

.td_normal_title_statistics.active{
    border: 1px solid #4285f4;
}

.open_rule_setting {
    width: 540px;
    max-height: 420px;
    position: fixed;
    z-index: 10;
    background: #FFFFFF;
    box-shadow: 2px 2px 10px 0 rgba(0,0,0,0.1);

    overflow-y: auto;
    overflow-x: hidden;
}
.open_rule_setting::-webkit-scrollbar{
    display:none;
}
.open_rule_setting_to_right {
    width: 0;
    height: 0;
    border-left: 8px solid #fff;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    position: fixed;
    z-index: 4;
    box-shadow: 4px 4px 10px 0 rgba(0,0,0,0);
}

.open_rule_setting .open_rule_setting_title {
    width: 540px;
    height: 50px;
    line-height: 50px;
    font-family: PingFangSC-Medium;
    font-size: 16px;
    color: #333333;
    letter-spacing: 0;
    font-weight: 550;
    text-indent: 16px;
    text-align: left;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.open_rule_setting .open_rule_setting_where_type {
    width: 540px;
    height: 40px;
    background: #F6F7FA;
    line-height: 40px;
}

.open_rule_setting .open_rule_setting_where_type .open_rule_setting_where_type_left {
    font-family: PingFangSC-Medium;
    font-size: 14px;
    color: #333333;
    letter-spacing: 0;
    text-align: right;
    line-height: 40px;
    font-weight: 550;
    float: left;
    padding-left: 16px;
}

.open_rule_setting .open_rule_setting_where_type .open_rule_setting_where_type_select {
    width: 60px;
    height: 40px;
    border-radius: 2px;
    float: left;
    padding: 0 4px;
}

.open_rule_setting .open_rule_setting_where_type .open_rule_setting_where_type_right {
    width: 28px;
    height: 14px;
    font-family: PingFangSC-Medium;
    font-size: 14px;
    color: #333333;
    letter-spacing: 0;
    text-align: right;
    line-height: 40px;
    font-weight: 550;
    float: left;
}

.open_rule_setting .open_rule_setting_where_content {
    /*overflow-y: auto;*/
    /*overflow-x: hidden;*/
    /*max-height: 120px;*/
}

.open_rule_setting .open_rule_setting_where_content .open_rule_setting_where_rule {
    width: 540px;
    height: 30px;
    /*display: inline-block;*/
}

.open_rule_setting .open_rule_setting_where_content .open_rule_setting_where_rule_field {
    float: left;
    width: 150px;
}

.open_rule_setting .open_rule_setting_where_content .open_rule_setting_where_rule_field select{
    width: 134px;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 2px;
    margin: 8px 0 0 16px;
}

.open_rule_setting .open_rule_setting_where_content .open_rule_setting_where_rule_field select>option{
    width: 134px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.open_rule_setting .open_rule_setting_where_content .open_rule_setting_where_rule_field_operator {
    float: left;
}

.open_rule_setting .open_rule_setting_where_content .open_rule_setting_where_rule_field_operator select{
    width: 86px;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 2px;
    margin: 8px 0 8px 4px;
}

.open_rule_setting .open_rule_setting_where_content .open_rule_setting_where_rule_field_value_type {
    float: left;
}

.open_rule_setting .open_rule_setting_where_content .open_rule_setting_where_rule_field_value_type select{
    width: 86px;
    background: #fafafa;
    border: 1px solid #DDDDDD;
    border-radius: 2px;
    margin: 8px 0 8px 4px;
}

.open_rule_setting .open_rule_setting_where_content .open_rule_setting_where_rule_field_value {
    float: left;
    width: 160px;

}

.open_rule_setting .open_rule_setting_where_content .open_rule_setting_where_rule_field_value>input{
    padding-left: 0;
    border: 1px solid #DDDDDD;
    border-radius: 2px;
    margin: 8px 0 8px 0;
}

.open_rule_setting .open_rule_setting_where_content .open_rule_setting_where_rule_field_value .enum_div{
    line-height: 30px;
    padding: 8px 0 8px 8px;
    float: left;
    display: inline-block;
}

.open_rule_setting .open_rule_setting_where_content .open_rule_setting_where_rule_del {
    display: inline-block;
    padding-top: 12px;
    padding-right: 16px;
    float: right;
}

.open_rule_setting .open_rule_setting_where_content .open_rule_setting_where_rule_del i{
    display: inline-block;
    background: url(../images/views/modeling-delete.png) no-repeat center;
    width: 16px;
    height: 16px;
    background-size: 16px 16px;
}

.open_rule_setting .open_rule_setting_where_content .open_rule_setting_where_rule_del i:hover  {
    display: inline-block;
    background: url(../images/views/modeling-delete-hover.png) no-repeat center;
    width: 16px;
    height: 16px;
    background-size: 16px 16px;
}

.open_rule_setting .open_rule_setting_where_create{
    float: left;
    display: inline-block;
    padding-left: 34px;
    padding-bottom: 8px;
    padding-top: 8px;
}

.open_rule_setting .open_rule_setting_where_create span{
    cursor: pointer;
    color: #4285F4;
    position: relative;
    float: right;
    margin: 0;
    border: 0;
    line-height: normal;
}

.open_rule_setting .open_rule_setting_where_create span:before{
    content: '';
    position: absolute;
    left: -18px;
    top: 3px;
    width: 14px;
    height: 14px;
    background: url(../images/views/modeling-add.png) no-repeat center;
    background-size: contain;
}

.open_rule_setting .open_rule_setting_action_title{
    width: 540px;
    height: 40px;
    background: #F6F7FA;

    font-family: PingFangSC-Medium;
    font-size: 14px;
    color: #333333;
    letter-spacing: 0;
    line-height: 40px;
    font-weight: 500;
    text-align: left;
    display: inline-block;
    text-indent: 16px;
}

.open_rule_setting .open_rule_setting_action_type{
    height: 40px;
    background: #FFFFFF;
    border-radius: 2px;
    padding: 8px 16px;
}

.open_rule_setting .open_rule_setting_action_type .open_rule_setting_action_type_select{
    width: 324px;
    float: left;
}


.open_rule_setting .open_rule_setting_foot_button{
    width: 540px;
    display: inline-block;
    height: 50px;
    border-top: 1px solid #dddddd;
    background: #ffffff;
    float: left;

}

.open_rule_setting .open_rule_setting_foot_button .open_rule_setting_foot_button_sure{
    width: 70px;
    height: 24px;
    background: #4285F4;
    border-radius: 2px;

    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #FFFFFF;
    text-align: center;
    line-height: 24px;
    font-weight: 400;
    display: inline-block;
    right: 0;
    position: absolute;
    margin-top: 12px;
    margin-right: 112px;
}

.open_rule_setting .open_rule_setting_foot_button .open_rule_setting_foot_button_cancel{
    width: 70px;
    height: 24px;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 2px;

    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #333333;
    text-align: center;
    line-height: 24px;
    font-weight: 400;
    display: inline-block;
    right: 0;
    position: absolute;
    margin: 12px 18px;
}

.open_rule_setting .open_rule_setting_show_title{
    width: 540px;
    height: 40px;
    background: #F6F7FA;

    font-family: PingFangSC-Medium;
    font-size: 14px;
    color: #333333;
    letter-spacing: 0;
    line-height: 40px;
    font-weight: 500;
    text-align: left;
    display: inline-block;
    text-indent: 16px;
}

.open_rule_setting .open_rule_setting_show_preview {
    /*border: 2px dashed #DDDDDD; */
}
.open_rule_setting_show_content{
    margin: 16px;
    border: 1px solid #DDDDDD;
    border-radius: 2px;
}
.open_rule_setting_show_preview_content{
    font-family: DINAlternate-Bold,landray-number,"PingFang SC", "Lantinghei SC", "Helvetica Neue", Arial, "Microsoft YaHei", "WenQuanYi Micro Hei", "Heiti SC", "Segoe UI", sans-serif;
}
.displaycss_create_pop {
    position:absolute;
    right: 0;
    top: 20px;
    background: #FFFFFF;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.15);
    border-radius: 0 0 2px 2px;
    z-index: 1;
    width: 124px;
    height: 0;
    border: 0;
    transition: all 0.3s ease;
    overflow: hidden;
}

.displaycss_create_pop:hover {
    height: 150px;
    border: 1px solid #ddd;
}
.displaycss_create_pop ul {
    list-style: none;
    width: 124px;
    height: 150px;
    overflow-y: scroll;
}

.displaycss_create_pop ul li {
    width: 100%;
    font-size: 12px;
    color: #666;
    line-height: 30px;
    padding: 0 8px;
    box-sizing: border-box;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.displaycss_create_pop ul li.active {
    color: #4285f4;
    background: rgba(66,133,244,0.10);
}
/* 0525 */
.model-body-content-wrap{
    position: relative;
    background-color: #E8ECEF;
}
.model-import-pc{
    position: absolute;
    top: 10px;
    right: 20px;
    padding:10px 20px;
    cursor: pointer;
}
.model-import-pc>.model-import-pc-icon{
    width:14px;
    height:14px;
    background: url(../images/views/modeling-export.png) no-repeat center;
    background-size:contain;
    position: relative;
    top:2px;
    float: left;
    margin-right: 4px;
}
.model-import-pc>.model-import-pc-text{
    display: inline-block;
    color:#4285f4;
}
.model-import-pc-tip{
    width: 360px;
    z-index: 99;
    padding: 30px;
    position: absolute;
    background-color: #fff;
    box-shadow: 2px 2px 10px 0 rgb(0 0 0 / 10%);
    left: 50%;
    top: 40px;
    transform: translateX(-50%);
    cursor: default;
    display: none;
}
.model-import-pc-tip.active{
    display: block;
}
.model-import-pc-tip::before{
    content: "";
    position: absolute;
    z-index: 100;
    top: -16px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
}
.model-edit-left{
    overflow:visible;
}
#view_preview{
    overflow: auto;
    height: 550px;
}
#view_preview_mobile{
    overflow: auto;
    overflow-x: hidden;
    height: 550px;
    background-color: #E8ECEF;
}
.model-import-pc-bottom{
    text-align:right;
    margin-top:30px;
    font-size:0;
}
.model-import-pc-bottom>div{
    display:inline-block;
    font-size: 14px;
    color: #333333;
    padding: 0 30px;
    height: 30px;
    line-height: 30px;
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 2px;
    margin-left:20px;
    cursor: pointer;
}
.model-import-pc-bottom>.model-import-pc-btn-ok{
    color: #FFF;
    background-color: #4285F4;
    border: 1px solid #4285F4;
}
.tb_simple.model-view-panel-table{
    margin-bottom: 80px;
}
.inputselectmul div.mf_container ol.mf_list>li.mf_item{
    font-size: 14px;
    color: #666;
    box-sizing: border-box;
    padding: 0 10px 0 8px;
    background: #F5F6F7;
    border: 1px solid #EEEEEE;
    border-radius: 2px;
    height: 22px;
    line-height: 22px;
    margin-right: 4px;
    position: relative;
    cursor: pointer;
    word-break: keep-all;
}
.inputselectmul div.mf_container ol.mf_list li.mf_item.mf_highlighted{
    color: #666;
    background-color: #EEEEEE;
}
.inputselectmul div.mf_container ol.mf_list li.mf_item.mf_selected a.mf_remove,.inputselectmul div.mf_container ol.mf_list li.mf_item.mf_highlighted a.mf_remove {
    visibility: visible;
    color: #666 !important;
}
div.mf_container ol.mf_list li.mf_item a.mf_remove{
    margin-left: 4px !important;
}
.modeling-pam-top-center>ul>li{
    float: left;
    width: 86px;
    height:30px;
    margin-right: 0;
    font-size:0;
}
.modeling-pam-top-center>ul>li[value="pc"]{
    background: url(../images/views/modeling-pc.png) no-repeat center;
    background-size: 20px 20px;
    border-radius: 2px 0 0 2px;
    border: 1px solid #DDDDDD;
}
.modeling-pam-top-center>ul>li[value="pc"].active{
    background: url(../images/views/modeling-pc-selected.png) no-repeat center;
    background-size: 20px 20px;
    background-color: #4285f4;
    border: 1px solid #4285f4;
}
.modeling-pam-top-center>ul>li[value="mobile"]{
    background: url(../images/views/modeling-phone.png) no-repeat center;
    background-size: 20px 20px;
    border-radius: 0 2px 2px 0;
    border: 1px solid #DDDDDD;
}
.modeling-pam-top-center>ul>li[value="mobile"].active{
    background: url(../images/views/modeling-phone-selected.png) no-repeat center;
    background-size: 20px 20px;
    background-color: #4285f4;
    border: 1px solid #4285f4;
}
.tb_simple>tbody>tr>td.displayCss{
    padding: 5px 20px;
}
.tb_simple>tbody>tr>td.displayCss .displayItemName{
    height: 40px;
    font-size: 12px;
    color: #333333;
    line-height: 16px;
}
.display-whereType-title{
    font-size: 14px;
    height:40px;
    line-height: 40px;
}
.display-whereType-title>span{
    color: #666666;
}
.display-whereType-title>.displayWhereType{
    color: #333;
}
.display-css-content{
    height: 40px;
    line-height: 40px;
    border: 1px solid #eee;
    width: 80%;
    display: inline-block;
    font-size: 0;
    overflow: hidden;
    vertical-align: middle;
}
.display-css-content>.fieldItem{
    display: inline-block;
    background-color: rgb(255, 255, 255);
    vertical-align: top;
}
.display-css-content .fieldItem .fieldItem-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}
.display-css-content .fieldItem .fieldItem-box>div {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.display-css-content .fieldItem, .display-css-content .otherItem {
    width: 50%;
    padding-left: 10px;
    box-sizing: border-box;
}
.display-css-content .otherItem .otherField {
    display: inline-block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.model-edit-view-oper-head-item div.update i {
    background: url(../images/views/modeling-edit.png) no-repeat center;
    background-size:16px 16px !important;
    top: 10px;
    width: 16px;

}
.model-edit-view-oper-head-item div.update i:hover {
    background: url(../images/views/modeling-edit-hover.png) no-repeat center;
    background-size:16px 16px !important;
    top: 10px;
    width: 16px;
}
.data-filter-pc-title{
    width: 92%;
    border: 1px solid #F2F2F2;
    margin: 2px 20px;
    background-color: #F2F2F2;
    text-align: center;
    min-height: 28px;
    font-weight: 400;
}
.data-filter-pc-title{
    width: 92%;
    border: 1px solid #F2F2F2;
    margin: 2px 20px;
    background-color: #F2F2F2;
    text-align: center;
    min-height: 28px;
    font-weight: 400;
}
.auth-type-title{
    width: 90%;
    border: 1px solid #F2F2F2;
    margin: 2px 20px;
    background-color: #F2F2F2;
    text-align: center;
    min-height: 28px;
    font-weight: 400;
}
.auth-type-pc-title{
    width: 90%;
    border: 1px solid #F2F2F2;
    margin: 2px 20px;
    background-color: #F2F2F2;
    text-align: center;
    min-height: 28px;
    font-weight: 400;
}
.common-auth-reader{
    display: inline-block;
    margin-right: 0px;
    float: right;
}
.common-auth-reader > input{
    margin-left: 46px;
}
.common-data-filter-value{
    display: inline-block;
    margin-right: 20px;
    float: right;
}
.common-data-filter-value > input{
    margin-left: 46px;
}
.modeling-pam-back{
    margin-left: 21px;
}
/*.inputselectsgl .orgelement, .inputselectmul .orgelement{
    background: url(../images/views/modeling-select-staff.png) no-repeat center;
    background-size:16px 16px;
}
.inputselectsgl .orgelement:hover, .inputselectmul .orgelement:hover{
    background: url(../images/views/modeling-select-staff-hover.png) no-repeat center;
    background-size:16px 16px;
}*/
.modeling-viewcover-tip{
    display: inline-block;
    width: 16px;
    height: 16px;
    position: relative;
    background: url(../images/views/modeling-tips.png) no-repeat center;
    background-size: contain;
    cursor: pointer;
    top: 3px;
    left: 3px;
}
.modeling-viewcover-tip:hover {
    background: url(../images/views/modeling-tips-hover.png) no-repeat center;
    background-size: contain;
}
.modeling-viewcover-tip:hover>span{
    visibility: visible;
}
.modeling-viewcover-tip>span{
    visibility: hidden;
    width: 230px;
    position: absolute;
    color:#fff;
    font-weight: normal;
    border-radius: 2px;
    background-color: #393C41;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1);
    padding:10px;
    z-index: 99;
    bottom: 100%;
    right: -30px;
    transform: translate(50%,-10px);
    cursor:default;
    line-height: initial;
    z-index: 10;
}
.modeling-viewcover-tip>span::after{
    content: "";
    position: absolute;
    z-index: 100;
    bottom: -16px;
    left: 70px;
    transform: translate(50%,-1px);
    border-width: 8px;
    border-style: solid;
    border-color: #393C41 transparent transparent transparent;
}
.auth-common-reader-head {
    display: flex;
    vertical-align: middle;
    align-items: center;
    justify-content: space-between;
}
.auth-common-reader-head>.common-data-filter-value{
    padding:0;
}

.displaycssTr .model-edit-view-oper-head-title>span {
    float: left;
}

.displaycssTr .title-index {
    width: auto;
    float: none;
    overflow: initial;
}

.footStatistics_create_none{
    cursor: pointer;
    color: #999999;
    position: relative;
    float: right;
    margin: 0;
    border: 0;
    line-height: normal;
}

.footStatistics_create_has{
    cursor: pointer;
    color: #4285F4;
    position: relative;
    float: right;
    margin: 0;
    border: 0;
    line-height: normal;
}

.footStatistics_create_pop {
    position:absolute;
    right: 0;
    top: 20px;
    background: #FFFFFF;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.15);
    border-radius: 0 0 2px 2px;
    z-index: 1;
    width: 124px;
    height: 0;
    border: 0;
    transition: all 0.3s ease;
    overflow: hidden;
}

.footStatistics_create_pop:hover {
    min-height: 30px;
    max-height: 150px;
    border: 1px solid #ddd;
}
.footStatistics_create_pop ul {
    list-style: none;
    width: 124px;
    height: 150px;
    overflow-y: auto;
}

.footStatistics_create_pop ul li {
    width: 100%;
    font-size: 12px;
    color: #666;
    line-height: 30px;
    padding: 0 8px;
    box-sizing: border-box;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.footStatistics_create_pop ul li.active {
    color: #4285f4;
    background: rgba(66,133,244,0.10);
}

.footStatisticsTr .model-edit-view-oper-head-title>span {
    float: left;
}

.footStatisticsTr .title-index {
    width: auto;
    float: none;
    overflow: initial;
}

.footStatistics-content{
    height: 32px;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
}

.footStatistics-content-type-item{
    display: inline-block;
    width: 25%;
    float: left;
    text-align: center;
    line-height: 32px;
    border-right: 1px solid #DDDDDD;
    box-sizing: border-box;
}

.footStatistics-content-type-last-item{
    border: 0px;
}

.footStatistics-content-type-item.active{
    background-color: #E9F1FF;
    border: 1px solid #4285F4;
    /*background-image: url(../images/radio-more-rightUp@2x.png);*/
    /*background-position: 140% 120%;*/
    /*background-repeat: no-repeat;*/
    position: relative;
}
.footStatistics-content-type-item.active::after{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background: url("../images/radio-more-rightUp@2x.png") no-repeat center center;
    background-size: 20px;
    right: 0;
    top: -2px;
}

.footStatisticsTable.active{
    border: 1px solid #4285F4;
}
.open_rule_setting_show_preview_title{
    font-size: 14px;
    color: #333333;
}
.open_rule_setting_show_preview_content{
    display: inline-block;
    font-size: 28px;
    color: #4285F4;
}
.open_rule_setting_show_preview_content_num{
    display: inline-block;
    font-size: 28px;
    color: #4285F4;
    float: left;
}
.open_rule_setting_show_preview_content_unit{
    display: inline-block;
    font-size: 18px;
    color: #4285F4;
}
.open_rule_setting .open_rule_setting_show_preview{
    border-bottom: 1px solid #dddddd;
    padding: 5px 16px;
}
.open_rule_setting_show_type{
    display: flex;
    height: 30px;
    padding: 8px 16px;
    margin-bottom: 8px;
}
.open_rule_setting_show_type>.open_rule_setting_show_type_percent {
    border-right: 1px solid #DDDDDD;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
.open_rule_setting_show_type>.open_rule_setting_show_type_num {
    border-left: 1px solid #DDDDDD;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
.open_rule_setting_show_type>div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    text-align: center;
    font-size: 12px;
    color: #666666;
    height: 30px;
    cursor: pointer;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
}
.open_rule_setting_show_type>div.active{
    color: #4285F4;
    background-color: rgba(66,133,244,0.1);
}
.open_rule_setting_show_num_unit,.open_rule_setting_show_cus_unit,.open_rule_setting_show_point_count{
    padding: 0 16px;
    margin-bottom: 8px;
}
.open_rule_setting_show_num_unit>select.inputsgl,.open_rule_setting_show_cus_unit>input.inputsgl,.open_rule_setting_show_point_count>input.inputsgl{
    display: block;
    width: 100%;
    height: 30px;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 2px;
}
.open_rule_setting_show_thousands{
    padding: 0 16px;
}
.open_rule_setting_show_thousands>input{
    position: relative;
    top: 2px;
    margin-left: 4px;
}

.operateTips{
    display:inline-block;
    margin: 5px 0 5px 14px;
    font-size: 12px;
    padding-right: 2px;
    padding-left: 16px;
    color:#FF9431;
    background: url(../images/form-tip@2x.png) no-repeat left;
    background: url(../images/form-tip.png) no-repeat \9;
    background-size: 12px 12px;
    word-break:break-word;
    white-space: normal;
}

