/* 卡片视图运行时样式 */
@charset "utf-8";
body,html{
	height:100%;
}
body,
div,
ul,
li,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
select,
p,
dl,
dt,
dd,
a,
img,
button,
form,
table,
th,
tr,
td,
tbody,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	margin: 0;
	padding: 0;
	font-family: "PingFang SC",
	"Lantinghei SC",
	"Helvetica Neue",
	Arial,
	"Microsoft YaHei",
	"WenQuanYi Micro Hei",
	"Heiti SC",
	"Segoe UI",
	sans-serif;
	box-sizing: border-box;
}
.clearfix:after {
	content: " ";
	display: block;
	visibility: hidden;
	height: 0;
	clear: both;
}
.clearfix {
	zoom: 1;
}
::-webkit-scrollbar{
	width: 6px;
	height: 6px;
}
::-webkit-scrollbar-thumb{
	border-radius: 10px;
	background: #ddd;
}
::-webkit-scrollbar-track{
	background: transparent;
}
/* 配置 */
.viewBoardContainer{
	background-color: #fff;
	padding: 8px;
	font-size: 0;
}
.viewBoardContainerItemBox{
	display: inline-block;
	height: auto;
	padding: 8px;
	border-radius: 4px;
	width: 100%;
}
.viewBoardContainerItem{
	background-color: #F8F8F8;
	border-radius: 4px;
}
.viewBoardContainerItemTitle{
	margin-bottom: 16px;
}
.viewBoardContainerItemClassify{
	display: inline-block;
	height: 26px;
	line-height:26px;
	padding: 0 10px;
	background: #EDEDED;
	border-radius: 2px;
	font-size: 12px;
	color: #999999;
}
.viewBoardContainerItemCheckbox{
	float: right;
	width: 26px;
	height: 26px;
	background-color: #DDDDDD;
	border-radius: 2px;
}
.viewBoardContainerField{
	background-color: #fff;
	border: 1px solid #DDDDDD;
	border-radius: 2px;
}
.viewBoardContainerFieldBox{
	padding: 16px;
}
.viewBoardContainerFieldCoverBox{
	height: 68px;
	padding-top: 16px;
	background-color: #F8F8F8;
}
.viewBoardContainerFieldCover{
	width: 62px;
	height: 36px;
	background: url(../images/views/modeling-card-view-cover.png) no-repeat center;
	background-size: contain;
	margin: 0 auto;
}
.viewBoardContainerFieldTitle{
	text-align: center;
	color: #999999;
	border-radius: 2px;
	line-height:26px;
	height: 26px;
	font-size: 12px;
	background-color:  #F7F7F7;
	margin-bottom: 16px;
}
.viewBoardContainerFieldAbstract{
	display: inline-block;
	font-size: 12px;
	color: #999999;
	border-radius: 2px;
	line-height:26px;
	height: 26px;
	background-color:  #F7F7F7;
	padding: 0 10px;
	margin-bottom: 4px;
}
.viewBoardContainerFieldAbstractContent{
	display: inline-block;
	width: 100%;
	font-size: 12px;
	color: #999999;
	border-radius: 2px;
	line-height:26px;
	height: 26px;
	background-color: #F7F7F7;
	padding: 0 10px;
}
.viewBoardContainerOthers{
	display: inline-block;
	font-size: 12px;
	color: #999999;
	border-radius: 2px;
	line-height:26px;
	height: 26px;
	background-color:  #F7F7F7;
	padding: 0 28px;
	text-align: center;
	margin-top: 12px;
}
.viewBoardContainer.modeS>.viewBoardContainerItemBox{
	width: 50%;
}

.viewBoardContainer.modeM>.viewBoardContainerItemBox{
	width: 25%;
}

.viewBoardContainer.modeL>.viewBoardContainerItemBox{
	width: 20%;
}

.viewBoardContainer .viewBoardContainerFieldCoverBox.hiddenPanel,
.viewBoardContainer.modeS>.viewBoardContainerItemBox.index3,
.viewBoardContainer.modeS>.viewBoardContainerItemBox.index4,
.viewBoardContainer.modeS>.viewBoardContainerItemBox.index5,
.viewBoardContainer.modeM>.viewBoardContainerItemBox.index5{
	display: none;
}



.lui_list_card_wrap  .lui_list_card_item_inner {
	display: block;
	border: 1px solid #DFE3E9;
	border-radius: 4px;
	margin: 0 10px 0;
	position: relative;
	border-radius: 4px;
	height:20rem;
	cursor: pointer;
}
.lui_list_card_wrap  .lui_list_card_item_inner:hover{
	border: 1px solid #DFE3E9;
	box-shadow: 0 4px 14px 0 rgba(0,0,0,0.20);
}

.lui_list_card_wrap .card_title {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.lui_list_card_item_inner>.card_title>a:hover{
	color: #4285F4;
}
.lui_list_card_wrap .card_title .card_title_item{
	text-align: center;
}
.lui_list_card_wrap .card_title .card_title_item .card_title_item_img{
	height:10rem;
	max-width: 90%;
}
.lui_list_card_wrap .card_info {
	color: #666;
	font-size: 12px;
	padding-bottom: 10px;
	padding-left:64px;
}

.lui_list_card_select_input{
	position: absolute;
	right: 10px;
	top: 10px;
}