/* 普通列表视图运行时样式 */
@charset "utf-8";

.listViewAttachmentDiv {
	display: inline-flex;
	float: left;
	width: 100%;
}

.listViewAttachmentDiv-i-icon {
	display: inline-block;
	width: 24px;
	height: 24px;
	vertical-align: middle;
	background-size: 24px auto;
	background-image: url(../../../../attachment/view/img/file/2x/icon_documents.png);
}

.listViewAttachmentDiv-i-text {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 234px;
	word-break: break-all;
	display: inline-block;
	line-height: 24px;
}

.listViewAttachmentDiv-i-text:hover{
	color: #0a57cb;
}


.listViewAttachmentMoreDiv{
	border: 1px solid #e8e8e8;
	position: absolute;
	background: white;
	max-height: 288px;
	width: 288px;
	overflow-y: auto;
	text-align: left;
}

.listViewAttachmentMoreDiv::-webkit-scrollbar{
	width: 6px;
	height: 6px;
}
.listViewAttachmentMoreDiv::-webkit-scrollbar-thumb{
	border-radius: 10px;
	background: #ddd;
}
.listViewAttachmentMoreDiv::-webkit-scrollbar-track{
	background: transparent;
}
.listViewTextOverflow{
	text-overflow: ellipsis;
	overflow: hidden;
	word-break: break-all;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
}