.model-del {
    width: 580px;
    background: #fff;
}
.model-del-content {
    padding: 20px 20px 90px 20px;
}
.model-del-content p {
    font-size: 16px;
    color: #666666;
    margin: 0;
    margin-bottom: 20px;
}
.model-del-table {
    border: 1px solid #E6EAEE;
    border-radius: 4px;
    overflow: hidden;
}
.model-del-table table {
    padding: 0;
    border-spacing: 0;
    width: 100%;
    border-collapse: collapse;
}
.model-del-table table td {
    padding: 12px 10px;
}
.model-del-table table thead {
    background: #f8f8f8;
    font-size: 14px;
}
.model-del-table table tbody {
    font-size: 14px;
    color: #666666;
}
.model-del-table table tbody tr {
    border-top: 1px solid #E6EAEE;
}
.model-del-table table tbody tr td:last-child {
    color: #4285f4;
    cursor: pointer;
}
.model-del-btn {
    margin-top: 20px;
    height: 50px;
    border-top: 1px solid #E6EAEE;
    line-height: 50px;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    width: 100%;
}