/**
 * 1. 开发人员：谢东颖
 * 2. 开发时间：2017-10-31
 * 3. 功能说明：显示列表定制
 */


/* 公共通用 Starts
   ========================================================================== */

  /*清除浮动 Starts*/
.lui_custom_list_container:after,
.lui_custom_list_box:after,
.lui_custom_list_box_content_row:after,
.lui_custom_list_box_content_col_content_line:after {
  content: '';
  display: table;
  visibility: hidden;
  clear: both;
}
  /*清除浮动 Ends*/


.lui_custom_list_container {
  width: 90%;
  min-width: 680px;
  max-width: 680px;
  margin-right: auto;
  margin-left: auto;
}
.lui_custom_list_container-fluid {
  margin-right: auto;
  margin-left: auto;
}

/* 公共通用 Ends
   ========================================================================== */


/* 显示列表定制 Starts
   ========================================================================== */
.lui_custom_list_box{
  background-color: #fff;
}
.lui_custom_list_box_content{ }
.lui_custom_list_box_content_container{
  margin-left: 20px;
  margin-right: 20px;
}
.lui_custom_list_box_content_select{
  padding-top: 20px;
  padding-bottom: 20px;
}
.lui_custom_list_box_content_select > select{
  margin-left: 5px;
  padding:3px;
  max-width: 85px;
  border: 1px solid #e0e0e0;
}
.lui_custom_list_box_content_row{
  margin: 0 -10px;
  padding: 0;
  list-style: none;
}
.lui_custom_list_box_content_col{
  width: 50%;
  position: relative;
  min-height: 1px;
  float: left;
}
.lui_custom_list_box_content_col > .item{
  margin: 0 10px;
  border: 1px solid #e0e0e0;
}

.lui_custom_list_box_content_col_header{
  background-color: #f5f5f5;
  width: 100%;
  border-bottom:1px solid #e0e0e0;
}
.lui_custom_list_box_content_col_content{
  height: 310px;
  overflow-y:auto;
}
.lui_custom_list_box_content_col_content > .lui_custom_list_checkbox{
  padding: 4px 5px;
  min-height: 21px;
}
.lui_custom_list_box_content_col_content > .lui_custom_list_box_content_col_content_line{
  padding: 3px 5px;
  min-height: 21px;
}
.lui_custom_list_checkbox {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  transition-duration: .3s;
}
.lui_custom_list_checkbox:hover{
	background-color: #f8f8f8;
	cursor: pointer; 
}
.lui_custom_list_checkbox.right{
  float: right;
  padding: 8px;
}
.lui_custom_list_box_content_col_content_line{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition-duration: .3s;
}
.lui_custom_list_box_content_col_content_line:hover{ background-color: #f8f8f8; }
.lui_custom_list_box_content_col_content_line > span{
  overflow: hidden;
  max-width: 125px;
  text-overflow: ellipsis;
  display: block;
  float: left;
}
.lui_custom_list_box_content_link_right{
  float: right;
  padding:8px;
}
.lui_custom_list_box_content_col_content_left{
  padding-right: 10px;
  display: inline-block;
  float: right;
}
.lui_custom_list_box_content_col_content_left > span{
  margin-left: 5px;
  width: 21px;
  height: 21px;
  display: inline-block;
  float: left;
}
.lui_custom_list_box_content_col_content_left > .lui_custom_list_box_content_col_content_widthchange{
  color: #e0e0e0;
  width: auto;
}
.lui_custom_list_box_content_col_content_left > .lui_custom_list_box_content_col_content_widthchange > input {
  padding-left: 2px;
  padding-right: 2px;
  width: 80px;
  text-align: center;
  border: 1px solid #e0e0e0;
}
.lui_custom_list_box_content_col_content_left > .lui_custom_list_box_content_col_content_chekcbox{
  color: #333;
  width: auto;
}

    /*  字体 */
.lui_custom_list_box_content_word{
  font-size: 16px;
  font-weight: normal;
}
.lui_custom_list_box_content_header_word{
  padding: 7px;
  line-height: 35px;
  font-size: 14px;
}
/*   按钮   */
.lui_custom_list_box_content_col_btn{
  padding: 15px 0;
  text-align: right;
  font-size: 0;
  *white-space: -1px;
}
.lui_custom_list_box_content_col_btn > a{
}
.lui_custom_list_box_content_blue_btn {
  background-color: #37a8f6;
  color: #fff;
  padding: 6px 10px;
  min-width: 80px;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #37a8f6;
  margin-left: 8px;
  display: inline-block;
  transition-duration: .3s;
}
.lui_custom_list_box_content_blue_btn:hover {
  color: #fff;
  border-color: #0d94f1;
  background-color: #0d94f1;
}

.lui_custom_list_box_content_whith_btn {
  background-color: #fff;
  color: #333;
  padding: 6px 10px;
  min-width: 80px;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #e0e0e0;
  margin-left: 8px;
  display: inline-block;
  transition-duration: .3s;
}

.lui_custom_list_box_content_whith_btn:hover {
  color: #333;
  background-color: #eee;
}
/*   功能按钮 */
.lui_custom_list_box_btn_up{
  cursor: pointer;
  background-image: url('.././images/up-grew.png');
  background-repeat: no-repeat;
}
.lui_custom_list_box_btn_up:hover{
  background-image: url('.././images/up-blue.png');
  transition: all 0.3s ease-in-out;
  background-repeat: no-repeat;
}
.lui_custom_list_box_btn_down{
  cursor: pointer;
  background: url('.././images/down-grew.png');
  background-repeat: no-repeat;
}
.lui_custom_list_box_btn_down:hover{
  background: url('.././images/down-blue.png');
  transition: all 0.3s ease-in-out;
  background-repeat: no-repeat;
}
.lui_custom_list_box_btn_quit{
  cursor: pointer;
  background: url('.././images/quit-grew.png');
  background-repeat: no-repeat;
}
.lui_custom_list_box_btn_quit:hover{
  background: url('.././images/quit-red.png');
  transition: all 0.3s ease-in-out;
  background-repeat: no-repeat;
}
/* 显示列表定制 Ends
   ========================================================================== */
.appMenu_main_icon {
  width: 52px;
  height: 52px;
  background: #FFFFFF;
  /*box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.10);*/
  border-radius: 8px;
  display: inline-block;
  text-align: center;
  line-height: 52px;
  border: 1px solid #DFE3E9;
}

.appMenu_main_icon i {
  font-size: 30px;
}

.select_icon_btn {
  width: 90px;
  display: inline-block;
  height: 30px;
  border: 1px solid #DDDDDD;
  border-radius: 2px;
  border-radius: 2px;
  bottom: 4px;
  position: relative;
  margin-left: 15px;
  font-size: 14px;
  text-align: center;
  line-height: 30px;
}



