.modeling-dylink-item, .modeling-dylink-add {
    width: 800px;
    min-width: 440px;
    margin-left: 25px;
    margin-bottom: 10px;
    height: 30px;
    line-height: 30px;
}

.modeling-dylink-item div {
    display: inline-block;
    height: 30px;
    line-height: 30px;
}

.modeling-dylink-item .dylink-content {
    width: 700px;
    padding-left: 4px;
    overflow: hidden;
    border: 1px solid #a0a0a3;
    white-space: nowrap;
    cursor: pointer;
    position: relative;
}

.modeling-dylink-item .dylink-btn {
    width: 30px;
    height: 30px;
    line-height: 30px;
    padding-left: 4px;
    overflow: hidden;
    white-space: nowrap;
    display: none;
}

.modeling-dylink-item:hover .dylink-btn {
    display: inline-block;
}

.dylink-content .dylink-content-link {
    width: 670px;
    overflow: hidden;
}

.dylink-content .dylink-content-btn {
    white-space: nowrap;
    position: absolute;
    top: 0;
    right: 5px;
}

.modeling-dylink-item .dylink-content .link-pref {
    background: #FAFAFA;
    color: #999999;
    border-right: 1px solid #a0a0a3;
    max-width: 660px;
}

.dylink-content .link-dynamic input {
    height: 30px;
    line-height: 30px;
    border: none;
}

.dylink-original .dylink-content {
    background: #FAFAFA;
    color: #999999;
}

.dylink-original .dylink-content .link-pref {
    border-right: none;
    text-overflow: ellipsis;
    overflow: hidden;
}

.dylink-original .dylink-content .link-dynamic {
    display: none;
}


.dylink-content-btn i,
.dylink-btn i {
    cursor: pointer;
    color: #999;
    font-size: 14px;
    background-repeat: no-repeat;
    background-position: center center;
    display: inline-block;
    width: 16px;
    height: 30px;
}

.dynamic-i-copy {
    background: url(../images/dynamic/dy-copy.svg) no-repeat center;
}

.dynamic-i-del {
    background: url(../images/dynamic/dy-del.svg) no-repeat center;
}

.dynamic-i-visited {
    background: url(../images/dynamic/dy-visited.svg) no-repeat center;
}
.dynamic-focus i{
    display: none;
}
.dynamic-empty .dynamic-i-copy,
.dynamic-empty .dynamic-i-visited{
    display: none;
}

.dynamic-i-add {
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url(../images/plus_active.svg);
    background-size: 14px;
}
.modeling-dylink-add div{
    display: inline-block;
}
.modeling-dylink-add span {
    display: inline-block;
    margin-left: 6px;
    font-size: 14px;
    color: #4F8FF7;
    letter-spacing: 0;
    line-height: 30px;
    height: 30px;
    cursor: pointer;
}
.dynamic-error,
.dynamic-success{
    height: 60px;
}
.dynamic-error .dylink-content{
   border-color: #ea4335;
}
.dynamic-error .dylink-content input{
   background-color: #FFF5D8;
}
.dynamic-error-p{
    color: #ea4335;
    margin-top: -10px;
}

.dynamic-success-p{
    color: #86DB00;
    margin-top: -10px;
}