.sideMenu li {list-style:none;}
.sideMenu h3{ height:32px; line-height:32px; padding-left:10px; background:#f4f4f4; cursor:pointer; font-family: 'Microsoft YaHei'; font-size: 14px; color: #333;margin:0px;
}
.sideMenu ul .nLi.on .sub{ display: block;}
.sideMenu ul .nLi .sub{ padding:8px 0; display:none; }
.sideMenu ul .nLi .sub li{ height: 30px; line-height: 30px; list-style: none;}
.sideMenu ul .nLi .sub li a{ display: block; width: 100%; height: 100%; font-family: 'Microsoft YaHei'; font-size: 14px; color: #333; text-decoration: none; padding:0 25px; box-sizing:border-box;}
.sideMenu ul .nLi .sub li a:hover{ background:#eee;}
.sideMenu .arrow {
    background-image: url(./../images/ui-icons.png);
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    margin-top: -.25em;
    position: relative;
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: -32px -16px;
}
.sideMenu .on .arrow {
    background-position: -65px -16px;
}
.modeling-import-opt{
    /* border: 1px solid #EEEEEE; */
    margin-bottom:30px
}

.tempTB{
    width: 100%!important;
}
#visible_print_setting{
    margin-top: 20px;
    margin-left: 20px;
}
#visible_print_setting label{
    margin-right:30px;
}
#visible_print_setting>.title{
    float: left;
}
.default_print_setting_outer{
    padding-left: 100px;
}
#default_print_setting{
    margin-top: 10px;
    background-color: #F6F7FA;
    border-radius: 4px;
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
}
#default_print_setting label{
    margin-right:30px;
}
#visible_print_setting label input,
#default_print_setting label input{
    top:1px;
}

/* 机制部署 */
.model-print-tips {
    margin-top: 10px;
    height: 40px;
    background-color: #f8f8f8;
    border-radius: 4px;
    padding-left: 15px;
    font-size: 14px;
    line-height: 40px;
}

.model-print-tips p {
    color: #333333;
    display: inline-block;
    margin: 0;
}

.model-print-tips p:before {
    content: '';
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-right: 10px;
    vertical-align: middle;
    background: url(../images/mechanism/icon_tips@2x.jpg) no-repeat;
    background: url(../images/mechanism/icon_tips.jpg) no-repeat \9;
    background-size: 14px;
}

.model-print-tips a {
    text-decoration: none;
    color: #4285F4;
    cursor: pointer;
    padding: 0 20px;
}

.mechanism_div{
    margin: 0 auto;
    width: 95%;
    border: 1px solid #d2d2d2;
}
.switch_submit_div {
    margin: 20px auto 0 auto;
    width: 94%;
    height: 35px;
    line-height: 35px;
}
.config_div {
    margin-bottom: 20px;
}

.switch_div {
    float:left;
}
.submit_div {
    float:right;
}

#visible_number_setting > .tb_normal {
    border: 0;
}
#visible_number_setting > .tb_normal > tbody > tr {
    border: 0;
}
#visible_number_setting > .tb_normal > tbody > tr > td {
    border: 0;
}
.custom_print_create_btn{
	position: relative;
    left: 100px;
    margin-top: 20px;
	border: 1px solid #4285f4;
    width: 180px;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
    color: #4285f4;
    cursor: pointer;
}
.custom_print_create_btn>i{
	background: url("../images/icon-add-hover@2x.png") no-repeat;
    background: url("../images/icon-add-hover.png") no-repeat \9;
    background-size: 14px;
    width: 14px;
    height: 14px;
    display: inline-block;
    position: relative;
    top: 1px;
}
.custom_print_create_btn>span{
	
}