.view-top{
    border-bottom: 1px solid #DDDDDD;
}
.view-edit-change-button{
    float: right;
}
.view-edit-change-button div{
    display: inline-block;
}
.model-edit-left {
    width: 60%;
    height: 100%;
    overflow: hidden;
    float: left;
    position: relative;
    padding: 10px;
    box-sizing: border-box;
    padding-left: 20px;
}
.model-edit-right {
    width: 40%;
    height: 100%;
    float: right;
    position: relative;
    padding-top: 10px;
    border-left: 0px solid #DDDDDD;
    box-sizing: border-box;
}
.model-edit-right-view-content{
    border: 1px solid #DDDDDD;
}
.model-edit-right {
    width: 40%;
    height: 100%;
    float: right;
    position: relative;
    padding: 10px;
    box-sizing: border-box;
    border-left: 0px solid rgb(221, 221, 221);
    padding-right: 20px;
}
.listviewName p{
    height: 25px;
    font-family: PingFangSC-Medium;
    font-size: 18px;
    color: #333333;
    font-weight: 500;
    float: left;
    margin-top: 2px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    max-width: 100%;
}
.model-view-panel-table .model-view-panel-table-td {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
}
.model-data-create {
    border: 1px dashed #CCCCCC;
    border-radius: 2px;
    text-align: center;
    height: 28px;
    line-height: 28px;
    cursor: pointer;
    margin: 1px 2px;
}
html{
    height:100%;
}
body{
    height:100%;
    overflow: hidden;
}
.lui_paragraph_title{
    font-size: 15px;
    color: #15a4fa;
    padding: 15px 0px 5px 0px;
}
.lui_paragraph_title span{
    display: inline-block;
    margin: -2px 5px 0px 0px;
}
/*.inputsgl[readonly], .tb_normal .inputsgl[readonly] {*/
/*    border: 0px;*/
/*    color: #868686*/
/*}*/
.lui_custom_list_boxs{
    border-top: 1px solid #d5d5d5;
    position:fixed;
    bottom:0;
    width:100%;
    background-color: #fff;
    z-index:1000;
    height:63px;
}
table.model-view-panel-table>tbody>tr>td.td_normal_title{
    text-align: left;
    padding-left: 17px;
    padding-right: 10px;
}
.model-view-panel-table .model-view-panel-table-td{
    padding-left: 10px!important;
    padding-right: 10px!important;
    padding-bottom: 15px!important;
}
.view-model-edit{
    min-width:930px;
}
.model-data-create{
    margin-top: 10px;
}
.model-edit-view-oper-content .model-edit-view-oper-content-item .weui_switch_bd {
    margin-left:10px;
}

@media (-webkit-min-device-pixel-ratio: 1.5) {
    .tb_simple .inputselectsgl {
        border: 1.5px solid #dfdfdf;
    }

    .model-edit-right .inputselectsgl.active {
        border: 1.5px solid #4285f4;
    }

    .model-edit-view-oper {
        border: 1.5px solid #DFE3E9;
    }

    .model-edit-view-oper.active {
        border: 1.5px solid #4285f4;
    }

    .model-body-wrap .model-body-content-phone {
        height: 541px;
    }

    .model-body-wrap .model-body-content-phone-bottom {
        width: 91%;
        height: 87px;
        position: absolute;
        bottom: 0;
        margin-left: 11px;
    }

    #view_preview_mobile .model-body-wrap .model-body-content-phone-bottom {
        height: auto;
    }

   /* #view_preview_mobile .model-body-wrap .model-body-content-phone .model-phone-opt-item {
        width: 16.6%;
    }*/

    #view_preview_mobile .model-phone-opt{
        height: 38px;
        overflow: hidden;
    }

    .model-edit-right-wrap .model-edit-view-content {
        padding-top: 0px;
    }
}
.model-businessTag-content{
    display: inline;
}
/*.model-edit-view-oper{
    display: block;
}*/
.model-edit-right-view .model-edit-view-oper-head-title i.open {
    top: 12px;
}
.model-edit-right-view .model-edit-view-oper-head-item div i {
    top: 10px;
}
.common-auth-type {
    padding: 0 2px;
}
.modeling-view-default{
    float: right;
    padding-right: 20px;
}
.model-edit-view-oper-content>ul li {
    margin: 0px 0px;
}
#view_preview {
    overflow: hidden;
}
#view_preview_mobile {
    overflow: hidden;
}
.business_tr .model-edit-view-oper-head:hover .model-edit-view-oper-head-title:before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    left: -20px;
    top: 10px;
    background: url(../images/drag@2x.png) no-repeat;
    background: url(../images/drag.png) no-repeat \9;
    background-size: 20px;
}
.buildin{
    position: relative;
}

.model-body-wrap .model-body-content-phone {
    height: 541px;
}

.tag-btn .model-edit-view-btn-item{
    width: 90px;
    height: 44px;
    background: #4285F4;
    border-radius: 2px;
    float: left;
    margin: 0 4px;
    line-height: 44px;
    text-align: center;
    color: #fff;
    position: relative;
    z-index: 4;
}
.td_normal_title span{
    height: 14px;
    font-family: PingFangSC-Medium;
    font-size: 14px;
    color: #333333;
    letter-spacing: -0.16px;
    font-weight: 500;
}
.common-auth-type.common-data-filter-whereType {
    margin: 0px 0;
}
.model-edit-view-oper-content ul .model-edit-view-oper-content-item{
    margin-bottom: 16px;
}
textarea, .input input, .inputsgl, select {
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #333333;
    font-weight: 400;
    padding-left: 4px;
    font-size: 12px;
}
.model-edit-view-oper-content>ul li div.item-title {
    width: 56px;
    height: 26px;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #333333;
    letter-spacing: -0.16px;
    font-weight: 400;
}
.com_warn, .txtstrong {
    color: #FF4444;
    margin-top:5px;
}
.model-edit-view-oper-content-item .weui_switch{
    float: right;
    margin-right: 9px;
    margin-top:3px;
}
.model-edit-view-oper-content {
    padding: 6px 10px 12px 16px;
}
.business_tr .view_flag_no {
    margin-right: 8px;
    line-height: 30px;
    vertical-align: inherit;
}
.view_flag_radio_yes{
    display: inline-block;
    cursor: pointer;
    width: 100px;
    height: 26px;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px 0px rgb(0 0 0 / 10%);
    border-radius: 1px;
    margin-top: 3px;
    margin-left: 3px;
    text-align: center;
}
.view_flag_yes >
.view_flag_radio_no {
    width: 97px;
    height: 26px;
    background: #F2F2F2;
    border-radius: 1px;
}
.business_tr .view_flag_last {
    margin-left: 0px;
}
.view_flag_radio{
    background: #F2F2F2;
    width: 98%;
}
.view_flag_radio_no {
    width: 97px;
    height: 26px;
    background: #F2F2F2;
    border-radius: 1px;
    text-align: center;
}
.business_tr .view_flag_no {
    display: none;
}
.business_tr .item-content-element-choose {
    width: 98%;
    box-sizing: border-box;
}
.no-inc-param-tip{
    background: #F7F7F7;
    font-size: 12px;
}
.no-inc-param-tip p{
    margin-bottom: -10px;
    text-align: center;
}