@charset "UTF-8";

/*************** 左右结构的对话框 start ****************/
.panel{
  overflow-y:hidden;
}
.panel .panel-main {
  border-bottom: 1px solid #d5d5d5;
}

.panel .panel-bottom {
  height: 50px;
  line-height: 50px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 55;
  background-color: #fff;
  text-align: right;
  padding-right: 8px;
  box-sizing: border-box;
}

.panel-main .panel-main-left {
  display: inline-block;
  width: 280px;
  border-right: 1px solid #d5d5d5;
  height: 100%;
  overflow-y: scroll;
}

.panel-main .panel-left-content {}

.panel-left-content li {
  padding: 10px 0px 10px 20px;
  font-size: 16px;
  cursor: pointer;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.panel-left-content li:hover,
.panel-left-content li.active {
  background-color: #f1f1f1;
  color: #4285f4;
}

.panel-main .panel-main-right {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0px;
  left: 281px;
  overflow-y: scroll;
  height: 400px;
}

.panel-main-right table thead tr {
  background-color: #f6f6f6;
  font-weight: bold;
}

.panel-main-right table tbody tr {
  cursor: pointer;
}

.panel-main-right table tbody tr.active {
  background-color: #d6d6d6 !important;
  transition-duration: 0.3s;
}

.panel-main-right table tbody tr:nth-child(even) {
  background-color: #fcfcfc;
}

.panel-main-right table td {
  align: center;
  padding: 11px 0px;
  text-align: center;
}

/*************** 左右结构的对话框 end ****************/

/*************** 步进式结构的对话框 start ****************/
.step-dialog {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.step-dialog .step-dialog-main {
  position: absolute;
  top: 0;
  bottom: 50px;
  left: 0;
  right: 0;
  border-bottom: 1px solid #d5d5d5;
  padding: 0 20px;
}

.step-dialog .step-dialog-bottom {
  height: 50px;
  line-height: 50px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 55;
  background-color: #fff;
  text-align: right;
  padding-right: 8px;
}
.step-dialog .step-dialog-bottom .lui_toolbar_btn_gray{
  margin-right: 20px;
  margin-left:15px;
}
.content-main-wrap .content-search {
  position: relative;
  border: 1px solid #DDDDDD;
  box-shadow: inset 0 1px 0 0 #E5E5E5;
  border-radius: 2px;
  z-index: 1;
}

.content-search .search-select-wrap {
  float: left;
}

.search-select-wrap .search-select {
  height: 30px;
  border: 0px;
}

.content-search .search-input-wrap {
  flex-grow: 1;
  margin-left: 10px;
}

.search-input-wrap .search-input {
  border: 0px;
  border-radius: 2px;
  font-size: 12px;
  padding: 13px 0px;
  width: 100%;
  line-height: 12px;
  -webkit-appearance: textfield;
  outline: none;
}

.search-input-wrap .search-icon {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 10px;
  margin: auto 0px;
  display: inline-block;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.step-dialog-main .content-tab-wrap {
  padding: 20px 0;
  overflow: hidden;
}

.content-tab-wrap .content-tab {
  float: left;
  position: relative;
  padding: 0 0 8px 28px;
  border-bottom: 2px solid transparent;
  margin-left: 54px;
  cursor: pointer;
  transition: all .3s;
}

.content-tab-wrap .content-tab:before {
  content: '';
  width: 8px;
  height: 14px;
  background: url(../images/panelDialog/next@2x.png) no-repeat center;
  background: url(../images/panelDialog/next.png) no-repeat center \9;
  background-size: contain;
  pos ition: absolute;
  left: -30px;
  top: 3px;
}

.content-tab-wrap .content-tab:first-child {
  margin-left: 0;
}

.content-tab-wrap .content-tab:first-child:before {
  display: none;
}

.content-block {
  position: absolute;
  top: 135px;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 20px;
  overflow-y: auto;
}

.content-tab .content-tab-icon {
  width: 16px;
  height: 16px;
  border: 1px solid #999999;
  border-radius: 50%;
  text-align: center;
  line-height: 16px;
  font-size: 12px;
  color: #999999;
  position: absolute;
  left: 0;
  top: 0;
}

.content-tab-icon i {}

.content-tab .content-tab-txt {
  /* padding-left: 28px; */
}

.content-tab {
  color: #999999;
}

.content-tab.active {
  color: #4285F4;
  border-color: #4285F4;
}

.content-tab.finished {
  color: #333333;
}

.content-tab .content-tab-icon i {
  width: 8px;
  height: 6px;
  position: absolute;
  left: 50%;
  margin-left: -4px;
  top: 50%;
  margin-top: -3px;
}

.content-tab.finished .content-tab-icon i {
  background: url(../images/panelDialog/finish@2x.png) no-repeat center;
  background: url(../images/panelDialog/finish.png) no-repeat center \9;
  background-size: contain;
}

.content-tab.active .content-tab-icon {
  border-color: #4285F4;
  background: #4285F4;
  color: #FFFFFF;
}

.content-tab.finished .content-tab-icon {
  border-color: #4285F4;
  background: #Fff;
  font-size: 0;
}

.step-dialog-main .content-main-wrap {}

.content-main-wrap .content-main {}

.content-main.active {}

.content-main .item-list {}

.item-list .item-block {
  /* padding: 10px 15px; */
}

.item-block-path {
  padding: 12px 0;
}

.item-block .item-desc {
  padding: 12px 0px 10px;
  font-size: 14px;
  color: #333333;
}

.item-block .item-box-wrap {

  overflow: hidden;
}

.item-box-wrap .item-box {
  float: left;
  margin: 8px;
  position: relative;
}

.item-box.active .item-box-content {
  background: rgba(66, 133, 244, 0.10);
  border: 1px solid #4285F4;
}

.item-box-content {
  width: 86px;
  height: 76px;
  padding: 8px 0 2px;
  border: 1px solid transparent;
  cursor: pointer;
}

.item-box-content p {
  font-size: 12px;
  text-align: center;
  margin-top: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 8px;
  color: #666666;
}

.item-box-content:hover .item-box-icon {
  border-color: #DFE3E9;
  color: #333333;
}

.item-box-content:hover .item-box-icon i {
  color: #333333;
}

/**当前应用**/
.item-box .item-box-highlight {
  background: #4285F4;
  border-radius: 2px;
  font-size: 12px;
  color: #FFFFFF;
  position: absolute;
  padding: 1px 4px;
  right: 0;
}

.item-box .item-box-icon {
  width: 50px;
  height: 50px;
  border: 1px solid transparent;
  background: #FFFFFF;
  /* box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.10); */
  background: #F6F7FA;
  border-radius: 8px;
  text-align: center;
  margin: 0 auto;
  transition: all .3s;
}

.item-box-icon i {
  line-height: 52px;
  text-align: center;
  font-size: 34px;
  color: #999999;
  transition: all .3s;
}

.list-record-wrap {
  border: 1px solid #DFE3E9;
  border-radius: 4px;
  overflow: hidden;
}

.list-record-wrap .list-record {
  background: #fff;
  border-top: 1px solid #DFE3E9;
  height: 38px;
  line-height: 38px;
  transition: all .3s;
  padding: 0 10px;
  position: relative;
  text-indent: 10px;
}
.list-record-wrap .list-record:first-child{
  border-top: 0;
}
.list-record-wrap .list-record:nth-child(even){
  background: #FDFDFD;
}
.list-record-wrap .list-record:hover{
  background: #EAF4FE;
}
.list-record-wrap .list-record input{
  opacity: 0;
}
.list-record-wrap .list-record i{
  position: absolute;
  width: 12px;
  height: 12px;
  border: 1px solid #DFE3E9;
  left: 10px;
  top: 50%;
  margin-top: -7px;
  transition: all .3s;
  border-radius: 50%;
}
.list-record-wrap .list-record.active i{
  background: #4285f4 url(../images/panelDialog/select@2x.png) no-repeat center;
  background: #4285f4 url(../images/panelDialog/select.png) no-repeat center \9;
  background-size: contain;
  border-color: #4285f4;
}
.path-wrap {
  font-size: 14px;
  color: #333333;
  margin-bottom: 10px;
}

.path-wrap .path-txt {}

.list-block{
  margin-top: 12px;
}
/*************** 步进式结构的对话框 end ****************/