.lui-search-panel-heading {
	background: #f9fbfe;
	border-bottom: 1px solid #4285f4;
}

.lui-search-panel-heading:after,
.lui-search-panel-heading:before,
.lui-search-panel-list:after,
.lui-search-panel-list:before,
.lui-search-panel-list ul:after,
.lui-search-panel-list ul:before,
.lui-search-panel-list>li a:after,
.lui-search-panel-list>li a:before {
	content: '';
	display: table;
	visibility: hidden;
}

.lui-search-panel-heading:after,
.lui-search-panel-list:after,
.lui-search-panel-list ul:after,
.lui-search-panel-list>li a:after {
	clear: both;
}

.lui-search-panel-list#expandArea {
	display: none;
}

.lui-search-panel-heading-title {
	margin: 0;
	padding: 5px 10px 3px;
	line-height: 20px;
	color: #4285F4;
	font-size: 16px;
	font-weight: normal;
	float: left;
	margin: 0px;
}

.lui-search-panel {
	padding-right: 60px;
	overflow: hidden;
	position: relative;
	height: 55px
}

.lui-search-panel-list,
.lui-search-panel-list ul {
	margin: 0;
	padding: 15px 15px 15px 15px;
	list-style: none;
}

.lui-search-panel-list li {
	margin: 10px 0;
	width: 260px;
	float: left;
	vertical-align: middle;
	background: url(../images/icon-list.png) no-repeat 0 50%;
	background-size: 16px;
}

.lui-search-panel-list>li a {
	max-width: 98%;
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: bottom;
	transition: all .3s;
}

.lui-search-panel-list li.lui-search-panel-list-item a {
	line-height: 20px;
	max-width: 87%;
	padding-left: 22px;
}

.lui-search-panel-list>li a span {
	width: 100%
}

.lui-search-panel-list>li .txt {
	color: #323941;
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	float: left;
	transition: all .3s;
}

.lui-search-panel-list li.lui-search-panel-list-item a.selected {
	color: #4285F4;
}

.lui-search-panel-list li a .txt {
	color: #443c3c;
}

.lui-search-extra-wrap {
	line-height: 20px;
	padding: 1px 0;
	cursor: pointer;
}

.lui-search-extra-more {
	padding-left: 3px;
	/* background:#d8d8d8; */
	/* margin-top: 2px;
      border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px; */
	position: absolute;
	right: 10px;
	top: 25px;
}

.lui-search-panel-heading .lui-search-extra-more {
	margin: 0 0 0 -4px;
}

.lui-search-extra-more .arrow {
	display: inline-block;
	vertical-align: middle;
	width: 16px;
	height: 11px;
	background: url(../images/icon-collapse.png) no-repeat center;
}

.lui-search-extra-more.expand .arrow {
	background-image: url(../images/icon-expand.png);
}

.lui-cate-queryEmpty-wrap {
	width: 100%;
	text-align: center;
	position: relative;
	padding: 30px 0;
	margin-top: 120px;
}

.lui-cate-queryEmpty {
	display: inline-block;
	vertical-align: middle;
	width: 50%;
	height: 106px;
	min-width: 300px;
}

.lui-cate-queryEmpty .queryEmpty-icon {
	display: inline-block;
	width: 124px;
	height: 106px;
	background: url(../images/query-empty-icon.png) no-repeat;
}

.queryEmpty-tips {
	position: relative;
	top: -90px;
	line-height: 20px;
	font-size: 16px;
}

.queryEmpty-suggest {
	color: #666;
	margin-top: -5px;
	word-wrap: normal;
	white-space: nowrap;
}

.lui_tabpanel_frame {
	border-radius: 4px;
	border: 1px solid #d5d5d5\9;
	background-color: #fff;
	-webkit-box-shadow: 0 2px 8px -2px rgba(0, 0, 0, .125);
	-moz-box-shadow: 0 2px 8px -2px rgba(0, 0, 0, .125);
	-ms-box-shadow: 0 2px 8px -2px rgba(0, 0, 0, .125);
	-o-box-shadow: 0 2px 8px -2px rgba(0, 0, 0, .125);
	box-shadow: 0 2px 8px -2px rgba(0, 0, 0, .125);
}

.lui_tabpanel_navs_c {
	font-size: inherit;
	background-color: transparent;
	height: auto;
	color: #636363;
	line-height: 1;
	padding-left: 5px;
	border-bottom: 1px solid #d5d5d5;
	vertical-align: middle;
}

.lui_tabpanel_navs_item_l {
	float: left;
	overflow: visible;
	height: auto;
}

.lui_tabpanel_navs_item_r {}

.lui_tabpanel_navs_item_c {
	margin: 0 0 -1px 0px;
	padding: 8px 10px;
	max-width: 90%;
	height: 20px;
	line-height: 20px;
	color: #666;
	font-size: 0;
	*white-space: -1px;
	font-weight: normal;
	border-bottom: 2px solid transparent;
	position: relative;
	transition-duration: .3s;
}

.lui_tabpanel_navs_item_c:hover {
	color: #4285f4;
}

.lui_tabpanel_navs_item_c .com_prompt_num {
	position: relative;
	top: -4px;
}

.lui_tabpanel_navs_c.tabLearn .lui_tabpanel_navs_item_c {
	text-align: center;
}

.lui_tabpanel_navs_item_selected .lui_tabpanel_navs_item_r {}

.lui_tabpanel_navs_item_selected .lui_tabpanel_navs_item_c {
	background-color: transparent;
	color: #4285f4;
	font-weight: normal;
	border-top: 0;
	border-bottom: 2px solid #4285f4;
}

.lui_tabpanel_content_l {
	background-color: transparent;
}

.node_operation {
	float: right;
	margin-right: 10px;
	overflow: hidden;
}

.lui_modeling_nav {
	display: inline-block;
	width: 330px;
	vertical-align: top;
	border: 1px solid #ccc;
  height: 610px;
  background: #Fff;
}
@media screen and (min-width: 1439px) and (max-width: 1550px) {
  .lui_modeling_nav {
    width: 360px;
  }
}
@media screen and (min-width: 1550px) {
  .lui_modeling_nav {
    width: 380px;
  }
}
.lui_modeling_nav #DIV_Tree a {
	font-size: 14px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 200px;
}

.lui_modeling_nav_head {
	height: 40px;
	text-align: left;
	border-bottom: 1px solid #CCC;
	line-height: 40px;
	background: #F6F7FA;
}

.lui_modeling_nav_head_title {
	float: left;
	font-size: 14px;
	padding: 0 10px;
	color: #4285f4;
}

.lui_modeling_nav_opt_wrap {
	display: inline-block;
	width: 15%;
	text-align: center;
	position: relative;
}

.lui_modeling_nav .lui_tabpanel_navs_item_title {
	height: 40px !important;
	line-height: 40px !important;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}

.lui_modeling_nav .lui_tabpanel_list_navs_c {
	border-bottom: 1px solid #ccc !important;
}

.lui_modeling_nav_opt_content {
	position: absolute;
	left: 50%;
  margin-left: -64px;
  margin-top: 200px;
}

.lui_modeling_nav_head_add {
	cursor: pointer;
	width: 50px;
	padding-right: 20px;
	height: 40px;
	line-height: 40px;
	float: right;
	font-size: 14px;
	position: relative;
	text-align: right;
}
.lui_modeling_nav_head_add:before{
	content: '';
	width: 12px;
	height: 12px;
	background:url(../images/nav/tianjia@2x.png) no-repeat center;
	background:url(../images/nav/tianjia.png) no-repeat center \9;
	background-size: contain;
	position: absolute;
	top: 50%;
	margin-top: -6px;
	left: 0;
}
.lui_modeling_nav_head_reset{
	cursor: pointer;
	width: 50px;
	padding-right: 20px;
	height: 40px;
	line-height: 40px;
	float: right;
	font-size: 14px;
	position: relative;
	text-align: right;
}
.lui_modeling_nav_head_reset:before{
	content: '';
	width: 12px;
	height: 12px;
	background:url(../images/nav/reset@2x.png) no-repeat center;
	background:url(../images/nav/reset.png) no-repeat center \9;
	background-size: contain;
	position: absolute;
	top: 50%;
	margin-top: -6px;
	left: 0;
}

.lui_modeling_nav_head_addIcon {
	cursor: pointer;
	width: 20px;
	height: 25px;
	display: inline-block;
	background: url(../images/add.png);
	background-repeat: no-repeat;
	background-position: center center;
	float: right;
	margin-top: 7px;
	margin-right: 10px;
}
.lui_modeling_nav_opt_content > div{
	cursor: pointer;
	height: 40px;
	line-height: 40px;
	width: 126px;
	background: #F8F8F8;
	border: 1px solid #DDDDDD;
	text-align: left;
	position: relative;
	border-radius: 4px;
	font-size: 14px;
	color: #999999;
	transition: all .3s;
}
.lui_modeling_nav_opt_content > div:first-child{
	margin-bottom: 20px;
}
.lui_modeling_nav_opt_content > div:hover{
	background: #4285f4;
	border-color: #4285f4;
	color: #fff;
}
.lui_modeling_nav_opt_content > .lui_modeling_nav_option_add:hover  i{
	background: url(../images/nav/you-active@2x.png) no-repeat center;
	background: url(../images/nav/you-active.png) no-repeat center \9;
	background-size: contain;
}
.lui_modeling_nav_option_add{
	text-indent: 30px;
}
.lui_modeling_nav_option_add i {
	width: 6px;
	height: 10px;
	background: url(../images/nav/you@2x.png) no-repeat center;
	background: url(../images/nav/you@1x.png) no-repeat center \9;
	background-size: contain;
	position: absolute;
	right: 28px;
	top: 50%;
	margin-top: -5px;
}

.lui_modeling_nav_option_delete {
	text-indent: 40px;
}

.lui_modeling_nav_option_delete i {
	width: 6px;
	height: 10px;
	background: url(../images/nav/zuo@2x.png) no-repeat center;
	background: url(../images/nav/zuo.png) no-repeat center \9;
	background-size: contain;
	position: absolute;
	left: 28px;
	top: 50%;
	margin-top: -5px;
}
.lui_modeling_nav_opt_content > .lui_modeling_nav_option_delete:hover  i{
	background: url(../images/nav/zuo-active@2x.png) no-repeat center;
	background: url(../images/nav/zuo-active.png) no-repeat center \9;
	background-size: contain;
}
.lui_modeling_nav_tree_left {
	text-align: left;
	overflow: auto;
	height: 550px;
	padding: 0px 0px 0px 0px !important;
}

.lui_modeling_nav_tree_right {
	text-align: left;
	overflow: auto;
	margin-left: 15px;
	height: 550px;
	padding: 10px 0px 0px 0px !important;
}

.model-menu-td {
	padding: 2px 0;
	transition: all .3s;
	font-size: 14px;
}

.model-menu-td:hover {
	background: #EAF4FE;
}

.node_operation>div {
	font-size: 12px;
	color: #4285f4;
	padding: 0 4px;
	border-left: 1px solid #cccccc;
	float: left;
	cursor: pointer;
	transition: all .3s;
}

.node_operation>div:first-child {
	border-left: 0;
	padding-left: 0;
}

.node_operation>div:hover {
	color: #8AB5FF;
}

.lui_tabpanel_list_navs_item_selected .lui_tabpanel_list_navs_item_c .lui_tabpanel_navs_item_title {
	background: #fff;
}

/*=== webkit韫囨瑧顣遍懕顐ゅ皸閹煎倽妫濆鎾诲焺閳锋瑯鐓佸熬閹卞备鍩楅妷鍛Τ椤瑧鍙夌返閳鑼Τ鐠佽￥鍎岄幃绋跨贩閵囥垺鐓伴姘捐吂閳ь剚绶?Starts =============================================*/
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	background-color: #d1d1d1;
	-webkit-transition: background-color .3s ease-in-out;
	transition: background-color .3s ease-in-out;
}

::-webkit-scrollbar:hover {
	background-color: #d1d1d1;
}

::-webkit-scrollbar-thumb {
	background-color: #d1d1d1;
	height: 50px;
	outline-offset: -1px;
	outline: 1px solid #fff;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	-webkit-transition: background-color .3s ease-in-out;
	transition: background-color .3s ease-in-out;
}

::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:active {
	background-color: #9c9c9c;
	border-right: 1px solid #f1f1f1;
	border-left: 1px solid #f1f1f1;
}

::-webkit-scrollbar-track {
	background-color: #fff;
}

::-webkit-scrollbar-track:hover {
	background-color: #f1f1f1;
	-webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, .15);
	box-shadow: inset 0 0 3px rgba(0, 0, 0, .15);
}
.lui_modeling_nav_head_btns{
	float: right;
    height: 40px;
    margin-top: 4px;
}
.lui_modeling_nav_head_btns div.lui_modeling_nav_head_btn{
	min-width: auto;
    height: 16px;
    line-height: 16px;
    min-width: 50px!impotrant;
    float: right;
}
.lui_modeling_nav_portal .lui_modeling_nav_portal_link{
}
.lui_modeling_nav_portal .lui_modeling_nav_portal_link i{
    width: 12px;
    height: 12px;
    background: url(../images/nav/ques_black.svg) no-repeat center;
    background-size: contain;
    position: absolute;
    top: 50%;
    margin-top: -6px;
    left: 0;
}
.lui_modeling_nav_portal .lui_modeling_nav_portal_link span{
	margin-left: 15px;
}
.lui_modeling_nav_portal .lui_modeling_nav_portal_title{
	cursor: pointer;
}
.lui_modeling_nav_portal .lui_modeling_nav_portal_title span{
	color: #4285F4;
}
.lui_modeling_nav_portal .lui_modeling_nav_portal_title.select span{
	color: #666666;
	margin-right: 15px;
}
.lui_modeling_nav_portal .lui_modeling_nav_portal_title i{
    width: 12px;
    height: 12px;
    background: url(../images/nav/Path@2x.png) no-repeat center;
    background: url(../images/nav/Path.png) no-repeat center \9;
    background-size: contain;
    position: absolute;
    top: 50%;
    margin-top: -6px;
    right: 0;
}

.treediv a, #treediv a, #DIV_Tree a {
	display: inline-block;
	vertical-align: middle;
	/* font-size: 12px; */
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 250px;
}