<?xml version="1.0" encoding="UTF-8"?>
<beans 
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd" 
    xmlns="http://www.springframework.org/schema/beans" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <bean 
        class="com.landray.kmss.hr.organization.actions.HrOrganizationElementAction" 
        parent="KmssBaseAction" 
        name="/hr/organization/hr_organization_element/hrOrganizationElement.do" 
        lazy-init="true">
        <property 
            name="formType" 
            value="com.landray.kmss.hr.organization.forms.HrOrganizationElementForm"/>
        <property 
            name="forwards">
             <map>
             	<entry 
                    key="view" 
                    value="/hr/organization/hr_organization_tree/orgInfo/orgInfo.jsp"/>
             	<entry 
                    key="edit" 
                    value="/hr/organization/hr_organization_tree/orgInfo/edit.jsp"/>                    
            	<entry 
                    key="disableData" 
                    value="/hr/organization/hr_organization_element/disable/hrOrganizationElement_data.jsp"/>
                <entry 
                    key="data" 
                    value="/hr/organization/hr_organization_tree/hrOrganizationElement_data.jsp"/>
                <entry 
                    key="elementList" 
                    value="/hr/organization/hr_organization_tree/hrOrganizationElement_data.jsp"/>                    
                <entry 
                    key="updateCompilePage" 
                    value="/hr/organization/hr_organization_compile/hrOrganizationElement_compile_edit.jsp"/>
             </map>
        </property>
    </bean>
    <bean 
        class="com.landray.kmss.hr.organization.actions.HrOrganizationPersonAction" 
        parent="KmssBaseAction" 
        name="/hr/organization/hr_organization_person/hrOrganizationPerson.do" 
        lazy-init="true">
        <property 
            name="forwards">
            <map/>
        </property>
    </bean>
    <bean 
        class="com.landray.kmss.hr.organization.actions.HrOrganizationDeptAction" 
        parent="KmssBaseAction" 
        name="/hr/organization/hr_organization_dept/hrOrganizationDept.do" 
        lazy-init="true">
        <property 
            name="formType" 
            value="com.landray.kmss.hr.organization.forms.HrOrganizationDeptForm"/>
        <property 
            name="forwards">
            <map>
          	 	<entry 
                  key="edit" 
                  value="/hr/organization/hr_organization_tree/orgInfo/edit.jsp"/>                 
            </map>
        </property>
    </bean>
    <bean 
        class="com.landray.kmss.hr.organization.actions.HrOrganizationPostAction" 
        parent="KmssBaseAction" 
        name="/hr/organization/hr_organization_post/hrOrganizationPost.do" 
        lazy-init="true">
        <property 
            name="formType" 
            value="com.landray.kmss.hr.organization.forms.HrOrganizationPostForm"/>
        <property 
            name="forwards">
             <map>
            	<entry 
                    key="data" 
                    value="/hr/organization/hr_organization_post/hrOrganizationPost_data.jsp"/>
                <entry 
                    key="updateOrgPostPage" 
                    value="/hr/organization/hr_organization_post/hrOrganizationPost_edit.jsp"/>
               	<entry 
                    key="deleteOrgPostPage" 
                    value="/hr/organization/hr_organization_post/hrOrganizationPost_del.jsp"/>
                <entry 
                    key="updateCompilePage" 
                    value="/hr/organization/hr_organization_post/hrOrganizationPost_compile_edit.jsp"/>
                <entry 
                    key="disableData" 
                    value="/hr/organization/hr_organization_post/disable/hrOrganizationPost_data.jsp"/>
            </map>
        </property>
    </bean>
    <bean 
        class="com.landray.kmss.hr.organization.actions.HrOrganizationOrgAction" 
        parent="KmssBaseAction" 
        name="/hr/organization/hr_organization_org/hrOrganizationOrg.do" 
        lazy-init="true">
        <property 
            name="formType" 
            value="com.landray.kmss.hr.organization.forms.HrOrganizationOrgForm"/>
        <property 
            name="forwards">
             <map>
            	<entry 
                  key="edit" 
                  value="/hr/organization/hr_organization_org/hrOrganizationOrg_edit.jsp"/>
             </map>
        </property>
    </bean>
    <bean 
        class="com.landray.kmss.hr.organization.actions.HrOrganizationPostSeqAction" 
        parent="KmssBaseAction" 
        name="/hr/organization/hr_organization_post_seq/hrOrganizationPostSeq.do" 
        lazy-init="true">
        <property 
            name="formType" 
            value="com.landray.kmss.hr.organization.forms.HrOrganizationPostSeqForm"/>
        <property 
            name="forwards">
            <map>
            	<entry 
                    key="data" 
                    value="/hr/organization/hr_organization_post_seq/hrOrganizationPostSeq_data.jsp"/>
                <entry 
                    key="updatePostSeqPage" 
                    value="/hr/organization/hr_organization_post_seq/hrOrganizationPostSeq_edit.jsp"/>
                <entry 
                    key="delPostSeqPage" 
                    value="/hr/organization/hr_organization_post_seq/hrOrganizationPostSeq_del.jsp"/>
                <entry 
                    key="dialogData" 
                    value="/hr/organization/hr_organization_post_seq/hrOrganizationPostSeq_dialogData.jsp"/>
            </map>
        </property>
    </bean>
    <bean 
        class="com.landray.kmss.hr.organization.actions.HrOrganizationConPostAction" 
        parent="KmssBaseAction" 
        name="/hr/organization/hr_organization_con_post/hrOrganizationConPost.do" 
        lazy-init="true">
        <property 
            name="formType" 
            value="com.landray.kmss.hr.staff.forms.HrStaffTrackRecordForm"/>
        <property 
            name="forwards">
             <map>
            	<entry 
                    key="data" 
                    value="/hr/organization/hr_organization_con_post/hrOrganizationConPost_data.jsp"/>
                <entry 
                    key="updateConPostPage" 
                    value="/hr/organization/hr_organization_con_post/hrOrganizationConPost_edit.jsp"/>
                <entry 
                    key="delConPostPage" 
                    value="/hr/organization/hr_organization_con_post/hrOrganizationConPost_del.jsp"/>
                <entry 
                    key="finishConPostPage" 
                    value="/hr/organization/hr_organization_con_post/hrOrganizationConPost_finish.jsp"/>
                <entry
					key="list"
					value="/hr/staff/hr_staff_person_track_record/list.jsp" />
            </map>
        </property>
    </bean>
    <bean 
        class="com.landray.kmss.hr.organization.actions.HrOrganizationRankAction" 
        parent="KmssBaseAction" 
        name="/hr/organization/hr_organization_rank/hrOrganizationRank.do" 
        lazy-init="true">
        <property 
            name="formType" 
            value="com.landray.kmss.hr.organization.forms.HrOrganizationRankForm"/>
        <property 
            name="forwards">
            <map>
                <entry 
                    key="data" 
                    value="/hr/organization/hr_organization_rank/hrOrganizationRank_data.jsp"/>
                    <entry 
                    key="dialog" 
                    value="/hr/organization/hr_organization_rank/hrOrganizationRank_dialog.jsp"/>
                    
               	<entry 
                    key="updateRankPage" 
                    value="/hr/organization/hr_organization_rank/hrOrganizationRank_edit.jsp"/>
                <entry 
                    key="deleteRankPage" 
                    value="/hr/organization/hr_organization_rank/hrOrganizationRank_del.jsp"/>
            </map>
        </property>
    </bean>
    <bean 
        class="com.landray.kmss.hr.organization.actions.HrOrganizationGradeAction" 
        parent="KmssBaseAction" 
        name="/hr/organization/hr_organization_grade/hrOrganizationGrade.do" 
        lazy-init="true">
        <property 
            name="formType" 
            value="com.landray.kmss.hr.organization.forms.HrOrganizationGradeForm"/>
        <property 
            name="forwards">
            <map>
                <entry 
                    key="data" 
                    value="/hr/organization/hr_organization_grade/hrOrganizationGrade_data.jsp"/>
                <entry 
                    key="updateGradePage" 
                    value="/hr/organization/hr_organization_grade/hrOrganizationGrade_edit.jsp"/>
                <entry 
                    key="deleteGradePage" 
                    value="/hr/organization/hr_organization_grade/hrOrganizationGrade_del.jsp"/>
            </map>
        </property>
    </bean>
    <bean 
        class="com.landray.kmss.hr.organization.actions.HrOrganizationLogAction" 
        parent="KmssBaseAction" 
        name="/hr/organization/hr_organization_log/hrOrganizationLog.do" 
        lazy-init="true">
        <property 
            name="formType" 
            value="com.landray.kmss.hr.organization.forms.HrOrganizationLogForm"/>
        <property 
            name="forwards">
            <map>
            	<entry 
                    key="view" 
                    value="/hr/organization/hr_organization_log/hrOrganizationLog_view.jsp"/>
            	<entry 
                    key="list" 
                    value="/hr/organization/hr_organization_log/hrOrganizationLog_list.jsp"/>                    
            </map>
        </property>
    </bean>
    <bean 
        class="com.landray.kmss.hr.organization.actions.HrOrganizationStaffingLevelAction" 
        parent="KmssBaseAction" 
        name="/hr/organization/hr_organization_staffing_level/hrOrganizationStaffingLevel.do" 
        lazy-init="true">
        <property 
            name="formType" 
            value="com.landray.kmss.sys.organization.forms.SysOrganizationStaffingLevelForm"/>
        <property 
            name="forwards">
            <map>
                <entry 
                    key="list" 
                    value="/hr/organization/hr_organization_staffing_level/hrOrganizationStaffingLevel_list.jsp"/>
                <entry 
                    key="dialogData" 
                    value="/hr/organization/hr_organization_staffing_level/hrOrganizationStaffingLevel_dialogData.jsp"/>
                <entry 
                    key="editStaffingLevelPage" 
                    value="/hr/organization/hr_organization_staffing_level/hrOrganizationStaffingLevel_edit.jsp"/>
               <entry 
                    key="deleteStaffingLevelPage" 
                    value="/hr/organization/hr_organization_staffing_level/hrOrganizationStaffingLevel_del.jsp"/>
               <entry 
                    key="fileUpload" 
                    value="/hr/organization/hr_organization_staffing_level/hrOrganizationStaffingLevel_import.jsp"/>
            </map>
        </property>
    </bean>
    <bean
		name="/hr/organization/hr_organization_chart/hrOrganizationChart.do"
		class="com.landray.kmss.hr.organization.actions.HrOrganizationChartAction"
		lazy-init="true"
		parent="KmssBaseAction">
	</bean>
	<bean
		name="/hr/organization/hr_org_file_author/hrOrgFileAuthor.do"
		class="com.landray.kmss.hr.organization.actions.HrOrgFileAuthorAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.hr.organization.forms.HrOrgFileAuthorForm" />
		<property name="forwards">
			<map>
				<entry
					key="view"
					value="/hr/organization/hr_organization_file_author/hrOrgFileAuthor_view.jsp" />
				<entry
					key="edit"
					value="/hr/organization/hr_organization_file_author/hrOrgFileAuthor_edit.jsp" />
				<entry
					key="list"
					value="/hr/organization/hr_organization_file_author/hrOrgFileAuthor_list.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/hr/organization/hr_organization_recent_contact/hrOrganizationRecentContact.do"
		class="com.landray.kmss.hr.organization.actions.HrOrganizationRecentContactAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.hr.organization.forms.HrOrganizationRecentContactForm" />
		<property name="forwards">
			<map>
				<entry
					key="view"
					value="/hr/organization/hr_organization_recent_contact/hrOrganizationRecentContact_view.jsp" />
				<entry
					key="edit"
					value="/hr/organization/hr_organization_recent_contact/hrOrganizationRecentContact_edit.jsp" />
				<entry
					key="list"
					value="/hr/organization/hr_organization_recent_contact/hrOrganizationRecentContact_list.jsp" />
			</map>
		</property>
	</bean>
</beans>
