<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean
		name="/sys/xform/maindata/jdbc_data_set/xFormjdbcDataSet.do"
		class="com.landray.kmss.sys.xform.maindata.actions.SysFormJdbcDataSetAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.xform.maindata.forms.SysFormJdbcDataSetForm" />
		<property name="forwards">
			<map>
				<entry
					key="view"
					value="/sys/xform/maindata/jdbc_data_set/xFormJdbcDataSet_view.jsp" />
				<entry
					key="edit"
					value="/sys/xform/maindata/jdbc_data_set/xFormJdbcDataSet_edit.jsp" />
				<entry
					key="manageList"
					value="/sys/xform/maindata/jdbc_data_set/xFormJdbcDataSet_ui_include.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/sys/xform/maindata/jdbc_data_set/xFormJdbcDataSetIndex.do"
		class="com.landray.kmss.sys.xform.maindata.actions.SysFormJdbcDataSetIndexAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.xform.maindata.forms.SysFormJdbcDataSetForm" />
		<property name="forwards">
			<map>
				<entry
					key="list"
					value="/sys/xform/maindata/jdbc_data_set/xFormJdbcDataSet_ui_list.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/sys/xform/maindata/main_data_insystem/sysFormMainDataInsystem.do"
		class="com.landray.kmss.sys.xform.maindata.actions.SysFormMainDataInsystemAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.xform.maindata.forms.SysFormMainDataInsystemForm" />
		<property name="forwards">
			<map>
				<entry
					key="view"
					value="/sys/xform/maindata/main_data_insystem/xFormMainDataInsystem_view.jsp" />
				<entry
					key="edit"
					value="/sys/xform/maindata/main_data_insystem/xFormMainDataInsystem_edit.jsp" />
				<entry
					key="list"
					value="/sys/xform/maindata/main_data_insystem/xFormMainDataInsystem_ui_list.jsp" />
				<entry
					key="queryPreviewList"
					value="/sys/xform/maindata/main_data_insystem/xFormMainDataInsystem_edit_queryList.jsp" />
				<entry
					key="manageList"
					value="/sys/xform/maindata/main_data_insystem/xformInsystemData_ui_include.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/sys/xform/maindata/main_data_custom/sysFormMainDataCustom.do"
		class="com.landray.kmss.sys.xform.maindata.actions.SysFormMainDataCustomAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.xform.maindata.forms.SysFormMainDataCustomForm" />
		<property name="forwards">
			<map>
				<entry
					key="view"
					value="/sys/xform/maindata/main_data_custom/xFormMainDataCustom_view.jsp" />
				<entry
					key="edit"
					value="/sys/xform/maindata/main_data_custom/xFormMainDataCustom_edit.jsp" />
				<entry
					key="editDataCustomList"
					value="/sys/xform/maindata/main_data_custom/edit_dataCustomList.jsp" />
				<entry
					key="oldView"
					value="/sys/xform/maindata/main_data_custom/xFormMainDataCustom_oldVersion_view.jsp" />
				<entry
					key="oldEdit"
					value="/sys/xform/maindata/main_data_custom/xFormMainDataCustom_oldVersion_edit.jsp" />
				<entry
					key="list"
					value="/sys/xform/maindata/main_data_custom/xFormMainDataCustom_ui_list.jsp" />
				<entry
					key="manageList"
					value="/sys/xform/maindata/main_data_custom/xFormCustomData_ui_include.jsp" />
			</map>
		</property>
	</bean>
	
	<bean
		name="/sys/xform/maindata/main_data_custom/sysFormMainDataCustomList.do"
		class="com.landray.kmss.sys.xform.maindata.actions.SysFormMainDataCustomListAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.xform.maindata.forms.SysFormMainDataCustomListForm" />
		<property name="forwards">
			<map>
				<entry
					key="editDataCustomList"
					value="/sys/xform/maindata/main_data_custom/edit_dataCustomList.jsp" />
			</map>
		</property>
	</bean>
	
	
	<bean
		name="/sys/xform/maindata/jdbc_data_set_category/xFormJdbcDataSetCategory.do"
		class="com.landray.kmss.sys.xform.maindata.actions.SysFormJdbcDataSetCategoryAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.xform.maindata.forms.SysFormJdbcDataSetCategoryForm" />
		<property name="forwards">
			<map>
				<entry
					key="view"
					value="/sys/xform/maindata/jdbc_data_set_category/xFormMainDataCategory_view.jsp" />
				<entry
					key="edit"
					value="/sys/xform/maindata/jdbc_data_set_category/xFormJdbcDataSetCategory_edit.jsp" />
				<entry
					key="list"
					value="/sys/xform/maindata/jdbc_data_set_category/xFormJdbcDataSetCategory_list.jsp" />
				<entry
					key="tree"
					value="/sys/xform/maindata/jdbc_data_set_category/xFormJdbcDataSetCategory_tree.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/sys/xform/maindata/main_data_show/sysFormMainDataShow.do"
		class="com.landray.kmss.sys.xform.maindata.actions.SysFormMainDataShowAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.xform.maindata.forms.SysFormMainDataShowForm" />
		<property name="forwards">
			<map>
				<entry
					key="edit"
					value="/sys/xform/maindata/main_data_show/xFormMainDataShow_edit.jsp" />
				<entry
					key="list"
					value="/sys/xform/maindata/main_data_show/xFormMainDataShow_ui_list.jsp" />
				<entry
					key="queryPreviewList"
					value="/sys/xform/maindata/main_data_show/xFormMainDataShow_edit_queryList.jsp" />
				<entry
					key="manageList"
					value="/sys/xform/maindata/main_data_show/xformShowData_ui_include.jsp" />
				<entry
					key="listMainDatas"
					value="/sys/xform/maindata/main_data_show/xformMainDatas_listtable.jsp" />
				<entry
					key="show"
					value="/sys/xform/maindata/main_data_show/xFormMainDataShow_show_new.jsp" />
				<entry
					key="showContent"
					value="/sys/xform/maindata/main_data_show/xFormMainDataShow_showContent.jsp" />
				<entry
					key="show.4m"
					value="/sys/xform/maindata/mobile/main_data_show/xFormMainDataShow_show.jsp" />
				<entry
					key="selectIcon"
					value="/sys/xform/maindata/main_data_show/icon_select.jsp" />
				<entry
					key="cardInfo"
					value="/sys/xform/maindata/main_data_show/cardInfo.jsp" />
				<entry
					key="cardInfo.4m"
					value="/sys/xform/maindata/main_data_show/mobile/cardInfo.jsp" />
				<entry
					key="cardInfoPerson"
					value="/sys/xform/maindata/main_data_show/cardInfoPerson.jsp" />
				<entry
					key="cardInfoPerson.4m"
					value="/sys/xform/maindata/main_data_show/mobile/cardInfoPerson.jsp" />
				<entry
					key="showFields"
					value="/sys/xform/maindata/main_data_show/mobile/showFields.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/sys/xform/maindata/main_data_show_relate/sysFormMainDataShowRelate.do"
		class="com.landray.kmss.sys.xform.maindata.actions.SysFormMainDataShowRelateAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.xform.maindata.forms.SysFormMainDataShowRelateForm" />
		<property name="forwards">
			<map>
				<entry
					key="show"
					value="/sys/xform/maindata/main_data_show_relate/mainDataShowRelate_listtable.jsp" />
				<entry
					key="show.4m"
					value="/sys/xform/maindata/mobile/main_data_show_relate/mainDataShowRelate_listtable.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/sys/xform/maindata/sysFormMyData.do"
		class="com.landray.kmss.sys.xform.maindata.actions.SysFormMyDataAction"
		lazy-init="true"
		parent="KmssBaseAction">
	</bean>
	<bean
		name="/sys/xform/maindata/sysFormMainDataCited.do"
		class="com.landray.kmss.sys.xform.maindata.actions.SysFormMainDataCitedAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property name="forwards">
			<map>
				<entry
					key="refList"
					value="/sys/xform/maindata/xFormMainDataRef_list.jsp" />
			</map>
		</property>
	</bean>
</beans>