.tabpanel_box {
	width: calc(100% + 30px);
    position: relative;
    left: -15px;
    margin-top: 12px;
}

.bar_tabpanel_box {
	width: 100%;
    position: relative;
    left: 0;
    margin-top: 0;
}

.tabpanel_box .tb_normal > tbody >tr > td {
	border: 1px solid  #eeeeee !important;
}

.tabpanel_box .tb_normal .inputselectsgl {
	border: 1px solid  #eeeeee !important;
}

.tabpanel_box .tb_normal .inputselectmul {
	border: 1px solid  #eeeeee !important;
}

.tabpanel_box .tb_normal .orgelement {
	border-left: 1px solid #eeeeee !important;
}

.tabpanel_box .tb_normal  .tr_normal_title {
	background: #F9F9F9 !important;
	color: #333333;
}

.tabpanel_box .lui_tabpanel_sucktop_navs_c  {
	border-bottom: 1px solid #eeeeee !important;
    background: #f8f8f8;
    height: 40px;
    padding-right: 16px;
}

.tabpanel_box .lui_tabpanel_sucktop_navs_item_r  {
    height: 12px;
    position: relative;
    top: 14px;
    border-left: 1px solid #ddd;
}
.tabpanel_box .lui_tabpanel_sucktop_navs_item_l:first-child .lui_tabpanel_sucktop_navs_item_r  {
    border-left: 0;
}

.tabpanel_box .lui_tabpanel_sucktop_navs_item_c  {
	position: relative;
    top: -12px;
    font-size: 14px;
}

.tabpanel_box .lui_tabpanel_navs_item_title  {
    font-size: 14px !important;
}

.lui-fm-stickyR {
/* 	padding-right: 1px; */
}

.lui-fm-stickyR-inner {
	padding: 0px !important;
/* 	box-shadow: 0 0 6px 0 rgba(0,0,0,0.06); */
}

.lui_tabpanel_sucktop_frame {
    min-height: 300px;
}
