<?xml version="1.0" encoding="UTF-8"?>
<beans 
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd" 
    xmlns="http://www.springframework.org/schema/beans" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <bean 
        class="com.landray.kmss.third.feishu.actions.ThirdFeishuDeptMappingAction" 
        parent="KmssBaseAction" 
        name="/third/feishu/third_feishu_dept_mapping/thirdFeishuDeptMapping.do" 
        lazy-init="true">
        <property 
            name="formType" 
            value="com.landray.kmss.third.feishu.forms.ThirdFeishuDeptMappingForm"/>
        <property 
            name="forwards">
            <map>
                <entry 
                    key="data" 
                    value="/third/feishu/third_feishu_dept_mapping/thirdFeishuDeptMapping_data.jsp"/>
                <entry 
                    key="view" 
                    value="/third/feishu/third_feishu_dept_mapping/thirdFeishuDeptMapping_view.jsp"/>
                <entry 
                    key="edit" 
                    value="/third/feishu/third_feishu_dept_mapping/thirdFeishuDeptMapping_edit.jsp"/>
            </map>
        </property>
    </bean>
    <bean 
        class="com.landray.kmss.third.feishu.actions.ThirdFeishuPersonMappingAction" 
        parent="KmssBaseAction" 
        name="/third/feishu/third_feishu_person_mapping/thirdFeishuPersonMapping.do" 
        lazy-init="true">
        <property 
            name="formType" 
            value="com.landray.kmss.third.feishu.forms.ThirdFeishuPersonMappingForm"/>
        <property 
            name="forwards">
            <map>
                <entry 
                    key="data" 
                    value="/third/feishu/third_feishu_person_mapping/thirdFeishuPersonMapping_data.jsp"/>
                <entry 
                    key="edit" 
                    value="/third/feishu/third_feishu_person_mapping/thirdFeishuPersonMapping_edit.jsp"/>
                <entry 
                    key="view" 
                    value="/third/feishu/third_feishu_person_mapping/thirdFeishuPersonMapping_view.jsp"/>
            </map>
        </property>
    </bean>
    <bean 
        class="com.landray.kmss.third.feishu.actions.ThirdFeishuDeptNoMappingAction" 
        parent="KmssBaseAction" 
        name="/third/feishu/third_feishu_dept_no_mapping/thirdFeishuDeptNoMapping.do" 
        lazy-init="true">
        <property 
            name="formType" 
            value="com.landray.kmss.third.feishu.forms.ThirdFeishuDeptNoMappingForm"/>
        <property 
            name="forwards">
            <map>
                <entry 
                    key="data" 
                    value="/third/feishu/third_feishu_dept_no_mapping/thirdFeishuDeptNoMapping_data.jsp"/>
                <entry 
                    key="view" 
                    value="/third/feishu/third_feishu_dept_no_mapping/thirdFeishuDeptNoMapping_view.jsp"/>
            </map>
        </property>
    </bean>
    <bean 
        class="com.landray.kmss.third.feishu.actions.ThirdFeishuPersonNoMappAction" 
        parent="KmssBaseAction" 
        name="/third/feishu/third_feishu_person_no_mapp/thirdFeishuPersonNoMapp.do" 
        lazy-init="true">
        <property 
            name="formType" 
            value="com.landray.kmss.third.feishu.forms.ThirdFeishuPersonNoMappForm"/>
        <property 
            name="forwards">
            <map>
                <entry 
                    key="data" 
                    value="/third/feishu/third_feishu_person_no_mapp/thirdFeishuPersonNoMapp_data.jsp"/>
                <entry 
                    key="view" 
                    value="/third/feishu/third_feishu_person_no_mapp/thirdFeishuPersonNoMapp_view.jsp"/>
            </map>
        </property>
    </bean>
    <bean 
        class="com.landray.kmss.third.feishu.actions.ThirdFeishuNotifyLogAction" 
        parent="KmssBaseAction" 
        name="/third/feishu/third_feishu_notify_log/thirdFeishuNotifyLog.do" 
        lazy-init="true">
        <property 
            name="formType" 
            value="com.landray.kmss.third.feishu.forms.ThirdFeishuNotifyLogForm"/>
        <property 
            name="forwards">
            <map>
                <entry 
                    key="data" 
                    value="/third/feishu/third_feishu_notify_log/thirdFeishuNotifyLog_data.jsp"/>
                <entry 
                    key="view" 
                    value="/third/feishu/third_feishu_notify_log/thirdFeishuNotifyLog_view.jsp"/>
            </map>
        </property>
    </bean>
    <bean 
        class="com.landray.kmss.third.feishu.actions.ThirdFeishuNotifyQueueErrAction" 
        parent="KmssBaseAction" 
        name="/third/feishu/third_feishu_notify_queue_err/thirdFeishuNotifyQueueErr.do" 
        lazy-init="true">
        <property 
            name="formType" 
            value="com.landray.kmss.third.feishu.forms.ThirdFeishuNotifyQueueErrForm"/>
        <property 
            name="forwards">
            <map>
                <entry 
                    key="data" 
                    value="/third/feishu/third_feishu_notify_queue_err/thirdFeishuNotifyQueueErr_data.jsp"/>
                <entry 
                    key="view" 
                    value="/third/feishu/third_feishu_notify_queue_err/thirdFeishuNotifyQueueErr_view.jsp"/>
            </map>
        </property>
    </bean>
    <bean
            class="com.landray.kmss.third.feishu.actions.ThirdFeishuAction"
            parent="KmssBaseAction"
            name="/third/feishu/thirdFeishu.do"
            lazy-init="true">
    </bean>
    
    <bean
		name="/third/feishu/jsapi.do"
		class="com.landray.kmss.third.feishu.actions.FeishuJsapiAction"
		lazy-init="true"
		parent="KmssBaseAction">
	</bean>
	
</beans>
