<?xml version="1.0" encoding="UTF-8"?>
<beans 
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd" 
    xmlns="http://www.springframework.org/schema/beans" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <bean 
        id="thirdFeishuDeptMappingDao" 
        class="com.landray.kmss.third.feishu.dao.hibernate.ThirdFeishuDeptMappingDaoImp" 
        parent="KmssAuthBaseDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.third.feishu.model.ThirdFeishuDeptMapping</value>
        </property>
    </bean>
    <bean 
        id="thirdFeishuDeptMappingTarget" 
        class="com.landray.kmss.third.feishu.service.spring.ThirdFeishuDeptMappingServiceImp" 
        parent="KmssExtendDataTarget">
        <property 
            name="baseDao">
            <ref 
                bean="thirdFeishuDeptMappingDao"/>
        </property>
        <property 
            name="thirdFeishuService">
            <ref 
                bean="thirdFeishuService"/>
        </property>
        <property 
            name="sysOrgElementService">
            <ref 
                bean="sysOrgElementService"/>
        </property>
        <property 
            name="thirdFeishuDeptNoMappingService">
            <ref 
                bean="thirdFeishuDeptNoMappingService"/>
        </property>
    </bean>
    <bean 
        id="thirdFeishuDeptMappingService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="thirdFeishuDeptMappingTarget"/>
        </property>
    </bean>
    <bean 
        id="thirdFeishuPersonMappingDao" 
        class="com.landray.kmss.third.feishu.dao.hibernate.ThirdFeishuPersonMappingDaoImp" 
        parent="KmssAuthBaseDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.third.feishu.model.ThirdFeishuPersonMapping</value>
        </property>
    </bean>
    <bean 
        id="thirdFeishuPersonMappingTarget" 
        class="com.landray.kmss.third.feishu.service.spring.ThirdFeishuPersonMappingServiceImp" 
        parent="KmssExtendDataTarget">
        <property 
            name="baseDao">
            <ref 
                bean="thirdFeishuPersonMappingDao"/>
        </property>
        <property 
            name="thirdFeishuService">
            <ref 
                bean="thirdFeishuService"/>
        </property>
        <property 
            name="sysOrgPersonService">
            <ref 
                bean="sysOrgPersonService"/>
        </property>
        <property 
            name="thirdFeishuPersonNoMappService">
            <ref 
                bean="thirdFeishuPersonNoMappService"/>
        </property>
    </bean>
    <bean 
        id="thirdFeishuPersonMappingService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="thirdFeishuPersonMappingTarget"/>
        </property>
    </bean>
    <bean 
        id="thirdFeishuDeptNoMappingDao" 
        class="com.landray.kmss.third.feishu.dao.hibernate.ThirdFeishuDeptNoMappingDaoImp" 
        parent="KmssAuthBaseDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.third.feishu.model.ThirdFeishuDeptNoMapping</value>
        </property>
    </bean>
    <bean 
        id="thirdFeishuDeptNoMappingTarget" 
        class="com.landray.kmss.third.feishu.service.spring.ThirdFeishuDeptNoMappingServiceImp" 
        parent="KmssExtendDataTarget">
        <property 
            name="baseDao">
            <ref 
                bean="thirdFeishuDeptNoMappingDao"/>
        </property>
    </bean>
    <bean 
        id="thirdFeishuDeptNoMappingService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="thirdFeishuDeptNoMappingTarget"/>
        </property>
    </bean>
    <bean 
        id="thirdFeishuPersonNoMappDao" 
        class="com.landray.kmss.third.feishu.dao.hibernate.ThirdFeishuPersonNoMappDaoImp" 
        parent="KmssAuthBaseDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.third.feishu.model.ThirdFeishuPersonNoMapp</value>
        </property>
    </bean>
    <bean 
        id="thirdFeishuPersonNoMappTarget" 
        class="com.landray.kmss.third.feishu.service.spring.ThirdFeishuPersonNoMappServiceImp" 
        parent="KmssExtendDataTarget">
        <property 
            name="baseDao">
            <ref 
                bean="thirdFeishuPersonNoMappDao"/>
        </property>
    </bean>
    <bean 
        id="thirdFeishuPersonNoMappService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="thirdFeishuPersonNoMappTarget"/>
        </property>
    </bean>
    <bean 
        id="thirdFeishuNotifyLogDao" 
        class="com.landray.kmss.third.feishu.dao.hibernate.ThirdFeishuNotifyLogDaoImp" 
        parent="KmssAuthBaseDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.third.feishu.model.ThirdFeishuNotifyLog</value>
        </property>
    </bean>
    <bean 
        id="thirdFeishuNotifyLogTarget" 
        class="com.landray.kmss.third.feishu.service.spring.ThirdFeishuNotifyLogServiceImp" 
        parent="KmssExtendDataTarget">
        <property 
            name="baseDao">
            <ref 
                bean="thirdFeishuNotifyLogDao"/>
        </property>
    </bean>
    <bean 
        id="thirdFeishuNotifyLogService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="thirdFeishuNotifyLogTarget"/>
        </property>
    </bean>
    <bean 
        id="thirdFeishuNotifyQueueErrDao" 
        class="com.landray.kmss.third.feishu.dao.hibernate.ThirdFeishuNotifyQueueErrDaoImp" 
        parent="KmssAuthBaseDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.third.feishu.model.ThirdFeishuNotifyQueueErr</value>
        </property>
    </bean>
    <bean 
        id="thirdFeishuNotifyQueueErrTarget" 
        class="com.landray.kmss.third.feishu.service.spring.ThirdFeishuNotifyQueueErrServiceImp" 
        parent="KmssExtendDataTarget">
        <property 
            name="baseDao">
            <ref 
                bean="thirdFeishuNotifyQueueErrDao"/>
        </property>
    </bean>
    <bean 
        id="thirdFeishuNotifyQueueErrService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="thirdFeishuNotifyQueueErrTarget"/>
        </property>
    </bean>
    
    
    <bean 
        id="thirdFeishuService" 
        class="com.landray.kmss.third.feishu.service.spring.ThirdFeishuServiceImp">
        <property 
            name="thirdFeishuDeptMappingService">
            <ref 
                bean="thirdFeishuDeptMappingService"/>
        </property>
        <property 
            name="thirdFeishuPersonMappingService">
            <ref 
                bean="thirdFeishuPersonMappingService"/>
        </property>
        <property name="sysOrgElementService">
            <ref
                    bean="sysOrgElementService"/>
        </property>
    </bean>
    
    
    <bean 
        id="synchroOrg2Feishu" 
        class="com.landray.kmss.third.feishu.oms.SynchroOrg2FeishuImp">
        <property 
            name="thirdFeishuService">
            <ref 
                bean="thirdFeishuService"/>
        </property>
        <property 
            name="sysOrgPersonService">
            <ref 
                bean="sysOrgPersonService"/>
        </property>
        <property 
            name="sysOrgElementService">
            <ref 
                bean="sysOrgElementService"/>
        </property>
        <property 
            name="thirdFeishuDeptMappingService">
            <ref 
                bean="thirdFeishuDeptMappingService"/>
        </property>
        <property
                name="thirdFeishuPersonMappingService">
            <ref
                    bean="thirdFeishuPersonMappingService"/>
        </property>
    </bean>
    
    <bean id="feishuOauth2AuthProcessingFilter"
		class="com.landray.kmss.third.feishu.sso.FeishuOauth2AuthProcessingFilter">
		<property name="autoLoginHelper">
			<ref bean="autoLoginHelper" />
		</property>
		<property name="thirdFeishuService">
			<ref bean="thirdFeishuService" />
		</property>
		<property name="thirdFeishuPersonMappingService">
			<ref bean="thirdFeishuPersonMappingService" />
		</property>
	</bean>
	
	<bean id="thirdFeishuTodoMessageProvider"
		class="com.landray.kmss.third.feishu.notify.ThirdFeishuTodoMessageProviderV2">
		<property name="thirdFeishuService">
			<ref bean="thirdFeishuService" />
		</property>
		<property name="thirdFeishuNotifyLogService">
			<ref bean="thirdFeishuNotifyLogService" />
		</property>
		<property name="thirdFeishuNotifyQueueErrService">
			<ref bean="thirdFeishuNotifyQueueErrService" />
		</property>
		<property name="thirdFeishuMsgMappService">
			<ref bean="thirdFeishuMsgMappService" />
		</property>
	</bean>
	 <bean 
        id="thirdFeishuMsgMappDao" 
        class="com.landray.kmss.third.feishu.dao.hibernate.ThirdFeishuMsgMappDaoImp" 
        parent="KmssAuthBaseDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.third.feishu.model.ThirdFeishuMsgMapp</value>
        </property>
    </bean>
    <bean 
        id="thirdFeishuMsgMappTarget" 
        class="com.landray.kmss.third.feishu.service.spring.ThirdFeishuMsgMappServiceImp" 
        parent="KmssExtendDataTarget">
        <property 
            name="baseDao">
            <ref 
                bean="thirdFeishuMsgMappDao"/>
        </property>
    </bean>
    <bean 
        id="thirdFeishuMsgMappService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="thirdFeishuMsgMappTarget"/>
        </property>
    </bean>

    <bean id="feishuPcScanLogin" class="com.landray.kmss.third.feishu.sso.FeishuPcScanLogin"></bean>

    <bean id="feishuApprovalEventListener" class="com.landray.kmss.third.feishu.listener.FeishuApprovalEventListener">
    </bean>

    <bean id="thirdFeishuApprovalResendProvider" class="com.landray.kmss.third.feishu.notify.ThirdFeishuApprovalResendProvider">
    </bean>

    <bean id="feishuPersonMappingWebService" class="com.landray.kmss.third.feishu.webservice.FeishuPersonMappingWebServiceImp">
    </bean>
</beans>
