.calendar-title{
    font-size: 18px;
    color: #333333;
    font-weight: bold;
    width: 200px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: 10px;
    left: 0;
}
.lui_calendar_header_tab div.lui_calendar_header_right{
    display: inline-block;
    width: 200px;
}
.lui_calendar_header_tab div.lui_calendar_header_left{
    width: 100%;
    float: left;
    text-align: center;
    height: 35px;
    line-height: 35px;
    border-top: 1px solid #EEEEEE !important;
}
.lui_calendar_header_tab .lui_calendar_header_left > div, .lui_calendar_header_tab .lui_calendar_header_right > div{
    color: #333333!important;
    background-color: #FFFFFF!important;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
}

.lui_calendar_header_tab .lui_calendar_header_left > div:hover, .lui_calendar_header_tab .lui_calendar_header_right > div:hover, div.lui_calendar_header_tab>div>div.lui_calendar_header_right>div.lui_calendar_header_button_on{
    color: #fff!important;
    background-color: #4285F4!important;
}
div.lui_calendar_header_tab .lui_calendar_header_left>div,div.lui_calendar_header_tab .lui_calendar_header_left{
    border:0;
}
div.lui_calendar_header_tab .lui_calendar_header_left span.lui_calendar_header_prev,div.lui_calendar_header_tab .lui_calendar_header_left span.lui_calendar_header_next{
    background-color: #fff;
    transform: scale(0.5);
}
.lui_calendar_header_tab .lui_calendar_header_right > div.lui_calendar_header_month,.lui_calendar_header_tab .lui_calendar_header_right > div.lui_calendar_header_today{
    box-sizing: border-box;
    width: 44px;
    font-size: 12px;
    text-align: center;
}
.lui_calendar_header_tab .lui_calendar_header_right > div.lui_calendar_header_refresh{
    box-sizing: border-box;
    font-size: 12px;
    text-align: center;
    height: 30px;
    line-height: 30px;
}
.lui_calendar_header_tab .lui_calendar_header_center div.lui_calendar_header_title{
    font-size: 14px;
    color: #333333;
}
div.lui_calendar_header_tab>div>div.lui_calendar_header_left>div[cal-opt]:hover,
div.lui_calendar_header_tab>div>div.lui_calendar_header_left>div[cal-opt]:hover>span
{
    background-color: #FFF!important;
}
div.lui_calendar_header_tab>div>div.lui_calendar_header_left>div.lui_calendar_header_center:hover{
    background-color: #FFF!important;
}
div.lui_calendar_frame .lui_calendar_header{
    background-color: #FFF;
}
/*.lui_toolbar_frame div.lui_toolbar_btn_l{
    width: 86px;
    height: 30px;
    line-height: 30px;
    background-color: #4285F4;
    font-size: 14px;
    color: #FFFFFF;
}*/
.lui_toolbar_frame .lui_toolbar_btn_on div.lui_toolbar_btn_l, .lui_toolbar_frame .lui_widget_btn_swh div.lui_toolbar_btn_l {
    color: #fff;
    border-color: #4285F4;
    background-color: #4285F4;
}
.lui_calendar_frame div.lui_calendar_header{
    padding: 0;
}
.lui_calendar_header_tab div.lui_calendar_header_right{
    text-align: left;
    margin-bottom: 15px;
}
/* 弹窗 */
div.lui_calendar{
    border: 1px solid #DFE3E9;
    background-color: #fff;
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.1);
    z-index: 10;
    padding:12px;
    width: 350px;
    overflow: hidden;
}
div.lui_calendar_top {
    border:0;
}
.lui_calendar_top div.lui_calendar_title{
    font-size: 16px;
    color: #FF9642;
    font-weight: bold;
    position: relative;
    padding:10px 0 12px 24px;
    width: 301px;
}
/*.lui_calendar_top div.lui_calendar_title::before{
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
   background: #FF9642;
    border-radius: 6px;
    left: 4px;
    top: 6px;
}*/
.view_sched>tbody>tr>td{
    font-size: 14px;
    text-align: left;
    color: #666666;
    vertical-align: top;
    min-height: 30px;
    line-height: 30px;

}
.view_sched>tbody>tr>td.title{
    color: #333333;
    text-align: right;
    width: 78px;
    padding: 0 10px;
}
.view_sched div.calendar_dialog{
    white-space: pre-wrap;
    max-height: 85px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    min-width:100px;
    height: auto;
    line-height: 20px;
    margin-top: 5px;
    overflow: hidden;
    text-overflow: ellipsis; /*超出则...代替*/
    -webkit-line-clamp: 4; /* 行数*/
    line-clamp: 4; /*行数*/
    max-width: 240px;
    word-break: break-all;
}
.lui_calendar_top div.lui_calendar_close{
    position: absolute;
    top: 17px;
    right: 19px;
    width: 12px;
    height: 30px;
}
.lui_calendar_top div.lui_calendar_close>img{
    width: 32px;
    height: 16px;
    margin: 0;
    position: absolute;
    right: -16px;
    top: 50%;
    margin-top: -8px;
    cursor: pointer;
    transition: background-color .3s;
}
#tr_relation_url{
    text-align: right;
    display: inline-block;
    cursor: pointer;
    font-size: 12px;
    color: #4285F4;
    float: right;
}
.fc-event-inner>p{
    position: relative;
}
.fc-event-inner>p>i{
    display: inline-block;
    position: absolute;
    height: 20px;
    width: 4px;
    left: 0;
    top: 0;
}
span.textEllipsis{
    padding-left: 10px;
}
.model-preview-icon{
    border-radius: 12px;
    width: 12px;
    height: 12px;
    background: #4285F4;
    line-height: 8px;
    margin: 15px 7px 10px 15px;
    float: left;
}
.right-arrow{
    margin-bottom: -3px;
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url(../../../resources/images/arrow-down@2x.png) no-repeat center;
    background: url(../../../resources/images/arrow-down.png) no-repeat center \9;
    background-size: contain;
    transform:rotate(90deg);
    -ms-transform:rotate(90deg); 	/* IE 9 */
    -moz-transform:rotate(90deg); 	/* Firefox */
    -webkit-transform:rotate(90deg); /* Safari 和 Chrome */
    -o-transform:rotate(90deg); 	/* Opera */
    vertical-align: -2;
}
/*
.lui_widget_btn_txt {
    color: #fff !important;
}*/

#calendar{
    margin-top: -30px;
}

ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}

.lui_calendar_header_right_month li{
    float: left;
    width: 42px;
    height: 28px;
    text-align: center;
    vertical-align: middle;
    font-size: 12px;
    color: #333333;
    line-height: 28px;
    font-weight: 400;
}
.lui_calendar_header_right_month li.lui_calendar_header_button_on{
    background: #4285F4;
    color: #FFFFFF;
}
.lui_calendar_header_right_month li:first-child{
    border-radius: 4px 0px 0px 4px;
    border: 1px solid #DDDDDD;
    cursor: pointer;
}
.lui_calendar_header_right_month li:last-child{
    border-radius: 0px 4px 4px 0px;
    border: 1px solid #DDDDDD;
    cursor: pointer;
}

.lui_calendar_header_today{
    margin-left: 15px;
}

.fc-view-basicWeek .model-fc-header.model-fc-today{
    width: 60px;
    height: 36px;
    background: #4285F4;
    border-radius: 185px;
    display: inline-block;
    line-height: 36px;
    margin-top: 12px;
}
.fc-view-basicWeek .model-fc-header.model-fc-today .model-fc-week{
    height: 18px;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    line-height: 18px;
    font-weight: 700;
}

.fc-view-basicWeek .model-fc-header.model-fc-today .model-fc-day{
    height: 18px;
    font-size: 12px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    line-height: 18px;
    font-weight: 700;
}
.fc-view-basicWeek .model-fc-header .model-fc-week{
    height: 42px;
    color: #333333;
    letter-spacing: 0;
    text-align: center;
    line-height: 42px;
    font-weight: 700;
}

.fc-view-basicWeek .model-fc-header .model-fc-day{
    color: #999999;
    letter-spacing: 0;
    text-align: center;
    line-height: 0px;
    font-weight: 700;
    height: 14px;
    font-size: 12px;
}
.lui_calendar_header_tab .lui_calendar_header_left .lui_calendar_header_prev:hover, .lui_calendar_header_tab .lui_calendar_header_left .lui_calendar_header_next:hover, .lui_calendar_header_tab .lui_calendar_header_right .lui_calendar_header_refresh:hover, .lui_calendar_header_tab .lui_calendar_header_right .lui_calendar_header_list:hover, .lui_calendar_header_tab .lui_calendar_header_right .lui_calendar_header_date:hover {
    background-position: 0 0 !important;
}
