.model-source {
    width: 100%;
    height: 550px;
    background: #FFFFFF;
    margin: auto;
    padding: 16px 0 0 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

table {
    border-spacing: 0;
    border-collapse: separate;
}

table td {
    /*padding: 0 5px;*/
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.noEllipsis{
    text-overflow: clip;
}
ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}

p {
    margin: 0;
}

.model-source-wrap {
    border-top: 1px ;
    border-left: 1px;
    border-bottom: 1px;
    border-right: 1px;
    border-color: #DDDDDD;
    border-style:dashed solid solid solid;
    height: 450px;
    overflow: hidden;
}

.model-source-wrap .model-source-title {
    font-size: 14px;
    color: #4285F4;
    line-height: 20px;
    vertical-align: middle;
    margin-bottom: 16px;
}

.model-source-wrap .model-source-title:after {
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    vertical-align: middle;
    margin-left: 6px;
    background: url(img/sourcePanel/edit_hover@2x.png) no-repeat;
    background: url(img/sourcePanel/edit_hover.png) no-repeat \9;
    background-size: 18px;
}

.model-source-wrap .model-source-msg {
    height: 32px;
    width: 100%;
    margin-bottom: 10px;
    position: relative;
}

.model-source-wrap .model-source-msg .model-source-data,
.model-source-wrap .model-source-msg .model-source-legend {
    padding: 3px 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.model-source-wrap .model-source-msg .model-source-data p,
.model-source-wrap .model-source-msg .model-source-legend li {
    display: inline-block;
    height: 26px;
    border-radius: 2px;
    margin-right: 10px !important;
    padding: 4px 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 12px;
    color: #999999;
    letter-spacing: 0;
    line-height: 18px;
    background: #f7f7f7;
    cursor: pointer;
}

.model-source-wrap .model-source-msg .model-source-legend li {
    position: relative;
}

.model-source-wrap .model-source-msg .model-source-data {
    float: left;
    position: absolute;
}

.model-source-wrap .model-source-msg .model-source-data p:first-child {
    background: #F0F0F0;
}

.model-source-wrap .model-source-msg .model-source-headline {
    position: absolute;
    left: 45%;
    height: 32px;
    line-height: 32px;
    width: 82px;
    border-radius: 2px;
    background-color: #F0F0F0;
    font-size: 12px;
    color: #666666;
    letter-spacing: 0;
    text-align: center;
    cursor: pointer;
    z-index: 2;
}

.model-source-wrap .model-source-msg .model-source-legend ul {
    position: absolute;
    right: 20px;
    vertical-align: middle;
}

.model-source-wrap .model-source-left {
    float: left;
    width: 20%;
    margin-left: 16px;
}

.model-source-wrap .model-source-right {
    height: 100%;
    width: 75%;
    float: left;
}

.model-source-wrap .model-source-time-dimension {
    width: 100%;
    height: 116px;
    /*padding: 0 20px 0 2px;*/
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;

    /* position: relative;
    z-index: 2;
    cursor: pointer; */
}

.model-source-wrap .model-source-time-dimension .model-source-time-dimension-time{
    width: 100%;
    text-align: center;
    border-right: 1px solid #DDDDDD;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    border-spacing: 0;
}

.model-source-wrap .model-source-time-dimension .model-source-time-dimension-dimension{
    float: left;
    width: 100%;
}

.model-source-wrap .model-source-time-dimension .model-source-time-dimension-dimension .model-source-time-dimension-dimension-cell{
    float: left;
    width: 5%;
    text-align: center;
    /*border-bottom: 1px solid #f0f0f0;*/
    border-right: 1px solid #f0f0f0;
}

.model-source-wrap .model-source-time-dimension .model-source-time-dimension-dimension .model-source-time-dimension-dimension-cell p{
    padding: 20px 0;
}


.model-source-wrap .model-source-table-main {

}

.model-source-wrap .model-source-table-main .model-source-table-box {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.model-source-wrap .model-source-table-main .table-fd-display {
    width: 100%;
    table-layout: fixed;
    cursor: pointer;
    position: relative;
    border-left: 1px solid #DDDDDD;
    border-top: 1px solid #DDDDDD;
}

.model-source-wrap .model-source-table-main .table-fd-display td {
    /*border-radius: 2px;*/
    height: 58px;
    /* border: 5px solid #ffffff;*/
    border-right: 1px solid #DDDDDD ;
    border-bottom: 1px solid #DDDDDD ;
    /* padding: 0;*/
}

.model-source-wrap .model-source-table-main .table-fd-display .top-row {
    height: 116px;
    text-align: center;
}

.model-source-wrap .model-source-table-main .table-fd-display .base-row {
    /* background: #F0F0F0;*/
}


.model-source-wrap .model-source-table-main .table-fd-display .base-row .row-div{
    background: #F0F0F0;
    height: 60%;
    margin: 5px 10px 5px 10px;
}

.model-source-wrap .gantt-view-grid {
    width: 100%;
    float: left;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}

.model-source-wrap .gantt-view-grid .gantt-view-grid-row{
    width: 100%;
    float: left;
}

.model-source-wrap .gantt-view-grid .gantt-view-grid-row .gantt-view-grid-row-cell{
    float: left;
    width: 5%;
    height: 58px;
    /*    border-bottom: 1px solid #f0f0f0;*/
    border-right: 1px dashed #f0f0f0;
}

.model-source-wrap .gantt-view-grid-blocks {
    /* margin-top: -25px; */
    /*padding-top: 30px;*/
}

.model-source-wrap .gantt-view-grid-blocks.active {
    border: 1px dashed #4285f4;
    position: relative;
}

.model-source-wrap .gantt-view-grid-blocks.active:before {
    content: '';
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url(../../../resources/images/edit-mask.png) repeat center;
}

.model-source-wrap .gantt-view-grid-blocks .gantt-view-block-container {
    /* height: 28px;
    padding-top: 40px; */
    position: relative;
}

.model-source-wrap .gantt-view-grid-blocks .gantt-view-block-container .gantt-view-block {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    height: 30px;
    background-color: #f0f0f0;
    /* border: 1px solid #c0c0c0; */
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

.model-source-wrap .gantt-view-grid-blocks .gantt-view-block-container .gantt-view-block-text {
    position: absolute;
    height: 12px;
    font-size: 0.8em;
    color: #999;
    line-height: 30px;
    padding-left: 10px;
    white-space: nowrap;
    width: 100%;
    box-sizing: border-box;
}



.model-source-wrap .model-source-msg .model-source-data.active:before,
.model-source-wrap .model-source-msg .model-source-headline.active:before,
.model-source-wrap .model-source-msg .model-source-legend.active li:before,
.model-source-wrap .model-source-left .table-ord.active:before,
.model-source-wrap .model-source-table-title.active:before,
.model-source-wrap .model-source-time-dimension.active:before,
.model-source-wrap .model-source-time-dimension-time.active:before,
.model-source-wrap .model-source-time-dimension-dimension.active:before,
.model-source-wrap .gantt-view-grid.active:before,
.model-edit-left-wrap .model-edit-view .model-edit-view-title .table-name.active:before,
.model-source-wrap .model-source-table-main.active table:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: url(../../../mobile/design/images/edit-mask.png) repeat center;
}

.model-source-legend {
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
}

.model-cfg-tips {
    color: #a0a0a0;
    padding-left: 18px;
    line-height: 32px;
}

table.model-view-panel-table > tr > td.td_normal_title {
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
}

body {
    overflow: hidden;
}

tr.panel_online td {
    padding-left: 0px !important;
    padding-bottom: 15px !important;
}

tr.panel_online div {
    line-height: 32px;
    color: #000000;
}

tr.panel_online div.onlineTitle {
    float: left;
    width: 16%;
    padding: 0;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow: hidden;
}

tr.panel_online div.onlineContext {
    float: left;
    width: 84%;
    padding-left: 20px;
    box-sizing: border-box;
}

.model-mask-panel-table-base table thead tr td {
    border-top: 1px solid #DFE3E9;
    font-size: 14px;
    color: #354052;
    background-color: #f6f6f6;
}

.hideClass {
    display: none;
}

.view_flag_radio div {
    display: inline-block;
    cursor: pointer;
}

#_resPanel_table_rowTitle, #_resPanel_table_colTitle {
    border: 1px solid #DFE3E9;
    border-radius: 0 0 4px 4px;
    padding: 20px;
}

#_resPanel_table_rowContext, #_resPanel_table_colContext {
    display: block;
    line-height: 30px;
}

#_resPanel_table_rowContext .modeling_formula,
#_resPanel_table_colContext .modeling_formula {
    width: 85%;
}

.model-content-item {
    height: 30px;
    padding-top: 5px;
    padding-bottom: 15px;
}

.item-title, .item-content {
    float: left;
}

#resPanelTempHtml {
    display: none;
}

.model-edit-left-wrap .model-edit-view-content {
    overflow: auto;
}

.model-edit-view-bar {
    /*margin: 15px 0px;*/
    width: 100%;
    background-color: #efefef;
    color: #000000;
    line-height: 50px;
    padding-left: 20px;
    font-size: 16px;
    cursor: pointer;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    /*position: absolute;*/
    top: 34px;
    z-index: 9;
}

.model-edit-view-bar div {
    display: inline-block;
    padding: 0 10px;
}

.model-edit-view-bar div.barActive {
    color: #679DF6;
    border-bottom: 2px solid #679DF6;
}

.model-edit-left .model-edit-view-content-bottom.active:before {
    bottom: 0px;
}

.modeling_formula .input {
    overflow: hidden;
}

.item-content .modeling_formula {

}

.width100Pe {
    width: 100%;
}

.width35Pe {
    width: 35%;
}

.width45Pe {
    width: 45%;
}

.width30Pe {
    width: 30%;
}

.model-edit-view-oper-head-title {
    width: 50%;
}

.model-edit-view-oper-head-title input {
    border: none;
    line-height: 32px;
    background-color: #F8F8F8;
    padding-left: 5px;
    width: 80%;
}

.model-edit-view-oper-head-title input:focus {
    border: 1px solid #679DF6;
    color: #679DF6;
}

/*# sourceMappingURL=sourcePanel.css.map */
.inputsgl {
    box-sizing: border-box;
    color: #333;
}

.model-view-panel-table-td textarea {
    height: 90px;
    padding: 8px;
    color: #333;
    box-sizing: border-box;
}

.tb_simple > tbody > tr > td {
    padding: 5px;
}

.item-content .view_flag_no, .item-content .view_flag_yes {
    margin-bottom: -2px;
    margin-right: 6px;
}

.onlineContext .input-time {
    border-radius: 2px 0px 0px 2px;
}

.onlineContext .input-unit {
    background-color: #fafafa;
    border-style: solid;
    border-width: 1px 1px 1px 0px;
    border-radius: 0px 2px 2px 0px;
    border-style: solid;
}

.model-edit-left .model-edit-view-content-bottom.active:before {
    background: none !important;
    width: 0;
    height: 0;
    border: 0;
    padding-right: 0;
}

.model-edit-view-content-top {
    cursor: pointer;
}

.localFocus .td_normal_title,
.localFocus .onlineTitle {
    color: #4285F4 !important;
}

.dialogDetailPreview {
    color: #4687F4;
    padding-left: 12px;
    cursor:pointer;
}
/*展示详情展示-弹出层*/
.model-source-wrap .gantt-view-grid-blocks .gantt-view-block-container .source-dialog-preview{

    /*animation: fade 1000ms infinite;*/
    /*-webkit-animation: fade 3000ms infinite;*/
}
.model-source-wrap .gantt-view-grid-blocks .gantt-view-block-container .gantt-view-block-text .preview-relative{
    display: none;
}
.model-source-wrap .gantt-view-grid-blocks .gantt-view-block-container .source-dialog-preview .preview-relative{
    position: absolute;
    left: 100%;
    top: 0px;
    display: block;
}
.model-source-wrap .gantt-view-grid-blocks .gantt-view-block-container .source-dialog-preview .preview-relative .preview-content{
    width: 300px;
    height: 200px;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #efefef;
}
.meeting_calendar_dialog_top {
    height: 54px;
    line-height: 54px;
    border-bottom: 1px solid #efefef;
    background-color: #fcfbfc;
}
.meeting_calendar_dialog_top .meeting_calendar_dialog_title {
    width: 85%;
    float: left;
    color: #868686;
    padding-left: 18px;
}
.meeting_calendar_dialog_top .meeting_calendar_dialog_title
.lui_imeeting_order_list {
    font-size: 14px;
    padding: 10px 15px;
}
.lui_imeeting_order_list{
    font-size: 14px;
    padding:10px 15px
}
.lui_imeeting_order_list ul{
    margin: 0;
    padding: 0;
}
.lui_imeeting_order_list li{
    list-style: none;
    margin: 0;
    display: table;
    width: 100%;
    padding: 5px 0;
    table-layout: fixed;
    line-height: 20px;
}
.lui_imeeting_order_list em{
    word-break: keep-all;
    font-style: normal;
    display: table-cell;
    max-width: 120px;
    min-width: 50px;
    width: 55px;
    color: #666;
}
.lui_imeeting_order_list span{
    display: table-cell;
    padding-left: 10px;
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.right-arrow{
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url(../../../resources/images/arrow-down@2x.png) no-repeat center;
    background: url(../../../resources/images/arrow-down.png) no-repeat center \9;
    background-size: contain;
    transform:rotate(90deg);
    -ms-transform:rotate(90deg); 	/* IE 9 */
    -moz-transform:rotate(90deg); 	/* Firefox */
    -webkit-transform:rotate(90deg); /* Safari 和 Chrome */
    -o-transform:rotate(90deg); 	/* Opera */
    vertical-align: -2;
}

.fdwhere-tabActive{
    float: left;
    text-align: center;
    width: 30%;
    border: 1px solid #DDDDDD;
    padding: 8px;

}

.fdwhere-tabActiveSelect{
    float: left;
    text-align: center;
    width: 30%;
    padding: 8px;
    color: #679DF6;
    border: 1px solid #679DF6;
}

.model-edit-left-wrap .model-edit-view .model-edit-view-title .table-name{
    position: absolute;
    left: 45%;
}
/** 颜色方案选择器 start **/
.model-view-panel-table-td .select-box {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 330px;
    font-size: 12px;
    line-height: 30px;
}

.model-view-panel-table-td #select-txt {
    padding-left: 8px;
    padding-right: 24px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    line-height: 30px;
    height: 30px;
    cursor: pointer;
    overflow: hidden;
    border: 1px solid #DDDDDD;
    border-radius: 2px;
    font-size: 12px;
    color: #333;
}
.model-view-panel-table-td .select-arrow {
    position: absolute;
    right: 8px;
    top: 13px;
    width: 8px;
    height: 3px;
    background: url(../../../../assembly/img/colorSet/select@2x.png);
    background-size: 8px 3px;
}
.model-view-panel-table-td .option-list {
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
    border-radius: 0 0 2px 2px;
    width: 100%;
    position: absolute;
    top: 30px;
    left: -1px;
    z-index: 2;
    overflow: hidden;
    display: none;
}
.model-view-panel-table-td .option-list .option-list-item {
    display: block;
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: left;
    padding: 0 7px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 0;
}
.color-list {
    display: inline-block;
    vertical-align: middle;
    margin-right: 14px;
    font-size: 0;
}

.color-list li {
    width: 24px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
}

.model-view-panel-table-td .option-list .option-list-item .color-schemes-name {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    color: #333;
}
/** 颜色方案选择器 end **/
.tb_simple input.inputsgl {
    margin-right: 5px !important;
}

.onlineContext .view_flag_radio div  {
    vertical-align: middle;
}

.onlineContext .view_flag_radio div .view_flag_no {
    margin-right: 6px;
    margin-top: -3px;
    vertical-align: middle;
}

.model-view-panel-table .model-view-panel-table-td {
    padding-bottom: 0 !important;
    padding: 10px 20px !important;
}

.model-edit-view-oper.active {
    box-sizing:border-box;
}

.progress_range {
    position: absolute;
    width: 16px;
    height: 16px;
    right: -21px;
    top:0;
}

.progress_range img {
    width: 16px;
    height: 16px;
    margin-top: 7px;
}

.model-edit-view-oper-content>div div.item-title {
    top: 0;
    width: 58px!important;
}

.model-edit-view-oper-content>ul li div.item-content {
    padding-left: 68px;
}
@keyframes fade {
    from {
        background-color:rgba(70,135,244,0.4) ;
    }
    50% {
        background-color:rgba(70,135,244,1) ;
    }
    to {
        background-color:rgba(70,135,244,0.4) ;
    }
}

@-webkit-keyframes fade {
    from {
        background-color:rgba(70,135,244,0.4) ;
    }
    50% {
        background-color:rgba(70,135,244,1) ;
    }
    to {
        background-color:rgba(70,135,244,0.4) ;
    }
}
