input{
    border-radius: 2px;
}
textarea{
    border-radius: 2px;
}
textarea, .input input, .inputsgl, select {
    color: #333333;
    font-size: 12px;
}
.connect-pre-node{
    margin-right: 5px;
    cursor: pointer;
    color: #4285F4;
    position: relative;
    float: right;
    margin: 0;
    border: 0;
    line-height: normal;
    font-size: 14px;
}
.connect-pre-node::before{
    content: '';
    position: absolute;
    left: -18px;
    top: 3px;
    width: 14px;
    height: 14px;
    background: url(img/mindMap/modeling-add.png) no-repeat center;
    background-size: contain;
}

.model-mind-map-left{
    display: inline-block;
}
.model-mind-map-right{
    display: inline-block;
    float: right;
}
.model-mind-map-title{
    display: inline-block;
}
.model-mind-map-reback{
    display: inline-block;
}
.model-edit-view-bar {
    top: -5px;
}
.mind-map-root-cfg{
    padding: 0 20px;
}
.mind-map-root-cfg .model-edit-view-oper{
    margin: 0;
    padding: 0;
    border: none;
}
.item-content-view{
    display: inline-block;
    float: right;
}
.item-title{
    display: inline-block;
}
.model-data-create.model-data-operate, .model-data-create.model-data-order, .model_select_selected {
    margin-right: 20px;
}
.mind-map-display-setting{
    margin: 0 20px;
}
/*.mind-map-display-setting div{*/
/*    padding-top: 10px;*/
/*    padding-bottom: 10px;*/
/*}*/
.mind-map-option ul li{
    display: inline-block;
    width: 46%;
}
.nodeSettingTable .modeling-pam-back {
    margin-left: 20px;
    margin-top: 5px;
}
.model-mind-map-top .modeling-pam-back {
    margin-left: 1px;
}
.listviewName{
    margin-top: 5px;
}
.model-mind-map-top{
    margin-top:10px;
}
.target-form-title {
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #333333;
    width: 20%;
    font-weight: 600;
    height: 40px;
    line-height: 40px;
}
.viewThrough{
    display: inline-block;
}
.viewThrough div{
    display: inline-block;
    float: right;
}
.root-node{
    display: inline-block;
}
.root-is-connect{
    display: inline-block;
    float: right;
    line-height: 40px;
    font-size: 12px;
}
.display-field .inputsgl{
    border: none;
}
.mind-map-fdName .inputsgl{
    border: 1px solid #EEEEEE;
}
.tb_simple .inputselectsgl {
    width: 99%;
}
.cur-model-field-option{
    display: inline-block;
    width: 48%;
    height: 28px;
    border: 1.5px solid #dfdfdf;
}
.target-model-field-option{
    display: inline-block;
    width: 48%;
    border: 1.5px solid #dfdfdf;
    height: 28px;
}
.macth-relation-type-div{
    display: inline-block;
    height: 28px;
}
.mind-map-show-select .inputsgl{
    border: 1px solid #dfdfdf;
}
.node-content-setting {
    display: block;
    position: fixed;
    top: 106px;
    background-color: white;
    right: 0px;
    /* width: 478px;
     height: 480px;*/
    overflow: auto;
    z-index: 1;
}
.model-edit-view-oper-content>ul li {
    margin: 2px 3px;
}
div.value_input input {
    width: auto;
}
.content-through-tabs {
    border: 1px solid #dfdfdf;
    /* position: relative; */
    height: 30px;
    border-radius: 2px;
}
.content-tabs {
    display: flex;
    display: -webkit-flex;
    /*align-items: center;*/
    height: 30px;
    padding: 0 20px 0 4px;
    /* position: relative; */
}
.content-through-tabs>.content-through-button {
    font-size: 0;
    width: 14px;
    height: 14px;
    background: url(img/mindMap/add@2x.png) no-repeat center;
    background-size: contain;
    margin-top: -20px;
    padding-left: 15px;
    cursor: pointer;
}
.model-edit-view-oper-content>ul li{
    width: auto;
    font-size: 12px;

}
.content-tabs>li {
    font-size: 14px;
    color: #333333;
    box-sizing: border-box;
    padding: 0px 4px;
    background: #F5F6F7;
    border: 1px solid #EEEEEE;
    border-radius: 2px;
    height: 26px;
    line-height: 26px;
    /* position: relative; */
    cursor: pointer;
    word-break: keep-all;
    white-space: nowrap;
    margin-right: 4px;
}
.content-tabs li {
    width: 72px;
    height: 22px;
    background: #F5F6F7;
    border: 1px solid #EEEEEE;
    border-radius: 2px;
    list-style-type: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.mind-map-style .mind-map-option ul li{
    width: 88px;
    height: 90px;
    margin-right: 20px;
    border: 1px solid #EEEEEE;
    border-radius: 2px;
}

.mind-map-style .mind-map-option ul li.active{
    border: 1px solid #4285F4;
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.06);
    border-radius: 2px;
}
.mind-map-style .mind-map-option ul li.active:after {
    content: "";
    display: block;
    background: url(../res/img/mindMap/selected.svg) no-repeat center;
    background-size: 14px;
    width: 14px;
    height: 14px;
    margin-top: 5px;
    margin-left: 70px;
}

.mind-map-style-row {
    font-size: 0;
    width: 100px;
    height: 100px;
    background: url(img/mindMap/row@2x.png) no-repeat center;
    background-size: 70px;
    margin-top: -20px;
    padding-left: 15px;
    cursor: pointer;
}
.mind-map-style-row:hover,.mind-map-style-row.active {
    font-size: 0;
    width: 100px;
    height: 100px;
    background: url(img/mindMap/row-selected@2x.png) no-repeat center;
    background-size: 70px;
    margin-top: -20px;
    padding-left: 15px;
    cursor: pointer;
}
.mind-map-style-col {
    font-size: 0;
    width: 100px;
    height: 100px;
    background: url(img/mindMap/col@2x.png) no-repeat center;
    background-size: 70px;
    margin-top: -20px;
    padding-left: 15px;
    cursor: pointer;
}
.mind-map-style-col:hover,.mind-map-style-col.active{
    font-size: 0;
    width: 100px;
    height: 100px;
    background: url(img/mindMap/col-selected@2x.png) no-repeat center;
    background-size: 70px;
    margin-top: -20px;
    padding-left: 15px;
    cursor: pointer;
}

.model-edit-view-bar div{
    width:25%;
    text-align: center;
}
.model-edit-view-bar div.barActive {
    color: #4285F4;
}
div.sortableIcon>i {
    background: #F8F8F8;
    top: 11px;
}
.pre-node-title{
    display: inline-block;
    float: left;
    width: 40px;
    height: 30px;
    background: #FAFAFA;
    border-right: 1px solid #D9D9D9;
    border-radius: 2px;
    font-size: 12px;
    text-align: center;
}
.select_view {
    width: 100%;
    position: absolute;
    z-index: 2;
    top: 30px;
    left: 0;
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    max-height: 180px;
    overflow-y: auto;
}
.select_view .select_content_view {
    /* position: absolute; */
    left: 16px;
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    /*box-shadow: 0 1px 3px 0 rgb(0 0 0 / 15%);*/
    border-radius: 0 0 2px 2px;
    border-radius: 0px 0px 2px 2px;
    z-index: 9999;
    width: 100%;
    box-sizing: border-box;
}
.select_search_view::after {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    background: url("");
    background-size: 14px 14px;
    top: 10px;
    left: 6px;
}
.select_result_view ul li{
    list-style: circle;
}
.connect-root-tips{
    width: 310px;
    height: 34px;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #999999;
    letter-spacing: 0;
    font-weight: 400;
}
.view-through{
    display: inline-block;
}
.no-cur-field-model{
    color: #999999;
    background: #F2F2F2;
}
.no-target-field-model{
    color: #999999;
    background: #F2F2F2;
}
.no-target-model-temp{
    color: #999999;
    background: #F2F2F2;
}
.view-tip-icon{
    float: right;
    margin-right: 10px;
    font-style: italic;
}
.model-data-create.model-data-operate, .model-data-create.model-data-order, .model_select_selected {
    margin-right: 15px;
}
.common-auth-type {
    padding: 0 2px;
}
.data-filter-content .where-block-table {
    width: 99%;
    margin: 10px 2px;
}
.model-data-create {
    margin: 10px 2px;
}
.common-data-filter-value, .common-data-filter-type {
    padding: 0 2px;
}
.model-edit-view-oper {
    width: 99%;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border: 1px solid #EEEEEE;
}
.inputmul, textarea {
    border: 1px solid #EEEEEE;
}
.inputselectmul {
    border: 1px solid #EEEEEE;
}
.com_subject{
    color: #333333;
    font-size: 12px;
}
.connect-root{
    font-size: 14px;
    margin-left: 4px;
}
.fdOtherNodeView{
    font-size: 12px;
}
.tb_simple .inputsgl.positionCover {
    top: 1px;
}/*
.list-content .last-item .selectCover{
    background: #FAFAFA;
}*/
.item-title, .item-content {
    float: none;
}
.whereTr .item-title,.whereTr .item-content {
    float: left;
}
.model-panel-table-base{
    min-height: 150px;
}
.other-node-re-show .content-tabs li{
    text-align: center;
}
.mind-map-style div{
    margin: 5px 0;
}
.model-edit-right {
    border-left: 0px solid #DDDDDD;
}
.model-edit-right-wrap{
    border-left: 1px solid #DDDDDD;
}
.connect-root-config .model-mask-panel-table-show{
    height: 30px;
    width: 100%;
    border: 1px solid #dfdfdf;
    position: relative;
    cursor: pointer;
    display: inline-block;
    line-height: 25px;
}
.connect-root-config .inputsgl{
    border: none;
}

/*前端*/
.mind-map-body {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #E8ECEF;
    transition: width 0.6s ease-in-out 0.1s;
    -webkit-transition: width 0.6s ease-in-out 0.1s;
}

.mind-map-title {
    text-align: center;
    font-size: 18px;
    line-height: 26px;
    margin-top: 16px;
}

.mind-map-rightbar {
    width: 300px;
    position: fixed;
    right: -300px;
    top: 0;
    bottom: 0;
    z-index: 10;
    transition: all 0.3s;
    background: #fff;
    box-shadow: 0 0 6px 0 rgb(0 0 0 / 6%);
    border: 1px solid #DDDDDD;
    transition: right 0.6s ease-in-out 0.1s;
    -webkit-transition: right 0.6s ease-in-out 0.1s;
}

.mind-map-rightbar-btn {
    width: 32px;
    height: 32px;
    border: 1px solid #ddd;
    transform: rotate(
            45deg);
    background-color: #E8ECEF;
    background-size: contain;
    position: absolute;
    left: -16px;
    top: 50%;
    z-index: -1;
    /* margin-top: -70px; */
    cursor: pointer;
    /* background: url(../../../resources/images/rightbar/side@2x.png) no-repeat center; */
   /* background: url(../../../resources/images/rightbar/side.png) no-repeat center \9;*/
}


.mind-map-rightbar-btn i {
    width: 8px;
    height: 8px;
    /*shouqi*/
    background: url(../../../resources/images/rightbar/zhankai.png) no-repeat center;
    background-size: 8px;
    display: block;
    position: absolute;
    transform: rotate(-45deg);
    left: 5px;
    top: 16px;
}

.fullscreen.extend .mind-map-rightbar-btn i {
    background: url(../../../resources/images/rightbar/shouqi.png) no-repeat center;
    background-size: 8px;
    transform: rotate(-45deg);
    left: 6px;
    top: 16px;
}

.fullscreen.extend .mind-map-rightbar {
    right: 0px;
}

.mind-map-right-content {
    height: 100%;
}

.mind-map-right-content .mind-map-tab {
    list-style: none;
    height: 40px;
    width: 300px;
    display: block;
    background-color: #F8F8F8;;
}

.mind-map-right-content .mind-map-tab li {
    height: 40px;
    line-height: 40px;
    width: 60px;
    text-align: center;
    cursor: pointer;
    margin: 0 auto;
    margin-top: -2px;
}

.mind-map-right-content .mind-map-tab li.active {
    color: #4285F4;
    border-bottom: 2px solid #4285F4;
}

.mind-map-tab-body {
    padding: 10px 16px;
}

.mind-map-tab-body p {
    line-height: 18px;
    margin-bottom: 4px;
}

.panel-block li {
    float: left;
    width: 88px;
    margin-right: 8px;
    height: 90px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    border-radius: 2px;
    cursor: pointer;
}

.panel-block li.active {
    border: 1px solid #4285F4;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.06);
    border-radius: 2px;
}

.panel-block li.LR {
    background: url(img/mindMap/row@2x.png) no-repeat center;
    background-size: 70px;
}
.panel-block li.active.LR,.panel-block li.LR:hover {
    background: url(img/mindMap/row-selected@2x.png) no-repeat center;
    background-size: 70px;
}


.panel-block li.TB{
    background: url(img/mindMap/col@2x.png) no-repeat center;
    background-size: 70px;
}
.panel-block li.active.TB,.panel-block li.TB:hover {
    background: url(img/mindMap/col-selected@2x.png) no-repeat center;
    background-size: 70px;
}


.panel-block li.active:after {
    content: "";
    display: block;
    background: url(../res/img/mindMap/selected.svg) no-repeat center;
    background-size: 14px;
    width: 14px;
    height: 14px;
    margin-top: 5px;
    margin-left: 70px;
}

#container, canvas {
    cursor: pointer;
}
/*#container canvas {
    margin-left: 160px;
}*/

.fdLink-tips{
    font-size: 12px;
    color:#999999;
}

.model-edit-view-oper-head-title div{
    float: left;
}

.model-edit-view-oper-head-title span {
    font-size: 14px;
    color: #354052;
    display: inline-block;
    max-width: 280px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.select_union .positionCover{
    display: block;
}
.mind-map-root-cfg .model-edit-view-oper .model-edit-view-oper-content{
    padding: 6px 0px 12px 0px;
}
.mind-map-tree{
    display: inline-block;
    float: right;
}
.mind-map-tree input{
    margin-left: 20px;
}
.mind-map-show-title{
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #333333;
    width: 20%;
    font-weight: 600;
    height: 20px;
    line-height: 20px;
}
.mind-map-display-setting >div{
    padding: 10px 0;
}
.model-edit-tree-container img{
    width: 100%;
    height: 100%;
}
.model-source {
    padding: 0;
}
/*
.mind-map-root-cfg .model-edit-view-oper{
    border: 1px solid #EEEEEE;
}*/
.style_main:hover .style_main_cover{
    opacity: 1;
}

.style_main_cover .style_main_edit {
    background-color: #4285F4;
    border: 1px solid #4285F4;
    border-radius: 2px;
    width: 88px;
    height: 28px;
    line-height: 30px;
    position: relative;
    top: 40px;
    left: 40px;
    text-align: center;
    color: #fff;
    cursor: pointer;
}
.defaule-skin{
    width: 164px;
}
.mindMap_style_item{
    /*background: url(views/business/res/img/mindMap/row-selected@2x.png) no-repeat center;*/
    width: 216px;
    height: 216px;
}
.mindMap_style_box>ul>li>img{
    max-width: 100%;
    border: 2px solid transparent;
    border-radius: 4px;
}
.mindMap_style_box>ul{
    font-size: 0;
    margin-top: 12px;
}
.mindMap_style_box>ul>li{
    display: inline-block;
    text-align: center;
    margin: 0 10px;
    cursor: pointer;
    position: relative;
}
.mindMap_style_box>ul>li>span{
    display: inline-block;
    font-size: 14px;
    color: #333333;
    border-radius: 4px;
    margin-top: 8px;
    padding: 1px 5px;
}
.mindMap_style_box>ul>li.active>img{
    border: 2px solid #4285F4;
}
.mindMap_style_box>ul>li.active>span{
    color: #fff;
    background-color: #4285F4;
}
div.lui_custom_list_box_content_col_btn{
    width: 100%;
    box-sizing: content-box;
    height: 30px;
    line-height: 30px;
    text-align: right;
    border-top: 1px solid #eee;
    right: 0;
}
div.lui_custom_list_box_content_col_btn>a{
    display:inline-block;
    height:30px;
    line-height:30px;
    border-radius: 4px;
    border: 1px solid #DDDDDD;
    padding: 0 20px;
    font-size: 14px;
    color: #333333;
}
div.lui_custom_list_box_content_col_btn>a.lui_custom_list_box_content_blue_btn{
    color:#fff;
    border: 1px solid #4285f4;
}
.style_main>.select_Style{
    position: relative;
}
.style_main_cover{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 140px;
    left: 0;
    transition: all .3s;
}
.style_main>.select_Style:hover .style_main_cover{
    top: 0;
}
.mindMap_style_box>ul>li>i{
    display: block;
    background: url(../res/img/mindMap/selected.svg) no-repeat center;
    background-size: 14px;
    width: 14px;
    height: 14px;
    position: absolute;
    top:4px;
    right: 8px;
    visibility: hidden;
}
.mindMap_style_box>ul>li.active>i{
    visibility: visible;
}
.mindMap_style_box.mindMap_Skin>ul>li{
    display: inline-block;
    width: 46%;
    height: auto;
    margin: 2%;
    padding-bottom: 6px;
}
.mind-map-tab-body:after {
    content: " ";
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
}
.mind-map-tab-body{
    zoom: 1;
    background-color: #fff;
}
.mindMap_style_box.mindMap_Skin>ul>li{
    border: 2px solid #EEEEEE;
    border-radius: 4px;
}
.mindMap_style_box.mindMap_Skin>ul>li.active{
    border: 2px solid #4285F4;
}
.mindMap_style_box.mindMap_Skin>ul>li.active>span{
    color: #4285F4;
    background-color:#fff;
}
.mindMap_style_box.mindMap_Skin>ul>li.active>img{
    border: 2px solid transparent;
}
.mindMap_style_box.mindMap_Skin>ul>li>span{
    font-size: 12px;
    margin-top: 0;
}
.mind-map-right-content{
    overflow-y: scroll;
    overflow-x: hidden;
}

.g6-tooltip {
    border: 1px solid #e2e2e2;
    border-radius: 4px;
    font-size: 12px;
    color: #545454;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px 8px;
    box-shadow: rgb(174, 174, 174) 0px 0px 10px;
}