.listview_default_images{
    width: 200px;
    height: 200px;
    background: url(../res/img/treeView/treeViewMissing@2x.png) no-repeat;
    background-size: contain;
}
.listview_no_content{
    margin-top: 20%;
}
.treeviewMainContent{
    height: 98%;
}