.card_background {
    width: 344px;
    height: 620px;
    background: url(../../resource/card_preview.png) no-repeat;
    background-size: 100% 100%;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 50px;
}
.card_content{
	width: 290px;
	height: 535px;
    margin: 0 auto; 
    overflow: auto;
}
.card_preview_clear_event{
    pointer-events: none;
}
.muiPortalTabCard {
    margin-top: 0rem;
}
.mui_ekp_portal_branch_title a{
    pointer-events: none;
}
.mui_ekp_portal_tab_content{
    pointer-events: none;
}
.mui_ekp_portal_footer_btns{
    pointer-events: none;
}
.element::-webkit-scrollbar { width: 0 !important }
.element { -ms-overflow-style: none; }
.element { overflow: -moz-scrollbars-none; }