.lui_mportlet_options .inputsgl {
	width: 55%;
}

.btn_txt {
	color: blue;
}

.lui_mportlet_operations {
	margin-top: 15px;
}

.lui_mportlet_options {
	padding-top: 10px;
}

.card_table {
	width: 100%;
	overflow-y: auto;
	margin-top: 5px !important;
}

.card_tr_title {
	background-color: #d2d2d2;
	color: #ffffff;
	height: 25px;
	border-bottom: 1px solid #d2d2d2;
	border-top: 1px solid #d2d2d2;
}

.card_title {
	float: left;
	color: #3e9ece;
	cursor: pointer;
	font-weight: bold;
}

.card_config {
	float: right;
}

.preview_content{
	position: absolute;
	top: -180px;
	left: -180px;
	display:none;
	border: 1px solid rgb(0, 0, 0);
    background-color: #fff;
}