.lui_medal_cut_btn {
	display: inline-block;
	height: 25px;
	line-height: 25px;
	padding: 0px 10px;
	border-width: 1px;
	border-style: solid;
	
}
.lui_medal_cut_btn:hover{
	color: #fff;
}
.lui_medal_cut_cancel {
	background:none;
	color: #47b5e6;
	border: 1px #bbbbbb solid;
	background-color: #fafafa;
}
.lui_medal_cut_cancel:HOVER {
	color: #47b5e6;
}