{$
<div>
	<div data-lui-mark="dialog.content.inside" class="lui_dialog_content">
	                    		
	</div>
	<div data-lui-mark="dialog.content.buttons" class="lui_dialog_buttons clearfloat">
		<div data-lui-mark="dialog.content.desc" class="lui_category_desc"></div>
	</div>
</div>
$}
