{$
<div class="lui_dialog_progress_container">
	<div class="lui_dialog_progress_title"></div>
	<div class="lui_dialog_progress">
		<div class="lui_dialog_progress_bar"><em></em></div>
	</div>
</div>
$}