{$
    <div class="lui_dialog_frame">
$}
    if(layout.parent.titleConfig){
{$
	    <div class="lui_dialog_headL" data-lui-mark="dialog.nav.head">
            <div class="lui_dialog_headR">
                <div class="lui_dialog_head">
                    <div class="lui_dialog_head_left" data-lui-mark="dialog.nav.title">
					</div>
                    <div class="lui_dialog_head_right" data-lui-mark="dialog.nav.close">
                    </div>
                    <div class="clr">
                    </div>
                </div>
            </div>
        </div>
$}
    }
{$        
        <div class="lui_dialog_centerL">
            <div class="lui_dialog_centerR">
                <div class="lui_dialog_centerC">
                    <div data-lui-mark="dialog.content.frame" class="lui_dialog_container clearfloat">
                    	
                    </div>
                </div>
            </div>
        </div>
        
        <div class="lui_dialog_bottomL">
            <div class="lui_dialog_bottomR">
                <div class="lui_dialog_bottomC">
                </div>
            </div>
        </div>
    </div>
$}