.failTitle{
	background:#DD5044;
	color:#fff;
	font-size:14px;
	font-weight:bold;
	width:99%;
	text-align:left;
	background: red;
	background: -webkit-linear-gradient(#E43E3E, #D2691E , #E43E3E); 
	background: -o-linear-gradient(#E43E3E, #D2691E , #E43E3E);
	background: -moz-linear-gradient(#E43E3E, #D2691E , #E43E3E); 
	background: linear-gradient(#E43E3E, #D2691E , #E43E3E); 
	height:30px;
	line-height:30px;
	border:1px solid #eee;
	float:left;
	cursor:pointer;
	border-radius:5px 5px 0 0;
}
.title{float:left;width:85%;padding:0 10px;}
.arrow{float:right;width:5%;text-align:right;}
.div_main{border:2px solid #ddd;float:left;width:100%;padding:10px 0 10px 0;border-radius:5px;}
.txtTitle{font-size:20px;font-weight:bold;color:#4285f4;margin:20px 0;}
.failDiv{text-align:left;}
