.select_quick_content{
	position:absolute;
	z-index:99;
	border:1px solid #999;
	background:#fff;
	padding:2px;
	min-width:120px;
}
.select_quick_data{
	width:100%;
	line-height:20px;
	padding:4px 0px;
	font-size:12px;
	cursor:normal
}
.select_quick_data_enable{
	cursor:pointer;
}
.select_quick_data_enable:hover{
	background:#e9f2fd;
	font-weight:bold;
}
.select_quick_data_icon{
	width: 20px;
    height: 20px;
    float: right;
	background-image:url('../icons/radio_unchecked.png');
	background-size:100%;
}
.select_quick_data_icon_checked{
	background-image:url('../icons/radio_checked.png')
}
.quick_select_mul_data_item{
	font-size:12px;
	float:left;
	height:20px;
	line-height:20px;
	color:#1b83d8;
	margin:3px;
	cursor:pointer;
	transition:all 0.3s;
	-webkit-transition:color 0.3s;
	-moz-transition:color 0.3s;
	-ms-transition:color 0.3s;
	-o-transition:color 0.3s;
	padding-right:9px;
}
.quick_select_mul_data_item>span{
	margin:0 2px;
	display:none;
	width:5px;
}
.quick_select_mul_data_item.hignlight{
	color:#f56b6b;
	padding-right:0px;
}
.quick_select_mul_data_item.hignlight>span{
	display:inline-block;
}
.select_quick_mul_search{
	border:none !important;
	width:130px !important;
	height:20px;
	line-height:20px;
	font-size:12px;
	margin:3px 0;
}
.inputselectmul div.textarea{
	overflow:scroll;
}