@charset "utf-8";
.clearfix:after {
    content: " ";
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
}
  .clearfix {
    zoom: 1;
}
::-webkit-scrollbar{
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background: #ddd;
}
::-webkit-scrollbar-track{
    background: transparent;
}
/* 看板视图 */
.cardViewMobileConfigContainer{
    background-color: #F5F6FB;
    padding: 16px;
}
.cardViewMobileConfigCardContent{
    background-color: #fff;
    border: 1px solid #EEEEEE;
    padding: 8px;
    margin-bottom: 16px;
    border-radius: 4px;
    zoom: 1;
}
.cardViewMobileConfigCardContent::after {
    content: " ";
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
}
.cardViewMobileConfigCardCoverBox{
    float: right;
    width: 20%;
    border-radius: 4px;
    padding-top: 8px;
}
.cardViewMobileConfigCardCover{
    background-size: contain;
}
.cardViewMobileConfigCardCover.default{
    display: inline-block;
    width: 64px;
    height: 64px;
    background: url(../images/board/config-cover.png) no-repeat center center;
    background-size: 52px 36px;
    border-radius: 4px;
    background-color: #f8f8f8;
}
.cardViewMobileConfigCardTextBox{
    float: left;
    width: 74%;
}
.cardViewMobileConfigCardTextTitle{
    width: 100%;
    font-size: 15px;
    color: #979DB1;
    margin: 8px 0 8px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-weight: 600;
    word-break: break-all;
}
.cardViewMobileConfigCardTextList{
    list-style: none;
}
.cardViewMobileConfigCardTextList>li{
    display: inline-block;
    width: 30%;
    font-size: 13px;
    color: #979DB1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.viewMobileConfigCardContentMore{
    display: inline-block;
    width: 100%;
    height: 12px;
    background: url(../images/icon_down.png) no-repeat center center;
    background-size: 12px 12px;
}