

.muiCalendarTitle .muiTitleLeft{
    float: left;
    margin: 1.4rem 0 1rem 1.4rem;
    width: 70%;
}
.muiCalendarTitle .muiTitleLeft .muiTitleDay{
    height: 4rem;
    float: left;
    padding: 0 1rem 0 0;
    font-size: 4rem;
    color: #2A304A;
    letter-spacing: 0;
    font-weight: 500;
}
.muiCalendarTitle .muiTitleLeft .muiTitleWeek{
    font-size: 1.4rem;
    color: #9497A4;
    letter-spacing: 0;
    font-weight: 400;
    padding-top: 0.4rem;
}
.muiCalendarTitle .muiTitleLeft .muiTitleYear{
    font-size: 1.4rem;
    color: #9497A4;
    letter-spacing: 0;
    font-weight: 400;
    padding-top: 0.4rem;
}
.muiCalendarList{
    margin: 2rem 2rem 0rem 2rem;
}
.muiCalendarItem{
    background: #FFFFFF;
    border-bottom: 0.5px solid #EEEEEE;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    position: relative;
}
.muiCalendarItem .muiItemContent{
    width: 100%;
    display: inline-block;
}
.muiCalendarItem .muiContentTop{
    text-align: left;
    height: 2.5rem;
    line-height: 2.5rem;
}
.muiCalendarItem .muiContentLine{
    border-radius: 0.2rem 0.6rem 0.6rem 0.2rem;
    float: left;
    width: 0.4rem;
    height: 2.5rem;
    background: #4285F4;
}
.muiCalendarItem .muiContentSubject{
    margin-left: 1rem;
    font-size: 2rem;
    color: #2A304A;
    letter-spacing: 0;
    font-weight: 500;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 90%;
}
.muiCalendarItem .muiContentLeft{
    text-align: left;
    margin-left: 1rem;
    margin-top: 1rem;
    width: 100%;
    height: 100%;
}
.muiContentTable{
}
.muiCalendarItem .muiContentLeft .muiContentTable li{
    display: inline-block;
    border-radius: 0.2rem;
    color: #999999;
    letter-spacing: 0.86px;
    font-weight: 400;
    background: #FFFFFF;
    width: 100%;
}
.muiContentTable .muiSummaryTitle{
    color: #AAACB7;
    display: inline-block;
    width: 20%;
    height: 2.4rem;
    border-radius: 0.4rem;
    line-height: 2.4rem;
    text-align: left;
    font-size: 1.4rem;
    letter-spacing: 0;
    font-weight: 400;
    overflow: hidden;
}
.muiContentTable .muiSummaryContent{
    display: inline-block;
    font-size: 1.4rem;
    color: #2A304A;
    letter-spacing: 0;
    font-weight: 400;
    width: 70%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 2.4rem;
    line-height: 2.4rem;
}
.muiDropDownShade{
    border-bottom: 1px solid #EEEEEE;
    height: 2rem;
}
.muiDropDownShade i{
    content: '';
    width: 2rem;
    height: 2rem;
    background: url(../images/shouqi@2x.png) center center / contain no-repeat;
    position: absolute;
    left: 47%;
}
.muiDropDownShade i.rotate{
    content: '';
    width: 2rem;
    height: 2rem;
    background: url(../images/shouqi@2x.png) center center / contain no-repeat;
    position: absolute;
    left: 47%;
    transform: rotate(180deg);
}
.muiContentLink{
    width: 1.5rem;
    height: 1.5rem;
    background: url(../images/xiangqing@2x.png) center center / contain no-repeat;
    position: absolute;
    top: 40%;
    left: 95%;
}

.muiListNoDataImg img{
    width: 16rem;
    height: 16rem;
}
.muiListNoDataTxt.muiFontColorInfo{
    color: #AAACB7 !important;
    letter-spacing: 0;
    font-weight: 400;
}

.muiViewSwitch .mui_ekp_portal_date_btn_day{
    background: #ffffff;
    display: inline-block;
    border: 1px solid #AAACB7;
    color: #999999;
    margin-right: 0rem;
    border-radius: 4px 0 0 4px;
}
.muiViewSwitch .mui_ekp_portal_date_btn_month{
    display: inline-block;
    border: 1px solid #AAACB7;
    color: #999999;
    border-radius: 0 4px 4px 0;
    background: #ffffff;
}
.muiViewSwitch .mui_ekp_portal_date_btn_day.active,.muiViewSwitch .mui_ekp_portal_date_btn_month.active{
    color: #FFFFFF;
    background-color: #4285F4;
}
.mui_ekp_portal_date_btn.muiViewSwitch{
    float: right;
}
/***日历月视图start****/
.muiCalendarMonth .mui_ekp_portal_data_bg{
    height: 100px;
    border-radius:unset;
    background-color: #ffffff;
}
.muiCalendarMonth .active .mui_ekp_portal_data_bg{
    background: rgba(66,133,244,0.15) !important;
}
.muiCalendarMonth .schedule .mui_ekp_portal_data_bg.today{
    background: #F7F7F8 !important;
}
.muiCalendarMonth .mui_ekp_portal_date_num{
    width: 25px;
    height: 25px;
    display: inline-block;
    line-height: 25px;
    top:0px;
}
.muiCalendarMonth .active .mui_ekp_portal_date_num{
    color:inherit !important;
}
.muiCalendarMonth .schedule .today .mui_ekp_portal_date_num{
    width: 24px;
    height: 24px;
    border: 1px solid;
    border-radius: 12px;
    line-height: 24px;
    display: inline-block;
    background: #4285F4;
    color: #FFFFFF !important;
}
.muiCalendarMonth .mui_ekp_portal_date_lunar,.mui_ekp_portal_date_summary,.mui_ekp_portal_date_summary_count{
    top:0px;
}
.muiCalendarMonth .active .mui_ekp_portal_date_lunar,.muiCalendarMonth .schedule .today .mui_ekp_portal_date_lunar{
    color: #C9CAD1;
}
.muiCalendarMonth .mui_ekp_portal_date_summary{
    position: relative;
    top: 3px;
    background: rgba(66,133,244,0.15);
    border-radius: 4px;
    color: #9497A4;
    letter-spacing: 0;
    text-align: center;
    font-weight: 400;
    margin-bottom: 0.1rem;
    margin-left: 0.2rem;
    width: 36px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0rem 0.3rem;
}
.muiCalendarMonth .mui_ekp_portal_date_summary_count{
    position: relative;
    top: 1px;
    color: #9497A4;
    letter-spacing: 0;
    text-align: center;
    font-weight: 400;
}
.calendarMonthPreview{
    position: absolute;
    border-radius: 30px 30px 0 0;
    z-index: 3;
    overflow: hidden;
    background: #FFFFFF;
    box-shadow: 0px -2px 4px 0px rgb(0 0 0 / 8%);
    width: 100%;
    bottom: 110px;
    display: none;
}
.calendarMonthPreview .calendarDropdownShade{
    display: none;
}
.muiTitleRight{
    display: none;
    margin: 2rem 2.4rem 0 0;
    float: right;
}
.calendarMonthPreview .muiTitleRight{
    display: block;
}
.muiTitleRight .muiTitleCancel{
    font-size: 16px;
    color: #4285F4;
    letter-spacing: 0;
    font-weight: 400;
}
.calendarMonthPreview .CalendarListView{
    max-height: 420px;
    min-height: 300px;
}
.calendarMonthPreview.active{
    display: block;
}
.muiCalendarMonth{
    position: absolute;
    z-index: 1;
    transform: translate3d(0, -30rem, 0);
    background: #fff;
    width: 100%;
    margin-top: 1px;
    margin-bottom: 1px;
    height: 500px;
    overflow-y: auto;
}
/***日历月视图end****/
.muiCalendarScrollableView{
    height: 550px;
}
.CalendarListView.muiSignInPanelBody{
    max-height: 430px;
}

