@charset "utf-8";
body,html{
    height:100%;
}

.clearfix:after {
    content: " ";
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
}
.clearfix {
    zoom: 1;
}
::-webkit-scrollbar{
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background: #ddd;
}
::-webkit-scrollbar-track{
    background: transparent;
}
/* ViewConfig */
.viewMobileConfigContainer{

}
.viewMobileConfigCardContent{
    background-color:#fff;
    border: 1px solid #EEEEEE;
    padding: 8px;
    border-radius: 4px;
}
.viewMobileConfigCardCoverBox{
    background-color:#f8f8f8;
    width: 100%;
    height: 108px;
}
.viewMobileConfigCardCover{
    background-size: contain;
}
.viewMobileConfigCardCover.default{
    display: inline-block;
    width: 100%;
    height: 100%;
    background-size: 115px 68px;
    border-radius: 4px;
}
.viewMobileConfigCardContentMore{
    display: inline-block;
    width: 100%;
    height: 12px;
    background: url(../images/icon_down.png) no-repeat center center;
    background-size: 12px 12px;
}
.viewMobileConfigCardTextTitle{
    width: 100%;
    font-size: 15px;
    color: #2A304A;
    margin: 14px 0 8px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-weight: 600;
    word-break: break-all;
}
.viewMobileConfigCardTextList{
    list-style: none;
}
.viewMobileConfigCardTextList>li{
    display: inline-block;
    max-width: 98%;
    margin-right: 2rem;
    line-height: 2rem;
    font-size: 13px;
    color: #979DB1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.viewMobileConfigContainer.multi{
    zoom: 1;
}
.viewMobileConfigContainer.multi::after {
    content: " ";
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
}
/* 一排两个 */
.viewMobileConfigContainer.multi>.viewMobileConfigCardContent{
    float: left;
    width: 48%;
}
.viewMobileConfigContainer.multi>.viewMobileConfigCardContent:nth-child(odd){
    margin-right: 4%;
}
.viewMobileConfigContainer.multi .viewMobileConfigCardTextList li{
    width: 100%;
}

/* 无摘要 */
.viewMobileConfigCardContent.abstract{
    padding: 0 0 12px 0;
}
.viewMobileConfigCardContent.abstract .viewMobileConfigCardTextTitle{
    padding: 0 8px;
}
.viewMobileConfigCardContent.abstract ul{
    padding: 0 8px;
}
.viewMobileConfigContainer .muiDocItem:first-child{
    margin-top: 0;
}
.viewMobileConfigContainer .mblEdgeToEdgeList{
    font-size: 0;
}
.viewMobileConfigContainer .mblEdgeToEdgeList>li.S{
    display: inline-block;
    width: 46%;
    margin-left:2%;
    margin-right: 2%;
    overflow: hidden;
}
.viewMobileConfigContainer .mblEdgeToEdgeList>li{
    overflow: hidden;
}
.viewMobileConfigContainer .mblEdgeToEdgeList>li.S>a{
    display: inline-block;
    width: 100%;
    padding: 8px 0;
}
.viewMobileConfigContainer li.S.muiDocItem{
    border:0;
    padding:0;
}
.viewMobileConfigContainer .muiDocItem{
    border:0;
}