/* 沉淀   归档 */

.sediment_content,
.file_content {
	position: relative;
	height: 450px;
	/* padding: 15px 20px 20px 30px; */
	padding-bottom: 70px;
	box-sizing: border-box;
}

.sediment_content .sediment_table_box,
.file_content .file_table_box {
	height: 100%;
	overflow: auto;
	padding-left: 30px;
	padding-right: 20px;
	padding-bottom: 5px;
    border-bottom: 1px solid #eee;
}

.sediment_dialog.tb_normal,
.file_dialog.tb_normal {
    border: 0;
    text-align: left;
    margin: 0 auto;
}

.sediment_dialog > tbody > tr,
.file_dialog > tbody > tr {
	border-bottom: 0;
    border-top: 0;
}

.tb_normal > tbody >tr > .td_normal_title {
    background-color: transparent;
    padding-right: 16px;
    text-align: right;
    vertical-align: top;
    line-height: 30px;
}

.tb_normal > tbody >tr > td {
    padding: 15px 0;
    word-break: break-word;
    border: 0;
}

.heading {
	padding-bottom: 20px;
}

.heading:before {
	content: '';
	display: inline-block;
	width: 4px;
	height: 14px;
	background: #4285F4;
	vertical-align: middle;
	margin-right: 8px;
}

.sediment_dialog .inputselectsgl, body .file_dialog .inputselectsgl {
	border-bottom: 0;
	border: 1px solid #DFE3E9;
	border-radius: 2px;
	height: 28px!important;
	line-height: 28px!important;
}

.heading.msg_setting {
	padding-top: 30px;
}

.sediment_subTable,
.file_subTable {
	border-radius: 4px;
	border-collapse:collapse;
}

.sediment_subTable th,
.file_subTable th,
.sediment_subTable td,
.file_subTable td {
	border: 1px solid #eee;
	line-height: 40px;
	padding-left: 10px;
}

.sediment_subTable th,
.file_subTable th {
	font-size: 14px;
    color: #354052;
    background: #F8F8F8;
}

.sediment_subTable td,
.file_subTable td {
   font-size: 12px;
   color: #999999;
}

.sediment_subTable .td_normal_title,
.file_subTable .td_normal_title {
	width: 40%;
}

.sediment_btn,
.file_btn {
	position: absolute;
	right: 5px;
	bottom: 20px;
	font-size: 0;
	
}

.sediment_btn>div,
.file_btn>div
 {
	 width: 90px; 
	 height: 28px; 
	 margin-right: 15px;
}

.sediment_btn .lui_toolbar_btn_def .lui_toolbar_btn_l,
.file_btn .lui_toolbar_btn_def .lui_toolbar_btn_l {
	padding: 0 10px;
    height: 28px;
    line-height: 28px;
    color: #333;
    font-size: 14px;
    border: 1px solid #DDDDDD;
    border-radius: 2px;
	background-color: transparent;
}

.sediment_btn>div:first-child .lui_toolbar_btn_l,
.file_btn>div:first-child .lui_toolbar_btn_l {
	border-color: #4285f4;
	background-color: #4285f4;
	color: #fff;
}

 .file_dialog .filePerson_box {
 	line-height: 30px;
 }

 .file_dialog .filePerson_box label {
 	margin-right: 30px;
 }

 .file_dialog .filePerson_box label input {
 	margin-right: 6px;
 	vertical-align: middle;
 }
  .file_dialog .filePerson_box label span {
  	vertical-align: middle;
  }

  .filePerson_box #orgSelect {
  	font-size: 0;
  	margin-top: 5px;
  }
  
    .filePerson_box #orgSelect .inputselectsgl {
  	height: 28px;
  }

  body #orgSelect .inputselectsgl .input {
  	line-height: 28px;
  }

 .filePerson_box .mf_container {
 	height: 28px;
 }

 body #formulaSelect input {
 	width: 80% !important;
 }

 .file_dialog .oldFile>div {
 	line-height: 26px;
 }

 .file_dialog .oldFile>span {
 	display:block;
 	width: 90%;
 	font-size: 12px;
	color: #999999;
	line-height: 16px;
	padding-top: 8px;
 }
.sediment_dialog .txtstrong,
.file_dialog .txtstrong {
    margin-left: 5px;
    vertical-align: top;
    margin-top: 8px;
}