.newMui.muiFormEleWrap {
	padding-left: 1rem;
}
.newMui.muiFormEleWrap.muiFormStatusEdit.textarea .muiTextarea {
	padding: 0 1rem 1rem 0;
}
.newMui.muiFormEleWrap.muiFormStatusEdit.textarea .muiTextarea:hover,
.newMui.muiFormEleWrap.muiFormStatusEdit.textarea.showTitle .muiTextarea {
	padding-top: 2rem !important;
}
.muiFormEleWrap.textarea .muiFormEleTip {
	left: 1rem;
}