@CHARSET "UTF-8";
.muiPortalForumItem,
.muiPortalForumItem .muiPortalForumLink{
	min-height: 40px;
    padding: 15px;
}
.muiPortalForumLink {
    margin: -15px;
    background-clip: border-box;
    display: block;
}
.muiPortalForumBar{
	margin-top:0;
	margin-bottom: 8px;
	display: -webkit-box;
	font-size: 0;
    white-space: nowrap;
}
.muiPortalForumBarLeft,
.muiPortalForumBarRight{
	-webkit-box-flex: 1;
}
.muiPortalForumBarRight{
	text-align: right;
}
.muiPortalForumBarLeft > span:not(:last-child),
.muiPortalForumBarRight > span:not(:last-child){
    padding-right: 10px;
}
.muiPortalForumBarRight i{
	width: 16px;
    height: 16px;
    vertical-align: middle;
    display: inline-block;
    line-height: 16px;
    font-size: 1.2rem;
}
.muiPortalForumBarLeft > span,
.muiPortalForumBarRight > span {
    line-height: 16px;
    color: #b0b0b0;
    font-size: 1.2rem;
    display: inline-block;
}
.muiPortalForumCreatorImg{
	margin-right: 2px;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    left: auto;
    top: -2px;
    border-radius: 50%;
    background-color: #f8f8f8;
    overflow: hidden;
}
.muiPortalForumTitle,
.muiPortalForumSummary{
	margin: 0;
    line-height: 20px;
    color: #4e4e4e;
    font-size: 1.6rem;
    font-weight: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    word-wrap: break-word;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    -webkit-box-pack: center;
    box-pack: center;
    -webkit-box-align: start;
    box-align: start;
}
.muiPortalForumSummary{
	margin-top: 5px;
	color: #b0b0b0;
    font-size: 1.4rem;
}




.mui_ekp_portal_km_forum_icon_container{
    width: 2.6rem;
}

.mui_ekp_portal_km_forum_headicon {
    display: inline-block;
    width: 2.6rem;
    height: 2.6rem;
    border-radius: 50%;
    border: 1px solid #c9dfff;
    background-color: #f8f8f8;
    overflow: hidden;
}
.mui_ekp_portal_km_forum_headicon img {
    width: 100%;
}
.mui_ekp_portal_km_forum_header_base{
	height: 2.8rem;
    line-height: 2.4rem;
    font-size: 0;
}

.mui_ekp_portal_km_forum_header_base>span:not(:first-child){
	margin-left: .6rem;
}
.mui_ekp_portal_km_forum_header_base>i{
	margin-left: .6rem;
}

.mui_ekp_portal_km_forum_creator {
	font-size: var(--muiFontSizeS);
	color: var(--muiFontColorInfo);
}

.mui_ekp_portal_km_forum_middle {
    cursor: pointer;
    display: block;
     margin-top: 1.0rem;
}
.mui_ekp_portal_km_forum_title {
	font-family: PingFangSC-Regular;
    padding-top: .8rem;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.mui_ekp_portal_km_forum_muiMixContentBottom {
  padding-top: .5rem;
  width: auto;
  line-height: 1;
  margin-top: 2px;
}

.muiMixContentBItem .mui_ekp_portal_km_forum_muiMixContentBottom:after,
.muiMixContentBItem .mui_ekp_portal_km_forum_muiMixContentBottom:before{
  content: '';
  display: table;
  visibility: hidden;
}
.muiMixContentBItem .mui_ekp_portal_km_forum_muiMixContentBottom:after{ clear: both; }
.muiMixContentBItem .mui_ekp_portal_km_forum_muiMixContentBottom .mui {
  margin-right: .1rem;
  vertical-align: top;
  font-size: 1.2rem;
}

.muiMixContentNum{
	display:inline-block;
	margin-left: 1.8rem;
	cursor: pointer;
	float: right;
}

.muiMixContentBItem .mui_ekp_portal_km_forum_muiMixContentBottom .muiMixContentNum:AFTER {
	display:inline-block;
	content:'';
	width:2px;
	height:2px;
	background-color:#999FB7;
	position:relative;
	border-radius:1px;
	top:-3px;
	right:-8px;
}
.muiCardContent .muiMixContentItem .mui_ekp_portal_km_forum_muiMixContentBottom .mui {
  width: 1.2rem;
  font-size: 1.4rem;
  text-align: left;
}
.muiCardContent .muiMixContentItem .mui_ekp_portal_km_forum_muiMixContentBottom .mui.mui-eyes{
  position: relative;
  top: 1px;
  left: -2px;
}
.muiBottom{
	font-family: PingFangSC-Regular;
	letter-spacing: 0;
	line-height: 12px;
}
.muiBottomNumber{
	font-family: "landray-number", fontnumber,-apple-system, SF UI Text, Arial, PingFang SC, Hiragino Sans GB, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif;
	letter-spacing: 0;
	text-align: right;
	line-height: 13px;
	margin-right: .2rem;
}
.muiBottomTime{
	font-family: PingFangSC-Regular;
	letter-spacing: 0;
	text-align: left;
	line-height: 12px;
}
.mui_ekp_portal_km_forum_Thumb{
	display: block;
}
.mui_ekp_portal_km_forum_Thumb>p{
	background-position: 50%;
	position: relative;
	cursor: pointer;
	display: inline-block;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: transparent;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 8px;
}
.mui_ekp_portal_km_forum_top{
	position: relative;
    display: inline-block;
    color: #FFFFFF;
    height: 1.8rem;
    line-height: 1.9rem;
    padding-left: .4rem;
    padding-right: .4rem;
    border-radius: .4rem;
    background-color: #4285F4;
    font-size: var(--muiFontSizeSS);
}
.mui_ekp_portal_km_forum_essence{
    position: relative;
    display: inline-block;
    color: #FFFFFF;
    height: 1.8rem;
    line-height: 1.9rem;
    padding-left: .4rem;
    padding-right: .4rem;
    border-radius: .4rem;
    background-color: #FF6C4D;
    font-size: var(--muiFontSizeSS);
}

.mui_portal_km_forum_list .muiMixContentTopItem.muiMixContentItem:first-child { margin-top: 0; }
.mui_portal_km_forum_list .muiMixContentTopItem:first-child .muiListItem { border-top: 0; }

.mui_portal_km_forum_list li{
	display: block;
	margin: 0px;
  	padding: 1.2rem 0.2rem 1.2rem 0.2rem;
	background-color: #fff;
	position: relative;
	border:0px;
	border-radius:0px;
	border-bottom:1px solid #EAEBF0;
}
.mui_portal_km_forum_list li:last-child { border-bottom: 0; }
.mui_portal_km_forum_list li.muiMixContentItem .muiMixContentCreate{padding-left: .5rem;}
.mui_portal_km_forum_list li.muiMixContentItem .muiMixContentCreator{ margin: 0 .2rem 0 0; line-height: 2rem;}
.mui_portal_km_forum_list li.muiMixContentItem .muiMixContentCreated{ margin: 0 .2rem 0 0; }
.mui_portal_km_forum_list li.muiMixContentItem .muiMixContentCreate>div>i.mui{ top: 1px; }


.mui_portal_km_forum_top{
	clear:both;
	width:100%;
	overflow: hidden;
	display:table;
	border: none;
	margin-top: 2px;
}
.mui_portal_km_forum_icon_lock{
	font-size: 1.6rem !important;
	color: #C9CAD1;
}
.mui_portal_km_forum_icon_hot{
	font-size: 1.6rem !important;
    color: #FF7327;
}
.mui_portal_km_forum_top >div{
	vertical-align: top;
	display: table-cell; 
}
.mui_portal_km_forum_image1{
	width: 100%;
	height: 150px;
}
.mui_portal_km_forum_image2_left{
	width: 48%;
	height: 100px;
	margin-left: 2.5px
}
.mui_portal_km_forum_image2_right{
	width: 48%;
	height: 100px;
	margin-right: 2.5px
}
.mui_portal_km_forum_image3{
	width: 32%;
	height: 80px;
}
.mui_portal_km_forum_image3_mid{
	width: 32%;
	height: 80px;
	margin-left: 5px;
	margin-right: 5px;
}
.mui_km_forum_created{
	display: inline-block;
    line-height: 1;
    font-size: 1.2rem;
    float: left;
}
.mui_km_forum_bottom_line{
    position: relative;
}

.mui_km_forum_bottom_line:not(:last-child):after{
    content: " ";
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: .1rem solid #eee;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
}

.muiEkpSubContainer{
    padding:0 1.25rem;
}
.muiEkpSubHeadicon{
    display: inline-block;
    width: 4rem;
    height: 4rem;
    background-size: 4rem;
    border-radius: 2rem;
}
.muiFontColorImp {
    color: #4285F4 !important;
}
.muiEkpSubBold{
    font-weight: bold;
}
/*  */
.muiEkpSubForumManagement{
    margin:0 -1.25rem;
    padding:1.25rem;
    background: url(../images/bg2.jpg);
    background-size: 100% 100%;
}
.muiEkpSubForumInfo{
    display: inline-block;
    position: relative;
    top:-10px;
    margin-left:.6rem;
}
.muiEkpSubForumInfo>li{
    float: left;
    height:1.6rem;
    line-height: 1.6rem;
    margin-right: 1rem;
    font-size: 1.4rem;
}
.muiEkpSubForumInfo>li>.muiEkpSubLevel{
    height:100%;
    background-color: #DFEBFF;
    border-radius: 18px;
    padding:0rem .6rem;
    font-size: 1.2rem;
}
.muiEkpSubLevel>i.fontmuis {
    font-size: 12px;
}
.muiEkpSubForumDetail{
    display: flex;
    margin-top:1.8rem;
}
.muiEkpSubForumDetail>li {
    flex: 1;
    text-align: center;
}
.muiEkpSubForumDetail>li>div{
    font-family: "landray-number", fontnumber,-apple-system, SF UI Text, Arial, PingFang SC, Hiragino Sans GB, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif;
    font-size: 2.1rem;
    color: #C9CAD1;
    margin-bottom: .2rem;
}
.muiEkpSubForumDetail>li>span{
    font-size: 1.2rem;
    color: #999FB7;
}
.muiEkpSubSearch{
    position: relative;
    height: 3rem;
    line-height:3rem;
    margin:1rem 0 0 0;
}
.muiEkpSubSearch>input{
    border: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #F7F7F8;
    border-radius: 4px;
    padding: 0 2rem 0 3rem;
    font-size: 1.5rem;
}
.muiEkpSubSearch .muis-search{
    position: absolute;
    left:12px;
    color: #999FB7;
}
input[type=text]::-webkit-input-placeholder {
    color: #999FB7;
    font-size: 1.4rem;
}
.muiEkpSubForumNav{
    margin:0 -1.25rem;
    padding:0 1.25rem;
    position: relative;
    height:4rem;
    line-height: 4rem;
    border-bottom: 1px solid #eee;
}
.muiEkpSubForumNav>ul>li{
    display: inline-block;
    font-size: 1.4rem;
    color: #999FB7;
    margin-right: 2rem;
    transition: all .2s;
}
.muiEkpSubForumNav>ul>li.active {
    display: inline-block;
    font-size: 1.8rem;
    color: #2A304A;
    font-weight: bold;
}

.muiEkpSubForumNav .muis-menu{
    position: absolute;
    top:0;
    right:1.25rem;
}