<?xml version="1.0" encoding="UTF-8"?>
<plugin
	xmlns="http://www.example.org/plugin-config"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.example.org/plugin-config ../../../plugin.xsd ">
	<!-- 基本属性布局扩展 -->
	<extension point="com.landray.kmss.sys.xform.fieldlayout" model="com.landray.kmss.hr.ratify.model.HrRatifyPositive">
		 <!--转正人员 -->
	    <item name="config">
			<param name="fieldIds" value="fdPositiveStaff"></param>
			<param name="required" value="true"></param>
		    <param name="jspParams" value="hr/ratify/fieldlayout/positive/fdpositivestaff/param.jsp"></param>
			<param name="jspRunProfix" value="hr/ratify/fieldlayout/positive/fdpositivestaff/fdPositiveStaff"></param>
		</item>
		<!-- 所属部门 -->
		<item name="config">
			<param name="fieldIds" value="fdPositiveDept"></param>
			<param name="required" value="false"></param>
			<param name="jspParams" value="hr/ratify/fieldlayout/positive/fdpositivedept/param.jsp"></param>
			<param name="jspRunProfix" value="hr/ratify/fieldlayout/positive/fdpositivedept/fdPositiveDept"></param>
		</item>
		<!--直接上级 -->
		<item name="config">
			<param name="fieldIds" value="fdPositiveLeader"></param>
			<param name="required" value="false"></param>
			<param name="jspParams" value="hr/ratify/fieldlayout/positive/fdpositiveleader/param.jsp"></param>
			<param name="jspRunProfix" value="hr/ratify/fieldlayout/positive/fdpositiveleader/fdPositiveLeader"></param>
		</item>
		<!-- 入职日期 -->
	    <item name="config">
			<param name="fieldIds" value="fdPositiveEnterDate"></param>
			<param name="required" value="false"></param>
		    <param name="jspParams" value="hr/ratify/fieldlayout/positive/fdpositiveenterdate/param.jsp"></param>
			<param name="jspRunProfix" value="hr/ratify/fieldlayout/positive/fdpositiveenterdate/fdPositiveEnterDate"></param>
		</item>
		<!-- 试用期限（月） -->
		<item name="config">
			<param name="fieldIds" value="fdPositiveTrialPeriod"></param>
			<param name="required" value="false"></param>
			<param name="jspParams" value="hr/ratify/fieldlayout/positive/fdpositivetrialperiod/param.jsp"></param>
			<param name="jspRunProfix" value="hr/ratify/fieldlayout/positive/fdpositivetrialperiod/fdPositiveTrialPeriod"></param>
		</item>
		<!-- 拟转正日期 -->
		<item name="config">
			<param name="fieldIds" value="fdPositivePeriodDate"></param>
			<param name="required" value="true"></param>
			<param name="jspParams" value="hr/ratify/fieldlayout/positive/fdpositiveperioddate/param.jsp"></param>
			<param name="jspRunProfix" value="hr/ratify/fieldlayout/positive/fdpositiveperioddate/fdPositivePeriodDate"></param>
		</item>
		<!-- 批准转正日期 -->
		<item name="config">
			<param name="fieldIds" value="fdPositiveFormalDate"></param>
			<param name="required" value="true"></param>
			<param name="jspParams" value="hr/ratify/fieldlayout/positive/fdpositiveformaldate/param.jsp"></param>
			<param name="jspRunProfix" value="hr/ratify/fieldlayout/positive/fdpositiveformaldate/fdPositiveFormalDate"></param>
		</item>
		<!-- 是否同意转正
		<item name="config">
			<param name="fieldIds" value="fdPositiveFlag"></param>
			<param name="required" value="false"></param>
			<param name="jspParams" value="hr/ratify/fieldlayout/positive/fdpositiveflag/param.jsp"></param>
			<param name="jspRunProfix" value="hr/ratify/fieldlayout/positive/fdpositiveflag/fdPositiveFlag"></param>
		</item> -->
		<!-- 试用期内工作总结 -->
		<item name="config">
			<param name="fieldIds" value="fdPositiveTrialSummary"></param>
			<param name="required" value="false"></param>
			<param name="jspParams" value="hr/ratify/fieldlayout/positive/fdpositivetrialsummary/param.jsp"></param>
			<param name="jspRunProfix" value="hr/ratify/fieldlayout/positive/fdpositivetrialsummary/fdPositiveTrialSummary"></param>
		</item>
		<!-- 对本岗位的理解-->
 		<item name="config">
			<param name="fieldIds" value="fdPositivePostThink"></param>
			<param name="required" value="false"></param>
			<param name="jspParams" value="hr/ratify/fieldlayout/positive/fdpositivepostthink/param.jsp"></param>
			<param name="jspRunProfix" value="hr/ratify/fieldlayout/positive/fdpositivepostthink/fdPositivePostThink"></param>
		</item>
		<!-- 员工自我评价-->
 		<item name="config">
			<param name="fieldIds" value="fdPositiveSelfEval"></param>
			<param name="required" value="false"></param>
			<param name="jspParams" value="hr/ratify/fieldlayout/positive/fdpositiveselfeval/param.jsp"></param>
			<param name="jspRunProfix" value="hr/ratify/fieldlayout/positive/fdpositiveselfeval/fdPositiveSelfEval"></param>
		</item>
		<!-- 导师意见-->
 		<item name="config">
			<param name="fieldIds" value="fdPositiveTeacherView"></param>
			<param name="required" value="false"></param>
			<param name="jspParams" value="hr/ratify/fieldlayout/positive/fdpositiveteacherview/param.jsp"></param>
			<param name="jspRunProfix" value="hr/ratify/fieldlayout/positive/fdpositiveteacherview/fdPositiveTeacherView"></param>
		</item>
		<!-- 部门领导意见-->
 		<item name="config">
			<param name="fieldIds" value="fdPositiveLeaderView"></param>
			<param name="required" value="false"></param>
			<param name="jspParams" value="hr/ratify/fieldlayout/positive/fdpositiveleaderview/param.jsp"></param>
			<param name="jspRunProfix" value="hr/ratify/fieldlayout/positive/fdpositiveleaderview/fdPositiveLeaderView"></param>
		</item>
		<!-- 人力资源部门意见-->
 		<item name="config">
			<param name="fieldIds" value="fdPositiveHrView"></param>
			<param name="required" value="false"></param>
			<param name="jspParams" value="hr/ratify/fieldlayout/positive/fdpositivehrview/param.jsp"></param>
			<param name="jspRunProfix" value="hr/ratify/fieldlayout/positive/fdpositivehrview/fdPositiveHrView"></param>
		</item>
		<!-- 备注-->
 		<item name="config">
			<param name="fieldIds" value="fdPositiveRemark"></param>
			<param name="required" value="false"></param>
			<param name="jspParams" value="hr/ratify/fieldlayout/positive/fdpositiveremark/param.jsp"></param>
			<param name="jspRunProfix" value="hr/ratify/fieldlayout/positive/fdpositiveremark/fdPositiveRemark"></param>
		</item>
	</extension>
</plugin>