<?xml version="1.0" encoding="UTF-8"?>
<plugin
	xmlns="http://www.example.org/plugin-config"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.example.org/plugin-config ../../../../../plugin.xsd ">
    <!-- 分类/模板 -->
	<extension
		point="com.landray.kmss.sys.handover">
		<!-- 业务表单 -->
		<item
			name="config">
			<param
				name="module"
				value="com.landray.kmss.sys.modeling.base.model.ModelingAppModel" />
			<param 
				name="messageKey" 
				value="sys-modeling-base:table.modelingAppModelHandover"/>
			<param 
				name="provider" 
				value="com.landray.kmss.sys.handover.support.config.catetemplate.CateTempProvider"/>
			<param 
				name="order" 
				value="1"/>
		</item>
		<!-- 流程设计 -->
		<item
				name="config">
			<param
					name="module"
					value="com.landray.kmss.sys.modeling.base.model.ModelingAppFlow" />
			<param
					name="messageKey"
					value="sys-modeling-base:table.modelingAppFlowHandover"/>
			<param
					name="provider"
					value="com.landray.kmss.sys.handover.support.config.catetemplate.CateTempProvider"/>
			<param
					name="order"
					value="2"/>
		</item>
		<!-- 应用 -->
		<item
				name="config">
			<param
					name="module"
					value="com.landray.kmss.sys.modeling.base.model.ModelingApplication" />
			<param
					name="messageKey"
					value="sys-modeling-base:table.modelingApplicationHandover"/>
			<param
					name="provider"
					value="com.landray.kmss.sys.modeling.handover.SysModelingApplicationProvider"/>
			<param
					name="order"
					value="3"/>
		</item>
		<!-- 业务导航 -->
		<item
				name="config">
			<param
					name="module"
					value="com.landray.kmss.sys.modeling.base.profile.model.ModelingAppNav" />
			<param
					name="messageKey"
					value="sys-modeling-base:table.modelingAppNavHandover"/>
			<param
					name="provider"
					value="com.landray.kmss.sys.modeling.handover.SysModelingAppNavProvider"/>
			<param
					name="order"
					value="4"/>
		</item>
		<!-- 首頁設置 -->
		<item
				name="config">
			<param
					name="module"
					value="com.landray.kmss.sys.modeling.base.mobile.model.ModelingAppMobile" />
			<param
					name="messageKey"
					value="sys-modeling-base:table.modelingAppMobileHandover"/>
			<param
					name="provider"
					value="com.landray.kmss.sys.modeling.handover.SysModelingAppMobileProvider"/>
			<param
					name="order"
					value="5"/>
		</item>
		<!-- 列表视图 -->
		<item
				name="config">
			<param
					name="module"
					value="com.landray.kmss.sys.modeling.base.views.collection.model.ModelingAppCollectionView" />
			<param
					name="messageKey"
					value="sys-modeling-base:table.modelingAppCollectionViewHandover"/>
			<param
					name="provider"
					value="com.landray.kmss.sys.modeling.handover.SysModelingAppCollectionViewProvider"/>
			<param
					name="order"
					value="6"/>
		</item>
		<!-- 旧版列表视图-PC -->
		<item
				name="config">
			<param
					name="module"
					value="com.landray.kmss.sys.modeling.base.model.ModelingAppListview" />
			<param
					name="messageKey"
					value="sys-modeling-base:table.modelingAppListviewHandover"/>
			<param
					name="provider"
					value="com.landray.kmss.sys.modeling.handover.SysModelingAppListviewProvider"/>
			<param
					name="order"
					value="7"/>
		</item>
		<!-- 旧版列表视图-PCAndMobile -->
		<item
				name="config">
			<param
					name="module"
					value="com.landray.kmss.sys.modeling.base.pcmobile.model.ModelingPcAndMobileListView" />
			<param
					name="messageKey"
					value="sys-modeling-base:table.modelingPcAndMobileListViewHandover"/>
			<param
					name="provider"
					value="com.landray.kmss.sys.modeling.handover.SysModelingPcAndMobileProvider"/>
			<param
					name="order"
					value="8"/>
		</item>
		<!-- 旧版查看视图-PCAndMobile -->
		<item
				name="config">
			<param
					name="module"
					value="com.landray.kmss.sys.modeling.base.pcmobile.model.ModelingPcAndMobileView" />
			<param
					name="messageKey"
					value="sys-modeling-base:table.modelingPcAndMobileViewHandover"/>
			<param
					name="provider"
					value="com.landray.kmss.sys.modeling.handover.SysModelingPcAndMobileProvider"/>
			<param
					name="order"
					value="9"/>
		</item>
		<!-- 资源面板 -->
		<item
				name="config">
			<param
					name="module"
					value="com.landray.kmss.sys.modeling.base.business.model.ModelingResourcePanel" />
			<param
					name="messageKey"
					value="sys-modeling-base:table.modelingResourcePanelHandover"/>
			<param
					name="provider"
					value="com.landray.kmss.sys.modeling.handover.SysModelingBusinessProvider"/>
			<param
					name="order"
					value="10"/>
		</item>
		<!-- 甘特图 -->
		<item
				name="config">
			<param
					name="module"
					value="com.landray.kmss.sys.modeling.base.business.model.ModelingGantt" />
			<param
					name="messageKey"
					value="sys-modeling-base:table.modelingGanttHandover"/>
			<param
					name="provider"
					value="com.landray.kmss.sys.modeling.handover.SysModelingBusinessProvider"/>
			<param
					name="order"
					value="11"/>
		</item>
		<!-- 思维导图 -->
		<item
				name="config">
			<param
					name="module"
					value="com.landray.kmss.sys.modeling.base.business.model.ModelingMindMap" />
			<param
					name="messageKey"
					value="sys-modeling-base:table.modelingMindMapHandover"/>
			<param
					name="provider"
					value="com.landray.kmss.sys.modeling.handover.SysModelingBusinessProvider"/>
			<param
					name="order"
					value="12"/>
		</item>
		<!-- 树形视图 -->
		<item
				name="config">
			<param
					name="module"
					value="com.landray.kmss.sys.modeling.base.treeview.model.ModelingTreeView" />
			<param
					name="messageKey"
					value="sys-modeling-base:table.modelingTreeViewHandover"/>
			<param
					name="provider"
					value="com.landray.kmss.sys.modeling.handover.SysModelingBusinessProvider"/>
			<param
					name="order"
					value="13"/>
		</item>
		<!-- 日历视图 -->
		<item
				name="config">
			<param
					name="module"
					value="com.landray.kmss.sys.modeling.base.business.model.ModelingCalendar" />
			<param
					name="messageKey"
					value="sys-modeling-base:table.modelingCalendarHandover"/>
			<param
					name="provider"
					value="com.landray.kmss.sys.modeling.handover.SysModelingCalendarProvider"/>
			<param
					name="order"
					value="14"/>
		</item>

		<item name="config">
			<!-- 旧版列表视图-Mobile -->
			<param
					name="module"
					value="com.landray.kmss.sys.modeling.base.mobile.model.ModelingAppMobileListView" />
			<param
					name="messageKey"
					value="sys-modeling-base:table.modelingAppMobileListViewHandover" />
			<param
					name="provider"
					value="com.landray.kmss.sys.modeling.handover.SysModelingMobileListViewProvider" />
			<param
					name="order"
					value="15"/>
		</item>
		<item name="config">
			<!-- 操作权限 -->
			<param
					name="module"
					value="com.landray.kmss.sys.modeling.auth.model.SysModelingAuthRole" />
			<param
					name="messageKey"
					value="sys-modeling-base:table.modelingAuthRoleHandover" />
			<param
					name="provider"
					value="com.landray.kmss.sys.modeling.handover.SysModelingAuthRoleProvider" />
			<param
					name="order"
					value="16"/>
		</item>
		<item name="config">
			<!-- 业务空间PC首页权限 -->
			<param
					name="module"
					value="com.landray.kmss.sys.modeling.base.space.model.ModelingAppSpace" />
			<param
					name="messageKey"
					value="sys-modeling-base:table.modelingAppSpaceHandover" />
			<param
					name="provider"
					value="com.landray.kmss.sys.modeling.handover.SysModelingAppSpaceProvider" />
			<param
					name="order"
					value="17"/>
		</item>
	</extension>
	
	<extension
		point="com.landray.kmss.sys.handover.doc.auth">
		<!-- 主文档（有流程） -->
		<item
			name="config">
			<param
				name="module"
				value="com.landray.kmss.sys.modeling.main.model.ModelingAppModelMain" />
			<param 
				name="messageKey" 
				value="sys-modeling-base:table.modelingMainHandover"/>
			<param 
				name="provider" 
				value="com.landray.kmss.sys.modeling.handover.SysModelingDocAuthProvider"/>
			<param 
				name="order" 
				value="3"/>
		</item>
		<!-- 主文档（无流程） -->
		<item
				name="config">
			<param
					name="module"
					value="com.landray.kmss.sys.modeling.main.model.ModelingAppSimpleMain" />
			<param
					name="messageKey"
					value="sys-modeling-base:table.modelingSimpleMainHandover"/>
			<param
					name="provider"
					value="com.landray.kmss.sys.modeling.handover.SysModelingDocAuthProvider"/>
			<param
					name="order"
					value="4"/>
		</item>
	</extension>
</plugin>