<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean
		name="/resource/third/wx/cpEndpoint.do"
		class="com.landray.kmss.third.weixin.sso.WxCpEndpointAction"
		lazy-init="true"
		parent="KmssBaseAction">
	</bean>
	<bean
		name="/third/wx/menu/wxMenu.do"
		class="com.landray.kmss.third.weixin.spi.actions.WxMenuAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.third.weixin.spi.forms.WxMenuForm" />
		<property name="forwards">
			<map>
				<entry
					key="edit"
					value="/third/weixin/menu/editWxMenu.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/third/wx/menu/wxMenuDefine.do"
		class="com.landray.kmss.third.weixin.spi.actions.WxMenuDefineAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.third.weixin.spi.forms.WxMenuForm" />
		<property name="forwards">
			<map>
				<entry
					key="edit"
					value="/third/weixin/menu/wxMenu_edit.jsp" />
				<entry
					key="view"
					value="/third/weixin/menu/wxMenu_view.jsp" />
				<entry
					key="data"
					value="/third/weixin/menu/wxMenu_data.jsp" />
				<entry
					key="list"
					value="/third/weixin/menu/wxMenu_list.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/resource/third/weixin/attachment.do"
		class="com.landray.kmss.third.weixin.attachment.action.WeixinAttachmentAction"
		lazy-init="true"
		parent="KmssBaseAction">
	</bean>
	<bean
		name="/third/wx/jsapi/wxJsapi.do"
		class="com.landray.kmss.third.weixin.action.WxJsapiAction"
		lazy-init="true"
		parent="KmssBaseAction">
	</bean>
	<bean
		name="/third/wx/weixinSynchroOrgCheck.do"
		class="com.landray.kmss.third.weixin.action.SynchroOrg2WxCheckAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property name="forwards">
			<map>
				<entry
					key="check"
					value="/third/weixin/oms/check.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/third/wx/pcScanLogin.do"
		class="com.landray.kmss.third.weixin.sso.WxPcScanLoginAction"
		lazy-init="true"
		parent="KmssBaseAction">
	</bean>
	<bean
		name="/third/weixin/third_wx_oms_init/thirdWxOmsInit.do"
		class="com.landray.kmss.third.weixin.action.ThirdWxOmsInitAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.third.weixin.forms.ThirdWxOmsInitForm" />
		<property name="forwards">
			<map>
				<entry
					key="list"
					value="/third/weixin/third_wx_oms_init/thirdWxOmsInit_list.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/third/weixin/spi/wx_oms_relation/wxOmsRelation.do"
		class="com.landray.kmss.third.weixin.spi.actions.WxOmsRelationAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.third.weixin.spi.forms.WxOmsRelationModelForm" />
		<property name="forwards">
			<map>
				<entry
					key="view"
					value="/third/weixin/spi/wx_oms_relation/wxOmsRelation_view.jsp" />
				<entry
					key="edit"
					value="/third/weixin/spi/wx_oms_relation/wxOmsRelation_edit.jsp" />
				<entry
					key="list"
					value="/third/weixin/spi/wx_oms_relation/wxOmsRelation_list.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/third/weixin/user.do"
		class="com.landray.kmss.third.weixin.action.WxUserAction"
		lazy-init="true"
		parent="KmssBaseAction">
	</bean>
	<bean
		name="/third/weixin/domain.do"
		class="com.landray.kmss.third.weixin.action.ThirdWxDomainCheckAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.third.weixin.forms.ThirdWxDomainCheckForm" />
		<property name="forwards">
			<map>
				<entry
					key="upload"
					value="/third/weixin/upload.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/third/weixin/third_weixin_oms_post/thirdWeixinOmsPost.do"
		class="com.landray.kmss.third.weixin.action.ThirdWeixinOmsPostAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.third.weixin.forms.ThirdWeixinOmsPostForm" />
		<property name="forwards">
			<map>
				<entry
					key="view"
					value="/third/weixin/third_weixin_oms_post/thirdWeixinOmsPost_view.jsp" />
				<entry
					key="edit"
					value="/third/weixin/third_weixin_oms_post/thirdWeixinOmsPost_edit.jsp" />
				<entry
					key="list"
					value="/third/weixin/third_weixin_oms_post/thirdWeixinOmsPost_list.jsp" />
			</map>
		</property>
	</bean>

	<bean
			class="com.landray.kmss.third.weixin.action.ThirdWeixinPayOrderAction"
			parent="KmssBaseAction"
			name="/third/weixin/third_weixin_pay_order/thirdWeixinPayOrder.do"
			lazy-init="true">
		<property
				name="formType"
				value="com.landray.kmss.third.weixin.forms.ThirdWeixinPayOrderForm"/>
		<property
				name="forwards">
			<map>
				<entry
						key="data"
						value="/third/weixin/third_weixin_pay_order/thirdWeixinPayOrder_data.jsp"/>
				<entry
						key="view"
						value="/third/weixin/third_weixin_pay_order/thirdWeixinPayOrder_view.jsp"/>
			</map>
		</property>
	</bean>
	<bean
			class="com.landray.kmss.third.weixin.action.ThirdWeixinPayCbAction"
			parent="KmssBaseAction"
			name="/third/weixin/third_weixin_pay_cb/thirdWeixinPayCb.do"
			lazy-init="true">
		<property
				name="formType"
				value="com.landray.kmss.third.weixin.forms.ThirdWeixinPayCbForm"/>
		<property
				name="forwards">
			<map>
				<entry
						key="data"
						value="/third/weixin/third_weixin_pay_cb/thirdWeixinPayCb_data.jsp"/>
				<entry
						key="view"
						value="/third/weixin/third_weixin_pay_cb/thirdWeixinPayCb_view.jsp"/>
			</map>
		</property>
	</bean>
	<bean
			class="com.landray.kmss.third.weixin.action.ThirdWeixinPayLogAction"
			parent="KmssBaseAction"
			name="/third/weixin/third_weixin_pay_log/thirdWeixinPayLog.do"
			lazy-init="true">
		<property
				name="formType"
				value="com.landray.kmss.third.weixin.forms.ThirdWeixinPayLogForm"/>
		<property
				name="forwards">
			<map>
				<entry
						key="data"
						value="/third/weixin/third_weixin_pay_log/thirdWeixinPayLog_data.jsp"/>
				<entry
						key="view"
						value="/third/weixin/third_weixin_pay_log/thirdWeixinPayLog_view.jsp"/>
			</map>
		</property>
	</bean>
	<bean
			class="com.landray.kmss.third.weixin.action.ThirdWeixinPayBlAction"
			parent="KmssBaseAction"
			name="/third/weixin/third_weixin_pay_bl/thirdWeixinPayBl.do"
			lazy-init="true">
		<property
				name="formType"
				value="com.landray.kmss.third.weixin.forms.ThirdWeixinPayBlForm"/>
		<property
				name="forwards">
			<map>
				<entry
						key="data"
						value="/third/weixin/third_weixin_pay_bl/thirdWeixinPayBl_data.jsp"/>
				<entry
						key="view"
						value="/third/weixin/third_weixin_pay_bl/thirdWeixinPayBl_view.jsp"/>
			</map>
		</property>
	</bean>

	<bean
			name="/resource/third/wx/payEndpoint.do"
			class="com.landray.kmss.third.weixin.action.WxPayEndpointAction"
			lazy-init="true"
			parent="KmssBaseAction">
	</bean>

	<bean
			class="com.landray.kmss.third.weixin.action.ThirdWeixinContactMappAction"
			parent="KmssBaseAction"
			name="/third/weixin/third_weixin_contact_mapp/thirdWeixinContactMapp.do"
			lazy-init="true">
		<property
				name="formType"
				value="com.landray.kmss.third.weixin.forms.ThirdWeixinContactMappForm"/>
		<property
				name="forwards">
			<map>
				<entry
						key="data"
						value="/third/weixin/third_weixin_contact_mapp/thirdWeixinContactMapp_data.jsp"/>
				<entry
						key="view"
						value="/third/weixin/third_weixin_contact_mapp/thirdWeixinContactMapp_view.jsp"/>
			</map>
		</property>
	</bean>
	<!--
	<bean
			class="com.landray.kmss.third.weixin.action.ThirdWeixinContactCbAction"
			parent="KmssBaseAction"
			name="/third/weixin/third_weixin_contact_cb/thirdWeixinContactCb.do"
			lazy-init="true">
		<property
				name="formType"
				value="com.landray.kmss.third.weixin.forms.ThirdWeixinContactCbForm"/>
		<property
				name="forwards">
			<map>
				<entry
						key="data"
						value="/third/weixin/third_weixin_contact_cb/thirdWeixinContactCb_data.jsp"/>
				<entry
						key="view"
						value="/third/weixin/third_weixin_contact_cb/thirdWeixinContactCb_view.jsp"/>
			</map>
		</property>
	</bean>
-->

	<bean
			name="/resource/third/weixin/thirdWeixinPayCb.do"
			class="com.landray.kmss.third.weixin.action.ThirdWeixinPayCbAction"
			lazy-init="true"
			parent="KmssBaseAction">
	</bean>

	<bean
			class="com.landray.kmss.third.weixin.action.ThirdWeixinAppchatAction"
			parent="KmssBaseAction"
			name="/third/weixin/third_weixin_appchat/thirdWeixinAppchat.do"
			lazy-init="true">
		<property
				name="formType"
				value="com.landray.kmss.third.weixin.forms.ThirdWeixinAppchatForm"/>
		<property
				name="forwards">
			<map>
				<entry
						key="data"
						value="/third/weixin/third_weixin_appchat/thirdWeixinAppchat_data.jsp"/>
				<entry
						key="view"
						value="/third/weixin/third_weixin_appchat/thirdWeixinAppchat_view.jsp"/>
			</map>
		</property>
	</bean>
	<bean
			class="com.landray.kmss.third.weixin.action.ThirdWeixinChatDataMainAction"
			parent="KmssBaseAction"
			name="/third/weixin/third_weixin_chat_data_main/thirdWeixinChatDataMain.do"
			lazy-init="true">
		<property
				name="formType"
				value="com.landray.kmss.third.weixin.forms.ThirdWeixinChatDataMainForm"/>
		<property
				name="forwards">
			<map>
				<entry
						key="data"
						value="/third/weixin/third_weixin_chat_data_main/thirdWeixinChatDataMain_data.jsp"/>
				<entry
						key="view"
						value="/third/weixin/third_weixin_chat_data_main/thirdWeixinChatDataMain_view.jsp"/>
			</map>
		</property>
	</bean>
	<bean
			class="com.landray.kmss.third.weixin.action.ThirdWeixinChatDataBakAction"
			parent="KmssBaseAction"
			name="/third/weixin/third_weixin_chat_data_bak/thirdWeixinChatDataBak.do"
			lazy-init="true">
		<property
				name="formType"
				value="com.landray.kmss.third.weixin.forms.ThirdWeixinChatDataBakForm"/>
		<property
				name="forwards">
			<map>
				<entry
						key="data"
						value="/third/weixin/third_weixin_chat_data_bak/thirdWeixinChatDataBak_data.jsp"/>
				<entry
						key="view"
						value="/third/weixin/third_weixin_chat_data_bak/thirdWeixinChatDataBak_view.jsp"/>
			</map>
		</property>
	</bean>
	<bean
			class="com.landray.kmss.third.weixin.action.ThirdWeixinRobotMsgAction"
			parent="KmssBaseAction"
			name="/third/weixin/third_weixin_robot_msg/thirdWeixinRobotMsg.do"
			lazy-init="true">
		<property
				name="formType"
				value="com.landray.kmss.third.weixin.forms.ThirdWeixinRobotMsgForm"/>
		<property
				name="forwards">
			<map>
				<entry
						key="data"
						value="/third/weixin/third_weixin_robot_msg/thirdWeixinRobotMsg_data.jsp"/>
				<entry
						key="view"
						value="/third/weixin/third_weixin_robot_msg/thirdWeixinRobotMsg_view.jsp"/>
			</map>
		</property>
	</bean>
	<bean
			class="com.landray.kmss.third.weixin.action.ThirdWeixinGroupChatAction"
			parent="KmssBaseAction"
			name="/third/weixin/third_weixin_group_chat/thirdWeixinGroupChat.do"
			lazy-init="true">
		<property
				name="formType"
				value="com.landray.kmss.third.weixin.forms.ThirdWeixinGroupChatForm"/>
		<property
				name="forwards">
			<map>
				<entry
						key="data"
						value="/third/weixin/third_weixin_group_chat/thirdWeixinGroupChat_data.jsp"/>
				<entry
						key="view"
						value="/third/weixin/third_weixin_group_chat/thirdWeixinGroupChat_view.jsp"/>
			</map>
		</property>
	</bean>
	<bean
			class="com.landray.kmss.third.weixin.action.ThirdWeixinChatDataTempAction"
			parent="KmssBaseAction"
			name="/third/weixin/third_weixin_chat_data_temp/thirdWeixinChatDataTemp.do"
			lazy-init="true">
		<property
				name="formType"
				value="com.landray.kmss.third.weixin.forms.ThirdWeixinChatDataTempForm"/>
		<property
				name="forwards">
			<map>
				<entry
						key="data"
						value="/third/weixin/third_weixin_chat_data_temp/thirdWeixinChatDataTemp_data.jsp"/>
				<entry
						key="view"
						value="/third/weixin/third_weixin_chat_data_temp/thirdWeixinChatDataTemp_view.jsp"/>
			</map>
		</property>
	</bean>
	<bean
			class="com.landray.kmss.third.weixin.action.ThirdWeixinChatGroupAction"
			parent="KmssBaseAction"
			name="/third/weixin/third_weixin_chat_group/thirdWeixinChatGroup.do"
			lazy-init="true">
		<property
				name="formType"
				value="com.landray.kmss.third.weixin.forms.ThirdWeixinChatGroupForm"/>
		<property
				name="forwards">
			<map>
				<entry
						key="data"
						value="/third/weixin/third_weixin_chat_group/thirdWeixinChatGroup_data.jsp"/>
				<entry
						key="view"
						value="/third/weixin/third_weixin_chat_group/thirdWeixinChatGroup_view.jsp"/>
			</map>
		</property>
	</bean>
	<bean
			class="com.landray.kmss.third.weixin.action.ThirdWeixinAccountAction"
			parent="KmssBaseAction"
			name="/third/weixin/third_weixin_account/thirdWeixinAccount.do"
			lazy-init="true">
		<property
				name="formType"
				value="com.landray.kmss.third.weixin.forms.ThirdWeixinAccountForm"/>
		<property
				name="forwards">
			<map>
				<entry
						key="data"
						value="/third/weixin/third_weixin_account/thirdWeixinAccount_data.jsp"/>
				<entry
						key="view"
						value="/third/weixin/third_weixin_account/thirdWeixinAccount_view.jsp"/>
			</map>
		</property>
	</bean>

	<bean
			class="com.landray.kmss.third.weixin.action.ThirdWeixinChatDataAction"
			parent="KmssBaseAction"
			name="/third/weixin/third_weixin_chat_data/thirdWeixinChatData.do"
			lazy-init="true">

	</bean>
</beans>