<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean
		name="/sys/property/sys_property_category/sysPropertyCategory.do"
		class="com.landray.kmss.sys.property.actions.SysPropertyCategoryAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.property.forms.SysPropertyCategoryForm" />
		<property name="forwards">
			<map>
				<entry
					key="view"
					value="/sys/property/sys_property_category/sysPropertyCategory_view.jsp" />
				<entry
					key="edit"
					value="/sys/property/sys_property_category/sysPropertyCategory_edit.jsp" />
				<entry
					key="list"
					value="/sys/property/sys_property_category/sysPropertyCategory_list.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/sys/property/sys_property_filter/sysPropertyFilter.do"
		class="com.landray.kmss.sys.property.actions.SysPropertyFilterAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.property.forms.SysPropertyFilterForm" />
		<property name="forwards">
			<map>
				<entry
					key="view"
					value="/sys/property/sys_property_filter/sysPropertyFilter_view.jsp" />
				<entry
					key="edit"
					value="/sys/property/sys_property_filter/sysPropertyFilter_edit.jsp" />
				<entry
					key="list"
					value="/sys/property/sys_property_filter/sysPropertyFilter_list.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/sys/property/sys_property_reference/sysPropertyReference.do"
		class="com.landray.kmss.sys.property.actions.SysPropertyReferenceAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.property.forms.SysPropertyReferenceForm" />
		<property name="forwards">
			<map>
				<entry
					key="view"
					value="/sys/property/sys_property_reference/sysPropertyReference_view.jsp" />
				<entry
					key="edit"
					value="/sys/property/sys_property_reference/sysPropertyReference_edit.jsp" />
				<entry
					key="list"
					value="/sys/property/sys_property_reference/sysPropertyReference_list.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/sys/property/sys_property_define/sysPropertyDefine.do"
		class="com.landray.kmss.sys.property.actions.SysPropertyDefineAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.property.forms.SysPropertyDefineForm" />
		<property name="forwards">
			<map>
				<entry
					key="view"
					value="/sys/property/sys_property_define/sysPropertyDefine_view.jsp" />
				<entry
					key="edit"
					value="/sys/property/sys_property_define/sysPropertyDefine_edit.jsp" />
				<entry
					key="list"
					value="/sys/property/sys_property_define/sysPropertyDefine_list.jsp" />
				<entry
					key="data"
					value="/sys/property/sys_property_define/sysPropertyDefine_data.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/sys/property/sys_property_tree/sysPropertyTree.do"
		class="com.landray.kmss.sys.property.actions.SysPropertyTreeAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.property.forms.SysPropertyTreeForm" />
		<property name="forwards">
			<map>
				<entry
					key="view"
					value="/sys/property/sys_property_tree/sysPropertyTree_view.jsp" />
				<entry
					key="edit"
					value="/sys/property/sys_property_tree/sysPropertyTree_edit.jsp" />
				<entry
					key="list"
					value="/sys/property/sys_property_tree/sysPropertyTree_list.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/sys/property/sys_property_template/sysPropertyTemplate.do"
		class="com.landray.kmss.sys.property.actions.SysPropertyTemplateAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.property.forms.SysPropertyTemplateForm" />
		<property name="forwards">
			<map>
				<entry
					key="view"
					value="/sys/property/sys_property_template/sysPropertyTemplate_view.jsp" />
				<entry
					key="viewBamCategory"
					value="/sys/property/sys_property_template/sysPropertyTemplate_BamCategory_view.jsp" />
				<entry
					key="edit"
					value="/sys/property/sys_property_template/sysPropertyTemplate_edit.jsp" />
				<entry
					key="list"
					value="/sys/property/sys_property_template/sysPropertyTemplate_list.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/sys/property/sys_property_filter_setting/sysPropertyFilterSetting.do"
		class="com.landray.kmss.sys.property.actions.SysPropertyFilterSettingAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.property.forms.SysPropertyFilterSettingForm" />
		<property name="forwards">
			<map>
				<entry
					key="view"
					value="/sys/property/sys_property_filter_setting/sysPropertyFilterSetting_view.jsp" />
				<entry
					key="edit"
					value="/sys/property/sys_property_filter_setting/sysPropertyFilterSetting_edit.jsp" />
				<entry
					key="list"
					value="/sys/property/sys_property_filter_setting/sysPropertyFilterSetting_list.jsp" />
				<entry
					key="dialog"
					value="/sys/property/sys_property_filter_setting/selectFilterSettingDialog.jsp" />
				<entry
					key="data"
					value="/sys/property/sys_property_filter_setting/sysPropertyFilterSetting_data.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/sys/property/sys_property_filter_main/sysPropertyFilterMain.do"
		class="com.landray.kmss.sys.property.actions.SysPropertyFilterMainAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.property.forms.SysPropertyFilterMainForm" />
		<property name="forwards">
			<map>
				<entry
					key="edit"
					value="/sys/property/sys_property_filter_main/sysPropertyFilterMain_edit.jsp" />
				<entry
					key="list"
					value="/sys/property/sys_property_filter_main/sysPropertyFilterMain_list.jsp" />
				<entry
					key="view"
					value="/sys/property/sys_property_filter_main/sysPropertyFilterMain_view.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/sys/property/sys_property_val/sysPropertyVal.do"
		class="com.landray.kmss.sys.property.actions.SysPropertyValAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.property.forms.SysPropertyValForm" />
		<property name="forwards">
			<map>
				<entry
					key="view"
					value="/sys/property/sys_property_val/sysPropertyVal_view.jsp" />
				<entry
					key="edit"
					value="/sys/property/sys_property_val/sysPropertyVal_edit.jsp" />
				<entry
					key="list"
					value="/sys/property/sys_property_val/sysPropertyVal_list.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/sys/property/sys_property_filter_pda/sysPropertyFilterPda.do"
		class="com.landray.kmss.sys.property.actions.SysPropertyFilterPdaAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property name="forwards">
			<map>
				<entry
					key="filterDetail"
					value="/sys/property/pda/filterDetail.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/sys/property/sys_property_criteria/sysPropertyCriteria.do"
		class="com.landray.kmss.sys.property.actions.SysPropertyCriteriaAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.property.forms.SysPropertyValForm" />
	</bean>
	<bean
		name="/sys/property/custom_field/customField.do"
		class="com.landray.kmss.sys.property.custom.actions.CustomFieldAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property name="forwards">
			<map>
                <entry
                    key="list"
                    value="/sys/property/custom_field/list.jsp" />
                <entry
                    key="edit"
                    value="/sys/property/custom_field/edit.jsp" />
				<entry
					key="listObject"
					value="/sys/property/custom_field/listObject.jsp" />
				<entry
					key="listCustomExtend"
					value="/sys/property/custom_field/listCustomExtend.jsp" />
			</map>
		</property>
	</bean>
</beans>