<?xml version="1.0" encoding="UTF-8"?>
<plugin
	xmlns="http://www.example.org/plugin-config"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.example.org/plugin-config ../../../../../plugin.xsd ">
	<!-- 工作交接（事项交接） -->
	<extension point="com.landray.kmss.sys.handover.item">
		<item name="config">
			<!-- 主文档全名称 -->
			<param
				name="module"
				value="com.landray.kmss.km.signature.model.KmSignatureMain" />
			<param
				name="messageKey"
				value="km-signature:table.kmSignatureMainItemHandover" />
			<param
				name="handler"
				value="com.landray.kmss.km.signature.handover.KmSignatureMainItemHandler" />
			<param
				name="provider"
				value="com.landray.kmss.km.signature.handover.KmSignatureMainItemProvider" />
		</item>
	</extension>
</plugin>