.panel-tab-content {
    max-width: 1200px;
    margin: 0 auto;
    width: 90%;
}
.panel-tab-header{
	
}
.header-items {
    overflow: hidden;
    height: 62px;
    border-bottom: 1px solid #DDDDDD;
}
.header-item {
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 60px;
    height: 60px;
    text-align: center;
    max-width: 144px;
    margin: 0 20px;
    font-size: 14px;
    color: #333333;
    letter-spacing: 0;
}
.header-item.active {
    border-bottom: 2px solid #4285F4;
}

.process-batch {
    height: 70px;
    line-height: 70px;
}
.process-batch .multi-select {
    float: left;
}
.process-batch .multi-select span{
	font-size: 12px;
    color: #333333;
    position: relative;
    top: -2px;
    margin-left: 6px;
}
.process-batch .batch-btns {
    float: right;
}
.batch-btns .batch-btns-btn{
	float: left;
	border-radius: 2px;
	font-size: 14px;
	line-height: 30px;
    margin-top: 20px;
    width: 86px;
    cursor: pointer;
}
.batch-btns .batch-btns-pass {
    height: 30px;
    margin-right: 10px;
    text-align: center;
    background: #4285F4;
    color: #FFFFFF;
}
.batch-btns .batch-btns-reject {
    height: 28px;
    text-align: center;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    color: #333333;
}
.process-item {
    background: #FFFFFF;
    border: 1px solid #DFE3E9;
    border-radius: 4px;
    padding: 20px 16px;
    margin-bottom: 20px;
}
.process-item:hover{
	box-shadow: 0 2px 20px 0 rgba(0,0,0,0.10);
}
.process-item .process-item-base {
    position: relative;
    height: 44px;
}
.process-item-base .process-item-name {
    height: 26px;
    line-height: 26px;
}
.process-item-name>div{
	float: left;
}
.process-item-name>div input{
	position: relative;
	top: 1px;
}
.process-item-name>a{
	display: block;
	float: left;
	font-size: 18px;
    color: #333333;
    max-width: 854px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: 16px;
}
.process-item-base .process-item-create {
    position: absolute;
    right: 0;
    top: 0;
}
.process-item-create .process-item-person {
    float: left;
    height: 24px;
}
.process-item-person .image {
    float: left;
    height: 24px;
}
.process-item-person .image img{
	width: 24px;
    height: 24px;
    border-radius: 50%;
}
.process-item-person .name{
	float: right;
    height: 24px;
    line-height: 24px;
    margin-left: 6px;
    font-size: 16px;
    color: #333333;
}
.process-item-create .process-item-time {
    float: right;
    height: 24px;
    line-height: 24px;
    font-size: 14px;
    color: #666666;
    margin-left: 16px;
}

.process-item .process-item-info {
    position: relative;
    min-height: 30px;
}
.process-item-info .process-item-butons {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -12px;
}
.process-item-buttons-btn{
	border-radius: 4px;
    width: 70px;
    text-align: center;
    font-size: 12px;
    line-height: 24px;
    float: left;
    cursor: pointer;
}
.process-item-buttons-pass.processPass {
    background: #4285F4;
    height: 24px;
    color: #FFFFFF;
    letter-spacing: 0;
    margin-right: 10px;
}
.process-item-buttons-reject.processRefuse {
    background: #FFFFFF;
    height: 22px;
    color: #333333;
    border: 1px solid #DDDDDD;
}

.process-item-info .process-item-summary {
    min-width: 849px;
    width: 80%;
}
ul.process-item-summary-ul {
    padding: 0;
    margin: 0;
    list-style: none;
    height: auto;
}
.process-item-summary-ul li.process-item-summary-li {
    /* float: left; */
    width: 30%;
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    position: relative;
}
.process-item-summary-ul li.process-item-summary-li-textarea{
	padding: 0;
    margin: 0;
    list-style: none;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    position: relative;
    width: 100%;
}
.process-item-summary-li .summary-li-key {
    float: left;
    max-width: 98px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #999999;
}
.process-item-summary-li-textarea .summary-li-key {
    float: left;
    max-width: 98px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #999999;
}
.process-item-summary-li .summary-li-value {
    float: left;
    max-width: 172px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #333333;
    cursor: default;
}
.process-item-summary-li-textarea .summary-li-value{
	float: left;
    max-width: 87%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #333333;
    cursor: default;
}
.process-item-summary-table table{
	min-width: 849px;
    margin: 0;
    margin-top: 16px;
}
table .td_normal_content{
	max-width: 104px;
	min-width: 48px;
}
table .td_normal_content>div{
	display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
/*文本提示 start*/
.td-value{
	cursor: default;
}
.summary-li-value-tip{
	display: none;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, .175);
    box-shadow: 0 0 12px rgba(0, 0, 0, .175);
    position: absolute;
    bottom: 26px;
    left: 50%;
    margin-left: -121.5px;
    margin-bottom: -3px;
    white-space: normal !important;
    z-index:2000;
}
.td-value-tip{
	display: none;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, .175);
    box-shadow: 0 0 12px rgba(0, 0, 0, .175);
    position: absolute;
    left: 50%;
    bottom:100%;
    margin-left: -121.5px;
    margin-bottom: -3px;
    white-space: normal !important;
    z-index:2000;
}
.summary-li-value-tip.down,.td-value-tip.down{
	top:26px;
	bottom:auto;
}
.summary-li-value-tip:after,
.summary-li-value-tip:before,
.td-value-tip:after,
.td-value-tip:before{
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  border-top: 8px dashed;
  border-top: 8px solid \9;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  position: absolute;
  left: 50%;
  margin-left: -10px;
  bottom: 0;
}
.summary-li-value-tip:after,.td-value-tip:after{
  color: #fff;
  bottom: -7px;
}
.summary-li-value-tip:before,.td-value-tip:before{
  color: #ccc;
  color: rgba(0, 0, 0, .1);
  bottom: -8px;
}
.summary-li-value-tip.down:after,.td-value-tip.down:after{
  top: -7px;
  bottom:auto;
  border-top:none;
  border-bottom: 8px dashed;
  border-bottom: 8px solid \9;
}
.summary-li-value-tip.down:before,.td-value-tip.down:before{
  top: -8px;
  bottom:auto;
  border-top:none;
  border-bottom: 8px dashed;
  border-bottom: 8px solid \9;
}
table .td_normal_content{
	position: relative;
}
/*文本提示 end*/