@charset "utf-8";

body, button, dd, div, dl, form, h1, h2, h3, h4, h5, h6, input, p, span, tbody, textarea, tfoot, thead {
  margin: 0;
  padding: 0
}

nav, ol, ul {
  margin: 0;
  padding: 0;
  list-style-type: none
}

body {
  font-family: "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "微软雅黑", "Hiragino Sans GB", "Hiragino Sans GB W3", Arial, sans-serif;
  color: #333;
  font-size: 20px;
  height: 100%
}

html {
  font-size: 20px;
  font-family: "Microsoft Yahei", "微软雅黑", "Helvetica Neue", "Hiragino Sans GB", Tahoma, Arial, STHeiti, sans-serif;
  width: 100%;
  min-height: 100%;
  position: relative
}

::after, ::before, a, button, div, input, li, select, span, textarea, ul {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: none;
  outline: 0
}

select option {
  font-family: "Microsoft Yahei", "微软雅黑", "Helvetica Neue", "Hiragino Sans GB", Tahoma, Arial, STHeiti, sans-serif;
  font-size: 14px;
  color: #222
}

input[type=checkbox], textarea {
  resize: none;
  padding: 0;
  word-break: break-all;
  word-wrap: break-word;
  border-radius: 0
}

input[type=checkbox]:hover, textarea:hover {
  border: 1px solid #4596cf
}

input[type=checkbox]:focus, textarea:focus {
  border: 1px solid #4596cf
}

button {
  font-family: "Microsoft Yahei", "微软雅黑", "Helvetica Neue", "Hiragino Sans GB", Tahoma, Arial, STHeiti, sans-serif;
  color: #fff;
  font-size: 14px;
  background-color: #4596cf;
  cursor: pointer;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  border: none;
  outline: 0
}

button:hover {
  opacity: .8;
  -webkit-opacity: .8;
  -moz-opacaty: .8;
  -ms-opacaty: .8;
  -o-opacaty: .8
}

button:disabled {
  background-color: #cecece;
  cursor: not-allowed;
  color: #fff;
  border: none
}

a {
  color: #333;
  text-decoration: none;
  cursor: pointer
}

.g-check {
  font-size: 23px;
  margin-right: 10px;
  display: inline-block;
  position: relative;
  width: 17px;
  height: 17px;
  cursor: pointer;
  border: 1px solid #858e99;
  border-radius: 4px;
  vertical-align: sub
}

.g-check:checked {
  cursor: pointer
}

.g-check:checked::before {
  content: "";
  display: block;
  width: .4em;
  height: .2em;
  border-left: .1em solid #263857;
  border-bottom: .1em solid #263857;
  position: absolute;
  top: -.1em;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg)
}

input[type=radio] {
  width: .8em;
  height: .8em;
  font-size: 23px;
  vertical-align: bottom;
  border-radius: 50%;
  border: 1px solid #bebebe;
  position: relative;
  margin-right: 4px;
  top: -.2rem
}

input[type=radio]:checked {
  width: .8em;
  height: .8em;
  position: relative;
  background-color: #fff;
  border: 1px solid #bebebe
}

input[type=radio]:checked::before {
  content: "";
  width: 12.5px;
  height: 12.5px;
  position: absolute;
  left: 50%;
  top: 50%;
  border: none;
  outline: 0;
  border-radius: 50%;
  margin: -6.25px 0 0 -6.25px;
  background-color: #828282
}

.con-box {
  width: 367px;
  height: 367px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -183.5px 0 0 -183.5px
}

.con-box img {
  width: 367px;
  height: 300px;
  vertical-align: middle
}

.con-box .come-btn {
  width: 90%;
  display: block;
  margin: auto;
  height: 40px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #2da1fb;
  font-size: 16px;
  line-height: 40px;
  color: #2da1fb;
  background-color: #fff;
  margin-top: 25px
}

.con-box .come-btn:hover {
  background-color: #2da1fb;
  color: #fff;
  cursor: pointer;
  border: none
}

.con-fail {
  position: absolute;
  top: 38%;
  left: 50%;
  width: 416px;
  height: 416px;
  margin: -208px 0 0 -208px;
  margin-bottom: 20px
}

.con-fail img {
  width: 367px;
  height: 283px;
  vertical-align: middle;
  margin: auto;
  display: block
}

.con-fail p {
  font-size: 1.5em;
  color: #a0a0a0;
  line-height: 24px;
  margin: 0;
  margin-top: 18px;
  text-align: center
}

.con-fail .come-btn {
  width: 90%;
  display: block;
  margin: auto;
  height: 40px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #2da1fb;
  font-size: 16px;
  color: #2da1fb;
  background-color: #fff;
  margin-top: 25px
}

.con-fail .come-btn:hover {
  background-color: #2da1fb;
  color: #fff;
  cursor: pointer
}

.text-con {
  background-color: #f6f6f6;
  height: 136px;
  border-top: 1px solid #c7c7c7;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-left: 45px
}

.text-con p {
  font-size: 16px;
  color: #222;
  line-height: 1.43;
  margin-bottom: 10px
}

.text-con ul {
  padding-left: 2em
}

.text-con ul li {
  font-size: 14px;
  color: #777;
  line-height: 1.5em
}

.mask-warp-ul {
  font-size: 0;
  height: 240px;
  overflow-y: auto
}

.mask-warp-ul li {
  display: inline-block;
  vertical-align: middle;
  width: 164px
}

.mask-warp-ul li label {
  font-size: 12px
}

.right-modeleMain {
  bottom: 0;
  right: 0;
  background-color: #fff;
  z-index: 2;
  overflow-x: hidden
}

.right-modeleMain .modelMain-box {
  width: 996px;
  height: 87%;
  display: block;
  margin: 106px auto 0;
  position: relative
}

.right-modeleMain .modelMain-box .left {
  width: 538px;
  display: inline-block;
  margin-right: 75px;
  text-align: center
}

.right-modeleMain .modelMain-box .left h3 {
  font-size: 36px;
  color: #4596cf;
  margin-bottom: 40px
}

.right-modeleMain .modelMain-box .left .logo-left {
  background: url(../images/yue-left.png) no-repeat center center;
  background-size: 100%;
  width: 538px;
  height: 346px;
  display: block;
  margin: auto;
  margin-bottom: 16px
}

.right-modeleMain .modelMain-box .left p {
  font-size: 16px;
  color: #333
}

.right-modeleMain .modelMain-box .right {
  display: inline-block;
  height: 444px;
  width: 354px;
  vertical-align: top;
  background-color: #f8f8fa;
  border: 1px solid #e6e9f2;
  margin: 0;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  padding: 30px 16px 30px 18px
}

.right-modeleMain .modelMain-box .right p {
  font-size: 18px;
  color: #333;
  margin-bottom: 25px
}

.right-modeleMain .modelMain-box .right ul {
  margin: 0 0 20px 34px;
  font-size: 0
}

.right-modeleMain .modelMain-box .right ul li {
  margin-bottom: 20px;
  font-size: 14px;
  color: #888
}

.right-modeleMain .modelMain-box .right ul li .round-icon {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  margin-right: 8px
}

.right-modeleMain .modelMain-box .right ul li .round-icon:before {
  content: "";
  width: 6px;
  height: 6px;
  background-color: #d7d7d7;
  position: absolute;
  top: 3px;
  left: 3px;
  border-radius: 50%
}

.right-modeleMain .modelMain-box .right .mean-deal {
  vertical-align: middle;
  font-size: 14px;
  line-height: 21px;
  color: #333;
  margin-bottom: 40px;
  margin-left: 34px
}

.right-modeleMain .modelMain-box .right .mean-deal a {
  color: #0f90f3;
  margin-left: 3px
}

.right-modeleMain .modelMain-box .right button {
  width: 100%;
  height: 54px;
  font-size: 18px;
  border-radius: 6px;
  line-height: 21px
}

.right-modeleMain .modelMain-box .right .message {
  float: right;
  font-size: 14px;
  color: #0f90f3;
  margin-top: 32px
}

.kefu {
  color: #777;
  font-size: 14px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin-left: -160px
}

@media (max-width:1366px) {
  .right-modeleMain .modelMain-box {
    margin: 0 auto
  }

}

.integra-head {
  background-color: #fff;
  padding: 15px;
  position: relative;
  border-bottom: 1px solid #e6e9f2;
}

.integra-head h3 {
  font-size: 24px;
  color: #333;
  display: inline-block;
  text-align: left
}

.integra-head p {
  display: inline-block;
  text-align: right;
  line-height: 20px;
  position: absolute;
  top: 50%;
  right: 30px;
  margin-top: -10px;
  font-size: 16px;
  color: #000;
}

.integra-head p span {
  color: #37a8f5;
  display: inline-block
}

.content {
  width: 100%;
  min-height: 88%;
  padding-bottom: 100px;
  position: relative
}

.integra-con {
  width: 750px;
  display: block;
  margin: 45px auto;
  position: relative
}

.integra-con .head-p {
  font-size: 16px;
  color: :#333;
  margin-bottom: 14px;
  padding-left: 6px
}

.integra-con .redp {
  color: red;
  font-size: 14px;
  margin-bottom: 15px
}
.integra-img{ border: 1px solid #e0e0e0; }
.integra-img img{
  width: 100%;
}
.integra-con ul {
  font-size: 0;
  position: relative
}

.integra-con ul li {
  padding: 10px 15px;
  font-size: 14px;
  color: #333;
  width: 100%
}

.integra-con ul li:last-child {
  border-bottom: 0
}

.integra-con ul li.active {
  background-color: #f4f4f4
}

.integra-con ul.table-list li{
  margin-bottom: 10px;
  width: 100%;
  border-collapse: collapse;
  padding-left: 0;
  padding-right: 0;
  display: table;
}
.integra-con ul.table-list li > .item{
  display: table-cell;
  vertical-align: middle;
}
.integra-con ul.table-list li .corp-span{
  width: 110px;
  padding-right: 10px;
  display: inline-block;
}
.integra-con ul.table-list li .integra-input {
  border: 1px solid #e6e9f2;
  height: 34px;
  padding: 0 6px;
  width: 100%;
  background-color: #f6f6f6;
  display: inline-block;
}
.integra-con ul.table-list li .depict-span{
  padding-left: 10px;
  max-width: 200px;
  color: #999;
  font-size: 12px;
  display: inline-block;
}


.integra-con ul li>label {
  display: block
}

.integra-con ul li>label input[type=radio] {
  vertical-align: top;
  margin-top: 7px
}

.integra-con ul li>label .integra-list, .integra-con ul li>label .integra-listbox {
  display: inline-block;
  width: 93%
}

.integra-con ul li>label .integra-list>div, .integra-con ul li>label .integra-listbox>div {
  display: inline-block;
  vertical-align: top;
  /*padding-bottom: 8px;*/
  font-size: 14px;
  color: #333;
  width: 100%;
  word-break: break-all
}

.integra-con ul li>label .integra-list>div>span, .integra-con ul li>label .integra-listbox>div>span {
  display: inline-block;
  color: #333;
  width: 180px;
  vertical-align: top
}

.integra-con ul li>label .integra-listbox>div>.app {
  width: 150px;
}

.integra-con ul li>label .integra-list>div .mask-warp-span, .integra-con ul li>label .integra-listbox>div .mask-warp-span {
  display: inline-block;
  color: #333;
  width: 80%;
  word-break: break-all;
  vertical-align: top
}

.integra-con ul li>label .integra-list>div .miyao, .integra-con ul li>label .integra-listbox>div .miyao {
  display: inline-block;
  vertical-align: top;
  width: 64%
}

.integra-con ul li>label .integra-list a, .integra-con ul li>label .integra-listbox a {
  color: #4596cf;
  font-size: 14px;
  text-align: right
}

.integra-con ul li>label .integra-listbox {
  display: inline-block;
  width: 98%
}

.integra-con ul li .corp-ul {
  font-size: 0;
  position: relative;
  padding: 14px 22px
}

.integra-con ul li .corp-ul.active {
  background-color: #f4f4f4
}

.integra-con ul li .corp-ul li {
  padding: 0;
  position: relative;
  margin-bottom: 20px;
  font-size: 14px;
  color: #333
}

.integra-con ul li .corp-ul li .corp-xitong {
  width: 208px;
  padding-right: 92px;
  display: inline-block;
  vertical-align: top
}

.integra-con ul li .corp-ul li label {
  display: inline-block;
  margin-right: 30px
}

.integra-con ul li .corp-ul li .list-p {
  width: 200px;
  vertical-align: top;
  display: inline-block;
  margin-right: 10px;
  margin-left: -3px
}

.integra-con ul li .corp-ul li .list-p p {
  color: #777;
  display: inline-block;
  text-align: center;
  margin-right: 10px;
  margin-left: -2px
}

.integra-con ul li .corp-ul li .width65 {
  width: 65%
}

.integra-con ul li .corp-ul li a {
  color: #4596cf;
  float: right
}

.integra-con ul li .corp-ul li .right-ico {
  border-top: 1px solid #4596cf;
  border-right: 1px solid #4596cf;
  -wekbit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  width: 10px;
  height: 10px;
  display: inline-block;
  position: absolute;
  top: 8px;
  cursor: pointer;
  left: 40%
}

.integra-con ul li .corp-ul li .right-ico.active {
  border-top: 1px solid #4596cf;
  border-left: 1px solid #4596cf;
  border-right: 0;
  -wekbit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
  width: 10px;
  height: 10px;
  display: inline-block;
  position: absolute;
  top: 3px;
  left: 40%
}

.integra-con ul li .corp-ul li .blueset {
  color: #4596cf;
  text-align: center;
  cursor: pointer
}

.integra-con ul .bdbuttom {
  border-bottom: 1px solid #e6e9f2
}

.integra-con ul .pdleft { }

.integra-con ul .last-li {
  padding: 0
}

.integra-con .integra-btn {
  display: inline-block;
  margin: 0 5px;
  padding: 12px 10px;
  min-width: 200px;
  line-height: 20px;
  text-align: center;
  font-size: 16px;
  color: #cccacb;
  background-color: #dedcdd;
  border-radius: 6px;
  transition-duration: .3s;
}
.integra-btn-group{
  padding: 25px 0;
  text-align: center;
  font-size: 0;
}
.integra-con .integra-btn.active {
  background-color: #4596cf;
  color: #fff;
}
.integra-con .integra-btn.integra-btn-muted{
  color: #999;
}
.integra-con .integra-btn.integra-btn-muted:hover{ background-color: #cbcbcb; }

.integra-con .integra-btn:disabled {
  color: #cccacb;
  background-color: #dedcdd;
}

.integra-conwarp {
  width: 500px
}

.integra-conwarp ul {
  font-size: 0;
  position: relative;
  margin: auto
}

.integra-conwarp .integra-btn {
  display: block;
  margin: 35px 138px
}

.integra-mask {
  background-color: rgba(0, 0, 0, .5);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4
}

.integra-mask .mask-warp {
  background-color: #fff;
  width: 577px;
  min-height: 240px;
  border-radius: 6px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -120px 0 0 -288px
}

.integra-mask .mask-warp-box {
  min-height: 188px;
  border-bottom: 1px solid #e6e9f2;
  padding: 30px 32px 32px
}

.integra-mask .mask-warp-box::-webkit-scrollbar {
  width: 0;
  height: 0
}

.integra-mask .mask-warp-box::-webkit-scrollbar-button {
  background-color: #fff
}

.integra-mask .mask-warp-box::-webkit-scrollbar-track {
  background: #fff
}

.integra-mask .mask-warp-box::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 4px
}

.integra-mask .mask-warp-box::-webkit-scrollbar-corner {
  background: #fff
}

.integra-mask .mask-warp-box::-webkit-scrollbar-resizer {
  background: #fff
}

.integra-mask .mask-warp-box h3 {
  font-size: 28px;
  color: #222;
  text-align: center;
  padding-bottom: 18px
}

.integra-mask .mask-warp-box div {
  font-size: 14px;
  color: #222
}

.integra-mask .mask-warp-box div>span {
  color: #222;
  display: inline-block
}

.integra-mask .mask-warp-box div .redspan {
  color: red;
  display: inline-block
}

.integra-mask .mask-warp-box>p {
  font-size: 14px;
  margin-top: 15px;
  color: #222
}

.integra-mask .mask-warp-box .mgtop0 {
  margin-top: 0
}

.integra-mask .mask-warp-box ul {
  font-size: 0;
  position: relative
}

.integra-mask .mask-warp-box ul li {
  position: relative;
  margin-bottom: 25px
}

.integra-mask .mask-warp .integra-btn {
  height: 46px;
  position: relative
}

.integra-mask .mask-warp button {
  width: 126px;
  height: 26px;
  color: #222;
  background-color: #f8f8fa;
  border: 1px solid #e6e9f2;
  line-height: 26px;
  display: inline-block;
  position: absolute;
  font-size: 12px;
  right: 148px;
  bottom: 7px
}

.integra-mask .mask-warp button.active {
  background-color: #4596cf;
  color: #fff;
  border-radius: 3px
}

.integra-mask .mask-warp button:last-child {
  margin-left: 10px;
  position: absolute;
  right: 12px;
  bottom: 7px
}

.setting-box {
  position: absolute;
  left: 50%;
  top: 50%;
  -wekbit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 468px;
  height: 200px;
  ext-align: center
}

.setting-box h3 {
  font-size: 34px;
  color: #212121;
  margin-bottom: 44px
}

.setting-box button {
  height: 46px;
  width: 260px;
  text-align: center;
  color: #fff;
  background-color: #37a8f5;
  border-radius: 6px;
  display: block;
  margin: 0 auto
}

.setting-box p {
  font-size: 14px;
  color: #777;
  margin-top: 20px;
  text-align: center
}

.setting-box p a:hover {
  text-decoration: underline;
  color: #37a8f5
}

.width180 {
  display: inline-block;
  color: #333;
  width: 180px;
  vertical-align: top
}

.width500 {
  display: inline-block;
  color: #333;
  width: 500px !important;
  vertical-align: top
}

.g-label {
  cursor: pointer;
}