/*冻结行、列的公共样式*/
.freeze,
.freeze_left_col,
.freeze_right_col,
.freeze_first_row,
.freeze_last_row{
    position:sticky!important;
    z-index:2;
    outline: 1px solid #d2d2d2;
    outline-offset: -1px;
}
/*列*/
.freeze_left_col{
    background-color:white;
}
.freeze_right_col{
    background-color:white;
}
/*第一行*/
.freeze_first_row{
    /* background-color:#d1d1d1; */
    top:0px ;
}
/*最后一行*/
.freeze_last_row{
    z-index:4;
    bottom:0;
}
/*最后一行的div*/
.freeze_div{
    position:sticky;
    left:6px;
}

/*行列重叠*/
.freeze_overlap{
    z-index:3;
}
/*冻结开关*/
.freeze_switch_div{
    position: relative;
}
.freeze_switch_position4col {
    right: 0;
    top: -19px;
}
.freeze_switch_position4row {
    left: -2px;
    top: -9px;
}
.freeze_switch_span{
    cursor: pointer;
    position: absolute;
    width: 18px;
    height: 18px;
    background: url(../images/unfreezeCurrent@2x.png) left center / contain no-repeat;
    background: url(../images/unfreezeCurrent.png) left center / contain no-repeat \9;
}
.freeze_switch_status_freeze{
    background: url(../images/freezeCurrent@2x.png) left center / contain no-repeat;
    background: url(../images/freezeCurrent.png) left center / contain no-repeat \9;
}
.freeze_switch_span:hover{
    background: url(../images/freeze@2x.png) left center / contain no-repeat;
    background: url(../images/freeze.png) left center / contain no-repeat \9;
}
.freeze_switch_status_freeze:hover{
    background: url(../images/unfreeze@2x.png) left center / contain no-repeat;
    background: url(../images/unfreeze.png) left center / contain no-repeat \9;
}
/*冻结预览*/
.freeze_preview {
    background-color: rgb(225,245,254) !important;
}