<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean
		id="freeSubFlowNodeBehaviour"
		class="com.landray.kmss.sys.lbpmservice.node.group.FreeSubFlowNodeBehaviour" />
	<bean
		id="freeSubFlowNodeDesc"
		class="com.landray.kmss.sys.lbpmservice.node.group.FreeSubFlowNodeDesc" />
	<bean
		id="embeddedSubFlowNodeBehaviour"
		class="com.landray.kmss.sys.lbpmservice.node.group.EmbeddedSubFlowNodeBehaviour" />
	<bean
		id="embeddedSubFlowNodeDesc"
		class="com.landray.kmss.sys.lbpmservice.node.group.EmbeddedSubFlowNodeDesc" />
	<bean
		id="adHocSubFlowNodeBehaviour"
		class="com.landray.kmss.sys.lbpmservice.node.group.AdHocSubFlowNodeBehaviour" />
	<bean
		id="adHocSubFlowNodeDesc"
		class="com.landray.kmss.sys.lbpmservice.node.group.AdHocSubFlowNodeDesc" />
	<bean
		id="dynamicSubFlowNodeBehaviour"
		class="com.landray.kmss.sys.lbpmservice.node.group.DynamicSubFlowNodeBehaviour" />
	<bean
		id="dynamicSubFlowNodeDesc"
		class="com.landray.kmss.sys.lbpmservice.node.group.DynamicSubFlowNodeDesc" />
	<bean
		id="groupStartNodeBehaviour"
		class="com.landray.kmss.sys.lbpmservice.node.group.GroupStartNodeBehaviour" />
	<bean
		id="groupStartNodeDesc"
		class="com.landray.kmss.sys.lbpmservice.node.group.GroupStartNodeDesc" />
	<bean
		id="groupEndNodeBehaviour"
		class="com.landray.kmss.sys.lbpmservice.node.group.GroupEndNodeBehaviour" />
	<bean
		id="groupEndNodeDesc"
		class="com.landray.kmss.sys.lbpmservice.node.group.GroupEndNodeDesc" />
	<bean
		id="modifySubFlowNodeAdditionOperationBehaviour"
		parent="modifyProcessAdditionOperationBehaviour"
		class="com.landray.kmss.sys.lbpmservice.node.group.ModifySubFlowNodeAdditionOperationBehaviour">
	</bean>
	<bean
		id="skipApprovalForAdHocSubFlowListener"
		class="com.landray.kmss.sys.lbpmservice.node.group.SkipApprovalForAdHocSubFlowListener" />
</beans>
