@CHARSET "UTF-8";
.kms_knowledge_zone_body_list_name {
    position: relative;
    float: left;
    width: 100%;
}
.kms_knowledge_zone_body i{
    position: absolute;
    height: 4px;
    width: 4px;
    border-radius: 50%;
    background: #999;
    left: 16px;
    top: 50%;
    margin-top: -2px;
}
.kms_knowledge_zone_body_list_name div{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    color: #333333;
    margin-left: 26px;
    box-sizing: border-box;
    border-bottom: 1px solid #F3F3F3;
    line-height: 39px;
}
.kms_knowledge_zone_body_li .kms_knowledge_zone_body_list_name:hover div{
    color:#4285F4;
}
.kms_knowledge_zone_body_li a:hover i {
    background:#4285F4;
}
.kms_knowledge_zone_foot{
	height: 48px;
    border-top: 1px solid #eee;
    line-height: 48px;
    text-align: center;
	font-size: 14px;
	color: #666666;
	position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    cursor: pointer;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
.kms_knowledge_zone{
	position: relative;
	background: #FFFFFF;
}
.kms_knowledge_zone_head{
	height: 80px;
    line-height: 80px;
    text-align: center;
    font-size: 22px;
    background: #4285F4;
    color: #FFFFFF;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    padding: 0 10px;
}
.kms_knowledge_zone_head div{
	width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 22px;
}
.kms_knowledge_zone_body_li a{
	display: block;
    height: 40px;
}

.kms_knowledge_zone_body_ul .kms_knowledge_zone_body_li:last-child .kms_knowledge_zone_body_list_name div
{
    border-bottom: 0px;
}
.kms_knowledge_zone_body{
	padding-bottom: 49px;
}

