@CHARSET "UTF-8";

.lui_knowledge_preview_box2 {
	border: 1px solid #d5e3e8;
	border-top: none;
	padding: 10px;
	zoom: 1;
}

.lui_knowledge_preview_dl_a dt {
	border-bottom: 1px solid #dadada;
	padding: 3px 0 5px 5px;
	margin-bottom: 5px;
}

.lui_knowledge_preview_dl_a dt a {
	color: #000;
	font-size: 13px;
	font-weight: bold;
	line-height: 24px;
}

.lui_knowledge_preview_dl_a dt span {
	color: #06c;
	font-size: 12px;
	font-weight: normal;
	margin-left: 5px;
}

.lui_knowledge_preview_dl_a dd {
	border-bottom: 1px solid #dadada;
	padding: 0 0 10px 5px;
	line-height: 24px;
	word-break: normal;
}

.lui_knowledge_preview_dl_a dd a {
	/**margin-right: 5px;**/
	color: #666;
	line-height: 24px
}

.lui_knowledge_preview_dl_a dd span {
	color: #f30;
	/**margin-left: 3px**/
	margin-right: 8px;
}

/*知识总数*/
.kms_knowledge_portlet_le_info {
    background-color: white;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 10px;
}

.numTd {
	padding-left: 10px;
    position: relative;
    top: 1px;
}

.kms_knowledge_portlet_le_info_task > table {
	float:left;
	margin-left:5%;
}

.lui_score_num_flag {
	position: relative;
    top: 4px;
}

.kms_knowledge_portlet_le_info .cur_credit{
	width: 100%;
	float: left;
	text-align: center;
}
.fatBox{
	width:100%;
}
.container{
	width: 100%;
	display: inline-block;
}
.kms_k_portlet_le_info_task{
	margin-top: 10px;
	float: left;
	width: 90px;
	height: 82px;
	text-align: center;
	padding-top: 10px;
}
.container .dataBody{
	text-align: left;
    margin-left: 25px;
}

.mui-msg:before {
    content: "\AB35";
    color: #ccc;
}
.dataBodya .lui_score_num_flag {
	background: url(../style/images/img_1.png) no-repeat;
	width:30px;
	height:20px;
	display: inline-block;
	
}

.dataBodyb .lui_score_num_flag {
	background: url(../style/images/rank_1.png) no-repeat ;
	width:30px;
	height:20px;
	display: inline-block;
}

.dataBodyc .lui_score_num_flag {
	background: url(../style/images/rank_2.png) no-repeat ;
	width:30px;
	height:20px;
	display: inline-block;
}

.dataBodyd .lui_score_num_flag {
	background: url(../style/images/rank_3.png) no-repeat ;
	width:30px;
	height:20px;
	display: inline-block;
}

.container .lui_score_num{
text-align: left;
    margin-left: 10px;
    font-size: 14px;
}

.container .lui_score_num1{
text-align: right;
    margin-left: 10px;
    font-size: 14px;
}


/* ===== 积分管理-个人信息部件 Ends ===== */
/* ===== 知识仓库-知识统计 Ends ===== */
.lui_portlet_kn_statistics_wrap {
}

.lui_portlet_kn_statistics_head {
    text-align: center;
    background: #f8f8f8;
    height: 50px;
    line-height: 50px;
    color: #666;
    font-size: 18px;
}

.lui_portlet_kn_statistics_body {
    padding-top: 20px;
    padding: 20px 10px;
}

.lui_portlet_kn_statistics_sum {
    text-align: center;
    /*  等宽字体  */
    font-family: Consolas,Monaco,monospace;
    height: 52px;
}
.lui_portlet_kn_statistics_sum .sum{
    font-size: 24px;
    color: #4285f4;
}

.lui_portlet_kn_statistics_sum dl {
    display: inline-block;
    font-size: 0;
}

.lui_portlet_kn_statistics_sum dd {
    display: inline-block;
    width: 30px;
    height: 50px;
    border: 1px solid #ECF2FD;
    line-height: 50px;
    text-align: center;
    font-size: 24px;
    color: #4285f4;
    margin: 0 4px;
}

.lui_portlet_kn_statistics_sum dd:before {
}

.lui_portlet_kn_statistics_sum dd:after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: #ecf2fd;
    margin-top: -24px;
}

.lui_portlet_kn_statistics_sum dt {
    display: inline-block;
    font-size: 24px;
    color: #4285f4;
    margin: 0;
    vertical-align: -1px;
}

.lui_portlet_kn_statistics_list {
    margin-top: 20px;
}

.lui_portlet_kn_statistics_list ul {
    display: table;
    width: 100%;
    table-layout: fixed;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.06);
    border-radius: 2px;
    border: 1px solid #e5e5e5;
}

.lui_portlet_kn_statistics_list ul li {
    display: table-cell;
    text-align: center;
    position: relative;
}

.lui_portlet_kn_statistics_list ul li:before {
    content: "";
    display: inline-block;
    position: absolute;
    background: #ededed;
    width: 1px;
    height: 50px;
    left: 0;
    top: 15px;
}

.lui_portlet_kn_statistics_list ul li:first-child:before {
    display: none;
}

.lui_portlet_kn_statistics_list a {
    display: block;
}

.lui_portlet_kn_statistics_list em {
    font-size: 18px;
    font-style: normal;
    color: #4285f4;
    line-height: 24px;
    padding-top: 18px;
    padding-bottom: 0px;
    display: block;
    font-weight: 500;
}

.lui_portlet_kn_statistics_list p {
    font-size: 14px;
    color: #999;
    line-height: 20px;
    padding-bottom: 18px;
}

.lui_portlet_kn_statistics_btn{
    text-align: center;
}
.lui_portlet_kn_statistics_btn .statistics_info{
    font-size: 16px;
    color: #666;
    margin-top: 52px;
    margin-bottom: 10px;
}
.lui_portlet_kn_statistics_btn .statistics_btn{
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    min-width: 180px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}
.lui_portlet_kn_statistics_tip{
    font-size: 16px;
    color:#666;
    text-align: center;
    margin-top:10px;
    margin-bottom:10px;
}
.lui_portlet_kn_statistics_tip em{
    font-style: normal;
    margin: 0 10px;
}

/* ===== 知识仓库-知识统计 Ends ===== */
