.muiKmsLseviceMyBookmarkAndNoteAndEvaluation {
	margin-bottom: 1rem;
}
.muiKmsLseviceMyBookmarkAndNoteAndEvaluation_hr {
	height:1px;
	display:flex;
	flex:1;
	background-color:#FAFAFA;
	margin-left:2.5rem;
}