<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean
			id="lbpmProcessForFlyService"
			class="com.landray.kmss.sys.lbpmext.webservice.LbpmProcessForFlyRestService">
		<property name="accessManager">
			<ref bean="accessManager" />
		</property>
		<property name="processExecuteService">
			<ref bean="lbpmProcessExecuteService" />
		</property>
		<property name="backgroundAuthService">
			<ref bean="backgroundAuthService" />
		</property>
		<property name="lbpmOrgParseService">
			<ref bean="lbpmOrgParseService" />
		</property>
		<property name="baseService">
			<ref bean="KmssBaseService" />
		</property>
	</bean>


</beans>

