<div id="signTrailView" class="signStatTrailView" data-dojo-type='dojox/mobile/View'>
	<input type="hidden" name="userId" value='{userId}'>
	<input type="hidden" name="fdCategoryId" value='{fdCategoryId}'>
	<input type="hidden" name="mydoc" value='{mydoc}'>
	<div class="muiSignTrailHead muiCommonHead" data-dojo-type="mui/header/Header" data-dojo-props="height:'1.8rem'">
		<div class="leftArea"><span>{fdCateName}</span></div>
		<div class="rightArea">
			<div id="signTrail_statDate" data-dojo-type="mui/form/DateTime"
				 data-dojo-mixins="mui/datetime/_DateMixin"
				 data-dojo-props="optClass:'mui-down-n',valueField:'nowDate',value:'{nowDate}',edit:false"></div>
		</div>
	</div>
	<div data-dojo-type="sys/attend/mobile/resource/js/stat/SignTrailView" 
		data-dojo-props="url:'/sys/attend/sys_attend_main/sysAttendMain.do?method=statTrail'"></div>
	
	<ul class="muiSignTrailTabBar" data-dojo-type="mui/tabbar/TabBar" fixed="bottom" style="display:none;">
	  	<li class="muiSignTrailViewBack" data-dojo-type="mui/back/BackButton"></li>	   		
	    <li data-dojo-type="mui/tabbar/TabBarButtonGroup" data-dojo-props="icon1:'mui mui-more'">
	    	<div data-dojo-type="mui/back/HomeButton"></div>
	    </li>
	</ul>
</div>