<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean
		name="/component/locker/component_locker_main/componentLockerMain.do"
		class="com.landray.kmss.component.locker.actions.ComponentLockerMainAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.component.locker.forms.ComponentLockerMainForm" />
		<property name="forwards">
			<map>
				<entry
					key="list"
					value="/component/locker/component_locker_main/componentLockerMain_list.jsp" />
			</map>
		</property>
	</bean>
</beans>