.muiModuleButton {
	position: fixed;
	background: var(--muiFontColor);
	box-shadow: 0 6px 10px 0 rgba(59, 68, 93, 0.20);
	bottom: 10rem;
	right: 1.25rem;
	height: 5rem;
	width: 5rem;
	border-radius: 50%;
	color: #fff;
	display: inline-block;
	text-align: center;
	line-height: 5rem;
}

.muiModuleButton .fontmuis{
	font-size: var(--muiFontSizeXL);
	line-height: 5rem;
}

.muiModuleButton span{
	font-size: var(--muiFontSizeS);
	width: 2.6rem;
	display: inline-block;
	line-height: var(--muiFontSizeS);
    vertical-align: middle;
}

.muiModuleButtonDialog{
	position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    opacity: 0;
    transition: opacity .5s;
    z-index:120;
}

.muiModuleButtonDialog.muiModuleButtonDialogShow{
	opacity: 1;
}

.muiModuleButtonDialog .muiModuleButtonCover{
	width: 100%;
	height: 100%;
	opacity: 0.9;
	background: #000000;
	position: absolute;
}

.muiModuleButtonClose{
	position: absolute;
	bottom: 4rem;
	width: 100%;
    text-align: center;
}

.muiModuleButtonClose i{
	display: inline-block;
	font-size: 4rem;
	color: #fff;
}

.muiModuleButtonMenu{
	position: absolute;
	transform: translate(0,-50%);
	top: 50%;
	left: 2rem;
	right:2rem;
	display: flex;
    flex-wrap: wrap;
}

.muiModuleButtonMenu .muiModuleButtonMenuItem{
	color: #fff;
	margin: 2rem 0;
	text-align: center;
}

.muiModuleButtonMenuItem i{
	display: inline-block;
	width: 5rem;
	height: 5rem;
	line-height: 5rem;
    text-align: center;
    font-size:var(--muiFontSizeXXL);
    border-radius: 50%;
}
.muiModuleButtonMenuItemText{
	font-size: var(--muiFontSizeSS);
	margin-top: 1rem;
}

.muiModuleButtonMenuItem:nth-of-type(8n+1) i{
	background-color: #FFB900;
}
.muiModuleButtonMenuItem:nth-of-type(8n+2) i{
	background-color: #2BCF8F;
}
.muiModuleButtonMenuItem:nth-of-type(8n+4) i{
	background-color: #EECC00;
}
.muiModuleButtonMenuItem:nth-of-type(8n+3) i{
	background-image: linear-gradient(180deg, #6E93FF 0%, #6E93FF 100%);
}

.muiModuleButtonMenuItem:nth-of-type(8n+5) i{
	background-color: #2BCF8F;
}
.muiModuleButtonMenuItem:nth-of-type(8n+6) i{
	background-color: #827DFF;
}
.muiModuleButtonMenuItem:nth-of-type(8n+7) i{
	background-image: linear-gradient(180deg, #6E93FF 0%, #6E93FF 100%);
}
.muiModuleButtonMenuItem:nth-of-type(8n+8) i{
	background-color: #EECC00;
}
