.muiModuleContainer{
	overflow-y: auto;
	height: 100%;
	-webkit-overflow-scrolling: touch;
}

.muiModuleSgl .muiModuleContainer{
	overflow-y: inherit;
	padding-bottom: 0;
}

.muiModuleContainer>div[fixed="bottom"]{
	height: 5.5rem;
}