.muiModuleFunctional{
	background-color: #f2f2f2;
	position: relative;
}

.muiModuleFuncListItem {
	height: 6rem;
	padding: 0 1.25rem ;
	position: relative;
}

.muiModuleFuncListGroup {
	background-color: #fff;
	margin-bottom:1rem;
}
.muiModuleFuncListGroup:LAST-CHILD{
	margin-bottom: 0rem;
}

.muiModuleFuncListItem>i {
	position: absolute;
	left: 1.75rem;
	font-size: var(--muiFontSizeMA);
	color: #FFB900;
	line-height: 6rem;
}

.muiModuleFuncListItem>img {
	top: 2rem;
	position: absolute;
	left: 1.75rem;
	color: #FFB900;
	line-height: 6rem;
	width: 2rem;
	height: 2rem;

}

.muiModuleFuncListInfo {
	padding: 0 6rem 0 3.5rem;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.muiModuleFuncListInfo>p {
	display: inline-block;
	width: 100%;
	font-size: 1.4rem;
	color: #3E4665;
}

.muiModuleFuncListInfo>span {
	display: inline-block;
	width: 100%;
	overflow: hidden;
	font-size: var(--muiFontSizeSS);
	color: #999FB7;
}

.muiModuleFuncInfoMore {
	position: absolute;
	right: 1.75rem;
	line-height: 6rem;
	vertical-align: middle;
}

.muiModuleFuncInfoMore>span {
	display: inline-block;
	background-color: #FF725A;
	border-radius: 10px;
	color: #fff;
	font-size: var(--muiFontSizeXS);
	height: 1.4rem;
	line-height: 1.5rem;
	padding: 0 4px;
	margin-right: 0.5rem;
}

.muiModuleFuncListItem .muiModuleFuncInfoMore>i {
	font-size: var(--muiFontSizeSS);
	color: #999FB7;
	vertical-align:middle;
}

.muiModuleFuncGrid{
	background-color:#fff;
	padding:0 1.25rem;
}

.muiModuleFuncGridGroup{
	display: flex;
	background-color:#fff;
	padding: 0.5rem 0!important;
}

.muiModuleFuncGridItem,.muiModuleFuncConGridItem{
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: inline-block;
}

.muiModuleFuncGridItem>div,.muiModuleFuncConGridItem>div {
    display: block;
    margin: 0 auto;
    width: 5.2rem;
    height: 5.2rem;
    margin-bottom: .5rem;
    border-radius: 18px;
    color: #fff;
    overflow: hidden;
}

.muiModuleFuncGridItem>span,.muiModuleFuncConGridItem>span{
	font-size: var(--muiFontSizeSS);
	color: var(--muiFontColorInfo);
}

.muiModuleFuncGridItem .fontmuis,.muiModuleFuncConGridItem .fontmuis{
    line-height: 5.2rem;
    font-size: var(--muiFontSizeXXXXL);
    display: block;
}

/*平铺菜单样式*/
.muiModuleFuncGridGroup:nth-of-type(2n+1) .muiModuleFuncGridItem:nth-of-type(4n+1) .fontmuis { background-image: linear-gradient(-180deg, #629DFF 2%, #2368DC 96%); }
.muiModuleFuncGridGroup:nth-of-type(2n+1) .muiModuleFuncGridItem:nth-of-type(4n+2) .fontmuis { background-image: linear-gradient(-180deg, #FFBF86 1%, #FF7C52 96%); }
.muiModuleFuncGridGroup:nth-of-type(2n+1) .muiModuleFuncGridItem:nth-of-type(4n+3) .fontmuis { background-image: linear-gradient(-180deg, #7BE0B8 0%, #0DC6B2 100%); }
.muiModuleFuncGridGroup:nth-of-type(2n+1) .muiModuleFuncGridItem:nth-of-type(4n+4) .fontmuis { background-image: linear-gradient(-180deg, #668FF3 2%, #285ADD 98%); }
.muiModuleFuncGridGroup:nth-of-type(2n+2) .muiModuleFuncGridItem:nth-of-type(4n+1) .fontmuis { background-image: linear-gradient(-180deg, #FF8F86 1%, #FF5D52 96%); }
.muiModuleFuncGridGroup:nth-of-type(2n+2) .muiModuleFuncGridItem:nth-of-type(4n+2) .fontmuis { background-image: linear-gradient(-180deg, #9297D6 0%, #616597 100%); }
.muiModuleFuncGridGroup:nth-of-type(2n+2) .muiModuleFuncGridItem:nth-of-type(4n+3) .fontmuis { background-image: linear-gradient(-180deg, #FFE200 0%, #FFB800 100%); }
.muiModuleFuncGridGroup:nth-of-type(2n+2) .muiModuleFuncGridItem:nth-of-type(4n+4) .fontmuis { background-image: linear-gradient(-180deg, #88E095 0%, #67C748 98%); }

.muiModuleFuncConGridItem>div{
	color: #999FB7;
}
