@supports (bottom: constant(safe-area-inset-bottom)) {
	.muiModuleTabbar{
		height : calc(55px+constant(safe-area-inset-bottom));
	}
}

.muiModuleTabbar {
	display: flex;
	width: 100%;
	position: fixed;
	bottom: 0;
	background: #FFFFFF;
	box-shadow: 0 6px 10px 0 rgba(59,68,93,0.50);
}

.muiModuleTabbar>div {
	flex: 1;
	text-align: center;
	padding:0.75rem 0 ;
	color: #999FB7;
}

.muiModuleTabbar>div.selected{
	color: #4285F4;
}

.muiModuleTabbar>div .fontmuis{
	font-size: var(--muiFontSizeLA);
	margin-bottom:0.3rem;
	position: relative;
	display: inline-block; 
}

.muiModuleTabbar>div.selected .dot{
	display: block;
}

.muiModuleTabbar>div .dot{
	background: #FF725A;
	border: 2px solid #FFFFFF;
	border-radius: 18px;
	display: none;
    width: 0.8rem;
    height: 0.8rem;
    position: absolute;
    top: -5px;
    right: -8px;
}

.muiModuleTabbar>div>div{
	font-size: var(--muiFontSizeXS)
}
/*iPhoneXR,12适配*/
@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio:2) {
	.muiModuleTabbar>div{
		padding-bottom: 1.2rem;
	}
}
@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio:3) {
	.muiModuleTabbar>div{
		padding-bottom: 1.2rem;
	}
}