@CHARSET "UTF-8";


/*=== 面板及内容 Starts =============================================*/
.lui-backstage-panel{
  padding: 5px 15px;
  background-color: #fff;
}
.lui-backstage-panel-heading{
  border-bottom: 1px solid #dbdbdb;
}
.lui-backstage-panel-heading:after,
.lui-backstage-panel-heading:before,
.lui-backstage-panel-list:after,
.lui-backstage-panel-list:before,
.lui-backstage-panel-list ul:after,
.lui-backstage-panel-list ul:before,
.lui-backstage-panel-list > li a:after,
.lui-backstage-panel-list > li a:before{
  content: '';
  display: table;
  visibility: hidden;
}
.lui-backstage-panel-heading:after,
.lui-backstage-panel-list:after,
.lui-backstage-panel-list ul:after,
.lui-backstage-panel-list > li a:after{
  clear: both;
}
.lui-backstage-panel-heading-title{
  margin: -10px 0 -2px;
  padding: 20px 5px 18px;
  line-height: 20px;
  color: #46b1fc;
  font-size: 16px;
  font-weight: normal;
  border-bottom: 3px solid #46b1fc;
  float: left;
}
.lui-backstage-panel-heading-title > .num{ margin-left: 5px; }
.lui-backstage-panel-body{
  padding: 10px 15px;
}
.lui-backstage-panel-list,
.lui-backstage-panel-list ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
.lui-backstage-panel-list li{
  margin: 9px 0;
  width: 290px;
  float: left;
  vertical-align: middle;
  *white-space: -1px;
}
.lui-backstage-panel-list > li a{
  max-width: 98%;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: bottom;
  transition: all .3s;
}
.lui-backstage-panel-list > li a span{
  width:100%
}
.lui-backstage-panel-list > li a:hover,
.lui-backstage-panel-list > li a:hover .txt,
.lui-backstage-panel-list .next-level-list li a:hover .txt{ color: #46b1fc; }
.lui-backstage-panel-list > li .txt{
  color: #323941;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  float: left;
  transition: all .3s;
}
.lui-backstage-panel-list > li .num{
  margin-left: 3px;
  max-width: 35px;
  line-height: 20px;
  display: inline-block;
}
.lui-backstage-panel-list > li.has-next-level{
  width: 100%;
}
.lui-backstage-panel-list > li.has-next-level > .next-level-title{ display: block;cursor: pointer; font-weight: bolder;}

.lui-backstage-panel-list > li.has-next-level > .next-level-title  a{
  padding-left: 6px;
  border-left: 3px solid #46b1fc
}


.lui-backstage-panel-list .next-level-list{ margin-top: 5px; }
.lui-backstage-panel-list .next-level-list li{
  margin: 10px 0;
}
.lui-backstage-panel-list  li.temp-level a{
  max-width: 87%;
  padding-left: 22px;
  background: url(../images/template-icon.png) no-repeat 0 50%;
}
.lui-backstage-panel-list  li a .txt{
  color: #443c3c;
}

/*=== 面板及内容 Ends ===============================================*/

.canCopyFooter{
	text-align:left !important;
	padding-left:8px;
}
.canCopyTitle{
	width:85%;
	display:inline-block;
}
.relationDocument{
	display:none;
	position:absolute;
	width:300px;
	height:350px;
	z-index:1000;
	background-color:#fff;
	padding:10px;
	border:1px solid rgba(0, 0, 0, .15);
	border-radius:4px;
	box-shadow:0 0 12px rgba(0, 0, 0, .175);
	/* left:50%; */
}
.relationDocument li{
	list-style:none;
	margin-bottom:10px;
}
.relationDocument:after,
.relationDocument:before{
	content: '';
	display: inline-block;
	width: 0;
	height: 0;
	vertical-align: middle;
	border-bottom: 8px dashed;
	border-right: 10px solid transparent;
	border-left: 10px solid transparent;
	position: absolute;
	left: 50%;
	margin-left: -10px;
	bottom: 0;
}

.relationDocument:after{
	color: #fff;
	top: -7px;
}
.relationDocument:before{
	color: #ccc;
	color: rgba(0, 0, 0, .1);
	top: -8px;
}
.iconWrap{
	width:15%;
	height:100%;
	display:inline-block;
	position: absolute;
	border-top:1px solid #98BFFF;
}
.listImg{
	display:inline-block;
	width: 16px;
	height: 16px;
	cursor: pointer;
	margin-top: 40%;
	background: url(../img/view1.png) no-repeat left top !important;
}
.unlistImg{
	display:inline-block;
	width: 16px;
	height: 16px;
	cursor: pointer;
	margin-top: 40%;
	background: url(../img/view2.png) no-repeat left top !important;
}

.fileIcon{
	display:inline-block;
	margin-right:10px;
	width: 16px;
	height: 20px;
	cursor: pointer;
	background: url(../img/fileIcon.png) no-repeat left top !important;
}
