<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<!-- 权限计算服务 -->
	<bean id="sysFormRightService" 
		class="com.landray.kmss.sys.lbpmservice.taglib.right.SysFormRightService">
	</bean>
	
	<bean
		id="auditNoteDataShowByHandler"
		class="com.landray.kmss.sys.lbpmservice.taglib.auditnote.AuditNoteDataShowByHandler" scope="prototype"/>
	<bean
		id="auditNoteDataShowByHandlerFormula"
		class="com.landray.kmss.sys.lbpmservice.taglib.auditnote.AuditNoteDataShowByHandlerFormula" scope="prototype"/>
	<bean
		id="auditNoteDataShowByNode"
		class="com.landray.kmss.sys.lbpmservice.taglib.auditnote.AuditNoteDataShowByNode" scope="prototype"/>
	<bean
		id="auditNoteDataShowByNodeTable"
		class="com.landray.kmss.sys.lbpmservice.taglib.auditnote.AuditNoteDataShowByNodeTable" scope="prototype"/>
	<bean
		id="auditNoteDataShowByPreference"
		class="com.landray.kmss.sys.lbpmservice.taglib.auditnote.AuditNoteDataShowByPreferenceExtend" scope="prototype"/>
	<bean
		id="auditNoteDataShowByRecycling"
		class="com.landray.kmss.sys.lbpmservice.taglib.auditnote.AuditNoteDataShowByRecycling" scope="prototype"/>
	<bean
		id="auditNoteDataShowByDistribution"
		class="com.landray.kmss.sys.lbpmservice.taglib.auditnote.AuditNoteDataShowByDistribution" scope="prototype"/>

	<bean
		id="auditNoteStyleDefaultOnlyHandler"
		class="com.landray.kmss.sys.lbpmservice.taglib.auditnote.AuditNoteStyleDefaultOnlyHandler"/>
	<bean
		id="auditNoteStyleDefaultOnlyHandler2"
		class="com.landray.kmss.sys.lbpmservice.taglib.auditnote.AuditNoteStyleDefaultOnlyHandler2"/>
	<bean
		id="auditNoteStyleDefaultOnlyHandlerDate"
		class="com.landray.kmss.sys.lbpmservice.taglib.auditnote.AuditNoteStyleDefaultOnlyHandlerDate"/>
	<bean
		id="auditNoteStyleDefaultPostHandler"
		class="com.landray.kmss.sys.lbpmservice.taglib.auditnote.AuditNoteStyleDefaultPostHandler"/>
	<bean
		id="auditNoteStyleDefaultDeptPostHandler"
		class="com.landray.kmss.sys.lbpmservice.taglib.auditnote.AuditNoteStyleDefaultDeptPostHandler"/>
	<bean
		id="auditNoteStyleDefaultDeptHandler"
		class="com.landray.kmss.sys.lbpmservice.taglib.auditnote.AuditNoteStyleDefaultDeptHandler"/>
	<bean
		id="auditNoteStyleDefaultShowOnlyHandler"
		class="com.landray.kmss.sys.lbpmservice.taglib.auditnote.AuditNoteStyleDefaultShowOnlyHandler"/>
	<bean
		id="auditNoteStyleCustom"
		class="com.landray.kmss.sys.lbpmservice.taglib.auditnote.AuditNoteStyleCustom" scope="prototype"/>
	<bean
		id="circulationOpinionStyleCustom"
		class="com.landray.kmss.sys.lbpmservice.taglib.auditnote.CirculationOpinionStyleCustom" scope="prototype"/>
	<bean
		id="auditNoteDataShowByHandlerAndNote"
		class="com.landray.kmss.sys.lbpmservice.taglib.auditnote.AuditNoteDataShowByHandlerAndNote" scope="prototype"/>
</beans>

