@charset "utf-8";

/* CSS reset */

body,
input,
textarea,
div,
a,
table,
tr,
td,
th {
	font-family: Microsoft YaHei, Tahoma, Geneva, "sans-serif", SimSun;
	font-size: 12px;
}

body {
	color: #333;
	-webkit-text-size-adjust: none;
}

body,
div,
dl,
dt,
dd,
ul,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
	margin: 0;
	padding: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

fieldset,
img {
	border: 0;
}

a {
	color: #333;
	text-decoration: none;
}

a:hover {
	color: #3eb2e6;
}

abbr,
acrnym {
	border: 0;
}

input::-ms-clear {
	display: none
}


/*输入框的小叉叉图标消失*/

*:focus {
	outline: none;
}


/* 去掉输入框点击时的边框 */

ul,
li {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0px;
	padding: 0px;
	font-weight: normal;
	font-style: normal;
}


/*************************** common.css 里的内容****************************************/

.profile_progress_container {
	background: #fff;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.13);
	border: 1px solid #e9e9e9\9;
	width: 300px;
	height: 102px;
	padding: 0 20px;
	border-radius: 2px;
}

.profile_progress_title {
	text-align: center;
	padding-top: 30px;
	padding-bottom: 15px;
	color: #333;
	font-size: 14px;
}

.profile_progress {
	width: 100%;
	height: 4px;
	background: #e4e4e4;
}

.profile_progress_bar {
	height: 4px;
	background: #5aafff;
	text-align: right;
}

.profile_progress_bar em {
	font-style: normal;
	position: relative;
	top: 8px;
}