<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean
		name="/tic/jdbc/tic_jdbc_task_manage/ticJdbcTaskManageIndex.do"
		class="com.landray.kmss.tic.jdbc.actions.TicJdbcTaskManageIndexAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property name="forwards">
			<map>
				<entry
					key="list"
					value="/tic/jdbc/tic_jdbc_task_manage/ticJdbcTaskManage_ui_list.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/tic/jdbc/tic_jdbc_task_manage/ticJdbcTaskManage.do"
		class="com.landray.kmss.tic.jdbc.actions.TicJdbcTaskManageAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.tic.jdbc.forms.TicJdbcTaskManageForm" />
		<property name="forwards">
			<map>
				<entry
					key="view"
					value="/tic/jdbc/tic_jdbc_task_manage/ticJdbcTaskManage_view.jsp" />
				<entry
					key="edit"
					value="/tic/jdbc/tic_jdbc_task_manage/ticJdbcTaskManage_edit.jsp" />
				<entry
					key="list"
					value="/tic/jdbc/tic_jdbc_task_manage/ticJdbcTaskManage_list.jsp" />
				<entry
					key="dataList"
					value="/tic/jdbc/tic_jdbc_mapp_manage/ticJdbcMappManage_dataList.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/tic/jdbc/tic_jdbc_relation/ticJdbcRelation.do"
		class="com.landray.kmss.tic.jdbc.actions.TicJdbcRelationAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.tic.jdbc.forms.TicJdbcRelationForm" />
		<property name="forwards">
			<map>
				<entry
					key="view"
					value="/tic/jdbc/tic_jdbc_relation/ticJdbcRelation_view.jsp" />
				<entry
					key="edit"
					value="/tic/jdbc/tic_jdbc_relation/ticJdbcRelation_edit.jsp" />
				<entry
					key="list"
					value="/tic/jdbc/tic_jdbc_relation/ticJdbcRelation_list.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/tic/jdbc/tic_jdbc_task_category/ticJdbcTaskCategory.do"
		class="com.landray.kmss.tic.jdbc.actions.TicJdbcTaskCategoryAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.tic.jdbc.forms.TicJdbcTaskCategoryForm" />
		<property name="forwards">
			<map>
				<entry
					key="view"
					value="/tic/jdbc/tic_jdbc_task_category/ticJdbcTaskCategory_view.jsp" />
				<entry
					key="edit"
					value="/tic/jdbc/tic_jdbc_task_category/ticJdbcTaskCategory_edit.jsp" />
				<entry
					key="list"
					value="/tic/jdbc/tic_jdbc_task_category/ticJdbcTaskCategory_list.jsp" />
				<entry
					key="tree"
					value="/tic/jdbc/tic_jdbc_task_category/ticJdbcTaskCategory_tree.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/tic/jdbc/tic_jdbc_mapp_category/ticJdbcMappCategory.do"
		class="com.landray.kmss.tic.jdbc.actions.TicJdbcMappCategoryAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.tic.jdbc.forms.TicJdbcMappCategoryForm" />
		<property name="forwards">
			<map>
				<entry
					key="view"
					value="/tic/jdbc/tic_jdbc_mapp_category/ticJdbcMappCategory_view.jsp" />
				<entry
					key="edit"
					value="/tic/jdbc/tic_jdbc_mapp_category/ticJdbcMappCategory_edit.jsp" />
				<entry
					key="list"
					value="/tic/jdbc/tic_jdbc_mapp_category/ticJdbcMappCategory_list.jsp" />
				<entry
					key="tree"
					value="/tic/jdbc/tic_jdbc_mapp_category/ticJdbcMappCategory_tree.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/tic/jdbc/tic_jdbc_mapp_manage/ticJdbcMappManageIndex.do"
		class="com.landray.kmss.tic.jdbc.actions.TicJdbcMappManageIndexAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property name="forwards">
			<map>
				<entry
					key="list"
					value="/tic/jdbc/tic_jdbc_mapp_manage/ticJdbcMappManage_ui_list.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/tic/jdbc/tic_jdbc_mapp_manage/ticJdbcMappManage.do"
		class="com.landray.kmss.tic.jdbc.actions.TicJdbcMappManageAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.tic.jdbc.forms.TicJdbcMappManageForm" />
		<property name="forwards">
			<map>
				<entry
					key="view"
					value="/tic/jdbc/tic_jdbc_mapp_manage/ticJdbcMappManage_view.jsp" />
				<entry
					key="edit"
					value="/tic/jdbc/tic_jdbc_mapp_manage/ticJdbcMappManage_edit.jsp" />
				<entry
					key="list"
					value="/tic/jdbc/tic_jdbc_mapp_manage/ticJdbcMappManage_list.jsp" />
				<entry
					key="editPage"
					value="/tic/jdbc/tic_jdbc_mapp_manage/ticJdbcMappManage_editPage.jsp" />
				<entry
					key="dataList"
					value="/tic/jdbc/tic_jdbc_mapp_manage/ticJdbcMappManage_dataList.jsp" />
				<entry
					key="jdbcManageChooser"
					value="/tic/jdbc/tic_jdbc_mapp_manage/ticJdbcMappManage_chooser.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/tic/jdbc/tic_jdbc_data_set/ticJdbcDataSet.do"
		class="com.landray.kmss.tic.jdbc.actions.TicJdbcDataSetAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.tic.jdbc.forms.TicJdbcDataSetForm" />
		<property name="forwards">
			<map>
				<entry
					key="view"
					value="/tic/jdbc/tic_jdbc_data_set/ticJdbcDataSet_view.jsp" />
				<entry
					key="edit"
					value="/tic/jdbc/tic_jdbc_data_set/ticJdbcDataSet_edit.jsp" />
				<entry
					key="list"
					value="/tic/jdbc/tic_jdbc_data_set/ticJdbcDataSet_list.jsp" />
				<entry
					key="viewQuery"
					value="/tic/jdbc/tic_jdbc_query/tic_jdbc_query_edit.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/tic/jdbc/tic_jdbc_data_set/ticJdbcDataSetIndex.do"
		class="com.landray.kmss.tic.jdbc.actions.TicJdbcDataSetIndexAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property name="forwards">
			<map>
				<entry
					key="list"
					value="/tic/jdbc/tic_jdbc_data_set/ticJdbcDataSet_ui_list.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/tic/jdbc/tic_jdbc_data_set_category/ticJdbcDataSetCategory.do"
		class="com.landray.kmss.tic.jdbc.actions.TicJdbcDataSetCategoryAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.tic.jdbc.forms.TicJdbcDataSetCategoryForm" />
		<property name="forwards">
			<map>
				<entry
					key="view"
					value="/tic/jdbc/tic_jdbc_data_set_category/ticJdbcDataSetCategory_view.jsp" />
				<entry
					key="edit"
					value="/tic/jdbc/tic_jdbc_data_set_category/ticJdbcDataSetCategory_edit.jsp" />
				<entry
					key="list"
					value="/tic/jdbc/tic_jdbc_data_set_category/ticJdbcDataSetCategory_list.jsp" />
				<entry
					key="tree"
					value="/tic/jdbc/tic_jdbc_data_set_category/ticJdbcDataSetCategory_tree.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/tic/jdbc/tic_jdbc_query/ticJdbcQuery.do"
		class="com.landray.kmss.tic.jdbc.actions.TicJdbcQueryAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.tic.jdbc.forms.TicJdbcQueryForm" />
		<property name="forwards">
			<map>
				<entry
					key="view"
					value="/tic/jdbc/tic_jdbc_query/ticJdbcQuery_view.jsp" />
				<entry
					key="edit"
					value="/tic/jdbc/tic_jdbc_query/ticJdbcQuery_edit.jsp" />
				<entry
					key="list"
					value="/tic/jdbc/tic_jdbc_query/ticJdbcQuery_list.jsp" />
				<entry
					key="query_result"
					value="/tic/jdbc/tic_jdbc_query/ticJdbcQuery_view_result.jsp" />
				<entry
					key="json_result"
					value="/tic/jdbc/tic_jdbc_query/ticJdbcQuery_view_json.jsp" />
				<entry
					key="reQuery"
					value="/tic/jdbc/tic_jdbc_query/tic_jdbc_query_edit.jsp" />
			</map>
		</property>
	</bean>
</beans>