@CHARSET "UTF-8";

/**
 * CSS Reset ******************************************************************************************
 */
body,div,dl,dt,dd,ul,ol,li,pre,code,legend,button,form,fieldset,input,textarea,p,blockquote,th,td,h1,h2,h3,h4,h5,h6
	{
	padding: 0;
	margin: 0;
}

/* 表格标题及内容居左显示 */
caption,th {
	text-align: left;
}

input,img,select {
	vertical-align: middle;
}

/* 输入控件 */
input,button,textarea,select,optgroup,option {
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
}

/* 特殊标记的字体和字号 */
address,caption,cite,code,dfn,th,var {
	font-weight: normal;
	font-style: normal;
}

b,strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

small {
	font-size: 80%;
}

/* 鼠标样式 */
input[type="submit"] {
	cursor: pointer;
}

button {
	box-sizing: content-box;
	cursor: pointer;
}

/* 标题元素样式 */
h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
	font-weight: normal;
}

/* 清除列表样式 */
ol,ul {
	list-style: none;
}

/* 设置表格的边框被合并为一个单一的边框, 指定分隔边框模型中单元格边界之间的距离为0*/
table {
	border-collapse: collapse;
	border-spacing: 0;
}

th,td {
	text-align: left;
}

/* 缩写，图片等无边框 */
fieldset,img,abbr,acronym {
	border: 0;
}

abbr,acronym {
	font-variant: normal;
}

img {
	max-width: 100%;
}

/* 链接样式，颜色可酌情修改 */
a {
	color: #333;
	background-color: transparent;
	text-decoration: none;
	transition: all 0.3s ease;
}

a:visited {
	
}

a:hover,a:active,a:visited {
	
}

/* 上下标 */
sup {
	vertical-align: text-top;
}

sub {
	vertical-align: text-bottom;
}

/* 主体 */
html { /*height: 100%;*/
	
}

body {
	font-family: "Microsoft YaHei", Arial, sans-serif;
	color: #333;
	font-size: 62.5%;
	background-color: #fff;
}

/******************************************************************************************************/
	/**
 * 主要内容代码 ******************************************************************************************
 */
.lui-address-prolevel-wrapper { /*padding:10px;*/
	background-color: #fff;
}

.lui-address-prolevel-heading {
	padding: 2px 2px 10px;
}

.lui-address-prolevel-heading-title {
	margin: 0;
	padding: 0;
	line-height: 16px;
	color: #333;
	font-size: 14px;
}

.lui-address-prolevel-icon {
	margin-right: 6px;
	width: 16px;
	height: 16px;
	vertical-align: middle;
	background-repeat: no-repeat;
	background-position: 50%;
	display: inline-block;
}

.lui-address-prolevel-icon-info {
	background-image: url(images/icon-address-prolevel-info.png);
}

.lui-address-prolevel-content {
	border-top: 1px solid #b4b4b4;
}

.lui-address-prolevel-filterBody {
	height: 320px;
	overflow-y: auto;
	border-bottom: 1px solid #b4b4b4;
}

.lui-address-prolevel-table .btn-assort{
    padding-right: 12px;
    background: url(../images/address_assort_arr.png) no-repeat 100% 5px;
    *background-position: 100% 6px;
    transition: none;
}
.lui-address-prolevel-table .btn-assort.assort-Up{
    background-position: 100% -27px;
    *background-position: 100% -26px;
}
.lui-address-prolevel-table .btn-assort.assort-Dn{
    background-position: 100% -59px;
    *background-position: 100% -58px;
}

.lui-address-prolevel-table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 97%;
	table-layout: fixed;
}

.lui-address-prolevel-table thead th,.lui-address-prolevel-table tbody td
	{
	padding: 5px;
	line-height: 20px;
	text-align: center;
	color: #222;
	font-size: 12px;
	border-bottom: 1px solid #e6e6e6;
	word-break: break-all;
	word-wrap: break-word;
}

.lui-address-prolevel-table tbody tr:hover {
	background-color: #f6efec;
}

.lui-address-prolevel-table thead th {
	padding: 6px 5px;
	color: #333;
	font-size: 14px;
	font-weight: 500;
	border-top: 1px solid #b4b4b4;
	border-bottom: 2px solid #bedff8;
	background-color: #f9f9f9;
}

.lui-address-prolevel-form-inline {
	padding: 10px 5px;
	text-align: center;
	/*float:right;*/
}

.lui-address-prolevel-form-group {
	display: inline-block;
	margin: 0 4px;
	vertical-align: middle;
	/*float:left;*/
}

.lui-address-prolevel-filterbar {
	height: 46px;
}

.lui-address-prolevel-filterbar:after,.lui-address-prolevel-filterbar:before,.lui-address-prolevel-form-inline:after,.lui-address-prolevel-form-inline:before
	{
	content: '';
	display: table;
	visibility: hidden;
}

.lui-address-prolevel-filterbar:after,.lui-address-prolevel-form-inline:after
	{
	clear: both;
}

.lui-address-prolevel-form-group label {
	margin-right: 8px;
	display: inline-block;
/* 	max-width: 100%; */
	vertical-align: middle;
	font-size: 14px;
	font-weight: normal;
}

.lui-address-prolevel-form-control {
	display: block;
	padding: 6px 2%;
	width: 95.5%;
	height: 20px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #b4b4b4;
}

.lui-address-prolevel-form-inline .lui-address-prolevel-form-control {
	padding: 2px 4px;
	width: auto;
	_height: 26px;
	display: inline-block;
	vertical-align: middle;
}

.lui-address-prolevel-btn {
	display: inline-block;
	padding: 0 4px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	height: 24px;
	line-height: 24px;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	outline: none;
	transition: all 0.2s ease-in-out;
}

.lui-address-prolevel-btn-primary {
	color: #fff;
	background-color: #47b5e7;
	border-color: #47b5e7;
}

.lui-address-prolevel-btn-primary:hover {
	color: #fff;
	background-color: #1f9ed7;
	border-color: #1f9ed7;
}

.lui-address-prolevel-btn-muted {
	color: #fff;
	background-color: #bcbcbc;
	border-color: #bcbcbc;
}

.lui-address-prolevel-btn-muted:hover {
	color: #fff;
	background-color: #a9a9a9;
	border-color: #a9a9a9;
}

.lui-address-prolevel-btn-group-inline {
	padding: 10px;
}

.lui-address-prolevel-btn-group-inline.lui-address-prolevel-text-center
	{
	margin-right: 6px;
	margin-left: 6px;
	text-align: center;
}

.lui-address-prolevel-btn-group-inline .lui-address-prolevel-btn {
	margin: 0 6px;
	min-width: 60px;
	_width: 60px;
}

.lui-address-prolevel-noData {
	padding-top: 100px;
	text-align: center;
}

.lui-address-prolevel-noData .noData-img {
	margin: 0 auto;
	width: 74px;
	height: 74px;
	background: url(../images/address_noData.png) no-repeat 50%;
	display: inline-block;
}

.lui-address-prolevel-noData .noData-title {
	margin: 15px auto 0;
	padding: 0 10px;
	text-align: center;
	color: #909090;
	font-size: 16px;
}