/* create 190625 后台概览页 */
/* 系统已经有的 */
body{ margin:0;}
html,body{
	min-height:100%;
}

/* ======== 后台概览页 Starts ======== */
.lui_profile_overview_container {
}

.lui_profile_main_content {
    width: 1280px;
    margin: 0 auto;
}

/* 头部信息 */
.lui_profile_overview_header {
    height: 128px;
    background: #2a2a42 url(../images/bg-overview.png) no-repeat center;
    background-size: cover;
    /*border-radius: 2px;*/
    padding-top: 20px;
}

.lui_profile_overview_baseInfo_list {
    overflow: hidden;
    margin-right: -8px;
    position: relative;
    /* top: 20px; */
}

.lui_profile_overview_baseInfo_item {
    list-style: none;
    float: left;
    width: 240px;
    height: 107px;
    box-shadow: 0 0 6px 0 rgba(36, 36, 44, 0.8);
    border-radius: 5px;
    margin-right: 5px;
    position: relative;
    z-index: 2;
    text-align: center;
}

.lui_profile_overview_baseInfo_item:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgb(180, 198, 255);
    opacity: 0.3;
    border-radius: 4px;
    filter: progid: DXImageTransform.Microsoft.Blur(PixelRadius=100, MakeShadow=false);
    /* -webkit-filter: blur(100px); */
    -moz-filter: blur(100px);
    -ms-filter: blur(100px);
    /* filter: blur(100px); */
    z-index: 1;
}

.lui_profile_overview_baseInfo_item .lui_profile_overview_num {
    font-style: normal;
    color: #fff;
    font-size: 26px;
    margin-bottom: 12px;
    line-height: 26px;
    display: block;
    font-weight: normal;
}

.lui_profile_overview_baseInfo_item p {
    color: #9da3b4;
    font-size: 12px;
    line-height: 18px;
}

.lui_profile_overview_baseInfo_item dl {
    overflow: hidden;
    text-align: center;
    margin-top: 36px;
    position: relative;
    z-index: 2;
}

.lui_profile_overview_baseInfo_item dd {
    float: left;
    width: 50%;
}

.lui_profile_overview_baseInfo_version.lui_profile_overview_baseInfo_item dd {
    width: 100%;
}

.lui_profile_overview_baseInfo_item .lui_profile_overview_baseInfo_link {
    position: absolute;
    left: 0;
    top: 10px;
    right: 10px;
    text-align: right;
    color: #9da3b4;
    font-size: 12px;
    z-index: 2;
}

.lui_profile_overview_baseInfo_item .lui_profile_arrow {
    position: relative;
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: -3px;
    background: url(../images/icon-overview-arrow.png) no-repeat center;;
    background-size:10px;
}

.lui_profile_overview_baseInfo_item .lui_profile_arrow:before, .lui_profile_overview_baseInfo_item .lui_profile_arrow:after {
    /* content: ""; */
    display: inline-block;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-left-color: #434c61;
    position: absolute;
    left: 6px;
    top: 2px;
}

.lui_profile_overview_baseInfo_item .lui_profile_arrow:before {
}

.lui_profile_overview_baseInfo_item .lui_profile_arrow:after {
    left: 7px;
    border-left-color: #444d62;
}

/* 用户信息 */
.lui_profile_overview_baseInfo_person {
}

.lui_profile_overview_baseInfo_person dd p {
}

/* 集群信息 */
.lui_profile_overview_baseInfo_cluster {
}

.lui_profile_overview_baseInfo_cluster dl dd {
}

/* 版本信息 */
.lui_profile_overview_baseInfo_version {
}

/* ip信息 */
.lui_profile_overview_baseInfo_login {
    text-align: center;
}

.lui_profile_overview_baseInfo_login .lui_ip_address {
    font-size: 18px;
    color: #fff;
    margin-top: 25px;
    margin-bottom: 7px;
    line-height: 16px;
}

.lui_profile_overview_baseInfo_login .lui_ip_address:before {
    content: "";
    display: none;
    width: 8px;
    height: 8px;
    background: #ffbb16;
    border: 1px solid #fffff1;
    border-radius: 50%;
}

.lui_profile_overview_baseInfo_login .lui_date {
    font-size: 14px;
    margin-bottom: 6px;
    line-height: 16px;
}

.lui_profile_overview_baseInfo_login .lui_other_info {
}

/* 系统通知 */
.lui_profile_overview_baseInfo_notify {
    text-align: center;
}

.lui_profile_overview_baseInfo_notify .lui_notify_title {
    font-size: 18px;
    color: #fff;
    margin-top: 30px;
    margin-bottom: 7px;
    line-height: 16px;
}

.lui_profile_overview_baseInfo_notify .lui_notify_title:before {
    content: "";
    display: none;
    width: 8px;
    height: 8px;
    background: #ffbb16;
    border: 1px solid #fffff1;
    border-radius: 50%;
}

.lui_profile_overview_baseInfo_notify .lui_notify_error{
	color:red;
}

/* 列表内容 */
.lui_profile_overview_content {
    padding-top: 40px;
}

.lui_profile_overview_module_list {
    overflow: hidden;
}

.lui_profile_overview_module_item {
    list-style: none;
    width: 49%;
    display: inline-block;
    overflow: hidden;
    margin-bottom: 40px;
    vertical-align: top;
    min-height: 92px;
}

/*  提示新  */
.lui_profile_overview_module_item.newFeature .lui_profile_overview_module_icon:before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #6FD08A;
    border-radius: 50%;
    position: absolute;
    right: -2px;
    top: 5px;
}

.lui_profile_overview_module_icon {
    width: 50px;
    height: 50px;
    float: left;
    border: 1px solid #ececec;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    font-size: 0;
    position: relative;
    background-repeat: no-repeat;
    background-position:center;
}

.lui_profile_overview_module_icon .iconfont_profile {
    font-size: 28px;
}

.lui_profile_overview_module_content {
    margin-left: 80px;
    padding-right: 20px;
}

.lui_profile_overview_module_title {
    font-size: 16px;
    margin-bottom: 10px;
}

.lui_profile_overview_module_subitem {
}

.lui_profile_overview_module_subitem a {
    color: #999;
    font-size: 14px;
    margin-right: 20px;
    margin-bottom: 10px;
    display: inline-block;
}
/* 新属性 */
.lui_profile_overview_module_subitem a.newFeature{
    color:#6FD08A;
}
.lui_profile_overview_module_subitem a.newFeature:after{
    content:"";
    background:url(../images/icon-new.png);
    display: inline-block;
    width: 35px;
    height: 15px;
    vertical-align: middle;
    margin-left: 10px;
}

.lui_profile_overview_module_subitem a:hover {
    color: #4285F4;
}
