@media print {
    #btnDiv,
    #top {
        display: none;
    }
    .nextpage {
        page-break-after: always;
    }
    .tempTB1 {
        width: 100% !important;
        max-width: 100% !important;
        min-width: 100% !important;
    }
    img {
        max-width: 100% !important;
    }
    ul,
    img {
        page-break-inside: avoid;
    }
}
body,
td,
input,
select,
textarea {
    font-size: 14px;
}
.tb_normal > tbody > tr {
    border: 0px solid #d2d2d2;
}
.tb_normal > tbody > tr > td {
    padding: 4px !important;
    word-break: break-word;
    border: 1px #9d8f8f solid;
}
td div.xform_inputText,
td div.xform_Calculation {
    display: inline-block !important;
}
td div.xform_Calculation {
    display: inline-block !important;
    word-break: break-all;
    word-wrap: break-word;
}
.lui_form_content {
    border: 0px;
}
#title {
    font-size: 22px;
    color: #000;
}
.lui_form_path_frame {
    display: none;
}
#lui_validate_message {
    display: none;
}
.upload_list_tr .upload_list_operation {
    display: none;
}
.lui_upload_img_box .upload_opt_td {
    display: none;
}
.upload_list_tr .upload_list_download_count {
    display: none;
}
#btnDiv .lui_toolbar_content {
    max-width: 1000px !important;
}
.xform_auditshow img {
    /* height: 50px; */
}