.previewdesign-root {
	max-width: 980px !important;
}


.previewdesign-root td[data-flag="true"] {
	background-clip: padding-box;
}

.previewdesign-root td[data-flag="true"]:hover,
.previewdesign-root td.active[data-flag="true"] {
	background-color: #D3E1EA;
}

.previewdesign-cell {
	z-index: 1;
	display: inline-block;
	margin-right: 4px;
}

.previewdesign-cell[data-type="detailsTable"],
.previewdesign-cell[data-class-type="xform_auditshow"],
.previewdesign-cell[data-type="brcontrol"] {
	display: block;
}

.previewdesign-cell[data-type="brcontrol"] {
	font-size: 0 !important;
}

.previewdesign-cell:hover,
.previewdesign-cell:active {
	outline: 2px dashed rgb(251, 164, 158);
}

.previewdesign-menu {
	z-index: 95;
	position: absolute;
}

.previewdesign-menu-item {
	background-color: #FFFBF7;
	font-size: 12px;
	height: 20px;
	line-height: 20px;
	padding: 0 8px;
	box-sizing: border-box;
	border: 1px solid #FFFBF7;
	min-width: 156px;
	cursor: pointer;
	user-select: none;
}

.previewdesign-menu-item[data-type="line"] {
	height: 1px;
	background-color: #A5A6A5;
	border: none;
}

.previewdesign-menu-item span {
	float: right;
}

.previewdesign-menu-item:hover {
	background-color: #B5BED6;
    border-color: #08246B;
}

.previewdesign-dialog {
	z-index: 95;
	position: absolute;
	width: 224px;
	border: 1px solid #aaa;
	border-radius: 4px;
    overflow: hidden;
}

.previewdesign-dialog-head table {
	background-color: #ccc;
	width: 100%;	
	height: 24px;
}

.previewdesign-dialog-head span {
	font-size: 12px;
	font-weight: bold;
	padding: 0 8px;
	color: #333;
	user-select: none;
}

.previewdesign-dialog-head td[data-type="action"] {
	text-align: right;
}

.previewdesign-dialog-head td[data-type="action"] span {
	cursor: pointer;
	padding: 4px 8px;
	font-size: 14px;
}

.previewdesign-dialog-head td[data-type="action"] span:hover {
	color: white;
}

.previewdesign-dialog-body {
	background-color: #f7f7f7;
	background-color: rgba(247, 247, 247, 0.95);
}

.previewdesign-dialog-body table {
	width: 100%;	
}

.previewdesign-dialog-body table td {
	padding: 4px;
	border-bottom: 1px solid #ccc;
}

.previewdesign-dialog-body table td * {
	font-size: 12px !important;
}

.previewdesign-dialog-body table label {
	margin-right: 8px;
}

.previewdesign-dialog-action {
	text-align: center;
	padding: 4px;
}

.previewdesign-dialog-action div {
	display: inline-block;
	margin: 4px;
    padding: 0 4px;
    text-align: center;
    width: 28px;
	background-color: #ccc;
	border: 1px solid #aaa;
	line-height: 18px;
	height: 18px;
	color: #666;
	font-size: 12px;
	cursor: pointer;
	user-select: none;
}

.previewdesign-dialog-action div:hover {
	background-color: #aaa;
}

/* 对表单控件进行自定义属性响应 */
.previewdesign-root[data-ready="true"] .previewdesign-cell > *,
.previewdesign-root[data-ready="true"] .previewdesign-cell[data-class-type="xform_auditshow"] > * > * {
	color: inherit !important;
	font-size: inherit !important;
	font-family: inherit !important;
	font-weight: inherit !important;
	font-style: inherit !important;
	text-decoration: inherit !important;
}

.previewdesign-tip {
	text-align: center;
	position: fixed;
    bottom: 48px;
    left: 0;
    right: 0;
}

.previewdesign-tip-main {
	display: inline-block;
    padding: 8px 12px;
    line-height: 16px;
    background: #ebf2fc;
}

.previewdesign-tip-main span {
	vertical-align: middle;
}

.previewdesign-tip-main span[data-type="label"] {
	margin-left: 8px;
	margin-right: 38px;
	color: #666;
	font-size: 14px;
}

.previewdesign-tip-main span[data-type="button"] {
	font-size: 18px;
	color: #666;
	cursor: pointer;
	display: inline-block;
	padding: 0 4px;
}

.ui-wrapper {
	display: inline-block;
}

.lui_upload_img_item {
	text-align: center;
}

.lui_upload_img_item .imgbox {
	overflow: unset !important;
	display: inline-block !important;
}

.lui_upload_img_item .name {
	width: auto !important;
}