html,
body {
    height: 100%;
}

.model-businessNav {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background: #fff;
}

.model-businessNav input::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #999;
}

.model-businessNav input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #999;
}

.model-businessNav input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #999;
}

.model-businessNav input:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #999;
}

.model-businessNav .added:hover .nav_cont {
    display: block;
}

.model-businessNav .nav_cont {
    position: absolute;
    left: 2px;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    -webkit-box-shadow: 0 0 3px 0 rgba(255, 0, 0, 0.1);
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
    background: #fff;
    padding: 10px;
    padding-bottom: 0;
    display: none;
    z-index: 999;
}

.model-businessNav .nav_cont p {
    font-size: 12px;
    color: #666666;
    line-height: 12px;
    margin-bottom: 8px;
    white-space: nowrap;
}

.model-businessNav .nav_cont ul {
    list-style: none;
}

.model-businessNav .nav_cont ul li {
    font-size: 12px;
    color: #333333;
    line-height: 18px;
    margin-bottom: 10px;
    vertical-align: middle;
    max-width: 400px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.model-businessNav .nav_cont:before {
    content: '';
    position: absolute;
    left: 10px;
    top: -5px;
    margin-left: -6px;
    width: 6px;
    height: 6px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    background: #FFFFFF;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    z-index: 999;
}

.model-businessNav .model-businessNav-top {
    float: left;
    width: 100%;
    height: 50px;
    background: #fff;
    font-size: 0;
    position: relative;
}

.model-businessNav .model-businessNav-top .businessNav-top-title {
    display: inline-block;
    height: 50px;
    padding-left: 20px;
    max-width: 400px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.model-businessNav .model-businessNav-top .businessNav-top-title .return {
    font-size: 14px;
    color: #333333;
    line-height: 50px;
    position: relative;
    padding-left: 22px;
    cursor: pointer;
}

.model-businessNav .model-businessNav-top .businessNav-top-title .return:before {
    content: '';
    position: absolute;
    left: 0;
    top: 2px;
    width: 16px;
    height: 16px;
    background: url(../../../../resources/images/nav/arrow@2x.png);
    background-size: 16px;
    margin-right: 6px;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.model-businessNav .model-businessNav-top .base_msg {
    position: absolute;
    height: 50px;
    width: 16px;
    padding-right: 6px;
    margin-left: 6px;
    top: 0;
    /*left: 420px;*/
    background: url(../../../../resources/images/nav/setting-gray@2x.png) no-repeat center;
    background-size: 16px;
    cursor: pointer;
}

.model-businessNav .model-businessNav-top .businessNav-top-title .base_msg:hover {
    background: url(../../../../resources/images/nav/setting-blue@2x.png) no-repeat center;
    background-size: 16px;
}

.model-businessNav .model-businessNav-top .businessNav-top-btn {
    float: right;
}

.model-businessNav .model-businessNav-top .businessNav-top-btn > div {
    width: 90px;
    height: 30px;
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 14px;
    letter-spacing: 0;
    text-align: center;
    line-height: 30px;
    display: inline-block;
    margin-top: 10px;
    cursor: pointer;
}

.model-businessNav .model-businessNav-top .businessNav-top-btn .save {
    background: #4285f4;
    color: #fff;
    margin-right: 20px;
}

.model-businessNav .model-businessNav-top .businessNav-top-btn .go_homePage {
    background: #fff;
    color: #333;
    border: 1px solid #DDDDDD;
    margin-right: 30px;
}

.model-businessNav .model-businessNav-main {
    width: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    overflow: hidden;
}

.model-businessNav .businessNav-main-source {
    width: 496px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: hidden;
}

.model-businessNav .main-source-tabs {
    width: 100%;
    height: 40px;
    background: #F5F5F5;
    -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.03);
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.03);
    font-size: 0;
}

.model-businessNav .main-source-tabs p {
    width: 30%;
    margin: 0;
    font-size: 14px;
    color: #333;
    line-height: 40px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

.model-businessNav .main-source-tabs p span {
    display: inline-block;
    line-height: 38px;
    padding: 0 8px;
    border-bottom: 0px;
}

.model-businessNav .main-source-tabs p:hover {
    color: #4285f4;
}

.model-businessNav .main-source-tabs p.active {
    color: #4285f4;
}

.model-businessNav .main-source-tabs p.active span {
    border-bottom: 2px solid #4285f4;
}

.model-businessNav .main-source-container {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.model-businessNav .main-source-title {
    border-width: 1px 0;
    border-style: solid;
    border-color: #eee;
    height: 60px;
    padding: 4px 20px 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.model-businessNav .main-source-title .title-name {
    display: inline-block;
    cursor: pointer;
    position: relative;
}

.model-businessNav .main-source-title .title-name > span.name-select-list-selected {
    display: block;
    max-width: 204px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.model-businessNav .main-source-title .title-name > span {
    font-size: 16px;
    color: #333333;
    line-height: 56px;
}

.model-businessNav .main-source-title .title-name > span:after {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(../../../../resources/images/nav/arrow@2x.png);
    background-size: 16px;
    margin-left: 6px;
    margin-bottom: -3px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    position: absolute;
    right: -20px;
    top: 20px;
}

.model-businessNav .main-source-title .title-name .name-select {
    position: absolute;
    left: 0;
    top: 45px;
    width: 223px;
    z-index: 2;
    background: #fff;
    border: 1px solid #DDDDDD;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    display: none;
    padding-top: 38px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.model-businessNav .main-source-title .title-name .name-select-search {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 38px;
    border-bottom: 1px solid #eee;
    padding-top: 7px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.model-businessNav .main-source-title .title-name .name-select-search i {
    position: absolute;
    left: 8px;
    top: 7px;
    width: 14px;
    height: 30px;
    vertical-align: middle;
    background: url(../../../../resources/images/nav/search@2x.png) center no-repeat;
    background-size: 14px;
    margin-right: 6px;
}

.model-businessNav .main-source-title .title-name .name-select-search .name-select-search-val {
    width: 100%;
    height: 30px;
    padding-left: 28px;
    padding-right: 8px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 0;
    font-size: 12px;
}

.model-businessNav .main-source-title .title-name .name-select-search input::-webkit-input-placeholder {
    /* WebKit browsers */
    font-size: 12px;
}

.model-businessNav .main-source-title .title-name .name-select-search input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    font-size: 12px;
}

.model-businessNav .main-source-title .title-name .name-select-search input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    font-size: 12px;
}

.model-businessNav .main-source-title .title-name .name-select-search input:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    font-size: 12px;
}

.model-businessNav .main-source-title .title-name .name-select-list {
    min-height: 180px;
    max-height: 272px;
    overflow: auto;
    list-style: none;
}

.model-businessNav .main-source-title .title-name .name-select-list li {
    line-height: 30px;
    width: 100%;
    padding: 0 8px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.model-businessNav .main-source-title .title-name .name-select-list li:hover {
    background: rgba(66, 133, 244, 0.1);
}

.model-businessNav .main-source-title .title-name .name-select-list li.active {
    background: rgba(66, 133, 244, 0.1);
    color: #4285f4;
}

.model-businessNav .main-source-title .title-name:hover span:after {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.model-businessNav .main-source-title .title-name:hover .name-select {
    display: block;
}

.model-businessNav .main-source-title .title-search {
    float: right;
    margin-top: 13px;
    width: 224px;
    height: 30px;
    padding-right: 30px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 2px;
    position: relative;
}

.model-businessNav .main-source-title .title-search-val {
    font-size: 12px;
    color: #333;
    border: 0;
    width: 100%;
    height: 28px;
    padding: 0;
    padding-left: 8px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}

.model-businessNav .main-source-title .title-search-btn {
    position: absolute;
    right: 8px;
    width: 14px;
    height: 28px;
    background: url(../../../../resources/images/nav/search@2x.png) center no-repeat;
    background-size: 14px;
    cursor: pointer;
}

.model-businessNav .main-source-content {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.model-businessNav .source-content-supper {
    width: 166px;
    border-right: 1px solid #eee;
    overflow: auto;
}

.model-businessNav .source-content-supper li {
    font-size: 14px;
    color: #333333;
    width: 100%;
    line-height: 40px;
    padding: 0 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.model-businessNav .source-content-supper li:hover {
    color: #4285f4;
}

.model-businessNav .source-content-supper li.active {
    color: #4285f4;
    background: #ECF2FD;
}

.model-businessNav .source-content-extend {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow: auto;
}

.model-businessNav .source-content-extend .extend-group-title {
    height: 50px;
    padding: 20px 20px 10px 14px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.model-businessNav .source-content-extend .extend-group-title p {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    color: #333333;
    font-weight: bold;
    line-height: 20px;
    cursor: pointer;
}

.model-businessNav .source-content-extend .extend-group-title p:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    background: url(../../../../resources/images/nav/fold@2x.png) center no-repeat;
    background-size: 20px;
    margin-top: -3px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.model-businessNav .source-content-extend .extend-group-list-hide .extend-group-title p:before {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.model-businessNav .source-content-extend .extend-group-title .addAll {
    float: right;
    font-size: 14px;
    color: #4285F4;
    cursor: pointer;
}

.model-businessNav .source-content-extend .extend-group-list-hide .extend-group-list li {
    display: none;
}

.model-businessNav .source-content-extend .extend-group-list li {
    list-style: none;
    padding: 0 20px;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}

.model-businessNav .source-content-extend .extend-group-list li .nav_route {
    position: absolute;
    left: 2px;
    top: 12px;
    width: 16px;
    height: 16px;
    background: url(../../../../resources/images/nav/added@2x.png) center no-repeat;
    background-size: 16px;
    cursor: pointer;
    display: none;
}

.model-businessNav .source-content-extend .extend-group-list li p {
    font-size: 14px;
    color: #333333;
    line-height: 40px;
    width: 100%;
    padding-right: 40px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: default;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.model-businessNav .source-content-extend .extend-group-list li .add {
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 14px;
    color: #4285F4;
    cursor: pointer;
    display: none;
}

.model-businessNav .source-content-extend .extend-group-list li:hover {
    background: #F8F8F8;
}

.model-businessNav .source-content-extend .extend-group-list li:hover .add {
    display: block;
}

.model-businessNav .source-content-extend .extend-group-list li.added .nav_route {
    display: block;
}

.model-businessNav .businessNav-main-opera {
    height: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: #E3E7EB;
    padding: 40px 40px 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.model-businessNav .main-opera-container {
    height: 100%;
    background: #fff;
    border-radius: 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.model-businessNav .main-opera-title {
    height: 60px;
    padding: 0 20px;
    border-bottom: 1px solid #eee;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.model-businessNav .main-opera-title .opera-title-name {
    font-size: 14px;
    line-height: 60px;
    color: #333333;
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
}

.model-businessNav .main-opera-title .opera-title-name:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    background: url(../../../../resources/images/nav/foldAll@2x.png) center no-repeat;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    background-size: 16px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.model-businessNav .main-opera-title .opera-title-name.expend:before {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

.model-businessNav .main-opera-title .opera-title-showSetting {
    float: right;
    position: relative;
}

.model-businessNav .main-opera-title .opera-title-showSetting > p {
    font-size: 14px;
    color: #4285F4;
    line-height: 60px;
    cursor: pointer;
}

.model-businessNav .main-opera-title .opera-title-showSetting > p:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    background: url(../../../../resources/images/nav/setting-blue@2x.png) no-repeat center;
    background-size: 16px;
    margin-right: 4px;
}

.model-businessNav .main-opera-title .opera-title-showSetting .showSetting-select {
    position: absolute;
    right: -10px;
    top: 45px;
    width: 223px;
    z-index: 2;
    background: #fff;
    border: 1px solid #DDDDDD;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    display: none;
    padding-top: 66px;
    padding-bottom: 30px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.model-businessNav .main-opera-title .opera-title-showSetting .showSetting-select-search {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 38px;
    border-bottom: 1px solid #eee;
    padding-top: 7px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.model-businessNav .main-opera-title .opera-title-showSetting .showSetting-select-search i {
    position: absolute;
    left: 8px;
    top: 7px;
    width: 14px;
    height: 30px;
    vertical-align: middle;
    background: url(../../../../resources/images/nav/search@2x.png) center no-repeat;
    background-size: 14px;
    margin-right: 6px;
}

.model-businessNav .main-opera-title .opera-title-showSetting .showSetting-select-search .showSetting-select-search-val {
    width: 100%;
    height: 30px;
    padding-left: 28px;
    padding-right: 8px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 0;
    font-size: 12px;
}

.model-businessNav .main-opera-title .opera-title-showSetting .showSetting-select-search input::-webkit-input-placeholder {
    /* WebKit browsers */
    font-size: 12px;
}

.model-businessNav .main-opera-title .opera-title-showSetting .showSetting-select-search input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    font-size: 12px;
}

.model-businessNav .main-opera-title .opera-title-showSetting .showSetting-select-search input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    font-size: 12px;
}

.model-businessNav .main-opera-title .opera-title-showSetting .showSetting-select-search input:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    font-size: 12px;
}

.model-businessNav .main-opera-title .opera-title-showSetting .showSetting-select-title {
    position: absolute;
    top: 38px;
    left: 8px;
    font-size: 12px;
    color: #999999;
    line-height: 28px;
}

.model-businessNav .main-opera-title .opera-title-showSetting .showSetting-select-list {
    min-height: 180px;
    max-height: 272px;
    overflow: auto;
    list-style: none;
}

.model-businessNav .main-opera-title .opera-title-showSetting .showSetting-select-list li {
    line-height: 30px;
    width: 100%;
    padding-left: 28px;
    padding-right: 8px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
}

.model-businessNav .main-opera-title .opera-title-showSetting .showSetting-select-list li i {
    position: absolute;
    left: 8px;
    top: 8px;
    width: 14px;
    height: 14px;
    background-image: url(../../../../resources/images/nav/normal@2x.png);
    background-size: 14px;
    background-position: center;
    background-repeat: no-repeat;
}

.model-businessNav .main-opera-title .opera-title-showSetting .showSetting-select-list li:hover {
    background: rgba(66, 133, 244, 0.1);
}

.model-businessNav .main-opera-title .opera-title-showSetting .showSetting-select-list li.selected {
    background: rgba(66, 133, 244, 0.1);
    color: #4285f4;
}

.model-businessNav .main-opera-title .opera-title-showSetting .showSetting-select-list li.selected i {
    background-image: url(../../../../resources/images/nav/selected@2x.png);
}

.model-businessNav .main-opera-title .opera-title-showSetting .showSetting-select-list li.unable i {
    background-image: url(../../../../resources/images/nav/normal-unable@2x.png);
}

.model-businessNav .main-opera-title .opera-title-showSetting .showSetting-select-list li.selectedUnable i {
    background-image: url(../../../../resources/images/nav/selected-unable@2x.png);
}

.model-businessNav .main-opera-title .opera-title-showSetting .showSetting-select-all {
    position: absolute;
    bottom: 0;
    height: 30px;
    width: 100%;
    border-top: 1px solid #eee;
    padding-left: 28px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.model-businessNav .main-opera-title .opera-title-showSetting .showSetting-select-all i {
    position: absolute;
    left: 8px;
    top: 8px;
    width: 14px;
    height: 14px;
    background: url(../../../../resources/images/nav/normal@2x.png) center no-repeat;
    background-size: 14px;
}

.model-businessNav .main-opera-title .opera-title-showSetting .showSetting-select-all.active i {
    position: absolute;
    left: 8px;
    top: 8px;
    width: 14px;
    height: 14px;
    background: url(../../../../resources/images/nav/selected@2x.png) center no-repeat;
    background-size: 14px;
}

.model-businessNav .main-opera-title .opera-title-showSetting .showSetting-select-all span {
    font-size: 12px;
    color: #333333;
    line-height: 30px;
}

.model-businessNav .main-opera-title .opera-title-showSetting:hover .showSetting-select {
    display: block;
}

.model-businessNav .main-opera-content {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: auto;
    position: relative;
    min-height: 350px;
}

.model-businessNav .opera-content-main {
    overflow: hidden;
}

.model-businessNav .opera-content-main .firLevel {
    font-size: 0;
    height: 50px;
    padding: 10px 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid transparent;
}

.model-businessNav .opera-content-main .firLevel:hover {
    background: #f8f8f8;
}

.model-businessNav .opera-content-main .firLevel:hover .firLevel-edit {
    display: inline-block;
}

.model-businessNav .opera-content-main .firLevel.active {
    background: #ECF2FD;
}

.model-businessNav .opera-content-main .firLevel.active .firLevel-title input {
    color: #4285f4;
}

.model-businessNav .opera-content-main .firLevel.active:hover {
    background: #ECF2FD;
}

.model-businessNav .opera-content-main .firLevel .stretch-btn {
    display: inline-block;
    font-size: 0;
    width: 16px;
    height: 16px;
    /*margin-right: 12px;*/
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    vertical-align: middle;
}

.model-businessNav .opera-content-main .firLevel.hasChild {
    font-size: 0;
}

.model-businessNav .opera-content-main .firLevel.hasChild .stretch-btn {
    background: url(../../../../resources/images/nav/arrow@2x.png) center no-repeat;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    background-size: 16px;
}

.model-businessNav .opera-content-main .firLevel.hasChild .stretch-btn.stretch {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

.model-businessNav .opera-content-main .valiate-error .firLevel-title{
    border: 1px solid #ff6600;
}
.model-businessNav .opera-content-main .valiate-error .firLevel-title:hover{
    border: 1px solid #ff6600;
}

.model-businessNav .opera-content-main .valiate-error .valiate-error-tips{
    display: inline-block;
}

.model-businessNav .opera-content-main .firLevel-title {
    display: inline-block;
    vertical-align: middle;
    width: 170px;
    height: 30px;
    padding-left: 8px;
    padding-right: 40px;
    border: 1px solid transparent;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: transparent;
    position: relative;
}

.model-businessNav .opera-content-main .firLevel-title input {
    border: 0;
    width: 100%;
    height: 100%;
    font-size: 14px;
    color: #333333;
    font-weight: 550;
    background: transparent;
}

.model-businessNav .opera-content-main .firLevel-title p {
    position: absolute;
    right: 8px;
    top: 0;
    line-height: 30px;
    font-size: 12px;
    color: #C3C3C3;
    cursor: default;
    display: none;
}

.model-businessNav .opera-content-main .firLevel-title:hover {
    border: 1px solid #ddd;
    background: #fff;
}

.model-businessNav .opera-content-main .firLevel-title:hover p {
    display: block;
}

.model-businessNav .opera-content-main .firLevel-title.focus {
    border: 1px solid #4285f4;
    background: #fff;
}

.model-businessNav .opera-content-main .firLevel-title.focus input {
    caret-color: #4285f4;
}

.model-businessNav .opera-content-main .firLevel-title.focus p {
    display: block;
}
.model-businessNav .opera-content-main .valiate-error-tips {
    display: none;
    color: #ff6600;
    vertical-align: middle;
    width: 170px;
    height: 30px;
    line-height: 30px;
    padding-left: 8px;
    padding-right: 40px;
    position: relative;
}

.model-businessNav .opera-content-main .firLevel-edit {
    float: right;
    font-size: 0;
    cursor: pointer;
    display: none;
}

.model-businessNav .opera-content-main .firLevel-edit .edit-link {
    background-image: url(../../../../resources/images/nav/editLink@2x.png);
}

.model-businessNav .opera-content-main .firLevel-edit .edit-link:hover {
    background-image: url(../../../../resources/images/nav/editLink-hover@2x.png);
}

.model-businessNav .opera-content-main .firLevel-edit .edit-del {
    background-image: url(../../../../resources/images/nav/editdel@2x.png);
}

.model-businessNav .opera-content-main .firLevel-edit .edit-del:hover {
    background-image: url(../../../../resources/images/nav/editdel-hover@2x.png);
}

.model-businessNav .opera-content-main .firLevel-edit .edit-drag {
    background-image: url(../../../../resources/images/nav/editDrag@2x.png);
}

.model-businessNav .opera-content-main .firLevel-edit .edit-drag:hover {
    background-image: url(../../../../resources/images/nav/editDrag-hover@2x.png);
}

.model-businessNav .opera-content-main .firLevel-edit > div {
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 16px;
    margin-left: 10px;
}

.model-businessNav .opera-content-main .valiate-error .secLevel-title{
    border: 1px solid #ff6600;
}
.model-businessNav .opera-content-main .valiate-error .secLevel-title:hover{
    border: 1px solid #ff6600;
}

.model-businessNav .opera-content-main .secLevel-item {
    padding: 10px 0 10px 70px;
}

.model-businessNav .opera-content-main .secLevel-item:hover {
    background: #f8f8f8;
}

.model-businessNav .opera-content-main .secLevel-item:hover .secLevel-edit {
    display: inline-block;
}

.model-businessNav .opera-content-main .secLevel-item.active {
    position: relative;
}

.model-businessNav .opera-content-main .secLevel-item.active .secLevel-title i {
    background: url(../../../../resources/images/nav/default@2x.png) no-repeat;
    background-position: center;
    background-size: 16px;
}

.model-businessNav .opera-content-main .secLevel-item.active .secLevel-title input {
    color: #4285f4;
}

.model-businessNav .opera-content-main .secLevel-item.active:hover {
    background: #fff;
}

.model-businessNav .opera-content-main .secLevel-item.active:before {
    content: '';
    position: absolute;
    left: 73px;
    bottom: -2px;
    border-width: 3px 4px;
    border-style: solid;
    border-color: transparent transparent transparent #4285f4;
}

.model-businessNav .opera-content-main .secLevel-item.active:after {
    content: '';
    position: absolute;
    left: 76px;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: #4285f4;
}

.model-businessNav .opera-content-main .secLevel-item.new .secLevel-title i {
    background: url(../../../../resources/images/nav/default@2x.png) no-repeat;
    background-position: center;
    background-size: 16px;
}

.model-businessNav .opera-content-main .secLevel-item.new .secLevel-title input {
    color: #4285f4;
}

.model-businessNav .opera-content-main .secLevel-title {
    display: inline-block;
    vertical-align: middle;
    width: 200px;
    height: 30px;
    border: 1px solid transparent;
    padding-left: 30px;
    padding-right: 40px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: transparent;
    position: relative;
}

.model-businessNav .opera-content-main .secLevel-title i {
    position: absolute;
    left: 0px;
    width: 30px;
    height: 100%;
    background: url(../../../../resources/images/nav/default@2x.png) no-repeat;
    background-position: center;
    background-size: 16px;
}

.model-businessNav .opera-content-main .secLevel-title span {
    position: absolute;
    position: absolute;
    left: 10px;
    top: 4px;
    font-size: 16px;
    cursor: pointer;
}

.model-businessNav .opera-content-main .secLevel-title input {
    border: 0;
    width: 100%;
    height: 100%;
    font-size: 14px;
    color: #333333;
    background: transparent;
}

.model-businessNav .opera-content-main .secLevel-title p {
    position: absolute;
    right: 8px;
    top: 0;
    line-height: 30px;
    font-size: 12px;
    color: #C3C3C3;
    cursor: default;
    display: none;
}

.model-businessNav .opera-content-main .secLevel-title:hover {
    border: 1px solid #ddd;
    background: #fff;
}

.model-businessNav .opera-content-main .secLevel-title:hover p {
    display: block;
}

.model-businessNav .opera-content-main .secLevel-title.active {
    border: 1px solid #4285f4;
    background: #fff;
}

.model-businessNav .opera-content-main .secLevel-title.active input {
    color: #4285f4;
}

.model-businessNav .opera-content-main .secLevel-title.active p {
    display: block;
}

.model-businessNav .opera-content-main .secLevel-edit {
    float: right;
    font-size: 0;
    cursor: pointer;
    margin-right: 20px;
    display: none;
}

.model-businessNav .opera-content-main .secLevel-edit .edit-msg {
    background-image: url(../../../../resources/images/nav/editMsg@2x.png);
    position: relative;
}

.model-businessNav .opera-content-main .secLevel-edit .edit-msg-link {
    background-image: url(../../../../resources/images/nav/edit@2x.png);
    position: relative;
}

.model-businessNav .opera-content-main .secLevel-edit .edit-msg .content_route {
    position: absolute;
    right: -65px;
    top: -65px;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
    background: #fff;
    padding: 10px;
    z-index: 99;
    display: none;
}

.model-businessNav .opera-content-main .secLevel-edit .edit-msg .content_route p {
    font-size: 12px;
    color: #666666;
    line-height: 12px;
    margin-bottom: 8px;
    white-space: nowrap;
}

.model-businessNav .opera-content-main .secLevel-edit .edit-msg .content_route span {
    font-size: 12px;
    color: #4285F4;
    line-height: 12px;
    white-space: nowrap;
}

.model-businessNav .opera-content-main .secLevel-edit .edit-msg:hover {
    background-image: url(../../../../resources/images/nav/editMsg-hover@2x.png);
}

.model-businessNav .opera-content-main .secLevel-edit .edit-msg:hover .content_route {
    display: block;
}

.model-businessNav .opera-content-main .secLevel-edit .edit-msg:hover:before {
    content: '';
    position: absolute;
    top: -7px;
    left: 4px;
    width: 6px;
    height: 6px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    background: #FFFFFF;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    z-index: 999;
}

.model-businessNav .opera-content-main .secLevel-edit .edit-del {
    background-image: url(../../../../resources/images/nav/editdel@2x.png);
}

.model-businessNav .opera-content-main .secLevel-edit .edit-del:hover {
    background-image: url(../../../../resources/images/nav/editdel-hover@2x.png);
}

.model-businessNav .opera-content-main .secLevel-edit .edit-drag {
    background-image: url(../../../../resources/images/nav/editDrag@2x.png);
}

.model-businessNav .opera-content-main .secLevel-edit .edit-drag:hover {
    background-image: url(../../../../resources/images/nav/editDrag-hover@2x.png);
}

.model-businessNav .opera-content-main .secLevel-edit > div {
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 16px;
    margin-left: 10px;
}

.model-businessNav .opera-content-main .addFirLevel {
    font-size: 14px;
    color: #4285F4;
    line-height: 20px;
    margin-top: 20px;
    padding-left: 58px;
    vertical-align: middle;
    cursor: pointer;
}

.model-businessNav .opera-content-main .addFirLevel i {
    display: inline-block;
    font-size: 0;
    width: 12px;
    height: 20px;
    vertical-align: middle;
    background: url(../../../../resources/images/nav/add@2x.png) center no-repeat;
    background-size: 12px;
    margin-right: 10px;
}

.model-businessNav .whitePage {
    width: 250px;
    font-size: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin-top: -30px;
    text-align: center;
}

.model-businessNav .whitePage img {
    width: 200px;
    height: 200px;
}

.model-businessNav .whitePage p {
    font-size: 14px;
    line-height: 12px;
    color: #333333;
    margin-top: 10px;
}

.model-businessNav .whitePage .newNode {
    display: inline-block;
    width: 90px;
    height: 30px;
    background: #4285F4;
    border-radius: 2px;
    margin-top: 20px;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}
.secLevel-list{
  min-height: 20px;
}
.space-not-content {
    top:60px;
    width: 250px;
    font-size: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
.space-not-div{
    position: relative;
}
.space-images{
    width: 100%;
    height: 130px;
    background: url(../../../../space/res/images/not-content.png) no-repeat center;
    background: url(../../../../space/res/images/not-content@2x.png) no-repeat center \9;
    background-position: 50% 50%;
    background-size: contain;
    margin-left: 5px;
}
.space-tips{
    width: 100%;
    font-size: 14px;
    line-height: 12px;
    color: #999;
    margin-top: 16px
}