.feedbackInfoDiv_1{
	display: flex;
	margin:5px auto;
	width: 100%;
	min-height: 40px;
	list-style: none;
	margin-bottom: 10px;
}

.feedbackInfoDiv_1_1{
	min-height: 80px;
	margin-left: 10px;
	width: 40px;
	display: inline-block;

}
.feedbackInfoDiv_1_1_image{
	width: 35px;
	height: 35px;
	border-radius: 50%;
	border: 3px solid #eee;
	overflow: hidden;
}

.feedbackInfoDiv_1_2{
	word-wrap: break-word;
	word-break: break-all;
	overflow: hidden;
	flex:1;


}
.feedbackInfoDiv_1_2_1{

	min-height: 40px;
	margin: 0 10px;
}


.feedbackInfoDiv_1_2_1_1{

	min-height: 20px;
	width: 100%;
	font-family: PingFangSC-Regular;
	font-size: 13px;
	color: #2A304A;
	line-height: 17px;
	margin-bottom: 8px;
}
.feedbackInfoDiv_1_2_1_1_span{
	font-family: PingFangSC-Regular;
	font-size: 13px;
	color: #2A304A;
	line-height: 17px;
	height: 17px;
	font-weight:400;

}
.feedbackInfoDiv_1_2_1_1_span_right{
	min-height: 20px;
	float: right;
	margin-right: 10px;
	color: #9497A4;
}
.feedbackInfoDiv_1_2_1_2{
	min-height: 20px;
	width: 100%;
	font-family: PingFangSC-Regular;
	font-size: 15px;
	color: #2A304A;
	letter-spacing: 0.93px;
	text-align: left;
	margin-bottom: 8px;
}
.feedbackInfoDiv_1_2_1_3{
	letter-spacing: 1.87px;
	min-height: 20px;
	width: 100%;
	font-family: PingFangSC-Regular;
	font-size: 14px;
	color: #9497A4;
	line-height: 19px;
	font-weight:600;
	margin-bottom: 8px;
}
.feedbackInfoDiv_1_2_1_4{
	min-height: 20px;
	width: 100%;
	font-family: PingFangSC-Regular;
	font-size: 13px;
	color: #AAACB7;
	line-height: 17px;
	margin-bottom: 8px;
}
.feedbackInfoDiv_1_2_1_5 {
	margin-bottom: 5px;
	height:  0.1px;
	width: 100%;
	background: #E7E7E7;
}

.clear_line {
	margin-bottom: 5px;
	height:  0.1px;
	width: 100%;
	background: #ffffff;
}



.muiHeader .muiHeaderItem.muiCirculationHeader{
	line-height:4rem;
	color:#2A304A;
	font-size:1.4rem;
	font-weight:bold;
	text-align:left;;
	padding-left:1rem;
}
.muiCirculationList{
	font-size: 1.4rem;
}
.muiCirculationList .muiCirculationImg {
    width: 100%;
    border: 0;
    height: 100%;
    border-radius: 50%;
}
.muiCirculationList .muiCirculationIcon {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    overflow: hidden;
    display: block;
    float: left;
    position: relative;
    z-index: 10;
}
.muiCirculationList .muiCirculationItem {
    padding: .5rem 0 .8rem 0;
    min-height: 2rem;
    list-style: none;
    padding-top: .8rem;
    border-radius: 5px;
    margin-left: 1.5rem;
}
.muiCirculationList .muiCirculationDiv{
	padding: 0.5rem 2rem;
	margin-left: 3.5rem;
}
.muiCirculationList .muiCirculationDiv .muiAuthor{
	color: #2A304A;
}
.muiCirculationList .muiCirculationDiv .muiCreated{
	float: right;
	color: #9497A4;
}
.muiCirculationList .muiCirculationContent{
	padding-bottom: 1rem;
    margin-left: 5.5rem;
    border-bottom: 0.5px solid #E7E7E7;
    margin-right: 2rem;
}
.muiCirculationList .muiCirculationRemark{
	font-size: 1.6rem;
	color: #2A304A;
}
.muiCirculationList .muiCirculationTarget{
	padding-top: 1rem;
	color: #AAACB7;
	display: flex;
}
.muiCirculationList .muiCirculationReply{
	padding-left:1rem;
	color: #AAACB7;
}
.muiCirculationList .muiCirculationTargetTitle{
	overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}
/* 传阅详情 */
.muiNewCirculationView .statusContainer .status {
    height: 90px;
    border-radius: 0.5rem;
    background: #F5F6FB;
}
.muiNewCirculationView .statusContainer .status .status-count {
    line-height: 45px;
}
.muiNewCirculationView .mblView{
	background: #F5F6FB;
}
.muiCirculationOpinionItem{
	border: 1px solid #e7e7e7;
    margin: 2rem 2rem 0rem 2rem;
    border-radius: 0.8rem;
    background: #fff;
}
.muiCirculationOpinionItem:last-child{
    margin-bottom: 2rem;
}
.muiCirculationOpinionItem .muiCirOpTitle{
	height:5rem;
	line-height: 5rem;
	padding: 0 1rem;
}
.muiCirculationOpinionItem .muiCirInfo>div{
	line-height: 5rem;
	padding: 0 1rem;
	padding-left: 2rem;
	color: #9497A4;
	font-size: 1.5rem;
}
.muiCirculationOpinionItem .muiCirInfo .opinion{
	line-height: 2.5rem;
    min-height: 4rem;
}
.muiCirculationOpinionItem .muiCirInfo .circulationOpinion{
	color: #2A304A;
}
.muiCirculationOpinionItem .muiRemindTimes{
	border-top: 1px solid #E7E7E7;
}
.muiCirculationOpinionItem .muiReadTime{
	float: right;
}
.muiCirculationOpinionItem .muiCirOpTitle>span{
	margin-left: 1rem
}
.muiCirculationOpinionItem .muiCirOpTitle .item-status{
	padding: 0.2rem 0.6rem;
    font-size: 12px;
    border: 1px solid #FF943E;
    height: 12px;
    line-height: 12px;
    color: #FF943E;
    border-radius: 0.5rem;
}

.muiCirculationOpinionItem .muiCirOpTitle .item-text{
	float: left;
    max-width: 60%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.muiCirculationOpinionItem .muiCirOpTitle .item-order{
	float: left;
}

.muiCirculationOpinionItem .displayOpt{
	float: right;
}

.muiCirSelect .muiCheckItem {
	display: block;
	font-size: 1.6rem;
	color: #2A304A;
}
.muiCirSelect .oldMui.muiFormEleWrap .muiCheckBoxWrap {
	padding: 0 2rem;
}
.muiCirSelect .muiCheckBlock{
	width: 1.6rem;
    height: 1.6rem;
}
.muiCirSelect .muiCirSelAll{
	display: inline-block;
}
.muiCirSelect .muiTabBarGrid.mblTabBarTabBar .mblTabBarButton{
	float: right;
}
.muiCirSelect .muiTabBarGrid.mblTabBarTabBar .mblTabBarButton .mblTabBarButtonLabel{
	color: #fff;
    background-color: #4285f4;
    margin: 0 0.8rem;
    border-radius: 0.4rem;
    width: 80%;
    height: 3.5rem;
    line-height: 3.5rem;
}
.circulationView .muiSimple>tbody>tr>td,
.circulationView .muiSimple>tr>td {
    padding-right: 11px;
}
.statusContainer {
    margin-right: 15px;
}

.muiCirculation .muiRightTd>div{
	float: right;
}
.muiCirculationReply .muiReplyTitle{
	font-size: 1.6rem;
	color: #2A304A;
	padding: 1rem 0;
}
.muiCirculationReply tr{
	border-bottom: 1px solid #E7E7E7;
}
.muiCirculationReply .nextInfo{
	padding:1rem 0rem;
	font-size: 1.5rem;
}
.muiCirculationReply .nextInfo>span{
	color: #4285F4;
}
.muiCirculationReply .nextInfoTips{
	padding-bottom:1rem;
	font-size: 1.5rem;
	color: #AAACB7;
	border-bottom: 1px solid #E7E7E7;
}


.marginTop10{
	margin-top: 10px;
}

.inlineBlock{
	display: inline-block;
}




.automatically{
	word-wrap: break-word;
	word-break: break-all;
	overflow: hidden;
}
.automatically > div{
	color: #9497A4 !important;
}

.feedbackInfo_docContent textarea{
	  height: 100px;
	  min-height: 100px;
}

.feedback_editNotifyType > .muiReplyTitle,.oldMui {
	display:inline-block;
}
.feedback_editNotifyType > .oldMui  {
	float: right;
}


.feedback_attachment > .muiReplyTitle {
	display:inline-block;
}

.feedback_attachment .muiFormUploadContent > div  {
	margin: 1rem 3rem 2rem 0  !important;
}
#feedbackContent .addBottomTip {
	background: #ffffff !important;
}

.feedbackInfo_docContent > div{
	width: 100%;
}

.feedbackInfo_docContent .muiFormItem{
	padding-right: 0;
}


.feedback_fdNotifyPeople .muiCateFiledShow {
    padding-right: 0rem;
}



div.feedbackInfoDiv_1_2_1_3{
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}
