<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean
		name="/kms/knowledge/kms_knowledge_base_doc/kmsKnowledgeBaseDoc.do"
		class="com.landray.kmss.kms.knowledge.actions.KmsKnowledgeBaseDocAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.kms.knowledge.forms.KmsKnowledgeBaseDocForm" />
		<property name="forwards">
			<map>
				<entry
					key="view"
					value="/kms/knowledge/kms_knowledge_base_doc/kmsKnowledgeBaseDoc_view.jsp" />
				<entry
					key="edit"
					value="/kms/knowledge/kms_knowledge_ui/kmsKnowledge_add.jsp" />
				<entry
					key="list"
					value="/kms/knowledge/kms_knowledge_base_doc/kmsKnowledgeBaseDoc_list.jsp" />
				<entry
					key="editProperty"
					value="/kms/knowledge/kms_knowledge_ui/kmsKnowledge_info_property.jsp" />
				<entry
					key="listChildren"
					value="/kms/knowledge/kms_knowledge_base_doc/kmsKnowledgeBaseDoc_list.jsp" />
				<entry
					key="manageList"
					value="/kms/knowledge/kms_knowledge_base_doc/kmsKnowledgeBaseDoc_list.jsp" />
				<entry
					key="data"
					value="/kms/knowledge/kms_knowledge_base_doc/kmsKnowledgeBaseDoc_data.jsp" />
				<entry
					key="addForPortlet"
					value="/kms/knowledge/kms_knowledge_ui/kmsKnowledge_addForPortlet.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/kms/knowledge/kms_knowledge_base_doc/kmsKnowledgeBaseDocIndex.do"
		class="com.landray.kmss.kms.knowledge.actions.KmsKnowledgeIndexAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.kms.knowledge.forms.KmsKnowledgeBaseDocForm" />
		<property name="forwards">
			<map>
				<entry
					key="listChildren"
					value="/kms/knowledge/kms_knowledge_ui/kmsKnowledge_list.jsp" />
				<entry
					key="listChildren.4pda"
					value="/kms/knowledge/kms_knowledge_ui/kmsKnowledge_list.jsp" />
				<entry
					key="listChildren.4m"
					value="/kms/knowledge/mobile/list.jsp" />
				<entry
					key="selectDataInBorrow"
					value="/kms/knowledge/kms_knowledge_ui/kmsKnowledge_selectDataInBorrow.jsp"/>
				<entry
					key="attList"
					value="/kms/knowledge/kms_knowledge_ui/kmsKnowledge_att_list.jsp" />
				<entry
					key="readLogdata"
					value="/kms/knowledge/readLog/readLog_data.jsp" />
				<entry
					key="readLogdata.4m"
					value="/kms/knowledge/readLog/readLog4m_data.jsp"/>
                <entry
                    key="viewData"
                    value="/kms/knowledge/mobile/viewData.jsp" />
                <entry
                    key="viewData.4m"
                    value="/kms/knowledge/mobile/viewData.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/kms/knowledge/kms_knowledge_category/kmsKnowledgeCategory.do"
		class="com.landray.kmss.kms.knowledge.actions.KmsKnowledgeCategoryAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.kms.knowledge.forms.KmsKnowledgeCategoryForm" />
		<property name="forwards">
			<map>
				<entry
					key="view"
					value="/kms/knowledge/kms_knowledge_category/kmsKnowledgeCategory_view.jsp" />
				<entry
					key="edit"
					value="/kms/knowledge/kms_knowledge_category/kmsKnowledgeCategory_edit.jsp" />
				<entry
					key="list"
					value="/kms/knowledge/kms_knowledge_category/kmsKnowledgeCategory_list.jsp" />
				<entry
					key="data"
					value="/kms/knowledge/kms_knowledge_category/kmsKnowledgeCategory_data.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/kms/knowledge/kms_knowledge_wiki_template/kmsKnowledgeWikiTemplate.do"
		class="com.landray.kmss.kms.knowledge.actions.KmsKnowledgeWikiTemplateAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.kms.knowledge.forms.KmsKnowledgeWikiTemplateForm" />
		<property name="forwards">
			<map>
				<entry
					key="view"
					value="/kms/knowledge/kms_knowledge_wiki_template/kmsKnowledgeWikiTemplate_view.jsp" />
				<entry
					key="edit"
					value="/kms/knowledge/kms_knowledge_wiki_template/kmsKnowledgeWikiTemplate_edit.jsp" />
				<entry
					key="list"
					value="/kms/knowledge/kms_knowledge_wiki_template/kmsKnowledgeWikiTemplate_list.jsp" />
				<entry
					key="data"
					value="/kms/knowledge/kms_knowledge_wiki_template/kmsKnowledgeWikiTemplate_data.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/kms/knowledge/kms_knowledge_doc_template/kmsKnowledgeDocTemplate.do"
		class="com.landray.kmss.kms.knowledge.actions.KmsKnowledgeDocTemplateAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.kms.knowledge.forms.KmsKnowledgeDocTemplateForm" />
		<property name="forwards">
			<map>
				<entry
					key="view"
					value="/kms/knowledge/kms_knowledge_doc_template/kmsKnowledgeDocTemplate_view.jsp" />
				<entry
					key="edit"
					value="/kms/knowledge/kms_knowledge_doc_template/kmsKnowledgeDocTemplate_edit.jsp" />
				<entry
					key="list"
					value="/kms/knowledge/kms_knowledge_doc_template/kmsKnowledgeDocTemplate_list.jsp" />
				<entry
					key="data"
					value="/kms/knowledge/kms_knowledge_doc_template/kmsKnowledgeDocTemplate_data.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/kms/knowledge/kms_knowledge_portlet/kmsKnowledgePortlet.do"
		class="com.landray.kmss.kms.knowledge.actions.KmsKnowledgePortletAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property name="forwards">
			<map>
				<entry
					key="info"
					value="/kms/knowledge/kms_knowledge_portlet_ui/kms_knowledge_portlet_doc_info.jsp" />
				<entry
					key="total"
					value="/kms/knowledge/kms_knowledge_portlet_ui/kms_knowledge_portlet_doc_total.jsp" />
                <entry
                    key="indexMy"
                    value="/kms/knowledge/kms_knowledge_portlet_ui/index/index_my.jsp" />
                <entry
                    key="catRank"
                    value="/kms/knowledge/kms_knowledge_portlet_ui/index/cat_rank.jsp" />
                <entry
                    key="catRankPieInfo"
                    value="/kms/knowledge/kms_knowledge_portlet_ui/index/cat_rank_pieInfo.jsp" />
                <entry
                    key="catRankPieInfoEmpty"
                    value="/kms/knowledge/kms_knowledge_portlet_ui/index/cat_rank_pieInfo_empty.jsp" />
                <entry
                    key="indexCount"
                    value="/kms/knowledge/kms_knowledge_portlet_ui/index/index_count.jsp" />
                <entry
                    key="indexCountPieInfo"
                    value="/kms/knowledge/kms_knowledge_portlet_ui/index/index_count_pieInfo.jsp" />
                <entry
                    key="indexCountPieInfoEmpty"
                    value="/kms/knowledge/kms_knowledge_portlet_ui/index/index_count_pieInfo_empty.jsp" />
				<entry
					key="listChildren"
					value="/kms/knowledge/kms_knowledge_portlet_ui/kmsKnowledge_portlet_list.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/kms/knowledge/kms_knowledge_portlet/kmsKnowledgeCategoryPortlet.do"
		class="com.landray.kmss.kms.knowledge.actions.KmsKnowledgeCategoryPortletAction"
		lazy-init="true"
		parent="KmssBaseAction">
	</bean>
	<bean
		name="/kms/knowledge/kms_knowledge_multiple_upload/kmsMultipleUploadMain.do"
		class="com.landray.kmss.kms.knowledge.actions.KmsMultipleUploadMainAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.kms.knowledge.forms.KmsMultipleUploadMainForm" />
		<property name="forwards">
			<map>
				<entry
					key="att_edit"
					value="/kms/knowledge/kms_knowledge_multiple_upload/kms_multiple_upload_main.jsp" />
				<entry
					key="upload_edit"
					value="/kms/knowledge/kms_knowledge_multiple_upload/kms_multiple_kmtopic_main.jsp" />
				<entry
					key="kmsLearn_upload"
					value="/kms/knowledge/kms_knowledge_multiple_upload/kms_multiple_learn_main.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/kms/knowledge/kms_knowledge_multiple_upload/kmsMultipleUploadEditDoc.do"
		class="com.landray.kmss.kms.knowledge.actions.KmsMultipleUploadEditDocAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.kms.knowledge.forms.KmsMultipleUploadEditDocForm" />
		<property name="forwards">
			<map>
				<entry
					key="doc_edit"
					value="/kms/knowledge/kms_knowledge_multiple_upload/kms_multiple_upload_doc_edit.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/kms/knowledge/criteria/kmsKnowledgeCategoryCriteria.do"
		class="com.landray.kmss.kms.knowledge.actions.KmsKnowledgeCategoryCriteriaAction"
		lazy-init="true"
		parent="KmssBaseAction">
	</bean>
	<bean
		name="/kms/knowledge/kms_knowledge_filter_config/kmsKnowledgeFilterConfig.do"
		class="com.landray.kmss.kms.knowledge.actions.KmsKnowledgeFilterConfigAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.appconfig.forms.SysAppConfigForm" />
	</bean>
	
	<bean id="kmsKnowledgePortletController"
        class="com.landray.kmss.kms.knowledge.actions.KmsKnowledgePortletController">
    </bean>
    
    <bean
		name="/kms/knowledge/transport/sys_transport_import/SysTransportImport.do"
		class="com.landray.kmss.sys.transport.actions.SysTransportImportAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property
			name="formType"
			value="com.landray.kmss.sys.transport.form.SysTransportImportForm" />
		<property name="forwards">
			<map>
				<entry
					key="edit"
					value="/kms/knowledge/transport/sys_transport_import/SysTransportImport_edit.jsp" />
				<entry
					key="view"
					value="/kms/knowledge/transport/sys_transport_import/SysTransportImport_view.jsp" />
			</map>
		</property>
	</bean>
	<bean
		name="/kms/knowledge/kms_knowledge_compare/kmsKnowledgeCompare.do"
		class="com.landray.kmss.kms.knowledge.actions.KmsKnowledgeCompareAction"
		parent="KmssBaseAction"
		lazy-init="true">
		<property name="formType" value="com.landray.kmss.kms.knowledge.forms.KmsKnowledgeBaseDocForm"/>
		<property  name="forwards">
			<map>
				<entry key="listAllVersionData" value="/kms/knowledge/kms_knowledge_compare/kmsKnowledgenCompare_data.jsp"/>
			</map>
		</property>
	</bean>
	<bean
		name="/kms/knowledge/kms_knowledge_compare/kmsKnowledgeCompareConfig.do"
		class="com.landray.kmss.kms.knowledge.actions.KmsKnowledgeCompareConfigAction"
		parent="KmssBaseAction"
		lazy-init="true">
		<property name="formType" value="com.landray.kmss.sys.appconfig.forms.SysAppConfigForm"/>
	</bean>
	<!-- 文件存储-文件批量导入 Starts	-->
	<bean
			name="/kms/knowledge/kms_knowledge_file_store_config/kmsKnowledgeFileStoreConfig.do"
			class="com.landray.kmss.kms.knowledge.actions.KmsKnowledgeFileStoreConfigAction"
			lazy-init="true"
			parent="KmssBaseAction">
		<property
				name="formType"
				value="com.landray.kmss.sys.appconfig.forms.SysAppConfigForm" />
	</bean>
	<bean
			name="/kms/knowledge/kms_knowledge_file_store/kmsKnowledgeFileStoreImportExport.do"
			class="com.landray.kmss.kms.knowledge.actions.KmsKnowledgeFileStoreImportExportAction"
			lazy-init="true"
			parent="KmssBaseAction">
		<property
				name="formType"
				value="com.landray.kmss.sys.transport.form.SysTransportImportUploadForm" />
		<property name="forwards">
			<map>
				<entry
						key="upload"
						value="/kms/knowledge/kms_knowledge_file_store/KmsKnowledgeFileStoreImport_upload.jsp" />
				<entry
						key="uploadResult"
						value="/kms/knowledge/kms_knowledge_file_store/KmsKnowledgeFileStoreImport_upload_result.jsp" />
			</map>
		</property>
	</bean>
	<bean
			class="com.landray.kmss.kms.knowledge.actions.KmsKnowledgeFsRecordAction"
			parent="KmssBaseAction"
			name="/kms/knowledge/kms_knowledge_fs_record/kmsKnowledgeFsRecord.do"
			lazy-init="true">
		<property
				name="formType"
				value="com.landray.kmss.kms.knowledge.forms.KmsKnowledgeFsRecordForm"/>
		<property
				name="forwards">
			<map>
				<entry
						key="data"
						value="/kms/knowledge/kms_knowledge_fs_record/kmsKnowledgeFsRecord_data.jsp"/>
				<entry
						key="view"
						value="/kms/knowledge/kms_knowledge_fs_record/kmsKnowledgeFsRecord_view.jsp"/>
			</map>
		</property>
	</bean>
	<bean
			class="com.landray.kmss.kms.knowledge.actions.KmsKnowledgeFsReDetailAction"
			parent="KmssBaseAction"
			name="/kms/knowledge/kms_knowledge_fs_re_detail/kmsKnowledgeFsReDetail.do"
			lazy-init="true">
		<property
				name="formType"
				value="com.landray.kmss.kms.knowledge.forms.KmsKnowledgeFsReDetailForm"/>
		<property
				name="forwards">
			<map>
				<entry
						key="data"
						value="/kms/knowledge/kms_knowledge_fs_re_detail/kmsKnowledgeFsReDetail_data.jsp"/>
			</map>
		</property>
	</bean>
	<!-- 文件存储-文件批量导入 Ends	-->
</beans>